[2016-07-05 12:42] gfrSE opened #814 "Host the Demo-App"
#### Bug, feature request, or proposal:

Would be great if you host the demo-app anywhere and link it in the readme.md

#### What is the expected behavior?

Online hosted demo-app.

#### What is the current behavior?

No demo-app. :)

[2016-07-05 15:14] maciejsobala opened #815 "md-input unable to bind asynchronous data in Safari"
#### Bug, feature request, or proposal:

I got following code. Template:

[code]

controller:

[code]

My service works asynchronously (connecting with socket and retrieving data from remote)
#### What is the expected behavior?

When my objects are injected to component, I expect them to be displayed on view.
#### What is the current behavior?

Got following exception:
Exception: Error in http://l

[2016-07-05 16:15] zigzag95 opened #816 "New Form suggestions"
#### Proposal:

When showing the first time a FormGroup, error messages should not be displayed. They only should be displayed once we type something or delete something in md-input or other md components.

![image](https://cloud.githubusercontent.com/assets/7827225/16591457/5a8767f0-42dc-11e6-8b57-bb0240c6f3b9.png)

**test.ts**
[code]

**test.html**
[code]

**test.scss**

[code]

Actually, i'm ru

[2016-07-05 16:33] zigzag95 opened #817 "md-select, md-datepicker, md-snackbar, md-searchbox, md-autocomplete"
@kara @jelbourn
Are you ready for these PRs or I must wait for beta?
I almost finished, specs and testing need 2 week-ends.

[2016-07-05 16:45] Neo11 commented on #815
A temporary workaround is to activate the production mode. This will disable the change check.

Or maybe you can use the async pipe with an observable?

[2016-07-05 17:40] ReneVallecillo commented on #812
@mmrath I guess they are related at some level. But I checked your plnkr and I didn't see the infinite loop.

The on change on focus will be welcome, since in theory will allow me to keep two controls binded to one data source. As of right now, since both react on change, they just keep calling each others change. Or so it seems.

[2016-07-05 17:42] maciejsobala commented on #815
@Neo11

Exception dissapeared, but my inputs, are still empty :)

[2016-07-05 17:52] NCC1701M commented on #661
In my opinion @hacknaked is right. It don't look very harmonic if the action position is not the same on each card in one row.

[2016-07-05 17:54] drager opened #818 "Site with documentation and preview of the components"
Hi,

I have created a repository that is a Angular 2 application that displays the documentation of Angular 2 Material simply because there was no site present of that kind. The documentation is just the `README.md` files found in each component found [here](https://github.com/angular/material2/tree/master/src/components) as well as the `core` folders documentation. I have just generated HTML file

[2016-07-05 18:12] eserlan commented on #818
+1

[2016-07-05 18:31] Neo11 commented on #815
Maybe this works:
[code]
In your controller import the async pipe und save the Observable, don't subscribe it.

[2016-07-05 22:55] ReneVallecillo commented on #812
#582

[2016-07-05 23:39] Zyzle opened #819 "md-fab color only applied to `<button>`s"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
As per the docs, when using `md-fab` with `<a>` tags it should be possible to set the colour as one of `accent`, `primary`, `warn`

#### What is the current behavior?
This `color` value only appears to be picked up when the directive is used with `<button>` tags not `<a>`s

#### What are the steps to reproduce?

http:

[2016-07-06 01:43] kara commented on #819
Hey there, it looks like you've only included `MdButton` in your directives array and not `MdAnchor`.  There are actually two directives, one for the `<button>` tag and one for the `<a>` tag.

http://plnkr.co/edit/9IEwD4ZyGPrdIl3a01m7?p=preview

We typically suggest using the aggregate `MD_BUTTON_DIRECTIVES` array rather than the individual symbols to make this easier to remember.  That said, we s

[2016-07-06 01:43] #819 closed

[2016-07-06 03:54] mlynam commented on #816
try

`[hidden]="myForm.controls['first'].valid || myForm.controls['first'].pristine"`

[2016-07-06 04:52] DzmitryShylovich commented on #814
https://material2-app.firebaseapp.com/

[2016-07-06 06:51] gfrSE commented on #814
@DzmitryShylovich thanks, saw this page too some time before.

But would be nice to host this official demo-app anywhere:
https://github.com/angular/material2/blob/master/src/demo-app/demo-app/demo-app.html

and keep it up to date.

[2016-07-06 07:27] maku commented on #814
Would be really great to have the demo-app available online...

[2016-07-06 07:43] bek0s commented on #814
How about this?
https://material2-test.firebaseapp.com/
Looks very up-to-date (includes lists, button-toggle, etc)

[2016-07-06 07:46] Zyzle commented on #819
Ah that makes sense. Didn't realise there was another directive for anchors. Thanks @kara

[2016-07-06 09:25] Zyzle commented on #819
Actually having thought about this a little more would it be possible to have a single `MdButton` directive that applies to both anchors and buttons? Either that or prevent it from applying any styling to anchors. I think there's a lot of room for confusion here as you can see in the plunk it sort of works.

[2016-07-06 09:47] Ermans commented on #818
+1
You can also add these links: https://github.com/angular/material2/wiki/Design-doc-directory

[2016-07-06 11:25] RoxKilly commented on #795
I observe the same thing with input hints. I'm using Angular RC4, Material Alpha 6, on Firefox 48 Beta.
![4](https://cloud.githubusercontent.com/assets/12346501/16616356/a713aa8e-434a-11e6-8453-d9af06927eed.png)
I can also confirm that removing `overflow:hidden` rule from `<md-input>` resolves the issue

[2016-07-06 13:25] gfrSE commented on #814
https://material2-test.firebaseapp.com/
Looks very up-to-date (includes lists, button-toggle, etc)

That's it.
Found this file here: https://github.com/angular/material2/blob/master/firebase.json
Which contains this property:
[code]

Seems like its the correct firebase-app.

Thanks @bek0s !

[2016-07-06 13:25] #814 closed

[2016-07-06 14:35] jonathan-casarrubias commented on #818
Really nice!

[2016-07-06 15:37] jelbourn commented on #817
@zigzag95 Are you saying you've been working on these components? We already have people working on some of these. Please read our [contributor guidelines](https://github.com/angular/material2/blob/master/CONTRIBUTING.md#-want-a-feature) and follow the process there if you want to contribute something like a new component.

[2016-07-06 15:37] #817 closed

[2016-07-06 15:49] gelidus commented on #661
Is there any temp fix for this guys?

[2016-07-06 16:06] tylerjgarland commented on #817
@jakemac53, do you know where these components are being tracked? I was following this issue for updates. Thanks!

[2016-07-06 16:08] tylerjgarland commented on #817
@jelbourn, Accidentally linked someone else's username in the initial post. Commenting again to make sure you get the notification.

[2016-07-06 16:20] zigzag95 commented on #817
I just ported material ui from react

[2016-07-06 16:44] jelbourn commented on #817
md-select #118
md-autocomplete #117
toast / snackbar #115

Not sure what you mean by searchbox.

[2016-07-06 16:50] msegers commented on #795
Same here, I just currently slapped a md-input { overflow: visible !important; } in my css.

[2016-07-06 17:10] Mc-Mido opened #821 "IE11 inputs issues"
#### Bug, feature request, or proposal:

Bug on IE11 with input and type date, md-hint position
#### What is the expected behavior?
- md-hint is display on the bottom-left
- input with type=date => no error
#### What is the current behavior?
- md-hint is display on the bottom-right
- input with type=date => invalid argument error
#### What are the steps to reproduce?

http://embed.plnkr.co/fKxENX/

[2016-07-06 17:22] maciejsobala commented on #815
1. Still same error under Safari.

2. Could you tell me, what is the difference (pros/cons) of using | async pipe, vs subscribing to observable/subject? Apart of no 1.

[2016-07-06 19:02] jelbourn commented on #818
@drager Thanks for making this! We have people working on our docs site for https://material.angular.io, but this is a nice site for people to look at in the interim.

[2016-07-06 19:02] #818 closed

[2016-07-06 19:06] jelbourn commented on #812
@ReneVallecillo What version of angular material were you using?

[2016-07-06 19:07] jelbourn opened #823 "Virtual scrolling helpers / utilities."
Similar to the `md-virtual-repeat` in Angular Material 1.

[2016-07-06 19:08] jelbourn commented on #804
Tracking virtual scrolling via #823

[2016-07-06 19:08] #804 closed

[2016-07-06 19:10] jelbourn commented on #800
@peterwiebe there's a bit too much going on in this issue; it makes it impossible to respond to individual requests / bugs. It sounds like you have a mix of bugs and feature requests here. Can you file them as separate issues?

[2016-07-06 19:10] #800 closed

[2016-07-06 19:27] maciejsobala commented on #118
Both blockers closed. Can we expect md-select soon?

[2016-07-06 19:48] peterwiebe opened #824 "md-input - type=number disable stepper buttons"
#### feature request:

Have the ability to disable the number stepper buttons.

#### What is the expected behavior?

Adding a CSS style or an attribute to change the appearance of the number input should disable stepper buttons on the input element (due to User Agent Stylesheet).

#### What is the current behavior?

The stepper buttons always show for input type="number"

#### What are the steps t

[2016-07-06 19:56] drager commented on #818
@Ermans: Will do that! Great idea.

@jelbourn: Ah alright, then I will continue to work on it and fix things until the official site is ready. Please let me know if you are in the need of any help at all for that site. Thanks

[2016-07-06 21:56] ReneVallecillo commented on #812
@jelbourn The infinite loop shows on the plunker, which is using the suggested template. On my repo, I'm using version **alpha6** something different but related may be happening.

What is happening in my repo is, since I have two components bound to a single data source, the change is triggering in both components and that seems to trigger @ #575 as:

1. Checkbox component 1 is checked, change ev

[2016-07-06 21:59] Neo11 commented on #815
1. Then I have no more Ideas.

2. I think the code ist cleaner and the Observable gets only subscribed if the element gets rendered.

[2016-07-06 23:25] kara commented on #119
https://docs.google.com/document/d/1cSUrY2WAqSN8ePldLLqrEVkk2BkYbPB2fysC6brvj4Q/preview

[2016-07-07 06:06] msegers commented on #824
Heya, You know this is not going to happen right?
The steppers you see are native number steppers, so the way html5 works.

What I suggest you do in this case is making it a normal text input and adding a regex pattern to allow only number (You could turn this into a directive). <md-input pattern="^[0-9]*$"></md-input>

Changing the style should obviously be an option, but wouldn't it be easier to

[2016-07-07 07:43] maciejsobala commented on #815
@Neo11
1. Thanks for your help :)
2. Thanks for info

One more information:
I have tried to run my code on mobile safari - works (I guess, because I don't have access to console) - everything loads as in Desktop Chrome for example. I haven't used real iPhone/iPad - I launched site via emulator.

[2016-07-07 21:34] #549 closed

[2016-07-08 07:34] ladyleet opened #829 "md-radio breaks all the styling in my app"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-radio should render and styles are not broken

#### What is the current behavior?
breaks all the styling and outputs error to console

#### What are the steps to reproduce?
download this repo https://github.com/ladyleet/ng-tattoo-demo/tree/96bc0c5c127d45d74531682a2b8d49b35bcf4e06

this is the html that is breaking

[2016-07-08 09:35] reinos opened #830 "FAB Speed Dial"
Any ETA on the speed dial from material 1.x https://material.angularjs.org/latest/demo/fabSpeedDial

[2016-07-08 11:15] Neo11 commented on #829
As the thrown error shows, the Selection Provider is missing

[code]

[2016-07-08 13:02] Bifros7 commented on #795
I'm experiencing the issue with hidden hint labels aswell.

[2016-07-08 13:09] maciejsobala opened #831 "md-radio problem with initializing value from ngModel in ngFor"
#### Bug, feature request, or proposal:

I have problem with initialize radio button selected value, from radio-group
#### What is the expected behavior?

When I provide [(ngModel)] to radio-group inside ngFor, proper radio-button should be selected (depending on ngModel value)
#### What is the current behavior?

Nothing is selected
#### What are the steps to reproduce?

Code to reproduce:

[code]

[2016-07-08 14:08] thelgevold opened #832 "Can't offline compile components with reference to material components"
#### Bug:
From what I can tell, it's not possible to offline compile my components if there are references to MD components.

I have the following CLI generated component:
[code]
In my sample component I am importing and registering MdButton, but when running ``` ./node_modules/.bin/ngc -p ./src ``` I get the error:

[code]

#### What is the expected behavior?
I would expect offline compilation to

[2016-07-08 14:32] maciejsobala commented on #831
Workaround:

To make proper radio selected add something like:

`[checked]="item.type==type"`

[code]

[2016-07-08 15:06] theunreal opened #833 "Sidenav height is cut to the content height"
Sidenav height and content height is always equals, Although the min-height was set to 90%.

[code]

Tried to set min-height:90% to any div and it still cut.

Strange thing I used it and it worked fine before I moved my project to angular-cli.
I'm using the latest angular2-material and angular.

[2016-07-08 15:49] kara opened #834 "Add radio button provider to documentation"
https://github.com/angular/material2/tree/master/src/components/radio

README doesn't mention that you need MdUniqueSelection Dispatcher.

[2016-07-08 15:52] kara commented on #829
Yep, as @Neo11 mentions, it won't work without that provider.  Looks like it escaped the documentation, so added an issue for to update it:

https://github.com/angular/material2/issues/834

Try adding the provider, and if you're still having issues, please feel free to re-open.

[2016-07-08 15:52] #829 closed

[2016-07-08 16:41] jelbourn commented on #832
See #774

[2016-07-08 16:41] #832 closed

[2016-07-08 16:42] jelbourn commented on #832
We're actively working on this now

[2016-07-08 16:43] thelgevold commented on #832
Ok, perfect!

[2016-07-08 20:42] maciejsobala commented on #833
Try "fullscreen" attribute :)

[2016-07-08 21:54] cleever commented on #833
Yep,

Although the docs don't mention the 'fullscreen' mode:
https://github.com/angular/material2/tree/master/src/components/sidenav

It exists since 2.0.0-alpha.4:
https://github.com/angular/material2/blob/7635e72053b1676f38e07a1d548f59c877bb47a8/CHANGELOG.md

As you can see in the demo app:
https://github.com/angular/material2/blob/master/src/demo-app/demo-app/demo-app.html

[2016-07-09 07:00] #833 closed

[2016-07-09 10:00] ladyleet commented on #829
@kara @neo11 thanks you two!

[2016-07-09 15:26] ladyleet commented on #829
@kara @neo11 can you be more specific on how to add this? i've tried to import MdUniqueSelectionDispatcher from '@angular/core'; and '@angular2-material/radio'; but it still doesn't seem to work.

[2016-07-09 22:12] pramttl opened #836 "md-input not playing along well with @angular/forms 0.2.0"
#### Bug

When I use md-input as a control field within a form:

      <md-input name="hero" [(ngModel)]="hero.name"
      placeholder="Superman" required>
      </md-input>

This gives a JS console errror:  `Error: Uncaught (in promise): No value accessor for 'hero'`

However using, `<input>` instead of `<md-input>` does not cause the problem and the form works smoothly.

#### To reproduce the er

[2016-07-09 23:34] mrusful commented on #802
Looks like #703 change behavior.
`scroll` event fires by `md-content`.

As a workaround, i think, you can wrap all what not in `md-sidenav` into `div` and listen `scroll` event on it.

    <div (scroll)="handleScroll($event.target)" style="height: 100%; overflow: auto;">
        <md-toolbar style="background-color: #2db1eb; color: white">
            ...
        </md-toolbar>
        <router-outle

[2016-07-10 01:02] divyakumarjain opened #837 "ReferenceError: window is not defined at now in progress-circle.js"
#### Bug

#### What is the expected behavior?
md-spinner should render on server side when *shellRender is used.

#### What is the current behavior?
[code]

[2016-07-10 08:40] georgi-kovachev commented on #806
hi Kara.
It seems like when I use <md-content> it doesn't load predefined css files because css is not included in @angular2-material.
In this case how can I use existing styles like md-content?

[2016-07-10 21:02] odyright commented on #508
hello, is ther a complete version now?

[2016-07-10 21:39] pgurenko commented on #829
The import should be import { MdUniqueSelectionDispatcher } from '@angular2-material/core/coordination/unique-selection-dispatcher';

[2016-07-10 21:41] kara commented on #829
As long as your system config is set up correctly, you should be able to import it directly from `@angular/core`.  Is that not working for you?

[2016-07-10 21:55] pgurenko commented on #829
You're right, @kara: import { MdUniqueSelectionDispatcher } from '@angular2-material/core';

[2016-07-10 22:06] kara commented on #829
@ladyleet  Are you importing from `@angular/core` rather than `@angular2-material/core`?

[2016-07-10 22:27] pgurenko commented on #834
I would like to fix this to get familiar with the contribution process but have not found the similar examples in the docs or guide on where to put such dependency information.
My best guess is in the "Notes":
* Requires MdUniqueSelectionDispatcher as a provider from @angular2-material/core.
What do you think?

[2016-07-10 22:30] kara commented on #834
@pgurenko Thanks for taking this on!   I think the best place would actually be on top, before the examples (to make sure it's seen). Add a section for "Setup" and show how you'd import the symbols, add the provider to providers, and add the directives to directives.

[2016-07-10 22:55] pgurenko commented on #834
Something like that?

### Setup
Importing the symbols:
[code]

Adding providers and directives:
[code]

[2016-07-10 22:59] kara commented on #834
Yeah, that looks great.  Only nitpick would be to add ellipses so it's clear the selector, template, etc are missing.

[code]

[2016-07-10 23:32] #834 closed

[2016-07-11 02:40] jasonwzhu opened #840 "side menu cannot close after clicking on Button Toggle"
#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
The sidenav menu should disappear as clicking on any other items.

#### What is the current behavior?
I downloaded the latest repository, started the server.  If clicking on Button Toggle, the sidenav menu won't disappear, by clicking Close or anywhere outside of sidenav area.  Only this item has the problem.
I use L

[2016-07-11 14:22] najor opened #841 "md-input doesn't pass through `pattern` attribute"
Hi,

Input tag has several validators (<code>required, minlength, maxlength, pattern</code>). It seems that <code>pattern</code> validator is not implemented or not working.

I am working with version 2.0.0-alpha.6

How is handle custom validators?

Thanks

[2016-07-11 15:54] ksnolan opened #842 "sidenav doesn't show up"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When you use sidenav tag by default is should appear on the left side of the screen.

#### What is the current behavior?
Sidenav shows up across the screen above or under the toolbar (if a toolbar exists)

#### What are the steps to reproduce?

- Install @angular2-material/sidenav from npm (version 2.0.0-alpha.6)
- Ty

[2016-07-11 21:19] ImAllInNow commented on #575
I also have this issue where I'm getting an erroneous (changed) event to fire when the [ngModel] causes the checkbox to change from checked to unchecked. This behavior does not happen for md-input.

[2016-07-11 21:46] #560 closed

[2016-07-11 22:48] frankcalise commented on #836
I believe I have this working, could you point to a repository so I could maybe try and help?

[2016-07-11 23:00] j3ddesign commented on #842
I did some testing with your example html above and had no issue with the sidenav not showing, however did encounter an issue with focusing the close button on the (open) event

Plunker here: http://plnkr.co/edit/WvZtsQsdBWwUhgK03QXp?p=preview

[2016-07-11 23:19] ksnolan commented on #842
I am going to retest it. I wonder what I did wrong. In my app it just shows
like a list without a container. Thanks. I'll get back to you after as soon
as I have retested it.

On 11 July 2016 at 16:00, Jed <notifications@github.com> wrote:

[2016-07-11 23:45] ksnolan commented on #842
I figured it out! I imported MdSidenav from
@angular2-material/sidenav instead of
MD_SIDENAV_DIRECTIVES from @angular2-material/sidenav/sidenav. Thanks!

On 11 July 2016 at 16:19, Kartikawati Stephanus-Nolan <
k.stephanus.nolan@gmail.com> wrote:

[2016-07-11 23:45] #842 closed

[2016-07-12 05:08] pramttl commented on #836
@frankcalise
Here is a plunkr link with the error: http://plnkr.co/edit/YGQdQTydLpY8kgHX7vKs?p=preview
The error appears in the javascript console.

[2016-07-12 06:41] Muthu2020 opened #844 "md-input two way data binding is not working."
I have used the following tag in html.

[code]

I have added following code in typescript within the constructor.
this.orgSettings['name'] ='test';

Versions used
angular2-2.0.0rc4
@angular/forms - 0.2.0
material2-alpha6

Can you please guide me to resolve this issue

[2016-07-12 06:52] mmrath commented on #844
You don't need those commas I think. Better make a plunker with the issue if you still are facing it.

[2016-07-12 06:55] pramttl commented on #836
I think this bug may be a duplicate of: https://github.com/angular/material2/issues/696

[2016-07-12 07:02] Muthu2020 commented on #844
Actually, I have used that tag in jade. Its looks like
md-input(placeholder='Organization Name',name='name',[ngModel] = 'orgSettings.name',ngControl='name',[ngClass] = "{'text-danger-error': !orgForm.controls.name.valid && isSubmitted}")``

[2016-07-12 07:11] pramttl commented on #836
Finally was able to solve this issue (Material2 addresses this bug in alpha.6). For some reason even after updating `package.json` to have `2.0.0-alpha.6`, and running `npm install`, the `@angular2-material` directory in node_modules was not getting updated.  (Weird - and I am not sure why)

So, I deleted node_modules/@angular2-material and reran `npm install` after already having updated to mater

[2016-07-12 07:11] #836 closed

[2016-07-12 08:02] drager opened #845 "bug(md-input): MdInput with type date cannot handle placeholders"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Placeholders should always be small for date inputs since it defaults to: `mm/dd/yyyy`.

#### What is the current behavior?
Placeholder is large for the default value for date inputs.

#### What are the steps to reproduce?
http://plnkr.co/edit/MURSTrNjlRj3AGzZkEfO?p=preview

#### Which versions of Angular, Material, O

[2016-07-12 08:26] msegers commented on #845
The date input will get a picker. For now I'd suggest styling the label as if it was always filled in (that's what I do).

[2016-07-12 08:48] drager commented on #845
@msegers: I see, styling it though seems like an ugly hack to be honest... I added a pull that fixes the bug described above.

[2016-07-12 09:32] msegers commented on #730
@hansl Just fyi, I guess you might already know. I found a way to debug IE11 properly. My issue occurs when you have a form with an md-input using type=date on IE11.

IE11 doesn't support date and for some reason it has issues, therefore I solved it in my case by optionally showing a regular text input on browsers which don't support the date input type.

Hope this info helps anything in the futur

[2016-07-12 09:47] msegers commented on #730
Oh: here is finally a usefull plnkr http://plnkr.co/edit/mraL1tJHVL2sP8BSU85d?p=preview

[2016-07-12 14:33] Muthu2020 opened #847 "Is menu component available in material2 as like material1? Can you confirm it?"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-07-12 14:46] m0t0r commented on #847
See #119

[2016-07-12 16:34] #847 closed

[2016-07-12 17:55] henrymana commented on #118
It would be great if md-select and other similar components (menu, dialog, etc) were based on a  foundation component such as material 1 md-panel (https://material.angularjs.org/latest/api/service/$mdPanel). Is the team considering this as a design?

[2016-07-12 18:08] jelbourn commented on #118
@henrymana [they are](https://github.com/angular/material2/tree/master/src/core/overlay).

[2016-07-13 00:25] vifore commented on #114
We all wait this. @jelbourn, can you merge this early?
I planned my project to use this in alpha.6, but it delayed too much.
Thank you for all your jobs.

[2016-07-13 04:09] Toadskin opened #849 "EPEERINVALID on installation"
#### Bug, feature request, or proposal:

If those are my options it's a bug.

This fails with EPEERINVALID using Node v4.4.7 and that has npm 2.15.8:

install --save @angular2-material/core @angular2-material/button @angular2-material/card

#### What is the expected behavior?

Clearly, that installation should succeed.

#### What is the current behavior?

It don't.

#### What are the steps to repr

[2016-07-13 07:50] msegers commented on #821
http://plnkr.co/edit/mraL1tJHVL2sP8BSU85d?p=preview

This one shows the error that occurs. I suggest not using input type=date on IE to avoid this error.

[2016-07-13 10:46] soorireddy opened #850 "Peer Dependency of angular2@^2.0.0-beta.8 ??? for card , checkbox"
npm WARN @angular2-material/card@2.0.0-alpha.4 requires a peer of angular2@^2.0.0-beta.8 but none was installed.
npm WARN @angular2-material/checkbox@2.0.0-alpha.4 requires a peer of angular2@^2.0.0-beta.8 but none was installed.

[2016-07-13 10:53] snolflake commented on #844
Show us how you're loading those templates in your code. If you're using webpack for example tell us which loaders are you using, how you configured it, etc...

[2016-07-13 10:58] Muthu2020 commented on #844
Actually, this issue is fixed by adding value attribute in md-input tag. Thank you for your reply.

[2016-07-13 11:17] #850 closed

[2016-07-13 11:18] soorireddy opened #851 "@angular2-material/checkbox@2.0.0-alpha.6 requires a peer of @angular/forms@^0.1.0"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-07-13 11:22] snolflake commented on #849
Yesterday they updated everything to RC4 and are using latest version of the angular-cli, so maybe if you recreate package.json these errors go away. Otherwise just make sure that your angular installation is updated and simply ignore the version mismatch in the material packages (EPEERINVALID).

During alpha some components will have some outdated dependencies but they will be updated over time a

[2016-07-13 11:24] snolflake commented on #851
See #849

[2016-07-13 12:37] Mc-Mido commented on #821
Plunker without promise error: http://plnkr.co/edit/mraL1tJHVL2sP8BSU85d?p=preview (thanks to msegers).

[2016-07-13 15:08] msegers commented on #821
np

[2016-07-13 16:05] robkuijpers commented on #796
+1
Please add .scss extentions to @import or put .scss and .css files in different folders.

[2016-07-13 16:29] DerekTBrown opened #852 "Sourcemap paths are incorrect"
#### Bug, feature request, or proposal:

Bug
#### What is the current behavior?

@jelbourn in publishing the latest version to npm, it seems you left your own project path in the javascript map files.  Consider the following excerpt downloaded directly from npm:

node_modules/@angular2-material/button/button.spec.js.map:

[code]

[2016-07-13 17:29] robkuijpers opened #853 "<md-input> does not set template reference variable on <input/> element."
When I add a template reference variable (using # or ref- on an md-input it is not set on the  <input/> element.

I followed the Angular2 forms tutorial https://angular.io/docs/ts/latest/guide/forms.html and noticed this when trying to add the #spy variable.

Is there a way to use template reference variables or is this planned for a future version?

@angular 2.0.0-rc.4
@angular/forms 0.2.0
@angul

[2016-07-13 18:00] #851 closed

[2016-07-13 18:01] jelbourn commented on #849
You likely can ignore peer dependency errors (they really should be warnings), or install the `@next` version.

[2016-07-13 18:01] #849 closed

[2016-07-13 18:03] #837 closed

[2016-07-13 21:00] alexsorokoletov commented on #736
So, again, what is the suggested way to change primary color or adjust material theme?
I saw this doc https://github.com/angular/material2/blob/master/docs/scss-theming.md  but it doesn't tells me what to do actually

[2016-07-13 21:18] jelbourn commented on #736
We unfortunately don't have user-controlled theming available yet at this
point in the alpha. It will be coming before we get to a beta stage.

On Wed, Jul 13, 2016 at 2:00 PM, Alex Sorokoletov <notifications@github.com>
wrote:

[2016-07-13 22:37] francisoud commented on #736
@alexsorokoletov (I'm not part of material2 team;) ) as a **temporary** workaround you could fork material, modify [_default-theme.scss](https://github.com/angular/material2/blob/master/src/core/style/_default-theme.scss) and replace you npm dependency from material2-core to your own version...
But let me be clear this is **_bad idea_** and I'm not even sur it would work ;)

[2016-07-13 23:06] francisoud commented on #123
@jelbourn about your comment https://github.com/angular/material2/issues/123#issue-136879577 what do you mean by _Needs design doc_
As an end user, I would expect theming to work kind of [angular1](https://material.angularjs.org/latest/Theming/03_configuring_a_theme)

I would expect  something like this code in a `app/main.ts` since it's a central part of the application:
[code]

but in this case

[2016-07-13 23:18] jelbourn commented on #123
The primary way of theming for material2 will be static. The run-time generation of styles is not suitable for most apps because it is rather expensive. That said, we will possibly also have an optional run-time configuration as well.

[2016-07-13 23:27] alexsorokoletov commented on #736
Thanks guys. I've heard similar solution from other person. As for now I reference Palette and theming functions in app component scss and add styles I need there. For toolbar this worked nice, but looking at button makes me dizzy :)

[2016-07-14 16:03] sinisarudan opened #856 "Incorrect Documentation for `material2/src/components/tabs/` event `selectedChange`"
#### Bug, feature request, or proposal:
Incorrect Documentation for `material2/src/components/tabs/` event `selectedChange`

#### What is the expected behavior?
selectChange

#### What is the current behavior?
selectedChange

#### What are the steps to reproduce?
https://github.com/angular/material2/edit/master/src/components/tabs/README.md

#### What is the use-case or motivation for changing an

[2016-07-14 17:41] joshfriend commented on #789
#447 added support for the `autoComplete` and [is present in the current `2.0.0-alpha.6` release.](https://github.com/angular/material2/blob/2.0.0-alpha.6/src/components/input/input.ts)

`autocorrect`, `autocapitalize`, and `spellcheck` attributes are still missing though.

[2016-07-14 18:27] jonathan-casarrubias commented on #114
+1 dialog is basic

[2016-07-14 20:23] Dona278 commented on #853
I tested a simple code like:

[code]
and this is the result:

![image](https://cloud.githubusercontent.com/assets/10567243/16854425/1a4afa26-4a11-11e6-8a0f-ab076b86d1f0.png)

How you use the #spy var?

[2016-07-14 22:12] DevVersion commented on #600
Closed with #750

[2016-07-14 22:12] #600 closed

[2016-07-14 23:13] jelbourn commented on #853
Not presently, though the md-input should expose all APIs you would need. Working as intended for now.

[2016-07-14 23:13] #853 closed

[2016-07-14 23:14] jelbourn commented on #852
@hansl we fixed this once before but it seems like it's happening again.

[2016-07-14 23:18] jelbourn commented on #844
@Muthu2020 can you reproduce this in a plunker so that we can see it?

[2016-07-14 23:20] jelbourn commented on #840
Button toggle hasn't actually been released yet and isn't done. I think you may be encountering a javascript error that it's currently throwing.

[2016-07-14 23:20] #840 closed

[2016-07-14 23:22] jelbourn commented on #831
@maciejsobala can you provide a plunker that reproduces the issue?

[2016-07-14 23:24] jelbourn opened #860 "md-fab-speed-dial"
Similar to the [material1 version](https://material.angularjs.org/latest/demo/fabSpeedDial)

[2016-07-14 23:25] jelbourn commented on #830
Tracking via #860 (created a new issue so I can edit the description later).
No ETA presently.

[2016-07-14 23:25] #830 closed

[2016-07-14 23:29] jelbourn commented on #824
We decided we're not going to hide the native UI controls for this case. Individual apps should still be able to hide them with some simple css.

[2016-07-14 23:29] #824 closed

[2016-07-14 23:35] jelbourn commented on #812
I think this will be fixed by #820.

[2016-07-14 23:38] jelbourn opened #861 "md-input attribute names should exactly match native input"
md-input currently uses camelCase names for attributes, such as `autoComplete`. However, the native input uses all lower-case, e.g. `autocomplete`. We should match the native input to avoid confusion.

[2016-07-14 23:39] jelbourn commented on #789
It is currently `autoComplete` (camelCase). They should really match, though, so I opened #861

[2016-07-14 23:39] #789 closed

[2016-07-15 02:43] jean-merelis opened #863 "bug(md-input): md-hint is partially hidden"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-hint should be fully displayed

#### What is the current behavior?
md-hint is partially hidden

#### What are the steps to reproduce?
https://material2-app.firebaseapp.com/

![snapshot5](https://cloud.githubusercontent.com/assets/1755960/16861828/c3eea6b4-4a1a-11e6-912e-bfc73946de00.png)

#### Which versions of Ang

[2016-07-15 03:54] jean-merelis commented on #863
A solution is change css from:
[code]
To:
[code]

[2016-07-15 10:15] alenaksu commented on #844
Hi @jelbourn, I have the same problem, you can see it [here](http://plnkr.co/edit/KqsgYbc6gQ65Hh8emOiB?p=preview)

[2016-07-15 10:17] simonykq commented on #753
+1
Same here. Not it requires ** @angular/http@2.0.0-rc.3**, it should be updated to ** @angular/http@2.0.0-rc.4**, which is the latest version by this far

[2016-07-15 14:22] elvirdolic opened #864 "md-tab creates inside component on every click/select"
#### Bug, feature request, or proposal:
BUG?

#### What is the expected behavior?
Components used insides are only initialized once not on every tab change

#### What is the current behavior?
Components are initialized on every tab change

#### What are the steps to reproduce?
Use a basic md-tab template and put another components inside

eg.

[code]
In this case the pd-app-component is initialize

[2016-07-15 15:19] kuijpersr commented on #853
Hi Dona278,

Your example works, thanks.

I followed the Angular2 forms tutorial https://angular.io/docs/ts/latest/guide/forms.html trying to add the #spy variable to show the angular validation classes.

[2016-07-15 16:23] jelbourn commented on #864
See #731

[2016-07-15 16:23] #864 closed

[2016-07-15 17:17] DevVersion commented on #812
@jelbourn Jut confirmed with #820, and it seems to fix that issue.

It's just important (again) to make the adjustments with the emitted `MdSlideToggleChange` class.
[code]

[2016-07-15 18:37] #575 closed

[2016-07-15 18:39] #812 closed

[2016-07-15 22:57] kara opened #866 "Hover style still shows on disabled buttons"
To replicate: in demo app, hit "disable buttons" and hover over disabled buttons.

Possible cause: https://github.com/angular/material2/commit/b24d321213d7a0e7c72c7c9de9e53b112a5a3a8d

[2016-07-16 16:17] joejordanbrown opened #868 "MD-SIDENAV - Pinned and backdrop options - Feature request"
#### Feature request:
Add pinned option with setting option for it to be pinned when view is desktop.

The material design specifications for **Desktop structure** of the sidenav say "accessed temporarily or pinned for permanent display."

Is there going to be an option for this?

Also i think the backdrop should be allowed to be disabled manually or automatically when pinned.

[2016-07-16 16:28] fabiopaiva opened #869 "document:scroll not working using md-sidenav-layout fullscreen"
I'm not sure if this is a bug
I want to use sidenav fullscreen and monitor the scroll position on the screen but if i use the fullscreen directive the event is not triggered.

http://plnkr.co/edit/M9l63i7iYMX0F79f4SDQ?p=preview

I want to use fullscreen because it keep the sidenabar fixed on all screen but I need to get the position after the user scroll the screen.

Without the fullscren directiv

[2016-07-16 17:50] sathishvj opened #870 "adding md-radio-button gives error"
#### Bug:

I added a bunch of material2 components together.  I was able to add a toolbar and button to my app and see it in the view.  Then I later added @angular-material/radio.  References are there in angular-cli-build.js, package.json, and system-config.ts.

[code]

I add md-radio-group and there are no issues.  But as soon as I add md-radio-button, there is an error.
#### What is the current

[2016-07-16 17:58] sathishvj commented on #870
Looks like I'm having the same issue with md-checkbox also.  Am I doing something fundamentally wrong?

[2016-07-16 19:50] DzmitryShylovich commented on #870
`import { MdRadioButton, MdUniqueSelectionDispatcher, MdRadioGroup } from '@angular2-material/radio';` is the correct import.

Can u reproduce thin in plunkr?

[2016-07-16 20:12] sathishvj commented on #870
I had added a plnk but bad formatting made it invisible.  Have fixed it now.

[2016-07-16 21:55] kara commented on #795
@Saegrov  I can confirm this is cut off in iOS Safari as well. The fix you suggested seems right at first glance (@hansl will have to take a look).   Just submitted a quick PR with the change.

[2016-07-16 23:23] #795 closed

[2016-07-17 08:28] micronyks opened #872 "How to include angular2-material to angular2 app"
What if I don't use Angular Cli. How can I integrate angular2-material with quick-start app of angular2.

I added @angular2-material/core package. Then I installed other angular2-material components like @angular2-material/button, @angular2-material/card and so on.

**systemjs.config.js**
[code]

When I run my app I following error,

[2016-07-17 15:49] frankcalise commented on #872
In your materialPackages.forEach, for each package did you try calling out the main: with pkgName? See https://github.com/kara/puppy-love/blob/master/src/system-config.ts

[2016-07-17 16:50] micronyks commented on #872
@frankcalise - I tried this also but also it is not working.

NOTE: I don't use **angular cli**.

(function(global) {

        // map tells the System loader where to look for things
        var map = {
            'app': 'app', // 'dist',

            '@angular': 'node_modules/@angular',
            'angular2-in-memory-web-api': 'node_modules/angular2-in-memory-web-api',
            'rxjs': 'node

[2016-07-17 17:50] DevVersion commented on #831
When I tested that out, everything worked as expected.
![image](https://cloud.githubusercontent.com/assets/4987015/16902188/a8662072-4c57-11e6-8d41-8bc3a2e05af4.png)

[2016-07-18 07:14] Dona278 commented on #872
@frankcalise after installing packages with:
`npm install @angular2-material/core @angular2-material/button etc..`
you can see the folder "@angular2-material" under "node_modules"?

PS: in you "map" variable you can leave only "@angular2-material': 'node_modules/@angular2-material"

[2016-07-18 07:16] Dona278 commented on #863
Close with #871

[2016-07-18 07:33] msegers commented on #682
It depends on the use case but as @shlomiassaf mentions, it makes sense to have it not appearing visually. Since also no margins are provided by default, I believe the same philosophy of "Define it yourself" applies here?

[2016-07-18 12:40] smitalm commented on #726
Wouldnt this problem also be solved by using `<md-input-container>` approach that was used in [material 1](https://material.angularjs.org/latest/demo/input)?

[2016-07-18 15:37] DevVersion opened #877 "Saucelabs interference with Material 1.x"
Material 2 and Material 1.x run their tests mostly on Saucelabs / Browserstack.
In this particular case Saucelabs causes some issues on both repositories.

| Repository                    |  Instances  |
| ------------------------- | ------------ |
| Material 2                     | `1`                |
| Material 1.x                  |  `4`                |

---
**Explanation**
Material 1.x runs

[2016-07-18 16:03] ebenmoha opened #878 "error TS2305: Module '"/Users/lordofcode/work/PimentFront/node_modules/@angular2-material/radio/radio"' has no exported member 'MdRadioDispatcher'."
I am trying to run angular2 material on the latest release candidate Angular2 rc.4. But this doesn't works as expected. The problem is that some of my packages are using @angular/forms@^0.1.0 while some others uses the version angular/forms@^0.2.0. I am getting this runtime errors when launching npm start:

error TS2305: Module '"/Users/lordofcode/work/PimentFront/node_modules/@angular2-material/r

[2016-07-18 16:20] jmurphzyo opened #879 "overlay directive"
#### Bug, feature request, or proposal:

bug
#### What is the expected behavior?

n/a
#### What is the current behavior?

Possible typo
#### What are the steps to reproduce?

Providing a Plunker (or similar) is the _best_ way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd
#### What is the use-case or motivation for changing an existing behavior?
####

[2016-07-18 16:54] sceendy commented on #878
use `import {MdUniqueSelectionDispatcher} from '@angular2-material/core/coordination/unique-selection-dispatcher';` instead

[2016-07-18 16:57] sinisarudan opened #880 "MD-TAB does not support [disabled] property"
#### Bug, feature request, or proposal:
MD-TAB does not support [disabled] property
https://github.com/angular/material2/tree/master/src/components/tabs

#### What is the expected behavior?
for the code
[code]
the first tab should be disabled
#### What is the current behavior?
both tabs are enabled, operational

#### What are the steps to reproduce?
create a code like this:
[code]

#### What is th

[2016-07-18 17:41] jrmoser commented on #844
@alenaksu The only issue you are having with Material, is that when you use ngModel you must include the name attribute. However you wouldn't have found this out without fixing the bigger issue that you were having, which was with Angular's forms. They are currently going through a [deprecation phase](https://angular.io/docs/ts/latest/guide/forms.html) and so there are some things you must do to m

[2016-07-19 05:38] divyakumarjain opened #881 "Support Side Navigation which locked open for large screen"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
Looking at below sidenav implementation for Angular 1.x we can have sidenav which is open for large screen but collapsed for smaller screen. Looking at Angular 1.x API it seems that there is md-is-locked-open which can be used for such use cases.

https://material.angularjs.org/latest/demo/sidenav

Current

[2016-07-19 07:21] Dona278 commented on #878
@sceendy says correct, but from the source code:
[code]
You can use `MdUniqueSelectionDispatcher` imported from `@angular2-material/radio/radio`

[2016-07-19 09:43] Maxouhell opened #882 "md-tab-label cut text instead of enlarge"
#### Bug, feature request, or proposal:
Bug / proposal

#### What is the expected behavior?
md-tab-label width must enlarge

#### What is the current behavior?
md-tab-label width is fixed to 160px.

#### What are the steps to reproduce?
http://plnkr.co/edit/wssodcDMuYzsiwllRqTL?p=preview

When the app launch, there is too much labels and some are hidden (arrows to scroll doesn't appear like Materi

[2016-07-19 10:21] ebenmoha commented on #878
This solved my problem. Thanks @sceendy @Dona278 !!!

[2016-07-19 11:03] albanx commented on #809
Hi Guys
I am facing this problem when I try to create a simple login form with md-input and the ngFormModel. Please find the pluker demo here (not working on plunker).

http://plnkr.co/edit/ZT2pGoLgiSmqGctmhiG9?p=preview

What I am doing wrong? Is ngFormModel still valid?

[2016-07-19 11:03] soorireddy commented on #809
+1

[2016-07-19 11:25] maciejsobala commented on #831
On my end it is not working:

It looks like my <md-group> are treated as big one, isntead 4 seperated groups:

<img width="546" alt="screen shot 2016-07-19 at 1 11 56 pm" src="https://cloud.githubusercontent.com/assets/15926528/16948037/b3845b52-4db2-11e6-8b89-47debec75e86.png">

My point is, that if I am setting [(ngModel)]="item.type" of <md-radio-group>,
[code]

and inside group I am generating

[2016-07-19 15:59] michaelchiche commented on #771
#https://github.com/angular/angular/issues/9700

[2016-07-19 16:03] michaelchiche commented on #771
This issue is also reported in the official angular/angular repository angular/angular#9700

[2016-07-19 17:09] maciejsobala opened #883 "angular material breaks angular universal"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
elements and content should be prerendered on server side

#### What is the current behavior?
Exceptions on server side,
ie:
[code]

[code]
#### What are the steps to reproduce?
Try to use ```<md-tab>```s or ```<md-input>```

#### What is the use-case or motivation for changing an existing behavior?
Server side render

[2016-07-19 17:19] maciejsobala commented on #883
Interesting thing is, that few of material items, are rendering well. Ie:

md-sidenav
md-toolbar
md-icon
md-nav-list

[2016-07-19 18:30] RemKolomna commented on #883
duplicate of https://github.com/angular/material2/issues/774

[2016-07-19 18:32] #883 closed

[2016-07-19 20:16] tomascharad commented on #535
Same error here, solved by adding:

[code]

[code]
And restarting webpack.

[2016-07-19 20:54] jelbourn commented on #872
Without using the angular CLI, it's up to you to both copy the files to the appropriate directory for serving configure whatever module loader you're using to be able to then load those files. These are going to be specific to your app / build process / environment, so there's no universal "this is what you do".

[2016-07-19 20:54] #872 closed

[2016-07-19 20:56] #878 closed

[2016-07-19 21:01] tomascharad opened #885 "md-radio-button Error: ApplicationRef.tick is called recursively"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

An error throws when using md-radio-button
#### What is the current behavior?

If [checked] and (change) are used together, then I get the following error when clicking on the button:

[code]
#### What are the steps to reproduce?

This is my usage:

[code]

Changing (change) to (click), solves the problem.
md-checkbo

[2016-07-19 21:02] jelbourn commented on #881
I believe `mode="side"` is what you're looking for.

[2016-07-19 21:02] #881 closed

[2016-07-19 21:04] #856 closed

[2016-07-19 23:48] autopulous opened #886 "Incorrect return type in MdGestureConfig.d.ts (?)"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
A happy transpiler.

#### What is the current behavior?
`...../node_modules/@angular2-material/core/gestures/MdGestureConfig.d.ts(4,40): error TS2304: Cannot find name 'HammerManager'.`

Here's the line in question:

    buildHammer(element: HTMLElement): HammerManager;

It looks like the type should be (based upon ha

[2016-07-20 00:01] autopulous opened #887 "gulp-sass is distracted by the .css and .scss files in the distribution"
#### Bug, feature request, or proposal:

Proposal or this may just be a question (assuming that my ignorance can be dispelled)...
#### What is the desired behavior?

Separation of the `.css` and `.scss` files in the npm distribution
#### What is the current behavior?

[code]
#### What are the steps to reproduce?

Use 'gulp' + 'gulp-sass' to build an Angular2 application using Material2
#### What i

[2016-07-20 00:03] autopulous commented on #886
Probably related to issue #797

[2016-07-20 17:05] domfarolino commented on #841
@jelbourn Should `has pr` label be applied to this? I almost took a stab at it until I saw the PR haha

[2016-07-20 20:30] WG-Com opened #891 "can you delete package.json's peerDependencies field? too many " does not satisfy its siblings' peerDependencies requirements!""
"peerDependencies": {
    "@angular2-material/core": "2.0.0-alpha.6"
  },
[code]

headache

[2016-07-20 22:09] kara opened #892 "Switch form control components to using reactive forms"
Currently, some of our form control components rely on ngModel internally, which has to be processed asynchronously. This makes testing more difficult and causes more complexity than necessary.   We should be using something like formControl internally to make the processing sync.

[2016-07-20 22:14] kara commented on #844
As @jrmoser explained (thanks @jrmoser!), the plunker is missing the name attribute and the proper bootstrapping. Once these issues are fixed, md-input works as expected.  Closing, as this doesn't seem to be a bug.  Please feel free to open another issue with a plunker example if you run into anything else that looks like it could be a bug.

[2016-07-20 22:14] #844 closed

[2016-07-20 22:43] jonathan-casarrubias commented on #844
Thanks for clarifying!! I just had this issue

[2016-07-21 18:53] davidreher commented on #123
maybe it is a stupid question, but can theming be done today at all?

[2016-07-21 18:56] jelbourn commented on #123
Not easily until we finish implementing user-facing theming.

[2016-07-21 23:32] kara commented on #759
@happyvig It looks like you're not using the `fullscreen` attribute. The sidenav layout isn't fullscreen by default - you have to add it.

[2016-07-22 08:41] maciejsobala opened #896 "md-input padding does not affect underline"
#### Bug, feature request, or proposal:

bug
#### What is the expected behavior?

Underline should be affected
#### What is the current behavior?

setting padding for md-input doesn't affect underline
#### What are the steps to reproduce?

http://plnkr.co/edit/Jl20dtBLH8hILAahubzu?p=preview
#### Which versions of Angular, Material, OS, browsers are affected?

"@angular2-material/core": "^2.0.0-alp

[2016-07-22 09:19] maciejsobala opened #898 "unable to style internal md* elements with component styles"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
after adding:
```styles: [`some styles`]```
or
```stylesUrl: [' some file']```
to component
css settings should be able to affect md* tags (```<md-input>```, ```<md-toolbar>``` etc.) internal elements

#### What is the current behavior?
You can style only top container

#### What are the steps to reproduce?

http://pl

[2016-07-22 13:30] mmrath opened #899 "bug(menu): trigger _overlayRef not initialised?"
Looks like _overlayRef is never initialised. Which throws the following error

[code]

[2016-07-22 14:09] adam2k opened #900 "Build error with Broccoli Plugin using a Docker Container"
#### Bug, feature request, or proposal:

I hope this isn't out of scope for this repo, but I am have build errors with Broccoli Plugin using a Docker Container.

#### What is the expected behavior?

For the BroccoliMergeTrees to be able to build the angular2 files.

#### What is the current behavior?

The docker container builds, but the during run time the app crashes.

#### What are the steps to

[2016-07-22 14:23] kara commented on #899
@mmrath As menu is not yet released, it's only about halfway implemented. I wouldn't suggest using it until all the code goes in :)

Overlay still needs to be updated to work with menu. There is a pr waiting to go into master that will update it.

[2016-07-22 14:23] #899 closed

[2016-07-22 15:56] nesukun commented on #900
This is a Docker problem using shared volumes. Using the new Docker for mac betas could alleviate the issue but basically the problem is that, in mac (and windows) docker uses a linux virtual machine and the user ids used for checking fs permissions won't match. there's plenty of information about this issue on the usual places like StackOverflow or Docker's own bug tracker

[2016-07-22 16:04] nesukun commented on #898
Your style should read like this:

`  styles: [`
  md-input >>> div {
   background-color: pink !important;
  }

  md-toolbar >>> div {
    background-color: pink !important;
  }
  `];`

For more information, please read https://angular.io/docs/ts/latest/guide/component-styles.html

[2016-07-22 16:06] kara commented on #900
The Broccoli plugin is part of the Angular CLI, so we won't be able to help you here. Try submitting the issue in the CLI repo here: https://github.com/angular/angular-cli.

[2016-07-22 16:06] #900 closed

[2016-07-22 16:13] maciejsobala commented on #898
You are right. Thank you.

Closing.

[2016-07-22 16:13] #898 closed

[2016-07-22 18:47] thelgevold opened #903 "Material inlined templates/css"
This is more of a request for advice :-)

I am working on a library of shared components, so I was wondering if you would be willing to share some details about the tooling you use to create your npm packages. Specifically I am interested in the tools you use to inline templates and css files in the published js source.

I have been able to inline templates using webpack plugins like angular2-temp

[2016-07-22 22:58] laserfists commented on #903
Check out thel files in /scripts/release, specifically [inline-resources.js](https://github.com/angular/material2/blob/master/scripts/release/inline-resources.js). This is how it is currently handled for npm releases it seems.

[2016-07-23 09:13] RoxKilly opened #907 "[checkbox] Change cursor when disabled"
I think it is confusing to users that the cursor is still a pointer when the checkbox is disabled. The pointer indicates that something will happen `onclick` but of course that's not true when a checkbox is disabled.

It would probably be better to use the default pointer in that case unless the current behavior is already consistent with native checkbox implementations.

[2016-07-23 11:53] shotleybuilder opened #910 "File not found error after upgrade to alpha.6"
#### Bug:

Error following upgrade to alpha.6

#### What is the expected behavior?

App will boot

#### What is the current behavior?

Errors prevented startup:

While building the application:
error: File not found: node_modules/@angular2-material/core/live-announcer/live-announcer.d.ts
error: File not found: node_modules/@angular2-material/radio/radio_dispatcher.d.ts
error: File not found: node_

[2016-07-23 12:34] shotleybuilder commented on #910
Think this is an npm problem.  I've uninstalled @angular2 and will try again ... closing for now

[2016-07-23 12:34] #910 closed

[2016-07-23 13:27] DevVersion commented on #791
FYI: A better approach has been landed in `master`. We only emit a change event, when the native input emits one.

- This makes sure, that the given component completely matches the native component behavior.

Already fixed for: `md-slide-toggle`, `md-checkbox`

[2016-07-23 14:29] thelgevold commented on #903
Thanks!

[2016-07-23 14:29] #903 closed

[2016-07-23 15:13] shotleybuilder opened #912 "Build using npm package.json script"
#### feature request:

I'd like to be able to build using npm.  In particular using node-sass.  But I keep running into a problem highlighted here: https://github.com/sass/node-sass/issues/1222

Many of the project's .scss files include @import statements without the .css or .scss extension.

node-sass then complains "it's not clear which file to import ..."

#### What is the expected behavior?

I

[2016-07-24 03:46] sendilkumarn commented on #879
Think that should be `originX`

[2016-07-24 07:36] a5hik commented on #123
Looking forward for this feature!

[2016-07-24 09:30] fxck commented on #577
any progress on this?

[2016-07-24 23:31] blaugold opened #914 "md-input type="number" required does not update control validation state"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

A required but empty md-input field should turn the control invalid.
#### What is the current behavior?

Has the input been touched once it's `valid` prop stays `true` even if the the input is empty.
#### What are the steps to reproduce?

Enter a number and remove it again.
[Here is a plunker.](http://plnkr.co/edit/n

[2016-07-25 01:20] mehran9 commented on #123
Same here!

[2016-07-25 01:24] mehran9 opened #915 "md-icon and md-sidenav are not loading correctly."
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-sidenav and md-icon directives appear not be loading

#### What is the current behavior?

When attempting to load sidenav and icon packages via npm, peer dependency warnings were highlighted in terminal, notwithstanding that those packages had already been loaded.

#### What are the steps to reproduce?

Providing a

[2016-07-25 03:55] karan1276 commented on #879
Hey, i am a student and a little new to material 2. I want to become a regular contributor because angular is so awesome :)

I would like to work on this issue, if someone is already working on that please let me know .

Any advice on how to go about it is also appreciated :)

Thank you

[2016-07-25 07:51] Dona278 commented on #912
It's the same of #887

[2016-07-25 09:55] SamiAl90 commented on #915
md-sidenav and md-icon directives appear not be loading

Could you describe a little more what the problem actually is? Sidenav and Material-Icons working properly here.

[2016-07-25 16:00] ollwenjones commented on #120
Chips seem sort of general purpose. It's not clear to me why their implementation would be blocked by autocomplete? Seems like it could be the other way around.

[2016-07-25 16:34] jelbourn commented on #915
If I understand what you're saying, you're talking about the npm peer dependency errors. You can ignore those.

[2016-07-25 16:34] #915 closed

[2016-07-25 16:35] jelbourn commented on #912
Dupe of #887

[2016-07-25 16:35] #912 closed

[2016-07-25 16:59] tylermassey commented on #914
I've experienced this as well.

I think the issue is related to the value of a number input being `NaN` when the field is empty.

As a temporary workaround, I wrote a custom validator to handle this case. Here's an example:

[code]

[2016-07-25 17:34] DevVersion commented on #877
Closing this, since @jelbourn made sure that the current license supports up to 30 browsers concurrently.

[2016-07-25 17:34] #877 closed

[2016-07-25 17:56] samirthebti opened #916 "MdSidenavLayout - inline template:0:177 Bug with sidenav"
I using the Sidenav component and I get this error :
[code]

[2016-07-25 20:17] #907 closed

[2016-07-25 20:31] robertmesserle commented on #775
Closed by f5e2a81eeaaba53b881a4dda44ec21cdb610e0dd

[2016-07-25 20:31] #775 closed

[2016-07-25 22:10] Blaugold commented on #914
Ah yes, thanks for the hint.

[2016-07-26 05:27] DevVersion commented on #117
This shouldn't be blocked anymore I guess.

[2016-07-26 09:18] RicardoVaranda commented on #574
@robertmesserle @jelbourn This doesn't seem to have fixed the issue, I'm still getting the error using:
[code]

[2016-07-26 09:31] ChristianBeilschmidt opened #919 "GlobalPositionStrategy - Translate causes Bugs in Firefox for Select (Option) Element"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

A html select element's options should be affected by the translation in Firefox.
#### What is the current behavior?

Firefox positions the options unaffected by the translation. This is due to a bug (https://bugzilla.mozilla.org/show_bug.cgi?id=455164) that is unfixed for 8 years.
#### What are the steps to reproduc

[2016-07-26 17:43] autopulous opened #921 "Where is <md-content> defined?"
#### Bug, feature request, or proposal:

Question, that may or may not result in a change...

#### What is the expected behavior?

md-content being recognized by my IDE JetBrains IDEA 2016.2

#### What is the current behavior?

JetBrains IDEA 2016.2 reports

Selector matches unknown element `md-content`

when I reference `md-content` in style sheets (`.scss`)

#### What are the steps to reproduce?

[2016-07-26 17:51] robertmesserle commented on #574
@RicardoVaranda Can you provide a plunker or some way for us to see your code failing?  We include async tabs in our demo app, which is still working properly, so we'll need to see your app to determine what is different.

[2016-07-26 18:41] m0t0r commented on #921
@autopulous `md-content` doesn't exist in Material2.

[2016-07-26 19:06] Blaugold commented on #921
It is used in [sidenav.scss](https://github.com/angular/material2/blob/9a32489d1aca84afac48aae32fb62813cce2bc83/src/components/sidenav/sidenav.scss) and [sidenav-transitions.scss](https://github.com/angular/material2/blob/4bee1783b26831e99b4bc36e9977acc4b2d2fc24/src/components/sidenav/sidenav-transitions.scss), but I can confirm that in IntelliJ Idea it is not recognises as a selector. Using Go To

[2016-07-26 21:28] snolflake opened #922 "Unable to style encapsulated components"
In the example below I use the list component and try to apply a background color on list items when the item is hovered. However `_ngcontent` attributes are added to my CSS selectors and some of the elements generated HTML seems to not receive this attribute making impossible to apply any style to it.

http://plnkr.co/edit/Sgr8DI9hWnOItPWR9Tva?p=preview

## Original Style
I've tried different rul

[2016-07-26 22:12] jelbourn commented on #921
This is not related to material; WebStorm / IJ don't recognize custom elements by default.

[2016-07-26 22:12] #921 closed

[2016-07-26 22:22] autopulous commented on #921
@jelbourn - respectfully... IDEA 2016.2 recognizes many of the `md-` directives... when these are defined/declare within the material packages - for instance `md-toolbar` is recognized because `md-toolbar` is declared as a selector in the `toolbar.js` file - it would seem to me that since `md-toolbar` is recognized and `md-toolbar` is declared within the `"@angular2-material/toolbar": "2.0.0-alpha

[2016-07-26 23:09] jelbourn commented on #922
We're still working on theming (see #123) and general strategy for component customization. Stay tuned for more info in the future!

[2016-07-26 23:09] #922 closed

[2016-07-26 23:12] jelbourn commented on #916
@samirthebti Please follow our issue template, which includes providing the version of Angular MAterial you are using. Feel free to file a new issue with all of the relevant information.

[2016-07-26 23:12] #916 closed

[2016-07-26 23:13] jelbourn commented on #914
Needs investigation

[2016-07-26 23:15] jelbourn commented on #891
These are real peer dependencies. While we're in alpha, the unstable state means that sometimes the deps will get out of date but probably still work.

[2016-07-26 23:15] #891 closed

[2016-07-26 23:18] jelbourn commented on #886
Dupe of #797

[2016-07-26 23:18] #886 closed

[2016-07-26 23:19] jelbourn commented on #885
@DevVersion is this fixed by your PR?

[2016-07-26 23:25] jelbourn commented on #868
You can bind the opened state to always be true. More responsive feature will be coming in the future. `mode="side"` doesn't have a backdrop.

[2016-07-26 23:25] #868 closed

[2016-07-26 23:27] jelbourn commented on #863
Fixed via #871

[2016-07-26 23:27] #863 closed

[2016-07-27 05:46] jmcgoldrick commented on #922
You can get at them with either /deep/ or >>> (even though they are deprecated in CSS) angular supports them. see the page on styling on the angular.io site

[2016-07-27 15:41] losorio35 commented on #114
+1 dialog

[2016-07-27 18:13] bennycooly opened #926 "md-spinner and md-progress-circle indeterminate are blinking"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The spinner is supposed to have a smooth animation.

#### What is the current behavior?
Using the most recent commit, the progress spinner is blinking.

#### What are the steps to reproduce?
See the demo app:
https://material2-test.firebaseapp.com/progress-circle

Pull from the latest commit, and put a spinner/indeter

[2016-07-27 18:36] DevVersion commented on #885
@jelbourn I can't really reproduce this issue.

@tomascharad Can you please some code?

[2016-07-27 19:35] robertmesserle commented on #882
This is an issue with pagination.  Pagination is not supported yet, so tabs will shrink when they cannot fit.  This will be fixed when pagination is implemented as the alternative (inaccessible tabs) is not an improvement.

[2016-07-27 19:35] #882 closed

[2016-07-27 21:05] tomascharad commented on #885
Hi @DevVersion , I have changed my code a lot since this happened, so I cannot reproduce this issue very easy.
But I think that I was also missing the '<md-radio-group>' wrapper. Are you able to reproduce this if you do something like this:

[code]

[2016-07-28 01:40] Fengxici commented on #797
After you and HammerJS,have you try typings i?That fix my error

[2016-07-28 02:26] muguliebe commented on #759
@kara i think the real problem is.. when using fullscreen attribute and footer put inside <md-sidenav-layout> then footer is not a sticky bottom even though using absolute position and bottom zero.

[2016-07-28 18:11] DevVersion commented on #885
@tomascharad Thanks for the reply. I'm currently stucking at your TypeScript code. How is the `[checked]` binding changing?

[2016-07-28 18:14] tomascharad commented on #885
@DevVersion, the selectUserAnswer triggers a change in the state of the app the 'value' attribute of the userAnswer object is changed.

[2016-07-28 18:24] jelbourn opened #928 "Make per-commit packages available"
Should ideally work similarly to the way `angular/angular` does it. These packages wouldn't be on npm, just on GitHub.

[2016-07-28 19:00] jelbourn commented on #926
Wow, that's pretty glaring. How did we not see this...

[2016-07-28 23:46] bennyp123 opened #929 "invalid aria attribute: aria-target"
md-input directives sport an `aria-target` attribute. This attribute does not pass a11y tests: `aria-target` is not a valid attribute.

[2016-07-29 09:01] fxck commented on #928
Isn't there issue for this already? https://github.com/angular/material2/issues/577

[2016-07-29 10:00] henrikssn opened #931 "FR: Allow dynamically changing the ink bar color in MdTabGroup"
#### Bug, feature request, or proposal:

Feature request
#### What is the expected behavior?

There should be a way to dynamically (from parent component) change the color of the md-ink-bar in the material tabs.
#### What is the use-case or motivation for changing an existing behavior?

We need it in our product.
#### Which versions of Angular, Material, OS, browsers are affected?

Angular materia

[2016-07-29 10:48] bennyp123 commented on #661
md-card should be using flex. it's currently set to display:block

[2016-07-29 13:52] zigzag95 opened #932 "bug(overlay): overlays are sometimes blurred in Chrome"
I think you should change the text to "Use your eye glasses to see tooltips"

![image](https://cloud.githubusercontent.com/assets/7827225/17250330/1ebac61a-55a4-11e6-9fb1-6d81f3492ad3.png)

PS: My chrome zoom is set to 100%

[2016-07-29 16:25] jelbourn commented on #928
Oh yeah, closing this one then.

[2016-07-29 16:25] #928 closed

[2016-07-29 16:27] jelbourn commented on #577
Rather than going to npm, packages for each commit will be available through GitHub (similar to `angular/angular`).

[2016-07-29 17:32] rigolepe commented on #715
I'm not sure if this question belongs in this thread, but I noticed that the connected-overlay position is not recalculated when a browser window is resized. This is easily reproduced by opening the overlay-demo on a wide (normal) screen width click the "Open menu" button to show the overlay and then make the browser window really narrow so that this button is moved to the next line. Open en close

[2016-07-29 17:43] jelbourn commented on #715
Resize and scroll behavior haven't been added to the overlay yet.

[2016-07-29 18:36] soorireddy opened #935 "Request : card with flip , collapsible list(menu) component / directive"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-07-29 18:55] shotleybuilder commented on #278
Is this error back or is it my compile ...?

Scss compiler error: Undefined variable: "$md-fast-out-slow-in-timing-function".

My main.scss
[code]

I've manually patched like this
example checkbox.scss
[code]

Because of #887

[2016-07-29 19:50] shotleybuilder opened #936 "@angular/forms 0.1.0 or 0.2.0?"
#### Bug, feature request, or proposal:

npm complains of unmet peer dependency if @angular/forms 0.2.0 is installed
This doesn't affect build but someone has difficulties with heroku see here

https://groups.google.com/forum/#!topic/angular-material2/CqKY2tcNZqQ

#### What is the expected behavior?

I've patched package.json in slide-toggle, radio, input and checkbox with
`"@angular/forms": "^0.2

[2016-07-29 19:53] kara commented on #936
@shotleybuilder  When alpha.6 came out, angular core was still on RC.3, with forms 0.1.0.  In master, we've updated to RC.4 and forms 0.2.0, so as soon as alpha.7 comes out, these peer dependency errors will go away.

[2016-07-29 19:53] #936 closed

[2016-07-29 20:00] michaelb-01 commented on #936
Great news! Do you know when alpha.7 will be released?

[2016-07-30 10:06] shotleybuilder commented on #278
Fixed by changing core.scss from

[code]

to

[code]

The order matters.

Then complained about the $md--light-theme-background' variable being undefined

Simply added .scss extension to the imports in _default-them.scss.

All now compiles.

[2016-07-31 17:04] rockmacaca commented on #932
+1

This is because the transforms on the parent `.md-overlay` are not integers, any way those can be rounded to the nearest pixel?

[2016-07-31 18:07] ivoviz commented on #932
Indeed, it would be nice to have them rounded.

[2016-08-01 00:38] kara commented on #936
When it's ready :)

[2016-08-01 01:43] inska commented on #114
+1

[2016-08-01 04:14] tariknz commented on #535
`typings install dt~hammerjs --save --global`

[2016-08-01 15:17] hyzhak opened #940 "Couldn't create OverlayContainer because it is not released in the last version of Core"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
OverlayContainer should exist

#### What is the current behavior?
There is no OverlayContainer in packages

#### What are the steps to reproduce?

[code]

Follow instruction here https://github.com/angular/material2/tree/master/src/components/menu#setup
But it doesn't work with current core@2.0.0-alpha.6-2  and menu@2

[2016-08-01 16:02] cladera commented on #940
Same problem here

[2016-08-01 16:11] kara commented on #940
Hey all,  menu is actually slated for an alpha.7 release (it's not yet completed). I'm not sure how it got out there already!  It works with some core code that hasn't been released yet either.  When alpha.7 comes out, it should work as intended.

[2016-08-01 16:11] #940 closed

[2016-08-01 16:13] jelbourn commented on #940
It was published on the `@next` label, which contains experimental packages that we published to test offline compiler support.

[2016-08-01 16:32] robertmesserle commented on #880
Duplicate of #645.

[2016-08-01 16:32] #880 closed

[2016-08-01 18:01] sinisarudan commented on #645
Further
in Angular 1 Material it existed:
https://material.angularjs.org/latest/demo/tabs

[2016-08-01 19:22] soorireddy commented on #935
expando option

[2016-08-01 21:29] robertmesserle commented on #708
This issue was from an earlier version, and should have been resolved already.  I just confirmed that adding `md-tab-group { height: 100%; }` appears to work.  Please let me know if there are cases where this doesn't work by providing a demo so that I can resolve the issue.

[2016-08-01 21:29] #708 closed

[2016-08-01 22:08] robertmesserle commented on #932
@zigzag95 Are there any specific steps or browser requirements to reproduce this?

[2016-08-01 23:23] robertmesserle commented on #932
Actually, I we were able to recreate it only when using a Macbook Pro with a non-retina display on Chrome.  Let me know if this happens under different circumstances as well.

[2016-08-01 23:29] rockmacaca commented on #932
ChromeOS (I'm going to assume that will include Linux) also has the issue. Can test on Windows soon.

[2016-08-01 23:30] robertmesserle commented on #932
Ah, okay.  We tested on Linux and were not able to recreate it so far.  Haven't checked Windows yet.

[2016-08-01 23:37] robertmesserle commented on #931
@henrikssn Can you provide more information about your specific use-case?

[2016-08-01 23:38] ivoviz commented on #932
@robertmesserle Although I've tested with the menu component, both Windows and Linux have this issue. I would assume the amount of blur also varies with ppi.

[2016-08-01 23:57] robertmesserle commented on #932
Yea, it should impact anything built on top of Overlay (ie. anything floating).

Some notes:
- Rounding pixels values should fix **some** use-cases, but not all.
- Percent-based translation will still cause blurring with no easy workarounds (at least not that we've found yet).

[2016-08-02 01:08] gregbown commented on #780
Removed ^ "@angular2-material/input": "2.0.0-alpha.6" in package.json solves this, my mistake, sorry.

[2016-08-02 04:36] vipdorian opened #941 "Request: Keyboard navigation in md-list"
To be able to use arrow keys to navigate through md-list or md-data-table or md-grid-list

As said in http://webaim.org/techniques/keyboard/ , in the section "Navigate to most elements" :
- Keyboard focus indicators must be present.
- Navigation order should be logical and intuitive.

In material-angular (1.1.0-rc.5), arrow keys does not select or change focus in md-list. The issue was closed in m

[2016-08-02 07:54] ibufu opened #942 "Why not use <md-button></md-button>?"
[code]
It looks a little redundant.

[2016-08-02 08:05] msegers commented on #942
You can use md-button on an anchor (e.g.) <a md-button></a> That is a nice feature I guess.

That being said, I do like to know what the specific reason is.

[2016-08-02 08:40] ibufu commented on #942
@msegers
I think the reason may relate to that component can not replace itself with its content at Angular2.

[2016-08-02 09:00] msegers commented on #942
Jup I believe I saw that as reason, but makes me wonder why that would be a
problem still.

On Tue, 2 Aug 2016 at 10:40 morning <notifications@github.com> wrote:

[2016-08-02 09:41] finalxcode commented on #936
{
  "name": "my-project",
  "version": "0.0.0",
  "license": "MIT",
  "angular-cli": {},
  "scripts": {
    "start": "ng serve",
    "postinstall": "typings install",
    "lint": "tslint \"src/**/*.ts\"",
    "test": "ng test",
    "pree2e": "webdriver-manager update",
    "e2e": "protractor"
  },
  "private": true,
  "dependencies": {
    "@angular/common": "^2.0.0-rc.4",
    "@angular/compiler":

[2016-08-02 10:46] dalestone commented on #809
I had a similar issue, turns out it was to do with using Angular2 RC1 dependencies as far as I can.

I changed to RC2 and it started working fine, e.g `"2.0.0-rc.1" to "2.0.0-rc.2"` for all angular packages.

[code]

[2016-08-02 11:06] ibufu commented on #942
I found the reason at [design documents](https://docs.google.com/document/d/1m8IxhKu5qI8xwjePVGZMbRve3MTW9M8odgcPiuAZfoM/preview?pref=2&pli=1#).

[2016-08-02 12:08] vagonpidarasov commented on #114
Any estimates on that?

[2016-08-03 08:34] fxck commented on #114
Is there a design doc somewhere @jelbourn ? Looking at the way the public API looks at the moment(https://github.com/angular/material2/blob/master/src/demo-app/dialog/dialog-demo.ts) I'm afraid it's not gonna be too reactive approach friendly(particularly controlling the dialog state with something like @ngrx/store).

[2016-08-03 11:02] vagonpidarasov opened #944 "@angular2-material/checkbox npm package is outdated"
Seems like @angular2-material/checkbox npm package is outdated.
[package.json](https://github.com/angular/material2/blob/master/src/components/checkbox/package.json) was updated 13 days ago but npm registry refers to outdated version.

#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
The latest version of @angular2-material/checkbox npm package is 2.0.0-alpha.6-2
@

[2016-08-04 02:42] #926 closed

[2016-08-04 05:54] Muthu2020 opened #945 "md-checkbox with multiple select option is not working properly."
The MD - checkbox will allow user to select multiple options, but in case of prepopulating the selected values with ngModel, it will throw an error like previous value was true but current value was false.

Can anyone provide a solution for this.

[2016-08-04 10:27] rolandjitsu opened #946 "feat: implement layout similar to Angular Material"
#### Feature Request

User should be able to create layouts in a similar way a user can do it in Angular Material.
There is no way to create layouts.

[code]

Or at least an alternative would be nice to have.

[2016-08-04 16:20] jelbourn commented on #944
This is intentional. The `-1` and `-2` releases are experimental. alpha.7 will be published soon with updated dependencies.

[2016-08-04 16:20] #944 closed

[2016-08-04 16:22] jelbourn commented on #945
@Muthu2020 Please file a new issue that follows our issue template, including the code where you're using the component. This isn't really enough information to investigate.

[2016-08-04 16:22] #945 closed

[2016-08-04 16:22] #942 closed

[2016-08-04 20:29] HeavenlyHost opened #947 "Add support for `color` attribute to checkbox"
#### Bug, feature request, or proposal:
How do I bind the color of the checkbox widget, it does not appear to work and is stuck on accent color ?

#### What is the expected behavior?
to be able to bind the color property to the something in the parent component

#### What is the current behavior?
stuck on accent color

#### What are the steps to reproduce?
try and bind the color to something other

[2016-08-05 09:15] DevVersion commented on #946
This should be part of #45

[2016-08-05 09:41] Etitrane opened #949 "Does my material/core is broke ? No OverlayContainer"
#### Bug, feature request, or proposal:

I try to use the menu component but i can't import the "OverlayContainer" from material/core
I checked the content of my material/core and it is different from the one i see on the git page.

I used the following line to install my material/core:
npm install --save @angular2-material/core

I already use other components such as sidenav, toolbar etc.. everyt

[2016-08-05 13:13] Daeluse commented on #949
I might be wrong, but I believe the current NPM release of this repository is quite a few commits behind. As such, many of the modules, such as '@angular2-material/menu' are not yet available from npm. You have the option to compile a release from your self by downloading the src from this repository, and passing the source files into your application.

[2016-08-05 13:32] fxck commented on #710
+1 !

I'd really appreciate something similar to angular weekly meeting notes, to give us a weekly update on what's actually going on.

[2016-08-05 19:02] adrm commented on #935
As per material design spec, cards do not flip: https://material.google.com/components/cards.html#cards-behavior

So I don't think that behavior will be ever implemented here.

[2016-08-05 22:49] teleaziz commented on #949
+1, I had to lock the version to 2.0.0-alpha.6 to make it work

[2016-08-06 00:03] paralin commented on #949
When is another release going to come out?

[2016-08-06 00:33] qdouble opened #951 "bug(md-raised-button) causes mdl css table not to render properly when scrolling past view height"
Using fullscreen sidenav, raised button and an mdl css table, the table won't render properly when you scroll past the view height: http://plnkr.co/edit/9K7MYS7KnthNPD2NZ6dO?p=preview....

If you have the exact same thing using md-button or md-slide-toggle instead of md-raised-button, the table renders fine when you scroll down: http://plnkr.co/edit/L8gvvsxVX7IVyOiAqveC?p=preview.

I have no idea

[2016-08-06 00:50] qdouble commented on #951
This error also exists with md-checkbox: http://plnkr.co/edit/LlBhRUjMw42gLoMYyx5r?p=preview

So md-button and md-slide-toggle work fine, but md-checkbox and md-raised-button show this behavior.

[2016-08-06 10:12] HeavenlyHost opened #952 "Material needs to support Secondary color"
#### Bug, feature request, or proposal:
According to Google material design spec there is room for a secondary color, in addition to primary, warning and accent... Is it possible for this to be implemented across all components

[Material Design Spec](https://material.google.com/style/color.html#color-color-schemes)

#### What is the expected behavior?
new secondary color to be made available acro

[2016-08-06 10:21] HeavenlyHost opened #953 "Need support on how to implement custom theme for material"
#### Bug, feature request, or proposal:
This is more a cry for help, can I see an example of how to implement setup my project to use a different material theme other than the default one ? No sure how to make this work across all my components

#### What is the expected behavior?
n/a

#### What is the current behavior?
n/a

#### What are the steps to reproduce?
n/a

Providing a Plunker (or simila

[2016-08-06 11:47] udos86 opened #954 "alpha.6-3 broken"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
SystemJS / Webpack loading Angular 2 Material properly

#### What is the current behavior?

When updating to  alpha.6-3, SystemJS / Webpack fails loading Angular 2 Material with the following error:
[code]

Karma / PhantomJS also stop executing with the following error prompt:
[code]

#### What are the steps to reprod

[2016-08-07 05:13] PrabhBaath commented on #954
+1

[2016-08-07 11:55] dreday966 commented on #954
I met this issue,too.

[2016-08-07 12:02] fxck commented on #953
there's not any way at the moment, what you could do is modify these https://github.com/angular/material2/blob/master/src/core/style/_default-theme.scss#L9 and create your own build

[2016-08-07 12:13] fxck commented on #949
I'm only guessing, since giving the community updates on what's going isn't really a thing in this project. But I think they won't release until

a) angular2 rc.5 is out, because `@NgModules`
b) dialog is done, since it's already in master, but it's at the moment missing backdrop and docs, and none was working on those, because the guy assigned was working on porting all other components to NgModu

[2016-08-07 19:35] bgauvey commented on #954
ditto. Same error

Using webpack instead of SystemJS.

[2016-08-07 22:21] tsm91 opened #955 "Ripple effect directive"
Here is a css framework agnostic ripple effect directive: https://www.npmjs.com/package/ng2-ripple-directive

I personally use this for bootstrap buttons, but i think you can implement this or a modded version to material2.

I originally wanted to take out the logic from material2 so i thought i'll write about it.

@jelbourn @kara

[2016-08-08 10:24] fxck opened #957 "bug(tabs) "dynamic" content disappears when clicking thru tabs"
#### Bug:
Dynamic content(bindings, child components) is rendered only on the first load, when you click on another tab, content never renders there and when you click back to the initial tab, it's gone as well.

#### What are the steps to reproduce?
http://plnkr.co/edit/cnLk1AuEJzfrG5agxIJe?p=preview

click on `Bar` and then back on `Foo` tab.

#### Which versions of Angular, Material, OS, browse

[2016-08-08 10:33] bastienlemaitre opened #958 "Possibility to add "dialog" with the NPM packages ?"
Hi,
It's possible to add dialog to the npm package please ?
Thanks !

[2016-08-08 11:37] vapits commented on #958
This is something that is really needed (among others) but I think the issue here is not the dialog itself but a better releases strategy as a number of fixes and new features is merged on master but it is impossible to get to your project.

Let's hope team will think about this as soon as possible/

[2016-08-08 11:44] fxck commented on #958
It's not on npm yet and I don't think it's really finished either, it's still more of a skeleton.

[2016-08-08 15:10] RicardoVaranda commented on #695
Hey guys, has this issue been addressed yet. I'm still getting it on alpha 6

[2016-08-08 15:22] RicardoVaranda commented on #574
Here you go mate:

http://plnkr.co/edit/p2L5mWEGYTi1RCnLpoj5?p=preview

[2016-08-08 15:47] RicardoVaranda commented on #574
It's been fixed, Update just required @angular/forms which was not met and caused the upgrade to fail and I missed it.

Thanks :)

[2016-08-08 16:23] jelbourn commented on #958
Indeed- dialog is still in-progress and will be released when it is closer a complete initial version.

[2016-08-08 16:23] #958 closed

[2016-08-08 16:25] jelbourn commented on #954
alpha.6-3 is published under the `@experimental` label on npm. Only the `@latest` label represents our current release.

[2016-08-08 16:25] #954 closed

[2016-08-08 16:28] jelbourn commented on #955
@tsm91 Not sure I understand what you mean. [We already have a ripple implementation](https://github.com/angular/material2/blob/master/src/core/ripple/ripple.ts) that was built with guidance from the Material Design UX team as to be perfectly on-specification.

[2016-08-08 16:28] #955 closed

[2016-08-08 16:29] jelbourn commented on #953
See #123

[2016-08-08 16:29] #953 closed

[2016-08-08 16:30] jelbourn commented on #952
See #123

[2016-08-08 16:30] #952 closed

[2016-08-08 16:32] jelbourn commented on #949
@fxck Astute observations :)

@Etitrane indeed menu is not released not; it is still a work in progress. Same goes for dialog. An alpha.7 will be released very soon with the slider, some ripples, button-toggles, and NgModule support.

[2016-08-08 16:32] #949 closed

[2016-08-08 18:37] jkyoutsey opened #959 "npm install alpha 6-2 with RC 4 fails on peer dependencies"
#### Bug, feature request, or proposal:
Alpha 6-2 requires Angular2 RC3's forms ^0.1.0.  But RC4 requires 0.2.0.  The caret will only match on 0.1.*, not 0.2.*.

#### What is the expected behavior?
Should be able to install with @angular/forms@0.2.0 and work correctly with RC4

#### What is the current behavior?
[code]

#### What are the steps to reproduce?
Install ng2 RC 4
Try to install @angular

[2016-08-08 23:16] #791 closed

[2016-08-08 23:30] Daeluse commented on #959
Those should be Warnings, not Errors. Ensure npm is updated to the latest version ~3.10.5

[2016-08-09 02:41] dreday966 commented on #954
I am on alpha.6-2,and I got also met this issue.

[2016-08-09 03:23] qdouble opened #963 "bug alpha 6-3 - url_resolver.js:238Uncaught TypeError: uri.match is not a function, when using latest compiler-builds"
Building a project with alpha 6-3 and the latest compiler build using ngModules seems to crash when you use materials modules. This commit to the compiler broke it: https://github.com/angular/angular/commit/83e2d3d1cb62660bdbb06353edc2e063fc3e56d0

On line 238 of url_resolver.js, if you change
[code]
to
[code]
it will work, as it appears that the material modules are exporting numbers instead of s

[2016-08-09 09:40] fxck opened #964 "(portal) use cases"
It's not quite clear to me from the docs whether portal can do this(and how):

I have a component, `<modal>`, with `@Input` for the state and `@Output` for close event. Now I add this component in a nested route component, so the path is..

..and I would like the modal to be rendered inside `app` while still getting it's inputs from and emiting events to`someotherroute`.

Can portal do that?

[2016-08-09 10:06] RoxKilly opened #965 "[checkbox][radio-group] Change detection broken when model is altered in Observable.subscribe() post-binding"
This is a bug report. `Angular 2 rc 4` with `material2 alpha 6`

Change detection for `md-checkbox` behaves unexpectedly when it occurs as a result of another observable emitting. Rather than try to explain, let me just show.  Take a [look at this plunker](http://plnkr.co/edit/JAMVOSzbIFAtMj1dK07T?p=preview).

You can switch back and forth between ng2-material and native checkbox with the `Switch

[2016-08-09 11:24] a5hik commented on #954
same here with 6-3

[2016-08-09 13:45] sunshineo opened #966 "md-input not working with ngFormControl"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-input works with ngFormControl

#### What is the current behavior?
Error: No value accessor for ''

#### What are the steps to reproduce?
I had a input
[code]
worked fine until I upgrade. It still works after upgrade but the look is wrong. Now I need to change to <md-input></md-input>, but then I got the error.

[2016-08-09 15:39] bennycooly opened #967 "md-button has a relative import for ripple"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-button should compile

#### What is the current behavior?
The compiler fails due to the module "../../core/ripple" not being found.

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06d

[2016-08-09 15:47] kara commented on #966
Alpha.6 and onward uses the new forms API. ngFormControl is part of the deprecated API, which is only supported in versions alpha.5 and before.  If you want to stick with the deprecated forms API, you'll have to downgrade to alpha.5.  I'd suggest upgrading to the new forms API instead though.

[2016-08-09 15:47] #966 closed

[2016-08-09 17:00] sunshineo commented on #966
Thank you @kara !

[2016-08-09 17:21] kurtommy commented on #954
@jelbourn I'm trying to use md-menu. After `npm i -S @angular2-material/menu@2.0.0-alpha.6`
[code]
but if i upgrade `@angular2-material` to `@2.0.0-alpha.6-3` I get the error mentioned above.
There is an `md-menu` compatible with `@angular2-material/core@2.0.0-alpha.6` ?

[2016-08-09 17:23] sunshineo commented on #966
However, I cannot figure out how to do debounce anymore
http://stackoverflow.com/questions/32051273/angular2-and-debounce

[2016-08-09 20:40] briankoech commented on #954
I get this error trying to use `md-input` .

[2016-08-09 20:43] jelbourn commented on #954
alpha.7 is released now.

alpha.6-2 and alpha.6-3 were never published under the `@latest` tag on npm, only the `@experimental` tag.

[2016-08-09 20:44] jelbourn commented on #967
Already fixed.

[2016-08-09 20:44] #967 closed

[2016-08-09 20:45] BenevidesLecontes opened #972 "Weird ripple effect"
#### Bug, feature request, or proposal:

[x] Bug
#### What is the expected behavior?
Expecting ripple effect on buttons

#### What is the current behavior?
On click ripple effect makes my button wide and ripple color appears like in image below

<img width="835" alt="screen shot 2016-08-09 at 17 36 47" src="https://cloud.githubusercontent.com/assets/1839361/17532698/36d3eeb8-5e58-11e6-8d3a-bf08c1a

[2016-08-09 20:51] jelbourn commented on #964
For now we consider `Portal` to be an internal API, which is why it doesn't have any real docs. It will someday graduate to a standalone supported thing once we build more stuff on top of it to validate that the concept is sound.

The gist is that a portal is a wrapper around a component or a `TemplateRef` that you can pass around to render wherever you want (in a `PortalHost`). It sounds like it

[2016-08-09 20:51] #964 closed

[2016-08-09 20:52] jelbourn commented on #972
@BenevidesLecontes can you reproduce the issue in a pluker or similar? I don't follow on your steps to reproduce.

[2016-08-09 20:56] FabioCZ opened #973 "Template Parse errors: Can't bind to md-ripple-trigger/md-ripple-color"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
md-button directive should work

#### What is the current behavior?
After updating to alpha 7, I get this error when loading my angular 2 application:
[code]

#### What are the steps to reproduce?

https://gist.github.com/FabioCZ/7578c4cbebdd23d6f38f62c2f1fc9e13

#### What is the use-case or motivation for changing an

[2016-08-09 21:11] BenevidesLecontes commented on #972
@jelbourn git escaping the html, i update with what i'm using to make this ripple showing like this. And i'll try to make the plunker work with rc5, after that i'll try to update with plunker.

[2016-08-09 21:16] jelbourn commented on #972
cc @dozingcat

[2016-08-09 21:17] jelbourn commented on #973
@FabioCZ if you're not changing to `NgModule`s right away, then you need to also include `MD_RIPPLE_DIRECTIVES` from core in your `directives` list.

[2016-08-09 21:17] #973 closed

[2016-08-09 21:20] jelbourn commented on #959
alpha.6-2 was only an `@experimental` release, not a `@latest` release. alpha.7 is released now.

[2016-08-09 21:20] #959 closed

[2016-08-09 21:22] dozingcat commented on #972
md-button uses the ripple effect by default; you don't need to (and shouldn't) add a md-ripple attribute. You can set the disableRipple property to true to disable the ripple.

[2016-08-09 21:24] esinek commented on #118
@jelbourn when do you anticipate the design doc being ready? It's not yet up in the [Design doc directory](https://github.com/angular/material2/wiki/Design-doc-directory). Since you'll support multi-select (mentioned [here](https://github.com/angular/material2/issues/509)), will you also support searching the list (i.e. filtering down the list) in the case of very large lists - to facilitate findi

[2016-08-09 21:25] BenevidesLecontes commented on #972
@dozingcat but if i don't use the attribute i can't change the ripple color, i need to disable it and then use the atribute to set the color?

[2016-08-09 21:26] jelbourn commented on #963
I don't think this is an issue with the released alpha.7. Feel free to re-file if you're still running into a problem.

[2016-08-09 21:26] #963 closed

[2016-08-09 21:30] BenevidesLecontes commented on #972
@jelbourn @dozingcat also md-ripple is creating scroll on my page after several clicks. I think this the cause.
<img width="907" alt="screen shot 2016-08-09 at 18 28 40" src="https://cloud.githubusercontent.com/assets/1839361/17534374/429c5436-5e5f-11e6-87e2-215bb0f140c2.png">

[2016-08-09 21:40] qdouble opened #974 "bug(rc5 and alpha7)url_resolver.js:238Uncaught TypeError: uri.match is not a function"
I'm refiling for this issue: https://github.com/angular/material2/issues/963 as it was not resolved in alpha 7. I've tested it on two fresh seed projects and the error still occurs, so it should be a common problem with Webpack at least, not sure if this shows up in a SystemJS build or not.

[2016-08-09 21:44] FoodBuster commented on #974
I second this. Having the same problem, using the new angular-cli webpack release.

[2016-08-09 21:46] sunshineo opened #975 "md-input should support debounce"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
md-input has a field that can be used to set a delay before trigger change event

#### What is the current behavior?
No such field and work around http://stackoverflow.com/questions/32051273/angular2-and-debounce no longer works because of reasons described in https://github.com/angular/material2/issues/966

Than

[2016-08-09 22:01] FabioCZ commented on #973
@jelbourn thanks, got it to work

[2016-08-09 22:25] dozingcat commented on #972
If you get the Plunker set up I can take a look. There's currently not a supported way to change the ripple color on md-buttons. Disabling the existing ripple and adding your own might be a workaround, but that's not the intended use.

[2016-08-09 22:52] naveedahmed1 opened #977 "Slide Toggle Doesn't Seem to be working in Alpha 7 Error: Cannot find name 'HammerInput'"
HI,

I just upgraded to Alpha 7 and after upgrade Slide Toggle seems to be broken.

When I compile my project in Visual Studio 2015 I receive the below errors:

[code]

Apparently it seems that the below line is causing the problem in slide-toggle.d.ts:

`_onDrag(event: HammerInput): void;`

[2016-08-09 23:03] DevVersion commented on #977
I guess you didn't install the typings for `HammerJS`?

`typings i dt~hammerjs --global --save`

[2016-08-09 23:44] BenevidesLecontes commented on #972
@dozingcat any plunker with material alpha 7 and rc5 to fork? I Forked from here, but i can't make it work.

[2016-08-09 23:47] naveedahmed1 opened #978 "Tabs throw errors with Alpha 7 Angular RC 5"
Hi,

After upgrading to Angular 2 RC 5 and Material 2 Alpha 5, the components using tabs through the below errors on browser console (though there aren't any compilation errors when compiling in VS 2015):

[code]

[2016-08-10 02:28] maryamsoprano opened #979 "tooltip"
I try to implement md-tooltip for showing description whenever I hover on a Icon. But I don't know why it does'nt work and it does'nt show any message. I also tried the sample one in angular2/material.tooltip , but same problem. My code is as bellow:

<button

       md-raised-button

        color="primary"

       md-tooltip="to see a tooltip"

        tooltip-position="below">

      Mouse over

[2016-08-10 03:59] qdouble commented on #974
This seems to be related to the moduleId how it's dealing with the moduleId, if you comment out the moduleId of the components, they compile without error.

[2016-08-10 04:44] qdouble commented on #974
It appears this pull request will pull this issue https://github.com/angular/angular/pull/10595/commits/f54f9efc0e70eb1c71ac8eb6a8ed690f1e7f09f9. You guys can close this if you want to as it appears to be an angular compiler issue and not specific to material

[2016-08-10 05:47] maryamsoprano opened #980 "Evaluating tooltip error"
I have installed @angular2-material/tooltips now. and when I wanted to import and use it in my componnent I got following error

Error: (SystemJS) MdTooltipModule<@http://localhost:3000/node_modules/@angular2-material/tooltip/tooltip.js:205:1
	@http://localhost:3000/node_modules/@angular2-material/tooltip/tooltip.js:201:24
	@http://localhost:3000/node_modules/@angular2-material/tooltip/tooltip.js:

[2016-08-10 06:38] sunshineo commented on #972
+1
I'm experiencing exactly the same thing.

[2016-08-10 07:02] fernandogomesdf commented on #972
I think the folowing error is something related, after upgranding alpha.7 and angular rc.5 : Can't bind to 'md-ripple-trigger' since it isn't a known property of 'div'. ("*ngIf="isRippleEnabled()" class="md-button-ripple" [class.md-button-ripple-round]="isRoundButton()" [ERROR ->][md-ripple-trigger]="getHostElement()" [md-ripple-color]="isRoundButton() ? 'rgba(255, 255, 255, 0.2)"): MdButton@0:180

[2016-08-10 07:10] FoodBuster commented on #974
qdouble, that pull request does fix the "TypeError: uri.match is not a function" problem, but gives me a BaseException error with the following message:

`Template parse errors:↵Can't bind to 'md-ripple-trigger' since it isn't a known property of 'div'. ("*ngIf="isRippleEnabled()" class="md-button-ripple" [class.md-button-ripple-round]="isRoundButton()" [ERROR ->][md-ripple-trigger]="getHostElemen

[2016-08-10 07:16] qdouble commented on #974
@FoodBuster that's an unrelated error, it saying 'md-ripple-trigger' isn't defined on the MdButton directive/component.

[2016-08-10 07:31] valentinlup commented on #753
+1

[2016-08-10 07:34] FoodBuster commented on #974
@qdouble Thanks, got it working.

[2016-08-10 07:48] FoodBuster commented on #978
@naveedahmed1  If you're not using ngModules right now (i.e., if you're including directives in component files), try including "PORTAL_DIRECTIVES" from material/core in your component's directives list. Worked for me.

[2016-08-10 07:50] sunshineo opened #981 "What is the right way to make responsive layout?"
#### Bug, feature request, or proposal:
Question

#### What is the expected behavior?
I have a bunch of md-card under md-content. I used to use ng2-material
[code]
They used to have multiple cards on one row when screen is wide because of the flex settings. Now I changed to use angular2-material directly, these flex settings no longer works.

How should I manage the responsive layouts now? Thank y

[2016-08-10 08:30] biiiipy commented on #978
@FoodBuster thanks for the tip! It's still a bug imho.
Also got this error:
[code]

[2016-08-10 08:35] BobBDE commented on #979
Hello,

Did you import the directive in the component?

[2016-08-10 08:42] vapits opened #982 "md-card NgModule is not a function"
#### Bug, feature request, or proposal:
Bug (?)
Version: `@angular2-material/card": "^2.0.0-alpha.7`
Angular version: RC4 (but tested with RC5 also)

Case is is simple from angular2-material options card is the one that simply cannot work in my case. It is install and accessible through systemJs and the usage is this:

Component:
[code]

Template (well even if there is no template the issue is the

[2016-08-10 09:45] xinfangke commented on #982
I met this issue,too.

[2016-08-10 09:46] vapits commented on #982
@xinfangke you solved it somehow though?

[2016-08-10 10:07] xinfangke commented on #982
@vapits  package.json

`
    "@angular/common": "2.0.0-rc.5",
    "@angular/compiler": "2.0.0-rc.5",
    "@angular/core": "2.0.0-rc.5",
    "@angular/forms": "0.3.0",
    "@angular/http": "2.0.0-rc.5",
    "@angular/platform-browser": "2.0.0-rc.5",
    "@angular/platform-browser-dynamic": "2.0.0-rc.5",
    "@angular/router": "3.0.0-rc.1",
`

[2016-08-10 10:13] vapits commented on #982
Yes I did it also and still wrong.

[2016-08-10 10:17] maryamsoprano commented on #979
Thanks for your response.
I imported @angular2-material/tooltip into my component and also add it into directive.
Tooltip version is 2.0.0alpha7 , and other components of angular2-material are in version alpha6 ( they are defined in package. Json)
Do you think integration of tooltips with other material components can cause problem?

[2016-08-10 10:46] jimitndiaye commented on #749
@zigzag95 Out of curiousity, which date picker is that? I thought the material date picker hadn't been implemented yet. Looks alot like material-ui's datepicker.

[2016-08-10 10:54] adrm commented on #977
Install hammerjs and its typings. With alpha7, angular2 rc5, typescript 2.0 and webpack (through angular-cli) this worked for me:

[code]

And then `import 'hammerjs'` in your main component.

[2016-08-10 12:07] colinfang commented on #972
@fernandogomesdf  I encountered this error as well, but it disappeared as soon as I import `MdButtonModule` instead of using directives.

[2016-08-10 12:38] RoxKilly commented on #975
This can be accomplished easily by making the function that receive changes return an observable.  The code below works on `alpha 6`:

**HTML**
[code]
**Class (Typescript)**
[code]

Every time a `keyup` occurs, if `debounce` milliseconds have passed since the last keyup, `inputChanges` will emit the current value in the input

[2016-08-10 12:42] colinfang commented on #972
I have got the same problem.

Each click of the bottom inserts a

[code]

Into my html, and it keeps stacking and never goes away.

[2016-08-10 13:15] zigzag95 commented on #749
@jimitndiaye https://github.com/zigzag95/DatePicker

[2016-08-10 13:20] andregs opened #983 "Menu appears after md-card instead of over it."
Hi, guys!

In my opinion, this menu should appear over the `md-card`, just below the trigger button, right?

[code]

![image](https://cloud.githubusercontent.com/assets/712092/17554806/19a08e24-5ee3-11e6-9da6-8a8a49e8b647.png)

I'm using Angular 2.0.0-rc.5 and material 2.0.0-alpha.7 on both Chrome and Edge.

[2016-08-10 13:54] ivoviz commented on #972
@dozingcat [Here](http://plnkr.co/edit/bbiUbA489wYtzkqKjS7y?p=preview) is a plunker with RC.5 and alpha.7 to demonstrate the issue. Just press the button a couple of times and you'll see the vertical scrollbar appears. As said by @colinfang above, every time you press the button those divs stack up.

[2016-08-10 13:59] bennycooly commented on #982
Did you try just using the git version of angular? Look at Material's package.json and try using the same git package version.

[2016-08-10 14:01] bennycooly commented on #981
Check out [md-grid-list](https://github.com/angular/material2/tree/master/src/components/grid-list). You can arrange each md-card inside an md-grid-tile.

[2016-08-10 14:02] vapits commented on #982
@bennycooly I'm not sure what you mean/ Same version of card and core for example? Or you mean something else?

[2016-08-10 14:08] apimobi opened #985 "update for angular rc5"
#### Bug
UNMET PEER DEPENDENCY @angular/common@2.0.0-rc.5
UNMET PEER DEPENDENCY @angular/compiler@2.0.0-rc.5
UNMET PEER DEPENDENCY @angular/core@2.0.0-rc.5

I can't install with npm with angular rc5
Please update the package.json to allow it

[2016-08-10 14:11] bennycooly commented on #982
Ah okay nevermind...when I checked yesterday Material was still using the git version of Angular but I see that they published RC5 now. I was compiling manually but I'll try using Material Alpha7 and Angular RC5.

[2016-08-10 14:17] michaelwarren1106 commented on #205
what's the implementation plan for typography? Are you guys planning on making this be a web component, or basically a stylesheet that will need to be imported/required into app components individually?

I've been debating the "proper" approach to typography and how best to componentize re-usable styles that generally are "global" in nature but dont really need a web component to be executed.

If

[2016-08-10 14:19] vapits commented on #982
Sure. If you manage to solve this please share your experience plz.

[2016-08-10 14:20] BenevidesLecontes commented on #972
@dozingcat @ivoviz and also notice in this plunker, no ripple effect after all.

[2016-08-10 14:24] jelbourn commented on #205
Current thinking is to have an `@angular2-material/typography` package that includes a css file that you can drop into a `<link>` element in your index.html (or concat into other css files with your own build). We haven't finalized on this approach yet, though.

[2016-08-10 14:25] dozingcat commented on #972
The problem may be that the ripples depend on styles in core.css, which needs to be included in the page (for example https://github.com/angular/material2/blob/master/src/demo-app/index.html#L17 in the demo app). @jelbourn was there going to be a way to automatically include this?

[2016-08-10 14:25] bennycooly commented on #982
Look at the [breaking changes](https://github.com/angular/angular/blob/master/CHANGELOG.md) for RC5, especially under "Bootstrapping". Once you refactor your main.ts and app.component.ts to use NgModule, it should work.

[2016-08-10 14:29] michaelwarren1106 commented on #205
with shadomDOM coming, and native in angular2, will that approach work? I've done a little bit of testing and it seems that this approach wont work since styles in the parent page wont bleed into a shadowDOM component...

[2016-08-10 14:38] ivoviz commented on #972
@dozingcat Indeed, I can confirm that adding core.css solves every problem, although it would be nice to have it automatically included somehow.

[2016-08-10 16:22] kara commented on #983
@andregs It looks like your markup might not be right.  The menu trigger expects an MdMenu instance, not the element.   When you use `#menu` alone, you're just linking to the element.  Can you try the following?

[code]

[2016-08-10 16:24] Avareto commented on #979
I can confirm this issue. If you hover over a button with the above tooltip definition for the first time, the chrome debugger console throws out the following warning:
`ComponentResolver is deprecated for dynamic compilation. Use ComponentFactoryResolver together with @NgModule/@Component.entryComponents or ANALYZE_FOR_ENTRY_COMPONENTS provider instead. For runtime compile only, you can also use

[2016-08-10 16:38] andregs commented on #983
Thanks for the explanation but the issue still persists.

[2016-08-10 16:46] zigzag95 commented on #983
Look if you have an overlay div at the end of body

[2016-08-10 16:58] kara commented on #983
I can't seem to reproduce this.  Can you verify that you're following the instructions in the [README](https://github.com/angular/material2/tree/master/src/components/menu) and there are no errors in the console?  An example plunker would expedite this.

<img width="334" alt="screen shot 2016-08-10 at 9 56 21 am" src="https://cloud.githubusercontent.com/assets/3871688/17562725/ecb72ea6-5ee0-11e6-8

[2016-08-10 17:05] jelbourn commented on #985
All of our versions have been updated to RC5. This is likely an issue with your environment.

[2016-08-10 17:05] #985 closed

[2016-08-10 17:07] jelbourn commented on #982
Closing as this should all be fine in alpha.7

[2016-08-10 17:07] #982 closed

[2016-08-10 17:08] vapits commented on #982
@jelbourn it is not working in alpha.7

[2016-08-10 17:08] jelbourn commented on #981
GitHub issues are only for bugs, feature requests, and proposals. Please direct questions to mailing lists, StackOverflow, gitter, etc.

[2016-08-10 17:08] #981 closed

[2016-08-10 17:11] jelbourn commented on #980
If the other components are loading correctly, this is likely a problem in the configuration of your module loader (SystemJS).

[2016-08-10 17:11] #980 closed

[2016-08-10 17:12] jelbourn commented on #978
@naveedahmed1 Until you switch over to NgModules, you'll need to include `MD_TABS_DIRECTIVES`, `TABS_INTERNAL_DIRECTIVES` and `PORTAL_DIRECTIVES` in the directives list.

[2016-08-10 17:12] #978 closed

[2016-08-10 17:26] jelbourn commented on #982
Try blowing away your node_modules. It sounds like your `@angular` is stale.

[2016-08-10 17:28] jelbourn commented on #977
@naveedahmed1 installing the typings for HammerJS should resolve this.

[2016-08-10 17:28] #977 closed

[2016-08-10 17:34] jelbourn commented on #979
@maryamsoprano if you're still having the issue you described in https://github.com/angular/material2/issues/980, then you're not successfully loading tooltip.js, which means the tooltip code is not present.

@Avareto that warning is just from a deprecated API, but shouldn't cause any problems (angular core has been deprecating them faster than we can replace them...). Do you have any other inform

[2016-08-10 17:36] jelbourn commented on #975
The normal approach is to use a debounced handler function, not to rate limit the actual source of events.

[2016-08-10 17:36] #975 closed

[2016-08-10 17:47] naveedahmed1 commented on #977
Thank you everyone installing typings through command:

`npm install --save hammerjs @types/hammerjs `

and then importing it in main file solved the issue.:

`/// <reference path="../typings/globals/hammerjs/index.d.ts" />`

[2016-08-10 18:12] andregs commented on #983
I couldn't create a working plunker, but I created this tiny project so you can reproduce the issue:

[menu-issue.zip](https://github.com/angular/material2/files/411793/menu-issue.zip)

Just type `npm install && npm run dev` to start the server and browse to `localhost:3000`

[2016-08-10 18:21] #974 closed

[2016-08-10 18:40] jelbourn commented on #974
I have released an `alpha.7-2` that _should_ fix this.

[2016-08-10 19:00] sunshineo commented on #981
@jelbourn Thank you. It could be that the flex support was broken though, right? ;)

[2016-08-10 19:00] sunshineo commented on #981
And specially thank you @bennycooly

[2016-08-10 19:04] sunshineo commented on #975
Thank you @RoxKilly for the solution. Thank you @jelbourn for the design insight!

[2016-08-10 19:35] BenevidesLecontes commented on #972
@ivoviz adding core.css solved the scroll problem?

[2016-08-10 19:38] ivoviz commented on #972
@BenevidesLecontes Yes it did for me.

[2016-08-10 20:52] vapits commented on #982
I thought that was it at first place but it is not. alpha.7 (card or tabs or anything) is simply not working neither on RC4 or RC5.

[2016-08-10 21:42] robertmesserle commented on #957
@fxck Can you confirm if this can be recreated with the latest version of Angular and Angular Material?  I am not able to recreate this issue with the latest code.

[2016-08-10 22:07] ivoviz commented on #983
@andregs Although I haven't checked your code, I had a very similar issue. In my case I had to manually load `core/overlay/overlay.css`, otherwise every single element that used overlay was positioned way off, just like in your case. I might just overlooked it, but it should either be mentioned in the docs or make it load automatically somehow. Similar issue to #972 imo.

[2016-08-10 22:12] jessedhillon opened #988 "ConnectedOverlayDirective.positions is not assignable?"
#### Bug, feature request, or proposal:
See this commit https://github.com/jessedhillon/material2/commit/eedd965ed5fd6ed46436374a74b1971daad50582

The `positions` attribute on a `connected-overlay` element is ignored.

#### What is the expected behavior?

When the `positions` attribute is set on an element with `[connected-overlay]` the component should use those `ConnectedPositionPair` instances.

[2016-08-10 22:27] andregs commented on #983
I was facing #972 too - thanks for your tip! To sum up:
- Loading `core/style/core.css` solves the ripple problem in #972.
- Loading `core/overlay/overlay.css` solves this menu issue.

[2016-08-10 22:43] maryamsoprano commented on #979
Hi ,
Let me describe all the steps
First I installed @angular2-material/tooltip, and added "@angular2-material/tooltip": "^2.0.0-alpha.7", in my package.json. run npm install @angular2-material/tooltip.

second, This component  is added into systemjs.config.js.
third,I started importing tooltip:

import {MD_TOOLTIP_DIRECTIVES} from '@angular2-material/tooltip';
@Component({

  selector: 'contacts'

[2016-08-10 22:51] maryamsoprano commented on #979
When I changed the version of @angular/core into "2.0.0-rc.4" instead of "2.0.0-rc.5" ,description of error has changed:
Error: (SystemJS) @http://localhost:3000/node_modules/@angular/compiler/src/schema/dom_security_schema.js:29:1
	@http://localhost:3000/node_modules/@angular/compiler/src/schema/dom_security_schema.js:1:1
	@http://localhost:3000/node_modules/@angular/compiler/src/schema/dom_secur

[2016-08-10 22:53] kara opened #989 "Add overlay.css to menu README"
Currently the menu README is missing a vital step: adding the overlay stylesheet that powers the positioning (overlay.css).

See https://github.com/angular/material2/issues/983

[2016-08-10 22:53] kara commented on #983
Ah, we forgot to include that in the README.   Added an issue to update the docs, but it doesn't look like a bug, so I'm closing this one:

https://github.com/angular/material2/issues/989

[2016-08-10 22:53] #983 closed

[2016-08-10 22:54] Avareto commented on #979
I just saw that you updated your demo https://github.com/jelbourn/material2-app to rc.5. Did you add a tooltip sample there?
I did the update for myself locally and everything worked as before in rc.4. Than I added at new rc.5 features which worked, but tooltips didn't.

[2016-08-10 23:02] meritor opened #990 "Looks like compatibility issue with Angular to 2.0.0-rc.5"
#### Bug, feature request, or proposal:
Not sure, whether to call this a bug or feature request, as there is no mention of angular 2 version compatibility with 2.0.0-alpha.7-2 in material documents.
Actually, not sure whether the issue belongs here or should I raise this with Angular2 to keep the RC release backward compatible.

#### What is the expected behavior?
angular material component should

[2016-08-10 23:46] jelbourn commented on #982
I've updated my [material2-app](https://github.com/jelbourn/material2-app) to use alpha.7 and RC5 with everything working. Looking at that might help debug your issue.

[2016-08-10 23:52] clydin commented on #989
It might also be useful to add a `style` field to the core's `package.json` which points to a top-level stylesheet.

[2016-08-10 23:55] jelbourn commented on #979
I was actually updating material2-app so that I could debug this issue. I figured out that the problem is that the overlay styles aren't being included in the app. In the short term, you can simply add a `<link>` element for `core/overlay/overlay.css`. In the next release we'll have something like a `angular-material-core.css` in the package root and instructions on including it.

[2016-08-10 23:55] #979 closed

[2016-08-11 00:02] maryamsoprano commented on #979
Hi jelbourn,

What do you think about integration o tooltip and other angualr2-material componnets? Is these kind of errors related to version in package file?

[2016-08-11 00:08] jelbourn commented on #979
@maryamsoprano I think your errors are unrelated to material. Be sure to read up about the [changes in Angular itself for RC5](http://angularjs.blogspot.com/2016/08/angular-2-rc5-ngmodules-lazy-loading.html).

[2016-08-11 00:10] #989 closed

[2016-08-11 01:01] maryamsoprano commented on #979
I followed your demo code,also updated my package file probably. but still has following error.
I can't find exact place of code caused this problems

Error: Uncaught (in promise): Template parse errors:
Can't bind to 'md-ripple-trigger' since it isn't a known property of 'div'. ("*ngIf="isRippleEnabled()" class="md-button-ripple" [class.md-button-ripple-round]="isRoundButton()" [ERROR ->][md-ripp

[2016-08-11 01:13] jelbourn commented on #979
@maryamsoprano  See #973

[2016-08-11 01:19] naveedahmed1 opened #994 "RC 5 Alpha 7 MdCheckboxModule throws error "No value accessor for form control""
Check below Checkbox which was working perfectly with RC 4 and Alpha 6

`<md-checkbox [attr.value]="item.id" [(ngModel)]="item.selected"></md-checkbox>`

is now throwing the below error:

`ORIGINAL EXCEPTION: No value accessor for form control with unspecified name `

[2016-08-11 01:35] jessedhillon commented on #988
I think something else was the issue here, disregard.

[2016-08-11 01:35] #988 closed

[2016-08-11 01:56] Dona278 opened #995 "Proposal: md-expansion-panel"
#### Bug, feature request, or proposal:

Proposal
#### What is the expected behavior?

Required in the first version of angular material and not implemented, a list of expandable panel.
[Specs](https://material.google.com/components/expansion-panels.html)
#### What is the current behavior?

None
#### What is the use-case or motivation for changing an existing behavior?

it's an awesome component f

[2016-08-11 02:36] andvasp commented on #114
Hi @jelbourn!

The basic dialog is working already. However, it is not published in npm. May you publish it?

[2016-08-11 02:58] jimitndiaye commented on #749
@zigzag95 thanks

[2016-08-11 03:53] qdouble opened #996 "using angular builds and getting: ERROR in node_modules/@angular2-material/button/button.d.ts (34,44): error TS2314: Generic type 'Type<T>' requires 1 type argument(s)."
This error is due to the latest commit on the master when using angular builds: https://github.com/angular/angular/commit/b96869afd2bdd3ad8c5b7477da647af628e383aa

On button.d.ts line 34 `export declare const MD_BUTTON_DIRECTIVES: Type[];`

needs to be changed to `Type<any>[]` .

[2016-08-11 04:17] zigzag95 commented on #974
Thanks

[2016-08-11 05:34] inska commented on #990
Reproduced to me

[2016-08-11 07:34] sunshineo commented on #981
Hi @bennycooly , the md-grid-list does not work for me since it is not dynamic/responsive :(

[2016-08-11 07:48] gaborkalmar commented on #990
Same here with rc.5 ,

[2016-08-11 07:52] neclepsio commented on #974
Maybe I'm doing something wrong, but simply upgrading to alpha.7-2 doesn't fix for me.

[2016-08-11 07:53] inska commented on #990
Resolved this problem.. @gaborkalmar and @merito, How did you import material design modules?  Did you import like as below?
`
import { MdButtonModule } from '@angular2-material/button';
import { MdRippleModule } from '@angular2-material/core/ripple/ripple';
`

[2016-08-11 07:58] gaborkalmar commented on #990
I did not import the ripple directive, that was it. Thanks.

[2016-08-11 08:10] merito commented on #990
@inska OP is meritor, not merito. Correct to notify him.

[2016-08-11 08:11] inska commented on #990
@merito Fixed. Sorry to bother you.

[2016-08-11 08:18] fxck commented on #957
Is there a plunker with latest version?

[2016-08-11 08:22] qdouble commented on #974
@neclepsio it's possible another component or 3rd party plugin in your application has a moduleId.

[2016-08-11 08:27] dennis-xlc opened #997 "button will append one <div lass="md-ripple-foreground md-ripple-fade-in" style="..."> when clicked"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?

`<div lass="md-ripple-foreground md-ripple-fade-in" style="...">` will disappeared after clicked

#### What is the current behavior?

`<div lass="md-ripple-foreground md-ripple-fade-in" style="...">` remain at DOM after click

#### What are the steps to reproduce?
1. add one button at the template
`
<button md-icon-b

[2016-08-11 08:40] neclepsio commented on #974
@qdouble I don't think so. I'm just using BrowserModule, FormsModule and several Ms...Module. How can I check? Thank you.

[2016-08-11 08:41] neclepsio commented on #974
@qdouble You were right! My own app.component had a moduleId!

[2016-08-11 09:17] vapits commented on #982
@jelbourn as it is a new clean app it is working for me also.
If I follow exactly the same approach I'm getting as many as my tests error messages when I'm trying to compile the app like:

Serving on http://localhost:4200/
The Broccoli Plugin: [BroccoliTypeScriptCompiler] failed with:
Error: Typescript found the following errors:
  /Projects/WebApp/tmp/broccoli_type_script_compiler-input_base_path

[2016-08-11 09:32] fxck commented on #114
It's missing some pieces @andvasp, like backdrop. It still more of a prototype than anything that could be released.

[2016-08-11 09:54] qdouble commented on #951
This works fine for me in my project now, using RC5 and alpha 7... not sure which versions are on plunker since it still shows the bug. Closing this.

[2016-08-11 09:54] #951 closed

[2016-08-11 10:35] DevVersion commented on #996
This was fixed with https://github.com/angular/material2/commit/97d3ed3b1efbae517d594180b6257a03d786f520

[2016-08-11 10:49] colinfang commented on #997
Dupe of #972

[2016-08-11 11:17] ultrapromedia commented on #997
Confirmed

[2016-08-11 11:44] vapits commented on #982
Never mind, I moved to WebPack and it seems that there things are better. thx.

[2016-08-11 12:07] fxck commented on #964
@jelbourn would you mind creating a simple plunk with something similar to what I described? I tried looking at the dialog code, but there's way too much going on. What I can't quite wrap my head around is how can I make a single `portalHost` pick up any of my `modal` components as I'm navigating around.. or do I need one `portalHost` per component?

[2016-08-11 12:16] fxck opened #998 "(sidenav) elements with `position: fixed` inside `md-sidenav-layout`"
Because of `transform: translate3d(0, 0, 0)` on `md-sidenav-layout` any element with `position: fixed` inside it will act as if it had `position: absolute` or `static` instead. It's an [expected behaviour](http://stackoverflow.com/a/15256339/301596), but it's annoying nevertheless.

Could we either remove that `transform` from `md-sidenav-layout`(it's only there because of performance I suppose),

[2016-08-11 12:54] rbaumi opened #999 "Can't bind to 'md-ripple-trigger' since it isn't a known property of 'div'"
After upgrading Angular to RC5 and @angular/material to alpha.7-2 I get an error when using md-button:

[code]

Does the update require some extra things to be done?

[2016-08-11 12:56] rbaumi commented on #999
Sorry... lokks like duplicate of #990 (somehow I missed that...)

[2016-08-11 12:56] #999 closed

[2016-08-11 14:11] RoxKilly commented on #797
I first noticed and reported this error after the upgrade from `alpha 5` to `alpha 6`.  Now, after upgrading to `alpha 7`, it still occurs during Typescript compilation

[code]

As a workaround:

 - Install `hammerjs` typing.  Add the following to `typings.json`
[code]

 - Run `npm run typings install`

 - If the error persists, add a reference to the typings file in your `main.ts` file (adjust th

[2016-08-11 14:52] Masquetina opened #1000 "Button icon"
Hi,
Today I created a new angular 2 app, using material, with all the latest versions: ang2 RC5 (with this new NgModule) and material components alpha.7-2, and I have this strange behavior... Everything works but, when I click the button on my navbar, this wierd, almost transparent area around that button appears, and it gets larger with every new click, and it is also clickable, like it is a part

[2016-08-11 14:52] fxck commented on #1000
see https://github.com/angular/material2/issues/972 + https://github.com/angular/material2/commit/61027e9a694393d7170ce0ebeb3ca38f54a40aa0

[2016-08-11 15:09] Masquetina commented on #1000
... Adding core.css and/or overlay.css did not solve the problem for me.

[2016-08-11 15:22] pkapare opened #1001 "Can't bind to md-ripple-trigger since it isn't a known property of 'div'"
#### Bug, feature request, or proposal:
After updating to latest version of material2 i.e. 2.0.0-alpha.7-2 I am getting following error. My angular version is 2.0.0-rc.5

"Template parse errors:↵Can't bind to 'md-ripple-trigger' since it isn't a known property of 'div'. ("*ngIf="isRippleEnabled()" class="md-button-ripple" [class.md-button-ripple-round]="isRoundButton()" [ERROR ->][md-ripple-trigge

[2016-08-11 15:28] Masquetina commented on #1000
My bad, core.css did solve it. ... I made typo in `<link... core.css" >`
It's OK now.
Tnx @fxck

[2016-08-11 16:08] qdouble commented on #996
okay, thanks.

[2016-08-11 16:08] #996 closed

[2016-08-11 16:23] BenevidesLecontes commented on #972
This Ripple effect doesn't seem reasonable, I can't even seen the effect on dark background.

[2016-08-11 16:40] jelbourn commented on #990
See #973

[2016-08-11 16:40] #990 closed

[2016-08-11 16:40] jelbourn commented on #1001
See #973

[2016-08-11 16:40] #1001 closed

[2016-08-11 16:42] #1000 closed

[2016-08-11 16:59] gregbown opened #1003 "removing module.id does not resolve issues in Webpack builds"
I believe the fix that resolved all errors stemming from module.id  with Angular 2 rc5 in webpack builds is this fix to metadata_resolver
https://github.com/angular/angular/pull/10595/commits/f54f9efc0e70eb1c71ac8eb6a8ed690f1e7f09f9

Removing moduleId from md-input breaks functionality for all material 2 components in webpack (unsure about other build processes) when using attributes like formCont

[2016-08-11 17:39] sunshineo commented on #975
@RoxKilly I used your implementation, but I had to use one way binding on ngModel like [ngModel] and then test if the text changed because the keyup even could have been user press left or right arrow key. You can see that in you plunkr if you press left or right you got the same text printed over and over again. Is there a way to use this patter not on (keyup) but on (ngModelChange) ?

[2016-08-11 18:21] kara commented on #994
Can you repro in a plunker?  It looks like the md-checkbox directive isn't being found, which could be an issue with how your modules are set up.

[2016-08-11 19:40] fernandogomesdf commented on #972
@colinfang thank you, it was my mistake

[2016-08-11 19:45] trainerbill commented on #1000
I am having a similar issue.  Is there a plunker template for alpha7 that I can try and reproduce?  I have a button/icon in a toolbar:
[code]

Everything is good on render:
![image](https://cloud.githubusercontent.com/assets/3578259/17602320/bf7800fe-5fd1-11e6-8f82-b5b4a141fd09.png)

After clicking the button I get an overlay that stays and is clickable:

![image](https://cloud.githubusercontent.c

[2016-08-11 21:00] meritor commented on #990
Thanks a million.. Working for me now.
After importing that properly.

[2016-08-11 21:29] RoxKilly commented on #975
@sunshineo I updated [to this plunker.](http://plnkr.co/edit/oEvQmrpEQfLGJIvkTr2y?p=preview) which will cause a value to be emitted only if it is different from the last value. I accomplished this by applying the `distinctUntilChanged()` operator before debouncing.

I've also updated my code above.

[2016-08-11 23:26] ratscrew commented on #957
+1
I'm getting the same bug with the latest version.

[2016-08-12 00:07] RoxKilly commented on #990
I'm having a similar problem with template parse errors when using material directives. @meritor where do you add your `import` statement? and did you need to do anything other than import the module to begin using these directives?

[2016-08-12 01:35] sunshineo commented on #975
Thank you @RoxKilly . This looks like magic to me 👍

[2016-08-12 01:42] Mufasa commented on #972
Hi,

I am experiencing the same issue in my angular 2 app and was wondering how I can get hold of the core.css file that @ivoviz claims will solve this issue?

Alternatively, can anyone give me an ETA as to when this is officially likely to get fixed?

Thanks in advance

[2016-08-12 01:44] jelbourn commented on #972
It is in `node_modules/@angular2-material/core`

[2016-08-12 02:07] nadavten opened #1009 "Can't bind to 'checked' since it isn't a known property of 'md-checkbox'"
Angular 2 RC5 material design alpha.7-2

Can't bind to 'checked' since it isn't a known property of 'md-checkbox'

[2016-08-12 02:22] #1009 closed

[2016-08-12 02:55] ashokacharya opened #1013 "Slide-toggle is not working"
#### Bug, feature request, or proposal:
This is the error showing on console of browser (google chrome latest)
EXCEPTION: Error: Uncaught (in promise): EXCEPTION: Error in ./MdSlideToggle class MdSlideToggle - inline template:0:783
ORIGINAL EXCEPTION: Hammer.js is not loaded, can not bind slidestart event
ORIGINAL STACKTRACE:
Error: Hammer.js is not loaded, can not bind slidestart event
    at new

[2016-08-12 03:26] m0t0r commented on #1013
@ashokacharya did you do [additional setup for md-slide-toggle](https://github.com/angular/material2/blob/master/GETTING_STARTED.md#additional-setup-for-md-slide-toggle-and-md-slider) ?

[2016-08-12 03:31] #1013 closed

[2016-08-12 03:32] ashokacharya commented on #1013
Thank you for info

[2016-08-12 03:42] #645 closed

[2016-08-12 04:36] RoxKilly opened #1016 "[md-icon] Unable to find icon in svg set. Possible bug"
I just upgraded from `ng2 rc4` with `material2 alpha6` to `ng2 rc5` with `material 2 alpha7-2`. A new error pops up on code that worked before when I use md-icon. It may be a bug.

I cannot see the full error text because instead I get `Observable_1.Observable.throw is not a function` error (the app crashes), with the top lines in the stacktrace being:
[code]
If I `console.log()` the id of the ico

[2016-08-12 05:24] DevVersion commented on #1003
The fix definitely is the correct one. The issue isn't coming from Angular Material 2.

We were adding the fix, to remove all `module.id` references to our distributed files, because it doesn't make sense to have the `module.id` definition on the component metadata, when the `template` and `styleUrls` are already inlined.

I personally use `alpha.7-2` with Webpack and the fix worked for me.

Would

[2016-08-12 09:44] ratscrew commented on #957
The content will show if you click the same tab a second time.

[2016-08-12 11:13] RoxKilly commented on #965
If anyone is listening: I've been able to rebuild my example with `angular 2 rc5` and `ng2-material alpha 7-2` at [this plunker](http://plnkr.co/edit/5iSsjggMwIIBgrmRUD36).  The problem I reported no longer seems to apply.

Feel free to close.

[2016-08-12 11:24] Muthu2020 opened #1017 "flex attribute is not supported in material2 alpha7.2 version"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-08-12 11:42] DevVersion commented on #1017
The issue template is not fulfilled, but from the title, I'm assuming you are trying to use the Angular Material 1.x Flexbox layout.

[code]

If so, this is currently not even available in Material 2 and will be tracked with #45

[2016-08-12 12:17] RoxKilly commented on #1016
![10](https://cloud.githubusercontent.com/assets/12346501/17621949/2e7dc54a-6065-11e6-8044-dc48f0f74c84.png)

[2016-08-12 12:55] cschroeter opened #1018 "No value accessor for from control"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
There should be an value accessor.

#### What is the current behavior?
[code]

#### What are the steps to reproduce?
This bug occurs only if you run ```ng build --prod ```.

Use angular-cli@webpack to create a new project.

[code]

[code]

#### What is the use-case or motivation for changing an existing behavior?
Buil

[2016-08-12 13:15] ansarizafar commented on #123
1+

[2016-08-12 14:05] ReidBraswell commented on #123
+1

[2016-08-12 14:59] Daeluse opened #1019 "[Feature Request] Slide-Toggle Interface Change"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
As they were in Release 6, labels of slide-toggles should be clickable to instantly toggle the switch.

Alternatively, this could be done by specifying which type of slide toggle you would like, whether it should be draggable or clickable.

#### What is the current behavior?
All slide-toggles require the s

[2016-08-12 15:03] eserlan commented on #123
+1

Den fre. 12. aug. 2016, 16.06 skrev Reid Braswell <notifications@github.com

[2016-08-12 16:12] zakdances commented on #123
It doesn't seem like scss is supported at all right now because components such as sidenav try to import scss with paths like `@import 'default-theme';` which doesn't exist because it's from other components.

[2016-08-12 17:33] Daeluse commented on #1019
This was actually an issue with local styles making an aspect of the toggle hidden.

Sorry for the noise.

[2016-08-12 17:43] RedFour opened #1020 "ng build error: Cannot find name 'HammerManager'"
#### Bug, feature request, or proposal:

ERROR in [default] c:\test-app\node_modules\@angular2-material\core\gestures\MdGestureConfig.d.ts:4:39
ng build error: Cannot find name 'HammerManager'

#### What are the steps to reproduce?

1. create new project using angular-cli@webpack
2. npm install latest material components
3. modify app.module.ts:

`import { MdCoreModule } from '@angular2-material/c

[2016-08-12 17:54] m0t0r commented on #1020
@RedFour I am not sure you should actually load `MdCoreModule ` module, check [getting started](https://github.com/angular/material2/blob/master/GETTING_STARTED.md) on how to load [modules of a specific components](https://github.com/angular/material2/blob/master/GETTING_STARTED.md#import-and-use-the-components). If you want to use `md-slide-toggle` or `md-slider` you need to make sure you are loa

[2016-08-12 18:15] DevVersion commented on #1019
@Daeluse Thanks for the update, I was wondering how I could miss that bug.

Since this issue is not valid, you could close it :)

[2016-08-12 19:01] jkyoutsey commented on #1020
I find that, with hammerjs@2.0.8, I get the following error (with multiple components)
[code]

[2016-08-12 19:11] gregbown commented on #1003
I do not think Webpack is possible in a plunkr so here is what I believe is the relevant code.
Thank you for your prompt response, Paul.

**MainModule**
`import { platformBrowserDynamic } from '@angular/platform-browser-dynamic';
import { BrowserModule } from '@angular/platform-browser';
import { ReactiveFormsModule, FormsModule  } from '@angular/forms';
import { HttpModule } from '@angular/http';

[2016-08-12 19:14] RedFour commented on #1020
@m0t0r you are right I don't need to import MdCoreModule. Thank you!

[2016-08-12 19:14] #1020 closed

[2016-08-12 19:15] RoxKilly commented on #1016
A bit more info: the component that throws the errors is part of a module that is loaded lazily.  If I add
[code]
To that component, the error doesn't occur.  This suggests to me that even though I imported `MdIconModule` into my main `AppModule` and registered my icon set in `AppComponent`, when the other component is loaded lazily later, it does not have access to the original instance of `MdIco

[2016-08-12 19:59] DevVersion commented on #1003
It definitely isn't - You are right, I just asked for some code snippets to take a closer look for _common_ issues.

Would be good if you transform your code snippets into an external snippet.

[2016-08-12 20:30] RoxKilly opened #1022 "[md-icon alpha 7-2] Icons added to AppModule via MdIconRegistry cannot be used on async routes"
#### Bug, feature request, or proposal:
bug I think

#### What is the expected behavior?
`<md-icon svgIcon='name'></md-icon>` Should behave the same throughout the app if the `MdIconModule` and `MdIconRegistry` are imported / provided in main `AppModule`

#### What is the current behavior?
The same icon from the same file isn't always displayed. It will work in one component but not the other.

##

[2016-08-12 21:27] jkyoutsey opened #1025 "drag events dataTransfer is undefined in RC5 alpha 7-2 with NgModule imports"
#### Bug, feature request, or proposal:

Bug: Since adding in Md*Module(s) and hammerjs, drag events no longer contain the dataTransfer property.

[code]

This did not happen when directly using the Md\* components in our components.  Once we added the Md*Module(s) to NgModule and installed hammerjs this error arose.
#### What is the expected behavior?

drag events should have the dataTransfer pro

[2016-08-12 21:29] gregbown commented on #1003
Thanks for the tip, I'm a bit of a git rookie, we have our own version control internally.
Here is the snippet [https://gist.github.com/gregbown/f1545665a35fdf8b2b7f8e0aaaaa6197](url)

[2016-08-12 22:34] naveedahmed1 commented on #994
Can you please try

[code]

Ref: https://github.com/angular/material2/blob/master/src/demo-app/checkbox/checkbox-demo.ts

Template:
[code]

Ref: https://github.com/angular/material2/blob/master/src/demo-app/checkbox/nested-checklist.html

[2016-08-12 23:34] lewgun opened #1026 ""GETTING_STARTED.md" mismatch with the angular-cli@webpack"
#### Bug, feature request, or proposal:
bug
#### What is the expected behavior?

#### What is the current behavior?
there is no "angular-cli-build.js" file in a latest angular-cli new project. so please update this file to  match it . it seems the pr #1002  does not working too

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your is

[2016-08-13 00:13] #1019 closed

[2016-08-13 00:24] DevVersion opened #1031 "Update Plunker Template"
This is just an issue to keep track of it.

Since #913 is not in yet and the Plunker doesn't use Angular RC.5 yet, we need to update the Plunker to use the `NgModules` concept and use the `alpha.7-2` version of Angular Material.

#913 is actually blocked right now, because I still need some feedback how we want to proceed with that.

[2016-08-13 03:33] m0t0r commented on #1031
@jelbourn, @DevVersion I've got a new working plunker with Angular R5 and Material alpha.7-2.

Here is [the link](http://plnkr.co/edit/SgyuIR?p=preview). Let me know if that's fine so I can create  a PR to update `ISSUE_TEMPLATE.md`.

**_Note:_** SystemJS config uses `https://npmcdn.com` to get angular and material2 so it will load latest published versions. May be it could help with #913 somehow.

[2016-08-13 03:55] m0t0r commented on #994
@naveedahmed1 check [this plunker](http://plnkr.co/edit/QEAPcm5AXmdlMgaBSnDy?p=preview) with Angular RC5 and Material2 alpha.7-2, checkboxes work perfectly. You problem might be that you didn't import `MdCheckboxModule` into your module. Make sure you use latest version of angular with latest material2 as they both use `NgModules`.

[2016-08-13 08:18] SamiAl90 commented on #1018
You are missing the FormsModule import from @angular/forms I think. ReactiveModule is not enough afaik.

[2016-08-13 12:07] naveedahmed1 commented on #994
Thank you so much @kara  and @m0t0r . I have traced the error. Actually I was using
ng2-charts plugin, and inspecting its code I found that it had an unnecessary import of form directives (common_1.FORM_DIRECTIVES) I removed that and its working perfectly. Since the error message seemed to be related to forms, I thought it would be related to the material form components.

[2016-08-13 12:07] #994 closed

[2016-08-13 16:03] cschroeter commented on #1018
I think I had a reference on FormModules at some point. But If it is really needed here, it should not work in dev mod either

[2016-08-13 16:50] DevVersion commented on #1031
@m0t0r Thanks for your help.

The reason why we don't use any CDN's is, that the Plunker will make _tons_ of requests to resolve the given JS files.

Also the Plunker Template is now uploaded and uses the `NgModule` concept.
- http://plnkr.co/edit/o077B6uEiiIgkC0S06dd?p=preview

[2016-08-13 16:50] #1031 closed

[2016-08-13 17:34] maciejsobala opened #1035 "slide-toggle - compilation issue after upgrade to 7-2 (HammerInput)"
#### Bug

#### What is the current behavior?
[code]

#### Which versions of Angular, Material, OS, browsers are affected?
OSX
Node v5.1.0
NPM 3.60
angular 2.0.0-rc.5
material: 2.0.0-alpha.7-2

[2016-08-13 17:47] m0t0r commented on #1035
@maciejsobala see #977

[2016-08-13 17:48] maciejsobala commented on #1035
@m0t0r

Thanks. Closing issue :)

[2016-08-13 17:48] #1035 closed

[2016-08-13 18:27] #866 closed

[2016-08-13 18:45] RoxKilly opened #1036 "[radio-button] Unable to one-way bind to a property accessible only via a getter"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

Radio button selection should work when its value is one-way bound to a property readable only via `get property()`
#### What is the current behavior?

It's impossible to select or deselect a radio button.
#### What are the steps to reproduce?
- Open [this plunker](http://plnkr.co/edit/rEVJtUIPSjAgk6waw0xz?p=preview)

[2016-08-13 23:12] naveedahmed1 opened #1037 "Material 2 Tabs doesn't work well with manual Change Detection Strategy"
Angualr2 allows us to implement local change detection using ChangeDetectorRef. Which is very useful when we know exactly when our data changes (or change occur).

For example we can detach the Change Detector from a component using ChangeDetectorRef.detach() and when there is any change we can use ChangeDetectorRef.detectChanges() to manually run change detection.

This doesn't seems to work well

[2016-08-14 07:45] geelus opened #1038 "md-input does not behave like input in a ngFor loop and it repeats the [(ngModel)] of the first item instead of showing the correct values"
#### Bug, feature request, or proposal:
#### What is the expected behavior? If I use html input my code works by it doesn't when I use md-input
#### What is the current behavior? data bound md-input does not work in a loop
#### What are the steps to reproduce?

Providing a Plunker (or similar) is the _best_ way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgk

[2016-08-14 09:08] sspilleman commented on #972
[code]

[2016-08-14 10:48] RoxKilly opened #1039 "[button-toggle-group] bound to NgModel throws error if multiple selection is used"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

When `<button-toggle-group multiple [(ngModel)]="property">` is used, the model property should be updated with a list (object or array) of values selected in the toggle group.

Alternatively, improve the docs with a note that the `ngModel` binding is not supported in multiple selection mode.
#### What is the current

[2016-08-14 12:09] Mufasa commented on #972
Thanks both - that fixed my issue.

BTW: I had also reported this at [Google Groups - angular-material2](https://groups.google.com/forum/#!topic/angular-material2/vtNOVWK9jvk) and have mentioned these work-arounds there as well.

[2016-08-14 14:59] erasethis opened #1040 "md-sidenav no animation on close"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

Menu should be animated (slide out) when closing
#### What is the current behavior?

Menu just vanishes when closing
#### What are the steps to reproduce?

Set 'opened' on md-sidenav to true, menu slides in, set 'opened' to false, _poof_ menu is hidden instantly

Providing a Plunker (or similar) is the _best_ way to

[2016-08-14 17:58] YeomansIII commented on #1018
I'm also getting this error using ngModel on an input that is not even inside of a form.
[code]

Getting the error `No value accessor for form control with unspecified name` within browser_adapter.js.

I have FormsModule and I just tested with ReactiveFormsModule as well after reading this thread.  Still getting the same error.

[2016-08-14 18:52] m-kermani opened #1042 "Does Material 2 has highlight too?"
I would like to know, does Material 2 is going to support highlight?

There were a directive in Angular Material 1 called highlight and it also was used in autocomplete, may I if it is exist not on Material 2, where are its sources? I would like to add something to it

Thanks

[2016-08-14 19:16] daniele-zurico opened #1043 "ability to change the default color palette"
#### feature request:
Change the values of the default theme.

#### What is the expected behavior?
Able to configure the values of the palette changing the color that we prefer

#### What is the current behavior?
Only the green is allowed

#### Which versions of Angular, Material, OS, browsers are affected?
all

[2016-08-14 19:23] daniele-zurico commented on #287
Any news about that?

[2016-08-14 19:29] DevVersion commented on #1042
I assume this will be part of the `autocomplete` as same as it is in Material 1.x and shouldn't be its own component / directive.

That's why I think this will / can be added once the actual `autocomplete` is available.

[2016-08-14 19:44] AlexDede commented on #1043
see https://github.com/angular/material2/issues/123

[2016-08-14 21:40] andregs opened #1045 "md-tooltip doesn't support async text"
Hi, guys!

I'm trying to use https://github.com/ocombe/ng2-translate to translate my md-tooltips. However it seems that md-tooltip doesn't support any sort of async text. The following exception is thrown:

[code]

I created the following component to reproduce the issue. In my opinion, that button should change the tooltip text, right? However the same exception is thrown when the button is click

[2016-08-14 23:13] sivamamidi-REISys opened #1046 "Need Documentation - How to use md-select"
Not sure whether md-select is in road map, can you provide more details?

[2016-08-15 00:25] m0t0r commented on #1046
@sivamamidi-REISys `md-select` is not implemented yet. It's tracked in #118

[2016-08-15 00:43] m0t0r commented on #236
@jelbourn this issue seems ready to be closed as #950 exports `all` module.

[2016-08-15 00:54] DevVersion commented on #1003
@gregbown At first look I couldn't really find anything wrong in your shared code. But I have to say I don't had really much time to look into it.

I'm still assuming this doe relates to something else, and not to the `module.id` removal.

If the `module.id` removal introduced some issues, then there would be probably more issues (than one)

[2016-08-15 01:07] DevVersion commented on #1039
This seems to be intentionally while looking at the source.

I think it would be probably good to support `ngModel` for `multiple` mode as well, and emit an array of the selected `md-button-toggle`'s to the ngModel.

[2016-08-15 02:29] MikaelCluseau opened #1047 "Getting started: failure at "Install Angular Material 2 components""
#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
`npm install --save @angular2-material/core @angular2-material/button @angular2-material/card` should work.

#### What is the current behavior?
Install fails because referenced github repositories don't exist:
[code]

#### What are the steps to reproduce?

[code]

#### What is the use-case or motivation for changing

[2016-08-15 03:26] lizardd opened #1048 "use md-button =>Template parse errors"
# error
zone.js:461 Unhandled Promise rejection: Template parse errors:
Can't bind to 'md-ripple-trigger' since it isn't a known property of 'div'. ("*ngIf="isRippleEnabled()" class="md-button-ripple" [class.md-button-ripple-round]="isRoundButton()" [ERROR ->][md-ripple-trigger]="getHostElement()" [md-ripple-color]="isRoundButton() ? 'rgba(255, 255, 255, 0.2)"): MdButton@0:180
Can't bind to 'md-ri

[2016-08-15 03:29] st-clair-clarke opened #1049 "Cannot find name 'HammerManager' and Cannot find name 'HammerInput'."
#### Bug,
I am attempting to using material2, angular-cli and angular-modules. Placing the angular2-material components including the core module into a custom shared-module. Attempting to use the shared-module always results in the following

client:49 [default] J:\workspace\angular2\ts\epimss\node_modules\@angular2-material\slide-toggle\slide-toggle.d.ts:67:19
Cannot find name 'HammerInput'.

cl

[2016-08-15 04:16] kevinkoperski commented on #1049
I had this same problem and fixed it an hour ago.  Once hammerjs was installed, i had to make a reference to it in main.ts.  Right at the top.  Add:

`/// <reference path="../typings/globals/hammerjs/index.d.ts" />`

Be sure it's pointing to the right file in your project.  Again, I don't know enough to say why it worked, but it did. Someone smarter can probably figure out why. Hope it helps.

[2016-08-15 04:24] danielgek commented on #1048
You need to switch to angular modules tha came with the rc5 and importante buttonModule

[2016-08-15 05:10] m-kermani commented on #1042
I found a small problem in `highlight `(Which is `autocomplete`) in one of RTL languages and I would like to contribute, I wanted to add it to the Material 2 first

@DevVersion Thanks

[2016-08-15 05:39] JSMike commented on #1049
Wouldn't it be better to add the main index.d.ts?

[code]

I'm not sure why the webpack cli isn't adding that by default.

[2016-08-15 07:42] RoxKilly commented on #1049
Duplicate of #797

[2016-08-15 08:10] drager opened #1050 "createOverlayContainer is not a function after upgrading to 7.2"
#### Bug

I just updated Angular material 2 to 7.2 from 6.0 and now the application wont start up. It throws the following error: `createOverlayContainer is not a function`. This is the following code I have when I'm bootstraping:

[code]

Could not find any breaking change about this in the changelog.

#### Which versions of Angular, Material, OS, browsers are affected?
Angular version: 2.0.0-rc.

[2016-08-15 09:03] vapits commented on #535
![image](https://cloud.githubusercontent.com/assets/8594758/17660168/cfcec07e-62d7-11e6-8e6f-947085c8b084.png)
Same here none of the solutions above worked for me.

[2016-08-15 09:04] vapits commented on #797
![image](https://cloud.githubusercontent.com/assets/8594758/17660181/e7f45826-62d7-11e6-8976-07f0feb2c8b4.png)
Same here none of the mentioned solutions worked for me.

alpha.7 versions and, angular-cli@webpack and RC5 versions

[2016-08-15 10:22] naveedahmed1 commented on #1049
Please have a look at below link, I think this is what you need:

https://github.com/angular/material2/issues/977#issuecomment-238946558

[2016-08-15 10:44] #1048 closed

[2016-08-15 11:30] st-clair-clarke commented on #1049
Solved at https://github.com/angular/material2/issues/977#issuecomment-238946558 - third comment by @adrm

[2016-08-15 11:30] #1049 closed

[2016-08-15 11:33] TheCaptainDate commented on #1043
Currently the only way you have is to clone this repository, change colors in `default-theme.scss` and then compile material2 by yourlself.
Example of changing colors - https://github.com/TheCaptainDate/ssp-material2/commit/81c906927544ec0dd3f00c92e7e351db625e9cfe

[2016-08-15 12:02] st-clair-clarke opened #1051 "url_resolver.js:238Uncaught TypeError: uri.match is not a function(…)_split"
#### Bug

I am using the latest angular-cli@webpack. I am getting an error that prevents displaying of my app but without any helpful pointers to where the problem is in my application

url_resolver.js:238Uncaught TypeError: uri.match is not a function(…)_split @ url_resolver.js:238getUrlScheme @ url_resolver.js:80componentModuleUrl @ metadata_resolver.js:751CompileMetadataResolver.getDirectiveMet

[2016-08-15 12:11] rubenlg opened #1052 "Tabs title and content broken when using *ngFor"
#### Bug, feature request, or proposal:
Here is a plunker based on the template provided on the root README.md:
http://plnkr.co/edit/CFJy3QkubNIzlm6ZUvzn?p=preview

#### What is the expected behavior?
Tabs labels are always visible, regardless of whether they are static or dynamic. Content is visible for the current tab.

#### What is the current behavior?
Only static tab labels are visible (i.e.

[2016-08-15 13:21] RoxKilly commented on #1049
@st-clair-clarke  I'm not sure why we should considered that a solution rather than a workaround? A third-party library like ng-Material should not be causing compilation errors. Ideally it would include all it needs. Am I mistaken?

[2016-08-15 15:01] theunreal opened #1053 "Error: Hammer.js is not loaded, can not bind slidestart event + Cannot find name 'HammerManager'."
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
No error using slide-toggle

#### What is the current behavior?
[code]
#### What are the steps to reproduce?
Using Angular 2 Rc.5 + Angular 2 RCI + Webpack with Slide-toggle component

#### What is the use-case or motivation for changing an existing behavior?
No bug

#### Which versions of Angular, Material, OS, brows

[2016-08-15 15:07] m0t0r commented on #1053
@theunreal you need to do [additional setup for md-slide-toggle](https://github.com/angular/material2/blob/master/GETTING_STARTED.md#additional-setup-for-md-slide-toggle-and-md-slider).

[2016-08-15 15:21] theunreal commented on #1053
Thanks @m0t0r ,But what does " Include the typings for HammerJS in your typescript build " means?

This is how my typings.d looks like:
[code]

[2016-08-15 15:27] m0t0r commented on #1053
See #977

[2016-08-15 15:34] #1053 closed

[2016-08-15 15:43] onofremartins opened #1054 "my-app-module.ts does not exists."
on get start, say to configure: my-app-module.ts with code:
[code]
but, this file does not exists on current ng cli new project.

where put this config please ?

[2016-08-15 16:02] m0t0r commented on #1054
@onofremartins `my-app-module.ts` is just an example. You should have `app.module.ts` file where you configure your app module. Make sure you run Angular RC5, if you don't see [migration guide](https://angular.io/docs/ts/latest/cookbook/rc4-to-rc5.html).

[2016-08-15 16:07] ThomasBurleson opened #1055 "sideNav: rename md-sidenav-layout"
#### Bug, feature request, or proposal:

Current implementation uses `md-sidenav-layout` as the smart container for content and md-sidenav components. The **`-layout`** suffix is ambiguous and conflicts with names and concepts for the Material Layouts API and features.
#### What is the expected behavior?

Please rename to `md-sidenav-container`
#### What is the current behavior?
#### What are the

[2016-08-15 16:40] escarabin opened #1056 "md-input has no placeholder + ERROR : No value accessor for ''"
I am facing an issue with @angular2-material/input. In fact, the input's placeholder does not show up + I have an error showing up in my dev console.

I am using Angular 2 RC5 and @angular2-material 2.0.0-alpha.7-2

Here is how I globally provide MD_INPUT_DIRECTIVES from my boot.ts file :

[code]

Here is my very simple HTML :
`<md-input placeholder="amount"></md-input>`

Here is the log :
[code]

[2016-08-15 16:55] m0t0r commented on #1056
@escarabin you should [import components using modules](https://github.com/angular/material2/blob/master/GETTING_STARTED.md#import-and-use-the-components). MD_XXX_DIRECTIVES constants are deprecated.

[2016-08-15 17:00] karan1276 commented on #879
@jmurphzyo I can't find anything wrong with the plunker demo. Looks like overlay-lay directive has a typo but did something go wrong because of it?

[2016-08-15 17:28] jelbourn commented on #1054
What @m0t0r said.

[2016-08-15 17:28] #1054 closed

[2016-08-15 17:29] jelbourn commented on #1056
Without migrating to `NgModule`, you would also have to include in your `directives` list `DefaultValueAcessor` and `NgModel` from `@angular/forms`. It will probably be easier / cleaner to migrate to using `NgModule`.

[2016-08-15 17:29] #1056 closed

[2016-08-15 17:31] jelbourn commented on #1051
@st-clair-clarke there's not enough information here to investigate your problem. Please follow the issue template.

[2016-08-15 17:31] #1051 closed

[2016-08-15 17:34] jelbourn commented on #1050
Ah, this was missed from the changelog. `OVERLAY_CONTAINER_TOKEN` is gone, there's a new `OverlayContainer` injectable. If you migrate to `NgModule`, however, you won't need to provide anything at all for Overlays.

[2016-08-15 17:34] #1050 closed

[2016-08-15 17:34] jelbourn commented on #1046
What @m0t0r said.

[2016-08-15 17:34] #1046 closed

[2016-08-15 18:48] vivekwisdom commented on #921
In `node_modules/@angular2-material` I don't see `md-content`.

Again in Wiki also it's not referenced. Maybe `md-content` is not included at all in material2.

[2016-08-15 19:54] onofremartins commented on #1054
ok, thanks.

[2016-08-15 20:30] FabioCZ commented on #1056
I am having a similar problem, even though I am using NgModule.
I upgraded to Angular2 RC5 and Angular2-Material Alpha7

app.module.ts :
[code]

My component (just a little wrapper around md-input that provides a dropdown with possible values):
[code]

The error I get is:
[code]

[2016-08-16 01:04] jelbourn commented on #1042
It would be part of the autocomplete #117

[2016-08-16 01:04] #1042 closed

[2016-08-16 01:04] jelbourn commented on #1043
See #123

[2016-08-16 01:04] #1043 closed

[2016-08-16 01:05] jelbourn commented on #1039
The behavior is intentional, but the error message and the docs should be better.

[2016-08-16 06:49] escarabin commented on #1056
Thanks guys. It solved my problem indeed.

[2016-08-16 09:51] htafolla commented on #546
@jelbourn any plans to include this in alpah.8 or 9?

[2016-08-16 11:59] rbaumi opened #1057 "tooltip: ComponentResolver is deprecated for dynamic compilation"
Using Angular 2.0.0-RC.5 and angular2-material alpha.7.2, when mouseover over the element build like this:

[code]

I get a warn in console:

I guess this is related to the md-tooltip directive as it appears after mouseover. Can anyone explain me what is this message exacly about and why it appears?

Thanks!

[2016-08-16 13:48] Mc128k opened #1058 "Proposal: dropdown list with tag selection"
I just found this component and I think it would be nice to have in in material 2 without using bootstrap.
http://valor-software.com/ng2-select/

It's a critical missing feature for an UI kit imho.

Thanks

[2016-08-16 14:38] RoxKilly commented on #1016
I discovered another tidbit about this bug today.
- It only affects lazy-loaded modules. If all my content is loaded at app launch, there is no problem.
- If a template component (components loaded via their selector in templates) is part of an eagerly loaded module, `<md-icon svgIcon=...>` will work but only if the template component is being used within an eagerly loaded module. If I include tha

[2016-08-16 16:09] alvaro450 commented on #546
@jelbourn @kara, when do you guys think text area will make it to material components?

[2016-08-16 16:52] RoxKilly commented on #1022
A bit more info:
- This bug only affects lazy-loaded modules. If all my content is loaded at app launch, there is no problem.
- If a template component (component loaded via its selector in templates) is part of an eagerly loaded module, `<md-icon svgIcon=...>` will work but only if the template component is being used within an eagerly loaded module. If I include that same component in a template

[2016-08-16 17:33] gregbown commented on #1003
Update:
I just added MdTabsModule to my project and the tabs don't event render.  As soon as I added the moduleId: module.id, to the MdTabGroup the tabs render with full functionality.  I have tried changing loaders and I have verified my ts config matches  the starter projects out there, however; none of the starter projects seem to have updated to Angular 2 rc5 & material 7-2.  Could you recomme

[2016-08-16 18:36] deanpeterson commented on #1051
Why would this be closed? I am getting the same error because I also use the webpack version of the angular cli. The problem is moduleIds in angular2 material are numbers and do not have the match function required. It seems angular2 material is entirely incompatible with web pack and the future angular cli based on webpack.

[2016-08-16 18:39] deanpeterson opened #1059 "Angular2 Material incompatible with webpack version of angular cli"
Why would [this](https://github.com/angular/material2/issues/1051) be closed? I am getting the same error because I also use the webpack version of the angular cli. The problem is moduleIds in angular2 material are numbers and do not have the match function required. It seems angular2 material is entirely incompatible with web pack and the future angular cli based on web pack.

I get the error: "u

[2016-08-16 18:48] jonathan-casarrubias commented on #1051
Looks like is closed because the lack of organization, I'm mean looks like the issue is not following the rules, but the error is present, I'm also having this issue simply by using Material, I migrated using the NgModules but nothing seems to work.

Since RC5 everything seems to stopped working and I'm still not sure if it really is a material2 issue or it is an angular2 RC5 issue.

I will keep t

[2016-08-16 18:50] jelbourn commented on #1051
We'll definitely be supporting the webpack CLI by the time it is moved to the `@latest` label, but it is currently still pre-release and the moduleIds are necessary for the previous version of the CLI.

[2016-08-16 18:51] #1059 closed

[2016-08-16 18:55] RAlfoeldi commented on #1051
Angular2 RC5 with Material 2.0.0-alpha6 works - as long as you leave everything as is, i.e. no refactoring to NgModules etc. in your existing code. Update to Material 2.0.0-alpha.7-2 and everything goes down the drain. Refactor your existing code: ditto, everything goes down the drain.

And quite frankly I'm waiting this one out. I've already wasted enough time and am sure the great Angular/Materi

[2016-08-16 20:41] DevVersion commented on #1003
I just tested it again to be sure that I don't miss anything.

Here is some basic setup to share
- https://gist.github.com/DevVersion/17eeeb2e5d717c20baf70abc762e58df

Just to repeat my self, it doesn't even make sense that it works with the `module.id` and without the `module.id` not..

[2016-08-16 20:45] jelbourn commented on #1058
See #118, #117, and #120

[2016-08-16 20:45] #1058 closed

[2016-08-16 20:46] jelbourn commented on #1057
Already removed on master (2411c24a37fb56ac28607b3611d38aead9229629).

[2016-08-16 20:46] #1057 closed

[2016-08-16 20:46] DevVersion commented on #1039
I personally think it would be good support `NgModel` on multiple button toggles as well.

When doing this, it would make sense to make the button-toggle, regardless of the `multiple` state, support an array as values and just output them differently when using it in single mode.

This would drop a lot of code and also would be super easy to maintain.

[2016-08-16 20:48] jelbourn commented on #1047
This appears to be a problem on your environment, possibly that your shell treats `@` as a special character or is ignoring it. [The packages are definitely on npm](https://www.npmjs.com/~angular2-material).

[2016-08-16 20:48] #1047 closed

[2016-08-16 20:51] jelbourn commented on #1051
@RAlfoeldi Could you file an issue with your information? Nobody has filed an issue about standalone webpack not working.

[2016-08-16 20:52] jelbourn commented on #1039
We do want to support a selection model eventually, but want it to be consistent between components (md-select, md-selection-list, and button-toggles)

[2016-08-16 21:38] DevVersion commented on #1040
I just took a look at your issue and tried to reproduce it in a Plunker, but it seems to work as expected.

You could probably modify the Plunker to demonstrate your issue.

[2016-08-17 05:12] gxclarke commented on #1040
@erasethis It looks like your missing the outer `md-sidenav-layout` container on your plunker. Although I've also noticed that if you don't set the mode on 'md-sidenav' it defaults to 'side' (rather than 'over' as the documentation says). At least for me, 'side' doesn't animate the content area when the sidenav is opened or closed.

[2016-08-17 09:33] Sabartius commented on #1018
@YeomansIII  I also got the error `No value accessor for form control with unspecified name`
It was resolved by importing `FormsModule` **and** `ReactiveFormsModule`

[2016-08-17 10:14] RAlfoeldi commented on #1051
@jelbourn After investing some more hours writing up a new issue, it turns out Material2 is not to blame. I went down the rabbit hole again. Angular2 RC5 and Material 2.0.0-alpha.7-3 work with webpack (pure, not angular-cli) after applying the mentioned [patch](https://github.com/angular/angular/pull/10595/commits/f54f9efc0e70eb1c71ac8eb6a8ed690f1e7f09f9).

If you then start refactoring your appli

[2016-08-17 11:26] rbaumi commented on #1045
I'm also using Angular 2.0.0-rc.5 and material 2.0.0-alpha.7-2 + ng2-translate v2.4.1 and I can confirm that the tooltip works fine!

For example this code works fine!

[code]

[2016-08-17 13:23] mbnsoft opened #1062 "Checkbox problem in RTL on scrolling page"
RTL direction in css as below:

[code]

If vertical scrollbar visible on the page, checkbox border move to left:
![capture](https://cloud.githubusercontent.com/assets/6398149/17737341/f1aefa6c-64a1-11e6-8a6e-ed98b87511c4.JPG)
I have this problem with dir attribute on html tag also, thanks in advance.

[2016-08-17 14:22] szadrutsky commented on #947
Same for me. I am not able to change color/styles tried to change overriding color matrix in core ... No luck

[2016-08-17 14:25] RAlfoeldi commented on #1057
This still appears in alpha.7-3.

[2016-08-17 14:39] ctkdev commented on #977
For those finding this issue that have a similar configuration to mine:
angular-material: 2.0.0-alpha.7-3
angular-cli: 1.0.0-beta.11-webpack.2

Just doing the following:
$ npm install --save hammerjs @types/hammerjs

Was all that was needed. Since my tsconfig.json file contains this line:
`
    "typeRoots": [
      "../node_modules/@types"
    ]
`

I did not have to make any changes to main.ts

[2016-08-17 14:44] RAlfoeldi opened #1063 "md-tooltip - Type TooltipComponent is part of the declarations of 2 modules: MdTooltipModule and ExchModule!"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
No error message

#### What is the current behavior?
Errormessage ***"Type TooltipComponent is part of the declarations of 2 modules: MdTooltipModule and ExchModule!"*** on mouseover.

#### Which versions of Angular, Material, OS, browsers are affected?
Angular 2.0.0-rc.5
Material 2.0.0-alpha.7-3
Chrome
Mac OS X 10.11

[2016-08-17 15:08] jelbourn commented on #1057
Yeah, alpha.7-3 only contained one additional commit from 7-2 so that material would stop erroring with the closure compiler.

[2016-08-17 16:01] jelbourn commented on #1063
One one those components (ExchComponent, LoginComponent, CounterComponent) likely has `MD_TOOLTIP_DIRECTIVES` still in its directives list.

[2016-08-17 16:04] jelbourn commented on #1051
@RAlfoeldi sounds like you're missing `CommonModule` from the component in which you're using `ngForOf`.

[2016-08-17 16:15] RAlfoeldi commented on #1063
Nope. _directives_ was removed from all components.
![screen shot 2016-08-17 at 18 13 19](https://cloud.githubusercontent.com/assets/7020711/17744056/5f3732c6-64a6-11e6-862b-6e0a7b2856c9.png)

The screenshot attached to the original issue shows that the expression _'tooltip'_ only occurs in two places: the import {MdTooltipModule} and in @NgModule.imports - nowhere else.

[2016-08-17 16:27] RAlfoeldi commented on #1051
@jelbourn Thanks for the tip... I eventually figured that out :-)

[2016-08-17 16:32] CelsoSantos opened #1064 "NgSideNav on Angular 2 RC4"
I need to use the Sidenav component on a project I'm developing which is, at least for now, stuck at RC4 (other dependencies still at RC4).

What version of the sidenav can I use on Angular2 RC4? Beta.6 is at RC3 and beta.7-3 at RC5. Is there no middle-ground?

Best Regards,
Celso Santos

[2016-08-17 16:41] jelbourn opened #1065 "Un-camelCase md-input properties"
Many of the properties of md-input have been made camelCase white the native input uses all lowercase, e.g., `readOnly` vs. `readonly`. MdInput should be changed to match the native input.

cc @hansl

[2016-08-17 16:44] jelbourn commented on #1063
@RAlfoeldi I don't suppose you could share more of your source? As it stands I don't see how it could be happening (unless it's a bug in Angular itself).

[2016-08-17 17:22] danielgek commented on #1064
I think you can use version 6

[2016-08-17 17:33] RAlfoeldi commented on #1063
@jelbourn Thanks for offering to have a look.

I've posted all modules, components and templates - in some cases removing the implementation (sorry, I don't own the code) - but leaving the imports, @Component and @NgModule definitions. If you want to see anything else, I'll be glad to post.

http://plnkr.co/edit/O1vOOM4xy5QiYhgp69Jz

[2016-08-17 18:28] maciejsobala commented on #123
+1

[2016-08-17 18:29] uncledlm commented on #977
In addition to ctkdev's solution I had to add hammerjs to the "types" section in tsconfig.json

"types": [
      "jasmine", "hammerjs"
    ]

[2016-08-17 18:34] DevVersion commented on #1062
I just took a quick look at that issue.

At first I came up with a solution like
[code]

But that approach only works for the inline style of `direction: rtl` - So it's not the solution.

I think now would be a good point to consider creating the RTL service, which detects RTL from the `computed style`.

There must be some discussion about that, since `computed style` can damage the performance si

[2016-08-17 18:43] HeavenlyHost commented on #947
I suspect this is as designed according to Google Material Design spec. Although I do disagree with this. Need to check specs.

[2016-08-17 19:31] fxck commented on #1040
yeah it doesn't animate, but it does when you call `close()`(or click on backdrop).. also tbh when you set `opened`, it should mean that you are taking care of the state yourself and the component should be stateless, as it is now, when you call `close()`(or click on backdrop), your `opened` might still be true while sidenav is already closed...

[2016-08-17 20:12] RoxKilly opened #1069 "[md-slider @alpha 7-3] ngModel causes "no value accessor" error"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
According to [the examples in the docs](https://github.com/angular/material2/blob/master/src/demo-app/slider/slider-demo.html), `ngModel` directive can be used with `<md-slider>`. I've verified that this directive works with the native `<input type="range">`.

#### What is the current behavior?
Using the `ngModel` dir

[2016-08-17 20:27] RoxKilly opened #1070 "[md-slider @alpha 7-3] Change detection not working"
#### Bug, feature request, or proposal:

Bug I think.
#### What is the expected behavior?

When the slider value changes, it should emit a `(change)` event the way the native input range does
#### What is the current behavior?

Moving the `md-slider` does not emit the `(change)` event
#### What are the steps to reproduce?
- [Open this plunker](http://plnkr.co/edit/IOLgz9F7OiI03xUcWZ5v?p=preview)
-

[2016-08-17 21:59] TrevorBroderick1 commented on #756
What about a situation where you want to have text and an icon in the button?
[code]
This does not vertically align the icon with the text, and `md-icon-button` isn't right for this situation.

[2016-08-17 22:51] jelbourn commented on #1063
Further investigation has found that this _is_ a bug in Angular itself: https://github.com/angular/angular/issues/10904

As a temporary workaround, you can add `MdTooltipModule` directly to your `ExchModule` imports.

Going to close this issue since the problem doesn't actually live in material. Thanks!

[2016-08-17 22:51] #1063 closed

[2016-08-17 23:36] Kosmonaft commented on #977
I had to use @ctkdev and @uncledlm solutions.
Now everything is working fine :+1:

[2016-08-18 01:36] gregbown commented on #1003
Thank you Paul.  I believe the issue was in my webpack configuration, I may never know exactly where.  I scrapped my hacked together webpack.config and started with the bare minimum.  I used https://github.com/preboot/angular2-webpack/webpack.config.js as a starting point, modifying the loaders and paths as needed.

Thanks again for your time.

[2016-08-18 01:36] #1003 closed

[2016-08-18 04:07] RAlfoeldi commented on #1063
@jelbourn Thanks.

[2016-08-18 06:17] RoxKilly opened #1071 "Make Material modules compatible with lazy-loaded components"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
Services that are only practically useful as singletons should be available as such. `MdIconRegistry` is a perfect example. Since`MdIconRegistry.addSvgIconSet()` adds icons that should be available app-wide, this service is most useful as a singleton. Instead of simply offering `MdIconModule` as an export, offer

[2016-08-18 06:56] Lavan commented on #1064
As @danielgek said, alpha.6-3 works great.

[2016-08-18 07:46] praveenpuglia commented on #756
I didn't find anything yet that addresses a situation like [this](https://getmdl.io/components/index.html).
![image](https://cloud.githubusercontent.com/assets/313363/17765855/e2c5ecbe-6545-11e6-992c-ee6d2f4f2f3e.png)

Each of those could well be buttons we may require at different places.

[2016-08-18 08:22] mbnsoft commented on #1062
I found a solution, parent scroll container must set force overflow in css:
[code]

[code]

[2016-08-18 10:07] xhite commented on #972
@jelbourn @sspilleman it doesn't work for me on alpha7-4. The issue persists even after loading those css files

[2016-08-18 10:54] vijquick commented on #946
Hello Guys (core team)

Please let us know whether this is something that you guys will be implementing in future or not? We are planning for a re-write of our existing angular 1 app with angular 2, the one big task is tackling the responsive layout.  The answer for this question will really help us to make a decision? Please kindly some one answer this.

Thanks

[2016-08-18 11:15] lizardd commented on #1013
how to deal it，I still can not work

[2016-08-18 11:46] colinfang commented on #972
@xhite Maybe because of #1004?

[2016-08-18 12:03] CelsoSantos commented on #1064
Well I ended up making my own slider using just CSS.
I'm sure the sidenav offers a better navigation experience but in my case I
just want to use it to have a bunch of filters so it would probably be a
bit overkill.

However, I will take your replies in consideration for when I need to adapt
my application for mobile. Navbar will come in very handy at that point.

Thank you both for the replies.

[2016-08-18 12:34] Kosmonaft commented on #1026
You can skip: **Add components to vendor bundle** and**Configure SystemJS** from "GETTING_STARTED.md"
The only thing which I noticed is not working is **Additional setup for `md-menu` and `md-tooltip`**

Angular-cli webpack is just not creating a vendor for this. I don't have any idea how to fix this

[2016-08-18 13:04] vapits commented on #977
Guys,
the combination of the above solutions solved for me the Webpack errors in the compiler but the template is still not working with the `md-slide-toggle` for me.

I'm getting this:
![image](https://cloud.githubusercontent.com/assets/8594758/17774641/d092be3c-6554-11e6-9892-a761266b9386.png)

My template is this:
[code]
I had even try like this:
[code]

Any other ideas?

Angular version: RC5
M

[2016-08-18 13:06] DevVersion commented on #977
Seems like you didn't load the `HammerJS` library

[code]

or

[code]

[2016-08-18 13:08] vapits commented on #977
@DevVersion you're right (sorry I deleted my message by mistake).

[2016-08-18 13:09] vapits commented on #1013
@lizardd go to your main component and `import 'hammerjs'`.
This solved it for me.
Check also here: #977

[2016-08-18 13:11] rbaumi opened #1072 "[grid-list] Responsive sizing support"
I can see that it is on TODO list. Any milestone for that?

[2016-08-18 13:17] uncledlm commented on #1049
Try installing @types/hammerjs : npm i --save-dev @types/hammerjs

Then edit tsconfig.json file and add hammerjs to the types section.

"types": [
"jasmine", "hammerjs"
]

[2016-08-18 13:19] vapits opened #1073 "[md-input] Impossible to use safe navigation operator?"
#### Bug, feature request, or proposal:
Bug (?)

#### What is the expected behavior?
`<md-input [(ngModel)]="activeApp?.name"></md-input>` should work.

`activeApp` is an observarbe in my code:
[code]

#### What is the current behavior?
Plunker: http://plnkr.co/edit/Ua7KKEOGCl0nyMzTTwkq?p=preview
(check console)
![image](https://cloud.githubusercontent.com/assets/8594758/17775084/fa0769a0-6556-11e

[2016-08-18 13:28] DevVersion commented on #977
@vapits No worries - glad I could help :)

[2016-08-18 13:48] carol-braileanu opened #1074 "MdInput placeholder not visible when component is loaded dynamically"
#### Bug:
I am using Angular-Material component in an application that uses modals. The modal is controlled by a global service that opens it and dynamically loads a component inside it, using `DynamicComponentLoader.loadAsRoot()`. When material textbox is rendered this way, the placeholder is not rendered at all. The `<label>` tag that should contain the placeholder is missing.

#### What is the

[2016-08-18 14:40] vapits commented on #1073
I find out that `?` safe-navigation operator can't be used as ng-model does the check but the thing is that this is not working when I'm getting data from a http request, so is this still a bug or not?

[2016-08-18 14:42] vapits commented on #844
Is this related with this #1073  ?

[2016-08-18 14:55] vapits commented on #1073
Workaround:

In my code I just initialise the property I wanted to display in the `md-input` in the constructor.

That solved my problem of course. So maybe this is a **feature** instead of bug.

Please choose and set labels or close the issue.

Thank you

[2016-08-18 15:13] carol-braileanu commented on #1074
Sorry, I figured it out, I am now using `ComponentResolver` instead of `DynamicComponentLoader` and everything works fine.

[2016-08-18 15:13] #1074 closed

[2016-08-18 15:20] RajeeNedunchezhian opened #1075 "While Selecting between tabs, it recreates the component in md-content"
#### Bug, feature request, or proposal:
I have a component that shows a grid (wijmo). While embedding this component within the md-content, it renders the tab pretty nicely. However when i select between the tabs , the component gets recreated. Hence the grid is re-rendered and any filters or groups applied gets cleared.

#### Which versions of Angular, Material, OS, browsers are affected?
Angular

[2016-08-18 15:24] pkozlowski-opensource commented on #1075
If I recall things properly this is by design. If you want to preserve state just keep your data model outside of tabset.

[2016-08-18 15:30] jelbourn commented on #972
You should load the css files with a `<link>` element rather than `styleUrls` in a component.

alpha.7-4 isn't all the way up to master; it only includes very minor changes that won't affect most users (in this case fixing an issue with `ngc` running on the ripple).

[2016-08-18 16:02] xhite commented on #972
@jelbourn thanks it works when loading globally with <link>

[2016-08-18 16:43] vapits commented on #1057
This is still here in `alpa.7-4`

[2016-08-18 17:26] jelbourn commented on #1075
See #731

[2016-08-18 17:26] #1075 closed

[2016-08-18 17:29] MoxxNull opened #1076 "Proposal for collapsible List-items/Nav-list"
#### Bug, feature request, or proposal:
Proposal

#### What is the use-case or motivation for changing an existing behavior?
I've not already mentioned: An option for <md-nav-list> / <md-list-item> for a collapsible "submenu" would be cool, like shown in this image i found: [http://i.stack.imgur.com/SNBAA.png](url)

I could not find anything related.. if already planned, please close :) .  And kee

[2016-08-18 17:33] jelbourn commented on #1073
This is the intended behavior of Angular itself (not specific to material). The two-way binding consists of both reading the value and _writing_ the value, where the `?.` operator doesn't make sense for assignments.

[2016-08-18 17:33] #1073 closed

[2016-08-18 18:20] theunreal opened #1077 "Progress precentage view"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
Show precentage % as label on progress bars

#### What is the current behavior?
No precentage is shown
#### What is the use-case or motivation for changing an existing behavior?
Let the user know more about the progress, like how many % completed, for example level system with precentage - the user must know what

[2016-08-18 19:36] RajeeNedunchezhian commented on #731
Yes i agree that we should have both options, as @no-more mentioned, i have similar use case where i group the grid , now after switching tabs the grouping/filtering doesnt stay. The data bound to grid in different tabs are not the same , so putting the datamodel outside wont work in this case . @RicardoVaranda can you provide your solution if possible. Thanks

[2016-08-18 22:54] RoxKilly commented on #1071
A user with the handle ['James' on StackOverflow](http://stackoverflow.com/questions/39010654/angular-2-how-to-make-singleton-service-available-to-lazy-loaded-modules/3902468) helped me find an acceptable workaround until lazy routes are supported.

Basically, instead of importing `MdIconModule`, build a custom module (I call it `MdIconFixedModule`) that declares and exports `MdIcon`, but leave it

[2016-08-18 23:40] rachelmcgrane opened #1078 "Responsive Layout Directives"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Layout directives similar to Angular Material (https://material.angularjs.org/latest/layout/container). Perhaps implemented similar to the following:
[code]

#### What is the current behavior?
Currently, does nothing

#### What is the use-case or motivation for changing an existing behavior?
Easily create

[2016-08-18 23:46] RoxKilly commented on #1016
Closing this. Refer to https://github.com/angular/material2/issues/1071

[2016-08-18 23:46] #1016 closed

[2016-08-18 23:47] RoxKilly commented on #1022
Closing this. Refer to https://github.com/angular/material2/issues/1071

[2016-08-18 23:47] #1022 closed

[2016-08-19 01:27] jelbourn commented on #1077
This isn't mart of the material design spec, and you can always just do something like
[code]

[2016-08-19 01:27] #1077 closed

[2016-08-19 01:28] RicardoVaranda commented on #731
I will create a pull request with the solution for this in the morning.

[2016-08-19 01:32] m0t0r commented on #1078
@rachelmcgrane there is already issue #946 for it

[2016-08-19 02:28] lizardd commented on #1013
very thank you。 @vapits

[2016-08-19 05:40] mounikaseelam20 opened #1080 "md-list does not work in production build"
#### Bug, feature request, or proposal:
md-list does not work in production build

#### What is the expected behavior?
I am using 2.0.0-alpha.7-4 of @angular2-material and following is the code to render list of items

`<md-list class="side">
  <md-list-item class="active list-text" *ngFor="let item of list">
    <md-icon>{{item.icon}}</md-icon>
    {{item.name}}
  </md-list-item>
</md-list>`

and

[2016-08-19 06:01] dominic198 opened #1081 "Request for feature"
can you please a material carousel for angular 2

[2016-08-19 06:43] easedev opened #1082 "[Chrome] md-input up/down arrows showing when input type is not set to number"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

In all browsers the md-input up/down buttons should be visible only when input type is set to "number".
#### What is the current behavior?

In Chrome the md-input up/down buttons show even when type="number" is not set and when "style='line-height: 1'" is set on body such as when using this reset.css : http://meyerwe

[2016-08-19 06:56] Pixcell opened #1083 "[NPM Package] @angular2-material/all"
#### Bug, feature request, or proposal:

Proposal

#### What is the expected behavior?

installing @angular2-material/all through npm should install all available components, including the bottleneck module MaterialModule

#### What is the current behavior?

@angular2-material/all is not a npm repository

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to

[2016-08-19 08:04] pramttl commented on #946
This is a much needed feature. I tried mixing bootstrap4 css and angular2 material together just for using [bootstrap4 grid layouts](http://v4-alpha.getbootstrap.com/layout/grid/) but that caused some issues in the margin and padding.

[2016-08-19 09:03] ggranum commented on #535
A workaround for those using the beta-11 angular-cli ( "angular-cli": "1.0.0-beta.11-webpack.2" ):

1. npm install --save @types/hammerjs
2. npm install --save hammerjs
   1. (This probably did nothing)
3. Added the line `import 'hammerjs'` to my app.module.ts file.
4. Copied the overlay styles.css into my own CSS, as I've yet to figure out how I'm supposed to reference vendor styles in the node_m

[2016-08-19 09:32] theunreal opened #1084 "MdTooltip doesn't work with pipe"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

MdTooltip to work fine with pipe
#### What is the current behavior?

Tootlip doesn't work using the following expression:
`[md-tooltip]="activity.created_at | amTimeAgo"`

[code]
#### What are the steps to reproduce?

using angular2-moment with MdTooltip:
`[md-tooltip]="activity.created_at | amTimeAgo"`
#### Which ve

[2016-08-19 09:33] theunreal commented on #1045
I have the same error, with another package.

`[md-tooltip]="activity.created_at | amTimeAgo"`

[code]

[2016-08-19 09:44] theunreal opened #1085 "Tooltip appeaers in the opposite side of the screen (RTL)"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

Tooltip appeaers below / in right of / in left of the object
#### What is the current behavior?

Tooltip appears in the wrong position, hidden in screen corners. (RTL pages)

My app has 2 sidebars:
1. Right sidebar
2. Left sidebar

I have MdList in my Left sidebar, and [md-tooltip] on each item.
The tooltip appears i

[2016-08-19 09:46] colinfang opened #1086 "Suggest add user-select: none to [button-toggle]"
Since button-toggle appears like buttons, I suggest `user-select` should be disabled. (Maybe in `.md-button-toggle-label-content`)

[code]

[2016-08-19 10:27] vapits commented on #1063
@jelbourn I guess in my case this is my `app.module` but it stills stays there.

[2016-08-19 10:45] RajeeNedunchezhian commented on #731
Thanks @RicardoVaranda

[2016-08-19 11:34] code-tree commented on #123
Thanks for continuing to work on this. I'm not sure if the following is planning on being supported, so I'm mentioning it just in case:

I plan on including a "dark/light theme" setting in my app. I'm hoping I'll be able to export both normal/dark material theme variations, with the dark version only enabled when `body.dark` class is present (set by the UI setting). Will this sort of thing be poss

[2016-08-19 13:46] m0t0r commented on #1084
@theunreal you are trying to use pipe on a binding, not on interpolation. I am not sure that is possible.

[2016-08-19 13:47] theunreal commented on #1084
@m0t0r It is possible

[2016-08-19 14:03] m0t0r commented on #1084
@theunreal can you create an example ? Look at this [plunker](http://plnkr.co/edit/9MiSUPvjmCE7pqjFKg8v?p=preview). The pipe applied to binding is not working, you likely have error not from `MdTooltip` but rather from `amTimeAgo` pipe

[2016-08-19 14:21] theunreal commented on #1084
@m0t0r your `hello` needs to be a variable and the text attributes need to have brackets `[text]`

[2016-08-19 14:24] m0t0r commented on #1084
@theunreal yes, sorry, my bad. It works now, interesting..

[2016-08-19 15:28] maciejsobala opened #1087 "[feature request] md-checkbox-group to make checkbox work with reactive forms"
#### feature request:

Implement `<md-checkbox-group>` element, which would work same way as `<md-radio-group>`
#### What is the expected behavior?

Introducing this element, would be great way to deal with reactive forms, in same way as with radios:

[code]

component:

[code]

For checkbox, we would do something like that:

[code]

component:

[code]
#### What is the use-case or motivation for c

[2016-08-19 19:02] theunreal opened #1088 "Menu not working in RTL"
MdMenu don't trigger/open menu in RTL pages. Tooltip does not either.

Menu with any page with dir="rtl" will not show at all.

Angular 2 Rc.5 with latest Angular 2 Material (v8-1)

Plunker:
https://plnkr.co/edit/5dJE21K2rqMHQupaAm3C?p=preview

[2016-08-19 19:07] drager commented on #1050
Alright, thanks!

[2016-08-19 19:39] SpoorthyReddyElla commented on #982
I am having the same issue using md-progress-circle using RC2.
Is there a way I can make angular material work with RC2?

[2016-08-19 21:28] davideast commented on #535
@vapits @ggranum

In your `tsconfig.json` you need to enable the `skipLipCheck' option. This keeps TypeScript from type checking library code that is presumably already type checked.

[code]

[2016-08-20 02:23] manekinekko opened #1089 "CSS is broken when built with -prod (CLI)"
#### Bug, feature request, or proposal:
- [x] Bug

#### What is the expected behavior?
![image](https://cloud.githubusercontent.com/assets/1699357/17828253/ea1a32ac-668c-11e6-8132-3e6c41331fec.png)

![image](https://cloud.githubusercontent.com/assets/1699357/17828259/04af9814-668d-11e6-9cfa-60ffbde68eaa.png)

#### What is the current behavior?
![image](https://cloud.githubusercontent.com/assets/16

[2016-08-20 13:38] rajkgoel opened #1090 "EXCEPTION: Error: Uncaught (in promise): No value accessor for 'lstCountries'"
#### Bug : I see this error, mentioned in title, with the following code -
`      <ul ngControl="lstCountries" name="lstCountries"
          (click)="setSelectedCountry(country)"
          *ngFor="let country of model.SelectedContinent?.Countries"
          [ngClass]="{selected: country.Id == model.SelectedCountry?.Id}">
          <li>
              <span class="country-col">{{country.Name}}</span

[2016-08-20 15:49] DzmitryShylovich commented on #1090
ngControl is deprecated and will be removed in rc6.

[2016-08-20 15:52] DzmitryShylovich commented on #1080
might be related to https://github.com/angular/angular/issues/10618

[2016-08-20 18:17] mentatxx commented on #972
Also you can just disable ripple for a while

[code]

[2016-08-20 18:52] #935 closed

[2016-08-20 18:53] soorireddy opened #1091 "collapsible(expando) list"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-08-20 19:07] kara commented on #1090
@rajkgoel  As @DzmitryShylovich mentioned, it looks like you're using the deprecated forms API, which is not supported in alpha.6 or later of Material.  You can downgrade to Material alpha.5, but the old API is going to be removed in the next release of angular, so I'd recommend upgrading.

[2016-08-20 19:07] #1090 closed

[2016-08-20 19:49] rajkgoel commented on #1090
Thanks for notifying it Kara. Yes, I am currently using deprecated forms api, going to upgrade it with the next release.

[2016-08-21 01:48] RedFour opened #1092 "How to style md-tab?"
How do I style the md-tab?

I've created a few test tabs using the documentation. But I can't figure out how to make the tab's width to be smaller. The default width is too large for mobile screens.

[code]

[2016-08-21 13:16] Mc128k commented on #114
The dialog works, but it appears that there is no way to pass data to the component inside, am I wrong? Like when you call it like this:
[code]

[2016-08-21 14:59] Mc128k commented on #114
Oh nevermind. For future readers, it's possible to edit the instance of the StandardDialog (custom) class by editing `dialogRef` like this:
[code]

[2016-08-21 15:55] Lavan opened #1093 "md-icon-button in md-toolbar has icon displaced"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

The icon should be centered in the button.
#### What is the current behavior?

The icon is displaced 8px upwards to be very close to outer edge of the button.
#### What are the steps to reproduce?

http://plnkr.co/edit/ljTlfhIkQeksCEGimtXM?p=preview
#### What is the use-case or motivation for changing an existing beh

[2016-08-21 16:19] DzmitryShylovich commented on #1093
I think the proper solution would be to add the following [here](https://github.com/angular/material2/blob/abcc6af54df6125075dc465715b246dfdbb5b364/src/lib/button/button.scss#L47)
[code]

[2016-08-21 19:02] churchilllake opened #1094 "material2 + angular2 module compilation error"
In my module, I attempt to load all the material2 components.  I get the traceback down below the module code.  I write because I don't know what to do with the trace.  I can sort of tell it has to do with ngModule.  I can't figure out what it is that's missing it's promise exception clause.  I haven't explicitly used a promise yet.  Perhaps this isn't even my error, I just can't tell.  Any help w

[2016-08-21 20:43] churchilllake commented on #1094
Fixed it, main.ts was bootstrapping the component and should have been using bootstrapModule instead.  That fixed it.  The trace didn't help me very much, but enough.

[2016-08-21 20:52] DzmitryShylovich commented on #1094
So u can close the issue.

[2016-08-21 21:00] #1094 closed

[2016-08-21 22:25] zakdances commented on #973
I'm using `NgModule` and I still need to include `MD_RIPPLE_DIRECTIVES`.

[2016-08-21 23:28] Kosmonaft commented on #1089
Hi,

This is a know issue. Check this 2 issues from angular and  angular-cli
[#10618](https://github.com/angular/angular/issues/10618)
[#1662](https://github.com/angular/angular-cli/pull/1662)

The problem is in the minify-ing

[2016-08-22 07:18] urbanmichal opened #1095 "What's the best way to scale (change size) checkboxes/other controls?"
What's the best way to scale (change size) checkboxes/other controls?

[2016-08-22 07:24] vapits commented on #114
Any news about releasing this? The depending issue is closed (to be splitted further though).

[2016-08-22 12:14] pgg opened #1096 "md-fab creates and leaves md-ripple-fade-in inner div on click event"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?

To not duplicate and leave the inner div
#### What is the current behavior?

Duplicates the md-ripple-fade-in inner div
#### What are the steps to reproduce?

Markup:

[code]

Run app, open button in chrome dev tools inspector, you should see something like this:

[code]

Click 4 times on button and you will see some

[2016-08-22 14:21] henrikssn commented on #931
We have a color in the parent component which we also want to use for the ink bar. The color depends on data which we get dynamically.

[2016-08-22 15:20] tylermassey commented on #1096
I'm experiencing the same issue with `<md-button>`.

[2016-08-22 15:27] jelbourn commented on #1083
Dupe of #236

[2016-08-22 15:27] #1083 closed

[2016-08-22 15:29] #1091 closed

[2016-08-22 15:30] jelbourn commented on #1081
We have no plans to add any kind of carousel component.

[2016-08-22 15:30] #1081 closed

[2016-08-22 15:39] dimfried opened #1097 "Squished checkbox (md-checkbox)"
#### Bug, feature request, or proposal:

Checkbox (md-checkbox) squishes if the label text is too long.
#### What is the expected behavior?

Checkbox has always the same size, independent from the label text lenght
#### What is the current behavior?

Checkbox squishes if label text is too long
#### What are the steps to reproduce?

ex.
1. Set parent element to fixed width
2. add a very long label

[2016-08-22 16:24] jelbourn commented on #1089
Closing since it appears to be an issue with angular-cli

[2016-08-22 16:24] #1089 closed

[2016-08-22 16:25] jelbourn commented on #1092
This would fall under #123

[2016-08-22 16:25] #1092 closed

[2016-08-22 20:44] gregbown opened #1100 "md-button-toggle-group, can only set value through child"
I'm not sure if this was intended, however I was trying to set the value of a md-button-toggle-group via a reference and discovered that a md-button-toggle-group will only be exposed as an ElementRef
and thus setting it's value is not possible.  The md-button-toggle, however; will be exposed as an MdButtonToggle, thus it allows access to its group and setting the group value.
@ViewChild('toggleBut