[2016-11-02 12:43] mwamufiya commented on #1457
@kgiroux in waiting for this change, I've manually updated the material.umd.js to remove the 2 events in conforming with the change that is pending as shown here [merge](https://github.com/angular/material2/pull/1458#ref-issue-181889819)

not ideal, but hopefully it helps if this is a blocker for you as it was for me.

[2016-11-02 12:58] poloagustin commented on #1691
Have you tried <md-input [max]="20" [min]="0"></md-input> ?

[2016-11-02 13:03] quanterion commented on #119
Also what about plans to include check boxes inside menu?

[2016-11-02 13:16] kgiroux commented on #1457
@mwamufiya,  I follow the advice from @gatimus. But it is just a temporary fix.  It is just for having a date of release.  Thank for your quick reply =)

[2016-11-02 13:20] AmitMY commented on #1691
Well of course I have.
The attributes do exists, but they dont **behave** in the expected way.

[2016-11-02 14:28] tomwanzek commented on #731
This item seems all the more important now.

As far as the "Tab + Router" issue #524 goes, it has  just been closed with a solution that does not seem to address the use case I initially opened as issue #1445 (I.e. using a secondary router outlet as _one_ of the tabs in a tab-group.)

[2016-11-02 14:33] tomwanzek commented on #1445
@jelbourn @andrewseguin I just had a quick look over the proposed solution to #524. While viable in a number of use cases, it does not seem to address the above use case.

Any suggestions? The only other solution I can see is related to using a [hide] option as contemplated in #731.

Thanks in advance for your insight.

[2016-11-02 14:36] jimarthurnilsen commented on #1316
md-raised-button fires on a single click on iOS chrome/safari.
md-icon-button and md-button requires 2 clicks

[2016-11-02 16:11] aecz opened #1692 "[Tabs] Two-way binding for tabs only work on initializing component"
#### What is the expected behavior?
When changing the variable bind to selectedIndex, the active tab should change.

#### What is the current behavior?
The active tab stays the same.

#### What are the steps to reproduce?
http://plnkr.co/edit/cX9OKA?p=preview

#### Which versions of Angular, Material, OS, browsers are affected?
@angular : 2.0.0
@angular/material : 2.0.0-alpha.9-3
Windows 7

[2016-11-02 16:12] jelbourn commented on #1445
@tomwanzek we will be adding a "hidden" option for tabs (per #731)

[2016-11-02 16:15] tomwanzek commented on #1445
@jelbourn thx.

[2016-11-02 17:09] #1691 closed

[2016-11-02 17:10] jelbourn commented on #1691
"Add more features" is not a specific, actionable issue.

[2016-11-02 17:15] christiandreher commented on #1650
@TimKlein87 thanks for the response. I have implemented something similar, but I expect material to offer some functionality for this.

And you are right that an `md-toolbar` could be automatically aligned, without a `md-card-header`, but I thought that a `md-card-header` would be more generic, so we could place anything there and not only a `md-toolbar`.  It would also be more consistend.

Maybe

[2016-11-02 17:24] aecz commented on #573
Same issue on Angular 2.0.0 and Material 2.0.0-alpha.9-3.
Spent one hour looking for this issue :( Ill switch to another theme for now. Better to wait until its out of alpha :)

[2016-11-02 17:36] jelbourn commented on #573
This was fixed by #1645, which will be part of alpha.10

[2016-11-02 17:36] #573 closed

[2016-11-02 18:17] haseeb-ahmad commented on #118
@mesopotamia @jelbourn
can you please guide me through adding <select> coz I've tried doing everything I could to make it work along with material.
.
It says "I'm a select element" and shows no SELECT drop down on the page.
....
I'll be ok even if I could have a simple html <select> working without any styling.

[2016-11-02 18:19] jelbourn commented on #118
https://github.com/angular/material2/blob/master/src/lib/select/README.md

[2016-11-02 18:22] haseeb-ahmad commented on #118
@jelbourn
Yeah sure... of course, I've read that it is under development.
.
What I'm asking is that do you know the real cause of "I'm a select element" and how can I place a simple **select** tag instead of **md-select**? Because simple **select** tag isn't working either.

[2016-11-02 19:11] joejordanbrown opened #1694 "[md-input] Bug - floatingPlaceholder and autocomplete."
#### Bug, feature request, or proposal:
Bug

#### What is the expected behaviour?
floatingPlaceholder should disable the floating placeholder but autocomplete breaks this.

#### What is the current behaviour?
floatingPlaceholder = false. When selecting from autocomplete the floating placeholder appears.

![image](https://cloud.githubusercontent.com/assets/10200431/19943463/63413bd0-a12f-11e6-9d5c-

[2016-11-02 21:02] bkarv opened #1698 "MdDialog Feature Request: Ability to change Width and off-set"
#### Feature Request
Ability to set width of Dialog and dialog off-set (x,y) through input parameters so that dialogs can be made responsive to the screen media. For example on mobile media the programmer could set dialog box to be 100% and off-set would be set to 0,0 so it takes up the entire screen. For desktop media the programmer would set to default standard position that is in the centre.

[2016-11-02 21:16] AmitMY opened #1699 "[Feature] List Item Click"
#### Bug, feature request, or proposal:
feature request

#### What is the expected behavior?
Same as when having "ng-click" in the old version (having a ripple effect)
https://material.angularjs.org/latest/demo/list

#### What is the current behavior?
No ripple click feel

#### What are the steps to reproduce?
[code]

#### What is the use-case or motivation for changing an existing behavior?
Bette

[2016-11-02 23:31] krigton commented on #1522
Where I can get more details about this issue? Thanks

[2016-11-03 08:03] codejith opened #1706 "Does md-input supports the pattern property.?"
#### Bug, feature request, or proposal:

feature request

Does md-input supports the pattern property.? Like the patterns in html5. If not when can we expect to see such a feature.?

[2016-11-03 09:41] daniele-zurico commented on #1243
any news on that one?

[2016-11-03 10:17] mbeckenbach opened #1707 "Form blocking loading overlay"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Modal or div loading overlay similar to the style that firebase dashboard uses:

![image](https://cloud.githubusercontent.com/assets/6654388/19962175/c2ee3de4-a1b6-11e6-95e2-85eb8d07c905.png)

#### What is the use-case or motivation for changing an existing behavior?
Quite you need to lock forms after a su

[2016-11-03 10:22] mbeckenbach opened #1708 "Additional Input field style"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
In addition to the default md-input style, it would be great to have some kind mix between traditional input boxes and the style that angular material uses. You can see in my screenshot from firebase what i mean. The inputs are classical boxes with only a colored border at the bottom.

![image](https://clo

[2016-11-03 10:23] mbeckenbach commented on #1708
BTW: I love the way they provide some additional info regarding this field on the right side.

[2016-11-03 10:59] amanullahnxb opened #1709 "For <md-grid-list cols="3" rowHeight="fit"> (rowHeight is not working)"
<md-grid-list cols="3" rowHeight="200px"> is working.. but when i use rowHeight="fit". It does not work. (whole grid crashes)

[2016-11-03 11:12] mbeckenbach commented on #946
@jelbourn  @eXaminator
We experienced the same and feel quite compfortable with the css classes only. Wouldn't it be possible to create something similar in ng2. A pure css solution.

[2016-11-03 11:16] mbeckenbach commented on #1460
This use case not quite common and should be supported.
@sebakerckhof I was also thinking about creating a node js webservice that compiles the sass files, so i would only have to pass some parameters, let it compile and then include the correct compiled css file for each tenant. Not sure if the theme would really have to be generated at runtime.

[2016-11-03 13:42] elaijuh opened #1710 "how to define z-depth"
#### Bug, feature request, or proposal:
feature request

#### What is the expected behavior?
class to define z-depth

#### What is the current behavior?
seems no such class

#### Is there anything else we should know?
if there is a way to define z-depth (shadow) pls advise and pardon me.

[2016-11-03 14:53] joejordanbrown commented on #1708
I believe this feature is already available.

If you don't want the floating placeholder set `floatingPlaceholder` to `false` like the following:

[code]

[2016-11-03 15:11] joejordanbrown commented on #1706
There is a PR that has not been merged that fixes this.

#873

[2016-11-03 16:28] jelbourn commented on #1710
`.md-elevation-z0` through `.md-elevation-z24`

[2016-11-03 16:28] #1710 closed

[2016-11-03 16:30] jelbourn commented on #1708
@mbeckenbach is turning off the floating placeholder just what you wanted?

[2016-11-03 16:33] jelbourn commented on #1707
I don't think we need a component for this- you should be able to accomplish it with the md-spinner and some CSS.

[2016-11-03 16:33] #1707 closed

[2016-11-03 16:33] helzgate commented on #931
You might as well get used to using the following because you'll run into issues like this constantly using material design.

`ngAfterViewInit() {`
    `let bar = document.querySelector('md-ink-bar');`
      `this._render.setElementStyle(bar, 'backgroundColor', 'red');`
    `}`

[2016-11-03 16:44] kara commented on #1709
@amanullahnxb Are you setting a height for the grid list? It needs a fixed height if you are using fit mode.  If you are, please send a minimal repro case using our plunker template (in our issue template).

[2016-11-03 16:57] guntram commented on #931
If you do something like this, it would be better o change the classes!
[ngClass]="{'first': myConditionForFirst, 'second': true, 'third': false}"

.first md-ink-bar { background-color: red; }
.second md-ink-bar { background-color: pink; }

Taken from [ngDox](https://angular.io/docs/ts/latest/api/common/index/NgClass-directive.html)

[2016-11-03 19:08] ross-nordstrom opened #1714 "[md-icon] should work the same for custom and built-in icons"
#### Bug, feature request, or proposal:
MdIcon should encapsulate the fact that you're using a custom SVG icon, so the usage stays the same whether you're using built-in icons or custom ones.

#### What is the expected behavior?
I would like to reference icons the same, whether they are built-in or custom icons I've registered.

[code]

If I've overridden `search` with a custom icon, I want the ht

[2016-11-03 20:26] helzgate commented on #931
@guntram  I've spent hours trying to get your method working.  I would rather use it but I give up.

[2016-11-03 20:40] jelbourn commented on #1714
This isn't "custom" vs. "built-in"- the difference in APIs is font-icons vs. SVG icons. Font-icons literally _are_ the text content of the element because they use ligatures, whereas there is no corresponding concept for SVG.

[2016-11-03 20:43] jelbourn commented on #1699
We plan to implement this as `<md-action-list>`

This is currently tracked via #107

[2016-11-03 20:43] #1699 closed

[2016-11-03 20:46] jelbourn commented on #1706
Dupe of #841

[2016-11-03 20:46] #1706 closed

[2016-11-03 20:54] #679 closed

[2016-11-03 20:55] jelbourn commented on #679
It's just in the `MaterialModule` now

[2016-11-03 20:57] jelbourn commented on #759
@mmalerba need discussion on the behavior of `md-sidenav-layout` WRT taking up the whole screen

[2016-11-03 21:01] jelbourn commented on #831
I believe the issue here is that when `NgModel` writes the value via `writeValue`, change detection isn't always happening because the checkbox is `OnPush`. We need to use the `changeDetectorRef` to make sure change detection happens when `NgModel` writes the value.

[2016-11-03 21:01] jelbourn commented on #831
(also applies to radio-button and toggle-buttons)

[2016-11-03 21:08] jelbourn commented on #885
@tinayuangao can you reproduce?

[2016-11-03 21:10] #965 closed

[2016-11-03 21:11] jelbourn commented on #1025
We removed `dragstart` and `dragend`, but we should also remove drag from gesture config.
https://github.com/angular/material2/blob/b09465cda7cf8c74a5c903ee49d0366d644643d4/src/lib/core/gestures/MdGestureConfig.ts#L10-L10

[2016-11-03 21:14] jelbourn commented on #1038
@crisbeto can you reproduce on master?

[2016-11-03 21:14] andrewseguin commented on #1243
Hey Daniele, this has not yet been started as there are some higher priorities in the queue for tabs.

[2016-11-03 21:17] jelbourn commented on #1055
@mmalerba I want to follow up on this with some more discussion

[2016-11-03 21:22] jelbourn commented on #1082
@mmalerba can you produce this on master?

[2016-11-03 21:23] jelbourn commented on #1085
@andrewseguin this should likely do the same thing Kara is doing in `md-menu` for RTL

[2016-11-03 21:26] jelbourn commented on #1088
@kara you have this resolved in one of your open/recent PRs, right? If so, please close.

[2016-11-03 21:28] jelbourn commented on #1095
Right now we don't support changing the size of the controls, but will be exploring different density options in the future.

[2016-11-03 21:28] #1095 closed

[2016-11-03 21:44] ThomasBurleson opened #1718 "toolbar: unable to specify attributes on first toolbar-row"
#### Bug, feature request, or proposal:

`md-toolbar` projects content to an internal `md-toolbar-row` container and uses FlexBox css to layout in *'row'* directions for that container. This means that custom CSS must be used to modify the direction to *'column'*.

To achieve something like this is a challenge:

![toolbar-flow-directions](https://cloud.githubusercontent.com/assets/210413/19986294/

[2016-11-03 22:04] geelus commented on #1038
Hi Jelbourn

This was because I was using input in a loop and allocated it a single name. I believe I fixed the issue by using a name + counter trick.

Should I get back to a single name?

[2016-11-03 22:06] kara opened #1719 "Introduce [ltr, rtl] layout direction service"
Similar to what the Dir directive does, but will also capture "dir" attributes outside the Angular app.

cc: @jelbourn

[2016-11-03 22:11] kara commented on #1088
Yes, menu should work fine in RTL, but the dir attribute needs to be set within the Angular app so we can see it and set the connection position properly. This is only temporary while we wait for a longer-term layout service.

@theunreal For now, if you put your "dir" attribute within your Angular app (and remove it from the HTML tag), it should fix your issues. Ex: ttps://plnkr.co/edit/jjt9NydTQu

[2016-11-03 22:11] #1088 closed

[2016-11-03 22:21] krigton commented on #831
What we should do about the value two way binding? thanks

[2016-11-03 22:21] jelbourn commented on #1038
Ah, that makes sense. Any form control needs a unique name.

[2016-11-03 22:21] #1038 closed

[2016-11-03 22:30] geelus commented on #1038
Although it makes sense, but the original controls do work with one single name as well. May it's a good idea to somehow making it unique when it's inside a loop.

[2016-11-03 22:51] #1097 closed

[2016-11-03 22:53] #1686 closed

[2016-11-03 22:54] #1388 closed

[2016-11-03 22:56] #1523 closed

[2016-11-03 22:57] #1419 closed

[2016-11-03 22:57] #1129 closed

[2016-11-03 22:59] #1633 closed

[2016-11-03 23:00] #879 closed

[2016-11-03 23:00] #1070 closed

[2016-11-03 23:01] #1086 closed

[2016-11-03 23:05] #1382 closed

[2016-11-03 23:29] tinayuangao commented on #885
Can't reproduce this issue.

[2016-11-03 23:51] jelbourn commented on #1039
@tinayuangao Until we support multiple selection on `<toggle-button-group multiple>` this should give a better error message

[2016-11-03 23:52] jelbourn commented on #1096
@tinayuangao can you check that this is an issue? I suspect that this is obsolete as of alpha.9

[2016-11-04 00:02] tinayuangao commented on #1036
The problem is `get options_3` returns a new map whenever `options_3` is called. In that case, the `md-radio-group` will generate a new list of `md-radio-button`.

Clicking on the radio buttons (and other activities) will trigger the `options_3` function and cause the existing radio buttons to be replaced by new ones. The new buttons haven't received any selection event, so they behave like not cl

[2016-11-04 00:05] jelbourn commented on #1100
In your template you just have to put
[code]

And the `@ViewChild` will give you the correct thing.

[2016-11-04 00:05] #1100 closed

[2016-11-04 00:05] tinayuangao commented on #1036
The correct way to do it is your `get options_2` if you really need a function in the `*ngFor` loop. Closing this issue.

[2016-11-04 00:05] #1036 closed

[2016-11-04 00:13] jelbourn commented on #1107
@gregbown we will be refactoring `md-input` soon such that you'll always have access to the full `<input>` API without the library having to manually pass-through everything.

[2016-11-04 00:19] jelbourn commented on #1131
@tinayuangao this will apply to checkbox, radio buttons, button-toggle, and slide-toggle.

@DevVersion this issue is about ` .focus()` method on the component rather than the fired event. We should probably handle that as well, though. File a separate issue?

[2016-11-04 00:21] jelbourn commented on #1142
@tinayuangao we might need to think a bit about our approach here

[2016-11-04 00:26] jelbourn commented on #1160
I can't quite follow what your issue is, but I think it may be the same root cause as #831.

If not, please open a new issue that follows the issue template.

[2016-11-04 00:26] #1160 closed

[2016-11-04 00:28] jelbourn commented on #1157
@andrewseguin can you confirm that this issue is fixed on master?

[2016-11-04 00:30] DevVersion opened #1723 "Support focus outputs on button-toggle, slide-toggle etc."
For all custom components with an underlying input we should support a focus / blur event on the component host.

Since the most of those components are wrapped inside of `<label>` element, the focus / blur events will fire like on each click.

- http://codepen.io/DevVersion/pen/Vmwmvd?editors=1111

I think in this case the `focus` | `blur` events will not make any big sense, because those are kin

[2016-11-04 00:31] jelbourn commented on #1152
@tinayuangao is this still an issue in master?

[2016-11-04 00:41] jelbourn commented on #1171
@crisbeto we should add `setDisabledState` to all of our forms components

[2016-11-04 00:42] jelbourn commented on #1172
@crisbeto can you determine if this is still an issue? It may have already been fixed.

[2016-11-04 00:43] jelbourn commented on #1177
This isn't something we plan on adding for now.

[2016-11-04 00:43] #1177 closed

[2016-11-04 00:44] alanpurple commented on #1172
@jelbourn  not anymore, seems solved

[2016-11-04 00:47] jelbourn commented on #1202
@crisbeto I suspect that this has been fixed in alpha.9, could you confirm? You can use https://github.com/jelbourn/material2-app which is already set up for AoT
(you just have to run `./node_modules/.bin/ngc -p ./src` before you `ng serve`)

[2016-11-04 00:48] #1189 closed

[2016-11-04 00:51] jelbourn commented on #1205
@tinayuangao I suspect this is the same underlying issue as #831

[2016-11-04 00:54] jelbourn commented on #1279
This should have been resolved in alpha.9

[2016-11-04 00:54] #1279 closed

[2016-11-04 00:55] jelbourn commented on #1212
@crisbeto Can we determine if there a bug here or if this is just a question?

[2016-11-04 01:06] RoxKilly commented on #1202
@jelbourn You're right; this problem disappeared after I moved to `alpha 9`

[2016-11-04 01:06] #1202 closed

[2016-11-04 01:11] #1172 closed

[2016-11-04 01:12] #1226 closed

[2016-11-04 01:14] #1273 closed

[2016-11-04 01:17] jelbourn commented on #1284
Should be resolved by changes in ngUpdgrade

[2016-11-04 01:17] #1284 closed

[2016-11-04 01:22] jelbourn commented on #1300
Should be fixed in #1505

[2016-11-04 01:22] #1300 closed

[2016-11-04 01:24] jelbourn commented on #1314
Sounds like this is caused by missing the core styles. See https://github.com/angular/material2/blob/master/docs/theming.md

[2016-11-04 01:24] #1314 closed

[2016-11-04 01:25] jelbourn commented on #1316
@crisbeto do you have an iOS device to investigate this?

[2016-11-04 01:28] jelbourn commented on #1333
Yep, follow #675 for the full datepicker component.

[2016-11-04 01:28] #1333 closed

[2016-11-04 01:30] jelbourn commented on #1349
@devpaulson I can't reproduce this- do you have a project you can share that reproduces this?

[2016-11-04 01:32] jelbourn commented on #1348
Fixed in #1544 which will be included in the next release.

[2016-11-04 01:32] #1348 closed

[2016-11-04 01:33] jelbourn commented on #1359
Right now we don't have plans to support this as a part of tooolbar, since it's more of a layout concern.

[2016-11-04 01:33] #1359 closed

[2016-11-04 01:34] jelbourn commented on #1370
@mmalerba can you confirm that this is fixed in master?

[2016-11-04 01:35] jelbourn commented on #1372
Fixed in #1546

[2016-11-04 01:35] #1372 closed

[2016-11-04 01:36] jelbourn commented on #1376
@DevVersion we should discuss this a bit

[2016-11-04 01:37] jelbourn commented on #1387
Sounds like this was caused by missing core styles, not documented https://github.com/angular/material2/blob/master/docs/theming.md

[2016-11-04 01:37] #1387 closed

[2016-11-04 01:39] jelbourn commented on #1393
The problem with overlay is fixed in #1544- other than that, I think everything else should be covered by https://github.com/angular/material2/blob/master/docs/theming-your-components.md

[2016-11-04 01:39] #1393 closed

[2016-11-04 01:39] jelbourn commented on #1397
Dupe of #1171

[2016-11-04 01:39] #1397 closed

[2016-11-04 01:40] jelbourn commented on #1401
We're not officially supporting changing the size of the controls just now. In the future we'll be adding different density configuration options.

[2016-11-04 01:40] #1401 closed

[2016-11-04 01:43] jelbourn commented on #1570
@RoxKilly an experimental release for alpha.10 with this fix is on npm under the `@experimental` tag- does the change improve what you had been seeing?

[2016-11-04 01:44] jelbourn commented on #1571
Fixed in #1579, will be part of the next release.

[2016-11-04 01:44] #1571 closed

[2016-11-04 01:45] jelbourn commented on #1574
Fixed in #1579, will be a part of the next release.

[2016-11-04 01:45] #1574 closed

[2016-11-04 01:46] jelbourn commented on #1592
@code-tree I cannot reproduce this- are you able to share your project?

[2016-11-04 01:47] jelbourn commented on #1577
Fixed by #1470

[2016-11-04 01:47] #1577 closed

[2016-11-04 01:48] jelbourn commented on #1648
@keryhu What are the errors?

[2016-11-04 01:50] jelbourn commented on #1698
@crisbeto this has been an intended feature, we should chat about the API

[2016-11-04 01:58] #885 closed

[2016-11-04 02:00] keryhu commented on #1648
Uncaught Error: Template parse errors:
Unexpected closing tag "md-input" ("
</p>
<hr>
<md-input value={{t|date:"MM/dd/yy"}}>[ERROR ->]</md-input>
"): HomeComponent@4:38
    at DirectiveNormalizer.normalizeLoadedTemplate (http://localhost:4200/main.bundle.js:29466:19)
    at DirectiveNormalizer.normalizeTemplateSync (http://localhost:4200/main.bundle.js:29453:21)
    at DirectiveNormalizer.normaliz

[2016-11-04 02:02] jelbourn commented on #48
@mmalerba the task here is to make sure all the timings and curves we're using are on-spec and shared between components. This is a lower-priority item for beta.

[2016-11-04 02:04] jelbourn commented on #421
@crisbeto since you're on Windows, could you do a pass on the components in high-contrast mode and add styles to make things better?

[2016-11-04 02:19] jelbourn commented on #932
@crisbeto for connected position strategy, this should be as straightforward as calling `Math.round` on the translate values. For global position strategy, we may need to `getBoundingClientRect` after applying the percent translates and then reapply the rounded values (unless we can find a cleaner approach).

[2016-11-04 02:27] jelbourn commented on #550
Done via #1582 and #1602

[2016-11-04 02:27] #550 closed

[2016-11-04 02:28] jelbourn commented on #548
(sorry for the assignee shuffling, GitHub should really debounce that...)

[2016-11-04 02:32] jelbourn commented on #1087
Why is this?

[2016-11-04 02:46] jelbourn commented on #1648
@vicb based on the syntax in the original comment, is that _supposed_ to work?

@keryhu doing a binding on `value` will probably work much better (and is the preferred syntax):
[code]

[2016-11-04 02:54] keryhu commented on #1648
oh .. it works ,thanks

[2016-11-04 04:30] vicb commented on #1648
Both the syntaxes are strictly equivalent:

[code]

Note the `input` - I have verified in a plunker w/o md. But given the error and that `{{t|date}}` works it was most certainly an error in the original template (unclosed or extra tags).

[2016-11-04 05:17] RoxKilly opened #1725 "[slider @alpha.9-3] Static value raises "expression was changed after checked" exception"
#### Bug, feature request, or proposal:
Either bug, or ignorance on my part

#### What is the expected behavior?
When `md-slider` is bound to `ngModel` value that never changes, "*expression was changed after it was checked*" exception should not be raised

#### What is the current behavior?
The exception is thrown

#### What are the steps to reproduce?
[Run this plunk](http://plnkr.co/edit/IjDpZR

[2016-11-04 05:38] RoxKilly opened #1726 "[slider,tab @alpha.9-3] slider cannot be used within tab (verbose API)"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`MdSlider` should work within tabs

#### What is the current behavior?
When a slider is used within a tab that uses the verbose API

 - Slider value is set to max allowed as soon as slider receives focus
 - thumbtack cannot be moved
 - slider value remains at max indefinitely

#### What are the steps to reproduce?
Jus

[2016-11-04 05:48] ImElango opened #1727 "Material 2 Grid"
<md-grid-list cols="3" rowHeight="**AutomacitcallyAdjustable**">
Do we have any option like the corresponding md-grid-list cell automatically adjustable based on the data in that cell?

[2016-11-04 11:15] Daugoh opened #1728 "Navigation drawer - Mini variant behavior"
#### Feature request:
Add the "Mini variant" behavior of the Navigation drawer.
As defined in the Google Material guidelines:
https://material.google.com/patterns/navigation-drawer.html#navigation-drawer-behavior

![](https://cloud.githubusercontent.com/assets/1202936/8023412/a6d190f4-0ce1-11e5-86b9-55448c4ae6bd.png)

#### What is the expected behavior?
When toggled, the navigation drawer change i

[2016-11-04 14:09] RaulRG commented on #946
Ummmmm... I can understand what @jelbourn said about layout being decoupled from the component library. I didn't know [http://susy.oddbird.net/](url), but it looks great. That said, it would be nice to have a kind of "default" layout system from the material library. This is the great advantage of such a library in the first place: to get some guidance. For me it would be ok if you decided to use

[2016-11-04 15:11] turbohappy commented on #1096
I still have this issue on alpha 9.

[2016-11-04 16:06] turbohappy commented on #1096
Adding a theme fixed it for me on alpha.9

[2016-11-04 16:08] rolandjitsu commented on #1616
Is this still being worked on or what's the status?

[2016-11-04 16:53] cortopy commented on #998
In my opinion this is a bug insofar as it is the equivalent of putting a ban on fixed elements. I am now trying to create a fab button on the bottom right corner of the screen. Because of this issue I'm unable to do so.

[2016-11-04 17:09] crisbeto commented on #421
Here's what I got:

- Fab buttons are barely visible when focused and impossible in high contrast mode.
- Really hard to see whether raised buttons (accent, primary, warn) are focused.
- Button toggles don't have any focus indication.
- Checkboxes don't have focus indication.
- Radio buttons don't have focus indication.
- The tooltips don't trigger on focus.
- Sliders don't have focus indication a

[2016-11-04 17:31] tinayuangao commented on #1096
This is obsolete on current master.

[2016-11-04 17:39] mmalerba commented on #1370
Yup, I can repro it in the plunker template but not in master, so seems like it's fixed.

[2016-11-04 17:39] #1370 closed

[2016-11-04 18:08] mmalerba commented on #1726
duplicate of #1389

[2016-11-04 18:08] #1726 closed

[2016-11-04 18:25] mmalerba commented on #1725
fixed in master

[2016-11-04 18:25] #1725 closed

[2016-11-04 20:10] kara commented on #1671
Closed by #1685

[2016-11-04 20:10] #1671 closed

[2016-11-04 20:29] tinayuangao commented on #1205
Cannot reproduce this issue in current master, while I can reproduce #831 .

Close this issue for now.

[2016-11-04 20:29] #1205 closed

[2016-11-04 20:34] #1096 closed

[2016-11-04 22:10] mmalerba commented on #1082
These aren't actually input up/down buttons, they're the scrollbar caps for the placeholder label. I can just set the line-height to normal.

[2016-11-04 23:59] tinayuangao commented on #1152
Yes, this is still an issue in master.

[2016-11-05 00:03] tinayuangao commented on #831
Tried the code on Plunker and it works perfectly if we set the correct names for different radio groups. The four radio-group should have different names, otherwise they're merged into one big radio group.

`writeValue ` is triggered every time `ngModel` is changed, but I can double check for the `changeDetectorRef`.

[2016-11-05 09:29] code-tree commented on #763
This would be nice to have.

My use case: settings page, using md-list for settings, and some of which may be disabled.

[2016-11-05 12:50] DevVersion commented on #1376
@jelbourn Sounds good. I already have some API ideas, how we could fix this issue and perhaps #1718 as well.

[2016-11-05 14:45] AmitMY opened #1740 "Bug - tabs doesn't show"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Showing the tab content & label

#### What is the current behavior?
Tab content & label doesn't show

#### What are the steps to reproduce?
Copy the example from the tabs README

#### Plunker
http://plnkr.co/edit/wuz37HLEdWZWuoLa2ucj?p=preview
(No labels, no content)

#### Which versions of Angular, Material, OS, brow

[2016-11-05 15:03] crisbeto commented on #1681
I've been looking into this and it seems like it's more complicated than expected:

1. Karma doesn't have a proper way of debouncing file changes. There's the `autoWatchBatchDelay` option, but it only specifies how much time to wait from the first file change to when the browser reloads. I've tried playing around Karma's API in order to trigger the reloads manually, when the files are done, but I

[2016-11-05 15:41] rolandjitsu commented on #1616
Made a PR, [1729](https://github.com/angular/material2/pull/1729), but the tests on saucelabs are timing out.

[2016-11-05 15:42] b-ponomarenko opened #1743 "Can't use md-textarea component"
#### Bug, feature request, or proposal:
Can't use `md-textarea` component

#### What is the expected behavior?
I expect to see `md-textarea` element

#### What is the current behavior?
In source code `md-textarea` component is exist, but in build isn't exist (`"@angular/material": "^2.0.0-alpha.9-3"`)

#### What are the steps to reproduce?
1. Create simple project (`ng new test`)
2. Install materi

[2016-11-05 15:47] crisbeto commented on #1316
@jelbourn, as @pcwa-ahendricks mentioned, this is due to the hover effect on the buttons. Touch device trigger the cover styles on the first tap and then do the click handler on the second one. The way I've dealt with this before is similar to @pcwa-ahendricks. We can have a `hover` mixin that we use to register all of the hover styles, e.g.

[code]

We should keep in mind that this will add some

[2016-11-05 17:01] quanterion commented on #1743
md-textarea is in master but not yet released

[2016-11-05 18:48] b-ponomarenko commented on #1743
@quanterion what is easyest way to use it?

[2016-11-05 21:30] clydin commented on #1740
The tabs readme represents master not the latest npm release

[2016-11-05 21:31] clydin commented on #1743
Easiest would be to wait for the next release. Otherwise you'd need to clone the repo and build a local copy

[2016-11-06 02:08] MikeGitIt commented on #977
Is all of this documented somewhere other than the issues section? Thank God for the internet + googling...yeesh!

[2016-11-06 02:17] sunshineo commented on #1316
@crisbeto Are you saying end user should have these css code? I hope there is a way to make this project just not have this problem on touch device.

[2016-11-06 09:03] erasethis commented on #1743
What's up with releases anyway? Before Angular 2 went out of beta there were npm releases every couple of days, now we're stuck with alpha-9.3 for over a month and that package is seriously broken with Angular 2.1.2 like transparent side navs, native controls appearing side by side with their Material 2 counterpart and the list goes on. Am I supposed to clone the repo now to be able to use Materia

[2016-11-06 09:21] jmcgoldrick commented on #1749
if that is a copy/paste for your code everything looks right, except:

`<md-list-item *ngFor="let tweet in tweets">` should be `<md-list-item *ngFor="let tweet of tweets">`

i.e. replace `in` with `of`

[2016-11-06 09:22] jmcgoldrick commented on #1743
`npm install --save @anular/material@experimental` this tag has it

[2016-11-06 09:23] crisbeto commented on #1316
Nope, I'm suggesting how we could solve it in Material.

[2016-11-06 09:38] davidanaya opened #1749 "Problem with ngFor inside an md-list-item"
Hi

I'm new to Angular Material and I'm trying to do a simple list with md-kist-item using ngFor to iterate over a list of elements in my list, but I'm getting a weird error message.

This is the actual code

[code]

I'm guessing this is an import issue, but if I use md-list-item with a list of fixed values it works fine, and also I can use ngFor in other parts of my application and also works fin

[2016-11-06 10:31] davidanaya commented on #1749
man... now I feel stupid :-(
thanks a lot, that was it

[2016-11-06 10:42] crisbeto commented on #1749
Can I assume that it's resolved @davidanaya?

[2016-11-06 10:43] davidanaya commented on #1749
Yes, it is, sorry.

[2016-11-06 10:43] #1749 closed

[2016-11-06 10:47] DevVersion commented on #1740
Yeah, the Plunker template currently uses the latest release and does not include the changes in `master`.

By using `master` the tabs properly show up ([See here](http://plnkr.co/edit/bJhYGFqQ0z1rzBhTuVm4?p=preview))

[2016-11-06 10:47] #1740 closed

[2016-11-06 13:38] code-tree opened #1751 "[Tabs] Bottom border on md-tab-header is too dark"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Bottom border on md-tabs-header is a lighter color in dark theme.

![image](https://cloud.githubusercontent.com/assets/11289719/20038127/bd2662f8-a3f3-11e6-93d5-0ebd0b5ea3e6.png)

#### What is the current behavior?
Bottom border is too dark in dark theme.

![image](https://cloud.githubusercontent.com/assets/11289719/2

[2016-11-06 13:58] code-tree commented on #1751
This should probably have an opacity, so that it works well with both plain backgrounds and primary/accent color backgrounds.

[2016-11-06 14:03] artem-galas commented on #348
@leocaseiro Thanks for your idea.
But could you please explain, how to make two validation message?
For example, I have such a form:

[code]

[2016-11-06 15:24] clydin commented on #1743
This is alpha level software; expect things to not work, be unfinished, etc.

[2016-11-06 17:20] erasethis commented on #1743
I'm aware of that, what is annoying though is that I have to come here in order to learn how to get an npm package of the current version. I would have expected to get that same piece of information on npm.org, but the page for material2 hasn't been updated in weeks.

Anyway, things finally started working again so I'm out of here ;)

[2016-11-06 22:19] leocaseiro commented on #348
Hi @artem-galas,

I actually made my message error dynamic, so I have a single `<md-hint>`.

In that case, I update the message depending on the error.

If it's not clear, I'm happy to send you an example.

[2016-11-07 00:22] AlvaroOrduna commented on #115
As Material Design specification says, a SnackBar may or may not have an action. There any way to add a SnackBar without any action for now?

@angular/material 2.0.0.alpha.9-3

[2016-11-07 01:44] podpole opened #1754 "ngModel"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-11-07 01:45] #1754 closed

[2016-11-07 05:51] eagle-dan1349 commented on #524
Seems like it still does not work. I've tried to use directives from example with latest version of material2, it does not work. I've tried to use code from example, it does not work. I downloaded and tried to run example app. It does not work.

[2016-11-07 08:08] topherfangio commented on #120
@ollwenjones Still need to discuss with the team, but my goal is indeed to create a very basic version of the chips before we introduce the autocomplete functionality.

[2016-11-07 09:47] dahaupt commented on #1743
@erasethis I can understand your point, but actually I think the devs are doing a great job and I expect a new alpha version in the next couple of days with bug fixes and some new features. Releasing a new version for every commit or every day is not useful. But a new version at least every month would be awesome.

[2016-11-07 09:52] dahaupt commented on #1743
@jmcgoldrick

Where did you get that from? I can't find that command anywhere :(

[2016-11-07 10:00] dahaupt commented on #1727
Please use the [official issue template (https://github.com/angular/material2/blob/master/.github/ISSUE_TEMPLATE.md) to open an issue (next time).

[2016-11-07 10:18] artem-galas commented on #348
@leocaseiro Thanks, I got the idea. It would be awesome if you send me a snippet.

[2016-11-07 11:18] Ploppy3 commented on #1743
I'm kind of new to node.js but I'll try to help with what I know.
If you wanna get information about the material package type the following command:
`npm view @angular/material`
You will see that there are 2 dist-tags, 'latest' which is latest stable release and an other one 'experimental'.
When you install a package you can specify the distribution tag by appending the package with @dist-tag
So

[2016-11-07 13:48] dahaupt commented on #1743
@Ploppy3 Thanks a lot, **`npm view`** was new to me :)

[2016-11-07 14:35] ollwenjones commented on #120
I'm not even sure understood what was meant by "Blocked on" - "Blocks" or "Blocked by" ? 😜

[2016-11-07 16:16] eemeli commented on #1039
It would be good if the button-group README also mentioned that with `multiple` selected the component does not implement `ControlValueAccessor`, and that it does not in fact have any of the properties and events listed under [`<md-button-toggle-group>`](../blob/master/src/lib/button-toggle/README.md#md-button-toggle-group). As is, the documentation is somewhat misleading.

[2016-11-07 16:54] oliversalzburg opened #1755 "Ripple effect stuck when switching tabs"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When a ripple effect is used, like on a checkbox, the ripple disappears after the animation is completed and it won't re-appear unless triggered again.

#### What is the current behavior?
The ripple can get "stuck" on the final animation frame.
![image](https://cloud.githubusercontent.com/assets/1658949/20066710/d166b

[2016-11-07 18:42] dahaupt commented on #1755
@oliversalzburg I think you are in the wrong repository, because [this](https://material.angular.io/) is the website of Material Design for Angular 2. Your bug seems to be in Material Design for Angular 1.x.

[2016-11-07 18:45] DevVersion commented on #1755
Yeah this is a bug for Material (and also has been solved already https://github.com/angular/material/commit/002207cdd32dcdb1228f0f1a3ce70328fac69c95).

Please report issues to the [angular/material](http://github.com/angular/material) repository instead.

[2016-11-07 18:45] #1755 closed

[2016-11-07 19:00] donjae commented on #1341
@souppower hmm, still not working. You mind giving an example of how you would implement the mixin?

[2016-11-07 19:18] oliversalzburg commented on #1755
Whoops. Sorry, don't know how I ended up in the wrong tracker :)

[2016-11-07 20:03] mmalerba commented on #771
closing based on kara's comment on the angular/angular issue https://github.com/angular/angular/issues/9700#issuecomment-253297394

[2016-11-07 20:03] #771 closed

[2016-11-07 20:13] RoxKilly commented on #1570
@jelbourn `alpha 10 experimental-yogurt` seems to have fixed the issue. CPU and memory consumption are both down

[2016-11-07 20:14] johnqiuwan opened #1760 "SnackBar / Toast message content delay"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The Snackbar show up with message content , and the message content should NOT be delay

#### What is the current behavior?
The SnackBar show up with empty content. The message content has a huge delay ( > 8 secs) to show up.

#### What are the steps to reproduce?

[code]

#### What is the use-case or motivation for c

[2016-11-07 20:15] jelbourn commented on #1570
Sounds good- I'll make this as closed by #1635 then which will be in the alpha.10

[2016-11-07 20:15] #1570 closed

[2016-11-07 20:29] crisbeto commented on #1212
@beatadelura could you post the code that you're using?

[2016-11-07 20:33] RoxKilly commented on #1760
Please use three tick marks on the line above and the line below your code to keep code formatting. The tick mark is the character to the left of `1` on a US keyboard.

[code]

As for your issue, notice that the snackbar is shown only after all promises are resolved. The delay may be due to the time it takes for `createUser` + the time it takes for `sendEmailVerification` to complete.

To test thi

[2016-11-07 21:19] TrevorBroderick1 commented on #1238
I agree with @no-more .

This is fixed for type `date` but still occurs for type `datetime-local`.

Can we re-open this issue @kara ?

[2016-11-07 23:52] sky-coding opened #1763 "radio does not respect [ngModelGroup]"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When duplicate `name` attributes are placed on text `input` elements within the same page, they do not interfere with each other as long as they are under independent `[ngModelGroup]`s. I would expect the same behavior from `<md-radio-group>`

#### What is the current behavior?
`<md-radio-group>` needs a completely un

[2016-11-07 23:53] bergben commented on #675
A daterange picker would be awesome too!

[2016-11-08 00:10] leocaseiro commented on #348
[code]

[code]

Here is the plunker: http://plnkr.co/edit/ZKd1OR2rpey3WddbEpRv?p=preview

PS: It's just a snippet for demo purpose, use [ReactiveFormsModule](https://angular.io/docs/js/latest/api/forms/index/ReactiveFormsModule-class.html) for validation.

[2016-11-08 00:13] mmalerba commented on #48
Sorry, didn't mean to close this. Interesting part of the spec related to animations is dynamic durations: https://material.googleplex.com/motion/duration-easing.html#duration-easing-dynamic-durations (the idea that the duration changes based on the size of your device). Is this something we want to include in our implementation?

[2016-11-08 00:31] jelbourn commented on #48
I hadn't seen that before. I'd consider that a "nice-to-have" for now, something we can refine later.

[2016-11-08 00:53] kara commented on #1709
Since we haven't heard back, I'm going to close this. Feel free to re-open with a plunker demonstrating the issue.

[2016-11-08 00:53] #1709 closed

[2016-11-08 09:16] askurdjel opened #1764 "Set selected md-tab programmatically"
Bug

I am trying to set last open tab to be selected by using [selectedIndex] on md-tab-group, but it is first tab always selected

[2016-11-08 09:28] eagle-dan1349 opened #1765 "DIalogInjector and lazy-loaded modules Injectors"
#### Bug, feature request, or proposal:
[x] Bug

#### What is the expected behavior?
DialogInjector should be aware of Injector from lazy-loaded module

#### What is the current behavior?
DialogInjector is unaware of lazy-loaded module and attempts to inject services provided by lazy-loaded module result in 'No provider for ...' errors

#### What are the steps to reproduce?
1. Create route to lazy

[2016-11-08 09:43] eagle-dan1349 opened #1766 "MdDialogRef does not capture a type for the close result"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
Stronger typed MdDialogRef<T, U> class with something like close(dialogResult?: U) method. Or may be close method should accept some sort of template class like MdDialogResult<U> or something.

#### What is the current behavior?
MdDialogRef's close() method accepts argument of type any.

#### What are the steps t

[2016-11-08 10:57] christophechevalier commented on #1518
Now, you can click anywhere on the line of md-item and it should trigger the action of the switch. :+1:

`
md-slide-toggle {
   flex: 1 !important;
 }
`

[2016-11-08 13:07] stefanaerts opened #1767 "theming with md-card , not working?"
#### Bug, feature request, or proposal:

#### What is the expected behavior?
to have a background color based on theming like you can do with md-toolbar.

#### What is the current behavior?
i tried md-card color="primary" and background-color="primary".

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: ht

[2016-11-08 13:15] stefanaerts commented on #1767
So in this picture i want the color of the card to be purple based on the primary color of my theme,like the toolbar i put on top as an example
![image](https://cloud.githubusercontent.com/assets/3684599/20100440/cc393a1a-a5bd-11e6-8f9b-b464f17c7ec6.png)

[2016-11-08 14:28] andlcool opened #1768 "Question: Does material2 md-input support attribute directive"
#### Bug, feature request, or proposal:
Does angular material 2 support attribute directive?

https://angular.io/docs/ts/latest/guide/attribute-directives.html

What I am trying to do is to build a focus and select directive. The attribute directive works for normal input element but throws error when using md-input

<md-input focusSelectDirective></md-input>

Thanks.

[2016-11-08 14:34] stefanaerts commented on #1767
is it possible after i imported a theme scss file in my scss to get the $primary variable and assign
it to a color property in a created class?
something like this

@import '~@angular/material/core/theming/prebuilt/deeppurple-amber';

.myclass{
color: $primary;
}

[2016-11-08 14:54] crisbeto opened #1769 "a11y(buttons): Low contrast on focused buttons"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The buttons should have sufficient color contrast, both in regular mode and in high contrast mode.

#### What is the current behavior?
Currently, the button focus indication is a tint with 12% opacity, which is barely visible in regular mode and is completely invisible in high contrast mode. This makes it difficult to

[2016-11-08 15:58] michaeljota commented on #1076
Even if you don't plan in short term, it is a control type, as @masaeedu said. You should keep this open just to track this feat development.

[2016-11-08 16:21] tomwanzek opened #1770 "Release Schedule?"
#### Bug, feature request, or proposal:

Most importantly, thanks for all the hard work on Material 2!!! One quick question though: While I understand that this project is still in alpha. Could you kindly clarify, the "order of magnitude" release schedule?

It seems, in the past, formal alpha releases were appr. 1 month apart. Is it a reasonable expectation that a new alpha release should be expec

[2016-11-08 16:32] Superd22 commented on #1764
duplicate of #1692

[2016-11-08 17:16] vinagreti commented on #1651
"Your code uses the simple API but I don't think that it's part of the alpha 9-3 release"
I don't think so. I think that the two approaches are valid but for some reason the simple API is not working in `alpha.9-3`.
I think it is really a bug.
Could someone from the core team ensure that the simple API was removed and we should use only the `<template md-tab-label>One</template>` ?

Thanks!

[2016-11-08 18:01] RoxKilly commented on #1651
@vinagreti the Plunker you linked to does not use the released `alpha 9-3`. It uses the development version (look at `systemjs.config.js`)

I wasn't implying that the simple API has been *removed* from 9-3, but rather that it has not yet made its way to release (ie. it will be in a later version because right now it's just in the development channel)

[2016-11-08 18:07] vinagreti commented on #1651
Sure, because of that (Dev version) I thought that simple API was not removed from material but it was indeed removed from alpha-9.3.

Thanks for your quick reply!

[2016-11-08 18:17] jammerware commented on #115
@AlvaroOrduna I was able to add an actionless SnackBar by passing `null` as the `actionLabel` argument to `snackBar.open`.

[2016-11-08 20:27] #1236 closed

[2016-11-08 20:28] #1259 closed

[2016-11-08 20:34] #813 closed

[2016-11-08 20:35] #1165 closed

[2016-11-08 21:20] jelbourn commented on #1770
We're working on a release now; meant to do it last week, but we've hit some roadblocks with last-minute bugs.

[2016-11-08 21:20] #1770 closed

[2016-11-08 21:23] epelc opened #1774 "Can't install master or a specific commit"
#### Bug, feature request, or proposal:
I can not install master or a specific commit using npm.

[code]

#### What is the expected behavior?
`npm install --save @angular/material#master` should install the latest commit on master.

#### What is the current behavior?
It does not work. I receive the following error.
[code]

I receive a similar error with `npm install --save @angular/material#some-s

[2016-11-08 21:39] #1234 closed

[2016-11-08 21:39] #1304 closed

[2016-11-08 21:39] #1389 closed

[2016-11-08 21:40] #1025 closed

[2016-11-08 21:40] #1694 closed

[2016-11-08 21:41] #1673 closed

[2016-11-08 21:52] epelc commented on #1774
Changing the `name` to `@angular/material` in this repo's `package.json` fixes the install path. However you end up with the source installed. [Example](https://github.com/epelc/material2/blob/master/package.json#L2)

I'm guessing the project needs some sort of CD setup so a build can be published for every commit.

[2016-11-08 22:09] mwarton opened #1776 "Add option to disable ripples globally"
#### Bug, feature request, or proposal:
An option to globally disable ripple animations would help to reduce flakiness in screendiff testing.

#### What is the expected behavior?
Globally diable ripple animations for screen diff testing.

#### What is the current behavior?
Ripple animations can only be disabled on an element by element basis.

#### What are the steps to reproduce?

#### What is th

[2016-11-08 22:16] mmrath commented on #1421
@jelbourn ,@mark-langer would you know of any workaround Style for fixing this?

[2016-11-08 22:21] jelbourn commented on #1776
This should probably be similar to disabling animations globally.

[2016-11-08 22:44] chouclee opened #1777 "[md-subheader] Incorrect font family"
#### Bug, feature request, or proposal:
Bug md-subheader cannot inherit proper font family

#### What is the expected behavior?
by default, font family of md-subheader should be **Roboto**

#### What is the current behavior?
The default font family is **Times** (inherited from body, might be ``Roboto``, decided by how you give global style to ``body``)

#### What are the steps to reproduce?
http:/

[2016-11-08 23:19] jkyoutsey commented on #1316
I've confirmed that this issue started with iOS 10.  9.3 did not have this problem.

[2016-11-09 01:22] chouclee opened #1780 "[md-subheader] What's point of margin-top for first child?"
#### Bug, feature request, or proposal:
(Bug? Request?) Not sure.
I didn't find the specs of material subheader that contains following style:
[code]
Couldn't see much difference for normal use cases.

However, if user created some ``md-subheader`` using ``*ngIf``, the ``md-subheader`` would be wrapped inside extra ``<div></div>``. Thus styles for ``first-child`` would be effective and we could no

[2016-11-09 01:26] #1681 closed

[2016-11-09 02:48] leocaseiro commented on #1767
You might want to use the mixin `md-color` with SASS:

[code]

[2016-11-09 04:12] jelbourn commented on #1774
We don't currently have per-SHA releases. See #577

[2016-11-09 04:12] #1774 closed

[2016-11-09 04:13] jelbourn commented on #1768
There's nothing special about md-input that would prevent this from working.

[2016-11-09 04:13] #1768 closed

[2016-11-09 04:14] jelbourn commented on #1767
The colors for cards, according to the spec, are based on whether you're in a light theme or a dark theme. We don't have an API for changing them to the app's primary/accent colors. However, you should be able to set whatever background you need with css.

[2016-11-09 04:14] #1767 closed

[2016-11-09 04:24] jelbourn commented on #1764
Dupe of #1692

[2016-11-09 04:24] #1764 closed

[2016-11-09 04:27] jelbourn commented on #1743
The textarea hasn't been released yet. You can see the status of any component in the [README](https://github.com/angular/material2/blob/master/README.md) and see changes to the library in the [CHANGELOG](https://github.com/angular/material2/blob/master/CHANGELOG.md)

[2016-11-09 04:27] #1743 closed

[2016-11-09 04:29] jelbourn commented on #1763
This is working as intended. Radio button unique selection is based off the the `name` property, and this carries over to their parent radio groups.

[2016-11-09 04:29] #1763 closed

[2016-11-09 04:29] jelbourn commented on #1727
@ImElango please follow the issue template.

[2016-11-09 04:29] #1727 closed

[2016-11-09 04:30] jelbourn commented on #1765
Thank you for your excellent bug report.

[2016-11-09 04:31] jelbourn commented on #1728
Is there any reason you couldn't control the width of the sidenav with css and toggle classes based on which width you want to display?

[2016-11-09 04:33] jelbourn commented on #1708
Closing this since I think it can be accomplished with `floatingPlaceholder` and some custom css on the input.

[2016-11-09 04:33] #1708 closed

[2016-11-09 04:39] jelbourn commented on #1760
CC @josephperrott

@johnqiuwan Can you reproduce this issue in a Plunker? It sounds like it may be a situation when change detection isn't being run after the snackbar is loaded.

[2016-11-09 08:18] stefanaerts commented on #1767
Thanks @jelbourn @leocaseiro. To be clear in understanding:
"The colors for cards, according to the spec, are based on whether you're in a light theme or a dark theme". So the black color is the color for a dark-theme?  It comes from the prebuilt theme that loaded by default the md-dark-theme in angular?
If so,  is there a preferable way with material2 components to load on top of the screen a tit

[2016-11-09 10:38] stefanaerts commented on #1767
I also want to mention i really like material2 with angular2, its fantastic.
Keep up the good work.

[2016-11-09 12:16] leocaseiro commented on #1767
It's up to you @stefanaerts.

Atm, material2 is in alpha. So I believe lot's improvements will be done.

I believe you can use mixin, as you normally would.

[2016-11-09 13:19] fxck opened #1786 "update theming docs to be more clear about how to structure your theme file to be usable across custom components"
If I took this code https://github.com/angular/material2/blob/master/docs/theming.md#defining-a-custom-theme and put it into `_custom-theme.scss` and included it in my main styles file and then imported it into my components like as shown here https://github.com/angular/material2/blob/master/docs/theming-your-components.md#using-colors-from-a-pallete

it would generate unnecessary(since they are a

[2016-11-09 13:32] epelc commented on #1774
@jelbourn Thanks for the info.

I worked around this by cloning the current master, building it, and then pushing the built assets to a separate repo.

[2016-11-09 13:42] QuentinFchx commented on #1774
@jelbourn Do you have an estimation on the next release?
I'm totally ok with another alpha but a lot of interesting stuff was added recently and I'd *love* to be able to use it (without the clone/build that @epelc mentionned)
Do you think we could cut a release (alpha/beta whatever) twice a month?

[2016-11-09 13:42] thibaultsavary opened #1787 "md-icon-button background should be transparent"
#### Bug, feature request, or proposal:
Inconsistency

#### What is the expected behavior?
[code]
background should be transparent

#### What is the current behavior?
[code]
is not transparent

but
[code]
is transparent

#### What is the use-case or motivation for changing an existing behavior?
Inconsistency with the documentation and the behavior of  `a` & `button`
https://github.com/angular/mate

[2016-11-09 13:46] epelc commented on #1774
I also forgot to mention that you need to rename the `name` field in package.json to `@angular/material` or the clone/build method doesn't work(you end up with the repo installed under `material2`).

@jelbourn What do you think about changing the `name` field in this repo? I don't think it would break anything since everyone is already using `@angular/material` as the canonical name.

The main ang

[2016-11-09 14:06] christophechevalier commented on #1518
For the radio-buttons, you need no use [checked] inside a radio-button like this :

          <md-radio-group [(ngModel)]="lang">
            <md-list-item (click)="changeLanguageTo(l)" *ngFor="let l of langOptions">
              <md-radio-button [value]="l" [checked]="lang == l">
                {{l}}
              </md-radio-button>
            </md-list-item>
          </md-radio-group>`

[2016-11-09 15:03] laserus commented on #823
@istiti Have you tried this https://vaadin.com/blog/-/blogs/using-polymer-components-in-angular-2

[2016-11-09 15:07] istiti commented on #823
yes but this add more complexities to my app ... really a bad choice but I find  angular2-data-table which do work very awesome thanks

[2016-11-09 17:33] josephperrott commented on #1760
@johnqiuwan
Let me konw if you are able to reproduce this.
I was unable to create a reproduction in a [plunkr](http://plnkr.co/edit/goraLjmDFTplWs7ypMq5?p=preview), even when explicitly resolving the promise outside of the angular zone.

[2016-11-09 18:43] #1082 closed

[2016-11-09 18:56] tinayuangao commented on #831
For different radio groups, you should use different `name`. By using `<md-radio-group name="type" [(ngModel)]="item.type" >`, all radio groups' names are set to "type".

`[name]="item.id"` will fix this. Closing this issue.

[2016-11-09 18:56] #831 closed

[2016-11-09 19:02] chouclee commented on #1780
https://material.google.com/components/lists.html#lists-specs
"Add 8dp of padding at the top and bottom of a list, except for lists with subheaders, which have their own padding."

So I guess the ``margin-top`` is supposed to offset the padding of list if ``md-subheader`` is the first child of ``md-list``.

[2016-11-09 19:12] tinayuangao commented on #1787
Both `button` and `a` have transparent background in current master.

[2016-11-09 19:25] hansl commented on #896
Hi @maciejsobala, it seems like you're trying to add spacing around the input itself. You should use `margin` instead of `padding` in this case. Changing padding inside the input is not supported.

[2016-11-09 19:25] #896 closed

[2016-11-09 19:28] MaxiSantos commented on #524
@eagle-dan1349 yeah, I see the [active] property on the anchor with "md-tab-link" is complaining. Althought the new component looks is going well I'll go with @mafav approach.

[2016-11-09 19:45] andrewseguin commented on #1157
Cannot reproduce the issue in master now that tooltip logic has been drastically changed. Looks like this issue was fixed.

[2016-11-09 19:46] #1157 closed

[2016-11-09 20:13] krigton opened #1790 "[md-radio-group] The value two-way binding not working?"
#### Bug, feature request, or proposal:
Bug [x]

#### What is the expected behavior?
According to the readme.md of the radio, there is `value` property on the group with two way binding.
If I set a variable with one of the possible value selections of the radios inside the group, then the radio which value attribute matches the variable's value will be selected. But if I select another radio the v

[2016-11-09 21:53] krigton commented on #1692
is this in progress? if not I can take it. thanks

[2016-11-09 22:00] mmalerba commented on #1341
Can you not just target the div with CSS?

md-sidenav-layout.my-sidenav-layout .md-sidenav-content {
  width: 100%;
}

[2016-11-09 22:26] fxck commented on #1430
Any ETA on this?

[2016-11-09 22:32] Ennos-Rep opened #1793 "md-sidenav with a position:fixed (non scrollable)"
#### Bug, feature request, or proposal:
I don't know if I am in the right place to ask for this (I'm new here, and sorry for my bad english, I'm french), but I want a "fixed" content in the md-sidenav, while the main content scrolls. I don't see this in the bound properties and I tried to do it with css properties, but it has no effect or it breaks everything.

#### What is the expected behavior?

[2016-11-09 22:35] tinayuangao commented on #1087
The MdCheckbox is working perfectly with reactive forms. I don't think md-checkbox-group would be necessary.

[2016-11-09 22:35] #1087 closed

[2016-11-09 23:48] huygaa11 commented on #1662
Hi @crisbeto
Do you have an eta? Thanks.

[2016-11-10 00:00] andrewseguin commented on #524
Please note that the nav bar is currently in master but not in the latest release.

[2016-11-10 00:05] andrewseguin commented on #731
Tabs no longer use ngIf but attach/detach the content using a portalHost. Changes made to the content are preserved when switching tabs. I am not seeing any performance issues using this method.

[2016-11-10 00:05] #731 closed

[2016-11-10 00:11] andrewseguin commented on #1219
Check out http://plnkr.co/edit/o077B6uEiiIgkC0S06dd?p=preview to use as your plunkr template (found on the main page)

Here's an example of using it to make tabs: http://plnkr.co/edit/46LnwrLjH8yLhCS3r9vL?p=preview

[2016-11-10 00:11] #1219 closed

[2016-11-10 00:19] andrewseguin commented on #1164
I have not seen this problem in the current release. Will close because I cannot reproduce but feel free to reopen if it is still an issue for you.

[2016-11-10 00:19] #1164 closed

[2016-11-10 01:54] dolanmiu opened #1798 "color="primary" does not work"
#### Bug, feature request, or proposal:
Bug

#### What is the current behavior?
`primary` `accent` `warn` colors don't work. Shows up as grey.

#### Which versions of Angular, Material, OS, browsers are affected?
"@angular/common": "~2.1.0",
    "@angular/compiler": "~2.1.0",
    "@angular/core": "~2.1.0",
    "@angular/forms": "~2.1.0",
    "@angular/http": "~2.1.0",
    "@angular/material": "^2.

[2016-11-10 03:10] jelbourn commented on #1798
@dolanmiu you've confused this project with [Material Design Lite](https://getmdl.io), which is something else completely.

[Follow our theming guide for how to bring the colors into your app.](https://github.com/angular/material2/blob/master/docs/theming.md)

[2016-11-10 03:10] #1798 closed

[2016-11-10 03:11] jelbourn commented on #1790
The docs are just wrong here- it should be using `ngModel` there.

[2016-11-10 03:19] epelc commented on #1662
@crisbeto Would option 2 cause double scrollbars?

One nice property about the material1 method is that if you have a sidenav and lock scrolling on the body(or equivalent content area) you do not end up with 2 scrollbars showing at once if your sidenav is tall.

[2016-11-10 06:47] metanav opened #1801 "md-button for anchor element is visually not same as button"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
[code]
The button created using anchor element should be visually same as button element.
#### What is the current behavior?
It is not same. There is no mouse (one finger hand) icon and  text is dimmed.

#### What are the steps to reproduce?
Just upgraded from alpha9 to alpha10.

#### What is the use-case or motivatio

[2016-11-10 06:53] andlcool commented on #581
any update for data table? Thanks. :)

[2016-11-10 08:00] amanullahnxb opened #1802 "(slideend) is not working as expected with [(ngModel)] [material version is alpha 10]"
i did two way binding md-slider with class attribute 'sliderVal'. as below code.

<md-slider (slideend)="onSlideEnd();" [min]="0" [max]="100"  [(ngModel)]="sliderVal"></md-slider>

//class members

sliderVal: number = 10;

onSlideEnd(){
                console.log("slider value", this.sliderVal);
    }

but the problem is when onSlideEnd() is called. its shows previous slider value in console.

[2016-11-10 09:26] crisbeto commented on #1662
Option 2 is purely JS and can't cause multiple scrollbars @epelc, but it's not guaranteed that it'll block scrolling in all cases.

[2016-11-10 10:19] dolanmiu commented on #1798
Quoted straight from the spec:

This is exactly what I have done (but using `<link>` instead). But it isn't working?

Please help

[2016-11-10 11:29] #1787 closed

[2016-11-10 12:10] alexlacasa86 opened #1805 "md-slider won't update [(ngModel)] half of the times"
#### Bug, feature request, or proposal:
*BUG*

#### What is the expected behavior?
Every time the _md-slider_ is _changed_, the [(ngModel)] value gets updated.

#### What is the current behavior?
[(ngModel)] value gets updated only half of the times than _md-slider_ is _changed_. It works in alternate changes: 1st yes, 2nd nope, 3rd yeap, etc. Weird, eh?

After some investigation (not really deep.

[2016-11-10 12:37] nesukun commented on #118
@haseeb-ahmad Using normal select's shouldn't been a problem. I'm using them myself, but I'm not on the lastest version so it might have changed recently

[2016-11-10 13:53] mahmoudmahdi24 commented on #1013
import 'hammerjs' in my main main component solved the problem for me too.
Thanks @vapits !

[2016-11-10 13:58] da45 opened #1806 "Allow configuration of tooltip hide delay"
BUG

#### What is the expected behavior? : tooltip text must disappear when mouse leave

#### What is the current behavior? : it takes considerable time to disappear?

#### Which versions of Angular, Material, OS, browsers are affected? :Material Alpha10

[2016-11-10 14:11] ollwenjones commented on #1165
😃

[2016-11-10 15:47] matt-uib commented on #769
Do you already have some date when this might be implemented? Would be cool to have that feature..

[2016-11-10 16:37] kyleledbetter commented on #1801
it's bc it's getting `disabled="false"` by default and to an `<a>` tag that's still treated as `disabled`, probably from this commit https://github.com/angular/material2/commit/6b9e11cfd7700718016c444c651b9aa7e5222904#diff-96337821f283af0f38c4fd8ed4c98065R46

[2016-11-10 16:52] kyleledbetter commented on #1801
`'[attr.disabled]': 'disabled',` <-- anchors
`'[disabled]': 'disabled',` <-- buttons

[2016-11-10 17:06] rolandjitsu commented on #1806
@da45 this is not a bug, it seems to be on purpose. Perhaps there is a plan to customize this timing globally.

[2016-11-10 17:08] nkwood commented on #1806
The delay (1.5 seconds) actually conforms to the [material design spec](https://material.google.com/components/tooltips.html#tooltips-interaction):

However I agree it seems too long and it would be nice if it was exposed as a configuration option.

[2016-11-10 17:09] jelbourn commented on #1798
You are including the css file from Material Design Lite, not Angular Material. The correct file is in the `@angular/material` npm package.

[2016-11-10 17:51] andrewseguin commented on #1220
@Cayan md-card displays its border effect by using shadows that beyond extend itself. Are your expectations that the card should display those shadows beyond the frame of the tab?

Your expected behavior says that MdTab should work well with other components, but this does seem to be the actual behavior. MdCard needs some breathing room to show its box shadow.

Here is a working example of the iss

[2016-11-10 17:51] #1220 closed

[2016-11-10 17:53] jelbourn commented on #1806
Working as intended now per [the spec](https://material.google.com/components/tooltips.html#tooltips-interaction). It will also go away if you interact with anything on the page.

However, we should make this configurable.

[2016-11-10 17:55] jelbourn commented on #1805
@mmalerba you can consult with @kara if you run into any problems with `NgModel` or anything else in the forms api.

[2016-11-10 17:56] rolandjitsu opened #1808 "[Tooltip] allow configuration of the hide delay"
#### Bug, feature request, or proposal:
Feature

#### What is the expected behavior?
`TOOLTIP_HIDE_DELAY` should be configurable even though according to the [specs](https://material.google.com/components/tooltips.html#tooltips-interaction) is set to be `1.5` seconds.
Ideally, a user should configure it via an opaque token:
[code]
#### What is the current behavior?
Currently you cannot configure t

[2016-11-10 17:57] rolandjitsu commented on #1806
I opened a proper issue [here](https://github.com/angular/material2/issues/1808).

[2016-11-10 17:57] jelbourn commented on #1806
Closing in favor of #1808

[2016-11-10 17:57] #1806 closed

[2016-11-10 18:16] andrewseguin commented on #1085
Talked with @EladBezalel and he came up with a suggestion to support RTL/LTR but also provide a way to enforce placement regardless of direction.

He suggested having the states Left, Right, Top, Bottom for hard-coding where the tooltip will appear. In addition, the states Start and End would respect left/right depending on RTL/LTR.

What do you guys think about this?

[2016-11-10 18:19] rolandjitsu opened #1809 "MdTooltip: navigating to a new page while the tooltip is still visible throws an error"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
It should not throw an error.

#### What is the current behavior?
If you navigate away from a page (via routing) where a tooltip is currently being displayed, it throws a `Uncaught TypeError: Cannot read property 'dispose' of null`.
Stacktrace:
[code]

#### What are the steps to reproduce?
Have a simple page with a to

[2016-11-10 18:23] rolandjitsu opened #1810 "MdTooltip: allow only one tooltip to be viewed at once"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
According to [specs](https://material.google.com/components/tooltips.html#tooltips-interaction) `If the user takes another action before that time ends, the tooltip will disappear.`. This should include showing a second tooltip as well, only one tooltip should be visible at once.

#### What is the current behavior?
Cu

[2016-11-10 18:28] Cayan commented on #1220
This makes sense.

I think the main question for this issue would be what is the expected behavior?

[2016-11-10 18:29] jelbourn commented on #1085
In which situations would you want `left` / `right` regardless of layout direction? I'm worries that people would prefer those settings and accidentally make it RTL-unfriendly.

[2016-11-10 18:39] EladBezalel commented on #1085
Having a fixed position element that is not related to the layout?
Why to restrict users?

[2016-11-10 18:42] andrewseguin commented on #1809
The edge case here is that if the tooltip is in the process of hiding when component is destroyed, then the component attempts to dispose twice. First on ngOnDestroy and again when "the animation is completed" (even though its no longer on the page)

[2016-11-10 18:43] jelbourn commented on #1085
@EladBezalel do you have a specific example in mind?

[2016-11-10 18:44] rolandjitsu commented on #1809
Ok, so there should be an easy fix for this I guess. Just check, when the animation is completed, if the reference still exists before disposing.

[2016-11-10 18:45] jelbourn commented on #1802
The `slideend` event isn't really meant to be used on the slider element. If you're just looking to know when the value changes, the slider now has a `change` event. Is that what you need?

[2016-11-10 18:48] kara commented on #118
@haseeb-ahmad Normal selects work normally. The only selector we use is `md-select`.

[2016-11-10 19:02] kara opened #1811 "Menu ripple doesn't work if scrolled beneath the fold"
Looking into it!

Edit: It turns out that the ripple is acting funky if scrolled beneath the fold. For some reason, it takes longer to animate and so it isn't removed before the menu closes.

Related to https://github.com/angular/material2/issues/1817 & https://github.com/angular/material2/issues/1818

[2016-11-10 19:11] mmalerba commented on #1805
@alexlacasa86 Can you give a more detailed description of how to reproduce? I'm not seeing this behavior.

[2016-11-10 19:18] jmurphzyo commented on #308
any eta on this patch?

[2016-11-10 19:20] rolandjitsu opened #1812 "MdMenu, OverlayRef: Cannot read property 'removeChild' of null"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Should not throw an exception.

#### What is the current behavior?
The first time a user navigates away (clicks on one of the items in the menu that leads to another page - via angular router) from a `<md-menu>` that is currently opened, it throws an exception:
[code]

#### What are the steps to reproduce?

Providing

[2016-11-10 19:23] crisbeto commented on #1812
https://github.com/angular/material2/pull/1716 might fix this.

[2016-11-10 19:27] mmalerba commented on #1055
Agreed with Thomas & Hans that container > layout. I'd also like to switch sidenav to drawer. A sidenav is only one possible use of the drawer component, so I propose: `md-drawer-container` and `md-drawer`

[2016-11-10 19:41] krigton commented on #1692
The issue with the plunkr example is that the tab is added after the setter for the selectedIndex kicks in so the setter becomes invalid. Any hint how to work around this? One idea I got is to save save the selectedIndex value and when the tab is added set it again. what do you think? thanks.

[2016-11-10 19:43] xtianus79 opened #1813 "Checkbox for md-select should have option to turn off any javascript animation for performance"
#### proposal:
When brining in many items(rows) that are previously checked the performance is degraded severely... I notice that the animation is most likely the reason for this performance degradation.  The animation should only occur for newly checked items not items that have already been checked.

#### What is the expected behavior?
to not have performance degrade when using a plugin... shoul

[2016-11-10 20:03] krigton commented on #1811
@kara hi. I understand (i guess) what you mean now. Are you working on this? If not i can pick it up. thanks

[2016-11-10 20:04] crisbeto commented on #1813
Could you provide a demo that shows the issue? It may be better to address the performance issue, rather than disabling the animation altogether.

[2016-11-10 20:06] kara commented on #1811
Yep, working on it. Generally when I assign something to myself, I'm working on it.

[2016-11-10 20:26] krigton commented on #1811
Ah ok then I should leave it. Sorry.

[2016-11-10 20:30] krigton commented on #1811
Is that a general rule here that if someone is assigned to an issue they are working on it? Or they are assigned but it might happen that it's not in progress? Just trying to pick up an issue and not overlapping with others. thanks

[2016-11-10 21:03] jelbourn commented on #1813
It wouldn't surprise me if the SVG animation was just inherently slow (it's built the way it is now to be exactly, perfectly on-spec). We should profile it and explore our options.

[2016-11-10 21:06] epelc opened #1815 "slider: Set cursor when sliding"
#### Bug, feature request, or proposal:
`mdSlider` should set the cursor to `grab` and `grabbing`

#### What is the expected behavior?
The cursor should be `grab` when hovering over the slider and `grabbing` when dragging it.

#### What is the current behavior?
A cursor isn't set. It shows as the text select one.

#### What are the steps to reproduce?
Hover over a slider

Providing a Plunker (or s

[2016-11-10 21:47] danny-swimmer commented on #1386
Hi @jelbourn,
Please forgive me if my assumptions are incorrect.
I noticed that this issue was marked as fixed in release 2.0.0-alpha.10.
I assume that this release now becomes the default for newly-created plunks, such as this one I just made to test the fix:
http://plnkr.co/edit/IojSZiv89EVPotxUr1u0
However the behaviour has not changed - the slider still doesn't move when the value binding chan

[2016-11-10 21:58] andrewseguin commented on #1220
I believe it is exercising the expected behavior since in your example there is no margin surrounding the card. Any component whose box shadow exceeds the bounds of the tab will have the same issue and it is expected that a margin should be placed.

In general, components are not prescribed a certain margin so that it is left to the developer to add for their design. This seems funny with md-card

[2016-11-10 22:01] kara commented on #1811
@krigton Fair point. If you see that an issue hasn't gotten any activity in a while (like a few weeks), the best thing is just to ask like you did here. Also check out the "projects" section. I keep track of my current workload in there, so typically if it's on the board, I plan on working on it soon.

[2016-11-10 22:35] jelbourn commented on #1386
@danny-swimmer I don't believe the plunker has been updated yet.

[2016-11-11 00:02] kara opened #1817 "Ripple positioning is off beneath the fold"
To repro:

1)  Slow animations down in animations console (because we are not robots).
2) Remove "fullscreen" attribute from demo app sidenav.
3)  Move button (or other ripple container) to the bottom of the page, so that you have to scroll to get to it.
4)  Click the button.

You can see that the ripple originates from the bottom and not the center of the click event.  It also takes a bit longer

[2016-11-11 00:05] kara opened #1818 "Ripple is never removed if its transition is interrupted"
Currently the ripple detaches itself on "transitionend". If the transition is interrupted (for instance, its host element is detached from the DOM before it's done), the ripple will never detach properly. When its host is re-attached, the ripple background will still be present.

[2016-11-11 00:12] jelbourn commented on #1815
cc @mmalerba Thoughts?

I'm not sure if we want to do this- none of material1, polymer, kendo ui, or jquery UI seem to do it.

[2016-11-11 00:22] mmalerba commented on #1815
The native `<input type="range">` doesn't either (at least on Chrome). We should probably be consistent with what everyone else is doing.

[2016-11-11 00:22] #1815 closed

[2016-11-11 00:33] andrewseguin commented on #1416
I don't believe this is a problem anymore. There have been a good amount of changes made recently to how tab content is created.

Here's an example of tabs with simple text bodies that span the width of the tab group.
http://plnkr.co/edit/pEqGa6YwmTE2fxBDEGJf?p=preview

Please reopen if you can reproduce the issue.

[2016-11-11 00:37] andrewseguin commented on #1428
It's not clear to me that this is in the material spec. Fixed tabs refer to tabs that stretch across the header with equal widths, but do not refer to a state where there is no active tab.

In your example it appears you want to be using a nav bar rather than a tab group.

[2016-11-11 00:37] #1428 closed

[2016-11-11 02:41] Splaktar commented on #1801
Yep, this is a regression that I'm seeing as well. There is [PR](https://github.com/angular/material2/pull/1789) already open to fix it, but it didn't make it into alpha.10 unfortunately.

[2016-11-11 03:46] Splaktar commented on #1801
I spent a good while trying to work around this issue and override styles, etc. But it was just too much trouble. I've had to roll back to `alpha.9-3`.

[2016-11-11 04:02] amanullahnxb commented on #1802
yes.. i have used (change) event too. but i am facing same problem

[2016-11-11 04:04] amanullahnxb commented on #1802
`<md-slider (change)="onSlideEnd($event);" [min]="0" [max]="100" [(ngModel)]="sliderVal"></md-slider>

//class members

sliderVal: number = 10;

onSlideEnd($event){
console.log("slider value", this.sliderVal);
}`

again.. the value for sliderVal shows previous value. (not the current value of slider)

[2016-11-11 04:11] clarenceh opened #1822 "md-hint doesn't support css hidden attribute anymore"
#### Bug:
Observed that in input.scss, for CSS class md-hint, the following css attribute had been added:
- display: block

#### What is the expected behavior?
Current I am using md-hint to show validation error message. I use the hidden attribute to control whether the hint should display base on the control status. Sample code shown below:
[code]
#### What is the current behavior?
Now the hidden

[2016-11-11 09:03] krigton commented on #1811
@kara thanks for the explanation

[2016-11-11 09:06] krigton commented on #1811
thanks!

[2016-11-11 12:50] spock123 commented on #1776
It would be a nice option to have.

Especially on mobile devices, the ripples animations kill anything but the top dog phones.

[2016-11-11 14:07] bradringel opened #1823 "Add components to `entryComponents` array to allow dynamic creation"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
I would like to be able to dynamically add angular material components to my application using the `Compiler` service and the `ViewContainerRef` service. Adding the components in each module to the `entryComponents` array of the `NgModule` declaration will allow the components to be created programmaticall

[2016-11-11 15:08] michaeljota commented on #1076
@jelbourn the #995 fits better in an accordion and it's being tracked. I don't know why this shouldn't. collapsible items in sidenavs are very commons.

[2016-11-11 15:12] rolandjitsu commented on #1616
Closed my PR, messed up some commits. Is anyone working on this at this point or can I give it another try?

[2016-11-11 15:37] naveedahmed1 opened #1825 "[Tooltip] MdTooltip Doesnt hide on mouse out when using ChangeDetectionStrategy.OnPush"
When using MdTooltip in a component which has changeDetection set to ChangeDetectionStrategy.OnPush, mouseOut from the element having tooltip doesn't hides the tooltip.

If we click somewhere else, it hides the tooltip.

When we remove ChangeDetectionStrategy.OnPush, it works normally but we loose the performance benefits.

[2016-11-11 15:53] krigton commented on #1692
@jelbourn @andrewseguin you want me to take this one? thanks

[2016-11-11 16:38] EladBezalel commented on #1085
@jelbourn maybe something like [that](http://codepen.io/EladBezalel/pen/oYbVMd)?

[2016-11-11 17:23] jelbourn commented on #1692
@krigton: @andrewseguin is going to tackle this one

[2016-11-11 17:23] jelbourn commented on #1616
@josephperrott?

[2016-11-11 17:33] krigton commented on #1692
@jelbourn oki. i tackled a bit myself that's why i asked. any other issue you want me to address? thanks

[2016-11-11 18:34] mmalerba commented on #1213
@jelbourn how about if we add something like this?

[code]

that way its easy to close or do nothing, but you can still do custom stuff if you like

[2016-11-11 18:58] michaeljota commented on #1275
I support @HeavenlyHost, you should update the docs to show the proper use of the ligatures. (Or is it wide expected to be used as it is?)

[2016-11-11 20:20] crisbeto opened #1831 "select: Label alignment is off when a value has been selected on IE"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The label should be aligned.

#### What is the current behavior?
![jkzqg7b](https://cloud.githubusercontent.com/assets/4450522/20229036/97cbe1ee-a854-11e6-8ea2-cc3bd48ed606.png)

#### What are the steps to reproduce?
On IE11, go to the select demo and select a value.

[2016-11-11 20:38] crisbeto commented on #1813
Doesn't look like the animation is the cause: even if I disable it or I use a browser that doesn't support animating SVG, there's still a pretty decent delay on a list of 200 checkboxes. Seems like something is causing a bunch of style recalculations. My bet for now is that it's all of those classes being toggle on and off.

[2016-11-11 21:49] andrewseguin commented on #931
This can be done by using a dynamically changing class name for the tab group based on the selected tab.

Here's a rough working proof of concept that can act as your starter: http://plnkr.co/edit/m4anq3XWMOpEDAkjIJtg?p=preview

[2016-11-11 21:49] #931 closed

[2016-11-11 22:20] andrewseguin commented on #1045
The mechanism that was causing problems here (this._changeDetectionRef.detectChanges()) has been removed and the logic has been drastically changed in the latest alpha release.

Thanks for the example app that reproduced the error, it helped a lot in diagnosing the problem.

[2016-11-11 22:20] #1045 closed

[2016-11-11 22:21] jelbourn commented on #1813
@crisbeto which classes?

[2016-11-11 22:23] #1809 closed

[2016-11-11 22:23] #1608 closed

[2016-11-11 22:25] crisbeto commented on #1813
These are the ones that are being watched, although not all of them get toggled at the same time. This is my best guess so far since I couldn't see much else that could be causing the recalcs. I'll take a better look tomorrow:

- md-checkbox-indeterminate
- md-checkbox-checked
- md-checkbox-disabled
- md-checkbox-align-end
- md-checkbox-focused

[2016-11-11 22:28] #1093 closed

[2016-11-11 22:28] andrewseguin commented on #1084
The issue here was due to a detectChanges call in the tooltip positioning. This no longer exists in the logic and this issue is fixed.

See working example: http://plnkr.co/edit/5gkBSK4zgCjSRSTDGA15?p=preview

[2016-11-11 22:28] #1084 closed

[2016-11-11 22:29] #1607 closed

[2016-11-11 22:33] andrewseguin commented on #1243
Duplicate of #769

[2016-11-11 22:33] #1243 closed

[2016-11-11 22:55] kara commented on #1831
Yep - it's been on my md-select board for a bit: https://github.com/angular/material2/projects/2

[2016-11-11 22:57] #1831 closed

[2016-11-11 23:09] andrewseguin commented on #1276
There are three ways to resolve this right now.
(1) Set view encapsulation to NONE on the component that hosts your tabs and use your component style sheet
(2) Load a separate style sheet apart from Angular (e.g. through index.html) that affects the tabs
(3) Use /deep/, which has so far been deprecated from the spec but still supported by Angular for the time being. Not recommended.

[2016-11-11 23:09] #1276 closed

[2016-11-11 23:11] andrewseguin commented on #1373
To create a consistent coloring style across the app, which it sounds like to be your case where you want the toolbar coloring matching the tabs, then theming will be the way to go. For specific coloring changes, using custom CSS styling should fit your needs. The proposed idea of including a color property will be essentially what themes are meant to solve.

[2016-11-11 23:11] #1373 closed

[2016-11-11 23:28] albanx commented on #1276
@andrewseguin None of that 3 methods help to customize some styles right now the style of a md-tab header. The only way for now, is to use the **!important** keyword on the style (and this is not recommended really).
I can set the encapsulation to NONE of my component, but this will affect only my component, not Tabs component.
You're closing an issue that is an issue, style should be customized.

[2016-11-11 23:43] andrewseguin commented on #1276
Perhaps I'm misunderstanding your issue. I am able to change the styling on this tab header removing view encapsulation and applying styles that have a higher specificity than those defined in the default md CSS.

http://plnkr.co/edit/J6Wnn0?p=preview

[2016-11-11 23:45] littleninja commented on #1650
I'm confused, `md-card-header` is documented for MdCard as of today (a new version, alpha.10, was released just yesterday).

https://github.com/angular/material2/blob/master/src/lib/card/README.md

[2016-11-11 23:50] albanx commented on #1276
No you've not misunderstood it. In your case, as you can see, the encapsulation was not enought, you've added also **.my-tabs** class

[2016-11-11 23:58] andrewseguin commented on #1276
Yes, it is necessary to use higher specificity in CSS selectors in order to override the default style of the tab header. Does this solution not fit your needs?

[2016-11-11 23:59] jelbourn commented on #1823
Doing this would make the components impossible to tree-shake. You can add the components to the `entryModules` property of your own NgModule.

[2016-11-11 23:59] #1823 closed

[2016-11-12 00:01] albanx commented on #1276
Let says yes but in general I would like to preserve encapsulation of  my component and be able to customize the style of my app at the same time.

[2016-11-12 00:14] andrewseguin commented on #1276
I would like to be able to do that as well, but unfortunately this is beyond the bounds of what can be done in material (or any UI toolkit) due to how angular 2 is implemented. Feel free to file an issue with angular to suggest this.

[2016-11-12 01:04] andrewseguin commented on #1810
Fixed in #1819

[2016-11-12 01:04] #1810 closed

[2016-11-12 05:12] cesarp commented on #995
This is pretty decent, not sure if you are aware of but helped me.

https://teradata.github.io/covalent/#/components/expansion-panel

[2016-11-12 12:42] borislemke opened #1837 "MdSlider severe performance impact"
#### Bug, feature request, or proposal:
Bug / performance issue

#### What is the expected behavior?
Better performance for MdSlider

#### What is the current behavior?
MdSlider takes ~96ms to initiate, mainly from the getBoundingClientRect function inside ngAfterContentInit.

I'm not sure if this is a suitable post for the issues section but this needs to be looked into as 96ms can be unacceptabl

[2016-11-12 13:41] crisbeto commented on #1837
This sounds strange since:

1. The slider class doesn't implement `ngAfterContentInit`.
2. `getSliderDimensions` is only called when the cursour goes into a slider element. It woun't get triggered on init.
3. At least in our demo app, the `getBoundingClientRect` call takes 0.3 milliseconds, even in IE.

[2016-11-12 15:08] borislemke commented on #1837
@crisbeto
I can see that alpha.8-2 still implements ngAfterContentInit, may have been removed in alpha.10
[code]

Is there a way to npm install alpha.10? With a @beta or @experimental flag perhaps? The current npm package is at alpha.8-2.

[2016-11-12 15:22] crisbeto commented on #1837
Not sure why alpha.10 isn't on NPM, but you should be able to get a more recent version with `@experimental`.

[2016-11-12 15:52] DevVersion commented on #1837
@borislemke Material 2 Alpha.10 seems to be on NPM

[code]

[2016-11-12 16:02] borislemke commented on #1837
@DevVersion @crisbeto right, I was not aware of the move from @angular2-material to @angular/material@2xx.
Will check if the issue persists with alpha.10

[2016-11-12 16:15] borislemke commented on #1837
@crisbeto @DevVersion
hey guys, this problem seems to be fixed in alpha-10. MdSlider no longers implements AfterContentInit and processes within MdSlider takes less than 1ms on average. Thanks for the help!

[2016-11-12 16:15] #1837 closed

[2016-11-12 17:05] camden-kid opened #1842 "Angular Material 2 not loading after install"
#### Bug, feature request, or proposal:
I have followed the GETTING STARTED guide but get the following error:

![image](https://cloud.githubusercontent.com/assets/890197/20239465/764f8558-a8f8-11e6-984b-dc15d8ad2843.png)

#### What is the expected behavior?
I think the @angular/material directory structure should be similar to others such as @angular/common with the directories /bundles, /src, /t

[2016-11-12 17:28] camden-kid commented on #1842
I just had to add this to systemjs.config.js

`'@angular/material':         'node_modules/@angular/material/material.umd.js'`

[2016-11-12 17:28] #1842 closed

[2016-11-12 19:22] elvirdolic opened #1843 "Alpha 10: Background for md-fab on <a> different then on <button>"
#### Bug, feature request, or proposal:
Bug?
#### What is the expected behavior?
if you use the md-fab directive on a button the primary background color is set if you use it on a <a> link it'ts not

#### What is the current behavior?
Same behavior should be for <a> as it is for <button>

#### What are the steps to reproduce?
[code]

vs

[code]

#### What is the use-case or motivation for changing

[2016-11-12 20:11] spock123 commented on #118
If you guys really need an "md-select" right now, check out this one (while the material2 gets done)

https://github.com/Gbuomprisco/ng2-material-select

[2016-11-12 23:22] alxhub opened #1845 "If md-slider changes position after initialization, it can't be clicked in the new location"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

If md-slider changes position on the page after initialization (e.g. if an NgIf becomes true and more elements appear), it should be usable in the new position.

#### What is the current behavior?

If md-slider changes position on the page after initialization , clicking the slider bar will not work. Clicking the ha

[2016-11-13 06:05] johnqiuwan opened #1847 "On IOS Safari, md-button needs to click twice"
dup #1792

[2016-11-13 07:12] crisbeto commented on #1847
Have you tried the solution from #1792?

[2016-11-13 08:33] crisbeto commented on #1845
There was a change, at some point, that made the slider get the dimensions on mouse enter, instead of on init. Might be worth updating since it looks like the Material version in the Plunker template is old.

[2016-11-13 10:57] da45 commented on #581
meanwhile, I am using Twitter Bootstrap,

[2016-11-13 11:55] crisbeto commented on #1843
Could you post an example that shows the issue? I tried it locally with our demo app and they looked exactly the same.

[2016-11-13 15:37] NicholasAzar commented on #1845
Looks like @crisbeto is correct. After updating the systemjs.config.js to:
'@angular/material': 'https://unpkg.com/@angular/material@2.0.0-alpha.10',
resolves this issue when i tried.

[2016-11-13 22:07] MarkPieszak opened #1850 "Alpha10 - New errors thrown when attempting to integrate with Universal"
#### Bug, feature request, or proposal:
`TypeError: Cannot read property 'toLowerCase' of undefined at new styleCompatibility (material.umd.js)`

#### What is the expected behavior?
Render Material2 on the server.

#### Which versions of Angular, Material, OS, browsers are affected?
Angular 2.1.2
Material 2.0.0-alpha10
Windows 10

#### Is there anything else we should know?
Alpha 8 can be integrat

[2016-11-14 00:09] sunshineo commented on #1316
Which version will this fix be in?

[2016-11-14 01:37] johnqiuwan commented on #1847
First, I have updated the version to @angular/material": "^2.0.0-alpha.10
Also, I have update the code in the following file based on the instruction of #1792.

However,  the problem is still exist. It looks like the issue is ONLY on md-button but not on md-raised-button.

[2016-11-14 06:43] crisbeto commented on #1847
I'll give it another look, in that case. Regarding this:

If you [comment out this line](https://github.com/angular/material2/pull/1792/files/c0f4d3de106045fba336f37737247788f33484a3#diff-750d8b0165eb725928c42839553a022bR7), does the raised button break again?

[2016-11-14 09:40] zealitude opened #1851 "md-checkbox will distortion when width is very small"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-checkbox with long text keep square shape when container element width is very small

#### What is the current behavior?
md-checkbox with long text shape distort when container element width is very small

#### Which versions of Angular, Material, OS, browsers are affected?
Material 2.0.0-alpha.10
Google Chrome Ver

[2016-11-14 11:41] simonh1000 commented on #1843
I get the same with regular buttons:

![image](https://cloud.githubusercontent.com/assets/5256724/20263533/7e34102a-aa67-11e6-85e4-26be6feb244d.png)

    <button md-raised-button color="accent" (click)="deleteSelectedTps()">Delete points</button>
    <a [routerLink]="['upload']" md-raised-button color="accent">Return to Upload</a>

[2016-11-14 14:02] beatadelura commented on #1212
@crisbeto I decided, I will not use grid from `material2` so I don't have the code. Anyway I tried to use the same code from [here](https://github.com/angular/material2/blob/master/src/lib/grid-list/README.md)

[2016-11-14 14:15] michaeljota commented on #205
@krigton it's blocked cause of theming, so I would say it will.

[2016-11-14 14:34] alexlacasa86 commented on #1805
I was not able to create a Plunkr with the _failing_ code. I finally removed the 2-way binding and emitted the value manually, so now it seems to be working.

I'm sorry I cannot be any more helpful on this issue.

[2016-11-14 14:55] krigton commented on #1851
Would you please provide plunkr for this problem? thanks

[2016-11-14 16:13] RaulRG commented on #946
I read the Material Design Guidelines and there it says:

Source: [https://material.google.com/layout/responsive-ui.html#responsive-ui-grid](url)

I do think that Angular Material should include a layout system.

[2016-11-14 16:32] bpearce6942 opened #1852 "md-input tabindex"
#### Bug, feature request, or proposal:
providing tabindex value results in md-input element receiving focus, in addition to actual input element

#### What is the expected behavior?
tabbing results in the input element receiving focus without md-input receiving focus

#### What is the current behavior?

#### What are the steps to reproduce?
apply a tabindex attribute to <md-input> and attempt to

[2016-11-14 16:52] fxck commented on #1825
Are you working on this @andrewseguin I could try and send PR myself, it's extremely annoying, makes tooltips unusable in 90% of my components. I don't won't to be stuck on alpha.9 again after waiting over a month on alpha.10..

[2016-11-14 17:13] Daugoh commented on #1728
Hello @jelbourn

Thanks for your answer.

Yes I tried to do it manually.
I can show/hide the texts with a CSS class or use a ngIf.
It works but then I have a problem of alignment for my icons.
They are not correctly centered.

So yes we can do it ourselves but I think it would be really useful to have it natively.
And then just use an attribute like textVisible or iconOnly for instance ...

Regard

[2016-11-14 17:26] #1212 closed

[2016-11-14 17:37] fxck commented on #1416
What @Salma7amed said still is not fixed https://github.com/angular/material2/issues/1416#issuecomment-253118189 there are `overflow`s set that are causing the content to be clipped, for example when you use `md-card` inside a tab content, shadows are clipped.

@andrewseguin

[2016-11-14 17:38] crisbeto commented on #1847
Could you post a simplified example @johnqiuwan, I've been trying this out locally against the `master` branch and it works fine, both on raised buttons and on regular ones:

[code]

[2016-11-14 17:39] jmurphzyo commented on #1850
I see you closed this did you find a work around?

[2016-11-14 17:39] fxck commented on #1416
See http://plnkr.co/edit/29KyvgWew3qktBFhTIZM?p=preview

[2016-11-14 17:46] crisbeto commented on #1843
Weird @simonh1000, here's what I get against master with the exact same HTML (obviously the color will be different):

![material2_-_google_chrome_2016-11-14_18-45-34](https://cloud.githubusercontent.com/assets/4450522/20275911/8b6abb94-aa9a-11e6-84eb-25e60555622e.png)

[2016-11-14 18:12] TrevorBroderick1 opened #1853 "Input type datetime-local overlaps with placeholder"
#### Bug, feature request, or proposal:
When the value string is empty, the placeholder of the md-input will overlap with the field.
![image](https://cloud.githubusercontent.com/assets/19823278/20276711/46362100-aa52-11e6-8fa0-b38545a8f5fa.png)

#### What is the expected behavior?
The placeholder should stay above the field

#### What is the current behavior?
The placeholder overlaps with the fiel

[2016-11-14 18:12] RoxKilly opened #1854 "[Tabs] Tabs are loaded eagerly"
#### Bug, feature request, or proposal:
Bug or possibly poor design

#### What is the expected behavior?
When a tab is never opened, its contents should never be added to the DOM. This is how things worked with `alpha 9` on `Angular 2.0.1`

#### What is the current behavior?
Even if a tab is never opened, its content is added to the DOM before being removed.

#### What are the steps to reproduce?

[2016-11-14 18:14] mmalerba commented on #1805
Ok, closing for now, feel free to re-open if you find a way to consistently reproduce it

[2016-11-14 18:14] #1805 closed

[2016-11-14 18:45] kyleledbetter commented on #1843
sounds like a dup of https://github.com/angular/material2/issues/1801 which has an unreleased fix in `master` https://github.com/angular/material2/pull/1789

[2016-11-14 18:48] MarkPieszak commented on #1850
Apologies, no I didn't. I just started getting different errors. I'll leave it open for now, but I'll try and post a reproducible repo etc so we can investigate it further. @jmurphzyo

[2016-11-14 19:23] mmalerba commented on #48
pr for shadows: #1857

still need to do animations

[2016-11-14 21:03] lqc opened #1859 "Version "2.0.0-alpha.10" is not greater than "2.0.0-alpha.9-3""
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

Running "npm install" when package.json defines ``^2.0.0.alpha.9-3`` should update the package to latest alpha

#### What is the current behavior?

Nothing happens.

This is because:

[code]

It's not a big deal because changing packages to `^2.0.0-alpha.10` works, but it would be great if you didn't make any more "

[2016-11-14 21:29] #1152 closed

[2016-11-14 21:31] #1468 closed

[2016-11-14 22:02] chouclee commented on #1777
@kara any update on this issue? I can fix this one if you wish. Only an extra line of css

[2016-11-14 22:08] hacknaked commented on #1859
By the way, could you please upload the last version (2.0.0-alpha.11) to npm?

[2016-11-14 22:08] JigyasaSharma commented on #1287
Hi,
Were you able to solve this?

[2016-11-14 22:12] amellnik opened #1862 "md-radio-group not working with *ngFor and ngModel"
#### Bug, feature request, or proposal:
`md-radio-group` does not correctly bind with `ngModel` if the `ng-radio-button`s are generated dynamically with `*ngFor`.  This is one of the use cases given in the documentation for the component.

#### What is the expected behavior?
`ngModel` should reflect the selected value.

#### What is the current behavior?
Upon loading, all values are selected.  Aft

[2016-11-14 22:30] RoxKilly commented on #1862
@amellnik to write demos for which you control the Material and Angular version, feel free to fork from my setup and remove what you don't need. You can edit the versions near the top of `systemjs.config.js`.

[Here is the plunk](http://plnkr.co/edit/gl7dxnRv1ncauwAkxHJf?p=preview) I started for you.

[2016-11-14 22:38] josephperrott commented on #1862
To use ngModel you will need to include the FormsModule from angular/forms.

```import {FormsModule}   from '@angular/forms';```

You can see a working fork from your plunkr here: http://plnkr.co/edit/WO5OL9cEBv3yxIXsttn9?p=preview

[2016-11-14 22:51] amellnik commented on #1862
Thanks @RoxKilly and @josephperrott -- Joseph's version is clearly working, but a slight modification to [Rox's version](http://plnkr.co/edit/uGWVQeUf7GrkXU4mRaBj) doesn't work.  Joseph, what version of Material is yours pointing to?  I can't tell from the `system.config.js`.

[2016-11-14 22:57] josephperrott commented on #1802
Are you importing the FormsModule?

I was able to get this working with `(slideend)`

You can see a working plnkr [here](http://plnkr.co/edit/tcVgLUcAosWspGV0ilK9?p=preview)

[2016-11-14 23:00] josephperrott commented on #1862
I just forked from the plnkr you linked to so I am unsure.

[2016-11-14 23:17] jelbourn commented on #1862
@tinayuangao can you reproduce?

[2016-11-14 23:21] jelbourn commented on #1859
Going to close this since there's not much we can do about it at this point.

In general, I don't recommending using `^` on these alpha releases because there will be at least a couple breaking changes in each one.

[2016-11-14 23:21] #1859 closed

[2016-11-14 23:21] jelbourn commented on #1852
Will be resolved as part of md-input refactoring

[2016-11-14 23:22] jelbourn commented on #1851
@zealitude Please provide a reproduction or steps to reproduce.

[2016-11-14 23:25] fxck commented on #1430
@jelbourn almost all components that use overlay look broken because this doesn't work.. it seems like a pretty high priority thing to me. Do you want to work on this internally, or I can try and make a PR?

[2016-11-14 23:39] zealitude commented on #1851
Hi all, you can reproduce the bug from the Readme md-checkbox demo link
https://plnkr.co/edit/P7qce8lN9n2flS6kBhDy?p=preview
just try to change the preview windows (right hand side view) width

ps. I found that the bug will occur when one line text become two lines in very small width.

[2016-11-14 23:55] krigton commented on #1851
@zealitude @jelbourn A quick fix would be to set the md-checkbox-frame's and the md-checkbox-background's width to 18px. Also set the label's white-space to nowrap. There is not enough space so the browser tries to rearrange the children of the checkbox. I'll try to see I can find a better solution for this.

[2016-11-15 00:35] tinayuangao commented on #1862
Can't reproduce this issue

[2016-11-15 00:39] jelbourn commented on #1862
Closing as not reproducible.

[2016-11-15 00:39] #1862 closed

[2016-11-15 00:40] jelbourn commented on #1845
@mmalerba can you investigate?

[2016-11-15 00:50] #1642 closed

[2016-11-15 01:03] tinayuangao commented on #1851
This is a duplicate of issue #1097. It's fixed on current master.

[2016-11-15 01:03] #1851 closed

[2016-11-15 01:40] jelbourn commented on #1430
@fxck This is something we plan to work on- I have a specific approach in mind.

[2016-11-15 01:45] jelbourn commented on #1854
@andrewseguin I think this might be a bug in Angular based on the way we're doing tabs.

[2016-11-15 01:46] jelbourn commented on #1850
It's a known issue that Material doesn't work with Universal; you can follow the progress on #308

[2016-11-15 01:46] #1850 closed

[2016-11-15 02:01] #1283 closed

[2016-11-15 02:44] dreweird opened #1864 "class md-tall md-hue-2 for md-toolbar"
#### Bug, feature request, or proposal:
please include this feature..

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behav

[2016-11-15 03:25] code-tree commented on #1592
I'm now having problems even upgrading to next npm release. I assume this issue is a symptom of a bigger problem, so closing.

[2016-11-15 03:25] #1592 closed

[2016-11-15 05:24] RoxKilly commented on #1854
A dirty workaround: I listen to `(selectChange)` and I wrap the tab contents in an `*ngIf` that will add the contents to the DOM only if the tab is currently selected.

[See this plunk](http://plnkr.co/edit/V7VPskmyS2ImB41Mgm5B?p=preview)

[2016-11-15 08:36] johnqiuwan commented on #1847
Hi @crisbeto,

[code]

Only on ios, the "click" not been caught on the first click but on the second click. If I use md-raised-button instead of md-button, the problem is gone.

In addition, it has no issue on Android and Web.

[2016-11-15 08:37] crisbeto commented on #1847
Hmm, I hadn't tried with a link, I was only testing with `button`. Does the `.banner-button` class have any special styling (`:hover`, `:active` etc.)?

[2016-11-15 08:46] johnqiuwan commented on #1847
I just enable / disable the :hover on the .banner-button class. However, it is not working on both cases on ios. No matter the .banner-button class has a :hover or not.

[2016-11-15 08:48] crisbeto commented on #1847
I see, I'll try it out with links later.

[2016-11-15 09:25] psks1204 commented on #1287
yeah! @JigyasaSharma  I've solved it.

[2016-11-15 09:49] AmitMY opened #1866 "[BUG] md-input is laggy on lower end machines (video included)"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`md-input` to behave as smoothly as HTML input

#### What is the current behavior?
`md-input` is laggy when typing, compared to normal HTML input
Video for demonstaration:
https://youtu.be/TqrzeR5EGIE

#### What are the steps to reproduce?
Source code:
[code]
OS:
- Android using Meizu, OnePlus 2, Galaxy S2 (Most promi

[2016-11-15 10:22] elvirdolic commented on #1854
It shouldn't load the content until the user click the tab.

I think the best approach is to load the content when the click event is fired and the loaded content is not destroyed anymore if the user switch to another tab and switch back again

[2016-11-15 12:16] krigton commented on #308
Found issues with the following code in `md-input`:

[code]

[2016-11-15 13:11] MarkPieszak commented on #1850
Saw that one, ok thanks Jeremy apologies on the duplicate! We had some hacks to get it somewhat working with alpha 8 I believe, but they don't work anymore ;)

[2016-11-15 13:28] PrabhakaranD opened #1867 "md tab content not working"
I am able to get the tab headers through md tab & md-tab-label

But  md-tab-content not showing. Its not rendering the view. Tried md-tab-body also.

My code:

        <md-tab-group>
          <md-tab>
            <template md-tab-label>Details</template>
            <template md-tab-content>
              Tab 1
            </template>
          </md-tab>
          <md-tab>
            <template m

[2016-11-15 14:13] rolandjitsu opened #1868 "feat(MdDialog): add border-radius to <md-dialog-container>"
#### Bug, feature request, or proposal:
Feature

#### What is the expected behavior?
`<md-dialog-container>` should probably have a `2px` border radius like the rest of the components.

#### What is the current behavior?
There is no border radius.

![border-radius](https://cloud.githubusercontent.com/assets/1479737/20308873/67835024-ab4e-11e6-91f6-5eb447770c32.png)

#### What are the steps to repr

[2016-11-15 14:29] ocarreterom commented on #1867
`md-tab-content` has been removed. You have how to use tabs in the doc:
 https://github.com/angular/material2/blob/master/src/lib/tabs/README.md

[2016-11-15 14:34] eagle-dan1349 opened #1869 "MdDataTable proposal"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
Availability of MdDataTableComponent and related components

#### What is the current behavior?
Lack of MdDataTableComponent and related components

#### What are the steps to reproduce?
N/a

#### What is the use-case or motivation for changing an existing behavior?
Angular2-based implementation of Material data

[2016-11-15 15:26] arekKalbarczyk opened #1870 "md-checkbox layers on default checkbox"
**Bug, feature request, or proposal:**
Bug ?

**What is the expected behavior?**
Browser renders only one checkbox (md-checkbox)

**What is the current behavior?**
2 checkboxes(default and md-checkbox) are rendered on top of eachother

**What are the steps to reproduce?**
Migrate from alpha 8 to alpha10, add simple md-checkbox to a view, render in chrome

before selecting:
![image](https://cloud.g

[2016-11-15 15:36] #1870 closed

[2016-11-15 16:08] mmalerba commented on #1845
yeah, this was fixed by #1663

[2016-11-15 16:08] #1845 closed

[2016-11-15 17:52] jelbourn commented on #1869
#581

[2016-11-15 17:52] #1869 closed

[2016-11-15 17:53] jelbourn commented on #1867
Please see the changelog when there is a new release:
https://github.com/angular/material2/blob/master/CHANGELOG.md

[2016-11-15 17:53] #1867 closed

[2016-11-15 20:13] mLaird opened #1875 "md-radio buttons in reactive forms (model based) cause several problems"
#### Bug, feature request, or proposal:
It is a bug, as best I can tell. I cannot tell whether the problem is in Angular or MD, code or docs.

#### What is the expected behavior?
md-radio buttons should not affect other DOM components, and they should work.

#### What is the current behavior?
1.When radio buttons are constructed in a reactive form with current Angular 2 docs,   http://devdocs.io/a

[2016-11-15 20:36] crisbeto commented on #1847
Still works fine @johnqiuwan, I used the exact same HTML. It might be better to revisit this once the fix in master has been released.

[2016-11-15 20:48] bastienlemaitre commented on #675
Hi, I've started to develop a md-datepicker !

It respect many requirements quoted in #1746, like:
- Support for accessibility
- Support for i18n (RTL)
- Support for theming
- Following our coding standards
- Using existing infrastructure (such as the Overlay service) // I use a dialog, but whatever.
- + Implementation on MomentJS.

But I have many issues with the dialog and the input:
- input: ev

[2016-11-15 22:12] cwjolly opened #1879 "md-menu when posted does not maintain its position relative to trigger button after scrolling."
#### Bug, feature request, or proposal:
This is a bug. I discovered this when trying to scroll a div under a fixed header with the menu posted to the screen. the trigger buttons scroll but the menu does not.  Plunker shows issue

#### What is the expected behavior?
the posted menu should maintain it positon relative to the trigger button regardless of scrolling

#### What is the current behavior?

[2016-11-15 22:19] qdouble opened #1880 "Md-Input Bug - When using reactive forms, setting control to disabled does not work"
#### Bug, feature request, or proposal:
[x] Bug

#### What is the expected behavior?
You should be able to set the form control to disabled without setting the attribute in the HTML code (as angular complains if you set the disabled attribute when using reactive forms)

#### What is the current behavior?
It just silently fails to disable the control.

#### What are the steps to reproduce?
Just set

[2016-11-16 00:26] adarshaj opened #1881 "md-input with md-prefix and width:100% has weird rendering"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The prefix on md-input should consume the space enough for the content within prefix.
I made a simple codepen of how it works in angularjs: https://codepen.io/anon/pen/VmKaNv (contrast with material2 impelmentation in plunkr below)

#### What is the current behavior?
there is a weird amount of space between the prefix

[2016-11-16 00:29] #547 closed

[2016-11-16 00:52] #1868 closed

[2016-11-16 02:22] jelbourn commented on #675
@bastienlemaitre we are indeed waiting on a revised spec for the date-picker.

I'd encourage you to release your datepicker as a standalone package and we can revisit the component in `@angular/material` after our beta release.

[2016-11-16 02:25] jelbourn commented on #308
@krigton the important thing here is adding a job to the CI that runs over everything with Universal, otherwise it will keep breaking.

As for the input specifically, #1858 is changing the input quite a bit so that particular problem will likely soon be obsolete.

[2016-11-16 02:55] jelbourn commented on #1213
@mmalerba we could make it align with the overlay and dialog. Overlay exposes a `backdropClick` observable that lets you do whatever you want, and dialog has a `disableClose` option that prevents the dialog from closing itself based on backdrop click or escape key.

[2016-11-16 04:38] PrabhakaranD commented on #1867
Thanks a ton @jelbourn  @ocarreterom  for your quick response.

[2016-11-16 05:26] elvirdolic commented on #1843
Yes this solves the issue #1789

[2016-11-16 05:26] #1843 closed

[2016-11-16 05:29] leocaseiro commented on #1382
I'm having similar issue even after the PR. It happens if I double click in a toggle sidenav open/close. It only happens if I double click pretty fast. Only on the transition phase.

The sidenab toggled normally, however, I'm getting an error on my console log:

[code]

Eq:

[code]

I believe is something related to the method [_onTransitionEnd()](https://github.com/angular/material2/blob/master/s

[2016-11-16 05:39] leocaseiro commented on #1370
I'm confim the error still happening with `@angular/material@2.0.0.alpha.10`

The fix from @omararturo [works temporary](https://github.com/angular/material2/issues/1370#issuecomment-256841974) for me.

PS: I reported detail about this error here: https://github.com/angular/material2/issues/1382#issuecomment-260857861

[2016-11-16 05:49] RoxKilly commented on #1651
@theunreal @vinagreti the code in the OP works on version  `alpha 10`

[2016-11-16 06:13] ibufu opened #1883 "The default background color of md-dialog-container is rgba(0,0,0,0)?"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
#fff

#### What is the current behavior?
rgba(0,0,0,0)

version :2.0.0-alpha.10

[2016-11-16 06:59] ashishsajwan commented on #1870
@arekKalbarczyk

this fixed the issue ?? material theme loaded after this ??

[2016-11-16 07:05] krigton commented on #308
I see. it looked a good place to raise this problem. thanks.

[2016-11-16 07:48] krigton commented on #1875
What's the reason you are using the `FormControlName` on the md-radio-button` and not on the `md-radio-group`? May I see the whole code you have with the `md-input`s? I think you should use the FormControlName on the group rather then on the individual elements, at least for me it's working. thanks

[2016-11-16 11:29] #1883 closed

[2016-11-16 13:32] mLaird commented on #1875
Csaba,  Thanks. I am following the instructions in Angular2's documentation
for the RadioControlValueAssessor in reactive forms.  Check the link I
included.  Here's the code example:

    <form [formGroup]="form">
      <input type="radio" formControlName="food" value="beef" > Beef
      <input type="radio" formControlName="food" value="lamb"> Lamb
      <input type="radio" formControlName="food"

[2016-11-16 14:22] danny-swimmer opened #1884 "md-input input text is not grayed-out when disabled"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When the md-input is disabled, the input text should be grayed-out. The expected behavior  is documented in Google design here:
https://material.google.com/components/text-fields.html#text-fields-labels

#### What is the current behavior?
Input text is not grayed-out.

#### What are the steps to reproduce?
Please refe

[2016-11-16 15:01] dmacfarlane opened #1885 "md-tab-group selected index does not update immediately after adding a tab"
#### Bug, feature request, or proposal:
Bug or possibly usage clarification

#### What is the expected behavior?
Setting the `selectedIndex` immediately after adding a new tab should cause the new tab to be selected.

#### What is the current behavior?
The tab selection does not change.

#### What are the steps to reproduce?
`this.tabs.push('New');`
`this.index = this.tabs.length - 1;`

http://pln

[2016-11-16 15:39] kenp77 opened #1886 "Dialog : Disable close does not exist"
Hi,

Based on the last update of the Dialog Material 2, i added `disableClose: false `
[code]
But now im getting an error : `Argument of type '{ disableClose: boolean; }' is not assignable to parameter of type 'MdDialogConfig'.`

Any idea why i'm having this error ?

[2016-11-16 15:47] crisbeto commented on #1886
What version of Material are you using? This was introduced in `alpha.10`.

[2016-11-16 16:31] kenp77 commented on #1886
I was using 9.3 and now i just updated to 10 and it solved the problem. Thank you

[2016-11-16 16:33] #1886 closed

[2016-11-16 16:33] tdawgy opened #1888 "Basic theming for md-icon"
#### Bug, feature request, or proposal:
Theming isn't currently implemented for md-icon.

#### What is the expected behavior?
Color an icon based on the primary/accent/warn colors defined in a theme.

#### What is the current behavior?
icon_theming file exists but has yet to be implemented.

#### What are the steps to reproduce?
Create a theme, use md-icon.

#### What is the use-case or motivation

[2016-11-16 16:40] jelbourn commented on #1382
@leocaseiro please file a new issue

[2016-11-16 16:41] jelbourn commented on #1888
We probably should have a `color="primary|accent|warn"` property for icon.

[2016-11-16 16:42] jelbourn commented on #1885
@andrewseguin dupe of what you're already working on?

[2016-11-16 17:01] andrewseguin commented on #1885
Yes, this is a dupe of #1692 and in progress right now

[2016-11-16 17:01] #1885 closed

[2016-11-16 17:02] andrewseguin commented on #1692
I've been looking into this and the issue can be resolved easily but we are running into a problem of syncing the animiations correctly. Will spend some more time on this today to see if we can come up with an ideal solution.

[2016-11-16 17:21] shaozi commented on #977
This should be included in the getting started guide!

[2016-11-16 17:36] shaozi opened #1889 "Getting Started Guide missing a step to install @types/hammerjs"
#### Bug, feature request, or proposal:

Documentation

#### What is the expected behavior?

New project with angular-cli and tried to add material2 by following Getting Started Guide.
After added a material tag, compile failed with bunch of `Cannot find name 'HammerManager'.` and `Cannot find name 'HammerInput'.` errors.

The solution is as in issue #977 to install

`npm install --save hammerjs @

[2016-11-16 17:41] benjamincharity opened #1890 "Any plans to implement something like v1's $mdMedia service?"
I found it very useful to be able to access the same media query definitions from my scripts **and** styles. I don't see anything about it in the features grid.. any plans to implement something like this in the future?

Reference: https://material.angularjs.org/latest/api/service/$mdMedia

[2016-11-16 17:56] #1540 closed

[2016-11-16 18:22] mmalerba commented on #1213
That seems a little more awkward since you have to set two properties, one to stop the default action and one to supply your own. can we make the overlay work like my proposal instead? :p

[2016-11-16 18:42] jelbourn commented on #1213
The overlay just exposes the observable to let the component do whatever it wants. The dialog doesn't expose the observable and just has `disableClose`. For the sidenav I'd think that `disableClose` would make sense since I'm not sure what else you'd do with a backdrop clip.

[2016-11-16 19:13] michaeljota opened #1891 "Resizing to icons"
#### Bug, feature request, or proposal:

feature request

#### What is the expected behavior?

A simple way to resizing the icons with directives. It could be like:

[code]
or
[code]

#### What is the current behavior?

There is not *simple* way, or not a documented one at least, to resize the icons. If you want to resize the icons, you have to set the height, width, and font-size at the same size

[2016-11-16 19:18] Borki opened #1892 "md-button-toggle-group with vertical aligned md-button-toggle"
#### Bug, feature request, or proposal:
Request, Proposal

#### What is the expected behavior?

That i can build a md-button-toggle-group in which all md-button-toggle are vertical aligned.

#### What is the current behavior?

All md-button-toggle in a md-button-toggle-group are horizontal aligned

#### What is the use-case or motivation for changing an existing behavior?

I want to make a md-butt

[2016-11-16 19:18] SamiAl90 commented on #1891
By the definition of material icons they have a size of 24x24px.
https://material.google.com/style/icons.html#icons-system-icons

however if you still prefer to resize them based on the width of the screen, you can use css media-queries.
http://www.w3schools.com/cssref/css3_pr_mediaquery.asp

[2016-11-16 19:44] #1349 closed

[2016-11-16 19:45] Borki opened #1893 "md-button-toggle display bug."
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

the md-button-toggle looks like a button

#### What is the current behavior?
http://imgur.com/jlM5qqr

#### What are the steps to reproduce?

create toggle buttons without a **theme**.

#### Which versions of Angular, Material, OS, browsers are affected?
"@angular/material": "2.0.0-alpha.10"
"@angular/core": "~2.1.0

[2016-11-16 19:51] RoxKilly commented on #1171
@crisbeto  The error I originally reported is no longer raised, but setting `disabled=true` on a reactive form control fails to disable the `md-input`

[See this plunk](http://plnkr.co/edit/5wjZKvwxFWHznlbmWe9R?p=preview)

[2016-11-16 20:03] crisbeto commented on #1171
The fix hasn't been merged yet @RoxKilly.

[2016-11-16 20:07] michaeljota commented on #1891
When using icons as `md-prefix` inside of a `md-input`, the size pulls the input upwards and breaks the layout of the input element.

[2016-11-16 20:41] benjamincharity commented on #1890
Closing as this has been mentioned in another issue in more abstract terms: https://github.com/angular/material2/issues/45

[2016-11-16 20:41] #1890 closed

[2016-11-16 21:15] tdawgy commented on #1888
Good call, I've created a PR (#1896) for this, let me know if I've missed some of the contributing guidelines or if you have any concerns.

[2016-11-16 21:21] mmalerba commented on #1213
#1427 is requesting a callback

[2016-11-16 21:41] johnqiuwan opened #1897 "Blur text on floating label animation on md-input in a form"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The floating label animation on md-input should NOT make the text blur while transforming

#### What is the current behavior?
The text will become blur while transforming (floating)

#### What are the steps to reproduce?

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions o

[2016-11-16 22:18] esbeto commented on #1854
Might be related: after upgrading to alpha.10

Tabs that have an *ngIf are breaking for me:

[code]

[2016-11-16 22:19] sikemullivan commented on #1130
Is this doable for now? I really like the menu being locked open like Alex stated. Just added this to app.component.ts till this is supported. I'm new to Angular in general.

` @ViewChild("start") private start: MdSidenav;
constructor(private _ngZone: NgZone) { }

  ngOnInit() {
    //Total hack
    window.onresize = (e) => {
      this.checkMenu();
    };
    this.checkMenu();
  }

  checkMenu()

[2016-11-16 22:49] leocaseiro opened #1899 "Bug: MdSidenav._closePromiseReject on toggle Sidenav (issues with _onTransitionEnd)"
#### Bug
Toggle a Sidenav before the Transition causes an error on console

#### What is the expected behavior?
It shouldn't show any errors on toggle.

#### What is the current behavior?
It's working the toggle, but we can see errors on console

#### What are the steps to reproduce?

[code]

http://plnkr.co/edit/Ri7CqKVl0b3czY5SYg4g?p=preview

#### Which versions of Angular, Material, OS, browser

[2016-11-17 00:39] chouclee opened #1902 "[md-nav-list][bug] Keyboard support"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
https://github.com/angular/material2/pull/1599
nav-list should support keyboards events like keyup, keydown.

#### What is the current behavior?
Only works when scroll bar can scroll.

#### What are the steps to reproduce?
http://plnkr.co/edit/7KTO8hIAgb9VO7oubNoF?p=preview
Click 'AB'. Keyup will not work. Keydown wor

[2016-11-17 02:34] RoxKilly commented on #1854
@esbeto my last demo (see my most recent post above) uses a working `*ngIf` within a tab

[2016-11-17 03:16] Frly commented on #675
Here a preview of the date selector

https://github.com/angular/material2/pull/1903

<img src="https://firebasestorage.googleapis.com/v0/b/frly-9cf03.appspot.com/o/ehh.png?alt=media&token=908cad18-e9b5-4238-87db-a4b2a2eab2c7">

[2016-11-17 03:45] CoderCat84 opened #1905 "dialog imports and exports dialogconfig"
I looks like dialog.ts both imports and then reexports MdDialogConfig and MdDialogRef.  For me this is causing an error when I try to build with webpack 2 due to it trying to re-add the module. The error is:

Uncaught TypeError: Cannot redefine property: MdDialogRef

 I'm pretty new to modules in typescript but it seems weird to me that a component would import and then export something

[2016-11-17 04:11] jelbourn commented on #1905
This is known as a "re-export" and is pretty common. AFAIK it hasn't been a problem with any Webpack and this in the past. All of our angular-cli based projects, such as [this sample](https://github.com/jelbourn/material2-app) use webpack without this problem.

Going to close this for now as I suspect the issue lies in your environment.

[2016-11-17 04:11] #1905 closed

[2016-11-17 05:00] CoderCat84 commented on #1905
actually looks like it might be related to this:

https://github.com/webpack/webpack/issues/2850

it wouldn't happen in the example you linked because you are importing individual components i.e. import { MdSomething } from "angular/material" whereas I import the entire thing i.e. import "@angular/material"  which causes the index.d.ts to be used in the dialog folder (I do this because I'm buildin

[2016-11-17 08:03] belveryin opened #1908 "MdDialog in another document"
#### Bug, feature request, or proposal:
Feature request.

#### What is the expected behavior?
The possibility to attach the dialog to another but the current document.

#### What is the current behavior?
It is attached to the current document.

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr

[2016-11-17 08:59] alexjoverm commented on #1130
I did it in the FRP + Redux way (but of course you can ommit the Redux stuff). In case you wanna check it out: https://github.com/alexjoverm/Footle/blob/master/client/src/app/containers/sidenav/sidenav.component.ts

[2016-11-17 13:01] tgrosh commented on #261
Any progress on this implementation? I am finding an issue being able to click (for example) checkboxes when I include the fastclick.js library in my ng2 / material project.

[2016-11-17 13:39] AmitMY opened #1911 "BUG - md-tab ngFor crashes angular"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
ngFor should work on all elements

#### What is the current behavior?
Angular crash

#### What are the steps to reproduce?
    <md-tab-group [(selectedIndex)]="activeTab" (selectChange)="updateType($event)" class="dark-red">
        <md-tab *ngFor="let a of data"
                label="{{a.prop}}"></md-tab>
    </md-t

[2016-11-17 13:58] mLaird commented on #1875
I removed formControlName from each md-radio-button, and put it once in the md-radio-group.  This is not what the docs say for RadioControlValueAssessor, but it fixed problems 1. and 2. above. Problem 3, radio dots are not inside the circle remains.  My question is whether this is a "lucky bandaide" fix that will cause some other problem in the future, or is Angular documentation wrong in several

[2016-11-17 14:31] anders-hard commented on #675
Looking forward to this!
It would be awesome if it can also show the week number (at least as an option).

[2016-11-17 14:40] AmitMY opened #1912 "BUG - md-input (change) is not called"
#### Bug, feature request, or proposal:
BUG

#### What is the expected behavior?
call output change every time the input changes

#### What is the current behavior?
Calls (change) when press "enter", or unfocused the input

#### What are the steps to reproduce?
http://plnkr.co/edit/Ew5eVXrxcedTbYHvF81x?p=preview

write something, then press enter

#### What is the use-case or motivation for changi

[2016-11-17 14:47] pchiquet opened #1913 "[md-menu][bug] Tests crash in MdMenu.ngOnDestroy"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The test should work

#### What is the current behavior?
Tests on a component that uses MdMenu crash in  MdMenu.ngOnDestroy, with error "**Cannot read property 'unsubscribe' of undefined**"

[code]

#### What are the steps to reproduce?

From this github repo: https://github.com/pchiquet/material2-menu-test
- git clon

[2016-11-17 14:54] mtrdp642 commented on #1912
This isn't a bug specific to Material; add a regular <input type="text" /> with the same bindings and the same result occurs. [Reading up on the change event ](https://developer.mozilla.org/en-US/docs/Web/Events/change) shows that its behavior varies between browsers and controls.

Sounds like you need one of the key events, such as [keypress](https://developer.mozilla.org/en-US/docs/Web/Events/ke

[2016-11-17 15:11] ocarreterom commented on #1911
This bug is from angular@2.2.0, not from material2.
https://github.com/angular/angular/issues/12928

[2016-11-17 15:51] chriscerk opened #1914 "Cannot read property 'toLowerCase' of undefined"
#### Bug, feature request, or proposal:

Bug / Proposal

Similar to #308 but posting for exposure of the stack-trace I'm getting.

#### What is the expected behavior?

Correct rendering of md components.

Incompatibility with Universal should be strongly noted in the README.md. I spent 4 hours trying to render the material components until I saw a thread mentioned Universal incompatibility by @jel

[2016-11-17 16:09] AmitMY commented on #1911
@ocarreterom Thanks!

[2016-11-17 16:09] #1911 closed

[2016-11-17 16:27] esbeto commented on #1854
@RoxKilly There's something going on with Angular 2.2.0 and material tabs, that you can't use `*ngIf` in a tab, like so:

[code]

[2016-11-17 17:44] RoxKilly commented on #1854
@esbeto Oh I see. I thought you meant:
[code]
Now I understand.  It sounds like a separate issue from all tabs loading eagerly. In your shoes I would open a new issue and link to a demo of the problem.

[2016-11-17 17:53] #1802 closed

[2016-11-17 21:37] crisbeto opened #1918 "Investigating ways of avoiding subpixel rendering issues in the dialog"
Tracking issue for trying out different ways to avoid the blurriness in the dialog due to the transforms that are used for centering.

[2016-11-17 22:12] t0f3rchr15 commented on #1808
Is a configurable delay on open() on the roadmap as well?

[2016-11-17 22:28] kenp77 opened #1919 "Alpha 10 - Links disabled"
Hi,

When i updated to Alpha 10, most of my links are disabled by default and are gray  (login, logout, etc) ! Why that change ? or is that a bug ?
Thanks

[2016-11-17 23:45] kara commented on #1880
This looks like a duplicate of #1171. Should be fixed by PR https://github.com/angular/material2/pull/1750

[2016-11-17 23:45] #1880 closed

[2016-11-18 00:03] jelbourn commented on #1919
Dupe of #1801 (already fixed in master)

[2016-11-18 00:03] #1919 closed

[2016-11-18 00:04] jelbourn commented on #1918
@crisbeto going to close this since we already have an issue #932

[2016-11-18 00:04] #1918 closed

[2016-11-18 00:04] jelbourn commented on #1914
Tracking this via #308

[2016-11-18 00:04] #1914 closed

[2016-11-18 00:06] jelbourn commented on #1912
It's currently working as intended.

Note, though, that `md-input` is currently being factored. In an upcoming release it will be`<input md-input>` and simply use the native `(change)` event.

[2016-11-18 00:06] #1912 closed

[2016-11-18 00:07] jelbourn commented on #1908
This is not something we'd really want to support any time in the near future (if ever).

[2016-11-18 00:07] #1908 closed

[2016-11-18 00:10] jelbourn commented on #1902
@marcysutton For a list of anchors, should the interaction just to be to rely on the browser's default behavior (tabbing through them vs. having arrow-key shortcuts)?

[2016-11-18 00:11] jelbourn commented on #1897
@hansl may be fixed as obselete as part of md-input refactor

[2016-11-18 00:12] jelbourn commented on #1893
A theme is required.

[2016-11-18 00:12] #1893 closed

[2016-11-18 00:15] jelbourn commented on #1891
We would recommend people use css to size the icons.

[2016-11-18 00:15] #1891 closed

[2016-11-18 00:16] jelbourn commented on #1889
@shaozi we do mention it: https://github.com/angular/material2/blob/master/GETTING_STARTED.md#additional-setup-for-md-slide-toggle-and-md-slider

Do you want to send a PR to make this more specific?

[2016-11-18 00:18] jelbourn commented on #1884
Will likely be obsolete by `<md-input>` refactor.

[2016-11-18 00:24] jelbourn commented on #1879
Tracked via #1430

[2016-11-18 00:24] #1879 closed

[2016-11-18 00:25] jelbourn commented on #1866
May be obsolete with md-input refactoring.

[2016-11-18 00:25] marcysutton commented on #1902
@jelbourn yes, that is correct!

[2016-11-18 00:29] jelbourn commented on #1822
We consider using the `hidden` property an anti-pattern because of the way that browsers implement it. The "hidden" state is only applying a style like
[code]

This is less specific than any user-space rules and can be very easily overridden. We recommend using a css class to hide stuff.

[2016-11-18 00:29] #1822 closed

[2016-11-18 00:30] jelbourn commented on #1812
Should be fixed by #1716

[2016-11-18 00:30] #1812 closed

[2016-11-18 00:36] jelbourn commented on #1902
Going to close this as working-as-intended then; the a11y for the nav-list determines the interaction here.

[2016-11-18 00:36] #1902 closed

[2016-11-18 01:06] tdawgy opened #1920 "Basic theming for md-tooltip"
#### Bug, feature request, or proposal:
Theming isn't currently implemented for md-tooltip.

#### What is the expected behavior?
Color a tooltip based on the primary/accent/warn colors defined in a theme.

#### What is the current behavior?
tooltip_theming file exists but has yet to be implemented.

#### What are the steps to reproduce?
Create a theme, use md-tooltip.

#### What is the use-case or

[2016-11-18 01:07] bergben commented on #998
Is the workaround from @fxck still working?
I am getting `EXCEPTION: Must provide a portal to attach`...

[2016-11-18 02:14] jelbourn commented on #1920
@tdawgy what do you consider missing? The [Material Design spec](https://material.google.com/components/tooltips.html#tooltips-tooltips-desktop) gives a single specific color for tooltips regardless of light/dark theme.

[2016-11-18 02:15] jelbourn commented on #1511
Closing this form work on #1635

[2016-11-18 02:15] #1511 closed

[2016-11-18 06:27] mmalerba commented on #998
I recommend just absolutely positioning the fab outside the scrollable region: http://plnkr.co/edit/VItn3Y2AaTzpzIykTTyH?p=preview

[2016-11-18 06:57] ashishsajwan opened #1921 "how do i add custom attributes to material component ??"
i want to add custom attributes to one of material component.. (tabs component)

`<md-tab>
        <template md-tab-label [routerLink]="['/dvsOverview']">Overview</template>
        <template md-tab-content>
           <dvs-overview></dvs-overview>
        </template>
</md-tab>`

how can i add custom attributes like that ??

@jelbourn @kara @DevVersion @hansl @robertmesserle @crisbeto

[2016-11-18 08:10] ottosson opened #1922 "menu moves with the scrolling of the page"
#### Bug, feature request, or proposal:
Bug(?). Open menus will follow along when scrolling the page. This means it moves out of it's intended position when scrolling.

#### What is the expected behavior?
The menu should stay in place when scrolling.

#### What are the steps to reproduce?
Open menu. Scroll page until menu should be "out of picture".

#### Which versions of Angular, Material, OS, b

[2016-11-18 09:38] cortopy commented on #998
that's clever @mmalerba but it wouldn't work in my case. My button is inside a router outlet as the fab is not always needed. Your solution would work great for cases where fixed elements should be visible in every view though.

Also, it would mean a lot of boilerplate to pass events to other components within the scrollable area

[2016-11-18 09:39] cortopy commented on #998
@bergben it is. I'm using material alpha 10 and it still works. It took me a bit to get it working though. Could you post what you have?

[2016-11-18 11:32] bergben commented on #998
@cortopy
It was kinda late yesterday, the problem was that I simply forgot to import the Directive as well 😄
Got some other problem now though that the sidebar is not opening / visible / whatever...
What I got now is this:
```html```
<md-sidenav-layout [ngClass]="{'administration' : isLoggedIn}">
    <md-sidenav #sideNav mode="push" [hidden]="!isLoggedIn" opened="true">
        <noe-admin-sidenav>

[2016-11-18 11:34] jeffreyhofstede commented on #1854
The same error occurs when using *ngIf in a md-menu-item.

`<md-menu x-position="before" #menu="mdMenu">
            <button *ngIf="expression" md-menu-item>Bewerken</button>
</md-menu>`

`EXCEPTION: Cannot read property 'appendChild' of null`

[2016-11-18 12:32] fxck commented on #1922
dup of https://github.com/angular/material2/issues/1430

to me, this is one of the most ux breaking things in the project, especially annoying with tooltips and menus

[2016-11-18 12:33] fxck commented on #1430
and do you have it written down somewhere? @jelbourn

[2016-11-18 12:34] fxck commented on #1921
don't put them directly on the template element..

[code]

[2016-11-18 12:36] ashishsajwan commented on #1921
@fxck  did the exact same thing..

[2016-11-18 12:37] kgiroux opened #1923 "compile with the mode aot"
#### Bug, feature request, or proposal:
Try to compile with the mode aot

 Cannot determine the module for class FocusTrap in node_modules/@angular/material/core/a11y/focus-trap.d.ts!
at analyzeNgModules (/node_modules/@angular/compiler/bundles/compiler.umd.js:13079:17)
    at OfflineCompiler.compileModules (/node_modules/@angular/compiler/bundles/compiler.umd.js:13115:20)
    at CodeGenerator.cod

[2016-11-18 12:43] #1921 closed

[2016-11-18 13:25] prakashs-mtsin opened #1924 "getting component not found for md-select in angular2 2.1.0"
my code :
 <md-select placeholder="Food">
<md-option *ngFor="let food of options" [value]="food.value"> {{ food.value }} </md-option>
</md-select>

Unhandled Promise rejection: Template parse errors:
Can't bind to 'value' since it isn't a known property of 'md-option'.
1. If 'md-option' is an Angular component and it has 'value' input, then verify that it is part of this module.
2. If 'md-option'

[2016-11-18 14:00] daniele-zurico opened #1925 "AOT support"
#### Bug, feature request, or proposal:
Hi I'm trying to compile my project in aot mode but it fail in 2 components with these errors:
[code]

Version `"@angular/material": "^2.0.0-alpha.10",`

[2016-11-18 14:15] xikky opened #1926 "Sidenav does not animate content when sidenav content is contained in a child component"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
page content is pushed and pulled with sidenav

#### What is the current behavior?
sidenav opens on top of content

#### What are the steps to reproduce?
Place sidenav content in a component, wrap the component selector with md-sidenav-layout and place content under the component selector, as shown here:
http://plnkr.

[2016-11-18 14:23] vinagreti opened #1927 "Feature Request - MdBarcode"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
When using a barcode reader, we need to get the scanned code avoiding conflicts with browsers

#### What is the current behavior?
When using a barcode reader in a input, Chrome opens history and Firefox opens Bookmarks window.  Not tested with other browsers.

#### What are the steps to reproduce?
Just foc

[2016-11-18 15:24] theunreal opened #1928 "Setting md-list-item background color"
I'm trying to simply set a background color to `md-list-item`.

`<md-list-item style="background-color:red">`

the background color stays white.

What's wrong?

Basically what I'm trying to do is set `md-list-item` to active and change it's background color if the item is active.

[2016-11-18 15:45] mwawrusch opened #1929 "Optional delay when showing spinner"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
I would be amazing if the spinner would have some delayed show capability. In most cases this would be outside the scope of the control but given its ubiquitous use it might make sense to incorporate directly. E.g. when visibility changes the spinner should show after X ms

#### What is the current behavio

[2016-11-18 16:28] Daeluse commented on #1205
I'm still experiencing this issue at alpha.10 with angular 2.1.1, I've also created a new plunk which illustrates the bug in a different way if it helps.
http://embed.plnkr.co/Rd7zhws9kIUC223t5pyX/

[2016-11-18 17:05] mwawrusch commented on #1928
not tested, but have you tried:  <md-list-item [style.background-color]="'red'">....

[2016-11-18 17:11] theunreal commented on #1928
Yeah, it's same.

[2016-11-18 17:26] jelbourn commented on #1921
@ashishsajwan In the future, please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

Giving a direct mention to the entire team is also not polite, please refrain from doing that again.

[2016-11-18 17:28] jelbourn commented on #1929
This isn't a responsibility that really belongs in the component; the app can be responsible for showing the spinner at the appropriate time.

[2016-11-18 17:28] #1929 closed

[2016-11-18 17:30] jelbourn commented on #1928
@theunreal please follow the issue template. Providing a plunker is the best way to have your issue looked at.

[2016-11-18 17:30] #1928 closed

[2016-11-18 17:31] jelbourn commented on #1927
This isn't really something that falls within the purview of the Angular Material project.

[2016-11-18 17:31] #1927 closed

[2016-11-18 17:34] jelbourn commented on #1925
@daniele-zurico it looks like you're trying to load the generated `.ts` files into the browser directly, which won't work- you need to compile them to javascript first.

You can see an example of an app that's using `@angular/material` with AoT here:
https://github.com/jelbourn/material2-app

[2016-11-18 17:34] #1925 closed

[2016-11-18 17:37] jelbourn commented on #1923
I think you're having this issue because you used `yarn` instead of `npm install`. For some reason, `yarn` doesn't bring in all of the files in the package correctly.

[2016-11-18 17:37] #1923 closed

[2016-11-18 17:38] jelbourn commented on #1924
@prakashs-mtsin `md-select` has not been released yet.

[2016-11-18 17:38] #1924 closed

[2016-11-18 17:38] kgiroux commented on #1923
I didn't use yarn...

[2016-11-18 17:51] jelbourn commented on #1923
@kgiroux Make sure you have a decently up-to-date `node` and `npm`, wipe out `node_modules` and re-install.

Here is a sample app that uses alpha.10 with AoT without any issues:
https://github.com/jelbourn/material2-app

[2016-11-18 18:37] krigton commented on #1692
What you mean by synching the animations correctly?

[2016-11-18 20:56] tdawgy commented on #1920
My mistake, I made a bad assumption about tooltips without first double checking the MD spec.

[2016-11-18 20:56] #1920 closed

[2016-11-18 21:36] tinayuangao commented on #1205
This will be fixed at alpha.11

[2016-11-18 21:57] #1801 closed

[2016-11-19 04:45] r-vijay-r opened #1934 "md-input maxlength is not working with type number...."
#### md-input maxlength property is not working with type=number

#### Expected to get mobile number from user with 10 digits with the code
`<md-input type="number" maxlength=10 #mobile />`

#### the limit is not taking into consideration and charactercount and invalid also not working as expected...

####using windows7, angular2 (latest), material2(latest)

[2016-11-19 12:32] DevVersion commented on #1888
This seems to be solved with #1896 now

[2016-11-19 12:32] #1888 closed

[2016-11-19 13:35] crisbeto commented on #1658
I tried giving this a quick try, but I couldn't get IE 11 to lock up with a grid list of 400+ items. Can you post a live code sample? Also it might be a good idea to try with a newer version of Material first.

[2016-11-19 13:45] bastienlemaitre opened #1935 "feat(data-table) : Add module MdDataTable !"
Hi, i've created a MdDataTableModule !
Tried to pull but error 403.. So:
![image](https://cloud.githubusercontent.com/assets/11610748/20455869/87cce032-ae66-11e6-9ab4-ff17bdc516f3.png)
![image](https://cloud.githubusercontent.com/assets/11610748/20455872/a1425772-ae66-11e6-851a-7dae872735c2.png)
![image](https://cloud.githubusercontent.com/assets/11610748/20455877/ae80935e-ae66-11e6-807f-3e9f7de70

[2016-11-19 23:01] michaeljota opened #1937 "md-icon-sidenav"
#### Bug, feature request, or proposal:

Feature request

#### What is the expected behavior?

![](https://material-design.storage.googleapis.com/publish/material_v_9/0B3321sZLoP_HSTd3UFY2aEp2ZDg/components_bottomnavigation_usage2.png)

#### What is the current behavior?

There is a issue with the bottom nav component, #408, but there this behavior it's excluded as is not in the spec of the materi

[2016-11-20 07:10] johnqiuwan commented on #1751
Hi @code-tree,

  Do you know how to remove the border-bottom css in   .md-tab-header ?

Thank you

[2016-11-20 07:22] code-tree commented on #1751
Just put this in a global CSS file (not a component)

[code]

[2016-11-20 12:10] mmmichl opened #1938 "Container for non-sidenav-layouts"
For layouts not using the `<md-sidenav-layout>`, dark themes can not be used, as the background does not change. Due to that, the text gets invisible and form items look bad.

To understand, what I mean, check out the plunkr. Basically I took your template and changed the theme: http://plnkr.co/edit/w4v95im2irvNm4dAzQ5k

I was looking for some container class or element, but wasn't lucky in findin

[2016-11-20 13:58] John0x opened #1939 "PR worth making?"
Hey, material2 has a lot of problems with angular universal right now and I was wondering whether or not it would be worth the effort to create a PR fixing those problems?

I saw that there are a lot of PR's that are waiting to merged for qutie some time now. Are the material2 maintainers too busy right now to take care of them?

[2016-11-20 14:20] bastienlemaitre commented on #581
#1965 @jelbourn

[2016-11-20 14:31] feloy opened #1940 "Password input with visibility toggle"
#### Bug, feature request, or proposal:

feature request

#### What is the expected behavior?

I will need to implement a password input field with visibility toggle support, as specified in material design specs: https://material.google.com/components/text-fields.html#text-fields-password-input

I wonder if it could be interesting to implement this directly in the Material2 Library. If this is th

[2016-11-20 16:17] michaeljota commented on #1938
Layout component it's not even started yet. Does not have an issue tracking the status either.

[2016-11-20 17:25] davidanaya commented on #569
Hi!

What about the other way around? I have an md-tab-group with <a [routerLink]...> in every md-tab which works fine and loads properly in a <router-outlet> in the same component, but I can also navigate to this tabs (router.navigate) when clicking in elements in a list, and that should also update the selected panel

Is there any obvious way to achieve this? I could update the [selectedIndex] e

[2016-11-20 18:07] crisbeto opened #1943 "Ripples not being cleaned up in certain cases in Edge and IE"
In certain cases (`md-menu` and `md-select` in particular) the ripples don't get removed and can start stacking up in Edge and IE (the `.md-ripple-foreground` is the element that sticks around). [I've tracked it down to this handler not being fired](https://github.com/angular/material2/blob/master/src/lib/core/ripple/ripple-renderer.ts#L144), although I'm not quite sure why it's happening. I've tr

[2016-11-20 18:09] crisbeto commented on #1937
Closing as a dupe of https://github.com/angular/material2/issues/1728

[2016-11-20 18:09] #1937 closed

[2016-11-20 18:37] mmmichl commented on #1938
If this is covered by the layout components, then this issue should be closed.

BTW, found a workaround by wrapping everything within a `<md-sidenav-layout>`.

[2016-11-20 21:45] fxck commented on #1943
happens when you put checkbox inside as well

[2016-11-21 00:10] j-tee opened #1944 "Cannot find name 'HammerInput' and 'HammerManager'"
I installed Angular Material 2.0.0-alpha.10 alongside hammerjs@2.0.8 and @types/hammerjs@2.0.33.
Per the instructions, guidelines and suggestions, I imported hammerjs in my main.ts file but I could not get rid of the errors. After several weeks I thought I should import 'hammerjs' in the files containing the errors as well. After importing hammerjs in MdGestureConfig.d.ts all the errors disappeare

[2016-11-21 08:48] da45 opened #1945 "Enable scrolling in md-grid-tile"
####  proposal: Enable scrolling in md-grid-tile

#### What is the expected behavior? fit any long component (table/ div) inside md-grid-tile

#### What is the current behavior? due to absence of scrolling feature, cannot fit all the component

#### What are the steps to reproduce? put any long table inside md-grid-tile like the following
    <md-grid-list cols="5" rowHeight="50px">
        <md-gr

[2016-11-21 09:48] fxck opened #1946 "md-raised-button on anchor always have disabled styles"
it appears to have `disabled="false"`, which matches these rules

[code]

it shouldn't have `disabled` attribute at all(should be `undefined` instead of `false`).

would make plunker, but it appears to be outdated( @DevVersion )

![image](https://cloud.githubusercontent.com/assets/1303561/20482167/6dae3c74-afeb-11e6-8c83-6904ff9a14ac.png)

[2016-11-21 11:09] damianobarbati commented on #675
Just as @a5hik @marcoskubis @andvasp @hkusulja mentioned, this 3 components shipped in material2 would be killing features (+md-table):
. datepicker
. timepicker
. datetimepicker

[2016-11-21 12:17] fxck commented on #1946
apparently was fixed in https://github.com/angular/material2/commit/716372bc856a71f18c3d27185a0a8bfae82e41fd#diff-a9be5af2302f13e68145b436ee01073aR145

?

[2016-11-21 12:20] magigedaniel commented on #297
Same to me, wasted the whole  3 hours working on **npm i -g @microsoft/generator-sharepoint**
till when I move to cmd and run as  Administrator.... It worked well

[2016-11-21 12:33] Magnetars commented on #1923
I had the same issue, it got fixed (for AoT compilation, haven't tested running it yet) when I forced installing version "@angular/material": "2.0.0-alpha.10".

try `npm install @angular/material@2.0.0-alpha.10 --save`

Seems an older version gets installed if you don't specify the version manually. That's an npm view of the versions.

http://prntscr.com/d9xzdu

[2016-11-21 13:07] SamMousa opened #1947 "Documentation is unclear about how to get data into a Dialog."
#### Bug, feature request, or proposal:
Documentation bug.

#### What is the expected behavior?
When I use the MdDialog service to open a dialog with some component, I'd love to be able to pass some configuration into that component.

#### What is the current behavior?
The `dialogRef` exposes `componentInstance`, which allows me to set properties / call functions on the component after constructio

[2016-11-21 13:09] SamMousa opened #1948 "Dialog listed as `Started, not yet ready for release`"
The front page shows the dialog as not yet ready for release, and references #114.
However, #114 has been closed which suggests to me that the status information on the front page might be out of date!

[2016-11-21 16:32] crisbeto commented on #1943
What I _think_ is happening here is that the `transitionend` event isn't being fired, because the parent gets removed from the DOM before the transition has finished. [According to this discussion, that's according to the spec.](https://bugs.webkit.org/show_bug.cgi?id=51945)

[2016-11-21 17:05] yentheo opened #1951 "snack-bar multiline"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
According to the material design spec, a snack-bar toast can have 2 lines of text. I want the snack-bar to grow in height to a minimum of 2 lines when it has 2 lines.

#### What is the current behavior?
The current behavior is that the text is pushed down under the bottom of the page

#### What are the steps to r

[2016-11-21 17:25] jelbourn commented on #1943
@tinayuangao is already working on a fix for this in #1915

[2016-11-21 17:28] jelbourn commented on #1943
Dupe of #1818

[2016-11-21 17:28] #1943 closed

[2016-11-21 17:37] theunreal opened #1952 "Md-dialog size scaling"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-dialog to open unblurred when a big image inside the dialog. See unblured version:

![image](https://cloud.githubusercontent.com/assets/6171883/20493449/7e2d5eaa-b021-11e6-8a2c-6d4f1fef00af.png)

#### What is the current behavior?
The md-dialog is blurred when big image inside. See blurred version with an image ins

[2016-11-21 19:56] jelbourn commented on #1952
Dupe of #932

[2016-11-21 19:56] #1952 closed

[2016-11-21 19:57] jelbourn commented on #1951
@josephperrott can you already do this with `openFromComponent`?

[2016-11-21 19:59] crisbeto opened #1953 "Select is blurry on IE11"
The select is blurry in the demo app on IE 11:

![a](https://cloud.githubusercontent.com/assets/4450522/20498388/4fcf6042-b02d-11e6-8bd3-027ecf372660.png)

[2016-11-21 21:45] joejordanbrown opened #1956 "Bug: md-menu"
Bug

#### What is the expected behavior?
When a menu is open and you click another action outside of the menu it should follow through with that action.

#### What is the current behavior?
When a menu is open and you click another action outside of the menu it closes the menu and doesn't follow through with the action.

#### What is the use-case or motivation for changing an existing behavior?
Whe

[2016-11-21 22:13] BamiGorengo opened #1957 "example-fill-remaining-space dosnt exist?"
Today i tryed first time to do some with the new angular material. i copy the toolbar syntax and see that the class ".example-fill-remaining-space" dosnt exist. This is so obvious, that it is probably already at least 1 time noticed. (Sry my bad english)

But i dont find any notice in the readme ore in this github repository. can anyone explain me why this dont work? ;)

i looked for a global scss

[2016-11-21 22:28] #1957 closed

[2016-11-21 23:50] jelbourn commented on #1948
Fixed in #1955

[2016-11-21 23:50] #1948 closed

[2016-11-21 23:51] jelbourn commented on #1956
This is working as intended

[2016-11-21 23:51] #1956 closed

[2016-11-21 23:53] jelbourn commented on #1935
@bastienlemaitre I can't really follow what your issue is. Please use the issue template.

[2016-11-21 23:53] #1935 closed

[2016-11-21 23:59] jelbourn commented on #1940
You can do this by binding to the `type` property of the input:
[code]

[2016-11-21 23:59] #1940 closed

[2016-11-22 08:26] #1945 closed

[2016-11-22 09:29] herkulano opened #1958 "[md-grid-list] should trigger an event when it changes the layout"
#### Feature request:
**md-grid-list**
should trigger an event when it changes the layout, so that the child components can make adjustments.

#### What is the current behavior?
It doesn't trigger any event.

#### What are the steps to reproduce?
http://plnkr.co/edit/1fMrhlZgJ3K0TMJEKmB9?p=preview
check the console for the values

#### What is the use-case or motivation for changing an existing be

[2016-11-22 11:01] skined90 opened #1959 "Tooltip doesn't work on button with md-mini-fab"
Tooltip doesn't work on button with md-mini-fab. I'm getting the error:

error_handler.js:54 TypeError: Cannot read property 'originX' of undefined
    at new ConnectionPositionPair (connected-position.js:5)
    at ConnectedPositionStrategy.withFallbackPosition (connected-position-strategy.js:78)
    at new ConnectedPositionStrategy (connected-position-strategy.js:27)
    at OverlayPositionBuilder

[2016-11-22 11:34] quanterion opened #1960 "tooltip: Should hide previously opened tip before showing a new one"
Next opened tooltips do not close the old ones. So If move mouse along the tool bar with multiple actions I get a disgusting picture with multiple overlapping tooltips
![tooltip](https://cloud.githubusercontent.com/assets/6149211/20522272/74acca42-b0c0-11e6-9b14-2e802192dcf2.png)

Environment:
Material: alpha-10
Angular: 2.2.1
Browser: Chrome latest

[2016-11-22 11:57] fxck commented on #1960
There are currently two problems with tooltips, one is that is doesn't hide immediately and second that when any of the parent components have change detections strategy set to `OnPush` tooltip doesn't hide at all. Your problem will disappear when the first one is fixed(I think the fix is already in master, just not released).

[2016-11-22 14:33] bergben commented on #998
Still couldn't resolve this. Seems like this wasn't a problem with the angular 1 version of the sidenav...
Problem is, I don't only have one button that is fixed but the whole content is fixed for a certain time as I am using https://github.com/bergben/ng2-scrollimate to apply animations on the fly during scroll. So if I displace that all then there is nothing left anymore in md-sidenav-content an

[2016-11-22 15:19] SRutter75 commented on #1944
I had the same error. I just needed to restart the server running from angular-cli then the 'HammerInput' and 'HammerManager' dependancies are resolved.

[2016-11-22 15:57] josephperrott commented on #1951
Multi-line snackbars are part of the spec on mobile only.

Unfortunately you would not be able to do this as we define the height explicitly for the snackbar container.

[2016-11-22 16:38] yoerlemans commented on #1951
@josephperrott It's a mobile web app I'm writing, if the screen is very narrow you can't put a lot of text on one line. I get that you shouldn't put too much text in a snackbar, but I also get the spec that mobile can have 2 lines.

I currently fixed it with an '!important', I know it's bad practice, but it is contained to only this case.
A solution could be to apply the mobile specs through a med

[2016-11-22 17:03] j-tee commented on #1944
I just started work on getting the sidenav to work. Hoping I made the right call

[2016-11-22 18:12] josephperrott commented on #1951
Yep, overall that is the plan.  I am currently working on the service that is needed for determining the breakpoints for when multiline should be used.

[2016-11-22 18:51] DevVersion opened #1963 "Add e2e tests for slide-toggle"
We should have some e2e tests for the slide-toggle component.

[2016-11-22 18:59] crisbeto opened #1964 "Turning the dialog service into a singleton"
Currently the user's module and Material have separate instances of the dialog service. It might be useful in the future if the instance was shared. This will let us keep track of the open dialogs, as well as to interact with them via other Material components.

[2016-11-22 19:33] #1964 closed

[2016-11-22 19:34] yoerlemans commented on #1951
@josephperrott Oh perfect. Love the work put in to Material2 btw!

[2016-11-22 20:03] rosslavery commented on #1434
Not to sound like a broken record, but that the ink ripples still don't appear to match the spec (using beta 10).

In fact, the [readme](https://github.com/angular/material2/blob/master/src/lib/core/ripple/README.md) for md-ripple actually specifies:

[2016-11-22 20:17] michaeljota commented on #1891
As I said, when using an icon with `md-icon`, in a `md-prefix`, the size of the icon push the input text upwards, breaking the layout.

![prefix](https://cloud.githubusercontent.com/assets/10507776/20540271/fce24b40-b0ce-11e6-8841-84ee1788238b.gif)

I expect the icon to resize itself, or at least an easy way to resize it.

[2016-11-22 21:05] crisbeto commented on #1959
Could you post a code sample @skined90? It works fine for me:

![a](https://cloud.githubusercontent.com/assets/4450522/20541964/ba02ca58-b0ff-11e6-9910-5d647efb93d3.gif)

[2016-11-22 22:07] mmalerba commented on #1341
#1966 adds an example of a fullscreen sidenav

[2016-11-22 22:25] mmalerba commented on #998
#1966 adds a sidenav with fab example

[2016-11-22 22:32] fxck commented on #998
Having a scroll inside content rather than on body brings a lot problems with UX and with fixed elements(various cases when fixed element is actually overlaying the scrollbar, or regions that appear part of scroll but are not, so you are scrolling on them and the page doesn't scroll), als there are potential problems / extra set up on phones for smooth scrolling required, potential double scrollba

[2016-11-22 22:36] mmalerba commented on #869
dup of #802

[2016-11-22 22:36] #869 closed

[2016-11-22 22:41] mmalerba commented on #759
I would avoid the fullscreen attribute, we plan to remove it. Instead structure the DOM so that md-sidenav-layout naturally takes up the full screen (see example in #1966)

[2016-11-22 23:02] mmalerba commented on #998
I do think separate scrolling areas should be the recommended solution for this. If I have a lot of content in my sidenav I probably want it to scroll independently from my content area. However I do think it currently requires a bit too much work to set up, I would like to make it easier if possible. I'm also not opposed to removing the translate3d if it really is superfluous (I need to investiga

[2016-11-23 00:31] bergben commented on #998
@mmalerba This solution only works if you have relatively simple fixed content, if you have it spanning over the whole page or stuff like that it just gets too complicated. What I find interesting though is that this problem didn't seem to come up in the Angular 1 version of the sidenav - as I was searching through the issues there.
The translate3d could be replaced with a simple animation and bas

[2016-11-23 00:47] blyndcide opened #1967 "[Tabs] md-tab-link: routerLinkActive.isActive error"
Trying to use the new md-tab-nav-bar like this:
[code]

but get an error

Seems like this way should work after commit: https://github.com/angular/angular/commit/c9f58cf78cce420762c7f8c51172a10a497468ea

[2016-11-23 01:39] Drumarcco commented on #1881
Apparently this happens because input is using table-cell as css display instead of flex, and table cell widths are distributed differently.
[code]

I tried another approach using flex in the following way:

[code]
And the result was better, but the vertical align feels a little odd:
![image](https://cloud.githubusercontent.com/assets/9147600/20548672/aa508bbc-b0e2-11e6-80d5-4f0dae91d2c6.png)

I d

[2016-11-23 10:00] cyberat commented on #1951
Hi, please make example for multi snack-bar, uses function openFromComponent.
I make test component :
`import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'app-test-messages',
  templateUrl: './test-messages.component.html',
  styleUrls: ['./test-messages.component.css']
})
export class TestMessagesComponent implements OnInit {

  constructor() { }

  ngOnInit() {
  }

}`

[2016-11-23 11:17] DzmitryShylovich commented on #1967
Pls add a plunkr with repro.

[2016-11-23 11:25] DzmitryShylovich commented on #1947
https://github.com/angular/material2/issues/1377#issuecomment-250632661

[2016-11-23 11:26] DzmitryShylovich commented on #1947
https://github.com/angular/material2/issues/1377#issuecomment-250632661

[2016-11-23 13:30] moizshabbir commented on #1173
@Fasterluke It worked... Thank you

[2016-11-23 20:44] asaph26 commented on #107
@jelbourn Any updates on when the remaining features will be added?

[2016-11-23 22:55] dahaupt opened #1973 "Md-Select start value or active value"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
The Md-Select-Component should be able to have a start value, which should remain active even after the page has been reloaded.

After reloading or switching routes I wanna see it like this:
![Image](http://i.imgur.com/4YuQIhj.png)

#### What is the current behavior?
We can't set a start value for select.

[2016-11-24 01:02] bgauvey commented on #1884
very similar issue using reactive forms.

using this form code the md-input is not disabled. Adding the disabled keyword, angular forms generates a warning.

form = new FormGroup({
        first: new FormControl({value: 'Nancy', disabled: true}, Validators.required),
        last: new FormControl('Drew', Validators.required)
      });

[2016-11-24 01:40] johnking commented on #1924
Hi @jelbourn,

Do you know when this component will be released?

I need it ...

thanks

[2016-11-24 01:46] gkernen commented on #1013
THANKS! @vapits !!!

[2016-11-24 02:57] dreweird opened #1975 "align right image is not working??"
` <md-list>
          <md-list-item *ngFor="let item of messages" align="right">
            <img md-list-avatar src="assets/avatar/avatar.png" alt="...">
            <h3 md-line> {{item.name}} </h3>
            <p md-line>
              <span> {{item.message}} </span>
            </p>
          </md-list-item>
        </md-list>`

![image](https://cloud.githubusercontent.com/assets/16024897/20585

[2016-11-24 06:11] blackhawk389 opened #1976 "How to display progress in %age inside md-progress-circle"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-11-24 06:54] crisbeto commented on #1976
Not possible at the moment, it's being tracked at https://github.com/angular/material2/issues/1488

[2016-11-24 06:54] #1976 closed

[2016-11-24 07:04] blackhawk389 opened #1977 "How to limit progresss circle to full under 100 instead of value100"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-11-24 07:53] elekzalan commented on #1977
@blackhawk389 Using math. I think if you convert your values to percentages, it solves your problem. For example:

![screenshot_1](https://cloud.githubusercontent.com/assets/17826369/20590258/c3a57b60-b22a-11e6-9baa-495206549515.png)

(X) is the spinner value at any moment
(Y) is your value which you want to convert to percentages. 30 in the example.
(Z) is your max value, it can be bigger or smal

[2016-11-24 07:58] bastienlemaitre commented on #1973
Hi, md-select has not been released yet.
Please see [https://github.com/angular/material2/blob/master/README.md](url).

[2016-11-24 09:10] narkissbv commented on #1096
Just updated to alpha.10 and it still happens when not using any themes.

[2016-11-24 09:33] drager opened #1978 "Visibility problems with md-sidenav"
We have two md-sidenav on the same page, one on the left side and another on the right side. If you open the left sidenav on a mobile and tries to swipe away that sidenav, the other sidenav is showed and it should not be showed because we have never opened it.

This is happening because you have just set `visibility: hidden` for `md-sidenav-closed` and not used `display: none` https://github.com/a

[2016-11-24 09:43] riankol commented on #119
I noticed md-menu is not longer an 'Initial version', but the 'custom off-set support' is not implemented yet. Can you give me any indication when this is expected to be implemented?
Also I would like to use a `md-menu-divider`. This is not in the design doc, like willfarrell mentioned above. Did you already decide if (and if so, when) a `md-menu-divider` will be implemented?

[2016-11-24 11:08] BhattaRj opened #1979 "md-list background is not same as shown in the document"
md-list as in document
![material2 src lib list at master angular material2](https://cloud.githubusercontent.com/assets/11895857/20601098/f78864b6-b27e-11e6-8a41-b39b819f06e2.png)

When implementing
![admin1040](https://cloud.githubusercontent.com/assets/11895857/20601172/4dc72fd8-b27f-11e6-811d-6d4b4e983ec8.png)

looks very different .dnt knw why

[2016-11-24 12:47] crisbeto commented on #1979
Can you be a little more specific @BhattaRj? What "doc list" are you referring to?

[2016-11-24 12:59] eslammahgoub commented on #749
It's happen with me too with MdTooltip when I route from one to another route it's Overlay div duplicated many time any temp solution

[2016-11-24 17:05] dahaupt commented on #1973
@bastienlemaitre Hi, I am aware of that, but alpha.11 is already the next version and I can't find any plans (md-select in projects) to realize this feature.

[2016-11-24 17:26] ramRkanna commented on #1979
@BhattaRj Can you provide some more details or example?

[2016-11-24 19:38] danielmhair commented on #233
Any update on this?

[2016-11-24 21:02] aaltotsky opened #1980 "hammerjs, universal/node"
When I installed package V: 2.0.0-alpha.10 together with "hammerjs": "^2.0.8","@types/hammerjs": "^2.0.33", and run with "angular2-universal": "~2.1.0-rc.1", I'm getting an error:

Is there a work around of this issue? Obviously, the issue is in hammerjs, but Angular Material2 is integrated with hammerjs.

[2016-11-24 21:51] Dominionys commented on #1171
"angular-cli": "1.0.0-beta.16"
material": "^2.0.0-alpha.10"

got this issue with checkbox. Any help?

[2016-11-24 23:13] DzmitryShylovich commented on #1980
all universal issues are tracked here https://github.com/angular/material2/issues/308

[2016-11-25 05:26] BhattaRj commented on #1979
In documentation md-list is like card and background is white when implementing component is not like card and background of md-list is not white ..

[2016-11-25 06:28] mhmo91 opened #1982 "md-icon doesn't get centered as i increase it's font-size"
#### Bug, feature request, or proposal:
md-icon doesn't get centered as i increase it's font-size

#### What is the expected behavior?
the icon should maintain it's position.

#### What is the current behavior?
when the icon size is default, it's centered, but as i increase the icon size, it increases size while not maintaining it's center position
if i used the normal material icons, it behaves n

[2016-11-25 06:34] mhmo91 commented on #1982
I found the problem with the css display property display that are applied to the material-icons class and md-icon tag
when setting the display to inline or initial instead of inline-block, it worked

[2016-11-25 08:31] skined90 commented on #1959
Sorry, I've made a mistake. I wrote tooltip-position 'top' instead of 'above'

[2016-11-25 08:31] #1959 closed

[2016-11-25 08:48] blackhawk389 commented on #1977
I was able to do this by yesterday, now its not working

[2016-11-25 08:55] crisbeto commented on #1959
Thanks for getting back. It may still be a good idea to show a more helpful error message if the position is something unexpected.

[2016-11-25 09:27] skined90 commented on #1959
@crisbeto Can you please how you made tooltip to hide immediately after mouseleave because in my case it stays active for ~1 second.

[2016-11-25 09:40] crisbeto commented on #1959
I'm pretty sure I copied it off the tooltip demo page. Should be something like this:

[code]

[2016-11-25 10:06] skined90 commented on #1959
@crisbeto Hm. Weird. I did the same and it definitely doesn't work same as yours.

[2016-11-25 11:27] amanullahnxb opened #1983 "I want to use $primary, $accent, $warn in my custom css classes. (angular2, material2)"
Is there any option to do so?

[code]

[2016-11-25 11:29] amanullahnxb commented on #1983
I am stucked in making application in which we can switch easily from theme to theme. Actually i want to apply same theme to other elements of html too along with material  components.

[2016-11-25 12:33] blackhawk389 opened #1984 "How to change aria-valuemax of progress circle"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-11-25 14:43] christophechevalier commented on #1213
I have a similar error (same to @istiti) when I close the sidenav either by :
- clicking on the backdrop
- doing it programmatically : `this.mySidenav.close()`

![image](https://cloud.githubusercontent.com/assets/7148846/20628340/b4998598-b325-11e6-99d2-1d4820d8bfca.png)

Am I the only one (is there something wrong with my code) ? Or is it something known ?

Thanks

[2016-11-25 14:51] christophechevalier commented on #45
Many questions have been opened and close referencing this one.

I'm sorry to ask for ETA but is there any update on this topic ?

md-media is very handy and we need that to handle responsive in your app :)

Thanks

[2016-11-25 17:17] mozgor opened #1985 "md-cards without margin overlap each other"
Bug on the md-card component

I read the documentation several times, and nothing warned me it would be impossible, so I expected to be able to have several card in the same component without need of any custom css.

Turns out it doesn't work. Without forced separation such as plain text, text wrapped in div, etc, the second car will 'work' (aka its content is still working) but the previous one w

[2016-11-25 17:39] fxck commented on #1985
this is expected behaviour, none of the material components have margins, so you can define your own

[2016-11-25 17:40] fxck commented on #1983
how about actually reading the theming docs

https://github.com/angular/material2/blob/master/docs/theming.md
https://github.com/angular/material2/blob/master/docs/theming-your-components.md

[2016-11-25 17:42] fxck commented on #1939
yo @jelbourn @kara

[2016-11-25 18:04] RoxKilly commented on #1171
@Dominionys The two posts immediately before yours show that the issue was not fixed in time for alpha 10.

[2016-11-25 19:29] crisbeto commented on #1959
Here's the exact HTML that I used:

[code]

Are you using the latest Material version? Note that I'm testing against `master`.

[2016-11-25 19:44] #1980 closed

[2016-11-26 12:35] AmirTugi opened #1992 "Grid List & List Animation"
#### Bug, feature request, or proposal:
According to the [material design spec](https://material.google.com/motion/choreography.html#choreography-creation) a staggering animation should be applied.
Would be nice to have built-in and not have to implement by ourselves

#### What is the current behavior?
Currently, there are no animations on creation of grid/ list items.

[2016-11-26 14:49] whizkidwwe1217 opened #1993 "MdDialog error in Angular-CLI"
#### Bug, feature request, or proposal:

I'm trying to implement the MdDialog in Angular-CLI but I got this error:

[code]

#### What is the expected behavior?

Should not throw the error above. Should be able to show dialog.

#### What is the current behavior?

Produces the error mentioned above.

#### What are the steps to reproduce?

Just follow the samples for dialog.

Providing a Plunker (or

[2016-11-26 17:42] istiti commented on #823
ETA?

[2016-11-26 19:40] joejordanbrown commented on #1993
@whizkidwwe1217

Is your configuration like the following:

[code]

[2016-11-27 11:03] vijay2work4soddisfare opened #1996 "npm install -g @angular/material not working in powershell windows 7 but works perfectly with cmd"
#### Bug, feature request, or proposal: npm install -g @angular/material not working in powershell windows 7 but works perfectly with cmd

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

##

[2016-11-27 15:53] johnking commented on #1516
Hi @jelbourn, @fxck and others,

  I have some challenges to use `material2` at _feature_ modules.

  I have __no issues__ to import `material2`  into my main module and use `material2` components in my own components defined in _main_ module.

`app.module.ts`
[code]
 but in my _feature_ module,  __I have to import each individual material2 component module__ in order for Angular2 to recognize the

[2016-11-27 17:52] theunreal opened #2000 "Angular 2 Checkbox in RTL issue [Chrome]"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
One checkbox - Normal checkbox appearance

#### What is the current behavior?
Checkboxes appear doubled, Image:

![image](https://cloud.githubusercontent.com/assets/6171883/20650586/a14bd6c4-b4da-11e6-8861-96581ff69ea9.png)

After clicking the checkbox, it returns to normal.

This bug appears in Google Chrome. In fire

[2016-11-27 22:53] pvamshi opened #2001 "When MdCheckbox is initialized to true, the internal native checkbox has checked == false"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When the modal value is true, the input we hide should also have the value of `true` . It gets `true` when we uncheck and check the checkbox manually.

#### What is the current behavior?
input element default value is `false`

#### What are the steps to reproduce?
https://plnkr.co/edit/SS6LBPL3ucXx1njTRGkF?p=preview

[2016-11-27 23:35] ocarreterom commented on #1979
In documentation md-list is inside md-card component that have white background color. md-list don't have default background color.

[2016-11-28 01:40] vibingopal opened #2003 "How to pass data to material dialog"
Hi Team,

Iam using Datatable and material design for my app. I am struck with an issue. In the data table row on click of a data row column i need to open a dialog box where i can pass the elements of that row  to that dialog box.Not sure how to implement this since material design won't accept other params when sending the request with data.
Below is my configured code.

.ts:
----
handleSchedule

[2016-11-28 02:36] vibingopal commented on #2003
I found out the solution.Thank you

[2016-11-28 02:36] #2003 closed

[2016-11-28 04:16] joejordanbrown opened #2004 "[md-checkbox] checked and indeterminate state problem."
#### Bug
I believe this is a bug.

#### What is the expected behavior?
If both checked and indeterminate are true and then checked is set to false it should show indeterminate.

#### What is the current behavior?
If both checked and indeterminate are true and then checked is set to false it should show indeterminate but instead, it shows unchecked.

#### What are the steps to reproduce?
If you use

[2016-11-28 08:50] mozgor commented on #1985
I might be wrong, but what I meant is, without the custom margins (which i didn't want / need) the cards *look* fine but I *guess* they overlap or something because without those custom margins, the first card is "disabled" or whatever by the second one, aka no input possible any more (text / click on radio button / etc do no work without the custom margins).

So if this is the expected behaviour,

[2016-11-28 09:38] riankol commented on #107
I miss the opportunity to add "Least distinguishing content", as mentioned [here](https://material.google.com/components/lists.html#lists-behavior) under the heading of "Content". When do you expect this functionality is likely to be completed?

[2016-11-28 09:46] asaph26 commented on #1996
@vijay2work4soddisfare @angular/material needs to be installed on a per project basis and not globally.

You could go to your project directory and do npm install @angular/material --save and it should work

[2016-11-28 11:01] jefferson-willian commented on #474
@rolandjitsu actually you can do that with layouts. Just use two columns, one for the toolbar and another for a scrollable content. It would be something like that:

[code]

[2016-11-28 14:47] toddpeak opened #2005 "Slide-toggle background disappears when unchecked"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The background should be gray behind the white thumb.

#### What is the current behavior?
The background disappears and it makes it difficult to determine that it's a slide-toggle.
![image](https://cloud.githubusercontent.com/assets/6600717/20672530/9a8c1d60-b54f-11e6-9360-de634d472fb3.png)

#### What are the steps to

[2016-11-28 14:49] toddpeak commented on #2005
Ugh, never mind, I guess I can't use a white background with the prebuilt theme.

[2016-11-28 14:49] #2005 closed

[2016-11-28 16:40] johnl242 opened #2006 "fab not being fixed on bottom right while scrolling card data"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-11-28 16:42] johnl242 opened #2007 "toolbar need help to keep fixed while scrolling router components"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of A

[2016-11-28 16:50] Daeluse opened #2008 "[Tabs] Prevent user from activating/deactivating tabs"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
Following a similar function to how canActivate and canDeactivate works on Routing, it would be extremely beneficial to have a way to run a check before allowing a tab to be activated or deactivated.

#### What is the use-case or motivation for changing an existing behavior?
Within the tabs, if a user is a

[2016-11-28 16:58] mmalerba commented on #1213
@christophechevalier see #1899

[2016-11-28 17:35] jelbourn commented on #1939
I chatted with the maintainers of Universal and they said that we should hold off on any work related to that as they do some large-scale refactorings and much of the code is moved into `angular/angular`. I'll update #308 when we're ready to start making changes to support it.

@fxck Keep in mind that last week was a holiday week in the US.

[2016-11-28 17:35] #1939 closed

[2016-11-28 17:39] jelbourn commented on #233
See the theming documentation:
https://github.com/angular/material2/blob/master/docs/theming.md

[2016-11-28 17:39] #233 closed

[2016-11-28 17:43] jelbourn commented on #119
@riankol can you file a separate feature request for that?

@quanterion the menu isn't meant for item selection, but for performing actions. `md-select` will be used for selection.

I'm closing this issue since most of the core menu behavior is done; remaining features can be tracked via their own issues.

[2016-11-28 17:43] #119 closed

[2016-11-28 17:44] fxck commented on #1939
It's not only about this issue, issues are often not properly labelled and/or people don't get replies from team members and it causes some confusion. I know it's pain in the ass to manage, but isn't it worth it?

[2016-11-28 17:46] fxck commented on #2007
Either provide a proper description and/or a plunker with what you want to achieve. That issue template is there for a reason.

[2016-11-28 17:47] fxck commented on #2006
https://github.com/angular/material2/issues/2007#issuecomment-263340829

as for fixing fabs, I think it's up to the consumer, if you are having problems with setting elements to fixed position, read https://github.com/angular/material2/issues/998

[2016-11-28 18:13] johnl242 commented on #998
I am using angular 2 material design, pls give a solution base on angular 2 material design and not material 1

[2016-11-28 18:22] johnl242 commented on #2007
Looking for a solution where the main toolbar should be fixed while
scrolling data in components where the components are being called through
router

On Nov 28, 2016 11:16 PM, "Aleš" <notifications@github.com> wrote:

[2016-11-28 18:41] DevVersion commented on #1376
Related to #1718

[2016-11-28 19:56] andrewseguin opened #2011 "Unlabeled checkboxes shouldn't have prescribed padding/margin"
Checkboxes without labels have a right margin of 8px due to the rule set in `.md-checkbox-inner-container`. There should be no prescribed margin on the checkbox in this case as it is likely being used apart from a direct text label.

[2016-11-28 20:31] crisbeto commented on #2000
How are you setting the RTL direction? Using the CSS `direction` or the HTML attribute? Currently it should work with the attribute.

[2016-11-28 20:36] seanrkerr commented on #1973
@kara & @jelbourn, Just a question around the release date of the Alpha 11. Will this be in November or are we looking at December for this one?

[2016-11-28 21:31] DzmitryShylovich commented on #1973
December 5th

[2016-11-28 21:51] johnrbaur opened #2012 "Unable to set styles on md-list-item"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Adding a style or class to an anchor tag with the md-list-item directive should modify the style of the list item.

#### What is the current behavior?
The style/class is applied to the anchor tag, but not to the inner div elements created by the directive. The applied style is not visible on the page.

#### What are t

[2016-11-28 22:05] jelbourn commented on #1973
We don't yet have an exact date for the next release.

[2016-11-28 22:55] luchillo17 opened #2013 "[Tabs] Interrupt / Intercept tab change"
#### Bug, feature request, or proposal:
If possible, i want to intercept tab change, i know i have the `MdTabChangeEvent` through `MdTabGroup`'s `selectChange` binding, but it only seems to show which tab is it transitioning to, how do i stop the transition of happening?

#### What is the expected behavior?
I want a way to call a function, make some logic in function and then if i want, stop the t

[2016-11-28 23:30] seanrkerr commented on #1973
ok, no worries.

[2016-11-29 00:09] andrewseguin commented on #1692
When a new tab enters the mix and is selected, it should animate in from the left or right. This was the most challenging part of this issue.

[2016-11-29 00:26] Daeluse commented on #2013
Slightly related to #2008, if we could bind to an EventEmitter output by the tab group which provides us the current tab, and the target tab, we would then probably only need a way to stop the index from changing.

[2016-11-29 01:10] jelbourn commented on #1996
You may need to escape the `@`. This is a general issue with npm scoped packages and not related to material.

[2016-11-29 01:10] #1996 closed

[2016-11-29 01:12] jelbourn commented on #1993
You need to include either `MaterialModule.forRoot()` or `MdDialogModule.forRoot()` in your root application module.

[2016-11-29 01:12] #1993 closed

[2016-11-29 01:13] jelbourn commented on #1983
This should be what you're looking for:
https://github.com/angular/material2/blob/master/docs/theming-your-components.md

[2016-11-29 01:13] #1983 closed

[2016-11-29 01:16] jelbourn commented on #1992
The page you linked is more talking about general patterns (dos and dont's), not specifically requirements. It's also talking about creating new surfaces (floating panels). You should be able to use the animation features built into core to animate list items in a manner that suits your own app.

[2016-11-29 01:16] #1992 closed

[2016-11-29 01:18] jelbourn commented on #1977
The progress-circle is always in the "percent space" of 0 to 100. Whatever your actual progress space is (e.g., 0 to 2379 files), you need to map it to percent space.

[2016-11-29 01:18] #1977 closed

[2016-11-29 01:23] jelbourn commented on #1984
The progress-circle is always in the "percent space" of 0 to 100. Whatever your actual progress space is (e.g., 0 to 2379 files), you need to map it to percent space.

[2016-11-29 01:23] #1984 closed

[2016-11-29 01:31] jelbourn opened #2015 "Create automatically updated Plunker templates for master and latest release"
We should have two Plunker templates that are automatically created:
* `master`, which should be done as part of Travis run
* `latest-release` which should be done as part of the release script (only when the tag is `latest`, since we publish a decent number of experimental versions)

[2016-11-29 01:31] jelbourn commented on #2015
@DevVersion do you want to work on this?

[2016-11-29 01:37] jelbourn commented on #1979
@ocarreterom is correct. `md-list` doesn't have its own background color; it uses the background color of whatever element it is inside of.

[2016-11-29 01:37] #1979 closed

[2016-11-29 04:44] Luchillo commented on #2013
@Daeluse is basically the same, though different use cases and different ways of saying it.

[2016-11-29 07:11] amanullahnxb commented on #1983
+1

[2016-11-29 08:11] d3viant0ne commented on #1494
@jelbourn - Tinkered around with this on my fork, the end result is it's a wash.

We spend ~70 seconds give or take to install with npm ( no cache ) and under 10 seconds with it.
With yarn it takes ~50 seconds ( no cache ) and ~8 seconds with it.

In either case you have to pull down the cache from Amazon s3, a large chunk of the overall performance improvements you see with yarn locally disappear

[2016-11-29 08:13] d3viant0ne commented on #1494
If you still want it done, i'll clean up the work and PR in the Travis changes and fixes to the gulp scripting.

[2016-11-29 08:22] d3viant0ne commented on #1494
It's also worth noting, if switching to yarn is creating side effects in the build scripting it's reasonable we are going to see it in the library proper. IMO the minimal time savings that will exist once yarn is included in the Travis containers doesn't outweigh the risk of the above mentioned side effects.

[2016-11-29 08:56] riankol opened #2016 "md-menu offset"
#### Bug, feature request, or proposal:
I noticed md-menu is not longer an 'Initial version', but the 'custom off-set support' is not implemented yet. Can you give me any indication when this is expected to be implemented?

#### What is the expected behavior?
With defining a x-offset or y-offset, I should be able to set a 'number of pixels to offset the menu from the trigger, for fine-tuning.'

##

[2016-11-29 09:38] riankol opened #2017 "please add md-divider to md-menu"
#### Bug, feature request, or proposal:
feature request

#### What is the expected behavior?
I would like to use a md-menu-divider, or make the existing md-divider work within md-menu. This is not in the design doc, but it will be very handy.

#### What is the current behavior?
There isn't one available.

#### What are the steps to reproduce?
I would like one just like in md-list, the md-divider

[2016-11-29 10:08] cortopy commented on #998
@bergben I'm not sure I understand your template.

Simplifying a lot this is what I have in `app.component.html`:

[code]

And then in a template for a component that gets loaded by the router I have:

[code]

[2016-11-29 10:21] karolmie1 opened #2018 "Clicking many times on md-button displays the scrollbar - comeback"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Not showing the scrollbar after many clicks

#### What is the current behavior?
When clicking a md-button many times, after some clicks the scrollbar in the browser shows. This does not happen for a normal button

#### What are the steps to reproduce?

Same as in #1392

#### What is the use-case or motivation for chan

[2016-11-29 10:22] codejith opened #2019 "wrapping of value of md-radio-button"
How to wrap **md-radio-button** value ? Is there an option available ? I tried some css tricks but it seems to be not working for md-radio-button

#### Bug, feature request, or proposal:

#### What is the expected behavior?

<md-radio-button><label>{{data}}</label></md-radio-button>

label {
  word-wrap: break-word;
  width: 200px;md-radio-button
}

#### What is the current behavior?

#### What ar

[2016-11-29 10:57] fxck commented on #2018
are you 100% that

[code]

actually imported those styles? check the generated file in your bundle.. the way you import from node modules differ depending on your setup

[2016-11-29 11:13] karolmie1 commented on #2018
@fxck All the colors and styles changed, so I assume everything is loaded correctly.
md-menu has same problem, but disableRipple doesn't help and window won't pop up.

I think I'll wait for at least beta, because currently material is really pretty, but unusable.

If you wan't to make sure that the styles are imported you can take a look at my attempts with angular2 here: https://bitbucket.org/kmi

[2016-11-29 11:15] fxck commented on #2018
https://bitbucket.org/kmierzej/fragaria-webapp/src/345aaa136aae0565994932b9d2ec6ebfb4cb4b02/src/app/app.component.ts?at=material2&fileviewer=file-view-default#app.component.ts-6 try adding

[code]

here

[2016-11-29 11:20] karolmie1 commented on #2018
@fxck that would explain a lot of things. I will check it out asap (and hopefully close in a minute). Thanks for help!

[2016-11-29 11:23] karolmie1 commented on #2018
@fxck So it turned out only my less than medicore knowledge of angular prevented me from enjoying material2 in the fullest. I take back that unstability claim for know. Yet again many thanks!

[2016-11-29 11:23] #2018 closed

[2016-11-29 13:10] michaeljota commented on #1616
If the PR got merge, this should this still open? I think this can be safely closed.

[2016-11-29 13:16] michaeljota opened #2020 "Duration is missing from MdSnackBar"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

According to docs, there should be a `duration` property in `MdSnackBarConfig` type

#### What is the current behavior?

There is not a `duration` property in `MdSnackBarConfig`

Throws:
[code]

#### What are the steps to reproduce?

Try to add a `duration` property to the configuration object when open a SnackBar.

[2016-11-29 13:28] xikky opened #2021 "Allow for sidenav to collapse horizontally but leaving an icon nav visible"
#### Bug, feature request, or proposal:
feature request

#### What is the expected behavior?
Once the sidenav is closed, a portion of it will still remain visible. Very similar to WordPress' admin menu, where the sidenav shows text and an icon for each menu item, and the same sidenav can be closed, leaving the icons only showing.

#### What is the current behavior?
Sidenav totally hides once the t