[2018-01-19 14:18] tatol commented on #9474
[stackoverflow link](https://stackoverflow.com/questions/48343082/mat-menu-and-button-in-different-companents)

[2018-01-19 14:18] #9474 closed

[2018-01-19 14:22] kevincaradant opened #9479 "[BUG] mat-autocomplete doesn't close using displayWith under IE11"
#### Bug, feature request, or proposal:
Bug
Similar to: https://github.com/angular/material2/issues/5165 (not duplicate)

#### What is the expected behavior?
mat-autocomplete-panel should be close after selected an option

#### What is the current behavior?
mat-autocomplete-panel continues to be opened even after to have selected an option

#### What are the steps to reproduce?
Run the stackblitz:

[2018-01-19 14:37] ApoorvBarwa opened #9480 "How to pre-select an option in mat-autocomplete"
Question:

How to pre-select an option in mat-autocomplete

#### What is the expected behavior?

Value to be prefilled in the autocomplete when loading a component for editing.

#### What is the current behavior?

I am not able to prefill the value which i get from the server.

#### What are the steps to reproduce?

Below is the Code i am using

component.ts
`this.filteredData = this.addDetailsFor

[2018-01-19 14:40] stephanecot commented on #9476
Ok it's good to know for my case (in global).
But maybe it will be good to as this functionality by default in angular material datepicker. Momentjs is maybe to permissive

[2018-01-19 14:52] lihanyu23 commented on #8057
any update on this ?

[2018-01-19 15:06] andrewseguin commented on #9477
Please re-open with a reproduction of your issue in Stackblitz so we can diagnose what's happening and, if necessary, make a fix.

[2018-01-19 15:06] #9477 closed

[2018-01-19 15:30] julianobrasil commented on #9474
@tatol, I've answered over there.

[2018-01-19 15:35] julianobrasil commented on #9480
If you want, close this issue and ask it in stackoverflow. After doing that post the link over here and I'll take a look.

Let's keep github for trakking issues, not doubts.

[2018-01-19 15:49] josephperrott commented on #9475
Closing as clearing out stale service worker is able to get everything working again.

[2018-01-19 15:49] #9475 closed

[2018-01-19 15:50] josephperrott commented on #9476
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate

[2018-01-19 15:50] #9476 closed

[2018-01-19 15:51] josephperrott commented on #9480
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-19 15:51] #9480 closed

[2018-01-19 17:27] ericcancil opened #9482 "MatMenu generating error on click"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?
Menu to open

#### What is the current behavior?
Error generated

I have the following markup for a matMenu
[code]

Upon clicking the menu this happens.  Kind of at a loss here.

![image](https://user-images.githubusercontent.com/26233337/35163180-dfc8054e-fd13-11e7-953a-cdc0a2799544.png)

[2018-01-19 17:28] kbo4sho opened #9483 "(docs) Progress Bar overview sample is missing"
#### Bug
Progress Bar overview sample is missing.

#### What is the expected behavior?
Progress Bar overview page should show a sample or not display anything.

#### What is the current behavior?
Progress Bar overview page shows no example and throws an error in the console.

#### What are the steps to reproduce?
Visit this page.
https://material.angular.io/components/progress-bar/overview

Check

[2018-01-19 17:37] intergalactickraigor commented on #4396
Try something like this as an override for a workaround.

.bottom{
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate3d(0,100%,0);
}

<mat-sidenav-container>
    <mat-sidenav class="bottom">
    </mat-sidenav>
</mat-sidenav-conatiner>

[2018-01-19 18:36] arlowhite commented on #9476
I wanted to report this issue as well.
Like the original author said, by default, if a user erases the day in order to change it, a string like `'9//2017'` evaluates as valid and has a odd Date value. If you're watching the control valueChanges, this is unexpected.
However, 5.1.0 just came out, so I need to test if the new version behaves differently before reporting a bug.

[2018-01-19 19:01] josephperrott commented on #9482
Can you provide a reproduction of the issue?

Using the template you provided it appears to work as seen [here](https://stackblitz.com/edit/angular-material2-issue-pbf87z?file=app%2Fapp.component.html)

[2018-01-19 19:04] josephperrott commented on #9483
Unfortunately do to an issue with our service worker, you have to clear the cache manually.

<sup>The following instructions assume you're running Chrome.</sup>
Either:
1. Open Chrome DevTools on <https://material.angular.io>
2. Hold the reload button. There should be the following options: `Reload`, `Hard Reload` and Empty Cache and Hard Reload. Click on the `Hard Reload` menu item.

Or:
1. Open

[2018-01-19 19:04] #9483 closed

[2018-01-19 20:00] jelbourn commented on #8423
@crisbeto we have some folks inside Google asking for this (or something close enough). Now that I look at it, I think this is an important feature to add. A good example of the behavior I have in mind is the "Enter action" or "Open file by name" pop-ups in WebStorm; you need to be able to start entering a string and hit enter as soon as your desired match is on top.

For API, I'm thinking somethi

[2018-01-19 20:14] kbo4sho commented on #9483
there it is, thanks!

[2018-01-19 21:29] willwsharp opened #9484 "MatTooltip doesn't receive class from [matTooltipClass]"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
As per the documentation, the tooltip should be passed the classes given in the [matTooltipClass] input directive.

#### What is the current behavior?
The tooltip does not receive the classes passed via the [matTooltipClass].

#### What are the steps to reproduce?
https://stackblitz.com/edit/angular-2h9krx
Go to above

[2018-01-19 21:33] willwsharp commented on #9484
Css was encapsulated.

[2018-01-19 21:33] #9484 closed

[2018-01-19 21:56] uncledent opened #9485 "[Table] Truncate text in header with ellipsis"
#### Bug, feature request, or proposal:

Truncate text in mat-header-cell with elliplis as in style guide: https://material.io/guidelines/components/data-tables.html#data-tables-structure

#### What is the expected behavior?

Truncate text in mat-header-cell with elliplis

#### What is the current behavior?

Text not being truncated

#### What are the steps to reproduce?

Simply use this table

##

[2018-01-19 22:02] uncledent opened #9486 "Put sorting arrow before header tittle, not after"
#### Bug, feature request, or proposal:

Put sorting arrow icon before header tittle, not after
See styleguide: https://material.io/guidelines/components/data-tables.html#data-tables-structure

#### What is the expected behavior?

Sorting arrow should be before header tittle, not after
See styleguide: https://material.io/guidelines/components/data-tables.html#data-tables-structure

#### What is th

[2018-01-19 22:11] jfox459 commented on #7548
I agree, this is something that is used all the time with tables.

[2018-01-19 23:47] AndrewEckart opened #9488 "MatInput with MatPrefix does not conform to the Material spec for icons and text"
#### Bug, feature request, or proposal:
Proposal / feature request.

#### What is the expected behavior?
The [official Material guidelines](https://material.io/guidelines/components/text-fields.html#text-fields-layout) state that text input fields which are prefixed with an icon (referred to as "icon signifiers" in the spec) should display the icon as floating to the left of the text field, center

[2018-01-20 01:27] mprobst opened #9491 "Circular type references in material2"
`src/cdk/overlay/position/position-strategy.ts` imports `OverlayRef` from `src/cdk/overlay/overlay-ref.ts`. That in turn imports `src/cdk/overlay/overlay-config.ts`, which in turn imports `PositionStrategy`, which in turn makes some of our tooling sad.

[2018-01-20 01:30] jtsom opened #9492 "Simple Material Table Throwing Errors"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Show a table

#### What is the current behavior?
Throw error:
[code]

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker starter (using on `@master`): https://goo.gl/uDmqyY<br/>
StackBlitz starter (using latest `npm` rele

[2018-01-20 02:07] jtsom commented on #9492
Looks like this is the problem: https://github.com/angular/material2/issues/9329

Closing this one.

[2018-01-20 02:07] #9492 closed

[2018-01-20 06:47] simeyla commented on #2725
This is still a mess :-/ It's crazy!

A menu that would fit perfectly on screen gets `top` or `bottom` applied to the `.cdk-overlay-pane` which puts in cleanly off the top of the page. The actual menu is **sized** correctly but just **positioned** wrong.

You can get it to fit with this :

     .cdk-overlay-pane { top: 20px !important; }

Sample project (resize window first if you have a huge scre

[2018-01-20 07:44] kittymits opened #9493 "Need to implement Select All feature in mat-select multiple"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker starter (using on `@master`): https://goo.gl/uDmqyY<br/>
StackBlitz starter (using latest `npm` release): https://goo.gl/wwnhMV<br/>

###

[2018-01-20 07:45] #9493 closed

[2018-01-20 08:29] simeyla commented on #2725
You can actually put two rows of menu items if you change the css to a flex model.

[code]
And create menu like this (I'm using @angular/flex-layout)

[code]

This can actually be a very nice effect if you have only a dozen or so items that is suitable for two columns.

[2018-01-20 10:19] crisbeto commented on #9488
This is being discussed in https://github.com/angular/material2/pull/9366.

[2018-01-20 11:55] goldenbull opened #9496 "MatDialogConfig.id does not work?"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
As the doc:
`id: string | ID for the dialog. If omitted, a unique one will be generated.`

#### What is the current behavior?
the generated dialog has no ID attribute:
`<mat-dialog-container class="mat-dialog-container ng-tns-c1-0 ng-trigger ng-trigger-slideDialog ng-star-inserted" tabindex="-1" role="dialog" style="t

[2018-01-20 12:07] fxck commented on #8963
Is there any design doc I can follow? I've tried quite a few drag and drop libraries, all of the are bad in one way or another, those that use native APIs are rather limited when it comes to styling the content being dragged and those that do it programatically often don't have must have accessibility features like scrolling when the item being dragged is on the side of the scrollable element..

[2018-01-20 12:10] Rakesh2907 opened #9497 "ERROR in Error: Metadata version mismatch for module D:/wamp/www/guru-able-angul ar-4-lite/guru-lite/node_modules/@ng-bootstrap/ng-bootstrap/index.d.ts, found ve rsion 4, expected 3, resolving symbol SharedModule in D:/wamp/www/guru-able-angu lar-4-lite/guru-lite/src/app/shared/shared.module.ts, resolving symbol SharedMod ule in D:/wamp/www/guru-able-angular-4-lite/guru-lite/src/app/shared/shared.modu le.ts, resolving symbol SharedModule in D:/wamp/www/guru-able-angular-4-lite/gur u-lite/src/app/shared/shared.module.ts at syntaxError (D:\wamp\www\guru-able-angular-4-lite\guru-lite\node_modules\ @angular\compiler\bundles\compiler.umd.js:1729:34)"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker starter (using on `@master`): https://goo.gl/uDmqyY<br/>
StackBlitz starter (using latest `npm` release): https://goo.gl/wwnhMV<br/>

###

[2018-01-20 12:11] Rakesh2907 commented on #8229
ERROR in Error: Metadata version mismatch for module D:/wamp/www/guru-able-angul
ar-4-lite/guru-lite/node_modules/@ng-bootstrap/ng-bootstrap/index.d.ts, found ve
rsion 4, expected 3, resolving symbol SharedModule in D:/wamp/www/guru-able-angu
lar-4-lite/guru-lite/src/app/shared/shared.module.ts, resolving symbol SharedMod
ule in D:/wamp/www/guru-able-angular-4-lite/guru-lite/src/app/shared/shared.

[2018-01-20 12:40] crisbeto commented on #9496
The main purpose of the id was to be able to get a hold of an arbitrary `MatDialogRef`. That being said, as a side-effect of https://github.com/angular/material2/pull/9379 it'll be added to the dialog container.

[2018-01-20 12:40] #9496 closed

[2018-01-20 12:41] crisbeto commented on #9497
It looks like your Angular version is too old. If you're using the latest version of Material, you need at least Angular 5.0.

[2018-01-20 12:41] #9497 closed

[2018-01-20 13:58] julianobrasil commented on #9459
@keymaker19, remove `node_modules` _and_ `package-lock.json` before `npm install` it.

[2018-01-20 14:38] Philip-Sultanescu commented on #9244
I agree with the 18px size instead of 20px.
Also the $_mat-checkbox-ripple-radius should be 24 instead of 25, which means a total ripple size of 48px.
This way it follows also the **table guidelines** (#9152) where the row height is 48px.
![table checkbox](https://user-images.githubusercontent.com/30979663/35184563-a5633970-fdf7-11e7-8c7b-3bac3abc4691.png)

A checkmark of 18px will also better ali

[2018-01-20 15:08] jelbourn commented on #8963
Kristiyan is working on a design now. Any specific feedback you have about what you like/dislike about other libraries would be good to know.

[2018-01-20 15:29] crisbeto commented on #9421
This has come up in the past. We can't do it for the select, because it needs to inject the `NgControl` which refers to itself and causes a circular import.

[2018-01-20 15:29] #9421 closed

[2018-01-20 16:38] dojchek commented on #8963
Most of the libs (with native html dnd) such as angular-dnd, sortablejs, dragula handle DOM on their own which is very inconvinient when using unidirectional dataflow (ngrx). There is no an easy way to cancel these updates and walkarounds feel very hacky. This is the biggest issue with all the libs I've used so far
I would love to see the following features:
* standard drag and drop
* drag and dro

[2018-01-20 18:44] mmalerba commented on #9488
prefix/suffix are specifically for putting things inside the underlined area. I don't think we need to create a special attribute for icon signifier because its easily accomplished by just placing an icon next to a form field: https://stackblitz.com/edit/angular-material2-issue-gg58rj?file=app/app.component.html (though I could see adding an example to the docs demonstrating this).

The issue of t

[2018-01-20 19:21] ciesielskico opened #9501 "Stepper: misplaced icon on optional step in IE11"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Display the "Optional label" and the step icon correctly

#### What is the current behavior?
Optional label is not visible, step icon is misplaced

#### Which versions of Angular, Material, OS, TypeScript, browsers are affected?
[code]

#### Is there anything else we should know?

In this example, step 3 is optional.

[2018-01-20 19:33] torabian commented on #5224
We have implemented time picker which is compatible with angular material and can be used in different version of angular:
https://github.com/owsolutions/amazing-time-picker

[2018-01-20 20:06] pshields opened #9502 "Compilation issues when using Angular Material 5.0.x/5.1.0 in an Angular/Bazel app"
Angular Material 5.1.0 (and 5.0.x) currently encounters compilation errors when consumed from an Angular/Bazel app.

An example error is `Could not resolve ./index.ngfactory from [....]/angular_bazel_example/node_modules/@angular/material/button/typings/index.d.ts`.

To reproduce, run `bazel build //src` from https://github.com/alexeagle/angular-bazel-example/pull/63 (small repro PR.)

I've confir

[2018-01-20 20:37] iposton commented on #6036
@deepali-kakkar this sounds fun. Let me try to get it working in my app and if I do I will post the code here.

[2018-01-20 22:43] alaboudi commented on #5818
has this issue been closed? I can't populate 'mat-select' by using reactive forms. Should I open a ticket with an example?

[2018-01-21 01:41] AndrewEckart commented on #9488
@mmalerba Thanks for the quick response.

I like your distinction between icon signifiers as passive indicators which describe the type of content the field contains versus icon prefixes/suffixes as interactive buttons that transform the input in some way (password show/hide button, clear button, etc). The docs would definitely benefit from one or two examples along those lines, and I will try my

[2018-01-21 06:12] pyle commented on #408
Apologies to people who are waiting for this.
I haven't finished the design doc and final spec, but started writing the code this weekend to test out some of the implementation ideas. I hope to have it in master before Q1 ends :smile:

[2018-01-21 09:53] Batch1211 opened #9503 "[Datepicker] Disabling the input form field via FormBuilder ignores Form Field completely"
Disabling the input field of a the datepicker is a very useful feature. However, if we disable the input field using the "disabled" attribute as being described in the documentation (https://material.angular.io/components/datepicker/overview#disabling-parts-of-the-datepicker) we receive this message from angular:

[code]
Not only does angular raise this warning, it also removes the disabled attrib

[2018-01-21 10:35] crisbeto commented on #9501
I didn't manage quite to reproduce it locally, but I got something similar if I add `box-sizing: border-box` to everything. Do you happen to have this somewhere in your CSS?

[code]

[2018-01-21 10:48] crisbeto commented on #9501
Thanks, good to know. Let's keep the issue open since this is a common enough use case that we should handle it.

[2018-01-21 11:01] ciesielskico commented on #9501
Actually, after having a closer look the optional header is still a bit off.

![image](https://user-images.githubusercontent.com/17651898/35193441-a3cda626-fea2-11e7-9b6f-fc0bebea4e1c.png)

Adding `box-sizing: content-box;` to either `.mat-step` or `.mat-step-header` produces a better result, however it's still not 100% correct.

[2018-01-21 11:38] DevVersion commented on #9452
This is an issue with the Dgeni typescript package. Will be fixed with: https://github.com/angular/dgeni-packages/pull/256

[2018-01-21 11:38] #9452 closed

[2018-01-21 12:02] DevVersion commented on #9468
So basically a `readonly` mode, where the thumb label always shows?

![image](https://user-images.githubusercontent.com/4987015/35193961-474f67e6-feab-11e7-92c8-053a491c507a.png)

[2018-01-21 12:12] DevVersion commented on #9447
Seems to be related to the inner ripple container of the checkbox. The ripple container uses an absolute position and exceeds the "actual" element boundaries.

As a workaround you can use CSS to hide the container

[code]

[2018-01-21 12:25] michaelb-01 commented on #9447
Thats what I ended up doing but it would be nice to have a solution where the ripple could still be maintained..

[2018-01-21 12:25] #9447 closed

[2018-01-21 12:58] donroyco commented on #9503
Please use [the issue template](https://github.com/angular/material2/blob/master/.github/ISSUE_TEMPLATE.md) to prevent your issue to be closed.

[2018-01-21 15:42] crisbeto commented on #9406
Alright, I see what you mean. It's still because you're missing a `flush` (note that you need to be in the `fakeAsync` zone to be able to use `flush`). I reproduced it with this test:

[code]

That being said, I've submitted a fix since we should be handling it better in the overlay.

[2018-01-21 16:03] Anuranga opened #9508 "ERROR in Metadata version mismatch for module C:/xampp/htdocs/organic-shop/node_modules/@ng-bootstrap/ng-bootstrap/index.d.ts, found version 4, expected 3, resolving symbol AppModule in C:/xampp/htdocs/organic-shop/src/app/app.module.ts, resolving symbol AppModule in C:/xampp/htdocs/organic-shop/src/app/app.module.ts, resolving symbol AppModule in C:/xampp/htdocs/organic-shop/src/app/app.module.ts"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker starter (using on `@master`): https://goo.gl/uDmqyY<br/>
StackBlitz starter (using latest `npm` release): https://goo.gl/wwnhMV<br/>

###

[2018-01-21 16:03] Anuranga commented on #9508
How fix this error

[2018-01-21 16:36] donroyco commented on #9508
This has nothing to do with Material, but with [ng-bootstrap](https://github.com/ng-bootstrap/ng-bootstrap).

[2018-01-21 16:40] #9508 closed

[2018-01-21 16:41] crisbeto commented on #9508
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-21 16:43] Anuranga commented on #9508
how fix above error

[2018-01-21 17:06] amcdnl commented on #4441
@nstohler - Checkout - https://github.com/amcdnl/material-inbox

[2018-01-21 17:11] Namkem opened #9510 "MdDialog"
#### Bug: When I try to open MdDialog from another MdDialog in 1 specific case it doesn't work

#### MdDialog should always open from another MdDialog

#### MdDialog doesn't open from another MdDialog

#### What are the steps to reproduce?
Only happens in 1 specific situation which can't be reproduced.

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions

[2018-01-21 17:49] DooMachine commented on #9468
Yeah, it would be nice I guess.

[2018-01-21 20:48] klemenoslaj opened #9512 "Disabled mat-slide-toggle propagates DOM events"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When `mat-slide-toggle` is disabled, click even listener should not be triggered.

#### What is the current behavior?
Even though `mat-slide-toggle` is disabled, click event listener is triggered, causing some unexpected results.

#### What are the steps to reproduce?
- go to https://stackblitz.com/edit/angular-zc84gi

[2018-01-22 02:59] alvipeo opened #9513 "Make select and other form fields play nice when inside a toolbar"
I just tried to put a select and input into toolbar and result is a mess. I just needed a search field and some type selector, so I made this:

[code]
The result is meh...

[2018-01-22 04:13] skeize commented on #7259
selectionChanged is great for handling successful step changes.  Is there a way to identify failed step change attempts?

[2018-01-22 05:10] vaishalichawla26 commented on #4591
Following change help me sort my issue:-

/deep/.mat-tab-body-wrapper{
	height: 100%!important;
}

[2018-01-22 05:37] aykutyararbas commented on #4118
switch87 - Can you please describe the input issue. I am facing a similar issue, it'd be really helpful.

[2018-01-22 06:09] damoncasale opened #9515 "mat-icon has display issues when inlining multiple copies of the same SVG with defs with IDs"
#### Bug, feature request, or proposal:
Proposal:  Extend the cloneSvg function in src/lib/icon/icon-registry.ts to accommodate munging IDs in defs so that multiple copies of the same inlined SVG won't have conflicting IDs.

#### What is the expected behavior?
When two copies of an SVG with a linearGradient def are inlined, both copies of the SVG should display the linear gradient.

#### What is t

[2018-01-22 06:52] goldenbull commented on #9496
I'm newbie of the web world, sorry for bothering you with my simple questions.
If the `id` field will not exist in the generated HTML, what's the proper way to customize the `<mat-dialog-container>` element style? For example, to set the padding=0px instead of the default CSS setting.

[2018-01-22 07:17] crisbeto commented on #9496
You can pass in the `panelClass` option and use that class to target your dialog.

[2018-01-22 08:36] SaturnTeam commented on #4763
I created from my code standalone package. Installation: ` yarn add saturn-datepicker` or `npm install saturn-datepicker`. Disscussion and info https://github.com/SaturnTeam/saturn-datepicker

[2018-01-22 09:45] CDDelta commented on #9513
Please use the issue template when creating new issues, also please provide a StackBlitz example to showcase the problem.

[2018-01-22 09:59] nite opened #9516 "MatDatePicker years not blacked out"
#### Feature request
(Updated with issue template.)

#### Expected behavior?
I'm pretty sure this one should be easily replicable: when using the MatDatePicker and max/min or matDatepickerFilter, any months without available dates are disabled in the month chooser, but years are all enabled in the year chooser.

#### What is the current behavior?
This is demonstrated in the docs in the 'Datepicker

[2018-01-22 10:02] petivagyok16 opened #9517 "Mat-expansion-panel bug"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Close 2 level deep child `mat-expansion-panel`-s when a parent `mat-expansion-panel` was closed.

#### What is the current behavior?
2 level deep Child `mat-expansion-panel` doesn't close but stays on the page

#### What are the steps to reproduce?
![bugged expansion panel](https://user-images.githubusercontent.com/16

[2018-01-22 10:49] ThomasLohmann commented on #8795
Hi jeremyputeaux, have you found any solution for this problem?

[2018-01-22 11:57] nite commented on #9516
Updated with template - and thanks for the linked issue @donroyco

[2018-01-22 12:38] switch87 commented on #4118
@aykutyararbas I don't know what it was anymore. But it didn't have anything to do with the dialog at all.

[2018-01-22 12:42] BamiGorengo opened #9518 "<mat-nav-list> bug when encapsulation is on Native"
Im not 100% sure that this is a bug, but when i set encapsulation to Native, the ripple effect didnt work any more. Please check this stackblitz: https://stackblitz.com/edit/nav-list-bug encapsulation

Click on the item and you will see that the ripple is anywhere outside for a short time. you will see a scrollbar for a moment when you click. (I fixed this in early time with a position relative, b

[2018-01-22 13:04] petersalomonsen commented on #4344
The following workaround worked for me ( inspired by the .mat-app-background class here: https://github.com/angular/material2/blob/master/src/lib/core/_core.scss )

In styles.scss:

[code]

Then I can apply a dark theme to my sidenav only by adding .the-dark-theme class:

[code]

[2018-01-22 13:41] Gaiidenn commented on #5269
Hi here!
Any update regarding an eventual schedule for this fix?

[2018-01-22 14:09] alecmce commented on #8703
"Select with option group" in https://material.angular.io/components/select/examples is broken for me. It only displays one option group.

[2018-01-22 14:25] aaronte commented on #8795
+1

[2018-01-22 14:30] jeremyputeaux commented on #8795
Hi. I did not find any solution as my app is not in production yet. It's not urgent on my side. But It will be in few weeks. I hope It will be fixed by this time.

[2018-01-22 14:33] Amiral1 commented on #6787
Getting the same error as @freezy

[2018-01-22 14:37] ThomasLohmann commented on #8795
Let's hope that they will fix it. Tabs are one of the most elementary things in modern apps. I tried also this tabs out: https://trimox.github.io/angular-mdc-web/#/tab-demo

but it is also not perfect, especially for mobile view (swipable tabs are needed, without that arrow stuff).

[2018-01-22 14:58] FloEdelmann opened #9519 "Using custom icon sets with Angular Universal fails with SVG namespace error"
When using a custom icon set, the server rendering of Angular Universal outputs `Error retrieving icon: NAMESPACE_ERR (14): the operation is not allowed by Namespaces in XML` and leaves the `mat-icon` tag empty.

#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

Server-rendering of the `mat-icon` tag containing an SVG tag with the custom icon.

#### What is the cur

[2018-01-22 15:05] bmunnabe opened #9520 "Placeholder float to top for CHIPS."
Placeholder float to top by default. Not sure what causing this issue. It happens only for chips.

[place check this link for full details](https://stackoverflow.com/questions/47789305/angular-4-material-chips-placeholder-not-working-properly), given more detail

[code]

packages details,

[code]

[2018-01-22 15:54] DouglasWebster commented on #8600
I have the same problem when using an unlabelled  `mat-checkbox `inside  `mat-cell`.  The problem disappeared when I gave it a label.  For the present I use `<mat-checkbox>&nbsp;</mat-checkbox>` as I find it quicker that altering the css  Of course, this only works if you can afford the extra space!

[2018-01-22 15:57] josephperrott commented on #9520
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate

[2018-01-22 15:57] #9520 closed

[2018-01-22 15:58] josephperrott commented on #9503
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate

[2018-01-22 15:58] #9503 closed

[2018-01-22 16:00] josephperrott commented on #9512
Closing as this is not something that can be controlled by Material

You are listening to the click event on an element which unfortunately can't be prevented by another event handler.

[2018-01-22 16:00] #9512 closed

[2018-01-22 16:00] josephperrott commented on #9513
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate

[2018-01-22 16:00] #9513 closed

[2018-01-22 16:01] josephperrott commented on #9518
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate

[2018-01-22 16:01] #9518 closed

[2018-01-22 16:06] DevVersion commented on #9519
This seems to have been fixed with the latest version of Domino (https://github.com/fgnass/domino/commit/b16cb1923f83db096b7cd0638734474e54b3308d). Although it's not released yet, and Angular can't use it yet.

[2018-01-22 16:09] tonysamperi commented on #8600
@DouglasWebster Good to know! Actually I could have afforded to "steal" extra space...I'll give it a try with the next table ;)

[2018-01-22 16:09] nite opened #9521 "MatDatePicker ngModel ignores matDatepickerFilter"
#### Bug

#### What is the expected behavior?
ngModel should not set a filtered date (filtered via matDatepickerFilter) entered via text.

#### What is the current behavior?
Open the filter on the 'Datepicker with filter validation' section here:
https://material.angular.io/components/datepicker/overview#date-validation
ie. https://stackblitz.com/angular/eyqovodandr

Type '1/21/2018'
Open the popu

[2018-01-22 16:25] dlarr opened #9522 "md-table not reflecting dataSource changes"
#### Bug, feature request, or proposal:

#### What is the expected behavior?
When I call new DataSource(data), I expect the table to display the actual data.

Is there any known case where md-table won't refresh upon call of new DataSource(data) ??

#### What is the current behavior?
Table is empty, eventhough, dataSource shows data.

#### What are the steps to reproduce?
That plunker doesn't work

[2018-01-22 16:26] PierreChavaroche commented on #3828
My solution to this problem is to just use a subset of the material SVG icon set (exclusively those which I'am using in my app). Editing the SVG file (e.g. mdi.svg for [https://materialdesignicons.com/](https://materialdesignicons.com/) ) is very easy.

[2018-01-22 17:12] hobojoe commented on #8890
I've read the PR with the updated docs but still couldn't implement it. Any way it could be updated with a working sample? It would be very helpful. Thanks

[2018-01-22 18:00] mmalerba commented on #9488
I still need to do some research into it before deciding if masking is something we want to get into in Angular Material. I'll probably wind up creating at least a minimal solution for text prefix and suffix, since this is something we encouraged people to do with `matPrefix` and `matSuffix` for a while. If we're asking people to stop, we should provide an alternative. Beyond that, masking will li

[2018-01-22 18:44] kurtommy commented on #2143
Just to help: my (crazy / absolutely too long) workaround:
@kara a [selected] is needed IMHO, ngModel with object reference comparison is not working (in my case)

class yourComponent {
 constructor() {
   this.selectComparator = this.selectComparator.bind(this);
 }
selectComparator(id) {
    return +id === this.modelInstance.id;
   }
}

`
 <mat-select placeholder="Zone" [(ngModel)]="model.id" [co

[2018-01-22 20:10] nosshar commented on #3389
It's possible to use following style definition to take all '\n' into account:

mat-tooltip-component > .mat-tooltip {
  white-space: pre;
}

Still it would be nice to have HTML makup inside tooltip.

[2018-01-22 20:18] vlio20 commented on #3334
I have created a small directive, inspired by @julianobrasil stackblitz demo and solution using the trigger panelClose event:
template:
[code]
autoClose directive:
[code]

[2018-01-22 20:40] aurelianv opened #9524 "Error on Expansion Panel"
#### Bug, feature request, or proposal:
main.d36db8d0fd0e060939a1.bundle.js:1 Invalid keyframe value for property height: 62,7656px
e._triggerWebAnimation @ main.d36db8d0fd0e060939a1.bundle.js:1
e._buildPlayer @ main.d36db8d0fd0e060939a1.bundle.js:1
e.play @ main.d36db8d0fd0e060939a1.bundle.js:1
e.play @ main.d36db8d0fd0e060939a1.bundle.js:1
(anonymous) @ main.d36db8d0fd0e060939a1.bundle.js:1
e._f

[2018-01-22 20:44] agusdutra commented on #8494
+1

[2018-01-22 21:03] jelbourn commented on #9524
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2018-01-22 21:03] #9524 closed

[2018-01-22 21:03] #9510 closed

[2018-01-22 21:06] jelbourn commented on #9515
Closing this issue as it does not follow the issue template (missing version info). Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2018-01-22 21:06] #9515 closed

[2018-01-22 21:09] Namkem commented on #9510
Hello Guys,

Any help or advice would be highly appreciated.

[2018-01-22 21:11] Namkem commented on #9510
@jelbourn Hello Sir,

Why was this thread closed?

[2018-01-22 21:21] jelbourn commented on #9510
This issue has literally zero information in it.

[2018-01-22 21:46] dgfranklin opened #9525 "Click targets are too small for buttons"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Material Design spec says that [all touch targets much be at least 48x48.](https://material.io/guidelines/layout/metrics-keylines.html#metrics-keylines-touch-target-size)

#### What is the current behavior?
Icon buttons and mini fab buttons are 40x40.  Basic buttons and raised buttons sizes are determined by their con

[2018-01-22 21:46] SonicScrewdriver commented on #6493
I agree. We really need a full-featured example.

The current examples are incredibly difficult to manage, and I've run into the same issue regarding the datasource being undefined / fetched AFTER the data-table attempts to build the table.

I solved it before by forcing the table to pop up in a dialog (thus pushing the data source into the MDDATA that way), but that is no longer an option so I am

[2018-01-22 21:57] Namkem commented on #9510
If I'll post the code of the service that opens the dialog will it make it easier to resolve?

[2018-01-22 22:12] alex-okrushko commented on #7981
This wasn't fixed
here is with the latest material and angular 5.2.1 http://plnkr.co/edit/aJTfUQ5O8L6SN0t4fLrm?p=preview

[2018-01-22 22:16] andrewseguin commented on #6493
@micky68 @SonicScrewdriver The last example on the table docs now show a table with filtering, paging, and sorting https://material.angular.io/components/table/examples

https://stackblitz.com/edit/angular-fu7vce?file=main.ts

Hopefully a lot of the complexity with the data source is simplified by just using the library's `MatTableDataSource`

[2018-01-22 22:19] andrewseguin commented on #9522
Sorry but things seem technically correct in your example. It's hard to actually diagnose without a real example or reproduction of your issue.

Rather than using your own custom implementation of a data source, try using the library's provided `MatTableDataSource` and setting its data. You should only need to create the data source once and every time you change the data array, the table will ref

[2018-01-22 22:19] #9522 closed

[2018-01-22 22:22] andrewseguin commented on #9486
You're in luck. You can use the `mat-sort-header`'s `arrowPosition` input. Simply set it to `'before'` and your arrow will show to the left.

[2018-01-22 22:22] #9486 closed

[2018-01-22 22:37] andrewseguin commented on #9419
From a UX perspective, I imagine that users who want to perform a "Select All" will want to have all the table's filtered data included, not just the data displayed on the current page. Are you sure your use case is that you only want to select the current page?

For now, you can subscribe directly to the data source's connect() function which will provide the renderData stream.

`matTableDataSour

[2018-01-22 22:47] andrewseguin commented on #8517
This seems to be a problem separate from table, but exposed by how the cell styles work.

Here's an example of the checkbox's behavior in the same CSS structure:
https://stackblitz.com/edit/angular-zc9dkd?file=app/checkbox-overview-example.html

[2018-01-22 22:49] andrewseguin opened #9526 "Checkbox moves when clicked if in particular CSS structure"
When the checkbox is nested in a container with hidden overflow, and that container's parent is a flex container with align-items center, the checkbox will move up when clicked:

https://stackblitz.com/edit/angular-zc9dkd?file=app/checkbox-overview-example.html

Click the checkbox and notice that it is now halfway hidden

![jcen947pvfc](https://user-images.githubusercontent.com/22898577/35248553-6

[2018-01-22 22:50] andrewseguin commented on #8517
Note that the best way to work around this for now was posted above. Use `overflow: visible` for the affected cells

[2018-01-22 23:04] walhow commented on #6493
Thanks, the component code looks a lot simpler now than the Angular 4
version, I'll try it out again.

On Mon, Jan 22, 2018 at 5:16 PM, Andrew Seguin <notifications@github.com>
wrote:

[2018-01-22 23:19] andrewseguin commented on #8494
Since the foundation of the table allows for any arbitrary content to be in the header/row cells, it'll be hard to make a universal approach. For example, if your header has a filter/menu/icon/etc then you'll likely not want those things to show up in the responsive version.

I'll incorporate this into my design for some kind of `mat-simple-table` which understands more deeply about what data is b

[2018-01-22 23:26] andrewseguin commented on #7548
Definitely still on our radar. Will likely call this something like `mat-footer-row` and implement it similarly to the header and data rows.

Unfortunately its `minor` compared to other features. Just gotta find some priority with respect to all the features we want on the table. Right now my biggest priority is reducing the pain in setting up the table (e.g. easier to make data sources, allow dat

[2018-01-22 23:43] andrewseguin opened #9527 "[Table] When predicate should evaluate on each data emit"
The table uses the row when predicate to determine which row template to use for a piece of data, but only once when inserting a new row.

This should be evaluated on each emit to confirm that data objects match to the right row template.

[2018-01-23 00:10] andrewseguin commented on #9205
With regard to changing case insensitivity in sort, I think its best to be explicit with how you want the data to be viewed when sorting, which is what the `sortingDataAccessor` is for. It should be fairly trivial to return your data with `toLowerCase()` when sorting. I don't expect us to change the default behavior of handling cases since it would be a large breaking change at this point for some

[2018-01-23 00:10] #9205 closed

[2018-01-23 00:20] AndrewEckart commented on #9488
Thanks. Since everything seems covered, I'll go ahead and close this issue. I can use the existing `matPrefix` and `matSuffix` for both text and interactive icons for now, which is a decent stopgap until there's official support for text prefixes and suffixes.

[2018-01-23 00:20] #9488 closed

[2018-01-23 00:22] andrewseguin commented on #5866
No update yet, for now you'll either want to use `display: table` or roll your own directive that matches column widths to the content

[2018-01-23 00:27] andrewseguin commented on #5754
@nickwinger Have you considered creating a separate header cell component that has a filter below its text? I imagine this would be fairly simple to do and would avoid having to create an additional interface for a second header row that happens to match the columns of the first but with different content

[2018-01-23 00:29] andrewseguin commented on #9013
Valid point, I'll try to consider some more about how we can develop the interface for this use case

[2018-01-23 02:28] rafaelss95 commented on #8832
@DevVersion I just noticed that `expanded` input of `MatExpansionÇPanelComponent` is declared as this:

https://github.com/angular/material2/blob/7024dc49f8cc067da14be36a8172437e03074186/src/lib/expansion/expansion-panel.ts#L75

Is there any reason to it be declared this way? I'm asking because this way, AFAIK, it can't be documented.

[2018-01-23 03:07] aykutyararbas commented on #4118
@switch87  No worries, thanks.

[2018-01-23 04:19] speige commented on #4892
+1

[2018-01-23 05:07] pantonis commented on #7548
I think it already became quite simple to setup the table compared to previous versions. Never mind though didnt have morentime to wait switched to another table already. Keep up the good work

[2018-01-23 05:45] damoncasale opened #9529 "mat-icon has display issues when inlining multiple copies of the same SVG with defs with IDs"
#### Bug, feature request, or proposal:
Proposal: Extend the cloneSvg function in src/lib/icon/icon-registry.ts to accommodate munging IDs in defs so that multiple copies of the same inlined SVG won't have conflicting IDs.

#### What is the expected behavior?
When two copies of an SVG with a linearGradient def (identified by an ID) are inlined, both copies of the SVG should display the linear grad

[2018-01-23 05:46] zijianhuang opened #9530 "List item with textarea in List is not displayed well"
#### Bug

If the list has a textarea, either single line or multiple lines with directive matLine, the items are displayed badly. And the textarea won't accept Enter or Ctrl+Enter to break lines.

#### What is the expected behavior?

Look good. and scrollable when having a lot list items. textarea should allow multiple line.

#### What are the steps to reproduce?
In https://material.angular.io/com

[2018-01-23 05:50] Ukmandal commented on #2594
<md-input-container class="fullwidth">
        <input type="text" mdInput placeholder="First Name" id="firstname" [(ngModel)]="address.firstname" name="firstname">
      </md-input-container>

[2018-01-23 07:21] jepetko commented on #8419
for some reason MatDialogRef cannot be injected during the unit test execution. On the contrary, in the application it works like a charm.

My temporary workaround was to add a dummy value for MatDialogRef in the unit test as follows:

[code]

What the WizardModule looks like:

[code]

Template (somewhere in wizard.component.html) **NOTE**: mat-dialog-close is a directive with MatDialogRef depende

[2018-01-23 07:27] dlarr commented on #9522
Thank you so much for your tip, I'll try it right away and give feed back.

[2018-01-23 07:53] BamiGorengo commented on #606
Old and Closed, but for everyone who is still looking for a solution, here is mine:

## My MediaQuerie Mixins
[code]

## The Styles for the Sidenav Container
[code]

If you want, you can install my little mixin-lib direct from GitHub via npm and include the lib direct in your SCSS file with: `@import "~@devmonkeys/scss-elements/style";`

My code works ofc only if you use the fullscreen directive i

[2018-01-23 08:06] nickwinger commented on #5754
In combination with the sort functionality this is not possible to style good...
I think the mat-table just lacks flexibility.
It says so, but it is very strict and not flexibel at all...
It would have been better to split the table functionality into attribute directives and leave the html structure to the user

[2018-01-23 09:36] vthinkxie opened #9531 "add @angular/cdk/testing in the released package"
#### Bug, feature request, or proposal:

request

#### What is the expected behavior?

There are many useful test utils in `@angular/cdk/testing`, and we want to use them in our project.
please add `@angular/cdk/testing` in the the released package, thanks!

#### What is the current behavior?

there is no `@angular/cdk/testing` in the released package

#### What are the steps to reproduce?
Providi

[2018-01-23 10:51] pitops commented on #8984
@crisbeto can you please provide an ETA on this?

[2018-01-23 12:00] chitgoks opened #9532 "MatDialog not centered and not modal by default"
Using angular material 5.1.0

The MatDialog always opens at the bottom. I read one post about this issue with MDDialog, has the issue not been fixed? and the workaround should still be the same by overriding the mat-dialog-container class?

Also, i thought by default it would be modal but it does not seem to be so since i can click the button again and it creates another dialog.

[2018-01-23 12:16] petersalomonsen commented on #7975
Workaround when e.g. adding a search field to a toolbar and you don't want the space below is to set a negative margin:

`<mat-form-field  style=" margin-bottom: -10px">`

[2018-01-23 12:23] donroyco commented on #9532
Please use the [issue template](https://github.com/angular/material2/blob/master/.github/ISSUE_TEMPLATE.md) and provide a StackBlitz.

[2018-01-23 12:47] kevincaradant opened #9533 "How to use the force-item-list on the mat-autocomplete ?"
#### Bug, feature request, or proposal:
Question

I'm a little bit lost about this feature :https://github.com/angular/material2/issues/3334

Why it's seems exist since 2015: https://github.com/angular/material/issues/2492 ?

Can you explain me how to use this feature with a snipet code very simple ?
(I didn't see it in the official documentation)

And to be more clear, is there a way to tell, if

[2018-01-23 13:18] belavenuto opened #9534 "Datepicker: Year selection mode doesn't work with years before 1986"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Select year before 1986 correctly through "year selection mode", implemented in #8565

#### What is the current behavior?
The year 1985 is missing, so when you select any year before 1986, it selects a year later, for example, when you select 1981, datepicker selects 1982.

#### What are the steps to reproduce?
The is

[2018-01-23 13:22] bhaskar045 opened #9535 "slide-toggle not showing up with flex-layout in safari"
#### Bug, feature request, or proposal:

bug
#### What is the expected behavior?
mat-slide-toggle button should be rendered properly

#### What is the current behavior?
mat-slide-toggle button is not  rendering  properly in IOS 11 Safari browser web view.

#### What are the steps to reproduce?
https://angular-material2-issue-66jjcl.stackblitz.io

Refer Stackblitz and emulated / Test in IOS 11.2
##

[2018-01-23 13:32] willshowell commented on #9533
The two links you posted, (#3334, angular/material#2492) are for different libraries. The second one is for the Angular.js implementation of Material.

The feature does not yet exist in material2, so you should read through all the comments and discussion in #3334 to get an idea of the current workarounds. In particular, see https://github.com/angular/material2/issues/3334#issuecomment-352920220 a

[2018-01-23 13:32] Londovir commented on #4926
@crisbeto My apologies - I was looking at the API documentation on the Angular Material website, along with the example mat-selection-list shown there (the one with the shoe types). I then forked the stackblitz example from there and attempted to add both [(ngModel)] and [formGroup] style binding, at it would not work. I must assume that is because the stackblitz used on the official documentation

[2018-01-23 13:35] willshowell commented on #9531
I remember reading that they intend to eventually, but want to be careful about exposing anything too soon, because anything exposed in the release has to fall under semver.

[2018-01-23 13:56] Almar commented on #9531
I'm just here to support this request. I find testing hard and look at the source of @angular/material for inspiration. These tests use @angular/cdk/testing and I would like the same functionality.

[2018-01-23 14:15] sambaptista commented on #7975
10px is not enough considering size of padding.

`<mat-form-field style=" margin-bottom: -1.25em">`

I agree that spacings should be consistent in a form context, but on other contexts (like a search on a toolbar or in the header of a page) this spacing breaks layout gap consistency.

The user should be allowed to configure the mat-form-field component to never need this bottom spacing and remove

[2018-01-23 14:18] itLead797 commented on #5082
I'm doing something very similar to what @kadosh mentions above, but the mat-options do not appear to populate the DOM in Karma. The dropdown mat-option elements are NULL.

`
beforeEach(() => {
        fixture = TestBed.createComponent(ClassCodeComponent);
        component = fixture.componentInstance;
        fixture.detectChanges();
        instance = fixture.debugElement.nativeElement;

[2018-01-23 14:21] DevVersion commented on #9535
Thanks for your issue. Can you please provide a StackBlitz or Plunkr that shows your issue?

[2018-01-23 15:21] #8359 closed

[2018-01-23 15:24] #8915 closed

[2018-01-23 15:24] #4616 closed

[2018-01-23 15:26] #9231 closed

[2018-01-23 15:33] #9462 closed

[2018-01-23 15:35] #8924 closed

[2018-01-23 15:46] #9252 closed

[2018-01-23 15:47] #9360 closed

[2018-01-23 15:50] #9332 closed

[2018-01-23 15:51] #9353 closed

[2018-01-23 15:54] #3372 closed

[2018-01-23 15:55] #9311 closed

[2018-01-23 15:56] #9304 closed

[2018-01-23 15:57] #9292 closed

[2018-01-23 15:58] #9273 closed

[2018-01-23 16:00] #8928 closed

[2018-01-23 16:02] #9263 closed

[2018-01-23 16:02] #8982 closed

[2018-01-23 16:03] #9049 closed

[2018-01-23 16:05] #9239 closed

[2018-01-23 16:06] #9136 closed

[2018-01-23 16:09] #5212 closed

[2018-01-23 16:12] kevincaradant commented on #9533
@willshowell , oh ok sorry for the mistake between the two issues. I will glance a look at the comments :)

Thank you

[2018-01-23 16:12] #9147 closed

[2018-01-23 16:12] #4515 closed

[2018-01-23 16:15] #7855 closed

[2018-01-23 16:17] #8485 closed

[2018-01-23 16:18] hectotruj opened #9537 "How to toggle (show/hide) Tooltip?"
#### What is the current behavior?

I am trying to force show a tooltip when a method is `true`, how can I achieve this?
#### What are the steps to reproduce?
The process is described in the Tooltip [overview](https://material.angular.io/components/tooltip/overview#showing-and-hiding) and [API](https://material.angular.io/components/tooltip/api) but I can't find an example of its implementation.

[2018-01-23 16:32] jelbourn commented on #9510
You can file a new issue that fills out all of the information in the issue template.

[2018-01-23 16:46] josephperrott commented on #9537
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-23 16:46] #9537 closed

[2018-01-23 16:46] josephperrott commented on #9532
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate

[2018-01-23 16:46] #9532 closed

[2018-01-23 16:56] KlausHans opened #9539 "Document hue options available for mat-color sass function"
#### Bug, feature request, or proposal:
proposal: Improve documentation for theming

#### What is the expected behavior?
I find all informations i need in the material documentation regarding the theming feature, especially for custom components.

#### What is the current behavior?
I don't find all informations i need. Some examples
- how do i use the correct contrast value to a corresponding valu

[2018-01-23 16:56] ATakaSKY opened #9540 "mat-tab-group doesn't show styles for default tab selected"
#### What is the current behavior?
There are three tabs:`label1`, `label2` and `label3`. Inside each one of them there is another set of tabs. Now by default `label1` shows the selected style as well as `tab1` inside of it. Now once I click on another label like `label 2` another set of tab loads but none of them shows tab label highlighted. Same goes for `label3`. I explicitly have to click on th

[2018-01-23 17:14] carneirocorp opened #9541 "Error in sample file."
#### Bug, feature request, or proposal:
The first dialog help example has an reference error.

#### What is the expected behavior?
The Plunker should compile and show the example.

#### What is the current behavior?
It has a wrong reference to an html file that produces an exception.

#### What are the steps to reproduce?
* https://material.angular.io/components/dialog/overview
* Click on run the

[2018-01-23 17:15] NAHaley commented on #5224
@SteveDunlap13  that was excellent!  Just what I was looking for.

Would you have time  to make the class WMatTimePickerComponent implement MatFormFieldControl?

So that it can be wrapped in <mat-form-field></mat-form-field>

I have been working on it using the ideas presented on the Angular site for making a custom control here:
https://material.angular.io/guide/creating-a-custom-form-field-contr

[2018-01-23 18:27] andrewseguin commented on #9537
I've added some more info to the docs to address this confusion

https://github.com/angular/material2/pull/9544

Specifically to help you out, you can call the tooltip's `show` method when you want it to be displayed. This requires you to change your model of thinking from setting a flag from false to true, and instead proactively tell the tooltip what to do.

Check out this example as a case of t

[2018-01-23 19:08] andrewseguin commented on #9522
The `MatTableDataSource` was added in 5.0 _however_ if you want to just copy/paste the file into your library, it should work just fine.

Here's the class to copy: https://github.com/angular/material2/blob/master/src/lib/table/table-data-source.ts

[2018-01-23 19:11] andrewseguin commented on #8517
Closing as dupe of #8600

[2018-01-23 19:11] #8517 closed

[2018-01-23 19:15] andrewseguin commented on #6597
Unfortunately the mechanics of the table makes assumptions that there are no nested tables. In particular, it assumes that cells are created in a particular order, which would break if recursion is introduced.

[2018-01-23 19:58] andrewseguin commented on #9329
Looks like this is an issue in the Angular compiler. The `MatTable` extends `CdkTable` and should receive the same constructor dependency injection. Unfortunately this does not seem to be the case when targetting ES6. See the open issue for more information.

[2018-01-23 19:59] #9533 closed

[2018-01-23 20:31] pulsejet opened #9547 "Choppy dialog animation in Chrome on Android"
#### Bug, feature request, or proposal:
The dialog opening animation is really choppy on Android under Chrome (tested in Marshmallow, Chrome 63)

#### What is the expected behavior?
Animation should be smooth

#### What is the current behavior?
The dialog lags terribly while opening

#### What are the steps to reproduce?
Open the [example dialog](https://material.angular.io/components/dialog/overv

[2018-01-23 20:51] carneirocorp commented on #9541
Sorry, this seems to be a better fork...
https://stackblitz.com/edit/angular-tp9ybj

[2018-01-23 21:03] literalpie commented on #6244
Should developers be encouraged to set background colors of a theme? Or do we just want documentation on using the background color from a theme?

put differently:
Do we want to (a) show people how to change the value of `map-get($theme, background)`, or do we want to (b) document that `map-get($theme, background)` can be used?

[2018-01-23 21:12] #9541 closed

[2018-01-23 21:15] djadjavit opened #9550 "How to insert mat-menu panel to custom container?"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
Expand the mat menu on the full width of the screen.
#### What is the current behavior?
Hello everyone.
I have problem in my progect.
I need to create menu <mat-menu> and set width: 100%  of the window width.
Material2 create .mat-menu-panel and insert his to .cdk-overlay-container in `<body>`
But i need to inser

[2018-01-23 21:24] guilhermejcgois opened #9551 "No table overview on material cdk page"
#### Bug, feature request, or proposal:
No overview for material cdk [page](https://material.angular.io/cdk/table/overview)

#### What is the expected behavior?
That have some information in the page and theme works within the page

#### What is the current behavior?
No information and only have the default theme, theme can't be changed

[2018-01-23 21:35] yukund opened #9552 "Add mat-table inline editing for menus/drop-down lists"
#### Bug, feature request, or proposal:
feature request : mat-table inline editing with menus/drop-down-lists

#### What is the expected behavior?
Clicking on a table cell should show inline menus shown in below.
![image](https://user-images.githubusercontent.com/4123840/35301989-fa577408-00f1-11e8-926c-26079d7f0b56.png)

image is from https://material.io/guidelines/components/data-tables.html#dat

[2018-01-23 21:38] andrewseguin commented on #9552
Not sure the request here, do you want the table to have built-in support for a cell containing a menu? Have you tried just using mat-menu?

[2018-01-23 21:55] samtheprogrammer commented on #2503
+1

[2018-01-23 22:10] yukund commented on #9552
Hi @andrewseguin,  thank you for your reply.

Yes, I want to have build-in support for a inline menu.
I am thinking if I can pass relevant parameters to the table component (or cell directive), the table component then renders an inline menu based on the provided parameters. For example,  the parameters could be the cell is editable, type is drop down menu,  a list of items should be shown in the

[2018-01-23 22:20] nite commented on #9521
On second thoughts, this could be undesirable @mmalerba @jelbourn - feel free to adapt or reopen, but a user might type in an invalid date, then open the popup & browse near dates that are valid/unfiltered.

[2018-01-23 22:20] #9521 closed

[2018-01-23 22:29] nayfin commented on #8963
Additionally, most seem designed to simply append elements onto lists of other elements when dropped into a drop zone. I would love to see a "canvas" mode implemented to simplify the dropping into an absolute position of an element. This would be extremely useful for design oriented apps, where the user is building something from smaller elements. I used (interactjs)[http://interactjs.io] years ag

[2018-01-23 23:02] Eja26 opened #9553 "Dialog Component Demo - File Missing"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Working demos of dialog.

#### What is the current behavior?
Demos are missing a file.

#### What are the steps to reproduce?
Go to the [Dialog component page](https://material.angular.io/components/dialog), open one of the demos (the link to stackblitz), and you should be presented with message saying that a file is

[2018-01-23 23:11] andrewseguin commented on #9551
There's information on the page, and you can use the theme picker at the top right to change the theme.

![pzhjsyo9zov](https://user-images.githubusercontent.com/22898577/35305805-b9e4fd02-004f-11e8-8fae-3bb4a968df6c.png)

Please re-open with clarification if I've misunderstood the issue

[2018-01-23 23:11] #9551 closed

[2018-01-23 23:13] andrewseguin commented on #9274
Closing since the discussion mostly revolves around troubleshooting rather than an issue. Feel free to continue the discussion here.

Note that the data source input will soon open up to arrays and streams directly, as well as exposing the API for forcing the table to render row changes.

[2018-01-23 23:13] #9274 closed

[2018-01-23 23:17] andrewseguin commented on #8121
You can now override `sortData` to have full control over the data sorting.

[2018-01-23 23:17] #8121 closed

[2018-01-23 23:19] andrewseguin commented on #8396
Duplicate of #8612

[2018-01-23 23:19] #8396 closed

[2018-01-23 23:23] 21knowledgePHP commented on #4278
had the same problem I juste needed to make the file with JS library the last to be called after jquery

[2018-01-23 23:27] andrewseguin commented on #8795
Dupe of #2177

[2018-01-23 23:27] #8795 closed

[2018-01-23 23:29] andrewseguin commented on #9052
Is this because you are using the `MatTableDataSource`?

[2018-01-23 23:29] jelbourn commented on #9553
Duplicate of #9541

[2018-01-23 23:29] #9553 closed

[2018-01-23 23:29] jelbourn commented on #9550
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-23 23:29] #9550 closed

[2018-01-23 23:31] andrewseguin commented on #9131
The browser is returning focus to your button when you navigate back to the tab. When the button receives focus, it will display the tooltip. Since we cannot determine if the focus is from a tab-return or otherwise, we won't be able to fix this. Technically since the tab is focusing the button, it should display the tooltip.

[2018-01-23 23:31] #9131 closed

[2018-01-23 23:34] jelbourn commented on #9539
Your point on the contrast colors is fair, nothing really touches on that in the current documentation.

The rest is either [covered by existing guides](https://material.angular.io/guide/theming-your-components) or is outside the scope of Angular Material (e.g.  project structure)

[2018-01-23 23:36] jelbourn commented on #9531
See https://github.com/angular/material2/issues/5803#issuecomment-323211124

Someday will will spend some time to build out some real, public-facing test utilities, but today it's just a grab-bag of random stuff we needed to test out own components. We're not ready to support what's there as a public API.

[2018-01-23 23:36] #9531 closed

[2018-01-23 23:37] andrewseguin commented on #9485
This already works by specifying that your header cell should not wrap

https://stackblitz.com/edit/angular-rd9qkz?file=app/table-basic-example.css

See https://css-tricks.com/snippets/css/truncate-string-with-ellipsis/ for more information on making an element truncate text.

We cannot do this automatically for all header cells because not all header cells are made up of just text. Maybe if we in

[2018-01-23 23:37] #9485 closed

[2018-01-23 23:38] jelbourn commented on #9530
`mat-line` is meant to say "This is a single line of text", which a `textarea` is not. In general you should be able to put a `textarea` inside of a `<mat-list-item>` with some custom css; it's a pretty unorthodox use-case, so I wouldn't necessarily to expect it to be exact as you want it out of the box.

[2018-01-23 23:38] #9530 closed

[2018-01-23 23:40] andrewseguin commented on #9552
Sure here's an example of putting a menu in a table cell

https://stackblitz.com/edit/angular-qhmrwb?file=app/table-basic-example.html

We'll eventually want to introduce easy drop-in columns like this, but not sure that menu is a use case yet (first one will likely be a simple text-based column).

For now I think just putting a menu trigger in will solve your case.

[2018-01-23 23:40] #9552 closed

[2018-01-23 23:41] jelbourn commented on #9525
Duplicate of #8000

[2018-01-23 23:41] #9525 closed

[2018-01-23 23:42] andrewseguin commented on #6357
Not sure there is any actionable item on this issue except to put an example of two paginators, but that seems pretty specific to put into docs and probably not very helpful.

[2018-01-23 23:42] #6357 closed

[2018-01-23 23:51] andrewseguin commented on #8227
Another PR to improve docs as well as open up the table data source API to allow just normal data arrays and streams that emit arrays. If changes to your data occurs, you have the option to call `renderRows` rather than changing your data array reference.

https://github.com/angular/material2/pull/9489

[2018-01-24 00:01] jbw91 opened #9554 "CDK Table Overview Documentation Not Showing"
#### Bug, feature request, or proposal:
When I navigate to https://material.angular.io/cdk/table/overview the content that should be showing on the Overview tab does not load but simply is blank. The content appears properly on the API tab. I have tried several browsers including Chrome, Firefox, and Safari.

#### What is the expected behavior?
It should show the documentation regarding the CDK Ta

[2018-01-24 00:11] andrewseguin commented on #9554
Bummer, looks like this is a real issue. Just did a hard refresh and found the same

![5wsl9ydteje](https://user-images.githubusercontent.com/22898577/35307562-1135075c-0058-11e8-8a73-ffe5f7e689aa.png)

[2018-01-24 01:03] hobojoe commented on #9293
@HuntedCodes
I believe that it is because if you assign the id to the option's value, after the user selects an option, the displayed function would only receive the ID and not the whole object anymore:

See here:
https://stackblitz.com/edit/angular-qqcvcf?file=app%2Fautocomplete-simple-example.html

[2018-01-24 01:51] matheo commented on #5648
I've released `@coachcare/datepicker 0.7.0`
it uses the `touchUi` by default (popup only)
and it needs some heavy testing
even when it works for us very well.

Waiting for feedback https://github.com/selvera/npm-datepicker/issues
Enjoy!

[2018-01-24 01:59] chitgoks commented on #9532
never mind this. i got it to work. had to manually add

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

in styles.css

[2018-01-24 05:49] celestale commented on #5206
@crisbeto Hi, I have similar issues like this. I have `ngSwitch` on the elements. Do you know what is the probelm?

[2018-01-24 06:43] DomRaven commented on #4574
Just to add to this discussion, my dialog wasn't positioned correctly because I didn't add: **"../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"** to my styles in the **.angular-cli.json.**

[2018-01-24 07:13] Ukmandal commented on #7718
Can anyone please Help me with this?

compiler.js?dd9e:485 Uncaught Error: Unexpected value 'MatDialogRef' imported by the module 'AppModule'. Please add a @NgModule annotation.

[2018-01-24 07:56] javieraviles commented on #7718
@Ukmandal could you please provide your app.module.ts? Or the correspondant module of the view your are trying to load the modal in? I think you are declaring MatDialogRef on it or something like that instead of the MatDialogModule

[2018-01-24 08:23] oliveti opened #9559 "Datepicker ExpressionChangedAfterItHasBeenCheckedError on disable with focus"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

It should be possible to disable a focused date picker

#### What is the current behavior?

An error is raised when the datepicker field is disabled when the field is focused.

Error message :
`ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'mat-input-invali

[2018-01-24 09:04] zhao125787935 commented on #9457
I encountered a same issue after I upgraded to Angular 5 together with angular cli and material.

It reports an error: ``Error: No value accessor for form control with unspecified name attribute``

Here is my template:
` <mat-radio-group
	class="radio-group"
	[(ngModel)]="selectedValue"
	(ngModelChange)="_onChanged($event)"
	[formControl]="_ctrl"
	name="radioGroup{{_options.id}}"
	id="radioGroup{{

[2018-01-24 09:16] julianobrasil commented on #9457
@zhao125787935, your case seems a different question, more related to timming issues or to Angular itself (not to material). Try to put together a stackblitz working example reproducing the error (it doesn't look like it would be difficult) and oppen another issue with it.

[2018-01-24 09:42] lula commented on #5269
@JKing-B16 it seems to work properly with angular 5.1.1. See [this](https://plnkr.co/edit/J1oPV1kddbvrihbkLdRD?p=info) plunker I just created.

[2018-01-24 09:45] intellix opened #9560 "Tooltips activate/show on mobile should be configurable"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
That I can change tooltip show behaviour on mobile so it makes more sense to the user

#### What is the current behavior?
Tooltips can only be shown via longpress on mobile

#### What are the steps to reproduce?
StackBlitz starter (using latest `npm` release): https://stackblitz.com/edit/angular-material2-

[2018-01-24 09:58] thw0rted opened #9561 "mat-select shows placeholder instead of option when ngModel is undefined (REGRESSION)"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

`mat-select` should show the `mat-option` with no `[value]` when its `ngModel` is `undefined`.

#### What is the current behavior?

It shows its `placeholder` value instead.

#### What are the steps to reproduce?
Open the [examples tab in the docs](https://material.angular.io/components/select/examples), change "Sel

[2018-01-24 10:08] theS3ns commented on #3142
`Failed: Template parse errors:
        'mat-toolbar' is not a known element:
        1. If 'mat-toolbar' is an Angular component, then verify that it is part of this module.`

`beforeEach(async(() => {
    TestBed.configureTestingModule({
      schemas: [NO_ERRORS_SCHEMA],
      imports: [
        MatToolbarModule
      ],
      declarations: [
        DashboardComponent,
        ToolbarComponent

[2018-01-24 10:16] dlarr commented on #9522
I managed this but I have no Idea how...

I was feeding my collection in a service callback, but I had a weird way to build the collection (business specific sorting)

1- I removed the weird sorting functionnality (commented) => Datatable was fed
2- I put the EXACT same sorting feature (uncommented) => Datatable was fed, and it's working since then....

I'll keep this source for further needs.

Ma

[2018-01-24 10:16] crisbeto commented on #9561
This is the expected behavior. Closing as a duplicate of https://github.com/angular/material2/issues/7758.

[2018-01-24 10:16] #9561 closed

[2018-01-24 10:46] intellix commented on #9560
ok, it seems a workaround is to add `#tooltip="matTooltip" (touchstart)="tooltip.show()"`

[2018-01-24 10:47] nite commented on #9516
Related issue: the year  chooser currently opens with 2016-2018 and all the way up to 2039 - this is less desirable than showing say 2000-1006 by default. Supplying `max` date doesnt impact this.

[2018-01-24 11:10] devforey opened #9562 "Basic `mat-icon` not showing in UCBrowser v11.5"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Basic `mat-icon` not showing in UCBrowser v11.5

#### What is the current behavior?
Basic `mat-icon` should be showing in UCBrowser v11.5 just like SVG `mat-icon`

#### What are the steps to reproduce?
Install UCBrowser v11.5 in your mobile device and visit https://material.angular.io/components/icon/overview

#### Wh

[2018-01-24 11:32] hpawe01 opened #9564 "[mat-dialog] Example source and StackBlitz broken"
#### Bug, feature request, or proposal:
In the mat-dialog-example (https://material.angular.io/components/dialog/examples) the file `dialog-overview-example-dialog.html` is missing (in source and StackBlitz). The example on the webpage works though.

#### What is the expected behavior?
File `dialog-overview-example-dialog.html` should be in the source and StackBlitz example should work

#### What

[2018-01-24 11:48] caiusCitiriga opened #9565 "Breakpoint Observer triggers falsy media queries when scaling"
#### Bug, feature request, or proposal:
[Bug]?

#### What is the expected behavior?
I'd expect to see the very last match when scaling.

#### What is the current behavior?
When enabling the observer and passing the Bootstrap's breakpoints as rules (XL, L, MD, SM, XS) the observer correctly triggers the matches, but when I scale from let's say L to MD, and arrange the array of rules (see plunker) f

[2018-01-24 12:42] ranbuch opened #9566 "expansion panel scroll infinitely down"
#### Bug, feature request, or proposal:
I suspect that if the user is scrolled all the way down there's some infinite loop that endlessly scrolls down.

#### What is the expected behavior?
I would expect that the user would be able to scroll up is he chooses to.

#### What is the current behavior?
The user cannot scroll up if he reaches to the end of the page (if he scrolls all the way down).

###

[2018-01-24 12:57] donroyco commented on #9564
[The file](https://github.com/angular/material2/blob/master/src/material-examples/dialog-overview/dialog-overview-example-dialog.html) is in the repository though...

[2018-01-24 13:23] VangelisAlSghir opened #9567 "Key Code of NINE is wrong"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
If I call NINE from @angular/cdk/keycodes, I expect 57

#### What is the current behavior?
If I call NINE from @angular/cdk/keycodes, I get 91

#### What are the steps to reproduce?
Just compare the table of key codes here: https://www.cambiaresearch.com/articles/15/javascript-char-codes-key-codes

with the key codes

[2018-01-24 13:26] Tiedye commented on #8963
As mentioned dojchek full support for state management like ngrx/redux is very important.  We don't yet have an angular dnd library that does.

[2018-01-24 14:02] DevVersion commented on #9564
Thanks for the issue. This issue has been fixed yesterday with https://github.com/angular/material2/commit/e5c8880bfdb7868f92bdf8429d1bfb44c33e59da

[2018-01-24 14:02] #9564 closed

[2018-01-24 14:05] DevVersion commented on #9519
I'm going to close this issue, because there is nothing we can do on our end.

[2018-01-24 14:05] #9519 closed

[2018-01-24 14:10] DevVersion commented on #7600
Performance for ripples should be much better now. The ripples now use passive event listeners, which should improve the performance of the ripples at initialization and runtime.

Also we updated the ripples to no longer register events, if the ripples are disabled initially using `disableRipple` for example.

If you still see performance issues, please open a new issue or ping me here. Thanks

[2018-01-24 14:10] #7600 closed

[2018-01-24 14:59] nishant-varshney opened #9569 "Function on (closed) of <mat-expansion-panel> is called when I am opening the another panel."
I am using the mat-accordion and inside this there is multiple mat-expansion-panel. On the very first mat-expansion-panel i am calling a function on (closed). By default very first  mat-expansion-panel is closed.Now when the page loads and i am clicking on second  mat-expansion-panel  then the function on very first  mat-expansion-panel (closed) is getting called. I want that when we open a collap

[2018-01-24 15:35] #9427 closed

[2018-01-24 15:39] #5412 closed

[2018-01-24 15:43] #9227 closed

[2018-01-24 15:45] #4179 closed

[2018-01-24 15:46] #7923 closed

[2018-01-24 15:48] #9501 closed

[2018-01-24 15:48] #9156 closed

[2018-01-24 15:50] #7315 closed

[2018-01-24 15:51] #6816 closed

[2018-01-24 15:52] jelbourn commented on #8963
What would be an example of a scenario w/ ngrx interplay with drag-and-drop?

[2018-01-24 16:03] DevVersion opened #9570 "dashboard: github token for functions is invalid"
Looks like the GitHub token for the dashboard firebase functions is no longer valid / doesn't have the necessary permissions.

[2018-01-24 16:09] jelbourn commented on #9554
@DevVersion could you take a look? I suspect this has something to do with the combination of dgeni generating the file and the docs site consuming it.

[2018-01-24 16:10] jelbourn commented on #9569
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2018-01-24 16:10] #9569 closed

[2018-01-24 16:14] jturmel commented on #8986
Chrome 63 on iOS exhibits this same issue.

[2018-01-24 16:19] josephperrott commented on #9566
It looks like the credentials you provided to view the reproduction does not work.

Can you provide a reproduction in either [Plunker](https://goo.gl/uDmqyY) or [StackBlitz]( https://goo.gl/wwnhMV)

[2018-01-24 16:31] josephperrott commented on #9565
Closing as this is actually working as expected.  The issue you are seeing is caused by how the media query matcher strings are written.

`'(min-width: 1200px)', '(max-width: 1500px)'` will be matched if either provided query is true, if `width` is `>1200` **OR** `<1500`.  What you are looking for is `>1200` **AND** `<1500`.

Instead of the media query  string should be written as `'(min-width: 12

[2018-01-24 16:31] #9565 closed

[2018-01-24 16:33] josephperrott commented on #8880
Closed by #9357

[2018-01-24 16:33] #8880 closed

[2018-01-24 16:34] josephperrott commented on #8592
Closed by #9313

[2018-01-24 16:34] #8592 closed

[2018-01-24 16:55] ranbuch commented on #9566
My bad,
It's:
ranbuch@gmail.com
r123456

[2018-01-24 17:06] josephperrott commented on #9566
I definitely see the issue you are talking about in this page specifically, however there is no way to determine if the issue is coming from a specific component.  Many Material components (and I assume application components specific as well) are used in the page, so its hard to know what components are at play.

Can you provide a reproduction in either [Plunker](https://goo.gl/uDmqyY) or [StackB

[2018-01-24 17:34] dallastjames commented on #8963
Not sure if this is quite the example you're looking for but I have a site that I maintain that uses drag and drop to create a data sorting functionality. We built it to be closely tied into ngrx where each of the containers (items to be sorted and a container for each category is populated via ngrx store selector. When the user drags an item from one list to another, we cancel all the default dra

[2018-01-24 17:41] walhow commented on #8227
Agreed, I think allowing normal arrays to be the datasource would simplify
things for a lot of users.

On Tue, Jan 23, 2018 at 6:51 PM, Andrew Seguin <notifications@github.com>
wrote:

[2018-01-24 18:23] crisbeto commented on #9348
This sounds like an issue with `@angular/animations`. [You can file an issue on the core repo](https://github.com/angular/angular/issues/new).

[2018-01-24 18:23] #9348 closed

[2018-01-24 18:30] reppners commented on #8963
I've ported a angularjs library but intentionally just implemented drop zones to be as general purpose as possible. By having a general purpose drop zone all the ngrx use cases should be possible as well because the library just informs you something has been dropped. What should happen with that event is all up to the developer.

https://github.com/reppners/ngx-drag-drop

So if you're asking for

[2018-01-24 18:34] lharries commented on #9278
Hi @andrewseguin I'd be keen to give this one a go

[2018-01-24 18:36] momoadeli opened #9572 "mat-table 'data-source' bug/inconsistency"
#### Bug, feature request, or proposal:
`<mat-table>` datasource doesn't work on async/change detection-OR unify change detection process

#### What is the expected behavior?
datasource should trigger change detection regardless of whether hard set or set after async return of data (within a 'subscribe')

#### What is the current behavior?
datasource works one way when set to a const. eg:
**WORKS*

[2018-01-24 18:39] andrewseguin commented on #9278
Sounds good to me, let's set the requirements and iterate from there:

- Needs to be optional (turned on through some `Input()`)
- Should be able to draw up some icons that match the material icon (can't use the icons directly, should be done with divs): https://material.io/icons/#ic_first_page and https://material.io/icons/#ic_last_page
- Needs tests
- Needs to be added as an example in documenta

[2018-01-24 18:45] andrewseguin commented on #9572
When the table receives new data, it checks to see if there are changes since the last data array. If there are changes, it will add/remove/move rows accordingly. If a row is inserted, it will mark for check so that cells fill in with the right content.

In your example, you are saying that when the data changes, the table does not check for changes. Can you reproduce this in a stackblitz so we ca

[2018-01-24 18:46] lharries commented on #9278
I agree with the above requirements.

For tests would it just be the spec tests? I don't see the paginator in the e2e tests.

[2018-01-24 18:54] andrewseguin commented on #9278
Yup just some spec unit tests would suffice, try to consider the main case and edge cases, e.g. the jump-to-first button should be disabled when on the first page

[2018-01-24 19:08] danieldaeschle opened #9573 "Elevation"
Please add Documentation for elevation. Didn't found anything.

[2018-01-24 19:30] #9573 closed

[2018-01-24 19:41] pos1tron commented on #9457
For anyone coming here trying to figure out how to make a group of radio buttons stay in sync across a table row, here's what I'm doing to make it work:
[code]
You have to bind to `checked` and pass it a `false` when the selected value no longer matches the radio buttons value.

[2018-01-24 19:45] yukund commented on #9552
@andrewseguin , thank you for the example. I have a question.
you added a button to a cell and used the  button to trigger a menu
[code]

If I would like to use **mat-select instead of mat-menu,** how should I trigger it when users click a table cell?  thanks
the select looks like that
[code]

[2018-01-24 19:54] andrewseguin commented on #9552
It's really no different, the select should handle itself just fine. Just put a select into the cell

https://stackblitz.com/edit/angular-qhmrwb-qyznkn?file=app/table-basic-example.html

[2018-01-24 20:26] dresdor opened #9576 "mat-table and mat-paginator on click not firing"
#### Bug, feature request, or proposal:
Previously functioning on-click event for mat-table does not fire after pagination is added.

#### What is the expected behavior?
Pagination should not have an effect on whether or not an onclick event fires.

#### What is the current behavior?
Pagination is preventing an onclick event from firing.

#### What are the steps to reproduce?
Providing a StackBlit

[2018-01-24 20:28] #9576 closed

[2018-01-24 20:29] HuntedCodes commented on #9293
@hobojoe That's what I discovered too. The Autocomplete component understands objects internally.
An option gets pre-selected during initialization by passing an object, and when new options are
selected, objects are returned.

The goal was to return the ID of a selected object from the autocomplete `FormControl`,
directly assigning it to a field on a related object.

The object hierarchy goes:
[c

[2018-01-24 20:29] #9293 closed

[2018-01-24 20:29] dresdor commented on #9576
Naturally found the bug immediately after posting this after searching for two hours.  I changed part of the backend code to remove an extraneous variable and it broke the displayDetail method.

[2018-01-24 20:33] willshowell opened #9577 "[ripple] add `terminateOnMouseup` option to RippleGlobalOptions"
#### Bug, feature request, or proposal:
Proposal

#### Current behavior
All ripples complete their transformation animation before fading out opacity. This matches the MDC implementation.

#### Proposed behavior
In some implementations of the Material spec (and to some eyes, like mine), starting the fade out on mouseup is more desirable.

An option such as `terminateOnMouseup` that would globally

[2018-01-24 21:07] momoadeli commented on #9572
So I have this working in an 'Angular change detected' the way like it should. There are a couple of nuances which would've helped if documented. Basically, the datasource CAN be set within a simple async service `**map()**` (`**not subscribe()**`). No need for that extraneous
`export class UserDataSource extends DataSource<any>`.  So the below works:

`dataSource =  new MatTableDataSource();` <==

[2018-01-24 22:06] alvipeo commented on #8963
Here's today's story - I started to work on a project about week ago, and the first step was to create some "screens" with angular. The app users will be those similar to YouTube users. So i used material for the prototype. .. And on today's meeting the client said he didn't like the design at all. Lots of elements missing and those present are not attractive enough. So we bought a set of componen

[2018-01-24 22:14] julianobrasil commented on #9572
@momoadeli, as @andrewseguin proposed above, try to reproduce it in a stackblitz. Why would the behavior be any different in each case (code is in map and in subscribe)?

[2018-01-24 22:22] ranbuch commented on #9566
Couldn't reproduce in Plunker (works fine there) but I've published a new version of my Application without the `--prod` flag.
I've clicked to the `body` element on the `devtools` and under `Event Listeners` => `scroll` there's only 1 event.
This event listener is coming from `zone.js` file.
There's indeed an infinite loop there.
I'm able to scroll the page up using touch though.

I do belie it's

[2018-01-24 22:33] #6158 closed

[2018-01-24 22:33] ranbuch commented on #9566
I've just removed the `expansion panel` locally and the problem was fixed. The `zone.js` event listener is still there but it is firing only on `scroll`. If you want I can publish this version as well.

[2018-01-24 22:36] lharries commented on #9278
Whilst doing the above I found two (non-breaking) bugs in the spec file. Would it be best to do them as separate PRs or in the same PR that I'm currently working on when I have completed this feature?

1. A test was wrongly named. [See fix here](https://github.com/lharries/material2/commit/8e2197dc13f3e25815fc38690af00009dd4a1cb5)
2. There was an off-by-one error where the index of the last page w

[2018-01-24 22:42] andrewseguin commented on #9278
Good catch - if you submit the fixes via separate PRs, that'd be a lot easier for us.

[2018-01-24 22:44] lharries commented on #9278
Thanks! And will do

[2018-01-24 22:48] lharries commented on #9278
Do I need to create an issue for them or straight to the PR?

[2018-01-24 22:51] jelbourn commented on #9502
@alexeagle we probably need to do something extra to make our packages bazel-friendly. It probably makes the most sense to wait until the `ng_package` rule is ready and just use that.

[2018-01-24 22:55] miguelramos opened #9581 "[Tools] Closure compiler failure on demo-app"
#### Bug, feature request, or proposal:
Closure compiler not working or missing docs to how to use it.

#### What is the expected behavior?
Compile demo app with closure compiler.

#### What is the current behavior?
Running script for closure compiler trigger errors.

![image](https://user-images.githubusercontent.com/495720/35361497-7d6d2f60-0159-11e8-9691-80ecd101f991.png)

#### What are the ste

[2018-01-24 22:55] jelbourn opened #9582 "Make all EventEmitters readonly"
All of the `EventEmitter` instances on our components should be `readonly`.

[2018-01-24 22:57] andrewseguin commented on #9572
Not sure what you are struggling with but it doesn't seem to be an issue. If you find something wrong with the table then feel free to open up the issue with a stackblitz

[2018-01-24 22:57] #9572 closed

[2018-01-24 22:57] andrewseguin commented on #9278
No issue needed, just a PR will do

[2018-01-24 23:00] lharries commented on #9278
Will do.

On a side note: for the Component attribute of showing/hiding the first and last buttons would you have any recommendations on naming? I am thinking `hideFirstLastButtons`, which would be similar to the current `hidePageSize`?

[2018-01-24 23:10] andrewseguin commented on #9278
Naming tends to be one of the harder parts of these sort of features.

By default, the paginator shouldn't show the first/last buttons anyways since the material spec doesn't include them. I imagine the flag would be more like `showFirstAndLastButtons`.

Curious how the interaction would look if you had a paginator for an "infinitely" long list. You'd want to make sure you can easily hide the Jump

[2018-01-24 23:12] lharries commented on #9278
Ok, I'll make the first/last buttons hidden by default and implement the `showFirstAndLastButtons` attribute.

Shall I add `showFirstButton` and `showLastButton` too to allow the control such as with the "infinitely" long list?

[2018-01-24 23:15] andrewseguin commented on #9278
Since its a pretty uncommon case and I'd lean more towards keeping a thinner API surface, let's leave those off. In that case it should be fairly trivial to just add a `display: none` to the last button.

If it comes up from users in the future, we can always add it in then

[2018-01-24 23:16] lharries commented on #9278
Great point

[2018-01-25 00:28] ranbuch commented on #9566
Looks like the issue is occurring even after I've removed the `expansion panel`, I'm so sorry to have misled you.
Still don't know what it is and if it's even related to this repository.
I'll close the issue until proving otherwise.

[2018-01-25 00:28] #9566 closed

[2018-01-25 00:41] lharries commented on #9278
Is there a best practice for doing multiple PRs for the same file to avoid the conflicts on merge?

[2018-01-25 00:45] dgfranklin commented on #8000
Just to track other instances of this, the touch targets for mat-button are also too small.

Icon buttons and mini fab buttons are 40x40.  Basic buttons and raised buttons sizes are determined by their content but are generally also undersized (for example on the [reference page](https://material.angular.io/components/button/examples)).

#### Demo
See: https://stackblitz.com/edit/angular-cf8thc (a

[2018-01-25 01:10] lharries commented on #9278
I have added the first and last buttons to the [demo app](https://github.com/lharries/material2/commit/cd1645ddc626a7352e412e5e8e49ebef27198adc), in a new table, and to the [material-examples](https://github.com/lharries/material2/commit/f98176d9534cf74b2bcb92e7b3ccb73b0b7c52c3), to the existing table, is this correct or would there be a better way to do this.

Additionally, would we need to submi

[2018-01-25 01:37] rafaelss95 opened #9587 "Prefix all interfaces/types with `Mat`"
#### Bug, feature request, or proposal:
Maybe a proposal.

#### What is the expected behavior?
I'd expect all interfaces/types to have the `Mat` prefix for consistency.

#### What is the current behavior?
Not sure if it was intentional, but there are some interfaces/types that aren't prefixed by `Mat`.

Ex.:

https://github.com/angular/material2/blob/a5ca9ceec6cc3bcd4ad0e9f44a63ef5ed2c2144e/src/li

[2018-01-25 02:17] raj2008 opened #9588 "missing dialog-overview-example-dialog.html"
#### Bug, feature request, or proposal:
The example given in https://material.angular.io/components/dialog/examples is missing the dialog-overview-example-dialog.html

#### What is the expected behavior?
The given code should work in stackblitz

#### What is the current behavior?
given example code at https://material.angular.io/components/dialog/examples  https://stackblitz.com/angular/mrqyypvarr

[2018-01-25 02:50] benlesh commented on #8963
It's probably important to come up with a list of drag, and drag and drop related use cases. What sort of things are we dragging? What sort of drop targets are we going to have? I suspect there's probably more permutations of the latter: single drop targets, groups of drop targets, nested drop targets. There's also a variety of ways that you might want to execute logic when interacting with those

[2018-01-25 06:09] timmoy commented on #9539
Hi, I was hoping to take a stab at this.

Would adding the available values and a link to the online palette to the theming.md file like [this](https://github.com/timmoy/material2/commit/77f8a5dd750dfd00d3003d27e71615812c7c803f#diff-2c834b4aac83c9dc70c24b0cbf988731) be the way to go? Inserting it before or after the example code block seems like an abrupt change in topic, and this seemed like the

[2018-01-25 06:22] NagPraveen opened #9589 "mat-card not responsive for small screens"
#### Bug, feature request, or proposal:
mat-card is not responsive when it is loaded in a small screen in the browser.

#### What is the expected behavior?
mat-card should adjust width of image/content inside the card or should give a scroll bar at bottom end of card.

#### What is the current behavior?
Only portion of content in the card is visible.

#### What are the steps to reproduce?
1.open m

[2018-01-25 06:58] manju-reddys commented on #8963
Interesting library written in [ES6 Drag and Drop lib](https://github.com/Shopify/draggable)

[2018-01-25 07:33] donroyco commented on #9588
Please use the search function before opening duplicate issues. See #9564 and commit https://github.com/angular/material2/commit/e5c8880bfdb7868f92bdf8429d1bfb44c33e59da

[2018-01-25 07:34] crisbeto commented on #9587
I'm not sure whether this is necessary. Whoever is importing the symbol can figure out that it's from Material seeing that it comes from `@angular/material/*`.

[2018-01-25 07:34] donroyco commented on #9589
That's because `.example-card` has a set width of `400px` ([see CSS reference](https://github.com/angular/material2/blob/master/src/material-examples/card-fancy/card-fancy-example.css#L1)). If you remove it, the card is responsive (again).

![screen shot 2018-01-25 at 08 33 47](https://user-images.githubusercontent.com/1763537/35376271-8e767464-01aa-11e8-8a91-c201432b3e00.png)

[2018-01-25 07:41] #9588 closed

[2018-01-25 07:52] Namkem commented on #9510
Thank You Very Much.

[2018-01-25 08:39] somnathswami opened #9591 "Grid List responsive for small screen"
#### Bug, feature request, or proposal:
i created grid list with column 6 and i want to be grid title take 100% width on small screen devices

#### What is the current behavior?
it creates 6 column on small screens as well

[2018-01-25 09:25] hoangthau opened #9592 "[Tabs] Automatically page scrolls to top when switching between some tabs"
#### Bug, feature request, or proposal:
We found a bug. We had top content and a tab group below this content. And then we scrolled a little bit to bottom. We switched between some tabs. Now, page scrolled to top automatically.

**It only occurs when we have top content on this page.**

#### What is the expected behavior?
Page should keep scroll position when switching some tabs

#### What is the

[2018-01-25 10:33] akang commented on #8414
@mariannafld lovely. I too just wanted some material design elements but not the whole 9 yards.

[2018-01-25 10:33] richardsengers commented on #8416
I think the answer of @egavard should be the default setting for a checkbox. I can't think of a case when you would want a checkbox label to overflow it's container

[2018-01-25 11:37] kukac7 opened #9594 "cdk scrolling usage, demo?"
i'm trying to put together the [test](https://github.com/angular/material2/blob/master/src/cdk/scrolling/scroll-dispatcher.spec.ts) of how to put a "scrollspy" together.
but unfortunately i did not find any help in the [documentation](https://material.angular.io/cdk/scrolling/overview).

can you expect a user manual?
thanks!

[2018-01-25 13:17] bhawin-bigstep opened #9595 "Problem while Updating Angular Material?"
#### Bug, feature request, or proposal:
I Just Upgraded `@angular/material` from 2.0.0-beta.8   to   5.1.0
Now i am getting tons of error on build

Also my app with 2.0.0-beta.8 version of angular/material is hanging for 2 seconds before starting

#### What is the expected behavior?
The New version of angular material should also work fine

#### What is the current behavior?
Now i am getting tons

[2018-01-25 13:36] bhawin-bigstep opened #9596 "@angular/material@2.0.0-beta.8 is making app to hang for 2 seconds on loading."
#### Bug, feature request, or proposal:
@angular/material@2.0.0-beta.8 is making app to hang for 2 seconds on loading.

#### What is the expected behavior?
App shoud work fine

#### What is the current behavior?
App is hanging for 2 sec on Load

#### What are the steps to reproduce?
http://mobiledemo.socialengineaddons.com/
In this website the app is loaded in iframe

#### Is there anything else w

[2018-01-25 14:15] lharries commented on #9278
I came across another bug, where the classes of the increment and decrement icons were wrongly named. I have implemented a fix in a separate PR #9597

[2018-01-25 14:23] julianobrasil commented on #9591
This is not the right channel for this kind of question. Post your stackoverflow, which is a more suitable avenue for It. If you want, post the link to your question at stackoverflow over here and I'll try to help you over there. And, of course, close this issue.

[2018-01-25 14:37] CDDelta commented on #9595
Look through the [changelog](https://github.com/angular/material2/blob/master/CHANGELOG.md) for breaking changes. A noteworthy change is the [deprecation of Md prefixes](https://github.com/angular/material2/blob/master/CHANGELOG.md#deprecation-of-md-prefix).

[2018-01-25 14:58] Epenance commented on #6071
I've been playing a bit around with the CDK and made a npm package to help out with this too.

What I've come down to that the detatchBackdrop should really only remove the -showing class and not the backdropClass that you attached in the config.

That way you can easily control the transitions and their durations with CSS on your own classes, and it's very useful if you have many different backdr

[2018-01-25 14:59] marzn opened #9598 "MatTooltip show() behaves like toggle()"
#### Bug, feature request, or proposal:
MatTooltip.show() behaves like I expect it from MatTooltip.toggle()

#### What is the expected behavior?
show() should not toggle the tooltip, but shows it, independent if it is shown or hidden actaully.

#### What is the current behavior?
show() toggles the view

#### What are the steps to reproduce?
https://stackblitz.com/edit/angular-qqg9qp

#### What is

[2018-01-25 15:01] crisbeto commented on #6071
There's https://github.com/angular/material2/pull/6627 that should provide some more flexibility.

[2018-01-25 15:04] Epenance commented on #6071
Was actually following that issue hoping for it to merged some time back last year, but it never seemed to get in :(

[2018-01-25 15:09] crisbeto commented on #9598
AFAIK what you're seeing here is the tooltip's behavior where it closes on any click.

[2018-01-25 15:11] kylecordes commented on #7477
@AsafAgranat I finally got back to publishing my example of mat-table inside a auto complete drop-down. unfortunately I haven't hit the situation you describe after all, I have not had a need to change the height of the rows, and therefore the highlighting "just works". You can see it in action here:

https://oasisdigital.github.io/angular-material-obs-autocomplete/multi

The code for this bit is

[2018-01-25 15:15] Epenance commented on #6071
Actually managed to fix the visual part of it by doing the following in the css:

[code]

[2018-01-25 15:15] andrewseguin commented on #9598
@crisbeto is right, looks like you are mistaken due to the click you are performing. Material design spec states that clicks should close the tooltip.

See the code here for show, which doesn't have any toggle-behavior: https://github.com/angular/material2/blob/master/src/lib/tooltip/tooltip.ts#L256

[2018-01-25 15:15] #9598 closed

[2018-01-25 15:17] andrewseguin commented on #9596
Sorry but we'll be unable to diagnose the issue here or provide any fixes. If you want help architecting/developing your app, you may want to reach out to the people on StackOverflow or Gitter or any other material2 group.

[2018-01-25 15:17] #9596 closed

[2018-01-25 15:18] andrewseguin commented on #9595
You're best bet might be to upgrade one version at a time til you reach 5.0. Each beta release had a lot of breaking changes, especially as we got closer to the RC candidates. As @CDDelta pointed out, check out the changelog for help upgrading through the releases

[2018-01-25 15:18] #9595 closed

[2018-01-25 15:19] pjmagee commented on #9587
I guess an argument would be that most people would type MatToggleType or read markup with angular code and know the types are specifically based around Material Design. Another good reason for prefixing is less clashing? Also, if many are already prefixed, than doesn't that mean a small percentage that aren't prefixed are essentially going against an implicit or unspoken conventional coding style

[2018-01-25 15:27] lharries commented on #9278
I believe I have managed to implement the icons correctly with divs:
![image](https://user-images.githubusercontent.com/22766134/35396143-08234722-01e4-11e8-90f7-b3d344f29b19.png)

I will submit a PR for the feature now, let me know if there is anything you'd like changed.

[2018-01-25 15:41] #9251 closed

[2018-01-25 15:42] #9582 closed

[2018-01-25 15:44] #9567 closed

[2018-01-25 15:44] #9516 closed

[2018-01-25 15:45] #9406 closed

[2018-01-25 15:45] #8141 closed

[2018-01-25 15:45] #7716 closed

[2018-01-25 15:48] flipZomb opened #9601 "Issue with Sidenav and scrollbar"
#### Bug, feature request, or proposal:
Issue with sidenav and scrollbar

#### What is the expected behavior?
Should look nicer

#### What is the current behavior?
A "mat-sidenav" is shown with, for example, one item, and no scrollbar. Then lots of items are added and a scrollbar is shown. On IE and Chrome this scrollbar is rendered above the contents of the "mat-sidenav-content". After hiding and

[2018-01-25 15:52] andrewseguin commented on #9278
Awesome looks great!

When we launch the material.angular.io site with these changes, the script we use will automatically pull in your docs and example

[2018-01-25 15:58] lharries commented on #9278
Thanks very much!

Not sure if you saw my previous message: "Is there a best practice for doing multiple PRs for the same file to avoid the conflicts on merge?"

The new PR will include the changes made in the previous 3 bug fixes

[2018-01-25 15:59] jelbourn commented on #9539
@timmoy I mainly had in mind the fact that our theming supports specifying contrast, lighter, and darker colors, though it is probably worthwhile to link out to the colors page of the Material Design spec.

[2018-01-25 16:04] andrewseguin commented on #9278
Ah right - go ahead and include the fixes in your PR and then write in the description that they include fixes from the other PRs and that the PR is blocked until the others are in. Since they are small I imagine they will be merged fairly quickly. Once they are in, you can rebase and remove the disclaimer on your final PR

[2018-01-25 16:19] josephperrott commented on #9591
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-25 16:19] #9591 closed

[2018-01-25 16:53] croso-df commented on #8986
Same issue in Chrome 64 Windows. Scrolling not getting blocked.

[2018-01-25 17:11] lharries commented on #9278
Thanks Andrew, will do!

[2018-01-25 18:41] #9589 closed

[2018-01-25 18:52] chandru1822 opened #9605 "Need upload styling using Angular and Material"
I need a Upload button using Angular and Material. I have checked in the https://material.angular.io/ . But I can't find here.Please help me out regarding this.

[2018-01-25 18:54] josephperrott commented on #9605
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate

[2018-01-25 18:54] #9605 closed

[2018-01-25 19:32] Tiedye commented on #8963
If we could have this: https://github.com/react-dnd/react-dnd for angular, I would be very satisfied.

[2018-01-25 19:47] willshowell commented on #9278
This is awesome. Great work @lharries!

[2018-01-25 20:14] olexandrman opened #9606 "Choose year and month in datepicker"
Can we choose in the DatePicker only year and month (day must be choose by default)?
For example:
- if in year view mode and the user selects july/2017, the component parse it to the first day of july. Something like new Date(2017,6,1);
- if in "decades" view mode and the user selects the year of 2017, the component parse it to the first day of 2017. Something like new Date(2017,0,1).

[2018-01-25 20:45] nishant-varshney opened #9607 "How to get body of mat-expansion-panel from a component"
I am using mat-accordion and I am having approximately 10 mat-expansion-panel inside a mat-accordion . Now I want that I can get each mat-expansion-panel from a separate component to reduce the code complexity. But when I am doing the same mat-expansion-panel opening and closing is not working properly. How can I achieve the same?

If you are having any other technique kindly suggest.

Below is sa

[2018-01-25 20:52] donroyco commented on #9607
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-25 20:53] josephperrott commented on #9607
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate

[2018-01-25 20:53] #9607 closed

[2018-01-25 20:58] #9554 closed

[2018-01-25 21:01] DevVersion commented on #9280
Just chatted about this with the team. We decided to not explicitly treat `0` as a falsy value for the `coerceBooleanAttribute` function, because it would be a **major breaking change**.

Also by looking at native elements, and how they treat zero in an attribute, zero doesn't have any effect as well (_which aligns with our decision_).

I'm going to close this issue, but would be still happy to co

[2018-01-25 21:01] #9280 closed

[2018-01-25 21:16] josephperrott commented on #9606
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-25 21:16] #9606 closed

[2018-01-25 21:42] Juraji commented on #9421
@crisbeto as I noticed a bit too late... Sorry for wasting your time.

[2018-01-25 23:24] jelbourn commented on #73
Closing this since it's something that would be implemented out of the scope of Angular Material.

[2018-01-25 23:26] jelbourn commented on #142
Closing this since we now have this running in Google's internal infrastructure.

[2018-01-25 23:26] #142 closed

[2018-01-25 23:29] jelbourn commented on #1126
You should be able to disable them now via Angular animations

[2018-01-25 23:29] #1126 closed

[2018-01-25 23:30] jelbourn commented on #1590
@tinayuangao is this still valid?

[2018-01-25 23:31] jelbourn commented on #1621
Closing this since we consider the card to just be a dumb container, so this would be something custom inside the card.

[2018-01-25 23:31] #1621 closed

[2018-01-25 23:32] jelbourn commented on #1650
`mat-card-header` exists

[2018-01-25 23:32] #1650 closed

[2018-01-25 23:47] jelbourn commented on #1142
Closing this since there's a way to get the value presently

[2018-01-25 23:47] #1142 closed

[2018-01-25 23:50] jelbourn commented on #1967
This should be long ago fixed in Angular.

[2018-01-26 00:34] jelbourn commented on #9570
@DevVersion which key is this specifically?

[2018-01-26 00:46] tinayuangao commented on #9526
I think this is because our ripple.

A workaround is adding
[code]
to `.mat-checkbox`.

[2018-01-26 01:27] cyberbeast opened #9613 "Grid with masonry like brick layout"
#### Bug, feature request, or proposal:
Material Design spec allows for a grid with masonry like brick layout.

#### What is the expected behavior?
https://plus.google.com/discover or even https://keep.google.com/ - homepage like layout where each post could potentially be an md-card.

#### What is the current behavior?
This can not be achieved using the existing the grid implementation.

[2018-01-26 02:27] skyfremen commented on #8482
Hi, @IagoBarboza appreciate if u can provide the full source of your Custom Date Adapter.
Thanks

[2018-01-26 04:53] timmoy commented on #9539
@jelbourn following your advice, I did some experimentation and have updated my branch with [this commit](https://github.com/timmoy/material2/commit/3472d2f028051c380a1dc332a13dba9ea12e1e6a).
I did use some of the documentation from[ _theming.scss](https://github.com/timmoy/material2/blob/master/src/lib/core/theming/_theming.scss#L40-L41) to make it more visible and added a short explanation of "-

[2018-01-26 05:29] George23792M commented on #8229
I tried all the above solutions but my error is not solved. Can someone help me

[2018-01-26 06:16] goelinsights opened #9615 "mat-grid-list with dynamic column count and ssr initial page load"
#### Bug, feature request, or proposal:
Not sure: it's an error I'm struggling to debug. Hoping I'm missing something obvious

#### What is the expected behavior?
mat-grid-list compiles with Angular Universal

#### What is the current behavior?
Receiving the following error on initial page load on the route, which crashes the app... (but if I load the app on a page without the grid and then naviga

[2018-01-26 07:28] ahmerrkhanzz opened #9616 "Meta Data Version mismatch in angular 5"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
It should serve the app

#### What is the current behavior?
Its giving error of "**Metadata version mismatch**"

I have upgraded my application from angular 4 to 5 and after resolving all of the major conflicts I stuck at this dead end issue,

`ERROR in Error: Metadata version mismatch for module /Users/ws23/Projects/

[2018-01-26 08:05] dlarr opened #9617 "One way binding behaviour - change not reflecting"
#### Bug, feature request, or proposal:
* BUG ??

#### What is the expected behavior?
Suppose I have one component with @Input()
I'd oneway bind like this :
[code]

Suppose the object contains a collection
[code]
Where theCollection is a component attribute

Whenever theCollection get updated, the change should be reflected in the <comp> component

#### What is the current behavior?
Whenever theCo

[2018-01-26 08:32] TheRedD0t opened #9618 "[Stackblitz] Add divider module to imports"
The divider module that came with https://github.com/angular/material2/pull/5862 should be added to the imports in the Stackblitz templates.

@josephperrott

[2018-01-26 09:12] aks0020 commented on #9616
hi, It requires typescript 2.5+ try updating to 2.6.2 & do fresh `npm install`

[2018-01-26 09:13] nite commented on #9516
:+1:

[2018-01-26 09:13] skyfremen opened #9619 "Custom DateAdapter extend MomentDateAdapter issue"
#### Bug, feature request, or proposal:
Bug/Issue

#### What is the expected behavior?
I am trying to override the parse function of MomentDateAdapter to make Moment use strict parsing  by specifying a boolean for the last argument.

[code]

#### What is the current behavior?
If I type an invalid date in to the date picker eg 'xxx'
Doing a Console log,
In the parse function I am able to get a Mome

[2018-01-26 09:25] goelinsights commented on #9615
Figured it out. Leaving it here if it's useful for anyone else struggling with SSR/ Universal transition from standard.

Apparently with SSR the checkCols() function throws an error earlier than the size is injected into the component (it's an observable coming from the store detected via ObservableMedia in the app.component).  In a normal static process, this works fine, but the server apparently

[2018-01-26 09:25] #9615 closed

[2018-01-26 09:43] julianobrasil commented on #9617
There's no problem with angular (see this [stackblitz demo](https://stackblitz.com/edit/angular-k2z2be)).

The behavior you're describing is currently expected from `MatDataTable`. If you want `MatDataTable` to be updated, you should change the data source (`dataSource.data = yourData`). Doing `dataSource.data.push(moreData)` doesn't force `MatDataTable` to update the view.

Take a look at #9274 (

[2018-01-26 09:49] Plondrein commented on #4487
any update on this?

[2018-01-26 09:49] dlarr commented on #9617
I am sorry but, the problem doesn't come from the Datatable behaviour. Actually, I am describing a one way binding, that acts weird because the component is not reflecting changes that come from the parent. This is unrelated to datasource :)

[2018-01-26 09:51] skyfremen commented on #9619
Update

I just realised that even though ngModel return as null, it will throw an error matDatepickerParse
I am able to use this to create an custom validation.

I am still not sure if it is correct that ngModel should return null.
Kindly close this issue if the behaviour is as designed.

Thank you

[2018-01-26 09:53] julianobrasil commented on #9613
@cyberbeast, could you give more details telling what prevents `MatGrid` to fulfill your exptectations? Does @kara do in this [this video](https://youtu.be/0q9FOeEELPY) what you need?

[2018-01-26 09:55] julianobrasil commented on #9613
Also take a look at: https://stackblitz.com/edit/angular-material2-list-of-cards

[2018-01-26 09:59] julianobrasil commented on #9617
Could you provide a stackblitz demo (take one of that links I posted above) to show an example of what is currently happening (the one you've sent in your original post has _a lot_ of other things)?

[2018-01-26 10:19] leosvelperez commented on #5188
@jelbourn is there any timeline for this?

[2018-01-26 10:25] dlarr commented on #9617
But there is almost nothing in the 1st plunker, it's very simple close to what I have.

I've modify it to add another button with a working example and it now both work. So I don't know why it's not working in my project :(

[2018-01-26 10:34] julianobrasil commented on #9617
So put this question on stackoverflow.com, as it looks like trobbleshooting (and close this one). Also, when you wrote you had a component based on MdTable, I thought you were actually using MatDataTable. If this is not the case, then this part can cause some confusion.

In the future if you think this is a genuine bug, open a new issue in the [angular repo](https://github.com/angular/angular/issu

[2018-01-26 10:39] dlarr commented on #9617
Oh yes you're right. My mistake :'( I am so sorry.

[2018-01-26 10:39] #9617 closed

[2018-01-26 10:56] MarcServat commented on #9014
Try insert the values without quotes!!

[disabled]=!filterValid

I had the same error and these was the only solution that I've found

[2018-01-26 11:59] niwrA commented on #2177
Also came here looking for this issue. Probably naive but this be something that would be a matter of copying the logic from the one component that already works (mat-tab-group) to this one?

[2018-01-26 12:28] gogakoreli opened #9620 "fix(mat-input): matInput with type number fires twice changeValue event inside formGroup"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
matInput with type="number" shouldn't fire valueChanges event twice, when inside ReactiveForm

#### What is the current behavior?
matInput with type="number" fires valueChanges event twice, when inside ReactiveForm

#### What are the steps to reproduce?
https://stackblitz.com/edit/type-number-input-2-value-changes-fir

[2018-01-26 12:35] LosD commented on #8420
For anyone searching, working around it is pretty simple: Just force mouse focus:
[code]

You get a reference to the search button using `@ViewChild` and the `MatDialogRef` is returned from `dialog.open`

Of course, my workaround will _always_ use mouse focus, which might not be desired, but 9/10 (if not more) is going to use the mouse, so to me it less confusing to most than always showing it.

[2018-01-26 12:36] ted-sandbox commented on #6962
easy peasy, thanks for the tip.

[2018-01-26 12:49] kelvinsleonardo opened #9621 "Attribute name not appear in DOM"
When the matInput is nested in a ngFor the attribute name don't appear in DOM.

![codigoname](https://user-images.githubusercontent.com/7854286/35440160-65eb5ad8-0285-11e8-8c3c-42205b7526a6.png)

Dev tools chrome
![field](https://user-images.githubusercontent.com/7854286/35440219-948d3a32-0285-11e8-8117-7d12bcfa7598.png)

Which versions of Angular, Material, OS, TypeScript, browsers are affected?

[2018-01-26 13:06] boris-marinov commented on #5269
@lula You are using the workaround suggested above (`<mat-expansion-panel *ngIf="selectedTabIndex == 3">`), that is not really a fix because:
1. It *is* a workaround.
2. It breaks the animations.

Still waiting for a follow up on this.

[2018-01-26 13:08] WandererInVoids opened #9622 "[Select] Add event for select when scroll to down of dropdown"
Features

#### What is the expected behavior?
I want event fired like downReached to know that user scroll to last item.

#### What is the use-case or motivation for changing an existing behavior?
to use it in async load. For instance user scroll to last element and another list member will loaded(infinity select scroll)

#### Is there anything else we should know?
also will be useful to set when

[2018-01-26 13:12] lula commented on #5269
@boris-marinov I know it is a workaround, I never said it was a fix. See my plunker tabs animations seem to work.

[2018-01-26 13:12] pmilic021 opened #9623 "Input doesn't blur by clicking outside of it on IOS."
#### Bug, feature request, or proposal:
Bug?

#### What is the expected behavior?
When user clicks on input, keyboard opens, and when clicks outside of input, keyboard closes (and blurs input).

#### What is the current behavior?
When user clicks on input, keyboard opens, and when clicks outside of input, keyboard remains open (and input doesn't get blurred - the caret is still pinging inside inpu

[2018-01-26 13:26] Gaiidenn commented on #5269
I can confirm the workaround provided by @lula works! It already saved me for my next push in production :-D But yeah a real fix would be welcome ^^

[2018-01-26 13:28] guntram commented on #6857
@willshowell

this is not very transparent in the docs ;)

[2018-01-26 13:33] seedy opened #9624 "Feat : [mat-button-toggle] - output for blur event. Dom is not reliable."
#### feature request :
There is not Output for blur or focusOut events for button toggle group component.
Using classic DomEvent relies on the component's implementation.
Button toggle is made of a hidden input which takes focus over the button after internal selection has been triggered.

I need to know when the group or any of its children lose focus.

Therefore, I cannot reliably bind on blur e

[2018-01-26 13:33] ClemensSchneider commented on #5269
Seems that it's not an issue with the material expansion-panels (as @rhino5oh already noted), but a general issue with angular animations that have a target height of `*` and are triggered while the element to be animated is still detached from DOM (and thus, the target height cannot be known). I can confirm that my own components that include such animations are rendered incorrectly (height = 0)

[2018-01-26 13:49] julianobrasil commented on #5269
It looks like PR #8921 will bring some light to this issue.

[2018-01-26 14:04] seedy commented on #9624
Workaround :
https://stackblitz.com/edit/angular-azywqh-koxarx

[code]

[2018-01-26 15:03] rutgervd commented on #8959
I would also love to see this split-up!

[2018-01-26 15:13] julianobrasil commented on #9620
It seems that angular (not material) is just forwarding the standard html behavior: emitting a change event on `keydown` and when the element loses focus.

[2018-01-26 15:13] willshowell opened #9625 "[paginator] coerce boolean inputs"
#### Bug, feature request, or proposal:
Bug

#### Expected behavior
`hidePageSize` and the upcoming `showFirstLastButtons` (#9603) should coerce their values.

[code]

#### Current behavior

It is necessary to explicitly declare the boolean values: `[hidePageSize]="true"`

#### Motivation

Consistency with other component inputs

[2018-01-26 15:29] #8423 closed

[2018-01-26 15:32] #8876 closed

[2018-01-26 15:34] #9212 closed

[2018-01-26 15:39] jelbourn commented on #9621
This is the behavior of Angular, consider filing an issue at https://github.com/angular/angular/

[2018-01-26 15:39] #9621 closed

[2018-01-26 15:42] jelbourn commented on #9613
We consider application-level layout to be outside the scope of Angular Material, which focuses on individual components.

[2018-01-26 15:42] #9613 closed

[2018-01-26 15:43] #9619 closed

[2018-01-26 16:34] josephperrott commented on #9618
Stackblitz starter issue is updated to include all of the current Material modules.  Will leave this open for @DevVersion to track adding the modules to the stackblitz templates within the docs site.

[2018-01-26 17:53] pacozevallos opened #9626 "Dialog modal closes instantly"
Can someone tell me why when I click the `Crear Proyecto` button, the modal opens but then closes instantly?

[https://stackblitz.com/edit/angular-gsgmu8?embed=1&file=app/portafolio/portafolio.component.ts](url)

I am inserting the content of a component within the modal.

[2018-01-26 17:59] josephperrott commented on #9626
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-26 17:59] #9626 closed

[2018-01-26 18:15] TheRedD0t opened #9627 "[Chip input] Consider using a right margin instead of a left margin"
This would solve the issue with the ugly offset when there are multiple lines in a chip input.

![screenshot-2018-1-26 chips angular material](https://user-images.githubusercontent.com/32056062/35453730-8cd2a3cc-02cb-11e8-9b70-4e38c4925e6f.png)
_Before_

![screenshot-2018-1-26 chips angular material 1](https://user-images.githubusercontent.com/32056062/35453734-8ee3e7ac-02cb-11e8-9f5b-c13e6339f80b

[2018-01-26 18:19] joshuaball opened #9628 "Using a mat-autocomplete on an input field of type "number""
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Input fields that are of type "number" should not have their data converted to a "string" type.

#### What is the current behavior?
When using a mat-autocomplete on an input field of type "number", the data in the field is converted from a number to a string when the user types in the input field or uses the number wh

[2018-01-26 19:31] crisbeto commented on #9601
You should be able to handle it using the `autosize` option. [Here's a fork of your example.](https://stackblitz.com/edit/angular-material2-issue-nvmhud?file=app/app.component.html)

[2018-01-26 20:34] cyberbeast commented on #9613
@julianobrasil First of all, thank you so much for your response to my query. I went over the video you shared and while it does aim to do what I want, I find the following limitations:-

1. The row/column span has to be manually specified.
2. While that strategy might work for images, would that necessarily scale to other containers such as cards?

While MatGrid certainly does allow cards to span

[2018-01-26 21:09] kaushikdighe commented on #7578
@willshowell Hello, I am running into a problem for a project. I am using Angular 4 and we md prefix for material i.e. 2.0.0-beta.10. Now the project requirement says that I should update to mat. So I ran the prefixer tool and it automatically takes me to material 5 version. Finally, my question is can we use mat with Angular 4 version and not Angular 5 as it is giving me metadata mismatch error.

[2018-01-26 21:25] willshowell commented on #7578
@kaushikdighe I think the highest version of `@angular/material` you can use is `2.0.0-beta.12` without upgrading to Angular 5

I would urge you to debug your metadata mismatch error, as there have been mighty improvements in both core and material since then.

More details can be found in the CHANGELOG

https://github.com/angular/material2/blob/master/CHANGELOG.md

[2018-01-26 21:39] kaushikdighe commented on #7578
@willshowell First of all Thank you for the help. Just to make my understanding of your answer clear, **You mean that version 2.0.0-beta.12 is replacing md by mat prefix without going to Angular 5**. I tried to wrap my head around the error but its too vague does not point at any specific dependency. Most of the answers i read recommended to upgrade to Angular 5. If you could answer my this single

[2018-01-26 21:57] MJomaa opened #9631 "[mat-menu] New Position like xPosition="'center'" for mat-menu"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
xPosition should accept the paramter 'center' .
This new position will center the menu horizontally in relation to the trigger.

#### What is the current behavior?
xPosition only accepts the parameters 'before' or 'after'.

#### What are the steps to reproduce?
https://material.angular.io/components/menu/a

[2018-01-26 22:08] julianobrasil commented on #9613
@cyberbeast, even there's no component based on column it would not be so complicated to do it with regular components. You can use `flex-layout` to achieve this result: https://stackblitz.com/edit/angular-material-column-component

Basically you need something like:

[code]

[2018-01-26 22:10] crisbeto commented on #9631
Adding support for it is only a matter of passing in another value to the `ConnectedPositionStrategy`, but the issue is that supporting it deviates from the spec and may end up looking weird.

[2018-01-26 23:40] QimatLuo opened #9634 "Basic raised button text color is wrong in dark theme"
#### Bug, feature request, or proposal:
[code]

#### What is the expected behavior?
It should looks like example https://material.angular.io/components/button/examples
![image](https://user-images.githubusercontent.com/9548054/35464815-065ba010-0333-11e8-86e1-5f77f6fd74d3.png)

#### What is the current behavior?
![image](https://user-images.githubusercontent.com/9548054/35464785-d0b3e7f6-0332-11e8

[2018-01-27 04:45] mmalerba commented on #9601
closing since adding `autosize` resolves it

[2018-01-27 04:45] #9601 closed

[2018-01-27 04:48] mmalerba commented on #9458
I'd be fine with this change, seems like a reasonable way to let people work around current limitations

[2018-01-27 04:52] mmalerba commented on #6958
Those of you experiencing issues, have you tried the [`autosize`](https://material.angular.io/components/sidenav/overview#resizing-an-open-sidenav) option? does it help?

[2018-01-27 05:00] mmalerba commented on #3127
The given code appears to be very outdated. The `md-` prefix has been deprecated for quite some time and the select has been rewritten to work inside of `mat-form-field`. If you are still able to reproduce this in the latest version of Angular Material please feel free to file a new issue with a stackblitz reproduction.

[2018-01-27 05:00] #3127 closed

[2018-01-27 05:06] mmalerba commented on #3477
`<mat-select>` has a `selectionChange` output that can be used for this purpose: https://github.com/angular/material2/blob/master/src/lib/select/select.ts#L451

[2018-01-27 05:06] #3477 closed

[2018-01-27 05:10] mmalerba commented on #4861
@DevVersion assigning to you since it appears this issue was incorrectly labeled slider when it was actually about the slide-toggle. feel free to close if its obsolete

[2018-01-27 09:00] fabienbranchel commented on #6244
@literalpie : I'd like to know how to set background colors of a theme when I create it.

[2018-01-27 09:12] julianobrasil commented on #9458
Ok. I'll give it a shot.

[2018-01-27 09:21] julianobrasil commented on #9458
What's better: `@Output`s (something like `yearChange` and `monthChange` in the `MatDatepickerInput`) or `observables` in `MatDatepicker`?

IMO, as its not a definite solution, I think it could be just `observables` in `MatDatepicker`, like  `panelClosingActions` in `MatAutocomplete .

[2018-01-27 10:06] ravithb commented on #4574
I believe the documentation needs to be updated to include @DomRaven 's solution. It worked for me after hours of unsuccessful trying.

[2018-01-27 10:09] HarelM commented on #4574
It is in the documentation guys...
https://material.angular.io/guide/getting-started
"Step 4: Include a theme"

[2018-01-27 13:01] crisbeto commented on #9562
What platform are you testing on? I wasn't able to reproduce it on iOS.

[2018-01-27 13:27] crisbeto commented on #5166
Resolved by https://github.com/angular/material2/commit/b42fcb9ca878bd3f3e9fba24ce91af6a68250ce4.

[2018-01-27 13:27] #5166 closed

[2018-01-27 13:29] crisbeto commented on #3378
Closing both through escape and alt+up arrow is supported now.

[2018-01-27 13:29] #3378 closed

[2018-01-27 14:56] George35mk opened #9640 "Please add in sidenav Navigation drawer a (Mini variant)"
#### Bug, feature request, or proposal:
feature

#### What is the expected behavior?
is very hard or impossible to add min variant

#### What is the current behavior?
The sidenave is hiding completely, I want to control the min-width on close
![7](https://user-images.githubusercontent.com/20750445/35472963-893cddf2-0381-11e8-8173-6c77a6082d97.PNG)

#### What are the steps to reproduce?
Providing a

[2018-01-27 15:04] donroyco commented on #9640
Duplicate of #1728

[2018-01-27 15:06] George35mk commented on #9640
Roy yes but this feature request is from  **4 Nov 2016**  now we have **2018** and nothing solved

[2018-01-27 15:07] George35mk commented on #9640
I want to contribute but I never in my life contribute on project can you guide me were I can find the sidenave files to make the changes and push a new request

[2018-01-27 15:08] DevVersion commented on #9618
@josephperrott Sounds good. For the template, we should also add it to the `NgModule` imports. Right now it's just imported, but not used. can you update that?

[2018-01-27 15:08] George35mk commented on #9640
I struggle to find were are this sidenave files but I cant find anything

[2018-01-27 15:31] DevVersion opened #9641 "dgeni: use @deletion-target jsdoc info in the docs"
Recently the `@deletion-target` JSDoc tag has been introduced in the repository. We should be able to use that information about the deletion target and show in the docs.

_See https://github.com/angular/material2/pull/9490#pullrequestreview-91032699_

[2018-01-27 16:14] spt131 commented on #6095
@shlomiassaf  How could i adapt your solution to include a row with the same columns as the main table? I've tried a few things but can't seem to get it to work. The use case is to use the main row as the "total" row and expand to show the details that make up the total but with the same columns.

The expansion sample works great but can't seem to display a simple table row with the same columns.

[2018-01-27 16:45] willshowell commented on #7578
@kaushikdighe, yes that is correct. Good luck!

[2018-01-27 20:40] Arunkayathi opened #9645 "How to make mat-dialog draggable?"
#### Bug, feature request, or proposal:

#### What is the expected behavior?
http://jsfiddle.net/dave_wilton/a3gyq/5/

#### What is the current behavior?
Its is sticking to only one position

[2018-01-27 21:47] halukkaramete opened #9646 "how do you inspect the moving mat-input placeholder?"
#### Bug, feature request, or proposal:
Every time I right click on the placeholders in the mat input text (or description ) fields, the placeholders move up or down. Impossible to get to their class name...

I get it, it is a very nice effect.

But how will I know the name of the CSS that I need to modify so the click event on the input field moves its placeholder less, or does not move it at all

[2018-01-27 23:04] donroyco commented on #9640
It’s still a duplicate request. Opening a similar issue won’t get it solved faster. Please use the original issue to address your need for this feature.

[2018-01-28 00:00] MJomaa commented on #9631
Ah too bad.

Here is an example with an arbitrary x-position https://play.google.com/store.
When you click on the "Google-Apps" button in the top right a dropdown menu appears.
That's basically what I want to achieve.

![image](https://user-images.githubusercontent.com/9029497/35477576-078a5858-03c6-11e8-8d6e-ff599a5bb4a7.png)

[2018-01-28 02:16] julianobrasil commented on #9631
@MJomaa, it seems you want a kind of popover, which is not planned to be added to Material.

You have currently two options:

1. Make your own using something like [cdkOverlay](https://material.angular.io/cdk/overlay/overview)
2. use a third party component like the awesome [@willshowell's satPopover](https://github.com/ncstate-sat/popover)

[2018-01-28 02:43] peterdobson commented on #1126
How would you disable them via Angular animations @jelbourn ? Any pointers would be appreciated!

[2018-01-28 07:56] donroyco commented on #9646
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-28 07:56] donroyco commented on #9645
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-28 09:49] halukkaramete commented on #9646
Thank you for the friendly notice Don. I will take it to stackoverflow.

[2018-01-28 09:52] halukkaramete commented on #9646
https://stackoverflow.com/questions/48485060/trying-to-hunt-catch-a-moving-dom-element-by-inspector

[2018-01-28 11:13] nename0 opened #9649 "invalid padding for list-items with mat-list-icon"
#### Bug:
A list with icons, like here (https://material.angular.io/components/list/examples), has invalid padding as per spec (https://material.io/guidelines/components/lists.html#lists-specs).

#### What is the expected behavior?
The "Left icon padding" should be `16px` and the "Text padding, left" `72px`.

#### What is the current behavior?
**Left icon padding**:
`mat-list-item-content` padding

[2018-01-28 11:41] #9645 closed

[2018-01-28 12:10] crisbeto commented on #9623
AFAIK this is how iOS handles focus in general. It doesn't move focus or dispatch click events unless you've tapped on something it considers tappable (e.g. a button, a link, something with `cursor: pointer`).

[2018-01-28 13:16] MJomaa commented on #9631
@julianobrasil Looks good thanks!

Also there is a third option:

3. Assign a selector for each mat-menu you need to change.
Set/Override the margin and transform-origin for each mat-menu individually.

[2018-01-28 14:11] JoeKendall opened #9652 "BreakpointObserver returning incorrect result (when Element Inspector not open)"
## I'm submitting a...

<pre><code>
[ ] Regression (a behavior that used to work and stopped working in a new release)
[x] Bug report
[ ] Feature request
[ ] Documentation issue or request
[ ] Support request => Please do not submit support request here, instead see https://github.com/angular/angular/blob/master/CONTRIBUTING.md#question
</code></pre>

## Current behavior

When detecting viewport s

[2018-01-28 14:49] jotatoledo commented on #9646
@halukkaramete close

[2018-01-28 16:43] caiusCitiriga commented on #9565
Thank you so much. Of course I was doing it wrong :D Good to know for the next time. Sorry for the falsy bug

[2018-01-28 17:01] DevVersion commented on #9649
Those are valid points. I want to mention, that #9500 didn't aim to specifically rework the list completely to properly align with the specs. There are way more things that would need to be updated to exactly match the specs

<img src="https://user-images.githubusercontent.com/4987015/35484680-8375e0ee-0453-11e8-8156-cbe0ad05d80e.png" width="60%">

Right now the icon usually just has a width of `4

[2018-01-28 17:34] nename0 commented on #9649
I have to correct you a bit.
`matListAvatar`s (the specs seem to make a clear distinction between icons and avatars) currently have a width of `40px`. Theres nothing wrong with that its just like in the specs (16px padding + 40px width + 16px padding = 72px).
The problem comes with `mat-list-icon`. They have a width of `24px` as per spec, but neither the `16px` nor the `72px` padding is correct wi

[2018-01-28 17:38] #9646 closed

[2018-01-28 18:07] dylanbaxter commented on #7175
+1
Where are these "docs" with the new mappings anyway?

[2018-01-28 19:02] DevVersion commented on #9649
True, I thought accidentially that the 72px line does not include the 16px initial horizontal padding. Still, we would need to have a way to support the different subheader shiftings.

[2018-01-28 19:43] josh18 commented on #5188
Would you accept a PR to make some current methods `protected` instead of `private` so that it is easier to extend?

[2018-01-28 20:38] literalpie commented on #6244
@fabienbranchel
If you want to set the background colors, you likely want to customize the entire background and foreground palette by emulating the [mat-light-theme](https://github.com/angular/material2/blob/3352201eabcf66c23e6c2297b800828003eaf0fc/src/lib/core/theming/_theming.scss#L62) or mat-dark-theme functions with your own replacement. Your replacement would include your own palettes instea

[2018-01-28 20:49] grosch opened #9653 "mat-select not taking input"
#### Bug, feature request, or proposal:

Bug

#### What is the current behavior?
When I put a mat-select inside my table, all I see is the drop-down arrow and when I click on it nothing happens.  I don't even see the placeholder text.

#### What are the steps to reproduce?
I couldn't reproduce this in StackBlitz, sorry.  In my app.component.html file I have this:

[code]
In my `app.module.ts` file

[2018-01-28 20:51] crisbeto commented on #9653
You need to wrap your `mat-select` in a `mat-form-field`.

[2018-01-28 20:53] grosch commented on #9653
That helped with the width, thanks.  The core issue what I didn't have this line in my styles.css file:

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

[2018-01-28 20:53] #9653 closed

[2018-01-28 21:04] grosch opened #9654 "select overview docs wrong"
https://material.angular.io/components/select/overview shows a [formControl] property in all the examples, but that doesn't seem to exist any longer with version 5.1.0

[2018-01-28 22:24] zijianhuang commented on #9354
as of 5.1.0 burlap-bezel (2018-01-17), MAT_DIALOG_DEFAULT_OPTIONS is still not there, though the tutorial mentions it.

[2018-01-29 01:25] tubli opened #9655 "Dialog examples are missing a file on the website"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
StackBlitz shows a working Dialog component example

#### What is the current behavior?
StackBlitz shows an error saying that it can't find the file. The exact name of the file that can't be found varies depending on the example, but on the actual Example page, the error is:
Cannot find file: app/dialog-overview-examp

[2018-01-29 02:56] tschaffter commented on #8890
+1

[2018-01-29 06:44] Gaiidenn commented on #5269
@ClemensSchneider I can confirm that! The bug occurs on my custom components with animations properties like "height: '*'" inside a tab content.

[2018-01-29 07:04] donroyco commented on #9655
Please use the search function before opening duplicate issues. See #9588, #9564 and commit e5c8880

[2018-01-29 07:25] ahmerrkhanzz commented on #9616
Still not working after typescript version update to 2.6.2, giving the same error.

[2018-01-29 07:40] cubidobusinesssolutions opened #9656 "MatFormField guide disabled incomplete"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Working `MatFormField` guide

#### What is the current behavior?
`disabled` state not working

#### What are the steps to reproduce?
Implement a custom `MatFormfield` via [Creating a custom form field control](https://material.angular.io/guide/creating-a-custom-form-field-control)

#### Is there anything else we shoul

[2018-01-29 07:49] victornoel commented on #8759
@andrewseguin is there anything I can do to solve this issue? Where should such a feature be implemented? I'm asking because the architecture of material components is quite complex and I'm not sure if I should stay inside `tooltip` or if there is some need to touch other more abstract components…

[2018-01-29 08:49] #9655 closed

[2018-01-29 10:00] wtubog commented on #9066
Hi,

I'm encountering this error on the MatDialog for SSR rendering:

`ERROR ReferenceError: document is not defined
    at BlockScrollStrategy._canBeEnabled (C:\Users\user1\Documents\angular-projects\gma-psst\dist-server\server.js:56186:13)
    at BlockScrollStrategy.enable (C:\Users\user1\Documents\angular-projects\gma-psst\dist-server\server.js:56135:18)
    at OverlayRef.attach (C:\Users\user1

[2018-01-29 10:48] iosifpetre18 commented on #5971
I have the same problem, how can I use [min] and [max] options on md2-datepicker with reactive forms?

[2018-01-29 12:57] ROBsoer opened #9657 "`mat-select` doesn't emit change event of `formGroup` (Reactive forms)"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
Using reactive forms approach.
When change value of `mat-select` or `mat-radio-group` should emits change event of formGroup.
That works for native `select` and `radio` buttons.

#### What is the current behavior?
Doesn't emit `change` event on formGroup

#### What are the steps to reproduce?
https://stackblitz.com/ed

[2018-01-29 13:27] benjamincharity opened #9658 "[Feature-Request] Ability to set theme/color of the datepicker calendar popup"
#### Bug, feature request, or proposal:

Currently you can set the `[color]` property of the input attached to the datepicker. But there doesn't seem to be a way to change the color of the calendar itself.

So the focused input may be set to your accent color, but when the calendar opens it is still using the primary color.

<img width="345" alt="screen shot 2018-01-29 at 8 20 03 am" src="https://

[2018-01-29 13:46] pmilic021 commented on #9623
Guess I'll just leave it as it is then, and call it "feature".

[2018-01-29 14:02] crisbeto commented on #9658
Will be sorted out by https://github.com/angular/material2/pull/9407.

[2018-01-29 14:02] #9658 closed

[2018-01-29 14:10] adamyi commented on #9502
It appears that `index.ngfactory.js` is not present in Bazel's sandbox dir.

[code]

[2018-01-29 14:12] esistgut commented on #7216
@isametal88 can you please share your stepper?

[2018-01-29 14:17] ROBsoer commented on #9657
Have used Observables `valueChanges` and `statusChanges` of `FormGroup` and it works fine

[2018-01-29 14:31] hoangnguyen208 opened #9659 "mat-checkbox is not responsive"
When the text inside `mat-checkbox` is too long (more than one line), it just goes beyond any parents div or screen width. I checked demo examples, it has the same issue.

![untitled](https://user-images.githubusercontent.com/24925823/35515444-db8c5650-0511-11e8-8fbe-060da1eb5f0d.png)

[2018-01-29 14:32] Namkem opened #9660 "Nested MdDialog doesn't work"
#### Bug: When I try to open MdDialog from another dialog it doesn't work

#### MdDialog should always open from another MdDialog

#### MdDialog doesn't open from another MdDialog

#### What are the steps to reproduce?
import { MdDialogRef, MdDialog } from '@angular/material';
import { Injectable } from '@angular/core';
import {MyDialogComponent} from './MyDialogComponent';

@Component({
  selecto

[2018-01-29 14:50] sinedied commented on #9403
@DevVersion the bug also occurs on Android emulator webview, it's not limited to safari.

[2018-01-29 15:02] donroyco commented on #9659
Duplicate of #8416. For future issue reports, please use the [issue template](https://github.com/angular/material2/blob/master/.github/ISSUE_TEMPLATE.md).

[2018-01-29 15:04] adamyi commented on #9502
Seems to be because of here: https://github.com/angular/angular/blob/master/packages/bazel/src/ng_module.bzl#L195

[2018-01-29 15:15] George35mk opened #9661 "mat-datepicker not display properly"
#### Bug, feature request, or proposal:

Bug
#### What is the expected behavior?
![33](https://user-images.githubusercontent.com/20750445/35517516-55c7f712-0517-11e8-930a-fe78daa5365f.PNG)

#### What is the current behavior?

![31](https://user-images.githubusercontent.com/20750445/35517430-14e2add2-0517-11e8-9460-eee3695cf989.PNG)

#### What are the steps to reproduce?
Providing a StackBlitz repr

[2018-01-29 15:19] Tynarus commented on #3273
I made a quick fork of @timharris777 work to provide the ability to "keep" the autocomplete list open... Though it just re-opens are a few milliseconds. I'm sure someone can improve upon it, but here's my 5-minute rendition: https://angular-evzmtq-ppmysp.stackblitz.io

[2018-01-29 16:08] oktav777 commented on #7891
Also `mat-selection-list` should be wrapable in `mat-form-field` too, for a common style of validation messages, hints, etc.

[2018-01-29 16:16] adamyi commented on #9502
In the bazel app, this has the same problem as https://github.com/alexeagle/angular-bazel-example/issues/56 for the devserver (but rollup and closure are fine). I think it's better to just use Bazel dependency to build material2.

[2018-01-29 16:17] samherrmann commented on #8963
I am working on drag and drop in an Angular app this week. @dojchek already mentioned most of the features required for my use case, but here are a couple more:
* support for dynamically adding and removing drop containers
* support for swappable items
* support for dnd between a sortable container and a swappable container.
Example:
Items in container A are sortable. Items in container B are swap

[2018-01-29 16:27] George35mk commented on #9661
My mistake I have some global css I forget where they have some style for the table.

[2018-01-29 16:27] #9661 closed

[2018-01-29 16:32] mmalerba commented on #5971
@iosifpetre18 this issue should be fixed now, so just update to the latest version of Angular Material. If you still see the error feel free to open a new issue with a stackblitz reproduction

[2018-01-29 16:39] josephperrott commented on #9652
I was actually not able to see this issue in your demo you provided.   I suspect the issue is coming to light for you because the breakpoints for `Breakpoints.Handset` is:
[code]
From your description if sounds like you only want `'(max-width: 959px)'`.

My suspicion is that you are crossing over the point where your screen's viewpoint is changing from portrait to landscape, and vice versa.

Do yo

[2018-01-29 16:43] DevVersion commented on #9403
Might happen there as well. I was just able to confirm it on Safari, and was able to associate it with the mentioned Webkit bug.

[2018-01-29 16:55] mhosman opened #9662 "Add time to datepicker"
Add a way to select a time inside datepicker

[2018-01-29 17:22] RaphyLi opened #9663 "[Mat-Tab] Cannot read property 'name' of undefined when use isActive Tab in component"
#### Bug:

I create a MatTabGroup with three tab. And in each tab I want use isActive but it doesn't work.

`ERROR TypeError: Cannot read property 'name' of undefined`

#### What are the steps to reproduce?
https://stackblitz.com/edit/angular-hu2qnh
https://angular-hu2qnh.stackblitz.io

#### Which versions of Angular, Material, OS, TypeScript, browsers are affected?
Angular 5.2.2
Material 5.1.0
Ch

[2018-01-29 17:23] isametal88 commented on #7216
Well... It's not that I don't want to, I don't know how to :-). I never took the time to learn how to pack a component and make it downloadable outside my project :-P
I think it's best for you to wait for this official release ;-)

[2018-01-29 17:45] crisbeto commented on #9663
The tabs don't refer to any `name` properties at all. This seems like it might be something wrong in your code.

[2018-01-29 17:49] esistgut commented on #7216
If you want to share just push the relevant code on a Gist, as much as I would like to wait for an official release I have deadlines so I would have to develop a custom component anyway.

[2018-01-29 17:52] Philip-Sultanescu opened #9664 "mat-icon color doesn't follow the guidelines"
#### Bug, feature request, or proposal:
mat-icon color doesn't follow the [guidelines](https://material.io/guidelines/style/icons.html)

This example added some extra css to partially fixed the problem, it does so only for the white background theme.
![screen shot 2018-01-29 at 18](https://user-images.githubusercontent.com/30979663/35525564-25694464-0525-11e8-843f-c2cf772296a3.jpg)

#### What is t

[2018-01-29 18:07] jelbourn commented on #5188
Probably not since we plan on doing a larger refactoring, at which point changing those protected methods would be a breaking change

[2018-01-29 18:09] crisbeto commented on #9066
Thanks @wtubog, I've submitted https://github.com/angular/material2/pull/9665 with a fix.

[2018-01-29 18:12] tinayuangao commented on #8890
A working example on stackblitz:
https://stackblitz.com/edit/angular-zstr9w?file=main.ts

Changing provided value in `providers: [{provide: MAT_CHECKBOX_CLICK_ACTION, useValue: 'check-indeterminate'}]` in `main.ts` will have different results.

[2018-01-29 18:37] chriszrc commented on #1039
A form control that you can't bind to some kind of state is pretty useless. I'm using reactive forms, so I had to implement my own custom component just to get and set values from a button-toggle because I wanted to support "multiple" :(

https://blog.thoughtram.io/angular/2016/07/27/custom-form-controls-in-angular-2.html

[2018-01-29 19:10] #9011 closed

[2018-01-29 19:15] crisbeto commented on #9659
Closing as a duplicate.

[2018-01-29 19:15] #9659 closed

[2018-01-29 19:24] tomwanzek commented on #4886
Is there an update on this issue? I have the same requirement, the use of `mat-select` inside a `mat-toolbar`.

IMHO the ability to use `mat-select` within a toolbar is fundamental.

The issue remains the same, if I wrap the `mat-select` into `mat-form-field`. The colors of the select element are not readily controllable to work within the toolbar. See also issue #9513, which was just closed due t

[2018-01-29 19:29] 5earle commented on #9526
Good day. i am a student studying open source at Seneca college, and would like to take a go at this project if it is still available

[2018-01-29 19:30] CaerusKaru commented on #9662
Duplicate of #5648

[2018-01-29 19:43] wa1gon opened #9668 "MatDialog is missing dial-overview-example-dialog.html on stackblitz"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
MatDialog stackblitz should compile and work.

#### What is the current behavior?

Get an error:

Cannot find file:
app/dialog-overview-example-dialog.html

#### What are the steps to reproduce?

https://stackblitz.com/angular/plevlolnpkb

#### What is the use-case or motivation for changing an existing behavior?
 Pro

[2018-01-29 19:44] tomwanzek commented on #9513
@alvipeo FYI: #4886 partially has the same ask, except your issue's intent was broadened to include other `mat-form-field` use cases than just `mat-select`.

[2018-01-29 19:47] DAquilina opened #9669 "Material buttons should default to type="button""
#### Bug, feature request, or proposal:

Bug

#### What is the current behavior?

If `type="button"` is not added to buttons in a form, then they are treated as submit elements and the first will trigger when the user presses enter.

#### What is the expected behavior?

Only buttons explicitly set to submit on form submission should be triggered.

#### What are the steps to reproduce?

1. Create a

[2018-01-29 19:51] Dannythm commented on #8110
Sorry to comment on an already closed issue, but I think I get what @theunreal was aiming to, that is, to have a stepper that doe snot rely on form validators to be advanced.

Check this stackblitz: https://stackblitz.com/edit/mat-horizontal-stepper?file=app%2Fapp.component.html

I've marked the stepper as linear, and the first step as not optional, still, regardless of it, you can click and go to

[2018-01-29 20:03] Philip-Sultanescu commented on #9664
This is my temporary css fix in global styles.scss, works also for the input prefix and suffix

[code]

[2018-01-29 20:10] meli002 opened #9670 "Checkbox column out of sync with view after pagination"
#### Bug, feature request, or proposal:
Mat-table checkbox select doesn't update the view after pagination.

#### What is the current behavior?
The SelectionModel holds the "selected" property correctly, but loses view when you go to the next page.

**app.component.ts**
[code]

**app.component.html**
[code]
![image](https://user-images.githubusercontent.com/22944504/35531846-3868383c-0506-11e8-91c

[2018-01-29 20:14] briananderson1222 opened #9671 "[Tabs] mat-ink-bar doesn't update with the active state"
#### Bug, feature request, or proposal:
Bug when modifying the active state of a tab inside of a mat-tab-nav-bar on the mat-tab-link the mat-ink-bar does not appropriately update its state.

#### What is the expected behavior?
If all tabs in the tab-nav-bar are not active, there should not be an underline for a given tab

#### What is the current behavior?
Once a tab in a mat-tab-nav-bar has been

[2018-01-29 20:37] simeyla commented on #2879
@TravisLRiffle There is a Material 5 ?????!!!

[2018-01-29 20:58] onstottj commented on #9210
Is there a way to style it without editing the internal CSS file?  I'm pulling this in via npm.

[2018-01-29 21:41] ORESoftware opened #9674 "<mat-accordion> - is there a way to give an accordion a header"
#### Bug, feature request, or proposal:
Not sure if this feature exists or not.

#### What is the expected behavior?
I was hoping to give a `<mat-accordion>` a header.

#### What is the current behavior?
Unsure if it's possible to give a `<mat-accordion>` a header.

#### What is the use-case or motivation for changing an existing behavior?
I am having trouble with `<mat-table>` so I am using `<mat

[2018-01-29 21:48] markobalogh2 commented on #7700
I'd like to add: it would be nice if we could implement the `dynamicHeight` input that mat-tab-group has. I recently tried to replace a tab group with a stepper but I get painful layout problems due to each mat-step's height adapting to its content. Using a mat-tab-group I managed a workaround by setting dynamicHeight false. It seems the dynamicHeight behavior we have in mat-tab-group is something

[2018-01-29 21:59] tschaffter commented on #6398
@thw0rted Where have you filled this issue? It doesn't seem to be resolved in material 5.0.1. The solution would be to either 1) provide "md-secondary" in material 5 as in material JS or 2) fix the bug  describe by thw0rted. The path of one should most likely be followed as it would be preferable to specify the primary click action once on `mat-list-item` rather than specifying the click action on

[2018-01-29 23:17] josephperrott commented on #9674
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-29 23:17] #9674 closed

[2018-01-29 23:39] andrewseguin commented on #5885
@simeyla Can you share how you reproduced the issue? I'm seeing this show up on Chrome dev tools when I enter responsive mode, but I can't seem to get a real world example on my Android phone and mac laptop

[2018-01-30 00:17] ORESoftware opened #9676 "Bug MatDialog is unclosable"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Should be able to close dialog

#### What is the current behavior?
Cannot close dialog - for a predictable/certain code path

#### What are the steps to reproduce?
Here is the problem:
https://www.useloom.com/share/7eb9c523ee3144fb94bb2b49b57dee1b

#### Which versions of Angular, Material, OS, TypeScript, browsers are

[2018-01-30 00:29] andrewseguin commented on #5885
Got it reproduced using this example https://stackblitz.com/edit/angular-s1t3nz?file=app/app.component.ts

Seeing it on mobile chrome with desktop view showed an issue: https://angular-s1t3nz.stackblitz.io/

[2018-01-30 01:12] jpduckwo commented on #4892
@kekel87 thanks for the workaround. It solved it for me too.

[2018-01-30 01:52] jbistis commented on #9325
TypeError: Cannot read property 'config' of null
    at Class.run (dev2/material2-master/node_modules/@angular/cli/tasks/serve.js:51:63)
    at check_port_1.checkPort.then.port (dev2/material2-master/node_modules/@angular/cli/commands/serve.js:123:26)
    at <anonymous>
    at process._tickCallback (internal/process/next_tick.js:188:7)

Getting a similar issue trying trying to run ng serve.  Any u

[2018-01-30 01:53] jbistis commented on #9325
Running...Angular CLI: 1.6.6
Node: 8.9.4
OS: darwin x64
Angular: 5.1.1
... animations, bazel, common, compiler, compiler-cli, core
... forms, http, platform-browser, platform-browser-dynamic
... platform-server, router

@angular/cli: 1.6.6
@angular/upgrade: 5.0.5
@angular-devkit/build-optimizer: 0.0.42
@angular-devkit/core: 0.0.29
@angular-devkit/schematics: 0.0.52
@ngtools/json-schema: 1.1.0
@ngt

[2018-01-30 02:16] wtubog commented on #9066
There's more error @crisbeto:

`ERROR TypeError: Cannot read property 'autoFocus' of undefined
    at MatDialogContainer._trapFocus (/web/gmanetwork/gno-psst/dist-server/server.js:134226:25)
    at MatDialogContainer._onAnimationDone (/web/gmanetwork/gno-psst/dist-server/server.js:134279:18)
    at Object.handleEvent (/web/gmanetwork/gno-psst/dist-server/server.js:244397:338925)
    at Object.hand

[2018-01-30 02:53] crysislinux commented on #5435
For someone just want set the initial focused element but don't require detail orders. Use cdkFocusInitial directive on the element you want it to focus on first.

[2018-01-30 03:21] joshuaohana commented on #8970
I am experiencing the exact same issue as @codemental
I have an input inside a form
[code]

On first view it works great. Through an app specific process we clear and rebuild the form. On second view the placeholders are gone. If I click into the field then they show up and float above just as expected.

Due to the awkwardness of my setup I haven't been able to reproduce in plunker. I have tried a

[2018-01-30 03:26] julianobrasil commented on #9676
Any special reason to call the `close()` method before emitting from `this.mds.dialogEmitter`?

[2018-01-30 03:41] the1mills commented on #9676
Yeah, so `close()` closes the dialog ( in theory). The emitter is used to broadcast which option/action the user clicked in the dialog

[2018-01-30 05:57] artdias90 opened #9679 "documentation -> Uncaught SyntaxError: Unexpected end of input"
#### Bug, feature request, or proposal:
Official documentation page is not working

#### What is the expected behavior?
Docs works

#### What is the current behavior?
`Uncaught SyntaxError: Unexpected end of input `

#### What are the steps to reproduce?

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of Angular, Material, OS, TypeScript, browsers a

[2018-01-30 06:27] Maistho commented on #8110
@Dannythm Looks like you need to bind to `[completed]`. See this modification of your stackblitz:

https://stackblitz.com/edit/mat-horizontal-stepper-5d2ttr

[2018-01-30 06:39] iDiyor opened #9680 "The website is down."
#### Bug, feature request, or proposal:

#### What is the expected behavior?
Not empty white screen!

#### What is the current behavior?
Uncaught SyntaxError: Invalid Unicode escape sequence

#### What are the steps to reproduce?
Open browser -> type "https://material.angular.io/" -> hit enter.

Providing a StackBlitz reproduction is the *best* way to share your issue. <br/>
StackBlitz starter: ht

[2018-01-30 06:54] iDiyor commented on #9680
Using the following link for now: https://material2-docs-dev.firebaseapp.com

[2018-01-30 07:38] TheRedD0t commented on #9680
It's working for me. Maybe it's up again.

[2018-01-30 07:40] kepamuk commented on #9679
Yes i have same problem, I can only open with anonimaizer

[2018-01-30 07:42] NZainchkovskiy commented on #9680
Blank screen for me too. Something goes wrong.

[2018-01-30 07:44] rk077 commented on #9680
Console error:
**Uncaught SyntaxError: Invalid Unicode escape sequence**

[2018-01-30 07:46] NZainchkovskiy commented on #9680
I got this error:
`SyntaxError: missing variable name`

[2018-01-30 07:46] didzamons commented on #9680
Firefox:
SyntaxError: missing variable name

[2018-01-30 07:52] thw0rted commented on #8333
It looks like the PR is already included, but the OP's ticket is technically a [spec](https://material.io/guidelines/components/lists.html#lists-behavior) violation:

[2018-01-30 07:55] thw0rted commented on #6398
I filed #6617 but see also #9188.  Basically, putting `<a matLine>` inside a `<mat-nav-list>  <mat-list-item>` is a bad idea.  If you want the whole list item to have a click action, attach a click handler to the list item and use `<p matLine>` for your text content instead.  I can't remember if you have to manually stop event propagation on the secondary actions or not, but you can play with it.

[2018-01-30 08:01] aruldd opened #9682 "material.angular.io throws error"
The angular material website throws an error.

Checked with chrome, firefox and edge. All latest versions.

[2018-01-30 08:04] TheRedD0t commented on #9682
Duplicate of #9679

[2018-01-30 08:06] donroyco commented on #9668
Please use the search function before opening duplicate issues. See #9655, #9588, #9564 and commit e5c8880

[2018-01-30 08:08] hoangnguyen208 commented on #8416
I still can't override the class `.mat-checkbox-layout`. I tried all solutions above and other approaches such as including `/deep/` in css file or `ViewEncapsulation`, but that class is still `white-space: nowrap`. I use Angular 5 and the latest version of this library.

[2018-01-30 08:14] aruldd commented on #9682
Someone beat me to it.

[2018-01-30 08:14] #9682 closed

[2018-01-30 08:21] gaborkalmar commented on #9680
I'm getting  : _Uncaught SyntaxError: Unexpected end of input_ in Chrome

[2018-01-30 08:21] jainShipra commented on #9680
Uncaught SyntaxError: Invalid Unicode escape sequence.

still not working.

[2018-01-30 08:53] RaphyLi commented on #9663
Yes, I know. But the error don't from tabs code but core material

`MainTabsComponent.html:2 ERROR TypeError: Cannot read property 'name' of undefined
    at checkBindingNoChanges (core.js:9902)
    at checkNoChangesNodeInline (core.js:13955)
    at checkNoChangesNode (core.js:13925)
    at debugCheckNoChangesNode (core.js:14754)
    at debugCheckDirectivesFn (core.js:14656)
    at Object.eval [as

[2018-01-30 09:01] vkmi commented on #9680
Broken in all the browsers I've tested it with:
- Edge
- Firefox 57
- Chrome 63
- Vivaldi 1.13
- IE 11

[2018-01-30 09:22] julianobrasil commented on #9676
Would It change anything if you called `close()` after  `this.mds.dialogEmitter` (just switch the order tou are calling them)?

[2018-01-30 09:25] Dannythm commented on #8110
@Maistho Ah, so the properties can't be used directly, they need binding, oh well I feel dumb now. Anyway I'm glad it's something silly and not an actual non functionallity/bug. Thank you!

[2018-01-30 09:45] Philip-Sultanescu commented on #9486
The 'before' should be then the default value, here's why:

- It's in the guidelines, they must be followed to the last pixel if possible
- It's the fist parameter in 'before' and 'after', normally 'after' should be default in rtl modes.
- When column is small the header text will push the icon out of sight, in this case the guidelines recommend adding a tooltip on the text, but the icon still is

[2018-01-30 09:56] Philip-Sultanescu commented on #9485
This is linked to #9486, which shows the problems with adding the sort icon 'after' instead of 'before' the header text by default.

The problem with using the current wrap is that big words get truncated in a very ugly way, especially on mobile:
<img width="382" alt="screen shot 2018-01-30 at 10 51 49" src="https://user-images.githubusercontent.com/30979663/35559707-aef11b36-05ab-11e8-954c-742557

[2018-01-30 10:11] HansS opened #9683 "The website is down"
error code: Uncaught SyntaxError: Invalid Unicode escape sequence (in main file from webpack)

[2018-01-30 10:15] OddDev commented on #9680
https://material.angular.io/ results in a blank white screen. Console output is `SyntaxError: missing variable name`. FireFox Quantum 58.0.1 (64-bit) on Windows

[2018-01-30 10:19] ciesielskico commented on #7291
Still an issue on Angular 5.2.2 and Material 5.1.0

[2018-01-30 10:27] JayChase commented on #6980
Is there any documentation on how this can be done? I'm trying to create a basic table component ([stackblitz version](https://stackblitz.com/edit/angular-qnyzxp) which allows for column and row definitions as content but I always get ** Could not find column with id ""** errors even when setting the column and row definitions in ngAfterContentInit

[2018-01-30 10:41] CanKattwinkel opened #9684 "Bug with Universal: MatRipple 'window is not defined' - on first SSR Request"
#### Bug, feature request, or proposal:

* **BUG**

#### What is the current behavior?

My SSR application is running into a `window is not defined` error on rendering. I can narrow it down by removing all usages of mat-ripple. By usage I mean **explicit usage** of the mat-ripple directive. Using a mat-button does **not** lead to the error.

The Error occurs as sonn as I import MatRippleModule and

[2018-01-30 11:17] RoestVrijStaal opened #9685 "Host Material2 Docs on GitHub (to selfhost own documentation site) or create docset for Zeal"
#### Bug, feature request, or proposal:
material.angular.io is down. Can't lookup any documentation about Material2

#### What is the expected behavior?
The idea is to make the documentation of Material2 vendor Independent so Material2 team can toy with their server while the rest of the world can develop with Material2 in comfort.

1. Put all the docs on separate GitHub repo (why are the demos on

[2018-01-30 11:24] mustafarian commented on #3334
@vlio20 Thanks for the directive idea/code. It's the least intrusive approach IMO.

You can simplify it a little by injecting `NgControl` into your directive and leaving it out or the inputs. Also I used `matAutocomplete`  which is already defined in the input instead of adding `autoCompleteRef` and it worked just the same.

This is how it looked after I made these changes.

[code]
and the relevan

[2018-01-30 11:33] EvAlex commented on #9683
Chrome says: `Uncaught SyntaxError: Unexpected end of input`

[2018-01-30 11:41] vlio20 commented on #3334
@mustafarian didn't know about the NgControl options. Indeed it is better.

[2018-01-30 11:49] donroyco commented on #9683
Duplicate of #9680

[2018-01-30 11:52] DevVersion commented on #9684
I tried to reproduce the SSR issue, but wasn't able to reproduce the issue within our `universal-app`. The `supportsPassiveEventListeners` method should be SSR-proof since v5.1.0 / https://github.com/angular/material2/commit/12feff70643cfa213ad130504cd2e6c521484b1f.

Since you seem to use `v5.1.0`, I'm wondering why this issue shows up. Do you think you'd be able to share the code part, which the

[2018-01-30 11:54] #9683 closed

[2018-01-30 11:55] #9668 closed

[2018-01-30 12:15] michahell commented on #9685
for now: https://alligator.io/angular/material-design-angular-reference/

[2018-01-30 12:33] CanKattwinkel commented on #9684
While i payed a lot of attention to the material version I obviously did not to the cdk version. My package.json was lacking a ^, therefore i got an outdated version of cdk. Also I missed the commit since the message didn't contain any information about server side rendering - if I would have checked.

So long story short: I can confirm this was fixed by v5.1.0

[2018-01-30 12:33] #9684 closed

[2018-01-30 12:48] TishchenkoAlex opened #9686 "(mat-form-field) with <input matInput type="date"> misalignment in flex box"
#### Bug, feature request, or proposal:
Bug

#### What are the steps to reproduce?
https://stackblitz.com/edit/angular-material2-issue-ydn8vz

[code]
#### Which versions of Angular, Material, OS, TypeScript, browsers are affected?
Angular 5.2.2, TypeScript 2.6.2, Material 5.1.1, Chrome 63

[2018-01-30 13:07] pantonis commented on #9680
Same error now

[2018-01-30 13:31] Domvel opened #9687 "Hide autocomplete options panel on disabled or add hidePanel method."
#### Bug, feature request, or proposal:
(More a suggestion as a bug. But a unwanted behavior of users.)
Hide the options panel of autocomplete if the input element goes disabled.
Or add a method to hide the panel in an official way.

#### What is the expected behavior?
Hide the option panel if the input is disabled.
Also if the panel was displayed before the input disabled.

#### What is the curre

[2018-01-30 13:41] kseyhan commented on #9680
ive got the same error with chrome and chromium.. latest version of firefox 58.0 works for me

[2018-01-30 14:18] djleonskennedy commented on #9669
@DAquilina no it is not a bug, at first it's chrome only behavior for now, second developer is responsible for creating correct html content

[2018-01-30 14:21] willshowell commented on #9676
This is almost certainly an NgZone issue, which probably stems from using the browser extension callback. See https://github.com/angular/material2/issues/7550

[2018-01-30 14:30] muellersergej commented on #9680
Maybe the issue depends on the region since I have some co-workers who can access the site without issues. It appears that the service worker cannot be downloaded (is either stuck in 'pending' status or results in an error).

![screen shot 2018-01-30 at 15 27 31](https://user-images.githubusercontent.com/375561/35571442-6b5579ae-05d2-11e8-9924-57d87897529a.png)

[2018-01-30 14:36] Anderson2000 opened #9688 "Content of expansion-panel is visible when parent component (expansion-panel) is closed"
#### Bug, feature request, or proposal:

#### What is the expected behavior?
![screen shot 2018-01-30 at 4 34 13 pm](https://user-images.githubusercontent.com/20068815/35571649-75d1a66a-05db-11e8-9ea6-2b95fd92fb57.png)

Inputs must be hidden

#### What is the current behavior?
![screen shot 2018-01-30 at 4 31 11 pm](https://user-images.githubusercontent.com/20068815/35571602-47f0c3d4-05db-11e8-8d6

[2018-01-30 14:42] vthinkxie opened #9689 "provide method to get _backdropElement in OverlayRef"
#### Bug, feature request, or proposal:
feature request

#### What is the expected behavior?
provide method to get private member` _backdropElement` in `OverlayRef`

#### What is the current behavior?
there is no way to get backdropElement in OverlayRef

#### What is the use-case or motivation for changing an existing behavior?

I want to subscribe more events like contextmenu or double click on t

[2018-01-30 14:42] rfprod commented on #9680
![ff_chromium](https://user-images.githubusercontent.com/1507770/35572080-ae158300-0588-11e8-8672-f55184868681.png)

[2018-01-30 14:58] vthinkxie opened #9690 "provide connectToArea method in OverlayPositionBuilder"
#### Bug, feature request, or proposal:

feature request

#### What is the expected behavior?

provide `connectToArea` in OverlayPositionBuilder.

#### What is the current behavior?
I have to provide the `ElementRef` when using `connectTo` function here.
https://github.com/angular/material2/blob/a48f75b454042798da0a94cfc62e0d94b26be7e1/src/cdk/overlay/position/overlay-position-builder.ts#L36

####

[2018-01-30 15:24] Somebi opened #9691 "Fix docs main page"
https://material.angular.io/ not working...

Uncaught SyntaxError: Unexpected end of input #

Probably broken build passed?

How this could have happened/passed...?

[2018-01-30 15:43] damco-rupesh opened #9692 "How to make the mat-table row selected on single or double click."
Dear Angular 4 Material Team,

I have been using Angular 5 and Angular material.
Could you please provide me the code how can I change the colour of the mat-table row on single or double click on row .

Regards,
Rupesh

[2018-01-30 15:44] donroyco commented on #9691
Duplicate of #9680

[2018-01-30 15:45] DAquilina commented on #9669
Assuming a button element is type button hardly seems like "incorrect" markup. It's also not unreasonable to request that a directive which already adds properties to an element add a default property.

That said, I have updated the initial post based on further investigation borne of your concerns.

[2018-01-30 15:46] donroyco commented on #9692
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-30 16:04] mmalerba commented on #8970
Can anyone who is experiencing this issue reproduce in stackblitz or plunker? I've created one for the code provided by @codemental and it seems to work fine: https://stackblitz.com/edit/angular-material2-issue-lkcrw7?file=app/app.component.ts

[2018-01-30 16:11] josephperrott commented on #9688
Closing as duplicate of: #8754

[2018-01-30 16:11] #9688 closed

[2018-01-30 16:12] josephperrott commented on #9685
Closing as this will be tracked in: https://github.com/angular/material.angular.io/issues/378

[2018-01-30 16:12] #9685 closed

[2018-01-30 16:12] josephperrott commented on #9691
Closing as this will be tracked in: https://github.com/angular/material.angular.io/issues/378

[2018-01-30 16:12] #9691 closed

[2018-01-30 16:12] josephperrott commented on #9680
Closing as this will be tracked in: https://github.com/angular/material.angular.io/issues/378

[2018-01-30 16:12] #9680 closed

[2018-01-30 16:12] josephperrott commented on #9679
Closing as this will be tracked in: https://github.com/angular/material.angular.io/issues/378

[2018-01-30 16:12] #9679 closed

[2018-01-30 16:15] DAquilina commented on #9669
UPDATE: On a whim I tested this with no library, and found that the behaviour is consistent with all browsers after IE 7, namely because by spec the default button type is (for some reason) submit.

https://stackoverflow.com/a/31644856/686036

https://embed.plnkr.co/Q7zYDX0ohjXcBJTvE3L0/

To that end, I'm going to close this issue since it's unrelated to material.

[2018-01-30 16:15] #9669 closed

[2018-01-30 16:22] hopecodelabs opened #9693 "Angular Material site is down"
#### Bug, feature request, or proposal:

https://material.angular.io/ site is down

#### What is the expected behavior?

Site should be up

#### What is the current behavior?
https://material.angular.io/ site is down

#### What are the steps to reproduce?
Providing a StackBlitz reproduction is the *best* way to share your issue. <br/>
StackBlitz starter: https://goo.gl/wwnhMV<br/>

#### What is th

[2018-01-30 16:34] DevVersion commented on #9693
Thanks for the report. This will be tracked with https://github.com/angular/material.angular.io/issues/378

[2018-01-30 16:34] #9693 closed

[2018-01-30 17:12] josephperrott commented on #9692
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-30 17:12] #9692 closed

[2018-01-30 17:25] jelbourn commented on #9662
Duplicate of #5648

[2018-01-30 17:25] #9662 closed

[2018-01-30 17:26] DevVersion commented on #9570
@jelbourn That should be just the `secret.github` variable in the function environment.

https://github.com/angular/material2/blob/a48f75b454042798da0a94cfc62e0d94b26be7e1/tools/dashboard/functions/github/github-api.ts#L5

[2018-01-30 17:51] praveeno opened #9695 "inconsistency between examples given in documentation and style guide."
Bug, feature request, or proposal:
type: - Documentation
inconsistency between examples given in documentation and style guide.
according to style guide Style 06-03 "HostListener/HostBinding decorators versus host metadata", decorators are recommended, but in angular material website, Directive Documentation it show examples only with host metadata.
it leads confusion.
let me know if you guys acce

[2018-01-30 17:51] Stephane-Peyroutet commented on #9631
I also need this kind of behavior and I will look into @MJomaa temporary solution.
I don't agree that this is a kind of custom popover...and the cdk overlay can be kind of overwhelming, especially if you just want to display a few simple menu elements.
So some options to tune the position a little further would be nice.

[2018-01-30 18:04] crhairr opened #9696 "mat-card support for themes"
#### Feature request:
Add first-class support for themes to mat-card, as well as all of its sections.

#### What is the expected behavior?
A "color", "background", or "theme" property on mat-card and its sections that make it easier to apply theme/palette colors other than the basic light/dark theme.

#### What is the current behavior?
Applying theme colors to cards requires custom classes and a b

[2018-01-30 18:15] mikeomeara1 commented on #7749
Hey guys, hate to "me too" but this is really become a problem and our users are clamoring...any idea when this might get looked at?

We have some Autocomplete's that are taking 10+ seconds to initialize (which wasn't happening ~Beta12). We're at a point where we’re facing having to yank Autocomplete if we can’t get this fixed.

As always, appreciate all of your hard work and please let me know if

[2018-01-30 18:25] crisbeto commented on #7749
@mikeomeara1 do you know approximately how many options you're rendering inside the autocomplete for it to take so long?

[2018-01-30 18:31] mikeomeara1 commented on #7749
@crisbeto Generally speaking < 1000 works OK. Anything more than that there is anywhere from a perceptible "screen freeze" to a full 5-10 second gap while it loads up. Obviously the more you add the worse it gets.

We didn't notice this issue (even with our huge lists) pre v5.0.0.

[2018-01-30 18:38] andrewseguin opened #9697 "[Table] Add row/column styling docs"
The documentation on the `mat-table` is lacking a section about adding custom styles and event handlers to the table, e.g. adding classes/styles to rows, listening to click events on rows, etc.

Users may not be aware that they can treat `mat-row` and `mat-header-row` are the elements stamped out by the table, or that columns are given the `mat-column-xxx` class.

Also, tables that define `min-wid

[2018-01-30 18:45] crisbeto commented on #9066
That's really weird. I did manage to reproduce a couple of errors when trying to open a dialog on the server, but neither was the same as yours (one was the error with `BlockScrollStrategy` that you reported earlier and the other one [points here](https://github.com/angular/material2/blob/master/src/lib/dialog/dialog-container.ts#L169)). I'll submit a fix for the error that I'm seeing and while no

[2018-01-30 18:54] crisbeto commented on #7749
At what point are you running into the freeze? When loading up the view or when attempting to open the autocomplete panel?

[2018-01-30 19:07] mikeomeara1 commented on #7749
On first showing the autocomplete, the delay is before the autocomplete panel is open (and once it's un-stuck, opening the panel is quick). However we're also seeing the same (or more) delay when we manually re-trigger the autocomplete panel after the user makes their first selection.

I can send you a video if there is a way for me to send it to you directly (e.g. not have to post it)

[2018-01-30 19:09] andrewseguin commented on #9663
@RaphyLi, I'm not sure why Stackblitz is issuing that particular error, but if you load up your example in a real app you'll see that this error is our friend, `ExpressionChangedAfterItHasBeenCheckedError`.

```ERROR Error: ExpressionChangedAfterItHasBeenCheckedError: Expression has changed after it was checked. Previous value: 'false'. Current value: 'true'.```

The reason you are seeing this is

[2018-01-30 19:09] #9663 closed

[2018-01-30 19:21] jelbourn opened #9699 "Prevent publishing a version containing "beta" to npm tag "latest""
It would be nice if there was a safeguard in our publishing task that preventing publishing to "latest" if the version number contains "beta".

[2018-01-30 19:34] andrewseguin commented on #9692
@damco-rupesh You can directly apply click handlers and class/style bindings on the `mat-row`.

Here's an example where rows will highlight when clicked: https://stackblitz.com/edit/angular-tt9tdw?file=app/table-basic-example.html

[2018-01-30 19:37] crisbeto commented on #7749
A video might not be great for debugging. [I put together this demo for testing things out](https://stackblitz.com/edit/angular-material2-issue-getlqt) and there definitely is a noticeable delay both when rendering the autocomplete and when opening it. Are you seeing something similar in your case?

As for improving the performance, we can relatively easily add the ability to have your `mat-autoco

[2018-01-30 19:45] ORESoftware commented on #9676
@julianobrasil @willshowell yeah I will try calling `close()` in the next tick of the event loop which will put it after thee this.mds.dialogEmitter call...it's just weird that it work always in one case, yet fails always in another case.

[2018-01-30 19:45] andrewseguin commented on #8760
Here's a quick example of defining the result type: https://stackblitz.com/edit/angular-iw4975?file=app/dialog-overview-example.ts

Note that result is typed as string via `let dialogRef: MatDialogRef<DialogOverviewExampleDialog, string>`

If you try changing it to `number`, you'll see an error show up when you try to assign `result` to `animal` which demonstrates that it is typing correctly.

[2018-01-30 19:48] andrewseguin commented on #7291
Keep an eye on https://github.com/angular/material2/pull/8921 for the fix. When it's merged then you can make it so that your tabs load lazily which means Angular animations will work correctly for content in tabs

[2018-01-30 19:51] mikeomeara1 commented on #7749
Fair enough. OK so, from what I can see here, this is running MUCH faster than what I'm seeing...this is how it USED to work. Even when I up the items to 10,000...it works how I would expect. So, that means one of two things:

1. Something got fixed between v5.0.0 and v5.0.1
2. I have something else broken here that happened when we upgraded from Beta.12 to 5.0.0

I'll try and upgrade here soon an

[2018-01-30 19:52] ORESoftware commented on #9676
nahh..so even if I do this:

[code]

that should put it on the next tick, and that didn't work, let me try just adding it on the last line, instead of in the next tick

[2018-01-30 19:52] willshowell commented on #9676
@ORESoftware did you make sure you are opening your dialog within the NgZone?

[2018-01-30 19:53] ORESoftware commented on #9676
@willshowell, no, how do I do that?

[2018-01-30 19:54] willshowell commented on #9676
Look at #7550,  particularly https://github.com/angular/material2/issues/7550#issuecomment-345250406

[2018-01-30 19:54] ORESoftware commented on #9676
I assume that if it's in the same tick, it will most likely be in the same zone, and note that this fails as well:

[code]

[2018-01-30 19:55] crisbeto commented on #7749
I don't think much has changed in the autocomplete between the 5.0.x version for it to have any impact on performance. My guess is that your template might be a bit more complicated than my demo.

[2018-01-30 19:55] ORESoftware commented on #9676
I am very familiar with Node.js domains, and I heard that NgZones were similar in nature

[2018-01-30 19:56] willshowell commented on #9676
Ok - you don't have to try it, but this exact issue has come up a half-dozen times, and it is always because they opened the dialog outside of the zone.

[2018-01-30 19:59] andrewseguin commented on #9486
Here's my counter argument:

- The guidelines only show the sorted case where cell values are right-aligned and it makes sense that the arrow fills in the void to the left of the header. By default, table cell values are left-aligned and so by default the arrow should appear after the header to fill the void just like in the guidelines.
- We do not define types in an order that should infer defaul

[2018-01-30 20:01] andrewseguin commented on #9670
Please re-open with an example on Stackblitz so we can reproduce the issue and investigate.

[2018-01-30 20:01] #9670 closed

[2018-01-30 20:02] ORESoftware commented on #9676
@willshowell I got it to work with the ngZone code you mentioned. TBH, that was fairly hardcore lol.
I basically replaced  this:

[code]

with this:

[code]

thanks for your help!

[2018-01-30 20:03] ORESoftware commented on #9676
@willshowell so just like Angular1.x, is there a way to use setTimeout, so that the callback fn, is called within the same zone? Is there something we can inject like with Angular 1.x $timeout? You know what I am saying right?

[2018-01-30 20:08] willshowell commented on #9676
@ORESoftware I actually don't have any Angular 1 experience, so I dunno. The root of this issue is that your browser extension callback is not executing within the NgZone. You can probably pull the `ngZone.run()` part into `this.mds` so that it's consolidated better and not left to your dialog service to handle.

It's a common issue when incorporating 3rd party libs/apis.

[2018-01-30 20:18] akanieski commented on #4886
Any updates? looking for the same.

[2018-01-30 20:18] andrewseguin commented on #8759
The trivial case should be easy to implement, here's an example set of logic that would be added to the show method in `tooltip.ts`.

I imagine we would want some `@Input` to turn on the functionality and some math using the pointer event's cursor position to determine the right offsets.

My concern would be in making sure the overlay works well in edge cases, e.g. when the overlay falls back on a

[2018-01-30 20:21] andrewseguin commented on #2177
This is a great case of getting community contribution. Unfortunately we only have a limited set of resources with lots of higher priority issues/features to work on.

If anyone wants to work on this, here's a branch on my fork that has some work done to refactor the tab header so it can be used by both the tab group and nav bar: https://github.com/andrewseguin/material2/tree/tabs-pagination-refac

[2018-01-30 20:21] mikeomeara1 commented on #7749
It's almost exactly the same as yours actually...just with an `onSelectionChange` and async pipe.
[https://gist.github.com/mikeomeara1/facf01de71bed795b49457ae8bfdde23](https://gist.github.com/mikeomeara1/facf01de71bed795b49457ae8bfdde23)

 I just pulled your demo into my app and it's doing the same thing...taking a VERY long time to load up and reopen. Curious.

[2018-01-30 20:58] crisbeto commented on #9687
The `MatAutocompleteTrigger` directive has `openPanel` and `closePanel` methods, however it doesn't look like we've exported it through the template. You should still be able to get a reference to it through a `ViewChild` though. E.g.

[code]

[2018-01-30 21:56] leveyh opened #9704 "mat-autocomplete value not updating with browser autofill"
#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
FormControl value should change when using browser autofill to complete the address.

#### What is the current behavior?
FormControl value does not change. Validation fails on the field.

#### What are the steps to reproduce?
https://stackblitz.com/edit/angular-material2-issue-autocomplete-with-autofill

Start typing

[2018-01-30 22:32] codemental commented on #8970
Thank you (a lot actually :D ) @mmalerba for making the stackblitz template. I've cloned it and reproduced the bug here: https://angular-material2-issue-8970.stackblitz.io.

When the app opens just click on 'Load Location', the form appears. Then just select any of the form fields, after which click 'New Location'. I have just tested this on Chrome and Firefox.

[2018-01-30 22:49] #9618 closed

[2018-01-30 22:58] jelbourn commented on #9696
We don't have any plans to turn this into an API. You should be able to use CSS to customize the background color, or SCSS to pull the color from the current theme.

[2018-01-30 22:58] #9696 closed

[2018-01-30 23:16] simeyla commented on #5885
@andrewseguin What I posted was working quite well for me, so I was happy with this and wasn't really reporting an issue. But I'm only testing in latest Chrome at this time. If by issue you mean why did I have to use half a pixel it was on my iPad and showing through underneath the header as I scrolled.

[2018-01-30 23:16] briantq opened #9706 "Update package-lock.json with dependencies"
#### Bug, feature request, or proposal:
To ensure build quality/stability, it would be nice to know which versions of dependencies were used to build a given release of Angular Material.  The package-lock.json is intended to provide exactly that, but it is not getting updated and is outdated.

#### What is the expected behavior?
Update the package json for a release, if not more often

#### What i

[2018-01-30 23:17] briananderson1222 commented on #9671
🎉  That was fast @crisbeto ! Thanks

[2018-01-30 23:40] tinayuangao commented on #9660
@Namkem Could you please provide a StackBlitz reproduction?
StackBlitz starter: https://goo.gl/wwnhMV

[2018-01-30 23:56] tinayuangao commented on #9657
See https://angular.io/guide/reactive-forms#observe-control-changes
Using observable to observe control changes solve the problem.

[2018-01-30 23:56] #9657 closed

[2018-01-30 23:57] #7384 closed

[2018-01-31 00:01] #9233 closed

[2018-01-31 00:02] #6858 closed

[2018-01-31 00:04] #9278 closed

[2018-01-31 00:05] #9625 closed

[2018-01-31 00:08] #9039 closed

[2018-01-31 02:41] jelbourn commented on #9706
AFAIK we do just that. The file was actually updated yesterday. Do you have an example of a commit that updates the deps in package.json without the lock?

[2018-01-31 02:43] jelbourn commented on #9695
We use the host object because the decorator can sometimes have issues with platform-server. I'm not too concerned about this small deviation.

[2018-01-31 02:43] #9695 closed

[2018-01-31 02:44] jelbourn commented on #9690
I would think you would want a globally positioned overlay for this case, no?

[2018-01-31 02:47] jelbourn commented on #9676
Closing since this does sound like an issue with escaping the Angular zone. You can re-enter the zone by injecting `NgZone` and doing
[code]

[2018-01-31 02:47] #9676 closed

[2018-01-31 03:00] vthinkxie commented on #9690
@jelbourn yes, but it seems that the `global` api here
https://github.com/angular/material2/blob/a48f75b454042798da0a94cfc62e0d94b26be7e1/src/cdk/overlay/position/overlay-position-builder.ts#L26
could not provide the api like `withFallbackPosition` and the position defined by `global` api is not `absolute` but `static`
https://github.com/angular/material2/blob/a48f75b454042798da0a94cfc62e0d94b26be

[2018-01-31 03:39] mmalerba commented on #9704
@crisbeto assigning to you since this seems specific to the autocomplete

[2018-01-31 03:47] mmalerba commented on #9686
This looks like a dupe of #8012

[2018-01-31 03:47] #9686 closed

[2018-01-31 03:48] mmalerba commented on #8012
This issue has been reported with `type="date"` as well

[2018-01-31 04:11] briantq commented on #9706
Thanks for the quick reply. I was specifically looking at the latest release branch, 5.1.1.

https://github.com/angular/material2/tree/5.1.1

In the branch the package.json was updated 13 days ago while the package-lock.json is over a month.

Is there a better way to determine which dependency versions were used in the build/testing of the release?

[2018-01-31 04:54] AlphaIX opened #9707 "How could I use component `Datepicker` to implement Calendar?"
#### Bug, feature request, or proposal:
How could I use component `Datepicker` to implement Calendar?  just calendar not picker. I will appreciate any of your help.

#### Which versions of Angular, Material, OS, TypeScript, browsers are affected?
The latest Version of Material

[2018-01-31 06:15] Gopinath-B-G commented on #5232
Hi All I have issue in built css in Liferay while creating portlet
directory structure is as below:
![image](https://user-images.githubusercontent.com/35987259/35607755-c5741608-067b-11e8-8c6a-e8d146bc18ed.png)

Consol view:
![image](https://user-images.githubusercontent.com/35987259/35607825-37a819e0-067c-11e8-846c-4de7bb7dd304.png)

Please Give me solutions for this problem.

[2018-01-31 06:21] amirbashiri opened #9708 "keep matmenu open when click on item"
hi
how can i keep matmenu open when i click on it?

[2018-01-31 06:29] gogakoreli commented on #9620
I thought same but I don't understand why doesn't same happen on other input elements?

[2018-01-31 06:37] ShawnTseng commented on #7920
@mmalerba
When I use markAsTouched() to trigger the 'custom form field control', the mat-error doesn't show up.
The status is still on mat-hint.
I need to use mouse to click the 'custom form field control' for the mat-error. And I read the source code.
![image](https://user-images.githubusercontent.com/27264820/35608386-dfd33106-0693-11e8-9848-43bcd9d949cb.png)
Maybe the problem is on this ngSwitc

[2018-01-31 07:21] erickyi2006 commented on #5885
@simeyla , beautiful. works like a charm . thumbs up

my css now has these two elements
[code]

[2018-01-31 07:33] donroyco commented on #9707
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-31 07:33] donroyco commented on #9708
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-31 08:48] apoorv-techelogy commented on #7749
waiting for it to get resolved as soon as possible

[2018-01-31 08:51] erickyi2006 commented on #6178
trying to implement multiple columns filtering using the filterPredicate. The limitation i saw when trying to perform filtering on multiple columns is that the "this" pointer is that of the MatTableDataSource and not that of my component.  if the filterPredicate pass back the context of my component, then i can have a simpler solution. At this point, the work around is have a form based input to a

[2018-01-31 09:26] Domvel commented on #9687
Ok, thanks @crisbeto
This method isn't available in html template. I've not tested if closePanel() works. But the Type MatAutocompleteTrigger has it.

My template looks like:
[code]
autoTests.closePanel() doesn't exists. Maybe this ticket should fix the issue?

[2018-01-31 09:34] crisbeto commented on #9687
`autoTests` is referring to the `MatAutocomplete`, not the `MatAutocompleteTrigger`. After #9703 gets in, you should be able to get a hold of the trigger instance like this:

[code]

Until the PR gets released, you can refer to https://github.com/angular/material2/issues/9687#issuecomment-361732004.

[2018-01-31 09:39] Domvel commented on #9687
Great, thanks. 👍

[2018-01-31 09:49] kuzbida opened #9710 "Material 5.1.1: Generic type 'TemplatePortal<C>' requires 1 type argument"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
ng serve/ng test should run successfully

#### What is the current behavior?
ng serve/ng test fails with following error:
[code]

#### What are the steps to reproduce?
Use @angular/material 5.1.1 with @angular "^5.2.1".

#### What is the use-case or motivation for changing an existing behavior?
Fix builds

#### Which

[2018-01-31 13:46] cravter commented on #9710
@kuzbida 'npm install @angular/cdk@5.1.1' solved this problem for me

[2018-01-31 14:01] ganeshkantu commented on #4597
+1

[2018-01-31 14:05] j2L4e opened #9712 "CdkPortalOutlet should resolve componentFactories through the portal's ComponentFactoryResolver"
#### Bug, feature request, or proposal:

At the moment, `CdkPortal` tries to resolve `ComponentFactories` via its own CFR which it got from its own `Injector` instance:

[code]

It may happen that you'd like to attach a `ComponentPortal` with a lazily loaded `entryComponent` that's not resolvable through the `PortalHost's` CFR. It should then try to get a CFR instance from the Portal to resolve th

[2018-01-31 14:19] Bradleycorn opened #9713 "Access to DOM click event on Overlay backdropClicked emitter"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
When using an Overlay from the CDK and the user clicks on the backdrop return the underlying DOM click event to backdropClicked() subscribers. This is useful in some scenarios where we might need to do something like `event.preventDefault();`

#### What is the current behavior?
The backdropClicked() event

[2018-01-31 14:33] DevVersion commented on #4861
I'm not able to reproduce that issue anymore. https://stackblitz.com/edit/repo-4861?file=app/slide-toggle-overview-example.ts

[2018-01-31 14:33] #4861 closed

[2018-01-31 14:56] cristiancamiloperezlopez opened #9714 "Show matTooltip in mat-datepicker on unavailable dates"
What would be the best approach to implementing an matTooltip that is dependent on unavailable dates using mat-datepicker in Angular Material?

https://stackblitz.com/angular/ynepeydnykp

[2018-01-31 14:58] jakkn commented on #8416
@hoangnguyen208 the workaround described above should work as long as you follow https://material.angular.io/guide/theming for creating an app theme. Make sure the workaround css comes before `@include mat-core();`

[2018-01-31 15:00] donroyco commented on #9714
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-31 15:03] cristiancamiloperezlopez commented on #9714
I think it becomes a feature request

[2018-01-31 15:07] josephperrott commented on #9708
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-31 15:07] #9708 closed

[2018-01-31 15:08] josephperrott commented on #9707
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-31 15:08] #9707 closed

[2018-01-31 15:09] josephperrott commented on #9710
Closing as this is the result of having mismatched versions of `@angular/cdk` and `@angular/material`.  The versions must be in line with each other.