[2017-03-23 19:40] fxck commented on #675
Cool. M1 virtual scroll felt pretty performant, I would have guessed that in angular2 it would be even faster by default, just because it's.. well angular2

I've already seen some experiments https://github.com/rintoj/angular2-virtual-scroll

[2017-03-23 19:43] Kaos64 opened #3744 "BUG : [md-checkbox] Exception raised when click, if form is disabled."
#### Bug :
When user click on md-chekbox after call f.disable() - f is FormGroup object - An exception is raised.

#### What is the expected behavior?
Nothing append

#### What is the current behavior?
Exception raised

#### What are the steps to reproduce?
I join a plunker
To show exception disable checkbox using button 'toggle (Enabled/deisabled)' and click on material check box (first)
https://

[2017-03-23 19:58] fxck commented on #3740
put router-outlet in it?

[2017-03-23 20:02] gdi2290 commented on #308
`@angular/material` will work with universal around versions 4.1.x in the meantime there are a few workarounds including frameworks, as @clbond suggested, that will add material support.

@clbond I like what you did with angular-ssr and a lot of what you have is what I was planning on having built into universal before the scope was lowered.

[2017-03-23 20:04] patrikx3 opened #3746 "MD Toolbar height weird"
Please check my site:
https://pages.corifeus.tk/

When you size the browser width with a toolbar, it is correct, instead about the middle width it becomes too small.

Like toolbar:
width  ~1920 - toolbar height = X
width ~889 toolbar height = 0.8 * X
width ~785 toolbar height = X

It should be the same, except maybe when width < 600.

Widest, height correct:
![image](https://cloud.githubuserconten

[2017-03-23 20:12] patrikx3 commented on #3746
critical error:
[code]

[code]

[2017-03-23 20:21] tarlepp commented on #2936
Hmm, and if I following stucture on my app.component.html

[code]

And I want to toggle that sidenav on _any_ component that is rendered inside header router-outlet?

[2017-03-23 20:30] jefersonestevo commented on #3741
Dude, the problem here is that the property that you're trying to show on your md-option does not exists in your list: `{{ type.viewValue }}`

Try to change it to  `{{ type.value }}` (which is a property that exists on your types list) and you'll see them rendered.

Example:
[Plunker](http://plnkr.co/edit/f2fAYRfvkGCD5EYmAfS2?p=preview)

[2017-03-23 20:37] darrenbrett commented on #3741
You'd think that'd work, but after changing it, I still don't see the values. It looks like it's iterating over the list, but it is not visible:

[code]

[2017-03-23 20:57] darrenbrett commented on #3741
Played with it some more and got it to work. Thanks @jefersonestevo.

[2017-03-23 20:57] #3741 closed

[2017-03-23 21:07] automatedenergy commented on #675
I don't think I every included the exact link to vaadin's datepicker. It is using a jquery wrapper to run in an Angular app https://vaadin.com/elements/-/element/vaadin-date-picker#demos . The scrolling on this is super fancy. I have never used polymer.

[2017-03-23 21:33] crisbeto commented on #1316
@metavurt I finally managed to reproduce your issue against our demo app. It seems like it happens because you haven't included a theme in your app. [You can check our theming guide on how to do it.](https://github.com/angular/material2/blob/master/guides/theming.md) I'll keep looking to see if I can pinpoint which style fixes the issue and whether we can move it into the button styles.

[2017-03-23 21:46] #3301 closed

[2017-03-23 21:46] #3336 closed

[2017-03-23 21:46] #3357 closed

[2017-03-23 22:46] mertdeg2 opened #3748 "mat-select doesn't change appearance when focused with keyboard"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
mat-select is highlighted when user tabs into the component

#### What is the current behavior?
mat-select doesn't change its appearance when focused with keyboard

#### What are the steps to reproduce?
Press "Tab" key until the keyboard focus is on mat-slide-toggle

Btw. default plunkr template for creating bugs seem

[2017-03-23 23:12] patrikx3 opened #3749 "BUG angular material 2"
# AOT
Looks like an SVG error.

## Error
[code]

```@angular/material/checkbox/checkbox.html```

[code]

[2017-03-23 23:47] M-a-c commented on #3550
@jelbourn
Issue question:
Where should these examples be created?
/src/lib/examples/theme-NameofTheme-overview ?
Just one and then reference the other defaults, or all 4 themes?

Extra question:
Also are there going to be more default themes? / a theme builder ?

[2017-03-24 00:25] M-a-c commented on #1776
@jelbourn Seems to be added
feat(ripple): support for global ripple options (#3463)

https://github.com/angular/material2/blob/fb75a136e72489d75c44ca8e68d99352dc71afef/src/lib/core/ripple/ripple.ts#L20

[2017-03-24 00:28] jelbourn commented on #1776
So it is.

[2017-03-24 00:28] #1776 closed

[2017-03-24 00:49] M-a-c commented on #2579
@jelbourn I think this one is

- [x] done

https://github.com/angular/material2/pull/2607/files/49aba6106c821dac00900762589de23e660de9f0
was merged.

[2017-03-24 01:19] jelbourn commented on #3749
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-03-24 01:19] #3749 closed

[2017-03-24 01:21] jelbourn commented on #3723
Dupe of #2103

[2017-03-24 01:21] #3723 closed

[2017-03-24 01:25] jelbourn commented on #3736
@matsko Do you know anything about animation issues on IE / Edge ?

[2017-03-24 01:25] alexsapps opened #3750 ""Cannot read property 'selected' of undefined" accessing #mdSelect.selected in template"
Bug caused by https://github.com/angular/material2/pull/2722

Expected:
  This valid template should not cause an error:

[code]

Actual:

Error: "Cannot read property 'selected' of undefined" because in Material's source code, `_selectionModel` is `undefined` until `ngAfterContentInit`:

[code]
https://github.com/angular/material2/blame/cd55082a488e58a3f4948bba8e5d0a6771a57233/src/lib/select/sele

[2017-03-24 01:27] jelbourn commented on #3734
@michaeljota The [responsive properties in flex-layout are specific to those directives](https://github.com/angular/flex-layout/blob/master/src/lib/flexbox/api/flex-align.ts#L39-L54) and aren't general modifiers that can be added anywhere.

[2017-03-24 01:27] #3734 closed

[2017-03-24 01:28] jelbourn commented on #3728
This is something we plan on adding to the select but it is not yet implemented.

[2017-03-24 01:28] #3728 closed

[2017-03-24 02:25] michaeljota commented on #3734
Sorry. I misinterpreted the docs about the responsive API. You both are right, I'm sorry.

[2017-03-24 04:48] leo6104 commented on #3461
@jponeill You can close this issue. This problem was solved with Angular 4.0 rc.4 update :)

[2017-03-24 05:31] JacobBrandt commented on #3150
@kara This seems to happen most often when I have the developer tools open.  It also seems to only happen when the dropdown should be rendered below.  See this GIF for what I mean.
![autocomplete_crash](https://cloud.githubusercontent.com/assets/5314322/24281734/8afd451e-1020-11e7-918b-5982533f7fd5.gif)

[2017-03-24 05:37] kara commented on #3150
In that case, looks like a dupe of https://github.com/angular/material2/issues/3176. Should be fixed in master.

[2017-03-24 05:41] JacobBrandt commented on #3150
OK, thank you.

[2017-03-24 06:16] NCC1701M commented on #3595
@crisbeto
Which are those issues? Could you please mark this as a dublicate of those issues?

[2017-03-24 06:27] leo6104 commented on #3595
@NCC1701M It might be #3174 Issue.

[2017-03-24 06:40] ahmadalfy commented on #3728
Thank you for the clarification. I must've confused the material docs with Angular Material 2

[2017-03-24 07:29] tgiddings commented on #2624
@codef0rmer can you elaborate on the css to hide the fake input in your trick? I've tried variations of
[code]
where `select-input-container` is a class I add to the input container. Not only does this have no effect on the extra underline, but this rule doesn't even show up in firefox's inspector as being considered for the underline element. you mention a `div.md-input-underline`, but there is n

[2017-03-24 07:32] crisbeto commented on #3595
https://github.com/angular/material2/commit/cd55082a488e58a3f4948bba8e5d0a6771a57233 includes Angular 4 support and was merged yesterday. It'll be in the next release.

[2017-03-24 07:40] patrikx3 opened #3753 "BUG angular material 2"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
works

#### What is the current behavior?
error

#### What are the steps to reproduce?
aot with webpack

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

here:
```@angular/material/checkbox/checkbox.html```

[code]

#### What is the use-case

[2017-03-24 09:31] mbeckenbach opened #3754 "Nav Tabs line acts strange"
#### Bug, feature request, or proposal:
Right after initializing the component the bottom line of the tab has a wrong size;

![image](https://cloud.githubusercontent.com/assets/6654388/24288143/92afec2e-107c-11e7-9aa0-96912411b66a.png)

As soon as you navigate to the second tab (DRV in my screenshot) and then back to the first one the line has the correct size;

![image](https://cloud.githubuserco

[2017-03-24 09:58] mbeckenbach opened #3755 "Template is deprecated"
#### Bug, feature request, or proposal:
After update to angular 4.0 console shows this warning:

Template parse warnings:
The <template> element is deprecated. Use <ng-template> instead ("[WARNING ->]<template><div class="mat-autocomplete-panel" role="listbox" [id]="id" [ngClass]="_getClassList()" #p"): ng:///MdAutocompleteModule/MdAutocomplete.html@0:0

#### Which versions of Angular, Material, O

[2017-03-24 10:14] lucasvanhalst commented on #3755
Already fixed in #3608

[2017-03-24 10:34] mbeckenbach commented on #3755
ok thanks. please close

[2017-03-24 10:34] #3755 closed

[2017-03-24 11:22] doorman02 opened #3756 "Tab not resizing down to smaller content tab"
#### Bug, feature request, or proposal:
When content in one tab is very much and the height of the tab is large. When switching to another tab which has less content the tab is not resizing down to the height of the tab. It uses the height of the largest height tab.

I have the dynamicHeight property set like this
`<md-tab-group dynamicHeight>`

#### What is the expected behavior?
The height of th

[2017-03-24 12:41] #3461 closed

[2017-03-24 12:51] molcik opened #3757 "Plunker template doesn't work"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Working plunker template.

#### What is the current behavior?
![screen shot 2017-03-24 at 13 47 50](https://cloud.githubusercontent.com/assets/11929953/24294933/dd2754ba-1098-11e7-962c-ba3b1e59dda2.png)

"Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://go

[2017-03-24 13:41] willshowell commented on #3754
Looks like a dupe of #3495

[2017-03-24 14:01] willshowell commented on #3746
You can see from #2157 that those numbers are coming from the [Material spec for app bars](https://material.io/guidelines/layout/structure.html#structure-app-bar).

[2017-03-24 14:04] patrikx3 commented on #3746
ciao, chrome debian is not mobile landscape. still it changes the toolbar height.

[2017-03-24 14:11] patrikx3 commented on #3746
sent you 3 screenshots. they all desktop landscape. still it shrinks like it is a mobile landscape.

[2017-03-24 14:18] patrikx3 commented on #3746
sorry i sent  you mobile screenshot, i send you a new 3 shots. same bug. sorry.

[2017-03-24 14:22] patrikx3 commented on #3746
Still it is the first one is once like this height, then smaller, then the first again, werid!!!
CIAO!

Full HD, toolbar as expected:
![image](https://cloud.githubusercontent.com/assets/4770180/24298125/590d1248-10a5-11e7-804c-3a8d24b04554.png)

Resize browser, about middle , it is wrong, too small:
![image](https://cloud.githubusercontent.com/assets/4770180/24298170/7c3b1cba-10a5-11e7-9939-a29925

[2017-03-24 14:23] xtianus79 commented on #3740
@fxck why would that work?  the url isn't or hans't been changed

[2017-03-24 14:35] willshowell commented on #3746
Ahh it looks like this might have been fixed by #3312, which will be included in the next release.

[2017-03-24 14:45] patrikx3 commented on #3746
cool, thanks so much.

[2017-03-24 14:45] #3746 closed

[2017-03-24 14:49] mcgear opened #3758 "Input Type=File should allow for md-button style attributes"
#### Bug, feature request, or proposal:
Maybe a feature request.  It seems to me that an input with type="file" should be able to be treated like a button.  As an example, if i wanted to have a file input on the page:

<input md-raised-button id="custom-input" type="file" (change)="LogoChangeListener($event)" />

#### What is the expected behavior?
I expect that the button in the input control to

[2017-03-24 15:07] willshowell commented on #3740
@xtianus79, since this is question rather than a bug report / feature request, it really belongs on stack overflow, gitter, or similar. If you post a question on SO and link to it from here, I can try to help you there.

FWIW, if I understand your question, maybe [`ActivatedRoute`](https://angular.io/docs/ts/latest/api/router/index/ActivatedRoute-interface.html) can help you achieve what you're af

[2017-03-24 15:08] niveo opened #3759 "md-checkbox ng-true-value ng-false-value"
How I use ng-true-value="'yup'"  ng-false-value="'nope'" in material 2?

`<md-checkbox [(ngModel)]="model.isValid === 'Y'" color="primary">Valid</md-checkbox>
`

Parser Error: Unexpected token '=' at column 20 in [model.valid === 'Y'=$event]

Material 1
[code]

[2017-03-24 15:20] xtianus79 commented on #3740
@willshowell thank you.  I am testing a few things and if I come to the point of needing it I will post this on SO... I looked at ActivateRoute and that might be useful/what I need. I was thinking perhaps I don't need this routed at all... (rework you know)  I will do a little investigation first.  thanks

[2017-03-24 15:26] xtianus79 commented on #1514
@jelbourn this is a feature I would most definitely want to use.  Is this possible as it is in Angular 1?

Also, I will make this pitch as to way someone would want to use it.  The sidenav isn't a sidenav... It is a side modal panel.  Which is much more convenient to work with information and perhaps interact with it. Think form entry, quick info interaction, etc.  The dialog box shouldn't be the

[2017-03-24 15:34] gpazo commented on #308
any updates on this? It appears angular 4.0.0 is published as of yesterday 3/23

[2017-03-24 16:11] DevVersion commented on #3757
Thanks. Fixed it!

[2017-03-24 16:12] #3757 closed

[2017-03-24 16:13] yusijs commented on #308
@gpazo the msg above you says it's coming in 4.1 (ish) :)

[2017-03-24 16:13] jelbourn commented on #308
We met recently to review places where Angular Material has to touch the DOM. We found that these all fell within three categories:
* Things that happen in response to user interaction. Since this requires that the app actually be running on the browser for interaction to occur, nothing really needs to change here.
* Components that need to measure something in order to render correctly. For examp

[2017-03-24 16:29] ericgundrum opened #3760 "build: Cannot find module '@angular/animations'"
#### Bug, feature request, or proposal:

bug

#### What is the expected behavior?

`npm install --save https://github.com/angular/material2-builds.git` in a new project should build.

#### What is the current behavior?

`npm install --save https://github.com/angular/material2-builds.git` in a new project fails to build reporting error `Cannot find module '@angular/animations'`.

#### What are the

[2017-03-24 16:37] automatedenergy commented on #675
I do like the inertia of the angular2-virtual-scroll a lot.

[2017-03-24 16:37] Nikki1993 commented on #3760
You need to install manually `@angular/animations` it's now a separate package.  Read the full announcement here http://angularjs.blogspot.com/2017/03/angular-400-now-available.html

[2017-03-24 17:16] ericgundrum commented on #3760
@Nikki1993, that's helpful. I see that running `npm install '@angular/animations'` fixes the build problem.

Possibly the Material project should address this in a less obscure way. Maybe animations should be listed as a peer dependency. Or maybe [Getting started](https://material.angular.io/guide/getting-started) should be updated to indicate the step to install it. Or maybe both are needed.

[2017-03-24 17:21] DevVersion commented on #3591
@DaveBest99 Exactly, the only thing that is part of the `md-slide-toggle` is the output from the `slide-toggle-configurable-example`.

Can you please re-test with the following page: [here](http://plnkr.co/edit/I8NPCFpn1btNkL4R6osN?p=preview)

[2017-03-24 17:24] DevVersion commented on #3316
See #3751

[2017-03-24 17:27] DevVersion commented on #3715
This has been fixed in `master`. Docs will be updated with `beta.3`.

[2017-03-24 17:27] #3715 closed

[2017-03-24 17:48] mertdeg2 opened #3762 "mat-select should enable specifying aria-label without specifying placeholder"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
User can specify [aria-label] attribute without specifying [placeholder]

#### What is the current behavior?
[placeholder] overrides the aria-label attribute

#### What are the steps to reproduce?

http://plnkr.co/edit/yPrSiGr1mx4c1vW4sKsO?p=preview

[2017-03-24 17:54] Nikki1993 commented on #3760
@ericgundrum change happened literally today with the upgrade to Angular v4. Prior versions are unaffected by it thus they couldn't list it as peer dependency. They still need to merge the commit that makes material angular 4 compatible & update the docs. Be patient.

[2017-03-24 18:31] DevVersion commented on #3692
Looks like an issue. I'm not sure what UX we prefer here. Should we just wrap the text or just prevent overflow @jelbourn?

[2017-03-24 18:33] #2579 closed

[2017-03-24 18:34] DevVersion commented on #3061
Shouldn't be necessary - Loaders are actually smart enough to detect that the package from HammerJS redirects to the `hammer.js` file. See for example [this](https://unpkg.com/hammerjs@2.0.8/package.json)

[2017-03-24 18:34] #3061 closed

[2017-03-24 18:38] xtianus79 opened #3764 "Using multiple sidenav's form one component i.e. md-sidenav #sidenav1, 2, 3, etc"
#### Bug, feature request, or proposal:
feature request:
This was something you could do pretty easily in material 1.
It was shot down here from a previous post but the reasoning was a little shaky so I wanted to perhaps bring new life to the proposal.

The main reasoning is it already sort of exists if you per se call an align=start or align=end.  Right there you have a way to have 2 on the page.

[2017-03-24 18:43] jelbourn commented on #3550
We should list all of the prebuilt themes in the theming guide.

We will add more prebuilt themes before final.

We do want to add a theme builder to the docs site eventually, but that's more of a nice-to-have.

[2017-03-24 18:45] willshowell commented on #3692
@DevVersion Given the [spec's discussion](https://material.io/guidelines/layout/structure.html#structure-app-bar) of "prominent" and "extended height" toolbars/appbars, it would seem that wrapping would be the appropriate behavior.

[2017-03-24 18:47] DevVersion commented on #3692
@willshowell Thanks for looking into it. I'm just a bit worried about the height of the toolbar's.

If we support wrapping, then I assume users will have toolbar's that are taller than the specification says.

[2017-03-24 18:54] dalemanthei commented on #3219
It is perhaps a naive implementation but it seems like a stacking context would be one solution. What don't I get about what the overlay is providing?

[2017-03-24 18:56] willshowell commented on #3692
Agreed. Perhaps a similar approach to list items could work in combination with nowrap? It would still give users an outlet for adding additional content to the toolbar, while (I assume) adhering to the spec.

[code]

[2017-03-24 19:10] DevVersion commented on #3692
Not sure I can quite follow. Isn't the snippet you posted kind of about multiple rows?

[2017-03-24 19:28] willshowell commented on #3692
Yes, it is.

With the proposed solutions, if I wanted to add several icon buttons and a long title, the toolbar would either
1. Prevent overflow and cut off my content
2. Wrap and no longer follow the spec [*see note below*]

However, if MdToolbar could support multiple rows, like in the following image, I would be able to fill the toolbar with far more actions/content that I can currently, and it

[2017-03-24 19:33] DevVersion commented on #3692
@willshowell Yes. There are a  lot of things described in the toolbar specification.

In Angular Material we tried to keep the component as simple as possible. The simplicity just allows developers to tweak the component as much as they want.

The toolbar already supports multiple rows, but I assume you are talking about `line-rows` inside of a row right?

[2017-03-24 19:36] crisbeto commented on #1316
Closing this, because including the theme is mandatory for other components to work properly, in addition to the button. There's a pending PR that will log a warning if these styles are missing.

[2017-03-24 19:36] #1316 closed

[2017-03-24 19:38] willshowell commented on #3692
Oh whoops! I'd entirely forgotten that the toolbar already had support for rows... Should've read up before injecting my opinions 😏

[2017-03-24 19:39] DevVersion commented on #3692
@willshowell No problem. Really appreciate your feedback here :)

[2017-03-24 19:39] jkyoutsey commented on #1316
I HAVE a theme!  In fact, I've customized my theme by building custom palettes.  Yet, I still have this issue.  I had this issue using orange primary and amber secondary.  Yep, using themes.  So, that's not the end-all-be-all solution to this problem.

[2017-03-24 19:48] crisbeto commented on #1316
Can you post a Plunkr that shows the issue @jkyoutsey? You can use this as a template: https://goo.gl/DlHd6U.

[2017-03-24 20:00] jefersonestevo opened #3767 "bug(input): always show firefox placeholder"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
The placeholder should be consistent independent of the browser

#### What is the current behavior?
When you have an input number, on firefox, after you select the input and then select it again, it shows the default browser placeholder

#### What are the steps to reproduce?
[Plunker](http://plnkr.co/edit/8ibpbcAeL3ks

[2017-03-24 20:56] krasnoff opened #3768 "The autocomplete component doesn't work well on the Microsoft IE 11"
#### Bug, feature request, or proposal:
The autocomplete component doesn't work well on the Microsoft IE 11

#### What is the expected behavior?
I should be able to select an item. when I select an item it should be displayed on the textbox

#### What is the current behavior?
When I select an item, the dropdown menu disappear but I can't see the selection in the text box

#### What are the steps t

[2017-03-24 21:09] DaveBest99 opened #3769 "A11y keyboard focus control in the Dialog Component"
#### Bug, feature request, or proposal:
Bug: Dialog missing page structure.

#### What is the expected behavior?
The Dialog modal should define the main content region for context understanding.

#### What is the current behavior?
Currently the first focusable element in the Dialog is at the bottom of the page, skipping the screen reader user over all of the Dialog content.

#### What are the step

[2017-03-24 21:24] DaveBest99 opened #3770 "A11y keyboard focus control in the Tooltip Component"
#### Bug, feature request, or proposal:
Bug: Demo does not reveal a Tooltip message.

#### What is the expected behavior?
A Tooltip message is expected as part of the demo.

#### What is the current behavior?
Currently there is no Tooltip message.

#### What are the steps to reproduce?
See below.

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker templat

[2017-03-24 21:31] p-jan opened #3772 "autocomplete.html contains <template> causes warning in Angular 4 build"
#### Bug, feature request, or proposal:
Change request

#### What is the expected behavior?
Angular 4 compliant code without warnings

#### What is the current behavior?
The following warning is logged on ng build --prod

`The <template> element is deprecated. Use <ng-template> instead ("[WARNING ->]<template><div class="mat-autocomplete-panel" role="listbox" [id]="id" [ngClass]="_getClassList()"

[2017-03-24 21:34] DaveBest99 opened #3773 "A11y keyboard focus control in the SnackBar Component"
#### Bug, feature request, or proposal:
Bug: The aria-alert in the "Example" Tab does not work as expected when using Mozilla Firefox or Google Chrome.

#### What is the expected behavior?
Message should be automatically spoken.

#### What is the current behavior?
Currently in Firefox and Chrome the screen reader does not announce the message.

#### What are the steps to reproduce?
See below.

Pro

[2017-03-24 21:35] DevVersion commented on #3772
This has been fixed with SHA https://github.com/angular/material2/commit/cd55082a488e58a3f4948bba8e5d0a6771a57233. The warning will disappear with the next Material release.

[2017-03-24 21:35] #3772 closed

[2017-03-24 22:32] AAAnderson7301 commented on #3768
Issue is already tracked in [Issue #3351 ](https://github.com/angular/material2/issues/3351) and a PR already exists for this [PR #3188 ](https://github.com/angular/material2/pull/3188)

[2017-03-24 23:08] kara commented on #3748
@mertdeg2 I'm seeing the correct focus styles when TABBing on the docs site:

https://material.angular.io/components/component/select

To clarify, what do you expect to see?

[2017-03-24 23:19] kara commented on #3748
Or are you talking about #3743 ?

[2017-03-24 23:39] robconrad commented on #823
+1 need this badly!

[2017-03-25 00:20] jelbourn commented on #3760
This is expected as master has moved to Angular 4. When we have our next release there will be instructions for the new setup.

Also, be careful using the snapshots on material2-builds; they can break at any time (like right now as we're in the middle of changing our package structure).

[2017-03-25 00:20] #3760 closed

[2017-03-25 04:26] rjt10 opened #3777 "Material Sample Apps broken"
#### Bug, feature request, or proposal:
Both of them broken and don't load
https://material.angular.io/guide/material2-app
https://material.angular.io/guide/leashed-in

#### What is the expected behavior?
Well, I expect it shows something.

#### What is the current behavior?
Doesn't load and Chrome Dev Tool indicates error.

#### What are the steps to reproduce?
Just visit these two links:
https:/

[2017-03-25 05:47] surfjedi commented on #3777
I have observed this too - but if you refresh the page after you click link it comes up.
Still not the best..

[2017-03-25 05:56] rjt10 commented on #3777
what do you mean by 'refresh the page after you click link'? After refresh, the browser displays the content for this URL: https://material.angular.io, not the intended link.

Or am I missing something here?

[2017-03-25 09:33] Chan4077 commented on #3777
See angular/material.angular.io#105

[2017-03-25 09:38] OvidijusStukas opened #3778 "Slider with thumb cursor issue"
#### Bug:
Currently material slider with thumb label which has current slider value the mouse cursor changes to "select text" cursor.

#### What is the expected behavior?
When dragging while holding slider's thumb cursor to be same.

#### What are the steps to reproduce?
https://material.angular.io/components/component/slider and select option "show thumb label". Then click on slider and click and

[2017-03-25 09:38] DevVersion commented on #3777
Yeah. It has been fixed and will be published with the next Material release.

[2017-03-25 09:38] #3777 closed

[2017-03-25 10:03] molcik opened #3779 "Plunker template doesn't work"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

Working plunker template.

#### What is the current behavior?

Plunker doesn't load prebuilded themes.

<img width="745" alt="screen shot 2017-03-25 at 11 02 37" src="https://cloud.githubusercontent.com/assets/11929953/24321363/9c0273a4-114a-11e7-929c-f4c5d8428335.png">

#### What are the steps to reproduce?
https:/

[2017-03-25 10:07] DevVersion commented on #3779
Thanks again! We just made a change yesterday to the themes and we didn't update the path.

[2017-03-25 10:07] #3779 closed

[2017-03-25 10:41] molcik opened #3780 "Md-select and md-intput underlines are not aligned."
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
Md-select and md-intput underlines should be aligned.

#### What is the current behavior?
Md-select and md-intput underlines are not aligned.

#### What are the steps to reproduce?
<img width="774" alt="screen shot 2017-03-25 at 11 37 00" src="https://cloud.githubusercontent.com/assets/11929953/24321572/c7daf80c-114f-

[2017-03-25 12:30] donroyco commented on #3780
It's also variating off in different browsers:

**Safari Version 10.0.3 (12602.4.8)**
![safari-md](https://cloud.githubusercontent.com/assets/1763537/24322086/29cf283c-115d-11e7-9829-10f7b3bf04c0.png)

**Firefox 50.1.0**
![firefox-md](https://cloud.githubusercontent.com/assets/1763537/24322092/39421fcc-115d-11e7-9a9e-a7a4164cfecc.png)

**Google Chrome Version 57.0.2987.110 (64-bit)**
![chrome-md](

[2017-03-25 12:42] donroyco commented on #3767
Your Plunker doesn't have the colored styling. I can't reproduce your experienced behaviour in either Firefox 50.1.0 or 52.0.1 (64bit) on Mac.

[2017-03-25 13:41] peluprvi opened #3782 "Update theme path"
#### Bug, feature request, or proposal:
I think after #3776, `core/theming/prebuilt` path need to be changed to `prebuilt-themes` in [some of those files](https://github.com/angular/material2/search?utf8=%E2%9C%93&q=%22core%2Ftheming%2Fprebuilt%22&type=).

I had to change my css path to :
[code]

[2017-03-25 17:06] ssatguru commented on #3363
still getting the same issue

[2017-03-25 17:07] DevVersion commented on #3363
There hasn't been a release yet. Coming soon,

[2017-03-25 20:22] jefersonestevo commented on #3767
I've tested it on 52.0 on linux. Now on 52.0.1 on windows the error didn't happened. I'll try to investigate it a little further.

About the colors my plunker was using an older path for the theme. Now it's correct.

[2017-03-25 21:17] DevVersion commented on #3534
The package structure has changed. Currently we only ship a bundle of the full Material library.

We have plans on shipping the different components bundled as well. This would then include a `core.js` bundle.

[2017-03-25 21:17] #3534 closed

[2017-03-25 21:48] DavidParks8 opened #3786 "Angular 4 support in the npm package"
#### Bug, feature request, or proposal:
Please add angular  >2.3 support to the official npm package.

#### What is the expected behavior?
Angular>2.3 should ideally be supported by the package.

#### What is the current behavior?
`npm warn @angular/material@2.0.0-beta.2 requires a peer of @angular/core@^2.3.0 but none was installed`
This prevents npm shrinkwrap.

#### What are the steps to reprod

[2017-03-25 22:18] dahaupt commented on #3786
@DavidParks8 The current master already has support for angular 4, the npm package will be released as soon as possible as @jelbourn already said in a different issue.

[2017-03-25 23:55] crisbeto commented on #3786
Angular 4 support will be in the next release.

[2017-03-25 23:55] #3786 closed

[2017-03-26 01:55] #2889 closed

[2017-03-26 04:44] axtho opened #3787 "Scss include all-theme broken"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`@import '~@angular/material/core/theming/all-theme';` should load the core theme.

#### What is the current behavior?
ng serve produces `File to import not found or unreadable: ~@angular/material/core/theming/all-theme.`

#### What are the steps to reproduce?
+ following the theming doc, theme.scss in root, import th

[2017-03-26 05:37] Chan4077 commented on #3787
The theming has moved to `~@angular/material/_theming`

[2017-03-26 05:51] paulwalker commented on #2969
Can someone in the know perhaps paste some override css for now to always display the bubble? Thanks very much if so.

[2017-03-26 07:55] sohail85 commented on #3736
@jelbourn : Well, I think almost all of the animation and transitions either do not work or they are harsh on IE, for example, tooltip, snakbar, ripple effect on opening and closing of menu which I observed.

[2017-03-26 10:55] joaogarin commented on #308
This is great news. At the moment though this looks like the majority of the components. For example the MdButton component I guess falls into the first category? Does that mean nothing will be changed there in material, but something might be done in universal side to cope with that?

[2017-03-26 12:11] DevVersion commented on #3787
We are going to update the docs in the upcoming release for that.

[2017-03-26 12:11] #3787 closed

[2017-03-26 13:30] DevVersion commented on #660
Let's merge this issue into https://github.com/angular/material2/issues/1206

[2017-03-26 13:30] #660 closed

[2017-03-26 13:54] ajayak opened #3790 "md-select not binding to number"
#### Bug:
md-select binds to string values but not binding to number.
[code]
[code]

#### What is the expected behavior?
md-select should bind to number

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of Angular, Material, OS, browsers are affected?
2.0.0-beta.2

#### Is there anything else we should know?

[2017-03-26 14:07] ggranum commented on #3251
Dredging up some seriously old memories, I believe this was just called 'beforeClose' in ExtJS (and possibly others). Not a clue if they still use the paradigm, but many action events had 'beforeEVENT_NAME' versions that would abort the primary event if any of the 'before' listeners returned false.

Not suggesting it is ideal for this case, just throwing out some existing terminology that jumped t

[2017-03-26 14:26] fxck commented on #3251
I don't know, `beforeClose` has the opposite problem of what @crisbeto [has](https://github.com/angular/material2/pull/3460#issuecomment-284670342), with `closeAttempt`.. if "attempt" implies fail, "beforeClose" pretty much implies success. I still think attempt fits better. Anyway I lost hope of that PR ever getting merged or reviewed anyway.

[2017-03-26 15:34] bohao-cao commented on #3276
@jorgeriv do you have a code example for manually trigger the change detection? I'm facing the similar issue. Thanks!

[2017-03-26 15:35] ggranum commented on #3251
It has the advantage of being prior art. A whole lot of people are familiar with ExtJs / Sencha. Perhaps `closeRequest` or `closeRequested` - but I don't think that improves on `closeAttempt`.

The advantage of `beforeClose`, is that it is quite clear that it takes place before an actual close. It isn't as obvious that the close attempt isn't guaranteed to follow.

Just making noise. Could call it

[2017-03-26 15:44] crisbeto commented on #3790
It seems to work fine for me. Can you post a live example of the issue? [You can use this as a template.](https://goo.gl/DlHd6U)

[2017-03-26 17:19] ajayak commented on #3790
It is working fine. My bad. Datatype mismatch. Thanks for the support

[2017-03-26 17:19] #3790 closed

[2017-03-26 17:59] #3619 closed

[2017-03-26 18:12] DevVersion commented on #3782
* Only the paths in the markdown files need to be updated
* @jelbourn didn't want to update it yet, because it would just confuse (the new paths isn't released yet)

Also the `core/theming/prebuilt` path is still valid inside of our `demo-app` or `e2e-app`. Just in releases this path will be invalid.

[2017-03-26 18:22] DevVersion commented on #3550
@M-a-c Are you looking into this?

[2017-03-26 18:30] M-a-c commented on #3550
Yeah I was going to tackle it Monday if thats ok. I don't have a pr for it right now.
I think this Add theming to docs should be re-added, for when there are more themes, before going gold.

[2017-03-26 18:32] DevVersion commented on #3550
Sounds good! Thanks.

[2017-03-26 23:07] Hacklone commented on #823
I have an implementation for virtual grids: https://github.com/Hacklone/angular2-cool-infinite-grid
Maybe grids could be part of virtual scrolling too :)

[2017-03-27 03:44] alexw10 opened #3795 "npm run demo-app crashes after saving a change in a TS file"
#### Bug, feature request, or proposal:
There seems to be a bug right now when you spin up the demo-app:
"npm run demo-app"

If I change something in a ts file in src/lib the app crashes with:
Error: ENOENT: no such file or directory, open
'material2/dist/packages/demo-app/index.html'

#### What is the expected behavior?
App should rerun properly without crashing.

#### What is the current behavio

[2017-03-27 03:45] #3795 closed

[2017-03-27 03:45] alexw10 commented on #3795
Closed this as it looks like this PR fixes it:
https://github.com/angular/material2/pull/3794

[2017-03-27 06:32] M-a-c commented on #3550
Is sample link to each theme necessary ?

If its possible can someone open a P4 on the 'theme builder' and describe how it would work? I would love to work on something like that.

[2017-03-27 07:35] DevVersion commented on #3550
I think for now we only want to list all prebuilt theme paths in the theming guide.

We could do that with a Dgeni processor or just with `gulp transform`.

[2017-03-27 08:03] heoseok commented on #2277
In my case, prebuilt css files location is different with the documentation.

After I changed the import line to
'@import '~@angular/material/**prebuilt-themes**/deeppurple-amber.css';'
it works.

[2017-03-27 08:31] Groxot opened #3797 "CustomRequestOptions rewrite by material"
I using base API url for app.
[code]
CustomRequestOptions.ts :
[code]

I installing angular material in one of the component.

[code]

and use it on button  `<button md-raised-button (click)="refreshUsers()"> refresh </button>`

button style changed
but API call make to http://localhost:4200 (where angular cli serve my app).
if i comments import MaterialModule in module, API call make successful

[2017-03-27 08:56] JosuaMeier commented on #3337
+1

[2017-03-27 10:21] milenkovic commented on #3753
I am getting same error.

[2017-03-27 10:47] ocarreterom opened #3798 "MdSnackBar error with AOT compilation"
#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
MdSnackBar works with AOT compilation.

#### What is the current behavior?
MdSnackBar doesn't work with AOT compilation (angular/cli).

[code]

#### What are the steps to reproduce?
Import `MdSnackBar` as DI in any component and run `npm run build -- -prod`.

#### Which versions of Angular, Material, OS, browsers are

[2017-03-27 10:59] fxck opened #3799 "request: explain the issues labelling / review / merge process in CONTRIBUTING.md"
Hey, I feel like there's a small issue with communication again. Could you perhaps please update [contributing](https://github.com/angular/material2/blob/master/CONTRIBUTING.md) with a rough outline of how the review - merge process works?

Some of the questions I imagine could be addressed there:
- Do you have a certain day in week you review all PRs at once, so it doesn't distract you from your

[2017-03-27 11:14] palle1184 commented on #3798
I had the same issue, fixed it by adding ' LiveAnnouncer' to the list of providers, after importing:
import { MaterialModule, LiveAnnouncer } from '@angular/material';

[2017-03-27 11:46] djleonskennedy opened #3800 "release date [!important]"
Hello

Please provide an approximate release date for new version of BETA, very need several fixes that were merged

Thank you

[2017-03-27 12:18] fxck commented on #3800
Use https://github.com/angular/material2-builds if you want snapshot of master.

[2017-03-27 12:20] GregFinzer opened #3801 "Responsive Grid Layout Not Working"
#### Bug
The responsive design feature of Material Design grid is not working at all.  See this stack overflow question:
http://stackoverflow.com/questions/43001231/angular-material-2-grid-layout-not-working

#### What is the expected behavior?
The Material tags for Phone, Tablet, and Desktop should layout the content.

#### What is the current behavior?
Everything is displayed on one tiny column,

[2017-03-27 12:37] djleonskennedy commented on #3800
@fxck Could you clarify how to use it ?

[2017-03-27 12:38] fxck commented on #3800
https://www.google.cz/webhp?sourceid=chrome-instant&ion=1&espv=2&ie=UTF-8#q=npm+install+from+github&*

[2017-03-27 12:40] fxck commented on #3801
Wrong repo altogether. There's no such grid in material2 itself.

https://github.com/angular/flex-layout

[2017-03-27 12:55] christophechevalier commented on #3478
Hello everyone.

@crisbeto

It's been 3 weeks since the issue was opened, and there is no news.
Is this bug being resolved ?

Thanks guys. :octopus:

[2017-03-27 12:57] djleonskennedy commented on #3800
@fxck understood, thank you

[2017-03-27 13:02] jefersonestevo commented on #3767
Tested again on Firefox 52.0.1 (64-bit) - Ubuntu and the problem are there

[2017-03-27 13:17] crisbeto commented on #3478
I haven't had the chance to look at it yet. I'll check it out tonight.

[2017-03-27 13:21] mhengelein opened #3802 "Input component coloring not consistent with material design spec"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
color of input element on focus is ACCENT color

#### What is the current behavior?
color of input element on focus is PRIMARY color

#### What are the steps to reproduce?
Put focus to input field on demo page
https://material.angular.io/components/component/input

#### What is the use-case or motivation for changing

[2017-03-27 13:56] benjamin-wilson commented on #3351
Looks like it's pending review from @kara, this is a critical issue for us as well.

[2017-03-27 14:31] M-a-c commented on #3550
Reading up on Dgeni now, sorry for the confusion. I had no idea this existed. I was wondering how exactly this sorta magic happened. I'll dig for an example to figure this out.

[2017-03-27 14:45] edster23 commented on #3042
@pgrm  Here is what I am using until this is resolved.  I have added more of our custom components to this selector and have a bit more code to work between them, but this is the jist of it.

https://plnkr.co/edit/WTVqPeWg63tBu0wOOk59?p=preview

[2017-03-27 14:52] merobal opened #3804 "mat-tab-group doesn't work with NoConflictStyleCompatibilityMode"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Use `mat-tab-group` without any problem (with `NoConflictStyleCompatibilityMode`) inside angularjs-angular hybrid apps.

#### What is the current behavior?
It now throws in the console:

#### What are the steps to reproduce?
I created a github repo for demoing the issue: https://github.com/merobal/mat-tabs-demo

####

[2017-03-27 15:38] ss-bb opened #3805 "create a material looking table (withOUT dataTable)"
#### Bug, feature request, or proposal:
request

#### What is the expected behavior?
be able to use `</md-header-row>` or `<md-cell>`  tags to do our own  material design looking table

#### What is the current behavior?

those HTML tags are currently in [1e07b30](https://github.com/angular/material2/commit/1e07b30d3ca3a7d782c500b5dc1d84250166f319)
I expect those HTML tags does not come from the v

[2017-03-27 15:53] pgrm commented on #3042
creating a directive on `md-input-container`, that's clever I didn't think of that, thx for the hint

[2017-03-27 16:09] sasxa commented on #3800
@fxck I was getting this error with `material2-builds.git#b74e662528934950652d64fc41ca7ec2a852cf2b`:
[code]
Looks like something changed with how custom themes work. Just to confirm, now we need to import:

    @import '~@angular/material/theming';

instead of

    @import '~@angular/material/core/theming/all-theme'

Correct?

[2017-03-27 16:13] leo6104 commented on #3800
@sasxa Yes. I did custom theme by that way and there is no problem.

[2017-03-27 16:13] fxck commented on #3800
That's because the paths were recently changed (couple of issues were already opened about it, search them), that's the price you have to pay for using cutting edge releases, you have to fish commits for breaking changes.

[2017-03-27 16:16] sasxa commented on #3800
@fxck @laco0416 OK, thanks. It's a really small change and not a big issue, just wanted to confirm. :-)

[2017-03-27 17:10] jelbourn commented on #3805
Because we are working on a data-table, our preference would be to leave out a basic table (i.e., a `<table>` element with some css) in order to avoid confusion.

[2017-03-27 17:10] #3805 closed

[2017-03-27 17:12] jelbourn opened #3806 "Some links in guides are transformed to point to non-existent resources."
The bottom of [the getting started guide](https://material.angular.io/guide/getting-started) points to material2-app and the demo from our last Angular Connect talk, but they're transformed into material.angular.io links which don't exist.

[2017-03-27 17:12] DevVersion commented on #3806
Should have fixed with https://github.com/angular/material2/commit/cb57660981bee42fda8abc730e7f763ae357c598 already?

[2017-03-27 17:14] jelbourn commented on #3806
Ah, cool.

[2017-03-27 17:14] #3806 closed

[2017-03-27 17:16] #3641 closed

[2017-03-27 17:17] #3597 closed

[2017-03-27 17:17] #3742 closed

[2017-03-27 18:06] jelbourn commented on #3799
Out merge process is the same as angular/angular:
* Every change that affects the source code (but not tooling / tests) needs to succeed on a presubmit run for all Google apps using the library (which is quite a few projects). This, unsurprisingly, takes a long time and is somewhat flaky. Often there are screenshot test failures or issues in downstream tests that need to be fixed.
* There is a wee

[2017-03-27 18:06] #3799 closed

[2017-03-27 18:28] jelbourn commented on #3550
I'm not sure this is something that needs to be done with tooling; the prebuilt themes will change infrequently enough that i'm okay with just manually listing them in the guide.

[2017-03-27 19:40] DaveBest99 commented on #3591
Paul, the Plunker website is very screen reader unfriendly, and I was unable to assess the demo. However, I will work on it and get back to you.

David

From: Paul Gschwendtner [mailto:notifications@github.com]
Sent: March 24, 2017 01:22 PM
To: angular/material2
Cc: David Best; Mention
Subject: Re: [angular/material2] A11y keyboard focus control in the Slide Toggle Component (#3591)

@DaveBest99 <

[2017-03-27 21:30] crisbeto commented on #3478
@maxime1992 I wasn't able to reproduce it locally with a similar HTML structure. Can you try to do another Plunkr? [Now our template uses Angular 4 as well.](https://goo.gl/DlHd6U)

[2017-03-27 21:43] jelbourn commented on #308
Most of cases in the first category will just end up inside of an "if (isPlatformBrowser)" check.

[2017-03-27 22:30] crisbeto commented on #3804
This appears to be fixed in master. You can try it put by running `npm install https://github.com/angular/material2-builds.git` or waiting for the next release.

[2017-03-27 22:30] #3804 closed

[2017-03-27 22:40] chouclee commented on #3694
Same problem in Safari version 10.0.2 (11602.3.12.0.1)

How to reproduce: hover several tooltips quickly. Trigger a new tooltip before previous tooltip animation is finished.
[code]

[2017-03-27 22:41] devna13 opened #3809 "Question: full screen dialog using MdDialog"
using config to make dialog full screen doesn't work.  any suggestions?

  config: MdDialogConfig = {
    width: '100%',
    height: '100%'
}

Thanks

[2017-03-27 23:16] jelbourn commented on #1913
Should have been fixed in 998a583c0a1a3c2882752d9af596c3ef8e8e4fba and 84b5c3b06130dadc04477e78d1a6befeae6cd8ab (will be in the next release).

[2017-03-27 23:16] #1913 closed

[2017-03-27 23:32] fxck commented on #3809
Hey, this is a support request, those are better suited for gitter or stackoverflow. Github issues should be used for bugs and feature requests.

[2017-03-27 23:37] #3574 closed

[2017-03-27 23:38] #3697 closed

[2017-03-27 23:38] #3503 closed

[2017-03-27 23:39] #3762 closed

[2017-03-28 00:39] geelus opened #3810 "Cannot set autocomplete height"
#### Bug, feature request, or proposal:

Hey guys
I'm really enjoying your awesome design platform. It's really unmatched!

The only issue I have now is that I cannot set the height of the auto-complete panel. I tried the following css but still no luck:
`.mat-autocomplete-panel {
    max-height: 450px !important;
}`
 Can you please help?

#### What is the expected behavior?

#### What is the curr

[2017-03-28 01:34] mmrath commented on #3800
I am eager to use the snapshot builds but my build server is behind firewall with access only to internal npm registry which can download from npm registry. So the build server can't use snapshots from github. It would be great if a periodic snapshots can be published to npm may be with experimental tag.

[2017-03-28 02:42] JustServ commented on #3701
Was this resolved? I'm having the same issue too but it's marked as closed..

[2017-03-28 02:48] jefersonestevo commented on #3701
I've closed this because there is already the issue #3496. I'm tracking it there

[2017-03-28 03:35] finalxcode commented on #3337
@mmalerba the issue has been fix?

[2017-03-28 05:44] kamarouski commented on #3800
Still curious what is the roadmap for next releases? Are we going to see new beta version any time soon?

This is just to feed my curiosity :)

[2017-03-28 06:59] slmyers opened #3812 "Material Sample App broken"
#### Bug, feature request, or proposal:
The [sample app](https://material.angular.io/guide/material2-app) from [getting started](https://material.angular.io/guide/getting-started) at material.angular.io is broken.

#### What is the expected behavior?
Demo app does not throw error

#### What is the current behavior?
App throws `Cannot read property 'document' of undefined` on loading.

#### What ar

[2017-03-28 07:02] Chan4077 commented on #3812
Duplicate of #3388

[2017-03-28 07:10] djleonskennedy commented on #3800
@kamarouski you're happy if  just "curiosity", i looking forward new release as the second coming of Christ

[2017-03-28 07:12] djleonskennedy commented on #3800
@mmrath totally agree

[2017-03-28 07:18] maxime1992 commented on #3478
@crisbeto couldn't repro in the Plunkr :disappointed:

If you want to try in our repo :
[code]

Open your browser at : [http://localhost:4200/workspaces/idWks0/petals/service-units/idSu0](http://localhost:4200/workspaces/idWks0/petals/service-units/idSu0)

Open the file
`src/app/features/cockpit/workspaces/petals-content/petals-service-unit-view/petals-service-unit-overview/petals-service-unit-ove

[2017-03-28 07:22] kamarouski commented on #3800
@djleonskennedy haha. If you want to get latest fixes there is an option to get latest master version. This makes life a bit easier.

I'm waiting for a few extra components like data table and calendar, though when I started using beta version of Angular Material I accepted the fact that there is no fixed schedule, there can be breaking changes and some parts are missing.

[2017-03-28 07:32] ss-bb commented on #3805
Ok, thanks for the quick answer.
Is any CSS source recommand by material for this? somewhere at your knowledge? can't find it in doc.

[2017-03-28 07:36] MateuszG commented on #3694
I also have same problem on Safari 10 and IE 11.5, on newest Firefox and Chrome everything works.

[2017-03-28 07:45] #3812 closed

[2017-03-28 09:02] Cleudi commented on #3800
Not everybody has the option to use snapshots... therefore kind of a release schedule would really be helpful.

We also use material.... we decided to use it 9 months ago, assuming that there will be at least something like a stable version until our product is entering productive mode... assumption was wrong, and we can not risk breaking features because of a snapshot update...

[2017-03-28 09:03] ianhatton commented on #3337
+1

[2017-03-28 09:03] fxck commented on #3800
read https://github.com/angular/material2/issues/3799#issuecomment-289535678

[2017-03-28 09:37] maxime1992 commented on #3221
@fxck I think we can agree that doing it by hand is not that simple.

Within my app, I do have a header that shouldn't be below the backdrop, so in my case it doesn't help to only set the size of the displayed component

@kara any news on this ? It might be reeeeally helpful :)

Cheers :beers:

[2017-03-28 09:46] lokeshdaiya commented on #3809
@devna13  please refer this link https://github.com/angular/material2/issues/3209

[2017-03-28 09:49] mhengelein opened #3813 "Inconsistent coloring for some components when not using 500 colors"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When handing a non-500 color into the mat-palettes, primary and warn (not accent) components should be rendered with this color, not the corresponding 500 color of the same palette

`$primary: mat-palette($mat-blue, 800, 200, 900);`
--> Should take blue-800, not blue-500

#### What is the current behavior?
Some compon

[2017-03-28 11:20] lokeshdaiya commented on #3810
@geelus  You need to add  encapsulation: ViewEncapsulation.None in your component

if you inspect your html then you will find that class you added becomes

`.mat-autocomplete-panel[_ngcontent-c0]{
  max-height:700px!important;
}`

 that's why its not effective.

First you need to include dependency

 `import {ViewEncapsulation} from '@angular/core';`

then update your component like this

 `@Comp

[2017-03-28 13:47] jelbourn commented on #3805
Material design lite has a cssified table: https://getmdl.io/components/index.html#tables-section

[2017-03-28 13:50] geelus commented on #3810
@lokeshdaiya Thank you very much for your help. It's working now. Fantastic!

[2017-03-28 14:14] devna13 commented on #3809
Thanks @lokeshdaiya

[2017-03-28 14:31] Ploppy3 opened #3814 "Menus & Selects open animations are incorrect according to the Material Guidelines."
#### Bug:
Current Menu animation:
![image](https://cloud.githubusercontent.com/assets/7990765/24409603/021287fa-13d1-11e7-8996-13ff59c8184b.png)

Menu Animation according to the Material Guidelines:
![image](https://cloud.githubusercontent.com/assets/7990765/24410326/15e41ff8-13d3-11e7-9c3d-bec90cc8025c.png)

Current Select animation:
![image](https://cloud.githubusercontent.com/assets/7990765/244

[2017-03-28 14:43] evanjmg commented on #645
It's there but it doesn't add a class. I can't indicate that it's disabled - there are no styles etc.

[2017-03-28 15:03] GregFinzer opened #3815 "Cannot get Angular Material 2 to work with Angular 4"
http://stackoverflow.com/questions/43073112/install-angular-material-2-with-angular-4-unmet-dependency

[2017-03-28 15:11] Nikki1993 commented on #3815
This GitHub repo page us not for StackOverflow issues or otherwise links to it here to increase visibility.

[2017-03-28 15:20] crisbeto commented on #3815
The PR for Angular 4 compatibility landed a few days ago and will be in the next release.

[2017-03-28 15:20] #3815 closed

[2017-03-28 15:21] GregFinzer commented on #3815
Thanks for your help.  Any ETA on the release?

[2017-03-28 15:24] crisbeto commented on #3815
It should be within the next few days. If you don't want to wait, you can use the latest build from master:

[code]

[2017-03-28 15:33] Rocker93 commented on #1039
@rdelriods01 It is possible to use multiple toggle group with changes reflected in the model as follows:
 `<md-button-toggle-group multiple>` <br />`
<md-button-toggle *ngFor="let s of selectableItems" [value]="s" (change)="s.selected = !selectable.selected" [checked]="s.selected">{{s.name}}</md-button-toggle>  ` <br />`
</md-button-toggle-group>`.

[2017-03-28 15:43] Ploppy3 opened #3816 "Dialogs are incorrect according to Material Design guidelines"
#### Bug:

How it should be:
![image](https://cloud.githubusercontent.com/assets/7990765/24413095/b34adc80-13da-11e7-9bc2-597ab695b86e.png)

How it is:
![image](https://cloud.githubusercontent.com/assets/7990765/24413111/c117d9e4-13da-11e7-9b4e-6b6c3598a031.png)

A working example I coded (20 lines of css - no content scroll support):
![image](https://cloud.githubusercontent.com/assets/7990765/244

[2017-03-28 15:47] Ploppy3 commented on #3191
@andrewseguin Please check out my other reports. I edited all of them to warn about the breaking changes. I'm really worried about that.

[2017-03-28 16:26] willshowell commented on #3810
@geelus you may also want to read up on [special selectors](https://angular.io/docs/ts/latest/guide/component-styles.html#!#special-selectors). You can use `/deep/` to style the autocomplete panel while keeping [ViewEncapsulation](https://angular.io/docs/ts/latest/guide/component-styles.html#!#view-encapsulation) as Emulated or Native. That way, if you wish, your component styles won't be exposed

[2017-03-28 16:27] Alonsooo opened #3817 "Angular 4.0 Incompatibility"
#### Bug, feature request, or proposal:
Angular Material is not compatible with Angular 4.0

#### What is the expected behavior?
Angular Material should be compatible with Angular 4.0

#### What is the current behavior?
+-- UNMET PEER DEPENDENCY @angular/common@4.0.0
+-- UNMET PEER DEPENDENCY @angular/core@4.0.0
+-- UNMET PEER DEPENDENCY @angular/http@4.0.0
`-- @angular/material@2.0.0-beta.2

npm

[2017-03-28 16:29] willshowell commented on #3817
@Alonsooo this has been resolved by #3608 and will appear in the next release

[2017-03-28 16:31] Alonsooo commented on #3817
I used:
npm install --save https://github.com/angular/material2-builds.git

Thank you!

[2017-03-28 16:31] #3817 closed

[2017-03-28 16:40] crisbeto commented on #3816
Yes, this is a known issue. I've been putting off fixing it since the scrolling behavior in general needs to be reworked first. I'll close this as a dupe, but you can keep an eye on https://github.com/angular/material2/issues/3239 and https://github.com/angular/material2/issues/2735.

[2017-03-28 16:40] #3816 closed

[2017-03-28 16:44] Ploppy3 commented on #3816
@crisbeto I hope the new version of the dialog will be as modular as possible. Unlike the current Toolbar  as example. I don't think we are supposed to tweak the CSS when we just want basic Material Design. Also I hope you've read my warning at the end of this issue.

[2017-03-28 17:07] SamuelSchepp opened #3818 "Demo App on material.angular.io not working"
#### Bug, feature request, or proposal:
The Demo App on material.angular.io is not working properly.

#### What is the expected behavior?
Demo App loads.

#### What is the current behavior?
- It says "Loading document..." on the page
- StackTrace with message "Unhandled Promise rejection: Cannot read property 'document' of undefined"
- Whole Page unresponsive

#### What are the steps to reproduce?

[2017-03-28 17:30] M-a-c commented on #3550
@jelbourn is it ok If I submit a pr for a static one, and open a less 'important task' for a tooled one later? I would like to try my hand at that, it might be useful to learn, and its one less thing to worry about later. Plus I would love to feel more comfortable with whats going on with the project so I can make larger contributions.

[2017-03-28 18:09] GeremyHamlett opened #3819 "Grid animations removing dom element before the animation completes."
#### Bug, feature request, or proposal:
When using the angular animation module and removing a grid element (* => void) the animation runs, but runs after the dom element has been removed.

#### What is the expected behavior?
I would expect the animation to finish before removing the element.

#### What is the current behavior?
Grid elements appear to be removed before the animation thus causing a

[2017-03-28 18:18] naveedahmed1 commented on #675
@jelbourn have a look at https://github.com/IckleChris/ic-datepicker

[2017-03-28 18:22] M-a-c commented on #3550
@DevVersion @jelbourn I'm a bit confused with who to follow, I'm pretty sure I'm more than half way done tooling a solution. Is it ok if I continue on that?

[2017-03-28 18:26] DevVersion commented on #3550
Please do what @jelbourn proposed.

 I initially thought that a dynamic solution would be appropriated but since we don't have frequent changes with the prebuilt-themes I can see Jeremy's point.

[2017-03-28 18:33] M-a-c commented on #3550
@DevVersion Thanks for the clarification.

[2017-03-28 18:34] geelus commented on #3810
@willshowell thanks for your solution. I tried it but it didn't work.
I'm closing this for now.

[2017-03-28 18:34] #3810 closed

[2017-03-28 19:02] Maistho opened #3820 "Raised buttons with colors are not following spec on focus"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Text color of raised buttons with color does not change on focus
Background-color of raised buttons with color changes on focus

#### What is the current behavior?
Text color of raised buttons with color changes on focus
Background-color of raised buttons with color does not on focus

#### What are the steps to reprod

[2017-03-28 19:36] crisbeto commented on #3478
Your issue comes from the fact that the button actually gets re-rendered on `mouseup`. It just happens so fast that you can't notice that the button got swapped out. You can break it in the same way if you add a blank `mouseup` to a regular button:

[code]

What happens in this case is that the button ripple effect triggers change detection on the `mouseup` event (this has actually been fixed in h

[2017-03-28 19:36] #3478 closed

[2017-03-28 20:28] #3648 closed

[2017-03-28 20:28] #3689 closed

[2017-03-28 20:29] #2968 closed

[2017-03-28 21:02] aldo-roman opened #3823 "[Tooltip] Does not work within mat-placeholder"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
A mdTooltip element should display a tooltip if placed within a md-placeholder tag

#### What is the current behavior?
mdTooltip within a md-placeholder tag does not display

#### What are the steps to reproduce?
http://plnkr.co/edit/QAOYgSzLBpbM3ifmgQLL

#### What is the use-case or motivation for changing an existin

[2017-03-28 21:09] crisbeto commented on #3767
I wasn't able to reproduce it on Ubuntu 16.04 and Firefox 51.0 @jefersonestevo.

[2017-03-28 22:07] mmrath commented on #3800
@fxck does not really help. I know it is in beta and it will be unstable. but why not release few frequent unstable betas or even experimental or nightly build

[2017-03-28 23:57] Chan4077 commented on #3818
Duplicate of #3388

[2017-03-29 00:38] xrochoa commented on #3694
Same thing over here!

[2017-03-29 02:01] michaeljota commented on #581
The demo looks great. The Observable object and the interfaces, are a must for this and you already have it. Thanks you.

However, I would like to say that the template API should use native HTML table elements. But, maybe you made it that way because it's easiest to prototype, as you did first with md-input.

Anyway, I'm really thankful for see your approach, looks really nice. 👍

[2017-03-29 02:10] jelbourn commented on #581
@michaeljota we don't use the native table elements because it gives more flexibity to the DOM structure, which allows us to support sticky headers and columns in an accessible way.

[2017-03-29 02:13] michaeljota commented on #581
@jelbourn I see. Yeah, that's important. It would be nice, but it resembles very much to the native structure. Thanks you.

[2017-03-29 02:19] leocaseiro commented on #581
@jelbourn, I don't want to start a discussion, but the [RWD-Table-Patterns](http://gergeo.se/RWD-Table-Patterns/) uses `<table>` elements and they support sticky headers and it seems to be pretty accessible.

[2017-03-29 02:22] DanPride commented on #581
Resizable columns by clicking in the header really provide some display
flexibility (from the peanut gallery :))

Dan Pride
1-747-777-6476
http://danielpride.com
www.linkedin.com/in/danielpride/
http://archaeolibrary.com/
http://headlessuber.com
http://kingsolomonsgate.com

On Tue, Mar 28, 2017 at 7:19 PM, Leo Caseiro <notifications@github.com>
wrote:

[2017-03-29 02:24] jelbourn commented on #581
@leocaseiro I see the support for sticky headers there, but not columns. Is there a demo somewhere?

[2017-03-29 02:28] leocaseiro commented on #581
@jelbourn, they haven't finished the implementation of columns yet, but their reference to implement it is similar to the zurb one: http://zurb.com/playground/projects/responsive-tables/index.html which is also `<table>`.

[2017-03-29 03:09] jelbourn commented on #3818
Duplicate of #3388

[2017-03-29 03:09] #3818 closed

[2017-03-29 03:10] jelbourn commented on #3809
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-03-29 03:10] #3809 closed

[2017-03-29 03:12] jelbourn commented on #3801
Based on your linked question I think you're looking for https://github.com/google/material-design-lite

[2017-03-29 03:12] #3801 closed

[2017-03-29 03:13] jelbourn commented on #3800
We're trying to release a new beta soon but are still working on smoothing out a particular issue with Webpack + tree-shaking for the components.

[2017-03-29 03:13] #3800 closed

[2017-03-29 05:57] mbeckenbach commented on #3681
@prowwid
Why should one not want to customize CSS in components styles and make usw of view encapsulation?

[2017-03-29 06:16] mbeckenbach opened #3827 "Repository for themes"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior
Something Mike a npm repository that contains 3rd Party prebuild themes for Material and also material compatible themes for 3rd Party libraries. I think of something similar to tsd in the typescript world.

#### What is the use-case or motivation
This would be a great way to share custom color palettes and also m

[2017-03-29 06:23] ktersius commented on #3280
@kara The sample you provided only fires the option selected "event" once. If you change the text and select another option the new option event is not fired. Any ideas?

[2017-03-29 06:24] donroyco commented on #3767
I _can_ reproduce the issue in Firefox 49.0 (on Mac). Updated Firefox to 50.1.0 and I can't reproduce the issue anymore. Updated again to 52.0.2 (64-bit) and no weird behaviour.

[2017-03-29 06:58] maxime1992 commented on #3478
It sounds like I could have post my question on StackOverflow now but thank you @crisbeto, I really appreciate the (detailed) explanation ! :smiley: :beers:

[2017-03-29 07:05] paistipoikka commented on #2481
@crisbeto is this issue still open. I'm also experiencing this problem with 2.0.0-beta.2. I note that this thread was discussed prior to this release.

Please advise.

[2017-03-29 07:24] victornoel commented on #3478
@crisbeto there is something I didn't understand in your explanation/workaroud.

What I understood is that you say that `getPossibleStateActions` should return the same array every time it is called (or at least if the set of actions contained in the array does not change).

My question is: is it needed to return the same array with `getPossibleStateActions` ONLY because the mousup event is broken

[2017-03-29 07:28] crisbeto commented on #3478
The `mouseup` thing is just a symptom that this does work as expected. When `getPossibleActions` returns a new array every time, `ngFor` will re-render the entire repeater every time you do something on the page that triggers change detection, which is very inefficient considering that nothing has changed. You can see how often this happens if you add a `console.log` in `getPossibleStateActions`.

[2017-03-29 07:30] crisbeto commented on #2481
It is still open. I was working on it a few days ago, but it's a bit tricky to get it working everywhere (IE 11 in particular) with the way we have the overlays set up (we need multiple nested flexboxes which ends up breaking in one way or another). I'm still looking for a proper way to do it.

[2017-03-29 07:35] donroyco commented on #3759
Hi @niveo, please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are Stack Overflow, gitter, mailing list, etc.

[2017-03-29 07:40] victornoel commented on #3478
@crisbeto that's the thing, if we put a `console.log` in the method (and put back the `md-button` and let the method return a new array every time), it is triggered only when the page is loaded, and when we click on a button… whatever we do around that has no impact apparently (even the `mouseup` actually does not trigger that!).
Note that the component is a "dumb" component with the `OnPush` chan

[2017-03-29 07:42] crisbeto commented on #3478
Yes, I believe that it should be fixed once #3066 is in. You can try out the latest build with this:

[code]

[2017-03-29 07:43] victornoel commented on #3478
ok, thanks for your help :)

[2017-03-29 08:07] #3756 closed

[2017-03-29 08:30] axtho commented on #3787
@Chan4077 @DevVersion doing this breaks the entire custom theme, as described by the doc. Using this setup ...

In my root folder I have` themes.scss` that does what the styling guide said should be there:

[code]
produces a number of compile errors, of the like:
[code]
The offending scss file look like this (the path is correct):
[code]

I have also looked at the PRs and their commits, also the d

[2017-03-29 08:35] ambarkiy commented on #3280
thank you 're write

[2017-03-29 08:46] axtho commented on #3787
Never mind ... seems to be an issue with the way yarn installed stuff.

[2017-03-29 09:20] victornoel commented on #3478
For the record (if someone comes around here with the same problem), another solution is to exploit `trackBy` of `*ngFor` with a function indexed on the input of `getPossibleActions` (since it is a pure function, we know its result won't change if its input doesn't).
Like this, even the `mouseup` event won't replace the button or stuffs like this.

[2017-03-29 10:04] timruffles opened #3828 "SVG Icon performance"
#### Bug, feature request, or proposal:

Feature request

#### What is the expected behavior?

SVG icons do not slow down app boot

#### What is the current behavior?

They massively slow down app boot. e.g per material SVG icon set, I'm seeing 20-80ms to parse the SVG (`_svgElementFromString` is the dominant cost).

![screen shot 2017-03-29 at 11 04 12](https://cloud.githubusercontent.com/assets/

[2017-03-29 10:38] jotatoledo commented on #3694
Have anyone tried this with the latest version of angular? (4.0.0)

[2017-03-29 10:43] #3316 closed

[2017-03-29 12:13] MateuszG commented on #3694
I have tried
`  "dependencies": {
    "@angular/animations": "^4.0.0",
    "@angular/common": "4.0.0",
    "@angular/compiler": "4.0.0",
    "@angular/core": "4.0.0",
    "@angular/forms": "4.0.0",
    "@angular/http": "4.0.0",
    "@angular/material": "2.0.0-beta.2",
    "@angular/platform-browser": "4.0.0",
    "@angular/platform-browser-dynamic": "4.0.0",
    "@angular/router": "4.0.0",
    "an

[2017-03-29 14:40] param-bnb opened #3830 "Md - slider is not showing."
I have added hammer.js. i just added < md-slider >    </ md-slider >..
Other components are working fine..

Do you have any suggestions?

[2017-03-29 15:48] mertdeg2 opened #3831 "mat-select is not detecting screen overflow when placeholder is hidden"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
mat-select detects that the dropdown menu will overflow the screen, and repositions the dropdown.

#### What is the current behavior?
On some cases mat-select will show the dropdown outside of screen.

#### What are the steps to reproduce?
http://plnkr.co/edit/AMbVUV0JFKI92zLWuUNl?p=preview

#### What is the use-case

[2017-03-29 15:55] craig-o-curtis opened #3832 "Angular 4 Compatability"
#### Bug, feature request, or proposal:
Proposal -- make material2 compatable with Angular 4 or make a new material4 or just ng-material repo.

#### What is the expected behavior?
No console errors regarding use of template instead of ng-template, and other unforeseen inconsistencies with Angular 4.

#### What is the current behavior?
One console warning reads:
core.es5.js:3053Template parse warni

[2017-03-29 16:03] fxck commented on #3832
https://github.com/angular/material2/issues?utf8=%E2%9C%93&q=Angular%204

[2017-03-29 16:05] fxck commented on #3830
Provide a plunker reproduction otherwise none will be able to help you.

[2017-03-29 16:16] crisbeto commented on #3832
Angular 4 supports was added in https://github.com/angular/material2/pull/3752 and will be available in the next release.

[2017-03-29 16:16] #3832 closed

[2017-03-29 17:07] AyzPat opened #3833 "MDTabs MOdule Behaviour"
Feature help
Using MdTabModule , before the md-tab-group i m using a form and keeping the submit button after the /md-tab-group and keeping disabled until all the fields are filled, but the moment i fill the data on tab1 the button gets enabled ,so could anyone help me y is that happening so , the same works fine when I have the form all in a single page.

`<form class="my_form" #data1="ngForm" (n

[2017-03-29 18:10] #1777 closed

[2017-03-29 18:12] #3722 closed

[2017-03-29 18:13] #1206 closed

[2017-03-29 18:48] zigzag95 opened #3834 "Error running gulp build:release"
#### Bug:
running
gulp build:release
/material2/src/lib/index.ts:7:53: Cannot find module '.corea11ylive-announcer'

#### What is the expected behavior?
build done

#### What is the current behavior?
Errors

[20:44:33] 'library:build:esm' errored after 2.63 s
[20:44:33] Error: Error at C:/wx/joujou/material2/src/lib/index.ts:7:53: Cannot find module '.corea11ylive-announcer'.
Error at C:/wx/joujou

[2017-03-29 19:46] dahaupt commented on #3834
Actually the file **material2/src/lib/index.ts** doesn't even exists. That's strange, but I'm not familiar with gulp tasks.

I think @DevVersion is responsible for fixing this.

[2017-03-29 20:41] jennyraj commented on #3834
Same issue here

[2017-03-29 21:03] zigzag95 commented on #3834
index.ts is generated by the build task and deleted after the build finish

[2017-03-29 21:27] dahaupt commented on #3834
@zigzag95 That is good to know, thank you. Actually multiple gulp tasks are failing with the same error message. I wonder how it's working in CI.

[2017-03-29 21:29] xtianus79 commented on #3740
@willshowell I accomplished what i wanted by simply not using the route for anything.  This is what happens in recode life I guess.  I found that the end result was better suited as a modal or slider.  I know in router's you can still use a route for a popup type router link that would extrapolate url info but in this case I just didn't think it was necessary...

I used ngSwitch case to use differ

[2017-03-29 21:30] #2876 closed

[2017-03-29 21:31] #3615 closed

[2017-03-29 21:31] #3659 closed

[2017-03-29 21:31] #3159 closed

[2017-03-29 21:31] #3738 closed

[2017-03-29 21:31] #2828 closed

[2017-03-29 21:32] #3750 closed

[2017-03-29 22:04] zigzag95 commented on #3834
no problem on OSX but errors on Windows

[2017-03-29 22:09] jefersonestevo commented on #3645
@kara do you think that "onSelected" will be a good name for the output event? If so, I can create a PR with this change

[2017-03-29 22:25] mijaelx64 commented on #675
Hi there, is there an **official date** for you guys to include this feature in the master ??

[2017-03-29 22:54] peluprvi opened #3837 "Font color on card and list"
#### Bug, feature request, or proposal:
Default text should be `color: rgba(0,0,0,.87)`, but `.mat-card`, `.mat-list .mat-list-item` and `.mat-nav-list .mat-list-item` has `color: #000`.

#### What is the expected behavior?
There is no #000 text color on [Material Typography Guidelines](https://material.io/guidelines/style/typography.html#typography-other-typographic-guidelines)
[code]

#### What

[2017-03-29 23:10] alexw10 opened #3838 "Menu e2e is failing"
#### Bug, feature request, or proposal:
  There seems to be a bug pulling a fresh clone of latest material2.
  npm install
gulp e2e

Fails with:
Failures:
  1) menu should support multiple triggers opening the same menu
Message:
  Failed: unknown error: Element <div class="cdk-overlay-backdrop" style="pointer-events: none;"></div> is not clickable at point (512, 347). Other element would receive t

[2017-03-29 23:54] kuncevic commented on #675
@mijaelx64

[2017-03-30 02:12] michaeljota commented on #1650
Why this is still opened?

[2017-03-30 02:31] Chan4077 commented on #3837
Please post a valid Plunkr link.

[2017-03-30 02:57] kuncevic commented on #3834
Same thing with `npm run demo-app`
`Win 7 x64`
`Node 6.9.2/7.8.0`
`Npm 4.4.4`

[2017-03-30 04:09] code-tree commented on #3384
[I can confirm](http://plnkr.co/edit/jWCTiJxHrCMjLPs5abN6?p=preview) tooltip gets stuck in IE/Edge and Safari, but works fine in Chrome and Firefox. I believe this is due to web-animations polyfill and I've [reported it there](https://github.com/web-animations/web-animations-js/issues/115). This issue actually crashes my app so I've had to blacklist IE/Edge and Safari from even loading the web-ani

[2017-03-30 04:26] jorawarsingh opened #3841 "ngtool/webpack plugin breaks when using material"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
It should not break aot compilation

#### What is the current behavior?
When including material in project give hunderds of errors without material it just work fine!

#### What are the steps to reproduce?

Just use @ngtool/webpack plugin and include material somewhere in your project and try to build it

#### What is

[2017-03-30 04:29] cp9162 commented on #2177
+1

[2017-03-30 05:04] kjhatis opened #3842 "Accordion in Angular material 2"
#### Bug, feature request, or proposal:
: How to create Accordion with angular material 2

#### What is the expected behavior?

it should contain angular 2 accordion.

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

#### What is the use-case or m

[2017-03-30 05:41] karlhaas commented on #3384
As also added to https://github.com/web-animations/web-animations-js/issues/115 I think we got the same error:
![screenshot from 2017-03-30 07-37-41](https://cloud.githubusercontent.com/assets/7677394/24489192/2df59ea6-151c-11e7-80bc-10687e69d9dc.png)

[2017-03-30 06:11] Adam-Michalski opened #3843 "Input values can be set under min and above max"
#### Bug, feature request, or proposal:
Values in input can be set by typing values from keyboard to above max and below min attributes values

#### What is the expected behavior?
After typing values below min or above max value shall change to right one.

#### What is the current behavior?
Need to care about values manually

#### What are the steps to reproduce?
https://plnkr.co/edit/hbeZs7lDZr52

[2017-03-30 06:28] crisbeto commented on #3843
This is how the native input behaves. Material only styles it, but it doesn't add any validation.

[2017-03-30 06:28] #3843 closed

[2017-03-30 08:17] rdelriods01 commented on #3830
@param-bnb which version of Angular are you using? I have similar problem, and I'm in Angular 4.

[2017-03-30 09:21] asadsahi commented on #1516
having same issue. I have import MaterialModule.forRoot() in app.module and then imported MaterialModule in a SharedModule. SharedModule is imported in each lazy loaded module, but getting error for all directives/components used in that lazy module:

![image](https://cloud.githubusercontent.com/assets/3470892/24497140/5cc95a86-1532-11e7-81ba-0aa1f91c689c.png)

Difficult to find an example online

[2017-03-30 09:31] Chan4077 commented on #3830
@param-bnb Are there any errors in the console?

[2017-03-30 09:37] Exertive opened #3844 "Dynamic columns in Grid List"
#### Bug, feature request, or proposal:

Feature:
Have the number of columns in a GridList component change in response
to significant changes to screen/browser dimensions.

#### What is the use-case or motivation for changing an existing behavior?

While it is relatively straight-forward to determine the initial number of
columns that is optimal for displaying a Gridlist component on the current

[2017-03-30 10:29] AAAnderson7301 commented on #3351
@djleonskennedy @benjamin-wilson . If you are looking for a short term solution here is what I am doing. Needed this for production and the merge is taking longer then I expected.
@angular/material/@angular/material.es5.js.

Change this one section
FROM:
[code]
TO:
[code]

[2017-03-30 11:17] karlhaas commented on #3384
Another strange fact is that
- with Angular v2 and Angular Material v2.0.0-beta.1 we had the same bug including the JavaScript error
- currently with Angular v2 and Angular Material v2.0.0-beta.2 the tooltips stuck and don't disappear but the app does not crash
- with Angular v4.0.1 and Angular Material v2.0.0-beta.1 the app crashes again so we can't upgrade Angular

[2017-03-30 11:48] victornoel commented on #3384
@karlhaas: I am using angular 4 and material 2 beta 2 and it's working great (as long as `BrowserAnimationsModule` is registered)

[2017-03-30 12:04] karlhaas commented on #3384
Without `BrowserAnimationsModule` animations won't work at all, right?
@victornoel in Safai with web-animations-js?

[2017-03-30 12:10] victornoel commented on #3384
@karlhaas ha, maybe not in this context, sorry :) I just tried with chromium

[2017-03-30 13:20] willshowell opened #3845 "md-tab-nav-bar: ink doesn't change with resizing tabs"
#### Bug, feature request, or proposal:
Bug

#### What is the current behavior?
When the window hits the `$mat-xsmall` breakpoint, min widths for `.mat-tab-label` and `.mat-tab-link` change from 160px to 72px. The ink bar does not reflect that.

#### What are the steps to reproduce?

http://plnkr.co/edit/6NlXoXhzaDHsHtTo9JWn?p=preview

#### Which versions of Angular, Material, OS, browsers are aff

[2017-03-30 13:21] willshowell commented on #3495
@fxck with #3622 landed, your gist appears to be fixed. There's still an issue with resizing, but I opened a separate issue for that (#3845).

[2017-03-30 13:24] willshowell commented on #3754
@mbeckenbach with #3622 landed, are you still seeing the issue?

[2017-03-30 13:27] #3495 closed

[2017-03-30 13:35] mjolk commented on #2663
I'm seeing the same, beta.2/angular 4.0.0 reactive forms with ChangeDetectionStrategy.OnPush still exhibits this behaviour. Is there a temporary quickfix?

[2017-03-30 13:41] mjolk commented on #3005
maybe related to #2663 says it's fixed but i'm still having this issue using select in combination with reactive forms/OnPush change detection.( Angular 4.0.0, material 2.0.0.beta2)

[2017-03-30 13:48] Raphyyy commented on #581
Hi ! Thank you for your amazing work and sorry to annoy you again on this thread.
I'm new with Angular 2 and I'm really interested with this feature.
Is there a way to start working with beta version of this feature ?
Thank you

[2017-03-30 14:05] #3740 closed

[2017-03-30 14:06] #3499 closed

[2017-03-30 14:41] chrchm opened #3846 "Tooltip TypeError with web.animations.js"
`####` Bug:
Material Tooltip with web.animations.js, do not work properly if we trigger a tooltip more than two consecutive times in a short time is thrown this error (only Safari):
'TypeError: e [0] .push is not a function. (In 'and [0] .push (1)', 'and [0] .push' is undefined)  --- web-animations.min.js:16:6248

#### What is the expected behavior?
No error

#### What is the current behavior?
Thi

[2017-03-30 14:48] mischkl opened #3847 "mdInput: placeholder shows "undefined" if it is a bound value"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
If a placeholder is bound to a property on the containing component, and the property is undefined, no placeholder should be shown.

#### What is the current behavior?
If a placeholder is bound to a property on the containing component, and the property is undefined, 'undefined' is shown as the placeholder.

#### What

[2017-03-30 15:12] dstone760 opened #3848 "mdInput type="date" should be easier to interchange with dates"
#### Bug, feature request, or proposal:

Proposal: mdInput should be easier to use with javascript date objects, and should not require formatting to set

#### What is the expected behavior?

If mdInput is a date type, then I would expect that setting its ngModel to a date would easily recognized and handled.

#### What is the current behavior?

If you pass in a date to an mdInput with type date,

[2017-03-30 15:37] jelbourn commented on #1516
* Every component lives in exactly one NgModule (there one where it's in `declarations`).
* Any component that uses another component must have an import to the latter in the module where it lives.

[2017-03-30 15:41] asadsahi commented on #1516
@jelbourn

Thats what I was trying to achieve by importing MaterialModule in a SharedModule and and then immediately exporting from shared. But when I tried to import shared in every lazy module. application was hanging. Tried hard to find an example online which has one lazy module and showing material working.

Any pointers for an example?

[2017-03-30 15:43] mikehaas763 opened #3849 "Are Portal, Overlay, ViewportRuler public or private"
I'm curious about both immediately and future path if Portal, Overlay, and ViewportRuler are public or private APIs?

[2017-03-30 15:58] ponmani commented on #1492
jelbourn. I have imported and it show's : Template parse errors:
'md-input' is not a known element:. But i have imported universalModule in app.component typescript file.

[2017-03-30 15:59] fxck commented on #3849
https://github.com/angular/material2/issues/964#issuecomment-238687029

[2017-03-30 16:02] DevVersion commented on #3834
Thanks. This is a known issue we all experience at the moment. The build process works fine on Mac OS, which let's us think that it is caused by an `@angular/tsc-wrapped` issue.

I will take a look at it again, otherwise we would need to wait for feedback from `angular/angular`.

[2017-03-30 16:17] mikehaas763 commented on #3849
Alright I'm going to close this out but if anyone has any more details about other APIs, etc please to comment back here.

[2017-03-30 16:17] #3849 closed

[2017-03-30 16:42] portaljacker commented on #581
I'm also interested in this feature for something at work. For now we're using this: https://getmdl.io/components/#tables-section

But it'd be nice to have something properly integrated and not have to fiddle with the design so much.

[2017-03-30 16:47] willshowell commented on #3847
It's difficult to diagnose without a reproduction of the issue. Here is a plunker that works (doesn't show "undefined" as the placeholder):

http://plnkr.co/edit/4oA07xeCwao3JtBWjhOO?p=preview

Do you think you could try to reproduce it based off that?

[2017-03-30 16:50] mattheiler opened #3850 "Fixed Tabs"
#### Bug, feature request, or proposal:
Feature, or new component, depending on the design and integration with existing, scrollable tabs.

#### What is the expected behavior?
Fixed tabs, as described in the [guidelines](https://material.io/guidelines/components/tabs.html#tabs-types-of-tabs).

Google Plus has a working [example](https://plus.google.com/collections/yours).

[2017-03-30 17:56] zigzag95 commented on #3834
FTI Replacing libs content by a test module and component works fine on w7
I suspect core a11y

[2017-03-30 18:00] DevVersion commented on #3834
Thanks fo

[2017-03-30 18:08] donroyco commented on #3846
This is a duplicate of #3694

[2017-03-30 19:06] dahaupt commented on #1516
@asadsahi But it's working for non-lazy modules and its components? I have a similar structure with a SharedModule which imports `MaterialModule` and it's working fine, but I have not tested lazy-loading yet.

[2017-03-30 19:11] dahaupt commented on #1650
@michaeljota Most likely because of the fact that the team is not currently working on it, but it has been considered as good for the future.

[2017-03-30 19:20] dahaupt commented on #3844
@Exertive You should probably have a look at [@angular/flex-layout](https://github.com/angular/flex-layout).

[2017-03-30 19:23] michaeljota commented on #1650
@dahaupt as @littleninja said (six months ago) this feature it's already implemented. I don't think they used this to track the implementation of that feature. So... Why this is still opened?

[2017-03-30 19:28] michaeljota commented on #581
@Raphyyy this is not a place to ask such questions, still I'm going to answer that exact question: TL; DR: No.

Long:
The whole framework it's in beta, but no version had been published that use the table that's been in development. I think that if the feature it's in this repo somewhere, you could work it out. Keep in mind that if this had not released yet, you will be on your own, and I *strongl

[2017-03-30 19:35] dahaupt commented on #1650
@michaeljota It is not implemented because the `md-card-header` currently doesn't act like a md-toolbar, with a possibility to get a full-width background color. I think they've finished working on `md-card` until other components are done. Once that is done, they will continue to work on these nice to have features.

[2017-03-30 19:40] mtpultz commented on #3815
@crisbeto I had a look for the PR, but couldn't find it.  Can you link it here so we can subscribe/watch it.

Thanks for the update :)

[2017-03-30 19:44] crisbeto commented on #3815
Here you go, although it is merged already: https://github.com/angular/material2/pull/3608

[2017-03-30 19:46] michaeljota commented on #1650
Then you should just add a Toolbar. They are different components, why they
should do something like this? Is it in the Material Specification guide or
something? If so, please, share the link.

2017-03-30 15:35 GMT-04:00 Daniel H. <notifications@github.com>:

[2017-03-30 20:16] portaljacker commented on #581
Any estimates on when it'll be done? That way I can figure out when I'll come back to the feature we'd switch to using it at work.

[2017-03-30 20:16] rsach opened #3855 "how do i use it with angular universal because it's throwing a lot of errors while compiling"
#### Bug, feature request, or proposal:
EXCEPTION: Uncaught (in promise): ReferenceError: document is not defined
ReferenceError: document is not defined
    at getSupportedInputTypes (/home/rahul/Desktop/MenuSystem.Site/dist/server/index.js:48693:34)
    at /home/rahul/Desktop/MenuSystem.Site/dist/server/index.js:30704:150
    at Array.filter (native)
    at new MdInputDirective (/home/rahul/Desk

[2017-03-30 20:25] aldo-roman commented on #1430
Hi @jelbourn, any update on this issue? It's been 2 months now. Thanks!

[2017-03-30 20:46] rsach commented on #308
at ComponentFactory.create (/home/rahul/Desktop/MenuSystem.Site/dist/server/index.js:40766:36) ReferenceError: document is not defined
    at getSupportedInputTypes (/home/rahul/Desktop/MenuSystem.Site/dist/server/index.js:48693:34)
    at /home/rahul/Desktop/MenuSystem.Site/dist/server/index.js:30704:150
    at Array.filter
with universal i've this issue with the angular universal starter pack

[2017-03-30 21:19] peluprvi commented on #3837
Links updated. Thanks @Chan4077 !

[2017-03-30 21:52] M-a-c commented on #3651
@jelbourn @DevVersion can I get someone to pr #3825 ?

[2017-03-30 21:56] M-a-c commented on #3550
@DevVersion can you pr my pull request #3826 its small 🌮

[2017-03-30 22:05] Maistho opened #3856 "Uncaught TypeError when selecting checkbox with ripple disabled"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
No uncaught typeerrors when selecting checkboxes if ripple is disabled

#### What is the current behavior?
When selecting or tabbing to a checkbox with `[disableRipple]="true"`:

[code]
#### What are the steps to reproduce?
http://plnkr.co/edit/YcArpxwX8fQReqj55ufU?p=preview
Open console and click the "No ripple" chec

[2017-03-30 22:17] leocaseiro commented on #581
Another example within `<table>` with fixed header and columns: https://datatables.net/extensions/fixedcolumns/examples/initialisation/left_right_columns.html

[2017-03-30 22:33] Goodwine commented on #3721
I had to add a css rule that sets a max width to the tooltip text and makes it break into several lines, it worked really well but it's fragile and may not work for you :(

[2017-03-30 22:44] jelbourn commented on #581
@leocaseiro in both of those examples the stuck column is an entirely separate `<table>`

[2017-03-30 22:46] Goodwine commented on #3569
@jelbourn The default is "below"
https://github.com/angular/material2/blob/cd55082a488e58a3f4948bba8e5d0a6771a57233/src/lib/tooltip/tooltip.ts#L67

Still I am very interested in having a tooltip handles positioning itself.
For example... if I choose "after", it gets rendered at the right (in LTR), but what if the element is on the right edge? well.. the tooltip goes out of the page.
It would be ve

[2017-03-30 22:55] leocaseiro commented on #581
@jelbourn yep, I think it's a "clone" of the `html` elements made with JS which IMO is the most common behaviour for frozen elements (Same as the [$mdSticky]( https://material.angularjs.org/latest/api/service/$mdSticky])).

Unless you are aware of a better approaching that doesn't need cloning an element with divs that wouldn't work in a `<table>`.

[2017-03-30 23:17] M-a-c commented on #3359
@arat3091 I think you can close / resolve your own issues, just so you can save the material guys some time, there are a ton of these to look through

[2017-03-30 23:19] M-a-c commented on #3354
hey @kara can you mark this one as having pr?

[2017-03-30 23:42] M-a-c commented on #3522
@victorschinaider are you going to open a pr for this?

[2017-03-30 23:43] michaeljota commented on #581
@leocaseiro I think that's what they are doing and the reason why they don't use `<table>`

[2017-03-31 00:21] mmalerba opened #3857 "Firebase dev deployments don't work with beta.3 packaging changes"
It is currently not possible to deploy a working demo on firebase via `firebase deploy` This is due to the fact that the file structure under `dist/` has changed and the `vendor/` files are no longer copied.

[2017-03-31 01:58] victorschinaider commented on #3522
@M-a-c, If you have something, feel free to open.
I've a material fork in my account with some modifications (https://github.com/victorschinaider/material2/blob/icon-docs/src/lib/icon/icon-temp.md), it's just a draft,
if you fell comfortable, we can discuss.

[2017-03-31 05:10] pietie commented on #3847
I just tested this with ng4 and material beta 2 and I get your _expected_ behaviour - if the bound property is undefined the placeholder is not rendered.

[2017-03-31 05:38] emilio-martinez opened #3858 "Attaching `TemplatePortal` via `DomPortalHost` always returns an empty `Map`"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Setting a `TemplatePortal`'s locals should get passed to the view when attaching via `DomPortalHost`, and then after attaching, the locals should return all the locals in view.

https://github.com/angular/material2/blob/master/src/lib/core/portal/dom-portal-host.ts#L81

#### What is the current behavior?
S

[2017-03-31 06:29] karlhaas commented on #3846
Maybe also a duplicate of https://github.com/angular/material2/issues/3384

[2017-03-31 06:53] WouterVanherck commented on #2209
This feature would be a great asset to webapps designed for touch-screen devices. I've tried to implement this myself but [this is the fartest I got](http://stackoverflow.com/questions/43118649/angular2-hammerjs-swipe-for-md-tab-group/43122634#43122634) and I couldn't get it to work... Would be amazing if it came out of the box.

[2017-03-31 07:19] impankratov commented on #3721
@Goodwine sounds interesting, maybe we can use this to make a PR? Can you share the code?

[2017-03-31 07:31] JakobSegerslatt commented on #3842
I'm gueassing your'e talking about material design expansion panels right?
https://material.io/guidelines/components/expansion-panels.html

I doubt they will implement it any time soon, but in the meantime i can recommend this component, it follows the material specs nicely and is really intuitive to use.
https://github.com/Gbuomprisco/ng2-expansion-panels

[2017-03-31 08:45] mbeckenbach commented on #3754
@willshowell As far as i understand this, it should be fixed in master? At the moment i can't update my app from beta.2 to something newer for deadline reasons.

[2017-03-31 09:53] fxck commented on #675
@mmalerba is there going to be a mode, where you'll be able to select a month only, so you could pick say `March, 2017`, without having to pick a day? it would be handy

[2017-03-31 10:16] raxkaynan commented on #2124
Any status update on this?

[2017-03-31 10:18] naveedahmed1 commented on #675
@fxck and Month + Year as well.

[2017-03-31 10:20] fxck commented on #675
don't think year would even be possible with the current design.. also if you wanted to select just a year, simple select would be sufficient

[2017-03-31 10:21] naveedahmed1 commented on #675
Agree! if we just want to select year, What if we want user to select Month and Year?

One more thing would the datepicker return javascript date or something more powerful like moment object?

[2017-03-31 11:55] tmburnell commented on #3842
I implemented this for myself.  it only does one collapsible section at a time, however your could wrap it to make an Accordion :
    import { Component, trigger, state, animate, transition, style } from '@angular/core';

`
    @Component({
        selector: 'collapsible',
        templateUrl: `
            <div class="header" fxLayout="row" (click)="isCollapsed = !isCollapsed">
                <m

[2017-03-31 12:04] AyzPat commented on #3176
So when will this part rectified?????

[2017-03-31 12:32] DaveBest99 commented on #3591
Paul, I have consulted with colleagues about the Angular Slider Toggle demo. The consensus is that the purpose of the slider is unclear in the demo. If it is simply to Check and Uncheck a Checkbox, then there is no accessibility issue, as the Checkbox is keyboard operable. However, the text label “Slide me” is misleading and confusing to not only blind screen reader users.

If the visual slide act

[2017-03-31 12:56] AndyHaas commented on #3830
Check out this page. Had the same issue then started to read their documentation. I have been one to not read instructions before. But this helped me as I also was on Angular 4.

https://material.angular.io/guide/theming

If the theming is not not linked in then it will not show the slider as there is no css to do so. they give you several prebuilt files or you can make your own.

NOTE:: Hint for

[2017-03-31 13:15] willshowell commented on #3754
Yes, it should be fixed in master. I say *should* because that PR was really set out to solve a different issue with layout direction changes, but I'm not able to replicate the issue anymore using a Plunker based on master.

[2017-03-31 13:31] afriedma opened #3859 "md-list-icon is not clickable inside md-nav-list"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?
When I have icon inside nav list, the click does'nt result in navigation event(route change)

#### What are the steps to reproduce?
                <md-nav-list>
                    <md-list-item>
                        <md-icon md-list-icon>notifications</md-icon>

[2017-03-31 14:02] willshowell commented on #3859
Can you reproduce it in a Plunker?

[2017-03-31 14:07] nshahm commented on #1492
@ponmani Use <md-input-container> https://material.angular.io/components/component/input

[2017-03-31 14:13] jennyraj commented on #3834
Thank you so much.  Bundler.ts fix worked in Win10!

[2017-03-31 15:40] VitalyVrublevskyy commented on #2351
@crisbeto Just a little question: Does it any option to show dialog vertically as it, without any scroll. I mean to show in full height and remove the scrolling in overlay, and apply it to the all window height?

[2017-03-31 15:44] crisbeto commented on #2351
@VitalyVrublevskyy it won't scroll if you don't use the `<md-dialog-content>` element. It'll stretch based on the content until it hits 80% of the viewport height.

[2017-03-31 16:10] VitalyVrublevskyy commented on #2351
@crisbeto However in your case we can't scroll using default window scroll.
I just little extend your _demo-jazz-dialog_ example.
Could you please take a look on https://material2-demo-314e9.firebaseapp.com/dialog ?
Git Patch attached to the comment.
[High_dialogue_without_scroll.patch.zip](https://github.com/angular/material2/files/886268/High_dialogue_without_scroll.patch.zip)

[2017-03-31 16:37] afriedma commented on #3859
https://plnkr.co/edit/s8UuFvLXTqGxGSxK3zXV?p=preview

[2017-03-31 16:53] crisbeto commented on #2351
Ah, sorry. What I mentioned should work once I finish reworking the positioning logic. You can get your example to work by adding a `max-height` to `.mat-dialog-container`.

[2017-03-31 17:29] willshowell commented on #3859
Try organizing it like this: https://plnkr.co/edit/qE6MHvOUzwX9BpjkFQkE?p=preview

It may not be totally clear from the docs, but if you look at [the source](https://github.com/angular/material2/blob/master/src/lib/list/list.ts#L127) you can see that MdListItem can be an anchor as well.

[2017-03-31 17:41] mmalerba commented on #675
@fxck Yes I want to add that, probably not in the first version due to challenges with parsing & formatting i18n

[2017-03-31 17:42] #2930 closed

[2017-03-31 17:53] chrchm commented on #3846
vHi,I believe is a duplicate of this, can you excuse me, please?

Bye

[2017-03-31 17:56] M-a-c commented on #2682
@jelbourn Issue seems to be working.
But visiting any other link that goes external does not work. Should I open an issue?

Material Sample App on the getting started page, and anything else that isn't a internally hosted link breaks.

[2017-03-31 18:11] joshdevries commented on #661
I was able to fix this by adding flex to md-card-content:
<md-card-content flex>

This pushes the action section to the bottom.

[2017-03-31 18:30] M-a-c commented on #3522
@victorschinaider Sure!
If there are parts you're not sure of let me know, we can discuss on your branch.
Also If you'd rather not do a part I can lookup/fillout the info for that section.
Let me know!

[2017-03-31 18:48] antonyboom commented on #2624
@tgiddings finally after couple hours, I figured out how to fix it. here is working code

style.css
[code]
[code]

[2017-03-31 19:16] afriedma commented on #3859
Thank you for the prompt response, kind of not used to having other tags inside the <a> tag.

[2017-03-31 19:16] #3859 closed

[2017-03-31 19:44] elyas74 commented on #1512
same issue :
[code]
@angular/cli: 1.0.0
node: 6.10.0
os: linux x64

[2017-03-31 21:01] willshowell opened #3863 "md-list-icon is not aligned with global `box-sizing: inherit`"
#### Bug, feature request, or proposal:
Bug

It's [pretty common](https://www.paulirish.com/2012/box-sizing-border-box-ftw/) to globally apply inherited box sizing to all elements:

[code]

This causes the `md-list-icon` to no longer keep the correct size, because it is inheriting `border-box` from `.mat-list-item-content`. It should explicitly use `content-box`.

#### What are the steps to reprod

[2017-03-31 21:51] M-a-c commented on #2800
@Splaktar Do you have a Pr in progress that I could help with or anything like that?

[2017-03-31 22:13] M-a-c commented on #3364
@jrood Since there are a lot of components how would you suggest doing this?
Just adding a * next to everything that can use two way binding then linking to a special page about it? or putting a example of two way binding in each component?

[2017-03-31 22:16] M-a-c commented on #3002
@thanhpd the example is broken :/

[2017-03-31 22:17] jroodHNTB commented on #3364
Thanks @M-a-c , I was imagining an example in each component.

[2017-03-31 22:28] M-a-c commented on #3364
@jroodHNTB so would that show every @input method you could do, or just explain how it is useful and leave the rest up to the user?

[2017-03-31 22:33] jrood commented on #3364
(sorry for switching between jrood and jroodHNTB accounts)
@M-a-c It looks to me like the API docs already are listing every @input method (as well as every @output method) under the 'Properties' section for each component. What I'm thinking is: since we are already listing every one-way binding, we should also list every two way binding.

[2017-03-31 22:43] arlowhite commented on #2814
I'm on material2 master
`@angular/material@2.0.0-beta.2  (git+https://github.com/angular/material2-builds.git#1a385805bf23db2e5fd95b6f412155bbec190873)`

md-icon works for me
[code]

**However, the icon is vertically aligned to the top, not middle.**

ng version

[2017-03-31 22:51] M-a-c commented on #3364
For the button component is there even anything that can be two way bound?
I'm just looking for an example of a component that does do two way binding.
Could you give me an example? I'm a bit ignorant on the subject. I know how it works, and I have a lot of time this and next week to contribute.

https://material.angular.io/components/component/button
https://github.com/angular/material2/blob/mast

[2017-03-31 23:01] jrood commented on #3364
It doesn't look like there is anything on a button that can be two way bound. An example on Tabs under MdTabGroup is that there is an input `selectedIndex` which you could use like this `<md-tab-group [selectedIndex]="someValueOrVariable">` and an output `selectedIndexChange` which you could use like this `<md-tab-group (selectedIndexChange)="someMethod()">`.  What I think should be added is an en

[2017-03-31 23:14] #3798 closed

[2017-03-31 23:21] M-a-c commented on #3364
so that does say "Output to enable support for two-way binding on `selectedIndex`."
but you explicitly state that two way binding is implemented ([like])="this"
How exactly did you have in mind though. so it lists the @input,@output would you like it to have and additional ([twoWaybinding]) = "variable".

Also I am trying to think of how best to implement this. I'm trying to avoid the use of gulp

[2017-03-31 23:44] jrood commented on #3364
Hmm, now that I'm thinking more about this, it might not be necessary to add a new line, but just to actually use the syntax in the explanation "Output to enable support for two-way binding via `[(selectedIndex)]`" .

For the two-way binding syntax, square braces are always on the outside and parenthesis on the inside like this `[()]`, thus the phrase 'banana in a box'.

They're using gulp to buil

[2017-04-01 00:06] M-a-c commented on #3364
@jrood
should the two way binding be mentioned on just the output or also the input ?
I wonder what @kara thinks.

[2017-04-01 00:24] jrood commented on #3364
@M-a-c Unfortunately get and set methods do not imply two-way binding, they might just be used internally within the component.

I don't have a strong opinion about whether it's on both. Just the output is probably fine.

[2017-04-01 00:45] M-a-c commented on #3364
So how can you say for sure if something is two way bound?
Ps (we can handle this on my fork) https://github.com/M-a-c/material2/pull/1

[2017-04-01 00:54] shuzootani commented on #114
@ermarkar You have got any idea ?

[2017-04-01 00:59] jrood commented on #3364
It has to have an @input and then an @output that has the same name as the @input plus 'Change'.  So you could have an @input called 'salmongrass' and an @output called 'salmongrassChange', and that would mean you could use the two-way binding syntax `[(salmongrass)]="someVariable"`.  I sort of initially inferred that information, and then latter confirmed it in reading this article https://blog.t

[2017-04-01 06:39] NgYueHong opened #3867 "When is Beta 3 expected to be released?"
It has been quite sometime since beta 2 is released. When is Beta 3 expected to be released? Any road-map or milestone for Material 2?

[2017-04-01 07:31] fxck commented on #3867
https://github.com/angular/material2/issues/3800

[2017-04-01 08:42] tsvetan-ganev commented on #747
I found a workaround, which is far better than using `!important` in every statement or copy-pasting the same style definitions in the components which are consuming Material Design elements. I am using the Angular CLI (v1.0.0) but it should work with the corresponding Webpack configuration as well.

1. Create a separate `.css` file where you will override the default material component styles. Le

[2017-04-01 10:13] #3867 closed

[2017-04-01 10:36] msegers commented on #747
@aldo-roman Well it's not up to me, at time of writing it's over 9 months old which is nearly a year in my head. They will probably provide more but it still is beta. So it won't be a priority soon.

[2017-04-01 13:25] gcfabri commented on #2624
@antonyboom I tried this but didn't work... Could you provide a plunk?

[2017-04-01 15:51] thanhpd commented on #3002
@M-a-c I think this is because Angular has updated it npm package to version 4, and Material2 is not ready beyond version 2. Updated the example to use fixed version of Angular2, should be working again.

[2017-04-01 17:35] #3855 closed

[2017-04-01 17:46] ermarkar commented on #114
@shuzootani
Here is the answer
http://stackoverflow.com/questions/42717508/how-to-communicate-from-angular-material2-dialog-to-its-parent

[2017-04-01 18:00] leo6104 opened #3870 ""ReferenceError: getComputedStyle is not defined" display on server side rendering."
#### Bug, feature request, or proposal:
In server-side rendering, getComputedStyle function not supported.
The cause of this issue is the commit [feat(theming): log a warning if core theme isn't loade](https://github.com/angular/material2/commit/4282917f0c195edaf99d5869529715240b303933)

#### What is the expected behavior?
alternative way required for getComputedStyle

#### What is the current beh

[2017-04-02 05:02] molcik opened #3873 "Clicking md-select should disable scroll"
#### Bug, feature request, or proposal:
feature

#### What is the expected behavior?
clicking md-select should disable scroll

#### What is the current behavior?
md-option position is fixed to screen view
![2017-04-02 06_56_09](https://cloud.githubusercontent.com/assets/11929953/24584556/9eae4b82-1771-11e7-9dd4-8f7d27df059a.gif)

#### What are the steps to reproduce?
Plunker: http://plnkr.co/edit/

[2017-04-02 05:10] rahulrsingh09 opened #3874 "md-select multiple not working"
[code]

I am not able to select multiple value in a select box angular material

[2017-04-02 06:59] crisbeto commented on #3873
There is a pending PR to reposition the menu on scroll instead https://github.com/angular/material2/pull/3808.

[2017-04-02 06:59] #3873 closed

[2017-04-02 07:00] crisbeto commented on #3874
The changes that add multiple selection haven't been released yet. You can either wait for the next release or install the latest build via `npm install --save https://github.com/angular/material2-builds.git`.

[2017-04-02 07:00] #3874 closed

[2017-04-02 09:41] mscu commented on #3753
probably because of the svg and you didn't use the svg namespace

[2017-04-02 09:54] xuanshenbo commented on #3002
Is there a way to set the background colour of a snack bar?

[2017-04-02 14:15] thanhpd commented on #3002
@xuanshenbo You can use `extraClasses` properties of `MdSnackBarConfig` to style built-in snackbar or using your custom component, which should give you control over pretty much everything.
This kind of questions should be asked in Gitter room so you can have faster responses. This issue is dedicated to documentation problem only.

[2017-04-02 16:42] dstone760 commented on #3848
I wouldn't consider this closed, but I at least found an easier way to handle this than what I was doing:

`<md-input-container">
     <input mdInput [ngModel]="myDate | date:'yyyy-MM-dd'"
         (ngModelChange)="myDate=formatToDate($event); otherStuffToDo()"
        placeholder="Some Date"
        type="date">
</md-input-container>`

and in the TS

`
private formatToDate(stringDate){
        le

[2017-04-02 19:47] lobo-tuerto commented on #327
I'm observing the same behavior with reactive forms :(

[2017-04-02 22:48] mafav commented on #2277
Looks like they've changed the Github build of Material. Instead of

@import '~@angular/material/core/theming/all-theme';

Try this out:

@import '~@angular/material/_theming.scss';

[2017-04-02 22:56] BenRacicot commented on #2277
@mafav hmm not seeing that in my node_modules..
`@import './../node_modules/@angular/material/core/theming/all-theme';` still works for me...

[2017-04-03 01:13] stuarthallows commented on #114
If a dialog is set to allow dismissal by clicking outside the dialog is it possible to prevent its dismissal, for example in the case where the dialog contains a form which has not been saved - in which case I'd want to ask the user first if they want to save it?

[2017-04-03 09:12] kstraszewski opened #3881 "custom SnackBar"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
I would like to open my custom component by service. Service have 2 function OpenSuccessSnackbar(), and OpenErrorSnackbar(), and it looks like this:

`  OpenSuccessNotification(){
    this.snackbar.openFromComponent(SnackbarSuccessComponent, {
      duration: 3000
    });
  }
`

my SnackbarSuccessComponent looks like

[2017-04-03 09:35] ocarreterom opened #3882 "change md-list `dense` attribute programmatically without "hack""
#### Bug, feature request, or proposal:
Proposal.

#### What is the expected behavior?
Change `dense` attribute programmatically.
[code]

#### What is the current behavior?
`dense` is an html attribute stylized with CSS.
[code]

#### What is the use-case or motivation for changing an existing behavior?
Is useful for main sidenav menu: dense for desktop and default for mobile.
Currently to change t

[2017-04-03 13:02] fxck opened #3883 "md-option allow multiple lines"
It would be nice if it was possible to add more lines to a select option, similar to what you can do in `md-list-item` with `md-line`, currently the height is fixed to 48px (which I guess is because of the positioning to the active option upon opening) and width is capped at about 300px, so it's hard to give the option some secondary context which helps identifying the correct option you want to s

[2017-04-03 13:12] fxck commented on #114
@stuarthallows https://github.com/angular/material2/pull/3460

[2017-04-03 13:52] willshowell commented on #3881
Can you reproduce it in a plunker?

[2017-04-03 14:53] afriedma opened #3884 "routerLinkActive is not working on md-list-item inside md-nav-list"
#### Bug, feature request, or proposal:
bug, routerLinkActive is not working on md-list-item inside md-nav-list

#### What is the expected behavior?
on active route change, call a function to set active item in the list

#### What is the current behavior?
no public methods are available, setting [routerLinkActive]="['mat-list-item-focus']" doesn't produce the expected result

#### What are the ste

[2017-04-03 17:08] antonyboom commented on #2624
@gcfabri I'm sorry cannot reproduce it in plunker because official example doesn't work and I couldn't force to work it. It requires to import BrowserAnimationsModule which is not accessible from cloudflare at this moment

[2017-04-03 18:08] M-a-c commented on #3364
so I looked through the components and core.. All I could find was MdTabGroup with two way binding, that's seriously the only component with two way binding that i could find.

[2017-04-03 19:14] willshowell opened #3886 "md-list-icon does not resize for dense list"
#### What is the expected behavior?
Although the spec does not explicitly mention icon sizing, it can be seen that the icon size decreases from 24px to 20px when going from standard to dense lists.

![](https://storage.googleapis.com/material-design/publish/material_v_10/assets/0Bx4BSt6jniD7eUpZcXJRODJvMXc/components_lists_keylines_single5.png)

![](https://storage.googleapis.com/material-design/p

[2017-04-03 19:19] agusdutra commented on #3552
I was facing the same issue.

I just changed 'style.css' to 'style.scss', updated it reference on the styles section of .angular-cli.json and it started working with the template improted just like the one in the material.angular.io example.

No need to include 'custom_theme.scss' on the angular-cli.

hope it helps.

[2017-04-03 19:19] agusdutra commented on #2277
I was facing the same issue.

I just changed 'style.css' to 'style.scss', updated it reference on the styles section of .angular-cli.json and it started working with the template improted just like the one in the material.angular.io example.

No need to include 'custom_theme.scss' on the angular-cli.

hope it helps.

[2017-04-03 19:57] afriedma commented on #3884
I can reproduce the issue using the Plunker below.

https://plnkr.co/edit/s8UuFvLXTqGxGSxK3zXV?p=preview

[2017-04-03 20:46] hblieb commented on #2127
@p-jan work around partly worked for me. I only needed the
[code]
And I added
[code]

[2017-04-03 21:28] kara commented on #3449
It seems like you might be missing the Material theme. Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-03 21:28] #3449 closed

[2017-04-03 21:46] M-a-c commented on #2934
@kara The code to fix this is probably out side of the scope of what the 'Git' touches.
I've looked everywhere this feature is in there.. (Might not be 'good for community contribution)

@DevVersion You seem to do the tooling, I think these issues are related to that. I would love to help but really cannot find the code that generates these issues.

See :
https://github.com/angular/material2/blob/

[2017-04-03 22:49] M-a-c commented on #852
@hansl you can probably close this issue. Milestone completed. This does not exist anymore when looking in the npm package.

[2017-04-03 23:24] M-a-c commented on #3532
@yaronmil fxck has a pr out for the issue.

[2017-04-04 04:45] crisbeto commented on #3883
1. I'm not sure whether the spec allows for multi-line options.
2. As you mentioned, this makes the positioning a bit harder.

[2017-04-04 05:40] fxck commented on #3883
It might be the case, that the spec does not allow it, but then again, I don't think spec mentions anything about capping max width at 300px either.
And I also think it's a fair use case no matter what spec says. So how about this, if the spec doesn't allow multi-line, it should still be possible for the consumer to modify the behavior to some extent  (as is the case where you override some css pr

[2017-04-04 06:49] niranjanwnmt commented on #2165
Hi,
I am facing same issue with
angular-material 2.0.0-beta.2, Angular 2.4.10

Unhandled Promise rejection: Template parse errors:
Can't bind to 'value' since it isn't a known property of 'md-option'.
1. If 'md-option' is an Angular component and it has 'value' input, then verify that it is part of this module.
2. If 'md-option' is a Web Component then add "CUSTOM_ELEMENTS_SCHEMA" to the '@NgModul

[2017-04-04 07:49] param-bnb commented on #3669
I am facing same problem.. what is the solution ?

[2017-04-04 08:16] IvanProdaiko94 opened #3889 "How to set default selected option in md-select component?"
Is there any chance to set default selected option to md-select?

[2017-04-04 08:48] anapanadero commented on #3337
+1

[2017-04-04 08:50] fxck commented on #3889
Hey, github issues are for bugs and feature requests. Gitter or stackoverflow are better suited for support requests.

[2017-04-04 08:57] IvanProdaiko94 commented on #3889
But, I can't find this feature in md-select. So, if there is no such a thing, that is my proposal to add it.

[2017-04-04 09:01] fxck commented on #3889
Yeah, but there obviously is a way to do it, and it's not even related to `md-select` component or `angular/material2` at all, but rather to `angular/angular` and their `FormsModule` or `ReactiveFormsModule`. In other words, you'd set the default value on `md-select` the same way you'd set it on standard select element.

[2017-04-04 09:14] IvanProdaiko94 commented on #3889
nope. let me explain the problem more accurately. `md-select` component  encapsulate `select` tag inside itself, so I can't directly manage the `select` state. so there should be an `input` decorator to provide default selected option. But in [https://material.angular.io/components/component/select](api reference) there is no such a thing. So, I tried to use `ngModel` to obtain default option, but

[2017-04-04 09:21] fxck commented on #3889
Then you should have perhaps followed the issue template and provided a plunk with reproduction of your `ngModel` problem, included version of angular and material, because it seems to be working perfectly fine for me: http://plnkr.co/edit/45aib6M3hYW4p9BUOi3w?p=preview which makes me thinnk this *is* a support request, which simply doesn't belong here.

[2017-04-04 09:59] IvanProdaiko94 commented on #3889
After updating to beta.2 everything worked fine. It was fully my mistake. Sorry for opening this silly issue. @fxck lots of tnx for helping me.

[2017-04-04 09:59] #3889 closed

[2017-04-04 10:00] benelliott opened #3890 "`MdDialogRef.afterClosed()` emits before dialog refocuses on an underlying element"
#### Bug, feature request, or proposal:
The `MdDialogRef.afterClosed()` observable emits an event before the `MdDialogContainer` has restored focus to an underlying element. This can cause problems if subscriptions to `MdDialogRef.afterClosed()` involve triggering focus events themselves.

This happens because `MdDialogContainer` waits for the `NgZone`'s `onMicrotaskEmpty` to emit before executing

[2017-04-04 11:00] ponmani commented on #2765
inline template:13:32 caused by: md-input-container must contain an mdInput directive. Did you forget to add mdInput to the native input or textarea element? ; Zone: angular ; Task: Promise.then ; Value: e undefined
app.moudle.ts
import { MaterialModule,MdInputModule } from '@angular/material';

  imports: [
        FormsModule,
        routing,
        ExportAllService,
        CustomFormsModule,

[2017-04-04 11:00] ponmani commented on #2765
Doesn't work for me

[2017-04-04 11:31] Chan4077 commented on #2765
@ponmani On the latest release of Angular Material 2 (`2.0.0-beta.2`), it has changed to `mdInput`.
[code]

[2017-04-04 13:07] gtzinos commented on #581
Hello,
When will be the except release of data-table?
Thanks.

[2017-04-04 13:09] dahaupt commented on #3669
@param-bnb Probably the import **ReactiveForm** as mentioned before.

[2017-04-04 13:19] bdh1011 commented on #1306
Docs not apllied yet...

[2017-04-04 13:20] mrbinr opened #3891 "md-checkbox strange repetition call to checked function"
#### Bug, feature request, or proposal:
I've a copied md-checkbox example from https://www.npmjs.com/package/@angular2-material/checkbox and i've modified «checked» to use a function.

So my code is  :
[code]
and into component :
[code]

#### What is the expected behavior?
So, then i expect to have in console :
[code]

#### What is the current behavior?
but i have
[code]
... 8 times ...

#### Whic

[2017-04-04 13:23] dahaupt commented on #3337
@finalxcode This one is still in discussion but I'm sure we will see this getting fixed within the next weeks **after** ng-conf. The conference is most likely the reason why the team is currently not that active here on the repo.

[2017-04-04 13:45] benelliott opened #3893 "No way to intercept `MdDialog` close events"
#### Bug, feature request, or proposal:
There doesn't seem to be any way to intercept clicks outside a dialog that are intended to dismiss it. This can be desirable if, for example, the user has made some changes but has chosen to click outside the modal instead of clicking the "confirm" button.

The only way to intercept dialog close requests currently is to set `disableClose: true` in the dialog

[2017-04-04 13:54] willshowell commented on #3893
@fxck has been pushing for this for a while and has a PR for it here https://github.com/angular/material2/pull/3460

[2017-04-04 13:57] willshowell commented on #3891
You're only seeing 3 rendered checkboxes right? `toCheck()` should be called every time change detection runs, which is expected behavior. Do you think you could replicate this in a plunker?

[2017-04-04 14:07] HitomiTenshi commented on #3384
I have the same issue when using IE11 or the latest Edge browser. I include `web.animation.js` to support animations.

When hovering over an element that has a tooltip multiple times in quick succession, the whole app crashes and following error occurs (as already mentioned above):

![iexplore_2017-04-04_16-03-15](https://cloud.githubusercontent.com/assets/7304212/24660611/3ad00048-1950-11e7-9539-

[2017-04-04 14:22] culogordo opened #3895 "autocomplete (MdAutocompleteTrigger)"
Could you please explain how to use 'MdAutocompleteTrigger'. I just want to use methods 'openPanel' and 'closePanel'. Will be awesome to have example in plunker. Thank you in advance.

[2017-04-04 14:31] willshowell commented on #3895
Hi @culogordo, please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are Stack Overflow, gitter, mailing list, etc.

Please look at https://github.com/angular/material2/blob/master/src/lib/autocomplete/autocomplete.spec.ts for examples of how to use it.

[2017-04-04 14:45] MartinFreire opened #3896 "[Tabs] Height is 0 when the group is separated from the header"
#### Bug, feature request, or proposal:
Posible Bug
In case of my mistake, here is a support question on [stackoverflow](http://stackoverflow.com/questions/43210309/height-0-in-components-with-tabs)
When I put the md-tab-group in a parent component with ng-content separated from md-tab in 2 components make heigh of everithing to 0

#### What is the expected behavior?
I want to make this simple exa

[2017-04-04 14:48] mrbinr commented on #3891
[plunker replication](https://plnkr.co/edit/Sp87YGw3MNUNEHgoMCMe?p=preview)
In this example, you will see that, without clicking on any checkbox, log are displayed in firebug console and more than 3 times ...

[2017-04-04 15:00] willshowell commented on #3883
From the [spec on simple menus](https://material.io/guidelines/components/menus.html#menus-simple-menus) (afaik there is no spec for select?):

* **Do:** Use a simple dialog if any text in a simple menu wraps to a second line.
* **Don't:** Don’t truncate text in a simple menu. Use a simple dialog instead.

So it appears that both truncating options and multi-line options are wrong? That said, it a

[2017-04-04 15:13] willshowell commented on #3891
Again, that is expected behavior. If you add `changeDetection: ChangeDetectionStrategy.OnPush` to your component's decorator, you'll see that `toCheck()` is called only once on init.

Read more here: https://blog.thoughtram.io/angular/2016/02/22/angular-2-change-detection-explained.html

This is not an issue with angular/material, but fundamental to how angular works.

[2017-04-04 16:20] fxck commented on #3883
Menu and selects are different thing altogether I think, so if it doesn't disallow multi-lines, I think it would really be worth exploring.

[2017-04-04 16:45] karlhaas commented on #3384
I just provided a PR to fix this in web-animations-js: https://github.com/web-animations/web-animations-js/pull/118

[2017-04-04 17:08] AAAnderson7301 commented on #3895
@culogordo, I believe this has been answered in issue #2987 . Look at @kara 2nd comment. The pull request she references has been merged into master so just run off that and you should be able to use .openPanel()

[2017-04-04 17:46] M-a-c commented on #2725
Hey @chickson-va, can you update your demo I was going to look into a possible fix following what they did for material1.

[2017-04-04 17:47] NishantDesai1306 opened #3898 "md-input not responsive in card"
#### Bug, feature request, or proposal:
Navigate to Examples tab at page https://material.angular.io/components/component/input and I tried to simulate mobile screens on that page but the form is not responsive

#### What is the expected behavior?
Form should be responsive and it should change the size of the input elements based on the size of screen

#### What is the current behavior?
input elem

[2017-04-04 17:57] M-a-c commented on #1947
@SamMousa
I know in general components should share data (typically modeled data) with a service. (depending on what you're doing)
https://angular.io/docs/ts/latest/cookbook/component-communication.html#!#bidirectional-service

If you're looking for something quick I don't think there is anything wrong with tmburnells example, it just depends on what you're trying to accomplish and how expandable

[2017-04-04 18:31] kronetorres opened #3899 "Docs site dialog example plunker is broken"
#### Bug, feature request, or proposal:

The Dialog Component in the plunker Demo throws exeption: "The selector "dialog-overview-example-dialog" did not match any elements".

#### What is the expected behavior?

App work just fine but throws exception.

#### What are the steps to reproduce?

Go to Documentarion about  [Dialog Component ](https://material.angular.io/components/component/dialog)  a

[2017-04-04 18:47] mscu opened #3900 "angular4 support"
#### Bug, feature request, or proposal:

please provide a release that is working with the angular 4 final version. The latest release currently still relies on angular 2.x and even in the master its just the rc.

#### What is the expected behavior?

#### What is the use-case or motivation for changing an existing behavior?

updating angular to version 4.0

#### Which versions of Angular, Material

[2017-04-04 18:53] AAAnderson7301 commented on #3900
@mscu Does this merge not cover that? merge #3752 . I am using Angular 4.0.1 and Material @Master and have 0 issues.

[2017-04-04 18:58] alexw10 commented on #3900
I believe @mscu is this hasn't been released yet so he is not getting the update.
@mscu you can get the latest releases.
https://github.com/angular/material2-builds

[2017-04-04 19:00] mscu opened #3901 "tab component: responsive pagination controls do not appear/disappear on window size change"
#### Bug, feature request, or proposal:

The tab control offer pagination control to scroll left and right which should automatically appear when the tab labels exceed the header size. Unfortunately the pagination controls do not appear reliantly and do not show up on screen size change. Instead they suddenly appear if you click on a tab label and also do not disappear relaintly.

see these screen

[2017-04-04 19:08] donroyco commented on #3901
Same as #3500

[2017-04-04 19:09] Goodwine commented on #3721
I don't think the CSS changes would work for everyone, it's very hacky. In fact, per the material guide, the tooltip shouldn't be that long to begin with.

If you really want to do this hack, you could update your stylesheets and set custom rules on `.mat-tooltip` like a `max-width` that works for you and whether you want to show an ellipsis on the text, or reset `height` so that it can grow verti

[2017-04-04 19:12] mscu commented on #3901
sorry, didn't see your issue, so i'll close mine

[2017-04-04 19:12] #3901 closed

[2017-04-04 19:13] mscu commented on #3500
I'm having the same issue and it is important for mobile support

[2017-04-04 19:15] donroyco commented on #3898
The 'bug' you're referring to is no bug, but deliberately done. The parent of the inputs is set to a fixed width (`500px`). If you change that value to `100%`, the content (and thus input fields) is scaling nicely.

[2017-04-04 19:52] crisbeto commented on #3900
The others pretty much covered it: the next release will include Angular 4 support.

[2017-04-04 19:52] #3900 closed

[2017-04-04 20:44] M-a-c commented on #3899
Sort of related to #2934 (multi file demos don't list other files), multi component(selector) demos are broken on plunkr.

[2017-04-04 20:58] M-a-c opened #3903 "Bug (material.angular.io): Invisible "Learn Angular" on docs site"
#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
The Angular logo and Learn Angular are visible.
![hidden](https://cloud.githubusercontent.com/assets/1916685/24678257/adb5fc6e-193e-11e7-8fc7-5198c2dd485e.png)
![highlighted](https://cloud.githubusercontent.com/assets/1916685/24678258/adb6f632-193e-11e7-87e8-82c77b61fbe6.png)

#### What is the current behavior?
Both

[2017-04-04 21:19] M-a-c commented on #3002
@thanhpd Do you want to commit that code as an example? Do you mind if I base a commit explaining how this works? (my commit earlier does not address the main issue in this thread, though it is supposed to fix some docs stuff)

[2017-04-04 21:38] mihaibuba opened #3904 "Protractor cannot read Component - Input text"
#### Bug, feature request, or proposal:
Bug or Feature request

#### What is the expected behavior?
The automation of the component - input with protractor should be able to read

#### What is the current behavior?
It is not possible (that I know) to retrieve the content of a input that is using a "user agent shadow dom"
https://github.com/w3c/webcomponents/issues/354

#### What are the steps to r

[2017-04-04 22:15] DevVersion commented on #3591
Thanks @DaveBest99. Yes it's more likely a `checkbox` just with an extra option that allows people to change the `checked` state using gestures.

I understand that the label of the checkbox is kind of confusing but I think it is just to show that you can also slide it.

I'm closing this issue as I think the a11y works fine on the slide-toggle (it's actually a native checkbox).

Thanks for the issu

[2017-04-04 22:15] #3591 closed

[2017-04-04 22:51] crisbeto commented on #3883
I agree on not capping the width, but regarding the multi line text, we can also refer to the native `select` which also truncates instead of wrapping.

[2017-04-04 22:52] fxck commented on #3883
Yes, but honestly, I think that material should enhance the experience, not blindly follow design that hasn't changed in 15 years..

[2017-04-05 00:28] M-a-c commented on #2605
@jelbourn I could use some clarification if this task. All docs to already link to material.angular.io unless they are core. If there are docs that need more meat to them I'd be happy to add some material. Suggestions welcome.

[2017-04-05 00:41] thanhpd commented on #3002
@M-a-c  Please do that, it'll help a lot of people. I'm pretty busy these days so not sure how the documentation contribution works.

[2017-04-05 00:44] finalxcode commented on #3337
@dahaupt thanks

[2017-04-05 02:29] Chan4077 commented on #3903
The website source code is located [at this git repo](https://github.com/angular/material.angular.io)

[2017-04-05 02:39] improvise opened #3908 "md-dialog should block page scroll"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

When a dialog is open, the page should not scroll. Only the dialog should be scrollable.

#### What is the current behavior?

When a dialog is open, the user can still scroll the page.

#### What are the steps to reproduce?

https://plnkr.co/edit/70UnwmTG2mvLWkhOSU4a?p=preview

#### What is the use-case or motivatio

[2017-04-05 03:27] romafederico opened #3909 "Problem loading animations"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
I want to load the BrowserAnimationsModule. I've followed the instructions on the getting started guide.

#### What is the current behavior?
When wepack compiles the app it gives me an error

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Pl

[2017-04-05 04:01] ravinderpayal commented on #1092
@RedFour where did you added this code

[2017-04-05 04:12] jelbourn commented on #2605
This was done but we forgot to close the issue.

[2017-04-05 04:12] #2605 closed

[2017-04-05 04:52] M-a-c commented on #3903
Completely unrelated.

@Chan4077
in regards to your Market2 repo.
"(Why are there so many problems with code blocks??? 😓)"
Try visualStudio code, its got the ability to install linters and stuff its really great.

[2017-04-05 06:19] fxck commented on #3908
dupe of about 10 other issues.. also https://github.com/angular/material2/pull/1971

[2017-04-05 06:22] fxck commented on #3909
Your plunker reproduction seems to be working fine.

[2017-04-05 06:29] CaerusKaru commented on #3842
An even better implementation in my opinion is Teradata's Covalent Material package, located [here](https://teradata.github.io/covalent/#/components/expansion-panel). Their current beta does not support Angular 4 and has a bunch of AOT errors, but these should be resolved when Material2 beta3 comes out (they release in line with Material).

[2017-04-05 06:40] romafederico commented on #3909
I don't know why that's the. I didn't include any plunker.

[2017-04-05 06:41] fxck commented on #3909
Include it then.

[2017-04-05 06:53] mrbinr commented on #3891
Ok thanks for your help, they are still a lot of thing to learn about angular2 behaviour :)

[2017-04-05 06:53] #3891 closed

[2017-04-05 06:56] gtzinos commented on #995
Guys any progress on this feature ?

[2017-04-05 06:57] Chan4077 commented on #3903
@M-a-c It's just because I had some problems with Markdown, where I tried to put some code blocks in a list.
And yes, I use Visual Studio Code.

[2017-04-05 07:25] GigaDeveloper opened #3910 "After update project to Angular 4. Issue material Can't resolve 'hammerjs'"
After I update project to angular 4, ng serve shows me this error. how can I solve problem?

ERROR in project/node_modules/@angular2-material/core/gestures/MdGestureConfig.d.ts (4,40): Cannot find name 'HammerManager'.

ERROR in ./src/main.ts
Module not found: Error: Can't resolve 'hammerjs' in '/project/src'
 @ ./src/main.ts 1:0-18
 @ multi webpack-dev-server/client?http://localhost:4200 ./src/ma

[2017-04-05 07:33] ivanov-v opened #3911 "Incorrect positioning of the dialog (IE10)"
#### Bug, feature request, or proposal:
Incorrect positioning dialog (IE 10)
The reason in the absence of prefixes
![image](https://cloud.githubusercontent.com/assets/13759065/24694493/cf02873c-19ea-11e7-9003-84bb667566ce.png)
How do I add prefixes?

#### What is the expected behavior?
The dialog should be in the middle of the screen

#### What is the current behavior?
It is displayed in the upper

[2017-04-05 07:52] fxck commented on #3910
`@angular2-material` is an outdated, deprecated module, use `@angular/material` instead, this could also be an artefact of some of your older versions of app, try removing node_modules and clearing npm cache.

[2017-04-05 08:00] GigaDeveloper commented on #3910
@fxck I just installed packages. Everything is up to date. I think Material does not support angular version 4 :(

[2017-04-05 08:02] fxck commented on #3910
This plunker is running angular4 and material beta.2 and works fine http://plnkr.co/edit/Z2JxDlolIv5ISR8dIQ72?p=preview

[2017-04-05 08:11] rahulpsd18 commented on #675
any updates on when this will be released..

[2017-04-05 09:02] amaneer94 opened #3912 "How to Currency-Format md-input value."
I want to show currency formatted value in md-input. I know about currency pipe. But dont have any idea how to apply it on md-input (material2 angular2). Or is there any other way to do this?

[2017-04-05 09:07] fxck commented on #3912
Not really related to material2, see https://github.com/angular/angular/issues/3009

[2017-04-05 09:10] amaneer94 commented on #3912
please simply show me the way how to do this ? i just want to show formatted value in md-input

[2017-04-05 09:12] amaneer94 commented on #3912
is it not possible ?

[2017-04-05 10:40] basst314 commented on #3900
Hi @crisbeto, could you please give us more information about when the next version will be released?
It has almost been 2 weeks since angular4 was released and people wanna use it together with a proper material dependency... thanks!

[2017-04-05 10:51] crisbeto commented on #3911
The reason is that we don't officially support IE 10. [Here's what browsers are supported.](https://github.com/angular/material2#browser-and-screen-reader-support)

[2017-04-05 10:51] #3911 closed

[2017-04-05 10:54] crisbeto commented on #3900
It should be within a few days @basst314. If you don't want to wait for it, you can install the build from `master`:

[code]

[2017-04-05 10:55] ciesielskico commented on #3904
Try `expect(favFood.getAttribute('value')).toEqual("Sushi");`

[2017-04-05 11:04] crisbeto commented on #3884
`routerLinkActive` works as expected, however Material has an internal listener that will add/remove the class when the element is focused/blurred, which ends up removing it in your case. I recommend adding your own class that does the highlighting. [You can see how it is done in Material here](https://github.com/angular/material2/blob/master/src/lib/list/_list-theme.scss#L23) and [here's an examp

[2017-04-05 11:04] #3884 closed

[2017-04-05 12:55] avatsaev commented on #581
Can't wait for this to be released, very needed.

[2017-04-05 13:04] dahaupt commented on #3912
@amaneer94 Seems to be WIP, but you could ask in gitter if anyone has an idea for a workaround.

[2017-04-05 13:09] ponmani commented on #2765
@Chan4077
You have mentioned code used. But i am using .Net core app.

[2017-04-05 13:10] ponmani commented on #2765
If i anything write in type script of this piece of code

<md-input-container>
  <input mdInput placeholder="Text here">
</md-input-container>

[2017-04-05 13:34] ponmani commented on #2263
@ashishsober I am using <md-input-container tag for angular material 2 beta release. But same error repeat. How can i start .Net core app

[2017-04-05 13:38] maudel commented on #581
yes, many of us really need hope it will be released soon with some nice
examples.

2017-04-05 8:56 GMT-04:00 Vatsaev Aslan <notifications@github.com>:

[2017-04-05 13:41] SamMousa commented on #1947
I'm gonna close this since I no longer expect I'll be working on it in the foreseeable future.

[2017-04-05 13:41] #1947 closed

[2017-04-05 14:03] un33k opened #3914 "Select popup width exceed the container width"
#### Bug (possible)
The select popup has a width that is wider than its container. In particular, this causes horizontal scroll on small screens.

#### Expected behavior?
The width of a select popup should match its container.

#### What is the current behavior?
Select popup width exceed the container width

#### What are the steps to reproduce?
Plunker template: http://embed.plnkr.co/jGZw7bFxLeFK

[2017-04-05 14:08] mihaibuba commented on #3904
That might work in this particular case, because it has the tag "Value".
How can that tag be displayed, because unfortunately it doesn't for the application that we are suppose to test. The objects look like below (Copy element in Google Chrome doesn't even copy the content inside the Shadow dom
_______________________________________
<md-input-container class="mat-input-container ng-valid ng-dirt

[2017-04-05 14:14] afriedma commented on #3884
Thank you for reply, but how can you doing in the context of the theme?  I am unable to figure it out.

[2017-04-05 15:00] afriedma commented on #3884
https://plnkr.co/edit/KYKEk0UK5FAIdgjFyJIX?p=preview

here is the plunkr

[2017-04-05 16:00] Maistho opened #3916 "[Chrome]: md-menu opens in the wrong location if the triggering element is sticky positioned"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`md-menu` should be positioned in the correct position when the triggering button is inside a sticky positioned element.

#### What is the current behavior?
`md-menu` is positioned relative to how far down the page is scrolled, not as to the real position of the element.

#### What are the steps to reproduce?
http://p

[2017-04-05 17:09] crisbeto commented on #3884
[You can refer to the theming guide.](https://material.angular.io/guide/theming-your-components)

[2017-04-05 17:21] DevVersion commented on #3910
Yes. `angular2-material` is outdated. Please install using `npm install @angular/material --save`

[2017-04-05 17:21] #3910 closed

[2017-04-05 17:21] afriedma commented on #3884
My second plunkr includes the theming.  I took a crack at it and it doesn't work.  The documentations is very limited, if you can point out the issue with my plunkr, I would very much appreciate it, as I am pressed against the deadline here.  Thanks in advance.

[2017-04-05 18:20] M-a-c commented on #1947
@SamMousa I have a PR out for this, you were right about it being confusing.

[2017-04-05 20:08] M-a-c commented on #2829
@andrewseguin can you explain what would need to be done to close this issue? The problem seems rather undefined / un-reproducible, are you opening a Pr to close this issue?

[2017-04-05 20:11] M-a-c commented on #3651
@jelbourn This issue can be closed 😃

[2017-04-05 20:15] M-a-c commented on #3550
@jelbourn This issue can be closed too 😃
Also is there a way that I can create a pr such that a merge closes the issue?

[2017-04-05 20:39] M-a-c commented on #3364
@kara can you close this issue for me

[2017-04-05 22:13] afriedma commented on #3884
Also is there a way for force md-list-item to loose focus, as if nothing is selected.

Cheers, Alex
________________________________
From: Kristiyan Kostadinov <notifications@github.com>
Sent: Wednesday, April 5, 2017 1:09:27 PM
To: angular/material2
Cc: afriedma; Author
Subject: Re: [angular/material2] routerLinkActive is not working on md-list-item inside md-nav-list (#3884)

You can refer to th

[2017-04-05 22:20] M-a-c commented on #3002
@thanhpd checkout the pr, let me know if you find something out of place :)

[2017-04-05 23:38] waiholiu opened #3920 "Question about custom theming"
Just have a question - when designing your own theme, why is there a need for 4 parameters for mat-palette?

From the guide here https://github.com/angular/material2/blob/master/guides/theming.md

[code]

I don't quite understand how the mat-palette works and why it needs 4 parameters. I understand the first parameter which specifies the color. I do not understand why there is a default, lighter a

[2017-04-05 23:55] whyao commented on #3176
@kara Thanks for moving forward on this fix. When can we expect these changes to be released?

[2017-04-06 03:13] alexw10 opened #3921 "Consistent component structure throughout the project"
#### Bug, feature request, or proposal:
This is a proposal, material2 seems really to be all over the place in regards to where code is placed. If we take a look at what the style guide says https://angular.io/docs/ts/latest/guide/style-guide.html for example.

It seems like a format for the code should be something like this:
@Input() section - lexical order
@Output() section - lexical order
@[ot

[2017-04-06 03:25] kuncevic opened #3922 "When using @ViewChild element.nativeElement is undefined"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`@ViewChild` `element.nativeElement` has value

#### What is the current behavior?
`@ViewChild` `element.nativeElement` is `undefined`
[code]

#### What are the steps to reproduce?
http://plnkr.co/edit/gSEsELlTAbrqvOOduSdr?p=preview

#### What is the use-case or motivation for changing an existing behavior?
Need to ac

[2017-04-06 06:32] mariuspruski opened #3923 "md-select has no color parameter"
#### Bug, feature request, or proposal:
Feature request.

#### What is the expected behavior?
It's possible with md-input-containers to specify the dividerColor (accent, primary, warn). I would have expected md-select to have an equivalent property.

#### What is the current behavior?
I could not locate any such property. I ended up overwriting the theming of the md-select component myself just to

[2017-04-06 06:42] crisbeto commented on #3884
That second Plunkr doesn't work, because you're referring to the SASS mixins using the Webpack syntax. You'll need to figure out how to import it in your build system. Alternatively you can hard-code the color as a quick fix, since the Material theming only computes the color. As for not showing focus on the element, it isn't supported, because it degrades the accessibility of the component.

[2017-04-06 09:29] dherges opened #3924 "Support markdown in source code docs"
#### Bug, feature request, or proposal:

Feature request / Proposal

#### What is the expected behavior?

It'll be nice to have markdown formatting in the documentation pages.

#### What is the current behavior?

No markdown.

![2017-04-06 11_25_08-angular material](https://cloud.githubusercontent.com/assets/901354/24747187/d6a1dfde-1abb-11e7-80f1-3bdb027e6366.png)

#### What are the steps to repr

[2017-04-06 10:29] bhawin-bigstep opened #3925 "[Tabs] md-tab-group scrolling/pagination coming everytime"
#### Bug, feature request, or proposal:
I have a bug in my angukar/material , I am using md-tab-group to show 4 tabs which have icons as lables , Still angular material is showing paginator. also my tabs labels are coming with min-width=160px.
Can anyone please help me how to get rid of scroll and also limit the width of each tab

#### What is the expected behavior?
Tabs should not have paginator

[2017-04-06 10:52] Nikki1993 commented on #3922
As a workaround you can define Child like this

`@ViewChild('sidenavContainer') private sidenavContainer: any;` and then call

`this.sidenavContainer._element.nativeElement`

[2017-04-06 11:03] Nikki1993 commented on #3920
It doesn't need it. it's just to show that you can specify colors apart from selecting the primary color.

btw, this kind of questions is better for StackOverflow.

[2017-04-06 11:38] afriedma commented on #3884
Thank you for your replies, even though the issue is closed, I really appreciate it.

I got active route to work with the theme.  But now my issue is, when I redirect the route, I end up with two highlighted items in the nav list, last clicked item and item I routed too.  My approach was to remove focus or simulate the click, but highlight on the originally clicked item won't go away.

And the wei

[2017-04-06 12:19] Adrael opened #3926 "[MdAutocomplete] The <template> element is deprecated."
#### Bug, feature request, or proposal:
Proposal:
Replace &lsaquo;template&rsaquo; element with &lsaquo;ng-template&rsaquo;

#### Which versions of Angular, Material, OS, browsers are affected?
[code]

#### Is there anything else we should know?
In the latest release, Angular warns us about the deprecation of the <template> element.
The exact message being:

[2017-04-06 12:23] #3399 closed

[2017-04-06 12:35] willshowell commented on #3176
@whyao it's unclear when beta 3 will be released, but likely soon after ng-conf (this week). More info here #3800

[2017-04-06 12:43] Adrael commented on #3926
Ok my bad, the search did not return any working results!
Thanks, closing.

[2017-04-06 12:43] #3926 closed

[2017-04-06 13:25] ahaan729 opened #3927 "Tooltip contents font size is too small"
#### Bug, feature request, or proposal:
Facing issue while changing the font size of tooltip contents

#### What is the expected behavior?
Want to increase the Font size of the tooltip contents

#### What is the current behavior?
the size is currently fixed to 10px in the tooltip.css file

#### What is the use-case or motivation for changing an existing behavior?
Better visual while reading

####

[2017-04-06 13:44] AmitMY commented on #1866
Now that angular/material moved to use `input`, this problem is irrelevant

[2017-04-06 13:44] #1866 closed

[2017-04-06 13:45] crisbeto commented on #3916
[This appears to be a Chrome issue.](https://bugs.chromium.org/p/chromium/issues/detail?id=672457)

[2017-04-06 13:54] waiholiu commented on #3920
Thanks Nikki1993 - just to clarify - I know that the values are optional, but I want to know if these extra values are used at all. If so where? And if not, what is the purpose of specifying them in the theme if they cannot be used anywhere.

And I did create a question on Stackoverflow but I didn't get any answers there.

[2017-04-06 14:21] tmburnell commented on #3780
I have noticed the same thing about the width when in a flex layout.
![image](https://cloud.githubusercontent.com/assets/25113013/24759194/4acd1732-1aaa-11e7-9a31-0966a4ee65ed.png)
I have 3 times in a row (with space-between). So I would assume they should be the same size.

[2017-04-06 15:26] diminutivesloop opened #3929 "md-select example is broken"
The md-select example on Plunker does not display any options when the select control is clicked. Additionally the following errors are printed to the console when it loads.

[code]

[2017-04-06 15:27] rkrzewski opened #3930 "md-radio-button wrapped in a md-list-item ignores incoming changes to ngModel"
#### Bug, feature request, or proposal:

Wrapping a md-radio-button in a md-list-item somehow with ngModel data binding. Events are going out, but data changes are not going in: the radio buttons don't assume initial state from the bound variable, clicking the buttons is updating the variable, but variable updates caused by 3rd-party events are not reflected in the buttons state. When the buttons

[2017-04-06 15:41] willshowell opened #3931 "Theming mixins/variables massively duplicated in release output"
#### Bug, feature request, or proposal:
Bug? Proposal?

#### What is the current behavior?
In the output [_theming.scss](https://github.com/angular/material2-builds/blob/master/_theming.scss), there is massive duplication of the palettes and mixins.

The 756 KB file can be brought down to ~82 KB by removing the duplication.

#### What is the use-case or motivation for changing an existing behavior

[2017-04-06 16:00] dalelotts commented on #3921
I agree that the lack of consistent formatting of the code is a bit of a pain. The biggest impact is in my having a fork and wanting to merge changes from this repo. The diffs and merges are more difficult because there is no consistent way the code is changed.

It also means I can't improve my codebase without making my merges significantly more complicated.

I'd be happy to contribute back some

[2017-04-06 16:16] Chan4077 commented on #3920
@waiholiu It's got something to do with hues which are part of the [Material spec (colors)](https://material.io/guidelines/style/color.html#color-color-palette).
View this: https://github.com/angular/material2/blob/master/src/lib/core/theming/_theming.scss#L12-L36

[2017-04-06 16:58] goelinsights opened #3932 "Card titles should support attribute selectors"
#### Bug, feature request, or proposal:
H1 tags and others arent present in HTML with current implementation.  Is there a way to make sure that indexing captures data that would normally be tied to h1 tags and things like this better? Discussed with @mmalerba

#### What is the expected behavior?
Search engines can index h tags for search and SERPs

#### What is the current behavior?

#### What are

[2017-04-06 17:36] bfwg opened #3934 "New @Input in progress-spinner component for controlling the stroke-width"
#### Bug, feature request, or proposal:
feature request/proposal

#### What is the expected behavior?
Add an @Input to the progress-spinner component so that we can do something like this:
`<md-spinner strokeWidth="2"></md-spinner>`

#### What is the current behavior?
I'm not able to find a easy way to control the stroke width for progress spinner.

#### What is the use-case or motivation for chan

[2017-04-06 18:14] donroyco commented on #3929
What Plunker are you referring to, @diminutivesloop ?

[2017-04-06 18:14] willshowell opened #3935 "Theme color hue values for MdProgressSpinner, MdProgressBar are hardcoded"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
If my theme warn color is defined as:
[code]
I would expect my use of the spinner to reflect the 800 hue of amber:
[code]

#### What is the current behavior?
The 600 hue is [always used for MdProgressSpinner](https://github.com/angular/material2/blob/master/src/lib/progress-spinner/_progress-spinner-theme.scss#L10-L23

[2017-04-06 18:20] diminutivesloop commented on #3929
The one accessible from this page: https://material.angular.io/components/component/select. I've forked my own copy here: https://plnkr.co/edit/CymzRFhKh4rtSqnReGpv?p=preview.

[2017-04-06 18:22] willshowell commented on #3929
Looks like the new @angular/animations packages need to be added to the plunker template

https://github.com/angular/material.angular.io/blob/master/src/assets/plunker/systemjs.config.js

[2017-04-06 18:35] willshowell opened #3936 "MdCard and MdListItem use base color rather than text color"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Default styling of text on a "light-theme" MdCard or MdListItem should be 87% black

#### What is the current behavior?
Text defaults to 100% black.

#### What are the steps to reproduce?
http://plnkr.co/edit/zkrjdBwt5wAe85FllmDe?p=preview

#### Is there anything else we should know?
Culprit for MdCard is [here](https

[2017-04-06 19:06] bcravens opened #3937 "snackBar throws ObjectUnsubscribedError on dismiss"
#### Bug, feature request, or proposal:
bug

#### What is the current behavior?
when the snackBar is dismissed it throws an object unsubscribed error

#### What are the steps to reproduce?
I would provide a plunker but the example provided in the documentation is currently broken and also throws its own errors.

#### Which versions of Angular, Material, OS, browsers are affected?
angular 2.4.4
mat

[2017-04-06 19:25] M-a-c commented on #3937
https://plnkr.co/edit/DK5r5IGkpHVnYRg6Iacl?p=preview
I don't see the error on Angular 2.4.10v

[2017-04-06 19:28] mtpultz commented on #115
@MikeMatusz and @ethanmick do you think your last two comments should be moved to a new issue since this issue doesn't actually refer to the position and has been closed.  Wondering if it won't get noticed, but is a case that needs to be addressed.

[2017-04-06 19:29] MikeMatusz commented on #115
@mtpultz Good call, I'll create one right now.

[2017-04-06 19:29] harrymitchinson opened #3938 "Allow changing of disableClose property for dialog while dialog is open"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
If a dialog is opened with disableClose as false, being able to change disableClose to true from within the dialog's component making it so dialog cannot be closed by clicking outside of the dialog area.

#### What is the current behavior?
Updating disableClose does not do anything. If the dialog is opened

[2017-04-06 19:32] MikeMatusz commented on #3577
Continuing discussion from #115 here. On tablet/desktop the material spec does allow for some variation in position:

It would be nice to at least support the bottom/left alignment.

[2017-04-06 19:38] bcravens commented on #3937
whats the best way update to the latest version?

[2017-04-06 19:38] mtpultz opened #3939 "Material Snackbar Does Not Expand to Width of Viewport on Mobile Devices"
#### Bug, feature request, or proposal:
Bug (more like missing functionality)

#### What is the expected behavior?
On mobile devices according to material design spec the toast/snackbar should be the full width of the viewport.

#### What is the current behavior?
Toast/snackbar remains fixed width in the centered

#### What are the steps to reproduce?
This is missing functionality of the base MdSn

[2017-04-06 19:42] mtpultz opened #3940 "Material Snackbar Does Not Allow For Positioning on the Left Only Center"
#### Bug, feature request, or proposal:
Bug (more like missing functionality)

#### What is the expected behavior?
According to the material design spec toasts/snackbars should be either centered or left aligned at the bottom of the viewport.

#### What is the current behavior?
The only position available is centered.

#### What are the steps to reproduce?
This is a missing bit of functionality in

[2017-04-06 20:02] crisbeto commented on #3940
Closing as a dupe of https://github.com/angular/material2/issues/3577.

[2017-04-06 20:02] #3940 closed

[2017-04-06 20:30] M-a-c commented on #3937
https://docs.npmjs.com/cli/update
This should point you in the right direction.
I'm pretty sure you would want to make sure you have a ^ in front of all of your `@angular` dependencies then run npm update. (that might update some other packages too, so you might want to read up on the update npm update docs)

[2017-04-06 20:44] Cogitaria commented on #3900
`npm install --save https://github.com/angular/material2-builds.git`

Specified @angular/blah 4.0.0 in package.json but getting unmet peer on @angular 4.0.1.  running the above command.  Does it really "depend" on that patch?

[2017-04-06 20:49] xtianus79 opened #3942 "SnackBar to be placed specifically in the DOM structure"
#### Bug, feature request, or proposal:
I don't know if this is a bug, an existing feature or proposal

#### What is the expected behavior?
the ability to have the snackbar appear in any dom element you choose

#### What is the current behavior?
shows up on the bottom

#### What are the steps to reproduce?
activate the snackbar
Providing a Plunker (or similar) is the *best* way to get the team to

[2017-04-06 20:49] M-a-c commented on #3921
I wouldn't mind helping with this also. It is not that hard to re-order that stuff.

[2017-04-06 20:52] xtianus79 commented on #3577
What is the final verdict on this?

[2017-04-06 20:55] M-a-c commented on #3142
@mLaird have you been able to get any Jasmine tests working?
I'm guessing a "Jasmine guide" could be put under guides.

[2017-04-06 21:00] josephperrott commented on #3939
This is actually blocked by #1951, as the PR for this allows for determining the screen type by size.

[2017-04-06 21:10] vibingopal opened #3943 "Material Dialog is opened in the same window instead of Modal"
#### Bug, feature request, or proposal:
I have upgraded my material dependency from alpha to beta version and when i perform the user operation to open a dialog, it is getting showed on the same screen instead of Modal.

#### What is the expected behavior?
Request should open new modal

#### What is the current behavior?
Currently it is opening in same window instead of modal

Below is my typescri

[2017-04-06 21:16] M-a-c commented on #3681
@mbeckenbach I think the idea is you specified something and it changed what you expected, maybe they shouldn't have been rendered in the first place.

https://material.io/guidelines/components/text-fields.html#text-fields-layout the spec says that "In forms with some required fields, indicate all of the required ones. However, if there are fewer optional fields, indicate those instead"

So essent

[2017-04-06 21:31] M-a-c commented on #3943
[code]

[2017-04-06 21:53] M-a-c commented on #3931
I wonder if there is a way to just import and export the themes form there, instead of using gulp to just copy the contents over.

[2017-04-06 21:53] JordyBaylac commented on #1512
same issue as @elyas74

[2017-04-07 01:41] Chan4077 commented on #1512
@elyas74 @JordyBaylac Try installing from master:
[code]

[2017-04-07 04:03] littleninja commented on #3932
Is this asking to use h1 tags in the md-card-title component? Couldn't that be a problem with accessibility compliance and descending header hierarchy?

[2017-04-07 04:19] goelinsights commented on #3932
It's more a question of can we insert h tags anywhere.  Result may be something similar to moving to <h1 mdCardTitle> to follow the pattern that led to <input mdInput type="email"

		Get Outlook for iOS

On Thu, Apr 6, 2017 at 10:03 PM -0600, "Sarah" <notifications@github.com> wrote:

Is this asking to use h1 tags in the md-card-title component? Couldn't that be a problem with accessibility compli

[2017-04-07 04:19] ponmani commented on #2765
@Chan4077 Any update for this.

[2017-04-07 04:24] goelinsights commented on #3932
Question originated with serp impact of using md-card-title and md-card-subtitle vs h1 and h2 tags for things like search engine indexing or social sharing

[2017-04-07 06:05] kuncevic commented on #3922
yeah I saw that thing when I was debugging, also there is one more option is to use `renderer` https://angular.io/docs/js/latest/api/core/index/Renderer-class.html to manipulate with elements, but I ended up just by declaring an prop in my comp that I bind to the html prop I need to interact with.

[2017-04-07 09:08] tobi-or-not-tobi commented on #3929
I had the same, I read the [getting started instructions](https://github.com/angular/material2/blob/master/guides/getting-started.md) again, and added the BrowserAnimationsModule. This seems to be added for angular 4 compatibility (see https://github.com/angular/material2/commit/cd55082a488e58a3f4948bba8e5d0a6771a57233). Problem solved.

[2017-04-07 09:29] gayan1991 opened #3945 "md-select has few problems"
I am using angular/material 2.0.0-beta.2. However, md-select does not have a **required** field. Another issue is there is no way set a **default value** such as 'select option'.

Anything that I could use?

[2017-04-07 09:51] Chan4077 commented on #2765
@ponmani Maybe try importing just `MaterialModule`?

[2017-04-07 10:23] fxck commented on #3945
Hey, github issues are for bugs and feature requests. Gitter or stackoverflow are better suited for support requests.

[2017-04-07 10:49] Kyderman opened #3946 "md-icon-button hover has no change"
Bug

#### What is the expected behavior?
When hovering an md-icon-button, there should be a circular background around the icon

#### What is the current behavior?
There is no background change

#### Which versions of Angular, Material, OS, browsers are affected?
Im using master, on Angular 4

[2017-04-07 10:59] ocarreterom commented on #3946
Icon buttons don't have `hover` state: https://material.io/guidelines/components/buttons.html#buttons-toggle-buttons

[2017-04-07 11:03] Kyderman commented on #3946
weird, they use to and it seemed a bit more user friendly.

[2017-04-07 12:01] kviktorman opened #3947 "2 circles for md-radio-button"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
One circle for the radio button .

#### What is the current behavior?
Radio button has 2 circles. One is in the "mat-radio-container" div and the other is which is with the id "md-radio-1-input" (blue line on the screen) .

I'm not sure if its really a bug or not, maybe I just use it in a wrong way. I tried to check i

[2017-04-07 12:04] donroyco commented on #3942
This is (sort of) mentioned already in #3577

[2017-04-07 12:18] gtzinos opened #3948 "Missing files from plnkr example (Snack-bar)"
Steps to reproduce:

1) https://material.angular.io/components/component/snack-bar

2) Click on examples

3) Click on Edit in plnkr

https://plnkr.co/edit/?p=preview

Some files are missing and the example doesn't work.

[2017-04-07 12:37] montella1507 opened #3949 "Really reactive forms support?"
https://material.angular.io/components/component/checkbox

"<md-checkbox> is compatible with @angular/forms and supports both FormsModule and ReactiveFormsModule." i think, there is information abour ReactiveForms support in every document, but there is no support for reactive forms actually ?

No FormControl, no FormGroup support etc..

[2017-04-07 12:38] ValeryVS commented on #3947
You probably have some custom css on input tag with "id"="md-radio-1-input".
For example, we had `.my-block input { position: relative }`
This rule rewrites `position: absolute` from `.cdk-visually-hidden`

[2017-04-07 12:40] ValeryVS commented on #3947
Probably, class `.cdk-visually-hidden` must apply rules with `!important`.

[2017-04-07 12:45] kviktorman commented on #3947
I created a new project and did not add any custom css. So with a fresh project created by angular-cli gives me this issue.

[2017-04-07 13:02] bcravens commented on #3937
Thank you

[2017-04-07 13:17] burhankaraman commented on #1191
hi md-content element appearing and working in [sidenav demo page](https://material.angularjs.org/latest/demo/sidenav) , but it does not working with angular material 2, i got the same problem. how to achieve this?

[2017-04-07 13:30] willshowell commented on #3947
@kviktorman Could you replicate in a plunker? [This template](http://plnkr.co/edit/o077B6uEiiIgkC0S06dd?p=preview) should work.

[2017-04-07 13:33] willshowell commented on #3946
It was removed in #3208, presumably to match the spec.

[2017-04-07 13:38] Exertive commented on #3844
Thanks dahaupt. That is what I am now doing. It serves my purpose perfectly.

[2017-04-07 13:42] afriedma commented on #3884
Did you get a chance to look at my earlier reply?  Please help.

Cheers, Alex
________________________________
From: Kristiyan Kostadinov <notifications@github.com>
Sent: Thursday, April 6, 2017 2:42:59 AM
To: angular/material2
Cc: afriedma; Author
Subject: Re: [angular/material2] routerLinkActive is not working on md-list-item inside md-nav-list (#3884)

That second Plunkr doesn't work, because y

[2017-04-07 13:51] crisbeto commented on #3884
I'm not exactly sure why it's working with the explicit theme. If you really don't want that focused background, you can disable it via CSS completely:

[code]

[2017-04-07 13:51] kviktorman commented on #3947
I added the example into your app.component.html and also added a second component. In both cases it works on plnkr.

[2017-04-07 13:52] kviktorman commented on #3947
Which means I'm not able to reproduce it there.

[2017-04-07 13:54] willshowell commented on #3947
Can you publish the repo of the fresh project that's giving you the issue?

[2017-04-07 14:16] kviktorman commented on #3947
It toke me some time, but here is the repo:
https://github.com/kviktorman/not-working-radio

This commit which holds all the changes which i made and what is not working:
https://github.com/kviktorman/not-working-radio/commit/67235f0cb7b5081abce528e64326efa6340bada4

![selection_007](https://cloud.githubusercontent.com/assets/19187117/24804019/5f4368f2-1bad-11e7-820a-eca36ed361c5.png)

[2017-04-07 14:19] vibingopal commented on #3943
Hi Mac,

I tried with your option and still the dialoge is opening in the same window instead of as modal.

[2017-04-07 14:29] xtianus79 commented on #3942
@donroyco this is mentioned but i guess I am asking is there any way to adjust the setting?

[2017-04-07 14:31] willshowell commented on #3947
@kviktorman it looks like you're not using a theme. As you can see from the [README](https://github.com/angular/material2/blob/master/guides/getting-started.md#step-4-include-theming), theming is *required* for the components to work properly.

The readme/docs are still in sync with beta 2, therefore lagging behind the latest master build. They'll likely sync up in the next beta release. So instea

[2017-04-07 14:31] xtianus79 commented on #3948
I setup this plunkr which has everything working

http://plnkr.co/edit/tQfo0NgiK0XcmRoIVWhr?p=preview

[2017-04-07 14:55] kviktorman commented on #3947
@willshowell thanks a lot its working now !!!!!!!
It looks like it was my mistake.
I thought and searched a lot to find whats the solution or what i do wrong.
You guys built a great thing, thank you for it !!!!

[2017-04-07 15:07] #3949 closed

[2017-04-07 15:31] willshowell commented on #3947
Lol I'm not on the team, but I'm sure they appreciate your gratitude. Be sure to close this issue!

[2017-04-07 15:47] #3947 closed

[2017-04-07 17:10] montella1507 opened #3951 "Controls should implement more concrete ValueAccessors"
Controls like md-checkbox should implement more concrete ValueAccessors like CheckboxControlValueAccessor to support more states from ReactiveForms like disabled state.

[2017-04-07 17:12] M-a-c commented on #3943
:/ maybe it is a bug. can you create a plunkr?

[2017-04-07 19:30] kyle-burke commented on #3936
Hey @willshowell, I made a PR for this [here](https://github.com/angular/material2/pull/3952).

[2017-04-07 20:33] xtianus79 commented on #3949
@montella1507 what would you like to know.  I have done a lot of work with forms

[2017-04-07 20:38] xtianus79 opened #3954 "mdautocomplete is giving an ng-template / Custom_Elements_Schema error in the latest master branch"
#### Bug, feature request, or proposal:
Bug - with latest master branch of Material

#### What is the expected behavior?
1. If 'ng-template' is an Angular component, then verify that it is part of this module.
2. If 'ng-template' is a Web Component then add "CUSTOM_ELEMENTS_SCHEMA" to the '@NgModule.schemas' of this component to suppress this message. ("[ERROR ->]<ng-template> <div class="mat-auto

[2017-04-07 20:42] willshowell commented on #3954
@xtianus79 I don't think the latest master branch is compatible with Angular 2.4.8. `<ng-template>` is an angular 4 change

[2017-04-07 20:57] xtianus79 commented on #3954
@willshowell So, this is a problem then.... There is a bug in material's mdselect tabindex that is fixed in the documentations but it isn't building to the correct javascript file upon deployment.  So I am assumed the bug was fixed via the master branch.

I installed that and here is what I found in the new build... which seems correct:

    this._tabIndex = parseInt(tabIndex) || 0;

However, sinc

[2017-04-07 21:05] willshowell opened #3955 "Autocomplete with OnPush does not open panel properly"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
If the autocomplete's `md-options` length changes from 0 to n due to options arriving asynchronously, the panel should display even with OnPush.

#### What is the current behavior?
The panel does not show itself until the user types or refocuses the input.

#### What are the steps to reproduce?
http://plnkr.co/edit/fW

[2017-04-07 21:30] xtianus79 opened #3956 "mdSelect tabindex defautls to 0 | seems it doesn't build correctly in 2.0.0-beta.2 in order for tabindex to work in production"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
tabindex applied on md-select element should not default to 0

#### What is the current behavior?
md-select tabindex defaults to 0

#### What are the steps to reproduce?
use md-select and the tab-index is set to 0

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
http://plnkr.co/ed

[2017-04-07 22:33] andregyrnich commented on #2277
I've just installed the latest version and had the same issue. So I looked through the source folders and I've found out that you have to import another file:
`@import '../node_modules/@angular/material/_theming';`

[2017-04-07 22:51] goleary commented on #2682
no longer an issue

[2017-04-07 22:51] #2682 closed

[2017-04-07 22:52] jelbourn commented on #3550
@M-a-c if your PR says "Fixes #3550" in the description it will close the issue automatically when merged.

[2017-04-07 22:52] #3550 closed

[2017-04-07 22:52] #3651 closed

[2017-04-07 23:21] fireyoshiqc opened #3959 "Rename version 2.0.0-beta.3 to 4.0.0-beta.1"
#### Bug, feature request, or proposal:
Feature request / bug

#### What is the expected behavior?
Angular Material2 beta 3 has a lot of breaking changes. It should be denoted by a major version number, the same as Angular version 4 that it depends on.

#### What is the current behavior?
Having ^ or ~ in your package.json in front of the angular material package makes it update to beta 3 on an npm

[2017-04-08 02:05] gkohen opened #3961 "Type in Beta 3 release notes"
The release notes specific the word 'modul' rather than 'module'

[2017-04-08 02:20] xuanshenbo opened #3963 "Typo in 2.0.0-beta.3 release notes"
#### Bug, feature request, or proposal:
Two typos found in the release notes

#### What is the expected behavior?

1.

Under the Angular 4 section, the second bullet point.
users of `@angular/material`
need to explicitly import `BrowserAnimationsModule` (or `NoopAnimationsModule`) from
`@angular/package-browser/animations` as well as installing `@angular/animations`.

Should be:
users of `@angular

[2017-04-08 02:57] jelbourn commented on #3959
Beta by itself indicates that the library is still undergoing stabilization and each version may have breaking changes.

[2017-04-08 02:57] #3959 closed

[2017-04-08 03:43] fireyoshiqc commented on #3959
Agreed. It just kinda messed my day up without a warning ._.
My bad.

[2017-04-08 05:30] weichen2046 commented on #2277
There is no `./node_modules/@angular/material/core/theming/_all-theme.scss` file any more after I upgrade from `"@angular/material": "^2.0.0-beta.2` to `"@angular/material": "^2.0.0-beta.3`. You shold use `@import '~@angular/material/theming'` instead. I think the [theming guide](https://material.angular.io/guide/theming) should update too.

[2017-04-08 06:12] #3961 closed

[2017-04-08 06:19] #3963 closed

[2017-04-08 06:22] jelbourn opened #3967 "Skip tests on CI when only markdown files have changed"
We should skip most tests if a commit only affects markdown files.

[2017-04-08 06:30] crisbeto commented on #3921
It's not necessarily hard to do it, but it would become merge conflict hell without any advantages. cc @jelbourn

[2017-04-08 06:35] jelbourn commented on #3921
I'll chat with the ready if the team about being nite consistent in future code, but changing it everywhere would be churn without significant benefit as @crisbeto says. Ultimately I didn't think the order of members in a class is very important (compared to having each of the members well documented and having self-explanatory code).

[2017-04-08 06:35] #3921 closed

[2017-04-08 06:57] jawadst opened #3968 "Animating auto height throws a "Partial keyframes not supported" exception when the animated element is in a hidden tab"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When animating height from * (auto) to 0 on an element inside a tab that is not the current tab (ie hidden), the height of the element should be set to 0

#### What is the current behavior?
Throws a "Partial keyframes not supported" exception:
`ERROR DOMException: Failed to execute 'animate' on 'Element': Partial keyf

[2017-04-08 07:25] patrikx3 opened #3969 "Why is all the SCSS missing form the node_modules?"
#### Bug, feature request, or proposal:
Hello! How are you?
I am building themes, I was using my own themes, plus the prebuilt themes.
There used to have the whole SCSS, now they all missing and only CSS. I cannot use it now. I need a few overrides and is not working with CSS.
Please keep the SCSS. I have to use it with webpack anyway, why is it so slim now?

#### What is the expected behavior?
Ke

[2017-04-08 07:28] fxck commented on #3969
Look at changelog.

[2017-04-08 07:29] patrikx3 commented on #3969
For example ```~angular/material/prebuilt-themes/pink-bluegrey```, it was giving me the $primary colors, but now since it is css, i cannot use anymore.

[2017-04-08 07:29] patrikx3 commented on #3969
ok check it out.

[2017-04-08 07:30] patrikx3 commented on #3969
Ok, but how can i use the prebuilt themes with SCSS? WHy is missing the SCSS?

[2017-04-08 07:32] patrikx3 commented on #3969
Where are the SCSS? Please HELP!! :(

[2017-04-08 07:35] naturalfreak commented on #3969
Same problem, any fix ?

[2017-04-08 07:37] patrikx3 commented on #3969
please CSS is not enough for a theme, we are creating custom lots of settings, CSS is not enough today,  in 2017 we need SCSS on the front end and now I built 6 themes, 2 my own, 4 prebuilt and the 4 prebuilt is not usable, i have to delete them. :(

[2017-04-08 08:49] ciesielskico commented on #3969
Have you read the changelog? It says at the top that they moved the imports to `@import '~@angular/material/theming';`

[2017-04-08 08:58] patrikx3 commented on #3969
hi! ciao!

yes, i already use it, the theming variables.

just **trying to ask** if the **prebuilt SCSS** so it will not work anymore? Before there were 4 prebuilt, which i used, now i cannot.
now the prebuilt is CSS. instead of scss. whith css you cannot create css namesapces, so now i have to rebuild by hand.

i guess the themes will be missing for the future.

[2017-04-08 08:59] fxck commented on #3969
https://github.com/angular/material2/tree/master/src/lib/core/theming/prebuilt

[2017-04-08 09:01] patrikx3 commented on #3969
yeah i found it, i added in manually. i got it, the npm will be just the requried files, the source is removed now to remvoe size etc.

i got it, chanks so much! ciao!

[2017-04-08 09:01] #3969 closed

[2017-04-08 10:25] ciesielskico opened #3970 "md-dialog: Property config does not exist on type MdDialogRef after updating to beta.3"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`config` is available in MdDialogRef to access  the additional data passed when opening the dialog.

#### What is the current behavior?
`ERROR: Property 'config' does not exist on type 'MdDialogRef<MyComponent>'.`

#### What are the steps to reproduce?

This used to work with beta.2, after updating to beta.3 config is

[2017-04-08 12:02] looorent opened #3972 "_all-theme.scss not available on 2.0.0-beta.3"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

According to the  [Theming documentation](https://material.angular.io/guide/theming), importing the SCSS file `~@angular/material/core/theming/all-theme` should be allowed.

#### What is the current behavior?

`File to import not found or unreadable: ~@angular/material/core/theming/all-theme`

#### What are the step

[2017-04-08 12:21] Ploppy3 commented on #3972
Change your import to `@import '~@angular/material/theming';`

[2017-04-08 12:24] Ploppy3 opened #3973 "Need documentation for Custom Module"
According to the changelog of Beta 3 it is recommended to create our own Material module to reduce app size.

But I can't find any documentation on how to create my own Material module.

[2017-04-08 12:34] looorent commented on #3972
Thank you.
By the way, if this is the new 'official' way to proceed, this is going to break several libraries such as [ng2-md-datatable](https://github.com/fredguile/ng2-md-datatable).

[2017-04-08 12:38] #3972 closed

[2017-04-08 12:42] fxck commented on #3973
https://angular.io/docs/ts/latest/guide/ngmodule.html

[2017-04-08 12:49] Ploppy3 commented on #3973
I know how to create an Angular module. What I don't know is what we are supposed to import from @angular/material, do you ?

[2017-04-08 12:52] fxck commented on #3973
You are supposed to import whatever modules you are using in your app, ie. `MdButtonModule`. Either way, this is neither a bug report or feature request, support requests are better suited for gitter or stackoverflow.

[2017-04-08 12:57] Ploppy3 commented on #3973
This is what I do:
[code]

And in my app.module.ts I import `MyMaterialModule` and everything breaks.
Am I missing something obvious ?

[2017-04-08 12:58] fxck commented on #3973
Are you sure you "know how to create an angular module" or that you actually read the guide I pointed you to? This section in particular https://angular.io/docs/ts/latest/guide/ngmodule.html#!#shared-module ?

[2017-04-08 13:08] Ploppy3 commented on #3973
Why not point out my mistake? Import instead of Export...

[2017-04-08 13:18] mackelito commented on #3973
All working! All Good!
Stay safe, happy and helpful!

[2017-04-08 13:27] dalelotts commented on #3921
I disagree with @crisbeto's assertion. @crisbeto do you have any experience doing this to a code base in the past?  I've done this multiple times on projects significantly larger than this project and the merge conflict hell you are imagining simply does not happen.

How can this project be under the angular organization and have such widely different coding standards?

@jelbourn please consider a

[2017-04-08 14:34] fireyoshiqc commented on #3970
It seems to indeed have been removed, since it's nowhere to be found in MdDialogRef :
https://github.com/angular/material2/blob/a71a5af2ea03d06e8328c218269b5d91820190db/src/lib/dialog/dialog-ref.ts

[2017-04-08 14:36] crisbeto commented on #3970
The decision was very deliberate. [Please refer to this comment for the reasoning.](https://github.com/angular/material2/pull/3971#issuecomment-292721991)

[2017-04-08 14:36] #3970 closed

[2017-04-08 14:55] TobiasVdb commented on #3943
Same issue here ! I'll try to replicate in plunker.
Running on : "@angular/material": "^2.0.0-beta.2",

[2017-04-08 14:59] scandinave opened #3975 "Component Theming Failed after update to beta.3"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Have access to $theme variable in my custom _theme.scss file

#### What is the current behavior?

[code]

#### What are the steps to reproduce?

Make a mixin

[code]

Import it into the theme.scss file
[code]

#### Which versions of Angular, Material, OS, browsers are affected?
Angular 4.0.1, Material 1.0.0-beta.3

##

[2017-04-08 15:02] atul221282 commented on #2884
show stopper at the moment
![capture](https://cloud.githubusercontent.com/assets/4570393/24829987/0ebd581a-1cbc-11e7-92e5-3571b388e761.PNG)

[2017-04-08 15:04] atul221282 commented on #2124
show stopper for me at the moment
![capture](https://cloud.githubusercontent.com/assets/4570393/24830001/3e02013e-1cbc-11e7-90e5-46fd75186434.PNG)

[2017-04-08 15:41] JurrianFahner commented on #3975
The location of the themes is changed in the latest version.

For instance to import the css file in your own css file, the link changed from `@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';` to `@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';`

You can find the latest version of the guides in this repo. The changes are not reflected in the website https

[2017-04-08 15:45] mjolk commented on #3005
for me this all works as expected now.(beta 3)  Good work!

[2017-04-08 16:04] MaxDZ8 commented on #675
I've been using https://www.npmjs.com/package/angular2-material-datepicker. Very minimal and some quirks in my locale. Must absolutely have a way to enable/disable selection of dates. A simple callback might be enough.

Date range selection: it not useful for me and I don't recall many cases in which it's used.

Please don't let perfect be the enemy of good; I'm so far very satisfied with ng mater

[2017-04-08 16:09] M-Adoo commented on #3968
same problem with me.

[2017-04-08 16:17] Cogitaria opened #3976 "Unmet peer @angular/core@4.0.1"
#### Bug, feature request, or proposal:

The @angular/material -beta.3 package depends on an Angular 4 patch release: 4.0.1

#### What is the expected behavior?

That it installs on 4.0.0 since we are using that version of Angular and will not be upgrading every patch release on a continuous basis -- we will update periodically.

#### What is the current behavior?

#### What are the steps to repro

[2017-04-08 17:22] crisbeto commented on #3976
This is due to the CLI creating a project with Angular 2.4 by default. Material `beta.3` requires at least Angular 4.0.

[2017-04-08 17:22] #3976 closed

[2017-04-08 17:33] denghauser opened #3978 "md-input - inner textbox remains short (mat-input-wrapper)"
**Actual Behavior**:
 -  `I use the md-input to display a wide text-input box. But the inner part of the area remains short.
 -  E.G: The md-input-container is 900px, but the mat-input-wrapper remains at 237px. I figured out that if I set the mat-input-wrapper to width:100% all works well. But unfortunately the stylesheet is ignored during rendering.

**Angular Versions**: *
 -  `Angular 4.0.1`
 -

[2017-04-08 17:43] aravindfz opened #3980 "CDN indigo pink css not fiybd"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Css file reference should be added to the index.html

#### What is the current behavior?
404 not found

#### What are the steps to reproduce?
Refernece
`<link href="https://unpkg.com/@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet">`
Plunker template: https://plnkr.co/edit/?p=preview

#### Wha

[2017-04-08 19:21] xtianus79 commented on #1482
@CoreyGrant Hey how's it going?  Just wondering if material 2 is ever going to be completed prior to Angular 4 being released.

[2017-04-08 19:29] jelbourn opened #3981 "Add marker for "deprecated" to generated API docs"
Nothing in the current dgeni API doc generation marks the doc items as deprecated. We should mark this in the categorizer and then add a css class for classes and members in the HTML templates.

Then, as a follow-up, the class can be given a style on [material.angular.io](https://github.com/angular/material.angular.io/)

[2017-04-08 19:30] jelbourn commented on #2616
Done in #3792

[2017-04-08 19:30] #2616 closed

[2017-04-08 20:43] fireyoshiqc commented on #3980
File imports for theming have changed, as described in the changelog :
https://github.com/angular/material2/blob/master/CHANGELOG.md#package-structure

Change your href to :
`<link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">`

[2017-04-08 21:47] jelbourn opened #3983 "Show directive selector in generated API docs"
The API docs do not currently show the selector for directives. We should surface this information. This will involve collecting the information in `categorizer.js` and then adding it to the `class.template.html`.

Only the `md-` selectors should be shown (not the `mat-` selectors).

The follow-up would be styling the information on material.angular.io.

[2017-04-08 21:57] mmalerba opened #3984 "Update input to match April 2017 Material Design spec changes"
https://material.io/guidelines/components/text-fields.html

[2017-04-08 22:02] JanStureNielsen commented on #1482
@xtianus79 -- please don't comment on closed issues. Angular Material supports Angular 4 -- see https://github.com/angular/material2/releases/tag/2.0.0-beta.3 for details.

[2017-04-08 22:58] #3980 closed

[2017-04-08 23:18] jelbourn commented on #3518
Coming back to this: we should use the same code for building both `lib/` and `examples/`, where the only input needed should be the root directory.

[2017-04-08 23:18] DevVersion commented on #3518
Yeah that's what I planned to do. Let's take a look at this next week.

[2017-04-08 23:27] jelbourn commented on #3975
The `$theme` variable is something you create in your application. The pre-built theme files were never intended to be consumed as *scss* files, only as the output css files.

You can see one of the definitions of [a pre-built theme](https://github.com/angular/material2/blob/master/src/lib/core/theming/prebuilt/indigo-pink.scss) for an example of what it looks like to define your own theme (except

[2017-04-08 23:27] #3975 closed

[2017-04-09 00:40] jelbourn commented on #3956
This is the intended behavior. The `md-select` should be a tab stop by default.

[2017-04-09 00:40] #3956 closed

[2017-04-09 00:41] jelbourn commented on #3973
Updated the getting started guide with an example.

[2017-04-09 00:41] #3973 closed

[2017-04-09 00:42] jelbourn commented on #3954
The the latest changelog for more information: https://github.com/angular/material2/blob/master/CHANGELOG.md

[2017-04-09 00:42] #3954 closed

[2017-04-09 00:44] jelbourn commented on #3946
It's is indeed intentional- the spec shows no hover behavior for icon buttons.

[2017-04-09 00:44] #3946 closed

[2017-04-09 00:45] jelbourn commented on #3945
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-04-09 00:45] #3945 closed

[2017-04-09 00:47] jelbourn commented on #3951
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-04-09 00:47] #3951 closed

[2017-04-09 00:48] jelbourn commented on #3942
#3577 captures _positioning_ the snackbar on the screen, which we plan to address. As far as controlling where it is in the DOM, though, we have no plans to change that.

[2017-04-09 00:48] #3942 closed

[2017-04-09 00:49] jelbourn commented on #3943
Sounds like you're missing a theme, but there's not really enough information to be sure. Feel free to open a new issue with more information or a reproduction.

[2017-04-09 00:49] #3943 closed

[2017-04-09 00:51] jelbourn commented on #3937
Seems to be working with the latest versions of both angular and material (https://material.angular.io/components/component/snack-bar). Feel free to open a new issue if you can still reproduce.

[2017-04-09 00:51] #3937 closed

[2017-04-09 00:58] jelbourn commented on #3932
I don't see any reason why we shouldn't support , e.g., `<h1 md-card-title>`.

[2017-04-09 01:14] jelbourn commented on #3931
Looks like an issue with the scss bundling tool we're using. I filed an issue there: https://github.com/SimplrJS/scss-bundle/issues/16

[2017-04-09 01:15] mahmood-sajjadi opened #3988 "@angular/platform-server : this._elementRef.nativeElement.querySelector is not a function"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

Should work with @angular/platform-server

#### What is the current behavior?

ERROR { Error: Uncaught (in promise): TypeError: this._elementRef.nativeElement.querySelector is not a function
TypeError: this._elementRef.nativeElement.querySelector is not a function

#### What are the steps to reproduce?

The issue is

[2017-04-09 02:09] jelbourn commented on #3920
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-09 02:09] #3920 closed

[2017-04-09 02:12] jelbourn commented on #3922
This is working as expected. When using `@ViewChild` in this way, Angular will provide the directive instance.

[2017-04-09 02:12] #3922 closed

[2017-04-09 02:13] jelbourn commented on #3912
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-09 02:13] #3912 closed

[2017-04-09 02:16] jelbourn commented on #3909
@romafederico Check out https://github.com/angular/material.angular.io as an example of an app that's importing `BrowserAnimationsModules`.

[2017-04-09 02:16] #3909 closed

[2017-04-09 02:23] jelbourn commented on #3838
May have been a temporary flake, everything seems to be passing now.

[2017-04-09 02:23] #3838 closed

[2017-04-09 02:24] jelbourn commented on #3782
Everything should be updated everywhere now.

[2017-04-09 02:24] #3782 closed

[2017-04-09 02:25] jelbourn opened #3989 "Add e2e tests for md-input-container"

[2017-04-09 02:26] jelbourn commented on #3903
The footer's background color is now back.

[2017-04-09 02:26] #3903 closed

[2017-04-09 02:30] jelbourn commented on #3841
Everything appears to be fine with the latest version when using the angular-cli / webpack.

Feel free to open a new issue if you can provide a full reproduction.

[2017-04-09 02:30] #3841 closed

[2017-04-09 02:33] jelbourn commented on #3384
Seems to be working fine in the latest version.

Be sure to check out [the changelog for the latest release](https://github.com/angular/material2/blob/master/CHANGELOG.md) in regards to changes w/ animations.

[2017-04-09 02:33] #3384 closed

[2017-04-09 02:35] jelbourn commented on #3694
Seems to be working fine in the latest version.

Be sure to check out [the changelog for the latest release](https://github.com/angular/material2/blob/master/CHANGELOG.md) in regards to changes w/ animations.

[2017-04-09 02:36] jelbourn commented on #3846
Seems to be working fine in the latest version.

Be sure to check out [the changelog for the latest release](https://github.com/angular/material2/blob/master/CHANGELOG.md) in regards to changes w/ animations.

[2017-04-09 02:36] #3846 closed

[2017-04-09 02:37] jelbourn commented on #3895
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-09 02:37] #3895 closed

[2017-04-09 02:38] jelbourn commented on #3834
I think this should be all working now.

[2017-04-09 02:38] #3834 closed

[2017-04-09 02:41] jelbourn commented on #3834
Actually it may still be broken by https://github.com/angular/angular/issues/15403. In which case, you can follow that issue for updates.

[2017-04-09 02:43] jelbourn commented on #3827
Something like this would be neat, but it's not something that we have the capacity to start up / maintain.

[2017-04-09 02:43] #3827 closed

[2017-04-09 02:53] jelbourn commented on #3828
I'm not really sure what `md-icon` specifically can do about this for now. The purpose of the component is to inline SVG icons into the DOM from a URL, which ultimately means the string has to be parsed by the browser (however long that takes). Forgoing `md-icon` and instead using an `<img>` element or `background-image` style may speed things up for you while giving up the ability to style the sv

[2017-04-09 02:53] #3828 closed

[2017-04-09 02:54] jelbourn commented on #3797
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-04-09 02:54] #3797 closed

[2017-04-09 02:55] jelbourn commented on #3768
Dupe of #3351

[2017-04-09 02:55] #3768 closed

[2017-04-09 02:56] jelbourn commented on #3830
The latest release will log a warning if a theme is missing, so hopefully that will make issues like this easier to diagnose.

[2017-04-09 02:56] #3830 closed

[2017-04-09 02:58] jelbourn commented on #3718
The data table branch you're pointing to is just an experiment / prototype. When it's available for real it will be in the main package.

[2017-04-09 02:58] #3718 closed

[2017-04-09 03:00] jelbourn commented on #3759
The AngularJS concepts of ng-true-value / ng-false-value don't really have an analog in Angular v2+

[2017-04-09 03:00] #3759 closed

[2017-04-09 03:01] #3767 closed

[2017-04-09 03:03] jelbourn commented on #3754
Closing this as "suspected to be fixed". Feel free to re-open if it's still an issue.

[2017-04-09 03:03] #3754 closed

[2017-04-09 03:05] jelbourn commented on #3753
Everything seems to working in the latest version.

If you're still running into a problem, feel free to open a new issue with a full reproduction.

[2017-04-09 03:05] #3753 closed

[2017-04-09 03:06] jelbourn commented on #3532
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-09 03:06] #3532 closed

[2017-04-09 03:07] jelbourn commented on #3780
Dupe of #2124

[2017-04-09 03:07] #3780 closed

[2017-04-09 03:10] jelbourn commented on #3720
This is something we wanted to do, but it likely won't see any attention for quite a while as we focus on polishing / expanding the components.