[2017-04-23 18:42] fxck commented on #4212
There is absolutely nothing to be fixed here. If you use node-sass directly, set up your includePaths, tilde is not enough, node-sass doesn't understand it.

http://stackoverflow.com/questions/37106230/node-sass-does-not-understand-tilde

[2017-04-23 21:35] #4224 closed

[2017-04-23 21:40] userexperiences opened #4226 "Docs to globally disable ripple"
Ripple readme is outdated

[2017-04-23 21:42] userexperiences opened #4227 "Disable Animation Option"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
An option such as disableRipple (for individual components) and a global option to do so

#### What is the current behavior?
Adding NoopAnimationsModule doesn't disable checkbox animation but does disable dialog and menu animation

[2017-04-23 22:11] TimoKunze opened #4228 "Customize pre-built style"
I'm using one of the pre-built styles, but want to customize some parts of it. I've found that some parts, e.g. the display CSS property, are difficult to customize without making use of !important or using inline CSS. I'm neither a big fan of !important nor of inline CSS. If I have to use one of them, I've the impression that I'm doing something wrong.
So is there some easier way to customize one

[2017-04-24 00:18] patrikx3 opened #4229 "probably easy for you"
hi!
how are you doing??? :)

just a small question:

cant find it in stack overflow, but in the paletta, i can see contrast.
how can i choose a contrast color??

works:
[code]
not working
[code]

see on the bottom it says contrast.

[code]

[2017-04-24 02:04] alan345 commented on #4036
Hi.
Same question.
FYI, I have opened a stack overflow

http://stackoverflow.com/questions/43575515/md-autocomplete-angular2-getting-data-from-server-with-a-service
Thanks

[2017-04-24 02:12] alan345 commented on #3453
Hi. I have same question.
I have opened a stack overflow
http://stackoverflow.com/questions/43575515/md-autocomplete-angular2-getting-data-from-server-with-a-service
@hengkyz have you found the answer for the issue ?
Thanks

[2017-04-24 04:19] Gallopaway commented on #3196
had the same problem, I didnt even have a doctype on my index page!! problem solved when i added it

[2017-04-24 05:26] alvachien commented on #3175
Looking forward to the release of the Tree!!

[2017-04-24 06:39] donroyco commented on #4229
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-24 06:45] patrikx3 commented on #4229
thanks so much!

[2017-04-24 06:48] vegaskev commented on #1491
In case @lozthiensu instructions aren't 100% for people new to ng2+ and Material 2....

Keep in mind, if you are following the material demo code (as is @lozthiensu ) then your dialogs (JazzDialog, etc.) are individual child components, which means that you'll need to also add them to your @ngModule.declarations along with the parent component that your child components are residing in.  After tha

[2017-04-24 07:16] fxck commented on #4228
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are Stack Overflow, gitter, mailing list, etc.

There's also the theming guide https://github.com/angular/material2/blob/master/guides/theming.md prebuilt themes are a "custom" theme like any other https://github.com/angular/material2/blob/master/src/lib/core/theming/prebuilt/deeppurple-amb

[2017-04-24 07:17] fxck commented on #4223
Create a plunker reproduction instead please. I'm using facebook sdk in my own project and it works just fine.

[2017-04-24 08:45] maxime1992 commented on #4227
We have the same problem on our app.

Animations are great, but in some cases we'd like to disable them.

For example, when a user wants to change workspace, we have a dialog. When he selects one, the dialog is closed.

BUT, if the user has that dialog opened and he's disconnected, we redirect to login page and it feels weird to be on login page and still see the modal closing with the animations

[2017-04-24 08:48] victornoel commented on #2719
@Tqader if you want to disable animations for the whole application, have you tried using `NoopAnimationsModule` instead of `BrowserAnimationsModule`?
Not sure it will solve the problem since according to #4227, not everything is disabled with it…

[2017-04-24 09:09] donroyco opened #4231 "Docs: horizontal scrollbar on components pages with table"
**I'm submitting a ...**
[code]

**Current behavior**
On pages like [the component for slider](https://material.angular.io/components/component/slider) where a table is displayed, a horizontal scrollbar is visible below the table.

![chrome-issue-hor-scrollbar](https://cloud.githubusercontent.com/assets/1763537/25308395/8630e4aa-27b3-11e7-9f6e-3abf3e8fbdc5.png)

**Expected behavior**
The page shou

[2017-04-24 10:31] DevVersion commented on #4229
[code]

[2017-04-24 10:31] #4229 closed

[2017-04-24 10:37] DevVersion commented on #4219
This is kind of related to https://github.com/angular/material2/issues/2667. The `input` directive keeps setting the `disabled` state to `false`.

[2017-04-24 11:06] Toub commented on #2275
Is there any workaround with 2.0.0-beta.3 ?

[2017-04-24 11:07] fxck commented on #2275
@Toub still waiting for https://github.com/angular/material2/pull/3341

[2017-04-24 13:02] coder925 opened #4232 "Allow to customize when md-error is shown"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
I would like to be able to customize when the *md-error* directive is visible.
E.g. when `ctrl.dirty && ctrl.invalid`.

#### What is the current behavior?
As per #3560 my understanding is that the *md-error* is only shown when the control is: `(isInvalid && (isTouched || isSubmitted))`

#### What are the s

[2017-04-24 13:19] patrikx3 commented on #4229
how are you doin'? thanks so helping out, have a nice day! ciao ciao ciao!

[2017-04-24 13:21] gimox commented on #3133
+1 same problem

md-selected-nav-item select the item but md-ink-bar has not size

[2017-04-24 13:26] jefersonestevo opened #4233 "feat(card): Input to customize the elevation"
#### Bug, feature request, or proposal:
feature

#### What is the expected behavior?
Input on md-card to set the elevation of the card

#### What is the current behavior?
Now we can change the card elevation with the css classes `mat-elevation-z[0..24]`, but it would be nice if the final user doen't necessarily have to remember the class name as the component can change itself

#### What is the us

[2017-04-24 13:30] ssljivic commented on #4223
Here is the plunker link: http://plnkr.co/edit/9vNG7A6DGZ7njVMLFCNw?p=preview

1. Click Profile button
1. See that floating labels work correctly when you start typing in the input boxes.
1. Click Home button
1. Click Facebook Login button
1. Login and grant access to the test app
1. See that on profile page floating labels are not working correctly anymore when you type into the text box (labels

[2017-04-24 14:13] mathewblackberry opened #4234 "md-select popup checkboxes do not reflect external changes to model."
#### Bug, feature request, or proposal:

Bug.  When the ngModel backing a md-select with [multiple]=true set is updated outside of the md-select, the md-select does not reflect the changes.

#### What is the expected behavior?
If an item is added or removed from the model it should be reflected in the md-select popup.

#### What is the current behavior?
Changes are not shown and the checked boxes

[2017-04-24 14:27] itismelito opened #4235 "Disabling ripple globally does not work on tabs."
I am disabling ripple globally since this is available in beta3 release but it seems it does not disable ripple effect on tabs. I am using MD_RIPPLE_GLOBAL_OPTIONS in the main app module as a provider like the example below:

`providers: [{ provide: MD_RIPPLE_GLOBAL_OPTIONS, useValue: { disabled: true } }]`

All other components that use ripple are disabled at this point except tabs. Is this a bug

[2017-04-24 15:44] jefersonestevo commented on #3681
@mmalerba I've created the PR #4237 to add the attribute `hideRequiredMarker` to the `md-input-container`. Please give it a look when you have some time.

Thanks

[2017-04-24 16:34] jelbourn commented on #4228
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-24 16:34] #4228 closed

[2017-04-24 16:36] jelbourn commented on #4205
As @Chan4077 said, you can use a custom snackbar for anything more than simple text.

[2017-04-24 16:36] #4205 closed

[2017-04-24 16:58] dahaupt commented on #4135
This is also interesting for `md-card-actions` inside a `md-tab`, when those actions are based on the currently active tab. I'm not sure but I think I had that problem a few times in my app.
I can provide I plunkr if it's not clear what I mean :)

[2017-04-24 17:37] srix55 opened #4241 "md-menu doesn't scale up with CSS media queries' 2k (& higher) resolution font-size increase"
#### Bug, feature request, or proposal:
Bug. When scaling up the font size with css media queries for higher resolutions (4k & above), md-menu's dimensions get messed up.

#### What is the expected behavior?
md-menu's button, panel & panel contents should accommodate the higher font sizes.

#### What is the current behavior?
md-menu's panel becomes too tiny cutting its contents.

#### What are the

[2017-04-24 17:44] George35mk opened #4242 "hello i want to help angular material 2 and i nead your advice"
#### Bug, feature request, or proposal:
Just guide me - help me 2 help you

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

#### What is the use-case or motivation for changing an existing behavior?

#### Whic

[2017-04-24 18:56] vyakymenko commented on #3175
Ok, I think I will work on this on this weekend.

[2017-04-24 18:58] jefersonestevo commented on #4198
Is this related to #3496?

[2017-04-24 19:14] ajaysattikar commented on #107
Any updates on `<md-action-list>`?

[2017-04-24 19:14] ArtisanDuCode opened #4245 "md-card does not follow the guidelines."
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
![](https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bzhp5Z4wHba3RXpZUWE2bV9PdDQ/components_cards33.png)

I have made a table that summarizes the guidelines at [](https://material.io/guidelines/components/cards.html)

**type** | default
--------- | -------
**card** | border: 2px, margin: 8d

[2017-04-24 19:41] tinayuangao commented on #3175
The tree component's design and implementation are in-progress.

[2017-04-24 19:42] vyakymenko commented on #3175
@tinayuangao , thanks for info, will wait for updates.

[2017-04-24 19:55] ffredsh opened #4247 "md-select label and placeholder remains visible even if container is set to hidden"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When setting <md-select>'s visibility to hidden, the label and placeholder should be hidden.

#### What is the current behavior?
Placeholder and label remains visible even if md-select is set to hidden.

#### What are the steps to reproduce?

https://plnkr.co/edit/TSvAYJ0grLr9gfR8rKxV?p=preview

1). Press "Toggle Sele

[2017-04-24 20:31] mtpultz opened #4248 "Feature: Swipe Gestures on Sidenav"
#### Bug, feature request, or proposal:
Feature

#### What is the expected behavior?
On mobile devices be able to swipe to open the sidenav.

#### What is the current behavior?
Doesn't open on swipe requiring an icon to be provided.

#### What is the use-case or motivation for changing an existing behavior?
The ability for an application to be mobile-friendly is common.

[2017-04-24 20:32] M4R1KU opened #4249 "MdSlider doesn't work with dark themes"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
If I use multiple themes I expect it that the accent color should change if I change the theme like other components do, for instance the md-raised-button.

#### What is the current behavior?
The accent color does not change even if the special color is specified.

AFAIK this issue only exists since the beta.3 release

[2017-04-24 20:57] jefersonestevo commented on #3496
@crisbeto @jelbourn I was looking to implement this, and I think the implementation here should consider the following paths:
- If the user press Shift+Home or Shift+End, it will select the whole text, as a normal input field does
- If there are only one or none option available, the Home and End key should behave like the input text field (changing the cursor to the beggining and end of the input

[2017-04-24 21:44] jonbrock commented on #3496
I've also been looking at this. There is some special handling done in autocomplete-trigger.ts already, so I added a check to see if the panel is actually open and if the shift key is being pressed. In my testing this works pretty intuitively. However, I'm not sure what the desired behavior is if home or end is pressed while the panel is closed.

[code]

[2017-04-24 23:09] jelbourn opened #4252 "Support snackbar pushing fab out of the way"
Eventually we should support snackbars pushing FABs out of the way if the notification attempts to show in the same position as the button.

[2017-04-24 23:57] wulfsberg commented on #3496
Please don't hijack the HOME and END with any special rules in special cases; simply let then work as they do in normal text editing.
If you are dead set on making special rules in some cases, please allow for a configurable opt-out.

I am very used to going back and editing input fields in complex searches, and having that sometime be "randomly" blocked would be very surprising and frustrating.

[2017-04-25 00:46] CDDelta opened #4253 "Support opening floating snackbars"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Give MdSnackBar the ability to open floating snackbars like shown here from [material.io](https://material.io/guidelines/components/snackbars-toasts.html#snackbars-toasts-specs).
![alt text](https://storage.googleapis.com/material-design/publish/material_v_11/assets/0Bzhp5Z4wHba3RXRkX21NSHA0SEk/components_

[2017-04-25 02:07] jefersonestevo commented on #3496
@jonbrock your solution is really good and simple.

The only point that I can see that maybe be a problem is that the `ListKeyManager` also handles the `TAB` key. If the user press the `Shift+TAB` key (while the panel is open), the autocomplete-trigger will not fire the `panelClosingActions` event and someone that listen to this event will not be notified that the panel has been closed.

Of course

[2017-04-25 03:28] mathewblackberry opened #4255 "md-tab inkbar not showing on nested tabs"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-ink-bar should display correctly on nested tabs.

#### What is the current behavior?
md-ink-bar does not display on a nested tab-group if the tab-group is not in the tab body of the initial selected tab.  Once the nested tab header has been clicked it works as expected and the ink-bar appears and remains when chang

[2017-04-25 03:33] shlomiassaf commented on #581
Real progress!! thanks!
https://github.com/andrewseguin/material2/tree/data-table-prototype/src/lib

@jelbourn @andrewseguin Virtual scrolling still show blank rows for about 500 ms before rendering.

ngx-datatable is quite fast in that aspect.

That's normal for a pre-alpha thing I guess :) Thanks it looks great and seems to be solid already!

[2017-04-25 03:36] leshin commented on #3175
Too slowly!

[2017-04-25 03:39] josephperrott commented on #4253
This is being worked on and tracked in #3577

[2017-04-25 03:39] #4253 closed

[2017-04-25 03:58] jraadt commented on #4034
@jelbourn Excuse me for being new at this, but when you include a material component like md-nav-list to a custom component I'm creating the encapsulation of my custom component adds the encapsulation attribute to all the material elements, except mat-list-item-content for some reason.  This makes it difficult to style because whatever styles are added to the custom components styles block are enc

[2017-04-25 05:52] AllKinds commented on #675
I bet you just didn't PICK a DATE to release this ;)

[2017-04-25 05:56] donroyco commented on #4242
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are Stack Overflow, Gitter, mailing list, etc.

[2017-04-25 07:51] HeavenlyHost opened #4256 "material umd js Cannot read property 'prototype' of undefined when using Systemjs"
#### Bug, feature request, or proposal:
When attempting to import MaterialModule from material using material.umd.js I get the following error

**"Cannot read property 'prototype' of undefined"**

#### What is the expected behavior?
Load all material modules properly

#### What is the current behavior?
As above

#### Which versions of Angular, Material, OS, browsers are affected?
Angular 4.0.3
Mat

[2017-04-25 08:53] przemekpadrak commented on #3133
+1 same problem

[2017-04-25 08:59] amineparis opened #4257 "conflict with bootstrap"
Bug display when using material 2 radio because of conflicts with bootstrap, isn't theire a way to make material2 play well with bootstrap so that we can take benifit from the power of both

[2017-04-25 09:29] przemekpadrak commented on #3133
<tabset >
    <tab>
      <span *tabHeading >first</span>
		<md-tab-group>
			<md-tab label="">
			</md-tab>
		</md-tab-group>
    </tab>
    <tab>
      <span *tabHeading>second</span>
		<md-tab-group>
			<md-tab label="">
			</md-tab>
		</md-tab-group>
    </tab>
</tabset>

When you use bootstrap tabs and inside every tab place md-tab-group, a mat-ink-bar show only in first tab :/

[2017-04-25 09:31] przemekpadrak commented on #3133
`<tabset >
    <tab>
      <span *tabHeading >Account Details</span>
		<md-tab-group>
			<md-tab>
			</md-tab>
		</md-tab-group>
    </tab>
    <tab>
      <span *tabHeading>Clients</span>
		<md-tab-group>
			<md-tab>
			</md-tab>
		</md-tab-group>
    </tab>
</tabset>`

when you use bootsrap tabs and inside every tab place md-tab-group, a mat-ink-bar show only in first tab :/

[2017-04-25 09:35] przemekpadrak commented on #3133
[example.txt](https://github.com/angular/material2/files/954571/example.txt)

when you use bootsrap tabs and inside every tab place md-tab-group, a mat-ink-bar show only in first tab :/

[2017-04-25 09:39] przemekpadrak commented on #3133
[code]
when you use bootsrap tabs and inside every tab place md-tab-group, a mat-ink-bar show only in first tab :/

[2017-04-25 10:18] EndarValuk opened #4258 "[MdAutocomplete] cant select items in IE11"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Items in autocomplete shouldbe "mouse-selectable"

#### What is the current behavior?
When u try to select item with a mouse, panel just closes, and nothing happens.
But u can select items with keyboard interaction.

#### What are the steps to reproduce?
Open material official demo site with IE11
[https://material.ang

[2017-04-25 11:59] DevVersion commented on #4256
Actually we are using the UMD bundle inside of our Plunker template as well. Not sure what your setup is, but the bundle should work.

- http://plnkr.co/edit/o077B6uEiiIgkC0S06dd?p=info

[2017-04-25 12:22] teterovic opened #4259 "Unit testing dialogs not intuitive"
While writing unit tests for a function that handles a angular material 2 dialog using the example code from material 2 i run into problems.
I'm a Jasmine newbie but I didn't had problems to write unit test before.
**I have to test the result of the afterClose function but i can't get the handle on dialogRef.**

For sure there is a workaround but since this was the first function that was really h

[2017-04-25 12:32] teterovic commented on #4259
dialogRef.afterClosed().subscribe(this.functionName);

functionName(result: any) {
                if (result) {
                    let fileId = this.document.fileId;
                    this.docProvider.extractPage(this.document.fileId, result.fromPage, result.toPage).subscribe(() => {
                       () => { //totest },
                       (error) => { //totest }
                    }

[2017-04-25 12:35] BirdInTheCity opened #4260 "Tabs do not animate between states on Safari (iOS, OSX)"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
A transition animation consistent with Chrome—tab content animates left/right when selectedIndex changes.

#### What is the current behavior?
Content pops in/out, without an animation

#### What are the steps to reproduce?

1. In Safari on Mac or iOS, open the plunker on the component demo site
2. Click "Tab 2".
3. Ob

[2017-04-25 12:44] karolmie1 opened #4261 "Proposal: Not remove MaterialModule in next release"
#### Bug, feature request, or proposal: Proposal

Just today I've replaced all MaterialModules with more specific module in my whole application, for example:

[code]

#### What is the expected behavior?
For a medium sized application I expected some decrease in application size as I don't use all modules.
Before: https://ibb.co/eaw0wQ
After: https://ibb.co/fcR0wQ

#### What is the current behavio

[2017-04-25 13:05] jefersonestevo commented on #4255
+1 for this.

In my application I'm not using nested tabs, but using tabs inside a component that "changes" the page using `<ng-template [ngTemplateOutlet]="myCurrentTemplate"></ng-template>` and the same behaviour happens. If you want I may create a plunker with this too, but I think the error is the same.

[2017-04-25 13:10] DevVersion commented on #4261
This should be fixed with https://github.com/angular/material2/commit/76faae5f378f2949bbe215df38369190773eba60.

Can you try installing `npm i angular/material2-builds`?

[2017-04-25 13:11] crisbeto commented on #4258
This should've been fixed by https://github.com/angular/material2/pull/3188. Can you try installing the latest build from master?

[code]

[2017-04-25 13:15] HeavenlyHost commented on #4256
@DevVersion your plunker use Angular 2, look at my versions
Angular 4.0.3
Material 2.0.0-beta.3
Systemjs 0.20.12
Rxjs 5.3.0

[2017-04-25 13:17] DevVersion commented on #4256
@HeavenlyHost It's using Angular 4.0.3 and Material from `master`.

![](https://i.gyazo.com/2664acbe8023414500ccc9d9354749a6.png)

And yeah, I will try to remove the `Angular 2` in our Plunker template. Seems to be confusing. Thx

[2017-04-25 13:49] karolmie1 commented on #4261
I did, but unfortunately the results did not vary. Probably webpack fault. There is a huge discussion about this pure annotation thing.
I see the point of this depreciation now thought. I would leave this issue for a while, for someone else to maybe share their results. But that is up to you - just close if you feel like this.

[2017-04-25 13:59] HeavenlyHost commented on #4256
<body class="mat-app-background">
    <material-app>Loading the Angular Material App...</material-app>
  </body>

[2017-04-25 14:04] DevVersion commented on #4256
That's weird. It works for me. Cleared my cache to be sure. Anything in the logs?

[2017-04-25 14:18] HeavenlyHost commented on #4256
So the version of Systemjs is different, could this be a problem ?
Have you tried it with 0.20.12 ?

[2017-04-25 14:42] HeavenlyHost commented on #4256
@DevVersion I do find this hard to believe as when I change my package json to line up with the libs that you are using I get the following from npm install

So in a nutshell, to use angular 4.0.3 you need at least zone.js 0.8.4 or above not 0.7.2, sorry chap !

[2017-04-25 14:48] HeavenlyHost commented on #4256
anybody else want to chip in, I do need an urgent fix for this !!!

[2017-04-25 14:54] meritor commented on #4219
Thanks @DevVersion for the information.
Got a workaround after reading #2667.
Use myFormControl.enable() myFormControl..disable() function
Here is the example
https://plnkr.co/edit/T4Lywt7dj9RROcMn1ZQL?p=preview

[2017-04-25 15:24] crisbeto commented on #4260
The tabs animations are based on the Angular animations, which in turn use Web Animations API. [Safari doesn't support](http://caniuse.com/#feat=web-animation) the API, which means that you [have to include a polyfill](https://www.npmjs.com/package/web-animations-js).

[2017-04-25 15:24] #4260 closed

[2017-04-25 15:59] jelbourn commented on #4261
There's another issue tracked in #4137 about webpack not being able to do this. We're working on something now to fix this; MaterialModule is still going to go away, but only once the benefit applies without a lot of extra work.

[2017-04-25 15:59] #4261 closed

[2017-04-25 16:20] saylorRevIQ opened #4262 "MdDialog Component throwing ObjectUnsubscribedError"
Bug

Expected Behavior: When exiting a dialog, no error should be thrown.

Current Behavior: The dialog throws an ObjectUnsubscribedError which comes from this chunk of code.
[code]

When I change the code to this, the error is no longer thrown.
[code]
#### What are the steps to reproduce?

I'm unable to reproduce this in a plunker but thought if I posted the changes I made to fix it that someone

[2017-04-25 16:20] jelbourn commented on #4257
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-04-25 16:20] #4257 closed

[2017-04-25 16:22] jelbourn commented on #4259
[See our own dialog unit tests for examples](https://github.com/angular/material2/blob/d1128febe6d23f1a1f20446692bc2a8358e8b8cf/src/lib/dialog/dialog.spec.ts#L116-L116).

[2017-04-25 16:22] #4259 closed

[2017-04-25 16:26] zmanring-zz opened #4263 "Support relative paths for MatIcon based on baseUrl"
#### Bug, feature request, or proposal:
The icons URL's seem to all be absolute based on /assets which works fine when you're in the root but when you need the icons to be relative it doesn't work.

#### What is the expected behavior?
The icons to be served up relative to the baseUrl

#### What is the current behavior?
Not relative, all absolute.

#### What are the steps to reproduce?
Deploy code

[2017-04-25 16:32] fxck commented on #4263
I'm not sure I understand what are you talking about. What icon, what url? Lib itself, demo app, web?

[2017-04-25 16:32] fxck commented on #4262
Yes, happens to me as well from time to time.

[2017-04-25 17:23] zmanring commented on #4263
so right now to bring in a icon/svg, I use

`mdIconRegistry.addSvgIcon('logo', sanitizer.bypassSecurityTrustResourceUrl('../../../assets/images/logo.svg'))`

But when I do that, the requested `logo.svg` after you deploy is looking for that file in `/assets/images/logo.svg`

This is fine and good when you have a app that sits in the root level of your domain. In my case it all sits behind a folder

[2017-04-25 17:48] #2806 closed

[2017-04-25 18:02] alex321 opened #4265 "Material design grid"
Proposal/Query:

I am interested whether there is/would be a module that supports the material design grid - https://material.io/guidelines/layout/responsive-ui.html#responsive-ui-grid

I am aware of **flex-layout**, however it doesn't provide quite the same behaviour as the grid does.

Example: A row of MD grid with 3 elements with "col-4" (occupying 4 columns). On large screens we'll have 1 row

[2017-04-25 18:13] alex321 commented on #4265
It seems that https://github.com/material-components/material-components-web/tree/master/packages/mdc-layout-grid is what I must be looking for.

Excuse me for the noise.

[2017-04-25 18:13] #4265 closed

[2017-04-25 18:35] johnchristopherjones opened #4266 "feat(input): Style and animate textarea according to Material Design"
#### Bug, feature request, or proposal:
Text areas are not styled according to current [Material Design](https://material.io/guidelines/components/text-fields.html#text-fields-field-types) guidelines.

#### What is the expected behavior?
Text areas should be outlined in a rounded box with hover and ripple animations.

#### What is the current behavior?
Text areas are basically unstyled.

#### What

[2017-04-25 18:37] jelbourn commented on #4266
Dupe of #3984

[2017-04-25 18:37] #4266 closed

[2017-04-25 18:38] jelbourn commented on #4256
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via Plunker.

[2017-04-25 18:38] #4256 closed

[2017-04-25 18:45] #2591 closed

[2017-04-25 18:48] pumanitro opened #4268 "Change"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of Angular, Material, OS

[2017-04-25 18:48] #4268 closed

[2017-04-25 19:04] pumanitro opened #4269 "I cant change angular material component child elements style in component css file."
Bug:
I can't change style of child elements of angular material components in my component css because angular add attribute for every style in component like _ngcontent-c0 but angular material put this mark only  for parent element.

What is the expected behavior?
Adding attribute (e.g. _ngcontent-c0) of angular material component into component's child elements.

What is the current behavior?
No

[2017-04-25 19:10] abqadeer commented on #348
How to divider color for md-select? I have got validations to work on inputs on submit but for select it works only if you have touched it once atleast and then click submit.

[2017-04-25 19:45] patrikx3 opened #4270 "menu is not working with overflow"
# HI! HOW ARE YOU ?

#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
![image](https://cloud.githubusercontent.com/assets/4770180/25404421/2cd0d772-2a00-11e7-99f9-fea30613c8bd.png)

#### What is the current behavior?

Cannot see Web  Material menu anymore.

![image](https://cloud.githubusercontent.com/assets/4770180/25404430/39500e82-2a00-11e7-8b4c-e0615096206a.png)

[2017-04-25 20:05] ciesielskico opened #4271 "md-tab-group: Failed to execute 'animate' on 'Element': Partial keyframes are not supported."
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
No errors

#### What is the current behavior?

#### What are the steps to reproduce?

1. Create an md-tab-group inside another md-tab-group and set property selectedIndex to a local variable `[(selectedIndex)]="innerTabIndex"`.
2. Open the page, select the last tab on the inner tab group, generally jump between tabs
3

[2017-04-25 20:09] ciesielskico commented on #4255
+1

[2017-04-25 20:25] patrikx3 opened #4272 "md-icon-button ripple position"
## Hi! How are you!

#### Bug, feature request, or proposal:
bug, ripple position in ```md-icon-button``` in sidenav

#### What is the expected behavior?
the ripple is exact

#### What is the current behavior?
wrong position

#### What are the steps to reproduce?
![image](https://cloud.githubusercontent.com/assets/4770180/25406123/f5a125ee-2a05-11e7-8142-f68d873b52a9.png)

This is in a sidenav.

[

[2017-04-25 20:39] jelbourn opened #4274 "Refactor screenshot tool to be standalone"
We're calling the whole of the screenshot tooling "pixacto". It consists of code to:
* Take screenshot from jasmine-based e2e tests
* Store those screenshots in Firebase
* Compare test results to "golds" and set PR status to pass/fail based on differences
* Provide a control panel UI where anyone can view the image diffs and project owners can approve the changes.

[Technical overview doc](https:/

[2017-04-25 21:18] mackelito opened #4275 "md-ripple effect should stay within clicked element"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Ripple effect should be on clicked element only

#### What is the current behavior?
Effect leaks out over other elements

#### What are the steps to reproduce?
http://plnkr.co/edit/AG6Use4SUK0J0It31HNm?p=preview

[2017-04-25 21:29] dbandstra commented on #3890
I have a related(?) problem when I have two dialogs open (bad UX maybe but it's not my design), and I try to close one as soon as the other is closed.
[code]
When this runs, the page will get stuck in a weird state where the first .cdk-global-overlay-wrapper element is still in the DOM. The dialog is invisible, but the underlying page ignores pointer events and doesn't scroll.

The onMicrotaskEmpt

[2017-04-25 21:39] crisbeto commented on #3890
Sounds weird @dbandstra, I'll take a look. Also, if you want to close all your open dialogs, you can use MdDialog.closeAll.

[2017-04-25 23:33] #3681 closed

[2017-04-25 23:41] #3989 closed

[2017-04-25 23:42] #4235 closed

[2017-04-25 23:43] #2601 closed

[2017-04-26 01:35] yubeen opened #4276 "has no exported member 'Renderer2'."
#### Bug, feature request, or proposal:

node_module/flex-layout has no exported member 'Renderer2'.

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?
npm start

#### What is the use-case or motivation for changing an existing behavior?
Renderer2 is in angular4.
but, I was no versions upgrade.
24day, suddenly made error

#### Which vers

[2017-04-26 01:35] oldchevy opened #4277 "Nested <md-tab-group>s crash Angular"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Before this pull request animation behavior was working fine as intended:
https://github.com/angular/material2/commit/fbfd032c6e5ccd453fd93d57839897e3783a544e

#### What is the current behavior?
Nested `<md-tab-group>`s  with more than two `<md-tab>`s crash the app. With two `<md-tab>`s the second tab is overlaid on t

[2017-04-26 01:43] arlowhite commented on #3528
This is what I do in my SCSS:

[code]

If I want to push a button to the left side, I put a greedy span in-between the buttons.
[code]

But if you want to support RTL layouts, that's a whole other issue.

[2017-04-26 03:35] aldo-roman commented on #3823
So, basically, the pr was reverted by #4206 to fix #4167

As a workaround, we are manually adding:
[code]
See https://developer.mozilla.org/en/docs/Web/CSS/pointer-events

@crisbeto is there any long-term solution?

[2017-04-26 03:52] allurefx opened #4278 "Can't drag md-slider"
#### Bug, feature request, or proposal:
Looks like a bug, but it could be user error (I'm new to Material)

#### What is the expected behavior?
Should be able to drag on md-slider

#### What is the current behavior?
Drag doesn't work, though click on slider does set the value

#### What are the steps to reproduce?
Please check out http://ravinutala.com/d/index.html for an example with just the sli

[2017-04-26 05:08] fjbatresv opened #4279 "Modal appears at the end of the page"
#### Bug, feature request, or proposal:
Whe i call to modal this appears at the  end of the page below the footer

#### What is the expected behavior?
Appears where i am looking

#### What is the current behavior?
Appears below footer ans scroll down

#### What are the steps to reproduce?
https://github.com/devsplus502/androidfestweb/tree/master/src/app/
Is the part of sponosr-tile

#### What is t

[2017-04-26 05:21] fxck commented on #4276
https://github.com/angular/flex-layout

[2017-04-26 05:38] crisbeto commented on #4276
Both Material and Flex layout require a minimum Angular version of 4.0. We can't support both 2.3 and 4.0, because some of the APIs aren't backwards compatible, in addition to the update being relatively simple to do on the user's side. You can either update your project to 4.0, or use older versions of Material and Flex layout.

[2017-04-26 05:38] #4276 closed

[2017-04-26 05:42] yubeen commented on #4276
I watched there page but page not in solution.
I want no setup and no version upgrade
before 24day, no error

[2017-04-26 05:50] crisbeto commented on #4277
Thanks for the report, I'll re-check it. Before I reverted https://github.com/angular/material2/pull/2411 via https://github.com/angular/material2/commit/fbfd032c6e5ccd453fd93d57839897e3783a544e, I did verify against the old test case, that it was supposed to fix (it was actually crashing the entire tab), and the workaround was no longer necessary.

[2017-04-26 05:56] crisbeto commented on #3823
I'm not sure what the long-term solution could be on our side @aldo-roman. On one hand, we can't allow the pointer events, because you're not able to fully interact with the input, but on the other we can't disable them either, because you can't bind mouse events. I'd say that the first use case is a lot more common, so we'll have to go for the lesser of two evils.

[2017-04-26 06:26] mtpultz opened #4280 "Feature: Sidenav or Route Scroll Service"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
Using a common native API call to `window.scrollTo(0, 0)` or doing something similar on the document body, etc would allow for scrolling the page to the top after a route ends when using a `sidenav`, otherwise the next view starts at the same position in the page.

#### What is the current behavior?
Routin

[2017-04-26 07:24] krigton opened #4281 "Functions multiple times in _theming.scss"
#### Bug, feature request, or proposal:
Why is same function declared many times in the _theming.scss?

like mat-color()

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

#### What is the use-case or motivation

[2017-04-26 07:27] krigton commented on #4281
Looks that the file repeats the same thing over and over

[2017-04-26 07:31] krigton commented on #4008
How did you solved this one? thanks!

[2017-04-26 07:43] fxck commented on #4281
dupe of https://github.com/angular/material2/issues/3931

[2017-04-26 08:28] SylvainSimon commented on #3616
I have a problem that requires the same option.

I need to quickly unhook my closing event when I close my window. But it is blocking because the event is triggered after the animation, which easily takes 1 second.

If my user closes and re-opens the window quickly (because the overlay goes away from the beginning of the animation leaving the possibility of clicking on the button of opening of win

[2017-04-26 08:33] krigton commented on #4281
we can close it

[2017-04-26 08:37] #4281 closed

[2017-04-26 10:16] daB0bby commented on #4008
@krigton
I created and included a `vendor.css` file and added Material Theme in there:

    /* Vendor styles */
    @import '~@angular/material/prebuilt-themes/indigo-pink.css';

This `vendor.css` is being imported in my `vendor.ts`

[2017-04-26 10:18] HeavenlyHost commented on #2627
I am having a similar issue but using systemjs

Note #4256

Looking deeper this is also a problem at __extends

Using

Angular 4.0.3
Material 2.0.0-beta.3
Systemjs 0.20.12
Rxjs 5.3.0

NOT USING WEBPACK, USING SYSTEMJS

[2017-04-26 10:24] ciesielskico commented on #4277
Dup https://github.com/angular/material2/issues/4271
Related https://github.com/angular/material2/issues/4255

(linking issues to close them more easily later)

[2017-04-26 12:35] saylorRevIQ commented on #4262
@fxck should I just ignore it? It happens every time for me.

[2017-04-26 13:54] laurentperroteau opened #4282 "Datepicker : after select new datetime with specific format, the value is removed onBlur"
#### Bug:
When use specific format on datepicker, after select new datetime with format "dd/MM/y à HHhmm", the value is set to null onBlur.

#### What are the steps to reproduce?

* After run the plunker, show date, the formatting is correct
* Select a date
* Select a datetime
* After datetime close, click outside of datepicker input
* Datepicker input is empty (value set to null)
* Problem occur

[2017-04-26 13:56] fxck commented on #4282
Wrong repo.

https://github.com/Promact/md2

[2017-04-26 14:05] ashishbaghudana opened #4283 "Grids within toolbar not accessible"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`md-grid-list` should be usable within `md-toolbar`

#### What is the current behavior?
`md-grid-list` directive is not honored within the `md-toolbar` directive. It is not possible to split the toolbar into a grid to organize the contents.

#### What are the steps to reproduce?
The Plnkr link is an example where no c

[2017-04-26 14:06] willshowell commented on #4278
You need to import `MaterialModule` after either `BrowserAnimationsModule` or `BrowserModule` (probably just best to put it after both).

Unfortunately, I couldn't tell you why

[2017-04-26 14:07] michastreppel commented on #3616
One way of disabling this animation is the following (based on a post on StackOverflow: http://stackoverflow.com/questions/43055988/turn-off-animation-at-runtime-in-angular )

In your (main) module add the following function:
`export function animationFactory(): any {
    const noop = AnimationDriver.NOOP;
    const driver = new ɵWebAnimationsDriver();
    return {
        animate: (element: any,

[2017-04-26 14:25] willshowell commented on #4275
The `.md-ripple` class adds `overflow: hidden`, but the ripple inside of it has a higher stacking context. For now, you can add this to have the ripple contained.

[code]

[2017-04-26 14:33] willshowell commented on #4272
Can you replicate in a plunker?

[2017-04-26 14:33] laurentperroteau commented on #4282
Sorry, the link to create new issue in md2 is yours

[2017-04-26 14:33] #4282 closed

[2017-04-26 14:33] donroyco commented on #4283
I don't think it's intended to use `md-grid-list` inside of the `md-toolbar` element. You could use [flex-layout](https://github.com/angular/flex-layout) (or just the CSS variant) to achieve this.

[2017-04-26 14:38] willshowell commented on #4269
See #4034 and ViewEncapsulation [docs](https://angular.io/docs/ts/latest/guide/component-styles.html#!#view-encapsulation)

[2017-04-26 14:42] epelc opened #4284 "Feature: List item button"
#### Bug, feature request, or proposal:
You should be able to use buttons as list items.

#### What is the current behavior?
the `a[md-list-item` behavior is very similar.

#### What is the use-case or motivation for changing an existing behavior?

Creating lists of actions which aren't necessarily links.

The `data usage` list item from the angular material js list demo page is a good example.
![

[2017-04-26 14:46] stevedeighton commented on #4278
I'm getting this issue too. I have tried your suggestion @willshowell but it still doesn't work. It also advises that `MaterialModule` is now deprecated.  I've tried importing the `MdSliderModule` in the same way though, after `BrowserModule` and `BrowserAnimationsModule`, to no avail.

I can't help but think this is something to do with hammerjs, but I'm sure I have followed the Getting Started g

[2017-04-26 14:49] willshowell commented on #4156
I think that solution would solve #4275 too (assuming that 4275's issue is stacking context related)

[2017-04-26 14:53] willshowell commented on #4278
@stevedeighton Can you provide a bare-minimum repo?

[2017-04-26 15:07] allurefx commented on #4278
Thanks a lot, @willshowell, that was it: I just had to move MaterialModule after BrowserAnimationsModule (and before BrowserModule, FYI). @stevedeighton, did you change the order in the imports array of @NgModule?

[2017-04-26 15:21] mmalerba commented on #4284
@kara is this a feature we want to add?

[2017-04-26 15:24] patrikx3 commented on #4272
[code]
http://localhost:8080

[2017-04-26 15:25] patrikx3 commented on #4272
you can turn off the closer

[2017-04-26 15:25] patrikx3 commented on #4272
```/corifeus-web-material/test/angular-webpack/angular/layout.ts```

[2017-04-26 15:30] mmalerba commented on #4283
As @donroyco mentioned, this is not the intended use for `md-grid-list`. I recommend plain old [CSS flexbox](https://css-tricks.com/snippets/css/a-guide-to-flexbox/) or [angular/flex-layout](https://github.com/angular/flex-layout) for your layout needs

[2017-04-26 15:30] #4283 closed

[2017-04-26 15:31] DevVersion commented on #4156
I don't really think that those issues relate together. Issue #4275 is about `overflow: hidden` not working due to a missing `position: relative`.

[2017-04-26 15:32] mmalerba commented on #4279
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-26 15:32] #4279 closed

[2017-04-26 15:34] stevedeighton commented on #4278
@allurefx yep I did that, I'll have another play later tonight with it and provide a demo if I'm still struggling Thanks @willshowell :D

[2017-04-26 15:36] willshowell commented on #4272
That project has a lot going on that could introduce side effects. Try replicating it in a plunker instead. I'm able to add this to my sidenav with no ripple issues.

[code]

[2017-04-26 15:44] BamiGorengo opened #4286 "SideNav Bugs when i put it in a Angular4 Component"
Hello,

I Created a New Component:
[code]

When i Include the Component i get a bug:
http://prntscr.com/f13rd1

Any Ideas? When i Place the <md-sidenav> direkt on the same place like the <app-side-nav>... Then it works...

[2017-04-26 15:45] stevedeighton commented on #4278
Aha, found it. I was running angular 4.0.0 still.  Upgraded to 4.0.3 and its working now 👍

[2017-04-26 15:45] mmalerba commented on #4278
My guess is that hammerjs isn't loaded yet when the angular app is bootstrapped.

@jelbourn Is there anything we can do to improve this? (e.g. autodetect when hammerjs loads or provide a way for users to trigger it to recheck).

[2017-04-26 15:52] patrikx3 commented on #4272
hi! how are you! thanks for responding, try in a sidenav. that's where is have a problem.
i use it every where, but it is only with sidenav.

[2017-04-26 15:54] mmalerba commented on #4275
The ripple's host element (`md-card-title` in your case) must have a `position` of `relative`, `absolute` or `fixed` (see: http://plnkr.co/edit/wMfRAcnLIR7GSoKVauRq?p=preview)

[2017-04-26 15:54] #4275 closed

[2017-04-26 16:04] jelbourn commented on #4278
@mmalerba I pulled up the repro and found that Hammer is loaded here at bootstrap. The problem is that it's using the default gesture config rather than the one from material. Haven't figured out why yet.

[2017-04-26 16:05] jelbourn commented on #4278
@allurefx what does your app module (that you're bootstrapping) look like?

[2017-04-26 16:07] jelbourn commented on #4278
Oh, reading the whole thread now I see. If `BrowserModule` is added after `MaterialModule`, its gesture config overrides the one slider needs. Wonder if there's anything we can do about tnat.

[2017-04-26 16:21] allurefx commented on #4278
@jelbourn, the problem appears to be with importing MaterialModule before BrowserAnimationsModule; BrowserModule location doesn't appear to matter. E.g.,

Below one does NOT work
imports: [MaterialModule, BrowserAnimationsModule, BrowserModule, HttpModule]

Below ones both work
imports: [BrowserAnimationsModule, MaterialModule, BrowserModule, HttpModule]
imports: [BrowserAnimationsModule, BrowserM

[2017-04-26 16:36] patrikx3 commented on #3636
it is still not working :(

[2017-04-26 16:36] patrikx3 commented on #4272
i got it, it was css issue. thanks!
take care.

[2017-04-26 16:36] #4272 closed

[2017-04-26 16:42] mmalerba commented on #4269
Yep, see docs that @willshowell linked to. Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-26 16:42] #4269 closed

[2017-04-26 16:51] mmalerba commented on #4262
@jelbourn seems like this is difficult to reproduce, but maybe we can inspect the logic or add a check to not emit if the stream is complete for safety?

[2017-04-26 16:53] mmalerba commented on #4258
Closing since this appears to have been fixed, feel free to open a new issue if the PR @crisbeto linked doesn't solve this for you

[2017-04-26 16:53] #4258 closed

[2017-04-26 16:53] willshowell commented on #4156
Ahh ok. I initially read Jeremy's answer as proposing that the `md-ripple` directive automatically insert a child container with `position: absolute`, etc. I see now that he meant to create a child container just for this specific case.

[2017-04-26 16:54] DevVersion commented on #4156
@willshowell Yeah exactly. Letting the `md-ripple` service take care of that would be really overkill.

[2017-04-26 16:58] mmalerba commented on #4245
@kara can you check the card spacing against the spec?

[2017-04-26 17:11] mmalerba commented on #4242
@George35mk thanks for your enthusiasm about angular material! We are currently working on a datatable, its in the design phase now, stay tuned for more in the near future. If you want to help we have a [good for community contribution](https://github.com/angular/material2/labels/good%20for%20community%20contribution) label, any issues with that label would be a good place to start.

[2017-04-26 17:11] #4242 closed

[2017-04-26 17:20] arlowhite opened #4287 "Dialog close() from <input> event no longer works."
#### Bug:

I have a dialog with an Input. When the user presses ENTER, the dialog closes.

My project is using builds from _github.com/angular/material2-builds.git_
This was working about 2 weeks ago, but when I last updated it broke.
So commit somewhere between April 17-April 25 caused this problem.

Now, pressing ENTER will briefly close and re-open the dialog over and over.
However, a button `(

[2017-04-26 17:24] bcravens commented on #4262
I'm also getting this error from snackbar

[2017-04-26 17:29] isaacplmann commented on #675
For those looking for something to use now, [ng2-date-picker](https://github.com/vlio20/angular-datepicker#directive) works along side the `@angular/material` `mdInput` directive and is very configurable.

[2017-04-26 17:35] mmalerba commented on #4197
Dup of #3223

[2017-04-26 17:35] #4197 closed

[2017-04-26 17:36] mmalerba commented on #4198
Dup of #3496

[2017-04-26 17:36] #4198 closed

[2017-04-26 17:37] mmalerba commented on #4212
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-26 17:37] #4212 closed

[2017-04-26 17:40] #4216 closed

[2017-04-26 17:42] ArtisanDuCode commented on #4245
I updated my post.
I think it would be best to take inspiration from the repository [card angularjs]( https://github.com/angular/material/tree/master/src/components/card)

[2017-04-26 17:55] Mario-Eis opened #4289 "md-select affects flexbox (and also alignments with width=100% or table/table-cell)"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-select should align correct in a flexbox

#### What is the current behavior?
The placeholder of the md-select gets a width assigned and is then scaled down. This assigned width seems to large. It destroys the alignment of the outside flexbox.
![2017-04-26 19_34_53-plunker](https://cloud.githubusercontent.com/assets

[2017-04-26 18:28] kara commented on #4284
This is planned as a component called `md-action-list`. We're currently tracking it [here](https://github.com/angular/material2/issues/107).

[2017-04-26 18:28] #4284 closed

[2017-04-26 18:41] jelbourn commented on #4286
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

Also see the documentation for the sidenav: https://material.angular.io/components/component/sidenav

[2017-04-26 18:41] #4286 closed

[2017-04-26 18:48] jelbourn commented on #4278
Looked into it a bit, and unfortunately there's no mechanism for our modules to effectively say "My provider is more important than your provider" (and also no way to change `BrowserModule` so that it can say that it's less important).

Best we can do for now is to document that the order matters; sent #4291 for this

[2017-04-26 18:49] alexandrehebert commented on #4222
I configured everything according to the official documentation, and everything is working like a charm,
BUT : same warning for me.

[2017-04-26 19:46] xtianus79 opened #4292 "Autocomplete should come with an option indicator like a select dropdown"
#### Bug, feature request, or proposal:
Feature request / proposal

#### What is the expected behavior?
Md Autocomplete should brandish a signifier that more choices are available by clicking or touching the input area.

#### What is the current behavior?
The current behavior allows for a placeholder that can animate up or always be above the input area.  However, especially when the placeholder i

[2017-04-26 20:50] wulfsberg commented on #4292
On the other hand, if it has a dropdown-like indicator, people would assume they could get a list of options by clicking on that, which is not the case. Typically, you need to type something before an (asynchronous) search kicks in.
Granted, there are situations where it functions as a hardcoded <select> which just happens to have shortcuts, but this is by no means the only (or, in my opinion, eve

[2017-04-26 20:59] willshowell commented on #4287
I did a little bisect of the material2-builds to help narrow it down, and it looks like there were two regressions with using keydown to close the dialog:

**Regression 1**
* Commit [a7f58b8](https://github.com/angular/material2-builds/commit/a7f58b8a695550b944555e76ad1b6cfe6479c594) works perfectly
* The following commit [8e6fdfc](https://github.com/angular/material2-builds/commit/8e6fdfc2002386f

[2017-04-26 21:03] epelc opened #4294 "Autocomplete: Resizing window doesn't close panel or update position"
![autocomplete no scroll events](https://cloud.githubusercontent.com/assets/5204642/25456698/a5f15478-2aa1-11e7-9e11-0c9a8c01419b.gif)

#### Bug, feature request, or proposal:
Resizing the window doesn't update the autocomplete overlay/panel position.

#### What is the expected behavior?
It should probably close the panel or update the position.

#### What is the current behavior?
The panel stays

[2017-04-26 21:04] shlomiassaf commented on #581
@jelbourn @andrewseguin

I'v been working with the datatable, love the implementation.

The `DataSource<T>` abstract class requires this imp:
[code]

Internally, each datasource might use other observables (or combinations of observables) and spit out a subject (like done in the demo).

This requires datasource's to manage the subscriptions.

I would like to propose adding another abstract method

[2017-04-26 21:09] willshowell commented on #4294
Duplicate of #1430?

[2017-04-26 21:10] JacobBrandt opened #4295 "md-select: Allow multiple to be dynamically changed"
#### Bug, feature request, or proposal:
feature/proposal

#### What is the expected behavior?
The ability to have a dynamic multiple value on a md-select.

#### What is the current behavior?
Unable to change multiple once it's been initialized

#### What is the use-case or motivation for changing an existing behavior?
I have a form which has a dropdown and the list of options are dependent on seve

[2017-04-26 21:11] epelc commented on #4294
Yes

[2017-04-26 21:11] #4294 closed

[2017-04-26 23:03] ajaysattikar opened #4297 "Using Hues in html elements from defined color palette"
#### Feature request

1. There should be way to use the hues defined in palette theme.
2. Provision to add color into html element from material design swatches (similar to md-color of previous version of angular material).

#### What is the expected behavior?
`$app-primary: mat-palette($mat-grey, 500, 50, 900);`
In html element, I should be able to use hues defined in my palette (above)
something

[2017-04-26 23:06] jasonburrows opened #4298 "color option on md-input-container doesn't work in a useful manner"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When I explicitly set the colour of an md-input-container it should display in that colour.

#### What is the current behavior?
It will ONLY display in that colour from the moment the user clicks into the field until they enter something.  Then the form dictates the colour.  Your plunker example doesn't exhibit this b

[2017-04-26 23:41] #4278 closed

[2017-04-27 01:37] alanpurple opened #4299 "Prebuilt theme files has no sourcemapping files"
They indicate sourcemapping map files, those don't exist

[2017-04-27 03:32] #4125 closed

[2017-04-27 04:09] laurobd opened #4300 "md-button-toggle-group MULTIPLE - checked not working properly"
#### Bug, feature request, or proposal:
When I use the md-button-toggle-group MULTIPLE and I ask for the checked property, I just give me true for the first button item.

#### What is the expected behavior?
Give true for each button selected separetly

#### What is the current behavior?
Gives me true just for the first item

#### What are the steps to reproduce?

      import { Component, ViewChil

[2017-04-27 04:40] krigton opened #4301 "Why there is one single _theming.scss?"
#### Bug, feature request, or proposal:
What's the reasoning behind having one single theme helper sass file.
For example we do not use material palettes. We created our own, even if it's not following the material styleguide we set up several palettes and using them through the material theme framework. It's not a big deal but It looks odd to run the compiler through those vars never used.

I pro

[2017-04-27 07:09] JongSikLim opened #4302 "When I use md-grid-list, mouse scrolling is not work in my web page!"
Version info

Angular: 4.0.2
@angular/material: 2.0.0-beta.3

Using Web Platform : Chrome

    <md-grid-list cols="3">
        <md-grid-tile *ngFor="let item of items | async">

            <md-card class="example-card">
                <md-card-header>

                </md-card-header>

                <md-card-content>
                  <img md-card-image class="card-image" src="../assets/image

[2017-04-27 07:41] BondiGeek opened #4303 "Ability to set focus to specific element on MdDialog when opening"
#### feature request

Ability to set focus to specific element on MdDialog when opening AND have all buttons included in the tab order

#### What is the expected behavior?

On a dialog with two or more buttons eg: [OK][Cancel] it would be nice to be able to set the tabindex on each (in my scenario OK=1 and Cancel=0) and have it focus to the button with the lowest tab index when the dialog opens.

[2017-04-27 09:34] DaveMonag opened #4304 "Discussion: Private properties prefixed with underscore - against guidelines"
#### Bug, feature request, or proposal:

Discussion/Question/Proposal

#### What is the expected behavior?

According to current Angular guidelines and TypeScript guidelines, private properties should not be prefixed by an underscore.

#### What is the current behavior?

Currently within the Angular Material2, private properties are prefixed with an underscore.
Random example: https://github.com/a

[2017-04-27 09:42] DaveMonag commented on #4304
Angular guidelines:
https://angular.io/docs/ts/latest/guide/style-guide.html#!#03-04

[2017-04-27 10:27] dharveshmydeen opened #4305 "Blur validation NOT WORKING in md-radio-group"
Blur is not working in md-radio-group

[2017-04-27 11:51] TitanNano opened #4306 "add class "md-container-ignore" to md-input-container labels"
#### Bug, feature request, or proposal:
This is kind of a bug and feature request. Floating labels in `md-input-containers` do not work when material1 and material2 are used at the same time.

#### What is the expected behavior?
material1 styles should not apply to material2 components

#### What is the current behavior?
The styling for material1 `md-input-container` is interfering with material2s

[2017-04-27 12:02] TitanNano commented on #4306
nevermind, I found that I can use the mat prefix to avoid this.

[2017-04-27 12:02] #4306 closed

[2017-04-27 13:13] willshowell commented on #4300
Might want to check the difference between [`ViewChild`](https://angular.io/docs/ts/latest/api/core/index/ViewChild-decorator.html) and [`ViewChildren`](https://angular.io/docs/ts/latest/api/core/index/ViewChildren-decorator.html).

Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are Stack Overflow, gitter, mailing list, etc.

[2017-04-27 13:27] programmersharp opened #4307 "Textarea with MdTextareaAutosize does not have initial value"
I know there are similar issues with this but it doesn't work for me with the latest version. Height is set to 0px and the initial value is not shown in textarea.

[2017-04-27 13:30] programmersharp commented on #3346
I tried this solution but the problem is that when the initial value is multi line, then the default scroll bars appear for textarea.

[2017-04-27 13:45] dahaupt commented on #4307
@programmersharp Can you provide a plunkr to reproduce your issue?
Plunkr template: https://goo.gl/DlHd6U

[2017-04-27 13:46] dahaupt commented on #4305
@dharveshmydeen Can you provide a plunker to show us, what you are trying to achieve?
Plunker Template: https://goo.gl/DlHd6U

[2017-04-27 13:50] programmersharp commented on #4307
Unfortunately it's very problematic as it is part of the real project.

[2017-04-27 13:55] dahaupt commented on #4307
@programmersharp If you can't provide a plunker with a reproduction of your problem, this issue is just getting closed by a team member as it doesn't follow the issue template.

[2017-04-27 14:08] programmersharp opened #4308 "mdTextareaAutosize for IE 11"
It seems that plugin is not working for IE 11

[2017-04-27 14:36] Eddman opened #4309 "MdMenu seems to duplicate directives in the menu content"
#### Bug, feature request, or proposal:
Bug.

#### What is the current behavior?
MdMenu seems to duplicate directives in the menu content. When I do a query `By.directive` it returns all items multiple times (based on how many times you open the menu). The duplicated DebugElement objects **are the same instance**:
[code]

#### What is the expected behavior?
MdMenu is not duplicating directives.

#

[2017-04-27 14:45] briosheje opened #4310 "Card inside Tab prevent styling and doesn't style at all in beta.3"
#### Bug, feature request, or proposal:
Bug: If you insert a Card inside a Tab, any styling won't be applied whatsoever to the card and every inner element (including angular2 material ones)

#### What is the expected behavior?
I would expect them to actually be correctly styled.

#### What is the current behavior?
No style is applied whatsoever but the top border of the card.

#### What are the s

[2017-04-27 15:08] RobJacobs opened #4311 "md-input-container: Allow setting floatPlaceholder globally"
#### Bug, feature request, or proposal:
Allow globally setting the floatPlaceholder option on the md-input-container.  Similar to how the ripple can be globally set.

#### What is the expected behavior?
Globally setting the floatPlaceholder will result in the default action.  floatPlaceholder can still be set inline and would take precedence.

#### What is the current behavior?
floatPlaceholder mu

[2017-04-27 15:41] idnesh opened #4312 "How to close a dialog from same component where it was opened?"
#### What are the steps to reproduce?
I opened a dialog from a Component. I need to close the dialog from same component.

#### What is the use-case or motivation for changing an existing behavior?
I would like to use it for loading text.

#### Which versions of Angular, Material, OS, browsers are affected?
 "@angular/common": "2.4.6",
    "@angular/compiler": "2.4.6",
    "@angular/core": "2.4.6"

[2017-04-27 15:50] Kyderman commented on #4312
[code]

[2017-04-27 15:54] willshowell commented on #4310
Which parts are not styled correctly? I think you just forgot to wrap you inputs with `<md-input-container>`.

[2017-04-27 16:03] briosheje commented on #4310
@willshowell Sorry, you are right: inner components are styled properly, I forgot the input container. However, the Card doesn't get styled at all (there only is the top border).

Basically, shadows are either not applied or, maybe (started wondering now) the tab container has no padding: http://plnkr.co/edit/NwYObXEvh61r7owScS2Y?p=preview

I'm guessing the card is actually styled properly and the

[2017-04-27 16:10] willshowell commented on #4310
Since the shadows fall outside of the card, they're getting cut of by the tab body's `overflow: hidden`. I think it's your best bet to wrap the card with another div and apply padding to it

http://plnkr.co/edit/J4mtUw1GLcy2t5u2ol39?p=preview

Be sure to close this issue if it isn't a bug!

[2017-04-27 16:32] briosheje commented on #4310
@willshowell Thanks, not sure how it was working in the beta.0 but it's pretty okay now :).

[2017-04-27 16:32] #4310 closed

[2017-04-27 16:56] jasonburrows commented on #4298
Here's a [plunker](https://plnkr.co/edit/Ie2k3OIdvAl64MqKa4hp) that shows what I mean.  It loads grey (not primary, as specified), then if you click into one of the fields and click out, it turns to 'warn'.  So it is only primary for a really small amount of time - to the point where being able to specify the colour is almost useless.

[2017-04-27 17:13] crisbeto commented on #4312
Thank you @Kyderman, this is the correct answer.

[2017-04-27 17:13] #4312 closed

[2017-04-27 17:58] DMcNamara opened #4313 "MdSelect with ngModel loses selection when options are replaced"
#### Bug, feature request, or proposal:
I'm using ngrx selectors to remove already selected options in a group of selects. This means that every time an option is picked, the selector returns a new array containing the previous option list minus the one that was just selected. These are then put into mdOptions with an ngFor.
This works perfectly fine without ngModel. When I try to use [ngModel] to

[2017-04-27 18:04] patrikx3 opened #4314 "menu position, sorry i copied from material 1, was wrong question"
**Actual Behavior**:
 -  `What is the issue? *`

WIth static menu position works, with dynamic position not working.

[code]

[code]

[code]

 -  `What is the expected behavior?`

dynamic position

**CodePen** (or steps to reproduce the issue): *
 -  `CodePen Demo which shows your issue:`
 -  `Details:`
Simple, y-position not working with a dynamic directive

**AngularJS Versions**: *
 -  `Angular

[2017-04-27 18:26] DanialV opened #4316 "material 2 md-select problem with bootstrap modal"
material select dose't work currently with bootstrap modal and it's because of the big z-index of bootstrap modal this problem was discussed in this link https://github.com/angular/material/issues/2942 but the solution dose't work for angular material 2

[2017-04-27 18:31] #4247 closed

[2017-04-27 18:41] jelbourn commented on #4308
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-04-27 18:41] #4308 closed

[2017-04-27 18:42] jelbourn commented on #4314
See #4169

[2017-04-27 18:42] #4314 closed

[2017-04-27 18:42] jelbourn commented on #4305
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-04-27 18:42] #4305 closed

[2017-04-27 19:23] mmalerba commented on #4292
This is not part of the material spec and I think would lead to more confusion with users thinking its supposed to work like a `md-select`. If you want you can use `md-input-container`'s prefix or suffix to add your own indicator.

[2017-04-27 19:23] #4292 closed

[2017-04-27 19:29] mmalerba commented on #4297
@jelbourn is this a feature we want to add?

[2017-04-27 19:35] vijayamurugan commented on #2277
I updated today and using 2.0.0.-beta.7 and changed to @import '~@angular/material/theming'; worked for me

[2017-04-27 19:40] mmalerba commented on #4298
This is the correct behavior according to the material spec: https://material.io/guidelines/components/text-fields.html#text-fields-states `color` is not meant to change the behavior of when the input is colored, just the pallete that's used.

[2017-04-27 19:40] #4298 closed

[2017-04-27 19:41] #4300 closed

[2017-04-27 19:43] mmalerba commented on #4302
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-04-27 19:43] #4302 closed

[2017-04-27 19:46] crisbeto commented on #4316
Material isn't developed to work together with Bootstrap. If you want a dialog that [works with `md-select`, you can use the Material dialog](https://material.angular.io/components/component/dialog).

[2017-04-27 19:46] #4316 closed

[2017-04-27 21:03] jelbourn opened #4317 "Remove all custom Error classes"
As of TypeScript 2.1, extending `Error` has issues: it [generates a non-trivial amount of code](https://www.typescriptlang.org/play/#src=class%20MdError%20extends%20Error%20%7B%0D%0A%20%20constructor(value%3A%20string)%20%7B%0D%0A%20%20%20%20super()%3B%0D%0A%20%20%20%20this.message%20%3D%20value%3B%0D%0A%20%20%7D%0D%0A%7D) and it doesn't property pass messages through. We also don't really get any

[2017-04-27 21:23] jelbourn commented on #4301
Because we don't preserve the source file structure in the release package, which the imports for individual files are relative to.

[2017-04-27 21:23] #4301 closed

[2017-04-27 21:27] jelbourn commented on #4297
For now this isn't something that we're going to support because it would balloon the theming styles by a bit. When eventually we're able to use css variables it's something we'll revisit.

[2017-04-27 21:27] #4297 closed

[2017-04-27 21:40] krigton commented on #4301
Do you intend to break theme? Maybe in the CDK, or offer a more flexible way to theme? I managed to create a framework on the top of the theming, but I think it would nicer to offer a bit more on this.

[2017-04-27 22:11] josephperrott opened #4318 "MdSnackbar enters the DOM already in view, preventing the correct animation."
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Snackbar begins off screen and then animates into view

#### What is the current behavior?
Snackbar begins partially on screen and then animates fully into view

#### What are the steps to reproduce?
Can be seen in demo app.

#### Which versions of Angular, Material, OS, browsers are affected?
Material2 since [this pu

[2017-04-27 22:18] laurobd commented on #4300
@willshowell I opened this issue because this problem I'm reporting looks like a bug. I can be wrong, but I had problems using ViewChild and ViewChildren as you are saying.

[2017-04-27 22:30] willshowell commented on #4300
Can you recreate in a plunker? http://plnkr.co/edit/o077B6uEiiIgkC0S06dd?p=preview

Because you're using ViewChild, `mdBT` is only ever going to be a reference to the _first_ element matching `MdButtonToggle`.

[2017-04-28 00:35] BondiGeek commented on #4303
fixed by adding a cdk-focus-start attribute to the button required to be the default

[2017-04-28 00:35] #4303 closed

[2017-04-28 05:18] mbeckenbach commented on #3569
position would be great in lots of use cases. Especially when creating responsive applications.

[2017-04-28 08:09] thisisgit opened #4319 "<md-list> in MdListModule and MdGridListModule have different style"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
<md-list> from "MdGridListModule" has no class applied by default.
<md-list> from "MdListModule" has .mat-list class applied by default.

#### What is the current behavior?
If <md-list> is intended to be used without .mat-list css class applied on it, then MdListModule should not be imported from the module.

###

[2017-04-28 10:30] AlanCrevon opened #4320 "mat-tabs-theme() doesn't apply a mat-dark-theme() font color"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
If you style only certain component as described in the doc, mat-dark-theme() doesn't apply white font color on tab headers.

#### What is the current behavior?
Tab headers have black font color

#### What are the steps to reproduce?

Here is my theme.scss (WIP)

[code]

#### What is the use-case or motivation for cha

[2017-04-28 10:43] DiV666 opened #4321 "Autocomplete: get property from object"
Following the material2 documentation for autocomplete, I can not make the control value a property of the object.

In the example, I need the value of the control to be the id of the user, not the complete object, and also display the user's name in the input
http://plnkr.co/edit/ShFxkogDjg45S8jQm8pt?p=preview

Is it possible to do this?

[2017-04-28 10:44] AlanCrevon commented on #4320
I think i found why : in _theming.scss in **@mixin mat-tabs-theme($theme)**

[code]

should be (i think)

[code]

I'm not sure about how to make a PR to fix this. If this fix is confirmed, I'd appreciate if someone could do the PR for me. Thanks.

[2017-04-28 11:36] FilipeQ commented on #3005
@mjolk What you do for OnPush work with input placeholder, i have last version (2.0.0-beta.3) and the problem persist.

[2017-04-28 12:16] ggranum commented on #3005
Still an issue for me as well. I've worked around it with:

[code]
In ngOnInit / ngAfterViewInit.

[2017-04-28 14:10] willshowell commented on #4321
I _feel_ like this is outside the scope of material.

As your plunker stands, your `displayWith` function is called with the selected option's `id`. Just use that `id` to find the correct option from the options array and return its name.

[2017-04-28 14:35] jeffgammon opened #4322 "[Tooltip] Icon buttons with tooltips use the wrong aria label"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
We expect that aria-label for the button should be set from the md-tooltip, when present, rather than using the ID of the icon, which may or may not accurately represent the button's function.

#### What is the current behavior?
aria-label on the md-icon is the only aria-label set, which is what screen readers pick up

[2017-04-28 14:48] willshowell commented on #4320
Demo http://plnkr.co/edit/NDlsghziQErBmgnVailj?p=preview

[2017-04-28 14:55] thormentor opened #4323 "[Tabs] Nav bar does not support paginated labels"
![screenshot_20170428_154542](https://cloud.githubusercontent.com/assets/6043562/25534037/887d4958-2c2a-11e7-9892-6867c1b31af6.png)

As you can see in the image the active link is "LINK 1" but it underlines "LINK 5" instead of "LINK 1".

I don't think that this is the expected behavior. Is there any work around for this to work properly?

[2017-04-28 14:59] instantaphex commented on #2584
@arlowhite I've come up with a work-around for the time being that works fairly well.  I've added an ngStyle to an invisible, absolutley positioned  trigger that updates the top and left based on mouse click.

[2017-04-28 15:01] willshowell commented on #4323
Can you reproduce in a plunker? I thought tabs were supposed to scroll for overflow

[2017-04-28 15:52] DiV666 commented on #4321
You're right, I did not realize I could do that :S

The only change is that in order to access the controller variables, I had to modify displayWith as follows:
`<md-autocomplete #auto="mdAutocomplete" [displayWith]="displayFn.bind(this)">`

Thank you.

[2017-04-28 15:53] #4321 closed

[2017-04-28 16:07] willshowell commented on #1628
Should be closed via #1949, right?

[2017-04-28 16:38] adamdport commented on #2995
For those considering the md-tab-nav-bar, be sure to check out [2177](https://github.com/angular/material2/issues/2177) first. It wraps on mobile and looks terrible today.

@andrewseguin is there a way to add click handlers to md-tabs like OP asked so I can make it work until the nav bar gets fixed?

[2017-04-28 16:40] jelbourn commented on #4304
We do this for all non-public members because TypeScript has no concept of `internal`. The styleguide is actually out of date and should be updated to remove this guidance, as it ultimately has no business being in the Angular-specific style guide.

[2017-04-28 16:40] #4304 closed

[2017-04-28 16:42] jelbourn commented on #4299
@DevVersion I don't see this as being particular important, as our scss should mostly be a black-box for end developers.

[2017-04-28 16:44] DevVersion commented on #4299
@jelbourn Yeah totally agree. At some point we should just output sourcemaps for those as well. Just to be consistent with the bundles.

We could also remove the sourcemaps for that. What do you prefer?

[2017-04-28 16:44] jelbourn commented on #1179
Believe this is obsolete as we've eliminated this API.

[2017-04-28 16:45] jelbourn commented on #1628
Yep

[2017-04-28 16:45] #1628 closed

[2017-04-28 16:46] jelbourn commented on #4299
Can remove the references for now if it's not a lot of time.

[2017-04-28 16:48] DevVersion commented on #4299
Yeah will look at this once I have the other packaging work done. What would be the full solution? Do we want to ship sourcemaps for those or not?

**Note**: We do ship sourcemaps for all FESM, UMD bundles.

[2017-04-28 16:50] jelbourn commented on #4299
If someone cares enough to contribute source maps for the scss I would accept it, but I don't think it's important enough for us to spend time on.

[2017-04-28 17:15] M-Adoo commented on #3283
same for me.

[2017-04-28 17:20] #4226 closed

[2017-04-28 17:36] crisbeto commented on #1329
Closing as a dupe of https://github.com/angular/material2/issues/4169 which will be resolved via https://github.com/angular/material2/pull/4213.

[2017-04-28 17:36] #1329 closed

[2017-04-28 20:48] epelc commented on #3182
Can it work with the generic `MdOption` so we can use it in auto complete and custom controls?

[2017-04-28 20:48] #2011 closed

[2017-04-28 20:53] #3820 closed

[2017-04-28 21:07] andrewseguin commented on #581
@shlomiassaf Thanks for the feedback, we're happy you love the implementation.

You raise a great point about letting the data source know that the table has been destroyed, especially since it handles so many subscriptions. We'll be sure to add a similar hook into the final design.

[2017-04-28 21:46] michael-lang commented on #3064
Do you want a single color for the nav?  I think you would need to tell it which theme to use instead.

[2017-04-28 23:04] #4277 closed

[2017-04-29 06:51] Renader commented on #581
@andrewseguin I know this must be getting really annoying, but is there any roadmap on this??

To me a data table is crucial - and there is still no complete ui framework for Angular 4. I am already frustrated to have chosen Angular over React.. Since React's ecosystem would offer me better solutions.

This is high priority for so many users, especially since the other table directives out there a

[2017-04-29 07:07] #4234 closed

[2017-04-29 07:08] mathewblackberry commented on #4234
Issue was with my code.  Relating to Angular not detecting model changes due to reference of the array not changing.

[2017-04-29 09:27] crisbeto commented on #3890
I wasn't able to reproduce your issue @dbandstra. Here's what I tried:

[code]

Can you post a Plunkr that shows it. Also I'll close this issue since it should've been fixed by https://github.com/angular/material2/pull/3875.

[2017-04-29 09:27] #3890 closed

[2017-04-29 09:54] alexfung888 commented on #3973
It is a bit annoying to repeat the list of modules in the ES5 import and the export annotation.

Does it make any difference to import hammer here? Seems I'll need to import hammer in appmodule again, since I can't export it from here.

[2017-04-29 10:19] crisbeto commented on #4287
It's because Material restore focus immediately, instead of waiting for the animation to finish. I've opened a PR that should fix it (https://github.com/angular/material2/pull/4329). Meanwhile you can work around it either by closing on `keyup` or disabling the open button while there's an open dialog.

[2017-04-29 13:46] MihailoVasovic commented on #3927
I solved this issue by putting .mat-tooltip in my root styles.sass file and then setting up font-size.
The key for this to work is setting !important after font-size.

[2017-04-29 18:48] fxck commented on #675
@mmalerba

couple of things:

- it is impossible to open datepicker with input focus (technically you can, but since it's using overlay, it will lose focus and clicking to try and focus again will close the overlay).. from my own experience with users, they won't ever find out that clicking the calendar icon opens a calendar, so doing it with focus would be a bit more user friendly
- month/day mod

[2017-04-29 22:35] Gusachenko commented on #1130
Here's another way, with latest `Renderer2` module:

[code]

[2017-04-30 08:10] viztastic opened #4333 "Bug: Dark Theme background not taking effect when Router-Outlet is used."
#### **Bug**

When a `router-outlet` is included in the root component, the `mat-app-background` doesn't seem to take effect.

#### What is the expected behavior?

When I toggle to a dark theme, I expect the background color to go dark.

#### What is the current behavior?

The background color remains white irrespective of whether `mat-app-background` is included.

#### What are the steps to repro

[2017-04-30 09:26] fxck commented on #675
Damn, it's not really written with extensibility in mind at the moment, is it.. it's gonna be quite a lot of pain and rewriting to add a timepicker.

[2017-04-30 12:46] jsonschema commented on #2143
@kara Can you explain why this isn't needed?  How would one initialize `md-option` where `multiple` checked options are permitted?

[2017-04-30 16:28] arlamaeen commented on #2165
@niranjanwnmt Did you manage to fix the issue? I'm also having an issue. I'm using angular-seed as a setup

[2017-04-30 18:10] George35mk commented on #581
I want to learn angular and angular 4 is the future for me, the material ui  is one of the best UI - UX frameworks and I want to use the material ui, in all my projects, Calendar and table is one of the most important things I think, Now I use materialize my projects but I think is not the best solution with angular 4 , please at least make a tutorial how I can make my own angular material 2 compo

[2017-04-30 20:15] serdardemir commented on #2961
Is there any movement on this?

[2017-04-30 20:18] patrikx3 commented on #2961
i think it is not gonna happen. i change my setup, instead like office toolbar. menu is too old. multi level. new frontend ☺️

[2017-04-30 20:19] patrikx3 commented on #2961
collapse, popup, toolbar, etc

[2017-04-30 21:08] laurobd commented on #4300
@willshowell, thanks for your help. It worked using ViewChildren. Sorry for the opened issue, you were right.

[2017-04-30 22:09] xtianus79 commented on #675
@jelbourn any update on when this would be added to master?

[2017-04-30 22:51] mahmood-sajjadi commented on #3544
Is there any update on this ticket? from @kara  or anyone else?
if there is any progress would you please share the tag/branch then I can work on it too?

thanks

[2017-04-30 23:09] fxck commented on #675
@xtianus79 soon enough https://github.com/angular/material2/pull/4296#issuecomment-298183090 but seeing the code and design, I'm a bit concerned with long it's gonna take to reach feature completness, datepicker, range picker etc

[2017-05-01 00:47] hwalyonglance opened #4337 "feature request"
- carousel
- navbar
- gallery
- contextmenu
- scrollspy
- feature discovery
- wysiwyg html
- dual listbox
- input mask
- calendar
- timeline
- search result
- bottom sheet inside modal
- chart / graph
- notifications
- input file with previewer
- vertical tabs
- form wizard
- full screen
- magnifier

[2017-05-01 01:27] mmalerba commented on #675
@fxck As stated before timepicker will not be part of the first version, but will be added later. Please create separate issues for your other concerns so they can be addressed individually

[2017-05-01 02:07] shlomiassaf commented on #581
@andrewseguin Here's another optional feature...

Currently, the `dataSource` is automatically registered on table init:
[code]

This is limiting, if there is no `dataSource` at the `afterViewInit` phase it will throw.
It forces the user to use `ngIf` or some other logic to handle this state.

Since it's a common state it might be useful to handle this registration in a `getter/setter` structure.

[2017-05-01 05:31] fxck commented on #675
Yeah, I wasn't talking about the first version, I was talking about how long it's probably gonna take to implement all the other features after the first version is released. I'll create issues for all the other features as soon as the first version is in master.

[2017-05-01 14:33] mbeckenbach commented on #4311
Would be very helpful for me too, as i have a project where floating placeholders should never be used as the customer doesn't like it.

[2017-05-01 14:51] karlhaas opened #4338 "mdTooltip: no animation with ChangeDetectionStrategy.OnPush"
#### Bug, feature request, or proposal:
**Bug**: Animation of tooltips not working in combination with ChangeDetectionStrategy.OnPush

#### What is the expected behavior?
The animation of mdTooltip should work with ChangeDetectionStrategy.OnPush

#### What is the current behavior?
First there is just a small rectangle with the background color of the tooltip visible. Then it directly shows the ful

[2017-05-01 14:58] mbeckenbach opened #4339 "List of compatible component libraries"
#### Bug, feature request, or proposal:
Proposal / Feature request for docs page

#### What is the expected behavior?
The docs should contain a list of compatible 3rd party component libraries. If for example one creates a file upload component, that integrates with materials scss theme or is dependent of material it should be possible for the creator to register it there with name, description, n

[2017-05-01 15:01] mbeckenbach opened #4340 "Current version number on docs page"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
The current version number should be present at the docs page in a place that is easy to find.

#### What is the current behavior?
You have to read the blog or watch the github changelog to see if you should update your project while you are browsing the docs every day.

#### What is the use-case or motivation fo

[2017-05-01 15:05] willshowell commented on #4338
I think this was fixed by #3671. Try using the latest master build to see if your issue has been fixed.

[2017-05-01 15:06] mbeckenbach opened #4341 "Split into several npm packages"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
I would like to install only the buttons and cards from the repo. (Example)

#### What is the current behavior?
You have to install the whole material library and then select which modules you would like to install.

#### What is the use-case or motivation for changing an existing behavior?
Have a look at the asp

[2017-05-01 15:14] mbeckenbach opened #4342 "IE11 Support & Performance in general"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
As soon as the library detects IE it should disable everything that can cost performance like animations.

#### What is the current behavior?
Mostly performance, sometimes layout issues

#### What are the steps to reproduce?
Open any real world MD2 application on IE11.

#### What is the use-case or motivat

[2017-05-01 15:19] willshowell commented on #4339
I personally disagree with having the material team maintain a list of compatible 3rd party components. That would require them to properly vet and continue to monitor all the 3rd party libs, which seems like a large investment.

I do strongly agree with the point that the team (or community, rather) should generate a guide on properly designing new components with all the strategies that the team

[2017-05-01 15:42] IVIyg0t opened #4343 "<md-select> doesn't close when you click outside of dropdown."
For some reason, my `md-select` doesn't close when you click outside of it.... It forces you to choose an option.  I'm not able to get this issue reproduced... So I'm not sure how to give you more info about that.  I tried disabling all the CSS that I could, but that didn't' seem to help.  I'm at the point of seeing if I can just create my own trigger to close the dropdown.

Is there a way to prog

[2017-05-01 15:58] willshowell commented on #4343
As you can see from here https://plnkr.co/edit/7xvf8N4wKrg6yOY9XE9d?p=preview, the select does close when you select an item, tab out, or click on the backdrop.

If you're set on programmatically closing it, check the [api reference for md-select](https://material.angular.io/components/component/select). It has a `close()` method.

Also, support questions for your specific implementation should be

[2017-05-01 16:53] michael-lang opened #4344 "Cannot apply an alternate theme specifically to the md-sidenav element"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Applying the 'dark-theme' to a sidenav or other specific elements should work.  Sometimes you want only a sidenav or specific sections of a page with an alternate theme.

#### What is the current behavior?
Creating a theme and then applying it to sidenav affects children of the sidenav but not the sidenav

[2017-05-01 17:08] jelbourn commented on #4344
You can create alternate themes scoped to whatever arbitrary selector you like, and then apply that select to whichever subsection of your app fits your needs.

[2017-05-01 17:09] jelbourn commented on #4339
Generally the philosophy of the Angular team is that we don't maintain lists like this because it can be seen as an endorsement. We encourage folks in the community to do it on their own, though!

[2017-05-01 17:09] #4339 closed

[2017-05-01 17:10] #4337 closed

[2017-05-01 17:10] jelbourn commented on #4343
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-05-01 17:10] #4343 closed

[2017-05-01 17:14] jelbourn commented on #4341
We want to maintain a single version for all components; having individual releases for each component would make dealing with dependencies more cumbersome. Once we're out of beta we plan to do weekly releases with the same process as `angular/angular`.

[2017-05-01 17:14] #4341 closed

[2017-05-01 17:48] nitishkumarnitc opened #4345 "Unexpected directive 'MdToolbar' imported by the module 'AppModule'"
MdToolbar raising error with angular4.

My code:
import { MdToolbar} from "@angular/material";

imports:[MdToolbar]

Error: Unexpected directive 'MdToolbar' imported by the module 'AppModule'

[2017-05-01 18:12] michael-lang commented on #4344
Can you elaborate on what you mean?  I tried what is in the documentation, and it does not work.  I had to create another in more depth style to replicate material sass code.

Here is what is documented that I tried first:

[code]

When this 'dark-theme' class is applied at the root of the document the whole page does get the dark theme.  If I instead apply the class at the md-sidenav component, t

[2017-05-01 18:16] DevVersion commented on #4345
Looks like you want to import the `MdToolbarModule`?

[2017-05-01 18:43] andrewseguin commented on #3896
It seems to me that you want to reuse the content of the tabs, not the `<md-tab>` element itself.

[2017-05-01 19:06] jelbourn commented on #4344
I see what you mean now. The issue is that you can't add an arbitrary parent element to the sidenav.

@mmalerba thoughts?

[2017-05-01 19:35] darrenbrett opened #4347 "Getting "If 'ng-template' is an Angular component, then verify that it is part of this module" Error After npm-update"
My dev environment:
McBook Air, OS X El Capitan 10.11.6
@angular/cli: 1.0.1
node: 7.4.0

After running "npm-update", I am getting the following error in the console for my Angular 2 app:

This looks like an issue with material?

I tried updating material in my package.json and am now running:
`"@angular/material":"2.0.0-beta.3",`

But still getting the error.

My full dependencies list looks like

[2017-05-01 19:51] mattheiler commented on #4347
You need Angular 2 v. 4+. Here's an example:

[code]

[2017-05-01 21:22] jelbourn commented on #4233
[Commented on #4236](https://github.com/angular/material2/pull/4236#issuecomment-298436257)

[2017-05-01 21:22] #4233 closed

[2017-05-01 22:10] darrenbrett commented on #4347
Thanks, Matt. After updating to Angular 4, I'm now seeing this error in the console:

ERROR TypeError: Cannot set property 'addEventListener' of undefined

[2017-05-01 22:27] jelbourn commented on #4347
Closing this since the original issue is resolved (Angular v4 dependency). Feel free to open a new issue with more details about subsequent problems.

[2017-05-01 22:27] #4347 closed

[2017-05-01 22:32] jelbourn commented on #4232
@kara might also have some thoughts on this

[2017-05-01 22:35] jelbourn commented on #870
I think this issue is obsolete. Feel free to open a new issue if there is still a problem.

[2017-05-01 22:35] #870 closed

[2017-05-01 22:41] jelbourn commented on #3250
@kara why is this async?

[2017-05-01 22:43] ajaysattikar commented on #4297
Make sense.
But then what's the purpose of defining multiple hues in theme (e.g. 500, 50, 900)
`$app-primary: mat-palette($mat-grey, 500, 50, 900);`

[2017-05-01 22:49] jelbourn commented on #2845
Not sure what this error is, though the original report says beta.1, which could be an issue. Feel free to open a new issue with reproduction steps if this is still affecting anyone. Our docs site (https://github.com/angular/material.angular.io) uses the latest version of Material w/ AoT, so that may serve as an example.

[2017-05-01 22:49] #2845 closed

[2017-05-01 22:51] jelbourn commented on #3060
Yes, all the css is `mat-` everywhere now.

[2017-05-01 22:51] #3060 closed

[2017-05-01 22:52] jelbourn commented on #2182
Closing this issue as it does not follow the issue template (in providing relevant info). Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-05-01 22:52] #2182 closed

[2017-05-01 22:58] jelbourn commented on #3152
We don't consider the variables to be part of the public API for Angular Material at this time. The issue with overriding them is that it would force sass compilation to happen downstream, disallow the components from being able to use `styleUrls`, and generally make the getting-started workflow more complicated.

Ultimately css custom properties is the way we want to address this, but supporting

[2017-05-01 22:58] #3152 closed

[2017-05-01 22:59] jelbourn commented on #3192
Related to #2124

[2017-05-01 23:03] jelbourn commented on #3844
Dupe of #1072 which we do plan to support eventually

[2017-05-01 23:03] #3844 closed

[2017-05-01 23:11] jelbourn commented on #3527
See response in #3152

[2017-05-01 23:11] #3527 closed

[2017-05-01 23:12] jelbourn commented on #3224
This isn't something we plan on implemented in the near term.

[2017-05-01 23:12] #3224 closed

[2017-05-01 23:14] jelbourn commented on #3209
@crisbeto do you know where the `80vw` came from?

[2017-05-01 23:14] jelbourn commented on #3348
For cases like this the approach would be to use the underlying `Overlay` with `ConnectedPositionStrategy`.

[2017-05-01 23:14] #3348 closed

[2017-05-01 23:16] jelbourn commented on #3425
This isn't something we plan on adding; we consider the backdrop to primarily be an indicator that the content is inactive. Adding additional content would be trying to add too much behavior to this.

[2017-05-01 23:16] #3425 closed

[2017-05-01 23:19] jelbourn commented on #3428
We don't plan on adding font-color as part of the theme, as [the spec calls for specific text colors](https://material.io/guidelines/style/color.html#color-usability) based on whether the theme is light or dark.

[2017-05-01 23:19] #3428 closed

[2017-05-01 23:20] jelbourn commented on #3470
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-05-01 23:20] #3470 closed

[2017-05-01 23:22] jelbourn commented on #3458
We actually do this on purpose in order to mimic the native behavior ([and same in AngularJS Material](https://material.angularjs.org/latest/demo/menu)). The idea is that end-users are accustomed to this behavior and changing it would be surprising.

[2017-05-01 23:22] #3458 closed

[2017-05-01 23:26] jelbourn commented on #3802
The [text field spec shows primary color in all the examples](https://material.io/guidelines/components/text-fields.html). You can change the color in your app by using the `color` property on the input container.

[2017-05-01 23:26] #3802 closed

[2017-05-01 23:31] jelbourn commented on #3409
Don't really follow what you're proposing. Feel free to open a new issue w/ more details.

[2017-05-01 23:31] #3409 closed

[2017-05-01 23:34] jelbourn commented on #4338
Should be fixed by  #3671

[2017-05-01 23:34] #4338 closed

[2017-05-02 02:39] xuanshenbo opened #4350 "disabled mdIput cursor should be set to 'text'"
#### Bug, feature request, or proposal:

#### What is the expected behavior?
disabled mdIput cursor should be set to 'text'

#### What is the current behavior?
disabled mdIput cursor is set to 'default'

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
http://plnkr.co/edit/msfXKmRhfhtQzrjR7iwU?p=preview

#### What is the u

[2017-05-02 02:41] kmkatsma commented on #581
For anyone who wants to play with the data table in the context of an Angular CLI based project, I kind of shoehorned the files from the branch into a minimal CLI project, and put the table on the AppComponent page.  You can add it to any CLI project by basically following setup done in this base project.

Code is here: https://kmkatsma.github.io/md-table-cli-demo/

Running demo is here:  https://

[2017-05-02 03:35] Shyam-L92 commented on #3240
@Gicus
Available pre-built themes:

deeppurple-amber.css
indigo-pink.css
pink-bluegrey.css
purple-green.css

Add the necessary theme to the styles.css file
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

And you not want to add a link reference to styles.css in the index.html page because it will be already linked in the angular-cli.json file.

Please visit the below link to kn

[2017-05-02 04:01] viztastic opened #4351 "Autocomplete improvement proposal: Programmatically map inputs to autocomplete fields instead of relying on #selector."
#### Proposal

It is currently not possible to easily integrate the autocomplete input in a reactive form with dynamically generated autocomplete fields. This is since the `#AutoCompleteIdSelector` cannot be dynamically indexed to be part of an `*ngFor` loop.

#### What is the expected behavior?

Would be great to attach a programmatic mapping between input and autocomplete tags as opposed to rely

[2017-05-02 04:45] andy5638 commented on #1335
@Neltherion If you still have this problem after including FormsModlue to your AppModule, please check if you are using any html minification tool whereas angular2 directive is case-sensitive.
You can also try to use ReactiveFormsModule as a substitution.

[2017-05-02 05:07] karlhaas commented on #4338
thx @willshowell @jelbourn !
Since we are already using Material in production it would be important to get bugfixes more frequent. What is currently the best approach to get the fixes? Would it be possible to get bugfix releases more often?

[2017-05-02 05:19] SanderElias opened #4352 "Support theming with CSS Custom Properties"
#### feature request
Use CSS custom properties for at least color selection.

#### What is the expected behaviour?
To be able to alter the color-scheme during runtime on supported browsers, and fall-back to predefined SASS defined colors on others

Here is a [sample (by Cris Coyier)](http://codepen.io/chriscoyier/pen/ybgNKP) of how CSS custom properties might work

#### Is there anything else we s

[2017-05-02 05:44] crisbeto commented on #3209
I believe that it was a combination of looking at what M1 used and eyeballing it, because we need some cut-off point to prevent the dialog from getting too wide.

[2017-05-02 08:07] areijngoudt opened #4353 "Autocomplete - provide reference to the parent component in displayFn"
#### feature request:
in **displayFn**, the **this** refers to the Mdautocomplete component, not to the custom component in which  displayFn  is implemented.
For translation, I need to grab a translationServive which is injected onto my custom component.
My current implementation is kind of a hack:

[code]

[2017-05-02 09:25] andreasrueedlinger commented on #2017
What is the intended use of md-divider? Just for md-list? Because it might as well be useful in md-card?
With the current version you can use md-divider also outside of md-list but it is only shown if list.css is loaded.
Is it possible to move the divider css to a file which is loaded in all use cases?

[2017-05-02 11:36] kaldmaster commented on #2763
We are experiencing the same issue as well. Disabling the checkbox works as expected, but when it's enabled again it looks enabled but is not clickable. This is when using the FormControl.disable/enable(). Using the checkbox's [disabled]-binding works as expected though, so it is possible to use that as a workaround for now.

[2017-05-02 12:20] VladimyrRomanishyn opened #4355 "How to align text by center in md-select element?"
`text-align: center;
 text-align-last: center` doesn't work

[2017-05-02 12:56] AlanCrevon commented on #1692
Same thing here :/

[2017-05-02 12:59] inthegarage opened #4356 "Deleting selection and re-choosing causes wrong selection"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When deleting an old selection and choosing a new one and then select enter it should choose the new selection.

#### What is the current behavior?
When deleting an item and then selecting the new one only the new one should be sent to onSelection change. Delete the current one several times and select a new one, you

[2017-05-02 13:09] willshowell commented on #4297
@ajaysattikar in some places (possibly just progress bars - see #4088), they are used as the `lighter` and `darker` hues for components. Otherwise, you can consume those colors while theming your own components:

[code]

[2017-05-02 13:25] jaetea opened #4357 "Import theme scss multiple times"
#### Bug, feature request, or proposal:
Styling components

#### What is the expected behavior?
Per docs The theme file should not be imported into other SCSS files.

#### What is the current behavior?
Need to import theme file into component theme in order to style it correctly. Per docs
Now you just have to call the @mixin function to apply the theme:

// Import a pre-built theme
@import '~@angu

[2017-05-02 13:26] willshowell commented on #4356
Looks like a dupe of #4094. Fix on the way in #4187

[2017-05-02 13:28] inthegarage commented on #4356
Thanks Will, I can check via the plunkr at any-time. github search wasn't being helpful on the search, hence the possible duplicate.

[2017-05-02 13:48] willshowell commented on #4357
Can you be more specific as to which examples don't match up so they can be fixed?

I agree it's a little hard to follow, and you likely have to read over it twice to get it all. From **theming-you-own-components**, you can use a `@mixin` to theme your component. See the material components source for a supplementary guide of how this is done.

Alternatively, you can skip the `@mixin` approach and

[2017-05-02 13:58] PTC-JoshuaMatthews commented on #1692
I am on "@angular/material": "2.0.0-beta.2",

Using plain old [(sekectedIndex)] does not work for me. Regardless of what it is set to the tab starts on the first tab. Right now have a hacky way of getting it done with a timeout that looks terrible.

  setTimeout(() => {
                    switch (self.tabName) {
                        case 'default': self.tabGroup.selectedIndex = 0; break;

[2017-05-02 14:00] ryanpm40 commented on #4299
In case you weren't aware- sourcemaps were present up until this most recent beta.3.

[2017-05-02 14:03] DevVersion commented on #4299
@ryanpm40 Yep thank you. Once we have our packaging refactored properly (some progress going on there), I will start re-adding the sourcemaps.

[2017-05-02 14:28] fxck opened #4358 "datepicker: startAt and setting value doesn't work correctly"
repro (using mmalerba:dp-a11y):
- predefine value to 2017-05-02 (YYYY-MM-DD), input shows correctly `02/05/2017`
- open datepicker, it opens on a wrong month (second, instead of the fifth)
- select 6th day of the second month (that was open), input changes to `06/02/2017` (should have been 06/05/2017)
- close and open input again, selected day is set to second of february, but calendar opens at si

[2017-05-02 14:44] willshowell opened #4359 "Bug: a single chip defaults to having a margin-left"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Single chips have no margin

#### What is the current behavior?
*in dir=LTR*

If there are two chips, the first has no left margin, and the second has no right margin.
However, a single chip has a left margin of 3px and no right margin.

#### What are the steps to reproduce?
http://plnkr.co/edit/1LocpntStWpV0BBI5OLj?p

[2017-05-02 14:59] fxck opened #4360 "datepicker: `md-datepicker-content` should have the "pane" styles instead of `md-calendar`"
![image](https://cloud.githubusercontent.com/assets/1303561/25624046/90c40f76-2f58-11e7-8515-b8334ba926fc.png)

since it's gonna be used for

anyway

@mmalerba

[2017-05-02 15:04] fxck opened #4361 "datepicker: selected & active border"
![image](https://cloud.githubusercontent.com/assets/1303561/25624261/24cdc194-2f59-11e7-9304-e1987a5a15e7.png)

it looks like badly cropped image and text gets way too close it it when you are using localisation that uses diacritic

I think perhaps `::before` should be used instead of `box-shadow` for the border

[2017-05-02 15:06] froodley commented on #4177
Any update on this?

[2017-05-02 15:16] antoschd opened #4362 "Proposal: Grid-List input to ignore order of tiles and close all gaps"
#### Proposal
Add possibility to prioritize gap closing, even if this means that tiles appear in the wrong order.

#### Current behavior
Order is allways respected. This can cause gaps.
http://plnkr.co/edit/Pl5Zfkrnvu7L9WFv6YOW?p=preview

#### Use-case / motivation for changing an existing behavior
Use-case: Closing gaps is more important than order.
For example: We want to use the grid-list to di

[2017-05-02 15:31] jaetea commented on #4357
When they specify in the second step
[code]

Are they referring to this file in step one?

[code]

[2017-05-02 15:52] willshowell commented on #4357
1. Yes - the file in step one should be named something like `_candy-carousel-theme.scss` and only include that mixin that only affects the color-based styles of your component.

2. Call it from whatever file you call `angular-material-theme()` from:
[code]

[2017-05-02 15:56] jelbourn commented on #4357
The key takeaway is: don't import the file where you `@include` theming mixins. Anything else is fine to import.

It's important to remember that the theming is really nothing but:
* Functions to define / consume palettes (which have no css output on their own)
* Mixins for each component that output the theme-specific styles
* Final `angular-material-theme` mixin that includes all of the individu

[2017-05-02 15:56] #4357 closed

[2017-05-02 15:58] jelbourn commented on #4355
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-05-02 15:58] #4355 closed

[2017-05-02 15:59] jelbourn commented on #4352
We do actually plan on doing this eventually but don't have it as scheduled work at the moment.

[2017-05-02 16:25] willshowell opened #4364 "Retain existing ripples when button state changes to disabled"
#### Bug, feature request, or proposal:
Bug

#### Expected behavior
When clicking on a button that will immediately become disabled, the ripple should remain until it fades out.

![after](https://cloud.githubusercontent.com/assets/6475576/25627660/57451910-2f31-11e7-8107-9fdd9f5c184d.gif)

#### Current behavior
The ripple is immediately destroyed when the button state changes to disabled.

![befor

[2017-05-02 16:28] DevVersion commented on #4364
Yep. We should remove the `*ngIf` and just use the `mdRippleDisabled` binding.

[2017-05-02 17:23] jymdman commented on #4353
You can bind your displayFn to the component with:

`[displayWith]="displayFn.bind(this)"`

Then you can use this.translateService..... without the hack!

[2017-05-02 17:27] jelbourn commented on #4350
This is the behavior of the native `<input>` element.

[2017-05-02 17:27] #4350 closed

[2017-05-02 18:32] shaunak1111 commented on #3496
What is the default behavior for safari for HOME and END keys? In the angular1 material it is the default behavior as intended for input fields. The browserstack tests are failing for HOME and END keys,  therefore their behavior on SAFARI for IOS  needs discussion

[2017-05-02 19:42] tmburnell commented on #348
@abqadeer, can you give an example of how you got the validations on submit to work?
I could not figure out how to set touched on elements on submit for it to work correctly.

however i did the following for the error message colors:
+input did not mark errors in red
+select does not have a container, so not md-hint. So i created one that mocked it.

	md-input-container.ng-touched.ng-invalid {
		/

[2017-05-02 19:47] HarelM opened #4367 "Documentation is lacking"
#### Bug
Can't find proper info in current documentation.
#### What is the expected behavior?
No need to go to stack-overflow on every control.
#### What is the current behavior?
I need to search the web which has little info since this project is still in early stages.
#### What are the steps to reproduce?
You get the point...
#### Which versions of Angular, Material, OS, browsers are affected?
A

[2017-05-02 20:08] theKush commented on #4201
@JDillon522 do you have an example on how you fixed your problem? I am having the same issue where the :host styles is overwriting my css class in snack-bar-container.

[2017-05-02 20:22] JDillon522 commented on #4201
@theKush I just had to be more specific in my styling. I was trying to add error and success type classes. This is what I ended up doing:

[code]

[2017-05-02 20:37] tmburnell commented on #348
I just realized they they added md-error ... and the need for some of my css is no longer needed.  However I still dont know how to make the input trigger in error when you have not touched it.

[2017-05-02 20:58] theKush commented on #4201
@JDillon522 Thanks, It worked by being specific.

[2017-05-02 21:38] fxck commented on #4338
Just use material2-builds, it rarely ever breaks stuff. Been running on the edge for a while without any problems.

[2017-05-02 23:36] #4169 closed

[2017-05-02 23:37] #4359 closed

[2017-05-02 23:38] #4287 closed

[2017-05-02 23:38] #3935 closed

[2017-05-02 23:39] #3813 closed

[2017-05-02 23:40] natsid commented on #2595
@EladBezalel your plunk shows validation working correctly for checkboxes defined in reactive forms. However, validation does not work quite properly for template-driven checkboxes. See [this plunk](http://plnkr.co/edit/olG3GWEqS95YScibmSiz?p=preview).

The second checkbox (material and template-driven) is properly shown as invalid initially. When it is checked, it is then properly updated to vali

[2017-05-03 00:14] absarora opened #4369 "Nothing happens on selectChange event for md-tab"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

call a function on tab selection

#### What is the current behavior?

selectChange event is not working

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/AYQTNaZQYUcZLfc5RoFK?p=info

#### What is the use-cas

[2017-05-03 01:06] stevenmi commented on #581
http://demos.wijmo.com/5/Angular2/FlexGridIntro/FlexGridIntro/

[2017-05-03 02:58] arkhamvm commented on #1331
Any news? Really nice to have.

[2017-05-03 05:48] kuncevic commented on #4137
Got created a custom material module hoping to reduce the bundle size
[code]
Didn't work  still getting same material size `741.28 kb`.

![image](https://cloud.githubusercontent.com/assets/1283734/25649331/d1f7f2f4-3017-11e7-972d-b59221581e0b.png)

Looking forward to bata.4 handling that case.

[2017-05-03 06:33] areijngoudt commented on #4353
This solves the problem. Thanks @jymdman !

[2017-05-03 06:33] #4353 closed

[2017-05-03 06:57] Aides359 commented on #4016
This is also described in https://material.io/guidelines/components/lists-controls.html#lists-controls-types-of-list-controls as `leave-behinds`.

[2017-05-03 07:18] coder925 commented on #348
@tmburnell , there is a workaround described in #4232 for allowing the md-error to show an error even if the control is not touched.

[2017-05-03 07:22] CDDelta commented on #348
@tmburnell running .valid on the input form will also show the md-error on all invalid inputs.

[2017-05-03 09:30] dhineshwiz commented on #2498
Can we something like
`<div class="hint"> This is used as primary message</div>`
Supported in Md-Select

[2017-05-03 13:29] willshowell opened #4371 "Plunker template broken - need to import HttpModule"
(#3792)

cc @DevVersion

[2017-05-03 13:39] DevVersion commented on #4371
Thanks for the heads-up. Will update it later the day!

[2017-05-03 14:02] onalbi commented on #348
If this can help someone, md-error works fine with formControl, for example:

[HTML]
`<fieldset [disabled]="isSubmitting">
                <md-input-container class="full-width">
                    <md-error>{{tagField.errors ? tagField.errors.missedTag : null}}</md-error>
                    <input mdInput class="article-tags" type="text" placeholder="Enter tags"
                           [form

[2017-05-03 14:21] mariohmol commented on #308
Hi there, does anyone has a repo with universal working with some components from angular material?

[2017-05-03 15:05] willshowell commented on #4364
@DevVersion up at #4372!

[2017-05-03 16:01] DevVersion commented on #4371
Done. Thx

[2017-05-03 16:01] #4371 closed

[2017-05-03 16:10] feloy commented on #308
Le 03/05/2017 à 16:22, Mario Mol a écrit :

Hi, you can get a working repo here: https://github.com/feloy/ng-univ

Note that it is working with material2-beta.1, not recent versions.

[2017-05-03 17:45] RobJacobs commented on #4311
Proposed implementation has been checked into my fork listed above.

[2017-05-03 18:09] darrenbrett opened #4373 "Importing Prebuilt-theme Causing Compilation Error"
My dev environment:
MacBook Air, OS X El Capitan 10.11.6
@angular/cli: 1.0.1
node: 7.4.0

I have set up material2 to work with my Angular 2 app, and have set up my styles.css file like this:
`@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';`

My angular-cli.json file looks like this:

[code]

Currently getting this error:

FYI, my package.json looks like this:

[code]

[2017-05-03 18:10] DevVersion commented on #4373
You need to use `^2.0.0-beta.3` of Angular Material. The `prebuilt-themes` folder has been added as part of beta.3

[2017-05-03 18:10] #4373 closed

[2017-05-03 18:12] darrenbrett commented on #4373
@DevVersion, that's a problem, because if I use Material ^2.0.0-beta.3, I'll be forced to upgrade to Angular 4, yes? And then I run into other issues.

[2017-05-03 18:19] DevVersion commented on #4373
Ah okay, here is a way you could use the prebuilt themes in beta.2

[code]

See [here](https://github.com/angular/material2/blob/75b440aa09be4321de437dbc2ac51e727de3e222/guides/theming.md)

[2017-05-03 18:31] darrenbrett commented on #4373
Perfect. Thanks!

[2017-05-03 18:56] absarora commented on #4369
You can close this issue. I was able to solve it by adding the `selectChange` event to `md-tab-group` as follows:

`<md-tab-group (selectChange)="onSelect($event)">`

[2017-05-03 18:56] #4369 closed

[2017-05-03 20:15] dharveshmydeen opened #4376 "md-menu position issue"
I set md-menu at my right corner of the site
i write like x-position="before"
It is working fine in a normal view
but in mobile responsive 375 * I will scroll my page and it is going out of the view (right side of the screen)
i could i give set position for all the responsive view

[2017-05-03 20:23] vqtran opened #4377 "Provide a way to style a particular md-select."
#### Bug, feature request, or proposal:
Feature request.

#### What is the expected behavior?
There should exist a way to style the pop-up menu that appears after clicking on a **particular** md-select. e.g. color of the panel for only one md-select but not the others.

Related to this is putting "class='darkTheme'" on an md-select should style the entire md-select component, not just the part tha

[2017-05-03 20:49] Brandonhutah opened #4378 "MdMenu Positions at bottom of parent."
#### Bug, feature request, or proposal:
MdMenu component is not positioning itself correctly.

#### What is the expected behavior?
I expect the menu to position itself on or directly adjacent to the button that was clicked to create the menu.

#### What is the current behavior?
When the button to toggle the menu is clicked, the menu appears at the bottom of the page.

#### What are the steps to re

[2017-05-03 20:55] willshowell commented on #4378
Don't know if this explains it, but with a quick glance at your repo, it doesn't look like you've included a theme?

[2017-05-03 20:57] HarelM opened #4379 "snack bar basic styles"
#### feature request
Allow basic defaults styles to snack bar - mainly: Info (blue), Success (green), Warning (yellow), Error (red)
Toastr nailed it:
http://codeseven.github.io/toastr/demo.html
#### What is the use-case or motivation for changing an existing behavior?
I would like to stop using third party UI component besides material 2, snack-bar feels incomplete at it current state, you guys kn

[2017-05-03 20:59] Brandonhutah commented on #4378
Wow... it really was that simple. I didn't realize theme's were so crucial to material working properly. I'm just upgrading from Angular 1.6 so this is quite a shift for me. Adding a theme fixes the issue, thanks Will!

[2017-05-03 20:59] #4378 closed

[2017-05-03 21:01] mariohmol commented on #308
Hi there! Thanks for answering.. could not make work using ng-univ .. some libraries problems..
I could make this work porting my project to this example (https://github.com/clbond/angular-ssr/tree/master/examples/demand-express) .. with translate, server with mongoose and frontend with material.. so far so good =)

[2017-05-03 21:06] willshowell commented on #4378
No problem! The theme is more than just a color palette, it includes several of the shared styles, like overlay components in your case.

I think the next release is supposed to start throwing warnings when you forget to add one.

[2017-05-03 22:05] jelbourn commented on #308
FYI: https://github.com/angular/material2/pull/4251 should be landing soon-ish

[2017-05-03 22:13] Levent0z commented on #3946
That's a shame, it looked really nice.

[2017-05-03 23:15] mmalerba opened #4382 "md-input-container should be able to have md-icon-button suffix"
currently this causes the placehodler and input text to get misaligned, since the button is taller than the line-height of the input

[2017-05-03 23:18] jelbourn commented on #4382
Related #2124

[2017-05-03 23:34] natsid opened #4383 "template-driven md-checkbox doesn't properly update its validity"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Template-driven `md-checkbox`es should properly handle directive validators placed on them.

#### What is the current behavior?
Currently only reactively defined `md-checkbox`es properly update their validity according to the validator functions on them. Template-driven `md-checkbox`es do not: once they become valid (

[2017-05-04 00:19] jelbourn commented on #4379
We make it our goal to (mostly) follow the material design spec, which calls the the specific gray color. There is an API for adding a custom css class if you want to customize it.

[2017-05-04 00:19] #4379 closed

[2017-05-04 00:19] jelbourn commented on #4376
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-05-04 00:19] #4376 closed

[2017-05-04 00:21] jelbourn commented on #1217
This is obsolete now that we have `md-input-container`.

[2017-05-04 00:21] #1217 closed

[2017-05-04 00:22] jelbourn commented on #1430
This issue is now replaced by #4093

[2017-05-04 00:22] #1430 closed

[2017-05-04 00:35] dbandstra commented on #3890
Hi @crisbeto, I think the visibly glitchy behaviour was a result of some styles I had overridden.

Anyway, I made a Plunkr: http://plnkr.co/edit/0tU7JMSnYYO9Urm9xryB

You can see the 'problem' by inspecting the DOM. The .cdk-overlay-container element still has stuff in it after you click 'Open dialog' -> 'Remove' -> 'Yes'. I guess it's up to you guys whether this is still an issue.

Also, I used N

[2017-05-04 03:19] kmkatsma commented on #581
I managed to get header row to render even if no data is initially populated by making 2 changes to renderHeaderRow method below.   I actually don't know if this is a horrible hack or not. =)

[code]

[2017-05-04 06:00] dineshdedhia opened #4384 "Vertical Tabs Option (md-tabs)"

[2017-05-04 06:27] bhoomi65 commented on #3326
http://stackoverflow.com/questions/43752090/how-to-do-normal-routing-with-mddialogref-in-angular-4

Thanks in advance.

[2017-05-04 06:31] rotemx commented on #3326
Hi can u make a plunkr of the problem?

On May 4, 2017 09:27, "Bhoomi Bhalani" <notifications@github.com> wrote:

[2017-05-04 06:37] donroyco commented on #4384
This feature has already been requested in #3223 Please use the search function before opening duplicate entries.

[2017-05-04 07:35] karlhaas opened #4385 "Support devices which need a css prefix for flex/transform/..."
#### Bug, feature request, or proposal:
**Proposal**
For our application (https://app.feedbackr.io) we need a solution which works on all (almost all) currently used mobile devices. According to http://caniuse.com/#feat=flexbox adding css prefixes adds support for many devices.

I have prepared changes in the SCSS files and the layout already looks ok. Styles which are added within templates or by

[2017-05-04 08:35] zeves095 commented on #823
there aren't virtual scroll component In milestones. Are you planning to implement it?

[2017-05-04 12:33] glenstaes commented on #685
I have no idea whether integration testing is a compelling use-case, but at the moment I have to trigger the click on the private property `_elementRef`:
`(promptDialog.componentInstance.confirmButton as any)._elementRef.nativeElement.click();`

In my opinion, it's a lot cleaner if I could just do the following (and I would have intellisense on this):
`promptDialog.componentInstance.confirmButton.

[2017-05-04 12:57] karlhaas commented on #4385
I just saw that the project uses autoprefixer. Does it mean it should already apply all the prefixes?

[2017-05-04 13:55] kylecordes commented on #4367
I'm not sure a catchall "better documentation" item is all that useful...  But if it is, if someone is mining this list for ideas, I would like to contribute the following idea:

Ideally the example for Angular Material would result in a reasonably "full up" running demo which follows Material default guidelines pretty closely. For example it could include a nav drawer which looks like this:

http

[2017-05-04 15:57] jaetea commented on #4357
`// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.
$redlight-app-primary: mat-palette($mat-red);
$redlight-app-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$redlight-app-warn:    mat-palet

[2017-05-04 16:38] #4384 closed

[2017-05-04 16:41] jkbreunig opened #4386 "Menu position not working"
#### Bug:

#### What is the expected behavior?
If menu button is aligned to the right side of the screen then the menu dropdown should also align on the right side of the screen.

#### What is the current behavior?
If menu button is aligned to the right side of the screen then the menu dropdown appears on the left side of the screen.

#### What are the steps to reproduce?

ng new test-menu
npm ins

[2017-05-04 16:45] andrewseguin commented on #4367
I don't think we'll be able to actively track an issue like this, since it is so broad.

You are welcome to either open an issue for each of the documentation items you see are missing, or help us by submitting pull requests that modify the documentation.

We are happy to welcome any improvements to our docs, which are still an ongoing effort.

[2017-05-04 16:45] #4367 closed

[2017-05-04 16:48] jaetea commented on #4357
@jelbourn what does this comment mean?

The key takeaway is: don't import the file where you @include theming mixins. Anything else is fine to import.

Is this incorrect?

`@import "assets/css/themes/feelingblue";
@import "assets/css/themes/redlight";

@include angular-material-theme($candy-app-theme);

@include redlight-material-theme($redlight-app-theme);`

[2017-05-04 16:48] #4356 closed

[2017-05-04 16:51] andrewseguin commented on #4323
The tab nav bar doesnt not yet support scrolling on overflow. Will mark this as a feature request.

[2017-05-04 16:53] willshowell commented on #4386
Have you included a theme in your project? That's often the reason for being unable to replicate in a plunker

[2017-05-04 16:53] anapanadero commented on #4235
I have the same problem

[2017-05-04 16:55] andrewseguin commented on #4319
Sorry, not sure I understand the issue. `mat-list` class is applied to the `md-list` component. The `md-grid-list` will get the `mat-grid-list` style.

[2017-05-04 16:57] andrewseguin commented on #4307
Please follow the issue template and include reproduction steps. The issue you are describing sounds simple enough that it can be applied in a plunkr, which would significantly help us debug your issue and add a fix.

[2017-05-04 16:57] #4307 closed

[2017-05-04 17:05] DevVersion commented on #4235
@anapanadero The next release will include the fix for this issue.

[2017-05-04 17:40] naveedahmed1 commented on #1406
Any update on this?

[2017-05-04 17:52] HarelM opened #4387 "RTL documentation missing"
Breaking of #4367:
####  proposal:
RTL support exists but I could find how to use it in the documentation, I found an issue, linked to a changeset leading to the relevant code.

[2017-05-04 17:54] MuhammadShaban commented on #4387
+1

[2017-05-04 17:54] HarelM opened #4388 "Dialog documentation example is not so good"
Breaking of #4367:
#### Bug
Dialog example doesn't show the dialog code
the dialog is too simple - dialog should probably include inputs and outputs.

[2017-05-04 17:58] jkbreunig commented on #4386
That fixed it, thanks

[2017-05-04 17:58] #4386 closed

[2017-05-04 17:58] HarelM opened #4389 "Documentation for Input is too simple"
Breaking of #4367:
#### feature request
Input example is so simple that it doesn't cover day-to-day cases.
What would help:
ngModule and how to use it's value in a component.
How to use multiple inputs one after the other and one by the other.
How to stretch them to full width.
It is not clear if a directive can be added to an element or needs to be an element of its own, for example: `md-input-co

[2017-05-04 18:05] HarelM commented on #4367
I currently don't have the time right now to invest in understanding how the documentation engine works since I'm investing time in studying how to make material work...
Opened relevant issues, Enjoy!

[2017-05-04 18:08] HarelM commented on #4379
Thanks for the quick response.
My 2 cents:
I believe that in this case, the material design spec should be updated to include these scenarios as they are so common in my experience, almost every piece of software I wrote in all the UI languages I used needed these options...
I don't know where to file a request to update the design spec...
Good luck!

[2017-05-04 18:10] thisisgit commented on #4319
<md-list> is present on both MdListModule and MdGridListModule. I don't know if <md-list> is supposed to be present in MdGridModule alone but anyway, it does and have separate style from the one in MdListModule. Try using that component by importing each module separately and you'll be able to see .mat-list class applied only in the one in MdListModule

[2017-05-04 18:32] calbot opened #4391 "MdCheckbox checked & indeterminate input properties can conflict with visual checked state"
#### Bug, feature request, or proposal:
BUG

Looking at "Examples" tab at https://material.angular.io/components/component/checkbox
If you click "Checked" and "Indeterminate" then click the result checkbox at the bottom the checkbox is allowed to clear but checked and indeterminate stay checked.

#### What is the expected behavior?
It seems to me that it should not be possible for the model provid

[2017-05-04 19:30] crisbeto commented on #3890
Thanks, that's definitely a bug. I'll look into it.

[2017-05-04 20:45] rudzikdawid commented on #1514
https://material.angular.io/components/component/sidenav
inside docs:
[code]

but it doesn't work
Google Music, material design app by the way... has two sidenav.
And it is very elegant solution

[2017-05-04 20:54] willshowell commented on #1514
@rudzikdawid They can't both be "start". Did you align them "start" and "end"?

[2017-05-04 21:46] #4320 closed

[2017-05-04 21:47] #3857 closed

[2017-05-04 21:47] #4155 closed

[2017-05-04 23:25] jdell64 commented on #2124
Maybe this is a silly suggestion, but could the heights / offsets be an '@Input()' ?

[2017-05-05 01:52] LOZORD commented on #2124
@jdell64, that's not what `@Input`s are really used for. You wouldn't want heights/offsets to be configurable (in a template) like colors or `disabled`s are, for example. It might lead to a style inconsistent with Material.

[2017-05-05 02:46] jorroll opened #4396 "Proposal: allow md-sidenav to align to the bottom|top of md-sidenav-container"
#### Bug, feature request, or proposal:
feature request

#### What is the expected behavior?
`md-sidenav` should be able to align to the `bottom` and `top` of a `md-sidenav-container`, in addition aligning to the `start` or `end` (right or left) of a `md-sidenav-container`. I imagine, to simplify implementation, it will be necessary to limit a specific instance of `md-sidenav-container` to either

[2017-05-05 06:06] atul221282 commented on #2124
adding line-height tp 40px and vertical-align to middle is working for me in chrome and ie edge but still like to have a proper fix rather than hack

[2017-05-05 06:44] anapanadero commented on #4235
Great! Thanks

[2017-05-05 07:05] sdargaud commented on #2498
Please don't forget md-error.

[2017-05-05 07:23] alvachien commented on #581
Looking forward to the release of this control!!!!

[2017-05-05 13:26] willshowell commented on #4396
Sound like [bottom sheet](https://material.io/guidelines/components/bottom-sheets.html). It's on the README as a future component but isn't being tracked by any issues.

[2017-05-05 14:28] ryanpm40 commented on #4351
Glad to see this feature request, it's exactly what I've been looking for!

I also think we should have the option to loop through an array in the same way you can for md-options inside an md-select.

[2017-05-05 14:34] klearchos opened #4397 "Radio button group and boolean value"
#### Bug
The possibleAnswer.isCorrect has a boolean value. In that case all the components are rendered as selected.
If I change the isCorrect to id, then the component behaves correctly.

    <md-radio-group class="question-radio-group" *ngIf="currentQuestion" [(ngModel)]="selectedAnswer"
                    (change)="onRadioChange()">
      <md-radio-button class="question-radio-button"

[2017-05-05 14:36] ryanpm40 commented on #4388
Just an FYI - If I'm understanding your first issue correctly, you can view the dialog code by clicking the "Edit In Plunker" icon at the top right of the example.

[2017-05-05 14:44] HarelM commented on #4388
Didn't know that, Thanks!
But I'm sure other like me would look for it in the main page and not in the plunker example, so I believe the documentation page should include it as well...

[2017-05-05 14:59] willshowell commented on #4397
Plunker?

[2017-05-05 15:13] willshowell commented on #3837
Fixed by #3952

[2017-05-05 16:11] epelc opened #4398 "Proposal: Make `MdDialogConfig` generic and use type for `data` property"
#### Bug, feature request, or proposal:

I propose making `MdDialogConfig` a generic and use the type for the `data` property to add better type safety.

See https://github.com/angular/material2/blob/master/src/lib/dialog/dialog-config.ts#L49

Instead of using any you could do
[code]
This would give better type safety on the data property.

#### What is the current behavior?
Data is type `any`

##

[2017-05-05 17:05] GaryB432 commented on #4185
hi... I'm seeing the `pointer` over the label but `default` over the checkbox itself. Is that the intention?

e.g. `<md-checkbox [checked]="true">Pointer Cursor Here</md-checkbox>`

[2017-05-05 17:20] alvachien commented on #3175
@vyakymenko The status for the tree in README.md still 'Not started'

[2017-05-05 17:22] KevinVillela opened #4399 "FR: Textarea should support mdAutocomplete"
**I'm submitting a... feature request**

**Current behavior**
<md-input-container>
  <textarea mdInput [mdAutocomplete]="auto"></textarea>
</md-input-container>
<md-autocomplete #auto="mdAutocomplete">

Gives error:
Can't bind to 'mdAutocomplete' since it isn't a known property of 'textarea'.

**Expected behavior**
The ability to attach an autocomplete to a textarea, similar to how it is done with

[2017-05-05 17:38] thefliik commented on #4396
@willshowell yes, it looks like bottom-sheet would supply the `bottom` alignment part of this functionality.

[2017-05-05 18:44] vyakymenko commented on #3175
@alvachien , because I have not started it per comment from @tinayuangao:
`The tree component's design and implementation are in-progress.`

[2017-05-05 19:03] bhelzer opened #4402 "Placeholder text disappears in mdInput with overflow and column-count style"
In an element with overflow set to auto, and an inner element with column-count set to 1 or 2, the placeholder text of an mdInput element is not visible, except during animation.

http://embed.plnkr.co/6NxPVlVeRVeVpOQeKnNk/

Chome, Angular 4.0, material 1.0 beta 1

[2017-05-05 19:30] DevVersion commented on #4396
I'm assigned to create the bottom-sheet at some point. Should we use this as the issue?

[2017-05-05 20:19] mmalerba commented on #348
Closing this since we now have `<md-error>` and a section in the input documentation on how to use it

[2017-05-05 20:19] #348 closed

[2017-05-05 20:34] maxime1992 commented on #1018
With `material 2.0.0-beta.3` we now have to import every modules one by one and I forgot `MdSelectModule` which gave me this error. (might help someone)

[2017-05-05 20:34] mmalerba commented on #604
This seems to be fixed now, for an input with placeholder: "I [favorite icon] bold placeholder" voiceover reads "I favorite bold placeholder"

[2017-05-05 20:34] #604 closed

[2017-05-05 20:39] crisbeto commented on #4398
I think that this definitely makes sense, however it'll be a breaking change. I think that we should wait with it until we start supporting TypeScript > 2.3, which introduces default values for generic parameters.

[2017-05-05 20:44] mmalerba commented on #1213
This has been implemented via the `disableClose` property on `<md-sidenav>`

[2017-05-05 20:44] #1213 closed

[2017-05-05 20:54] mmalerba commented on #2224
@robisim74 Can you provide a more detailed set of repro steps and description of what the problem is. I updated your plunker to work with the latest material version: http://plnkr.co/edit/IvLXYMiAHqr8mbmT9cGB?p=preview

Everything appears to be working correctly? Are you referring to the focus outline that appears around the "Home" link when you open the sidenav?

[2017-05-05 21:02] mmalerba commented on #2810
Closing since this has been implemented via `<md-error>`

[2017-05-05 21:15] robisim74 commented on #2224
Hi @mmalerba,

yes, the focus is always on the base path _Home_:

![image](https://cloud.githubusercontent.com/assets/14012361/25764457/28833f44-31e8-11e7-84c1-1fd2c65d8fce.png)

Steps:
- I open the menu
- I click on _Resources_
- I close the menu
- I reopen the menu: the focus is on _Home_ (blue border & grey background)

You can see this behavior also in the official Angular Material site:

![im

[2017-05-05 21:17] arciisine commented on #2810
@mmalerba I don't believe `<md-error>` provides any form of automatic binding of FormControl error messages.  As I understand it, it is only used for specifying error messages one by one, but nothing automatic, which is the goal of this issue.

[2017-05-05 21:57] mmalerba commented on #2224
I see, I'm not sure which is the correct item to focus from an accessibility standpoint (the first one or the current one) - I will look into that. The outline seems like a bug, you can fix it for now by adding this to your CSS:

[code]

[2017-05-05 21:59] mmalerba commented on #2810
Ah sorry, will re-open this for discussion

[2017-05-05 22:12] robisim74 commented on #2224
In my opinion always the current one, according to `routerLinkActive`. Thanks for the tip.
Greetings,
Roberto

[2017-05-06 00:10] #3837 closed

[2017-05-06 03:35] juanvillegas commented on #1191
@burhankaraman indeed, angular material and angular material**js** are different projects..

[2017-05-06 09:25] fxck opened #4406 "datepicker: automatic positioning"
![image](https://cloud.githubusercontent.com/assets/1303561/25771306/8a611dec-324e-11e7-9963-0a7a462afee3.png)

it should open up when there's not enough space at the bottom, otherwise it's gonna be completely unaccessible

[2017-05-06 14:48] dkontorovskyy commented on #4086
This solution is not working either.

Getting

[2017-05-06 16:31] George35mk opened #4409 "how to get the image file path from the input file thats is inside Modal component"
#### Bug, feature request, or proposal:
Help I cant find nothing on the internet

#### What is the expected behavior?
I want to get the image path from input file

#### What is the current behavior?

## this is the modal.html
[code]

## and this is were I get all the values of the form except the image

[code]

## I get all the values like title - description put I can't get the image path, How I

[2017-05-06 16:49] fxck opened #4410 "calendar: passing template to month/year view / calendar body"
I would like to use the month view as a separate, independent, fullscreen component, displaying extra info in each day

[2017-05-06 18:51] oliviertassinari commented on #4274
I have just come across that issue. Thanks for sharing the path going forward!

We have been facing the same need for [Material-UI](https://github.com/callemall/material-ui).
We came up with two independent solutions.
- [vrtest](https://github.com/nathanmarks/vrtest) A JavaScript library for running visual regression tests on your components cross browser via selenium.
- [argos-ci](https://github.

[2017-05-06 19:29] HarelM opened #4411 "Text inside tooltip does not follow relevant direction"
#### Bug, feature request, or proposal:
Bug/feature

#### What is the expected behavior?
Tooltip text direction should follow parent direction or be configurable

#### What is the current behavior?
Tooltip text direction is always ltr (I think, I didn't manage to change it without external class)

#### What are the steps to reproduce?
http://plnkr.co/edit/4C7eFaJk9HibjfWtHgIC?p=preview
See text di

[2017-05-06 19:46] mmalerba commented on #4358
This is a limitation of the native JS Date object since It's not possible to set a parse format. We are planning to add a `MomentDateAdapter` soon (and corresponding `MD_MOMENT_DATE_FORMATS`) that will work with [moment.js](https://momentjs.com/), a library that has more robust date parsing and formatting.

If you don't want to use moment, it's easy to write your own adapter for whatever date impl

[2017-05-06 20:02] fxck commented on #4358
Hmm, right. I've already written my own date-fns adapter, but apparently it cannot parse different formats either... yet anyway - https://github.com/date-fns/date-fns/pull/375

But doesn't this basically mean that you won't able to use locale out of the box unless you use momentjs, which is absolutely humongous untreeshakable lib? Wouldn't it be worth shipping with an adapter that can do actually

[2017-05-06 21:42] theiliad opened #4412 "Add the Ink Ripple to <md-list-item> on click"
#### Bug, feature request, or proposal:
The ripple effect on list items in AngularMaterial1 is beautiful. Would be great if it was available in material2 as well.

#### What is the expected behavior?
https://material.angularjs.org/latest/demo/list

#### What is the current behavior?
No interaction/animation

#### What are the steps to reproduce?
https://material.angularjs.org/latest/demo/list

###

[2017-05-06 22:11] #4409 closed

[2017-05-06 22:11] mattheiler commented on #4245
This would make the card a lot more flexible. I currently can't add tabs, a toolbar, a list, etc. to my cards.

Might I add that the footer should not be positioned absolutely. I have to give my cards a fixed height just to use it, which I don't want to do. If the cards are in a collection, then the body should fill the height and scroll, if the height has a max.

[2017-05-06 23:37] mattheiler commented on #4245
By no means is this an exhaustive, tested list, but... had to add a lot of `!important` styles to fit the spec:

[code]

[2017-05-07 14:14] ArtisanDuCode commented on #4245
I do not think we have to put everything in !important.

[2017-05-07 14:54] mattheiler commented on #4245
Definitely not, but I had to put it in there as a workaround.

[2017-05-07 16:17] DevVersion commented on #4412
I don't think that there is an easy way to detect if a `(click)` handler is attached to the host element of an element.

Ripples currently only work inside of `md-nav-list` elements, but with #4414 ripples can be enabled for normal lists too.

[2017-05-07 16:20] DevVersion commented on #4387
I think a guide in the `guides/` folder would be enough. cc. @EladBezalel

[2017-05-07 16:53] EladBezalel commented on #4387
@HarelM @DevVersion well, i think the basic assumption is that it works out of the box, we can use a guide that says use `dir="rtl"` on `html/body` and automatically all the components will support it

[2017-05-07 17:33] HarelM commented on #4387
True, but material 2 also supports dynamic content direction change using `[dir]=...` which is a great feature that IMHO deserves a guide/page/paragraph somewhere.

[2017-05-07 17:34] DevVersion commented on #4387
Yeah I agree that we should briefly mention that RTL support is there & how you could use it.

Also import to mention is that RTL mode doesn't work when specifying the direction from CSS.

[2017-05-07 18:20] xonuzofa opened #4416 "Snackbar not dismissing properly in async callback"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When dismiss is called, the snackbar should close.

#### What is the current behavior?
When dismiss is called in async callback, snackbar does not close, nor does the afterDismissed callback get called until the screen is resized. As soon as I change screen size, the snackbar disappears and the afterDismissed is calle

[2017-05-07 18:28] crisbeto commented on #4416
Can you post a Plunkr that shows the issue? [You can use this one as a starting point.](https://goo.gl/DlHd6U)

[2017-05-07 18:30] George35mk opened #4417 "autocomplete error no proviser for ngControl ??"
#### Bug, feature request, or proposal:

I don't know I just want this example to work on my project
https://material.angular.io/components/component/autocomplete

#### What is the expected behavior?

I want to autocomplete to work

#### What is the current behavior?

I have error

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your

[2017-05-07 19:15] xonuzofa commented on #4416
I created a Plunkr and it worked! Lol, I figured out it was an issue with NgZone and not detecting changes properly.  Using the zone.run fixes the issue for anyone else who is having this problem.

    generatePumpReport() {
		this.disableSummaryReport = true;

		let ref = this._snackBar.open('Job Summary Report is being generated, please wait.');

		Meteor.call('generatePDF', this.reportPump.getH

[2017-05-07 19:15] #4416 closed

[2017-05-07 19:54] sabithpocker commented on #3706
I am able to use <kbd>Tab</kbd> and <kbd>Shift</kbd>+<kbd>Tab</kbd> to navigate between chips, Also <kbd>Enter</kbd> selects the chip. Is this already fixed?

[2017-05-07 23:35] kwiesmueller opened #4419 "md-button not firing click event in nested ngFor"
#### Bug, feature request, or proposal:
When nesting ngFor Loops with for example ul/li a contained md-button won't fire click events on a certain level.

#### What is the expected behavior?
The md-button should fire click events.

#### What are the steps to reproduce?
http://plnkr.co/edit/qs1brc?p=preview

#### What is the use-case or motivation for changing an existing behavior?
md-button should

[2017-05-07 23:49] DaveBest99 commented on #3706
I don't believe updates have been made yet.

When using Firefox and JAWS screen reader focus will not move from the ListBox with Tab and Shift+tab.

When using Internet Explorer and Jaws screen reader the Tab key moves focus to the next page element, but the Shift+tab does not move the focus from the ListBox.

The Escape key does not close the ListBox, and

The Spacebar or Enter key does not selec

[2017-05-08 06:43] e-cloud opened #4420 "export the typography api"
#### Bug, feature request, or proposal:
feature request

#### What is the expected behavior?
user can use the typography scss api

#### What is the current behavior?
No scss api exported, at least not exported at latest master by now

#### What are the steps to reproduce?
no

#### What is the use-case or motivation for changing an existing behavior?
control the typograhpy

related: #205 #4162

[2017-05-08 07:18] klearchos commented on #4397
Hi @willshowell,

I have created the plunker project and I have found the issue.
It was not related to the materialise project but it was related with the domain objects.
I was binding it to an undefined dto variable.

Sorry for the false alarm.

[2017-05-08 07:18] #4397 closed

[2017-05-08 09:34] NCC1701M opened #4421 "Add value to md-dialog-close attribute"
Feature request

#### What is the expected behavior?
It should be possible to assign a value to the md-dialog-close attribute which will be *next* value of the afterClose observable. For example:

[code]
[code]

or

[code]
[code]

#### What is the current behavior?
`md-dialog-close` closes the dialog but doesn't pass a value.

#### What is the use-case or motivation for changing an existing behavi

[2017-05-08 10:58] gtzinos opened #4422 "How to change md-icon size"
Hello,

I use the class "md-24" on my md-icon but it doesn't work.

Here is a workaround but am i missing an official way ?

.material-icons.md-18 {
font-size: 18px !important;
height: 18px !important;
width: 18px !important;
}
.material-icons.md-24 {
font-size: 24px !important;
height: 24px !important;
width: 24px !important;
}
.material-icons.md-36 {
font-size: 36px !important;
height: 36px !imp

[2017-05-08 12:45] simerlec commented on #1179
I'm not sure if I should open a new issue for this because this is exactly the behaviour I am experiencing as well. Following the Material Guide here I created my sidenav as described, only with a router outlet in the main content div, but this should not matter

[code]

The issue I'm having is that this fix for a fullscreen sidenav (since we should not use the fullscreen attribute! https://github

[2017-05-08 13:48] limpep opened #4423 "MdAutocomplete not filtering when using displayWith"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Items displayed on the panel should be filtered based on the search string

#### What is the current behavior?
Full list of items displayed

#### What are the steps to reproduce?

Plucker example https://plnkr.co/edit/l7Vb9lmu9oUcJO3XLqXf?p=preview

#### Which versions of Angular, Material, OS, browsers are affected?

[2017-05-08 13:52] jackvial commented on #4221
Looks like it's related to the new event listener options. More on it [here](https://github.com/WICG/EventListenerOptions/blob/gh-pages/explainer.md)

There is no a new options object that can be passed to the addEventListener. The warning is saying the passive event listeners on the page should be passed the {passive: true} option to improve scroll performance. `document.addEventListener('touchst

[2017-05-08 13:54] willshowell commented on #4419
Your click events are definitely firing

[code]

[2017-05-08 14:00] iliketomatoes opened #4424 "md-error element is showed only when input loses its focus (at least on the first interaction)"
#### Bug, feature request, or proposal:
bug (bad UX)

#### What is the expected behavior?
I would expect md-error elements to be shown as soon as the error is triggered.
Or at least, I would like to choose whether to show the error ASAP or only when the input element loses its focus.

#### What is the current behavior?
Errors are shown only when an input element loses its focus, at least for the f

[2017-05-08 14:07] willshowell commented on #4423
This is a bug with your code, rather than material. Your filter is not testing against `option.name`

[2017-05-08 14:15] limpep commented on #4423
@willshowell this is not my code this is the code on the docs, here at the bottom https://material.angular.io/components/component/autocomplete

[2017-05-08 14:18] willshowell commented on #4424
I suspect they're following the [material guidelines](https://material.io/guidelines/patterns/errors.html#errors-user-input-errors) on this one:

It's calculated [here](https://github.com/angular/material2/blob/master/src/lib/input/input-container.ts#L386-L395), so maybe you can mark it as touched on (focus)?

[2017-05-08 14:20] willshowell commented on #4423
Ohh I see! Yeah it should be this

[code]

[2017-05-08 14:29] limpep commented on #4423
@willshowell That works, thanks.

[2017-05-08 14:36] willshowell commented on #4423
Cool, just opened a PR to fix the docs

[2017-05-08 14:49] angularexample commented on #1130
Try this, in your template:
`<md-sidenav #xxxMenu mode="over" (window:resize)="onResize($event.target.innerWidth)">
  <nav *ngFor="let bookmark of bookmarks">
    <h3 *ngFor="let section of bookmark.sections">{{section.title}}</h3>
    <ul>
      <li></li>
    </ul>
    <a (click)="onLinkClick()" routerLink="{{bookmark.url}}" routerLinkActive="active">{{bookmark.title}}</a>
  </nav>
</md-sidenav>

[2017-05-08 15:01] tagazok commented on #1662
friendly ping :)
Any plan to merge the PR soon?

[2017-05-08 15:07] kwiesmueller commented on #4419
Ok, that is strange... I tried with direct console.log calls in 2 different projects and no events where fired O.o. Let me check this.

[2017-05-08 15:11] iliketomatoes commented on #4424
All right @willshowell, thanks for the heads up!

[2017-05-08 15:12] #4424 closed

[2017-05-08 15:33] stevenmi opened #4427 "i found the autocomplete component have a bug in ie11"
i add two autocomplete components in my page,
when the component init the first one works well when i move into the autocomplete input ,it show all the values.
but the second cann't list all the values,but when i input some words ,the filter works,and list filterd values.

[2017-05-08 15:39] gtranter opened #4428 "Floating input placeholder is aligned to the right of the prefix"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The floating placeholder should be left aligned with the left side of the entire md-input-container, above any prefix if there is one.

#### What is the current behavior?
When an input's placeholder is floating (whether automatic or deliberate) and the input also has a prefix via MdPrefix, the placeholder is left alig

[2017-05-08 15:56] skoblenick opened #4429 "Grid List demo not displaying correctly in Angular docs and Plunker"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
A background color should be applied to the items in the inline grid list demo and the related Plunker

#### What is the current behavior?
No background color is applied to the items in the inline grid list demo or Plunker example

#### What are the steps to reproduce?
1.  Navigate to https://material.angular.io/compo

[2017-05-08 16:08] jdell64 opened #4430 "Support [hidden] on buttons"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
hidden selector should hide a button if the value is true.

#### What is the use-case or motivation for changing an existing behavior?
I am making a wizard using material design, and i need to hide my next button when I reach the last step.

#### Which versions of Angular, Material, OS, browsers are affect

[2017-05-08 16:11] DevVersion commented on #2158
The material design specifications mention a box-shadow of z-16.

But as you said, you can always customize the box-shadow on your own.

[2017-05-08 16:11] #2158 closed

[2017-05-08 16:17] #2394 closed

[2017-05-08 16:20] DevVersion commented on #4417
Please try to demonstrate the issue inside of a Plunker: https://goo.gl/DlHd6U

[2017-05-08 16:20] #4417 closed

[2017-05-08 16:45] willshowell commented on #4427
Plunker?

[2017-05-08 16:47] mmalerba commented on #1179
@simerlec Yeah this is still an issue with the recommended approach. It's high on my list of things to work on.

[2017-05-08 16:47] willshowell commented on #4428
Dupe of #3660

[2017-05-08 17:20] tmburnell commented on #4050
@jelbourn, I want to confirm:
should imports be done like this:

    import { MaterialModule} from '@angular/material';

    beforeEach(async(() => {
      TestBed.configureTestingModule({
        imports: [
            MaterialModule
        ]
      })
    }));

or do all components need to be imported like this:

    import { MdProgressSpinnerModule} from '@angular/material';

    beforeEach(asy

[2017-05-08 17:41] gtranter commented on #3660
It looks bad - really bad - in a list of inputs where the labels are 'always' floating and each input has a different prefix or some have no prefix: http://plnkr.co/tiBos98s7cX9Lz0cCVQu. This is the main problem as I see it - as I stated in #4428.

[2017-05-08 17:49] ocarreterom commented on #4430
Why not use `<button *ngIf="isLastStepCondition"></button>`?

[2017-05-08 17:50] mmalerba commented on #4428
Closing as dupe of #3660

[2017-05-08 17:50] #4428 closed

[2017-05-08 17:51] gtranter commented on #4428
Sorry about the dupe - I did a search, but found nothing - must have chosen the wrong search terms.

[2017-05-08 17:56] gtranter commented on #3660
The Polymer animation from float to inline looks okay - it goes right then down. So up then left is probably the way to go. Why Polymer did left then up I don't get - but it isn't horrible.

[2017-05-08 18:37] farley911 opened #4433 "support mini sidenav"
#### Bug, feature request, or proposal:
Add support to display a mini version of the sidebar instead of completely closing it

#### What is the expected behavior?
When the sidenav is toggled instead of setting visibility to hidden and completely hiding it allow the developer to provide a min-width that remains visible.

#### What is the current behavior?
When the sidenav is toggled it is completel

[2017-05-08 19:04] theiliad commented on #4412
Thanks @DevVersion 👍
https://github.com/angular/material2/pull/4414

[2017-05-08 19:07] skoblenick commented on #2814
Fix for the supplied Plunker: http://plnkr.co/edit/fy1PnCCHnZvmnrrW2Eue?p=preview

[2017-05-08 19:41] jdell64 commented on #4430
Oh wow... yeah, that will work. I was moving someone else's code around to a newer version and it wasn't working... I ended up wrapping it in a span using the `hidden` tag, but yeah, that ng-if would work.

The only thing I can think of is if you wanted it to be on the dom without showing it, but this doesn't bother me at the moment.

[2017-05-08 19:47] sabithpocker commented on #4093
Auto complete overlayed dropdown position is not updated on scroll.

[2017-05-08 19:50] crisbeto commented on #3890
The issue seems to be with the animations module @dbandstra. You can work around it either by using `closeAll` to close all of the dialogs, or wrapping the final `dialogRef.close` call in a setTimeout.

[2017-05-08 19:54] farley911 commented on #4056
custom themes being written in sass throw an error

[2017-05-08 20:13] #4423 closed

[2017-05-08 20:50] ocarreterom commented on #4430
You can hide with CSS using [ngStyle](https://angular.io/docs/ts/latest/api/common/index/NgStyle-directive.html) or [ngClass](https://angular.io/docs/ts/latest/api/common/index/NgClass-directive.html).

[2017-05-08 20:55] WildDev commented on #4027
+1 to see this working with relying simply on `*ngIf`, at least as an option, since the purpose of the `md-error` is quite trivial.

That would be useful for the post-submission validation issues detection.

[2017-05-08 21:02] gtranter opened #4435 "Determinate Progress Spinner should draw incomplete portion of circle"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
The progress completed is shown as it currently works, with the incomplete section drawn in a different hue/color.

#### What is the current behavior?
Only the completed progress is drawn. The rest of the circle is missing.

#### What are the steps to reproduce?
https://material.angular.io/components/component/pr

[2017-05-08 21:16] dallastjames commented on #3999
@ronanamsterdam You can mark dependencies as optional using [@Optional()](https://angular.io/docs/ts/latest/guide/dependency-injection.html#!#optional) from the Angular core library. It just means that your constructor and component would need to handle the possibility of not having the dialog data (for example, in a unit test).

[code]

Handling the dialog data like this means that in your unit t

[2017-05-08 21:47] rodrigjg opened #4436 "[Tabs] Inkbar should disappear when navigating away from a tab-denoted route"
#### Bug, feature request, or proposal:
Proposal:

When having a navigation bar that includes tabs, once the user navigates to a part of the application that is not denoted by the tabs, the inkbar should become hidden. For example say clicking on the company/website logo or text takes you to a dashboard that is not part of the tabs. The tabs part of the navbar does not have active tabs and thus th

[2017-05-08 23:21] sabithpocker opened #4437 "md-basic-chip gets mat-chip class when using [class]="myClass""
#### Bug

#### What is the expected behavior?
`<md-basic-chip [class]="color">I'm basic </md-basic-chip>` should remain un-styled even if we add custom class using `[class]="myClass"`

#### What is the current behavior?
`<md-basic-chip [class]="color">I'm basic but got an unwanted style :(</md-basic-chip>` changes to `md-chip` style if we add custom class using `[class]="myClass"` by adding an ext

[2017-05-08 23:30] sabithpocker commented on #4437
Not an issue actually, should have used `ngClass`.

Fixed by using `<md-basic-chip [ngClass]="color">I'm basic </md-basic-chip>`

[2017-05-08 23:30] #4437 closed

[2017-05-08 23:57] vishnuaman commented on #675
Is the date picker configurable to make it inline rather than a popup? Is it part of the specs?

[2017-05-08 23:59] mmalerba commented on #4358
Happy to consider adding adapters for other implementations, but implementing robust internationalized date parsing and formatting is outside the scope of Angular Material. `NativeDateAdapter` is provided for users who need a very basic implementation that doesn't depend on any additional libraries, but in most cases people will want to use the moment adapter or create their own.

[2017-05-09 00:03] farley911 opened #4438 "Material doesn't play well with Karma and the CLI"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When running `ng test` tests should run without warning about Angular Material or HammerJS

#### What is the current behavior?
Any component that involves Angular Material will throw a warning when running `ng test` which causes the results to be cluttered and difficult to read.

#### What are the steps to reproduce?

[2017-05-09 00:38] willSonic opened #4439 "MdInput cursor focused() is not working when it becomes visible"
#### Bug, feature request, or proposal:
Not sure. Seems like a bug or perhaps I am missing something

#### What is the expected behavior?
There should be some way to, call focus() to set the cursor to input.

#### What is the current behavior?
I am able to force the MdInput to focus, but the cursor does not show up.

#### What are the steps to reproduce?
1) Sign Up Card appears with only one input

[2017-05-09 01:16] skyfremen opened #4440 "Docs(autocomplete): regex filter search issue with character "?" and "$""
#### Bug, feature request, or proposal:
Documentation Bug on custom filtering : https://material.angular.io/components/component/autocomplete

#### What is the expected behavior?
Able to filter with character starting with ? and $

#### What is the current behavior?
Application crashes when filtering with character starting with ?
Not able to filter with character starting with $

#### What are th

[2017-05-09 06:35] donroyco commented on #4422
As @jelbourn [mentioned](https://github.com/angular/material2/issues/1891#issuecomment-261411358) in #1891:

[2017-05-09 07:04] thefliik commented on #4396
@DevVersion, I imagine that question isn't directed at me, but sure.

It's unclear from the material design spec for bottom sheet, but I'd like to put in a request for bottom sheet to support `mode="'push'"`. Also, I imagine you've chosen to separate out `md-sidenav` and `md-bottom-sheet` because that's what the material design spec does, but, imho,

A) having separate components for `bottom` vs `

[2017-05-09 07:45] DevVersion commented on #4396
The question was indeed directed to you.

As Angular Material follows the Material specifications we mostly follow the names that have been specified there.

A bottom-sheet can be only opened from the bottom and I don't think that a sidenav will have that functionality at some point.

So I really think that this issue is for the bottom-sheet.

[2017-05-09 08:09] mackelito commented on #4396
hmm are you guys sure that it´s not https://material.io/guidelines/components/bottom-navigation.html that you are looking for?

[2017-05-09 08:15] gtzinos commented on #4422
Okay thank you.

[2017-05-09 08:28] nstohler opened #4441 "Learning Resources: site design templates"
I've had some problems to build up a site from zero using all the different material2 elements.

#### feature request:
Learning to get a new site up and running could be improved by offering some site/app templates. MDL has this here: https://getmdl.io/showcase/index.html. They provide a good starting point on how to best build up an app from a good code base.

#### What is the expected behavior?

[2017-05-09 08:29] tarlepp commented on #4221
Using https://github.com/zzarcon/default-passive-events will remove some of those violation warnings, but there is still some left.

[2017-05-09 11:10] DreamerNo7 opened #4442 "how to resolve shasum check failed while installing @angular/material"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of Angular, Material

[2017-05-09 11:52] BrunnerLivio commented on #2706
+1

[2017-05-09 12:17] mackelito commented on #4422
How can we do that on component basis?
[code]
This will not be applied.

[2017-05-09 12:21] willshowell commented on #4422
@mackelito I suspect you also need font-size

[code]

[2017-05-09 12:29] willshowell commented on #4440
I opted for something similar to this:

[code]

Perhaps @kara can weigh in on whether or not regex escaping is within the scope of the autocomplete docs.

[2017-05-09 12:31] willshowell commented on #4438
Dupe of #4056

[2017-05-09 12:47] mackelito commented on #4422
Tried it but it´s not working.
I suspect it has something to do with how :host works?

my setup is that I have a <logo> component that contains <md-icon svgIcon="logo"></md-icon>

[2017-05-09 12:50] alescdb commented on #3175
While a official `<md-tree>` is developed, I find out "angular-tree-component".
It supports templates & themes (eg putting `<md-icon>` and/or `<md-checkbox>` into it)

![image](https://cloud.githubusercontent.com/assets/5646825/25851599/b0239d28-34c6-11e7-86b2-e2ccbecaa4eb.png)

https://angular2-tree.readme.io/docs

[2017-05-09 13:06] DevVersion commented on #4396
This is the tracking issue for the bottom-nav https://github.com/angular/material2/issues/408. But bottom-sheet is different to bottom-navigation.

[2017-05-09 13:14] reppners opened #4443 "ng cli build --prod fails when activating noUnusedParameters in tsconfig.json"
#### Bug, feature request, or proposal:
Bug/Improvement

#### What is the expected behavior?
Should be able to build with `ng build --prod` when having `compilerOptions.noUnusedParameters: true` in `tsconfig.json`

#### What is the current behavior?
Build fails with
[code]

#### What are the steps to reproduce?

* create fresh project `ng new my-project`
* install and include @angular/material as

[2017-05-09 13:14] fxck opened #4444 "cdk proposal: framework for rich text editors"
tl;dr https://draftjs.org/ for angular

I've been searching the internets and there is nothing that comes even close to draftjs, which is built on top and requires react. What does it do? It solves most of the [contenteditable issues](https://medium.engineering/why-contenteditable-is-terrible-122d8a40e480) and provides api for people to build their own rich text editors on top of it.

Rich text ed

[2017-05-09 13:18] DevVersion commented on #4444
Thanks for the links. Why aren't we moving that conversation to the issue https://github.com/angular/material2/issues/2949?

[2017-05-09 13:20] fxck commented on #4444
Because that guy's looking for WYSIWYG, this is something you'd build WYSIWYG on top of, two very different things I think.

[2017-05-09 13:23] DevVersion commented on #4444
Not in my opinion. As you said, the editor would have been built on top of that. So it relates to that conversation.

It's like you a separate issue just for the menu-item of a menu.

[2017-05-09 13:24] fxck commented on #4444
Nope, it's like a different issue for Overlay and dialog/menu/select.

[2017-05-09 13:31] DevVersion commented on #4444
The issue is pretty generic and can be used for a "Rich Text Editor" too. Anyways we'll see if something like this should be part of the CDK at all.

My personal opinion is that something like that would be rather part of another repository or just a 3rd party library.

[2017-05-09 13:40] AntiCZ opened #4445 "Menu / select / autocomplete should not scroll page upon reaching the end"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
No scrolling page when I am at the end of the md-option list

#### What is the current behavior?
Page starts scroll when I am at the end of the md-option list

#### What are the steps to reproduce?
https://plnkr.co/edit/KP7EPQzbFXkB8TZEg1JU?p=preview

#### What is the use-case or motivation for changing an existing be

[2017-05-09 13:52] gtzinos opened #4447 "Can't assign ngModel in md-list with multiple input defined as true"
HTML:
<md-select [(ngModel)]="selectedTags" [multiple]="true" required>
        <md-option *ngFor="let tag of tags" [value]="tag.id">{{ tag.name }}</md-option>
</md-select>

Component:
private selectedTags;
//also i tryied private selectedTags = [];

I use this component without the ngModel and it works but when i use it with ngModel it returns me an error message in my console.

ERROR TypeError:

[2017-05-09 13:55] fxck commented on #4444
I understand why you'd think so, but look into what draftjs actually does (or watch this video https://www.youtube.com/watch?v=feUYwoLhE_4), it basically doesn't care about visual representation at all, which what that guy in #2949 is ultimately looking for a component with buttons that do stuff..

The reason I'm really asking here is because google/angular team has enough brain power and experien

[2017-05-09 15:28] ryanpm40 opened #4448 "MdDialog - First Hyperlink Autofocusing"
#### Bug, feature request, or proposal:
I do not think that hyperlinks in an MdDialog should autofocus. Please correct me if I'm wrong or if there's a known workaround.

#### What is the expected behavior?
Opening a material dialog containing a hyperlink or list of hyperlinks shouldn't focus and highlight around the first visible hyperlink.

#### What is the current behavior?
The first hyperlink i

[2017-05-09 16:21] nstohler commented on #3530
I ran into the same issue too, with Chrome 58.0 on Android (whereas the standard browser on the device (MIUI8)) had no problems):

https://plnkr.co/edit/uJ3n8XedvCCdeUHXKpwX?p=preview

The same page works on iOS Chrome.

[2017-05-09 17:57] YeomansIII opened #4449 "angular-cli >= 1.0.1: File to import not found or unreadable: ~@angular/material/theming"
#### Bug, feature request, or proposal:
**BUG**

#### What is the expected behavior?
Angular CLI/Webpack should build without giving SCSS errors.

#### What is the current behavior?
Getting import unreadable for custom theming base scss file.
[code]

#### What are the steps to reproduce?
Try to build project with custom material2 theme (importing ~@angular/material/theming) with angular-cli versio

[2017-05-09 18:12] hans-pragt commented on #4448
You could set  `tabindex="-1"` on both links.

[2017-05-09 18:45] ryanpm40 commented on #4448
@hans-pragt Perfect, thank you! I wasn't very familiar with autofocused elements before, and just learned it's normal behavior for accessibility reasons, so I suppose this isn't really a material issue. I'll close this.

[2017-05-09 18:45] #4448 closed

[2017-05-09 18:47] merofeev commented on #4449
It seems to be caused by the new version of sass-loader. Please, see [my comment here](https://github.com/webpack-contrib/sass-loader/pull/447#issuecomment-300263537) for details.

[2017-05-09 18:49] hans-pragt commented on #4448
Focus is always kinda tricky, glad I was able to help.

[2017-05-09 19:18] #4146 closed

[2017-05-09 19:20] #4402 closed

[2017-05-09 21:01] kara commented on #4442
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-05-09 21:01] #4442 closed

[2017-05-09 21:09] kara commented on #4406
@fxck This component is still on a feature branch, so @mmalerba probably hasn't implemented fallback positions yet.

[2017-05-09 21:23] kara commented on #4419
Given that the click events are firing, this doesn't look like a Material bug. If you still think something is going wrong in Material itself, please feel free to open a new issue with an updated example.

[2017-05-09 21:23] #4419 closed

[2017-05-09 21:32] kara commented on #4435
The progress spinner is implemented to match the [Material Design spec for spinners](https://material.io/guidelines/components/progress-activity.html), so this is not likely to change.

[2017-05-09 21:32] #4435 closed

[2017-05-09 21:36] kara commented on #4427
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-05-09 21:36] #4427 closed

[2017-05-09 21:37] kara commented on #4422
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-05-09 21:37] #4422 closed

[2017-05-09 21:44] kara commented on #4447
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-05-09 21:44] #4447 closed

[2017-05-09 22:21] AlanCrevon commented on #1692
@PTC-JoshuaMatthews : Not sure what you are trying to do.

Here, my component has a class property `selectedIndex : number = 0`, which can be modified by any function such as :
[code]
Then, my template uses `<md-tab-group [(selectedIndex)]="selectedIndex">...</md-tab-group>`

I hope it will help you :)

[2017-05-09 23:19] vibingopal opened #4451 "Unable to bind MD input defaut value to autocomplete"
#### Bug, feature request,
Unable to bind MD input defaut value to autocomplete

#### What is the expected behavior?
We have a service which returns the result for the inputs. Now iam using mdinput with autocomplete.
I can see the results of the autocomplete popped up but not the default value which is assigned to md-input. Below is my code.

Below is the code ::

[code]
Here primaryRoleDetails is

[2017-05-09 23:29] svincent commented on #4096
I came across this issue while looking for a way to bind a checkbox to a property of a FormControl's value. In case anyone else ends up here the same way, I'm going to take a stab at clearing up issue @JDillon522 was having.

The problem wasn't that FormArray returns Booleans (it doesn't), it's that md-checkbox treats it's bound FromControl value as truthy. @JDillon522's sample defined the form ar

[2017-05-10 00:06] kara commented on #4440
The reason the autocomplete in our demo has this default filter is due to accessibility concerns. See https://github.com/angular/material2/issues/3373 for more info. Essentially, it is confusing for users with screenreaders to hear options matching any letter in the word (rather than options that match starting with the first letter). I think it's outside the scope of the docs to explain how to es

[2017-05-10 00:06] #4440 closed

[2017-05-10 02:01] PTC-JoshuaMatthews commented on #1692
@AlanCrevon  I am just demonstrating what I have to go through to use selectedIndex. I can set it after waiting for the control to instantiate (with the timeout) through a ViewChild instance. Binding to it the way you are describing is not working for me, the control ignores it.

[2017-05-10 04:16] kuncevic commented on #4038
The issue is there due to new `sass-loader` https://github.com/webpack-contrib/sass-loader/pull/447#issuecomment-300263537
Now do `@import "~@angular/material/_theming.scss";`

[2017-05-10 05:18] kuncevic commented on #4449
Now we need to do @import "~@angular/material/_theming.scss";
according to @merofeev

[2017-05-10 05:48] viztastic commented on #4333
@andrewseguin I see you have self assigned this, is there anything I can help to further clarify my bug report? Desperately hoping it's a quickfix that can be included as part of the next release.

[2017-05-10 05:52] raunakmatai opened #4453 "Md-tabs not responsive"
#### Bug, feature request, or proposal: md-tab's  md-ink-bar i.e the line under the tab is not responsive in angular material2 whereas the same is responsive in angular material1.Please have a look in this.

#### What is the expected behavior?
the width of ink bar is expected to decrease or increase depending on size.

#### What is the current behavior?
Currently the ink bar width stays in the sam

[2017-05-10 06:01] karlhaas commented on #4385
thx @kara for merging https://github.com/angular/flex-layout/pull/276!
what is your opinion regarding this issue? It would be good to know if the team will merge the changes in order to continue (next step prefix styles which are set dynamically in templates/components).

[2017-05-10 06:01] donroyco commented on #4453
This has already been reported several times, see e.g. #3469 or #3044. Please use the search function before reporting this.

[2017-05-10 06:16] ankurkumar222 commented on #4038
Thanks kuncevic your suggestion works for me.

[2017-05-10 06:34] mlc-mlapis commented on #4444
I did not go to the details but it looks that https://quilljs.com (used in PrimeNG UI components for Angular https://www.primefaces.org/primeng/#/editor) is very similar from the concept point of view?

[2017-05-10 06:36] bankimatglobant opened #4455 "Unable to use @include mat-core(); in my style.scss in Angular4 Webpack 2"
#### Bug, feature request, or proposal:

Unable to use @include mat-core(); in my style.scss in Angular4 Webpack 2. here is my package.json's dependencies and devDependencies.

"dependencies": {
    "@angular/animations": "^4.0.2",
    "@angular/common": "^4.0.2",
    "@angular/compiler": "^4.0.2",
    "@angular/core": "^4.0.2",
    "@angular/forms": "^4.0.2",
    "@angular/http": "^4.0.2",
    "@

[2017-05-10 06:42] fxck commented on #4444
Quill looks like WYSIWYG to me. If there's anything similar, it's [slate](https://github.com/ianstormtaylor/slate), again, just for react. Read the [comparisons](https://github.com/ianstormtaylor/slate/blob/master/docs/general/comparisons.md).

Also https://youtu.be/gxNuHZXZMgs?t=1791 this guy saying that he talked to angular people who decided to add react/draft as a dependency simply because the

[2017-05-10 06:46] mlc-mlapis commented on #4444
From the first point of view sure but I meant mainly the background of it. Its internal structure, API, ...

[2017-05-10 07:15] Somiks opened #4456 "IE11 tooltip appears after second move on that"
#### Bug, feature request, or proposal:
BUG

#### What is the expected behavior?
Should show tooltip immediately

#### What is the current behavior?
I need to move my cursor on tooltip twice or more times.

#### Which versions of Angular, Material, OS, browsers are affected?
 "@angular/core": "~4.0.3"
"@angular/material": "2.0.0-beta.3"
IE11 11.0.9600

[2017-05-10 07:18] reppners commented on #4443
Seems like the unused parameter issue also got some attention in the angular core recently https://github.com/angular/angular/issues/15532

Would this solve this issue also or is it just fixing the `index.ngfactory.ts`?

[2017-05-10 07:20] AlanCrevon commented on #1692
@PTC-JoshuaMatthews sorry mate. Don't know how to help, then. :/

[2017-05-10 07:25] fxck commented on #4444
I don't know, I think their own comparison to draft speaks for itself https://quilljs.com/guides/comparison-with-other-rich-text-editors/#draft they are out of the box usable wysiwyg, draft is just a high level service that allows you to build rich text editors (not necessarily wysiwyg editors).

Simple test is to see if quill, or any other lib, can also be used to smaller, simple things like face

[2017-05-10 07:28] Chan4077 commented on #4455
Can we see your style.scss file?

It should have the following line on top of the file:

[code]

[2017-05-10 08:07] frederikaalund opened #4457 "Make the Sidenav component compatible with observables and the async pipe"
#### Bug, feature request, or proposal:
Feature/proposal

#### What is the expected behavior?
I want to be able to do:

    <md-sidenav open="sidenavOpen$ | async">
    </md-sidenav>
    <button md-button (click)="toggleSidenav()">
        Open sidenav
    </button>

    ...

    sidenavOpen$: Observable<boolean>;

    toggleSidenav() {
        // Something that causes sidenavOpen$ to emit a new v

[2017-05-10 08:17] julienR2 commented on #4212
For those ending up here and using sass-loader, also check https://github.com/angular/material2/issues/4038#issuecomment-300369122
From sass-loader 6.0.4 import must include the full name (underscore + extentions).

[2017-05-10 08:23] rdinicut opened #4458 "Proposal: $mat-body-font-size-base should be used in mixins from _theming.scss"
#### Bug, feature request, or proposal:

in the build of material, in _theming.scss the value of `$mat-body-font-size-base`  is not used in any mixin and there is no programatic way to change the default font-size value for components.
These scenario happens for other variables: `$mat-toggle-size` , `$mat-toggle-padding`, etc

#### What is the expected behavior?
You should be able to set the value

[2017-05-10 08:25] mlc-mlapis commented on #4444
Yeah, it is certainly true. I did not go so deep, I just looked at some basic operation as
[code]
and corresponding `Delta`s representing the change which use JSON format.

[2017-05-10 08:37] netmikey commented on #4449
For others landing on this issue:

We're not ***forced*** to add `.scss` extension: it's a bug in version 6.0.4 of sass-loader. A fix is out on Github (6.0.5) but hasn't made it to npm yet. My guess is that compilation will work again in a couple of hours without any change to your angular project's code base.

[2017-05-10 08:46] SlimDogs commented on #4449
Having the same issue. It's a pity that angular-cli does not have fixed versions on dependencies...

[2017-05-10 08:52] mackelito commented on #4422
To continue: https://stackoverflow.com/questions/43887701/how-to-change-md-icon-size-in-material

[2017-05-10 08:52] SoufianeFZ commented on #1119
hi guys, i'm currently facing the same issue, @ptsydzik  said that we should edit the webpack config, how can achieve such thing in angular 2 project.

[2017-05-10 10:08] you6878 opened #4459 "Step 4: Include a theme error"
#### Bug, feature request, or proposal:

It was annoying when I started Material in angular/cli that version 4
I tried following getting-started.md at guides material2

It was occurring error when I used Step 4: Include a theme
It say use the <link href="../node_modules/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet"> but I doesn't work therefore I motified to code @import '~@a

[2017-05-10 10:38] donroyco commented on #4456
Could you please provide a Plunker to try to reproduce the issue?

[2017-05-10 12:08] takahser commented on #581
Can't wait for the official material2 component, in the meanwhile thanks @jefersonestevo for [your contribution](https://github.com/jefersonestevo/angular-smd)! Good job! 👍🏼

[2017-05-10 12:18] DevVersion opened #4460 "Github payload status"
It would be cool to show the delta of the whole library using a Github status. (e.g as with the screenshots)

The "status" would be always "success" because I don't think there is a way to just show like an info on PRs.

[2017-05-10 12:22] ArnoutPullen commented on #1276
Maybe the same way you can style a toolbar like this:

`<md-toolbar color="primary">Title</md-toolbar>`

`<md-tab-group color="primary">
  <md-tab label="Title">Content</md-tab>
</md-tab-group>`

[2017-05-10 12:31] ninaneter opened #4462 "md-menu can't set max-width"
Bug

I'm trying to override the default 280px max-width of the `.mat-menu-panel
` but it doesn't work.

 [Plunker example](https://plnkr.co/edit/cBCcW6vAkNQto5gjeoEt?p=preview)

i'm using the latest 2.0.0-beta.3 cesium-cephalopod version, with chrome browser

[2017-05-10 12:36] sabithpocker commented on #581
Does the `md-data-table` come with an option to handle lazy loaded pages?
We are looking for a functionality where pages of size `X`(say 100) will be fetched from server and shown client side in rows of `x`(say 10). And also cache already loaded pages.
Does this qualify to be a feature? If not what is the recommended way of handling something like this?

[2017-05-10 12:43] kuncevic commented on #4038
Latest update here https://github.com/angular/material2/issues/4449#issuecomment-300414528

So sounds like it was a bug in `version 6.0.4` `sass-loader` so we might need to take out `.scss` in the next version.

[2017-05-10 12:54] willshowell commented on #4462
First, in your plunker, your stylesheet isn't being included in the component. You must add the stylesheet to `styleUrls`.

Second, unfortunately you won't be able to override the menu panel with your component styles due to [view encapsulation](https://angular.io/docs/ts/latest/guide/component-styles.html#!#view-encapsulation). You will need to either turn view encapsulation off for this componen

[2017-05-10 12:59] zendist commented on #3064
I think what @staticinteger is referring to is there is no way to set background color of sidenav component other than the default one.
@michael-lang do you know how to specify theme that should be used? I didn't find anything about theming sidenav, maybe I missed it...

Just adding .scss file with custom theme didn't work for me.

[2017-05-10 13:22] jasnoponjatno commented on #4399
Would be awesome to see this feature! I think we need some kind of boolean flag on MdAutocomplete to  autocomplete last word in ngModel instead of whole ngModel on option selection.

[2017-05-10 13:33] willshowell commented on #4457
The sidenav has an `opened` input for your use case

https://plnkr.co/edit/5KTV3Frb8LAz7w7bNpf0?p=preview

[2017-05-10 13:44] frederikaalund commented on #4457
I completely missed that. Thanks for pointing it out!

[2017-05-10 13:44] #4457 closed

[2017-05-10 13:54] gtranter commented on #4435
But it doesn't really match the "spec" as it clearly shows a circle with the incomplete section drawn in a contrasting hue, which can't be done currently. See the first "Circular with integration" example.

[2017-05-10 13:57] michael-lang commented on #3064
@zendist yes, there is an official way to create multiple themes and apply one to an element and descendents.  However,  there is an issue #4344 in applying it directly to a sidenav due to the html structure requirement.   See #4344 for temporary work-around and details why it doesn't work now.

[2017-05-10 14:10] willshowell opened #4463 "Proposal: support dense menus"
#### Bug, feature request, or proposal:
Proposal

#### Motivation
The spec mentions dense menu items

![screen shot 2017-05-10 at 10 07 51 am](https://cloud.githubusercontent.com/assets/6475576/25902764/7cc0f096-3568-11e7-9ce3-abf6ce7bfd7a.png)

Menu item height: 32px
Menu item text left padding: 24px
Top padding: 8px
Bottom padding: 8px
Typography: 15px

![screen shot 2017-05-10 at 10 08 01 am](h

[2017-05-10 14:15] klauskpm commented on #3552
I was following the [other issue thread(#2277)](https://github.com/angular/material2/issues/2277) and tried some solutions, but until now, nothing.

I followed the docs @kara referenced, but it stills returns the following error:

Backtrace:
        node_modules/@angular/material/_theming.scss:35357, in function `map-get`
        node_modules/@angular/material/_theming.scss:35357, in function `mat

[2017-05-10 14:21] willshowell commented on #3552
@klauskpm your issues with `~@angular` syntax are probably related to #4449

[2017-05-10 14:40] peterdobson commented on #308
Does this mean material2 now works with the latest angular2-universal, or is there still work in progress?

[2017-05-10 15:04] mariohmol commented on #308
@peterdobson i could make it working using https://github.com/clbond/angular-ssr

[2017-05-10 15:09] klauskpm commented on #3552
@willshowell thanks. Didn't solved the error, but it's a clear syntax than an absolute path.

[2017-05-10 15:26] merobal commented on #3577
Is there any update on this? PR #4045 is open and the latest update was done 12 days ago.

[2017-05-10 15:28] jelbourn commented on #4444
We have chatted about this in the past (and one Angular team member actually has a decent amount of experience with this kind of thing). It's something we'd like to do, but is pretty far down on the priority list.

[2017-05-10 15:41] AAAnderson7301 opened #4464 "Placeholder not floating properly in IE 11 if css color is added to .mat-input-element"
#### Bug, feature request, or proposal:
Bug Report IE 11

#### What is the expected behavior?
If no value in input and placeholder forced to float should be no text in input

#### What is the current behavior?
if a color property is added to .mat-input-element the placeholder floats but still shows a placeholder in the input field as well.

#### What are the steps to reproduce?
Open the plunker in

[2017-05-10 16:01] vibingopal commented on #4451
Any inputs on this please?

[2017-05-10 16:38] JacobBrandt opened #4465 "Autocomplete option not clickable"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Should be able to click option in autocomplete.

#### What is the current behavior?
Unable to click option in autocomplete.

#### What are the steps to reproduce?
https://material.angular.io/components/component/autocomplete
Launch version 45.7 of Firefox.  Use the example provided by the material website.  I don't kn

[2017-05-10 16:43] alexzuza commented on #2961
Check this https://plnkr.co/edit/KssNGRhyLRbRzEN59P4C?p=preview

[2017-05-10 16:44] alexzuza commented on #3711
See https://plnkr.co/edit/KssNGRhyLRbRzEN59P4C?p=preview

[2017-05-10 16:52] mlc-mlapis commented on #4444
Oh, really? Sounds positive. 👍 Is it possible to share some more details?

[2017-05-10 17:09] kara commented on #4435
@gtranter The one you're pointing out is a specific integration with a FAB, not a normal progress circle.  See the "circular" example right above that for an example of a progress circle on its own.
It's worth noting this also matches what was done in AngularJS Material.

[2017-05-10 17:15] crisbeto commented on #4465
The issue should be fixed in master. You can try installing the latest build:

[code]

[2017-05-10 17:39] timdoes commented on #2478
I am getting the same error when running tests. It functions as expected on the website but I cannot get my tests to pass since I am getting this error:

`Can't bind to 'mdMenuTriggerFor' since it isn't a known property of 'button'.`

### Versions
[code]

### Button
[code]

[2017-05-10 17:46] fxck commented on #4444
@jelbourn I got in touch with the guy who made draftjs, to see if he or the team would be willing to share experience and help you out, he's not working at facebook anymore but said he'd pass the message along.

[2017-05-10 17:57] gtranter commented on #4435
With the FAB it's still a progress circle. If you don't support the integration version then you haven't fully met the "spec."

"Isn't likely" is not the same as definitely won't, so can you please keep this open as a feature request for an option? The "spec" is really just a guideline. The interpretation of the guideline is what becomes the spec which turns into an implementation, and I think thi

[2017-05-10 18:13] kara commented on #4435
We already have an issue for FAB integration with progress circle [here](https://github.com/angular/material2/issues/254). You can follow that issue if you'd like updates.

It's our goal to build reference implementations of what's explicitly in the spec without going on too much of a tangent from what's defined. In the spec, the progress circle on its own looks like what we have, so again, this w

[2017-05-10 18:14] #3174 closed

[2017-05-10 18:17] JacobBrandt commented on #4465
@crisbeto I'll try the latest build later today and see if it works.  Thanks.

[2017-05-10 18:26] tinayuangao commented on #4391
The current md-checkbox behavior is aligned with native checkbox: native checkbox also have indeterminate state which is not mutually exclusive with checked state.

See working plunkr with `ngModel`: https://plnkr.co/edit/aeyfNBk6Nol2riFL0SGa?p=preview

[2017-05-10 18:50] mrmeku opened #4467 "Autocomplete: Incompatible with protractor tests"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Within  protractor test I should be able to click an autocomplete option via the following command
`element(by.cssContainingText('.mat-autocomplete-visible .mat-option', optionText)).click()`

#### What is the current behavior?
The current behavior generates an error when the above call is invoked
`Failed: stale eleme

[2017-05-10 18:51] ccaymaz commented on #2277
beta7?

I am using visual studio and I can load only beta3 for now.  Should I check my npm version?

Currently I am using;
@import '~@angular/material/_theming.scss'; (It is working. There is no intellisense but it is working.)

[2017-05-10 21:29] passelin opened #4470 "Make FocusKeyManager part of the public API"
#### Bug, feature request, or proposal:

While implementing a custom menu, I've found out that FocusKeyManager provides the functionality I need to implement keyboard navigation. However, it seems this class is not part of the public API. Since it seems to be a useful and reusable piece, I was wondering if this was an omission or if it was intentionally out of the public eye.

#### What is the exp

[2017-05-10 23:03] jelbourn commented on #4185
After chatting with someone on the Material Design team, I changed my mind and agree we should do cursor.

[2017-05-10 23:55] mmalerba commented on #4190
plunker repro: http://plnkr.co/edit/UguaoP1sTR85pyZLh2TN?p=preview

[2017-05-11 00:28] mmalerba commented on #4190
It looks like this is just a matter of putting `type="reset"` on your button. Without it, the form is marked as submitted which causes the error styling to show up. see: http://plnkr.co/edit/IUhbPom8FnauivHUW3bU?p=preview

[2017-05-11 01:52] uredkar opened #4472 "mdInput required indicator, is there any way to replace the default?"
#### Bug, feature request, or proposal:
The required red indicators look really thick and ugly

#### What is the expected behavior?

#### What is the current behavior?

![image](https://cloud.githubusercontent.com/assets/5139003/25928441/ecbec75c-35c1-11e7-846a-6e6304fda890.png)

#### What are the steps to reproduce?
<md-card class="demo-card demo-basic">
    <md-toolbar color="primary">Error mess

[2017-05-11 03:05] josephperrott commented on #4430
Closing as hidden is not a attribute on [HTML spec](https://www.w3.org/TR/2011/WD-html5-20110525/the-button-element.html#the-button-element) `<button>`.

As mentioned hiding can be done with *ngIf or css styling.

[2017-05-11 03:05] #4430 closed

[2017-05-11 04:02] bankimatglobant commented on #4455
@Chan4077

Here  is my style.scss

@import "common";
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body{
    min-width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    color: #272727;
    font-family: 'Open Sans','Helvetica Neue','Helvetica','Arial',sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px

[2017-05-11 04:20] phamtuananh791994 commented on #4449
https://github.com/angular/angular-cli/issues/6242

[2017-05-11 06:10] donroyco commented on #4472
Can you please provide a Plunker to try to reproduce the issue. What browsers are affected? Please update your issue with both things.

[2017-05-11 07:13] elishaterada commented on #4280
Building on @mtpultz answer, you can keep it little simpler if your page is always going to have md sidenav, and without relying on third party library which I assume is what `.scroll()` is about.

[code]

[2017-05-11 07:29] fxck commented on #4444
So I started messing with it yesterday, I managed to port the whole model part to typescript, you can check the prototype [here](https://github.com/thescrollbar/angular-draft).

With it, you can create [EditorState](https://draftjs.org/docs/api-reference-editor-state.html#content), [ContentState](https://draftjs.org/docs/api-reference-content-state.html#content), [SelectionState](https://draftjs.o

[2017-05-11 08:02] DevVersion commented on #4443
@jelbourn Are you thinking we should prefix those variables with an underscore? And probably compile the AOT demo-app with `noUnusedParameters` and `noUnusedLocals`.

If I recall correctly there will be a lot of locals and parameters that need to be prefixed with an underscore.

[2017-05-11 08:36] gajdot commented on #4056
Any update on this? I'm not able to properly test any component using material. The error is showing up and no material animation is working in the components.

[2017-05-11 09:15] lh1991 opened #4474 "You have to be inside an angular-cli project in order to use the serve command."
#### Bug, feature request, or proposal:
You have to be inside an angular-cli project in order to use the serve command.

#### What is the expected behavior?
Please provide any solutions to run this project so that i can see the  components on the page.!!

#### What is the current behavior?
But it shows me the "You have to be inside an angular-cli project in order to use the serve command."

#### W

[2017-05-11 09:42] Chan4077 commented on #4474
Did you follow the [guide for a development environment](https://github.com/angular/material2/blob/master/DEV_ENVIRONMENT.md)? It specifically states this:

and...

[2017-05-11 10:39] AntiCZ commented on #4464
I dont understand why input has attr placeholder(In browser after render).

[2017-05-11 11:03] willshowell commented on #4455
The `mat-core` mixin is responsible for adding styles for elevation, ripple, overlay, etc that are not theme dependent.

It has already been included in the prebuilt theme files before being compiled to css, so that's why you it's not available to you in your current `styles.scss`. If you chose to build a custom theme instead of using the prebuilt indigo-pink theme, then you would need to include

[2017-05-11 12:50] ninaneter commented on #4462
Thank you!
I've improved my example to better describe my problem. Now the toggle button is aligned to the right and the menu panel gets cut.
If I use `.cdk-overlay-container .mat-menu-panel` instead of `.cdk-overlay-container .mat-menu-panel.my-menu` as the css selector, it works. But I want to apply it only with my specific `.my-menu` class.

It seems like the menu-panel is being positioned befo

[2017-05-11 13:40] yaroslavert opened #4475 "Bug"
![image](https://cloud.githubusercontent.com/assets/19486652/25952111/619b3d70-3668-11e7-8333-75a9cf440107.png)
![image](https://cloud.githubusercontent.com/assets/19486652/25952123/68749c9a-3668-11e7-9b50-a588a6bdc26f.png)
![image](https://cloud.githubusercontent.com/assets/19486652/25952132/716bb4e6-3668-11e7-98a8-458282d56bd0.png)
![image](https://cloud.githubusercontent.com/assets/19486652/259