[2016-11-29 14:10] DzmitryShylovich commented on #2020
https://github.com/angular/material2/blob/master/src/lib/snack-bar/snack-bar-config.ts#L18

[2016-11-29 14:19] michaeljota commented on #2020
It is in source, but...

![duration](https://cloud.githubusercontent.com/assets/10507776/20713013/04f794f4-b61d-11e6-90fe-267f88f346b2.png)

![duration_2](https://cloud.githubusercontent.com/assets/10507776/20713017/07d4a8ce-b61d-11e6-8b6f-28455e8bb8f5.png)

If the property exist, but it is not released yet, it should commented out of the docs until sees released. If it was released in alpha.10, t

[2016-11-29 14:27] DzmitryShylovich commented on #2020
I think it either hasn't been released yet or u have incorrect version.
There're several experimental releases http://prntscr.com/dd7u88
try them out.

[2016-11-29 14:28] joejordanbrown commented on #2019
@codejith

That because `.md-radio-label` has `white-space: nowrap;`

Using the following should allow words to wrap but you will need to add other styles to `.md-radio-label-content` for the text to align correctly on wrapping content.

[code]

[2016-11-29 15:02] DevVersion commented on #2015
@jelbourn Yeah - I already had a PR which did something similar (See #1222)

I personally think that this issue can be solved better by:
- Having nightly builds which can be used by Plunker (Github or NPM) - `master`
- Using `unpkg` for the `@latest` version (currently doing that and it works perfect) - `latest release`

So I think it would be just necessary to work on the nightly builds (#577)

[2016-11-29 15:14] theunreal commented on #2000
I'm using `<html dir="rtl">`

[2016-11-29 15:15] theunreal commented on #2000
I added a `clear:both` below this and the problem fixed. Strange thing..

[2016-11-29 15:15] #2000 closed

[2016-11-29 15:22] theunreal opened #2022 "Slider wrong coloring [RTL]"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Spinner fill color correctly

#### What is the current behavior?
Spinner empty - Correct:
![image](https://cloud.githubusercontent.com/assets/6171883/20715542/3663b6d6-b658-11e6-8138-b4b775188759.png)
Spinner full - Correct:
![image](https://cloud.githubusercontent.com/assets/6171883/20715554/3f329066-b658-11e6-9f5c-3

[2016-11-29 15:28] rtrompier commented on #2003
Hi,
What is your solution ?
Thanks

[2016-11-29 15:34] crisbeto commented on #2000
That sounds weird. The only way I got it to break yesterday was with the CSS property, I'll check if the `clear` also fixes it in that case.

[2016-11-29 16:20] johnl242 commented on #998
fab button not being fixed on button right position while scrolling

On Nov 29, 2016 3:38 PM, "Juan J. Jimenez-Anca" <notifications@github.com>
wrote:

[2016-11-29 16:30] fxck commented on #998
Yeah you got that right @cortopy there are no inputs on displacer itself, it's literally just "take whatever is inside me and append it to body". It doesn't break bindings or anything, so it's as if you were wrapping it in a div. What I think he's doing is wrapping the whole router-outlet inside it, which I'm not surprised at all that doesn't work. It's really intended for buttons/modals/whatever

[2016-11-29 16:36] johnl242 commented on #998
I have the fab button inside a component and this component is being called
from router-outlet and the router-outlet is inside the side-nav-layout as u
have described. After doing every thing the fab scrolls while scrolling
data in the component which is not what I need.

On Nov 29, 2016 10:01 PM, "Aleš" <notifications@github.com> wrote:

Yeah you got that right @cortopy <https://github.com/cortop

[2016-11-29 17:17] JanStureNielsen commented on #2022
@theunreal  - with RTL are the empty and full also incorrect? It seems like the empty spinner be at the righ-most position and the full spinner at the left-most position...

[2016-11-29 17:29] luchillo17 opened #2023 "[Proposal][Docs] Update docs how to import MdDialogModule and others"
#### Bug, feature request, or proposal:
The MdDialogModule and other modules present an issue when importing, you expect us to import the full material module, i'm only importing 3 modules, i didn't see anywhere in the docs an explanation regards importing individual modules, like the dialog one needs `forRoot()` call in the import as:

[code]
#### What is the expected behavior?
The docs should st

[2016-11-29 17:34] jelbourn commented on #2015
Rather than nightly, per-commit builds would give us better granularity. Ideally I'd like to do that the same way that `angular/angular` does.

[2016-11-29 17:36] DevVersion commented on #2015
@jelbourn Oh yeah, that would be more effective. We already had an issue for it https://github.com/angular/material2/issues/928.

From what I remember @hansl wanted to take care of it.

[2016-11-29 17:37] #1616 closed

[2016-11-29 17:39] jelbourn commented on #1494
@d3viant0ne thanks for investigating! Since there's not a noticeable improvement, I'm okay with sticking to `npm`.

[2016-11-29 17:39] #1494 closed

[2016-11-29 17:39] jelbourn commented on #2015
@DevVersion Up for grabs now if you want to do it

[2016-11-29 17:41] DevVersion commented on #2015
@jelbourn Yeah would be interesting. I will ping you on Slack about it.

[2016-11-29 18:05] christophechevalier commented on #1899
Thanks ! Very helpfull

[2016-11-29 18:32] andrewseguin commented on #1967
Please use the issue template which helps us reproduce and diagnose the issue. Including a plunkr with this bug will help us determine what is happening.

[2016-11-29 18:38] andrewseguin commented on #1960
This is now fixed in master because the delay only shows on mobile now, triggered by a longpress

[2016-11-29 18:38] #1960 closed

[2016-11-29 18:50] crisbeto commented on #2022
I couldn't reproduce this locally, although the dragging gesture doesn't account for RTL. That's pending an RTL service, though.

[2016-11-29 18:51] crisbeto commented on #2000
Now I'm having a hard time reproducing it at all, this is really odd.

[2016-11-29 18:53] toddpeak commented on #2005
How would I go about getting it to look the old way? The screenshots in the README still say that it will look the way I want it, but it doesn't work that way.

[2016-11-29 19:01] chouclee commented on #2021
#1728 I think this is what you want.

[2016-11-29 19:06] xikky commented on #2021
Yes precisely. I was missing the drawer keyword

[2016-11-29 19:19] #1171 closed

[2016-11-29 19:26] crisbeto commented on #2020
It's definitely in master, although you should keep in mind that you can't pass in a config object, you need to set it as a property individually, e.g.:

[code]

It would probably make sense to include the ability to pass an object since we did something similar for the dialog already.

[2016-11-29 20:00] Daeluse commented on #2023
The rule of thumb would be to import them all with forRoot() since they all are exported as a module with providers and have the method available, though in some cases it is empty. This prevents you from having to sniff out issues down the road if they add a provider to a module which you were not already calling the forRoot method on.

[2016-11-29 20:55] crisbeto opened #2025 "Adding a class with e2e test utilities"
Tracking issue for adding a utility class that has methods for some commonly-used scenarios in e2e tests (checking that an element exists, that it has focus etc.).

[2016-11-29 22:09] martinmcwhorter commented on #698
I found if I put a component with a fixed position inside the SideNav, I got the desired results.

[2016-11-29 22:27] benjamincharity commented on #1809
@andrewseguin I'm using the latest from master, but if a tooltip is still visible and the user navigates to a new page I see the same error.

https://github.com/angular/material2/blob/master/src/lib/tooltip/tooltip.ts#L148-L153

 Wrapping `this._overlayRef.dispose()` in an `if()` fixed it for me.

[code]

[2016-11-30 00:05] jelbourn commented on #2022
@mmalerba does your latest PR fix this?

[2016-11-30 00:06] jelbourn commented on #2021
@mmalerba has a proposal for this already; it's something we'd like to add after beta

[2016-11-30 00:07] jelbourn commented on #2020
This will be released in alpha.11

[2016-11-30 00:07] #2020 closed

[2016-11-30 00:09] jelbourn commented on #2019
We think that not wrapping is the most sensible default behavior; you should be able to override the css as @joejordanbrown mentioned.

[2016-11-30 00:09] #2019 closed

[2016-11-30 00:09] jelbourn commented on #2017
@kara is this something you wanted to add?

[2016-11-30 00:11] jelbourn commented on #2016
@kara we do need a way to position the menu "next to" the trigger instead of "over" it.

[2016-11-30 00:13] jelbourn commented on #2007
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2016-11-30 00:13] #2007 closed

[2016-11-30 00:14] jelbourn commented on #2006
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2016-11-30 00:14] #2006 closed

[2016-11-30 00:16] jelbourn commented on #2004
@tinayuangao can you compare this to the native checkbox behavior?

[2016-11-30 00:21] jelbourn commented on #1985
@mozgor can you reproduce your issue in a plunker? There's nothing in material that would be making cards overlap with each other.

[2016-11-30 00:23] jelbourn commented on #1978
@mmalerba Can you determine if there's a bug?

[2016-11-30 00:24] jelbourn commented on #1975
@crisbeto can you determine if there's a bug here?

[2016-11-30 00:25] jelbourn commented on #1973
@dahaupt  I don't quite follow- is this not just the `value` property of the select?

[2016-11-30 00:26] jelbourn commented on #1958
Dupe of #1072

[2016-11-30 00:26] #1958 closed

[2016-11-30 00:27] jelbourn commented on #1946
Should be fixed already in master, will be released in alpha.11

[2016-11-30 00:27] #1946 closed

[2016-11-30 00:30] kara commented on #1973
@dahaupt The select is a custom value accessor, so you should be able to use ngModel or any other available form directive in Angular 2.

```<md-select [(ngModel)]="food"></md-select>````

[2016-11-30 00:31] jelbourn commented on #1938
We should have something for this, but as a workaround you can simply create a css class that uses the appropriate color, e.g.
[code]

[2016-11-30 01:02] mmalerba commented on #2022
yes, I believe #1794 will fix this

[2016-11-30 01:47] kara commented on #2016
Yeah, it's been on my planning board for md-menu (https://github.com/angular/material2/projects/3). Closing as a dupe of https://github.com/angular/material2/issues/1672.

[2016-11-30 01:47] #2016 closed

[2016-11-30 01:58] Luchillo commented on #2023
Ok so where's written that rule of thumb? i haven't touched Material until yesterday, for the time being i was using PrimeNg, so this is the first time aside the angular router that i see that `forRoot()` function.

[2016-11-30 02:03] michaeljota commented on #2020
Thanks you all. :)

[2016-11-30 04:41] eagle-dan1349 commented on #1947
@SamMousa, as I see it's actually the only way to do it directly. You can use an injected service for that, but, IMHO, it would be an overkill.

[2016-11-30 04:51] cielo opened #2027 "Question about differences in package installations (NPM package vs from github)"
To use one of the latest feature from recent commits that is not part of released versions, I updated my package.json like below.

Old: `"@angular/material": "2.0.0-alpha.10",`

New: `"@angular/material": "angular/material2",`

so that my app will use the latest commits from 'angular/material2' github commits.

However, when I change package version like above, and install directly from github, in

[2016-11-30 07:45] colemickens opened #2028 "How do I make an anchor that looks like a button?"
From: https://github.com/angular/material2/tree/cde9ab38c04a7ad0248c71b295d70c5470faad6f/src/lib/button

So, what syntax do I use to get an anchor tag that looks like an `md-button`?

[2016-11-30 08:10] codejith opened #2029 "Will pagination be available in near future ?"
#### Bug, feature request, or proposal:
Will  pagination be available in near future ?

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is the use-case or motivation for changing

[2016-11-30 08:16] colemickens commented on #2028
Answer:

`<a md-button href="...">Some text</a>`

[2016-11-30 08:16] colemickens opened #2030 "md-button looks 3 different ways depending on where/how it's used"
http://plnkr.co/edit/uPVX2MsPhbfkj5DUTAeI?

There are three buttons in that plnkr and I expected them to all look the same, but they don't.

Seems like a bug possibly?

[2016-11-30 08:34] fxck commented on #2030
https://github.com/angular/material2/issues/1946

[2016-11-30 08:37] fxck commented on #2029
Nope https://github.com/angular/material2/issues/1572#issuecomment-255802683

use https://ng-bootstrap.github.io/#/components/pagination

[2016-11-30 08:39] fxck commented on #2027
That's not how it works. There are no per commit releases and there is no github repo with builds of master.

This is tracked via https://github.com/angular/material2/issues/577

[2016-11-30 09:13] cielo commented on #2027
I see. Typescript and NPM are new to me so I wasn't sure how they worked. I will subscribe to that issue.

[2016-11-30 09:13] #2027 closed

[2016-11-30 09:15] fxck commented on #1946
https://github.com/angular/material2/milestone/12 is this accurate?

[2016-11-30 09:32] rtrompier opened #2031 "How to pass data to material dialog"
Hi all,
Someone can provide me an example of Dialog with param please ?
Thanks a lot.

[2016-11-30 10:01] cortopy commented on #998
@johnl242 don't forget to style your button!! The displacer doesn't do anything in terms of styling or positioning. This is what I have

[code]

[2016-11-30 10:09] fxck commented on #2031
There is not an easy way, as the only thing dialog supports now is creating a new component you pass it... so the best thing you can do is to inject some service inside that component and get the data that way.

Once this is done https://github.com/angular/material2/blob/master/src/lib/dialog/dialog.ts#L23

You should probably be able to simply pass it an existing component with standard binding..

[2016-11-30 10:26] crisbeto commented on #2031
Have you tried [the suggestion from here](https://github.com/angular/material2/issues/1377#issuecomment-250632661)?

[2016-11-30 10:31] rtrompier commented on #2031
Thanks for your answers ;)
I will check.

[2016-11-30 10:37] johnl242 commented on #998
It's positing at fixed bottom right  but scrolling while data being scrolled

On Nov 30, 2016 3:31 PM, "Juan J. Jimenez-Anca" <notifications@github.com>
wrote:

[2016-11-30 10:39] skined90 commented on #1377
@jelbourn Can you please explain little bit more how to pass the data to the dialog component via componentInstance property?

[2016-11-30 10:50] #1106 closed

[2016-11-30 10:53] sunderw opened #2032 "Opened md-sidenav has the class 'md-sidenav-opening' after page load"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
An opened sidenav should have the class _md-sidenav-opened_ when the page is loaded with the sidenav opened.

#### What is the current behavior?
The sidenav has the class _md-sidenav-opening_, but toggling it once sets the correct class.

#### What are the steps to reproduce?
Have a page with a sidenav opened at first

[2016-11-30 10:57] fxck commented on #1430
@jelbourn this is such a pain in the ass.. can you please share what you have in mind so I can give it a shot?

Is it what's in https://docs.google.com/document/d/1jSMjkKSdzbQa2cuCeSFpzFAwDHr7xY4eqsXkfF6MeqA/preview or something else entirely?

[2016-11-30 10:58] skined90 commented on #2031
Okay, I had a same problem but I found solution.

You can put inside your dialog.open() function

`            this.dialogRef.componentInstance.data = this.someDataObject;
`

And then inside your dialog component you can get the data:

` this.data = this.dialogRef.componentInstance;`

[2016-11-30 11:09] valdestrijus commented on #2020
Temporary workaround:
[code]

[2016-11-30 12:31] mozgor commented on #1985
I will do one asap but for now, I get tons of 403 errors when loading plunker template. It could be because of my shitty proxy here, so I'll try later to provide one from 'regular' connection.

[2016-11-30 12:43] rtrompier commented on #2031
Yes it's work ;)
Thanks a lot guys.

Have a nice day.

[2016-11-30 12:43] #2031 closed

[2016-11-30 12:57] sp33dlink opened #2033 "Toolbar and Sidenav fixed in sidenav-layout"
I'd like to have to Toolbar and the sidenav fixed in my Layout so that only the content is scrolling like the angular 2 docs site: https://angular.io/docs/ts/latest/

This must somehow be possible with the sidenav-layout as many users would like to use this behavior. But i can't get it to work like this.

Plunker: http://plnkr.co/edit/SCkBpDvvWZgGCZKhWDIp?p=preview
This plunker lacks the fixed lay

[2016-11-30 13:19] AsherBarak opened #2034 "md-input floating placeholder misaligned in RTL"
#### Bug, feature request, or proposal:
feature request

#### What is the use-case or motivation for changing an existing behavior?
Support for right to left languages, display direction and flow

#### Which versions of Angular, Material, OS, browsers are affected?
All

#### Is there anything else we should know?

[2016-11-30 14:07] crisbeto commented on #2034
Most of the components should already have support for RTL. Have you run into any issues?

[2016-11-30 14:13] jkyoutsey commented on #1316
This does not appear to be fixed in Alpha 10.  Still have to click once to get the highlight, then again to get the click to go through.

[2016-11-30 15:13] manuelmoyaroldan opened #2036 "Angular Material 2 Dialog Lazy Injection Issue"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Lazy loaded component open dialog.

#### What is the current behavior?
Lazy loaded component does not load lazy loaded component on dialog. I get error.

#### What are the steps to reproduce?

http://embed.plnkr.co/eBQNsfV7jTys4THqfT77/

#### What is the use-case or motivation for changing an existing behavior?

####

[2016-11-30 15:22] AsherBarak commented on #2034
Check out his screenshot
![image](https://cloud.githubusercontent.com/assets/6647171/20758139/8d489484-b721-11e6-85f8-5f90692b8503.png)

[2016-11-30 15:45] bergben commented on #998
@johnl242 I think it would be better if you post some code to see what you have so that people can actually help you.

@cortopy @fxck  Thanks but the displacer is no solution for me as the content is only fixed during a certain period of time and the rest of the time it is normally positioned inside some other content. As said I am using ng2-scrollimate to create some scrolling effects which also

[2016-11-30 15:58] xikky commented on #1926
I hope I am clear enough with this problem :)

[2016-11-30 16:08] manuelmoyaroldan commented on #2036
Sorry.. It works now.

[2016-11-30 16:08] #2036 closed

[2016-11-30 18:39] dahaupt commented on #1973
@kara & @jelbourn  This would lead me to set the value with a FormControl object for example. Let's stay in the demo-app select example:

`foodControl = new FormControl('pizza-1');`

This should set a start value of the md-select component. But even if the value is right now, I can just see the placeholder:
![wrong behaviour](http://i.imgur.com/6HrEkbi.png)

This button works fine:

`<button md-bu

[2016-11-30 18:55] jelbourn commented on #1430
It's mostly what's in the doc.

@crisbeto has been exploring the "disable scrolling" option in #1971 and @andrewseguin is already working on the repositioning.

[2016-11-30 19:00] jelbourn commented on #1946
@fxck nope, I've been terrible about keeping the milestones up to date.

[2016-11-30 19:12] fxck commented on #1946
You don't say. 😄 OK, are there any big features blocking it, or just some polishing to do?

[2016-11-30 19:21] jelbourn commented on #1946
@fxck #1915, #1907, #2026, #2014, and a fix for #1973

[2016-11-30 19:26] kara commented on #1973
@dahaupt Aha! Okay, I see what you're talking about, thanks for clarifying. While setting the initial value using `ngModel` does work, setting an initial value using `formControl` doesn't yet because the value is written synchronously before the options exist. I'm submitting a quick fix that should make the code above work. When the select component is released, the fix should go out with it.

[2016-11-30 19:38] tinayuangao commented on #1982
It's hard to tell how you changed the icon size without css.

What I tried is `md-72 {
  width: 72px;
  height: 72px;
  font-size: 72px;
}` and it centered correctly.

[2016-11-30 19:47] #1698 closed

[2016-11-30 19:47] #1353 closed

[2016-11-30 19:50] #1892 closed

[2016-11-30 20:31] mhmo91 commented on #115
Duration doesn't work with me, it doesn't even exist in the config class
i'm using version    "@angular/material": "^2.0.0-alpha.10",
Also, how about the color of the toaster? like danger, warning, success... thankss

[2016-11-30 20:50] jammerware commented on #115
@mhmo91 I don't think build with the duration property has been pushed to the npm feed yet. [The commit](https://github.com/angular/material2/commit/6ce63962ec4d9dc5ac8ebdb0ec83f17335b54334) in question was only made just under a couple of weeks ago.

[2016-11-30 21:18] httpNick opened #2039 "gutterSize not displaying any space between grid tiles."
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
have space between grid-list tiles

#### What is the current behavior?

No space between tiles.

#### What are the steps to reproduce?

This plunk shows the issue:

http://plnkr.co/edit/lm8zgipSsSAIPimPZSGW

#### What is the use-case or motivation for changing an existing behavior?
N/A

#### Which versions of Angular,

[2016-11-30 22:48] joejordanbrown commented on #2004
@jelbourn I've updated the plunker to compare both to make it easier for you to see what's different.

[2016-11-30 23:34] dzrust opened #2040 "[md-button] will not call click event when nested inside [md-card]"
#### Bug:
While a [md-button] is nested inside a [md-card] either [md-card] or nested in [md-card-actions] the (click) event is not called.

#### What is the expected behavior?
The click event should fire.

#### What is the current behavior?
The click event does not fire.

#### What are the steps to reproduce?
Place a button with a (click)="func()" attribute inside a [md-card] element and it will

[2016-11-30 23:41] farin99 commented on #118
What is the max number of options md-select will support? Will the items be in the DOM even if the menu isn't open?

Thanks!

[2016-12-01 00:04] jelbourn commented on #2004
That does look like a bug, then.

[2016-12-01 00:25] dreweird commented on #1975
there's no bug but i want the avatar to align also in the right corner in my chat app..alternatively when someone reply....it's more in css i think

[2016-12-01 01:07] #1427 closed

[2016-12-01 01:07] #1131 closed

[2016-12-01 01:07] #559 closed

[2016-12-01 01:07] #1889 closed

[2016-12-01 01:08] #1973 closed

[2016-12-01 01:10] dahaupt commented on #1973
@kara Thanks and keep up the great work! 👍

[2016-12-01 05:04] nayfin commented on #1967
This is exactly how I am trying to use this feature as well, super easy way to keep your tabs in line with your location. I am working on a [plunkr](https://plnkr.co/edit/pLZ4Iq?p=preview) but I am running into some issues just getting it set up.

1. It seems like the Angular Material 2 template may not be getting the latest version of material, because if I try to add the `[active]="someBoolean"`

[2016-12-01 05:23] alvachien opened #2041 "Any plan to provide a file uploader component"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Select and upload the file to a specified backend URL.
It shall provide the capability to restrict the file extension, size or other special requirements.
It will be great if combining with the progress bar.

#### What is the current behavior?
There is no such component.

#### What are the steps to reprodu

[2016-12-01 05:24] chenyingyin commented on #1445
![default](https://cloud.githubusercontent.com/assets/24284270/20782714/60f05eaa-b7c9-11e6-9006-f7beb8bef322.png)

[2016-12-01 08:58] manuelmoyaroldan opened #2042 "MdDialog Content Overflow"
#### Bug, feature request, or proposal:
When the content of a MdDialog overflows the height of the browser, the content is hidden.

#### What is the expected behavior?
Scroll the content of MdDialog

#### What is the current behavior?
The content overflowed is hidden.

#### What are the steps to reproduce?

http://plnkr.co/edit/9S2ZUzQTmquS4sjmjuoO?p=preview

#### What is the use-case or motivatio

[2016-12-01 10:25] crisbeto commented on #2042
I had some plans on addressing this, but it depends on https://github.com/angular/material2/pull/1962

[2016-12-01 11:06] fxck commented on #2042
probably part of https://github.com/angular/material2/issues/1624 as md-dialog-content will likely have max-height and overflow auto

[2016-12-01 11:07] crisbeto commented on #2042
That one might be a little tricky @fxck. AFAIK we don't have the ability to project elements to multiple slots, yet.

[2016-12-01 11:35] myElectrical commented on #224
+1 This is almost essential if users have large data tables (and switch back and forth to an edit page).

[2016-12-01 13:08] rotemx opened #2043 "md-checkbox not behaving correctly (not unchecking on first click)"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When using native checkboxes with [Angular2-Data-Table](https://github.com/swimlane/angular2-data-table) I can toggle columns on or off the table.
When trying to implement md-checkbox the first click doesn't work - the checkbox remains checked.
After the first click the checked value is opposite to the model, i.e. opp

[2016-12-01 13:11] mtrdp642 commented on #2041
[Covalent](https://teradata.github.io/covalent/#/components/file-upload) has a nice file upload that has a material look to it and [PrimeNG](http://www.primefaces.org/primeng/#/fileupload) has another one you can use. [Here's another one](http://valor-software.com/ng2-file-upload/) that is better for a series of downloads and file queuing.

#1347 References this question as well.

[2016-12-01 14:13] istiti commented on #1973
@kara can you please update plan for December ?
What's about 2 new employee (planned for October)

[2016-12-01 15:30] michaeljota commented on #2033
Rather that seeing as the Toolbar and the sidenav should be fixed in the layout, I guess that the content of the sidenav-layout must be wrapped. This would allow for the expect behavior, but with so much less effort, and must be clearer what it is the intent and why this is happening. Also, I guess you can just wrap yourself the content of the sidenav-layout as a workaround. One more thing, you ma

[2016-12-01 15:58] fredrikredflag opened #2044 "md-input causes maximum call stack size exceeded"
#### Bug:

When using `md-input` with neasted formGroups/formArray and ReactiveFormModule it will either halt the browser or throw an error with `maximum call stack size exceeded`. With a normal `input` it works as expected.

`md-input` will work in a higher level in the nested formGroup. But deep it will be caught in a endless loop it would seem.

[code]

[code]

#### What is the expected behavio

[2016-12-01 16:24] xtianus79 opened #2045 "when will alpha .11 be coming?"
#### Bug, feature request, or proposal:
please hurry i don't want to use ng prime

[2016-12-01 17:13] fredrikredflag commented on #2044
Looking into it a bit further it looks a bit like it's a problem with `@angular/forms` when you mix `ngModel` with ReactiveForms.

I typed up a simplified version of `md-input`:

[code]
It's causing the same issues.

[2016-12-01 17:41] sstorie commented on #1423
I know this is closed, but FWIW I am using alpha.10 and am seeing a similar issue with a simple button. I've included the indigo-pink CSS theme, put a button in a component (with encapsulated styles if that matters), but I don't see the expected styling when using `color="primary"` on the button:

![image](https://cloud.githubusercontent.com/assets/3630784/20805099/0fc098d2-b7bb-11e6-832f-08ff114a

[2016-12-01 18:37] #2045 closed

[2016-12-01 18:37] #2028 closed

[2016-12-01 19:13] theunreal commented on #2000
Yeah, it shows again after using `clear:both`. I think it's releated to the content after the checkboxes, but I have no clue why it occurs and when.

[2016-12-01 19:28] kara opened #2048 "Scroll on select panel not applied if navigating quickly on keyboard"
If you use the keyboard to control the select component and open and close the panel really fast after selecting an option in the middle, sometimes the scrollTop isn't applied. It looks like it's calculated correctly, but the scrollTop doesn't appear to be set properly.

cc: @jelbourn

[2016-12-01 19:30] kara opened #2049 "ConnectedPositionStrategy should apply the "closest" fallback position"
Currently, if none of the preferred positions fit in the viewport, the ConnectedPositionStrategy will simply apply the first preferred position. The next step in its implementation would be to keep track of how far each position is from fitting in the viewport, and apply the "best fit" position if none of them fit.

cc: @jelbourn

[2016-12-01 19:32] kara opened #2050 "Placeholder shouldn't animate for initially selected values in select"
Right now, the placeholder will always animate when it receives a new selected value, even if it is the initial value. It should only animate when there is no initially selected value.

[2016-12-01 20:19] tinayuangao commented on #2004
Checked the native checkbox behavior in the plunker, and not sure whether we should follow it:

When `checked = true, indeterminate = true`, the box shows ` - ` if the values are set programmatically, while it shows `✓` if set `checked` to `true` by clicking on the checkbox.

When `checked = false, indeterminate = true`, the box shows ` - ` if the values are set programmatically, while it shows `

[2016-12-01 20:51] Luchillo commented on #2013
Ok so i've been testing and i am able to create a tab, set the tab i want to go and it happens so fast that i doesn't even notice the `+` tab being shown, like this:
[code]

However this is kind of a hack, @Daeluse what do you think about it?

[2016-12-01 21:25] pmulac commented on #1884
The same is happening with `md-checkbox`.  When I disable a checkbox like this:

[code]

I receive this warning:

[code]

However, initializing a `FormControl` with `{ value: 'anyValue', disabled: true}` doesn't seem to do anything.  The input ignores the disabled property and remains enabled.

[2016-12-01 22:18] #1692 closed

[2016-12-01 23:23] ayumiknight opened #2053 "Problem with progress bar? Or built on purpose?"
#### Bug, feature request, or proposal:
I'm using the Indeterminate progress bar for indicating loading event.
However, when the loading fails and pops an alert, the progress bar act weird until the alert box goes away.
Basically, you can see that progress bar's length is changing but the position is frozen.

#### What is the expected behavior?
Progress bar should shift through the screen when ale

[2016-12-01 23:27] tinayuangao commented on #2004
@jelbourn We did this on purpose. Should we change the current behavior?

See checkbox comment on indeterminate:

   represent a checkbox with three states, e.g. a checkbox that represents a nested list of
    checkable items. Note that whenever `checked` is set, indeterminate is immediately set to
   false. This differs from the web platform in that indeterminate state on native
    checkboxes is

[2016-12-02 00:35] kara opened #2056 "Selects inside ngIfs have issues"
Selects created inside an ngIf get "expression changed after checked" errors.

[2016-12-02 00:35] divanvb opened #2057 "Uncaught Error: Unexpected value 'undefined' imported by the module 'MdInputModule'"
#### Bug, feature request, or proposal:
Getting this error when launching my app and is preventing the app from running

#### What is the expected behavior?
Not throwing this error

#### What is the current behavior?
Not launching my application

#### What are the steps to reproduce?
Tried installing material2 to my fountain-webapp project and then got the error

#### What is the use-case or motiv

[2016-12-02 01:09] chouclee opened #2058 "Selected tab label should use text color from theme to match the indicator"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
1. https://material.google.com/components/tabs.html#tabs-usage
"The text color is the same as the tab indicator."

2. https://material.angularjs.org/latest/demo/tabs

#### What is the current behavior?
Font just get bold when tab was clicked. And bold effect only works when tab is focused.

#### What are the steps to

[2016-12-02 02:23] joejordanbrown commented on #2004
@tinayuangao if you're saying that when the `md-checkbox` `checked` value is set to `true` that the indeterminate is set to `false `that's not correct please check the video https://youtu.be/1WA7fpRgqqU

I agree with the comments, especially when all the browsers seem to have a different idea on how the native indeterminate checkbox should work. just that's not how it's currently working

Some pic

[2016-12-02 08:07] eagle-dan1349 opened #2059 "[MdButton] styles get messed up"
#### Bug, feature request, or proposal:
[x] Bug

#### What is the expected behavior?
MdButton behavior is indifferent to hosting element, be it <a> or <button>

#### What is the current behavior?
When using 'md-button' on <a> element, it attaches 'disabled' attribute.
Presence of 'disabled' attribute causes disabled state styles to be applied to button (no matter what is attribute's value).
In cas

[2016-12-02 08:46] fredrikredflag commented on #2044
I appears the problem was caused by
[code]

It should be:
[code]

[2016-12-02 08:46] #2044 closed

[2016-12-02 08:57] fxck commented on #2059
https://github.com/angular/material2/issues/1946

[2016-12-02 09:00] fxck commented on #2057
create a plunker reproduction

[2016-12-02 09:13] eagle-dan1349 commented on #2059
I used usual 'md-button', not 'md-raised-button'

[2016-12-02 10:01] gregor-srdic commented on #2003
I solved it like this:
I have a ConfirmationDialog component, where I defined a public property "confirmationOptions" that can contain title and text for the dialog.

[code]

[2016-12-02 17:10] davidalee opened #2061 "Clicking outside of sidenav should close sidenav"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Once sidenav element is visible, clicking anywhere outside of the sidenav element should close sidenav.

#### What is the current behavior?
User must click the close button in order to close sidenav

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team t

[2016-12-02 17:10] #2061 closed

[2016-12-02 17:22] jelbourn commented on #2059
Dupe of #1946 (applies to all kinds of button)

[2016-12-02 17:22] #2059 closed

[2016-12-02 17:24] jelbourn commented on #2057
@divanvb Please provide more reproduction information. What module loader are you using? What does your app's NgModule look like?

[2016-12-02 17:25] jelbourn commented on #2041
We may explore this in the future but it isn't currently on the roadmap.

[2016-12-02 17:25] #2041 closed

[2016-12-02 17:30] jelbourn commented on #2040
@crisbeto I took a quick look at the Plunker and something seems amiss, but I'm not sure where the problem lies.

[2016-12-02 20:12] xtianus79 commented on #2045
lol no love @jelbourn ?

[2016-12-02 20:33] crisbeto commented on #2040
It doesn't look like this is an issue. The click event isn't being called, because both the `md-button` and the `md-card` have a click handler. When you click the button, the click event propagates up to the card which then resets the value. If you look at the HTML:

[code]

@dzrust, you can avoid this by either removing the click event from the card or stopping the event propagation:

[code]

[2016-12-02 20:33] #2040 closed

[2016-12-02 21:15] jelbourn commented on #2045
In general, any issues of the form "when will XXX happen" are just auto-closed. GitHub issues are for bug reports and feature requests.

[2016-12-02 21:33] #2022 closed

[2016-12-02 21:33] #932 closed

[2016-12-02 21:34] #1669 closed

[2016-12-02 21:36] #2001 closed

[2016-12-02 21:37] #1899 closed

[2016-12-02 21:37] #1341 closed

[2016-12-02 21:39] #759 closed

[2016-12-02 22:56] jelbourn opened #2066 "Production release uses minified html and css"

[2016-12-02 23:03] jelbourn commented on #2053
using `alert`, `confirm`, and `prompt` block the UI thread from doing anything until the pop-up is dismissed. There's really nothing we _can_ do to avoid this; it's the nature of the browser.

[2016-12-02 23:03] #2053 closed

[2016-12-02 23:20] jelbourn commented on #2029
We will likely have something similar as part of data-table (#581), but nothing in the short-term. Follow #581 for updates.

[2016-12-02 23:20] #2029 closed

[2016-12-03 06:47] HazizKhan opened #2069 "MDButton inserting an div element under the button element after clicking on button"
After Clicking on button MDButton Inserting an div.md-ripple-foreground.md-ripple-fade-in element under the button.
take a look of these screenshots.

![btn1](https://cloud.githubusercontent.com/assets/13147389/20857425/e177ad50-b94d-11e6-95b3-5f3bdc27d8fc.png)
![btn2](https://cloud.githubusercontent.com/assets/13147389/20857426/e18f723c-b94d-11e6-8414-a80a91c23fdf.png)
![btn4](https://cloud.githu

[2016-12-03 09:17] crisbeto commented on #2069
This looks like it should get sorted out with https://github.com/angular/material2/pull/1915

[2016-12-03 15:56] zakdances opened #2071 "Can't import 3rd party CSS (from node_modules) in a component's scoped stylesheet"
#### Bug, feature request, or proposal:
I want to import a 3rd party stylesheet to a component's stylesheet, but every path I've tried produces `Error: ENOENT: no such file or directory: "/_debug" DeprecationWarning: Unhandled promise rejections are deprecated. In the future, promise rejections that are not handled will terminate the Node.js process with a non-zero exit code`.

Here's my home.comp

[2016-12-03 16:22] zakdances commented on #2071
Seems like it was a problem with unminified CSS. `node_modules/tachyons/css/tachyons.min` works.

[2016-12-03 16:22] #2071 closed

[2016-12-04 00:58] kuncevic commented on #41
Hi @jelbourn  the current https://github.com/jelbourn/material2-app is not working with the recent angular-cli and has some broken dependencies. Here is a pool request by @christinakayastha  that fixing that https://github.com/jelbourn/material2-app/pull/22 is there any reasons why it is not accepted?

[2016-12-04 03:31] nayfin commented on #1967
Thanks for the fast update. I updated the [plunkr](http://plnkr.co/edit/pLZ4Iq?p=preview).  All the relevant code is in `app.component.html`. I commented the hell out of it explaining what we are looking for. Hopefully it is just a syntactic mistake. Please let me know if I can help in any way. Thanks for all your hard work, this is an amazing set of components and I hope that I can contribute soo

[2016-12-04 10:57] bkarv opened #2073 "md-list-item hover style"
#### Bug, feature request, or proposal:
Feature/Bug:
Ability to set hover style  for md-list-item. For example, background of md-list-item changes color on hover.

#### What is the expected behavior?
When setting class md-list-item eg
.hover > * :hover{
    background-color: blue;
}

Item background does not change color.

#### What is the current behavior?
Unable to set class to on hover.

#### W

[2016-12-04 11:32] Tokiya opened #2074 "md-button-toggle-group: does not have a vertical property (but it should have issue #1892)"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
It should have an option to align buttons vertically

#### What is the current behavior?
Error:

"Template parse errors:
Can't bind to 'vertical' since it isn't a known property of 'md-button-toggle-group'.
1. If 'md-button-toggle-group' is an Angular component and it has 'vertical' input, then verify that it is part

[2016-12-04 11:37] Tokiya commented on #2074
Sorry, I suppose it will be in next release.

[2016-12-04 11:37] #2074 closed

[2016-12-04 12:35] crisbeto commented on #2012
@johnrbaur That's because the `md-list-item` has collapsed. Forwarding the styles to the inner elements isn't necessary, you just need to add a `display: block`. I've put in a PR that should fix it on Material's side.

[2016-12-04 12:46] crisbeto commented on #1975
You can achieve the same by setting the list in RTL mode @dreweird:

[code]

Note that you can also do this on individual list items.

[2016-12-04 12:46] #1975 closed

[2016-12-04 12:55] crisbeto commented on #1944
@j-tee You need to include `hammerjs` in the types section of your `tsconfig.json`:

[code]

I'll see how to make this clearer in the docs.

[2016-12-04 23:43] bradysterling commented on #998
pretty please remove `transform: translate3d` from the `.md-sidenav-content` class?

[2016-12-05 04:18] kuncevic commented on #1013
I thing `polyfills.ts` is the right place to place `polyfills.ts`

[2016-12-05 05:39] bkarv commented on #2073
Didn't realise md-nav-list had a hover. Can close issue!

[2016-12-05 05:39] #2073 closed

[2016-12-05 10:25] hindmarch commented on #224
Hi it's me. The end of 2016. Any news?

[2016-12-05 12:01] subarroca opened #2078 "Empty tooltip should not be shown"
#### What is the expected behavior?
If tooltip is undefined, null or '' no tooltip should be displayed

#### What is the current behavior?
Empty tooltip shown

#### What are the steps to reproduce?
add [md-tooltip] = null to any tag and hover it

#### Which versions of Angular, Material, OS, browsers are affected?
@ angular 2.2.4, @ angular/material 2.0.0-alpha.10

[2016-12-05 14:04] Symfomany opened #2079 "Probleme integrate md-subheader in md-list"
#### Bug, feature request, or proposal:
      <md-subheader class="md-no-sticky">3 line item</md-subheader>
Not available for md-list?

#### What is the expected behavior?

      <md-subheader class="md-no-sticky">3 line item</md-subheader>

#### What is the current behavior?
No integration for md-subheader

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way

[2016-12-05 15:11] davidwilcox opened #2080 "Support MouseOver For Menu Instead Of Click"
#### Bug, feature request, or proposal:
I would like an option to be available for MdMenu that will open it when the mouse is over the menu element, and close it when the mouse leaves the menu element, or the menu dropdown.

#### What is the current behavior?
It seems that the main interface into MdMenu is where the user should click on it. This is unacceptable for my use case.

There is also a pr

[2016-12-05 16:41] JanStureNielsen commented on #224
@hindmarch @damianobarbati -- this issue is closed. As Jeremy noted above, the md-data-table work is tracked in #581.

[2016-12-05 17:46] jelbourn commented on #41
@kuncevic I don't even have notifications turned on for that repo. I typically update it with each material release.

[2016-12-05 21:05] mbateman66 opened #2083 "slider does not slide on iPhone"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Slider should work on the iPhone like it does on other platforms.

#### What is the current behavior?
Slider does not slide on iPhone. You can touch in a new location, and it will send the new value, but touching the slider circle does not allow it to be moved.

#### Which versions of Angular, Material, OS, browsers a

[2016-12-05 21:31] nayfin commented on #1967
I just tried adding the safe navigation operator to the `rla` template variable i.e. `[active]="rla?.isActive`. I was hoping that perhaps it just need time to load its values, but no dice, I am still getting the same error messages.

[2016-12-05 21:47] xtianus79 commented on #2045
@jelbourn so what is the best venue for such questions?

[2016-12-05 21:49] #421 closed

[2016-12-05 21:49] #1769 closed

[2016-12-05 21:51] #1085 closed

[2016-12-05 21:53] jelbourn commented on #2045
I try to answer short questions on twitter

[2016-12-06 04:39] code-tree opened #2085 "Toolbar height should adjust based on @media"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Toolbar height [follows spec](https://material.google.com/layout/structure.html#structure-app-bar)

#### What is the current behavior?
Toolbar height is static at 64px.

#### What are the steps to reproduce?
n/a

#### What is the use-case or motivation for changing an existing behavior?
Follow spec

#### Which version

[2016-12-06 05:35] kuncevic commented on #41
@jelbourn I was actually playing with the things recently so I can just create a pool request that would contained the one I mentioned above + updated to all the latest material2 and angular-cli

[2016-12-06 06:17] DevVersion commented on #2085
@jelbourn Should we implement that? From what I remember we decided to let the user take care of it?

[2016-12-06 06:52] #2078 closed

[2016-12-06 06:56] #1944 closed

[2016-12-06 07:41] code-tree commented on #2085
I'm fine with that, as I've already made my own implementation

[2016-12-06 08:08] dreweird opened #2086 "Passing local data to md dialog???"
----in my html code---
` <td *ngIf="item.clickable=='yes'" (click)="openDialog(item)">{{item.kilo[0] | number: '1.2-2'}}</td>`

---in my component code---

[code]
How to show the local variables in the md-dialog template???? I want to display the value of item
[code]

[2016-12-06 08:20] crisbeto commented on #2086
[Try the suggestion from here.](https://github.com/angular/material2/issues/1377#issuecomment-250632661) We should probably document this option a little bit better.

[2016-12-06 08:21] #2086 closed

[2016-12-06 08:41] SamiAl90 commented on #2083
did you include hammerjs in your polyfills or main file?

`import 'hammerjs';`

[2016-12-06 13:23] xikky opened #2087 "Infinite horizontal slider (carousel-like)"
I've been dwelling with this for more than two full days and I cannot make it work properly. Something which looks trivial but truth is it's tricky, also something that is commonly used in web applications.

The idea is to have a carousel-like slider, always sliding to one side, with element boxes being added on interval on one side, and removed from the other side; so as to keep populating the sl

[2016-12-06 15:19] m--c commented on #675
something I noticed is commonly forgotten: make it possible to type the date, maybe with some mask? Most datepickers i was for ng2 are click only! Oh... and a way to clear the field as well...? thanks!! excellent work!

[2016-12-06 15:31] karan1276 opened #2088 "Modal component"
Are there any plans to make a "modal" component, like bootstrap maybe?
ref: http://getbootstrap.com/javascript/#modals

[2016-12-06 15:38] crisbeto commented on #2088
[It's implemented already as `dialog`.](https://github.com/angular/material2/tree/master/src/lib/dialog#mddialog)

[2016-12-06 15:38] #2088 closed

[2016-12-06 15:41] karan1276 commented on #2088
Thanks

[2016-12-06 15:42] karan1276 commented on #2088
you guys rock

[2016-12-06 16:11] mbateman66 commented on #2083
Yes, I have the following line in my src/app/app.module.ts:
import 'hammerjs';

I do not have the types entry in the tsconfig.json, since adding that breaks the compile for other modules. But there is an entry for typeRoots that includes the node_modules/@types directory where the hammerjs types are located.

[2016-12-06 16:21] ayazhussein commented on #2083
I got the same problem, trying to slide on mobile doesn't work correctly, when I try to slide, it shows the tooltip and then stays stuck, unless I tap somewhere else and then I try again, after that it works.

[2016-12-06 16:38] mbateman66 commented on #2083
For me, it will never slide, even after a tap.

[2016-12-06 17:40] jelbourn commented on #2085
@DevVersion I'd be okay with making it responsive per the spec.

[2016-12-06 17:42] DevVersion commented on #2085
@jelbourn I'd rather make it optional like having an attribute like `md-responsive`, because I think it would confuse users.

[2016-12-06 17:49] jelbourn commented on #2085
Being responsive by default seems good to me, though, since users can always explicitly set the height to override the default behavior.

[2016-12-06 17:50] DevVersion commented on #2085
Ah yeah makes sense. I'm going to create a PR to change it.

[2016-12-06 18:27] bjspencer opened #2089 "Installation fails if typings is not installed globally"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Should be able to install without typings installed

#### What is the current behavior?
Installing this package fails if typings is not installed globally. The error is `ERR! material2@2.0.0-alpha.6-2 postinstall: 'npm run typings'`

#### What are the steps to reproduce?
1. Remove typings if you have it installed (`np

[2016-12-06 18:32] bjspencer commented on #2089
Aha, so it appears this was fixed some time ago, but the npm version is old enough it doesn't have the fix.

[2016-12-06 18:33] bjspencer commented on #2089
Whoops, got an outdated package from npm with `material2`, rather than `@angular/material2`. Please remove issue.

[2016-12-06 18:45] dahaupt commented on #2089
@bjspencer I think you can close this issue yourself.

[2016-12-06 18:56] #2089 closed

[2016-12-06 19:30] mLaird opened #2091 "md-input does not provide form control states of ngModel, e.g., ngDirty"
#### Bug, feature request, or proposal:
Its a code bug in MD2.  When I follow the instructions for creating input validators in the official docs for Forms, in the section for "Track change-state and validity with ngModel", the control states do not appear.  When md-input is changed to a plain old input element, the control states appear, as described in the Forms docs.

#### What is the expected

[2016-12-06 19:40] jelbourn commented on #107
@crisbeto for the `<md-action-list>`

[2016-12-06 21:09] paladinu commented on #1967
I'm getting the same error when trying to use the value in to set a class:
`[ngClass]="{'icon icon_contact' : (rla && rla.isActive)}"`
 Results in
`core.umd.js:2838 EXCEPTION: Error in /js/app/templates/nav-primary.html:18:38 caused by: Cannot read property 'some' of undefinedErrorHandler.handleError @ core.umd.js:2838(anonymous function) @ core.umd.js:6362ZoneDelegate.invoke @ zone.js:229onInvoke

[2016-12-06 23:58] kara commented on #2050
Closed by https://github.com/angular/material2/pull/2054

[2016-12-06 23:58] #2050 closed

[2016-12-07 01:51] #2012 closed

[2016-12-07 03:57] nayfin commented on #1967
If you just need to add a class to the active link and remove it when it's not active, Angular has a built in directive that does that.

`<a routerLink="/someUrl" [routerLinkActive]="['class1', 'class2']"> A cool link </a>`

So, yours would be:

`<a routerLink="/someUrl" [routerLinkActive]="['icon ', 'icon_contact']"> A cool link </a>`

[Here are some docs](https://angular.io/docs/ts/latest/api/ro

[2016-12-07 04:31] paladinu commented on #1967
Yes, I use that else where.  The problem I am trying to solve is that I want to apply a class to something that is a child or my routerlink.  Like this:
`<a routerLink="/someUrl"><span [routerLinkActive]="['class1', 'class2']">I want the class on this span</span></a>`
From what I can tell that is what the RouterLinkActive directive export was trying to solve and it works fine if I throw it in as i

[2016-12-07 04:56] nayfin commented on #1967
If you can update that plunkr to demonstrate what you are looking for, I think I should be able to help you.

[2016-12-07 08:27] subarroca commented on #2078
Thanks!

[2016-12-07 08:58] EladBezalel commented on #2080
Hey @davidwilcox your use case is not part of the [Material Design Specification](https://material.google.com) guidelines that we aim to fully implement in Angular Material, you can implement this sort of functionality with our [Overlay](https://docs.google.com/document/d/1jSMjkKSdzbQa2cuCeSFpzFAwDHr7xY4eqsXkfF6MeqA/preview) component and custom triggers.

CC @jelbourn

[2016-12-07 09:02] EladBezalel commented on #2087
Hey @xikky, regarding your last question - no ATM you can't use dynamic values in animations.

This issue is not related to the Material repository at all, i suggest you'd ask that at the [angular](https://github.com/angular/angular) repository or other support forums, good luck :)

[2016-12-07 09:02] #2087 closed

[2016-12-07 09:03] EladBezalel commented on #2079
Please reproduce the issue in Plunker so we can investigate further.

[2016-12-07 09:04] xikky commented on #2087
Oh yes you are right! My bad, thanks! :)

[2016-12-07 09:29] xikky commented on #2087
For those who just might want to follow, the problem is on [stackoverflow](https://stackoverflow.com/questions/41013657/infinite-horizontal-slider-carousel-like)

[2016-12-07 11:29] arciisine opened #2095 "Checkbox Demo has an ordering issue with RTL"
#### Bug, feature request, or proposal:
In the demo app, the checkbox section, when using RTL, has an ordering issue.  The label and the associated checkbox are being separated, causing some odd behavior.

#### What is the expected behavior?
The checkboxes and labels should work the same, just with the visual order reversed.

#### What is the current behavior?
The label and checkbox are not revers

[2016-12-07 13:08] mLaird commented on #2091
As I said, build a small form using the official Angular2 docs. Follow
instructions to build a validator. It will not validate using md-input.
Change md-input to a plain input element. It will validate.

On Tue, Dec 6, 2016 at 9:51 PM, Jeremy Elbourn <notifications@github.com>
wrote:

--

Mike Laird

12 Arbor Creek Drive, Pittsford, New York 14534
mlaird@alum.mit.edu

". . . remembering on both si

[2016-12-07 13:41] JanStureNielsen commented on #2091
@mLaird - Providing a Plunker (or similar) is the best way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

[2016-12-07 14:33] kara commented on #2056
Closed by #2065

[2016-12-07 14:33] #2056 closed

[2016-12-07 15:08] paladinu commented on #1967
Here is a fork of that plunkr.  My goal is to be able to apply a class to something within the router link rather than the routerlink itself.  I think it is the same issue as the OP because they are both trying to access the isActive within an expression.

http://plnkr.co/edit/cUl8VS?p=preview

[2016-12-07 15:49] LeniM opened #2096 "npm doesnt have dialog package"
#### Bug, feature request, or proposal:
Npm is not aware of the dialog package

#### What is the expected behavior?
adding the repo to dependencies and getting all the packages

#### What is the current behavior?
adding the repo to dependencies and not getting the dialog package

#### What are the steps to reproduce?
npm install --save @angular/material

#### What is the use-case or motivation for

[2016-12-07 15:50] crisbeto commented on #2096
This is outdated. You should use the `@angular/material` package.

[2016-12-07 17:04] mLaird commented on #2091
Sorry, don't know how to make plnkr
Here's some code that will not create a validation control message with md-input. It will validate with plain input.
HTML

    <md-input id="stateProvince" name="stateProvince" class="required" aria-labelledby="stateProvince" [(ngModel)]="residenceModel.stateProvince"
      i18n-placeholder="select state or province placeholder" placeholder="State" type="text" s

[2016-12-07 17:07] razvanmitre commented on #1331
any news on this?

[2016-12-07 17:19] jelbourn commented on #2080
What @EladBezalel said.

[2016-12-07 17:19] #2080 closed

[2016-12-07 17:25] mLaird commented on #2091
Sorry, don't know how to make plnkr
Here's some code that will not create a validation control message with md-input. It will validate with plain input.
HTML

    <md-input id="stateProvince" name="stateProvince" class="required" aria-labelledby="stateProvince" [(ngModel)]="residenceModel.stateProvince"
      i18n-placeholder="select state or province placeholder" placeholder="State" type="text" s

[2016-12-07 17:29] mLaird commented on #2091
You could also copy the completed form code in the official Angular 2 docs. They are at:
http://devdocs.io/angular~2_typescript/guide/forms

Then change the input elements to md-input and try the validations.

This would be a good test for the MD2 team.  Thousands of developers use the official docs as a guide or reference resource.  MD code should be tested against every code example in the Angul

[2016-12-07 17:54] #1818 closed

[2016-12-07 18:09] mLaird commented on #2091
Sorry, I don't plunk.
A couple of my responses, including one with my code, have disappeared.  My suggestion at this point is to copy the form code samples in the Angular 2 official docs.  http://devdocs.io/angular~2_typescript/guide/forms

Change the input tags to md-input.  Validation of user input will cease to work.  That should lead you to your issues.  BTW, this is a good test process for mo

[2016-12-07 18:33] andrewseguin opened #2097 "Single ripple unit test uses a 1600ms timeout"
The ripple spec has a test `removes foreground ripples after timeout` that requires the use of a 1600ms timeout to test the removal of ripples. Consider how to make this test run faster by removing an actual call to setTimeout.

[2016-12-07 18:52] xtianus79 commented on #2045
@jelbourn thank you.  I will ask it on there.  I appreciate you guys

[2016-12-07 19:19] crisbeto commented on #2097
Wasn't there a `tick` function in the `@angular/testing` that lets you go forward in time?

[2016-12-07 19:20] chrishawn opened #2098 "Tooltip 'originX' error"
I'm using    "@angular/material": "^2.0.0-alpha.10",

I'm just trying to add the sample tooltip to my component

`<button md-tooltip="some message" tooltip-position="bottom">Button</button>`

but i keep getting this in the Google Chrome console when i mouse over the button,
 am I missing a dependency somehow?

[code]

[2016-12-07 19:25] crisbeto commented on #2098
It's because the `bottom` position isn't valid. These are the valid positions: `'left' | 'right' | 'above' | 'below' | 'before' | 'after'`. We merged a fix yesterday that will throw a better error if you give it an invalid position.

[2016-12-07 19:25] #2098 closed

[2016-12-07 20:13] mmalerba commented on #1331
I don't think this is a priority for us since its not part of the material spec

[2016-12-07 21:58] anderflash commented on #1331
I understand. It would be considered a future enhancement. I see [Ionic Range](https://ionicframework.com/docs/v2/api/components/range/Range/) could be a good inspiration (there is an example - see _structure_ field). And it's on top of Angular 2.

[2016-12-07 22:46] fxck commented on #2096
@crisbeto @jelbourn can you not change readme in packages in angular2-material.. to say something like "DEPRECATED, USE @angular/material"

[2016-12-07 22:48] jelbourn commented on #2096
@fxck Yeah, we should do that. I'll file a separate issue.

[2016-12-07 22:48] #2096 closed

[2016-12-07 22:48] fxck commented on #2091
Honestly if you can't be arsed to try and create a plunk.. from a predefined template.. which is like a two minute thing..

[2016-12-07 22:49] jelbourn opened #2103 "Mark old @angular2-material packages as obsolete"
The [old `@angular2-material` packages](https://www.npmjs.com/~angular2-material) don't give any indication that they're obsolete. We should republish them with new README files that tell people what to do.

[2016-12-07 22:50] jelbourn commented on #2069
Dupe of #1818

[2016-12-07 22:50] #2069 closed

[2016-12-07 22:53] dahaupt commented on #2103
Would it not make sense to remove the old packages in 1-2 months completely from npm?

[2016-12-07 22:56] jelbourn commented on #2103
@dahaupt Like diamonds, npm packages are forever.

[2016-12-08 00:04] JanStureNielsen commented on #2091
Take a few moments to learn Plunker, @mLaird -- it's well worth your time as well as the time&effort of everyone trying to help you...

[2016-12-08 00:49] johnqiuwan opened #2105 "When will be the next release ?"
Does anyone know an estimate time when the next release ? Waiting for the md-select and md-input : )

[2016-12-08 01:13] dahaupt commented on #2105
@johnqiuwan See https://github.com/angular/material2/issues/2045

[2016-12-08 01:36] alxhub opened #2106 "<md-input> placeholders are not working on the pink-bluegrey theme."
#### Bug, feature request, or proposal:

Bug report.

#### What is the expected behavior?

Placeholders show up on &lt;md-input&gt; when using the pink-bluegrey theme.

#### What is the current behavior?

Placeholder text is white until the &lt;md-input&gt; is focused.

#### What are the steps to reproduce?

http://plnkr.co/edit/qjcghUoBEs0GMING1eS9?p=preview

#### Which versions of Angular, Mater

[2016-12-08 01:41] jmcgoldrick opened #2107 "Incompatible with angular@2.3.0? (this._appRef.registerChangeDetector is not a function)"
Application throws error after update to latest angular release (`angular@2.3.0`). Rollback to `2.2.4` and all is well. Are others seeing this too?

[code]

[2016-12-08 01:57] jmcgoldrick commented on #2107
Quick update, building angular/material from `master` resolves the issue

[2016-12-08 04:04] nayfin commented on #1967
Okay... I've done everything I can think of. It seems these particular attributes ,`[active]` and `[ngClass]`, don't want to wait for `rla.isActive` to load and return a boolean. They won't wait even wait when you using the Safe Navigation Operator `?.`, which is explicitly telling them to.

You can however use [class bindings](https://angular.io/docs/ts/latest/guide/template-syntax.html#!#class-b

[2016-12-08 05:15] Striveyazi opened #2108 "dialog=> MdDialogConfig in dialog-config.d.ts no new addition things(position,width..etc)"
dialog component

[2016-12-08 05:57] #1817 closed

[2016-12-08 05:59] kara opened #2109 "Select should clear selection if setting value programmatically to nonexistent option value"
Right now if you set the select value to an option value that doesn't exist, nothing happens. To emulate native selects, it should clear the select.

[2016-12-08 06:15] johnqiuwan commented on #2105
lol, ok, you are right. I close it myself : )

[2016-12-08 06:15] #2105 closed

[2016-12-08 06:30] crisbeto commented on #2108
The position, width, height etc. options for the dialog are in `master`, but haven't been released yet. They should be in the next version.

[2016-12-08 06:30] #2108 closed

[2016-12-08 07:17] pauldemarco commented on #1130
sikemullivan, that totally works, have you noticed any compatibility issues?

[2016-12-08 07:35] Striveyazi commented on #2108
About when the next version will be released?

[2016-12-08 08:43] EladBezalel commented on #2095
It seems like it's not our problem 😅
I replicated it in [Codepen](http://codepen.io/EladBezalel/pen/dOKOJd).

The docs site is currently under development and this issue would be considered, thanks for pointing that out.

[2016-12-08 08:43] #2095 closed

[2016-12-08 09:02] QuentinFchx commented on #2107
Would it be possible to draft a release ?

[2016-12-08 09:02] dreweird commented on #118
I can't wait for this...

[2016-12-08 09:25] SamMousa commented on #1947
I've added this to my todo list.

[2016-12-08 10:20] yentheo opened #2112 "md-card-header not full width of card"
#### Bug, feature request, or proposal:
Either of the above

#### What is the expected behavior?
It's not really a bug, but I would like the container for the card header text, the div with class .md-card-header-text, to be the full width of the card if I don't have an avatar, or the remaining width when I have an avatar.

#### What is the current behavior?
It just take the width it needs.

#### W

[2016-12-08 10:49] codejith opened #2113 "Is there a 12 column responsive grid system there in material 2.?"
#### Bug, feature request, or proposal:
(Feature Request):  12 column responsive grid system

#### What is the expected behavior?
 Something like this http://materializecss.com/grid.html

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIg

[2016-12-08 10:58] fxck commented on #2113
There won't be any grid system as part of this repo.

Check https://github.com/angular/flex-layout

[2016-12-08 11:00] fxck commented on #2107
There is supposed to be a beta by the end of the year, so I'm not sure they'll be releasing alpha.11 before that..

[2016-12-08 11:28] mhmo91 commented on #119
@jelbourn What if i want the menu to be clicked open on hover? are u planning such a feature? It's really important for desktop UX.
thanks

[2016-12-08 11:37] fxck commented on #119
it's clunky, but I think you could do this

[code]

[2016-12-08 11:37] shlomiassaf commented on #205
We've started using a webpack loader to override styles, since CSS comes bundled in we can't actually change much, only colors.

We also had hard time changing the font.

This is the loader [angular2-restyle-loader](https://github.com/shlomiassaf/angular2-restyle-loader)
It's fresh out of the oven.

We use it to re-compile SCSS so we can set the variables.
It can also do a lot more with higher mai

[2016-12-08 12:38] mhmo91 commented on #119
@fxck  it didn't work, n threw an error " self._MdMenu_21_3.context.openMenu is not a function ..."

[2016-12-08 12:41] mhmo91 commented on #119
i have been working with angular for sometime now, i'm loving it's design patterns, but it's biggest downside is the lack of ui components... even the one available doesn't have some of the basic functionality we r used to have... n this is freaking time consuming!

[2016-12-08 12:51] SamiAl90 commented on #119
You'd be helped reading the docs so you know how to trigger the menu manually:
https://github.com/angular/material2/tree/master/src/lib/menu

[2016-12-08 15:50] antonyRoberts commented on #308
@jelbourn Any update on Universal Support intentions, like being able to selectively load Material Modules as in @angular2-material. Because right now the only way to use Material with Universal safely is to load separate modules for server and front end.

[2016-12-08 16:26] yusijs commented on #308
@antonyRoberts I've found that the only thing causing issues (at least for me) is buttons. Everything else I've used works perfectly fine.

[2016-12-08 17:29] hrantbagdasarian commented on #2113
The Material2 feature list still includes a "layout" component. Is that still relevant or should we use the angular/flex-layout instead? If not, what are/will be the differences between both?

[2016-12-08 17:37] jelbourn commented on #308
@antonyRoberts You can still selectively load individual component modules from `@angular/material`.

[2016-12-08 17:39] yusijs commented on #308
@jelbourn while I'm doing this myself, should this be mentioned in the getting started docs? Happy to submit a pr for that, if it'd be of interest.

[2016-12-08 17:44] jelbourn commented on #308
@yusijs Sure

[2016-12-08 19:18] andrewseguin opened #2115 "[Tabs] Use MutationObserver to update tab header pagination"
The tab header displays scrolling that updates when the header is initialized or when tabs are removed/added. This misses the case where the tab label's text changes and the scrolling should reflect the update.

Add a `MutationObserver` that notifies changes to the text node and lets the scrolling react to the change.

[2016-12-08 19:20] andrewseguin opened #2116 "[Tabs] Dynamic height does not animate properly on IE"
Dynamic height tabs should animate their height when switching between tabs that have different height. The animation does not work on IE. The height just changes instantly.

[2016-12-08 19:21] greg-md commented on #2033
Just put the md-sidenav out of layout.

<md-sidenav>Fixed sidenav</md-sidenav>

<md-sidenav-layout></md-sidenav-layout>

[2016-12-08 19:40] blyndcide commented on #2107
Even an experimental release on NPM with this fix would helpful.

[2016-12-08 19:42] fxck commented on #2107
yeah well you'd have to ping @jelbourn and @DevVersion about that.. seeing that this was made https://github.com/angular/material2-builds couple of days ago, they might be working on it.. but who knows if it will be done before beta

[2016-12-08 19:43] DevVersion commented on #2107
@fxck No worries. We are working on that actively.

[2016-12-08 19:49] crisbeto commented on #2106
This due to it being a dark theme, but we don't actually apply the theme background to the body, we only have it on the `md-sidenav-layout` (which we use in the demo app). @jelbourn should I add the theme background to the body?

[2016-12-08 19:51] jelbourn commented on #2106
@crisbeto Nope. We shouldn't change the styles of any elements not owned by a component. This should probably just be something that goes into the theming guide.

[2016-12-08 19:52] jelbourn commented on #2107
Working on cutting an alpha.11 right now

[2016-12-08 19:53] crisbeto commented on #2106
Wouldn't this be something that's a pretty common use case? I'd imagine that not everybody will use `md-sidenav-layout` as their main wrapper element.

[2016-12-08 20:11] greg-md opened #2118 "Sidenav is not working under ngIf control."
If the `md-sidenav` is under `ngIf` control, I'm getting "Cannot read property 'open' of undefined" when I want to open the sidenav.

Plunker: http://plnkr.co/edit/yEUe7pUZrbhZgfRTHclx?p=preview

[2016-12-08 20:12] dahaupt commented on #2107
@jelbourn A dream comes true. Christmas is coming early this year. :tada: 🎅

[2016-12-08 20:20] jelbourn commented on #2107
Some hiccups due to angular-cli not working with Angular 2.3.0... slowed done my validation. Writing the changelog...

[2016-12-08 20:44] jelbourn commented on #2107
alpha.11 is released, changelog is here: https://github.com/jelbourn/material2/blob/2f57ba2376c2bf7fe7550ae232a9b12d229f884c/CHANGELOG.md

This issue should be fixed in alpha.11

[2016-12-08 20:44] #2107 closed

[2016-12-08 20:48] jelbourn commented on #2106
Potentially, but I want to stick to that policy for now and try to address this with documentation.

[2016-12-08 20:48] fxck commented on #2107
@jelbourn I'm getting

[code]

in alpha.11.. thought this was fixed.. it certainly didn't do this in alpha.10

[2016-12-08 20:53] jelbourn commented on #2107
@fxck there's no `overlay.css` in the package- is something in your build creating it?

[2016-12-08 20:54] fxck commented on #2107
hm yeah, that could be the reason, let me check, I wonder why did it ignore the file before though..

[2016-12-08 20:57] fxck commented on #2107
@jelbourn and tooltip requires viewContainerRef again? that'd be little disappointing

[2016-12-08 20:58] fxck commented on #2107
ugh, meant snackbar

[2016-12-08 21:02] d3viant0ne opened #2120 "Add travis validations for AoT compilation"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
Release packages are usable with AoT compilation

#### What is the current behavior?
In this particular case with the newly pushed alpha.11 package.

[code]

#### What is the use-case or motivation for changing an existing behavior?
As opposed to creating issues each time something is released and a single compon

[2016-12-08 21:05] jelbourn commented on #2107
Not supposed to, what are you seeing?

[2016-12-08 21:09] fxck commented on #2107
well https://github.com/angular/material2/blob/master/src/lib/snack-bar/snack-bar.ts#L86 config is required here and

![image](https://cloud.githubusercontent.com/assets/1303561/21027833/e65c616e-bd92-11e6-950a-c6b66d10fd72.png)

so is `viewContainerRef` here

[2016-12-08 21:22] jelbourn commented on #2107
@fxck this is the `.d.ts` file that is in the alpha.11 package:
[code]

[2016-12-08 21:25] fxck commented on #2107
well I removed node_modules and did cache clear.. maybe yarn is loading some older config

[2016-12-08 21:26] jelbourn commented on #2107
@fxck yarn has caused me nothing but problems

[2016-12-08 21:46] crisbeto commented on #1847
@johnqiuwan alpha.11 was released with the fix for this. Can you give it another shot?

[2016-12-08 21:50] jelbourn commented on #2120
@d3viant0ne AoT _is_ part of our presubmit process, it just happens on Google's internal tooling instead of on Travis. I tried to add it to Travis as well, but ran into an issue with `ngc` (https://github.com/angular/angular/issues/12249).

That said, I can reproduce this. Something strange is going on with the npm package, investigating...

[2016-12-08 22:01] d3viant0ne commented on #2120
Fair enough, thanks.

[2016-12-08 22:26] jelbourn commented on #2120
@d3viant0ne figured out the problem. Seems to be a bug in `ngc` that was _supposed_ to be fixed, but apparently is still in some cases. Only affects builds consuming the `npm` package. Publishing a fix now...

[2016-12-08 22:31] clydin commented on #2091
A template reference variable on a component gives you the component instance not the HTML element.

[2016-12-08 22:36] jelbourn commented on #2120
@d3viant0ne just published alpha.11-1 that should fix this.

[2016-12-08 22:57] d3viant0ne commented on #2120
Thanks @jelbourn - AoT works fine now.

[2016-12-08 22:57] #2120 closed

[2016-12-08 23:05] jelbourn commented on #2034
@mmalerba we should apply fix to new md-input as well

[2016-12-09 00:06] andrewseguin commented on #769
This has been implemented in #2084 and is in the latest release (alpha 11)

[2016-12-09 00:06] #769 closed

[2016-12-09 00:15] aveniri opened #2123 "Error: "Cannot read property 'forRoot' of undefined" after installing version 2.0.0-alpha.11-1"
I uninstalled the older version @angular/material@2.0.0-alpha.10 as instructed on the release notes then installed the new one and it doesn't seem to load it since on @NgModule({imports: [ ... ]})
I switched back to 2.0.0-alpha.10 and it works fine.

#### Which versions of Angular, Material, OS, browsers are affected?
angular: 2.2.3,
material: 2.0.0-alpha.11-1,
windows 7

[2016-12-09 00:32] JanStureNielsen commented on #2123
FWIW, I updated my Material `@angular/material@2.0.0-alpha.10` to `@angular/material@2.0.0-alpha.11` in `package.json`, `rm -rf node_modules`, `npm install`, and ran my application without any issues...on Linux.

[2016-12-09 01:14] jelbourn commented on #2123
Does someone have a deeper stack trace?

[2016-12-09 01:24] jelbourn commented on #2123
Nevermind, I've reproduced it on a fresh angular-cli project. For some reason my existing project didn't run into this...

[2016-12-09 01:25] Toxicable commented on #2123
I've tried with alpha.10, alpha11, alpha.11-1 and all of them if you do `console.log(MaterialModule)` it prints  `undefined` importing it with `import { MaterialModule} from '@angular/material';`
I got a repo here with a clean reproduction with angular cli https://github.com/Toxicable/materialtest

[2016-12-09 01:25] blyndcide commented on #2123
Uncaught TypeError: Cannot read property 'forRoot' of undefined
    at app.module.ts:111
    at Object.<anonymous> (app.module.ts:119)
    at __webpack_require__ (bootstrap 98affba…:52)
    at Object.<anonymous> (rxjs-operators.ts:46)
    at __webpack_require__ (bootstrap 98affba…:52)
    at Object.<anonymous> (src async:7)
    at __webpack_require__ (bootstrap 98affba…:52)
    at Object.<anonymou

[2016-12-09 01:27] jelbourn commented on #2123
I've got a reproduction, trying to figure out _why_ it's happening; AFAICT, MaterialModule is totally there.

[2016-12-09 01:53] jelbourn commented on #2123
Have a tentative fix on the `@experimental` label, validating it now. Would be awesome if someone else here also confirmed.

[2016-12-09 01:57] Toxicable commented on #2123
That appears to have done it on the @experimental

[2016-12-09 01:59] jmcgoldrick opened #2124 "Input components (md-input, md-select, md-checkbox etc) aren't aligned in a flex container..."
... without setting `align-items: center`

**Updated Plunk: http://plnkr.co/edit/TgFy04UErh9Xhr0A4XzK?p=preview**

`md-input` behaves differently to `md-select` (and at least `md-checkbox`, possibly all the other "input" components) when the elements are within a "flex container"

See this plunk for an example: http://plnkr.co/edit/aLXsp8MlV2AoOkC9aEFP?p=preview

This issue might be resolved with

[2016-12-09 02:04] jmcgoldrick opened #2125 "md-select (& placeholder) do not line up with md-input"
Underline is lower, placeholder is higher

http://plnkr.co/edit/fxwn4I2zIUJ5PN3tNFwa?p=preview

[2016-12-09 02:06] jelbourn commented on #2123
Okay, I've bumped `@latest` to `2.0.0-alpha.11-2` which should fix this.

For anyone wondering what was wrong:
alpha.11-1 added some re-exports to `index.ts` files for input, tabs, menu, and select using `export *` (to fix a bug with AoT). We haven't had any issues with `export *` before, but adding these seemed to break WebPack's module loading somehow (I have no idea why). I changed the exports

[2016-12-09 02:06] #2123 closed

[2016-12-09 02:17] JanStureNielsen commented on #2123
Confirmed, @jelbourn  -- my application works with `2.0.0-alpha.11-2`. Thanks!

[2016-12-09 02:54] dreweird commented on #2124
`md-select` already available??

[2016-12-09 03:35] kara commented on #2125
Thanks for reporting!  Since this is really similar to your issue #2124, let's just track the issue there.

[2016-12-09 03:35] #2125 closed

[2016-12-09 03:36] kara commented on #2124
Thanks for reporting!  The various form components should definitely align. We'll need to figure out which baseline to standardize under. cc: @jelbourn.

[2016-12-09 03:43] kara opened #2126 "Input underline appears to be too dark"
Input underline appears darker than the spec dictates: https://material.google.com/components/text-fields.html#text-fields-labels.  As a result, input and select look odd next to each other:

http://plnkr.co/edit/aLXsp8MlV2AoOkC9aEFP?p=preview

[2016-12-09 03:44] tinayuangao commented on #2004
@joejordanbrown

![image](https://cloud.githubusercontent.com/assets/20677343/21036808/7605aa12-be03-11e6-936a-78c0c6246252.png)

The `indeterminate` inside MdCheckbox is set to false when setting `checked = true`. However, it will not emit an event to update the `indeterminate` outside MdCheckbox. Similar thing happens when you set `checked = false` in the second case.

One way to solve this issu

[2016-12-09 03:44] kara opened #2127 "Select should adjust height when font-size changes"
Currently when you change the font size of the select to override the default font size, the placeholder doesn't adjust to make space for a larger font. Md-input does do this, so select should as well.

[2016-12-09 03:49] kara opened #2128 "Select: placeholder label jumps on first trigger click after reset"
To repro:

1) Select an option by hand by clicking on an option.
2) Reset the form control on a select programmatically
3) Click on trigger to open select.

The placeholder label should animate, but instead it jumps to the top without animating. This is a bug being fixed right now in angular/angular. Tracking it here as well so we know when this is fixed.

[2016-12-09 03:56] kara commented on #2128
PR in place!  https://github.com/angular/angular/pull/13334

[2016-12-09 07:22] shlomiassaf opened #2133 "Some SCSS files refer to invalid path (a11y)"
In [5cf7d175d66120b0e8262bef561f230cb6e31d11](https://github.com/angular/material2/commit/5cf7d175d66120b0e8262bef561f230cb6e31d11) several components got **a11y** support using a new SCSS resource.

The import is `@import '../a11y/_a11y';`
Which looks for the file in **material/src/lib/a11y/_a11y**

**a11y** is in **core**

The file exists in **material/src/lib/core/a11y/_a11y**

I don't know how

[2016-12-09 08:08] shlomiassaf commented on #2133
@crisbeto can it be release as alpha 11-3 instead of waiting for 12?

[2016-12-09 08:09] crisbeto commented on #2133
This isn't up to me to decide, but I'll definitely look into why it's breaking. It worked when I was testing out the new fixed. How are you getting the error?

[2016-12-09 08:16] shlomiassaf commented on #2133
It doesn't break on the build probably because some paths were includes as roots (in the sass build) so it aligns, somehow...

But it's not right, the path is clearly wrong.

We have a special build process where we use the SCSS files in the NPM package to rebuild the SCSS for each component we opt-in to do so and it will replace the CSS in the component with our new build.
It allows customising t

[2016-12-09 08:19] shootermv opened #2134 "typescript miscompilation error when trying to run "demo-app" task"
Bug:

expected - the demo app to run

current behavior -
geting error:
Unable to compile TypeScript
tools/gulp/tasks/release.ts (52,10): Type 'Promise<{}>' is not assignable to type 'Promise<void>'

steps to reproduce:
 open terminal in root directory of project and run "npm run demo-app"

proposition for fix:
replace following line (tools/gulp/tasks/release.ts (52,10)):
"function _execNpmPublish(

[2016-12-09 08:21] crisbeto commented on #2134
https://github.com/angular/material2/pull/2132 should fix it.

[2016-12-09 08:23] crisbeto commented on #2133
Alright, I can't reproduce it just by running the build locally, but can you try to replace all of these:

[code]

With this:

[code]

[2016-12-09 08:28] shlomiassaf commented on #2133
It won't help, i'm running a different build... but my process is not that relevant.

The relative path is not valid, if you follow it there's no file at the end... all other files does use **core** as part of the path.

It works because some configuration in the build made this path resolvable...

[2016-12-09 08:30] crisbeto commented on #2133
I mean if you could go into the `node_modules`, change the path and see if that helps with compilation.

[2016-12-09 08:31] shlomiassaf commented on #2133
yes, did that, didn't help... the file is not there.

[2016-12-09 08:31] shlomiassaf commented on #2133
When I add **core** it works

[2016-12-09 08:33] crisbeto commented on #2133
Oh, I see. Yeah no idea how that ended up compiling. I'll put in a PR.

[2016-12-09 08:37] shlomiassaf commented on #2133
It's actually interesting and error prone, this will probably repeat.

[2016-12-09 08:52] crownz opened #2136 "Elements being inserted with incorrect order (Dialog)"
Just installed alpha 11, possible bug?

When opening dialog, overlay backdrop gets placed below dialog container and that makes it take all of the pointer events (closes dialog when I click anywhere on the screen)..

Also dialog is not getting centered by default (I did not add any position settings to config).

To replicate simply open new dialog.

![dialog issue](https://cloud.githubusercontent.

[2016-12-09 09:00] theunreal opened #2137 "Angular 2 select wrong screen blur"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When clicking the md-select to pick an option, the screen becomes darker and the options need to be focused and not blurred

#### What is the current behavior?
When clicking hte md-select to pick an option the screen becomes darker and the options along with it

![image](https://cloud.githubusercontent.com/assets/6171

[2016-12-09 09:00] shlomiassaf commented on #2133
@jelbourn Can this reflect in a **alpha.11-3** version?

[2016-12-09 09:02] crisbeto commented on #2136
1. That's the proper position and behavior of the backdrop - it's supposed to close the dialog when you click outside. If you don't want user to be able to click outside to close, you can pass in the `disableClose` option.
2. Regarding the centering, what does your dialog config look like? Both opening it without a config and and with an empty config centers the dialog for me.

[2016-12-09 09:08] crownz commented on #2136
The issue is that the backdrop overlays the dialog itself and also closes when I click on the dialog. Just checked, md-select is also missbehaving, probably the issue is not with dialog but something went wrong with installation..

![material issue](https://cloud.githubusercontent.com/assets/9164289/21043484/041c85b0-bdef-11e6-9333-b8834529ec11.png)

[2016-12-09 09:13] crisbeto commented on #2136
Seems similar to https://github.com/angular/material2/issues/2137. I wonder whether the SASS failed to compile properly due to https://github.com/angular/material2/issues/2133

[2016-12-09 09:46] crisbeto commented on #2136
For completeness sake, are you building the CSS yourself @crownz? I've been trying to reproduce it on a plain app where I followed the getting started guide, but it works as expected.

[2016-12-09 09:53] crownz commented on #2136
Nop, I am not building CSS myself..

[2016-12-09 10:01] crisbeto commented on #2136
Alright, can you also try to delete the `@angular/material` from the `node_modules` and reinstalling it? Also what version are you using?

[2016-12-09 10:18] crownz commented on #2136
Rebuilt, seems to be working fine even without changing a11y paths to core. Thanks for help @crisbeto

[2016-12-09 10:19] crisbeto commented on #2136
You're welcome. I'll consider this resolved.

[2016-12-09 10:19] #2136 closed

[2016-12-09 10:20] crisbeto commented on #2137
This seems similar to https://github.com/angular/material2/issues/2136. Can you try removing the `@angular/material` from the `node_modules` and reinstalling?

[2016-12-09 10:25] theunreal commented on #2137
Removed the `@angular/material` folder, reinstalled the  `@angular/material` package, restarted my application, issue still exists

[2016-12-09 10:35] crownz commented on #2137
Double check if you are not using custom built theme. If you do - try rebuilding it.

[2016-12-09 10:36] atodd-geoplan opened #2139 "[Tabs] Example - no content displayed - docs outdated"
#### Bug, feature request, or proposal:
Outdated document

#### What is the expected behavior?
When viewing a Tab, its content should be displayed

#### What is the current behavior?
Tab content is not displayed

#### What are the steps to reproduce?
Copy the tabs example from the docs

#### What is the use-case or motivation for changing an existing behavior?
Basic usage

#### Which versions of A

[2016-12-09 10:38] theunreal commented on #2137
Thanks @crownz yep it was the theme. I updated the theme to the new version theme css file, and it now works as excepted.

[2016-12-09 10:38] #2137 closed

[2016-12-09 10:44] theunreal opened #2140 "RTL Application dialog is LTR"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Content inside a dialog should be similiar to the application direction

#### What is the current behavior?
Dialog content inside RTL application (html dir="rtl") is LTR

#### What are the steps to reproduce?
Opening any dialog in RTL app

#### What is the use-case or motivation for changing an existing behavior?
Make

[2016-12-09 11:16] Burtan commented on #1448
@jmcgoldrick solution doesn't add the ripple effect. I'm using

`<md-card class="md-button" md-ink-ripple ng-click="doSomething"></md-card>`

[2016-12-09 12:29] wujun4code opened #2141 "[feature]:add search mode to <md-input> tag"
### Code
[code]
### UI

#### Without focus
![image](https://cloud.githubusercontent.com/assets/5119542/21049123/ef79a980-be4d-11e6-80c5-d0d984b99183.png)

####  With focus
![image](https://cloud.githubusercontent.com/assets/5119542/21049052/8b95d7ea-be4d-11e6-9649-50687df94194.png)

### Online Demo
[https://material.google.com/search.html?q=input](https://material.google.com/search.html?q=input)

[2016-12-09 13:03] MarkPieszak commented on #308
@jelbourn
Is there anything I can help with this whole Universal++Material process?
Maybe we could talk sometime so I could get a better picture of what some of the roadblocks are.
Let me know!

[2016-12-09 14:30] fxck commented on #2141
I don't think that's a part of the spec, you could easily build your own component build on material2 and release it though.

[2016-12-09 15:02] wujun4code commented on #2141
@fxck Thanks for comments.
I think this repo can release as the best practice for Material Design built with angular2 , the `md-input` tag can be extended with more attributes, such as `mode`,`icon`.

Maybe you know Ionic2? it provide a search bar named  `ion-searchbar`,[the online demo](http://ionicframework.com/docs/v2/components/#searchbar).

so I think this repo can attract more web developers

[2016-12-09 15:11] fxck commented on #2141
As far as I know, this repo is primarily supposed to be an implementation of the official material spec. As well as a building ground for your own components, thanks to utility modules like Overlay, or Portal(and I can see these being moved to their own repo/s in the future). There might be some components that are not in the spec, but that's faaaar future.

So what I'm saying is, if you need a re

[2016-12-09 16:19] medeirosrich opened #2143 "Unable to set 'selected' attribute on md-option"
Unable to set 'selected' attribute on md-option

Receiving the following error:
Can't bind to 'selected' since it isn't a known property of 'md-option'.

Code sample:
[code]

[2016-12-09 16:24] mmalerba commented on #2034
looks like it should just work since i'm relying on the same css

[2016-12-09 16:52] andrewseguin opened #2144 "Sidenav not working well with align end"
The behavior for the sidenav is janky when opened from the right (`align="end"`)

See demo site https://material2-dev.firebaseapp.com/sidenav for example

[2016-12-09 17:30] jelbourn commented on #2139
@atodd-geoplan `md-tab-content` was removed in alpha.10. You didn't provide the version of material you're using, so I'm guessing it's out of date. Closing this issue, feel free to open a new one with more information if you're seeing something not working in alpha.11

[2016-12-09 17:30] #2139 closed

[2016-12-09 17:44] jelbourn commented on #308
Angular Universal is currently transitioning to live inside `angular/angular` and will be undergoing some refactoring as it becomes part of core. The folks who are working on this recommended that we (Material) should wait until they're further along in that before we spend much time on making the component Universal-compatible.

That said, I'm okay with accepting small changes to the components t

[2016-12-09 17:59] MarkPieszak commented on #308
Yeah know we're moving it to Core, but you might be right, maybe it's best to wait before making any bigger changes! It might all be easier once it's in Core as well :)

[2016-12-09 18:08] mark-langer opened #2146 "MdCheckbox does not pass a change event to change handler"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The component should return a change event like any regular HTML input element does, too. Interestingly, MdInput does return a regular change event.

#### What is the current behavior?
When binding an event handler via the (change)="doSomethingOnChange($event)" notation, the MdCheckbox component does not return a DOM

[2016-12-09 19:17] blyndcide opened #2147 "md-select applying error styles before it is touched."
When another control in a form is touched, md-select applies error styles even though it hasn't been touched yet.  The classes on md-select remain class="ng-untouched ng-pristine ng-invalid".

[2016-12-09 19:25] dahaupt commented on #2147
I've noticed the same problem.

material2 version: **2.0.0-alpha.11-2**

[2016-12-09 19:41] johnqiuwan opened #2148 "md-select is missing "Read Me" docs"
I saw the alpha 11 has been released. However, is there any "Read Me" for md-select ?

[2016-12-09 19:46] jelbourn commented on #2133
I'll try to do one shortly

[2016-12-09 19:51] #1790 closed

[2016-12-09 19:59] #2133 closed

[2016-12-09 20:02] shlomiassaf commented on #2133
@jelbourn a BIG thanks!

[2016-12-09 20:20] Uniqen opened #2150 "Ripple effect on button causes fakeAsync component tests to fail"
#### Bug, feature request, or proposal:
Bug: Ripple effect on button causes fakeAsync component test to fail with the message: "	Error: 1 timer(s) still in the queue."

#### What is the expected behavior?
The test to pass without any error.

#### What is the current behavior?
The test fail with the following message:
	Error: 1 timer(s) still in the queue.
	    at new Error (native)
	    at webpack

[2016-12-09 20:22] jelbourn commented on #2148
Haven't written docs for `md-select` yet

[2016-12-09 20:24] jelbourn commented on #2113
We'll have an official blog post on this soon, stay tuned to the Angular blog.

[2016-12-09 20:24] #2113 closed

[2016-12-09 20:25] jelbourn commented on #2115
@EladBezalel could you take a pass at this? I want to create a general directive in core that just fires an event when the text content of an element changes uses a `MutationObserver`. The tabs should then use that as a signal to recalculate the width of the tab bar (for scrolling)

[2016-12-09 20:28] jelbourn commented on #2133
alpha.11-3 is released, should fix this

[2016-12-09 21:08] starksds opened #2151 "Dialog does not support multiple tabs"
#### Bug, feature request, or proposal:
Bug: Multiple tabs in a dialog cause chrome to go aw snap

#### What is the expected behavior?
I should be able to have more than one tab in a dialog

#### What is the current behavior?
You can render one tab in a dialog but as soon as you add two chrome goes aw snap

#### What are the steps to reproduce?
Create a dialog.  Have the contents of the dialog be

[2016-12-09 21:09] jelbourn commented on #2151
@starksds can you share reproduction code?

[2016-12-09 21:39] krigton commented on #289
Hi, It looks that the radio focus indicator is still broken or not there. Where can i take a look on this how to fix it or add this feature? thanks

[2016-12-09 21:42] starksds commented on #2151
I've already rolled back my changes.  It works in alpha.9-3 if that helps you narrow down what might have changed.

[2016-12-09 22:10] jelbourn commented on #2151
@crisbeto can you investigate this?

[2016-12-09 22:10] jelbourn commented on #2150
@crisbeto can you reproduce this?

[2016-12-09 22:12] jelbourn commented on #2146
We should make sure we're doing consistent change events across all components.

[2016-12-09 22:14] jelbourn commented on #2143
@kara are you meant to be able to do this?

[2016-12-09 22:15] jelbourn commented on #2141
This isn't something we think falls directly into the scope of `md-input`, which we're trying to keep mostly general. You should be able to implement this on top of `md-input` using the `md-suffix` feature.

[2016-12-09 22:15] #2141 closed

[2016-12-09 22:18] jelbourn commented on #1719
@EladBezalel would you be interested in working on this? I have some thoughts in mind for it

[2016-12-09 22:18] jelbourn commented on #2140
This will be addressed as part of #1719

[2016-12-09 22:18] #2140 closed

[2016-12-09 22:21] jelbourn commented on #2112
@yentheo does setting `width: 100%` on the element not meet what you need?

[2016-12-09 22:23] jelbourn commented on #2079
@Symfomany It's not really clear what you're reporting / asking for. Feel free to open a new issue with more specifics.

[2016-12-09 22:23] #2079 closed

[2016-12-09 22:25] jelbourn commented on #2057
Closing this for lack of information. Feel free to file a new issue if you have provide more specifics.

[2016-12-09 22:25] #2057 closed

[2016-12-09 22:25] jelbourn commented on #2043
@tinayuangao can you reproduce this?

[2016-12-09 22:28] jelbourn commented on #2030
Should be fixed in alpha.11

[2016-12-09 22:28] #2030 closed

[2016-12-09 22:29] jelbourn commented on #2039
@crisbeto could you take a look at this?

[2016-12-09 22:46] #2034 closed

[2016-12-09 23:18] #1808 closed

[2016-12-09 23:49] paulogr opened #2152 "Sidenav with align="end" is jumping while opening after beta.11"
#### Bug, feature request, or proposal:

Bug: Sidenav with align="end" doesn't work as expected.

#### What is the expected behavior?

When click to open side nav it opens smoothly.

#### What is the current behavior?

Sidenav is jumping while opening.

#### What are the steps to reproduce?

Create a side nav layout, align it to "end" and click to open.

#### What is the use-case or motivation for

[2016-12-09 23:58] paulogr opened #2153 "MdTooltip broke the app after beta.11"
#### Bug, feature request, or proposal:

Bug: MdTooltip broke my app after upgrade to beta.11

#### What is the expected behavior?

Before beta.11 the usage of MdTooltip was working as expected.

#### What is the current behavior?

Do not display my cards and broke the app.

#### What are the steps to reproduce?

Just create a simple button with a tooltip like this:

[code]

#### What is the use-c

[2016-12-10 00:13] dahaupt commented on #2153
@paulogr
[code]

That code is working fine here. Are you sure your issue is based on md-tooltip? I don't think so.
Please provide a plunker example or nobody can ever reproduce your issue.

Your problem seems to be in `PlaylistComponent` at a different position.

[2016-12-10 00:16] paulogr commented on #2153
The problem is, with the same template and component, when I remove the tooltip everything works fine again.

Do you have a configured plunker with angular2 + material2?

So I can try to reproduce the error.

[2016-12-10 00:20] dahaupt commented on #2153
@paulogr Before we do that, have you tried to remove @angular/material from node_modules and reinstall it new?

[2016-12-10 00:26] paulogr commented on #2153
Yeah, I did that 3 times, remove the node_modules/@angular/material and reinstall again.

Same error.

The playlist component is very simple, just receive a list of playlists and display it.

`<div class="as-playlists">
  <ul class="playlist-row">
    <li class="playlist-cell" *ngFor="let playlist of playlists; let i = index;">
      <div class="playlist-card" (click)="select(playlist, i)">

[2016-12-10 00:29] dahaupt commented on #2153
@paulogr Can you copy your complete inline template of your `PlaylistComponent`? Maybe we can find an issue there.

[2016-12-10 00:30] paulogr commented on #2153
I tried to do that but GH parse my HTML...

Again

`<div class="as-playlists">
  <ul class="playlist-row">
    <li class="playlist-cell" *ngFor="let playlist of playlists; let i = index;">
      <div class="playlist-card" (click)="select(playlist, i)">
        <div class="header" [class.active]="isPlayingPlaylist[i] && isPlaying()" [class.loading]="isPlayingPlaylist[i] && isLoading()">
          <

[2016-12-10 00:31] paulogr commented on #2153
[code]

[2016-12-10 00:48] dahaupt commented on #2153
@paulogr I can't find any problem in your template.

Tooltips are working fine in my project and also on dev demo page:
https://material2-dev.firebaseapp.com/tooltip

But maybe there is a real problem I am not able to see, but I am not sure how to debug it without a reproducing plunker.

[2016-12-10 01:19] ManishJainGitHubUser commented on #118
What setting needed to download MdSelect with npm? Currently I don't see in it.

[2016-12-10 01:34] yentheo commented on #2112
@jelbourn if you have an avatar, I don't think 100% is correct, because the width of the avatar is added. Besides that, the element with class md-card-header-text is added after angular adds the css to it, so if you want to do this, you have to do it with global css. This is my current solution, but these are all things you shouldn't want to do

[2016-12-10 02:59] wujun4code commented on #2141
Thanks.

[2016-12-10 04:02] colemickens commented on #2030
It doesn't look right in the Plunkr and I think it points to latest. It now looks the same as it does in my project where I've bumped to alpha.11. Am I using it incorrectly or is there still a problem?

[2016-12-10 07:18] shlomiassaf commented on #2141
@wujun4code
Here a simple component to encapsulate some logic around a search:

[code]

You can change UI state, act upon input changes etc... add remove logic as you need.

In your app, you can use a template to set it:
[code]

In this example **doSomething** fires if there is text...

You can do X buttons and others...

[2016-12-10 07:45] elvirdolic commented on #118
@ManishJainGitHubUser nothing then to upgrade to alpha-11. Then you can use it out if the box by adding md-select and md-option

[2016-12-10 08:51] fxck commented on #2030
Plunker is still alpha 10

[2016-12-10 09:18] crisbeto commented on #2152
Closing as a duplicate of https://github.com/angular/material2/issues/2144

[2016-12-10 09:18] #2152 closed

[2016-12-10 09:27] crisbeto commented on #2153
I don't see anything in Material that could be throwing this. @paulogr can you try changing this expression in your template `[class.active]="isPlayingPlaylist[i] && isPlaying()"` into this `[class.active]="isPlayingPlaylist && isPlayingPlaylist[i] && isPlaying()"`?

[2016-12-10 09:41] crisbeto commented on #2151
I couldn't reproduce it by sticking the tab demos into a dialog. @starksds can you post your HTML?

[2016-12-10 09:49] crisbeto commented on #2039
The grid list works fine. The demo doesn't have space between the tiles because the background is applied to the wrapper element. [Here's a forked Plunkr that only moves the inline styles.](http://plnkr.co/edit/5ew0MWp40npP3Hhi2LGe?p=preview)

[2016-12-10 09:49] #2039 closed

[2016-12-10 10:12] crisbeto commented on #2146
@jelbourn at least on components that wrap native ones (e.g. checkbox and radio) we could replace the `stopPropagation` calls with attaching our custom event data to the object. E.g. this seems to work:

[code]

I'm not sure how we'd handle it on elements that don't have a native equivalent, though.

[2016-12-10 10:55] crisbeto commented on #2150
The same test works for me @Uniqen. Are you sure there isn't something else that is triggering a timeout? Here's my full setup:

[code]

[2016-12-10 11:46] crisbeto commented on #2134
Closing since #2132 was merged.

[2016-12-10 11:46] #2134 closed

[2016-12-10 12:40] rolandjitsu opened #2158 "feat(<md-sidenav>): decrease box-shadow"
#### Bug, feature request, or proposal:
Proposal.

#### What is the expected behavior?
It would be visually much better if the box shadow (elevation) on the `<md-sidenav>` would be a little smaller. At least when the sidenav is set to `side` mode. I force it to the same value as `.md-elevation-z2` and it seems to look much better.

#### What is the current behavior?
The `<md-sidenav>` currently ha

[2016-12-10 12:55] starksds commented on #2151
@crisbeto our app has a mix of bootstrap 4 and material 2 components since your components weren't finished when we started so that might be causing the issue.

Could you provide a plunker for your test case that I could try to implement in our app?

[2016-12-10 13:49] DevVersion commented on #2146
I would rather just let the `change` event from the underlying input elements bubble up.

We added the custom event objects because previously those emitted just `booleans`

See Pull Request https://github.com/angular/material2/pull/554

[2016-12-10 14:29] kara commented on #2143
Not at the moment, no. We don't have any `selected` binding because it is already possible to select options through existing Angular core form directives.  Having two ways to set the selected value would probably conflict with each other.  Instead try something like:

[code]

[2016-12-10 14:29] #2143 closed

[2016-12-10 14:32] kara commented on #2128
The fix was merged into master. Updating to angular/angular master or the next released version of Angular should resolve.

[2016-12-10 14:32] #2128 closed

[2016-12-10 14:34] kara commented on #2148
@johnqiuwan Check out the md-select board here for current work on the select: https://github.com/angular/material2/projects/2. There is already a note to add a README :)

[2016-12-10 15:30] EladBezalel commented on #1719
@jelbourn sure! i'm always up to RTL stuff :D

[2016-12-10 16:11] crisbeto commented on #2146
I agree that the native DOM event is better, but it might not be consistent across all components. E.g. the checkbox one bubbles because it's native, however something like `select` won't bubble since it doesn't have a native element beneath.

[2016-12-10 16:13] crisbeto commented on #2151
@starksds I tried taking the [various examples from here](https://github.com/angular/material2/blob/master/src/demo-app/tabs/tabs-demo.html) and [putting them into the dialog demo here.](https://github.com/angular/material2/blob/master/src/demo-app/dialog/dialog-demo.ts#L41)

[2016-12-10 17:50] paulogr commented on #2153
Thank you @dahaupt and @crisbeto for you help.

After some debugging and testing the `md-tooltip` in other section of my app finally I got an error message the shows me the I miss to include the hammerJS on my app.

Just included HammerJS on my app and don't get this error anymore.

That sai, now my question is...

Is this mandatory to use hammerJS now? Before beta.11 I never needed to include Ham

[2016-12-10 17:54] crisbeto commented on #2153
I don't think it should. While it does use touch events, it just binds to the native ones and it also doesn't import Hammer. The only components that depend on it should be the slider and slide toggle.

[2016-12-10 17:58] paulogr commented on #2153
Well, I'll close this issue now, and try to make a test with a plunker without hammerJS to see if the problem happens.

And @crisbeto do you have a plunker with angular + material configured? Do you know when I can find one?

Thank you.

[2016-12-10 17:58] #2153 closed

[2016-12-10 18:07] crisbeto commented on #2153
Yes, there is one in the template when you're creating an issue. Here's the link  http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

[2016-12-10 21:03] davidwilcox opened #2163 "md-hint does not expand padding for md-input around it."
#### Bug, feature request, or proposal:
The hint inside of an md-input overlaps with the next element on the page. This looks pretty bad.

#### What is the expected behavior?
That the hint not overlap with the next element.

#### What is the current behavior?
The hint overlaps with the next element.

#### What are the steps to reproduce?
Add an md-input with an md-hint on the inside. The next line

[2016-12-10 23:47] ManishJainGitHubUser commented on #118
Thanks. This worked after a lot of npm update trouble. Here is the syntax:
[code]

[2016-12-11 00:34] colemickens commented on #2030
Plunkr seems to link to unversioned unpkg links which default to latest. Further more, it looks the same as it does on my devbox after bumping to alpha.11.

It actually looked more accurate under alpha.10. This is definitely not fixed. @jelbourn  can you please reopen?

[2016-12-11 00:39] alan345 commented on #118
hey, I have this issue
"Can't bind to 'value' since it isn't a known property of 'md-option'"
 and
  "dependencies": {
    "@angular/common": "2.2.1",
    "@angular/compiler": "2.2.1",
    "@angular/core": "2.2.1",
    "@angular/forms": "2.2.1",
    "@angular/http": "2.2.1",
    "@angular/material": "2.0.0-alpha.11-3",
Thanks for your help
<img width="535" alt="screen shot 2016-12-10 at 4 37 06 pm

[2016-12-11 00:40] dahaupt commented on #118
@alan345 Please provide a plunker to reproduce your issue :)

[2016-12-11 08:11] stefan-niedermann opened #2165 "'md-option' is not a known element"
#### Bug, feature request, or proposal:

Bug (or wrong usage?)

#### What is the expected behavior?

Options should be displayed within the select element.

#### What is the current behavior?

The whole application does not render

#### What are the steps to reproduce?

Tried to reproduce it with a plunkr, was happy when i edited your template and saw i got the same error. after opening and verify

[2016-12-11 10:03] kara commented on #2147
@blyndcide Thanks for the report! The selector for the invalid styles was too general, so it was picking up when the form was touched as well as its own control. Should be fixed by #2166.

[2016-12-11 10:12] atodd-geoplan commented on #2139
Then I'm even more confused. I have installed following the guide, which leaves you with:

"material2": "^2.0.0-alpha.6-2",

So how to get v10 ?

[2016-12-11 10:26] belev opened #2168 "md-select placeholder overlaps with md-toolbar"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-select placeholder not to overlap with md-toolbar

#### What is the current behavior?
md-select placeholder overlaps with md-toolbar

#### What are the steps to reproduce?
Click to select item, the placeholder overlaps. After selecting an item the placeholder is not visible too.

Providing a Plunker (or similar) is

[2016-12-11 10:30] atodd-geoplan commented on #2139
This is an aside. The issue persists through to latest version:

    "@angular/material": "^2.0.0-alpha.11-3",

I still need the the tab-content. Class still exists:

[2016-12-11 10:35] atodd-geoplan commented on #2139
@jelbourn would it be possible to add a tab group example to your material2-app example?

[2016-12-11 11:58] vdclouis commented on #118
@kara @jelbourn will the `<md-select>` component eventually have functionality a la Select2? (Tag supports, ajax loading,...)

[2016-12-11 12:16] chpasha commented on #2151
I have the same issue without using dialog, I have many pages with tabs, but only two of them get stuck with 11-3 AS SOON AS I add more than one tab and all work fine with 10.  Chrome tab gets stuck and consumes memory indefinitely until I kill the tab with task manager. I'll try to figure out how those two pages differ from the rest (the rest of pages was stuck as well after upgrade, which was ca

[2016-12-11 12:16] timvdalen opened #2171 "hasV8BreakIterator breaks in environments without window (such as universal rendering)"
#### Bug, feature request, or proposal:
Bug: As of https://github.com/angular/material2/pull/1950, `@angular/material` no longer works with server-side rendering because https://github.com/angular/material2/commit/4b7e52d30aa342c3024ed078837a9bd4ca9e773b#diff-6d0e189ed8a75860045a39fe4c576374R7 expects window to be defined.

#### What is the expected behavior?
No errors when loading the module

###

[2016-12-11 12:27] holms opened #2172 "Can't resolve 'hammerjs'"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?

hammerjs loaded successfully.

#### What is the current behavior?

[code]

#### What are the steps to reproduce?

Just download angular2-webpack-starter, and follow instructions of your GETTING_STARTED.md regarding md-toggle and hammerjs dependency.

#### What is the use-case or motivation for changing an existing be

[2016-12-11 12:54] crisbeto commented on #2172
Are you sure you followed everything?

You need to run this:

[code]

Afterwards you have to add `import 'hammerjs';` in you app's main module. Finally you should add the following to your `tsconfig.json`.

[code]

[2016-12-11 13:00] chpasha commented on #2151
I think I found a workaround and possibly a way to reproduce issue. I have a pure (without any code) component which is still stuck when having more than one tab. The only anomaly about this component is that it is in a lazily loaded module. As soon as I place the component in the entry module, everything works fine - so I thought something is not getting initialized when the component is lazily l

[2016-12-11 13:27] crisbeto commented on #2151
I still can't reproduce it @chpasha. I'm using a lazy-loaded module, but it still works fine. Here's what the entire setup looks like:

**lazy.module.ts**
[code]

**lazy.routing.ts**
[code]

**lazy.component.ts**
[code]

Can you post what your HTML looks like?

[2016-12-11 13:39] montella1507 opened #2173 "Usage in other modules"
#### Bug, feature request, or proposal:
Bug?

#### What is the expected behavior?
1) import Angular 2 material module in ROOT (main/app module) with MaterialModule.forRoot()
2) Use compoments in every module, which is imported in Main/App module

#### What is the current behavior?
If i use Material components in another module, it wont find a known element

#### What are the steps to reproduce?
Ju

[2016-12-11 13:45] zpydee opened #2174 "md-sidenav align="end" in child component causes horizontal scrolling"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-sidenav in child component shouldn't behave differently to md-sidenav in component with no child

#### What is the current behavior?

if you move `md-sidenav` with `align="end"` to a child component to the one housing `md-sidenav-layout`, horizontal scrolling is introduced when sidenav is closed.

#### What are the

[2016-12-11 13:46] montella1507 commented on #2173
I made it work..
My shared module:
  imports: [
    MaterialModule.forRoot()
  ],
  providers: [],
  exports: [
    MaterialModule
  ]

is it correctl way how to solve that?

[2016-12-11 13:51] DevVersion opened #2175 "Replace forbidden-identifiers with custom tslint rules"
As proposed by @hansl we should use custom `tslint` rules instead of the `forbidden-identifiers` script.

I already played with that and run into several problems:

* The rules will be written with TypeScript but need to be loaded as `.js` compiled files.
    We could compile them in a gulp task, but then developers probably will commit the files.

*  We are currently using an older version of `ts

[2016-12-11 13:57] zpydee commented on #2174
[demo project](https://github.com/zpydee/sidenav-scroll-demo) for convenience

[2016-12-11 14:00] chpasha commented on #2151
it is pure md-tab-group from documentation without anything, like
`<md-tab-group >
                <md-tab label="one">
                </md-tab>
                <md-tab label="two">
                </md-tab>
</md-tab-group>
`

what part of you example makes the module lazy?
this is lazy
`
{
path: "myurl",
loadChildren: 'app/lazy.module#LazyModule'
}
`

[2016-12-11 14:01] zpydee commented on #2174
as an observation, if I remove the `fullscreen` directive from `md-sidenav-layout`, the problem seems to disappear. am I perhaps using incorrectly?

[2016-12-11 14:03] crisbeto commented on #2151
It's the `loadChildren` parameter, instead of the usual `component`.

[2016-12-11 14:04] chpasha commented on #2151
you mean you do have loadChildren don't you?

[2016-12-11 14:06] crisbeto commented on #2151
Yes, I forgot to paste in that part since it's in the main module, but it looks like this:

[code]

[2016-12-11 14:09] Uniqen commented on #2150
When I add `fixture.detectChanges();` before the click I get the "Error: 1 timer(s) still in the queue." error.

[2016-12-11 14:10] chpasha commented on #2151
then there could be something else involved, I'm using angular-cli 1.0.0-beta.21 with webpack. Fact is - it was working just fine in the previous beta. It must be something in tab group that doesn't get loaded yet when the component is rendered since like I said, ngIf hack works, so the component is working just fine if created after the module and component are loaded. I will try to reproduce the

[2016-12-11 14:17] chpasha commented on #2151
P. S. the other components where tab group is working have following difference: the tab-group there is not declared directly in html layout but rather defined as standalone angular component (because of some business logic). So this still looks somehow like the matter of when the component is rendered (and besides that I see the Uncaught TypeError: Cannot read property 'elementRef' of undefined e

[2016-12-11 14:52] crisbeto commented on #2150
Weird since I don't get it. Neither when adding it inside the test itself, nor when I put it in the `beforeEach`.

[2016-12-11 15:08] spock123 commented on #2173
@montella1507  yes, import MaterialModule in your shared module, which you then import in your other modules.

I do it this way and it works fine.

[2016-12-11 15:18] holms commented on #2172
Just download angular2-webpack-starter and try yourself.

After doing this:

[code]

`tsconfig.json` already contains hammerjs in types. `import 'hammerjs';` is at the first line of app main module file.

[2016-12-11 15:41] DevVersion commented on #2171
I think this issue is more complicated than it looks.

The `MdPlatform` service also uses the `navigator` object to detect the different platforms.

![](https://i.gyazo.com/f48080868f6e0fbe12774cb183aa2f77.png)

cc. @jelbourn

[2016-12-11 16:09] MariovanZeist opened #2177 "[Tabs] Nav bar should paginate labels on overflow"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
"md-tab-nav-bar" component to have same functionality / visual fidelity as the "md-tab-group" component.

#### What is the current behavior?
The 2 components are disjoint and improvements made in "md-tab-group" component won't show up in the "md-tab-nav-bar" component

#### What are the steps to reproduce?

[2016-12-11 17:17] JanStureNielsen commented on #2172
See http://stackoverflow.com/a/39496268/3342253

[2016-12-11 17:47] holms commented on #2172
@JanStureNielsen have you at least noticed my comment on that stackoverflow topic? mm..? please don't throw generic solution, because there's none. Download this: https://github.com/AngularClass/angular2-webpack-starter/ do instruction from that link you gave me, and enjoy error which pop ups. :)

[2016-12-11 18:41] chpasha commented on #2151
Ok, I got it. So, I have a component which shows md-progress-circle while route is loading.

[code]
it has following template and I think the devil hides here
[code]
and then we have the app.html looking like
[code]
the part with lazy module and tabs is identical (but I don't think it has to do with lazy, I think it has to do with ngSwitch  hiding router-outlet. So if you navigate to the lazy modu

[2016-12-11 18:58] crisbeto commented on #2151
Thanks, this looks promising. I'll try it out a bit later.

[2016-12-11 19:38] clydin commented on #2173
This is standard angular behavior.
And the forRoot should only be imported once; ideally in the root component.

[2016-12-11 19:58] yhaskell commented on #1881
Actually, it does respect baseline. Problem with md-icon is sorted by adding
[code]

[2016-12-11 20:36] elvirdolic opened #2178 "Select panel/overlay has wrong position"
#### Bug, feature request, or proposal:
Somehow the position of the opened select overlay/panel is not close to the trigger. It seems that this has todo with the scroll position.

Example with multiple selects inside a table

![select_panel_wrong](https://cloud.githubusercontent.com/assets/17769458/21083122/a5e95c3c-bfe9-11e6-9fed-e150628d5988.png)

Single select
![select_pnael_wrong2](https://clo

[2016-12-11 20:40] crisbeto commented on #2151
Thanks @chpasha, now it happened! I actually had to slow down the hiding of the progress since it doesn't break if it hides too fast. On one hand it seems weird to have a `ngSwitch` over a router outlet, however I'm not sure that's the cause. I put in your example in our demo app and the only component that breaks is the tabs. Another interesting thing is that the loading has to be slow in order f

[2016-12-11 21:13] pj-agfa commented on #2168
I noticed that the positioning and transform of the md-input placeholder is different compared to the md-select placeholder. This is probably related to this issue.

[2016-12-11 22:02] crisbeto commented on #2178
Does this happen when you open the select or if you try to scroll after it was opened? Currently we don't block scrolling when overlays are open (there's a pending PR for it, though).

[2016-12-11 22:07] elvirdolic commented on #2178
This happens when I click the select.

[2016-12-11 22:56] phmello commented on #118
Quick question, was it supposed to be working with Reactive Forms yet?

[2016-12-11 22:59] fxck commented on #118
@vdclouis tag support will be part of a different component(chips / autocomplete), ajax loading maybe, but you can really handle that yourself.. another important feature of select2 is search, but since there is not material design spec for that type of select I don't think that will be in either

@phmello yes

[2016-12-11 23:08] geelus opened #2179 "placeholder disappears when using md-line with md-select"
#### Bug, feature request, or proposal:
placeholder disappears when using md-line with md-select

#### What is the expected behavior?
placeholder to remain on screen when using md-line with md-select

#### What is the current behavior?
placeholder disappears when using md-line with md-select

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team

[2016-12-11 23:54] phmello commented on #118
thanks @fxck, going to have a go with it

[2016-12-12 00:09] phmello commented on #118
No luck, I've tried
[code]

and when I try
[code]

Nothing happens, the filterInput has the value 'ASX' but the option is not selected, am I missing something?

[2016-12-12 00:28] kara commented on #2178
@elvirdolic Can you provide a plunker repro?  Having a hard time replicating.

[2016-12-12 00:49] nickraphael commented on #118
Anyone having issues with md-radio-button and formControlName?  The following is hanging chrome entirely - can't even kill it with task manager!

<md-radio-button value="1" formControlName="roundingOption"></md-radio-button>

[2016-12-12 00:54] fxck commented on #118
@phmello when are you calling that set value? I've had this problem when I tried setting it before md-options were generated.. try delaying it.

[2016-12-12 03:02] JanStureNielsen commented on #2172
@holms -- you submitted an issue in the `angular/material2` project (this project) but your comment above references the `AngularClass/angular2-webpack-starter` project (not this project). Are you having problems when you follow these instructions:

  https://github.com/AngularClass/angular2-webpack-starter

or when you follow this project's instructions:

  https://github.com/angular/material2/bl

[2016-12-12 03:11] holms commented on #2172
I have a problem for
https://github.com/angular/material2/blob/master/GETTING_STARTED.md

On Mon, 12 Dec 2016 at 12:02, Jan Nielsen <notifications@github.com> wrote:

[2016-12-12 03:22] tinayuangao commented on #2043
This is not a bug in `md-checkbox`. Your `isChecked(col)` needs to return a boolean to make it work - now it returns `{name: ColName}`.

The correct `isChecked(col)` function should be `isColChecked(col:any) {
    return this.columns.find(c => {
      return c.name === col.name;
    }) != undefined;
  }`

[2016-12-12 03:22] #2043 closed

[2016-12-12 03:26] kara commented on #2179
Related to https://github.com/angular/material2/issues/2124 and https://github.com/angular/material2/issues/2127

[2016-12-12 03:27] kara commented on #2168
Yeah, related to https://github.com/angular/material2/issues/2124 and https://github.com/angular/material2/issues/2127

[2016-12-12 03:52] JanStureNielsen commented on #2172
What do the following commands show, @holms:

    ng --version
    npm --version

[2016-12-12 04:13] tinayuangao commented on #2043
You also need to change `(click)="toggle(col)"` in template to `(change)=toggle(col)`.  The `(change)` event in MdCheckbox will toggle the checkbox again.

[2016-12-12 06:33] code-tree opened #2180 "Fresh install fails to build at ngc step"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`gulp build:release` builds successfully

#### What is the current behavior?
It raises the following (after a fresh delete and install of all node_modules)

[code]

#### What are the steps to reproduce?

[code]

#### Which versions of Angular, Material, OS, browsers are affected?
86123a3f0ca5bc3f3cf5f1b1f2263564c861af

[2016-12-12 07:05] shlomiassaf opened #2181 "MdDialog communication (i.e: passing data to MdDialog)"
#### Bug, feature request, or proposal: Proposal

#### What is the expected behavior?
Pass data to a component opened by the dialog service **without** depending on the dialog instance.

#### What is the current behavior?
You can pass data to a component by accessing it's instance and setting a predefined property.

#### What is the use-case or motivation for changing an existing behavior?
There a

[2016-12-12 08:09] timvdalen commented on #2171
Ah, we haven't run in to that since we're only using `MdDialog` and it's never rendered on the server side.
For our use case, `hasV8BreakIterator` is the only thing that's reached that expects a browser environment

[2016-12-12 08:17] montella1507 commented on #2173
I think that forRoot() will set/import  services/providers for dependency injection, so maybe it should be imported like that in AppModule (root module)??

So what about importing in shared module WITHOUT forRoot() (import declarations),

and import it again in Root module WITH forRoot() than for providers?

[2016-12-12 08:45] elvirdolic commented on #2178
@kara the plunker template is out of date. <md-select> is not available.

It seemt that this is related to the scrollbar. Without scroll bar the position is always OK.

See two screens. If I scroll down and click on the select the panel is opened somewhere above and the scrollbar is also scrolled to the panel (maybe due the focus)

![image](https://cloud.githubusercontent.com/assets/17769458/21092

[2016-12-12 08:46] chpasha commented on #2151
Great that you could reproduce the problem. I still think it has to do with the lifecycle. I replaced switch with two divs with [hidden] attribute and the problem was gone. And don't forget those experiments with ngIf when adding tabs after the main component has rendered, it also worked fine.

[2016-12-12 08:49] crisbeto commented on #2151
True, but in that case any other components would break as well. I'll take a better look into this today.

[2016-12-12 09:28] DzmitryShylovich commented on #2173
`MaterialModule.forRoot()` only once in the root module.
Just `MaterialModule` in all other modules.

[2016-12-12 09:35] kara commented on #2178
@elvirdolic Sorry about the plunker template; didn't realize. It should be updated soon!

In our demo app, we also have a scrolled environment, but we don't see this issue when scrolling. Can you post some of the code you're using? Or link to a branch?

[2016-12-12 10:16] DevVersion commented on #2171
Ah I see - I will take a look at this as soon as possible.

[2016-12-12 10:18] code-tree commented on #2180
It is not due to Angular 2.3 but is due to the latest version of some other package. I froze all the versions and only upgraded Angular and a couple of others, and got it working. Here is my config that it worked successfully with:

[code]

[2016-12-12 10:23] crisbeto commented on #2181
If I'm understanding it correctly, you'd want the dialog module to be something like:

[code]

Instead of having to do this:

[code]

[2016-12-12 10:35] shlomiassaf commented on #2181
Yep, something like this:

[code]

[2016-12-12 11:21] Dunos commented on #1913
Any updates on this issue? It's been almost a month...

[2016-12-12 11:42] #2173 closed

[2016-12-12 11:58] fxck commented on #2181
I still think that the best way(or at least a way that should be possible) to go about modals is to use inputs/outputs.

[code]

the way portal/overlay works, this can easily sit in your template, not created until `[open]` is true, and you can use the component inside as you would any other angular2 component. It's as angular2 as it gets.

I have yet to see a case where this wouldn't be sufficien

[2016-12-12 12:48] shlomiassaf commented on #2181
@fxck That's preference, its not best vs worst... just what people prefer.

The question you should ask is, can I get from A->B and from B->A?

Can you get from component based modal (your proposal) to a service base modal? I think no.
But you can build a component based modal based on a service...

So provide a service, if someone needs a declarative way later, no problem.

@crisbeto About the pr

[2016-12-12 13:06] paulogr commented on #2144
Has someone a workaround for this?

Thank you!

[2016-12-12 13:42] Habeeb-mohamed commented on #841
I am using 2.0.0-alpha.9-3 pattern is working fine

[2016-12-12 14:53] mgol commented on #261
Do you mean just the Android Browser or something else? iOS 9.3+, Chrome for Android & recent Windows Phone don't need it. If any FastClick solution gets developed it's important to be able to opt out of it if none of the supported platforms in a project need it.

[2016-12-12 15:35] geelus opened #2182 "Sidenav Toolbar buttons are hidden but they are clicked when using fullscreen and closed sidenav"
#### Bug, feature request, or proposal:
I'm using different pages and based on my need I'm setting the md-sidenav-layout to fullscreen mode. The issue is that the new sidebar that I use on the fullscreen page, although showing the toolbar buttons (like back arrow button) but when I click on them, they trigger the action of the button behind them.

Note that this happens when the sidenav is in coll

[2016-12-12 17:12] adrm commented on #1913
Blocked on this. Is there some known workaround? That would be helpful until the issue gets fixed. Thanks.

[2016-12-12 17:55] MatthieuBarthel commented on #2165
Hi, I had a similar issue, I destroyed the node_modules folder and reinstalled using `npm install`, the issue was gone.

[2016-12-12 18:36] johnnytung commented on #759
set <app> {display:block;}

[2016-12-12 18:36] DevVersion commented on #2171
Just discussed this with the team. We are going to track this issue with #308

[2016-12-12 18:36] #2171 closed

[2016-12-12 18:38] DevVersion commented on #1376
I will close that issue in favor of #1718.

[2016-12-12 18:38] #1376 closed

[2016-12-12 18:40] DevVersion commented on #598
Let's use #610 to track this issue.

[2016-12-12 18:40] #598 closed

[2016-12-12 18:53] mmalerba commented on #2144
It seems this was fixed by #1990

[2016-12-12 18:53] #2144 closed

[2016-12-12 18:56] paulogr commented on #2144
@mmalerba  Is this fix on master branch?

[2016-12-12 18:57] paulogr commented on #2144
@mmalerba  This commit you reference to is older than the reported issue

[2016-12-12 19:00] andrewseguin opened #2184 "Links and buttons on sidenav incorrectly position webkit-tap-highlight on mobile"
When holding down a tap on the sidenav buttons on the demo site, the tap highlight appears but is positioned incorrectly.

1. Root cause needs to be figured out
2. Probably need to disable tap highlight across all components since material already has a spec on focus/active.

Reproducible on demo site at https://material2-dev.firebaseapp.com

See screenshot to see what it looks like.
![img_2016121

[2016-12-12 19:01] mbellezi opened #2185 "AOT compile failing with alpha-11 and ancular-cli"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
alpha-11 AOT should compile.
alpha-10 compiles normally.

#### What is the current behavior?
When compiling with AOT, getting the error:

[code]

#### What are the steps to reproduce?

run:  ng build --watch --prod --aot

#### Which versions of Angular, Material, OS, browsers are affected?
macOS: 10.12.1
@angular-cli-

[2016-12-12 19:11] mbellezi commented on #2185
alpha-11-1 fixed it.

[2016-12-12 19:11] #2185 closed

[2016-12-12 19:27] mycarrysun commented on #1430
Stumbled upon this issue because I am trying to figure out why the MdDialog is position:static (changing to absolute fixes it...kind of). The overlay is on top of the dialog and the dialog is full width of the page (no width is declared in my config). Is this broken or do I need to do something to get it to work? I can fix it by adding display:flex and height: 100% to the .md-global-overlay-wrappe

[2016-12-12 19:31] andrewseguin commented on #2185
alpha-11-1 had some problems with AoT as well, use alpha-11-2

[2016-12-12 19:31] crisbeto commented on #1430
Try clearing your `node_modules` @mycarrysun. There have been a few similar issues after the latest release.

[2016-12-12 19:36] Uniqen commented on #2150
I've located the difference in our tests:
[code]

In my test the before each is:
[code]

Isn't that required to include Material directives in the test?

[2016-12-12 19:38] mycarrysun commented on #1430
Hmm strange, it worked though! Thanks @crisbeto

[2016-12-12 19:55] andrewseguin commented on #2144
It does appear to have been fixed in master by #1990. The jank is no longer there on the demo site. BTW this issue was reported in the morning and the commit was pushed to master in the afternoon.

[2016-12-12 19:57] crisbeto commented on #2150
You're probably right, I'll re-check it.

[2016-12-12 19:59] paulogr commented on #2144
Thank you for clarification @andrewseguin, really appreciate.

[2016-12-12 20:12] mLaird commented on #118
I'm using Angular 2.3.0 and MD.alpha.11-3.  I added the md-select below to a template style form.  It 'works' in the sense that the selections display, but they display at the bottom of the page, not under the select input display in the form.  When I scroll to the bottom and click, the selection shows in the element.  Is this a CSS problem or an md-select problem?

    <md-select id="country" nam

[2016-12-12 20:31] tariknz commented on #2165
I had to import the MdSelectModule separate to the MaterialModule to get it to work.

[2016-12-12 21:01] jelbourn commented on #2139
@atodd-geoplan npm doesn't understand the `alpha.xx-yy` syntax; your best best is to point to a specific version, especially while we're still changing APIs in alpha. I recommend manually setting the dependency, clearing your `node_modules`, and re-installing with `npm` (not `yarn`, which has issues).

[2016-12-12 22:31] divramod opened #2187 "Error after Upgrade to aplpha.11-3"
#### Bug, feature request, or proposal:
Bug?

#### What is the expected behavior?
No Error Message

After Upgrading Material to alpha.11-3 i am getting the following error message:

[code]

thx in advance for help

[2016-12-12 22:33] belev commented on #118
@jelbourn @kara I saw that in the [md-select project](https://github.com/angular/material2/projects/2) there is a task `NONE option` but I couldn't see an issue for that.

Is this going to be just another `md-option` without `value` which will be added by the user? And if so what do you think about community contribution for that functionality? I will be happy to try to implement it.

[2016-12-12 22:49] belev commented on #2187
@divramod Are you using Angular CLI? I tested it now with it and everything seems to be working correctly with the button module. Can you provide some more information about the project structure you are using so that it will be easier for someone to reproduce your issue and help you?

[2016-12-12 23:18] paulogr commented on #2180
Had exactly same problem here. And I used exactly same solution as yours :)

Thank you.

[2016-12-12 23:26] joejordanbrown commented on #118
@mLaird
Your property value is as if US and CA are variable and not strings.

[code]

[2016-12-13 00:31] jelbourn commented on #2178
@DevVersion isn't the plunker always pointing to the latest release?

[2016-12-13 00:38] jelbourn opened #2189 "A11yModule.forRoot() does not include providers from MdPlatformModule"
Each module's `forRoot` should include *all* of the providers in its dependency chain.

[2016-12-13 00:38] jelbourn commented on #2189
@crisbeto could you take this one?

[2016-12-13 00:50] jermowery opened #2190 "MdSnackBar does not close when MdDialog is closed"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

MdSnackBar should be closed automatically when it's host MdDialog is destroyed or should be closable in ngOnDestroy.

#### What is the current behavior?

MdSnackBar remains open even after it's host MdDialog is destroyed. The SnackBar will be unresponsive with the buttons unclickable.

#### What are the steps to rep

[2016-12-13 01:13] #2126 closed

[2016-12-13 01:56] kara commented on #2165
@stefan-niedermann @tariknz  Can you try destroying the node_modules folder and reinstalling, as Matthieu did?  You shouldn't have to import the select module separately, given that the select module is part of the MaterialModule.  It sounds like something in the build hasn't updated.

[2016-12-13 01:57] Gallopaway commented on #118
Please excuse my ignorance but the npm site does not show the latest 2.0.0-alpha.11 release, it says the latest version is v2.0.0-alpha.8-2?
https://www.npmjs.com/~angular2-material

how do i npm install the latest version so i can get my hands on the new md-select

[2016-12-13 03:35] dreweird commented on #118
uninstall the npm package and install again the npm @angular/material

On Tue, Dec 13, 2016 at 9:57 AM, Michael Galloway <notifications@github.com>
wrote:

--
(^_^)

[2016-12-13 04:16] dreweird commented on #118
Inside the form the md-select will become red after the second touch of the md-select selector...why is that?? https://plnkr.co/edit/vloidO?p=preview

[2016-12-13 04:29] kara commented on #118
@dreweird We have a fix for that [here](https://github.com/angular/material2/pull/2166), but you'll have to wait for it to be merged into master and released before you'll see the change. It's not going to be updated in plunker right now.

@Gallopaway It looks like you're looking at the old NPM package. You'll want the `@angular/material` package [here](https://www.npmjs.com/package/@angular/mater

[2016-12-13 04:51] kara opened #2192 "Fallback positions won't trigger when scrolled in relative containers"
Connected overlays calculate fallback positions to use when the overlay won't fit within the viewport.  When scrolled in relative containers, right now the overlays will always assume they can fit because the scroll isn't taken into account. So the default (below) position will be used.

[2016-12-13 07:22] stefan-niedermann commented on #2165
Hi folks, thanks for the tip. I will try this and then post the result here :)

[2016-12-13 08:26] alexw10 opened #2194 "Material2 should allow for the use of the new inheritance feature of Angular 2.3.0"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
Talked with @robwormald about this in Angular2 gitter for a bit today.
The new Inheritance feature put into Angular2 (https://github.com/angular/angular/commit/f5c8e09) I think should be utilized by Material2
Allowing for extending of components with Material2's events being inherited to a extended component.

##

[2016-12-13 08:40] crisbeto commented on #2190
All of the Material modules are intended to do be independent of each other. If we closed all of the toasts automatically when a dialog is closed, we'd make the dialog module dependent on the snack bar. You can achieve the same by subscribing to the dialog's close observable:

[code]

[2016-12-13 09:16] belev commented on #118
@kara ok, thanks! I will then just keep an eye on the progress of the select.

[2016-12-13 12:40] bnatter commented on #118
Hi,

I'm having trouble getting a change event to trigger a function.
`(change)="updatedMobile(mobile_bid_op)"`
A click event works but not the change.

Any help?

Thanks

[2016-12-13 12:52] negberts opened #2196 "Placeholders with md-select and md-input"
Just a question, why isn't the placeholder of md-input transforming anymore? And why did the creators of md-select decide to transform the placeholder if it was removed from md-input?

[2016-12-13 14:48] cladera commented on #1913
Same problem here. Any workaround?

[2016-12-13 15:49] DevVersion commented on #2178
@jelbourn The Plunker template should always point to the latest release on npm. (See http://plnkr.co/edit/o077B6uEiiIgkC0S06dd?p=preview)

[2016-12-13 16:27] eslammahgoub opened #2198 "BUG - md-input ng-reflect-model not reflect the input"
#### Bug, feature request, or proposal:
I use ngModule form with dynamics inputs and when you set data and try to add new inputs it show in md-input the ng-reflect-model but not in input the ng-reflect-model in md-input-infix so it's not showing in the view.

#### What is the expected behavior?
the ng-reflect-model in md-input has the same data as the ng-reflect-model in input

#### What is the cu

[2016-12-13 16:32] doorman02 opened #2199 "Select menu not appearing"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The select menu should appear when the select arrow is clicked

#### What is the current behavior?
The select menu doesn´t appear

#### What are the steps to reproduce?
This is how the select looks like in my template.
[code]

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunke

[2016-12-13 17:06] holms commented on #2172
@JanStureNielsen I don't use ng

[code]

[2016-12-13 17:33] jermowery commented on #2190
Here is a Plunker showing the issue: http://plnkr.co/edit/xrf3OSZec4J1w2MncFbY?p=preview

The component shown in the dialog is the component creating the snackbar

[2016-12-13 17:35] jermowery commented on #2190
In the above example dismiss is called on the MdSnackBarRef instance in ngOnDestroy of the dialog component

[2016-12-13 17:47] JanStureNielsen commented on #2172
@holms -- this project's `GETTING_STARTED.md` starts with installing Angular CLI and uses it throughout; so, you're **not** following this project's GETTING_STARTED.md. As noted in this project's CONTRIBUTING.md document, support questions should be directed to StackOverflow -- I suggest you do just that and add a plunker reproducing your problem...and you might consider using Angular CLI at least

[2016-12-13 17:51] mmalerba commented on #2032
In your plunker demo I see the correct classes as soon as it loads `class="md-sidenav-opened md-sidenav-side"`.

[2016-12-13 17:51] #2032 closed

[2016-12-13 17:55] #2172 closed

[2016-12-13 17:55] holms commented on #2172
Basically what you're saying is that this project doesn't support webpack.

[2016-12-13 18:07] JanStureNielsen commented on #2172
No, @holms -- that's not what I'm saying at all. I'm using Angular 2, Angular 2 Material, Angular CLI and webpack in my project and it's working very nicely. Try Angular CLI -- it'll be well worth your time to at least get something up and running.

[2016-12-13 18:17] belev opened #2201 "Failing E2E keyboard interaction test for md-menu"
The test `should auto-focus the first item when opened with SPACE` in `menu.e2e.ts` fails. It seems to me like `sendKeys` don't send properly the space key.
![screenshot from 2016-12-13 19 54 25](https://cloud.githubusercontent.com/assets/5807771/21152804/968dddac-c170-11e6-84aa-2576528ed56d.png)

[2016-12-13 18:23] DevVersion commented on #2201
Yeah this is an issue with the `chromedriver` version 2.25.

Recently a new `chromedriver` v2.26 has been released and is going to be available soon for protractor.

See SHA https://github.com/angular/webdriver-manager/commit/b40a93f00f661b128b7853590d79cbc6dd3b87ee

[2016-12-13 18:23] #2201 closed

[2016-12-13 18:56] negberts commented on #2199
Try adjusting the z-index. We had the same issue with md-select on a dialog

[2016-12-13 19:16] #2196 closed

[2016-12-13 19:32] josenicomaia commented on #1177
+1

[2016-12-13 19:38] #1963 closed

[2016-12-13 20:12] DevVersion commented on #262
Closing this, because #2010 just landed in `master`.

[2016-12-13 20:12] #262 closed

[2016-12-13 20:33] brachi-wernick opened #2203 "Slide Toggle doesn't refreshed when operation cancelled in the componnet"
Bug
if I have a case when I change my slider from off to on: meaning from false to true,
and then I have some logic in my component class that cancel this change, for example: I open a modal on change, and the user hit cancel.
then I want the slider to becomes off-false again.

#### What is the expected behavior?
I should see in the page that the slider becomes off again, even if it was checked.

[2016-12-13 21:02] #2147 closed

[2016-12-13 21:08] jelbourn commented on #2190
@crisbeto could you take a look at this one?

[2016-12-13 21:16] medeirosrich commented on #2143
Thanks,

I was stuck with this solution initially because I wasn't binding to the value attribute of md-option

i.e. [value]="statusType.Id"   vs.  value="{{statusType.Id}}"

In case anyone else stumbles upon this thread.

[2016-12-13 22:12] colemickens commented on #2030
Ping, this issue isn't fixed, please reopen or advise. thanks.

[2016-12-13 22:14] colemickens commented on #2030
Looks like it might be close but the text is rendered as white (on a white bg) instead of black text on a white button as it renders in other places beside the header.

[2016-12-13 22:36] hans-pragt opened #2205 "Tooltip backgrounds only span the first line of text."
#### Bug, feature request, or proposal:

When the text of a tooltip spans multiple lines, only the first line will have a background.

#### What is the expected behavior?

The tooltip background is behind all lines of text.

#### What is the current behavior?

The tooltip background is only behind the top line of text.

#### What are the steps to reproduce?

http://plnkr.co/edit/GKaAf1dfZWqa3cWC0p

[2016-12-13 22:59] #2083 closed

[2016-12-13 23:46] kara commented on #2199
@doorman02 Your code snippet works fine for me. Can you post more code or a plunker repro?

[2016-12-14 01:10] geniusbabak commented on #675
Just a datePicker is not going to solve the problem, a year ago implementing dateTimePicker got removed from backlog promising for version 2.
Do you think is it worth bringing datePicker from material and then a time picker from somewhere else, which has date and time in the same package?

[2016-12-14 01:10] code-tree opened #2206 "Documentation for gestures module"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Docs exist that explain how to use the gestures module.

#### What is the current behavior?
No docs seem to exist

#### Is there anything else we should know?
It took me a while to figure out that I needed to put `{provide: HAMMER_GESTURE_CONFIG, useClass: MdGestureConfig},` in my core module to allow bind

[2016-12-14 03:00] code-tree commented on #2180
Ok, I figured out it is due to Typescript 2.1

https://github.com/angular/angular/pull/13294

Should typescript version be pinned down until this is fixed?

[2016-12-14 03:38] jelbourn opened #2208 "Refactor one-time completion observables to Promises"
There are a few places where we use an `Observable` for something that only ever "completes" (dialog and snackbar off the top of my head). We should use promises instead so that those APIs work with `await` TS 2.1.

[2016-12-14 03:43] code-tree opened #2209 "Swipe gesture for tabs"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Content area of tabs can be swiped to change the tab

#### What is the current behavior?
Can't swipe

#### What is the use-case or motivation for changing an existing behavior?
Follow spec

#### Which versions of Angular, Material, OS, browsers are affected?
86123a3f0ca5bc3f3cf5f1b1f2263564c861af2a

#### I

[2016-12-14 04:11] jelbourn commented on #2030
The button uses `currentColor` for the text. Inside of your toolbar it's white.

[2016-12-14 04:24] colemickens commented on #2030
I see. If the output in plunkr is expected then I will take this as "user error" and figure it out, thanks for the pointer!

[2016-12-14 07:00] mmalerba commented on #1055
renamed to md-sidenav-container in #2183

[2016-12-14 07:00] #1055 closed

[2016-12-14 07:18] Thommas commented on #2209
I'm also interested in this feature.

The material1 documentation indicates that tabs are designed for swipe and so we should not put swipeable content inside tab contents. Fair enough.

If we can implement this ourselves, can we have a quick clue about how to proceed ?

[2016-12-14 07:59] yosefdishinger commented on #118
@bnatter I had the same problem, I ended up adding a FormControl to my component and linking the md-select to it with [formControl]="myFormControl". Then you can subscribe to the "valueChanges" property of the form control, which is an Observable. This is what we're doing for now, hope this helps.
`this.statusFilter.valueChanges.subscribe(val =>
      this.myFunction(val)
);`

[2016-12-14 08:21] mniya opened #2211 "md-sidenav-menu"
Can you add md-sidenav-menu component like google adsense sidebar menu. support muti-level menu. I think this feature is very common.If add this feature material2 would be perfect.

[2016-12-14 08:34] doorman02 commented on #2199
Hi @kara , @negberts was right the select was inside a div where the z-index was set to 2001, when I removed the z-index it appeared. I was trying to setup a plunkr based on the template but it looks like the Material Module cannot be found.
http://plnkr.co/edit/yk0k2S7CvVqwSdAYAVcN?p=preview

Would be nice if this would also work with different parent div z-indexes.

Is there any documentation av

[2016-12-14 10:34] razvanmitre commented on #118
Hello,

From what I see in the code, multi select is not implemented yet, any ETA on this?

Thanks.

[2016-12-14 10:45] SikFar opened #2213 "'md-sidenav-container' is not a known element:"
#### Bug, feature request, or proposal:

#### What is the expected behavior?
To run md-sidenav-container example

#### What is the current behavior?
md-sidenav-container does not show, console shows error
`zone.js:388 Unhandled Promise rejection: Template parse errors:
'md-sidenav-container' is not a known element:
1. If 'md-sidenav-container' is an Angular component, then verify that it is part o

[2016-12-14 10:54] SamiAl90 commented on #2213
md-sidenav-container is only available on the current version, which is not yet released.
You still have to use md-sidenav-layout.

[2016-12-14 10:57] SikFar commented on #2213
@SamiAl90 Ah, I see. Thank you!

[2016-12-14 11:49] crisbeto commented on #2213
Closing since the renamed element should be in the next version.

[2016-12-14 11:49] #2213 closed

[2016-12-14 12:22] tomchovanec commented on #2151
There must be some serious problem between versions 2.0.0-alpha.11-2 and 2.0.0-alpha.11-3.

Scenarion: dialog contains 5 tabs.

In version 2.0.0-alpha.11-3
- tabs are empty, no content at all. Event header has no labels. But tabs can be switched (still no content, only tabs without labels)
In version 2.0.0-alpha.11-2
- everything works good, only md-select has wrong list position on a first show (

[2016-12-14 12:28] timvdalen commented on #308
Any chance https://github.com/angular/material2/issues/2171 can be looked at as a 'small' change?
I'd hate to lock into an old version of material but this is currently breaking our project.

[2016-12-14 12:52] AsherBarak opened #2214 "Menu not functioning properly on RTL"
#### Bug, feature request, or proposal:
Bug

check out this screenshot:
![image](https://cloud.githubusercontent.com/assets/6647171/21182458/eb7ec6d2-c20b-11e6-8d2d-bf88f1ae815e.png)

When the menu button was not positioned to the left, the menu was not visible altogether, as it was positioned off screen:
![image](https://cloud.githubusercontent.com/assets/6647171/21182669/ec08ddbc-c20c-11e6-8fd8-

[2016-12-14 13:17] narkissbv commented on #118
In the md-select element, style set to:

`.md-select-trigger {
    color: rgba(0, 0, 0, 0.38);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
`

while in the md-input the style is set to:

`.md-input-underline {
    border-color: rgba(0, 0, 0, 0.38);
}`

That causes inconsistency with the colors of the borders of input and select elements.
Not mentioning the fact they are not aligned with each

[2016-12-14 13:23] kara commented on #118
@narkissbv  See https://github.com/angular/material2/pull/2167 and  https://github.com/angular/material2/issues/2124 and

[2016-12-14 13:51] philipooo commented on #914
This is how the Angular Team has fixed this for the NUMBER_VALUE_ACCESSOR.
https://github.com/angular/angular/commit/e69cb40de3547689b1cb06dc442ff47c84086844

[2016-12-14 15:51] blaugold commented on #914
@philipooo Thas how i fixed it in my PR but in MdInput itself. NUMBER_VALUE_ACCESSOR is the right place to do it. This should resolve the issue, so I'm closing it.

[2016-12-14 15:51] #914 closed

[2016-12-14 15:54] elvirdolic commented on #2178
@DevVersion it's not the latest one if you put   <md-select><md-option>Hello</md-option></md-select> inside it's not working

Nevertheless issue is not a related to md-select. We had some modifications on the overlay-container css class which were necessary in the previous versions.

[2016-12-14 15:54] #2178 closed

[2016-12-14 15:58] DevVersion commented on #2178
@elvirdolic This works for me. I can imagine that the old `UMD` bundle is still cached on your browser.

[2016-12-14 16:14] DevVersion commented on #2203
It looks like the `native` checkbox isn't able to handle that as well.

* I personally don't consider this as a big deal and it looks more like this should be reported to the Angular repo instead?

[2016-12-14 16:40] s-f-a-g opened #2215 "Item rendering has become very slow in md-list/md-nav-list (alpha.11-3)"
#### Bug ?

#### Item rendering in md-list and md-nav-list should be as quick as it was in alpha-10

#### I used to render 200 items in a single request until alpha-10. Since alpha-10, it is unusable, it is very very slow to render. I first tought it was my request, but it hasn't change for a while.  The first load is longer than usual but it is acceptable. But every refresh are longer and longer.

[2016-12-14 17:58] crisbeto commented on #2215
Going by the changelog, it doesn't look like there have been any commits that could cause this. Can you post a Plunkr?

[2016-12-14 18:28] mmalerba opened #2217 "remove md-input component in favor of md-input-container"
part 2 of the refactor started in #2052

[2016-12-14 18:50] jelbourn commented on #2214
All the components support RTL now, the only small piece missing for overlay components is that part that tells them that they're in an RTL context. Tracked via #1719

[2016-12-14 18:50] #2214 closed

[2016-12-14 18:53] kunalapila opened #2218 "No method in md-input to select the entered text"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
There is no function to select the text that has been entered by a user in the md-input component

#### What is the current behavior?
This is how I tackled the issue, although using _vars in the code in not a good practice
http://plnkr.co/edit/7BFzayYpgHS8JCtaVOst

#### Proposed solution:
I can fix this by

[2016-12-14 19:03] jelbourn commented on #308
@timvdalen if you submit a PR that makes the platform detection happen lazily without changing the API that would be fine with me

[2016-12-14 19:30] mmalerba commented on #2218
`md-input-container` is now available which gives the user control of the underlying `input` element. should make this easy

[2016-12-14 19:30] #2218 closed

[2016-12-14 19:38] mmalerba commented on #2198
`md-input-container` is now available which gives the user control of the underlying `input` element. should work for your use case, just put the ngModel on the native `input`

[2016-12-14 19:38] #2198 closed

[2016-12-14 19:38] dansanderson opened #2220 "Allow styling of menu actuators"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
When I trigger an md-menu with an actuator (usually a button) connected with md-menu-trigger-for, I want an easy way to change the appearance of the actuator for as long as the menu is open that doesn't involve a custom component or directive.

#### What is the current behavior?
md-menu-trigger-for offers

[2016-12-14 19:45] mmalerba commented on #2091
`md-input-container` is now available which gives the user control of the underlying `input` element. you can just put the ngModel on the native `input`. The various state classes are also copied to the `md-input-container` element for easy custom styling of the component based on state.

[2016-12-14 19:45] #2091 closed

[2016-12-14 19:50] mmalerba commented on #1934
https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Input#attr-maxlength

It sounds like you probably want `type=tel`

[2016-12-14 19:50] #1934 closed

[2016-12-14 19:52] mmalerba commented on #1853
This is fixed for `md-input-container` which will replace `md-input`

[2016-12-14 19:52] #1853 closed

[2016-12-14 19:55] mmalerba commented on #1852
`md-input-container` is now available which gives the user control of the underlying `input` element. you should be able to place the tabindex on the native `input` now

[2016-12-14 19:55] #1852 closed

[2016-12-14 19:56] mmalerba commented on #1127
fixed for `md-input-container` which will replace `md-input`

[2016-12-14 19:56] #1127 closed

[2016-12-14 19:57] mmalerba commented on #1107
`md-input-container` is now available which gives you access to the underlying `input` element

[2016-12-14 19:57] #1107 closed

[2016-12-14 19:58] mmalerba commented on #841
`md-input-container` is now available and will allow you to place the `pattern` attribute on the native `input` element

[2016-12-14 19:58] #841 closed

[2016-12-14 20:54] #2097 closed

[2016-12-14 21:08] brachi-wernick commented on #2203
@DevVersion

what doesn't behave well in checkbox?

don't think so, works well with any other native element.

I have workaround, if I put `undefine`d then it works, because there is a change.
I think you aren't trigger a change because it is not changed, it was false and remain false, maybe it is related to the `OnPush` strategy?

[2016-12-14 21:11] trainerbill commented on #1076
@jelbourn Is accordion wanted in this project?  I don't think it would be super difficult to achieve using md-list as a basis.  If one was created would a PR be welcomed?

[2016-12-14 22:26] robisim74 opened #2224 "md-sidenav mode="over" focus state"
#### Bug, feature request, or proposal:
The base path remains in active state when you select another link and you close and reopen the sidenav, only in mode="over". Need an event, like a click, to deactivate it.

#### What is the expected behavior?
It has worked fine up to 2.0.0-alpha.10

#### What is the current behavior?
<img width="584" alt="2016-12-14" src="https://cloud.githubusercontent.com

[2016-12-14 22:27] ManishJainGitHubUser opened #2225 "IE11 - Error in ./MdInput class MdInput - inline template:0:846 caused by: Invalid argument."
I am getting below error with rel11 on IE11. This works fine on Chrome 54.

Error: Uncaught (in promise): Error: Error in ./MdInput class MdInput - inline template:0:846 caused by: Invalid argument.
Error: Error in ./MdInput class MdInput - inline template:0:846 caused by: Invalid argument.
   at DebugAppView.prototype._rethrowWithContext (eval code:9465:21)
   at DebugAppView.prototype.detectChan

[2016-12-14 22:27] #2085 closed

[2016-12-14 22:32] #2190 closed

[2016-12-14 22:33] #2189 closed

[2016-12-14 23:04] mmalerba commented on #2163
I think changing the size of the element when the hint is shown is just going to create more layout trouble for developers than it will fix. So we either have to live with `md-input` that have a little too much bottom space when there's no hint or `md-input` that don't quite have enough bottom space when there is a hint.

@jelbourn do you have a preference for which way we go on this? I could see

[2016-12-14 23:47] mmalerba commented on #2118
This is a limitation of ngIf (see https://github.com/angular/angular/issues/6179)

You can work around it by using `@ViewChildren`:
[code]
[code]

[2016-12-14 23:47] #2118 closed

[2016-12-15 00:01] #50 closed

[2016-12-15 00:10] kuncevic commented on #1728
Is that feature has being planned yet? Is there any deadlines on that?

[2016-12-15 00:30] kuncevic commented on #1728
Is that feature has being planned yet? Is there any deadlines on that?

@daugoh have you come up with any proper soulution for this one?

As mentioned here https://github.com/angular/material2/issues/2021 with a small showcase http://plnkr.co/edit/LcRDIHNFjHKLFTaMdNEM?p=preview that just gives an idea how to keep a bit of sidenav showed when it is closed but that is no proper way of hadle the icon

[2016-12-15 00:55] ratherblue opened #2227 "The cursor is reset when deleting from input type=number"
#### Bug, feature request, or proposal:
When using `<md-input type="number"></md-input>`, if you enter in a value like `12345`, then move the cursor to  the `2` and delete `2`, the `2` is deleted, but the cursor moves to after the `5`..

#### What is the expected behavior?
The cursor should stay in place

#### What is the current behavior?
The cursor moves to the end of the input value

#### What

[2016-12-15 00:56] kara commented on #2220
@dansanderson The menu trigger already exposes a `menuOpen` property that is true when the menu is open. Is this not doing what you need?

[2016-12-15 01:45] Striveyazi opened #2228 "this dialog style is not work,seems no have"
i use your demo code , but the css style is wrong, can you tell me that what are the possible causes of this error.
demo link:
https://github.com/angular/material2/blob/master/src/demo-app/dialog/dialog-demo.ts

error style:
![image](https://cloud.githubusercontent.com/assets/18276182/21208683/7dee1e84-c2aa-11e6-918c-2c737824caf5.png)
expect style:
like this
![image](https://cloud.githubuserconten

[2016-12-15 01:59] dansanderson commented on #2220
@kara Ah, sorry, I didn't see that. :) Can you teach me how to refer to that property in a binding expression on the element? I assume I can do something like <button md-button md-menu-trigger-for="myMenu" [class.xx-menu-open]="....menuOpen">? Thanks for your help!

[2016-12-15 02:10] ManishJainGitHubUser opened #2229 "Md-Select style issue"
I am using latest version of material 2. Rel 11.

I have applied below style to select.
   font-size: 30px;
    padding: 12px;
    margin: 12px;

which misaligned values inside control (see screenshot). Upon digging into styles of control, found out that
.md-select-trigger setting up height: 30px

I tried to modify height with
  height: 50px; or with important but it didn't work.

Any ideas how to

[2016-12-15 03:22] Thommas opened #2230 "Autoprefixer build"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?

Material2 should be compatible with iOS8+ (two latest version of iOS right?) but some autoprefixed css rules are missing (especially flexbox).

#### What is the current behavior?

If you look at the source code, in node_modules/@angular/material/toolbar/toolbar.js for instance:
[code]
The css is inlined *

[2016-12-15 04:55] code-tree opened #2231 "Touch action incorrect for swipe gesture"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`touch-action: pan-y` when `(swipeleft)='something()'`

#### What is the current behavior?
`touch-action: none`

#### What are the steps to reproduce?
http://plnkr.co/edit/x8rl6HY88JbMWbJzwVbv?p=preview

Inspect the div element and you'll see the value of touch-action.

#### Which versions of Angular, Material, OS, br

[2016-12-15 06:37] crisbeto commented on #2228
These are the proper dialog styles. We recently switched to using flexbox to center the dialog (see https://github.com/angular/material2/pull/1962), instead of `transform`, because using transforms can cause the dialog contents to become fuzzy in certain conditions (e.g. when the dialog's width or height isn't a whole number). Are you experiencing any rendering issues?

[2016-12-15 06:51] sebfag commented on #2215
I didn't parse all the commits but there are some related to list.
I will try to make a plunkr

[2016-12-15 07:31] negberts opened #2232 "md-select: selected option not removed when ngModel updates"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When the options are updated and the selected option is no longer available the selected option should be cleared.
When using enter to open the Md-Select options there should be no error

#### What is the current behavior?
The selected option is hold on to, although NgModel is null and the options no longer has the se

[2016-12-15 07:52] Striveyazi commented on #2228
thank u very much. your mean is cleaning node_modules/@angular or  node_modules/@angular/material  and reinstalling this.
i have done both . the position still is incorrect?

[2016-12-15 07:57] Striveyazi commented on #2228
angular version: 2.3.0
material verison:2.0.0-alpha.11-3

[2016-12-15 08:13] crisbeto commented on #2228
Both should do the trick. Also clearing the `node_modules` should be fine. Otherwise can you post a screenshot of what the dialog looks like for you?

[2016-12-15 08:18] Striveyazi commented on #2228
![image](https://cloud.githubusercontent.com/assets/18276182/21216497/201ab5dc-c2e2-11e6-8e75-9871051b38ce.png)

[2016-12-15 08:19] Striveyazi commented on #2228
![qq 20161215161823](https://cloud.githubusercontent.com/assets/18276182/21216525/3e95611a-c2e2-11e6-895f-f56aab084d92.png)

[2016-12-15 08:22] Striveyazi commented on #2228
i need it in center , or i can  custom  this position. my css style maybe cause  this problem? or not it's version problem?

[2016-12-15 08:29] crisbeto commented on #2228
It should be in the center by default. I'm trying it out locally and it works fine. It's hard to know what is going on just by looking at a screenshot, but the following CSS rules are what makes it work, in addition to the ones that are set as inline styles:

[code]

If these aren't in your stylesheet, then it's probably outdated.

[2016-12-15 08:33] Striveyazi commented on #2228
![image](https://cloud.githubusercontent.com/assets/18276182/21216885/3a614d46-c2e4-11e6-8701-e1d875eecdcf.png)

[2016-12-15 08:35] Striveyazi commented on #2228
![image](https://cloud.githubusercontent.com/assets/18276182/21216939/85e1fa54-c2e4-11e6-9a4a-4340b48f08d1.png)

[2016-12-15 08:37] crisbeto commented on #2228
It's not supposed to be in the `element.style` (those are the inline styles), but it *should* show up right below it. It would be a good idea to try and clear out the node modules, as well as your cache and try to reinstall Material. Something similar happened here, but was fixed with a fresh install https://github.com/angular/material2/issues/2136

[2016-12-15 08:38] Striveyazi commented on #2228
I suspect that because this version of the style file is not loaded properly, you think there may be what causes it?

[2016-12-15 08:40] crisbeto commented on #2230
If you take a look at the readme, it states that "Angular Material supports **the most recent two versions** of all major browsers". The two most recent versions of iOS Safari are 10 and 9.

[2016-12-15 08:42] Striveyazi commented on #2228
I'll try what you just said

[2016-12-15 08:42] crisbeto commented on #2228
Most likely, I'm not sure what your setup is, although I can also see that some of your other CSS might be missing (e.g. the dialog backdrop is supposed to be dark, but yours looks transparent).

[2016-12-15 09:10] Striveyazi commented on #2228
i'm sorry. i did as yor said. but this problem is still exist.  my node_module/@angluar/material/dialog
/dialog-container.css it's content as follows:
/**
 * Applies styles for users in high contrast mode. Note that this only applies
 * to Microsoft browsers. Chrome can be included by checking for the `html[hc]`
 * attribute, however Chrome handles high contrast differently.
 */
md-dialog-containe

[2016-12-15 09:18] Thommas commented on #2230
My bad.

We use browserstack to test and ios8 and 9 are accessible on iPhone5/6. That's why we were worried.

The conclusion is that these CSS rules won't be fixed ?
Material2 will always be broken on safari iOS8 ?

https://developer.apple.com/support/app-store/

OK so at worse 8% of our users won't be able to display the app. And it should resorb in the next 3 to 6 months so no worry.

I think yo

[2016-12-15 09:21] crisbeto commented on #2228
The positioning styles that I pasted should be in the overlay styles. They should be at `core/overlay/overlay.css`.

[2016-12-15 09:25] #2230 closed

[2016-12-15 09:27] Striveyazi commented on #2228
oh. I read the path, but did not find.I put this directory screenshots for you。
![image](https://cloud.githubusercontent.com/assets/18276182/21218464/b32b51f2-c2eb-11e6-87c2-6a2c9d8cd69a.png)

[2016-12-15 09:39] crisbeto commented on #2228
My bad, looks like the overlay styles are in the generated theme files. Do you use the theming? You can see how to set it up in our guide: https://github.com/angular/material2/blob/master/docs/theming.md. You only need to include one of the pre-built themes.

[2016-12-15 09:46] StephaneMourgues opened #2234 "md-select width issue"
#### Bug, feature request, or proposal:
md-select width is always 112px, whatever the size of the displayed option

#### What is the expected behavior?
When the selected option is wider than the md-select, the md-select should resize accordingly

#### What is the current behavior?
The md-select has a fixed width

#### What are the steps to reproduce?
See plunker here:
https://plnkr.co/edit/eMIni8u

[2016-12-15 09:56] Striveyazi commented on #2228
its my error.i didnt use this reference theme file.i will try it again.thank u very much.

[2016-12-15 12:14] cbjerg opened #2236 "[Tabs] Allow users ability to disable pagination"
#### Bug, feature request, or proposal:

Can't find a way to disable scrolling of tabs. Missing (or fail to apply) the md-no-pagination from material1

#### Which versions of Angular, Material, OS, browsers are affected?

alpha 11 on latest angular

[2016-12-15 13:05] nicksteenstra commented on #118
@kara Thank you! Are there plans for the md-select to have the `change` event in the future?

[2016-12-15 13:23] StephaneMourgues opened #2237 "md-sidenav containing md-list and md-tab height issue"
#### Bug, feature request, or proposal:
If in a md-sidenav you put a md-list with an item containing a md-tab-group, when the content of the tab is too long the tabs are moved up above other components.

#### What is the expected behavior?
The tabs should stay in place and their content should grow downards.

#### What is the current behavior?
The tabs are pushed up, above other components. The lo

[2016-12-15 13:28] Hiblton opened #2238 "class MdDialogContainer - No provider for InteractivityChecker!"
I've updated to "@angular/material": "^2.0.0-alpha.11-3" and the working example from
https://medium.com/@tarik.nzl/making-use-of-dialogs-in-material-2-mddialog-7533d27df41
stopped working.
With "@angular/material": "^2.0.0-alpha.9-3" in my package.json it's worked well.
![package](https://cloud.githubusercontent.com/assets/7037166/21225780/83f2a960-c2e3-11e6-91c9-0ab6568179cb.png)

Now If I try t

[2016-12-15 14:08] Hiblton commented on #2238
I've added forRoot() to MaterialModule in app.module.ts and everything starts working :)

[2016-12-15 14:08] #2238 closed

[2016-12-15 14:43] bnatter commented on #118
@yosefdishinger, @kara : Thanks for the help.

[2016-12-15 16:41] mtrdp642 opened #2239 "Allow color binding"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
For the components that support the 'color' attribute, allow binding to the color attribute.

#### What is the current behavior?
Binding the color attribute to a variable results in:

`Can't bind to 'color' since it isn't a known property of [component].`

#### What are the steps to reproduce?
Plunker temp

[2016-12-15 17:28] jelbourn commented on #2220
@dansanderson Ah, I missed that property. It would be

[code]

[2016-12-15 17:28] #2220 closed

[2016-12-15 17:45] jelbourn commented on #2163
@mmalerba I would lean towards the component _always_ leaving room for the hint whether it's there or not. We could potentially add an attribute to remove it.

[2016-12-15 17:48] crisbeto commented on #2151
For reference, I tracked this down to the `@translateTab` animation in the `tab-body` which ends up getting into an infinite loop. @matsko looked into it and apparently it has something to do with the router triggering change detection too early. To reproduce it:

1. Download [this snapshot of my fork](https://github.com/angular/material2/files/655420/material2.zip) and do an `npm install`.
2. Run

[2016-12-15 17:54] mmalerba commented on #2163
yeah that's what I was thinking, sg

[2016-12-15 17:59] mmalerba commented on #1648
both syntaxes seem to work now

[2016-12-15 17:59] #1648 closed

[2016-12-15 18:23] belev commented on #2239
You can do this by binding `color` through `attr`. Instead of using `[color]='progCircleColor'` you can use `[attr.color]='progCircleColor'` which will work: [updated plunker](http://plnkr.co/edit/zaGeOuztHUxaXcyuaxVf?p=preview).

[2016-12-15 18:31] mtrdp642 commented on #2239
Perfect, forgot about `attr`! Thank you.

[2016-12-15 18:31] #2239 closed

[2016-12-15 19:33] alan345 commented on #117
is there an estimation regarding the release ? thanks a lot!

[2016-12-15 19:47] kkjf02 commented on #117
is there an estimation regarding the release ? thanks a lot! (2)

[2016-12-15 22:25] dansanderson commented on #2220
Thanks for the help!

[2016-12-15 23:34] cheresier commented on #115
I have a suspicion that the viewContainerRef setting of MdSnackBarConfig is working correctly. I have a component (let's call it CompanyComponent) that consists of one MdCard with a button inside of it.  Pressing the button opens a MdSnackBar. Since each card has a button that opens a snack bar I want the snack bar to be anchored to the bottom of each card. Multiple instances of the CompanyCompone

[2016-12-15 23:59] jelbourn commented on #115
@cheresier That's not what `viewContainer` is for. Setting the `viewContainer` tells Angular where the loaded component lives in terms of dependency injection and change detection, but does not affect where it is rendered. Per material design spec, the snack bar always renders at the edge of the screen.

[2016-12-16 00:06] cheresier commented on #115
@jelbourn, a-ha! Got it. Thank you! Can you point to any other material component I should be using for this use case?

[2016-12-16 00:08] jelbourn commented on #115
You may just want make your own component and conditionally show/hide it at the bottom of the card.

[2016-12-16 00:33] daniele-zurico opened #2247 "style is not applied to all the components"
#### Bug, feature request, or proposal:
Hi I'm using angular cli (scss) I added angular material but for some reason the css is not applied to all the component. For example the button don't take the primary color

<img width="441" alt="screen shot 2016-12-15 at 16 31 23" src="https://cloud.githubusercontent.com/assets/3193095/21247424/291a4150-c2e4-11e6-8158-af408fb4a7fb.png">

As you can see the

[2016-12-16 00:55] chouclee commented on #1650
@TimKlein87 Do you happen to know how to change the height of the toolbar in an Overlay?
Using
[code]
could change the height of ``md-toolbar``. But I couldn't find a way to overwrite the height of ``md-toolbar-row`` within a component. ( I could only achieve this by overwriting the style in app's global style file)

[2016-12-16 01:08] Striveyazi commented on #2228
this problem is solved, thank u very much for your patience

[2016-12-16 01:31] mmrath opened #2248 "Bug - select not firing change event"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
(change) should be fired when value of select is changed manually

#### What is the current behavior?
(change) is not fired

#### What are the steps to reproduce?
This plunker reproduces the issue
https://plnkr.co/edit/MyhgEgH4SzFJs7aoJtzy?p=preview

#### What is the use-case or motivation for changing an existing beh

[2016-12-16 01:35] mmrath commented on #2215
Not 100% sure, but it could be related to Angular 2.3.0. I have a table which is slow with 2.3.0 but works fine on 2.2.4. @sebfag could you try angular 2.2.4 and see if it is still and issue?

[2016-12-16 01:37] nayfin commented on #1967
@DzmitryShylovich will your [pull request #13341](https://github.com/angular/angular/pull/13341) address these issues?

[2016-12-16 02:48] nak411 commented on #114
Is there a way to make the content scrollable within the dialog?

[2016-12-16 03:15] zealitude commented on #1576
I am looking forward to this feature too.
In addition, is it possible to have a tile level height setting rather than grid-list level only?

[2016-12-16 05:04] leocaseiro commented on #114
@nak411, try with css.

Something like:

[code]

[2016-12-16 06:29] DevVersion commented on #2203
@brachi-wernick I'm having trouble understanding your issue here.

It's that the `slide-toggle` is not updating the state when you update the binding in the `(change)` hook?

When I did exactly the same with the `<input>` it didn't work either
- http://plnkr.co/edit/eq2Ad8bGm5C3zDYpyhKx?p=preview

[2016-12-16 07:19] DzmitryShylovich commented on #1967
@nayfin yes, but it's not clear when it will be merged

[2016-12-16 09:02] negberts commented on #2232
Forgot to save the plunker :)

[2016-12-16 13:28] paistipoikka opened #2250 "md-select option not selecting with objects."
#### Bug, feature request, or proposal:

Feature request/ bug.

#### What is the expected behavior?

Needs a "selected" attribute so the developer can specify the "selected" rule/logic.

#### What is the current behavior?

Option not being selected although the underlying model is populated.

#### What are the steps to reproduce?

Unable to select options using objects where some properties of the

[2016-12-16 15:10] hegde5 commented on #118
@ManishJainGitHubUser Thanks a lot for the syntax!

[2016-12-16 16:02] QuentinFchx commented on #2153
I also had the same issue with `md-tooltip` and Hammer.js being required for its usage.

[2016-12-16 17:23] alobban commented on #675
Version 2 would be nice to be able to use date/time picker from a Dialog window. As there is currently not a clear way of doing it currently. I don't care if it hides the origin dialog window, from as long as it restores the origin window and state.

[2016-12-16 18:18] NateMay opened #2254 "Proposed feature: md-ticker"
I've created a ticker directive [PLUNKR](https://embed.plnkr.co/4mBHkIVTetC0kh34JOyT/)

I'd love improve this and bring this to the Material2 community, but I'm not sure what requirements there are. How can I get started?

[2016-12-16 18:49] andrewseguin commented on #2153
@QuentinFchx is right, the `longpress` event depends on hammerJS. This is to match the spec of material design where longpress will trigger the tooltip for mobile and then hide the tooltip after some delay.

The docs should be updated to reflect that tooltip now requires hammerJS.

[2016-12-16 18:53] andrewseguin commented on #2254
Unfortunately the material design spec does not account for a ticker so we would be unlikely to add it into our official collection of components. However, feel free to release this as a separate package in your own repo that others can use to install and import into their apps.

[2016-12-16 18:53] #2254 closed

[2016-12-16 18:59] daBishMan commented on #117
is there going to have the ability to add new items that are not part of the suggestions ?  or you can only select what is in the "Suggestions".  I would prefer if we have the ability to do both?

[2016-12-16 19:20] andrewseguin commented on #2247
Your main module uses forRoot which will give your app all the service provider dependencies for material, but that will not provide the components to every module in your app.

Your `PersonInputModule` includes HTML that uses two components: `md-input` and `md-button`. To use these in this module, you must import them. You correctly imported `MdInputModule` but did not import `MdButtonModule`. Th

[2016-12-16 19:20] #2247 closed

[2016-12-16 20:30] mmalerba commented on #815
this should be fixed with the new `md-input-container` since you can put the `ngModel` on the native `input` element.

[2016-12-16 20:30] #815 closed

[2016-12-16 20:34] #1624 closed

[2016-12-16 20:34] #2042 closed

[2016-12-16 20:34] #2109 closed

[2016-12-16 22:11] alexw10 commented on #2194
Any thoughts on this anyone?

[2016-12-16 23:56] guibot17 commented on #1461
@jelbourn It seems that I'm having the same issue, although I'm using the pre-built theme from the Material Design color palettes: $primary: md-palette($md-cyan); $accent: md-palette($md-amber); $warn: md-palette($md-red); just like in the example. But I'm getting the error. Any help would be greatly appreciated.

[2016-12-17 00:26] guibot17 commented on #1461
Hey guys, based on the Backtrace of my error report, I looked at the
`nodemodules/@angular/material/core/ripple/_ripple.scss ligne 65`
and found out this:
`$accent: map-get($theme, accent);`
which means the function `map-get` requires a second parameter which is an accent color from the material design palette. In other word, to define the $accent palette, we need to define both the primary $md-co

[2016-12-17 01:10] michaeljota commented on #1624
Thanks! 👍

[2016-12-17 14:24] ush189 opened #2263 "md-input-container is not working"
Hi,

I just npm installed material. In my package.json this version is stated: "@angular/material": "^2.0.0-alpha.11-3"

When I try using the `md-input-container` as it is described here (https://github.com/angular/material2/blob/master/src/lib/input/README.md), I get this error message:

[code]

However, when I use the deprecated `md-input` it works.

So what's wrong? Do I need to use another ver

[2016-12-17 14:59] Uniqen commented on #2263
The 2.0.0-alpha.11-3 release does not include md-input-container. The docs has been updated for upcoming release. Use md-input/md-textarea until next release.

[2016-12-17 18:29] ush189 commented on #2263
Ok, thanks for the quick answer.

[2016-12-17 18:29] #2263 closed

[2016-12-17 18:36] uncol commented on #118
Hi,

I create a form for editing. The form contains several 'md-select' which uses the data from the server.
after the main request, I bind (two-way) values with fields in my form, if the data for the option to 'md-select' don't loaded, it field is empty on the screen.

Please, tell me how to correct fill my form.

[2016-12-17 19:33] sunshineo commented on #1316
Is this really out??

[2016-12-18 00:31] uncol commented on #118
Is it correct run all slave requests into ngOnInit, main request start execute into ngAfterViewInit lifecycle?

[2016-12-18 10:26] agroupp opened #2265 "md-input-container doesn't work in child modules"
#### Bug:
md-input-container

Gives following error "'md-input-container' is not a known element" when implemented in child component.

MaterialModule is imported in child module with no .forRoot()

Toolbar, buttons, TabGroup and RadioGroup works fine.

#### Which versions of Angular, Material, OS, browsers are affected?
Angular 2.2.3, Material 2.0.0-alpha.11-3

[2016-12-18 10:37] crisbeto commented on #2265
The `md-input-container` wasn't in `alpha.11-3`, but it should be in the next release. The readme currently reflects the components in `master`.

[2016-12-18 10:37] #2265 closed

[2016-12-18 11:13] crisbeto commented on #2232
@negberts I could reproduce it in your Plunkr, but not by running `master` locally. It might be worth to update to the latest version of Material or to wait for the next release.

[2016-12-18 11:14] #2228 closed

[2016-12-18 11:15] crisbeto commented on #2225
Can you post your HTML @ManishJainGitHubUser? Otherwise there's not way to find out what's wrong.

[2016-12-18 14:24] crisbeto commented on #2151
The issue seems to be resolved in the newer Angular versions (I've confirmed with `2.3.1` of Angular and `3.3.1` of the router, as well as in `4.0.0-beta`. @chpasha can you give it a try?

While it doesn't go into an infinite loop anymore, Angular stills throws an error. I'll try to check if there's a way to work around it.

[2016-12-18 14:42] chpasha commented on #2151
I'm stuck with angular 2.2.4 and angular cli beta 21 for now. the last time I tried angular 2.3+ there were some issues with angular-cli being not compatible with it, and the newest version of angular cli (besides being not compatible with angular 2.3) had also some breaking changes so that ng serve didn't work for me at all. It's not easy to be an early adopter :-D . I will have to count on that

[2016-12-18 15:03] Igonato opened #2267 "Bug: md-input-container is missing on npm ('md-input-container' is not a known element...)"
#### Bug:
`md-input-container` seems to be missing when installing the library with npm.
Tried versions 2.0.0-alpha.11-3 (latest on npm) and 2.0.0-alpha.11-2 (to match HEAD on master)

#### What is the expected behavior?
[code]

#### What is the current behavior?
[code]

node v6.9.1, npm  v3.10.9

[2016-12-18 15:08] crisbeto commented on #2267
`md-input-container` hasn't been released yet, but it should be in the next version. The readme of the `input` component reflects the current state in `master`.

[2016-12-18 15:08] #2267 closed

[2016-12-18 15:11] Igonato commented on #2267
Thanks. Good to know.

[2016-12-18 17:36] goldenbearkin opened #2269 "Bug: Select doesn't have initial value when change detection set to onPush"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
should show the initial value set by form builder.

e.g.
[code]

#### What is the current behavior?
when change detection set to onPush, Select shows empty value.

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://plnk

[2016-12-18 17:55] kevmo314 opened #2270 "Getting started guide does not work"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

The steps in the getting started guide work correctly.

#### What is the current behavior?

They do not. After reproduction steps below I get the following result: http://i.imgur.com/iuosDKT.png

The radio button does not select properly and no animations/ripples appear. Similar behavior with other directives.

####

[2016-12-18 18:26] byrotron opened #2271 "md-input-container is missing"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

Install via npm the material version 2.0.0-alpha.11-3 and insert input component

#### What is the current behavior?

Error is thrown "md-input-container is not an angular component"

#### What are the steps to reproduce?

install app via angular-cli
install Material via npm
import material
copy/paste  code form bel

[2016-12-18 19:04] crisbeto commented on #2271
`md-input-container` isn't in alpha.11-3, but it should be in the next version.

[2016-12-18 19:04] #2271 closed

[2016-12-18 19:11] elvirdolic commented on #2269
Have the same issue also with ngModel and template driven form

[2016-12-18 19:59] chpasha opened #2272 "md-select overlay not dismissed inside dialog"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
if you open md-select inside md-dialog component and click somewhere outside of md-select overlay (but inside of dialog itself), the md-select overlay should be closed and onClose event should be fired

#### What is the current behavior?
now if you click inside dialog outside of md-select overlay, overlay is not close

[2016-12-18 21:06] kevmo314 commented on #2270
Turns out it was because I forgot to add

[code]

to `styles.css`. It would be nice if this were more prominent in the guide. I see the "Include the core and theme styles" step, however it would be nice if this code snippet were there too.

[2016-12-18 21:06] #2270 closed

[2016-12-18 21:14] crisbeto commented on #2272
Your Plunkr breaks because it's missing some CSS (e.g. the overlay isn't `position: absolute`), however there definitely is an issue with the backdrop not being over the dialog.

[2016-12-18 22:10] eslammahgoub commented on #2198
see `md-input-container` not supported yet [#2267](https://github.com/angular/material2/issues/2267)

[2016-12-18 22:17] mLaird commented on #2270
@kevmo314 Thanks for the clue.  Yes, documentation could be much better.  They should also mention that indigo-pink is the only theme that works, at the moment.  I tried others listed in the prebuilt folder and they all broke the page - in varying ways.  Path is important.  In my case, the CSS file expression that worked is:

    @import '/node_modules/@angular/material/core/theming/prebuilt/indig

[2016-12-19 00:38] mLaird commented on #2091
@mmalerba "now available" is an overstatement, as it is not in the current alpha.11-3.  We await a release of @angular/material that contains it.

[2016-12-19 01:09] ThangLeQuoc opened #2273 "md-menu is not working (cause by: unknown mdMenuTriggerFor)"
I attempt to create a md-menu base on the Angular 2 Material document, code as follow

[code]

The template fail to parse, error log on the console indicate that:

Could you show me how to fix this ? Thank you

[2016-12-19 03:46] byrotron commented on #2271
Thanks for the clarity. However, i still see an issue. When you install the package via npm, it does not reflect what is in the documentation. The other issue I find a little confusing, is that when I view the package.json it shows the version as alpha.11-2 which then includes the md-input-container.

[2016-12-19 04:11] HopScotch47 commented on #2273
The api for this has changed very recently. If you use the 11-3 version use md-menu-trigger-for instead

[2016-12-19 04:30] ThangLeQuoc commented on #2273
@HopScotch47 That's precisely cool and clean. Thank you very much. Now It work like a charm

[2016-12-19 04:31] #2273 closed

[2016-12-19 05:20] thunderrun opened #2274 "button-toggle and radio conflict with each other"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

When `<md-button-toggle>` is toggled, `<md-radio-button>` should keep the selection and vice versa.

#### What is the current behavior?

When `<md-button-toggle>` is toggled, `<md-radio-button>` get deselected and vice versa.

#### What are the steps to reproduce?

http://plnkr.co/edit/966VCLoOZIfs5nTsb169?p=preview

[2016-12-19 06:21] crisbeto commented on #2271
That should be better once we have a docs site up and running. Currently the readme reflects whatever is in `master`.

[2016-12-19 07:09] wouterbeukers opened #2275 "Support template content for selected value in md-select"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
Selected option of a md-select supports html-tags

#### What is the current behavior?
Selected option of a md-select doesn't supports html-tags

#### What are the steps to reproduce?
See http://plnkr.co/edit/QJUCobw9yFcu1l1WtpOR?p=preview
Open the md-select.
In the dropdown the option supports html tags
Select the opt

[2016-12-19 08:58] fxck commented on #2272
Yes, there needs to be a proper stacking manager.

https://github.com/angular/material2/pull/1584#issuecomment-256601624

[2016-12-19 10:56] skined90 opened #2277 "Not able to compile custom theme"
I'm not able to set the custom material theme like in Theming your Angular Material app guide.

When I add the scss code like in the sample:

[code]

When I run node-sass, I'm getting the error:

  "status": 1,
  "file": "/home/skined/workspace/project/src/scss/style.scss",
  "line": 5,
  "column": 1,
  "message": "File to import not found or unreadable: ~@angular/material/core/theming/all-theme\n

[2016-12-19 11:01] kotsengkuba commented on #2198
Hi. It seems that the issue is still present even when the native `input`  is used.
https://plnkr.co/edit/0mZ4dl4ywGWUWulQog3r?p=preview

[2016-12-19 11:13] crisbeto commented on #2277
AFAIK the `~` prefix on the import is the notation used for importing in Webpack. If you're not using Webpack, you have to import the file directly.

[2016-12-19 11:18] skined90 commented on #2277
@crisbeto I'm using a webpack.

[2016-12-19 11:23] crisbeto commented on #2277
Weird. You can try importing `@import '~@angular/material/core/theming/_all-theme';`. Technically it shouldn't make a difference, but it's worth a shot.

[2016-12-19 11:23] skined90 commented on #2277
@crisbeto Did it also, but doesn't work.

[2016-12-19 11:43] paumayr opened #2278 "Semantic Versioning of pre-release tags"
#### Proposal:
Switch to dot separator for pre-release version numbers. (e.g. alpha.11.2 instead of alpha.11-2)

#### What is the expected behavior?
Expected behavior would be that "@angular/material": "^2.0.0-alpha.11-2" does not install alpha.9-3, but alpha.11-2 (at the time of this writing).
According to http://semver.org/ §11:
"Precedence for two pre-release versions with the same major, minor

[2016-12-19 12:38] AsherBarak opened #2279 "It is not possible to set the Height of the first <md-toolbar-row>"
#### Bug, feature request, or proposal:
Bug

First <md-toolbar-row> is created automatically so there is no way to apply styles to it. Height is set to 64px in CSS.
I want to have the height of the toolbar fit it's content and cannot seem to find a way.

Maybe create first <md-toolbar-row> only if no row elements are explicitly created? This also seems to create a more unified UX.

[2016-12-19 12:47] fxck commented on #2277
try without `~`, you could also try to set up `--include-path`

[2016-12-19 13:13] skined90 commented on #2277
@fxck I already tried. It doesn't work. It works for other libraries but with material does not.

[2016-12-19 14:17] narkissbv commented on #118
Couldn't find a reference, so I'm asking here. Any chance to control the height of the `<md-select>` element? My boss doesn't like to have a scroll unless it's needed (e.g: the list is higher than the viewport).

enclosed a screenshot of our `<md-select>` element with an inner-scroll we would like to get rid of. There are 3 more items in the list, and the viewport has a lot of room for all of them

[2016-12-19 14:53] DevVersion commented on #2279
Yeah, this is a good point. We already have an issue for that one. See #1718

[2016-12-19 14:53] #2279 closed

[2016-12-19 15:10] DevVersion commented on #1125
Just tested the `selectChange` and `focusChange` output and everything seemed to work as expected.

[2016-12-19 15:10] #1125 closed

[2016-12-19 16:30] MrCroft commented on #1316
@sunshineo I've just checked, it works just fine now, with "2.0.0-alpha.11-3".
It must have made it with the first alpha.11 release

[2016-12-19 16:32] mischkl opened #2281 "Importing Material in non-root module causes build error"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
It is possible to import Material as a dependency of a module other than root.

#### What is the current behavior?
If Material is imported anywhere other than the application root, in an angular-cli project, the build fails with the following message (or similar depending on the used components).

[code]

Removing the

[2016-12-19 16:48] axtlotic opened #2282 "'md-sidenav-container' is not a known element:"
#### Bug, feature request, or proposal:
'md-sidenav-container' is not a known element:

#### What is the expected behavior?
View a side nav, using md-sidenav-container

#### What is the current behavior?
error: 'md-sidenav-container' is not a known element:

#### What are the steps to reproduce?
replace md-sidenav-layout with md-sidenav-container

Providing a Plunker (or similar) is the *best* way

[2016-12-19 17:03] geniusbabak commented on #675
@alobban
You can add this attribute to your show dialogs:
				skipHide : true
And they won't close on opening new ones!

[2016-12-19 18:10] mmalerba commented on #2198
@eslammahgoub yes apologies, I meant available in head and will be released in the next version

[2016-12-19 18:10] mmalerba commented on #2091
@mLaird yes sorry I should have phrased that more clearly. it is currently only available in head and will be included in the next release

[2016-12-19 18:15] jlno commented on #675
@Frly Your project `material2` of branch `my` not build:

tools/gulp/tasks/release.ts (52,10): Type 'Promise<{}>' is not assignable to type 'Promise<void>'.
  Type '{}' is not assignable to type 'void'. (2322)
    at getOutput (/Users/juliano/Workspace/material2Frly/node_modules/ts-node/src/ts-node.ts:210:13)
    at Object.loader (/Users/juliano/Workspace/material2Frly/node_modules/ts-node/src/ts-

[2016-12-19 18:16] #2066 closed

[2016-12-19 18:17] #1531 closed

[2016-12-19 18:34] starksds commented on #2263
How are we supposed to use this library if the documentation can't be trusted?

[2016-12-19 19:03] starksds commented on #2151
@crisbeto @jelbourn I just upgraded to 2.3.1 and the infinite loop isn't happening anymore... but my tabs are still broken, ie, not showing any content.

[2016-12-19 19:09] CraigAOliver commented on #2263
When viewing the documentation select the tag of the version you are interested in (the dropdown in top left corner of the code tabs contents)

Also when updating from an older version review the change log for breaking changes and new/changed features.
https://github.com/angular/material2/blob/master/CHANGELOG.md

Also please remember these are Alpha releases

[2016-12-19 19:11] crisbeto commented on #2151
Does it throw an error @starksds?

[2016-12-19 19:13] jlno commented on #675
I did a pull of changes and settings the project `material2`, but after open `http://localhost:4200` the console says:

[2016-12-19 19:13] starksds commented on #2151
@crisbeto yeah, let me rebuild and get you a screenshot

[2016-12-19 19:22] starksds commented on #2151
@crisbeto Here are two errors that I wasn't getting in alpha 9-3...

When the page loads
![material1](https://cloud.githubusercontent.com/assets/4741087/21325873/f244eb28-c5ed-11e6-8ce2-61b83f5f66b1.PNG)

When I open the dialog and click a tab
![material2](https://cloud.githubusercontent.com/assets/4741087/21325886/fd745524-c5ed-11e6-9925-d5a962463631.PNG)

Here is the tab markup:
[code]

[2016-12-19 19:30] jlno opened #2284 "md-date-picker"
The commit `https://github.com/angular/material2/pull/1903/commits/de39d24ca8e7008c7331919272e7d63e98aded75` not work on project `material2` after setup in app module, console says:

[2016-12-19 19:32] DevVersion commented on #1864
@dreweird I'm going to close that issue, because we think that the developers can set their custom height on their own and having a `md-tall` class might just collide with the responsive heights functionality.

[2016-12-19 19:32] #1864 closed

[2016-12-19 19:37] crisbeto commented on #2151
Alright, that's the error I'm getting as well. It's a little tricky to solve since the framework is trying to animate something that isn't in the DOM yet.

[2016-12-19 19:43] starksds commented on #2151
@crisbeto Is this error coming from angular or material?  Do you have a workaround or way to trap the error?