[2022-01-19 13:11] khepf commented on #24229
13.1.1
I thought I would try out the experimental `mat-select` version but I am getting quite a few errors.

First of all, `npm install @material/line-ripple` needs to be installed, per the first build error. Then it build successfully. But when I start it, I am getting:
`Error: Module not found: Error: Can't resolve '@material/textfield' `
`Error: Module not found: Error: Can't resolve '@material

[2022-01-19 13:18] crisbeto commented on #24229
You can install this instead which brings in all of the MDC code. https://www.npmjs.com/package/material-components-web

Also note that you'll have to include the theme for the MDC select. There's more info here: https://github.com/angular/components/blob/master/src/material-experimental/mdc-select/README.md

[2022-01-19 13:30] khepf commented on #24229
cb() never called!

npm ERR! This is an error with npm itself. Please report this error at:
npm ERR!     <https://npm.community>

[2022-01-19 13:49] crisbeto commented on #24227
The tilde before imports has been deprecated in the CSS Webpack loader for a long time. We removed it automatically in v13, because it would've conflicted with the new Angular package format as well. You can try this as well https://github.com/angular/components/issues/23961#issuecomment-981098409

[2022-01-19 14:20] HarelM commented on #24227
Thanks @crisbeto ! I'll try it although I don't have high expectations...
I'm mainly concerned about the following file which I'm not sure how to migrate so that it will be valid in angular 13:
[code]
Can be found here:
https://github.com/IsraelHikingMap/Site/blob/main/IsraelHiking.Web/src/scss/common.scss

[2022-01-19 14:38] crisbeto commented on #24227
The only required change in that file should be remove the tilde from the `@angular/material` import. I noticed that some of the other files import from Material so they'll have to be updated as well.

[2022-01-19 15:03] HarelM commented on #24227
Yes. This is what the upgrade does, it removes the tilde from all the relevant files.

[2022-01-19 16:22] mrmokwa commented on #24220
Try adding this to your css

[code]

[2022-01-19 17:18] infacto commented on #3334
Just a use case about mat-autocomplete: The users enters text and selects an object of found items (over http). After that, another input element has been changned by the user which causes, that the http request responses other data (or empty). This causes that the mat-autocomplete input value does not exist anymore in the available options. The options are set via http Observable (async).

Long s

[2022-01-20 08:47] Bschitter commented on #8881
+1

[2022-01-20 15:33] MikaStark commented on #6244
I agree that providing a way to easily customizing foreground and background colors would be a blast.
Until now, I use my own theme mixin that override the existing one (in order to stay compatible with Material). But I would prefer Material provide the way to do it properly by passing just foreground and background variables (just like the other colors)
Anyway, if someone is interesting in my cod

[2022-01-20 15:42] Irina-Intuiface opened #24244 "Dir 'rtl' not working in vertical orientation"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I'm using `cdk-virtual-scroll-viewport` and I'm changing dynamically by binding its `dir` property from `ltr` to `rtl`, to obtain a bottom to top scoller. I can see the change in the html, but visually it has no ef

[2022-01-20 15:43] Reixko commented on #13372
Thank you everyone for great effort when implementing these solutions, I was also in need to use D&D functionality in an Angular app, so I decided to use @luixaviles's solution, so thank you very much for this!

However, there is one big issue with all of these solutions and I don't know why it(angular cdk D&D) is so stupidly implemented under the hood, but if you try to move an item between two p

[2022-01-20 16:30] lucifer63 commented on #13372
For curious googlers: if you tired of angular cdk dnd bugs and limitations you can safely switch to ngx-sortablejs. It doesnt have this and many others flaws and is production ready. Been searching for a solution for many months, switched to ngx-sortablejs and everything works like a charm

[2022-01-20 18:55] Splaktar commented on #24230
Related to https://github.com/angular/components/issues/23483.

[2022-01-20 18:56] Splaktar commented on #23483
This may be related to [this newly opened issue](https://github.com/angular/components/issues/24230).

[2022-01-20 20:04] mgechev commented on #4597
We're coordinating the effort with the MDC team at the moment. Looks like we'll be unable to release this work as part of v14. Currently we're looking at v15+ or later.

[2022-01-20 22:59] SheldonHage opened #24246 "@angular/google-maps - Documentation or Bug: map.fitBounds"
### Documentation Feedback

I've been unable to reach success using the Angular Google Maps documentation to implement map.fitBounds.   I can successfully set multiple map markers using the module as well as success using a pure javascript approach.

Perhaps my implementation is incorrect (which I will suspect first).  However there is no sample to reference.  Obviously this is an important aspect

[2022-01-21 00:50] michaelfaith commented on #23457
@jelbourn  I was thinking a bit more about this today, and went to check out how the React material library is doing it, since they seem to have this implemented.  And surprisingly they're doing it with css, and I thought it was actually a pretty creative solution.  Perhaps something that might work with the way Angular Material theming operators.  What they're doing is sort of exploiting the `bac

[2022-01-21 07:27] crisbeto commented on #24244
What does your template look like?

[2022-01-21 10:42] gultyaev opened #24248 "docs-bug(cdk/layout): LayoutModule is not needed"
### Documentation Feedback

In the docs it's mentioned that we need to import LayoutModule in order to use BreakpointObserver and MediaMatcher.
In the meantime from the source code it looks like the module is not needed for any purposes.
![image](https://user-images.githubusercontent.com/22374911/150513070-a7c88a8e-e97d-481d-a4c6-e7d16492b7f2.png)
![image](https://user-images.githubusercontent.com

[2022-01-21 11:56] ramprakashram commented on #12908
@mmalerba If this issue is still open, I can take it up ?

[2022-01-21 12:49] jose-torres-chang opened #24250 "help(Core): After 13.1.3 release css modules build fails because of missing hues."
### What are you trying to do?

On our project we are using custom theming, we are defining custom palettes, but we don't need each of the hues, so we only defined the ones we need, with this change [#23612](https://github.com/angular/components/commit/65bc9feedcb223a62d92b2b799392cbb9238a6b7), our CI/CD process start failing, after some research we found out the above described was the cause, but

[2022-01-21 13:25] crisbeto commented on #24250
This means that you had invalid styles in your theme. The error is only going to be thrown if something requested a color that doesn't exist. Previously in such cases the function would've returned `null` and Sass would've skipped the style altogether which is a silent error.

[2022-01-21 13:37] JSHSJ commented on #24250
Can confirm, ran into the same issue. So we now have to define the whole palette?

We were only defining a few of the palette hues before, but this doesn't seem to be possible anymore.

[2022-01-21 13:38] diogodomanski opened #24251 "bug(MATDIALOG): MatDialogConfig.id not working"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I'm trying to set custom IDs for MatDialogRef, but it is not working. Any custom ID is being overriden by default strategy (mat-dialog-<sequence>)

### Reproduction

[code]

### Expected Behavior

```DialogRef.id``

[2022-01-21 13:46] jose-torres-chang commented on #24250
@crisbeto would you advise on a solution like using a fallback palette for not used hues?

[2022-01-21 14:29] pkirchniawy commented on #12908
Hej @ramprakashram I'm currently working on it :)

[2022-01-21 15:18] ramprakashram commented on #20459
Can i take up this issue ?

[2022-01-21 15:28] FelixPelletierF opened #24252 "Allow other components than mat-radio-button in radio-button-group"
### Feature Description

We're currently having some issues regarding radio-button-groups where the only thing you can put inside of it are radio-buttons. That removes a lot of potential from us.
It would be amazing to be able to add other elements inside of a radio-button-group

### Use Case

What we're looking to do is let's say a "Language" radio-button-group where the languages possible are En

[2022-01-21 16:13] Reixko commented on #13372
@lucifer63 thank you for suggestion, this library looks really good and pretty much ticks all the boxes for me, unfortunately there is a big BUT, this library is not supported/maintained for more than a year and it has a peerDependencies specified for angular, and the latest angular it supports is 11. Of course, there are PRs for support of Angular vrsions 12 and 13, but those are not merged, so w

[2022-01-21 16:22] crisbeto commented on #24248
I think that this is a leftover from before `providedIn: 'root'` existed.

[2022-01-21 16:23] crisbeto commented on #24250
Yes, in general your palette should be complete, otherwise some styles might not look right. If you don't want to define the full palette, you can always extend one of the built-in ones with your color overrides.

[2022-01-21 16:30] #24252 closed

[2022-01-21 16:30] FelixPelletierF commented on #24252
Just realized that it is indeed possible, simply a limitation that our team has created.

[2022-01-21 16:49] adwaer opened #24253 "help (MatTextColumn): How to create custom column components like this one"
### What are you trying to do?

I wanna create reusable columns for my tables

### What troubleshooting steps have you tried?

I made copy of the MatTextColumn (with different name) https://github.com/angular/components/blob/master/src/material/table/text-column.ts
and it didn't work

_import { ChangeDetectionStrategy, Component, ViewEncapsulation } from '@angular/core';
import { MatTextColumn } f

[2022-01-21 17:33] diogodomanski commented on #24251
I've debug MatDialog::open() method and realized that this issue is being caused by the following intructions:

[code]

As I am trying to open a new dialog from another one (inside ngOnInit method) it seems that the MatDialog::open() method is returning the reference for the first opening dialog in both calls.

I put the second call inside a setTimeout() to apply a delay of 1000ms, and the returns

[2022-01-21 17:44] reethupriya opened #24254 "DatePicker component"
### What are you trying to do?

I only want to use the datepicker styles, how is that possible without including everything else in the stack

### What troubleshooting steps have you tried?

I have tried including in datepicker styles component without importing styles globally but only few styles are rendering.

### Reproduction

Steps to reproduce:
1.
2.

### Environment

- Angular:
- CDK/Materi

[2022-01-21 18:27] Splaktar commented on #23983
There is a PR open against bazel-watcher to add m1 mac support: https://github.com/bazelbuild/bazel-watcher/pull/496. It could use some reviews.

[2022-01-21 18:42] devversion commented on #23983
Also wanted to mention that I will be using M1 only for the next couple of weeks/and potentially months (as I had to move without my Windows machine). So I'm sure we'll be able to get to this very soon. Still want to mention though that I think the majority of workflows should work. The key really is currently using Bazel globally, and avoiding ibazel (or using a custom build)

[2022-01-21 20:07] shb98 commented on #24139
if using force-colors, you don't really need to distinguish white-on-black and black-on-white? Just follow and use the forced color should be good? As my case only need to support browser that support force-colors media query, adding these override works for my case.

[code]

[2022-01-22 05:28] crisbeto commented on #24251
Sounds like a duplicate of https://github.com/angular/components/issues/24037 which has a pending fix.

[2022-01-22 05:28] #24251 closed

[2022-01-22 23:34] syn6UK opened #24257 "bug(COMPONENT): Google maps issue"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

Re-centering map from current location doesn't work

### Description

Created a button that the user hits to center the map on their current location.

The component code is as follows:

`import { Component, OnInit } from '@angular/core';
import

[2022-01-22 23:40] syn6UK commented on #24257
Change detection strategy was wrong, please disreagrd this issue.

Resolved by setting change detection to   changeDetection: ChangeDetectionStrategy.OnPush

And adding  this.ref.markForCheck(); to my findmylocation function.

[2022-01-22 23:40] #24257 closed

[2022-01-23 08:32] pkirchniawy commented on #23983
I was able to build ibazel locally based on the pr branch, but when running ´yarn dev-app´ it is still using ibazel from the npm package installed. Even after setting ibazel into the PATH and running the ibazel  it shows me `zsh: command not found: ibazel`.

echo $PATH gives me this paths:
/Users/user/Code/m1-bazel-watcher/bazel-bin/ibazel/
/Users/user/Code/m1-bazel-watcher/bazel-bin/ibazel/darwin

[2022-01-23 08:48] devversion commented on #23983
@pkirchniawy you could run ibazel directly. e.g. `ibazel run //src/dev-app:devserver`

[2022-01-23 10:24] Twazny opened #24259 "bug(Overlay): FlexibleConnectedPositionStrategy withViewportMargin not working"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When using overlay with `FlexibleConnectedPositionStrategy` and `withViewportMargin()`, overlay ignores provided margin value and still opens in first preffered position, when it should move to second one. Overlay

[2022-01-23 11:34] pkirchniawy commented on #23983
Thanks! I've already tried that. But ibazel is not a valid command. After compiling it locally, I struggle with setting the PATH right. (https://github.com/bazelbuild/bazel-watcher#compiling-yourself). So when I type ibazel run, it tells me command not found: ibazel.

[2022-01-23 12:16] devversion commented on #23983
interesting, that indicates that `ibazel` is not part of the `PATH` properly. I don't know to what you have set the `PATH`, but usually it should include a path pointing to the directory containing the `ibazel` executable binary.

[2022-01-23 21:15] rudolphh commented on #20369
Can't figure this out either.  When the parent component is constructed, I see the three progress bars in one child component jump from 100 to 0, but another child component (w/ progress bar) does not.  I'm failing to see what I'm doing differently.

[2022-01-23 21:28] rudolphh commented on #20369
Not sure what made me test position in the parent template, but when the child component that jumps is above the one that doesn't, they both don't jump!  smh

[2022-01-24 02:21] jfan0888 opened #24261 "help(mat-radio-button): I can't use `color` attribute in the <mat-radio-button>"
### What are you trying to do?

[code]

I want to create a custom material theme and use `info` theme palette like below.
`<mat-radio-button value="4" color="info">Option 4</mat-radio-button>`

### What troubleshooting steps have you tried?

For the other components like button, toggle, checkbox, I can use color="info" palette.

`<mat-radio-button value="4" color="info">Option 4</mat-radio-button>

[2022-01-24 07:41] gultyaev commented on #24248
Perhaps it's worth using "providedIn: LayoutModule" so the services could be included in lazy loaded modules only instead of the app module?

[2022-01-24 07:43] Plondrein commented on #23193
It would be very cool to have this on production :)

[2022-01-24 08:01] crisbeto commented on #24185
Duplicate of https://github.com/angular/components/issues/22250.

[2022-01-24 08:01] #24185 closed

[2022-01-24 08:02] crisbeto commented on #24187
Should be resolved by https://github.com/angular/components/pull/24171. cc @zarend

[2022-01-24 08:02] #24187 closed

[2022-01-24 08:48] geromegrignon commented on #24261
While not explicitly indicated in Material Design specs, I don't think such behavior is accepted from the specs as all color references are about the app theme and there is no indication about lone color theming.

This library being an implementation of these specs, a built-in solution can't be added for your use case.

[2022-01-24 10:35] Totati commented on #24261
Duplicate of #11888

[2022-01-24 11:15] #24261 closed

[2022-01-24 11:16] crisbeto commented on #24220
Closing since the comment from @fireflysemantics provided the correct answer.

[2022-01-24 11:16] #24220 closed

[2022-01-24 11:22] crisbeto commented on #24190
It looks like a potential bundling issue. cc @devversion

[2022-01-24 11:22] #24180 closed

[2022-01-24 11:24] crisbeto commented on #24254
You can use the datepicker component on its own, but it still needs some structural styles. At minimum, you need the Material core styles and the datepicker theme.

[2022-01-24 11:24] #24254 closed

[2022-01-24 11:25] crisbeto commented on #24199
I couldn't reproduce it on a couple of different machines. This looks like the browser is struggling to keep up with the rendering.

[2022-01-24 11:26] devversion commented on #24190
It looks like the e2e spec files are executed in CommonJS mode (this was fine in Angular v12), but as of v13, all shipped Angular packages are strict ESM (hence the error in the issue)

@Heines1983 is this in an Angular CLI project or do you have a custom setup? some details here would be appreciated

[2022-01-24 11:32] crisbeto commented on #24246
Our component is just a wrapper around the Google Maps API so you can refer to their docs for a more detailed description. https://developers.google.com/maps/documentation/javascript/reference/map#Map.fitBounds

[2022-01-24 11:33] crisbeto commented on #24250
Closing since it's working as expected. We've never intentionally supported incomplete palettes.

[2022-01-24 11:33] #24250 closed

[2022-01-24 11:46] crisbeto commented on #24253
You can check out how ours is set up try to mirror it, although it's not something we generally recommend since it might break if we change the internals. See https://github.com/angular/components/blob/master/src/material/table/text-column.ts

[2022-01-24 11:46] #24253 closed

[2022-01-24 12:05] SheldonHage commented on #24246
Perhaps I was not clear enough:  The Angular-specific way of doing it...is not described at all and Google's materials on the topic are great; this does absolutely zero with respect to implementing your wrapper-specific method of getting map.fitBounds to work.   I believe your wrapper does not work in this specific example; I believe you forgot to wrap this one.

Try it yourself and see.   There i

[2022-01-24 12:46] crisbeto commented on #24246
It's difficult to say what is going on without looking at the code, but for reference, our `fitBounds` method literally just calls into the Google Maps version of `fitBounds` https://github.com/angular/components/blob/master/src/google-maps/google-map/google-map.ts#L334. This means that it's likely an issue with the value that is being passed into the method.

[2022-01-24 14:28] HarelM commented on #24227
Any update on this? Is there more information needed in order to reproduce the issue?

[2022-01-24 15:53] jfan0888 commented on #24261
@geromegrignon  Thanks for your reply.

`<button mat-button color="info">Info</button>`
Then you can see **mat-info** class for the button element.

n the API doc, I can see `defaultColor` property for button, checkbox, slider etc, but not for radio button
https://material.angular.io/components/button/api
[code]

[2022-01-24 16:01] jfan0888 commented on #24261
@crisbeto , @jelbourn

Actually, I can create other color palettes like `info` or `success` and it works properly with button, checkbox, etc.
This issue only appears with the `radio` button.

[2022-01-24 16:10] seb-mtl commented on #24199
I did some more digging and found that the issue is related to #20971 and can be fixed with the following workaround, see https://github.com/angular/components/issues/20971#issuecomment-722210932

[code]

[2022-01-24 16:17] jfan0888 commented on #24261
@crisbeto  Can you please reconsider this issue? I think it is a different issue though :)

[2022-01-24 16:40] adwaer commented on #24253
@crisbeto it's not working, I made copy of that text-column, but it's not working

[2022-01-24 17:30] #24028 closed

[2022-01-25 04:14] sireeshap commented on #24185
@crisbeto  Did you read my comments well. I clearly mentioned that, even the bug which you mention #22250 also not solved & closed abruptly with out having proper solution. Again now you closed current bug based on that with out providing proper solution. Is this right way of  solving bug or mechanism introduced to escape a bug? Please reopen the bug & address if this library really mean for devel

[2022-01-25 08:15] Irina-Intuiface commented on #24244
Hi, my template is something like this:

[code]

And the visual result is a vertical scroller with a `ltr` orientation, even though I can see the `dir` binding working and the value being `rtl`.

Thank you for looking into this.

[2022-01-25 09:30] crisbeto commented on #24248
These services were always intended to be global so that the cached state can be reused as much as possible.

[2022-01-25 10:15] gultyaev commented on #24248
I get that. However if you use `providedIn: Module` the service isn't re-created. The instance will be shared and it won't appear in the initial bundle if was used in lazy loaded modules only

[2022-01-25 11:01] sp90 opened #24268 "bug(COMPONENT): build breaks if following hues 100, 500 and 700 is not present in color palettes"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

v12.x.x

### Description

So when i have a color palette that only have the hue ex 500 it breaks due to `material/core/theming/_theming.scss 55:14` it seems that its now in v13 required to have 100, 500 and 700 for the palettes not to break.

I t

[2022-01-25 11:49] crisbeto commented on #24268
See the discussion in https://github.com/angular/components/issues/24250.

[2022-01-25 13:48] Synthx commented on #24151
Do you guys found a solution ?
I literally going crazy trying to fix this bug
Don't answer to set height: 100vh to my body or html tags, it doesn't work

[2022-01-25 14:30] crisbeto commented on #24248
The same is true for `providedIn: 'root'` which the services are using.

[2022-01-25 15:13] gultyaev commented on #24248
Not quite. If I use it in lazy loaded module only it will increase my initial bundle size.

[2022-01-25 16:04] gultyaev commented on #24248
However, webpack is capable of making a chunk shared across other lazy loaded chunks.

[2022-01-25 16:24] Irina-Intuiface opened #24269 "Virtual scroll collectionViewer.viewChange does not emit when direction is 'rtl'"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I'm using a `cdk-virtual-scroll-viewport` with `dir='rtl'`, connected to a _CdkDataSrouce_. When scrolling, the `viewChange` event is not emmited, and though I can't load more items as I go. The same code works if

[2022-01-25 17:40] #23476 closed

[2022-01-25 17:45] VashJuan opened #24271 "bug(MapMarker): MapMarker wraps positions, NOT Markers"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

According to https://github.com/angular/components/tree/master/src/google-maps/map-marker:

_"The MapMarker component wraps the google.maps.Marker class from the Google Maps JavaScript API. The MapMarker component

[2022-01-25 18:05] amysorto commented on #19009
I didn't see this issue when working on stepper a11y. Since stepper icons should not be read aloud based on this PR: https://github.com/angular/components/pull/24025 this issue should be fixed. I also wasn't able to locally reproduce this issue.

[2022-01-25 18:05] #19009 closed

[2022-01-26 01:32] amysorto commented on #23033
Announcing the step error in the component itself doesn't quite work since the stepper doesn't know the content is. With forms this can get a little tricky since the error might be related to a specific form field but the user won't be notified until they navigate to another step which can be jarring. Only developers have the context of the stepper content, so it should be handled by them instead.

[2022-01-26 01:32] #23033 closed

[2022-01-26 08:37] terryjiang2020 commented on #24151
For now, I have modified the dialog open function to dynamically adjust the dialog size when resize event is fired. Whenever resize is fired and the window's inner-width is less than a certain value, I just assume it is a mobile device and resize the dialog with the new inner-width and inner-height of the window myself. A dirty fix I would say.

[2022-01-26 09:45] Synthx commented on #24151
Hi, after some research and many tries, this is the code that work :
[code]

the trick is to move the `position: fixed` to body tag and not html

[2022-01-26 11:32] crisbeto commented on #24261
The fact that it works with `info` or `success` is a coincidence, rather than something we explicitly support. We can't support arbitrary colors, because all of our component themes would have to account for them.

[2022-01-26 11:40] crisbeto commented on #24185
1. The information in the issue report isn't enough to be able to debug this.
2. While the docs state that this is primarily for non-Chrome browsers, it doesn't mean that it'll throw an error everywhere else. We have tests running across all browsers showing that it's not the case.
3. This code is run any time an Angular Material module is imported. Given the amount of users we have both externall

[2022-01-26 12:23] terryjiang2020 commented on #24151
Why do you need to manually add 'cdk-global-scrollblock' though?

BTW this is my current solution:

[code]

`innerSize$` gets updated whenever `window.resize` event is triggered.

[2022-01-26 13:23] Synthx commented on #24151
Cause your solution just hide the block behind a fullscreen dialog,  it doesn't solve the issue

[2022-01-26 13:50] jfan0888 commented on #24261
@crisbeto , @andrewseguin

`@use 'sass:map';
@use "sass:meta";
@use "@angular/material" as mat;

@mixin color($config-or-theme, $variants) {

  .mat-checkbox-indeterminate, .mat-checkbox-checked {
    @each $variant, $variant-palette in $variants {
      &.mat-#{$variant} .mat-checkbox-background {
        background-color: mat.get-color-from-palette($variant-palette);
      }
    }
  }

  .mat-ch

[2022-01-26 14:15] crisbeto commented on #24261
These palettes aren't in the Material Design specification which we need to adhere to though. Also there's nothing stopping you from defining your own `color` directive that accepts any color:

[code]

[2022-01-26 14:47] Spinnenzunge opened #24277 "bug(VirtualScroll): Horizontal scrolling inside cdk-virtual-scroll-viewport"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Content inside the cdk-virtual-scroll-viewport does use more than 100% width and does not break anymore and instead adds horizontal scrolling.

This is especially a problem when using following css rules:

[code]

[2022-01-26 15:34] sebastianrath opened #24278 "bug(tooltip): Tooltips are sometimes empty"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I am using [MatToolTip](https://material.angular.io/components/tooltip/api) and I encounter them often being empty like this:

<img width="153" alt="Screen Shot 2022-01-26 at 10 29 17 AM" src="https://user-images.g

[2022-01-26 17:09] #19759 closed

[2022-01-26 17:37] emclaug2 opened #24280 "feat(Button): `mat-inline` styles to match Material button w/ icon specs"
### Feature Description

It would be nice to add some styles to a `mat-icon` within a `mat-button` so that it more closely matches the design specs found in [Material Design](https://material.io/components/buttons#specs).  This could potentially take the form of a new attribute, `mat-inline`, placed on a `mat-button`.

This is an image of what I'm imagining a regular `mat-button` compared against

[2022-01-26 19:07] huayunh commented on #24280
To build on the idea, maybe something like this would work too:
[code]

[2022-01-26 19:14] mostafabita opened #24284 "Taking mat-label from mat-form-field causes accessibility issue"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I wanted to have control label above mat-form-field rather than a floating label inside mat-form-field.
According to https://github.com/angular/components/issues/17913 I wrote this and works fine
[code]
but arises

[2022-01-26 21:16] rhilliges opened #24287 "feat(MatFormField): Add new css class when field has been touched"
### Feature Description

I would like to have a css class on the mat-form-field component (e.g. mat-form-field-touched) when the inner ng-control was touched. Adding it as a conditional class in the host section of the MatFormField might do the trick:

[code]

### Use Case

My designer wants to give a form field a different background color, whenever the user has touched it.

[2022-01-26 21:27] rhilliges opened #24289 "feat(MatSelect): Optional header component in the overlay panel"
### Feature Description

Add the option to add a custom component as a header in the overlay panel (kind of like in the date-picker).

### Use Case

When a select field has a lot of items, it would be nice to show the user a search input field on top of the list in order to filter the items.

[2022-01-26 22:19] shinkhouse opened #24290 "help(mat-table): Why does matColumnDef not need the asterisk notation?"
### What are you trying to do?

I was currious was *matCellDef, *matHeaderCellDef, and *matRowDef are all using structural/asterisk notation but the matColumnDef is not? Is it because the former are using some template container and matColumnDef basically just gets/sets the class name? Could you give an explanation with an example?

### What troubleshooting steps have you tried?

N/A

### Reproduc

[2022-01-26 22:40] lekhmanrus commented on #24287
Isn't that currently possible? `ng-touched` applies to <mat-form-field> component as soon as control is touched.

[2022-01-26 22:55] lekhmanrus commented on #24289
You can currently add a custom `MatSelect` header.
[code]

[code]

[2022-01-27 07:37] rhilliges commented on #24287
Yes that works. Just forgot to bind a form controll to the select input...

[2022-01-27 07:37] #24287 closed

[2022-01-27 08:53] rhilliges commented on #24289
Thanks for the quick response. Just needed to add ``position: sticky`` to make the header stick to the top.

[2022-01-27 08:53] #24289 closed

[2022-01-27 09:46] rodcisal commented on #13906
any solution to this issue? I'd love to be able to copy elements from one list to another, I have a very long source list that when gets mutated (element removed from it) it causes performance problems

[2022-01-27 10:48] crisbeto commented on #24284
Closing, because we don't support this use case.

[2022-01-27 10:48] #24284 closed

[2022-01-27 13:15] #19480 closed

[2022-01-27 14:28] ElecTreeFrying opened #24293 "bug(package.json): postinstall apply-patches.js patch.exe doesn't end"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

postinstall apply-patches.js patch.exe doesn't end

### Reproduction

Steps to reproduce:
1. clone repo
2. yarn install

### Expected Behavior

successful postinstall

### Actual Behavior

postinstall `node tools/p

[2022-01-27 14:46] #24293 closed

[2022-01-27 15:34] DVelbeck commented on #14833
Hello there,

I came across a similar issue and used the useful advices from this thread (thanks very much for sharing btw !!!).

However, this doesn't work if your table is handled with an *ngIf directive. The sticky headers workaround gets broke if the table is removed from the dom, the @ViewChild  assignments "gets lost".

My workaround was to use a setter instead of a variable, in my component

[2022-01-27 16:58] infacto commented on #15809
With upcoming CSS feature `:has(selector)`
- https://developer.mozilla.org/en-US/docs/Web/CSS/:has
- https://drafts.csswg.org/selectors/#relational

we could use

[code]

(Not tested, maybe wrong use.) This is not yet supported. So we have to push this feature. ...

---

I don't like the read-only text info solution as described in https://material.io/components/text-fields#input-types ("Read-only

[2022-01-27 17:50] abhijitchikane opened #24297 "Give compareWith object mapping for SelectionModel same that of Select"
### Feature Description

It's hard to map the object's other properties in the select something in the list using SelectionModel
Please give a option to map the object's unique key to the selection like we have it for Mat Select using compareWith

### Use Case

_No response_

[2022-01-28 03:26] tmjeee commented on #11523
Seeing this in Angular 13 as well.

[2022-01-28 08:18] crisbeto commented on #24244
I've trying to reproduce the issue, but I wasn't able to. Here's what I have https://stackblitz.com/edit/angular-bjqpri.

[2022-01-28 08:29] Irina-Intuiface commented on #24244
For me, this is proof it's not working, because the `dir` property shouldn't be an horizontal alignment only, it should start loading items from the end of the scrollviewer.

Say you have your 100000 items. If you were in horizontal orientation, and your property was `rtl`, the first item (to the left) of your scrollviewer is #99999 and the last (to the right) is #1.
Similarly in vertical orientat

[2022-01-28 08:39] liesahead commented on #15997
So, `labelClass` stated in the docs does not work?

[2022-01-28 08:41] liesahead commented on #15997
So, the `labelClass` input does not work?

![image](https://user-images.githubusercontent.com/32300784/151514745-e7baffd5-5688-4cb8-a5f4-3995668e19ba.png)

[2022-01-28 08:45] crisbeto commented on #24244
That's not how RTL works though. It's supposed to change the UI orientation, not the data, otherwise it can lead to some weird issues. For example, if you were showing something chronological (emails, chat messages), flipping the order would give RTL users a completely different experience.

[2022-01-28 10:01] snowflake752 opened #24301 "bug(COMPONENT): MapHeatmapLayer"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

https://github.com/angular/components/blob/master/src/google-maps/map-heatmap-layer/README.md
The example for MapHeatmapLayer attached here is not working.
P.S. added visualization library in the API_key.

### Repr

[2022-01-28 12:23] Irina-Intuiface commented on #24244
I understand, although the only reason I assumed it worked this way was because this is the result of my code in horizontal orientation.

Do you have any advice on how to achieve a Bottom to Top listing, as described in my previous comment?

[2022-01-28 12:32] crisbeto commented on #24244
The easiest would be to reverse the order in your data source.

[2022-01-28 13:58] devversion commented on #24190
Hey, thanks again for this issue. I brought this up with the team.

Given that our Protractor harness environment is deprecated, together with `protractor` itself being deprecated, and the fact that very few people are impacted, we decided to not work on getting the harness environment working for CommonJS & Protractor as this would require conceptual changes in the Angular Package Format v13+.

O

[2022-01-28 13:58] #24190 closed

[2022-01-28 15:43] hiepxanh opened #24305 "bug(COMPONENT): mat-dialog html render but constructor not runing until click on the screen (weird bug)"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description
I create dialog display after google login fail. Then
![image](https://user-images.githubusercontent.com/16970990/151575765-b6354fb5-53e6-4a24-91e9-23070a4c5dc5.png)
my dialog load without trigger ngOnInit
![image](

[2022-01-28 15:47] hiepxanh commented on #24305
I guesss because I'm just open from other screen then it lose focus?

[2022-01-28 15:58] hiepxanh commented on #24305
currently my workaround is faking a click on the target element
 ` (document.querySelector('app-confirm') as any)?.click();`

[2022-01-28 17:31] shb98 commented on #23580
@jelbourn , quick question - what does the label `Fixed in MDC` mean? It's great to see the Pull Request for the fix. But it stales there since last Sep. Not quite following on the release plan. :)

[2022-01-28 17:42] #23913 closed

[2022-01-28 18:01] #20459 closed

[2022-01-28 20:06] wagnermaciel commented on #24305
Please provide a reproduction in stackblitz so we can investigate

https://stackblitz.com/run?file=src/app/dialog-content-example.ts

[2022-01-28 20:08] wagnermaciel commented on #24301
@crisbeto Could you take a look

[2022-01-28 20:11] wagnermaciel commented on #24297
Could you give a code example of what you are trying to do?

[2022-01-28 20:12] andrewseguin commented on #24290
Sort of - it's a necessity to provide templates to the table but also give a way for the table to grab references. It's not the clearest API but its as simple as Angular will let us make it

[2022-01-28 20:12] #24290 closed

[2022-01-28 20:12] ajafff commented on #24305
The code that opens the dialog does not run inside the NgZone, therefore no change detection happens

[2022-01-28 20:15] wagnermaciel commented on #24280
This will be fixed in the new MDC Button (located in the material-experimental folder). Here is an example: https://material2-dev.firebaseapp.com/mdc-button

[2022-01-28 20:17] wagnermaciel commented on #24278
Could you provide a reproduction in stackblitz? My best guess would be that you forgot to include the tooltip theme styles.

[2022-01-28 20:20] wagnermaciel commented on #24271
@crisbeto Could you take a look

[2022-01-28 20:20] wagnermaciel commented on #24277
@mmalerba Could you take a look

[2022-01-28 20:21] wagnermaciel commented on #24269
@mmalerba Could you take a look

[2022-01-28 20:21] abhijitchikane commented on #24297
I am trying to map the whole mat table row(not just id) within the selection model

Issue i am facing if i map it with only id based on that then again i have to filter the array and get other properties to send it to the backend
And sometimes it does not show the proper selection as i have mapping with the whole object

Solution
Provide the same functionality that we have for mat select with comp

[2022-01-28 20:24] wagnermaciel commented on #24268
This is working as intended

We use those values internally, so the failures are legitimate. Not passing in these values creates weird breakages which are hard to debug. I agree, this validation probably should have been added in maybe a minor version instead of patch

[2022-01-28 20:24] #24268 closed

[2022-01-28 20:27] andrewseguin commented on #24227
It sounds like you just need to remove the tilde to fix the build issue. Was there something blocking that?

[2022-01-28 20:42] HarelM commented on #24227
After removing the tilde I'm getting this error... :-(

[2022-01-28 21:03] HarelM commented on #24227
Here are the steps again, I already upgraded to angular 13 but not to material 13 due to this issue:
1. Clone https://github.com/IsraelHikingMap/Site
2. cd IsraelHiking.Web
3. `npm install`
4. `npx ng update @angular/material@13 @angular/cdk@13 @angular/flex-layout`
5. `npm run build:watch`

I get the following frightening messages:
[code]

[2022-01-28 22:04] jelbourn commented on #23580
@shb98 there's a new version of the radio button, currently in `@angular/material-experimental` based on MDC web that doesn't have this issue. We plan to promote this version to our stable `@angular/material` package sometime in 2022.

[2022-01-29 01:51] seb-mtl commented on #24278
I tried to reproduce this, without any success yet. The tooltip themes are included, and they work if I literally set it to `*ngIf="true"` but I understand if the given information is not enough. I will keep reducing my project as far as I can.

[2022-01-29 06:05] hiepxanh commented on #24305
thank you, I will try to reproduce, maybe it run outside ngZone

[2022-01-29 10:36] sp90 commented on #24268
Then definately better error message.

None the less i think that requiring certain colors should also be documentated in the documentation about themes maybe?

[2022-01-29 13:55] sueszli commented on #24090
Thank you!

[2022-01-29 13:55] #24090 closed

[2022-01-29 19:51] flavianh opened #24312 "bug(Typography): Custom typography in a theme affects components but not mat-typography in Angular 13"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I am testing [Kid's theme for the documentation](https://material.angular.io/guide/typography#typography-configs-and-theming).
The documentation claims in the next section "Using typography styles in your applicati

[2022-01-30 07:20] jayddaniels opened #24313 "bug(COMPONENT): mat-grid-list does not show mat-grid-tile inside component"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

"mat-grid-list" list only shows "mat-grid-tile" if it is directly inisde it. It does not show it, if it is put into a child components html file.
This is inconsistent to how for example the "mat-nav-list" and "mat-

[2022-01-30 12:13] Polyterative opened #24315 "bug(MAT_DIALOG): Dialog backdrop not working as expected on Chrome 97 vs Firefox"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Opening official dialogs in docs shows no backdrop.
This happens on my prod too.
Latest Firefox works as should instead.

### Reproduction

Steps to reproduce:
1. Open any dialog with chrome 97 on https://material.

[2022-01-30 18:51] lujakob opened #24317 "bug(MatDialog): js error on open in combination with ngx-translate TranslateService"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Providing the TranslateService of ngx-translate/core in a component that is being opened with MatDialog.open causes a console javascript error. Even though the ngx-translate module and MatMaterialModule are being i

[2022-01-31 03:12] RobertAKARobin opened #24319 "feat(mat-form-field): Option to allow MatHint to persist alongside MatError"
### Feature Description

On every Angular Material project I've worked on, our accessibility team has flagged that the `mat-hint` disappears when `mat-error` appears. To be accessible, it is required that the `mat-hint` continues to persist somehow. Currently, the `mat-hint` element is fully removed from the DOM: https://github.com/angular/components/blob/master/src/material/form-field/form-field.

[2022-01-31 08:42] crisbeto commented on #24315
It shows a backdrop as expected for me on the same version of Chrome on both Windows and Mac. Maybe something else is messing with it (e.g. a browser extension)?

[2022-01-31 13:38] SelectiveHouse commented on #4609
Also jumping on here to say to be annoying this bug is still present

[2022-01-31 13:44] Polyterative commented on #24315
OK, this is an absolutely crazy story, but apparentl it was totally caused by an extension.
I did try it in Incognito before submitting the issue, but there is only one extension I keep on Incognito mode, which is uBlock Origin.

There is a certain block list that disables the backdrop via CSS apparently.
Disabling it fixed the issue.

Leaving this for posterity. Thanks @crisbeto and sorry for the

[2022-01-31 13:44] #24315 closed

[2022-01-31 16:09] RobertAKARobin opened #24323 "help(COMPONENT): TITLE"
### What are you trying to do?

Run `yarn test form-field`

### What troubleshooting steps have you tried?

Running `yarn test form-field` fails with this error:

I have ensured:
- all packages are installed via `yarn install`
- `nvm` is using specified version of Node
- I am in the root directory of `angular/components`

### Reproduction

Steps to reproduce:
1. `git checkout master` (currently `2

[2022-01-31 16:09] #24323 closed

[2022-01-31 16:22] RobertAKARobin opened #24324 "bug(material/form-field): `yarn test form-field` fails with fatal error"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Running `yarn test form-field` fails with this error:

I have ensured:
- no local changes
- all packages are installed via `yarn install`
- `nvm` is using specified version of Node
- I am in the root directory of `

[2022-01-31 16:37] #24324 closed

[2022-01-31 17:52] tylerjharden opened #24327 "bug(CDK): cdk-describedby-message-container visible below application footer"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

The div with ID `cdk-describedby-message-container`, despite being tagged with visibility: hidden, will show as an empty white block the size of the tooltip labels it contains.

The only hack that appears to fix th

[2022-01-31 17:53] crisbeto commented on #24327
It sounds like you haven't included the `core` mixin which hides the element completely.

[2022-01-31 18:05] tylerjharden commented on #24327
@crisbeto Are you able to refer me to an example implementation or documentation so that I can test that?

[2022-01-31 18:09] crisbeto commented on #24327
https://material.angular.io/guide/theming#the-core-mixin

[2022-01-31 19:53] #23499 closed

[2022-02-01 04:15] zarend opened #24330 "bug(material/datepicker): Voiceover Loses Focus when pressing Page Down key"
When navigating the calendar with VoiceOver enabled, pressing Page Down causes the screenreader focus to move to the entire calendar, instead of stay on an individual date.

#### Reproduction

Steps to reproduce:
1. With Screenreader enabled, Open the [datepicker expands in a browser](https://material.angular.io/components/datepicker/examples) and navigate to the Basic Datepicker Demo.
2. Click on

[2022-02-01 12:06] flumpt commented on #19681
@scote @BenLune Did you find a workaround? I'm also interested in no cookie mode.

[2022-02-01 13:32] tylerjharden commented on #24327
That resolved the issue, thank you.

[2022-02-01 13:32] #24327 closed

[2022-02-01 14:02] ArvindWip opened #24332 "bug(material/datepicker) : Watching the views for changes on selected years and months examle provided"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When using the angular material datepicker example given in the below link. The issue faced are reported below.
https://material.angular.io/components/datepicker/overview#watching-the-views-for-changes-on-selected-

[2022-02-01 17:28] ArvindWip commented on #24332
[Angular datepicker emulating only Year and Month website example bug.docx](https://github.com/angular/components/files/7980638/Angular.datepicker.emulating.only.Year.and.Month.website.example.bug.docx)

Uploaded screenshot document for reference

[2022-02-01 18:07] thw0rted commented on #6398
@jelbourn you tagged this "feature", which I think might be why the bot is now subjecting it to the voting threshold, but it's not actually a feature request. I think secondary actions are already supported, at least in some cases, they're just not documented correctly.

[2022-02-01 18:14] wagnermaciel commented on #3562
@jelbourn Are we leaving this open until MDC becomes the default? Ng bot just kicked off a community vote for this feature

[2022-02-01 18:19] NCC1701M commented on #2584
Wow, only 5 years after the issue was created 👍🏻

[2022-02-01 18:21] wratho commented on #15751
This is how we accomplish it
`<mat-icon [svgIcon]="item.useSVG ? item.icon : ''">
  <ng-container *ngIf="!item.useSVG">{{item.icon}}</ng-container>
</mat-icon>`

it's not much better, i would love for the `svgIcon` input to gracefully fail and fallback to the provided ligature and if both fail just display nothing. Maybe a console warning if you must do something, but I'm not sure it's needed. sur

[2022-02-01 18:23] mightypenguin commented on #13817
An example of how ugly it is to do this currently:
https://stackoverflow.com/a/61906867/2904268

[2022-02-01 18:23] gtranter commented on #10156
Only took 4 years for this - impressive.

[2022-02-01 18:25] gtranter commented on #8958
Only took 4 years - very slow robot.

[2022-02-01 18:38] bbarry opened #24334 "feat(DomPortalOutlet): Alternative constructor (ComponentFactoryResolver is deprecated)"
### Feature Description

@angular/angular deprecated `ComponentFactoryResolver` in 13.2.0:

https://github.com/angular/angular/blob/master/CHANGELOG.md#1320-2022-01-26

When using a lint rule such as deprecation/deprecation users of `DomPortalOutlet` now get a warning due to the constructor requiring a `ComponentFactoryResolver`

### Use Case

https://github.com/angular/components/blob/aea5d136068

[2022-02-01 18:44] mfairchild365 commented on #13635
This doesn't appear to be a feature request. Requiring voting on accessibility defects from the community is not appropriate and is discriminatory. Since that comment was made by a bot, I don't know if it was intentional. Either way, please reconsider your approach. CC @jelbourn @crisbeto

That being said, it appears that this specific bug may already be resolved.

[2022-02-01 18:55] #13635 closed

[2022-02-01 21:11] zarend commented on #24330
@Splaktar I'm stumped on this one. I'm curious if you've come across anything similar to this? This seems vaguely familiar to problems we've had with setting focus and screenreader announcements when opening dialogs?

My current theory, is that VoiceOver gets confused when the focused element is removed from the DOM, which causes it to focus on the entire table.

[2022-02-01 21:55] aardrian commented on #4942
The [_Basic tooltip_](https://material.angular.io/components/tooltip/overview#:~:text=longpresses%20an%20element.-,Basic%20tooltip,-link) in the docs as I see them today definitely has WCAG bugs:
1. It fails WCAG 2.1 SC [1.4.13 Content on Hover or Focus](https://www.w3.org/WAI/WCAG21/quickref/?showtechniques=145%2C244%2C249%2C1412#content-on-hover-or-focus), specifically:

2. The specific example

[2022-02-01 22:01] emclaug2 commented on #24280
Thanks @wagnermaciel I wasn't familiar with MDC components before this; do you know if is this something that would eventually be integrated into the comp lib directly?

[2022-02-01 22:01] nienow commented on #22428
Also seeing this in my project, with the same call: `autocompleteHarness.getOptions()`. I am on Angular 13.2.

[2022-02-01 22:20] yogeshgadge commented on #11455
If it is dense then wondering if there is any height. Or just why not provide a way to set height on mat-select imo

[2022-02-01 22:20] yogeshgadge commented on #11455
If it is dense then wondering if there is any height. Or just why not provide a way to set height on mat-select imo

[2022-02-01 22:26] wagnermaciel commented on #24280
Yep, the MDC components will eventually become the new defaults

[2022-02-02 04:35] hjopel commented on #8417
Update 2022: Tried both @alexpearce92 and @AshotAleqs workaround, however only @alexpearce92 's worked for me.

[2022-02-02 06:32] zarend commented on #24079
I cannot reproduce this anymore. #24171 might have fixed this.

[2022-02-02 06:47] zarend commented on #23479
I tried again, and I still can't reproduce this. I couldn't find where a numeric month would be coming from each cell on the calendar has an aria label with the full date (e.g. aria-label="February 1, 2022")

MacOS 12.2 (21D49), Chrome Version 97.0.4692.99 (Official Build) (x86_64), VoiceOver

[2022-02-02 07:59] jeripeierSBB opened #24336 "bug(cdk): Updating project from v12 to v13 installs v14 dependencies"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

Before version 14.0.0-next.0 was published

### Description

When updating a project from version 12 to version 13 with `@angular/cdk` installed, version 14 in various dependencies are getting installed. This only happens if executing the update

[2022-02-02 09:08] Jordan-Hall commented on #14516
@mmalerba is this a feature or more of a bug.  I know its not something that currently works with a11y but it feels more like an oversight. Just wondering if it really needs voting on

[2022-02-02 09:33] Erbenos commented on #18989
There seems to have been a PR opened for this, but it wasn't merged for some reason #7507.

[2022-02-02 09:53] DaSchTour opened #24337 "feat(mat-calendar): Allow to hide header"
### Feature Description

The mat-calender component shpuld have a hide header option or should allow null for headerComponent to allow removing the header.

### Use Case

Display component only for a certain month. Navigation through months is done outside the calendar component.

[2022-02-02 15:42] gianlucaUlivo opened #24340 "bug(MAT-SELECT): value of select is not updated"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

if ther are 2 mat-select binded with formControl on the same field, and i change the value of one select, the displayed value is not updated in other select, but the mat-hint yes

### Reproduction

Steps to reprodu

[2022-02-02 19:01] zarend commented on #24330
After talking to @crisbeto , looks like the aria-live region is interfering with announcing the calendar body. I'll keep looking into this...

[2022-02-03 06:39] aikrez commented on #24037
Any ETA? This is the only thing that is blocking our upgrade.

[2022-02-03 06:41] ntziolis opened #24345 "feat(paginator): Add option to allow reset pageIndex to 0 on pageSize changes"
### Feature Description

Add config option that allows to control the value of pageIndex on pageSize changes. For example with a directive input  like `[resetPageIndexOnPageSizeChange]="false | true"`

### Use Case

While the current implementation (ensure first element is still shown when page size changes) makes perfect sense from a logical and technical point of view it is a constant point of m

[2022-02-03 07:48] Splaktar commented on #24037
@aikrez there is nothing blocking the PR from being merged. It's been fully reviewed and approved. I can't give an ETA though.

[2022-02-03 11:05] amitport commented on #11929
@crisbeto @josephperrott any progress on this? just going to close this after 4 years?

[2022-02-03 13:48] rb-mwindh opened #24347 "feat(material/radio): provide `mat-radio-container-no-side-margin` class as it's done for mat-checkbox"
### Feature Description

When setting up radio buttons without label, the label container still adds a padding, making the radio-button wider than neccessary.

A css class `mat-radio-container-no-side-margin` could easily be added in the same way as done for [`mat-checkbox`](https://github.com/angular/components/blob/02d6e7d77ae77feae7d52c929b0dff74f6624c1a/src/material/checkbox/checkbox.html#L3),

[2022-02-03 14:23] PlisMikhail opened #24348 "bug(material): material input autocomplete chrome"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When material input with form control is filled with autocompletion and then control disabled - text color css is not applied and text is stays black, not changes to grey as it should be. If control is reseted with

[2022-02-03 16:53] DelyanNinov opened #24349 "MatPolygon changing options with next() not working"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I am using @angular/google-maps and all of material components in fact, but I am experiencing this strange behavior with a GoogleMap MatPolygon. I am successfully adding polygons on the maps and I am able to add po

[2022-02-03 18:19] stevebor1 commented on #4597
Coming from Quasar Framework (vuejs), which has full Material support with dense and sparse options,  to Angular / Material, I am astonished that this is not supported out of the box :/

[2022-02-03 19:05] wratho opened #24352 "feat(mat-progress-spinner): Allow Default Color settings"
### Feature Description

Mat Progress Bar already supports `{ provide: MAT_PROGRESS_BAR_DEFAULT_OPTIONS, useValue: { color: 'accent' } },`
can we get the same for spinner? for example:
`{ provide: MAT_PROGRESS_SPINNER_DEFAULT_OPTIONS, useValue: { color: 'accent' } },`

### Use Case

Our design wants all progress indicators to be Accent by default. At the moment we are able to default the bar, but

[2022-02-03 19:16] Splaktar commented on #24037
@aikrez okay, I do have an update. There have been some undesirable side effects of this change in the presubmit tests. They are being investigated and potential solutions and workarounds are being evaluated.

[2022-02-03 19:20] Splaktar commented on #24330
It sounds like you are on the right track. I don't think that I recall any problems (or solutions) to something similar.

[2022-02-03 20:25] devversion commented on #24128
Just brought this up in the team meeting. We will be looking into switching to actual module imports, instead of using relative cross-package imports. We also will need a lint rule that enforces this consistently.

[2022-02-04 00:09] mmalerba commented on #14516
I'd consider it a little bit of both. I think designing and implementing APIs that allow people to create accessible virtual scroll experiences (especially when it comes to interactive content) is quite a tricky problem, so this is going to need a lot of thought and a design document. For that reason I've marked it as a feature

[2022-02-04 00:24] mmalerba commented on #13862
@spike-rabbit Yes, I'm happy to look at a PR along the lines of what we discussed above.

[2022-02-04 00:39] palmtreefrb commented on #7891
@DanielHabenicht thanks, this works for me with mat-checkbox.

[2022-02-04 00:41] #23477 closed

[2022-02-04 08:21] Harpush commented on #13862
Will it allow to have two virtual scroll viewports under the same container and the scroll will be in the container? Thus allowing them both to render only what's shown relative to the shared parent container.

[2022-02-04 15:53] spike-rabbit commented on #13862
@mmalerba Great, thanks for the info. I plan to provide one around March.

@Harpush Based on my current knowledge: yes. But I need to dive further into this to provide a reliable answer

[2022-02-04 17:26] mindit-ovidiumiu commented on #20369
seems to be fixed in angular-13: [demo](https://stackblitz.com/edit/angular-ivy-x28jnz?file=src/app/app.component.ts)

[2022-02-04 22:53] Harpush opened #24362 "bug(VirtualScroll): Virtual scroll inside initially hidden container doesn't work well"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When a virtual scroll container is rendered inside display none element - when shown the scrolling doesn't work well and some items are not rendered.

### Reproduction

Steps to reproduce:
1. Toggle the hidden stat

[2022-02-06 12:36] devversion commented on #24336
I don't think our CDK package does anything surprising here. At first glance it seems like the CLI concludes `v14.0.0-next` as proper version to satisfy our peer dependency requirement which is: `^13.0.0 || ^14.0.0-0`.

https://github.com/angular/components/blob/3523adf71eca4c29b8c8cff1bf90c6f1d15d88ca/packages.bzl#L4

[2022-02-06 16:08] lincolnthree commented on #13862
Thanks for all of you effort on this! Really looking forward to seeing this.

This feature is critical for a "native-like" feel in mobile apps with momentum scrolling. When scrolling locks up and you need to scroll again with a new gesture to continue past the virtual scroll viewport, or capture the gesture in the viewport instead of going past, it really interrupts the user experience.

I will be

[2022-02-07 11:25] willehpeh commented on #16671
Thank you so much for this patch, you're an absolute legend!

[2022-02-07 13:13] YuriiKovalenko opened #24369 "docs-bug(tabs): non-existing input property preserveContent for mat-tab-group as for version 13.2.1"
### Documentation Feedback

<img width="1429" alt="image" src="https://user-images.githubusercontent.com/33899537/152793829-0c1a6a03-a880-462a-90c7-1eb18ed31233.png">

Documentation introduced preserveContent feature for mat-tab-group component, but `tab-group.d.ts` doesn't have it despite of package version of `@angular/material` package is exact 13.2.1.

P.S. I saw this feature had been recently

[2022-02-07 13:13] lacamilla commented on #4609
Using Angular 13. If I don't set the height of the dialog component then the dialog's action buttons are nicely positioned at the bottom of the dialog. However, when internal dialog's content changes size (say, tabs and each tab is different height) then the whole dialog window is resizing depending on the content. This is quite frustrating UX, so I'd have fixed the height of the dialog. With this

[2022-02-07 13:51] steffenhees opened #24370 "bug(Theming Angular Material): Custom typography not applied to standard typography levels in mat.core-theme() or all-component-themes()"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Tried to change the font-family so that e.g. body-1 everywhere has font family Arial.
But it only changed the font-family in mat components, not outside in normal divs.

[code]

Similar problem was reported here, b

[2022-02-07 14:35] YuriiKovalenko commented on #24369
Also [StackBlitz sandbox](https://stackblitz.com/run?file=src%2Fapp%2Ftab-group-preserve-content-example.html) failed to compile.
And example on the doc page doesn't preserve content in that example.

[2022-02-07 14:41] SavvasVaibhavPatil opened #24371 "bug(VirtualScroll): Scroll height is too small for fixed size items."
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Please refer this forked stackblitz [https://stackblitz.com/edit/github-2kzcsd-roevxf?file=src/app/app.component.ts](https://stackblitz.com/edit/github-2kzcsd-roevxf?file=src/app/app.component.ts)

As you can see i

[2022-02-07 17:59] KevinKelchen opened #24373 "bug(VirtualScroll): Safari 15.4 breaks virtual scroll; unable to scroll the list"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Safari 15.4 is the next version of Safari and is currently in beta. You can use it on macOS by installing Safari Technology Preview 15.4. You can use it on iOS by installing iOS 15.4 Beta.

CDK virtual scroll lists

[2022-02-07 20:00] wshaver commented on #7891
Thanks @DanielHabenicht that saved me a bunch of time!

If you're using an older version of Angular that doesn't implement `hasValidator` you can do this instead for the `required()` getter in `WorkaroundMatFormAccessorDirective`

[code]

[2022-02-07 20:14] #23483 closed

[2022-02-07 20:14] #23577 closed

[2022-02-07 20:49] BenLune commented on #16010
Hi,
Just spent a few hours to check how to return a string into my form rather than a full object (Luxon DateTime in my case). Even with a custom Adapter it seems to not be possible... So I have two possibilities, working at FormControl level by adding a second form control (plugged into my form), listening to datePicker change, then applying the string version of the date picker value. Or listeni

[2022-02-07 20:59] CharlieGreenman commented on #16010
Hey @BenLune feel free to join the github.com/razroo discord and we can chat about it https://discord.gg/KrujUmMC

[2022-02-07 21:03] CharlieGreenman commented on #16010
@BenLune what we did back then(i believe) is create layer over the mat-datpicker. Every time the value changes, take the date and return a string instead

[2022-02-08 06:13] Vaibhav2812 opened #24375 "bug(VirtualScroll): Scroll height is too small for fixed size items. #24371"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Please refer this forked stackblitz [https://stackblitz.com/edit/github-2kzcsd-roevxf?file=src/app/app.component.ts](https://stackblitz.com/edit/github-2kzcsd-roevxf?file=src/app/app.component.ts)

As you can see i

[2022-02-08 06:16] #24371 closed

[2022-02-08 08:56] crisbeto commented on #24369
The feature is available in v14, but I think that it showed up in the docs because we're pointing the docs site to `master` on https://github.com/angular/material2-docs-content. cc @devversion

[2022-02-08 09:33] crisbeto commented on #24369
No, in general we don't backport features to previous versions. The switch from 13 to 14 should be pretty straightforward though.

[2022-02-08 11:29] adamicov2 commented on #14375
I am getting into the same problem. Any updates on this?

[2022-02-08 13:10] Vaibhav2812 commented on #24375
working solution:
update contentSize onLoad and onScroll

`
             const renderedSize = viewPort.measureRenderedContentSize();
                viewPort.setTotalContentSize(renderedSize);
`

[2022-02-08 13:32] crisbeto commented on #24337
For what it's worth, you should be able to provide a blank custom header.

[2022-02-08 13:36] crisbeto commented on #24319
We're following the behavior specified in the [Material Design specification](https://material.io/components/text-fields#anatomy):

I suspect that it was done this way, because it'll be cramped if there's both an error and hint text.

[2022-02-08 13:36] #24319 closed

[2022-02-08 13:50] crisbeto commented on #24271
The `map-marker` is a representation of a single marker in your markup, it doesn't represent the actual DOM node that is added on the map itself since that is handled by the Google Maps API. You're likely only seeing one marker, because you keep inserting it at the same position. Here's an example that works for me showing two markers somewhere in Libya:

[code]

[code]

[2022-02-08 13:50] #24271 closed

[2022-02-08 13:58] crisbeto commented on #24313
This is more of a side-effect of how Angular queries and content projection works, rather than an issue with the grid list setup. The `ContentChildren` inside the grid list is only going to pick up tiles that are defined directly within the template, it isn't going to traverse down the component tree. Closing the issue since we can't do much about it.

[2022-02-08 13:58] #24313 closed

[2022-02-08 14:01] #24349 closed

[2022-02-08 14:14] crisbeto commented on #24340
This has come up in the past, but I'm having trouble digging up the issue. The problem is that the `ReactiveFormsModule` doesn't propagate the changes back to the `ControlValueAccessor` so `mat-select` doesn't know that the value has changed. Here's an example that doesn't with a plain `input` either: https://stackblitz.com/edit/angular-uk6pdr-9h44oa?file=src%2Fapp%2Fselect-hint-error-example.html

[2022-02-08 14:14] #24340 closed

[2022-02-08 14:18] RobertAKARobin commented on #24319
@crisbeto Understood, but would it be possible to simply hide the hint text with CSS instead of removing it from the DOM altogether? That way it would still adhere to the Material spec, but our users with screen readers would be able to still access the hint text.

[2022-02-08 14:20] crisbeto commented on #24345
You should already be able to do something like this:

[code]

[code]

In general we try to avoid having multiple ways of doing the same thing. Does the above not work for your case?

[2022-02-08 14:23] crisbeto commented on #24319
Wouldn't that be confusing for users because the input would have an `aria-describedby` pointing both to the error and the hint? E.g. if you had an email input, a screen reader might read out "Enter your email, This isn't a valid email".

[2022-02-08 14:28] crisbeto commented on #24317
By default the dialog is going to use the module-level injector so maybe you just haven't imported the translation module at the correct place? Alternatively, you can try to pass in a `viewContainerRef` when opening the dialog which will put it in the same injector tree as the component opening it. E.g. something like

[code]

[2022-02-08 14:46] BenLune commented on #10495
+1 here. I will deal without it as everyone here.

[2022-02-08 14:52] KevinKelchen commented on #24373
Active discussion has begun on the [WebKit issue](https://bugs.webkit.org/show_bug.cgi?id=236260) and it seems like the problem indeed is something to be fixed in WebKit.

Feel free to close this issue if desired. 🙂

[2022-02-08 15:21] BenLune commented on #10495
Thank you @cvaliere for your workaround! I had the same need but with FormControl. I adapted your code with the FormControl as a SCAM directive.

[code]

[2022-02-08 15:32] RobertAKARobin commented on #24319
I agree there are some implementation details to work out. But this always comes up in accessibility testing, and so think it would be prudent to address.

[2022-02-08 16:04] VashJuan commented on #24271
My issue is not being able to display lots of markers (they work fine), it is that they ALL WILL LOOK ALIKE.

I would say map-marker is only representing a series of positions - if all have the same appearance/use the same identical marker.

google.maps.Marker has a lot of other options than just a position. Every marker on a map should be able to have a unique appearance. That is easily possible

[2022-02-08 16:15] crisbeto commented on #24271
You can pass different configurations to each marker using the `options` input, if you want to. I would double-check that you're actually specifying the options correctly.

[2022-02-08 16:20] riteshwaghela opened #24378 "docs: theming docs misspells pink-bluegrey.css as pink-bluegray.css"
### Documentation Feedback

Theming document lists several prebuilt theme names. One of the file name mentioned is **pink-bluegray.css**, this seems to be incorrect as the the actual file name which gets created is **pink-bluegrey.css**.

So the pink-bluegray.css needs to be changed to pink-bluegrey.css.

### Affected documentation page

https://v12.material.angular.io/guide/theming

[2022-02-08 17:26] torrobinson opened #24379 "docs-bug(form-field): Typo in "Form field appearance variants""
### Documentation Feedback

**The documentations says**
_The fill an outline appearances implement..._

**When I think it meant**
_The fill **and** outline appearances implement..._

### Affected documentation page

https://material.angular.io/components/form-field/overview#form-field-appearance-variants

[2022-02-08 17:29] DaSchTour commented on #24337
Sure, that's my current fix. But it's ugly to have an empty component just to remove the header.

[2022-02-08 18:36] AlexeyOplachko opened #24381 "feat(COMPONENT): Mat-select select full group"
### Feature Description

Would be nice to have native "Select/deselect all in group" option in `mat-select` if it's set to `multiple` and has `<mat-opt-group>` inside
Smth like this.
![image](https://user-images.githubusercontent.com/45398541/153053301-f8b0875d-8b48-4c5d-b727-0b071f20670b.png)

### Use Case

_No response_

[2022-02-08 23:38] keith-aa opened #24383 "bug(Datepicker): Cannot highlight specific dates with v13"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Tried running the "Highlighting specific dates" example from https://material.angular.io/components/datepicker/overview on Stackblitz. It would not highlight. Also, tried downloading the example and updating to lat

[2022-02-09 00:04] KevinKelchen commented on #24373
The WebKit issue has been marked as fixed, so I will close this issue.

Thanks!

[2022-02-09 00:04] #24373 closed

[2022-02-09 03:18] BenLune commented on #16010
Hi @CharlieGreenman,
Thanks a lot for your help, I will look at it a bit later :-)

[2022-02-09 09:25] crisbeto commented on #24383
The class does get assigned correctly. The problem appears to be that the `background: none` added in the following change has a higher specificity and overrides the background from the custom class. https://github.com/angular/components/commit/43db8445e0eb7bf2dc57c4f95314f7965d1c240b#diff-c9da88d358126fd9af0bcfe70ca9dce66f53916557502d2e817772d860c9822cR48

[2022-02-09 10:25] ErikNijland opened #24386 "bug(MatSnackBar): Opening a second snackbar doesn't close the first one in Global Error handler"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

12.0.0

### Description

Opening the SnackBar more than once from a global error handler (https://angular.io/api/core/ErrorHandler) does not close previously opened SnackBars.

### Reproduction

Steps to reproduce:
1. Go to https://stackblitz.com

[2022-02-09 10:33] rbdv159 commented on #4352
Hey @jelbourn,
any updates on this issue? :)

[2022-02-09 15:03] steffenhees commented on #24370
Yes, this is what I have.

Example:
`
<body class="mat-typography">
     <mat-toolbar color="primary"><span>Headline</span></mat-toolbar>
     <div>Some text</div>
</body>
`

The headline had the changed font-family. The "Some text" did not have the changed font family, it had still the default Robot font-family.

[2022-02-09 21:35] LynnDarinKim opened #24390 "bug(MatSelect): With VoiceOver + Safari, VoiceOver doesn't read MatSelect options."
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Safari + VO does not read options in `mat-select`. It seems to work fine in Chrome, but Safari+VO seems to have the issue.

### Reproduction

Steps to reproduce:
1. Access [https://material.angular.io/components/se

[2022-02-09 22:01] lynnkim-prev opened #24391 "bug(MatSelect): With VoiceOver + Safari, VoiceOver reads 2 letters of the label."
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

With VoiceOver + Safari, VoiceOver reads 2 letters of the label.

### Reproduction

Steps to reproduce:
1. Access [https://material.angular.io/components/select/overview](https://material.angular.io/components/sele

[2022-02-10 05:38] srukshan98 opened #24392 "help(Material Date picker): Issue when adding Datepicker to a remote component in module federation"
### What are you trying to do?

I am trying to use datepicker within an remote component using module federation and am getting the attached error message.
![image](https://user-images.githubusercontent.com/32130720/153338288-01204289-a695-40c5-bbeb-7f4b617a20f2.png)

### What troubleshooting steps have you tried?

- Added `@angular/material` as shared library to webpack config of all projects
- T

[2022-02-10 09:01] brandart commented on #6584
this is very annoying. is there any way around?

[2022-02-10 13:00] sasafister opened #24395 "Material Design 3 support"
### Feature Description

Is there any way to use Material Design 3 (Material You) in Angular Material?

### Use Case

I would like to use new design from cards, to button while using the same API from Angular Material

[2022-02-10 15:09] enekonieto commented on #10242
Still an issue in 13.1.3

[2022-02-10 23:08] zarend opened #24397 "bug(matierl/datepicker): Voiceover does not announce current month after clicking next month button"
### Is this a regression?

- AFAIK no

### Description

When using the datepicker with voiceover the month is not announced after clicking the month/previous month buttons.

### Reproduction

Steps to reproduce:
1.  With screenreader enamed go to [basic Datepicker example](https://material.angular.io/components/datepicker/overview#datepicker-overview)
2. Open the calendar and navigate to Feb 1, 20

[2022-02-11 10:19] crisbeto commented on #24278
I can reproduce something similar if I explicitly try to bind the tooltip's `mouseenter` event using `NgZone.runOutsideAngular`. Maybe something similar is happening in this case?

[2022-02-11 10:35] Melf11 commented on #3048
thie mat-ripple-element ist causing this issue. I don't know what the mat-ripple-element is doing exactly, but for me it's not necessary, so do:

[code]

[2022-02-11 11:27] spedroq commented on #15997
Yeah having a way to define classes for the automatically generated components would be very useful. Currently there is no way to differentiate between the different `mat-tab-body-content` for example.
In other projects I have seen the approach of allowing a `bodyClass` attribute to be passed for example.

[2022-02-11 12:15] crisbeto commented on #24391
I can reproduce it too, although nothing specific stands out that could be causing it so it may be a browser bug. All we're doing is setting an `aria-labelledby` pointing to the form field label.

[2022-02-11 12:30] steffenhees commented on #24370
Yes, that are all nice workarounds. I already mentioned that it works with all-component-typographies.
But the bug is, that it is not working with all-component-themes. And this has to be fixed. Please.

I just tried out the kids-theme example on the [website](https://material.angular.io/guide/typography#typography-configs-and-theming) , and this is not working either.

[2022-02-11 12:58] crisbeto commented on #24370
Technically this works as expected. The `all-component-themes` includes the theme on for Angular Material components, the `mat-typography` classes are considered extra add-ons.

[2022-02-11 14:26] crisbeto commented on #24386
I spent some time looking into this and it looks like the problem is that the errors thrown during change detection prevent the snack bar animation from running which in turn prevents the proper cleanup. While this can be fixed and I agree that having multiple snack bars there at the same time is problematic, I'm not sure that using the snack bar for template errors is a good idea to begin with. T

[2022-02-11 14:58] #24383 closed

[2022-02-11 18:22] #24352 closed

[2022-02-11 18:26] #18479 closed

[2022-02-11 22:41] alexanderwiebe commented on #24392
I created a PR to your branch:
https://github.com/srukshan98/nx-ng-mfe-date-picker-issue/pull/1
Added material core and material datebicker to the container app module and webpack config

It works for me, let me know if this resolves your issue.

[2022-02-13 00:03] Raphyyy opened #24403 "bug(@angular/cdk/drag-drop): Grabbing a cdkDrag element with underlying link element cause the link to be grabbed with css transition"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When grabbing an element that just have been dropped, you will get the underlying link to be grabbed instead of the cdkDrag element if you drag from the link.
It only appears if used CSS `transition` on `transform`

[2022-02-13 00:48] Raphyyy commented on #24403
It looks like the issue can also appears sometimes without having to drop and redrag the same item immediately.
Removing the css `transition` also seems to fix it

![grab_bug](https://user-images.githubusercontent.com/13983107/153733599-69614653-be5f-49f2-916c-a53c2e6dfd34.gif)

[2022-02-13 12:24] chsami opened #24405 "docs: Add missing $theme to theming docs"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I get an runtime error. Following the official document guide on using scss variables in your project: https://material.angular.io/guide/theming-your-components.

![image](https://user-images.githubusercontent.com/

[2022-02-13 13:56] crisbeto commented on #24405
It looks like you're referring to a variable called `$theme` that doesn't exist.

[2022-02-13 15:53] crisbeto commented on #24403
Yes, I can't reproduce it at all with the 250ms transition on either Chrome or Firefox. I could reproduce it if I bump up the transition to 2500ms, but the `pointer-events: none` on the placeholder fixed it for me. The only other cause I can see is that by default we have some logic which makes it so that you have to drag at least 5px before dragging starts so that dragging isn't mistaken for clic

[2022-02-13 17:22] crisbeto commented on #24403
I'm testing on a Windows machine as well so it's weird that it doesn't happen for me. One more thing worth trying is to expand the CSS from above to:

[code]

This is what we set on other elements in order to prevent native dragging interactions.

[2022-02-13 20:27] umernaeem217 commented on #24337
Can I work on this @crisbeto ?

[2022-02-13 21:36] crisbeto commented on #24337
Sure, go for it.

[2022-02-14 00:24] Raphyyy commented on #24403
Ok so it looks like the issue happens when you mousedown the link on the .cdk-drag-preview while it is still moving, wait for the transition to end, and then start moving the mouse.
![grab_bug](https://user-images.githubusercontent.com/13983107/153782003-54f31b7f-97dd-4382-876a-12ed84b9b64a.gif)
The yellow dot tells when I hold left click
That's why you might missed it with 2500ms

[2022-02-14 02:29] KostyaTretyak opened #24407 "bug(scrollPositionRestoration): adding angular material to a project causes a bug with scrolling."
### Description

If you install the default Angular project and then add default Angular Material to it, you can see a bug with scrolling.

### Reproduction

Steps to reproduce:

**Step 1**:

[code]

**Step 2**:

In `AppRoutingModule` setup this:

[code]

**Step 3**:

Create a component with one paragraph of content.

**Step 4**:

Create second component with own path and long page. Go to first co

[2022-02-14 07:19] pranav-js commented on #13870
give this issue some attention please. this is serious glitch and I spent so much time thinking I was doing something wrong! but it seems to be there since 2018!

[2022-02-14 08:41] crisbeto commented on #24403
Thanks, I was able to reproduce it now, albeit not consistently. I've pushed another fix to #24404. You can try it out by adding `(dragstart)="$event.preventDefault()"` to the `cdkDrag` elements.

[2022-02-14 08:41] benmesza opened #24409 "FormField outline border wrong on Google chrome with lower zoom than 100%"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Angular material form field outline gap border is bigger with 1px than mat-form-field-outline-start, mat-form-field-outline-end classes border.

### Reproduction

Steps to reproduce:
1. Open form field outline with

[2022-02-14 09:00] srukshan98 commented on #24392
Hi @alexanderwiebe,
I was getting this error when running the app after merging the fix.

![88b98613-55be-46c6-b05f-095ff88a7900](https://user-images.githubusercontent.com/32130720/153829160-aa28d3de-56c6-4d5d-8ce0-64698588f6d3.jpg)

I was able to fix it by adding eager to all and have pushed it now. But now I am getting a different error.

![image](https://user-images.githubusercontent.com/321307

[2022-02-14 10:25] Raphyyy commented on #24403
Nice thanks @crisbeto, works great on my side

[2022-02-14 13:22] alexanderwiebe commented on #24392
MatInputModule module needs to be imported by both remote and container.
That is a separate issue though, you can validate the date picker works by commenting out the mat-form-field in remote-animate-component.html

[2022-02-14 16:51] #16209 closed

[2022-02-14 19:02] wagnermaciel commented on #24409
@andrewseguin Is this something we support?

[2022-02-14 19:19] wagnermaciel commented on #24386
@crisbeto Can you remove the needs triage label from this and apply the correct priority label if this is a real issue

[2022-02-14 19:22] wagnermaciel commented on #24381
Duplicate of #9149

[2022-02-14 19:22] #24381 closed

[2022-02-14 19:33] wagnermaciel commented on #24312
@flavianh Could you provide a stackblitz demo of this issue?

[2022-02-15 01:04] srukshan98 commented on #24392
Thank you, Now it works

[2022-02-15 01:04] #24392 closed

[2022-02-15 07:37] EusebiuDev commented on #20599
Any updates on the Day.js adapter?

[2022-02-15 08:18] ErikNijland commented on #24386
I fully agree, it's a simplified example where I could easily trigger two errors. In our real app two different errors occur based on an API response.

[2022-02-15 08:39] crisbeto commented on #24405
I don't think that we should be adding the `$theme` to the guide. It's not supposed to be a complete code snippet, but rather a way to show you how to use the theming APIs once you already have a theme.

[2022-02-15 09:41] ccosmincc opened #24414 "bug(MatInputHarness): Does not properly set negative value on form control for <input type="number">"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Setting the value of a number input to a negative value using MatInputHarness.setValue sets the value to the opposite (positive) on the form control bound to the input.

Seems related to https://github.com/angular/

[2022-02-15 11:01] iKrishnaSahu opened #24416 "bug(mat-chip): Clicking on disabled chip moves focus to first mat-chip"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

This issue is reproducing in two different scenario -

- Clicking on disabled chip moves focus to first element
- Clicking inside `mat-chip-list` but outside `mat-chip` moves focus to fist element

### Reproduction

[2022-02-15 11:09] ramprakashram commented on #24347
@crisbeto Can i take up this issue ???

[2022-02-15 12:40] crisbeto commented on #24416
This is working as expected. Otherwise focus will be lost completely.

[2022-02-15 12:52] iKrishnaSahu commented on #24416
@crisbeto even clicking on disabled mat-chip scenario which shifts the focus to first mat-chip is expected?

[2022-02-15 13:03] crisbeto commented on #24416
Yes since we have nowhere else to move focus. We can't leave it on the disabled chip, because it isn't interactive.

[2022-02-15 16:09] wagnermaciel commented on #24405
In that case, can we close this issue?

[2022-02-15 16:33] emceearjun commented on #24378
I would like to pick this issue up if that's okay.

[2022-02-15 19:56] chsami commented on #24405
I agree, It's very confusing for new people wanting to customize the theme.

[2022-02-15 22:47] bonganiSibiya commented on #24024
Is anyone working in this? I would like to pick it up.

[2022-02-15 22:53] ekheiralla opened #24421 "Angular mat-chip with [matMenuTriggerFor] conditional"
### Which @angular/* package(s) are relevant/releated to the feature request?

_No response_

### Description

For the love of code allow [matMenuTriggerFor] to take a ternary like [matMenuTriggerFor]="chip.data.items ? menu : null".
This errors out Type 'null' is not assignable to type 'MatMenuPanel<any>'

### Proposed solution

change trigger to take either  MatMenuPanel<any> or null.

### Alter

[2022-02-15 23:10] wagnermaciel commented on #24024
@bonganiSibiya All yours. Nobody has started this issue yet

[2022-02-15 23:25] BenLune commented on #10938
Hi,
I'm surprised a so obvious bug is not solved since 2018. I will deal with it.

[2022-02-15 23:35] BenLune commented on #10938
I think the lazyloading part of the Tabs Component is not really ready, maybe you should not communicate about it. It seems also to get problems with ChangeDetection. On one tab I had to click on the tab, and then outside to trigger changeDetection and get my tab selected... Removing tab content lazyloading solved all the problems.

[2022-02-16 07:21] micobarac commented on #14873
This issue still remains. Any update on this?

[2022-02-16 07:31] balajibadly commented on #9594
wanted demo for scroll spy, anyone?

[2022-02-16 08:42] micobarac commented on #14873
I am using CDK virtual scroll, which, obviously caused the `CdkDragDrop` indices disorder.
The problem rises only when the item gets deleted permanently from drag & drop list.
The solution that works for me is to adjust the `CdkDragDrop` indices by tracking item index and subtracting the same.

HTML:

[code]

Typescript:

[code]

[2022-02-16 09:46] crisbeto commented on #24030
Bumping the priority, because this has come up multiple times.

[2022-02-16 09:46] crisbeto commented on #24421
Duplicate of https://github.com/angular/components/issues/24030.

[2022-02-16 09:46] #24421 closed

[2022-02-16 10:01] carbdias opened #24423 "Info missing for Mat-Radio-Buttons CSS selectors"
### Documentation Feedback

Hello, I have a question in general that I have been searching in the internet and I don't find answer anywhere, also in the documentation, so I was hoping you could explain me, how can I access mat-radio-buttons styles for changing (in this case, removing), the outside grey circle that appears on hover effects, and the light-circle that appear arround radio buttons whe

[2022-02-16 12:23] carbdias opened #24424 "Info missing on mat-buttons hover effect"
### Documentation Feedback

Similarly to what I have mentioned in other issue for radio buttons, there is a lack of information on how to apply CSS on CSS selectors, states, such has the hover effect, that I cannot find the way to override the default behaviour of mat-buttons on mouse over and on mouse click.

Thank you,

Carlota

### Affected documentation page

https://material.angular.io/compon

[2022-02-16 21:59] cdavidnt opened #24431 "bug(mdc-tabs): mat-tab-label with [matTooltip] doesn't work"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

MatTabsModule before mdc

### Description

An mdc-tab with an mat-tab-label that contains an element with a matTooltip doesn't show the tooltip on hover

### Reproduction

Steps to reproduce:
1. run the following component using mdc-tabs
[code]

[2022-02-16 23:14] stiles-j opened #24432 "bug(mat-tab-group): preserveContent not working"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

[preserveContent] does not work.  Even in the Angular Material online documentation the [preserveContent] input is not working as expected.

### Reproduction

Steps to reproduce:
1. Create a mat-tab-group with at l

[2022-02-16 23:43] zarend opened #24435 "bug(material/datepicker): unable to select date on inline-calendar when passing a `new Date()` to the [minDate] Input"
### Is this a regression?

#24384 introduces this bug

### Description

When passing a `new Date()` to the [minDate] Input on mat calendar, selectedDateChange is not emitted when clicking on a date with the mouse.

### Reproduction

Steps to reproduce:
1. Open the [Stackblitz example](https://stackblitz.com/edit/components-issue-c79f7p)
2. Click on any date on the calendar

### Expected Behavior

[2022-02-17 10:11] max-vogler opened #24436 "bug(matChipRemove): matChipRemove does not preventDefault()"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

matChipRemove does not `preventDefault()`, allowing standard click behavior like following a parent hyperlink to trigger. matChipRemove does `stopPropagation()` though.

### Reproduction

Steps to reproduce: https:

[2022-02-17 12:53] crisbeto commented on #24432
The first version that has the feature is `14.0.0-next.2`, but it looks like you're on 13. The docs currently have an issue where they're showing the API docs for the next feature. They'll be fixed once we release https://github.com/angular/material.angular.io/pull/1123.

[2022-02-17 12:53] #24432 closed

[2022-02-17 14:14] infacto opened #24438 "Extend MatFormFieldDefaultOptions with color."
Setting color on every element:

[code]

could be replaced by global setting in app module:

[code]

[2022-02-17 16:25] EliezerB123 commented on #1432
I'm horrified, but this might actually work. Thank you, @aksenovdev .

This would be SO much better if we could actually just do this normally, though.

Currently, if I have a fixed header, there's no way for me to specify that

[Menus](https://material.angular.io/components/menu/examples) will go above the header,
but
[Selects](https://material.angular.io/components/select/examples) will go below

[2022-02-17 16:38] GregorBiswanger opened #24439 "Mobile gestures support"
### Feature Description

I want to be able to open and close a sidenav via swipe on mobile devices.

Some components have no touch support for mobile gestures.

### Use Case

_No response_

[2022-02-17 19:53] RobertAKARobin commented on #24319
@crisbeto Thanks for letting me know! I actually have a PR in progress for this, just need to wrap up the test cases. Want me to give it a whirl before you guys start dedicating your time?

[2022-02-17 19:59] crisbeto commented on #24319
Sure, go for it.

[2022-02-17 22:29] #24403 closed

[2022-02-18 10:46] demiro opened #24443 "bug(MODAL): If starting keyboard navigation from the URL bar - modal is not focused first!"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When I am using the app normally and open the popup, I am able to circle through the content in modal window well with my TAB key...

The problem is when I focus my URL input box in browser and then try to cycle wi

[2022-02-18 13:26] daniel-seitz opened #24444 "bug(mat-form-field): PLACEHOLDER IS EMPTY BY DEFAULT"
Please look at the
### Full Explanation [here](https://github.com/angular/components/issues/23893#)

This is either a bug or the documentation should be changed.

[Here](https://material.angular.io/components/form-field/overview) it states:
"If you want to create a legacy form field with a placeholder but no label, **you will need to specify an empty label** to prevent the placeholder from being p

[2022-02-18 14:02] jon9090 commented on #9169
ngrx and rx-angular give us a way to create application without zonejs.
I wish that material remove zonejs so I can get rid of this library in my application. this is only thing is missing.

@jelbourn its 2022, any news? it's in the plan of the team?

[2022-02-18 14:52] ezhupa99 commented on #14291
Just use the **MomentDateAdapter** from **@angular/material-moment-adapter** and follow this answer on [stackoverflow](https://stackoverflow.com/a/58189036/8665500)

[2022-02-18 15:14] caroncyp opened #24445 "bug(mat-tab): tab group dynamic does not allow to select first tab if newly created"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When i add a new tab dynamically from a button, if i choose to set the new tab as first item in the tab list and want it to select this tab, it does nothing.
I have to first select a new tab and then repeat it to m

[2022-02-18 15:37] kroeder opened #24446 "bug(mat-select): has different height than matInput"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

13.2.3

### Description

If you render a mat-input and a mat-select component next to each other you can see that mat-select is slightly higher than the mat-input. This is a specific `appearance="outline"` issue. Using `appearance="fill"` the hei

[2022-02-18 15:53] danitag78 opened #24447 "feat(all components): Material You/3"
### Feature Description

Hi, I tried to use @angular/material-experimental thinking it was ready to Material You, but I see that it is not. From what I read on the Material Design site, the mdc- components are still those of Material 2.0, while for version 3 it is necessary to implement the mwc- components
Have you planned to implement these components?

### Use Case

_No response_

[2022-02-18 16:02] RobertAKARobin commented on #24319
@crisbeto Here's the PR, although there's this random e2e test is failing but seems unrelated? Would love it if you could set me straight on that! https://github.com/angular/components/pull/24441

[2022-02-18 19:23] #23600 closed

[2022-02-18 22:31] #19397 closed

[2022-02-19 07:23] avinash1203 commented on #13906
It will be nice to have this.

[2022-02-19 12:11] devversion commented on #24128
Little update: I've started working on this but it's currently blocked on some refactorings I need to land in the Bazel Sass rules (so that we could actually use module imports in our sources as well). It will take a little longer to sort out the API details with the Sass team (but I might work around this blocker in the interim)

[2022-02-19 13:32] michaelfaith commented on #24128
Awesome. Thanks for the update.

[2022-02-19 15:28] Sathishchary commented on #24008
Any update on this @wagnermaciel ? i have also same requirement

[2022-02-19 17:23] wagnermaciel commented on #24008
@Sathishchary no updates. Currently this is a very low priority issue for us

[2022-02-20 16:08] steffenhees commented on #13870
If this is not fixed yet, please fix it!!! Thank you!!!

Had the same problem. With the workaround from @dcrouch79 it works for now. Thanks!

[2022-02-20 19:01] #14721 closed

[2022-02-21 02:06] #22905 closed

[2022-02-21 03:29] phoenix09208 commented on #11616
Any update on this?

[2022-02-21 13:36] RodrigoAN97 commented on #11381
Trying to revive this in 2022, any solutions apart from the workaround?

[2022-02-21 16:40] crisbeto commented on #24395
Duplicate of https://github.com/angular/components/issues/22738.

[2022-02-21 16:40] #24395 closed

[2022-02-21 16:40] crisbeto commented on #24447
Duplicate of https://github.com/angular/components/issues/22738.

[2022-02-21 16:40] #24447 closed

[2022-02-21 16:43] crisbeto commented on #24423
This isn't something we generally document, because it's an implementation detail and can change between versions. For the radio specifically, you can hide the circle by setting `display: none` on `.mat-radio-button .mat-ripple-element`, but it's at your own risk.

[2022-02-21 16:43] #24423 closed

[2022-02-21 16:43] #24416 closed

[2022-02-21 16:58] crisbeto commented on #24301
The exact code from the documentation works for me. This is likely an issue your end or you just aren't zoomed in enough to see the heatmap.
<img width="847" alt="image" src="https://user-images.githubusercontent.com/4450522/154998627-be1e81ca-fb6e-44b2-b41e-78b9ef2571a1.png">

[2022-02-21 16:58] #24301 closed

[2022-02-21 17:13] crisbeto commented on #24431
The problem is caused by MDC setting `pointer-events: none` on `.mdc-tab__content`.

[2022-02-21 17:16] crisbeto commented on #24424
Same answer as #24423. We don't consider this a public API so that's why it's undocumented.

[2022-02-21 17:16] #24424 closed

[2022-02-21 17:36] tayambamwanza commented on #17048
For reference the old angular material had a few standard dialogs plus the ability to create custom dialogs.
In the material design site you can also see "standard" dialogs.

https://material.angularjs.org/latest/demo/dialog
https://material.io/components/dialogs#usage

[2022-02-21 19:09] carbdias commented on #24424
Hello, this question is for buttons and not radio-buttons?

Which would be the class to hide?

Thank you very much for your help,

Carlota

Kristiyan Kostadinov ***@***.***> escreveu no dia segunda,
21/02/2022 à(s) 18:16:

[2022-02-21 20:02] #5205 closed

[2022-02-21 21:15] AlirezaEbrahimkhani commented on #24445
Hi! Is anybody working on it? Otherwise I could try to fix it if you don't mind

[2022-02-22 10:06] caroncyp commented on #24445
Atm, the hack i use is removing the mat-tab from the DOM temporarily  with ngIf and settimeout.
But it's ugly as code and visually.

[2022-02-22 11:59] stefan123t commented on #14861
Can we tag this issue with an accessibility label, as it turned up in our manual WCAG and accessibility tests performed routinely. This is the major blocker for users of JAWS and other screenreaders for our blind users.
Thanks for reconsidering the work done by @douglasgsouza for inclusion into Angular.
Kind regards,
Stefan

[2022-02-22 14:28] tthrash opened #24463 "bug(material/input): name property setting overrides developer defined name property"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

v13.1.2

### Description

This [change](https://github.com/angular/components/commit/feac08f13843e3476245535a7fa5f3dfee04b027) broke a lot of code. The issue is tons of code was adapted to the fact that Angular Material input was not setting name

[2022-02-22 14:56] GitStorageOne commented on #16862
Everyone! We need more thumbs-up at first post. Or feature request will be doomed.

[2022-02-22 16:18] Akxe commented on #19083
This is sort of fixed... typing will focus on the element that begins with the correct text. Hitting enter will then select the option highlited.

[2022-02-22 18:15] crisbeto commented on #19478
Should be resolved now by https://github.com/angular/components/pull/17092.

[2022-02-22 18:15] #19478 closed

[2022-02-22 19:15] jelbourn commented on #4942
Removing "feature" this this is a real a11y bug

[2022-02-22 20:10] jelbourn commented on #4942
@crisbeto got any time to look at this?

[2022-02-22 20:35] #3106 closed

[2022-02-22 20:41] mischkl commented on #3106
Glad to see it finally got fixed! 🥳 Thanks @andrewseguin

[2022-02-23 00:33] lecramr commented on #15343
I have the same problem, @JarekToro solution worked for me, but only 1-2 drags after that the whole drag drop functionality freezes and breaks. Have you found a workaround?

My goal is to have a hidden List on Top that only shows when the user is dragging.

[2022-02-23 00:50] JarekToro commented on #15343
For what's it's worth It is still working on my end. But it took a lot of small tinkering with the internals from what I can remember. I just took a peek at the old codebase that needed this. On thing I didn't mention was setting the

`CdkDropList.connectedToSet` array to included the dynamically added list.

[2022-02-23 09:44] Sajito opened #24467 "bug(cdkDragDrop/mat-dialog): cdkDragDrop does not work when page is scrolled before opening dialog"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I have a cdkDragList inside an mat-dialog-overlay. When the page is scrolled before opening the dialog, then the drag drop behaviour is not working correctly.
Instead of directly reordering the list on drag, the it

[2022-02-23 11:30] #16522 closed

[2022-02-23 11:31] #24438 closed

[2022-02-23 14:10] JanBA1990 commented on #4609
Joining the queue. The proposed solutions in the comments are not satisfying at all.

[2022-02-23 14:26] crisbeto commented on #24467
Duplicate of #14280.

[2022-02-23 15:13] lecramr commented on #15343
So for anyone having the same problem I found a workaround and improved it further in #15139.

The cdkDropList has now three events:
[code]

In the controller:
[code]

Hope someone finds this useful.

[2022-02-23 16:25] EliezerB123 commented on #1432
If only it were that simple. That doesn't actually work, because Angular won't remove CSS that's been added to a page after the component that called it gets removed. So your 'popup' CSS is still there, and will get removed... never. The global CSS would be permanently overwritten once `popup component` has been opened.

[2022-02-23 17:10] mmalerba opened #24470 "feat(material/core): create an MDC version of the pseudo-checkbox"
### Feature Description

Create a version of mat-pseudo-checkbox that is styled to look like the MDC-based mat-checkbox

### Use Case

Apps that use both a mat-checkbox and mat-pseudo-checkbox will need a version with the MDC styling in order to have a consistent feel across their app

[2022-02-23 17:24] #14280 closed

[2022-02-23 18:48] greghopkins commented on #15190
pretty please! 👍

[2022-02-23 18:51] fjcasternao commented on #15190
👍

[2022-02-23 19:55] azerafati opened #24471 "feat(material/icon): Ability to update icon's SVG when you register it using `MatIconRegistry`"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When we use a `mat-icon` with a SVG registered through `MatIconRegistry`, `mat-icon` shows the SVG but **won't update** itself if we change it later, meaning we add a new SVG with the same name.

I believe the prob

[2022-02-24 11:10] davegadsby commented on #11602
We are also experiencing this problem, I can't find any official documentation about what the actual/recommended limit should be.

[2022-02-24 12:00] mrmokwa opened #24476 "feat(menu): Add delay before closing nested menu after mouse leave"
### Feature Description

**Problem**

When navigating through nested menu items, we must follow a tight path, otherwise it'll close the nested menu.

**Proposed Solution**

If we add some delay, before closing the nested menu after the mouse leave event, we could leverage from better navigation.

**Sugestion**

Add an option (matMenuNestedCloseDelay) to change the behavior of closing the nested me

[2022-02-24 12:10] #17032 closed

[2022-02-24 13:28] julio393 commented on #15190
👍

[2022-02-24 13:33] FMaccarelli commented on #15190
👍

[2022-02-24 15:43] tthrash commented on #24463
Yep, I understand that. However, my team is using this Covalent dynamic forms library in our project and that library is infrequently updated. I'm unsure when they will release an update that will fix it. We were hoping this could be fixed in Angular Material in a patch release, so we don't need to revert updates or fork the library to have this fixed if Covalent does not release an update soon th

[2022-02-24 15:58] rbalet opened #24478 "bug(map-marker-clusterer): do not work without markerclustererplus"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

it doesn't works without importing `<script src="https://unpkg.com/@googlemaps/markerclustererplus/dist/index.min.js"></script>`, which is the old library

## Code Example
[code]

[code]

### Reproduction

Steps to

[2022-02-24 16:59] krem06 commented on #15027
Hi,

I added a small piece of css and it seems to do the trick:

`.mat-form-field-label {
	z-index: 1000;
	background-color: #ffffff;;
	width: auto !important;
	padding: 0 10px;
}`

[2022-02-24 18:47] mjedwabn commented on #4597
I am getting increasingly convinced that web frameworks era is ending. They had their time couple of years ago, with adoption of ~components, redux, reactivex etc. Personally Angular lost its momentum for me, I cannot find a good argument to stay with vs what standards offer nowadays.

I think that pure html/css + typescript + light templating library like _lit_ is he the way to go in the nearest

[2022-02-24 19:58] zarend commented on #24086
This was fixed by #/24171

[2022-02-24 19:58] #24086 closed

[2022-02-24 20:01] #23548 closed

[2022-02-24 20:02] zarend commented on #23475
This was fixed by #24300

[2022-02-24 20:02] #23475 closed

[2022-02-24 21:53] talamaska commented on #4597
This is not the place to hate about angular. Lit is great but I would love to see you making a large scale project with lit, cause I have seen a polymer one and it is not pretty.

[2022-02-25 09:13] Plondrein commented on #23193
Can I help somehow with merging this?

[2022-02-25 09:14] Plondrein commented on #23193
@crisbeto

[2022-02-25 11:28] Piyush132000 commented on #24405
Hii , Is anybody working on it? Otherwise I could try to fix it if you don't mind.

[2022-02-25 12:40] nilokadnedzar opened #24480 "bug(Expansion Panel): Expansion Panel is set to closed, but is open and then gets closed being inside the Stepper"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When you have a **closed** Expansion Panel as part of the Stepper it is open and then gets closed. It should be closed right away.

_This only happens when the default animation of the Stepper is enabled._

### Rep

[2022-02-25 13:20] #15177 closed

[2022-02-25 18:34] preda7or opened #24483 "bug(mat-table): MatTable with observable as data source should trigger change detection after update"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

MatTable with an observable as data source does update viewRefs, but does not trigger a detection change (markForCheck).
Which can cause the view not to update (until a change detection is triggered by some other e

[2022-02-25 19:39] #24030 closed

[2022-02-25 20:33] #4942 closed

[2022-02-25 21:30] aardrian commented on #4942
This bug report is closed, but I don't see it corrected at the URL where this issue was reported.

[2022-02-25 21:35] crisbeto commented on #4942
The fix was merged an hour ago so it hasn't been released yet.

[2022-02-26 07:50] rasoulMrz commented on #24037
Any updates?

[2022-02-26 16:26] #11523 closed

[2022-02-26 16:29] #13646 closed

[2022-02-26 22:38] TimothyGillespie opened #24486 "bug(cdk/testing): The UnitTestElements.hover() does not trigger a mouseover event"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Currently, the `UnitTestElement` would trigger a mouseenter event but not a mouseover event. This is unexpected since a mouseover should always trigger alongside a mouseenter. I noticed this when I wrote a harness

[2022-02-27 19:49] #16167 closed

[2022-02-27 19:51] #14028 closed

[2022-02-28 07:07] OBorce commented on #7226
People designing components seem to forget that they don't need a perfect design, this is angular, it can break API every 6 months, that is why we have migration guides.
It has been more than 4 years, design something functional and later you can always improve on it.

Perfect is the enemy of good.

[2022-02-28 08:46] AvoMMH opened #24489 "bug(cdk/drag): DOM freeze while dragging"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version
- [x] I have not used this before

### The previous version in which this bug was not present was

_No response_

### Description

When dragging an element from one drop-list to another the receiving droplist can not be display: none or height: 0.
When I set one of those properties and reset them with .cdk-dro

[2022-02-28 10:09] crisbeto commented on #24489
This is currently working as intended. For performance reasons, we only measure the elements in a few key moments (dragging starts, item enters a new list), otherwise we'd have to do it for each pixel you drag which will cause layout thrashing.

[2022-02-28 10:57] AvoMMH commented on #24489
Okay, but I need to hide the drop area while not dragging (because it is quite huge). Is there a way to do this?

[2022-02-28 12:12] crisbeto commented on #24489
There is no way to do this at the moment, but there are some workarounds in https://github.com/angular/components/issues/14703. I'm closing this issue as a duplicate.

[2022-02-28 12:12] #24489 closed

[2022-02-28 12:14] crisbeto commented on #24483
Your example is using `runOutsideAngular`, maybe that's the root cause?

[2022-02-28 13:02] angelaki opened #24491 "feat(mat-icon): Make mat-icon use svgIcon by default"
### Feature Description

I'm trying to get rid of the mat icon font since I prefer using only svg graphics. I replaced all the `<mat-icon>icon</mat-icon>` with `<mat-icon svgIcon="icon"></mat-icon>` and loaded the material icons as svg.

So far, so good. The problem now is that components using mat-icon internal (e.g. mat-stepper) display the text instead of the icon (since the font is not loaded)

[2022-02-28 13:38] crisbeto commented on #24491
I think the solution might be not to use `mat-icon` in other components at all. It seems like the only place where we actually do it is in `mat-stepper`.

[2022-02-28 17:05] #23081 closed

[2022-02-28 17:10] #10471 closed

[2022-02-28 19:29] webia1 commented on #12070
My workaround:

**Step 1**

Add to the relevant module:

[code]

**Step 2**

Add to the relevant component:

[code]

[2022-02-28 21:16] angelaki commented on #24491
Ah, ok! Actually haven't checked it! Just saw it and thought: Oh ... Ok ... maybe it is used elsewhere ... But anyway - how do you like the idea? Maybe configurable via InjectionToken?

[2022-02-28 21:17] zarend commented on #24483
Hello,

It seems like the issue is that the `trackBy` function is tracking by the id, which remains constant. This can be fixed by tracking by the `value` which changes each time the timer emits.

[code]

  I'll go ahead and close this because MatTable appears to be works as expected when `trackByFn` returns unique values.

  Best,
  Zach

[2022-02-28 21:20] zarend commented on #24480
Hello, we took a look at this and couldn't reproduce. Could you please provide a stackblitz reproduction of the issue?

[2022-03-01 01:34] preda7or commented on #24483
I thought this trackBy works the same way as the ngFor, meaning that it is used to identity check (if DOM element needs to be moved, created, deleted). If identity matches then bindings are updated, but DOM hierarchy does not change.

[2022-03-01 01:52] cesarcgfg opened #24495 "bug(google-maps): Zoom not updated on centerChange"
### What are you trying to do?

Trying to zoom map after center change:
google-maps.component.html
[code]

google-maps.component.ts
[code]

### What troubleshooting steps have you tried?

Zoom is not changed

### Reproduction

Steps to reproduce:
1. User changes zoom
2. User clicks on marker link that updates center variable.
3. Center is changed, console.log is fired  but zoom is not updated

###

[2022-03-01 09:43] xiaohanw-google opened #24497 "bug(cdkDrogList): dragRef._previewRect is set after scroll"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I got the error when dragging a cdkDrag element with a boundary element:

    at DragRef._getConstrainedPointerPosition (/unmappedjs/third_party/javascript/angular_components/src/cdk/drag-drop/drag-ref.js:879:59)

[2022-03-01 10:26] preda7or commented on #24483
@zarend from the updated example (https://stackblitz.com/edit/components-issue-5pt19s) it can clearly be seen, that tracking by value destroys and recreates the rows and their component tree (see the console logs).

So changing the trackBy is not the solution. Track by function is meant to provide identity anyway.
Please reopen the bug.

[2022-03-01 10:34] preda7or commented on #24483
The solution is probably only one line of code, that - if the data source is an observable - runs a markForCheck on the table.
(There may be other cases when it is not strictly necessary, eg. there is no diff, maybe without onpush it also works, etc.)

[2022-03-01 11:40] cesco69 commented on #18639
same issue for me...

[2022-03-01 14:27] #14365 closed

[2022-03-01 15:16] #24397 closed

[2022-03-01 15:45] setbro-prg commented on #11478
Here is how I had to handle it for any overlays:
[code]

[2022-03-01 15:51] #24497 closed

[2022-03-02 09:12] stefnedelchev commented on #24334
I wasn't sure if I have to create a new issue so I decided to write here as my issue is kinda related. Although the old constructor is deprecated, I still find it impossible to create a `DomPortalOutlet` by passing `outletElement` only.
![image](https://user-images.githubusercontent.com/88819267/156330855-cf33fde6-5bcb-4a15-a4fb-ded3d989f690.png)
I opened the class definition and I clearly see tha

[2022-03-02 09:19] rbalet opened #24501 "feat(snackBar): allow mat-icon to be used by default"
### Feature Description

When opening a snackBar, it could be useful to be able to add an icon to it that will use the mat-icon per default.

[code]

### Use Case

Added at the beginning of the container, this could be displayed as follow.

![image](https://user-images.githubusercontent.com/44493964/156331610-b10a288a-e5d3-4fe9-b1b7-dd2ab27a6009.png)

## Pro
* Google now have plenty of icon
* Icon

[2022-03-02 10:04] pawan-gwebs opened #24502 "npm WARN deprecated source-map-resolve@0.6.0"
### What are you trying to do?

I'm getting warning "npm WARN deprecated source-map-resolve@0.6.0: See https://github.com/lydell/source-map-resolve#deprecated". This warning is from the dependencies "stylus" of package "@angular-devkit/build-angular".

Will it be fix in next release?

### What troubleshooting steps have you tried?

Warning comes in production build or during "npm install"
npm i
np

[2022-03-02 10:30] andreElrico opened #24503 "feat(button): Consider enter-key by default"
### Feature Description

with a native html button enter/return key will "click/ interact" wtih the button.

why is that not considered with the material buttons. From an a11y standpoint it makes sense to have this feature.

Current workaround:

`<button mat-button (click)="onClick()" (keyup.enter)="onClick()">Basic</button>
`

if https://github.com/angular/angular/issues/4059 is solved, material

[2022-03-02 11:17] crisbeto commented on #24480
This should be the same root cause as https://github.com/angular/components/issues/22785.

[2022-03-02 11:17] #24480 closed

[2022-03-02 12:29] crisbeto commented on #24503
This should be the case already. We don't do anything in `mat-button` to prevent the default behavior. Maybe you're setting the `mat-button` attribute on a node that isn't a `button`?

[2022-03-02 12:30] crisbeto commented on #24501
We're following the Material Design specification which explicits mentions that icons shouldn't be used inside snack bars.

See: https://material.io/components/snackbars#anatomy
<img width="804" alt="image" src="https://user-images.githubusercontent.com/4450522/156361986-c7623de6-c88e-4cd2-b6cd-02ed71621d8b.png">

[2022-03-02 12:30] #24501 closed, assigned to nobody

[2022-03-02 12:34] rbalet commented on #24501
@crisbeto Thanks for your quick response. I wasn't aware of this rules.

[2022-03-02 12:56] crisbeto commented on #24334
I've opened #24504 to simplify the constructor, but it's worth noting that you may get runtime errors if you try to attach a component portal and you haven't provided the extra information.

[2022-03-02 12:59] #15787 closed

[2022-03-02 13:08] Killerbear commented on #12469
i want to give this a little push here. I just run into this issue and noticed, this is open for 3 years.
we changed our tree from using the FlatTree to NestedTree and then the expandAll wasnt working anymore.
i hope this will be fix in the near future. At least that both variant are kind of equally useable.
Because the FlatTreeControl is working just fine but the NestedTreeControl is not.

[2022-03-02 14:20] pkirchniawy commented on #24362
Hello @Harpush :slightly_smiling_face:

I face the same issue when using the virtual scroll element inside a container with display:none. But I found a workaround.

We canuse the properties `minBufferPx` and `maxPxBuffer` to fix our problem. If I understand it right, it does the following thing: If the scroller detects, that there is less whitespace left than the minBufferPx value, it renders more

[2022-03-02 14:21] P-de-Jong commented on #24037
Would like to know too when this PR is getting merged. We're having a lot of problems with this issue at the moment 😢

[2022-03-02 14:45] weberhofer commented on #14861
Would be great to have an improvement here!

[2022-03-02 15:08] andreElrico commented on #24503
I have tested it on a stackblitz again. It works as expected. Closing this for now. There must be a problem with my usecase. Going to investigate ...

[2022-03-02 15:08] #24503 closed

[2022-03-02 18:22] stefan123t commented on #14861
What is the voting system of the angular-robot supposed to di, we have +11 on the initial issue post and 7 participants that is more than 100%. I do understand that accessibility may not be everybodys darling but it is a necessary evil for people in need like blind or otherwise disabled persons, think the late Steve Hawkins who would need to be able to navigate a table with his cheek. Thanks for r

[2022-03-02 19:56] #23479 closed

[2022-03-02 21:36] #23480 closed

[2022-03-02 22:18] #22728 closed

[2022-03-03 00:51] #19069 closed

[2022-03-03 12:44] PAStheLoD commented on #24035
possible duplicate https://github.com/angular/components/issues/16551 ? (already in voting phase)

[2022-03-03 15:21] #17860 closed

[2022-03-03 15:36] #23920 closed

[2022-03-03 15:53] proggler23 commented on #24037
It seems like opening a dialog from within another dialog also fails if there happened to be an error within the animation duration. I cannot listen on "dialogOpened" observable, as this only triggers once, but the error will trigger the dialogContainer.start animation again.

[2022-03-03 22:01] Whisper40 opened #24516 "cdk-describedby-message-container is causing blank line at the end of the page"
### Which @angular/* package(s) are the source of the bug?

Don't known / other

### Is this a regression?

Yes

### Description

This bug does not occur with Angular 12.1.0.
I upgraded today to Angular 13.2.5, and this bug appears ( a blank line at the end of the page ).
I should have this :
![image](https://user-images.githubusercontent.com/30440458/156659175-9e221a8d-9254-45ba-b300-6f7d7e7ec9cc

[2022-03-04 06:56] nuwang91 opened #24518 "feat(cdk/table): Make CdkTableDataSourceInput an exported type"
### Feature Description

### Problem

Currently the `CdkTableDataSourceInput<T>` is not an exported type in `cdk/table/table.ts`. Therefore consumers of the cdk table might have to duplicate the type definition in their code base when building their components based on cdk table.

### Proposed Solution

`export` the type so that consumer of the cdk table could make use of this type when basing/wra

[2022-03-04 09:06] Whisper40 commented on #24516
I'm not using Material.
Are you saying to add A11yModule in app.module.ts ?
( If yes, that is not hidding this blank line )

[2022-03-04 09:12] crisbeto commented on #24516
No, you need some structural CSS in order for some of the CDK code to work. You can get that CSS by adding this to your global styles:

[code]

[2022-03-04 09:34] Whisper40 commented on #24516
My global style is styles.scss
I added your line into this file
[code]

But it is generated error on compilation :
[code]

[2022-03-04 09:37] crisbeto commented on #24516
Ah sorry, it looks like the import path is actually `@angular/cdk/a11y-prebuilt.css`.

[2022-03-04 09:41] Whisper40 commented on #24516
Thanks ! It works
I know that angular can automatically upgrade things when upgrading.
Is there no way to add this thing in order that other users do not encouter the problem ?

[2022-03-04 09:43] crisbeto commented on #24516
That wouldn't have helped in this case, because the CDK has worked like this since the beginning so there would be nothing to migrate.

[2022-03-04 09:47] Whisper40 commented on #24516
Last questions :)
So you are saying that this line should be there for a long time ?
Why it was working with Angular12 ?

[2022-03-04 09:48] crisbeto commented on #24516
Yes, this hasn't changed in a few years. It has either been there and you never noticed it, or you started using some CDK functionality that started to show it.

[2022-03-04 09:50] #24516 closed

[2022-03-04 13:53] rene-guerrero commented on #8312
Still nothing in 2022?

[2022-03-04 18:39] PowerKiKi commented on #22909
After an update to Angular 13 I cannot reproduce the issue anymore. Going back to Angular 12, I also cannot reproduce the issue anymore. My conclusion is that the bug was actually in Chrome and now with Chrome 98.0.4758.102, I cannot reproduce at all.

I consider this issue solved somewhere between Chrome 91.0.4472.77 and 98.0.4758.102.

[2022-03-04 18:39] #22909 closed

[2022-03-04 23:53] tonyfarney opened #24525 "MatDialog: returning the last opened dialog instead of opening a new one"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Sometimes when I call MatDialog.open, it returns the previous recently opened dialog instead of opening a new one. I reviewed the source code at https://github.com/angular/components/blob/master/src/material/dialog

[2022-03-05 07:19] crisbeto commented on #24037
I reworked the fix for this on Friday to make it easier to merge and got it passing all the internal checks. It'll be merged in on Monday and should be out in the next patch release.

[2022-03-05 07:19] crisbeto commented on #24525
Duplicate of #24037.

[2022-03-05 07:19] #24525 closed

[2022-03-05 12:30] willherr commented on #3334
What's the discussion that's needed here? It sounds like this is a sought after feature  (although not necessary to have to implement).

Is the discussion regarding what to do when a user does not choose an option? Why not use the same behavior as a select when a user does not select an option (do nothing a.k.a. keep the state the same).

Surely the discussion is not to or to not implement it? Som

[2022-03-05 15:34] rgurgul commented on #9007
workaround
// onsubmit
this.form.markAllAsTouched();

[2022-03-05 15:38] #24486 closed

[2022-03-06 10:45] crisbeto commented on #22785
Closing this as a duplicate of #13870 which has been open for longer.

[2022-03-06 10:45] #22785 closed

[2022-03-06 14:51] devversion opened #24530 "Cleanup theming API"
With our API refactorings to allow for density in MDC (and for non-MDC components - still internal), we made a couple of breaking changes and landed backwards compatiiblity changes.

We should keep track of these, and start cleaning up the theming API to reduce the Sass code complexity/and maintenance.

[2022-03-06 16:24] #13870 closed

[2022-03-06 17:01] MikeJerred commented on #15027
This is the workaround I am using, note if you don't have a dialog component (e.g. you are just using a template) you can also do:

[code]

[2022-03-06 18:19] #19365 closed

[2022-03-07 07:09] #24037 closed

[2022-03-07 07:20] #11064 closed

[2022-03-07 09:34] niwolf opened #24532 "feat(cdk/table): add footer-cell to text-column"
### Feature Description

I have a `matTable` which includes a footer-row.
I would like to use the `mat-text-column`. However, it does not support a footer-def.
Therefore I would like to suggest adding a `footer-def` to the text-column. The footer-cell could also get a `footerText` like it is used for the header-cell.

### Use Case

_No response_

[2022-03-07 10:01] loebi-ch opened #24533 "bug(@angular/cdk): dragStart event completely blocked within ```cdkDrag``` element"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

13.2.3

### Description

Inside a Angular's ```cdkDropList``` I use another third party library for sorting a grid (```display:flex; flex-wrap:wrap```) with Drag'n'Drop. After upgrading Angular's CDK from version 13.2.3 to 13.2.4 this third party

[2022-03-07 12:02] crisbeto commented on #24533
In general we don't make changes to accommodate other libraries, because it would be really difficult to support all of the possible combinations.

[2022-03-07 12:08] loebi-ch commented on #24533
It's not only related to third party libraries. You break the native browser's ```dragstart``` event. And I even don't understand why.

[2022-03-07 12:12] crisbeto commented on #24533
The whole point of the `cdk/drag-drop` library is to be an alternative to native dragging. We're preventing many more native interactions, not just the `dragstart` (e.g. mouse clicks, scrolling), in order to prevent them from interfering with the dragging.

[2022-03-07 12:22] loebi-ch commented on #24533
I've just read https://github.com/angular/components/issues/24403 and I do understand your point.

BUT: Actually if I use CDK's ```cdkDragHandle``` option, then the ```dragstart``` event should not be blocked for the whole cdkDrag element, but only the handle element. Don't you agree?

[2022-03-07 13:07] loebi-ch commented on #24533
I have found a solution for my problem. Inside a ```cdkDrag``` element I use ```(dragstart)="$event.stopPropagation()"```:

[code]

I still think that the ```dragstart``` event should only be blocked for the handle element and not the whole ```cdkDrag``` element when using ```cdkDragHandle```.

Best regards,
Andy

[2022-03-07 16:13] devversion commented on #24128
Here is the final proposal/PR: #24536.

[2022-03-07 16:25] kfw9257 commented on #8494
Any updates on an official version for a stacking solution?

[2022-03-07 16:29] mnkprs commented on #24476
I can handle this issue but there are already unit tests that contradict with this feature.
Ex. on menu.spects line 1879: `should close all the open sub-menus when the hover state is changed at the root` .
What should be done in this case?

[2022-03-07 17:09] JWess commented on #12898
It would be nice if the type of `R` could be inferred from the type of Component being passed into `open()`.

[2022-03-07 17:22] andvasp opened #24537 "SassError: Can't find stylesheet to import: "@import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.scss';""
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

13.0.0

### Description

The system cannot find the file style file. I need to include the node_modules in the path to work. Is this right way to solve this problem?

From: @import '~@mat-datetimepicker/core/datetimepicker/datetimepicker-theme.sc

[2022-03-07 17:35] JWess opened #24538 "[MatDialog]: Infer return-type `R` of `MatDialogRef<T, R>` based on component passed into `MatDialog.open()`"
### Feature Description

If I call:

[code]

It would be nice if `result` could be typed based on what `ADialogComponent` is known to return. Perhaps some work would need to be done for a component to be able to specify its return type. Maybe it would need to implement an interface `MatDialogComponent<T, R>` or something. I don't know the solution...I just know the current way leaves a lot of room

[2022-03-07 20:59] klofi commented on #20369
Had the same issue and was able to fix it in Angular 11 (haven't tried 13 yet) by adding `*ngIf`:

[code]

Strangely, giving the `progress` an initial value of `0` had no effect.

[2022-03-07 21:09] #23295 closed

[2022-03-07 21:52] ByzantineFailure opened #24542 "bug(mat-chip-grid): mat-error instances are not exposed to screen reader users"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When a `mat-chip-grid` has a `mat-error` associated with it SR users do not hear the error when they focus the grid or its associated `matChipInput`.

### Reproduction

Steps to reproduce:
1. Load this stackblitz:

[2022-03-07 22:15] andvasp commented on #24537
I found this issue here https://github.com/angular/components/issues/23896. But the problem is for another import that is not from angular.

[2022-03-07 22:36] ByzantineFailure commented on #24542
This might be solvable by updating `mat-chip-grid` to propagate its `aria-describedby` value to the `matChipInput` associated with it.

[2022-03-07 22:55] crisbeto commented on #24537
`@mat-datetimepicker` isn't maintained in this repository or by our team. Please file the issue in the relevant one.

[2022-03-07 22:55] #24537 closed

[2022-03-08 03:41] wadefleming-nz opened #24546 "bug(mat-radio-group): Programmatic changes are not reflected in the form model"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When setting `value` on `matRadioGroup`, the visually selected radio button updates, but the form model does not.

Looking at the material source code, the form model is only updated (via `_controlValueAccessorChan

[2022-03-08 09:32] Burtan commented on #4190
I'm also facing this error.

[2022-03-08 11:05] crisbeto commented on #12070
Is this still a problem? I went back to rebase my PR with the fix and I can't reproduce it anymore.

[2022-03-08 11:09] andvasp commented on #24537
Hi @crisbeto!

Thanks for your time. The **@mat-datetimepicker** is just one example. What I am reporting here is angular cannot import an scss file inside a module that exists. To work I need to include node_modules in the path. It was working before in previous version.

If this behavior is expected now, I agree that should be closed but I don't think it should be.

[code]

Thanks in advance if

[2022-03-08 11:10] crisbeto commented on #24537
The `@import 'existing-style-file-in-node_modules.scss';` import fails, because it looks like a relative file path so the Sass loader doesn't know to look for it in the node_modules

[2022-03-08 13:42] vgb1993 commented on #20218
Same problem here, I run into unwanted valueChanges notifications when doing either FormGroup.PatchValue and FormGroup.SetValue with emitEvent: false. Looks like the controls are the ones firing the evnts.

Shouldn't this option be cascaded? What's the reason otherwise?

[2022-03-08 13:43] vgb1993 commented on #20218
What if we disconected the FormCobntrols from the FormGroup, then update and then reconect?

[2022-03-08 14:11] mrmokwa opened #24549 "bug(theming): elevation helpers not working when applied directly to components"
### Description

I want to replace the current elevation of mat-card (that has elevation of 1), since it doesn't match the elevation of mat-expansion-panel (that has elevation of 2).

If i try using the elevation helpers to override the elevation of card like the example below, the elevation is ignored, and the current elevation (1) is used.

[code]

Updating the elevation helpers to use a `!impor

[2022-03-08 16:33] andvasp commented on #24537
Ok. I just thought that this could continue working. All code below searches inside node_modules but the last one not because is a scss file.

Thanks!
[code]

[2022-03-08 17:32] lekhmanrus commented on #24549
Like a temporary workaround you could use ([StackBlitz](https://stackblitz.com/edit/angular-wkvanc-hekkvh?file=src%2Fapp%2Fcard-overview-example.scss)):
[code]

[2022-03-08 17:36] Vaishnavi1411 commented on #24405
Hi, I am Vaishnavi a contributor to OpenForce 2022. I would like to work on this issue. I would be making a PR as soon as I am done with resolving the issue. Thank you.

[2022-03-08 21:02] BenRacicot opened #24553 "docs-bug(COMPONENT): TITLE"
### Documentation Feedback

There seems to be a lot missing in terms of CDK documentation. Specifically after supposed fixes have been created.

https://github.com/angular/components/issues/13588
https://github.com/angular/components/pull/18082#pullrequestreview-342953142

Quick searches reveal that any combination of CDK components leave engineers lost.
CdkDragDrop and scroll help are completely

[2022-03-09 06:51] crisbeto commented on #24037
The fix will be in `@angular/material`, but we haven't made a release with the new code yet. It should be out later today/tomorrow.

[2022-03-09 09:20] dricks commented on #4942
Hi,
this fixes has a big drawback because now tooltips which are displayed over other buttons or links are really annoying.
Perhaps the behavior should have been to cancel the hideTimer if the cursor moves over the tooltip before the timer expires, and start the hide timer again when the cursor leaves the tooltip, without adding any overlay between the target element and the tooltip

[2022-03-09 09:25] Piyush132000 commented on #24471
Hii, if anyone not working on it then I would like to contribute I am new and want to contribute to the community.

Please reply.

[2022-03-09 13:51] aardrian commented on #4942
This is one reason why tool-tips are often frowned upon by experienced UI folks. They either hide valuable information behind an interaction, or present superfluous information and shouldn't be used.

As a developer, you can generally improve UIs by making them unnecessary and removing them. As a user, you can press `Esc` until those designs catch up.

[2022-03-09 15:16] Philmon22 opened #24556 "bug(COMPONENT): TITLE Tool tip showing a black tooltip on top of another."
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

13.2.3

### Description

We are getting tooltips with the latest material version. the Diagonal blank tool-tip doesn't exist in 13.2.3.
![image](https://user-images.githubusercontent.com/57812204/157470548-cb5d64f4-b562-4645-9e20-d61368372538.png

[2022-03-09 17:26] jdnichollsc commented on #19776
Hello folks, hope you're doing well 😄

It's working fine without a debounce workaround:
[code]

Happy coding! <3

[2022-03-09 19:53] ericmdantas opened #24559 "bug(mat-radio-group): Programmatically updating a form property with the same object value unchecks its mat-radio-button option"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When programmatically updating a form property that happens to be an object with the same previous value, the `mat-radio-button` gets unchecked. When the form property is a string or a number, there's no problem.

[2022-03-09 20:04] mrmokwa commented on #4190
Anybody knows if the new form (v14) fix this issue?

[2022-03-10 00:58] zarend commented on #24079
Closing as "Can't Reproduce". It seems that this may have been already fixed.

[2022-03-10 00:58] #24079 closed

[2022-03-10 17:05] #23964 closed

[2022-03-10 17:16] avrit commented on #13906
its is just a simple flag, can you add this?

[2022-03-10 19:02] Splaktar commented on #24037
This fix is included in [13.2.6](https://github.com/angular/components/releases/tag/13.2.6) and [14.0.0-next.6](https://github.com/angular/components/releases/tag/14.0.0-next.6).

[2022-03-10 19:03] Elvynia commented on #11478
@setbro-prg Your solution doesn't work for me, cdk-overlay-backdrop-showing does not exists (Angular 13.2.5).

I found a solution using Router events to empty the overlay container on each NavigationEnd event:
[code]

[2022-03-10 20:14] #11826 closed

[2022-03-10 21:38] zarend commented on #24230
I can reproduce this.

[2022-03-10 22:02] zarend commented on #8484
We've made some fixes to the focus trapping in the datepicker dialog lately, so this might have been fixed by #24300. I can verify this next time I have my chromebook with me.

[2022-03-10 22:12] maro1993 opened #24568 "bug(cdkTextareaAutosize): Resizing only works properly if material styles are included"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

**Reproduction steps**

Note: all Reproduction steps can be found in this [repository ](https://github.com/maro1993/resize-example-cdk)

1. Initialize project, install angular cdk 13.2.6, angular 13.2.6
2. create a

[2022-03-11 07:02] crisbeto commented on #24568
Material includes the CDK structural styles automatically, but if you don't use Material, you can import them yourself. You can use either `@import '@angular/cdk/a11y-prebuilt.css'` or `@use '@angular/cdk'` and then include the `cdk.text-field-autosize` mixin.

[2022-03-11 08:52] maro1993 commented on #24568
@crisbeto thanks, adding "./node_modules/@angular/cdk/text-field-prebuilt.css" solved this or like you mentioned @use '@angular/cdk' and then include the cdk.text-field-autosize. I will close this

[2022-03-11 08:52] #24568 closed

[2022-03-11 09:36] EliseiNicolae opened #24572 "error (Angular Material - datepicker): Type MatDatepicker is not assignable to type MatDatepickerPanel<MatDatepickerControl"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I got this error when I tried to add a [max] value to my mat-datepicker:
<img width="785" alt="image" src="https://user-images.githubusercontent.com/43387542/157841335-af88b86e-a25a-490d-b8b4-7a88655a0b44.png">

##

[2022-03-11 09:54] crisbeto commented on #24572
The error seems weird, but it's worth noting that the `min` and `max` are set on the `input`, not the datepicker.

[2022-03-11 10:15] FANMixco opened #24573 "docs-bug(Google Maps): how do you disable the default UI in Angular?"
### Documentation Feedback

I cannot find any example of the equivalent for this function:

https://developers.google.com/maps/documentation/javascript/examples/control-disableUI?hl=en

![image](https://user-images.githubusercontent.com/1666156/157847703-fa83be84-2b28-41ba-be13-470f748f2865.png)

It fails or something is not exposed.

### Affected documentation page

https://github.com/angular/com

[2022-03-11 10:20] FANMixco opened #24574 "docs-bug(Google Maps): How do you load directions dynamically?"
### Documentation Feedback

The current [instructions](https://github.com/angular/components/tree/master/src/google-maps/map-directions-renderer) are supposing you are using this type of coding:

[code]

However, what if you use the other option?

[code]

I cannot find any example with this option. Also, it doesn't support the then or other alternatives. My new app relies on maps, but it's not the

[2022-03-11 12:06] P-de-Jong commented on #24037
We have updated our applications to the new patch and everything seems to work as intended. Thanks!

[2022-03-11 14:14] HWouters opened #24577 "Dispatching MouseEvents is broken after upgrade from version 13.1.2 to 13.1.3"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

13.1.2

### Description

After upgrading from 13.1.2 to 13.1.3 our drag and drop tests are failing. It looks like nothing is happening and the events are ignored.
We are using Cypress in similar approach to here: https://stackoverflow.com/questio

[2022-03-11 14:59] T4YoO commented on #4942
Is that under option ? Because we need to keep the previous behavior..

[2022-03-11 15:57] aardrian commented on #4942
The previous behavior introduced a WCAG violation (per [comment](#issuecomment-1027324047)).

[2022-03-11 17:28] anojJCDC commented on #19083
For me it looks like not fixed for the version angular 13.1. If it is fixed, can you pls provide an example how to implement autofill feature. Thank you

[2022-03-11 18:06] anojJCDC commented on #19083
There's one workable solution given here. But the DDL shown without down arrow.
https://stackblitz.com/edit/angular-tuy3hc?file=app%2Fautocomplete-simple-example.html

[2022-03-11 19:56] crisbeto commented on #4942
There's the `disableTooltipInteractivity` config option if you want to disable the new behavior for your app.

[2022-03-11 22:12] louis-lau commented on #13906
Though I'm all for solving this issue, it doesn't sound like a solution to your performance problem. Are you using `trackBy`? For very very long lists that are simply too much for the browser I'd check out [virtual scrolling](https://material.angular.io/cdk/scrolling/overview).

[2022-03-12 09:09] crisbeto commented on #24533
That makes sense, it's how the `mousedown`/`touchstart` event works as well. I've sent out #24581 to fix it.

[2022-03-12 10:17] marcinmajkowski commented on #18970
Current implementation guarantees that lazy loaded module behaves the same, no matter in what application it is imported. I like the idea, although I do not think that there are many real world scenarios for this level of reusability. I agree this should be documented bettter and I agree this seem inconsistent with other Material components.

I see two solutions that can be used in applications:
*

[2022-03-12 10:20] hiepxanh commented on #18970
Angular 14 release with standalone component can solve the problem, I think

[2022-03-12 11:36] qlassalle commented on #19290
The issue is still present with:
* Angular 13.2.5
* Material 13.2.5

If it's not planned to fix it any time soon, it would be nice to indicate in the doc that this Harness is broken to avoid people wasting time on it, and wondering why their test is failing (what I experimented this morning).

[2022-03-12 15:58] #24533 closed

[2022-03-13 06:26] AmitParekh1771 commented on #24559
![image](https://user-images.githubusercontent.com/86157892/158047174-ec89e829-0a52-4e44-8649-1b0cc6287699.png)
![image](https://user-images.githubusercontent.com/86157892/158046942-c19a94a8-ec07-4c9a-a09b-e4b7144a07dc.png)

Here is the bug.
- File location: src/material/radio/radio.ts
- Line: 177, 187, 260
- Function name: ``value`` setter, ``_checkSelectedRadioButton``, ``_updateSelectedRadioFro

[2022-03-13 15:00] silver-mx opened #24583 "bug(MatSelect): Select with multiple selection in Firefox toggles the checkbox when a drag operation is started"
### Is this a regression?
 [x] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was
10.2.4

### Description

We are using MatSelect as presented in "Select with multiple selection" (see your [own example](https://material.angular.io/components/select/examples#select-multiple)), but we are adding drag-drop functionality to move the

[2022-03-13 17:17] #21742 closed

[2022-03-14 06:51] amitport commented on #15156
Could you please not close this without explaining why the angular component team does not plan on supporting the spec in this regard.

[2022-03-14 11:48] IslombekMe commented on #21678
There's a one pixel offset on the Start date input even on https://material.angular.io/components/datepicker/overview#date-range-picker-overview

[2022-03-14 17:24] #3616 closed

[2022-03-14 20:20] tomasdev opened #24590 "bug(mat-mdc-slider): thumb should use % instead of px"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

https://stackblitz.com/edit/angular-us2jqe-a7chp1?file=src%2Fapp%2Fslider-overview-example.ts

The thumb is not correctly positioned when resizing the container of a mat-mdc-slider. However, the track is.

### Repr

[2022-03-14 20:43] #24330 closed

[2022-03-14 23:45] #24026 closed

[2022-03-15 00:20] BenRacicot opened #24593 "bug(Drag and Drop): Adding items to a dropList while dragging breaks cdkDrag element layout"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Adding items to the dragList element while dragging causes miscalculation in their layout.

I've seen that "[infinite scrolling isn't supported](https://github.com/angular/components/issues/19003)". Combining the v

[2022-03-15 05:07] Kaizodo commented on #5648
its been 4 years and still no time picker option... Angular version is increasing and available plugins are decreasing

[2022-03-15 06:24] tu-hai commented on #5648
I think it will be released in 2202 lol

[2022-03-15 08:04] Hermholtz commented on #5648
Thanks to availability of robust and performant frameworks/libraries from other tech companies which actually **do** listen to their customers, I was able to migrate off from Angular and never looked back.

[2022-03-15 08:23] Hermholtz commented on #5648
Didn't unsubscribe. Doing it right now. Bye. BTW Are you from Google, or just have usual Angular-specific "Googleyness"?

[2022-03-15 09:35] paradox37 commented on #4190
The solution is simple here. Add this to your module:

`export class CustomMaterialFormsMatcher implements ErrorStateMatcher {
    isErrorState(control: FormControl | null, form: FormGroupDirective | NgForm | null): boolean {
        return !!(control && control.invalid && (control.dirty || control.touched));
    }
}`

providers: [
        {
            provide: ErrorStateMatcher, useClass: Custom

[2022-03-15 09:50] crisbeto commented on #24590
This is an issue in MDC, but we should be able to handle it on our side as well.

[2022-03-15 09:51] SadiinsoSnowfall commented on #4942
I also encounter the "tooltip are now displayed over other buttons" problem, especially when buttons are presented in mat-table columns. @crisbeto overriding the default `disableTooltipInteractivity` would be a global (as in it would affect the whole app/component) if I'm not mistaken. Would it be possible to add such an option to individual matTooltips ?

[2022-03-15 09:53] crisbeto commented on #4942
It shouldn't be a problem to provide it on a per tooltip basis, I just figured that this is something that you either want or don't want for the entire app. For what it's worth, you can also provide it at the component level through the `providers` property on `@Component`.

[2022-03-15 09:58] crisbeto commented on #24577
There haven't been any fundamental changes in `cdk/drag-drop` in a while and I don't see any at all between 13.1.2 and 13.1.3. Could it be something that has changed in your setup?

[2022-03-15 09:58] crisbeto commented on #24572
Closing since this looks like a user error. The issue can be reopened if there's new information.

[2022-03-15 10:02] crisbeto commented on #24546
Giving this a lower priority, because the idea is that you'd use either the `value` or a `FormControl`/`ngModel`, not both.

[2022-03-15 10:03] crisbeto commented on #24593
This is the same root cause as https://github.com/angular/components/issues/14703. `cdk/drag-drop` "locks in" the dimensions of the container at the start of the dragging sequence for performance reasons.

[2022-03-15 10:03] #24593 closed

[2022-03-15 10:07] #24478 closed

[2022-03-15 10:09] crisbeto commented on #24556
This isn't enough information to investigate. Can you provide a Stackblitz showing the issue?

[2022-03-15 10:10] crisbeto commented on #24574
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2022-03-15 10:10] #24574 closed

[2022-03-15 10:11] crisbeto commented on #24573
You should be able to use `[options]={disableDefaultUI: true}`.

[2022-03-15 10:11] #24573 closed

[2022-03-15 10:12] crisbeto commented on #24559
This is working as intended. We compare values by reference, not by shape. Also covered by https://github.com/angular/components/issues/10495.

[2022-03-15 10:12] #24559 closed

[2022-03-15 10:13] FANMixco commented on #24573
Hi @crisbeto, this should be added in the documentation as suggested.

[2022-03-15 12:33] #17130 closed

[2022-03-15 13:05] vitale232 opened #24597 "bug(cdk): `cdk-visually-hidden` CSS utility can affect presence/absence of parent container scrollbar on Chrome/Edge"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Per the [Angular Material Icon Guide](https://material.angular.io/components/icon/overview), "Indicator" icons should include a `span.cdk-visually-hidden` element as a sibling to the `mat-icon` to ensure the indica

[2022-03-15 14:33] SrgGs opened #24598 "help(cdk stepper): how add state step to ngfor steps"
### What are you trying to do?

`      <li
        *ngFor="let step of steps; let i = index"
        (click)="selectStepByIndex(i)"
        [class.active]="selectedIndex === i"

        <ng-container [ngTemplateOutlet]="step.stepLabel.template"></ng-container>
      </li>`

how to add add step state?

in cdk it is not possible only in mat :/

### What troubleshooting steps have you tried?

How add

[2022-03-15 17:44] HWouters commented on #24577
@crisbeto the problem is probably not in drag drop, but in handling mouseevents. I saw some changes related to that, but don't know if they are causing the issue.

[2022-03-15 18:44] BenRacicot commented on #14703
Thank you @crisbeto for referring my issue to this one. For the record here is a [Stackblitz](https://stackblitz.com/edit/angular-6mmern?file=src%2Fapp%2Fcdk-drag-drop-connected-sorting-example.ts) repro.

[2022-03-15 22:17] crisbeto commented on #24577
Handling of mouse events by which module?

[2022-03-16 06:20] crisbeto commented on #12070
Closing due to inactivity. The issue can be reopened if there's new information.

[2022-03-16 06:20] #12070 closed

[2022-03-16 06:37] daveyx commented on #8969
still an issue with angular 13, no margin is applied :-(

[2022-03-16 07:24] SrgGs commented on #24598
in cdk? nope :)

[2022-03-16 09:07] Dima-Astreyko commented on #24348
+1

[2022-03-16 09:25] EliseiNicolae commented on #24572
@crisbeto Hmm, but how can I set a [max] date value to my datepicker.

With [max] value I mean, the user will not be able to pick dates after that max date.

[2022-03-16 09:35] crisbeto commented on #24572
What I meant with the comment above is that you're supposed to put the `[max]` on the `input`, not the `mat-datepicker`. It's still going to apply to the datepicker once it is opened.

[2022-03-16 09:42] EliseiNicolae commented on #24572
@crisbeto But it is in the <input> tag:

![image](https://user-images.githubusercontent.com/43387542/158561707-3b5d2e86-da48-42a8-9bbc-2d6f3a86358f.png)

[2022-03-16 09:44] crisbeto commented on #24572
Oh, I'm sorry, I must've misread it. Reopening.

[2022-03-16 13:56] ducvu212 commented on #24392
![image](https://user-images.githubusercontent.com/20634152/158605558-32a88886-a1a4-42c6-b3be-d72ca252c6d1.png)
i get an error like image for mat-datepicker in spite of i imported other module in root module.ts file and remote module.ts. @alexanderwiebe can you help me :(

[2022-03-16 13:58] HWouters commented on #24577
I don't know the codebase and I might be completely wrong, but I was referring to #23493

[2022-03-16 14:03] crisbeto commented on #24577
If #23493 broke anything, it would've only prevented focus indication from showing up on some components. It wouldn't affect any other event listeners.

[2022-03-16 14:21] RListerberg opened #24603 "Change color on mat-radio-button in disabled state"
### Feature Description

Hi!
Maybe I'm missing that this is already possible to do but is it possible to change the color of a mat-radio-button that's set in a disabled state? Or does the disabled state overwrite all css which is applied to it?

Currently it turns the radiobutton into a slighty faded out gray but I would like to have it in a slighty faded out red.

### Use Case

We would like to u

[2022-03-16 15:11] HWouters commented on #24577
Then it has to be something else, bumping the installed version from 13.1.2 to 13.1.3 (@angular/cdk & @angular/material) breaks our drag/drop tests. It looks like mouseevents are ingored, nothing moves anymore after the update.

[2022-03-16 15:28] deftdawg commented on #20780
The requirement for 20 votes on something that was opened 2 years ago seems pretty impossible.  I think this feature is a still a good idea even though I've not been on the project that needed it for over a year myself.

[2022-03-16 15:51] wagnermaciel opened #24604 "docs-bug(mat-autocomplete): Incorrect tab title for optgroup example code"
### Documentation Feedback

### Steps to Reproduce
1. Go to the [Autocomplete optgroup Example](https://material.angular.io/components/autocomplete/examples#autocomplete-optgroup).
2. Click the "View Code" button

### Result
One of the tabs for viewing the code reads `./autocomplete-optgroup-example.html`.

<img width="1366" alt="Screen Shot 2022-03-16 at 8 46 07 AM" src="https://user-images.githu

[2022-03-16 15:52] #23524 closed

[2022-03-16 16:25] wagnermaciel commented on #24199
Closing as duplicate of https://github.com/angular/components/issues/20971

[2022-03-16 16:25] #24199 closed

[2022-03-16 16:26] zarend commented on #22524
Filed this [internally](http://b/224983850)

[2022-03-16 16:34] crisbeto commented on #24577
Is it possible that Cypress changed how they're dispatching events?

[2022-03-16 16:41] wagnermaciel commented on #20419
Closing as we have been unable to reproduce this and there has been no follow-up since Jan 7

[2022-03-16 16:41] #20419 closed

[2022-03-16 16:43] crisbeto commented on #24549
Usually we keep the specificity pretty low, but it's higher on the card in order to allow class overrides. E.g. you can set the `mat-elevation-z2` class directly on `mat-card` to change the default. If you want to use the mixin, you should bump up the specificity. I'm closing the issue, because things are working as expected.

[2022-03-16 16:43] #24549 closed

[2022-03-16 16:46] andrewseguin commented on #24538
Based on my investigation with this in another class, I don't think TypeScript supports that sort of inferred generic. However we've got some experts on the team who might be able to help

[2022-03-16 18:02] tek-moglykisvergad opened #24605 "bug(mat-chip): Accessibility issue: Interactive controls must not be nested"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When running the axe DevTools extension, any `mat-chip` that contains a button with `matChipRemove` has the following accessibility issue _Interactive controls must not be nested_.

The following screenshot gives m

[2022-03-16 19:24] HWouters commented on #24577
No, I narrowed it down to only this version update. If I install 13.1.2 it works, if I install 13.1.3 it doesn't.

[2022-03-16 22:24] #21480 closed

[2022-03-17 00:20] domsew opened #24609 "bug(mat-form-field): different heights depending on content"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

I observed that mat-form-field has different height depending on which control we use:
- `matInput` = 80px
- `mat-select` = 81px/83px
- `matDatepickerInput` / `mat-date-range-input` = 81.5px
- `matChipInput` = 81px

[2022-03-17 06:52] saimounikaperi commented on #15294
Hey, Is anyone working on this? If not, I will take it up

[2022-03-17 07:16] Rahkola commented on #22947
Any update on the publishing of MCD-based components? For now I'm using the following fix - where I apply global styles in my styles.scss file for the dark theme class 'my-dark-mode'.

[code]

[2022-03-17 10:30] crisbeto commented on #24577
I'm looking through the changelog between 13.1.2 and 13.1.3, and I really don't see anything that could break event handling.

[2022-03-17 10:44] #24317 closed

[2022-03-17 11:47] SGOmS opened #24612 "bug(mat-form-field): Input and Select have different height"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

If I put a Input-FormField next to a FormField with a MatSelect, there seems to be a height difference of 0.875px

![image](https://user-images.githubusercontent.com/50733002/158801044-c1ddfc15-e422-4504-a2cf-69a1f

[2022-03-17 12:50] HWouters commented on #24577
@crisbeto thank you for looking into this. I double checked it again, but it is really this version. I could narrow it even further to only @angular/cdk package. Here is a screenshot of my changes: only updating this single version breaks drag an drop testing.
![image](https://user-images.githubusercontent.com/1986905/158811920-c8291a0c-3ef4-4ee5-bde0-50bb890b2a6d.png)

[2022-03-17 13:36] HWouters commented on #24577
@crisbeto I think the issue is related to #23493. If I add buttons: 1 to my mouse events it works.
`
          element.dispatchEvent(<any>new MouseEvent('mousedown', { **buttons: 1**, bubbles: true }));
          element.dispatchEvent(<any>new MouseEvent('mousemove', { **buttons: 1**, clientX: 10, clientY: 0 }));
          element.dispatchEvent(<any>new MouseEvent('mousemove', { **buttons: 1**, cl

[2022-03-17 13:38] crisbeto commented on #24577
Interesting, I wonder if your test depends upon the extra change detection that is triggered by focus monitor. If that's the case, you may end up broken again by #15077 which is close to being merged.

[2022-03-17 15:34] jelbourn commented on #9035
I believe this is obsolete with the new focus trap implementation.

[2022-03-17 15:34] #9035 closed

[2022-03-17 17:50] Splaktar commented on #23983
`bazel-watcher` has been updated in [0.16.2](https://github.com/bazelbuild/bazel-watcher/releases/tag/v0.16.2) to support m1 macs! 🚀

[2022-03-17 18:00] Splaktar commented on #23983
If I bump

https://github.com/angular/components/blob/3deca241f994cab5837909a4410256a9e0541cda/package.json#L89

to `0.16.2`, I get farther but now I see this:
[code]

[2022-03-17 18:10] raisiqueira opened #24613 "docs-bug(Stepper): fix typo at accessible notes"
### Documentation Feedback

An error found at _Accessibility_ notes at Mat Stepper documentation.

_Prefer verticl steppers when building for small screen sizes,[...]_

**instead of**:

_Prefer vertical steppers when building for small screen sizes,[...]_

### Affected documentation page

https://v12.material.angular.io/components/stepper/overview#accessibility

[2022-03-17 18:15] dricks opened #24614 "bug(TOOLTIP): Tooltip hide animation appears even if show delay not reached"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

13.2.4

### Description

When using ShowDelay>0, and the cursor doesn't stay long enough to display the tooltip, when leaving the trigger element, the tooltip suddently appears and immediately starts the hide fade out animation.
Very disturbing w

[2022-03-17 19:55] GeorgeKnap opened #24619 "bug(form field): using *ngif on a form field breaks harness in tests"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

When using `*ngIf` directive on form field it somehow messes up harness which cannot find the component.
Please see the [Stackblitz demo](https://stackblitz.com/edit/angular-2nql7m?file=src/app/form-field-harness-e

[2022-03-18 05:20] nzbin commented on #13070
@manklu @josephperrott @andrewseguin
The [material extensions library](https://github.com/ng-matero/extensions) has added this component called `drawer` ([Online Demo](https://ng-matero.github.io/extensions/components/drawer/overview))

[2022-03-18 15:43] rehoulihan opened #24621 "bug(MatSelect): With Mac VoiceOver + Safari, mat-select is not expanding by hitting control + option + space keys"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Safari + VoiceOver does not open mat-select when you hit control + option + space keys. It works fine in Chrome, but not Safari.

### Reproduction

Steps to reproduce:

Access https://material.angular.io/components

[2022-03-18 16:33] grimurd commented on #8513
I was able to get this workin with nested forms. It's a simple solution with a custom error matcher. It only works a single level down unfortunately but that was enough for my use case.

[See it on stackblitz](https://stackblitz.com/edit/angular-lqqnqx?file=src/app/parent-form.ts)

[2022-03-18 17:27] #20903 closed

[2022-03-18 18:30] ovlad opened #24624 "bug(mat-chip): Ripple overflows on Safari"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

The ripple generated by clicking on a mat-chip element overflows.

### Reproduction

Steps to reproduce:
1. Enter from a Safari browser on the official Angular Material docs page of the mat-chip component (https://

[2022-03-19 00:18] realnatuki commented on #4942
This is ridiculous; my brother is one of 0.5%  people using custom large cursors giving me the same feedback. I'm building apps for 99.5% of normal people using standard ui setup! This break every layout that we have. I've posted a video example on another PR.

[2022-03-19 03:14] crisbeto commented on #24624
Sounds like something that'll be solved by https://github.com/angular/components/pull/21495.

[2022-03-19 06:36] arbiyanto commented on #6244
@MikaStark trying to work around with your example in material v13, but it doesn't change anything to the theme.

palette.scss
[code]

theming.scss
[code]

styles.scss
[code]

And I didn't change any code other than the color palette gray and night. But the end result is the component button and the expansion panel color are still same. Is there anything I missed?

[2022-03-19 09:55] pgeza commented on #20615
I suggest the following as a workaround.
to preserve: text-overflow: ellipsis;

`
.mat-form-field-label-wrapper .mat-form-field-label {
  overflow: hidden visible;
}
`

[2022-03-19 12:07] kevinpauer commented on #23881
Hey, @sikelerd, this issue seems to be resolved in the newer angular versions. Build it myself and produced the expected behavior :)

Environment:
- Angular: 13.2.7
- CDK/Material: 13.3.0
- OS: macOS

[2022-03-19 14:18] MikaStark commented on #6244
@arbiyanto that’s because you are using the old/deprecated way to declare a theme. You provide two arguments to your define theme function instead of providing one which should be a theme config.

[code]

[2022-03-19 14:47] arbiyanto commented on #6244
@MikaStark I see, thanks for the response! it's working now.

[2022-03-19 17:15] Doyalle commented on #7615
Great, but in this design, 1 and 100 is the same that first and last page. We don't need the two sign at the end.
The number is better cause we have the gain of the information.

We loose the gain of the proximity of the two arrows two (less moove of the mouse).
It will be great to have a reflexion of the good practice to have the less click to go to a page (like a page 75 and a page 25 ?

[2022-03-19 20:37] MikaStark commented on #6244
But I think you have pointed a real issue in my own workaround. I will modify it to not allow the old way as it may be confusing. ;)

[2022-03-19 23:39] Lonli-Lokli commented on #14897
Still no update? Is there any Ng libs?

[2022-03-20 13:46] lukaesch commented on #24151
Any updates on this bug?

[2022-03-20 16:18] geromegrignon commented on #24619
Hi @GeorgeKnap,

The proper syntax for the structural directive is `*ngIf`, not `*ngif`.
By fixing it, the test succeeds.

[2022-03-21 07:51] crisbeto commented on #24619
Closing since it's a user error. There's also this log in the console indicating that it's incorrect:

[code]

[2022-03-21 07:51] #24619 closed

[2022-03-21 08:01] AlirezaEbrahimkhani commented on #24604
@wagnermaciel
I think this problem is solved by this PR #24626.

[2022-03-21 11:49] ttma1046 commented on #10302
Hi, any updates?

[2022-03-21 14:35] Rugshtyne opened #24633 "feat(material): Support CSP, headers with style-src 'self'"
### Feature Description

Our current CSP implementation contains `style-src 'self'` which is not compatible with Angular Material. It would be great that Angular Material would support such CSP headers and, for example, as a solution have a possibility to add CSP nonces or would disable such inline injections. There was already an [issue](https://github.com/angular/components/issues/12139) created

[2022-03-21 16:14] jrkey commented on #15809
I think it is important to understand that changing a read-only (or even a disabled) input to a shade of gray is a poor solution. Just because the value is read-only doesn't mean it doesn't need to be equally as legible as normal inputs.  Gray text on a white background generally provides poor visual contrast making the text harder to read/view.

A read-only input should display as normal black te

[2022-03-22 04:49] seth0027 opened #24639 "docs-bug(cdk/accordion): accordion/api cdkaccordion property `id` type should be string"
### Documentation Feedback

Visit [https://material.angular.io/cdk/accordion/api#CdkAccordion](https://material.angular.io/cdk/accordion/api#CdkAccordion), notice under `Properties` `id` property should be `string` there like: `readonly id: string`.

<img width="1440" alt="Screen Shot 2022-03-21 at 9 37 56 PM" src="https://user-images.githubusercontent.com/57300750/159409709-6f0d0d19-535c-4882-b08

[2022-03-22 05:39] #10214 closed

[2022-03-22 09:14] thw0rted commented on #20785
Finally getting back to testing this, sadly it is not fixed.  [Updated example](https://stackblitz.com/edit/angular-4n4zda?file=src/app/button-harness-example.ts) -- same problem as the one linked in the original post, the tests never complete and eventually time out waiting for `loader.getAllHarnesses`, which never resolves because the component uses `interval`.  You can swap the commented-out li

[2022-03-22 09:30] AlirezaEbrahimkhani commented on #24378
@riteshwaghela
Hi ! as you can see in the PR review conversation both spelling are covered.
based on this [link](https://github.com/angular/components/blob/master/src/material/core/theming/_palette.scss#L671)

[2022-03-22 16:01] #24379 closed, assigned to nobody

[2022-03-22 16:29] andrewseguin opened #24643 "feat(multiple): Components should throw an error if their theme styles are missing"
Components should check whether their theme styles are included on the page and throw an error if they are missing. It is easy for application authors to add a new component to their application without remembering to include the appropriate styles in their theme file.

[2022-03-22 16:30] RobertAKARobin commented on #20548
May have been fixed by #24292?

[2022-03-22 18:26] AmitParekh1771 commented on #23354
This problem is cause by `src/cdk/overlay/scroll/block-scroll-strategy.ts` where we are programmatically adding a css class to `html` element as follow
[code]
Further, we are programmatically scrolling to the previous scroll position which helps to retain the scroll position.
![image](https://user-images.githubusercontent.com/86157892/159547876-ade05ab7-c605-4e23-ac60-3dc942e3b9d3.png)
Cause: This

[2022-03-22 19:38] crisbeto commented on #24643
We have the existing warning in the `MatCommonModule` that checks for the presence of a theme, but ask discussed, it's problematic to expand it into an error for the following reasons:
1. It isn't 100% reliable, because we don't know when the styles will be loaded. E.g. the theme could load after the app has been initialized.
2. The current approach only detects `mat.core`. If we wanted to expand

[2022-03-22 19:38] #24643 closed

[2022-03-23 11:08] SikderRakin opened #24649 "carousel slider need"
### Feature Description

We need very light weight customable carousel slider (example: multi card slider ,chips slider just like YouTube).

### Use Case

we can use it for banner image for product card slider, product category silder(chips)

[2022-03-23 16:00] Etienne-Buschong opened #24650 "help(mat-selection-list): can not achieve same ListKeyManager behaviour as in mat-select"
### What are you trying to do?

We are currently using mat-select with a search field provided by ngx-mat-select-search.

I am now trying to implement a similar search field functionality for mat-selection-list. Unfortunately, i am not able to achieve the same keyboard-navigation-behaviour as in the mat-select + ngx-mat-select-search combination.
In the mat-select case it is possible to have focus

[2022-03-24 06:05] crisbeto commented on #24604
Looks like the related PR was merged. Closing.

[2022-03-24 06:05] #24604 closed

[2022-03-24 10:26] JohanHeyvaert commented on #20599
Great that there is finally an adapter for date-fns.

Now it would be even more great if it would serve the same features.

For the moment (no pun intended) we are missing the option to disable the automatic timezone conversion. We need this for certain date fields (e.g. a birthdate).
With the MomentDateAdapter this could be done as follows:
[code]

It's possible that I've missed something and tha

[2022-03-24 13:29] #14597 closed

[2022-03-24 14:37] bentedder commented on #22428
Glad I found this issue, as I have a similar one. I'm on Angular 12.2.15 and Angular Material 12.2.13:

The test:
[code]

Karma headless: test passes fine
Karma with chrome runner: tests fail (Expected 0 to equal 1)

In order to get it to pass with the chrome runner, I have to change `await input.focus()` to `await input.enterText(' ')` which is not ideal or accurate to what is happening in the te

[2022-03-24 15:14] domsew commented on #24612
Related issue #24446

[2022-03-24 15:20] jgomesmv commented on #20246
I'm facing the same issue. The solution presented by @joelkesler works but there's some latency to enable to drop in the target drop list

[2022-03-24 15:22] jelbourn commented on #24633
Angular itself has this problem: https://github.com/angular/angular/issues/6361

That issue being addressed would be a prereq for components to tackle this.

[2022-03-24 15:26] jelbourn opened #24660 "docs-bug(theming): Strong focus indicator docs should demonstrate only showing from keyboard"
### Documentation Feedback

In the theming guide, we talk about strong focus indicators. Today, these always show by default. We should add an example that shows how to only show the strong focus indicators for non-pointer interactions.

### Affected documentation page

https://material.angular.io/guide/theming

[2022-03-24 15:36] Rugshtyne commented on #24633
@jelbourn I have seen this but having in mind that it's open for around 6 years already is quite concerning. Am I right by saying that Angular Material is using Angular style injection infrastructure? Maybe it's possible to add, for example, nonces as attributes from Angular Material side?

At the moment we're using a custom shared_styles_host implementation but it is a hacky and not future proof

[2022-03-24 15:45] UserR00T commented on #7072
Hi, is there anything blocking this issue? Would be an awesome feature to include!

[2022-03-24 15:48] alicequiros opened #24661 "bug(mat-button): Many buttons are losing their border in high contrast (forced-colors) mode"
### Is this a regression?

- [ ? ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

Uncertain

### Description

Many buttons (such as mat-button and mat-flat-button) lack a border in high contrast mode on Google Chrome. This makes it difficult for users who are vision impaired or who prefer HC mode to identify the buttons as i

[2022-03-24 18:07] #24230 closed

[2022-03-24 18:34] #24613 closed

[2022-03-24 22:14] crisbeto commented on #24661
Did you refresh after you enabled high contrast mode? Here's what they look like for me:
![Button__Angular_Material_-_Google_Chrome_2022-03-24_23-14-18](https://user-images.githubusercontent.com/4450522/160019016-d003ed19-dda5-4d5e-a07b-b1acf456cc87.png)

[2022-03-25 08:04] kevinpauer commented on #23983
Hey @Splaktar try changing "@bazel/ibazel": "0.15.10" to "@bazel/ibazel": "0.16.2" in your package.json. This worked for me. :)

[2022-03-25 08:20] kevinpauer commented on #23983
Had the same issue @Splaktar. Made it work for me following these steps.
1. After forking the most recent angular/components release, I first had to downgrade me node version to 16.x.
2. Followed [this guide](https://github.com/bazelbuild/bazel-watcher#compiling-yourself) to compile ibazel on my device (honestly not sure if it did anything)
3. Bumped up the ibazel version in my package.json from "

[2022-03-25 14:25] #24639 closed

[2022-03-25 15:48] #24414 closed

[2022-03-25 18:06] #24147 closed

[2022-03-25 19:02] sarthikg opened #24666 "bug(button-toggle): changing the name input on button-toggle-group with multiple causes the name on button-toggle components to override"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

In the `button-toggle` component, there is a bug where the implementation of name (HTML attribute) is inconsistent. A brief description for the bug is:

Incase of using the button-toggle *group* component with the

[2022-03-25 19:05] sarthikg commented on #24666
If required, I could open a PR for solving this issue

[2022-03-25 21:05] #24542 closed

[2022-03-26 14:14] achacofe commented on #4597
Good Morning, reading this issue I think that the new mdc theme is what I am looking for for a case of Angular applications in which they are displayed in a resolution of 1920px x 1080px at a scale of 125%, 150% and 200%, since With these scales obviously the components look bigger to me, for the reason that the viewport is reduced:

1. 125% -> 1536px x 850px

2. 150% -> 1280px x 690px

3. 200% ->

[2022-03-26 22:24] galdaka commented on #22411
Same problem with "eu" language.

dateAdapter.setLocale("eu") not work

[2022-03-27 01:53] #24590 closed

[2022-03-27 16:39] #17876 closed

[2022-03-28 10:43] crisbeto commented on #19437
The fix for this ended up breaking a lot of apps internally and it appears to be against the convention in the `ReactiveFormsModule` based on this warning https://github.com/angular/angular/blob/master/packages/forms/src/directives/reactive_directives/form_control_directive.ts#L75. Closing since reactive form controls should be disabled using the form control itself, not the `disabled` binding.

[2022-03-28 10:43] #19437 closed

[2022-03-28 15:00] #19173 closed

[2022-03-28 16:00] mrmokwa commented on #24476
@wagnermaciel could you assist @mnkprs with this issue?

[2022-03-28 18:33] Glazebnaya-Kristina opened #24680 "error sass in _theming.scss after angular material version update"
### What are you trying to do?

After update angular material I get an error

### What troubleshooting steps have you tried?

I'm updated node-sass to 7.0.1
I don't understand to do

<img width="439" alt="image" src="https://user-images.githubusercontent.com/46931114/160463435-009bd78f-ae15-4bfa-8fe7-3c7e2d980f8c.png">

### Reproduction

Steps to reproduce:
1.  Update angular/angular material to 1

[2022-03-28 19:21] vampyr09 commented on #23985
I very much like the idea.
In my company we "solved" this issue with a custom marker type `MatDialogInput<T>` to not depend on the property name of the field ("data").

It is used like this:
[code]

and then we pull the inner marker type out of all the constructor parameters.

We grap the return type of the dialog in the very same way (`MatDialogRef<D, R>`).

In the end our implementation looks li

[2022-03-28 20:26] allanatorr opened #24681 "Angular Material tooltip bug"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

11.2.13

### Description

Hello,

I found a bug in the newest version of angular material. If you hover fastly over a component (e.g. a button) which has a tooltip with a delay in it, it's nevertheless flashing and showing up the tooltip instantl

[2022-03-28 21:14] crisbeto commented on #24680
This error can happen if the palette that you're passing into the Angular Material theming mixins is incomplete.

[2022-03-28 21:57] amayer42 opened #24684 "docs-bug(CHANGELOG): changelog does not document all breaking changes"
### Documentation Feedback

Note: This is a documentation bug in the `changelog.md` file, not in `material.angular.io` itself.

I am currently upgrading one of my company's Angular applications from v11 to v12 and noticed that one of their internally published packages was depending upon an export (`'MAT_STEPPER_GLOBAL_OPTIONS'` from `'@angular/cdk/stepper'`). I assumed that this was a deprecation

[2022-03-28 21:59] wagnermaciel commented on #24476
Hi, sorry I don't currently have the bandwidth to work on this

[2022-03-29 03:37] #24128 closed

[2022-03-29 04:25] aminaelshazly86 commented on #9178
Is there any updates on this issues ? as I am facing the same issue

[2022-03-29 04:42] nikhil4326 opened #24685 "bug(Mat-Form-Field): Angular Material form field Long label overlapping with input text"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Angular material form field label overlaps with user entered text, Also long labels with fields have issue with responsiveness.

### Reproduction

Check stackblitz link: https://stackblitz.com/edit/angular-ar2ulq

[2022-03-29 05:59] volvachev commented on #24681
I think it's similar to this one. (#24614).

[2022-03-29 07:01] Makatumba opened #24686 "bug(LiveAnnouncer): not resolving promises"
### Description

Some LiveAnnouncer.announce('message') promises called more than once in sequence (with a delay < 100 ms) or in parallel are not resolved.

### Reproduction
Use StackBlitz to reproduce your issue:
https://stackblitz.com/edit/angular-ivy-xn9hkc

Call LiveAnnouncer.announce('message') more than once in sequence (with a delay < 100 ms) or parallel.

### Expected Behavior

All announc

[2022-03-29 07:10] Makatumba commented on #24686
Implemented workaround:

Provide a fix service as LiveAnnouncer in `app.module.ts`
[code]

Extend `LiveAnnouncer` in `LiveAnnouncerFixService`
[code]

[2022-03-29 08:42] infacto opened #24688 "feat(mat-form-field): Remove the label spacing or the center value if the label is not present."
### Feature Description

**Form field with label**
[code]
![default](https://user-images.githubusercontent.com/60390085/160569245-c3b3aeaf-c491-45c4-90e2-4eaa9d451d41.png)

**Form field without label (actual)**
[code]
![no-label](https://user-images.githubusercontent.com/60390085/160569255-ebe0549f-f8ab-4c4b-993c-6b02950be12f.png)

**Form field without label (expected)**
[code]
![expected](https:/

[2022-03-29 09:03] madmurl0c commented on #17438
This issue is still present in Angular 13.

Angular: 13.0.0
CDK/Material: 13.3.1
Browser: Google Chrome Version 99, Microsoft Edge Version 99
Operating System (e.g. Windows, macOS, Ubuntu): Windows 11

I reproduced the issue in the stackblitz mat-select example: https://stackblitz.com/edit/angular-1pnvan

It's _fixed_ if you select the `<div role="listbox"...>` and disable the `min-width` property

[2022-03-29 09:25] crisbeto commented on #24685
This custom style is breaking it:

[code]

Closing the issue since generally we don't encourage overrides like this.

[2022-03-29 09:25] #24685 closed

[2022-03-29 09:28] xavier-che opened #24689 "bug(matTooltip): tooltip doesn't disappear when mouseleave the selector"
### Is this a regression?

- [X] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

12.2.13

### Description

When mouseleave the selector, the tooltip should disappear, it would, but, in the case that the mouse is **between the selector and the tooltip**, the tooltip won't disappear in the latest version

### Reproduction

Step

[2022-03-29 11:16] mcbashie opened #24690 "bug(mat-date-range-input): JAWS-E goes to the end-date field first"
### What are you trying to do?

Hi,

I am using a mat-date-range-input and the client is using JAWS-E (Next Edit Box) to go from input-field to input-field.
JAWS-E however first goes to the end date and then to the start date.

Thanks&Regards,
Nelleke

### What troubleshooting steps have you tried?

As I thought I was going something wrong, I had asked a question about it on stackoverflow first.
h

[2022-03-29 13:02] Glazebnaya-Kristina commented on #24680
yes thanks, I found it. By default, the function assigned 700, but I didn’t have such a field

[2022-03-29 13:02] #24680 closed

[2022-03-29 13:24] vampyr09 commented on #24538
It should be possible using something like this:

[code]

Then the open call type becomes:
[code]

[2022-03-29 14:15] vpetrusevici opened #24693 "feat(ScrollDispatcher): Scroll sdk should use passive event listeners for scroll event"
### Feature Description

I found that Lighthouse test failed on "use passive event listeners" check.
Problem is in these lines https://github.com/angular/components/blob/460b25cad996447e6a48175265159d27bb33a133/src/cdk/scrolling/scroll-dispatcher.ts#L185
https://github.com/angular/components/blob/460b25cad996447e6a48175265159d27bb33a133/src/cdk/scrolling/scrollable.ts#L52
![image](https://user-ima

[2022-03-29 14:30] volvachev commented on #24689
Hi, the previous behaviour has been changed (#4942). Now `tooltip' does not disappear by default when the cursor moves to it.

If you want the previous behavior, use the `MAT_TOOLTIP_DEFAULT_OPTIONS` token and set `{disableTooltipInteractivity: true}`.

[2022-03-29 14:33] zelliott opened #24694 "docs-bug(tabs): Tabs documentation doesn't reflect latest changes"
### Documentation Feedback

https://github.com/angular/components/pull/24316 was submitted over a month ago to update some Material tabs documentation. I remember specifically checking and seeing this documentation live on https://material.angular.io/components/tabs/overview, a week or so after the PR was submitted.

Now, however, if I go to https://material.angular.io/components/tabs/overview, I

[2022-03-29 15:29] #24693 closed

[2022-03-29 16:58] mmalerba commented on #20785
Yeah the harnesses unfortunately don't really work for this type of situation today. It's something I'd like to try to design a solution for in the future, though I'm not sure exactly what that would look like. In the mean time you *might* be able to workaround it using the `manualChangeDetection` function: https://material.angular.io/cdk/test-harnesses/overview#change-detection

[2022-03-29 17:07] #23193 closed

[2022-03-29 19:17] luii commented on #5648
@jelbourn for a couple of days now i'm working on the Timepicker in my free time. It follows the Beta spec on [material.io](https://material.io/components/time-pickers) and almost has a11y built into it.
The API and how it's integrated follows the Datepicker but without the Range Selection Model. The Dial part is drawn with a Canvas, which is unfortunately not accessible, but my solution to this w

[2022-03-29 19:18] willherr opened #24699 "docs-bug(Icon): Providing additional information to search icons at https://fonts.google.com/icons and being a bit clearer on how to use the different styles (Outlined, Two Tone, etc.)"
### Documentation Feedback

I've used Angular + Angular Material for a few years now and only this year did I realize you can search for Material Icons at https://fonts.google.com/icons. This has made my life MUCH easier because the team at Google Fonts did an amazing job with their search / UI / etc. Probably a different issue to request, but it would be nice if Google Fonts gave you the `<mat-ic

[2022-03-29 21:50] andrewseguin commented on #13665
Closing since Edge has switched to Chromium since 2020 and this is likely obsolete

[2022-03-29 21:50] #13665 closed

[2022-03-29 21:50] andrewseguin commented on #11921
I expect this is no longer an issue with Edge Chromium

[2022-03-29 21:50] #11921 closed

[2022-03-30 00:29] zarend commented on #8484
I cannot reproduce this issue. Perhaps it was fixed by the recent work we do on the focus trapping.

If there are still problems, please reopen this issue or file a new bug report.

[2022-03-30 00:29] #8484 closed

[2022-03-30 01:42] andrewseguin commented on #24694
Odd, thanks for pointing this out. We are following a different process for our documentation releases and I wonder if there's a mixup going on. @devversion Looks like the content isn't matching the latest on the docs

[2022-03-30 01:56] andrewseguin commented on #24684
Thanks - it seems that v12 in particular missed a lot of breaking changes and I'm wondering if that's due to manual edits to the CHANGELOG when we released. @devversion Do you know whether the changelog automation looks at both `BREAKING CHANGES:` and `BREAKING CHANGE:`?

[2022-03-30 02:36] xavier-che commented on #24689
@volvachev thanks! it works!

_**app.module.ts**_
[code]

[2022-03-30 05:37] thiagoteberga commented on #10954
I solved the problem adding ::ng-deep.

[code]

[2022-03-30 09:28] hilnius opened #24701 "feat(mat-datepicker-typography): allow to customize font-size in the datepicker"
### Feature Description

Hello !

The datepicker-theme currently uses a default body font-size of 13px (see [_datepicker-theme here](https://github.com/angular/components/blob/13.3.x/src/material/datepicker/_datepicker-theme.scss#L199))

Which makes this not personalizable, as it doesn't come any of the [defined variables from the typography config](https://github.com/angular/components/blob/13.3.

[2022-03-30 09:49] hilnius commented on #24701
Just a note: I'm aware this can be customized with

[code]

but is there a reason to not make this depend on the config?

[2022-03-30 10:11] manu911 opened #24702 "bug(mat-button): Focus state doesn't pass the Non-Text Contrast Criteria from WCAG 2.1"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Current looking of a mat-button in focus state:
![image](https://user-images.githubusercontent.com/26325600/160801998-f3128dce-3b6f-4fb2-8e13-ec92614dcdef.png)

Current looking of a mat-checkbox in focus state:
![i

[2022-03-30 11:24] christophe-mailfert opened #24703 "bug(google-map): fitBounds need to run in setTimeout to apply"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Our app use a lot of GoogleMap and duno why the first loading of the map works correctly but all other with the navigation fail to fitBounds.
The only why i found to fix it is to wrap the fitbounds with a setTimeou

[2022-03-30 11:36] vnovikovaa commented on #11845
Please add `dense`. It will be very helpful

[2022-03-30 13:19] sergiotome commented on #23858
Is there any update on this? We are hearing similar concerns with color contrast for MatInput

[2022-03-30 14:00] #24686 closed

[2022-03-30 16:21] crisbeto commented on #24439
Duplicate of https://github.com/angular/components/issues/5712.

[2022-03-30 16:21] #24439 closed

[2022-03-30 16:27] kemalk89 commented on #15478
In our case all steps are completed / done. But the selected step icon AND all the step icons before should have a specific background-color. The remaining step icons should have a different color. The idea is to highlight visited and current step icons. So the ability to inject own classnames would be great. :-)

[2022-03-30 16:34] zarend commented on #24572
Hmm I can't seem to reproduce this. Here's my [stackblitz using 13.3.0](https://components-issue-blxhx1.stackblitz.io).

[2022-03-30 16:46] zarend commented on #24621
Assigning to myself to reproduce this and debug it.

[2022-03-30 16:59] zarend commented on #24702
Hello, thank you for the detailed investigation. Please use [Strong focus indicators](https://material.angular.io/guide/theming#strong-focus-indicators) to give the focus state more contrast.

[2022-03-30 16:59] #24702 closed

[2022-03-30 20:51] Achilles1515 commented on #19437
@crisbeto Can you reopen this issue?
In https://github.com/angular/components/pull/19705 you stated

This warning message is occurring with how the `MatSelect` component is **currently** structured; that PR solves the warning message and keeps it from appearing.

Please correct me if I am wrong, but there is currently no way to have the `FormControl` disable the `MatSelect`.

A separate binding to

[2022-03-30 20:58] crisbeto commented on #19437
I'm not sure what you mean by this, because the select has respected the `disabled` state of a `FormControl` since we first released the component. Here's an example: https://stackblitz.com/edit/angular-n4azj3?file=src%2Fapp%2Fselect-overview-example.html

[2022-03-30 21:17] crisbeto commented on #24572
It sounds like an issue with Webstorm which we can't do anything about. Re-closing the issue.

[2022-03-30 21:17] #24572 closed

[2022-03-30 21:26] Achilles1515 commented on #19437
@crisbeto It appears you are correct. Ignore my comments above about `MatSelect`.
I forked your example and made it closer to what we were doing, but it still works as you stated.

https://stackblitz.com/edit/angular-n4azj3-nfpryi?file=src%2Fapp%2Fselect-overview-example.ts

I'll just have to dig into our code further to figure out why the `MatSelect` isn't being disabled. Thanks for providing tha

[2022-03-30 23:08] zarend opened #24708 "docs-bug(datepicker): typo, missing a space in the date format section"
### Documentation Feedback

There's a typo in the " Choosing a date implementation and date format settings
" section of the datepicker docs. There is a missing space after "Customizing the parse and display formats".

<img width="887" alt="image" src="https://user-images.githubusercontent.com/7720245/160945292-1003a357-1d08-4397-b8c3-36137d583bc0.png">

### Affected documentation page

https://ma

[2022-03-30 23:12] zarend commented on #24708
This could be a good first-issue for new contributors. :)

[2022-03-31 00:13] Dreathorian opened #24709 "bug(DragAndDrop): Not working with row wrap"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

the list bugs out

### Reproduction

Steps to reproduce:
1.
2.
https://stackblitz.com/edit/angular-isjqv6-31dqhl?file=src/app/cdk-drag-drop-horizontal-sorting-example.css

### Expected Behavior

position gets calcu

[2022-03-31 05:01] zehavibarak opened #24711 "MatDateRangePicker reactive form reset emits changes"
### Is this a regression?

- [ ] Yes, this behavior used to work in the previous version

### The previous version in which this bug was not present was

_No response_

### Description

Reseting a reactive form with emitEvent: false, triggers valueChanges observable if a date range exists for the form.

### Reproduction

Form 1 is simple Reset with emit event false, no events
Form 2 with date-rang

[2022-03-31 05:36] crisbeto commented on #24709
Duplicate of https://github.com/angular/components/issues/13372.

[2022-03-31 05:36] #24709 closed

[2022-03-31 05:37] crisbeto commented on #24689
Closing since it sounds like it's working as expected.

[2022-03-31 05:37] #24689 closed

[2022-03-31 06:14] nikhil4326 commented on #24685
Even if we remove the override what would be other option?

[2022-03-31 06:20] crisbeto commented on #24685
I don't follow. Removing the override fixes the issue because the text doesn't wrap anymore.

[2022-03-31 07:07] nikhil4326 commented on #24685
Removing override fixes the overlap issue, but it doesn't fix the label issue as well. Complete label should appear on screen. If not, How end user will read the complete  field label? (if it long to appear on screen). check stackblitz: https://stackblitz.com/edit/angular-ar2ulq