[2020-09-17 04:04] weilinzung commented on #17828
@epelc thanks for that info. I am kind of new with Angular `providedIn: 'root'`, do you know any simple examples for that? thank you!

[2020-09-17 04:05] epelc commented on #17828
@weilinzung should explain it here https://angular.io/tutorial/toh-pt4

Basically run `ng new service GMapLoader` then move the `apiLoaded` field onto that and start using the service instead of the raw field on your components.

[2020-09-17 04:42] tp1906 opened #20595 "Mat-Dialog: Possible memory leak when dialog includes textarea, input, etc."
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/components-issue-yp5k44?file=src/app/dialog-overview-example-dialog.html

Steps to reproduce:
1. Run application, click on open dialog button
2. Enter text and close dialog, repeat this step.
3. Go to Chrome Memory tab and run head snapshot.  View MyDialogComponent and there are more than one instance created.
4

[2020-09-17 04:56] lorenzocovarrubiasjr commented on #9964
Having the same issue, any update?

[2020-09-17 06:26] crisbeto commented on #20593
The tooltip text is announced through the `aria-describedby` attribute, rather than the role.

[2020-09-17 06:53] nirkai commented on #20593
It's announce indeed..
But the role still have to be there.

You can see it [here ](https://www.digitala11y.com/tooltip-role/#:~:text=Description,tooltip%20after%20a%20short%20delay.).
Couldn't find it right now in the WCAG explicitly.

[2020-09-17 11:53] weilinzung commented on #17828
@epelc If use the service method and add to the shared map component, wouldn't still load `httpClient.jsonp('https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE', 'callback')` multiple times?

[2020-09-17 13:14] blended-ideas commented on #10387
@wagnermaciel

Can we reopen this?
Since a stackblitz issue has bee given.,

[2020-09-17 14:12] shure77 opened #20596 "matInput placeholder is missing since update to v10"
Since we did the update to Angular Material Version 10, the input placeholder was gone. When rendered in the DOM the placeholder attribute is missing. Attributes like ng-reflect-placeholder and data-placeholder are still there.

So this code:
<input matInput placeholder="Number" [(ngModel)]="number" (keyup.enter)="applyFilter()" />

Results into this:
`<input _ngcontent-jef-c239="" matinput="" cla

[2020-09-17 20:17] weilinzung commented on #17828
I had to move everything to the top top level, so I think that way could work for me.

[2020-09-17 21:10] dwolverton opened #20598 "bug(youtube-player): YT.Player is not a constructor"
This is an intermittent exception due to a race condition.

The problem is in [youtube-player.ts line 213](https://github.com/angular/components/blob/master/src/youtube-player/youtube-player.ts#L213). It checks `if (!window.YT)` but window.YT exists before window.YT.Player exists. There is an intermediate loading state where YT.loaded = 0. I believe a solution could be to change this if to  `if (!

[2020-09-17 21:34] jelbourn commented on #20598
@dwolverton great report, feel free to send a PR with your proposed solution

[2020-09-17 21:36] jelbourn commented on #20596
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

(this is a canned response)

[2020-09-17 21:36] #20596 closed

[2020-09-17 21:44] jelbourn commented on #20595
@tp1906 I tried this and found that, no matter what I did (entering text into the text areas or not), I couldn't reproduce this; there was only ever one instance of the dialog in the heap snapshot.

Do you have any other information for reproduction?

[2020-09-17 21:47] jelbourn commented on #20593
@crisbeto we should probably investigate whether adding `role="tooltip"` to the description element and see if that makes any difference for the readers we support. Probably just a new option/api in `AriaDescriber`.

[2020-09-17 21:53] tp1906 commented on #20595
Can you send me a screenshot of your heap snapshot?  I always see +2 or +3 after the mat-dialog. Do you think this could be an issue with chrome?

Sent from my iPhone

[2020-09-17 21:59] jelbourn commented on #20590
As a workaround, you should be able to create a directive that provides a new `MatDatepickerIntl` with the custom label for each instance, something _very roughly_ like
[code]

[2020-09-17 22:01] jelbourn commented on #20587
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

(this is a canned response)

[2020-09-17 22:01] #20587 closed

[2020-09-17 22:09] jelbourn commented on #20583
cdk-table doesn't officially support virtual scrolling yet (see https://github.com/angular/components/issues/10122). There's a contributor working on this, but we don't yet have an ETA.

[2020-09-17 22:09] #20583 closed

[2020-09-17 22:10] jelbourn commented on #20579
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

(this is a canned response)

[2020-09-17 22:10] #20579 closed

[2020-09-17 22:11] jelbourn commented on #20578
It's the animation.
https://angular.io/guide/animations

[2020-09-17 22:11] #20578 closed

[2020-09-17 22:12] jelbourn commented on #20576
This has been fixed in v10, it should just be `ScrollingModule`.

[2020-09-17 22:12] #20576 closed

[2020-09-17 22:16] jelbourn opened #20599 "feat(datepicker): Add additional date adapter implementations"
This issue tracks creating addition date adapter implementations in addition to the existing MomentJS implementation. Libraries to consider include:
- [ ] Luxon
- [ ] date-fns
- [ ] Day.js

[2020-09-17 22:16] jelbourn commented on #20569
Tracking this in #20599

[2020-09-17 22:16] #20569 closed

[2020-09-17 22:17] jelbourn commented on #18683
Tracking providing official alternatives to moment in #20599

[2020-09-17 22:17] #18683 closed

[2020-09-17 22:17] jelbourn commented on #18337
Tracking this in #20599 going forward

[2020-09-17 22:17] #18337 closed

[2020-09-17 22:17] jelbourn commented on #12321
Tracking this in #20599 going forward

[2020-09-17 22:17] #12321 closed

[2020-09-17 22:17] jelbourn commented on #10427
Tracking this in #20599 going forward

[2020-09-17 22:17] #10427 closed

[2020-09-17 22:18] jelbourn commented on #10278
Tracking this in #20599 going forward

[2020-09-17 22:18] #10278 closed

[2020-09-17 22:24] jelbourn commented on #20575
Actually going to mark as a duplicate of  #15696

[2020-09-17 22:24] #20575 closed

[2020-09-17 22:24] jelbourn commented on #15696
Seeing this now- I believe we should emit the event when the change comes from the user pressing Ctrl + A to trigger the select-all / deselect-all.

[2020-09-17 22:27] jelbourn commented on #20574
Thanks for raising this- I'm going to say that we'll leave this as-is for the time being (until ViewEngine goes away) since it's a no-op for Ivy users.

[2020-09-17 22:27] #20574 closed

[2020-09-17 22:28] jelbourn commented on #20557
@danieldflrss can you provide a reproduction on stackblitz?

[2020-09-18 00:38] cosminv6u opened #20600 "add BLUR to MatCheckbox"
MatCheckbox has only FOCUS method, not BLUR.

I want to control from keyboard the focus & blur of my checkboxes.
Please provide Blur method, not only Focus.

https://material.angular.io/components/checkbox/api#MatCheckbox

[2020-09-18 00:50] tp1906 commented on #20595
My apologies...I gave you the incorrect stackblitz in the original ticket.  Here is the correct one:  https://stackblitz.com/edit/angular-8fup8q?.  Though I want to point out that what I see in the heap snapshot while running in stackblitz is different when I run this via http://localhost:4200 which is compiled using vsCode.  Do you know why I see different heap snapshots when using these two meth

[2020-09-18 06:20] scarabedore commented on #20583
Changing the click handler from
[code]
to
[code]
and adding
[code]
did the job.

However, why aren't the changes automatically detected by Angular?

[2020-09-18 08:34] jpzwarte opened #20601 "bug(CdkTable): 10.2 has a breaking change wrt _VIEW_REPEATER_STRATEGY"
Our design system is still on Angular 9 (until angular 11 is released, then we can move to 10).

We cannot support CDK 10.2.* because it requires us to add `{ provide: _VIEW_REPEATER_STRATEGY, useClass: _DisposeViewRepeaterStrategy }` to our table component (which extends `CdkTable`). However, this is new code in 10.2 and thus we cannot use it.

The result is a table with no rows if you don't prov

[2020-09-18 09:40] bramvanoploo commented on #13614
We are having the exact same issue. Curious to know if there is a workaround or solution in sight?

[2020-09-18 11:17] andriyor commented on #20599
Consider of using [date-io](https://github.com/dmtrKovalenko/date-io)

[2020-09-18 17:52] mcalmus opened #20602 "bug(MAT-CHIP): Non-standard capitalizatin for tabindex"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

https://stackblitz.com/edit/components-issue-tmy3hw?file=src/app/example-component.html

#### Expected Behavior

What behavior were you expecting to see?

tabindex should be set using "tabindex"

#### Actual Behavior

What behavior did you actually see?

Must use tabIndex (capital I) to make ta

[2020-09-18 18:16] crisbeto commented on #20602
The casing is meant to match the way the native property is spelled. See https://developer.mozilla.org/en-US/docs/Web/API/HTMLOrForeignElement/tabIndex

[2020-09-18 18:53] mcalmus commented on #20602
What about this? https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex

[2020-09-18 18:53] mcalmus commented on #20602
What about this? https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex

[2020-09-18 18:53] mcalmus commented on #20602
What about this? https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/tabindex

[2020-09-18 18:56] crisbeto commented on #20602
That's an attribute which is case-insensitive. Angular actually has logic to map `tabindex` to `tabIndex`, because it's a common typo https://github.com/angular/angular/blob/11506491393d33ac808da78a3bbb3a8bc9fb5588/packages/core/src/render3/instructions/shared.ts#L983.

[2020-09-18 22:33] alekplay commented on #4609
@DanielHabenicht this is great, but it seems to remove my backdrop... 🤔 Upon removing the override the backdrop returns. Any idea how these are correlated?

[2020-09-19 00:35] jelbourn commented on #20602
Closing as working-as-intended. This is an unfortunate aspect of the web platform where the _attribute_ is all lower-case but the _property_ is camelCase.

[2020-09-19 00:35] #20602 closed

[2020-09-19 08:01] GnanaJeyam opened #20606 "Angular Material Mat-Dialog Content Need to Scroll down automatically Whenever its content grows."
####  I have multiple form-field inside my `<mat-dialog-content>`. The issue is with last Dropdown field.
####  Whenever I tried to expand the Dropdown field inside the `<mat-dialog-content>`.  My `<mat-dialog-content>` does not scroll down to the view.
#### My Mat-dialog looks like this:

![Screenshot (41)](https://user-images.githubusercontent.com/59681280/93662061-acc88d00-fa7a-11ea-963f-7bac3e

[2020-09-19 08:29] EdTech101 commented on #15781
every time that you have to use a component with two or more structural directives nested  (*ngIf, *ngFor) you have to utilize the ng-template component as a wrapper, the material design library uses that in some components, and that includes the tooltips, so in order to fix your issue you have to enclose whatever component that is being  rendered "dynamically" inside an ng-template (mat-tabs, any

[2020-09-19 08:47] souravsen247 commented on #10681
Hi Everyone, I did not find any way to change the line color using css on '.mat-stepper-horizontal-line'.
But I found a working solution for my project. Basically, what i did was, added a dynamic class in html.

HTML: `<mat-horizontal-stepper #stepper linear class="{{ 'last-edited-step-' + stepper.selectedIndex }}">`

And in CSS, i wrote,
[code]

Note: This works when you have a maximum 5 steps in

[2020-09-19 19:14] vladnis commented on #15650
I have the same problem with Angular Material  9.1.1. Is there a workaround this?

[2020-09-20 13:57] crisbeto commented on #20606
Closing, because this would be impractical to do on our end due to the following reasons:
1. We'd have to listen to any change in the DOM in order to do it, which would be expensive and likely inaccurate.
2. Even if we did have an efficient and accurate way of knowing when to scroll down, the behavior seems very arbitrary and likely doesn't won't apply to most apps.

You'd be better off doing it y

[2020-09-20 13:57] #20606 closed

[2020-09-20 14:04] crisbeto commented on #20600
We kind of set the precedent for this by adding a `focus` method in the first place. For future reference, we'd have to do the same in all the other components where we have `focus` methods.

[2020-09-20 14:07] crisbeto commented on #20572
I believe this is handled in the CLI. Transferring to the correct repo.

[2020-09-20 14:12] crisbeto commented on #20560
Looks like the issue is two-fold:
1. We don't have a way to programmatically add a no data row.
2. We have to add an example of how to use to the `table-wrapped` example.

[2020-09-20 14:14] crisbeto commented on #20567
@Achilles1515 is correct that the group only picks up top-level lists. This is by design so that we don't recursively connect any nested list. It's also worth noting that nesting doesn't work very well at the moment which is tracked in #16671.

[2020-09-20 14:14] #20567 closed

[2020-09-20 14:21] crisbeto commented on #20571
I'm not sure that this makes sense from an API standpoint, because passing in an observable to the button is no different than doing `stream.subscribe(() => dialog.close())` yourself. We already have the APIs so that you can implement it yourself and tailor it to your app's needs. You can do something like this:

[code]

Closing the issue since the feature request is too narrow to build into Mater

[2020-09-20 14:21] #20571 closed

[2020-09-20 14:24] crisbeto commented on #20564
It seems to work for me. Maybe the date that you're entering is invalid, based on your locale?

[2020-09-20 14:31] crisbeto commented on #20534
This isn't something that we currently support.

[2020-09-20 14:31] #20534 closed

[2020-09-20 14:34] crisbeto commented on #20593
If adding the role does make a difference, we'll definitely have to make some changes to `AriaDescriber`, because it currently tries to reuse elements that have the same message. That could be invalid if the element has a `role`.

[2020-09-21 05:32] scarabedore commented on #10122
Hi, based on work from @julienboulay , I have written a table implementation with virtual scroll and expandable rows: https://stackblitz.com/edit/angular-demo-ua53y8?file=src/app/my-table/my-table.component.ts

[2020-09-21 06:40] piernik commented on #10122
@scarabedore will sticky header work ?

[2020-09-21 07:17] munchkindev commented on #20564
@crisbeto thanks for replying. No, the date is inputted in the correct format for my locale.
The bug appears to be present on Firefox 80.0.1 (Stable) as well... I am using default browser settings.
I forgot to mention that I used Firefox 81.0b9 Developer Edition.

[2020-09-21 07:25] crisbeto commented on #20564
Can you post the exact text that isn't being validated for you? Also for reference, I was on Firefox 79 which updated to 80, but both were behaving correctly.

[2020-09-21 08:14] scarabedore commented on #10122
Yes: in the template, replace the header row with
[code]
and add
[code]
to the styles.

[2020-09-21 08:18] munchkindev commented on #20564
![grafik](https://user-images.githubusercontent.com/62607227/93745424-d1944000-fbf3-11ea-88ca-9b50209e1d41.png)

[2020-09-21 08:19] munchkindev commented on #20564
I am using the de-DE locale and there should be no error.

[2020-09-21 08:23] crisbeto commented on #20564
Does it happen on any other browsers, or is it just Firefox. It might be worth revisiting this once Firefox 81 hits the stable channel, but I doubt that it'll have much of an impact. For reference, it still seems to work for me:

![demo](https://user-images.githubusercontent.com/4450522/93745722-ab26d280-fbfc-11ea-99a3-eabc15b84b34.gif)

[2020-09-21 08:30] munchkindev commented on #20564
Maybe the bug is specific to the de-DE locale? It's just Firefox..

[2020-09-21 08:43] crisbeto commented on #20564
For what it's worth, that Stackblitz you posted above is set to `ja-JP`, but even changing it to `de-DE` works for me. I'll set the issue back to needing triage so we can revisit it once Firefox 81 comes out. It's worth noting that we don't really do any date parsing ourselves so even if it's a problem, we probably won't be able to do much about it. The date parsing is delegated to the `DateAdapte

[2020-09-21 08:50] Sam-Davis opened #20610 "Expandable table in tabs component, navigate away and navigate back from tab, causes all table rows to show expanded content"
If you put a table with expandable rows in a tab, then navigate away and navigate back, the table appears with all the rows expanded. On first opening of tab, there is no issue, so I'm guessing this is an issue happens when you navigate away, the table gets expanded (you have to then double click each row to hide expanded content).

Versions
 10.0.6 @angular/cli
10.1.3 @angular/material

[2020-09-21 09:04] crisbeto commented on #20598
I tried looking into this, but I wasn't able to reproduce it, even if I throttle the request for YouTube's API for long after the Angular app is done loading. I don't doubt that it's happening, but I have a hard time understanding what is going on, because the way we have the component set up is that it'll wait for `window.onYouTubeIframeAPIReady` to be called by YouTube itself. The only way it co

[2020-09-21 09:20] crisbeto commented on #20557
@danieldflrss your problem is that you didn't actually initialize the `radius` to `1000`, but you _typed_ it as `1000`. It should be `radius = 1000` instead of `radius: 1000`. Also it's worth noting that 1000 is fairly tiny for the zoom level that you've set on the map so it's a little hard to see, but it's definitely there once you zoom in.

[2020-09-21 09:20] #20557 closed

[2020-09-21 09:39] gopi532 opened #20611 "You should be able to add arbitrary class bindings to `md-header-cell` elements."
You should be able to add arbitrary class bindings to `md-header-cell` elements.

_Originally posted by @jelbourn in https://github.com/angular/components/issues/6470#issuecomment-322621918_

[2020-09-21 12:57] munchkindev commented on #20564
To anyone having a similar issue - apparently the problem was that I forgot to import the DateAdapter and other of the providings (just check the official documentation). I also needed to install `moment` and `@angular/material-moment-adapter` with `npm i`. After this the code works on every browser :-) Thanks for the date parsing explanation @crisbeto ! It's weird that the code doesn't work only

[2020-09-21 12:57] #20564 closed

[2020-09-21 13:01] crisbeto commented on #20564
It's all the same logic, but it's up to the browser to determine how they implement the `Date` class.

[2020-09-21 13:07] theorlovsky opened #20613 "feat(MatDateRangePicker): add ability to use a custom component inside a dialog/popup"
#### Feature Description

At the moment, the component that is used by the [`MatDatepickerBase._openAsDialog`](https://github.com/angular/components/blob/dfdf5cf7574a201b98b7e35ce770984527c790ee/src/material/datepicker/datepicker-base.ts#L500) and [`MatDatepickerBase._openAsPopup`](https://github.com/angular/components/blob/dfdf5cf7574a201b98b7e35ce770984527c790ee/src/material/datepicker/datepicke

[2020-09-21 13:20] Konayak opened #20614 "Change default behaviour of Angular Material Design <mat-select>"
#### Reproduction

I do have a simple <mat-select> form where users could choose between multiple options. If the user has selected an option and presses the enter key the submit button should be triggered.

Below is code sample of html.
`
<mat-card>
<mat-card-content>

        <form class="example-form" [formGroup]="docForm" (keyup.enter) ="docForm.valid && docForm.dirty && update())">

[2020-09-21 14:24] tkeenoy commented on #14597
Is this issue still open?

[2020-09-21 14:54] JCollerette opened #20615 "bug(mat-label): Upper case letters with accent are truncated when used in mat-form-field"
#### Reproduction

https://stackblitz.com/edit/components-issue-utk4dr?file=src%2Fapp%2Fexample-component.html

![image](https://user-images.githubusercontent.com/71652570/93783184-6cdbe400-fbf9-11ea-8a79-0fb61964ded9.png)

Steps to reproduce:
1. Use capital letters with accent as Label in an Input Form Field

#### Expected Behavior

To be able to see the accents

#### Actual Behavior

The accents

[2020-09-21 15:28] vmuresanu commented on #10084
Issue still persists in Angular 10.
Same for me, nothing from above proposed solutions work

[2020-09-21 15:36] captaincaius commented on #14597
looks like the PR was never merged.  I'm still using a workaround like https://github.com/angular/components/issues/14597#issuecomment-449149385

[2020-09-21 17:42] TheParad0X commented on #17177
Same Problem here.

[2020-09-21 18:25] cgatian commented on #20600
@crisbeto we recently ran into this with one of our internal (non Angular Material) components. The consumer wanted us to add a blur method. However, blur is much harder to do than focus because when you blur default browser puts focus on the body. This is terrible for accessibility (screen reader situations and users using a keyboard). We opted **not** to provide a blur method because it generall

[2020-09-21 19:13] ajtowf commented on #20574
Great call, better to leave faulty docs as-is than accepting the PR that's ready to be merged with the suggested clarification made by @crisbeto.

[2020-09-21 19:14] wosevision commented on #14850
I also have a variation of this problem; the situation is different but the result is the same.

I have a `FormGroup` with three controls; each control needs to be represented as one radio button. Basically, exactly [this setup as described in the Angular docs](https://angular.io/api/forms/RadioControlValueAccessor#using-radio-buttons-with-reactive-form-directives) but with three different `formCo

[2020-09-21 21:15] dwolverton commented on #20598
I'll try to have another look in the next few days to see if I can find a way to get a sample that reproduces it and also maybe a PR.

[2020-09-21 22:47] mwawrusch opened #20623 "bug(CDK DragAndDrop): Occasional Fatal Error similar to closed issue #19359"
#### Reproduction

Drag and drop a few times (5 to 20). The error below pops up.  Looks similar to closed issue 19359

Code looks like this:

[code]
#### Expected Behavior

No bugs...

#### Actual Behavior

What behavior did you actually see?

[code]
#### Environment

- Angular: 10.0.12
- CDK/Material: 10.1.3
- Browser(s): any
- Operating System (e.g. Windows, macOS, Ubuntu):  any

[2020-09-22 02:37] ahmadalfy commented on #20599
Voting for `date-fns`. Moment.js entered maintenance mode.

[2020-09-22 02:47] KaJasB opened #20624 "CDK Platform always return true for ANDROID for all platform"
`"@angular/cdk": "9.2.4"`

[code]
![image](https://user-images.githubusercontent.com/16483904/93839828-5ba5dc80-fcb8-11ea-97e4-3dae1a475271.png)

[2020-09-22 05:41] sushmamca18 opened #20625 "how to remove box shadow from mat-card on hover"
.mat-card:not([class*=mat-elevation-z0]){
    box-shadow: none;
}
.mat-card:not([class*=mat-elevation-z0]):hover{
    box-shadow: none!important;
}

i tried above css code to remove box- shadow but none of it helped
can anyone help me to remove the box-shadow
thanks in advance

[2020-09-22 05:46] crisbeto commented on #20623
It's a little hard to deconstruct what might be going on based on the code alone. Can you post an example that shows it breaking? You can open one of the examples from the docs (https://material.angular.io/cdk/drag-drop/examples) and fork it on Stackblitz.

[2020-09-22 05:55] crisbeto commented on #20625
The code you post above seems to be working (see https://stackblitz.com/edit/angular-ouvcjk?file=src/app/card-overview-example.ts). There might be something else in your app that's messing with it (e.g. view encapsulation).

[2020-09-22 05:55] #20625 closed

[2020-09-22 06:00] ErVishalM commented on #20434
Hi @jelbourn @crisbeto can you please help me in this.
Thanks.

[2020-09-22 08:09] csaicharan opened #20628 "ERROR in Cannot read property '0' of undefined after Material update"
I just updated the Angular material from 8 to 10 and then this error pops up, The following are the angular angular dependencies in package.json.

	"@angular/animations": "10.1.0",
		"@angular/cdk": "^10.2.2",
		"@angular/common": "10.1.0",
		"@angular/compiler": "10.1.0",
		"@angular/core": "10.1.0",
		"@angular/fire": "^5.2.3",
		"@angular/forms": "10.1.0",
		"@angular/localize": "^10.1.0",
		"@

[2020-09-22 08:43] idotj commented on #3106
Quick fix in case you have more than 1 <mat-autocomplete> in your component:

In your .html
`<input (focus)="onFocus(0)" ... >
<input (focus)="onFocus(1)" ... >
<input (focus)="onFocus(2)" ... >`

In your .ts
`import {ViewChildren, QueryList} from '@angular/core';
import {MatAutocompleteTrigger} from '@angular/material/autocomplete';

@ViewChildren(MatAutocompleteTrigger) autoComplete: QueryList<M

[2020-09-22 08:46] acherniak opened #20629 "mat-hint is not aligned"
Steps to reproduce:
Add &lt;mat-hint [align]="'end'">test&lt;/mat-hint>

#### Expected Behavior

Aligned to the end

#### Actual Behavior

Aligned to the start

#### Environment

- Angular: 10.1.2
- CDK/Material: 10.2.2
- Browser(s): Any
- Operating System (e.g. Windows, macOS, Ubuntu): Windows

[2020-09-22 09:09] TheParad0X commented on #11765
The only workaround that worked for me is:

<mat-accordion [@.disabled]="true">

Thanks @chipicow

[2020-09-22 09:27] codacy20 commented on #13613
any update on this PR?

[2020-09-22 09:40] Johannitor opened #20630 "bug(mat-selection-list): Check icon is not properly aligned when using zoom levels below 100% on firefox"
![Missalignment at 90%](https://user-images.githubusercontent.com/50795659/93865057-0f619900-fcc6-11ea-8649-0c76c8036331.png)

We encountered this bug within our application (Angular 9.1.9 & Material 9.2.4) but it can easily be reproduced on the official Angular Material docs for the latest version (Angular 10.1.0 & Material 10.2.2).

#### Reproduction

Docs page where this can be reproduced: [htt

[2020-09-22 11:17] Davitigs opened #20631 "docs(material/dialog): add documentation for MAT_DIALOG_DEFAULT_OPTIONS"
#### Reproduction

Steps to reproduce:
1. provide MAT_DIALOG_DEFAULT_OPTIONS in the module
2. provide useValue. (ex. disableClose: true - see the following code)
{
      provide: MAT_DIALOG_DEFAULT_OPTIONS,
      useValue: <MatDialogConfig>{
        disableClose: true,
      },
    },

#### Expected Behavior

What behavior were you expecting to see?

Configs should be set along with the default va

[2020-09-22 11:22] Lolmewn opened #20632 "FocusMonitor TypeError: Cannot read property 'remove' of undefined (classlist)"
While using @angular/cdk ~10.2.2 and @angular/material ^10.2.2 I keep encountering the following error:
[code]

The error occurs when I navigate from one page to the other. I noticed the MatTooltip class in the stacktrace, and I'd like to note that while many of the components on the page use tooltips, none were active during the time of navigation (this was instigated by a div with routerLink ins

[2020-09-22 11:49] piernik opened #20633 "bug(CDK - draggable): Dragging element above hidden element"
#### Reproduction

https://stackblitz.com/edit/angular-dragging-hidden-elements?file=app%2Fcdk-drag-drop-sorting-example.html

Steps to reproduce:
1. Drag element `3` above `1` - order is wrong because element 2 is hidden

#### Expected Behavior

Hidden elements should be binded to previous visible one and taken into calculations of current index

#### Actual Behavior

[2020-09-22 12:13] Ronll commented on #20598
I am having the same issue, can confirm that @dwolverton 's fix works (`if (!window.YT || !window.TY.Player)`)

made a pr in case it helps :)

[2020-09-22 12:19] crisbeto commented on #20632
Can you post the element that you're attaching the tooltip to? I think that this could happen if it's on an SVG element and you don't have a polyfill for `classList`.

[2020-09-22 12:26] Lolmewn commented on #20632
@crisbeto Of course. I searched for instances of matTooltip in *.html files, the following elements use matTooltip:
[code]

Since you're suspecting SVG elements, perhaps the tooltip on the mat-icon is the issue? This specific tooltip is hidden most of the time (only shows when an error occurs while loading data from some backend) though.

[2020-09-22 12:32] crisbeto commented on #20632
Thanks, none of these are using SVG in a way that would break it. `mat-icon` isn't a problem either, because the `svg` node is inside the `mat-icon` node. The one that looks suspicious is the `*matTooltip="'DELETE' | translate"` since prefixig the `matTooltip` with a `*` will turn it into a comment node. You should be able to change it to just `[matTooltip]="'DELETE' | translate"`. Can you try it

[2020-09-22 12:38] Lolmewn commented on #20632
@crisbeto This does indeed seem to fix the issue. Thanks for your help! I hope this helps to track down any potential bug/issue with the (mis)handling of Angular components.

[2020-09-22 12:58] mwawrusch commented on #20623
You can use the same example from the other issue:

https://stackblitz.com/edit/angular-9-material-drag-drop?file=src%2Fapp%2Fapp.component.html

Broke after 4 d&d attempts for me.

[2020-09-22 13:22] devversion commented on #20628
Hello! Thanks for this issue! Unfortunately this issue does not provide enough information. Can you please create another issue showing:

* A stack trace if there is one?
* The full error message
* The commands you explicitly ran (e.g. did this happen during ng update or ng serve)

[2020-09-22 13:22] #20628 closed

[2020-09-22 13:24] devversion commented on #20624
@KaJasB Can you please let us know what version of Chrome you used? I wasn't able to see this on my end.

[2020-09-22 13:31] paxforce commented on #20599
+1 @ahmadalfy go for date-fns!
It's lightweight & fast.

[2020-09-22 13:37] JounQin opened #20634 "bug(Table): Observable `dataSource` with `trackBy` works unexpectedly on first change inside callback"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/angular-ivy-3wsjyf

Steps to reproduce:
1. Open console panel
2. click `reverse` button, `xxx` logged without table content changes
3. click `reverse` button again, `xxx` logged and table content changes
4. If we remove `trackBy` or `setTimeout`, it will work as expected

#### Expected Behavior

What behavior we

[2020-09-22 14:11] JounQin commented on #20634
Workaround: use `async` pipe to transform `dataSource` into normal collection.

[2020-09-22 14:29] sushmamca18 commented on #20625
Css code
.services-breadcrumb{
    margin-top: 10%;
}

.headerContainer
{
    margin-top:450px;
}

.products-div{
    padding: 1em 0;
    background-color: #f3f3f3;
}

/** Filters Style Starts here **/
.productbanner2
{
    padding-top: 20px;
}

.productbanner2 .sort-btn {
    background: #ffffff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(226,226,226,0.25), 0 1px 2px rgba(226,226,226,

[2020-09-22 14:30] sushmamca18 commented on #20625
html code
<div class="loading"  *ngIf="processBar">
  <mat-spinner class="loading-image"></mat-spinner>
</div>

<div class="container-fluid banner0 bannertop" style="position: relative; ">
  <div class="row carousel slide " [ngClass]="getCarouselClass()" data-ride="carousel" id="quote-carousel">

    <ol class="carousel-indicators">
      <li data-target="#quote-carousel" data-slide-to="0" class="

[2020-09-22 14:32] sushmamca18 commented on #20625
thankyou crisbeto

i posted my html and Css code in above
could you please check once where i am going wrong

[2020-09-22 17:37] klemenoslaj commented on #18581
I was about to open an issue and ask for a contribution to it. Happy to find it in a good state already 🎉

---

@jelbourn sorry for mentioning you directly. I realize this is still experimental, but I did find two issues looking at the code:
- selection wouldn't work well with `mat-paginator`
- selection is connecting to `DataSource` directly

**Selection with mat-paginator**

Probably the selecti

[2020-09-22 18:24] mtpultz commented on #20599
I'm hoping by subscribing to this feature request for updates with Moment entering end of life that this doesn't mean I'm going to get a bunch of emails with everyones vote/opinion on which adapter implementation should be considered based on your own personal preference.  Seems more logical to expand the list put forth by @jelbourn like @andriyor has since it wasn't included in the original list,

[2020-09-22 21:13] wagnermaciel commented on #20634
@JounQin This is working as expected. Because you are using the OnPush change detection strategy, you'll need to call `markForCheck`. See this stackblitz on how to set that up.

https://stackblitz.com/edit/angular-ivy-kafnao?file=src%2Fapp%2Fapp.component.ts

[2020-09-22 21:13] #20634 closed

[2020-09-22 21:21] mmalerba commented on #20631
This seems to be working, here's a stackblitz showing it: https://stackblitz.com/edit/angular-dxw9c8?file=src/main.ts

[2020-09-22 21:26] wagnermaciel commented on #20630
Won't fix. This bug will be fixed by the mdc version of the component

<img width="1526" alt="Screen Shot 2020-09-22 at 2 24 39 PM" src="https://user-images.githubusercontent.com/25158423/93939250-5d36cb00-fcdf-11ea-8925-a3e2b917ec93.png">

[2020-09-22 21:26] #20630 closed

[2020-09-22 21:27] sammaphey commented on #20623
I was able to reproduce this is an angular component. Specifically when you utilize a table and have elements inside of the table rows that are drag and droppable.

[2020-09-22 21:28] mmalerba commented on #20629
Confirmed this issue https://stackblitz.com/edit/angular-mtjdtn?file=src/app/form-field-hint-example.html

[2020-09-22 21:41] mmalerba commented on #20614
The linked stackblitz seems to be for something else. Please provide a reproduction for this issue.

[2020-09-22 21:43] mmalerba commented on #20613
This is something that we want to add support for, we don't have a timeline yet though

[2020-09-22 21:44] wagnermaciel commented on #20615
As a workaround, you can add this to `styles.scss` to fix the issue.

[code]

https://stackblitz.com/edit/components-issue-tuxkbf?file=src%2Fstyles.scss

[2020-09-22 21:47] mmalerba commented on #20549
This seems to be the example in question: https://github.com/angular/components/blob/master/src/components-examples/material/tree/tree-nested-overview/tree-nested-overview-example.html

Seems like a good issue for a community contribution

[2020-09-22 21:51] mmalerba commented on #20524
I don't think there's enough evidence that this is an issue with Angular Material and not just an issue with the particular application. If you are able to come up with a minimal reproduction that shows the issue is with Angular Material, we'll be happy to take a look.

[2020-09-22 21:51] #20524 closed

[2020-09-22 21:57] mmalerba commented on #20505
This sounds like probably just differences in how browsers handle mouse wheel scrolling. Normalizing this behavior across browsers is outside the scope of Angular Material.

[2020-09-22 21:57] #20505 closed

[2020-09-22 22:09] jelbourn commented on #20633
@crisbeto is there anything we can actually do about this?

[2020-09-22 22:11] jelbourn commented on #20632
Closing since this seems to be resolved / working as expected.

[2020-09-22 22:11] #20632 closed

[2020-09-22 22:12] SimonGAndrews commented on #15577
@lnu
Thanks, using  $event.stopPropagation()  worked for me.

` (click)="inputProcess = null ; $event.stopPropagation() " `

[2020-09-22 22:14] jelbourn commented on #20611
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

(this is a canned response)

[2020-09-22 22:14] #20611 closed

[2020-09-22 22:15] jelbourn commented on #20610
This issue doesn't have enough information for the team to investigate. Can you include a StackBlitz reproduction?

[2020-09-22 22:21] jelbourn commented on #20555
This is happening because your `ngFor` is binding to `getSelectedChallenges()`, which is creating a new array instance every time, so the values in the selection model aren't seen as the same.  The `SelectionModel` from the cdk just uses reference equality when doing comparisons.

[2020-09-22 22:21] #20555 closed

[2020-09-22 22:26] jelbourn commented on #19990
We don't have anything in Angular CDK that would manage tab order for you. You could explore adding "dummy" elements that capture `focus` and redirect into the overlay, or potentially exploring manual `tabIndex` numbers for the whole page (which is generally not a great idea). Going to close since this isn't really a bug with the overlay itself.

[2020-09-22 22:26] #19990 closed

[2020-09-22 22:27] jelbourn commented on #19506
@prtk9 without a reproduction there's not much we can investigate. Is there any way you can provide a StackBlitz?

[2020-09-22 22:34] Akxe commented on #19990
@jelbourn This was never marked as bug, but rather as “help”. How about adding the ability to create origin for the overlay used by select? It would solve the tabindex...

[code]

[2020-09-22 22:35] jelbourn commented on #10387
@crisbeto it looks like the block scroll strategy only deals with top-level scrolling and not other scrolling containers on the page. Did we do that intentionally? I don't remember the reasoning from the time.

[2020-09-22 23:37] JounQin commented on #20634
@wagnermaciel Thanks for reply, but I'm not sure to understand, why it works as expected when I remove `trackBy` or add `async` pipe?

[2020-09-23 00:11] mwawrusch commented on #20623
Great, thank you.
This is a show stopper for us that prevents us from releasing a major part of our app to production, is there a chance for a hotfix?

Thanks
Martin

[2020-09-23 00:39] wagnermaciel commented on #20634
`trackBy` allows you to optimize your table by controlling the check for differences in data changes. In your implementation, you are returning `item.id` which never changes, thus the table does not trigger an update. If you want the change to happen when `item.name` changes, you should return `item.name` from `trackBy`.

What is more surprising here is that the table updates at all on subsequent

[2020-09-23 02:20] JounQin commented on #20634
@wagnermaciel Or can we call `rowView.markForCheck()` inside at https://github.com/angular/components/blob/master/src/cdk/table/table.ts#L629 on record changes? (It would work.)

[2020-09-23 05:56] Davitigs commented on #20631
Please try to click on "Open Dialog" button when your popup is already opened:
1. There is no backdrop
2. You can open the same popup over and over again without closing the previous one.
However we both know that by default the backdrop is set to true and in this case there is no backdrop.

[2020-09-23 06:05] zijianhuang opened #20637 "bug(matIcon): not inline well in Dialog Title"
#### Reproduction

Use any StackBlitz link at https://material.angular.io/components/dialog/examples

Then past the following:
[code]

#### Expected Behavior

automatically sizing the icon to match the font size of the element the icon is contained in.

#### Actual Behavior

Icon is rendered well in dialog content, but not in dialog title. And worse, the top and the bottom of the icon gets truncat

[2020-09-23 08:49] crisbeto commented on #20633
We _can_ do something about it since we measure the elements when dragging starts and we can skip the ones that are invisible. I've been hesitant with adding that logic, because doing so will cause the dropped event to emit incorrect indexes. For example, if there's a template that looks like this:

[code]

And we assume that `items = [0, 1, 2]` and the element for `0` is hidden for some reason. I

[2020-09-23 08:51] crisbeto commented on #10387
Yes, that was intentional since it was unclear what would happen if a scroll container was placed inside an overlay that blocks scrolling. Historically we didn't really need to block scroll on any other containers, because the overlay backdrop prevented users from interacting with the elements.

[2020-09-23 11:21] JohnKis opened #20639 "bug(MatInput): Safari password autofill UI not shown"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/components-issue-catfhd?file=src/app/example-component.html

Steps to reproduce:
1. Click on the first password input field
2. Click on the second password input field

#### Expected Behavior
The Safari autocomplete UI should be visible on both password inputs.

#### Actual Behavior
The Safari autocomplete UI is

[2020-09-23 11:21] JohnKis commented on #20639
Possibly related to #17677

[2020-09-23 12:39] bbarry commented on #20599
I am wondering if the material components repo is the right place for these things. IMO material should publish the api interface and encourage community contributions for the adapter services. Perhaps an endorsement program or something would be nice with a path to being mentioned in the documentation (a similar system could be useful for a number of projects that I've seen die stale code deaths

[2020-09-23 13:04] BobbyJoStefflTR commented on #13018
This issue no longer has a pull request associated, will this be revisited?

[2020-09-23 14:06] nzbin commented on #14621
You can use `matMenuTrigger` and `matMenuTriggerFor` to achieve this.

[https://stackblitz.com/edit/angular-material-menu-position-aside](https://stackblitz.com/edit/angular-material-menu-position-aside?file=src%2Fapp%2Fmenu-overview-example.html)

[2020-09-23 15:13] wagnermaciel commented on #20634
While that would work, it would defeat the purpose of using `trackBy`. You'd be updating on every change regardless of what you are returning from `trackBy`.

[2020-09-23 16:02] Achilles1515 commented on #20623
I followed this StackBlitz, updated the dependencies, enabled Ivy, and am not seeing any errors when drag and dropping (Chrome). After doing these steps, is there a specific sequence of drag-drops you can do to replicate the error?

@sammaphey Can you post a StackBlitz?

[2020-09-23 16:41] Achilles1515 commented on #20633
@piernik
As a workaround, hide the element by means other than `display: none`.

Ex.
[code]

[code]

[Forked StackBlitz](https://stackblitz.com/edit/angular-dragging-hidden-elements-19by3v?file=app%2Fcdk-drag-drop-sorting-example.html) with this implementation.

[2020-09-23 17:22] john-- opened #20641 "Question: can we expect @angular/material-moment-adapter to be deprecated?"
This isn't an issue. Just a question.

I use @angular/material-moment-adapter in my Angular project. It's been brought to my attention that the Moment.js project is basically being deprecated and they encouraging others to find an alternative. Does this mean that the same can be said for @angular/material-moment-adapter? Should I start looking for a replacement?

[2020-09-23 18:25] #20601 closed

[2020-09-23 20:25] mmalerba commented on #20631
There is no automatic merging of your override with the default options. If you want to keep the rest of the default options just merge them when providing the value:

[code]

See: https://stackblitz.com/edit/angular-dxw9c8-2sxvwj?file=src%2Fmain.ts

[2020-09-23 20:30] Davitigs commented on #20631
why then such automatic merging is happening when the configs are provided in the .open() method?

[2020-09-23 20:45] mmalerba commented on #20631
When you call `open` with a config it merges the given config with the default config. In your case you're overriding the default config, so it merges that with your custom default: `{disableClose: true}`

[2020-09-23 20:51] Davitigs commented on #20631
I understand that, however in the official documentation there is no info provided for the case when the custom config is provided in the module, you can figure that out only when investigating the source code, I think would be better to somehow include that aspect, it is not intuitive.

[2020-09-23 20:52] mwawrusch commented on #20623
For me, it happens completely randomly. Sometimes after 4 d&ds, but then one time it took more than 20.

[2020-09-23 21:59] hisham opened #20642 "bug(mat-card): align in mat-card-actions can be set to 'middle' but get error "Type '"middle"' is not assignable to type '"start" | "end"'.""
#### Reproduction

Steps to reproduce:

Set align property of mat-card-actions to 'middle'

#### Expected Behavior

Buttons are aligned in middle of view with no errors.

#### Actual Behavior

Buttons are aligned in middle of view, but I get these errors in terminal:

[code]

#### Environment

- Angular: 10.1.3
- CDK/Material: 10.2.2
- Operating System (e.g. Windows, macOS, Ubuntu): macOS

[2020-09-23 22:12] PHPadawan opened #20643 "help(Theming): Is it possible to apply a dark theme to the scrollbar?"
Hello,

I am trying to apply a dark theme to the scrollbar because it does not go along with a dark theme.

<img width="115" alt="13cea3a5481b8a3a8141772912b59e62" src="https://user-images.githubusercontent.com/12775942/94074847-5a7cc880-fdfa-11ea-99a6-04863f5f952a.png">

I tried it with a mixin but it seems, once its loaded, it does not change. Is it even possible with the cdkScrollable to archiv

[2020-09-24 02:51] mbtestfeed opened #20644 "docs-bug(youtube-player): prevent multiple adding of youtube iframe script"
#### Documentation Feedback

Change YoutubePlayer documentation to prevent multiple (unnecessary) load of the https://www.youtube.com/iframe_api

**Affected documentation page:** https://github.com/angular/components/blob/master/src/youtube-player/README.md

I have a use case where I potentially load the component containing the YoutubePlayer multiple times, and as such the documentation as writte

[2020-09-24 09:24] GitHubish opened #20647 "bug(DRAG&DROP): The cdkDropList should be accessible when moving an element"
I have a kanban board (like Trello) with columns that are collapsable. If a column is collapsed and I hover it when I move a card, I make it uncollaplle. However, at that point the `cdkDropListContainer` does not allow me to "drop" the card from within.

Initially the `cdkDropList` element was "masked" with an `*ngIf` directive, I replaced it with the `hidden` attribute and then I tested with just

[2020-09-24 09:27] oscarlagatta opened #20648 "Angular Material's component harnesses support for Jest and Cypress"
What support is available out of the box for Jest and Cypress as I can only see support for Karma unit tests and Protractor.
https://material.angular.io/guide/using-component-harnesses

[2020-09-24 11:21] acgrama opened #20650 "bug(MatRadioGroup): Cannot use a <mat-radio-group> inside a <mat-form-field>"
#### Reproduction

https://stackblitz.com/edit/components-issue-czttdw

#### Expected Behavior

I want to be able to use a **mat-radio-group** inside a **mat-form-field**:

[code]

In the linked StackBlitz, I have also added a **mat-select** inside a **mat-form-field**; this works correctly, and this is how I would expect **mat-radio-group** to work, too:

[code]

#### Actual Behavior

The radio b

[2020-09-24 12:55] Achilles1515 commented on #20647
The hidden attribute/class would be the better way to go here versus an `ngIf` completely destroying/recreating a drop list mid-drag.

I believe there are no out-of-the-box ways to accomplish what you need. So you'll have to call some private APIs to refresh the client rects of the drop container(s) since you changed their dimensions/locations on page.

Perhaps running something like this immediat

[2020-09-24 13:19] matze1234 commented on #3335
for nested mat-tab-groups with dynamicHeights works with this workaround using *ngFor :

[code]

[2020-09-24 13:46] daviddomingoslalom commented on #18002
Any more insight into this issue? @dickp solution used to work for Material 8, but in Material 10 I am getting the same issue again.

[2020-09-24 14:32] folterung opened #20651 "IQ Server picking up "smart-webcomponents-angular 7.1.0" from this project"
My team is using Angular Material in our project and for some reason our IQ Server is picking up an issue with licensing for "smart-webcomponents-angular 7.1.0" which it believes is coming from this project (below is a screenshot). I have searched the dependencies and cannot find any mention of it.

I apologize for such a bizarre question but any insight into why this may be occurring would be ext

[2020-09-24 18:23] BruneXX commented on #2574
Hi All, I'm experiencing the same issue using Control Value Accessor with a material autocomplete, for now the only solution is to apply the above directive mentioned by @sambaptista ?

[2020-09-24 18:39] Achilles1515 commented on #19919
@crisbeto @laserus
I believe this one can be closed.
[StackBlitz from OP with updated dependencies](https://stackblitz.com/edit/angular-nd8jwz-rr1et6?file=src%2Fapp%2Fmodal-basic.html) no longer showing the issue.

[2020-09-24 18:39] Splaktar commented on #20641
I believe their post was that MomentJS is done, not dead. I don't believe that we have plans to remove the adapter in v11 or v12, so you shouldn't need to be in a rush to migrate to something that doesn't exist (see https://github.com/angular/components/issues/20599 for progress on adapters for other date libraries). Once those other adapters are done, then you would be free to use the one that wo

[2020-09-24 18:39] #20641 closed

[2020-09-25 09:09] kyubisation opened #20659 "feat(migrations): reuse CDK migrations for our libraries"
#### Feature Description

Concerning the internal migration framework in src/cdk/schematics/ng-update/{data|migrations}:
We would love to be able to reuse this for our library, however some migrations specifically check for @angular/cdk or @angular/material (e.g. ClassNamesMigration => isMaterialImportDeclaration).
Would it be possible/acceptable to make the packages configurable?

#### Use Case

[2020-09-25 09:22] alexschilpp commented on #19776
Having the same problem. Any news on this?

[2020-09-25 09:39] niccolofanton commented on #2574
Yes

[2020-09-25 12:20] dabbid commented on #9728
Facing same issue, with version 10.0.2 of @nguniversal/express-engin. This solution works indeed, however reading [angular's doc about absolute urls](https://angular.io/guide/universal#using-absolute-urls-for-http-data-requests-on-the-server), we shouldn't have to do this, unless I'm missing something...

[2020-09-25 12:53] alexDevBR commented on #9527
A workaround for this issue is to declare:
`@ViewChild(MatTable, {static: false} table: MatTable<any>;`

And then use:
`this.table.renderRows()`
whenever you update the property that `when` depends on.

[2020-09-25 13:22] ErVishalM commented on #20434
Hi, I wanted to tell that, This is solved in latest version below is package.json.

[code]

[2020-09-25 13:22] #20434 closed

[2020-09-25 13:23] emmbee7806 commented on #19776
Unfortunately, I wouldn't expect it to be fixed soon. Only option as of now is to filter manually. Shouldn't be too hard with the observable operators.

[2020-09-25 13:36] BruneXX commented on #2574
I think my issue is a bit different... Material/ReactiveForm is completely ignoring the required validation when I'm using the CVA so also I'm passing errorStateMatcher but still not work... The input is not getting red borders and neither the asterisk, it's like is a not required input.. any suggestion to deal with that?

[2020-09-25 13:36] cosminv6u commented on #20600
Focus also puts 2 classes on the checkbox component: cdk-focused cdk-keyboard-focused
I need these to be removed as well when I press ESC.

[2020-09-25 13:49] cgatian commented on #20600
Why don't you listen for ESC and focus the body or other container element?

[2020-09-25 13:51] cosminv6u commented on #20600
I did that. But the 2 classes 'cdk-focused cdk-keyboard-focused' remained on the checkbox and it appeared as it's still focused.

I even tried to add a dummy mat-checkbox to focus that instead and it worked, but if I make the checkbox display: none;, it doesn't work anymore.

So I would need to get the focused checkbox and manually remove those 2 classes and it already feels too much ..

[2020-09-25 14:07] cgatian commented on #20600
@cosminv6u if you make a stackblitz I can try to assist

[2020-09-25 14:41] crisbeto commented on #20600
For what it's worth, you should be able to do `document.activeElement.blur()`. Note that doing so will kick the user's focus back to the `body` which can be confusing if they're navigating with a screen reader.

[2020-09-25 15:42] behuda opened #20661 "bug(MatExpand): Newly added item to panel not toggle able"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/angular-tn6hwr

Steps to reproduce:
1.  Open console then type `window.foo()`

#### Expected Behavior

The last added panel is not toggle-able on click of the header, you must click outside for it to toggle properly.

#### Actual Behavior

Should toggle on click of header

#### Environment

- Angular: 10.1.3
- C

[2020-09-25 16:17] cosminv6u commented on #20600
@crisbeto thanks, it worked!

[2020-09-25 18:46] BobobUnicorn commented on #13054
Is this considered fixed now?

[2020-09-25 19:23] samthe13th commented on #8992
Also having an issue with this

[2020-09-26 09:22] AwesomeObserver commented on #20599
`date-fns` of course

[2020-09-26 09:32] andriyor commented on #20599
https://twitter.com/dmtrKovalenko/status/1254414963306909699?s=20

[2020-09-26 10:36] Akshar11 commented on #12793
Please update the documentation .

[2020-09-26 15:51] roberto-github-ctrl opened #20671 "I have the same issue even I've already imported MatRadioModule into my module"
I have the same issue while I've already imported MatRadioModule into my module

_Originally posted by @meysam-mahmoodi in https://github.com/angular/material.angular.io/issues/308#issuecomment-571456153_

[2020-09-27 13:22] mutasemAHmad commented on #12891
guys i cant solve this issue :(

[2020-09-27 15:03] crisbeto commented on #20642
`middle` isn't a supported value since it isn't something in the Material Design spec.

[2020-09-27 15:03] #20642 closed

[2020-09-27 15:12] crisbeto commented on #20661
It's because `foo` is being run outside of the Angular zone. You can fix it by changing it to this:

[code]

[2020-09-27 15:12] #20661 closed

[2020-09-27 15:17] crisbeto commented on #20643
We don't provide pre-made scrollback styling, because it can't be done reliably across browsers. You can write your own styles based on top of our themes by following the theming guide: https://material.angular.io/guide/theming.

[2020-09-27 15:17] #20643 closed

[2020-09-27 15:22] crisbeto commented on #20637
I don't think that this is something that the dialog title was meant to do, but it seems like a reasonable request. Also it may be fixed in the MDC dialog implementation.

[2020-09-27 15:23] crisbeto commented on #20659
Needs discussion since this is something that should probably be provided by the CLI team.

[2020-09-27 15:32] crisbeto commented on #20647
I believe this is covered by https://github.com/angular/components/issues/14703.

[2020-09-27 15:32] #20647 closed

[2020-09-27 15:32] crisbeto commented on #20650
This isn't something that is currently supported.

[2020-09-27 15:32] #20650 closed

[2020-09-27 15:39] crisbeto commented on #20651
There is no mention of that package anywhere in our project so it's probably an issue on your end. It might be a package that you depend on that in turn depends on `@angular/material`.

[2020-09-27 15:39] #20651 closed

[2020-09-27 18:46] manu-058 opened #20663 "Form field examples don't set an explicit `appearance` which is not super discoverable"
#### Reproduction

StackBlitz to see the issue: https://stackblitz.com/edit/angular-2eacrh?file=src/app/form-field-appearance-example.html

Steps to reproduce:
1.  create a simple input control.
2.  for the mat-form-field, do not provide any value to the 'apperance' attribute.

![Screenshot (498)](https://user-images.githubusercontent.com/38914354/94372947-8ca26900-011f-11eb-8cff-ed5b897e21d5.png)

[2020-09-27 19:30] zijianhuang commented on #20637
@crisbeto

Thanks for understanding. As described at https://material.io/components/dialogs#full-screen-dialog, icon is used in Title only with a button in full screen dialog.

Having a icon well supported in the title of small dialog will cover more complex business scenarios. I see it is an slight extension of Material Design, or in other words, Material Design does not discourage such applicati

[2020-09-27 19:40] crisbeto commented on #20663
I believe that's the case, because we have this in the generated Stackblitz template:

[code]

I'm guessing the reason was that we want to discourage people from using the `legacy` appearance, because it's deprecated. @mmalerba is this something we should address? It feels like the examples should reflect the defaults accurately, instead of coming with their own defaults.

[2020-09-27 22:28] manu-058 commented on #20663
my bad.
I did not observed that.

[2020-09-28 06:30] mackelito commented on #2574
@BruneXX have you checked so that your control is correct? does {{ yourControl.errors }} contain an object?

[2020-09-28 06:33] crisbeto commented on #20623
@mwawrusch are you sure that you're on the latest version of `@angular/cdk`? I'm seeing the same as @Achilles1515 where it break consistently with the provided Stackblitz, but it stops as soon as I update it to `^10.2.0`.

[2020-09-28 08:53] helmbold opened #20665 "bug(tree): Leaf nodes are not collapsed if top-level folder is collapsed"
#### Reproduction

The bug is reproducible with the flat tree example in the [official documentation](https://material.angular.io/cdk/tree/overview). What is the same as the respective [Stackblitz example](https://stackblitz.com/angular/kerxmngqjav?file=src%2Fapp%2Fcdk-tree-flat-example.ts).

Steps to reproduce:
1. Expand "Vegetables" node and then "Green" and "Orange" nodes.
2. Collapse "vegetabl

[2020-09-28 09:27] crisbeto commented on #19395
The `MatMenuHarness` extends the `ContentContainerComponentHarness` now which resolves this issue.

[2020-09-28 09:27] #19395 closed

[2020-09-28 11:38] crisbeto commented on #13514
This doesn't seem to be an issue anymore. Here's a Stackblitz running the latest version https://stackblitz.com/angular/oalmroannoy?file=src%2Fapp%2Fchips-input-example.ts.

[2020-09-28 11:38] #13514 closed

[2020-09-28 12:41] mackelito commented on #20341
What if you don't want to have the FromGroup?
My structure is that the formgroup is created in a parent component and then I just pass the control and name..

[code]
I just have access to the control and not the formgroup, this to get greater flexibility when reusing the form elements components

[2020-09-28 13:28] rmcsharry commented on #13070
Here is a stackblitz of how (for now) you can re-purpose the sidenav to get a right-side drawer. Not exactly the same as what this feature request is about, but it's something at least:

https://stackblitz.com/edit/material2-sidenav-positioning

(not mine, credit [here](https://stackoverflow.com/questions/50312185/how-can-i-set-angular-6-material-sidenav-to-open-right-to-left-from-the-right-si))

[2020-09-28 14:44] dwolverton commented on #20598
I have been able to create a stackblitz that reproduces and illustrates the issue. https://stackblitz.com/edit/components-issue-2tnqui?file=src%2Fapp%2Fexample-component.ts The example-components.ts file has three different points where the YoutubePlayer can be created by setting `this.videoId`. One is early enough to work, one is late enough to work, and one is right at the time when this failure

[2020-09-28 15:10] dvanschepdael opened #20669 "bug(COMPONENT): Toggle sidenav menu modifies tab-ink position"
#### Reproduction

https://stackblitz.com/edit/angular-ivy-cddatp?file=src/app/app.component.html

Steps to reproduce:
1. Toggle menu button

#### Expected Behavior

What behavior were you expecting to see?
The mat-ink-bar in a mat-tab well centered

#### Actual Behavior

What behavior did you actually see?
Toggle the mat-drawer menu modifies the mat-ink-bar position in the mat-tab

#### Environme

[2020-09-28 15:28] dvanschepdael commented on #20669
Sorry I was wrong repository, it is a bug for material

[2020-09-28 15:28] #20669 closed

[2020-09-28 16:47] BruneXX commented on #2574
Hi @mackelito yep, it already has an object and it's correct, but I've already solved that, subscribing it to statusChanges of the parent form, the sad thing is that I've to pass the parent fromGroup in order to subscribe, unfortunately I haven't found other way to make it work.

[2020-09-28 17:25] James-Vanguard opened #20670 "onKeydown(event) requires deprecated attribute event.keyCode."
# 🐞 bug report

### Affected Package
The issue is caused by package @angular/cdk/fesm2015/a11y.js

### Is this a regression?
No, but the previous version supported the event.keyCode and event.which attributes, which were not deprecated before but are now

### Description
The onKeydown(event) function

## 🔬 Minimal Reproduction

     _                      _                 ____ _     ___
    / \

[2020-09-28 18:21] mackelito commented on #2574
This is exactly what I hope to avoid 😬

[2020-09-28 18:23] BruneXX commented on #2574
@mackelito haha me too, but sadly I don't have too much time to review that.. I had to go with that approach until found another way.

[2020-09-28 18:26] mackelito commented on #2574
@BruneXX I have been trying on and off for like 2 days now.. not sure I can put more time on it 😄

[2020-09-28 18:33] Totati commented on #16760
My similar issue: https://github.com/angular/components/issues/17016

[2020-09-28 19:03] mackelito commented on #2574
@BruneXX Wohoo.. I just solved my issue.. almost to simple.. I just needed to add the [formControl]...
`[formControl]="ngControl"`

[code]

So only thing missing was to attach the formcontrol to the input.. Badabom badabing! :D
Hope it helps you as well..

[2020-09-28 19:07] BruneXX commented on #2574
@mackelito Excellent! :+1: I've tried something like that some days ago, but I've ran into the circular dependency like you said in your code comment and I've leaved as it was, maybe I'll give this a second try later. Thank you!

[2020-09-28 19:10] mackelito commented on #2574
@BruneXX sounds like you are using the provider for NG_VALUE_ACCESSOR?.. if so.. remove it :)

[2020-09-28 19:30] mackelito commented on #2574
FYI.. it works but another error in the console...
[code]
Not sure yet what it referes to :)

[2020-09-28 19:51] TrevorKarjanis commented on #15651
Thank you for pointing that out. I was able to workaround the issue by giving the table a minimum width instead.

[2020-09-28 20:21] Totati commented on #2574
Hi, this is my long used solution, I used to think making a library of it, but now that they're making changes to store validators without composing.

### 2 directives  handling change

[code]
### Custom validator that uses `Validators.required` inside;
[code]

### 2 monkey patch for clearing the state
[code]

[2020-09-28 20:45] James-Vanguard commented on #20670
Thanks for your help Andrew

[2020-09-28 21:26] mmalerba commented on #20665
This looks like an issue for the cdk flat tree example. The material flat and nested tree examples work fine, and the cdk nested tree example works fine.

[2020-09-28 21:32] mmalerba commented on #20639
We intentionally hide input decorations for things like the number input spinner because they don't look great with the Material UI. Though in this case it does seem to take away an important bit of functionality. We should probably add some exception to not remove this on Safari.

[2020-09-29 02:51] troywweber7 opened #20675 "feat(schematics): allow for using @nrwl/nx generate on @angular/material add schematic"
#### Feature Description

`@nrwl/nx` is becoming more popular for managing mono-repos. However, `nx` doesn't have an `nx add` command, only an `nx generate` command. It would be nice to have some sort of schematic alias that would allow the `ng add @angular/material` logic to be run within an `nx` mono-repo.

There are some hurdles to overcome. At the moment, you can only run `ng add @angular/mate

[2020-09-29 06:34] Vladislav-wn opened #20676 "Сomponent library"
Very weak component library ...
There are few components, no basic settings, all sites look the same ...

It is even indecent to compare:
Vue:
https://quasar.dev/
https://vuetifyjs.com/en/
React:
https://material-ui.com/

[2020-09-29 07:21] crisbeto commented on #20676
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2020-09-29 07:21] #20676 closed

[2020-09-29 07:44] mackelito opened #20677 "bug(mat-form-field): Cannot set property validator of [object Object] which has only a getter"
#### Reproduction

Steps to reproduce:
1.  see console on https://stackblitz.com/edit/angular-material2-issue-1chnbs?file=app%2Fcustom-input%2Fpostal-code.component.ts

#### Expected Behavior

Not expecting this error message :)

[2020-09-29 08:44] crisbeto commented on #20677
It seems like a problem with your own code. The same error is thrown even if all the Material directives are removed: https://stackblitz.com/edit/angular-material2-issue-5mymmz?file=app%2Fcustom-input%2Fpostal-code.component.html

[2020-09-29 08:48] crisbeto commented on #20670
This has come up in the past and the reasons we use it are that:
1. At the time when we wrote most components, `KeyboardEvent.key` wasn't widely available in all browsers.
2. Even if `key` is available, it isn't consistent across browsers (e.g. IE/Edge call the up arrow `Up`, whereas other browsers call it `ArrowUp`).
3. Even though `keyCode` is marked as deprecated, it likely isn't going anywhere

[2020-09-29 10:57] ianmantripp commented on #14036
I'm late to the party but as this is still "open", I'll post my working code.

I have a component (AutoChipsComponent) which is basically the same as the example with a few changes. In my application I have a whole bunch of instances of this component which are enabled/disabled depending on the values of other instances.
I add a "disabled" input to the mat-chip-list:

auto-chips.component.html
[co

[2020-09-29 11:21] mackelito commented on #20677
@chisbeto oh crap you're right!.. Thx!
hmm any ideas on why?

[2020-09-29 12:26] mackelito commented on #20677
The problem was that I was not setting the control correctly..
`[formControl]="ngControl?.control"`

[2020-09-29 12:26] #20677 closed

[2020-09-29 13:55] mik01aj opened #20680 "mat-expansion-panel keeps contents of collapsed panels in DOM"
I found this while debugging rendering performance in my app. I have a large section that initially renders as a big mat-expansion-panel with all panels collapsed, except one. Here is a screenshot of mat-expansion-panel demo that sxhibits the same behavior:

![4kunmyWShAfRwzA](https://user-images.githubusercontent.com/3027415/94566715-f24f3c00-026a-11eb-9c09-139061cd4181.png)

I believe that the c

[2020-09-29 14:13] Omzig commented on #9592
Still happens in 9.1.12! Please fix this. It was driving me nuts till I used the work around, but work arounds are difficult to remember. my html now has bug comments in it. ugg

[2020-09-29 14:59] James-Vanguard commented on #20670
Hello Kristiyan,

Thank you for explaining the issue. We are currently updating our component logic automated testing to remove all deprecated values. As such some of our tests which create an event and add values to it are no longer working with this function, but the function is necessary to test the component. I understand your reasoning for keeping event.keyCode as an option. Since the value i

[2020-09-29 16:58] #20598 closed

[2020-09-29 18:10] Konayak commented on #20614
Kindly check this link for reference. On Enter-key it opens drop-down list option which i want to prevent on Enter hit.
[(https://material.angular.io/components/select/overview)](url)

[2020-09-29 18:19] mfishma opened #20682 "docs-bug(Input): email examples don't use email type"
#### Documentation Feedback

The examples for email input don't use the input `type` of `email`. There's a real opportunity to improve the user experiences of those who tend to copy and paste a lot of code from these examples. Would you add `type="email"` to the `<input>` field in those examples, both in the overview and in the examples pages?

If using `type="email"` causes problems, at least ple

[2020-09-29 18:28] phani17c commented on #11756
I have commented animation of mat-spinner styles, it is okay.

[2020-09-29 18:47] tamtakoe commented on #10122
@scarabedore It works bad with sticky unfortunately. As with my attempts it has bounce. You can see it if fast scroll from bottom to top. Be sure it will have more terrible effect in real project. It looks like unfixable. The only way to implement sticky header is not put the header row into the virtual-scroll container and the only way to do it is to rewrite https://github.com/angular/components/

[2020-09-30 06:15] mhansen opened #20684 "bug(tooltip): Closure-compiled code skips toString() in Tooltip.message setter"
#### Background

In
https://github.com/angular/components/blob/e99ca0ac9b0088d20d5d680092cd7ea5624934c0/src/material/tooltip/tooltip.ts#L212, we see:

[code]

The intention of the code is to convert non-strings, then trim.

#### Reproduction

Steps to reproduce:

1. Compile `MatTooltip` component with Closure Compiler (Google JS Compiler) with `--use_types_for_optimization`.
2. Pass a non-string o

[2020-09-30 06:16] mhansen commented on #20684
I've asked the Closure Compiler team if they consider this a compiler bug, and they say:

I think many users of Angular will be using the Closure Compiler with `--use_types_for_optimization`, and the original authors of the code would be surprised that the stringification is being optimised out.

[2020-09-30 06:18] mhansen commented on #20684
A very simple fix suggested: change

[code]
to
[code]

Then the type-aware optimisation doesn't happen, and the output instead gets compiled down from something like

[code]
to
[code]

[2020-09-30 06:35] mhansen commented on #20684
Just to link things up, Google-internal bug 169631212 was hit by this.

[2020-09-30 07:58] crisbeto commented on #20680
We have the ability to render expansion panel content lazily the first time it is opened. See https://material.angular.io/components/expansion/overview#lazy-rendering.

[2020-09-30 08:41] omar306 commented on #11650
To apply apperance="fill" style if it not working with attribute
<mat-form-field class="full-width mat-form-field-appearance-fill">

[2020-09-30 08:43] omar306 commented on #11650
To apply apperance="fill" style if it not working with attribute you can add it as a class
**`<mat-form-field apperance="fill" class="full-width mat-form-field-appearance-fill">`**

[2020-09-30 09:01] maertz commented on #15648
using trackBy seems to solve it.
https://stackblitz.com/edit/virtual-scroll-bug-jmf6c7

[2020-09-30 09:01] Splaktar commented on #11650
@omar306 FYI, you spelled appearance wrong in your attribute, that may be why it wasn't working. I've updated your comment above to use the correct spelling.

[2020-09-30 09:19] zbralex opened #20687 "Docs titles are clipped on the left side"
#### please, fix css margin property at anchors titles

[code]

If margin value -30px I can't see anchor for navigate
https://material.angular.io/components/table/overview#filtering

**Affected documentation page:** https://material.angular.io/components/table/overview

[2020-09-30 11:04] vinayshuklag commented on #19458
Hi Team, did we get any update on this? I am also facing the same issue

[2020-09-30 11:05] vipinc38 commented on #19458
We are also experiencing the same issue with mat-list-option as mentioned in the description above. Can i have an update on this thread?

[2020-09-30 11:25] siddhant-dev opened #20688 "feat(COMPONENT): Time Picker."
#### Feature Description

To have time picker clock similar what we have for Android library.

#### Use Case

To apply WFH timing on my corporate system.

[2020-09-30 11:29] nrone opened #20689 "bug(select): Unable to update selected items in select with ReactiveForms"
#### Reproduction

https://stackblitz.com/edit/angular-ivy-qak45m?file=src%2Fapp%2Fapp.component.ts

**Steps to reproduce:**

1. Select multiple items in the MatSelect and see selected items listed below
2. Click on the item/items to remove them from the form
3. As seen, the selected items in the MatSelect are not updated to represent the new values in the form.

#### Expected Behavior

As of Angu

[2020-09-30 11:31] Totati commented on #20688
Duplicate of https://github.com/angular/components/issues/5648

[2020-09-30 11:35] siddhant-dev commented on #20688
My god it is has been pending for 3 years now. 😮

[2020-09-30 11:35] siddhant-dev commented on #20688
Closing this as it a duplicate feature request. #5648

[2020-09-30 11:35] #20688 closed

[2020-09-30 15:22] cskata commented on #5697
Pleeease make this work!

[2020-09-30 16:34] mwawrusch commented on #20623
@crisbeto  Just saw this, thanks.
This was detected with CDK/Material: 10.1.3 - I'll update to 10.2.0 and report back.

[2020-09-30 18:49] AdrianBorg opened #20691 "bug(dateRangePicker): Date range picker minimum date is set one month ahead of value"
#### Reproduction

https://stackblitz.com/edit/angular-aiay7d?file=src%2Fapp%2Fdate-range-picker-overview-example.ts

Steps to reproduce:
1. Add min date using base Javascript Date object
2. Try scroll to the min date in the date picker

#### Expected Behavior

The minimum date is from the minimum date specified onwards.
If a date initialised as `new Date(2020, 1, 10)` is set as the minimum date,

[2020-09-30 20:35] crisbeto commented on #20691
This is working as expected and isn't something that we control. The month numbers in the `Date` constructor are 0-based so the 10th of January would be `new Date(2020, 0, 10)`. You can test it out by pasting it in the JS console of your dev tools. You can check the `monthIndex` here for more info: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/Date

[2020-09-30 20:35] #20691 closed

[2020-09-30 20:40] guilhermetod opened #20692 "feat(scroll-paginator): extract tab-header-paginator to a reusable paginator"
The tabs paginator is one of the main features in tabs, and its use makes much more sense than allowing an horizontal overflow.

It would be really nice to see the paginator available as a container for potentially scrollable content, like a filter chips row, steppers and even custom tab implementations. I googled to see if there was already a solution and found none, but realized that some other

[2020-09-30 20:43] ohohoohh opened #20693 "cdk virtual scroll emit scroll event after visual scroll"
Reproduction:
https://stackblitz.com/edit/angular-7xvdmw?file=src%2Fapp%2Fcdk-virtual-scroll-context-example.ts

Steps to reproduce:
Put a breakpoint on the two different console.log (one in normal div and one in elementScrolled())
Try to scroll on the normal div and the one with virtual scroll

Actual Behavior
- The normal div will stop at the breakpoint when you try to scroll, there it no visual

[2020-09-30 21:00] #20665 closed

[2020-09-30 22:02] laserus commented on #19919
Yes, it seems that it is solved now. Thanks

[2020-09-30 22:02] #19919 closed

[2020-09-30 22:02] jelbourn opened #20694 "VoiceOver doesn't read MatSelect option inside of a dialog"
StackBlitz: https://stackblitz.com/edit/angular-q2ppnn?file=src%2Fapp%2Fdialog-overview-example-dialog.html

While `MatSelect` seems to work fine under normal circumstances, I can't get it to read the options when the select is inside of a dialog. I'm wondering if this might be a bug in VoiceOver, since it's surprising that the interaction would present different based on the dialog context.

[2020-09-30 22:10] zelliott commented on #20694
It's due to the `aria-modal="true"` on the dialog container.

It's not immediately obvious to me what the correct fix is. One idea is to construct the select's overlay within the aria-modal dialog container, but I imagine that would require non-trivial changes to overlays. Another idea is to try to use `aria-owns` to re-parent the select's overlay to the select itself.

[2020-09-30 22:27] mwawrusch commented on #20623
So after testing with 10.2.3 and the latest angular we still see this behavior, but less. It looks to me that it happens when the source for the list of draggable items is updated at the wrong moment in time.

Here are the versions we used.
[code]

[2020-10-01 06:24] slaviki opened #20697 "help(mat-calendar): Inline calendar with range selection"
#### What are you trying to do?

I want to have an inline mat-calendar (without mat-input) to be able to select a range of dates

#### What troubleshooting steps have you tried?

Binding to a date range works fine however, selectedChange gives back a single date. I've tried to provide MAT_RANGE_DATE_SELECTION_MODEL_PROVIDER, but it still doesn't work.

#### Reproduction

[Stackblitz](https://stack

[2020-10-01 07:04] jflip commented on #5675
@jelbourn would like to pick this up as a first contribution if that is okay?

[2020-10-01 07:34] crisbeto commented on #20697
The calendar isn't responsible for assigning the value to the model. Usually it's the responsibility of `MatDatepickerContent`, but since you aren't using a datepicker, you'll have to assign the value yourself. See https://github.com/angular/components/blob/master/src/material/datepicker/datepicker-base.ts#L175.

[2020-10-01 07:58] klemenoslaj commented on #6232
I have the exact same problem, but strangely enough, for me chrome works fine, Firefox does not 🤔

[2020-10-01 09:12] Yeras commented on #7718
Thank you very much. You really helped me!!!

[2020-10-01 10:58] slaviki commented on #20697
Thank you, I got it working

[2020-10-01 10:58] #20697 closed

[2020-10-01 12:01] ebrehault commented on #14833
The `inverseTranslation` method will be call on every view check, maybe it is not ideal regarding performances.

The CdkVirtualScrollViewport has a ScrollStrategy private property offering a `onRenderedOffsetChanged` method we can use to update the header position:

[code]

[code]

[2020-10-01 17:31] pburkindine commented on #20553
@crisbeto if you cannot duplicate in the repro, can you please try on our production site?

https://www.medicare.gov/care-compare/

On an iphone, click in the extreme right of the first input on the landing page; you should see the cursor floats over a white screen.

[2020-10-01 19:15] eforbes opened #20701 "bug(slider): JAWS incorrectly announces MatSlider value changes"
#### Reproduction

Default slider with no modifications: https://angular-cxwukz.stackblitz.io

Steps to reproduce:
1. Enable JAWS
2. Focus on the slider, and hold down left or right arrow to move slider.

Does not repro with NVDA or ChromeVox.

#### Expected Behavior

Slider will move while button is pressed and stop when it is  not. JAWS will announce the slider values as the slider is moved.

##

[2020-10-01 20:32] crisbeto commented on #20701
I believe that our slider is based on this example from the W3C https://www.w3.org/TR/wai-aria-practices-1.1/examples/slider/slider-1.html. There are a couple of other approaches we could take, but they have their own drawbacks:
1. We could have an internal `input[type="range"]` that we proxy all events and focus to. This is problematic, because we can't do a multi-handle slider in the future.
2.

[2020-10-01 20:35] jelbourn commented on #10387
Got it. Since this is working at least as intended, I changed this issue to a feature request.

[2020-10-01 20:48] jelbourn commented on #20701
Unfortunately we don't have access to JAWS while Google is working remotely, so we might not be able to look at this for a while.

[2020-10-01 20:49] jelbourn commented on #20693
@mmalerba I suspect this is "working as necessary" so to speak. Thoughts?

[2020-10-01 20:53] jelbourn commented on #20692
I could conceivably see something like this making sense in the CDK, but based on other priorities in our backlog, I don't see us looking into something like this anytime remotely soon

[2020-10-01 21:02] jelbourn commented on #20687
Confirmed that the titles in the docs are clipped on the left side, which affects both the link-on-hover treatment and the text itself.

[2020-10-01 21:03] jelbourn commented on #20675
@kyliau IIRC there's a way to run an `ng add` schematic via the `ng generate` command, yes?

[2020-10-01 21:06] jelbourn commented on #20670
Switching to the `key` property is currently tracked under https://github.com/angular/components/issues/7374

[2020-10-01 21:06] #20670 closed

[2020-10-01 21:11] jelbourn commented on #20302
Potentially a duplicate of https://github.com/angular/angular/issues/38362

[2020-10-01 21:41] ChiragAwale commented on #20687
@jelbourn Are the issues assigned first? I am new here and would like to start with working on this one

[2020-10-01 21:55] william-lohan commented on #5113
Lazy loading could have other benefits.

For example I'm facing when I have:

[code]

50 times, makes 50 request immediately, rather then one by one when you interact with them.

[2020-10-01 22:18] guilhermetod commented on #20692
Sure, I see you guys are working on a lot of things, including the MDC Web version, which must be taking a lot of time and is definitely a priority. Just thought it would be nice to leave it as a suggestion.

[2020-10-02 00:04] jelbourn commented on #19253
@soshochang I just revisited this issue and found that with Chrome + VoiceOver today everything actually works. I'm thinking a recent VoiceOver update might have fixed this. Can you check whether this is still an issue?

[2020-10-02 06:53] crisbeto commented on #20623
Can you post a step-by-step of the drags that you're making? I did manage to reproduce a similar error if I slow down the transitions a lot (250ms to 2500ms) and I start dragging from a connected list while an item from another list is finishing its animation. Does the error happen when you're making a lot of quick drags one after the other?

[2020-10-02 10:06] walvekarnikhil commented on #20682
@jelbourn , can I take this up?
Do we need to change the input type for all emails?

[2020-10-02 10:09] walvekarnikhil commented on #20549
@mmalerba , can I take this up?

[2020-10-02 11:27] mik01aj commented on #20680
Thanks for the response. This looks very useful. I'll probably solve the problem for us.

[2020-10-02 11:54] AnnaRainier commented on #18313
would really need this fix

[2020-10-02 13:22] vagnersabadi commented on #17923
Problem found in IOS 14 when adding DragStartDelay cdk the scroll stops working, to work only by clicking outside the component that has cdkDrag / cdkDragStartDelay

[2020-10-02 14:37] BUONJG commented on #20530
Many thanks for your reply. Do you have an idea when it could be available?

[2020-10-02 14:46] phillipe-barbosa commented on #6130
+1

[2020-10-02 15:46] jelbourn commented on #20680
@wagnermaciel FWIW I still think we should change the default to work the same as tabs- not in the DOM when not rendered by default, with an option to preserve content once rendered

[2020-10-02 19:55] #20560 closed

[2020-10-02 19:56] #11618 closed

[2020-10-02 20:05] #13540 closed

[2020-10-02 22:14] michele6000 commented on #8420
restoreFocus: false -----> Working for me, best solution

[2020-10-03 03:51] EatonZ opened #20710 "docs: Update readme for Q4 2020"
It's time to update README.md with information regarding what's coming in Q4.😉
https://github.com/angular/components#what-were-working-on-now-q3-2020

[2020-10-03 04:41] crisbeto commented on #20692
For what it's worth, both the standard and MDC tabs and tab nav bar are based on the `MatPaginatedTabHeader` class which is somewhat generic, except that it's tailored to fit our markup.

[2020-10-03 08:08] paco76 opened #20711 "Ripple is being triggered when scrolling <mat-selection-list> on mobile"
#### Reproduction

[link to stackblitz](https://stackblitz.com/edit/angular-material-lists-scrolling-triggers-ripple?file=src/app/app.component.html)

Steps to reproduce:
1.  open on mobile and scroll
2.  ripple is triggered while scrolling

#### Expected Behavior

when I scroll ripple should not be triggered !!

#### Environment

- Angular: 10.0.9
- CDK/Material: 10.1.3
- Browser(s): chrome
- Ope

[2020-10-03 12:31] rohith231 opened #20712 "Hi I am getting this error from 1 month please do help"
WARNING in F:\leaf\src\app\login\login.component.ts depends on 'rxjs/add/operator/toPromise'. CommonJS or AMD dependencies can cause optimization bailouts.
For more info see: https://angular.io/guide/build#configuring-commonjs-dependencies

WARNING in F:\leaf\src\app\login\login.component.ts depends on 'rxjs/add/operator/map'. CommonJS or AMD dependencies can cause optimization bailouts.
For more

[2020-10-04 02:42] mmalerba commented on #20549
I think someone beat you to it: https://github.com/angular/components/pull/20683

[2020-10-04 02:42] #20549 closed

[2020-10-04 11:34] crisbeto commented on #20712
Seems like a CLI issue. Transferring to the correct repository.

[2020-10-04 11:40] crisbeto commented on #20711
I don't think that we can do much about it, because the ripple has to start as soon as you put your finger down. At that point we don't know whether you're going to tap the item or start scrolling. If we defer the ripple for too long it'll feel unresponsive and if we do it too little, it'll trigger for some slower scrolls, but not the quicker ones.

Alternatively, you can turn off the ripples on t

[2020-10-04 11:40] #20711 closed

[2020-10-04 13:53] paco76 commented on #20711
can you please explain how does Whatsapp do it on their app?

[2020-10-04 14:07] video-vocabulary opened #20715 "help(youtube-player): not able to play any videos from YouTube Movies channel"
#### What are you trying to do?

Play videos from [this](https://www.youtube.com/channel/UClgRkhTL3_hImCAmdLfDE4g) channel with `youtube-player` component

#### What troubleshooting steps have you tried?

`youtube-player` component is not able to play any videos from [this](https://www.youtube.com/channel/UClgRkhTL3_hImCAmdLfDE4g) channel in production mode, but able to play them in development mo

[2020-10-04 15:22] crisbeto commented on #20715
I get a message that the author has restricted access to the video in my country. There's also a setting that prevents videos from being embedded that could be blocking it.

[2020-10-04 15:33] video-vocabulary commented on #20715
But it works on my local computer with `ng serve`

[2020-10-04 15:42] rbalet opened #20716 "bug(material): Pink/Blue Grey themes not not working"
#### Reproduction

The stackblitz : https://stackblitz.com/edit/angular-ivy-fj2vxv?file=angular.json

Steps to reproduce:
1.  `npm install -g @angular/cli`
2.  `ng new my-dream-app`
3.  `cd my-dream-app`
4.  `ng add @angular/material`
5.  _Choose a prebuilt theme name, or "custom" for a custom theme:_ Pink/Blue Grey
6.  _Set up global Angular Material typography styles?_ Yes
7.  _Set up browser an

[2020-10-04 15:50] crisbeto commented on #20711
I don't have an Android phone or access to their source code so I can't tell, but a way to work around it would be to only enable ripples after X amount of time after the last scroll event.

[2020-10-04 20:01] shlomiassaf opened #20717 "bug(cdk-table): Row differ (trackBy) does not detect row template changes"
The CDK Table will detect changes in rows based on a differ which is based on the `trackBy` input function.

https://github.com/angular/components/blob/4152aec5d421d993246b1ede3803027082330492/src/cdk/table/table.ts#L517-L519

This is fine when actual data changes but it does not handle a scenario where the row template has changed but the data has not changed, which is an issue especially when wo

[2020-10-04 20:09] shlomiassaf commented on #20717
One idea towards a fix is to use the call to `_getAllRenderRows()` just before calculating the diff.

https://github.com/angular/components/blob/4152aec5d421d993246b1ede3803027082330492/src/cdk/table/table.ts#L601-L602

`_getAllRenderRows()` iterates over all rows to be rendered and extracts their rowDef template (PERFECT!) which can be compared to the actual rendered row def template and if diffe

[2020-10-04 22:13] Achilles1515 commented on #20715
I think this is just a Chrome (or maybe Chromium) issue and doesn't have anything to do with the cdk/youtube-player. Both videos in your StackBlitz work fine in FireFox, for example.

[2020-10-05 00:23] acosmicflamingo commented on #20715
There’s a project that also stopped working today: https://github.com/youtube/youtube-ios-player-helper. I wonder if YouTube itself changed something with the iframe API that broke everything that depends on it for embedding YouTube videos

[2020-10-05 02:01] video-vocabulary commented on #20715
Interesting observation, I've tried it on Safari and indeed it works

[2020-10-05 07:07] nikhil4326 commented on #20360
Any updates on this issue?

[2020-10-05 07:08] vinayshuklag commented on #19009
Hi Team,
Any update on this issue, we are also facing similar issues with JAWS and mat Stepper

[2020-10-05 07:35] nitulkukadia opened #20718 "Angular Material vs Angular MDC"
What is difference between both of this and which is preferable to use?

Angular Material - Material Design components for Angular - https://material.angular.io
Angular MDC - Material Web Components for Angular -  https://github.com/trimox/angular-mdc-web

How it is different from implementation and contributors point of view?
Are they both maintained by google ?

[2020-10-05 07:55] shlomiassaf commented on #10122
Sticky with virtual scroll does not work because you must compensate to sticky position relative to the offset.

This is mostly effected when doing Vertical virtual scrolling with a top bound sticky row. The sticky row has `top: 0` but as you scroll it goes away and you need to add to it so it will be visible within the viewport, the math is not that tricky.

However, in fast scrolls you get flick

[2020-10-05 08:50] i-kapri commented on #8857
Ok, the question is that when the `open()` method of the MatDialog is called, the Angular Material Component itself animates the opening of the dialog overlay. So, in my situation, I have created a typescript function file under shared called `dialog-animator.ts` which looks as follows:

[code]

This function is imported and called when I click on `x` to close the mat dialog to the `dialog.compone

[2020-10-05 10:07] evilangelmd commented on #12246
any information about #15645 @josephperrott , @jelbourn ?

[2020-10-05 10:46] Aivanic opened #20719 "bug(Slider): Jaws and NVDA incorrectly announcing decimal numbers"
#### Reproduction

https://stackblitz.com/edit/components-issue-nr5zgy?file=src%2Fapp%2Fexample-component.html
(stackblitz have weird behaviour, you have to add tabindex="0" for working example)

Steps to reproduce:
1.  Enable Jaws or NVDA
2.  Focus slider
3.  Move slider

#### Expected Behavior

Screen reader announce 0.2

#### Actual Behavior

Screen reader announcing e.g. 0.20000068

#### Envir

[2020-10-05 12:32] spock123 commented on #8416
I know this won't help you but I ended up not support IE at all - best thing we ever did.
Never heard any complaints :) :)

[2020-10-05 13:30] ahnpnl commented on #10113
I am looking forward to this feature too

[2020-10-05 14:48] BuZZ-dEE opened #20720 "bug(CDK - cdkDragPreview): SVG masks are not shown in the drag preview"
#### Expected Behavior

I expect to see the applied SVG mask in the drag preview.

#### Actual Behavior

The element drag preview without the applied SVG mask.

#### The problem

It seems that the dragged element with SVG mask definition is set to `display:none;`, also there seems to be a clone without the mask id the in DOM.
For that reason the SVG mask is not found and not applied in the drag pr

[2020-10-05 17:18] crisbeto commented on #20716
It does work. The problem in your case is that you're using a dark theme, but you haven't set the background color to anything so the components blend into it. You can fix it by adding the `mat-app-background` class either to the body or to a wrapper element around the app. Note that if you add it to the `app` node itself, you'll also need a `display: block`.

[2020-10-05 17:18] #20716 closed

[2020-10-05 20:51] wagnermaciel commented on #20720
Hi @BuZZ-dEE, could you supply us with a stackblitz and some steps to reproduce so we can better understand your issue.

@crisbeto Maybe you can better understand this than me. For now I'm marking as needs clarification

[2020-10-05 21:07] KyleDavis opened #20724 "bug(MatCheckbox/MatSlideToggle/DragDrop): Components not functioning in mobile under upgraded angularjs material to angular material project"
#### Reproduction

I've created a stackblitz for this: https://stackblitz.com/edit/angular-ivy-qhprlc
You can view the issue in mobile: https://angular-ivy-qhprlc.stackblitz.io/

Steps to reproduce:
1. Create an angularjs to angular upgrade project which includes both angularjs material and angular material.
2. Add a MatCheckbox, MaxSlideToggle, or DragDrop list.

#### Expected Behavior

I expect

[2020-10-05 21:08] KyleDavis opened #20725 "bug(MatCheckbox/MatSlideToggle/DragDrop): Some components don't work in mobile for upgraded angularjs material to angular material project"
#### Reproduction

I've created a stackblitz for this: https://stackblitz.com/edit/angular-ivy-qhprlc
You can view the issue in mobile: https://angular-ivy-qhprlc.stackblitz.io/

Steps to reproduce:
1. Create an angularjs to angular upgrade project which includes both angularjs material and angular material.
2. Add a MatCheckbox, MaxSlideToggle, or DragDrop list.

#### Expected Behavior

I expect

[2020-10-05 21:16] #20724 closed

[2020-10-05 21:17] KyleDavis commented on #20724
Got a 404 submitted this. Duplicate of #20725 when I resubmitted.

[2020-10-05 21:34] FilipMachinia opened #20726 "Add mat-icon dynamically is missing in docs"
#### Documentation Feedback

The docs don't mention how to add `<mat-icon>` dynamically from js.

Its not straightforward as you need to add classes like `mat-icon` and `material-icons`.

**Affected documentation page:** https://material.angular.io/components/icon/overview

[2020-10-05 21:45] crisbeto commented on #20720
It is a legitimate issue. When we clone the element to create the preview we strip all IDs so that we don't generate duplicates which can break SVG since we hide the original element.

[2020-10-05 21:59] BobDankert commented on #20725
Confirmed behavior, affects Chrome on Android and mobile device mode in Chrome for Windows. Works properly on iOS Safari (tested on iPad). Firefox on Android works with checkbox and slide-toggle, though the drop event in the drag-drop list has issues. Edge on Android works the same as Chrome (as expected)

[2020-10-06 00:37] JoelLau commented on #20689
hi, can I take this up as part of hacktoberfest?

[2020-10-06 02:26] leotqn commented on #20213
I have the same issue, it happens when an initial value is binded to the control, even if you do it like this:
`formControl.setValue([ANY VALUE], { emitEvent: false });`

[2020-10-06 03:44] enesien commented on #10114
I was able to "chunk" my array into rows with 4 items each. Then the cdkVirtualFor becomes your rows, your [itemSize] becomes the height of the row, and you loop over the "columns" inside the virtualfor.

[code]

[code]

[2020-10-06 04:24] billbrinck commented on #5648
Any news here ?

[2020-10-06 07:22] Art2058 commented on #14280
Same issue,
Angular material 10

[2020-10-06 08:08] unnhao commented on #5648
I hope timepicker can be implemented.  :((((((((

[2020-10-06 09:20] jrel opened #20730 "feat(table): MatCellDefWhen"
#### Feature Description

Like matRowDefWhen, it was interesting to have this capability for MatCellDef as in the example below.

#### Use Case

[code]

[2020-10-06 10:47] acherniak commented on #20629
@crisbeto what's ETA on the fix?

[2020-10-06 11:52] gabra666 opened #20731 "bug(mat-table): Filtering a mat-table with inputs using ngModel render the same row"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue
https://stackblitz.com/edit/angular-ngmodel-material-table?file=app/table-basic-example.html

Steps to reproduce:
1. Type in the filter "Hello" > 2 entries should display with correct data
2. Add in the filter a number 2, the text "Hello2" should be in the filter > 1 entry should display in the

[2020-10-06 12:18] mrmokwa opened #20732 "docs(site): Update next documentation to v11"
#### Documentation Feedback

I need to check the examples/updates from version v11, but the site still uses RC from v10.

We should update http://next.material.angular.io/ to work with v11

[2020-10-06 12:27] mrmokwa commented on #20730
For your scenario you could do something like

`<td cdk-cell *cdkCellDef="let element"> {{ isFullname ? element.firstname + ' ' + element.laastname : element.name }} </td>`

[2020-10-06 12:45] jnenning opened #20733 "feat(mat-checkbox): add functionality for adding custom icons for mat checkbox states"
#### Feature Description

A user should be able to set an own icon for e.g. the indeterminate state. It would be nice if you can set a SVG file in CSS or register your icon in the matIconRegistry and then give the user the functionality to set the icon for the states after that.

#### Use Case

A use case would be when someone wants to use his own icon set. I have currently a project where I have

[2020-10-06 12:52] mrmokwa commented on #20718
In a really shallow description, both are component librarys that use material design as guideline to build it's components.

The first one is maintained by Angular team (Google).
The second is a third-party integration incorporating Google Material Components library

Also, you should avoid opening issues for support questions. More info at https://github.com/angular/components/blob/master/CONTRI

[2020-10-06 13:21] ortegamarcel opened #20734 "Scrollblock for Dialogs and Bottom Sheets: Always add 'cdk-global-scrollblock' class to the root when opening a bottom sheet or dialog"
#### Feature Description

When opening a dialog/bottom sheet the 'cdk-global-scrollblock' is applied to the html tag, preventing the background to be scrollable through the modal. According to the answer of @crisbeto "The dialog won't try to block scrolling if the page isn't scrollable" - https://github.com/angular/components/issues/16864

But actually I have a use case (with bottom sheets), where

[2020-10-06 13:42] crisbeto commented on #20629
There's a pending PR with a fix, but I can't give an ETA since it has to go through the same process as the rest of our PRs. If it's urgent, you should be able to apply the same styles yourself.

[2020-10-06 14:23] Hypenate opened #20735 "MatStepper - Cannot set property 'interacted' of undefined"
#### Reproduction

I'm not to sure how to reproduce this, but I'm trying to get the index of a certain step (the last or second last)
[code]

This error is thrown:

 If I look into the function `_anyControlsInvalidOrPending` I see the following code: `steps[this._selectedIndex].interacted = true;` but I assume it cannot be found

#### Expected Behavior

No errors are thrown, the issue should be ha

[2020-10-06 14:32] alexvdvalk opened #20736 "feat(MatDatepickerModule): Inclusive End Date on date range selection"
#### Feature Description

Currently when using the new date range picker component, the end date is exlucded from the date selection. It would be helpful to have an option to set the date picker to be inclusive of the end day.

#### Use Case

A user is looking for something on a single specific day, so they may set the start and end dates in the range to the same value, expecting that the range wo

[2020-10-06 16:10] mfishma commented on #20680
My understanding of the intention was for SEO and page indexing. While hidden, the HTML contents should still be indexable because they are still part of the page when the page loads. This is true for Angular Universal server-side-rendering. Understanding that there are workarounds, it should be noted that if this default behavior changes, there is a small chance it could mean lost revenue because

[2020-10-06 16:15] mfishma commented on #20682
please consider a P4 - this is a small change with big impact, as it reminds developers to use the right type in order to bring up the relevant keyboards on mobile, improving user experience.

[2020-10-06 16:26] kartikgreen opened #20738 "cannot pass options as a template to mat-select"
I am trying to pass mat-options as a template to mat-select but it doesn't work. Below here is the link to stackblitz,

https://stackblitz.com/edit/angular-mat-select-with-ngmodel-mujorn?embed=1&file=app/select-overview-example.ts

[2020-10-06 20:39] mmalerba commented on #20648
Unfortunately the Angular Team does not have the capacity to maintain official support for these, but the component harness framework has been written in a way that allows users to plug in support for additional test environments. It is our hope that the community will share their implementations for test frameworks like the ones you mentioned so that others may benefit. We have some [documentatio

[2020-10-06 20:39] #20648 closed

[2020-10-06 22:03] jelbourn commented on #20738
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

(this is a canned response)

[2020-10-06 22:03] #20738 closed

[2020-10-06 22:04] jelbourn commented on #20736
I get how it could be confusing, but people can always set the end date to the next unit in the future, so I wouldn't see us adding an API for this.

[2020-10-06 22:04] #20736 closed

[2020-10-06 22:07] jelbourn commented on #20735
This seems to happen if the selectedIndex` is set to a step that doesn't exist.

Reproduction: https://stackblitz.com/edit/angular-7ejs1d?file=src/app/stepper-editable-example.html

[2020-10-06 22:10] jelbourn commented on #20734
Realistically, I don't see us adding an option for this because it's pretty niche. I think you would have better luck toggling content inside of a single bottom-sheet rather than opening multiple bottom-sheets.

[2020-10-06 22:10] #20734 closed

[2020-10-06 22:10] jelbourn commented on #20733
`MatCheckbox` is pretty tightly targeted at the Material Design spec, so we don't have any plans to support customizing the checked icons.

[2020-10-06 22:10] #20733 closed

[2020-10-06 22:19] jelbourn commented on #20731
Confirmed that `NgModel` behaves differently here than a plain text interpolation. Needs further investigation.

[2020-10-06 22:24] jelbourn commented on #20730
Yeah, like @mrmokwa points out, you'd be better off doing something within an expression for your example.

I don't see us adding this feature since a table cell is a much more tightly scoped than a row; the row has configuration for all of the cells, so there's no other way to swap row templates than with the `when` predicate, but for a cell you can just use a standard `ngIf`, etc.

[2020-10-06 22:24] #20730 closed

[2020-10-06 22:25] jelbourn commented on #20726
@FilipMachinia can you clarify what you mean by adding dynamically?

[2020-10-06 22:32] jelbourn commented on #20725
I would guess that the gesture handling code from AngularJS Material is interfering with event handling here. That gesture code is notorious for having unintended side-effects. If you're not relying on any of the gesture interactions in AngularJS (mainly the swipes IIRC), I'd recommend [turning it off](https://material.angularjs.org/latest/api/service/$mdGestureProvider#mdgestureprovider-disableal

[2020-10-06 22:36] jelbourn commented on #20718
The second library you link there is not an official Angular library; it's a community project based on MDC Web. Here's the gist:

* Angular Material today is a standalone implementation of Material Design components built by the Angular team at Google
* MDC Web is a separate library of component _primitives_ built by the Material Design team at Google

The Angular team has been working on refresh

[2020-10-06 22:36] #20718 closed

[2020-10-06 22:40] jelbourn commented on #20717
@shlomiassaf yeah, it does sound like the table should just re-grab all of the rewDefs before running the differ.

[2020-10-06 22:41] jelbourn commented on #20715
Closing this since I don't think it has anything to do with the Angular wrapper; it seems like this is something with the underling YouTube iframe embed.

[2020-10-06 22:41] #20715 closed

[2020-10-06 22:43] jelbourn commented on #20614
I don't see us adding an API for controlling the behavior of the enter key. IIRC the current behavior is there for accessibility.

[2020-10-06 22:43] #20614 closed

[2020-10-06 23:29] KyleDavis commented on #20725
Thank you so much! Can confirm that disabling the gestures fixes the issues I was seeing.

Here's the fixed version for anyone else who runs across this. https://stackblitz.com/edit/angular-ivy-jbjrpj

[2020-10-07 03:37] AcarMeel opened #20741 "help(Mat Datepicker): Do not autocomplete date when focus is out"
#### What are you trying to do?

I've setup a datepicker and I want to type 1 and focus out the input and keep the 1. But instead the datepicker gets autocompleted with 1/1/2001. My client doesn't like that!!

`<mat-form-field appearance="fill">
  <mat-label>Choose a date</mat-label>
  <input matInput [matDatepicker]="picker">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-togg

[2020-10-07 06:13] Hypenate commented on #20735
I tried reproducing it: https://stackblitz.com/edit/angular-7ejs1d-1yavn9?file=src/app/stepper-editable-example.html
But the error thrown now is a custom error, which makes sense

[2020-10-07 07:56] Konayak commented on #20614
thanks, i resolved this issue  after adding
*(keydown.enter)="$event.stopImmediatePropagation();"
*in mat-select.

Regards,
Koushal

On Wed, Oct 7, 2020 at 4:13 AM Jeremy Elbourn <notifications@github.com>
wrote:

--
Regards,
Koushal Nayak
+91-9113695350

[2020-10-07 08:25] Konayak commented on #20614
Thanks, i resolved this issue  after adding
* `(keydown.enter)="$event.stopImmediatePropagation();"` * in **mat-select**.

As below
`<mat-select name="custNonCust" formControlName="modManFormat" required (keydown.enter)="$event.stopImmediatePropagation();">`

Regards,
Koushal

[2020-10-07 10:01] gabra666 commented on #20731
Hi, thanks for taking a look at this, my end goal was to have a table where I could add and remove rows dynamically, the rows as in the example are inputs connected with ngModel, I aslo wanted to be able to filter and sort this table.
So far everything else worked except for this "duplication/render" issue, it would be great if someone can point to a possible workaround.

[2020-10-07 14:28] #20725 closed

[2020-10-07 14:39] fosteman opened #20744 "MatSort: Unable to provide DataSource.sort directive"
What are you trying to do?
Setting up Sorting mechanism for a table. Followed through the guidelines:
provided `matSort` directive in template
loaded up `MatSortModule`
installed `@ViewChild(MatSort) sort`
assigning `this.dataSource.sort = this.sort` with `this.dataSource = new MatDataSource([])`

#### What troubleshooting steps have you tried?
`console.log(this.sort)` is OK.
[code]

What are you

[2020-10-07 15:30] sarthak-k commented on #14501
Any update on this issue?

[2020-10-07 19:14] #20684 closed

[2020-10-07 19:14] #15696 closed

[2020-10-07 19:14] #20629 closed

[2020-10-07 19:18] #19662 closed

[2020-10-07 19:23] jelbourn commented on #20682
@walvekarnikhil feel free to send a PR

[2020-10-07 19:26] #14379 closed

[2020-10-07 19:44] jelbourn commented on #20680
Thinking about this more, it might make sense to have a consistent set of options for content-switching components. Probably options like:
* always in dom
* only active view in dom
* persist in dom only after a view becomes active

This would make sense for tabs, stepper, expansion panel, and drawer/sidenav

[2020-10-07 19:52] jelbourn commented on #20687
@ChiragAwale feel free to send a PR

[2020-10-07 21:22] FilipMachinia commented on #20726
Hi @jelbourn, I mean something like this:
[code]

 It would be great to have this mentioned in the docs.

[2020-10-07 21:23] jelbourn commented on #20599
The current state of this is that we're still discussing whether this is something we want to maintain as a first-party (Angular team) thing, or instead defer to community implementations of different date adapters. We'll definitely weigh community feedback here.

[2020-10-08 09:02] alan-agius4 commented on #20675
@jelbourn, you can run the `ng-add` schematic from another schematic, although prior to running the `ng-add` schematics, the package will need to be installed, this logic and logic to save the package in the package.json as dependency, dev dependency or not save it at all is only available in Angular CLI (https://github.com/angular/angular-cli/blob/master/packages/angular/cli/commands/add-impl.ts)

[2020-10-08 09:54] Sam-Davis commented on #20610
Good idea. Stackblitz is here:
[Stackblitz example](https://stackblitz.com/edit/angular-61vrrf?file=src/index.html)

To create this Sackblitz, I took the example on the website: https://material.angular.io/components/table/examples - Table with expandable rows,. I copy pasted the table html and put each table in a different tab. If you go to tab 2 and back to tab 1, the bug is clearly visible.

[2020-10-08 10:21] gayan-genesiis commented on #9733
Any solution for before selection change? I am having same requirement

[2020-10-08 11:06] akshaybhat30 opened #20749 "bug(DATEPICKER): DatePicker shows prior date inside the calendar but correct date in the input field."
#### Reproduction

Stackblitz link :- https://stackblitz.com/edit/angular-moment-date-adapter-overriding-f89kp8?file=app%2Fdatepicker-formats-example.ts

Steps to reproduce:
1. Set current timezone to +5:30 (Chennai).
2. Check the value in the input (10/01/2020) and the date selected in the calendar is showing as 01.
3. Change the system timezone to -12 such that there is a difference in date and

[2020-10-08 12:15] nwmv opened #20750 "bug(Datepicker): Hover state on the picker persists after the calendar is clicked away"
#### Reproduction

Steps to reproduce:
1. Click on the dropdown arrow to reveal the calendar.
2. Click somewhere other than the calendar (e.g., a bit to the right of the dropdown arrow) to hide the calendar.

#### Expected Behavior

The dropdown arrow reverts to its default state, and in particular no grey circle surrounds it.

#### Actual Behavior

A grey circle that appears to be a hover state p

[2020-10-08 14:48] alvaromartmart opened #20752 "feat(Table): detect clickable mat-rows with routerLink"
#### Feature Description
Material table rows are not displayed as clickable elements (i.e. hover effect, cursor: pointer...) when they have an attached `routerLink` directive.

Things I've tried:
[code]
Hovering the rows doesn't indicate that the row is clickable.

Solutions I've been using:
1) Setting a fake (click) handler for the row:
[code]
2) Styling .mat-rows with attached routerLink (using

[2020-10-08 16:57] ohohoohh commented on #20693
@jelbourn @mmalerba Any news for that?

[2020-10-08 17:52] lsrsilva commented on #15027
Any update about this?

[2020-10-08 20:41] Lonli-Lokli commented on #5648
@h2qutc does your library supports other adapters except for Moment (which should not be used), eg dayjs/luxon/date-fns?

Or at least be able to consume custom adapter, same as angular material does?

[2020-10-08 20:48] h2qutc commented on #5648
@Lonli-Lokli Yes, you can create a new custom adapter by inheriting abstract class **NgxMatDateAdapter** as Angular Material does. Something like that:
`@Injectable()
export class NgxMatNativeDateAdapter extends NgxMatDateAdapter<Date> {}`

[2020-10-08 22:14] loraruffin commented on #19745
I am seeing the same error in Chrome Version 85.0.4183.121. However it is working as expected in Safari Version 13.1.2.
Dropdown items are off by 1 when announced.

[2020-10-09 05:57] richardwfff commented on #12793
I agree it would be nice to have this information in the documentation since people can spend a lot of time debugging without knowing this is the property causing the problem and not having a way to search for the issue (me included)

[2020-10-09 07:17] ZOUJIELynn opened #20755 "text blurred in IE when using virtual scroll"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1. check cdk-virtual-scroll-viewport
2. the reason is `transform: translateZ(0px)` in IE

#### Expected Behavior

What behavior were you expecting to see?

#### Actual Behavior

What behavior did you actually see?

#### Environment

- Angular:
- CDK/Material:
- Browser(s):
-

[2020-10-09 08:46] darkoandreev opened #20756 "bug(MatAnchor): cdk-focused class added on disabled MatAnchor button"
Hello everyone,
First, I have a question related to the disabled state of the buttons - if the button (no matter which type is) is disabled, it shouldn't be focused with FocusMonitor, right?

I found a problem with the MatAnchor button. The disabled state of the button also can be focused by clicking on it, which is not correct probably because every other button doesn't have this "feature".
I use

[2020-10-09 14:44] bampakoa opened #20759 "docs-bug(dialog): Suggest using strong types for MAT_DIALOG_DATA"
#### Documentation Feedback

In the **Sharing data with Dialog component** section, the type of `MAT_DIALOG_DATA` in the described example is set to `any`. Given that it is encouraged to use strongly typing in Angular projects, I would suggest to use the following interface for the example:

[code]

**Affected documentation page:** https://material.angular.io/components/dialog/overview#sharing-dat

[2020-10-09 15:38] crisbeto commented on #20719
Reopening since the fix had to be reverted.

[2020-10-09 16:26] IConstructor opened #20761 "bug(Chips): Arrows navigation in NVDA browse mode automatically switched to focus mode"
#### Reproduction
Steps to reproduce:
1. Go to https://material.angular.io/components/chips/examples
2. Open NVDA screen reader in browse mode
3. Start navigating in browse mode with a help of up/down arrows
4. Navigate with the help of arrows to chips select list

#### Expected Behavior

NVDA is reading information about the select list and keeps navigating in the browse mode

#### Actual Behavio

[2020-10-09 16:28] IConstructor commented on #20761
Also would like to add that nvda browse mode is reading only first selected chips element from the selected chips and then moving to the selection field (where it is switched to focus mode)

[2020-10-09 18:29] jelbourn commented on #20675
@alan-agius4 that wasn't quite what I had in mind. I decided to just try it out and yes, you can use `ng generate` to run the `ng add` command so long as you install the package first:
[code]

Not sure if nx supports this, but that would be a feature request for nx.

[2020-10-09 18:29] #20675 closed

[2020-10-09 18:32] jelbourn commented on #20726
This isn't really how Angular is meant to be used; Angular expects that your DOM structure is codified in a component template. Angular does have APIs for dynamically loading components: https://angular.io/guide/dynamic-component-loader, but you would generally not do direct DOM manipulation like this.

[2020-10-09 18:32] #20726 closed

[2020-10-09 18:33] jelbourn commented on #20189
I missed that. I'll close this one.

Duplicate of #8790

[2020-10-09 18:33] #20189 closed

[2020-10-09 18:35] jelbourn commented on #18388
Closing since we haven't been able to reproduce this on our end.

[2020-10-09 18:35] #18388 closed

[2020-10-09 20:38] JaxonWright opened #20763 "bug(mat-sidenav-container): Firefox for Android (in landscape) has white cut-off bar at bottom of page when scrolling"
#### Reproduction

This can be seen on the official Angular Material website or any of your own ng projects that use the sidenav container. I originally thought it was a problem with just dialogs, but it is actually with the sidenav container. The behavior does not occur on ng websites that use Angular Material but not the sidenav container.

Steps to reproduce:
1. Open Firefox on your Android pho

[2020-10-10 07:38] junyuan commented on #18651
Similar issue [https://angular-1temy3.stackblitz.io](https://angular-1temy3.stackblitz.io) with version 9.2.4, looks like it has been fixed in v10
![Screencapture6](https://user-images.githubusercontent.com/49936085/95649125-8bedd780-0b0e-11eb-88ef-61b83c916d73.gif)
I use the list with selection, no matter single or multiple selection mode, when I click the scroll arrow button on the scroll bar. i

[2020-10-10 14:35] codemile commented on #10242
Hi everyone,

I've found probably the easiest workaround for this issue. The only side effect is that it requires the table to be redrawn when sort changes, but it's extremely simple to implement and works in most cases.

[code]

When ever you change the `sort: Sort` property on the component in an immutable way, then it will trigger the `<table>` to be recreated and the `matSort` component render

[2020-10-11 08:14] crisbeto commented on #20759
Feel free to send in a PR. It might be worth doing a code search in case there are other places like it in the docs.

[2020-10-11 08:19] crisbeto commented on #20756
The problem is that anchors can't actually be disabled. We simulate it on `mat-button`, because the selector matches both anchors and native buttons. There are a couple of ways around it, but neither of them is great:
1. Set `point-events: none` on the element when it's disabled. The problem with this is that it'll allow users to click on elements behind the anchor.
2. Stop monitoring focus if the

[2020-10-11 08:30] crisbeto commented on #20755
I couldn't reproduce it myself against the examples on material.angular.io, although I have seen the same issue in other places. I think that while removing the `translateZ(0)` would fix the blurring, it was put in there as a performance optimization so it can cause other problems. Leave it up the @mmalerba to make a call on whether we should fix it.

[2020-10-11 08:34] brmc commented on #4597
@benelliott, do you have a rough estimation of when it might be released? I'm in the process of vetting component libraries and the low density is one of the major strikes against material. it's very pleasant to use, but the low density is a no-go for our use case

[2020-10-11 08:39] crisbeto commented on #20752
Detecting clickability on our end will be impractical, because there are many ways of making something clickable. E.g. there's no way to detect `<tr (click)="doStuff()"></tr>`. I believe that the `ng-reflect` solution that you posted above won't work in production mode, because the `ng-reflect-` attributes are only set in development mode. Instead you can declare a directive that matches on `[rout

[2020-10-11 08:39] #20752 closed

[2020-10-11 08:46] crisbeto commented on #20750
It's because we restore focus to where it was before the datepicker was opened and it's intentional. It's unlikely that we'll remove it, because it's an accessibility feature, but we can add a `restoreFocus` option similar to the one in `MatDialog`.

[2020-10-11 09:03] crisbeto commented on #20744
It's hard to tell why you're getting the error since it doesn't happen on the Stackblitz. My hunch is that the `sort` isn't available yet during `ngOnInit` so you can try setting up the query like `@ViewChild(MatSort, {static: true}) sort`.

As for why your demo isn't working, it's because you've capitalized the names in `matColumnDef` and they're supposed to be lower case. Here's a working fork o

[2020-10-11 09:03] #20744 closed

[2020-10-11 09:10] crisbeto commented on #20741
It works that way, because by default, the datepicker uses a date adapter that parses the value using `new Date`. The date constructor parses out the string `1` as January 1st 2001, you can test it out yourself by running `new Date('1')` in the console.

There are a couple of ways around it:
1. You can create a custom data adapter that either extends the `NativeDateAdapter` and customizes the pars

[2020-10-11 09:10] #20741 closed

[2020-10-11 09:18] crisbeto commented on #20610
This seems identical to https://github.com/angular/components/issues/20517. I looked into it a while ago and there were two problems:
1. The tabs block child animations while they're animating.
2. The expansion panel has a `void` animation which will cause it to snap into a different state when it gets detached.

When I tried fixing it for https://github.com/angular/components/issues/20517, removi

[2020-10-11 09:28] crisbeto commented on #20749
A few notes:
1. It could be a problem with your own adapter since all the date logic is driven by it. Does the same issue happen if you use the `MomentDateAdapter` from `@angular/material-moment-adapter`?
2. The Stackblitz link throws an error so it's difficult to investigate.
3. You're running an older version of Angular. Have you tried updating to v10?

[2020-10-11 09:37] crisbeto commented on #20761
I could reproduce it, but I don't know of a way to tell the screen reader to go out of browse mode. The chip does seem to receive focus so I would've expected that to trigger focus mode automatically.

[2020-10-11 11:28] nwmv commented on #20750
Glad to know it. Thank you.

On Sun, Oct 11, 2020 at 4:47 AM Kristiyan Kostadinov <
notifications@github.com> wrote:

[2020-10-11 13:32] Volftsun commented on #1331
any updates? We are waiting for a range slider :)

[2020-10-11 14:12] zehavibarak commented on #19776
In addition, patching with emitEvent false will too cause multiple valueChanges to be triggered, as seen https://angular-pmxj3r-ipmezc.stackblitz.io

[2020-10-12 06:45] darkoandreev commented on #20756
Thanks @crisbeto for your nicely explained answer!

However, do you have any plans of removing the `cdk-mouse-focused` class for the anchors, or this should be done by the dev using the material library?

[2020-10-12 09:40] Brutusn commented on #20218
I encountered this bug aswell.

I have a formGroup (attached to a <mat-date-range-*> inside the template):

`readonly myRange = new FormGroup({
	start: new FormControl({ value: null, disabled: true }),
	end: new FormControl({ value: null, disabled: true }),
});`

I do listnen to the value changes, with nothing special, just to console log the value.

`this.myRange.valueChanges.subscribe(console.lo

[2020-10-12 11:01] benelliott commented on #4597
@brmc I don't work on the team so can only point you to the [README](https://github.com/angular/components/blob/master/README.md) which still lists it as a high-priority item for Q3.

[2020-10-12 11:41] akshaybhat30 commented on #20749
Hi @crisbeto

1. No it does not happen when i use MomentDateAdapter. I built this custom date adapter for handling the date format according to different user locales.

2. Here is the sharable link for the [Stackblitz](https://angular-moment-date-adapter-overriding-f89kp8.stackblitz.io)

3. No did not try updating it to v10 but might be updating it in future once we have a go ahead from our team.

[2020-10-12 13:35] BeniFreitag opened #20768 "bug(expansion-panel): Disable animation with [@.disabled]="true" stopped working in Angular 10"
#### Reproduction

Steps to reproduce:

1. create a simple mat-expansion-panel like this
[code]
2. Click on the header. You'll see an animation while the body is expanded.

Demo: see https://stackblitz.com/edit/mat-expansion-panel-10?file=src/app/expansion-overview-example.html (Angular 10)

#### Expected Behavior
Expand-Animation should be disabled. This worked in Angular 6 to 9.

Demo: see https

[2020-10-12 14:26] crisbeto commented on #20756
We may end up removing it, but I can't give any guarantees. You may be better off adding `:not(.mat-button-disabled)` to your focus selectors.

[2020-10-12 14:56] bampakoa commented on #20759
Thanks very much for your feedback @crisbeto . I will prepare a PR for this 👍

[2020-10-12 15:13] IConstructor commented on #20761
Hmm.. I just disabled "Automatic focus mode on focus changes" and the issue disappeared. So seems like this behavior is configurable.
But placeholder double pronunciation to me still look like issues.

[2020-10-12 15:19] crisbeto commented on #20761
The double placeholder issue sounds like something that we fixed for the plain input in https://github.com/angular/components/pull/10466, but it hasn't been applied to the chip input.

[2020-10-12 21:42] geromegrignon commented on #20750
@crisbeto i can work on a PR

[2020-10-13 01:25] garrettld commented on #20731
This isn't an issue with the material or cdk table, but rather with the way you're using the ngModel directive. TL;DR: use a unique indentifier for the "name" input on the ngModel and it'll work.

I ran into this issue at work with the PrimeNG p-table, among other things. Essentially you can't use ngModel in a form with an index-based name if you expect the items to be rearranged. For some reason

[2020-10-13 02:12] garrettld commented on #20689
This appears to have been introduced by https://github.com/angular/components/pull/13598

Prior to that change, the call to _setSelectionByValue() was not gated by an equality check on the value. Now that it is behind the equality check, mutating the array and calling writeValue will not update the trigger text, even though the form value is updated.

In your example StackBlitz you're using values

[2020-10-13 07:32] noamyg opened #20774 "help(Datepicker): set the format dynamically"
I'd like to be able to set the format of dates dynamically, without changing the locale.

I've succesfully used `this.dateAdapter.setLocale('en-GB')`. However, I'd like to be able to get the user preferred format from API (MM/DD/YYYY or DD/MM/YYYY, for instance) and to set it dynamically.
I know I can do something like `if (value === 'DD/MM/YYYY') this.dateAdapter.setLocale('en-GB')` but I want to

[2020-10-13 07:38] capc0 commented on #16731
is there any known workaround for this issue?

[2020-10-13 08:36] heddendorp opened #20775 "help(CDK): building fails with "parse5/lib has no exported member 'DefaultTreeElement'""
#### What are you trying to do?

I'm trying to build my app that uses the components.  The build fails with a type error in the cdk.

#### What troubleshooting steps have you tried?

I reinstalled all my dependencies to be sure.

#### Reproduction

Affected code is on this branch https://github.com/Isigiel/tumi-app/tree/v2

[code]

#### Environment

[code]

[2020-10-13 08:50] bampakoa commented on #20759
@crisbeto is there any `yarn` script that I can run to verify my changes or should I just rely on the markdown preview?

[2020-10-13 08:58] crisbeto commented on #20759
Verifying them is somewhat convoluted since the docs site is in a separate repo. You can rely on the Markdown preview.

[2020-10-13 10:38] Sam-Davis commented on #20610
Interesting. The trigger on load has the transition:
[code]

The transition on switching tabs has the transition:
[code]
A working transition has the transition event:
[code]
or when collapsing:
[code]
After the switching tabs transition has happened and it goes into state void, the transition events are no longer fired.

I've updated the [stackblitz example](https://stackblitz.com/edit/angular-61

[2020-10-13 13:20] liviualexandrubobocu opened #20776 "CdkVirtualScrollViewport.measureScrollOffset('bottom') not going to 0 on 1.25 or 1.50 Windows Desktop Scaling settings"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1. Use a list wrapped in cdk-virtual-scroll-viewport in HTML.
2.  Add  @ViewChild(CdkVirtualScrollViewport) virtualScroll: CdkVirtualScrollViewport  to the component
3.  Inject private scrollDispatcher: ScrollDispatcher in component constructor
4. Register scroll event via s

[2020-10-13 14:10] logineimer commented on #11523
Got this bug in angular 10. @snehagodbole workaround is not working for me.

[2020-10-13 14:49] Isigiel commented on #20775
An update to the latest angular libraries with `ng update`
[code]
Offered me a more helpful error message and suggested to install `@types/parse5` which seems to have solved my issue.
My guess is, that the actual problem is me using the strict mode in this project, it might be a good idea to change this into an actual bug.

[2020-10-13 17:40] ankushgoyal27 opened #20777 "DatePicker: TalkBack announces superfluous text when navigating dates"
#### Reproduction

Steps to reproduce:
1. Open the Calendar in Android Chrome browser from Angular material site
https://material.angular.io/components/datepicker/overview
2. Enable talkback

#### Expected Behavior

What behavior were you expecting to see?
It should announce the Date Month and Year.
i.e 13th October 2020 column 3

#### Actual Behavior

What behavior did you actually see?
It is ann

[2020-10-13 17:45] BePo65 opened #20778 "bug(ng add @angular/material): Could not read Angular module file with path in tsconfig.json"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1. generate new angular project `ng new test-app --defaults=true --routing=false --style=scss`
2. add `paths` to `tsconfig.json`
[code]
3. modify `main.ts` to use paths defined in `tsconfig.json`
[code]
4. add @angular/material using `ng add @angular/material`

#### Expected

[2020-10-13 20:21] deftdawg opened #20780 "feat(MatDatePicker): DateRange should implement min/max duration"
#### Feature Description

I would like to use date picker to allow a user to pick any number of days from 1-7, but no more than 7.

This could be implemented by adding a minimum (default: 1) and maximum (default: unlimited) duration values to the DateRange type.

If the minimum duration is not default:
- create greyed-out preview overlay of end values less than the minimum duration but not before

[2020-10-13 23:14] shlomiassaf opened #20781 "feat(): Provide a single mechanism to disable animation for a specific component at any time"
#### Feature Description

Currently, animations are enabled once the animation module is loaded.

To disable animation one can add the `NoopAnimationsModule` module and animations are disabled.

This is fine globally, but in some scenarios we would like to disable an animation for a specific component at a specific scenario, not at all scenarios.

One possible solution is to use `[@.disable]` whic

[2020-10-13 23:18] shlomiassaf commented on #20781
You can see a video of this here https://youtu.be/VCu2LTVE7SM

[2020-10-14 06:12] shweta21798 commented on #8190
i am using a mat-slide-toggle on mat expansion which resulted in opening of mat expansion even if i toggle the mat-slide. I used
@

Thanks alot for this, i was using mat-slide toggle on mat expansion which was causing the problem. using stopPropgation on mat-slide toggle works.  thanks

[2020-10-14 06:18] linchers commented on #5648
I hope timepicker can be implemented.

[2020-10-14 06:20] Hasnat150822 opened #20782 "Angular pipes and directives could not be used as a global state for all modules?"

[2020-10-14 07:26] sundaramoorthyjeeva commented on #14227
"hideTab0Flag" In which event we need to update this flag ? Please share more info on this flag.

[2020-10-14 09:58] BenoitMaisonny commented on #14311
Still an issue with Angular 10.0.0:
https://stackblitz.com/edit/angular-mat-form-field-multiple-suffix

[2020-10-14 10:34] Warwizza opened #20783 "bug(CDK Drag and Drop): Drag fails when dragging a div including an input with type="file" and an image"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/angular-9pkfah

Steps to reproduce:
1. Click the add image button.
2. Select an image using the file picker.
3. Try to drag the image to another position.
4. The app will crash.

#### Expected Behavior
The div including the image will be dragged (and dropped) to a new position

#### Actual Behavior
The app crash

[2020-10-14 12:57] harloveleen commented on #20305
I have the same issue ! been struggling with finding a reason why the event is not getting fired just for mat date range while works the other way round and it looks like it works if Ivy is enabled

[2020-10-14 13:54] emmbee7806 commented on #5648
I used https://github.com/SaturnTeam/saturn-datepicker
 it has the same it has the option of adding a custom footer. I added an input, form group is injected, works like a charm.

[2020-10-14 14:08] thw0rted opened #20784 "Add StackBlitz starters for harnesses"
I want to report an issue with unit testing features of the library (like `TestbedHarnessEnvironment`) but the template only links to one starter Stackblitz, which is not configured to run tests.  The Angular docs include a link to [this Stackblitz](https://stackblitz.com/angular/nnvnepvjlxl) which uses Karma to run tests in browser, and works great, but does not use this library at all.  I'm stru

[2020-10-14 14:27] thw0rted opened #20785 "bug(TestbedHarnessEnvironment): Impossible to use if component under test uses intervals"
Use StackBlitz to reproduce your issue: not yet, I reported #20784 and would be happy to set up a sample StackBlitz with a little help.

Steps to reproduce:
1. Follow [the instructions for using Harnesses](https://material.angular.io/guide/using-component-harnesses)
2. In the component under test, use `setInterval`, or the rxjs `interval(n)` or `timer(0, n)` observables
3. Your test will stall ind

[2020-10-14 18:39] johannesjo opened #20794 "bug(DatePicker): Days put into a single long row for production build"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1. git clone https://github.com/johannesjo/super-productivity
2. yarn
3. ng serve --prod
4. Open up app
5. Create a task by entering something into the input and pressing enter
6. Click on the other part of the newly created task so that a border appears around it
7. press t

[2020-10-14 20:00] gioele-antoci opened #20795 "help(Mat-Tree): Trying to add a window click event is swallowed by CdkTreeNodeToggle. Why?"
I am simply trying to attach a click event to the entire window.
I noticed that the event is swallowed by `CdkTreeNodeToggle` [here](https://github.com/angular/components/blob/master/src/cdk/tree/toggle.ts#L39
).

Why is the event not propagated?

#### Reproduction
https://stackblitz.com/edit/angular-dma36r?file=src/app/tree-checklist-example.ts
Steps to reproduce:
1. Click around with the console

[2020-10-14 20:31] MatthiasKunnen commented on #20599
@jelbourn I've once looked into creating a date-fns date adapter but decided against it because I deemed it a huge hassle to get the necessary testing framework into my own project. If there is a way the Angular team could provide some kind of base for date adapter libraries to build on I reckon third party implementations would be attainable.

[2020-10-14 20:42] geromegrignon commented on #20782
This question is about Angular, not about Angular/Components.
Could you move it to the framework @alan-agius4 ?

To avoid using a big Shared Module you can create a Module per Pipe/Directive in order to get more control of what is actually being used in your lazy loaded modules.

[2020-10-14 21:00] KingDarBoja commented on #20599
There is some [gist](https://gist.github.com/JoniJnm/412325c073805437c68430b11407e11b) for a `date-fns` adapter, which I copied onto my project and worked like a charm, but in this case, there is already a base for building your own date adapter via https://material.angular.io/components/datepicker/overview#choosing-a-date-implementation-and-date-format-settings so not sure what you meant.

Cheers

[2020-10-14 21:09] #20385 closed

[2020-10-14 21:13] MatthiasKunnen commented on #20599
@KingDarBoja, making a quick implementation of a date adapter is pretty easy. Making a properly tested date adapter and keeping it in sync with changes in Angular is something else. The current MomentDateAdapter has the luxury of residing in the Angular Components source and can use the extensive testing framework that is available.

When a breaking change to the DateAdapter class is made, all thi

[2020-10-15 05:14] #20782 closed

[2020-10-15 05:15] Hasnat150822 commented on #20782
ok I have move this question into angular repo to suggest feature.

[2020-10-15 08:27] rbalet commented on #17191
On my `2560x1440` screen device, it still happen when I have a `mat-select` within a `MatDialog`

[2020-10-15 08:28] towith commented on #10968
I got the same issue , here's my code
[code]

the
[code]
method not work

[2020-10-15 09:11] Akxe commented on #20022
@crisbeto Anything came from the meeting?

[2020-10-15 09:46] gabra666 commented on #20731
Thank you very much this hepled me a lot! In my case (similar but not the same as in the stackblitz) I have used an Id that comes from the backend, my next issue was to add new Items to the table, since they are created in the frontend they did not have a generated Id, I added a prefix and a counter for those new elements as an Id and it works as expected :)

Thanks a lot! @garrettld

[2020-10-15 09:51] ahmedkhairydev opened #20804 "mat-tab-group | add mat-tab-body-previous & mat-tab-body-next in mat-tab-body DIV"
#### Feature Description

I wanna get access to the previous & next tab, and I can't do that!

#### Use Case

the use case is I wanna translate animation in RTL direction, and I can't do that because I can't access the previous & next tab!

[2020-10-15 11:07] ryandmello1198 commented on #18659
This doesn't work after I migrated my project from angular 7 to 9

[2020-10-15 11:16] thw0rted commented on #20785
Probably relevant: https://github.com/angular/angular/issues/12721 , https://github.com/angular/components/pull/20638.

[2020-10-15 12:32] stagefright5 commented on #8790
How is this not a thing. Please consider this

[2020-10-15 13:43] gdurev opened #20805 "bug(cdkTable): MatTable: Cannot read property 'nativeElement' of undefined"
#### Reproduction

Unit testing mat-table with jest gives the following error:

`TypeError: Cannot read property 'nativeElement' of undefined

      at MatTable.CdkTable (../src/cdk/table/table.ts:442:24)
      at new MatTable (table.ts:7:1)
      at createClass (../packages/core/src/view/provider.ts:273:14)
      at createDirectiveInstance (../packages/core/src/view/provider.ts:142:7)
      at cr

[2020-10-15 16:41] aaberhane opened #20806 "ngx-mask adding extra - for mask 99999.9999-99999"
I am using Angular 10.1.5 and ngx-mask 10.0.4.  This is how my control looks like in the html
<input type="text" class="form-control" aria-label="Matter" aria-describedby="Matter" formControlName="matterIDsel" mask="99999.9999-99999" pattern="^[\d]{5}\.[\d]{4}-[\d]{5}" [specialCharacters]="['-','.']" [showMaskTyped]="true" [dropSpecialCharacters]="false" />
but on the application when you type the

[2020-10-15 18:12] lancelot-c commented on #15885
Had the same issue

This worked for me :
[code]

[2020-10-15 18:35] tp1906 opened #20810 "MAT-OPTION: Screen reader announces an option with label of "No" as "Number""
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/components-issue-m1awrt?file=src/app/example-component.html

Steps to reproduce:
1. Run Chromevox extension
2. Tab to mat-select
3. Hit Enter to open drop-down
4. Use arrow keys to navigate to options
5. Listen to screen reader, when "No" is selected it will read "Number three of four".  All other options read t

[2020-10-15 18:37] wagnermaciel commented on #20311
@jelbourn Correct me if I'm wrong but it looks like this issue has been resolved

[2020-10-15 18:50] mikzat opened #20812 "bug(MatNavListItemHarness): getText() needs to exclude icons"
`MatNavListItemHarness` function `getText()` is including text for icons inside the `mat-list-item`:

[code]

Using `getText()` for the above case currently outputs `'helpHelp'`. There should be some mechanism of getting the text without the icon.

[2020-10-15 19:22] tp1906 commented on #20810
I am using Chrome version: 86.0.4240.75

[2020-10-15 20:33] jelbourn commented on #20810
I don't believe this is anything we're doing; it seems like that's just the screen-reader deciding it's an abbreviation.

That said, it's worth pointing out that the ChromeVox browser extension is _not_ supported and is not a real screen-reader.

[2020-10-15 20:33] #20810 closed

[2020-10-15 20:35] jelbourn commented on #20806
`ngx-mask` isn't something from this repo.

[2020-10-15 20:35] #20806 closed

[2020-10-15 20:36] jelbourn commented on #20805
This issue doesn't have enough information for the team to investigate. Please include a reproduction of the issue (preferably via StackBlitz)

(this is a canned response)

[2020-10-15 20:40] jelbourn commented on #20804
`mat-tab-group` already reverses the animation in RTL mode. It's not really clear from your issue what you're trying to accomplish and what you've tried. Feel free to open a new issue that provides more detail.

[2020-10-15 20:40] #20804 closed

[2020-10-15 20:42] jelbourn commented on #20795
Clicks in the tree are not propagated because they would bubble up to parent nodes and potentially cause them to toggle as well. You probably want to use `addEventListener` with `useCapture` to accomplish this.

[2020-10-15 20:42] #20795 closed

[2020-10-15 20:47] jelbourn commented on #20784
We've actually already started adding examples for harnesses that will run in StackBlitz: https://github.com/angular/components/pull/20722

[2020-10-15 20:51] jelbourn commented on #20781
Making sure I understand- is there some limitation to importing `NoopAnimationsModule` for a subset of the app? E.g. if I want to disable animations for my `UserProfileComponent`, I could import `NoopAnimationsModule` for just that component's module.

[2020-10-15 20:52] jelbourn commented on #20794
@johannesjo I tried your app and the Datepicker renders normally:
![image](https://user-images.githubusercontent.com/838736/96184716-b7493b80-0eed-11eb-8c9d-2e9aba218077.png)

[2020-10-15 21:02] jelbourn commented on #20774
There's an example of setting a custom format in the docs:
https://material.angular.io/components/datepicker/examples

[2020-10-15 21:02] #20774 closed

[2020-10-15 21:04] jelbourn commented on #20768
This happened because we changed the expansion panel from using Angular animations to using plain CSS animations. You should still be able to disable the animation using `NoopAnimationsModule`, though.

[2020-10-15 21:18] #20311 closed

[2020-10-15 21:35] shlomiassaf commented on #20781
That's true but not practical in many ways.

- It does not allow you to toggle animation based on some state.
- It forces the entire module to disable animation for all material components, what if I just want `mat-checkbox`?
- It assumes one wants all animations off, which is usually not the case

Furthermore, as a library author, I allow users to inject cell templates into my grid, the template

[2020-10-15 21:45] johannesjo commented on #20794
@jelbourn are you sure? Did you start the app with the  `--prod` flag?

[2020-10-15 22:10] thw0rted commented on #20784
Thanks for the example, Jeremy.  The tests are helpful, but I was actually more interested in the Stackblitz side -- pre-rigging the deps for Karma etc,, configuring the runner, that sort of thing.  I could probably come up with one myself, but the point of the issue was that such a preconfigured starter should be part of the Bug Report template, to facilitate reporting bugs in the test utilities.

[2020-10-15 22:38] annieyw commented on #20784
we can work towards adding it to the bug template but meanwhile you can try forking from [here](https://stackblitz.com/angular/pybjypxbmdj?file=src%2Fapp%2Fbutton-harness-example.spec.ts)

[2020-10-15 23:21] tp1906 commented on #20810
Actually, I do believe this is an issue as it works fine while using Angular Material 9.1.0 and I tested using ChromeVox

Angular Material v10.2.1 - https://stackblitz.com/edit/components-issue-upbgwh?file=package.json (doesn't work)
Angular Matearial v9.1.0 - https://stackblitz.com/edit/components-issue-egx1ge?file=package.json (works fine)

[2020-10-15 23:38] tp1906 opened #20815 "MAT-OPTION: Screen reader announces an option with label of "No" as "Number""
This issue was closed under #20810, however, I do believe it is an issue within angular material.  This issue occurs while using angular material version 10.2.1 but works fine under version 9.1.0.

#### Reproduction

**Angular Material v10.2.1** - https://stackblitz.com/edit/components-issue-upbgwh?file=package.json **(doesn't work)**
**Angular Matearial v9.1.0** - https://stackblitz.com/edit/comp

[2020-10-16 06:58] geromegrignon commented on #20794
I tried it with the `--prog` flag as well and it renders normally too.

[2020-10-16 07:56] johannesjo commented on #20794
@geromegrignon did you mean `--prod`instead of `--prog`? İ just tested again and it does reproduce as described on my desktop browser and my mobile chrome as well. But İ will do some more testing, for different browsers etc..

[2020-10-16 08:01] geromegrignon commented on #20794
@johannesjo i meant `-prod` sorry.

As it works fine on cloning the project twice, try to clone it in another folder and follow the steps you described to reproduce the issue.
If it renders normally, i would consider deleting node_modules and run `yarn install`

[2020-10-16 09:45] mjsaijem09 opened #20816 "Bug(mat-select): mat-select not showing mat-option"
mat-option in not popping up in mat-select
[code]

[code]
stackblitz
https://stackblitz.com/edit/layouting?file=src%2Fapp%2Fnew-sales%2Fnew-sales.component.html
![image](https://user-images.githubusercontent.com/50950599/96242971-b17b5500-0fd6-11eb-8902-4e3a5585f2d6.png)

[2020-10-16 10:02] thw0rted commented on #20784
Perfect, Annie, that's exactly what I had in mind!  Thanks, I'm going to add my fork to #20785 now.

[2020-10-16 10:25] kozrkozr commented on #20816
Add @angular/animations to your dev dependencies and import BrowserAnimationsModule (from '@angular/platform-browser/animations') to your AppModule

[2020-10-16 10:36] #20816 closed

[2020-10-16 10:36] mjsaijem09 commented on #20816
@kozrkozr Thanks

[2020-10-16 10:48] johannesjo commented on #20794
@geromegrignon oh. Deleting node_modules did the trick. Thank you very much. I was convinced that this might not be the issue, as I encountered this also on my CI, but that might have been due to caching...

I am closing this. Sorry, for the inconvenience.

[2020-10-16 10:48] #20794 closed

[2020-10-16 14:30] SteGriff commented on #18240
I can't comment on why this bug happens as it seems to be a feature. For every few lines you scroll, the `translate-y` is increased. So  for our use case, I added this CSS rule to fix it:

[code]

Hope it helps.

[2020-10-16 18:58] #20783 closed

[2020-10-16 19:02] #20200 closed

[2020-10-16 19:02] #20720 closed

[2020-10-16 21:37] gusarov commented on #11381
@adrianriepl @jakobadam

Having Ngrx & immutable js in reducer - job is perfectly done, and additional state cloning here is kind of defeating the purpose of immutable js, I think? Also I have 'normalized' model to help minimize cloning of a graph. The list of children is just an ids, and there is a Map of nodes in a state to navigate by id. I've been so excided by resultant performance of this ap

[2020-10-16 22:03] mikzat opened #20820 "bug(mat-button): Button focus is imperceptible in high-contrast mode"
#### Reproduction

Open any page that has a MatButton while using High Contrast mode:

![image](https://user-images.githubusercontent.com/6393085/96312461-86860680-0fc0-11eb-86cb-1e1ac8cbf6fc.png)

#### Expected Behavior

Buttons should only receive an outline when a user has focused the button.

#### Actual Behavior

All buttons always have the outline, regardless of focus state.

#### Environmen

[2020-10-17 08:13] crisbeto commented on #20820
FWIW, buttons do have focus treatment specifically for high contrast mode, but I agree that it's difficult to see. It works this way, because we can't add another outline to the button and I'm not sure that I agree with the statement that "Buttons should only receive an outline when a user has focused the button". If buttons don't have an outline from the start, it'll be difficult to tell that the

[2020-10-17 17:40] mikzat commented on #20820
I haven't checked across all browser/OS combinations, but the native behavior of HTML buttons in high-contrast mode seems to be no outline unless focused, so Angular seems is doing something unique here which might be surprising to someone who is used to the native behavior. That said, a thicker outline would already be an improvement.

[2020-10-17 23:37] shlomiassaf commented on #15087
I believe this one is closed by #20389

[2020-10-17 23:37] #15087 closed

[2020-10-18 08:00] Skuriles commented on #20805
Hello,
as I have trouble with the same issue, I've created a stackblitz with the original exmaple from the documentation which fails.

https://angular-7nwwok.stackblitz.io

In my application with same package.json I get additional errors like that:
![image](https://user-images.githubusercontent.com/7985622/96361748-9e789a00-1128-11eb-9610-2aee93cb0866.png)

So I can't get at least a minimal exampl

[2020-10-18 15:57] FARHANE commented on #5227
It's your css.
https://stackblitz.com/edit/angular-dnolru-y6qxxh?file=styles.css

[2020-10-19 07:08] BeniFreitag commented on #20768
Yes, using `NoopAnimationsModule` works.

[2020-10-19 16:15] Skuriles commented on #20805
I think I've found the issue:
As I've started with an old version of angular-cli there were some old dependencies like core-js etc.
I set up a new Angular cli project form scratch, copied my code an now it works.

So it can be closed due to update problems, not by the lib itself

[2020-10-19 16:40] jelbourn opened #20826 "Align MDC-based chip harnesses with existing MatChipHarness"
The MDC-based chip harness is missing several APIs from the original due to some implementation differences between the two. We need to bridge this before the MDC-based component is considered fully stable.

[2020-10-19 16:43] MatteoVH commented on #20826
I'm taking on the addition of the `remove` method for the MatChipHarness.

[2020-10-19 16:46] wagnermaciel commented on #20081
@crisbeto Correct me if I'm wrong but this issue seems to have been resolved.

[2020-10-19 16:50] crisbeto commented on #20081
Yes, I don't see it stretching anymore. Closing.

[2020-10-19 16:50] #20081 closed

[2020-10-19 17:34] jelbourn opened #20828 "Component Harness getText should ignore MatIcon content"
For convenience!

[2020-10-19 17:56] crisbeto commented on #20828
Duplicate of https://github.com/angular/components/issues/20812.

[2020-10-19 17:56] #20828 closed

[2020-10-19 18:35] tp1906 commented on #20815
I wanted to follow-up and let you know that this does NOT work with NVDA either.  I will be testing on JAWS 18 once it's been installed.

[2020-10-19 19:15] danww commented on #14603
@mhp-borisbojic Yes! I have this issue too!

We're lazy-loading more data when selecting next/previous month, but unable to refresh the highlighted dates on the calendar while it's open, once the new data is loaded. Currently have to navigate to a different month and back for the highlights to appear.

Would love access to refresh the MatCalendar component via MatDatePicker, in much the same way a

[2020-10-19 19:29] wagnermaciel commented on #8842
@crisbeto Could you verify for me whether or not this has been resolved? I checked on stackblitz and it seems ok now

https://stackblitz.com/edit/angular-zrplr2?file=src%2Fapp%2Fbutton-overview-example.css

[2020-10-19 20:18] MatteoVH commented on #20826
Hi Kristiyan,

My fix (#20831) shouldn't be affected by #20801, but thank you for the heads up.

When testing my PR by using the harness in my unit tests, it seems like the custom `width` `propertyName` doesn't actually matter. The `(removed)` output is still triggered and the HTML element is correctly removed from the DOM.

[2020-10-19 20:45] annieyw commented on #17945
Closing because it seems like the issue was resolved.

[2020-10-19 20:45] #17945 closed

[2020-10-19 21:23] MendyBerger opened #20833 "feat(cdk-row, mat-row): Allow with `a` elements"
#### Feature Description

Allow `cdk-row` to be used on an `a` element (and maybe other elements as well).

`a[cdk-row]`

#### Use Case

Allowing rows to be anchor tags would help with accessibility, since currently developers [use JavaScript](https://stackoverflow.com/a/53765608/5253155) to mimic links.

[2020-10-19 21:32] annieyw commented on #19068
Closing since the expand/collapse sections in the side nav have been removed.

[2020-10-19 21:32] #19068 closed

[2020-10-19 21:34] MatteoVH commented on #20826
Hey, looks like I was wrong and the `width` `propertyName` is necessary. My project's unit test was passing for other reasons that were unrelated (still not sure why, exactly.) I'll wait for #20764 to be merged.

[2020-10-20 08:41] tachojelev commented on #20805
Seems related to: https://github.com/angular/components/issues/9813
Do we have any details on that?

[2020-10-20 13:22] rameshworsht commented on #20694
@wagnermaciel Could you please re-open this issue. https://github.com/angular/components/pull/20695 Does not fix this issue on Safari and Firefox.

[2020-10-20 14:35] #20820 closed

[2020-10-20 14:40] #20759 closed

[2020-10-20 14:42] #20682 closed

[2020-10-20 14:43] #20710 closed

[2020-10-20 14:53] #20210 closed

[2020-10-20 14:55] #20719 closed

[2020-10-20 19:08] ahmedkhairydev opened #20838 "MatTabGroup animation goes the wrong way in RTL"
#### Reproduction

StackBlitz to get my issue: https://stackblitz.com/edit/components-issue-yxyjcs?file=src/app/example-component.html

Steps to reproduce:
1. move between the tabs by clicking on it, you will find the animation way from left to right not right to left...
2. move between the tabs using the arrows, unacceptable behavior happens...

#### Expected Behavior

What behavior were you expe

[2020-10-20 19:17] Cyberlane commented on #14850
@wosevision did you find any sort of work-around for this? I'm currently stuck with this exact same problem, code very similar to what you shared.

[2020-10-20 20:48] geromegrignon commented on #20315
I'm working on a PR

[2020-10-20 20:54] rameshworsht opened #20840 "docs(material/select): select with dialog example in dev app not selecting options"
#### Reproduction
This issue can be reproduced on the dialog example: https://material2-dev.firebaseapp.com/select

Steps to reproduce:
1. Navigate to Dialog
2. Use the Voice Over (mac screen reader) and open the select drop-down
3. Try to navigate the option with UP/DOWN arrow key. The VO navigation doesn't select the options

#### Expected Behavior

What behavior were you expecting to see?
- Usi

[2020-10-20 22:53] geromegrignon commented on #20315
PR opened : https://github.com/angular/material.angular.io/pull/878

[2020-10-21 07:48] akshata456 opened #20846 "mat select and mat-autocomplete is not scrollable on safari"
iphone 11 pro max/13.2
safari 13
angular9
material 9.2.4

mat select dropdown is not scrollable. Check with https://material.angular.io/components/select/examples also it's also not show scrolling in this example. Please take look on this issue. Thanks.

[2020-10-21 08:54] mohamed-tebani commented on #12171
Work for me !

[2020-10-21 10:45] kfir124 commented on #12171
@mohamed-tebani fix was great for me, 1 line of css and just works! thanks

[2020-10-21 12:34] mrmokwa commented on #20732
Closing because it has been done.

[2020-10-21 12:34] #20732 closed

[2020-10-21 12:50] ajsemana opened #20847 "Duplicate mat-chip if same predefined tag was assigned inside ngFor"
Hi all,

I used the same given sample from the angular component page https://material.angular.io/components/chips/examples which is the "Chips Autocomplete" to be exact. But when I used it inside *ngFor it keeps doing exactly the same with the other containers who has the same predefined tags. I am using it for a chat application by the way.

Please see below snapshot. Thanks!

![image](https://u

[2020-10-21 14:29] kussmaul commented on #5889
FYI, I finally got this to work, by explicitly connecting the columnDef to its children. I don't know if this happens later, or if it should happen sooner but doesn't for some reason.

[code]

[2020-10-21 15:41] admosity commented on #16671
So it seems like there is some internal priority here. I've gotten pretty decent results with sorting the lists by dom depth as a workaround:

[code]

It seems that no matter what I do, I can't seem to get it to re-order within the source droplist where I grabbed an item from.

[2020-10-22 01:30] tomrlq opened #20850 "bug(Breakpoints): Incorrect upper boundary lead to wrong match result"
#### Reproduction

Use StackBlitz to reproduce your issue: https://components-issue-r4nh9s.stackblitz.io

Steps to reproduce:
1. change browser size to 960 * 600
2. apply following code
[code]

#### Expected Behavior

matching result should be false

#### Actual Behavior

matching result is true

#### Environment

- Angular: 5, 6, 7, 8, 9, 10
- CDK/Material: 5, 6, 7, 8, 9, 10
- Browser(s): Chrome,

[2020-10-22 04:37] ngothanhluan commented on #7226
Hi found this package on npm https://github.com/Maxl94/ngx-multi-sort-table. hope this is useful.

[2020-10-22 06:30] huibk89 commented on #16209
for now i still have the same problem.
Fastest fix for me was instead of using *ngIf for the matInput's, use fxHide.
ofc you need to be using the flexLayout module, but simulair solutions should work.

[2020-10-22 09:20] ninjaonsafari commented on #8992
fixed by using [autosize](http://www.jacklmoore.com/autosize/)

[2020-10-22 10:42] rajesh05c4 commented on #8857
In Angular latest version I was able to with keyframeAnimationOptions.
set the animation property something like this.

[code]

[2020-10-22 12:10] ahdigital commented on #15779
Would be nice to see this added. When using calendars in conjunction with financial reports it is useful to quickly select the last day of the previous month. E.g. Month end reporting.

[2020-10-22 12:56] samarthkrtya opened #20851 "Angular + Material - How to handle multiple checkboxes with formgroup"
#### Reproduction

https://stackblitz.com/edit/components-issue-ghpvfc?file=src/app/example-component.ts

I have a list of interests I want a user to be able to select the interests they want. I will store only the interests they checked in the DB and pre-populate when they load the page. But first, I need to get these interests the user has selected.

Steps to reproduce:
1. checked checkbox more

[2020-10-22 13:49] kaminkaa commented on #8857
@rajesh05c4 where in the angular project did you use these keyframeAnimationOptions? In which class?

[2020-10-22 14:38] geromegrignon commented on #20851
[code]

In your form definition, there is a **single** `interests` FormControl which value is initially `[]`;
Looping over your interests property into your template doesn't generate additional FormControls : so whatever checkbox you act on, it'll change this single FormControl value : initially from `[]` to true.

[code]

Wrong : it takes the value of the last action on a checkbox : if you unchec

[2020-10-22 14:44] geromegrignon commented on #20847
Please consider to fill in the issue template :
[code]

Your actual expectation is missing among other things (especially as you are declaring duplicates while looping other data with the predefined tags, which at first sight is working as intended).

[2020-10-22 14:46] sashaaro opened #20852 "bug(MatCheckbox): check/uncheck not working in QQ browser on iPhone"
#### Reproduction

Steps to reproduce:
1.  Open https://material.angular.io/components/checkbox/overview QQ browser on iPhone
2. try check/uncheck checkbox

#### Expected Behavior

checkbox should change view when check  /uncheck

#### Actual Behavior

checkbox view does not change

#### Environment

- Angular:10.1.2
- CDK/Material:10.2.1
- Browser(s): QQ Browser 10.8.3.4539
- Operating System (e.

[2020-10-22 15:09] tomastrajan opened #20853 "Add search to material.angular.io"
#### Documentation Feedback

It would be amazing if there would be a search field at the top toolbar where I could search for `button` or `card` and it would list links to relevant components (could also provide links directly to their API doc and Example page) so that I can quickly get the info I am interested in.

**Affected documentation page:**  Such a search input could be in the top toolbar

[2020-10-22 15:09] meblum opened #20854 "feat(DatePicker): Allow custom footer"
#### Give option to add a custom footer for the date picker

Currently, there's only the option of adding a custom header to the date picker.
It would be really helpful if a custom footer is allowed as well.

#### Use Case

Giving an option of adding a custom footer will allow developers to add custom functionality to the picker.

Will fix issue #11753
Will also solve #5648

[2020-10-22 15:51] ajsemana commented on #20847
![image](https://user-images.githubusercontent.com/19888091/96897106-54344780-149f-11eb-9860-c4359ace75b6.png)

[2020-10-22 16:27] geromegrignon commented on #20847
is `idx` the index of your file container?
As you are passing it as an argument  to the `assignFileTagChip()` and `assignFileTag()` functions, the problem should lie there. Please consider we don't know your context and please provide all required code to understand how you add tags to the data of each container.

[2020-10-22 16:41] ajsemana commented on #20847
Yes it is the index coming from the ngFor.
![image](https://user-images.githubusercontent.com/19888091/96902729-f1927a00-14a5-11eb-9c70-644ca995913c.png)

Hope the below code helps. I've seen no problem with `assignFileTagChip()` and `assignFileTag()` functions.
What I suspect is the **assignFileCtrl** which I think needs to be declared unique per containers to avoid doing same actions with other

[2020-10-22 17:01] geromegrignon commented on #20847
[code]

Yes i advice you to rely on the FormArray API to get a unique FormControl per message.

[2020-10-22 17:12] ajsemana commented on #20847
Do you have any sample I can follow on how to apply FormArray to assign it on every new container?

[2020-10-22 17:52] jesscxu opened #20858 "feat(material): Allow focus origin to be an optional input to focus() methods."
#### Feature Description

WHAT: For Angular Material components that have a focus() method, allow for the origin param to be optional and remove the default origin value.

WHY: For cases where the focus() method is called and the origin is already defined, we don’t want to override the origin using focusVia to always be some default value. In many cases, we want to leave the origin unchanged, but

[2020-10-22 20:44] jelbourn commented on #20858
Would it work for your use case if the `FocusMonitor` publicly exposed `lastFocusOrigin` so you could just read that and pass it through to the `focus` method manually?

Changing the default behavior if no origin was specific would be a breaking change that would potentially be difficult to land in Google, so doing it manually would be an easier change to make, especially since we seem to already

[2020-10-22 20:47] jelbourn commented on #20853
FWIW we've discussed this multiple times over the years, but it's a pretty low priority addition since it is ultimately under 40 components and Google Search works pretty well for the content.

[2020-10-22 20:50] jelbourn commented on #20852
Unfortunately this isn't a browser we support.

[2020-10-22 20:50] #20852 closed

[2020-10-22 20:51] jelbourn commented on #20851
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, discord, mailing list, etc.

(this is a canned response)

[2020-10-22 20:51] #20851 closed

[2020-10-22 21:00] jelbourn commented on #20850
Confirmed that `.98` falls under the boundary and `.99` counts as over. Feel free to send a PR!

[2020-10-22 21:03] jelbourn commented on #20846
We tried this on an iOS device and could not reproduce. Do you have more information?

[2020-10-22 21:10] jelbourn commented on #20833
The table is a real native `<table>` element, which must contain `<tr>` (which then contains `<td>`). Having an `<a>` as a child of a `<table>` (or `tbody`, `thead`, etc.) would be invalid, especially for a11y.

[2020-10-22 21:10] #20833 closed

[2020-10-22 21:17] jelbourn commented on #20815
I tested both your v10 and v9 examples with NVDA. Both of them read "Number" for the "No" option. However, I don't think that this behavior has anything to do with `MatSelect`; we don't have a label string "Number" anywhere in our codebase, and it's certainly nowhere in the DOM for the example. This leads me to conclude that this is just the behavior of the screen reader whenever it encounters "No

[2020-10-22 21:18] jelbourn commented on #20749
@akshaybhat30 since this doesn't happen with the Moment adapter, the most likely cause is something in your custom date adapter.

[2020-10-22 21:21] #20749 closed

[2020-10-22 21:28] jelbourn commented on #10061
Duplicate of #2058

[2020-10-22 21:28] #10061 closed

[2020-10-22 21:50] MendyBerger commented on #20833
According to the docs `mat-table` and `cdk-table` can be used with or without a `table` element.
When using it without the table element I think an `a` element does make sense.

[2020-10-22 22:08] thomasdmitchell opened #20865 "feat(google-maps): allow ability to update bounds in GroundOverlay"
#### Feature Description

Allow the ability to update the bounds of a GroundOverlay.

#### Use Case

 Currently it updates opacity, URL so I think it would be useful to allow bounds to update if possible

[2020-10-22 22:15] tp1906 commented on #20815
I did notice that mat-select accessibility changed from v9 to v10.  In v9, mat-select would not announce the item that was selected.  In v10 this  works but now I have the ‘No’ issue.  I recall that in v9 mat-select had a role=listbox but it is now combobox similar to the mat-autocomplete.  Not sure if this has anything to do with this issue

NVDA Test:  both v9 and v10 don’t work.

JAWS 18 Test:

[2020-10-23 01:02] tomrlq commented on #20850
#20866
I have just submitted a PR, thanks

[2020-10-23 03:39] AcarMeel commented on #20741
Oh I see. Thanks for the clarification

[2020-10-23 07:34] crisbeto commented on #20865
This came up when I added the ability to update the other properties. Here's the relevant discussion https://github.com/angular/components/pull/19306#discussion_r423206503

[2020-10-23 09:00] tomastrajan commented on #20853
@jelbourn thank you for providing the additional context

[2020-10-23 10:05] crisbeto commented on #20858
Another problem with adding `origin` parameters everywhere is that we'd have to inject and use `FocusMonitor` in components that don't use it at the moment which will be a breaking constructor change.

[2020-10-23 11:41] fireflysemantics opened #20868 "Embed Test Documentation in the API Comments"
https://fireflysemantics.medium.com/embedding-test-example-documentation-for-api-usability-and-code-flow-d80fef9e7a03

For example it will make reading and understanding the SASS API simpler:

[code]

It would be nice if an example of how to use the API were included in the API description / comments.

[2020-10-23 12:09] geromegrignon commented on #20847
Without FormArray, just by looping over a list, it works using the autocomplete example from the Angular Material Documentation : https://stackblitz.com/edit/angular-87cxp2?file=src/app/chips-autocomplete-example.ts

If you can't adapt it, please move the issue to stackoverflow as the project works as intended.

[2020-10-23 12:34] ajsemana commented on #20847
Will do. Thank you for your kind assistance.

[2020-10-23 12:34] #20847 closed

[2020-10-23 12:34] Goodmain commented on #20624
@devversion I see an issue at Chrome 86.0.4240.111

[2020-10-23 13:04] aleperfetti81 commented on #11715
Hi guys, any solution?

[2020-10-23 13:32] akshata456 commented on #20846
I copy this code from select examples nothing do more , but it's not working. Also try to add virtual scrolling inside mat-select it's gives slow performance. Can you have any idea why this happening and it's only in ios device.

[2020-10-23 14:57] crisbeto commented on #20838
It's because you've placed the element with `dir="rtl"` outside of the Angular app. We only look for elements with `dir` inside the app and on the `body` and `html` tags. [Here's a working fork of your example](https://stackblitz.com/edit/components-issue-vcuxpm?file=src%2Fapp%2Fexample-component.html). The only change is that I moved the `dir="rtl"` to a `div` inside the app.

[2020-10-23 14:57] #20838 closed

[2020-10-23 15:03] ankushgoyal27 commented on #20777
Hi When can i expect the solution for this. Thanks

[2020-10-23 15:14] MinhPhuPham opened #20869 "Stop autofocus of mat-chips after some mat-chip is deleted"
When I delete a certain mat-chip the next one gets focused and after pressing backspace it too gets deleted. I was not able to find anything to stop this behaviour.

Expect: i want when delete chips, it prevent event focus to previous chips and focus to the input element.
Can anyone help me? Thanks so much.
Link overview: [https://material.angular.io/components/chips/overview](https://material.ang

[2020-10-23 15:25] yjaaidi opened #20871 "feat(@angular/cdk/testing): Component Harness Feedback"
**This is an open discussion aiming to regroup Component Harness feedback and improvement ideas.**

Most of the items below are focused on simplifying the API. The current APIs are a bit too complex; this can have a negative impact on `TestHarness` adoption.

# For test authors

## 1. Easier access to harness

`HarnessLoader` is a nice abstraction but it can make harness instantiation cumbersome.

[2020-10-23 15:33] crisbeto commented on #20869
Moving focus to another chip is required for accessibility. If we didn't do it, a screen reader user would lose their position on the page once the focused chip is removed.

[2020-10-23 16:45] jesscxu commented on #20858
Interesting thought, yes that would work for components where we call `focus` and could pass `lastFocusOrigin` in. However, this wouldn't work for Angular Material components that call `focus` on another Angular Material component.

My main concern is that when calling `focus` one would need to know to access the `lastFocusOrigin` from the global `focusMonitor` and pass that through the `focus` ca

[2020-10-23 16:50] jesscxu commented on #20858
@crisbeto I believe all the components I want to add an `origin` param to (the focus methods of radio, slide toggle, etc.) already inject `FocusMonitor`, though I may have missed something and understand incorrectly!

[2020-10-23 17:37] IamRenZHOU opened #20872 "bug(cdk stepper test): Test error by using cdk stepper"
#### Reproduction

Steps to reproduce:
1. get code source from here: https://github.com/mainawycliffe/ng-cdk-stepper-example
2. npm install
3. npm run test

#### Expected Behavior

No error by running test

#### Actual Behavior

`
MyStepperComponent > should create
TypeError: Cannot read property 'content' of undefined
    at <Jasmine>
    at MyStepperComponent_Template (ng:///MyStepperComponent.j

[2020-10-23 19:05] fireflysemantics opened #20874 "[Question] Should text in mat-palette resolve to a contrast color?"
#### Question

The [`mat-palette` function](https://github.com/angular/components/blob/caad0b54ed41949f0ee529c152508749875bc9af/src/material/core/theming/_theming.scss) resolves text like this: ` map-get($base-palette, $text)`.  Is that correct?  Seems like it should resolve to a contrast color ...?
[code]

It seems like perhaps the code author meant to do `mat-contrast` instead of `map-get`?

[2020-10-23 20:08] fireflysemantics commented on #20874
Also asked this on SO:

https://stackoverflow.com/questions/64505758/what-does-it-mean-to-generate-density-in-angular-material

[2020-10-24 02:40] MinhPhuPham commented on #20869
so then you can give me a way if I want when deleted chips => press backspace then autofocus to next is broken now and focus to input element?

[2020-10-24 11:19] AlexZhidkov commented on #17828
I can't fix duplicate loading even after creating a singleton service. Can you please explain what does "move everything to the top top level" mean?

[2020-10-24 15:51] ahmedkhairydev commented on #20838
I think you should look also at `direction: rtl`, because I didn't know that before. Thanks, bro ❤

[2020-10-24 20:58] stephenlautier opened #20876 "bug(button): Disable button within Directive when using prebuilt theme remains enabled"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/angular10-ivy-mat?file=src/styles.css

Steps to reproduce:
1. Run app
2. **Command A** button remains enabled (even tho its disabled via directive `ssvCommand`) - every 2.5sec should cycle between enable/disable
3. Comment out style import within `style.css` and it will as intended

#### Expected Behavior

When

[2020-10-25 06:58] RedEars commented on #7471
Same here. Setting "pointer-events: all" to the global .cdk-global-overlay-wrapper class, prevents clicking items when a snackBar is shown. So thats not an option. We need the ability to add a custom class without hacking it

@greg-md The workaround works, thanks for that

[2020-10-25 11:01] crisbeto commented on #20876
It's because you're setting a `HostBinding` which is the equivalent of doing `button.disabled = true`. Our disabled styling goes through the `@Input() disabled` which won't be evaluated in this case.

There are a couple of ways around it:
1. You can inject `MatButton` and set the `disabled` property on it. See https://stackblitz.com/edit/angular10-ivy-mat-nyodxk?file=src%2Fapp%2Fcommand.directive.

[2020-10-25 11:01] #20876 closed

[2020-10-25 12:00] stephenlautier commented on #20876
@crisbeto Thanks for your reply and thanks for the suggested options. Though unfortunately, both options will make the directive dependant on the material itself; in the actual scenario the directive itself doesn't depend on Material, and its a library on its own, so neither of them is an actual solution for me 😞

It would be nice if there are features that allow you to observe attributes instead

[2020-10-25 12:53] crisbeto commented on #20876
If we were to support it, we'd either have to check the DOM on each change detection or maintain a `MutationObserver`, on every single button on the page. Given the potential performance degradation it could cause for a complex page, it doesn't sound like a good trade-off for something that is an edge case to begin with.

[2020-10-25 13:09] crisbeto commented on #20480
@astex FYI, we now have an API to trigger the `change` event which should make it possible for the `dateChange` event to be dispatched by a harness. I've also submitted #20877 which updates our own datepicker harnesses to use it.

[2020-10-25 13:37] aitboudad opened #20878 "bug(autocomplete): reset input value doesn't update the selected option"
#### Reproduction

When an autocomplete control is reset, the selected option still hold the `.mat-selected` class.

https://stackblitz.com/edit/angular-ufhza2
Steps to reproduce:

1) Open the autocomplete
2) Select an entry
3) Click reset
4) Open the autocomplete again

![Selection_052](https://user-images.githubusercontent.com/1753742/97108722-7c09f200-16cf-11eb-8d28-88285a935b88.png)

#### Expe

[2020-10-25 14:22] deanapeterson commented on #16583
Any movement on this? I'm having to do the same thing with the date range picker.

[2020-10-25 14:26] Javaman2 opened #20879 "MatTableDataSource default type shows as CDKMatTableDataSourceInput<T> instead of MatTableDataSource<T>"
# 🐞 bug report

### Affected Package
MatTable

### Is this a regression?

Yes (I think)

### Description
![image](https://user-images.githubusercontent.com/3665510/97109753-025c0f00-16a3-11eb-909b-f7cf94b93d96.png)

The connect and disconnect functions are the only ones addressible, which doesn't seem correct.

Here's code to show the issue.
[code]
 matTable.dataSource.??? will not allow addressib

[2020-10-25 16:24] FloppyNotFound commented on #20878
Please note that there is also a second, possibly connected issue, with the autocomplete control.
When an initial selection is applied (programmatically), the mat-selected class is not set.
Please see the connected ticket for detailed reproduction steps.

[2020-10-25 18:06] dheerajofficial95 commented on #16153
any update on above issue?

[2020-10-26 04:07] soshochang opened #20883 "Mat-Chip-List: Option to disable keyboard focus"
This is a duplicate of this issue which was previously automatically closed.
https://github.com/angular/components/issues/6069

I would like to use a mat-chip for display purposes only and would not like it to be keyboard focusable. At present when I assign tabindex="-1" to the mat-chip-list it gets overwritten, and is allowed to take focus.

[2020-10-26 06:57] prom00 commented on #16153
It's been marked as P4, which means: Low-priority issue that needs to be resolved

https://github.com/angular/components/labels?q=p4

It will get attention one day probably.

[2020-10-26 13:45] stephenlautier commented on #20876
@crisbeto yea not saying material should use `MutationObserver`, but maybe some of angular core to handle such scenarios, efficiently.

Anyway but, so why with Material v9.x or less this used to work correctly? As this is a "regression" with v10.x. If you down version to material 9 in my example it will actually work.

[2020-10-26 13:50] crisbeto commented on #20876
It probably worked on 9.x, because we used to use the `disabled` attribute for styling. In 10.x we started using the `mat-button-disabled` class in order to support the case where a button appears disabled, but it's still focusable.

[2020-10-26 14:13] MendyBerger commented on #20833
@jelbourn would you mind answering on my comment and/or reopen this issue?

[2020-10-26 15:10] MaxDZ8 commented on #19428
Just to ensure this gets some minor activity and does not get closed I confirm I have stumbled on this today.

Since `routerLink` is "base angular" directive while `disabled` comes from `mat-button`, I suspect the thing could get a involved.

For the time being, I will be filtering the (click) event myself but I hope this gets some attention.

[2020-10-26 15:33] mahendar-ui opened #20885 "Datepicker: Can we show multiple calendars?"
#### Feature Description

I am searching for show multiple calendars in date-picker pop-up . Unfortunately I didn't found in this library
Is this feature exist?
#### Use Case
Whenever we click Date input , now we show only 1 calendar month. Instead  of that I need to show Current Month, Previous Month and Next Month. As like ng-bootstrap Date picker. Attached link here
https://stackblitz.com/run?f

[2020-10-26 18:40] filoucpp opened #20887 "bug(mat-dialog): Height issue in mat-dialog-actions with box-sizing: border-box"
#### Reproduction

Use StackBlitz to reproduce your issue: https://components-issue-yqtyor.stackblitz.io

Steps to reproduce:
1. Apply the following to your project:

[code]

#### Expected Behavior

The mat-dialog component shouldn't look different wether you use `box-sizing: border-box` or not.
![Screen Shot 2020-10-26 at 1 19 48 PM](https://user-images.githubusercontent.com/17276605/97213618-da9

[2020-10-26 19:17] emmbee7806 commented on #5648
I created a component which adds a time input to the default datepicker header.
Feel free to use it [https://github.com/telebroad/mat-datepicker-time-header](url)

[2020-10-26 19:42] calebegg opened #20888 "bug(mat-autocomplete): listbox missing label"
The `<div role="listbox">` produced by the autocomplete should have an aria-label or aria-labelledby

example: https://www.w3.org/TR/wai-aria-practices/examples/combobox/aria1.1pattern/listbox-combo.html

[2020-10-26 20:38] csutorasr opened #20890 "bug(overlay): Push calculation is wrong with FlexibleConnectedPositionStrategy"
## Bug description

Push calculation is wrong [in this line](https://github.com/angular/components/blob/0b2d150339fb6e5736ea199bc62785ec1d2e8928/src/cdk/overlay/position/flexible-connected-position-strategy.ts#L614). Maybe in the next lines also, but I did not check it yet.

I tried to add an element, that perfectly fits, but I could not. I realized that the double of the original margin is used o

[2020-10-26 21:10] annieyw commented on #20885
duplicate of https://github.com/angular/components/issues/20613

[2020-10-26 21:10] #20885 closed

[2020-10-26 21:16] annieyw commented on #20883
Seems like setting the tab index to -1 is working:
https://stackblitz.com/edit/angular-fgmzyx?file=src/app/chips-overview-example.html

[2020-10-26 21:27] annieyw commented on #20869
duplicate of https://github.com/angular/components/issues/18659

[2020-10-26 21:27] #20869 closed

[2020-10-26 21:31] annieyw commented on #20868
We do have some code snippets in the theming guides (eg. https://material.angular.io/guide/theming) Can you clarify where exactly/what type of examples you are looking for?

[2020-10-26 21:44] annieyw commented on #20840
This doesn't seem to be a VoiceOver specific issue as the select isn't working with normal navigation. This seems to just be an issue with the specific example. Here you can see that the select works fine in a dialog: https://stackblitz.com/edit/angular-6guxnc?file=src/app/dialog-content-example.ts

[2020-10-27 09:18] csutorasr commented on #20890
This should work. As the width contains the margin 2 times.
[code]

However I found that, the vertical push is not working until horizontal push appears.

I have made some modifications on the stackblitz.

![overlay](https://user-images.githubusercontent.com/6360699/97280205-41719800-183c-11eb-9898-1f43a95cb368.gif)

The code now is:

[code]

[code]

So, the overflowTop is `this._viewportMargin -

[2020-10-27 09:58] csutorasr commented on #20890
[code]

At this part the `(viewport.top - scrollPosition.top)` can be simplified as `this._viewportMargin`.

I cannot find it out why it is not pushed vertically, when there is no horizontal push. That could be a new pull request.

[2020-10-27 10:34] csutorasr commented on #20890
I also found the problem for the pushing vertically. `_pushOverlayOnScreen` is not called so the problem was not there. The reason is [`this._isPushed` was not true](https://github.com/angular/components/blob/0b2d150339fb6e5736ea199bc62785ec1d2e8928/src/cdk/overlay/position/flexible-connected-position-strategy.ts#L930-L932). It is set when [the overlay not fits](https://github.com/angular/componen

[2020-10-27 12:00] nerumo opened #20896 "bug(material/datepicker): form state not correct with existing data"
#### Reproduction
I use a date range picker with reactive forms. If I have an existing value that is bound to the start/end input, the form control will automatically turn dirty.
Here's a stackblitz: https://stackblitz.com/edit/angular-ai7kcs-mm7zyj?file=src/app/date-range-picker-forms-example.ts

#### Expected Behavior
The FormControl should be dirty=false.

#### Actual Behavior
`dirty` is always

[2020-10-27 13:30] pburkindine commented on #20553
@crisbeto Any update here?

[2020-10-27 14:44] deanapeterson commented on #16583
For reference it might be easier providing an 'inline' configuration.  The following 3rd-party library does this: https://github.com/kekeh/angular-mydatepicker

[2020-10-27 14:54] kuatek commented on #1331
+1

[2020-10-27 18:06] jesscxu commented on #20858
@jelbourn I am currently trying to see how many issues my change would cause in Google with button.

@crisbeto Here is an example PR: https://github.com/angular/components/pull/20898 for the change I am proposing for button (and other components as well).

Let me know if this information helps!

[2020-10-27 20:38] Javaman2 commented on #20879
Work Around:

The key to this is to allow Angular to create the datasource at start up.
Assume we have a MatTableComponent like this:

[code]
Then in Typescript, we declare the datasource like this and ensure that there is a default value.

[code]

Allowing others to set the context of this component, we may define a function like this:

[code]
Our prior code wasn't working for a number of reasons

[2020-10-27 20:38] #20879 closed

[2020-10-27 21:28] mmalerba commented on #20755
If it problematic in IE we could probably just remove it in IE and leave it for other browsers

[2020-10-27 22:39] mmalerba commented on #20858
I think this seems fine as long as it doesn't turn out to be too breaking (which it seems not to be). The proposal isn't to add origin parameters everywhere, its just to stop defaulting the parameter to `'program'` in places where it has already been added. Instead we will allow the origin to be set according to whatever the `FocusMonitor` decides it should be.

[2020-10-27 23:35] jelbourn commented on #20833
We do have a non-table version of the API, but we generally discourage its use since it doesn't offer as good of an a11y experience as the native table. Because of that, we wouldn't want to add any exclusive features to the non-table version.

[2020-10-27 23:38] jelbourn commented on #20846
Currently the material components doesn't support being used with virtual scroll inside of them (#10122). Aside from that, there's not enough information for us to really investigate anything here.

[2020-10-27 23:38] #20846 closed

[2020-10-27 23:55] jelbourn opened #20900 "VoiceOver doesn't read MatSelect options inside of a dialog for Safari/Firefox"
To reproduce: Use the dev-app example for a mat-select inside of a dialog. #20695 fixed this for VoiceOver + Chrome, NVDA, and ChromeVox, but VoiceOver + Safari and Firefox seem to still have issues.

Related to #20694

[2020-10-27 23:55] jelbourn commented on #20694
Tracking via #20900 as a separate, distinct issue for Safari and Firefox and macOS.

[2020-10-27 23:55] #20694 closed

[2020-10-27 23:58] jelbourn commented on #20805
Closing since the original author didn't provide any further details, and it seems like it may just be an environment issue with core-js versions.

[2020-10-27 23:58] #20805 closed

[2020-10-28 00:38] jelbourn commented on #20815
I chatted with some other a11y folks in Google and this definitely seems like a bug in either NVDA or one of its dependencies. You can reproduce the behavior without Angular Material at all with something like
[code]

I'd recommend filing an issue with NVDA.

[2020-10-28 00:38] #20815 closed

[2020-10-28 09:42] vraddy commented on #10113
'cdk-virtual-scroll-spacer' is not taking height beyond 22339600px, that means user can not scroll down further if list showing in virtual table is beyond 22339600px height.
example: i have log viewer with millions of records, cdk-virtual-scroll-spacer height is calculated based on itemSize * numberOfItems.
to show 2 millions of records with 20px row height need 40million px cdk-virtual-scroll-spa

[2020-10-28 11:18] #20470 closed

[2020-10-28 11:18] #20812 closed

[2020-10-28 12:45] IConstructor opened #20901 "bug(Chips): WAVE error in mat-chips input control"
#### Reproduction
Steps to reproduce:
1.  Go to https://stackblitz.com/angular/oaxdlnpkrpk?file=src%2Fapp%2Fchips-autocomplete-example.ts
2. Click button "Open in new window"
3. In the new window turn on WAVE
4. WAVE showing "Missing form label" error.

#### Expected Behavior

WAVE not showing any errors in the control.

#### Actual Behavior

WAVE showing "Missing form label" error.

#### Environm

[2020-10-28 13:04] danieldanielecki opened #20902 "feat(material): Add support for character counter"
#### Feature Description

Support for character counter that displays the ratio of characters used and the total character limit. Such a feature [has Vuetify](https://vuetifyjs.com/en/components/text-fields/#counter) and [has been introduced in material-components-web](https://github.com/material-components/material-components-web/pull/4244).

#### Use Case

Limiting upper bound characters of an i

[2020-10-28 13:41] literalpie commented on #13946
A comment in the linked PR mentions that this is blocked because it causes layout changes to Google apps. I hope it can still be resolved

[2020-10-28 14:37] JoeMellon opened #20903 "bug(Form Field): Legacy form field input missing placeholder attribute"
#### Reproduction

Legacy form-field appearance from Material examples: https://stackblitz.com/angular/bqmpxokjgve?file=src%2Fapp%2Fform-field-appearance-example.html

Steps to reproduce:
1. View example above
2. Inspect input element from legacy form field example

#### Expected Behavior

`placeholder` attribute to be available in the dom

#### Actual Behavior

`placeholder` attribute missing fro

[2020-10-28 16:32] csaoh opened #20904 "Datepicker: When selecting a month in a year/month mode, the day selection flashes on click"
#### Reproduction

https://stackblitz.com/angular/kgvngvkblme?file=src%2Fapp%2Fdatepicker-views-selection-example.ts

Steps to reproduce:
1. Click on the calendar icon
2. Select a year
3. Select a month

This is actually the example from https://material.angular.io/components/datepicker/overview, although I found it more noticeable in my app

#### Expected Behavior

The datepicker calendar should

[2020-10-28 17:06] jelbourn commented on #19253
Closing this since I believe it has been fixed. Feel free to open a new issue if you're still able to reproduce.

[2020-10-28 17:06] #19253 closed

[2020-10-28 18:02] enalposi opened #20908 "bug(Tree): Nested Tree Node left padding not working on MSFT Edge, Win 10"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1. Open your own documentation: https://material.angular.io/components/tree/examples
2. Look at the 'Tree with nested nodes' example on the bottom on Edge and Chrome

#### Expected Behavior

What behavior were you expecting to see?

Tree nodes should be nested with increasin

[2020-10-28 18:37] swatisahay opened #20909 "mat-select failing accessibility (aria-required-children)"
Title: WCAG 1.3.1: Ensures elements with an ARIA role that require child roles contain them (#mat-select-0)
Tags: Accessibility, WCAG 1.3.1, aria-required-children

Issue: Ensures elements with an ARIA role that require child roles contain them (aria-required-children - https://dequeuniversity.com/rules/axe/4.0/aria-required-children?application=msftAI)

Element path: #mat-select-0

Expected Behav

[2020-10-28 18:58] maniya108 opened #20910 "MatIcon is not working in Shadow Dom"
# 🐞 MatIcon is not working in Shadow Dom

### Affected Package

 The issue is caused by package @angular/material/icon

### Is this a regression?

 When am using shadow dom in my components. Mat icon will not render

### Description

When am using shadow dom in my components. Mat icon will not render

## 🔬 Minimal Reproduction

 use `encapsulation: ViewEncapsulation.ShadowDom`

## 🔥 Exception or E

[2020-10-28 20:24] crisbeto commented on #20910
Are you using SVG icons or font icons? I ran a quick test and the SVG ones worked fine. For the font icons to work, you'll have to include the font stylesheet inside the same shadow root as the icon.

[2020-10-28 21:09] shayanaijaz commented on #18069
Are there any updates on this? I'm running into the same issue

[2020-10-28 21:14] #20840 closed

[2020-10-28 21:22] kyubisation commented on #20659
@crisbeto Has this been discussed?

[2020-10-28 22:35] MendyBerger commented on #20833
@jelbourn thanks for the reply

[2020-10-28 23:12] Frotty commented on #10113
@vraddy this has nothing to do with this ticket. Also if you think scrolling through 2 million entries is feasible, reconsider your design choices (i.e. truncate your data).

[2020-10-29 01:38] maniya108 commented on #20910
@crisbeto can you share some sample code or repository.
Thanks

[2020-10-29 02:48] rameshworsht commented on #20900
@jelbourn Has there been consideration to provide the CDK overlay user with the option to attach it to the parent node instead of the body of the page. We could fix this issue if we could attach the select or tooltip on the dialog component rather than to the end of the body at all times.

[2020-10-29 03:23] #20755 closed

[2020-10-29 07:35] edenBenovadia commented on #20184
Hey is there any updates with the issue?

[2020-10-29 11:24] JoeMellon commented on #20902
What's wrong with just using `mat-hint` for this?

`<mat-hint align="end">{{ inputName.value.length }} / 256</mat-hint>`

[2020-10-29 13:36] irekBudzowski opened #20920 "bug(DatePicker): DatePicker has problem in ShadowDom component"
#### Reproduction

Issue: https://stackblitz.com/edit/angular-material-shadow-dom-problem?file=src/app/app.component.ts

Steps to reproduce:
1. Create new component and use basic dataPicker material's component. Should works fine.
2. In the component, use ViewEncapsulation.ShadowDom

#### Expected Behavior

Enabling ViewEncapsulation.ShadowDom in Angular's component, should not affect DatePicker.

[2020-10-29 15:10] crisbeto commented on #20920
It's because the Material theme file is a global which means that it won't cross through the shadow DOM encapsulation. You'll have to include the theme file somewhere under the same shadow root as your component.

[2020-10-29 15:43] crisbeto commented on #20910
There are a couple of live examples and code in the docs site: https://material.angular.io/components/icon/examples

[2020-10-29 16:01] peternixey opened #20921 "docs-bug(COMPONENT): Angular Material Theming"
#### Documentation Feedback

The documentation on theming angular material is terribly lacking. There are multiple themes included with material, none of which are listed in the documentation. There is no description of how to produce color maps for material, there's no description of how to marry together foreground and background maps. There's no clarity on how dividers etc. are themed and there

[2020-10-29 17:26] jelbourn commented on #20900
That would cause the select panel to be clipped by the dialog.

[2020-10-29 17:29] BrettKessler commented on #14280
This is still an issue for me and none of the workarounds seem to work for me, any solution to this?

[2020-10-29 17:41] Totati opened #20922 "feat(selection-list): Add support to radio like mat-selection-lit"
#### Feature Description

Currently `<mat-selection-list multiple="false"></mat-selection-list>` behaviour is far from ideal. It should support radio button style like it supports checkboxes, and when used as single selection, the value shound not be an array. It should work like `radio-button-group` with a style of selection list.

#### Use Case

Ceating a single selection-list that properly indi

[2020-10-29 18:05] crisbeto commented on #20908
I'm running an identical version of Edge (86.0.622.56) and it works fine. I also tried it with IE11 and it worked there too. Maybe you have an old version of the site in your cache?

[2020-10-29 18:06] crisbeto commented on #20902
@JoeMellon is correct, `mat-hint` is intended to be used for cases like this.

[2020-10-29 18:06] #20902 closed

[2020-10-29 18:09] crisbeto commented on #20896
Duplicate of https://github.com/angular/components/issues/20213.

[2020-10-29 18:09] #20896 closed

[2020-10-29 18:24] crisbeto commented on #20903
For context, the form field with the `legacy` appearance has a feature where it turns the `placeholder` into the form field label, if the form field doesn't have have a `mat-label` element. This is a problem for screen readers, because they'll read out the same label twice on focus. In order to resolve the accessibility issue, a couple of months ago we started removing the `placeholder` from the D

[2020-10-29 18:27] crisbeto commented on #20901
It's probably, because the docs example doesn't have a `mat-label` inside the `mat-form-field`.

[2020-10-29 18:33] crisbeto commented on #20909
The `role="option"` elements are added to the DOM when the select is opened and removed once it's closed. Closing the issue, because in practice it doesn't have an effect over whether the screen reader picks up the options.

[2020-10-29 18:33] #20909 closed

[2020-10-29 18:36] #20920 closed

[2020-10-29 18:39] crisbeto commented on #20922
Duplicate of https://github.com/angular/components/issues/7157.

[2020-10-29 18:39] #20922 closed

[2020-10-29 18:49] crisbeto commented on #20872
I tried following the reproduction instructions, but they failed with this error which seems unrelated:

[code]

[2020-10-29 19:10] MarkFSkinner opened #20923 "Error when removing steps from material stepper with ngIf when the selectedIndex is greater than the updated stepper length"
**Bug, feature request, or proposal:**

bug

**Description**

I am making a material stepper where the subsequent steps change dynamically depending on which radio button option a user selects in their current step. When the user goes back and changes a selection, which then reduces the number of subsequent steps from what it was before, I am experiencing an error. More specifically, this error oc

[2020-10-29 19:25] Totati commented on #20922
Ohh, thank you, I've searched for this, but could not find it.

[2020-10-29 20:01] irekBudzowski commented on #20920
@crisbeto Thank you!
Indeed, it was the problem.
Here is simple POC that it works, as Kristiyan said. Of course it might be nicer.
[stackblitz](https://stackblitz.com/edit/angular-material-shadow-dom-problem-solved?file=src/app/app.component.ts)

BTW Have you changed something in this topic recently?
I the problem while trying to use microfrontend with shadowDom.

[2020-10-29 20:08] crisbeto commented on #20920
The theming setup hasn't changed in a long time. Once in a while we fix JS issues related to shadow DOM, but I don't think that we've had to make any changes to the datepicker.

[2020-10-29 20:17] crisbeto commented on #20923
I believe this is the same issue as https://github.com/angular/components/issues/20735 which has a pending PR.