[2018-01-05 18:41] mertdeg2 commented on #9252
Thanks for explanation on this @crisbeto! With current behavior, when the user clicks on the menu screen readers don't announce anything different. I  think this will cause accessibility issues for visually impaired users who use mouse.

[2018-01-05 18:50] DevVersion commented on #8298
@ssgriffen In my case it worked when I've set the `transition-duration` to `0ms`. It's a very ugly workaround, because under the hood, the `MatRipple` directive expects different duration's, and therefore it might lead to unexpected behavior.

I have a new feature in mind, which should allow developers to easily control the animation. See https://github.com/angular/material2/issues/5284

[2018-01-05 19:00] bettercalldough commented on #9235
As a learning curve of building onto Material2 I've started building this in

[2018-01-05 19:03] darrenbrett opened #9254 "Default Browser Checkboxes Showing Up in Addition to Angular-Material md-checkboxes"
My dev environment:
- MacBook Air - OS X El Capitan 10.11.6
- Angular 2.3.1
- Angular CLI: 1.5.4
- Node v9.3.0

I am using Angular material elements throughout my Angular 2 app, and in one section where I'm using md-checkboxes I'm noticing that with Chrome, both the UI for the md-checkboxes as _well as_ what looks like the default browser checkboxes are showing up. Is this a known bug? And is ther

[2018-01-05 19:23] jelbourn commented on #9251
@crisbeto this is the same issue affecting the tabs/select/autocomplete. I'm thinking we can resolve it the same way, by optionally letting the user make an `ng-template` the `matMenu` instead of a standalone `<mat-menu>` element.

[2018-01-05 19:27] #9254 closed

[2018-01-05 19:30] jelbourn commented on #9252
There's nothing explicit in the spec, but the implied behavior is that the focus _style_ only shows when the menu is opened by keyboard. This happens because the focus treatment is the same as the hover treatment and most users get confused and think it's a bug.

I think we should make both keyboard and mouse work the same WRT what gets focused but only show the initial focus style when the intera

[2018-01-05 19:37] iamwhitebox commented on #5965
I've noticed @andrewseguin your example only works if there is always results in the datatable, it never gets past switchMap() if the results are an empty array, how to compensate for this?

[2018-01-05 19:39] ssgriffen commented on #8298
Hi @DevVersion we tried that...

We also went into node_modules and basically nuked the ripple system.   It didn't work. I assume it's due to the fact we didn't change the .min.js

Assuming we don't want ripples at all, what would be the easiest way to just stop all ripples?

[2018-01-05 19:49] Marcidius commented on #5269
@rhino5oh You're exactly right, I'm having this same type of issue using ngx-datatable.  The table literally disappears when I change to the proper tab.  When I change back to the first tab the table that was once appearing is gone too.  When you click the tab and the tab navigation starts you can see it flash into view as the animation takes it out of view.

Unfortunately, for me @lula 's solutio

[2018-01-05 19:59] Karankang007 opened #9255 "Support for mat-dialog-footer"
#### Feature request:
Support mat-dialog-footer similar to mat-card-footer

#### What is the expected behavior?
mat-dialog-footer should be supported

#### What is the current behavior?
mat-dialog-footer is not supported

#### What is the use-case or motivation for changing an existing behavior?
Consistency between components

#### Which versions of Angular, Material, OS, TypeScript, browsers are

[2018-01-05 19:59] Karankang007 commented on #9255
For now, workaround is:

[code]

[2018-01-05 19:59] DevVersion commented on #8298
This shows that it works:
* https://stackblitz.com/edit/angular-material-disable-ripple-animation

You might just do the same and just use `display: none`, but it's not recommended at all, because the focus indicators are necessary for a good accessibility (but that's your choice)

[2018-01-05 20:01] nayanasrirama commented on #7210
@Jackeysharath

In my case it was because of angular-logger that i had installed so i had to remove that logger and also i have updated to latest version of angular-cli and other core libraries

[2018-01-05 20:12] ssgriffen commented on #8298
![screenshot from 2018-01-05 13-09-41](https://user-images.githubusercontent.com/19702760/34626460-f5a6c486-f219-11e7-82db-6c4342293741.png)

@DevVersion click right above the button and tab down (like I'm doing for a form), you'll see the ripple.

[2018-01-05 20:13] DevVersion commented on #8298
@ssgriffen I thought the intention was to remove the the animation of the ripple? If you want to remove the ripple completely you can change the `transition-duration` to `display` and set it to `none`. Isn't that what you want?

[2018-01-05 20:18] ssgriffen commented on #8298
You are a hero @DevVersion  don't let it go to your head though, keep grinding. over and out.

[2018-01-05 20:59] jelbourn commented on #9255
I think you're looking for `<mat-dialog-actions>`

[2018-01-05 20:59] #9255 closed

[2018-01-05 21:11] Ghost990 commented on #7718
@marylly Thank you, same here.
It's kind of logic if you think about there is no selector for the modal content, but I haven't found any documentation about it. Thanks again!

[2018-01-05 22:17] KXPN commented on #8229
I had a similar problem:

    ERROR in Error: Metadata version mismatch for module ROUTE/node_modules/jw-bootstrap-switch-ng2/dist/index.d.ts, found version 4, expected 3, resolving symbol AppModule in ROUTE/src/app/app.module.ts, resolving symbol AppModule in ROUTE/src/app/app.module.ts`

So I googled `Metadata version mismatch for module` and I arrived here

My solution was to change said depend

[2018-01-05 22:18] timharris777 commented on #3273
I struggled with the stackblitz examples that were given above. I felt like they were overly complicated. As such, I have re-created the "autocomplete-chip-list" demo in a much easier to understand way (for me anyway). I hope this proves helpful to others.

https://stackblitz.com/edit/angular-evzmtq

[2018-01-05 23:12] jelbourn commented on #9246
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2018-01-05 23:12] #9246 closed

[2018-01-05 23:24] jelbourn commented on #9244
Would need to confirm the different. Our checkbox was originally written _by_ someone on the Material Design team, so I'd be surprised if it was off. If it is different, this would be a major breaking change that we might decide not to peruse.

[2018-01-05 23:55] rafaelss95 commented on #8949
Just to clarify: the problem here is that it always try to get the `svg` for a category/component, however not all categories/components have svg icons as you can see in `https://github.com/angular/material.angular.io/tree/master/src/assets/img/` folder.

Anyway, let's wait for new version. Thanks @DevVersion.

[2018-01-06 00:20] ORESoftware commented on #2610
With the new mat-icon instead of md-icon, what is the API to register an icon?

something like this:

[code]

which class constructor is that?

[2018-01-06 00:23] ORESoftware commented on #8358
which constructor is this for? which class?

[code]

for reference please include the class name

[2018-01-06 00:24] ORESoftware commented on #8358
And I assume these are the right imports?
[code]

[2018-01-06 01:18] mtrdp642 commented on #2610
@ORESoftware icons can be registered in any component and then used displayed in that same component or any child. The API for icon registration is the same as your code snippet.

[2018-01-06 01:41] ORESoftware commented on #2610
@mtrdp642 yeah I tried that and it didn't work - see:
https://stackoverflow.com/questions/48106625/how-to-add-icon-to-mat-icon-button

maybe I am injecting the wrong matIconRegistry dep? idk

[2018-01-06 02:03] mtrdp642 commented on #2610
@ORESoftware I posted a Plunker above with an example of using svg files with ```<md-icon>```'s. Based on your StackOverflow link, it doesn't look like you added ```MatIconRegistry``` to the component's ```viewProviders``` array in the ```@Component```'s declaration. Also, not sure if it matters, but I believe the paths to the .svg files are relative to the class you're registering them in.

[2018-01-06 02:36] christophbuehler commented on #5712
Polymer's sidenav is the only implementation I know of that enhances UX:
[http://polymerelements.github.io/app-layout/templates/shrine](url)
It has been like that for at least two years. A poor implementation (material-ui for instance) is worse than no implementation.

[2018-01-06 03:01] ORESoftware commented on #2610
yeah so this is what I have now:

[code]

yeah doesn't work just yet...huh

[2018-01-06 05:06] simeyla commented on #5885
I had to do `top: -.5px; background: white;` for iOS retina (maybe Android too).
It was showing a single device pixel gap above the header which showed through the data as you scroll.

[2018-01-06 05:39] ayalma opened #9256 "Ripple Error in Rtl"
#### Bug, feature request, or proposal: Bug

#### What is the expected behavior? ripple around selected button
when html tag dir attr set to rtl

#### What is the current behavior? The ripple effect occur with like below picture
![screenshot 4](https://user-images.githubusercontent.com/15701316/34636646-c0db90ae-f2bb-11e7-8311-91ed01ad2bde.png)

#### What are the steps to reproduce?
https://materi

[2018-01-06 08:44] ORESoftware commented on #1325
yes default should have a margin. DUH. :)

[2018-01-06 09:05] edokkir commented on #8680
Hi, just to mention I still have the "no lined" table as I scroll right. Only if you match the amount of columns times the min-row width with the min-width of the table, it works. But if you are using a dynamic table, how to get around? Any suggestions?

[2018-01-06 10:27] DevVersion commented on #9256
I tried to reproduce that issue in the Angular Material docs, but I wasn't able to see the issue on the `mat-button-icon` directive.

Since I think that the docs also contain a lot of `transform`'s, I wanted to isolate the problem by creating a new Angular CLI with just the button ripples in RTL mode. Also there, the issue doesn't seem to appear.

* https://github.com/DevVersion/mat-ripple-rtl-tes

[2018-01-06 11:20] DevVersion commented on #8420
I noticed an issue when adding the `FocusMonitor` to the `matDialogClose` buttons. Since those buttons are likely going to be auto-focused upon dialog open, the focus origin will be `program`, and another click on the button (using mouse), to close the dialog, won't trigger a new `FocusOrigin` (`mouse`)

This means that it will be incorrectly set to `program`. Other than that, the backdrop click,

[2018-01-06 13:07] eyalhakim commented on #3273
@timharris777 this is the best example so far. Can you make the list reappear automatically after selecting an option?

[2018-01-06 14:00] axtho commented on #3273
@timharris777 thanks, that looks a lot cleaner than the last example. I am missing the adding of a tag on enter. Also, i think it should loose focus when an option has been selected. Maybe you want to add this in, both of the last examples had that.

Additionally, it should demonstrate the ability to integrate the autocomplete list into a reactive form. So the example should present a component, t

[2018-01-06 15:39] Kayes-Islam opened #9259 "mat-select required does not set ngForm.form.valid to false if not set"
I have a mat-select with required.
`<mat-select placeholder="Favorite animal" [formControl]="animalControl" required>`
I then use `!ngForm.form.valid` to disable the save button until required fields are filled in, but `ngForm.form.valid` isn't set to false. Attached is the reproduced sample.

[mat-select-issue.zip](https://github.com/angular/material2/files/1608939/mat-select-issue.zip)

[2018-01-06 16:46] julianobrasil commented on #9259
A zip file is nice, but I think it's easier to show the issue with stackbliz: https://stackblitz.com/edit/material2-issue-select

[2018-01-06 16:50] benb7760 commented on #7126
@crisbeto Not sure if the same issue, but I am still able to reproduce this problem in 5.0.3

https://angular-material2-issue-cqddwx.stackblitz.io

[2018-01-06 17:16] NidhiBuddhiraja opened #9261 "Can't able to implement autocomplete feature in angular5 using angular material."
**Error which is coming:-**
compiler.js:24660 Uncaught Error: Template parse errors:
Can't bind to 'matAutocomplete' since it isn't a known property of 'input'. ("t-form-field class="example-full-width">
    <input matInput placeholder="State" aria-label="State" [ERROR ->][matAutocomplete]="auto" [formControl]="stateCtrl">
    <mat-autocomplete #auto="matAutocomplete">
  "): ng:///AppModule/Autoco

[2018-01-06 17:19] #9261 closed

[2018-01-06 17:25] julianobrasil commented on #9259
Related to this: https://github.com/angular/angular/issues/14342#issuecomment-278148056

[2018-01-06 18:55] emilio-martinez opened #9263 "Module '@angular/cdk/overlay' has no exported member 'OverlayPositionBuilder'"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
If a CustomOverlay were being implemented, any change in the constructor for could not be done due to `OverlayPositionBuilder` not being exposed as a public API.

#### What is the current behavior?
`OverlayPositionBuilder` is a private API in `@angular/cdk/overlay` vs public.

#### What are the steps to reproduce

[2018-01-06 21:08] julianobrasil commented on #7126
Yeap... it's still there: http://plnkr.co/edit/kw44zy?p=preview

![image](https://user-images.githubusercontent.com/25405143/34643973-f416022a-f314-11e7-8d11-7578cf0a9c40.png)

[2018-01-07 04:11] loganfreeman opened #9265 "Edge browser: Object doesn't support property or method 'subscribe'"
#### Bug, feature request, or proposal:

run karma test on Edge browser using the following command:

[code]

with following package.json

[code]

[code]

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker starter (using on `@mas

[2018-01-07 04:25] willwsharp opened #9266 "Slide-toggle styling is broken"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The slide-toggle should look as expected

#### What is the current behavior?
The slide-toggle does not look as expected

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker starter (using on `@master`): https://goo.gl/uDmq

[2018-01-07 05:57] ayalma commented on #9256
Thank you very much . I cloned you'r DevVersion and start to add my project parts to it step by step and in this process i realized this issue accrue cuz of  my bad use of flexbox fxFlex directive.
Thank You Again For Your Attention

[2018-01-07 05:57] #9256 closed

[2018-01-07 06:26] Chan4077 commented on #9266
That's because you're missing the theming. Add the following line to your `styles.css`:
[code]
[Updated demo](https://stackblitz.com/edit/testing-slide-toggle-e3eqak?file=styles.css)

[2018-01-07 07:01] #9266 closed

[2018-01-07 08:21] kenji-1996 commented on #107
Popping in wondering progress but also what would anyone recommend as a temp workaround

[2018-01-07 11:22] crisbeto commented on #7126
That example doesn't work, because the trigger element is 100% wide, meaning that the tooltip can't fit on either side. The current positioning doesn't support pushing the element into the viewport if it doesn't fit, but once #9153 gets in, it'll be easy to do.

[2018-01-07 11:31] crisbeto commented on #9265
This looks like an issue with your testing setup. If you're testing a component with a form field, make sure to include the necessary modules (e.g. `MatInputModule` and `MatFormFieldModule` if you're using an input).

[2018-01-07 11:31] #9265 closed

[2018-01-07 15:15] Eddygn commented on #8833
Also, if it helps to locate the issue:
looks like Chrome and Firefox behave differently, in Chrome the starting animation starts from the right and it looks like the tab stutters, while Firefox has fluid animation.

[2018-01-07 15:35] ganqqwerty opened #9268 "Linear mode in stepper component doesn't work if stepControl is not set for every step"
#### Bug, feature request, or proposal:
Make linear option work correctly even if there is no `stepControl`
#### What is the expected behavior?
`linear` option should prevent a user from skipping the steps.

#### What is the current behavior?
If we don't use stepControl for each step, the `linear` option doesn't change the behaviour of the stepper.

#### What are the steps to reproduce?
I modified

[2018-01-07 16:11] githubmonkey opened #9270 "expansion panel not initialized correctly when inside a tab group and not in first position"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

all expansion panels should start closed, no matter which tab they are under

#### What is the current behavior?

the expansion panels in the first tab start closed as expected. However the panels in the second tabg start out partially opened. (The heading and toggle icon indicates a closed status but the content is

[2018-01-07 17:16] willwsharp commented on #9266
Sorry about that.

[2018-01-07 19:37] julianobrasil commented on #9270
Dupe: #5269

[2018-01-07 19:38] basti1253 commented on #8176
I've hit the same issue. Instead of using an ngModel I used a FormControl. Resetting the FormControl value from within ChipInput change event works. Whenever I reset the FormControl value from within autocomplete.optionSelected callback the control value updates, but not the displayed value.
I prepared a plunker to demonstrate this, too: https://plnkr.co/edit/dIpxrl?p=preview

As a workaround I re

[2018-01-07 21:56] robert-king commented on #8131
yeah, aspect ratio is changed to 1:1, which looks really bad unless you have a square image.

[2018-01-08 01:31] loganfreeman commented on #9265
I added the module as you said, but the exception remains.

[2018-01-08 01:32] loganfreeman commented on #9265
It doesn't happen when using other browsers such as Chrome, PhantomJs.

[2018-01-08 02:04] loganfreeman commented on #9265
It happens here:

[code]

[2018-01-08 02:18] simeyla opened #9273 "SelectionModel<T> initialized with empty array results in selected.length==1"
#### Bug, feature request, or proposal:
If you create a SelectionModel<T> with `isMulti=false` and pass an empty array for `initiallySelectedValues?: T[]` it results in `undefined` being being added to the selection therefore you get `selection.selected.length == 1` instead of the expected 0.

#### What is the expected behavior?

[code]

#### What is the current behavior?

[code]

#### What are th

[2018-01-08 02:29] loganfreeman commented on #9265
I figured out that it needs rxjs 5.5. the pipe is introduced at 5.5

[2018-01-08 03:40] ORESoftware commented on #5917
Is there something less hacky than using
[code]
after pushing data, to get a re-render?  this.dataSource.filter = "";
Also, I add new data, and new rows are added but they are empty...even though the new
data is good.

[2018-01-08 04:22] ORESoftware opened #9274 "Docs bug: How to add rows to table"
#### Bug, feature request, or proposal:
We really need a straightforward example of how to dynamically add a row to a table, I see some other issues in the issue tracker on this, but am still having trouble finding info on it, so I am getting frustrated tbh

#### What is the expected behavior?
Expected to find docs for dynamically adding a row

#### What is the current behavior?
Do not find docs t

[2018-01-08 04:29] ORESoftware commented on #9274
But the problem with my code above, is that `DataSource` is not exported from `@angular/material `anymore, so that seems to have changed

[2018-01-08 04:40] ORESoftware commented on #9274
Also, I finally found the docs for table here:
https://github.com/angular/material2/blob/master/src/lib/table/table.md

it would be really nice if you could create a docs file:

[code]

and then in that file, link to the .md files through the codebase

[2018-01-08 05:08] ORESoftware commented on #7838
gotta love the `sort.sort`

[2018-01-08 05:49] MikaAK opened #9276 "Enhancement: mat-icon set current page absolute path on filter urls for compatibility with safari"
#### Feature request:
mat-icon is super useful for using svg's inline in the browser. However what's the solution when you need to filter. Since `<base href='/'>` is in use for history you must append svg filters with the current url.
Example:
[code]

This works because url is set to absolute path. Anything else and the svg works in chrome but not in safari! This used to be an issue in chrome a fe

[2018-01-08 08:46] Chan4077 commented on #8358
@ORESoftware First import is correct. Second import should be:
[code]

[2018-01-08 08:48] Chan4077 commented on #9274
@ORESoftware Actually, the documentation site uses the Markdown docs (such as `card.md`, `button.md`, etc.) and transforms them to HTML files. The readme for the library in each sub-library then redirects you to the documentation.

[2018-01-08 08:55] ORESoftware commented on #9274
@Chan4077 ok, then pls ignore that PR, can anyone address the bulk of this question though? about MatTable?

[2018-01-08 09:43] dgouissem opened #9277 "Unable to get the latest version 5.0.3 of Angular Material"
Hello Team,

I'm trying to install to the latest  **5.0.3**  using the below commands

`npm install --save @angular/material @angular/cdk`

or

`npm install --save @angular/material@latest @angular/cdk@latest`

but in vain, every time i got the below version in the package.json:
"@angular/cdk": "^5.0.0-rc0"
"@angular/material": "^5.0.0-rc0"

Any idea how to get the latest one.

Thanks in advance.

[2018-01-08 09:53] Birdperson90 commented on #8928
I am having the same problem in an application. The toolbar resizes its height based on the width. When the width is greater than 600px the height equals 64px otherwise 56px. With the breakpoints from angular-flex-layout you cannot make changes to the given layout. Of course you can make your own media-queries to make this work but it'd be really awesome if the breakpoints were aligned :)

[2018-01-08 10:28] SaturnTeam commented on #4763
![image](https://user-images.githubusercontent.com/10252514/34666914-360ae512-f499-11e7-92c6-c5f59a92d1fb.png)
![image](https://user-images.githubusercontent.com/10252514/34666927-417bcfa6-f499-11e7-8b04-3c6c151c192c.png)
What do you think, this styles is ok?

[2018-01-08 10:49] ronaldmansveld commented on #9206
As there are no comments yet on this ticket, can I assume there are no reasons that would prevent me from opening this class up?

[2018-01-08 11:45] julianobrasil commented on #9277
Have you `deleted package-lock.json` before `npm install`?

[2018-01-08 11:49] RaulRG commented on #4763
@SaturnTeam : It looks good!! I looked at the Material Design specification, but they don't say anything about selection of ranges. Your design looks very material-like! :-)

[2018-01-08 12:05] julianobrasil commented on #9274
@ORESoftware, isn't the same info in https://material.angular.io/components/table/overview?

[2018-01-08 13:21] dgouissem commented on #9277
Nope, i deleted the **package-lock.json** file but it did not update to the lates version

thanks

[2018-01-08 13:26] bettercalldough commented on #9277
Have you rm -rf node_modules to remove the modules downloaded

[2018-01-08 13:28] ChrisTarasovs commented on #3451
what exactly you talking about ? "an existing solution for this."???

[2018-01-08 13:36] dgouissem commented on #9277
same problem occurs when i delete the node_modules.

[2018-01-08 13:38] willshowell commented on #9274
@ORESoftware

[code]

[2018-01-08 13:42] willshowell commented on #9206
https://github.com/angular/material2/pull/9153 might be a reason to hold off. However, as big as it is, it may take a while to land.

[2018-01-08 13:54] donroyco commented on #3451
@ChrisTarasovs Using an input pattern, see https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input#Attributes

[2018-01-08 14:14] Chris2011 opened #9278 "[Paginator] Add functionality to jump to first and last page"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
There should be 2 buttons like << and >> to jump to the first and last page.

#### What is the current behavior?
There is no button for this. There is only a button for < and > prev and next.

Items per page: 10    -    1 - 10 of 100 < >

#### What is the use-case or motivation for changing an existing beh

[2018-01-08 14:19] Chris2011 opened #9279 "[Paginator] Addd functionality to see how many pages are available"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
When I have a grid, with my data, I would like to see on which page I'm and how manby pages are available.

Page 1 of 10 - Items per page: 10 - Elements 1 - 10 of 100 < >

#### What is the current behavior?
Atm you can only see how many items are on your page, where you are and the total items length, but

[2018-01-08 14:41] Philip-Sultanescu commented on #8365
Here is my workaround:

- on xs devices I hide the labels as they don't fit anyways
![screen shot 2018-01-08 at 15 38 06](https://user-images.githubusercontent.com/30979663/34675510-26c2c75a-f48a-11e7-8542-571ba27247e9.png)

- on sm devices I did my best to follow the official guidelines.
![screen shot 2018-01-08 at 15 38 56](https://user-images.githubusercontent.com/30979663/34675537-363e2346-f48

[2018-01-08 16:29] JohnArrowwood opened #9280 "mat-select [disabled] should accept either true/false or 1/0"
#### Bug, feature request, or proposal:

BUG

#### What is the expected behavior?

Consistency in the `[disabled]` flag between form elements.

#### What is the current behavior?

`<input>` accepts either `true`/`false` or `1`/`0`.  `<mat-select>` only accepts `true`/`false`.

#### What are the steps to reproduce?

* Create a value that represents the `disabled` state of controls.
* Create a form

[2018-01-08 16:43] txinfo opened #9281 "[Date Picker] Validation breaks when form field is not pristine"
The use case is as follows:

- the date input is part of a form
- the date input is optional
- if a date is entered it needs to be entered in a valid format (defined in date adaptor)
- only want to label the field as invalid if there has input entered and it is invalid - if there is no text entered then it is marked as valid
- on a clean form everything works as it should - form is only valid when

[2018-01-08 16:45] DevVersion commented on #9280
Yeah our `disabledMixin` that is being used by most of the components is treating the `zero` value as `true`.

Since native inputs also support `0` and `1` as values for the `disabled` property, the mixin should handle that probably in the same way.

[2018-01-08 16:50] dgouissem commented on #9277
NB: The application is running on Anguar 5.0.0 version, do I need to upgrade to latest one?

[2018-01-08 16:55] bagolysz opened #9282 "Failed to compile when using custom theme"
#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
Successful compilation using custom material theme.

#### What is the current behavior?
Syntax error detected when compiling:

[code]

#### What are the steps to reproduce?
1. Define a custom theme: custom-theme.scss with the following content:
[code]

2. Add to styles.css:
`@import "./custom-theme.scss";`

3. Change

[2018-01-08 17:06] DevVersion commented on #9282
You are importing a SCSS file inside of a CSS file (_styles.css_).

This is not working, because CSS doesn't understand the SCSS syntax. Please just load the `custom-theme.scss` file by adding it to the `styles: []` array in the `.angular-cli.json` file (basically as you did)

[2018-01-08 17:06] #9282 closed

[2018-01-08 18:08] vesrah commented on #6656
I came across this bug report through some creative Googling.  I also had a similar issue, but it was just mis-alignment for me, rather than completely sitting at the top left of the screen.  My CSS fix could be summed up as:
Added class to containing mat-form-field, for example we will call it mat-datepicker, then the following pseudo CSS.
`.mat-datepicker { position: relative; }`
`.mat-datepicke

[2018-01-08 18:12] iamwhitebox commented on #5965
This works with a single http request, but fails to work when using a BehaviorSubject to periodically update results on the table - if the results are empty, the loader just hangs there.

[2018-01-08 18:13] mmalerba commented on #6656
@vesrah see my suggestion above for visually hiding the underline without changing its position and throwing off the popup

[2018-01-08 19:01] ORESoftware commented on #9274
@willshowell so in your example you just want users to overwrite the entire variable? seems like

`this.myDataSource.data.push() / this.myDataSource.data.unshift()` would be a better idea?

the problem is that when push to the array, the table doesn't re-render, I can try re-assigning to a new array, but that seems to just be a band-aid.

[2018-01-08 19:03] ORESoftware commented on #9274
@julianobrasil I have looked at that overview 10 times, it does not make it clear how to add rows.

There should be a method on MatTableDataSource that allows you to add rows etc.

[code]

[2018-01-08 19:08] ipchaube opened #9286 "Multilevel vertical menu"
#### Bug, feature request, or proposal:
 Looking for Multilevel vertical menu but not sure how I can do it with mat tag. Please see if it can be available, if already available how I can do it.

#### What is the expected behavior?
Multilevel vertical menu(Collapsible and expendable)

#### What is the current behavior?
No options

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker

[2018-01-08 19:18] #8983 closed

[2018-01-08 19:42] julianobrasil commented on #9274
In fact, there should be a way to trigger MatDatatable update. I'll take closer look later to see whether I can find out something.

[2018-01-08 20:05] #3286 closed

[2018-01-08 20:06] willshowell commented on #9274
@ORESoftware I'm sure @andrewseguin would be able to explain more effectively, but I'll try:

#### `DataSource`

When using `MatTable` or `CdkTable`, you must provide it with a data source. Any data source implementation that you provide needs a `connect()` and `disconnect()` method. The former is used _by the table_ as a consistent interface to get a stream of data to display.

The connect method

[2018-01-08 20:07] andrewseguin commented on #9162
I'm fine if we want to include this as part of the API, there's another issue open requesting this that has gotten enough traction https://github.com/angular/material2/issues/2236

Closing this as a duplicate but will welcome a PR that adds this

[2018-01-08 20:07] #9162 closed

[2018-01-08 20:33] lifan0127 commented on #8142
@Wykks I don't think `[shouldPlaceholderFloat]="false"` works. Not sure why it is still in the documentation: https://material.angular.io/components/input/api

[2018-01-08 20:56] Prashant-Kan opened #9290 "Add Customize Css Class to the Mat-Tab-Content and other Mat-X tags which are generated runtime"
#### Bug, feature request, or proposal:
Not able to add customize css class or apply css styling to any Mat-X element that are generated during runtime.

#### What is the expected behavior?
Customize style and add user defined CSS Class to override the behaviour of element (if required)

#### What is the current behavior?
Not applied

#### What are the steps to reproduce?
This is my html body
[cod

[2018-01-08 20:59] willshowell commented on #9290
You are likely just encapsulating your styles. Take a look at this guide and see if it helps:

https://material.angular.io/guide/customizing-component-styles

[2018-01-08 21:01] ronaldmansveld commented on #9206
I had a quick look, and it seems like it still uses the viewport
exclusively to calculate whether an overlay would fit at a certain position.
As the new class also uses private instead of protected, I will run into
the same issue that I can't extend (and therefore reuse big parts of) the
class to change the behaviour slightly.

While it is definitely an improvement for a lot of use-cases, it can't

[2018-01-08 21:33] padraig-meaney commented on #3304
Hey guys,
I wouldn't mind taking a look at this a newbie contributor. What would be the best way to solve this?

Right now I'm thinking if an icon instance fails when calling getNamedSvgIcon(..), it could subscribe to an observable in the iconRegistry that emits when any icons are added, and use the existing subscription in ngOnCHanges to refresh it's svg once the matching icon name is emitted?

[2018-01-08 21:35] LosD opened #9292 "mat-menu trigger button is highlighted after closing menu"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Trigger button acts like other buttons: When action has completed, button returns to the neutral state.
![image](https://user-images.githubusercontent.com/1282832/34693192-0bbdb5a8-f4c3-11e7-855e-fdcc664a844a.png)

... Actual keyboard focus stays, but the styling is back to neutral, when using the mouse to click (for

[2018-01-08 21:45] ORESoftware commented on #9274
Thanks, I don't think that's a great solution (overwriting the original array), I made a video demonstrating the problem

https://www.useloom.com/share/83b4388cf48f49178280bec3d3bbc984

[2018-01-08 21:47] julianobrasil commented on #9292
This is not a bug, it's working as expected: https://github.com/angular/material2/issues/9252#issuecomment-355631159

You can set the focus in other element on `closed` event.

[2018-01-08 22:21] willshowell commented on #9274
@ORESoftware thanks for the video.

1. FWIW, if you're only ever adding rows from the data service, perhaps try something like this:

[code]

    Obviously I don't know how your data service works or really any of the rest of the app, but _maybe_ it will show how easy it can be to add rows.

    This way could be even simpler:

[code]

2. What you're experiencing with empty rows not showing data u

[2018-01-08 22:30] scottmcmaster commented on #7681
I'm still having this issue with my particular build. @drullo @jrc60752 I figure you are using Material modules that rely on anomations, did you also have to add an "externals" entry along the lines of:

`"@angular/material/core/animation": "ng.material.core.animation",`

For the specific animation.js.map error? In spite of the fact that nobody (I suspect) actually imports that _directly_ in TS co

[2018-01-08 22:47] ORESoftware commented on #9274
Ok, so what you are saying is that in the Material codebase, you have something like:

[code]

[2018-01-08 22:54] ORESoftware commented on #9274
Ok so the solution given does not work. I have this code:

[code]

blank rows _are_ added... But I have to recreate the entire component to get the table cells to render. Something is wrong.

[2018-01-08 23:11] HuntedCodes commented on #8436
An obvious solution to the `id`/`name` use case, described by @kdubious, would be great.

[2018-01-08 23:27] jotatoledo commented on #9286
You mean something like this? https://material.angular.io/components/menu/overview#nested-menu

[2018-01-08 23:27] jotatoledo commented on #9281
Reproduction?

[2018-01-08 23:32] sarora2073 commented on #8436
This forum is intended for making feature requests / bug fixes etc. to the Angular team, not for support etc. The question from kdubious is better reserved for forums like stackoverflow.

[2018-01-09 01:05] HuntedCodes opened #9293 "Autocomplete: for selected object, return individual property value (i.e. `id`)"
#### Bug, feature request, or proposal:

This is a proposal.

#### What is the expected behavior?

An Autocomplete component being *capable* of returning an individual property value (like `id`) from a selected object, if specified. Otherwise, return the entire selected object as usual.

#### What is the current behavior?

Return the selected object as the value for an Autocomplete component.

###

[2018-01-09 06:58] molikh opened #9294 "sharedModule in individual apps"
#### Bug:
can't share material components through sharedModule in individual apps.

#### What is the expected behavior?
i already used sharedModules to share my component from an template app through my other individual apps and everything works fine.
the main idea is, create some custom components like <input-email></input-email> with angular material components that handle everything i want from

[2018-01-09 07:42] LosD commented on #9292
Well, the actual issue isn't the keyboard focus itself, but that the button has the focus style after clicking, whereas other buttons does not, unless you use the keyboard (where it makes sense). That a menu is attached should be irrelevant to how the button is styled.

But thanks for the workaround (though I hope to remove the styling, not the actual keyboard focus)!

[2018-01-09 07:56] skyfremen commented on #7315
Hi, may i know whats the status of this issue? It has been quite some time.

[2018-01-09 08:26] Jackeysharath commented on #7210
@George35mk @nayanasrirama
Thank you for your response.
I resolved the issue and noticed why its raised.
This is the problem raised because of version miss match,
So I changed package.json file to

{
  "name": "cemdemo",
  "version": "0.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve --port 7777 --host 192.168.0.169 --open",
    "build": "ng build",
    "test": "ng

[2018-01-09 08:45] LosD commented on #9292
It seems like the wrong class is applied when closing the menu, here's my workaround (attached to the close handler of the menu, not the trigger, as the trigger event does not specify the source):
[code]
Not entirely sure why the timeout is needed, but without it, `cdk-program-focused` returns.

[2018-01-09 08:45] gogakoreli opened #9295 "Bug: Datepicker value change event fires when changin min value of it"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
I am not sure it is expected to behave like that or not, but I think that changing min value of datepicker shouldn't fire value changes event of the form group. I changed value of min date inside subscribe method because I want to have mindate dynamically updated. I checked two conditions one with the formgroup where

[2018-01-09 10:03] smile2014 opened #9296 "Can provide a border with the mat-form-field"
https://stackblitz.com/edit/angular-pzgvcn

[2018-01-09 11:01] AT-Rocha commented on #5440
Sorry, I know it is a closed issue, but what about how to implement i18n to mat Tooltip ?
One possible use would be:

`<ng-template style="" #inRet i18n="@@groupIncludeYard" >Another Text.</ng-template>
<mat-list-item [matTooltip]="inRet" [matTooltipPosition]="'above'" >SOME TEXT
</mat-list-item>`

Or there is another way ? Thanks.

[2018-01-09 11:11] CDDelta opened #9297 "Text area should match material spec and have border"
#### Bug, feature request, or proposal:
Bug?

#### What is the expected behavior?
Text area should have a border that matches the material spec.

#### What is the current behavior?
No border

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker starter (using on `@master`): https://goo.gl/uDmqyY<br/>
St

[2018-01-09 11:13] anisabboud opened #9298 "[mat-dialog-close] button is called many times without even clicking the button itself."
#### Bug:
`[mat-dialog-close]` button is called many times without even clicking the button itself.

#### What is the expected behavior?
`[mat-dialog-close]` button should be called only when clicked.

#### What are the steps to reproduce?
1. Go to: https://material.angular.io/components/dialog/examples and
  click the "Edit in StackBlitz" icon button.
2. Open **dialog-overview-example-dialog.html

[2018-01-09 11:18] anisabboud commented on #8597
I encountered a potentially related issue https://github.com/angular/material2/issues/9298. Thanks!

[2018-01-09 11:20] #9297 closed

[2018-01-09 11:47] crisbeto commented on #9298
The `mat-dialog-close` input is for passing in the result with which to close the dialog. It will be evaluated on every change detection cycle.

[2018-01-09 11:47] #9298 closed

[2018-01-09 11:51] julianobrasil commented on #9292
Nice to hear that you managed to do it, @LosD!

But what you did is exactly what I would do. Other approach (if you don't wanna relay on classes names and don't wanna keep focus), is create another focusable component out of the end user sight:

[code]

and, in code do something like (inside of your `setTimeout`):

[code]

The `setTimeout` is necessary because you want to assure your actions will

[2018-01-09 12:05] txinfo commented on #9281
https://stackblitz.com/edit/angular-hajfhp

[2018-01-09 12:13] deniscarvasilva commented on #9296
`<div class="yourclass">
<mat-form-field>
  <input type="text" matInput placeholder="Price">
</mat-form-field>
</div>`

if you create the class in your css, maybe help you to make a border

[2018-01-09 12:16] thw0rted commented on #3814
I am also looking to style the Expansion Panel's description (while collapsed) in line with how the spec presents it. I don't think the spec ever actually states that the description portion of multiple panels in the same "group" (grouping of multiple panels is also never specifically mentioned in the spec...) must align in a column with each other, but each example image does exhibit this behavio

[2018-01-09 12:38] LosD commented on #9292
@julianobrasil The problem with changing the actual focus is that it messes with the user's tab position, so going back to the keyboard can be confusing.

I understand what `setTimeout(fn, 0)` does, it just surprised me that the event is raised before Angular Material is done doing its thing, but there's probably good reasons for that.

[2018-01-09 12:45] TheRedD0t opened #9300 "Update issue template"
The [ISSUE_TEMPLATE.md](https://github.com/angular/material2/blob/master/.github/ISSUE_TEMPLATE.md#12) needs to be updated, it still contains a link to the non-working plunker.

[2018-01-09 12:46] #9300 closed

[2018-01-09 12:48] drullo commented on #7681
@scottmcmaster no, I didn't not have to add an entry for `@angular/material/core/animation`.  Can you post your error and a copy of your ng-package.json?

[2018-01-09 13:20] willshowell commented on #9274
@ORESoftware source is here:

https://github.com/angular/material2/blob/af44b9dad774b91eac61f748c76177939587e4f4/src/lib/table/table-data-source.ts#L51-L53

That does sound like something is wrong. Are you able to recreate the issue in a stackblitz?

[2018-01-09 13:47] armansujoyan commented on #5917
You can use the method called `_updateChangeSubscription()`. This method will update subscription to changes that should trigger an update to the table's rendered rows. When the changes occur it processes the current state of the **filter**, **sort**, and **pagination** along with the **base data** and sends it to the table for **rendering**.

[2018-01-09 13:49] anhhnguyen206 commented on #5465
I fixed it by putting my scrollable content inside <mat-dialog-content></mat-dialog-content>.

[2018-01-09 13:59] alirizadikici opened #9301 "Ability to create additional color codes"
#### Bug, feature request, or proposal:
Feature request/proposal

#### What is the expected behavior?
Providing more than 3 color codes.

#### What is the current behavior?
There are only 3 color codes:
Primary
Accent
Warn

#### What are the steps to reproduce?
N/A

#### What is the use-case or motivation for changing an existing behavior?
Other UI frameworks have more than 3 color codes available

[2018-01-09 14:02] crisbeto commented on #9296
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2018-01-09 14:02] #9296 closed

[2018-01-09 14:12] lyschoening commented on #8444
@josephperrott Since this issue has been closed is the suggested solution here to stick an `overflow: visible!important` into the CSS? A great number of Material components have shadows and by the Guidelines they should align with the edge of the stepper content.

[2018-01-09 14:22] jrc60752 commented on #7681
I had to go back and refresh my memory...a few weeks off and I forgot what this was referring to.

my complete ng-package.json file contains:
`{
  "lib": {
    "entryFile": "public_api.ts",
    "externals": {
      "@angular/material/autocomplete": "ng.material.autocomplete",
      "@angular/material/input": "ng.material.input",
      "@angular/material/select": "ng.material.select"
    }
  }
}
`

[2018-01-09 14:31] kdubious commented on #8436
@sarora2073 I'm not asking for support, but I see now that my post wasn't clear. Instead, I'm trying to add a seemingly standard use case to your request to remove/eliminate the `displayWith` as it is currently used.

The current implementation of Autocomplete + displayWith doesn't handle the typical ComboBox setup. I'd expect it to allow a user to pick a foreign key, where they see the `name` and

[2018-01-09 14:48] sarora2073 commented on #8436
It's supported today and you should be able to find sample working implementations elsewhere.

As of right now, after selecting from the autocomplete list, you need a displayWith function to show the name instead of the primary key. I'm hoping this will get changed when the angular material team has time to work on this ticket...e.g. innerText gets displayed by default.

[2018-01-09 15:08] julianobrasil commented on #9277
It looks like something in your setup. Take a look what happens in my notebook:

![image](https://media.giphy.com/media/3o751V97PSMBDkpy6I/giphy.gif)

My setup (`npm 5.6.0`):

[code]

[2018-01-09 15:32] donroyco commented on #9301
Related: #5152 and #6059

[2018-01-09 15:52] Cammisuli commented on #8068
I'm interested in this as well. If a PR is needed, I'm more than happy to provide it.

[2018-01-09 15:54] leNicDev commented on #7811
Experiencing the same issue here!

[2018-01-09 17:14] willshowell commented on #9281
@txinfo try this

[code]

[2018-01-09 17:51] jelbourn commented on #9301
This isn't something that we plan to add any time soon; it's something we will revisit when we're able to switch to CSS variables (when we can drop IE11).

[2018-01-09 17:51] #9301 closed

[2018-01-09 17:54] andrewseguin commented on #9294
Is this a bug in Material? Looks like you are having trouble sharing a module between apps? If this is an issue with Material, please re-open with a stackblitz of what you are trying to achieve. If this is an Angular issue, please open an issue with angular/angular instead. Right now this looks to be out of the scope of the Material library

[2018-01-09 17:54] #9294 closed

[2018-01-09 17:56] andrewseguin commented on #9286
Please refer all troubleshooting questions to our community at StackOverflow, Angular Material mailing lists, Gitter, etc. We try to keep our issues here only open for bugs and feature requests.

[2018-01-09 17:56] #9286 closed

[2018-01-09 17:58] andrewseguin commented on #9277
Please refer all troubleshooting questions to our community at StackOverflow, Angular Material mailing lists, Gitter, etc. We try to keep our issues here only open for bugs and feature requests.

[2018-01-09 17:58] #9277 closed

[2018-01-09 18:11] #9270 closed

[2018-01-09 18:13] #9249 closed

[2018-01-09 19:11] crisbeto commented on #9298
That's how data binding works in most frameworks, which is also why you should avoid binding very intensive functions to your view.

[2018-01-09 19:39] noemi-salaun opened #9304 "feat: providing a way to get the component attached to a CdkPortalOutlet"
#### Bug, feature request, or proposal:
Feature request

When attaching a `ComponentPortal` to a `CdkPortalOutlet` using the declarative syntaxe `<ng-template [cdkPortalOutlet]="myComponentPortal">`, there is no way to get the instance of the component, created by the directive.

The only way to get the component instance is to attach the portal programmaticaly, but it would seem that the cycle is

[2018-01-09 19:48] willshowell commented on #9304
Do you have a reproduction? Just looking at the source, it seems the `portal` property would be what you want.

https://github.com/angular/material2/blob/b488b393c6ea2db75322cf76a588888bc0f2a4c4/src/cdk/portal/portal-directives.ts#L71-L74

[2018-01-09 19:59] ipchaube commented on #9286
Hi Jota,
I need similar but like tree and not a popup. Expand and collapse on click with icons.
Like https://jmouriz.github.io/angular-material-multilevel-menu/demo/demo.html

[2018-01-09 20:31] ttugates opened #9308 "(pan) directive not emitting on iOS devices."
#### Bug, feature request, or proposal:
Bug: (pan) is not triggering on iOS in either Safari or Chrome.

#### What is the expected behavior?
i.e. (panstart)="onPanStart($event)" should call onPanStart on iOS .

#### What is the current behavior?
(pan) events not firing on iOS.

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to se

[2018-01-09 20:31] tomscript commented on #6341
Friendly ping please. I'm using this on an email field so I can't create my own autocomplete.

[2018-01-09 20:48] #9308 closed

[2018-01-09 21:08] bsteffl opened #9309 "Sidenav: Support for headers that are not fixed and onscroll events"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Maybe there would be an onscroll event that would subtract the top offset value as you scroll, and maybe an additional property that you would need to determine if you did or did not have a fixed header.

#### What is the current behavior?
If you set the sidenav to fixed `[fixedInViewport]="true"` and you offset the t

[2018-01-09 21:16] ziaongit commented on #8169
@willshowell just use different ID for each
Example:
`<md-input-container class="example-full-width">
      <input class="full-width" mdInput formControlName="JoinDateUtc" [mdDatepicker]="picker" placeholder="Join Date">
      <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
      <md-datepicker #picker></md-datepicker>
</md-input-container>

<md-input-container class="example

[2018-01-09 21:34] kblestarge opened #9310 "Select option should be able to display fully (with line break)"
Feature request (or help with custom CSS)

#### What is the expected behavior?
I want the text in the option of the select to be able to break to the next line instead of being hidden with three dots at the end of a single line.

#### What is the current behavior?
A combination of `overflow: hidden;` and `text-overflow: ellipsis;` is preventing a really long option from being fully displayed. It i

[2018-01-09 21:40] okeydoky opened #9311 "feat(expansion-panel): allow two-way binding on 'expanded' property"
#### Bug, feature request, or proposal:
feature

#### What is the expected behavior?
allow two way binding on panel's expanded property

#### What is the current behavior?
Currently, 'expanded' is only an Input

#### What is the use-case or motivation for changing an existing behavior?
Right now, when we try to open/close panel programatically, we usually do something like:
<mat-expansion-panel  [

[2018-01-09 23:07] jelbourn commented on #9206
@crisbeto any thoughts on this?

[2018-01-09 23:13] mmalerba commented on #8790
They are both covered a little bit in the `mat-select` documentation: https://material.angular.io/components/select/overview but it would be good to have some additional info about using them outside the `mat-select`

[2018-01-09 23:13] jelbourn commented on #7649
Closing since beta.12 is pretty old now. Feel free to open a new issue with any new problems.

[2018-01-09 23:13] #7649 closed

[2018-01-09 23:14] jelbourn commented on #7660
Closing this since, AFAIK, this should now be resolved (SW cache should no longer become super stale).

[2018-01-09 23:14] #7660 closed

[2018-01-09 23:15] jelbourn commented on #6648
This is now done.

[2018-01-09 23:15] #6648 closed

[2018-01-09 23:15] jelbourn commented on #6252
Closing this since, after releasing 5.0.0, we aren't making any more breaking API changes.

[2018-01-09 23:15] #6252 closed

[2018-01-09 23:16] mmalerba commented on #8682
This has been fixed

[2018-01-09 23:16] #8682 closed

[2018-01-09 23:17] andrewseguin commented on #9105
Can you re-open with a reproduction of your issue in stackblitz so we can investigate the issue?

[2018-01-09 23:17] #9105 closed

[2018-01-09 23:17] josephperrott commented on #8592
This is actually working as expected.

If the collapsedHeight and expandedHeight are left to default, they will be [`48px` and `64px` respectively](https://github.com/angular/material2/blob/master/src/lib/expansion/expansion-animations.ts#L38).  To define the height via css, you will need to set the parameters for the animation to `*` for both.

[2018-01-09 23:19] jelbourn commented on #4274
Closing this since we're now planning on going with a different solution in the long-term.

[2018-01-09 23:19] #4274 closed

[2018-01-09 23:19] mmalerba commented on #8959
This use case is not currently supported, instead you would do something like this:

[code]

[2018-01-09 23:20] jelbourn commented on #9276
Possible duplicate of #4263

[2018-01-09 23:21] alexeagle commented on #9018
/cc @evmar

[2018-01-09 23:21] tinayuangao commented on #8819
Related issues:
#8801 validation for chips
#9230 validation for duplicate chips on chip input

[2018-01-09 23:22] jelbourn commented on #3707
Closing this since we now have appropriate guidance for using icons in general.

[2018-01-09 23:22] #3707 closed

[2018-01-09 23:23] jelbourn commented on #1766
This was added in #8766

[2018-01-09 23:23] #1766 closed

[2018-01-09 23:26] schmeic opened #9314 "unexpected behavior with mat-option select()"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When manually calling select()/deselect() on a MatOption, I would expect the following to happen:
1. The MatSelect label changes
2. The MatSelect selectionChange callback is called
3. The MatSelect formControl value changes

#### What is the current behavior?
Currently, only the option checkbox changes in the dom. The

[2018-01-09 23:27] andrewseguin commented on #9205
Sorting for null/undefined values has a fix here https://github.com/angular/material2/pull/8698

[2018-01-09 23:34] tinayuangao commented on #9210
The ripple size & radius are configured in checkbox css file: https://github.com/angular/material2/blob/master/src/lib/checkbox/checkbox.scss#L414

[2018-01-09 23:34] #9210 closed

[2018-01-09 23:35] tinayuangao commented on #9230
Duplicate of #8819.

[2018-01-09 23:35] #9230 closed

[2018-01-09 23:39] josephperrott commented on #9212
These breakpoints would be great to add to the [breakpoints.ts](https://github.com/angular/material2/blob/master/src/cdk/layout/breakpoints.ts) file within `@angular/cdk/layout`.

[2018-01-09 23:45] mmalerba commented on #8885
Seems like an issue with angular forms. Here's an example demonstrating that it doesn't work even without Material: https://stackblitz.com/edit/angular-q2fhul-vyu9iz?file=app/form-field-error-example.ts

Maybe related to this: https://github.com/angular/angular/issues/17080

[2018-01-09 23:45] #8885 closed

[2018-01-09 23:46] mmalerba commented on #8848
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-09 23:46] #8848 closed

[2018-01-09 23:47] noemi-salaun commented on #9304
The `ComponentPortal` return by `get portal()` has access to the component type only.

https://github.com/angular/material2/blob/303e004527a74cb9da4bb894828c251741f63fbd/src/cdk/portal/portal.ts#L82-L84

The `ComponentRef` is created by the `PortalOutlet` during the attachment. But the ref isn't stored in the `PortalOutlet`, it is returned straight from the `attach()` function.

https://github.com

[2018-01-09 23:48] jelbourn commented on #8879
@DevVersion is there any reason you couldn't just use css to change this?

[2018-01-09 23:53] mmalerba commented on #9007
Posting links to above stackblitz's w/ code for convenience:
https://stackblitz.com/edit/angular-material2-issue-ttt1jk
https://stackblitz.com/edit/angular-material2-issue-ywwtjf

[2018-01-10 00:13] mmalerba commented on #9309
currently you can accomplish this with a dynamic binding for `fixedTopGap` like this: https://stackblitz.com/edit/angular-cm3u2d-cij2dh?file=app/sidenav-fixed-example.ts

[2018-01-10 00:34] iamwhitebox commented on #2143
@kara what if the option doesn't exist in the model? what if values being passed in aren't available in [value]? There has to be a way to default to the first item in the list if the model value doesn't exist.

[2018-01-10 04:07] molikh commented on #9294
that is what i'm trying to figure out . let me explain again.
i have templateApp and mainApp.
i have created a sharedModule in templateApp contains a component with a <h1> tag then I have imported this sharedModule my mainApp and works fine.(so it's not angular problem )
But then i use mat-btn inside that component insted of <h1> now it gives me error "elementRef".
**Notes** :
* if i use this shar

[2018-01-10 04:21] CDDelta commented on #8832
Good news PR #9299 is fixing this.

[2018-01-10 06:19] viksakshum commented on #7053
yes this is a big problem for us as well. please advise a solution

[2018-01-10 06:23] viksakshum commented on #2706
also as mentioned earlier that this breaks the sidenav component,

[2018-01-10 06:49] alirizadikici commented on #9301
Thank you @donroyco @andrewseguin @jelbourn

I have crafted a very simple solution and also shared it at the below stackblitz link:
[Solution](https://stackblitz.com/edit/angular-material2-issue-uvnnl8)

[https://stackblitz.com/edit/angular-material2-issue-uvnnl8](url)

[2018-01-10 07:06] LisaTatum commented on #9230
@tinayuangao  Why are you closing this request and refer to other closed requests which are refer to THIS closed request??? By doing this you close all requests...

This is the only open request: https://github.com/angular/material2/issues/8801

but thats a total different topic => broken behavior:
"...It doesn't react to addition/insertions, so no validation can be trigger/shown..."

That guy doe

[2018-01-10 08:17] crisbeto commented on #9310
Closing as a dupe of https://github.com/angular/material2/issues/7211.

[2018-01-10 08:17] #9310 closed

[2018-01-10 08:42] Dimasik11 commented on #4926
bumping.  i i thibk is desired.

[2018-01-10 08:59] Swoox commented on #5712
This is maybe a workaround but it works for the dialog should work for the sidenav to.

Place a div around your content in the html:

`<div style="width: 100%; height: 100%; position: absolute;" (swipeleft)="closeDialog()" (click)="closeDialog()">`

[2018-01-10 09:05] mohlendo commented on #9247
It is happening on a button toggle group:

https://stackblitz.com/angular/ngypogdoyjm

[2018-01-10 09:10] crisbeto commented on #9247
I'm still not seeing it. On what browser are you getting the error?

[2018-01-10 09:15] mohlendo commented on #9247
Yep, it is only in beta Chrome build:
Chrome Version 64.0.3282.71 beta (64-Bit)

Cannot see it in Chrome Version 63.0.3239.132 (64-Bit)

[2018-01-10 10:15] MikaAK commented on #9276
Not quite @jelbourn that issue seems to be around allowing urls passed to the register to be relative. This is more around either changing the actual url's of the svg's filters/masks when referencing defs (since it must change on a per page basis this would need to be done at render).

see https://github.com/jeffbcross/angular-svg-base

[2018-01-10 10:36] imchaitanya9 commented on #7623
Still facing issues while having multiple mat-select with "multiple" property.

[2018-01-10 11:01] henev opened #9320 "Menu: Overlay is blocking click and contextmenu events"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When menu is open, any click event (including context menu events) outside of the menu and targeting clickable items, is expected to work from the first time. Menu should be closed along with the action handled by the clicked item.

#### What is the current behavior?
Overlay is blocking click events (context menu even

[2018-01-10 11:07] thw0rted commented on #7660
I'm glad the caching problem is fixed.  Should I open separate issues for the other stuff?

* Docs should show version number (pull request is still open)
* `material.angular.io` should host historical versions of docs (does Material2 have a stated support lifecycle? If so, all supported versions need online docs)
* documentation examples should link to specific versions of dependencies on unpkg i

[2018-01-10 12:02] afarbman commented on #6958
having the same issue

[2018-01-10 13:51] ancornelle opened #9321 "[MatTable] How to filter each column of the table"
#### Bug, feature request, or proposal:
Is there a simple solution proposed by MatTable to filter each column independently ?

#### What is the expected behavior?
I want to search in my table by using one filter by column.

#### What is the current behavior?
I know it exists a system to filter the table with only one input which searches in all the columns of the table.

#### Which versions of Ang

[2018-01-10 13:53] cmddavid commented on #7558
@willshowell are you referring to this line: `{ provide: ErrorStateMatcher, useClass: ShowOnDirtyErrorStateMatcher }`? As this is not working for me, I was wondering how one can use it.

[2018-01-10 14:18] tmakin commented on #3286
This was working form me in 5.0.3 but seems to have disappeared from 5.0.4. There is also no mention of `MatTooltipDefaultOptions` in the docs referenced by @CDDelta?

[2018-01-10 14:32] Mario-Eis commented on #9139
Issue seems to reappear in 5.0.4

[2018-01-10 14:38] Mario-Eis opened #9322 "[Tabs] 'animationDone' event is never fired"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
animationDone should fire when tab body has completed animation.

#### What is the current behavior?
animationDone event is never fired.

#### What are the steps to reproduce?
https://stackblitz.com/edit/angular-4c9yjl-kpfmev

#### Which versions of Angular, Material, OS, TypeScript, browsers are affected?
@angular/ma

[2018-01-10 14:52] josephperrott commented on #9321
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-10 14:52] #9321 closed

[2018-01-10 14:58] adrianromanko commented on #6826
I'm also getting this error with the JIT compiler. So far i've had those most issues after upgrading to 5.x.

compiler.js.pre-build-optimizer.js:485 Uncaught Error: Unexpected value 'BrowserAnimationsModule' imported by the module 'AppModule'. Please add a @NgModule annotation.
    at syntaxError (compiler.js.pre-build-optimizer.js:485)
    at compiler.js.pre-build-optimizer.js:15204
    at Array.

[2018-01-10 15:34] bettercalldough commented on #9235
@mmalerba is there a Slack group for Material2 that we could talk about this in?

[2018-01-10 15:34] willshowell commented on #7558
@cmddavid what exactly are you trying to do?

[This Stackblitz](https://stackblitz.com/edit/angular-material2-issue-qoe4bj?file=app/form.component.ts) demonstrates showing errors when `dirty` instead of `touched`.

[This Stackblitz](https://stackblitz.com/angular/qvgrpdkjyem) (taken from the docs site) demonstrates showing errors when `dirty` OR `touched`.

[2018-01-10 16:10] mhosman commented on #8113
+1

[2018-01-10 16:36] Maccodonaldo commented on #763
+1

[2018-01-10 16:57] petematt opened #9323 "a11y - dialog closes silently when opened from a menu component"
#### Bug, feature request, or proposal:
Bug verified on chromevox next and voiceover.

#### What is the expected behavior?
Given a page with a button.  The button opens a menu component.  A button in the menu component opens a dialog.

When a dialog closes, the screen reader should read "exited dialog" (or similar) and return focus at the last focusable element used.

#### What is the current beha

[2018-01-10 17:11] jelbourn commented on #7660
Major versions will persist in the docs (e.g., once 6.0 comes out, the docs for 5.0 will still be available).

Feel free to file an issue for the stackblitz versions

[2018-01-10 17:23] GerardoSabetta commented on #4763
@SaturnTeam That looks awesome, care to share the code? Thanks!

[2018-01-10 17:36] cmddavid commented on #7558
@willshowell i made a form that gets pre populated by using patchValue. Problem was the form did get marked as INVALID, but the Material2 components didnt mark the individual fields as invalid. As a result the user couldn't see what field had an error. Only if you would touch an invalid field, it would become "red". So this has now been solved, but I was surprised doing this involves looping over

[2018-01-10 18:07] merylb commented on #8332
i used when but doesn't help in my case it extend just the left cells

that's what i need :

![image](https://user-images.githubusercontent.com/33625598/34787977-0f24381a-f631-11e7-8bd8-ac45e811d575.png)

but that's what i got:
![image](https://user-images.githubusercontent.com/33625598/34787990-1dc6d486-f631-11e7-8bc9-30e1b51c4fa9.png)

[2018-01-10 18:22] willshowell commented on #7558
@cmddavid The [docs for `markAsDirty` say](https://angular.io/api/forms/AbstractControl#markAsDirty),

So it looks like marking bubbles up to ancestors but does not affect child controls.

If you're not satisfied with looping over all the controls manually, a more elegant solution might be to use your own custom ErrorStateMatcher. As you may know, the default one only shows `mat-error`s when the c

[2018-01-10 18:55] crisbeto commented on #9206
I'm fine with making the DI properties protected since TS won't allow properties with the same name on the derived class. As for all the other internals, if we made them protected we'd have to maintain some guarantees that they won't change between minor/patch version which will make it really hard to do any kind of refactoring.

[2018-01-10 19:01] crisbeto commented on #9247
Not sure whether I'm missing anything, but I'm not getting any errors on Chrome@63.0.3239.132 stable, nor beta@64.0.3282.71 beta or Canary@65.0.3317.0.

[2018-01-10 19:54] briankitt opened #9325 "Cannot read property 'config' of null"
#### Bug, feature request, or proposal:
Bug
#### What is the expected behavior?
I expected this repository to actually work
#### What is the current behavior?
I get the error 'Cannot read property 'config' of null'
#### What are the steps to reproduce?
I cloned the repository on Windows 10 Pro.
Per 'Readme.md' I then run 'npm install -g gulp'
Per 'Readme.md' I then run 'npm install'
I then run 'ng

[2018-01-10 20:07] willshowell commented on #9206
It doesn't appear that `ConnectedPositionStrategy` would support this, but `FlexibleConnectedPositionStrategy` seems to rely solely on `ViewportRuler.getViewportRect()` for its calculations. It would follow that you could provide your own implementation of `ViewportRuler` that defines a custom position and size.

@crisbeto do you think that would work?

[2018-01-10 20:20] crisbeto commented on #9204
Closing since there's not much we can do without a repro case.

[2018-01-10 20:20] #9204 closed

[2018-01-10 20:26] noemi-salaun commented on #3179
It looks like this was fixed in commit c8ec9814bcd2e3087dbb778cec7265296b528890 `feat(overlay): add scroll handling strategies`

[2018-01-10 21:33] bettercalldough commented on #9235
I've made progress with creating a **Solo field** input

My only issue is that I'm new to Angular and trying to make use of Angular Directives but I'm unable to get a directive I created called `matSolo` to work as it _should_ add the class `mat-solo` to the element it's present on.

If I manually add the class like in the image below:

<img width="472" alt="screen shot 2018-01-10 at 21 22 20" src

[2018-01-10 21:48] marinantonio commented on #5917
Took me some time but I finally got everything working. So, here's my CRUD implementation if anyone gets in trouble with this:
https://github.com/marinantonio/angular-mat-table-crud

Screenshot:
![Alt Text](https://i.stack.imgur.com/atzqB.gif)

Or you can test it on gist:
https://marinantonio.github.io/angular-mat-table-crud/

[2018-01-10 21:55] justinlee0777 opened #9328 "Peer dependency version of Angular is too specific"
Will Angular Material's dependency on Angular be updated to be compatible with release 5.2.0? My team's build pipeline does a WhiteSource scan to validate its peer dependencies. Our current solution, for now, would be to lock our Angular dependency to 5.1.3.

[2018-01-10 22:31] ORESoftware commented on #5917
@marinantonio cool, how did you create that GIF?

[2018-01-10 22:37] ORESoftware commented on #5917
@armansujoyan

I tried this:

[code]

unfortunately didn't work...my table renders new rows, but the rows are empty - the cells don't get rendered.

[2018-01-10 23:15] cmddavid commented on #7558
@willshowell that sounds like a great idea. I'm using the form to validate a csv import file before sending it to the server(so one can correct mistakes as well). So thats why every little speed bump can help to make the experience better. As a csv file could easily result in thousands reactive forms, you can imagine the impact of having to loop over all those controls.

[2018-01-10 23:35] vinita1990 commented on #7573
for Angular 2 examples it is giving this error:

"xhr construction TypeError: window.XDomainRequest is not a constructor"

[2018-01-11 00:21] SaturnTeam commented on #4763
@GerardoSabetta Code not ready yet

[2018-01-11 00:43] MaddMugsy opened #9329 "[Table] Does not work when targetting ES6"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Table appears in browser.

#### What is the current behavior?
Table doesn't appear.  Error message in console:

[code]

#### What are the steps to reproduce?

Create a new angular 5 project.  Add the example code from material.angular.io for mat-table.

It should run fine.

Now go into tsconfig.json and target somethi

[2018-01-11 01:19] rafaelss95 commented on #8832
AFAIK that PR is only related for some missing docs, not all.

[2018-01-11 01:32] willshowell commented on #9274
@ORESoftware I've tried to build a reproduction that's similar to your setup,

https://stackblitz.com/edit/angular-material2-issue-gd6jr5?file=app/table.component.ts

Can you see if you can get identify the difference in your app or fork the stackblitz and reproduce it there?

[2018-01-11 01:51] smile2014 commented on #9296
import { Component, OnInit } from '@angular/core';

@Component({
  selector: 'form-field',
  template:`<div>
    <label>
      material2 input border
    </label>
    <div style="border:1px solid rgb(70, 68, 68);width:100%;height:37px" class="mat-form-field-flex">
        <ng-content></ng-content>
    </div>
</div>`,
  styleUrls: []
})
export class FormField implements OnInit {

  constructor() {

[2018-01-11 01:53] smile2014 commented on #9296
@crisbeto

[2018-01-11 04:01] SaturnTeam commented on #4763
UI for selected range between one month
second primary-colored circle - it is :hover
![image](https://user-images.githubusercontent.com/10252514/34808005-7d7951aa-f6be-11e7-8e6a-73fbecbc7f8c.png)
![image](https://user-images.githubusercontent.com/10252514/34808024-982644ae-f6be-11e7-92e3-0c1038a54071.png)
![image](https://user-images.githubusercontent.com/10252514/34808026-9fab24e2-f6be-11e7-8055-

[2018-01-11 04:13] mmalerba commented on #9235
@bettercalldough I'm going to be looking into how to support the various types of input field shown in the spec very soon. I'm not sure yet if we want to do a directive-based approach or an input-based one (where we would have something like `<mat-form-field variant="solo">...</mat-form-field>`). Need to discuss the pros and cons of each with the team.

For your directive, I think the issue is thi

[2018-01-11 07:23] marinantonio commented on #5917
@ORESoftware
Used free software [ScreenToGif](http://www.screentogif.com/)

[2018-01-11 08:23] SaturnTeam commented on #4763
How do you think better - propagate values via existing `@Output() selectedChange: D` or create `@Output() dateRangeChange: MatDatePickerRangeValue<D>` ?

[2018-01-11 08:31] freezy commented on #6787
Is server-side pre-rendering supposed to work? When I register icons, I provide an URL, which I'm pretty sure won't resolve while pre-rendering, given there's no server running. I tried nevertheless and I'm getting

[code]

for each icon I'm trying to render. Build runs through though (without icons obviously). Looks like the error is triggered [here](https://github.com/angular/material2/blob/mast

[2018-01-11 09:47] nicolasguilhem opened #9331 "matDialog : configure the position strategy"
#### Bug, feature request, or proposal:

Feature request

#### What is the expected behavior?

Ability to configure the position strategy of the CdK overlay created by a matDialog in order to have the backdrop only inside an element (not fullscreen).
This is the same feature as 'parent' property of AngularJS material $mDialog ([https://material.angularjs.org/latest/api/service/$mdDialog#mddialog-s

[2018-01-11 09:51] mohlendo commented on #9247
What weird sorcery is that? For me, it's gone, too! Wat?

[2018-01-11 10:02] SaturnTeam commented on #4763
@enqminh What do you want from it? Code done only 30%

[2018-01-11 10:06] lihanyu23 commented on #4763
@SaturnTeam it's not easy to help without seeing how you plan to build the component.

Will there be 2 inputs for the begin and the end of the range ? Will you have 2 outputs for each of them ?

[2018-01-11 10:13] mohlendo commented on #9247
Just received a new Chrome Beta Version 64.0.3282.85 - it is definitely gone

[2018-01-11 10:14] enqminh commented on #4763
I just wanna datepicker form... to.

[2018-01-11 10:20] SaturnTeam commented on #4763
@lihanyu23 Ok, I got it. I will commit tomorrow to my repo to show. I'm going to use one input and add 1-3 additional variables  to `MatDatepicker` and it's childs. I started to create another component, but then I understand that 90% of code is the same with `MatDatePicker`, and I decided to update `MatDatepicker`.
About selecting and showing days through `MatCalendar` - no any problem.
The diffi

[2018-01-11 10:42] seedy opened #9332 "Feat (Mat-Slider) : Focus method and blur Output"
#### Bug, feature request, or proposal:
Feature request :
Implement Focus and Blur on mat-slider

#### What is the expected behavior?
- Allow mat-slider with thumbLabel to activate thumbLabel programatically on focus via MatSlider class
- Allow mat-slider to notify of blur via MatSlider class

#### What is the current behavior?
Need to use an ElementRef instead of a reference to MatSlider

#### Wh

[2018-01-11 11:19] Den-dp commented on #4763
@SaturnTeam Here is my ideas/mockup based on the styles of the latest datepicker.

![image](https://user-images.githubusercontent.com/1770529/34822433-9b9a65e6-f6cf-11e7-941c-3f51836546e8.png)

Pattern with "filling" like this should work better (especially for ranges greater than 1 months), because
* starting and ending points are always rounded and easy to notice
* all days between are just fill

[2018-01-11 11:28] SaturnTeam commented on #4763
@Den-dp I wanted to do the same too. I got some problem, but now I can't understand what it was.  I'll try tomorrow.  I didn't find your color in material pallete https://material.io/guidelines/style/color.html#color-color-palette I will look something similar

[2018-01-11 11:58] Den-dp commented on #4763
@SaturnTeam good catch! Any color from 50-200 should fit perfectly

[2018-01-11 11:58] lihanyu23 commented on #4763
@SaturnTeam try to use 50 or 100 from the palette. Also I like @Den-dp's idea.

[2018-01-11 12:41] thw0rted opened #9333 "[Tooltip] Breaks text input in Firefox"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Applying `matTooltip` should not change behavior in `<input>`

#### What is the current behavior?
When `matTooltip` is applied to an `<input>` (not inside a `<mat-form-field>`), the text cursor starts to behave strangely.  Typing the (forward) delete key causes the text cursor to move forward once, *then* delete the n

[2018-01-11 12:47] abdulkareemnalband opened #9334 "Android chrome: ConnectedOverlay position wrong when browser topbar is hidden"
#### Bug
ConnectedOverly is positioned slightly below than expected location, if preferred position is `{originY: 'top',overlayY: 'bottom'}` aka on top

#### What is the expected behavior?
Overlay should be positioned correctly

#### What is the current behavior?
Overlay positioned slightly below

#### What are the steps to reproduce?
https://stackblitz.com/edit/cdkoverlayexample

1. scroll to dow

[2018-01-11 12:55] thw0rted commented on #9333
On further investigation, it looks like the root cause of both problems (selection, and strange Delete key behavior) is the application of style: `-moz-user-select: none`.  In Chrome, `user-select: none` is applied but the browser appears to ignore this -- I can't seem to find guidance for how a browser is supposed to treat `user-select` and its variants in `<input>`s specficially.  So, I guess th

[2018-01-11 13:31] thw0rted commented on #9333
It looks like there are two issues here.  The first is that Firefox handles `user-select` wrong for inputs, which [has been a known issue for 2 years](https://bugzilla.mozilla.org/show_bug.cgi?id=1231097) with no movement.  I'm kind of astonished nobody noticed, but that's beside the point -- I can fix it with a simple global rule:

    input { -moz-user-select: text !important; }

The second is a

[2018-01-11 13:47] desmoslevin opened #9335 "Mat-list-option model has refresh problem when is used as source list of mat-chip-list"
#### Bug, feature request, or proposal:

I'm using a list of options, with the angular material component. This is the ts class on which is based:

[code]
list of options
[code]

list of chips, connected to the selected options of the list before
[code]

ts:

[code]

#### What is the current behavior?
When I choose an option in the list, a chip appear. When I delete a chip, the option is not updat

[2018-01-11 13:48] RaulRG commented on #4763
The color should depend on the current theme. Not everyone will use blue.
From the material design page: https://material.io/guidelines/style/color.html#color-color-system

I don't know if the Angular material implementation defines something like primary_color and primary_color_light for the themes, but we are looking for a color to specify the "from" and "to" dates and a lighter version of this

[2018-01-11 13:50] RaulRG commented on #4763
@Den-dp I like your design. I agree with you that it looks less noisy => better

[2018-01-11 13:52] crisbeto commented on #9333
We already do a similar [workaround for input on iOS](https://github.com/angular/material2/blob/master/src/lib/tooltip/tooltip.ts#L217). Perhaps we should expand it to everything @andrewseguin?

[2018-01-11 13:59] thw0rted commented on #9333
I'm not sure if disabling this on *all* devices makes sense. If I have a touchscreen Windows laptop in tablet mode, running, say, Chrome, I have to longpress to show the tooltip.  Without these styles, will that also select a word, or maybe the whole input contents?

It seems to me that HammerJS is using a blunt instrument to address a problem that would benefit from a bit more finesse.  Is it not

[2018-01-11 14:01] MatanYed opened #9336 "Feature: date range picker"
#### Bug, feature request, or proposal:
Date range picker, choose start date and end date, like in hotels booking sites

#### What is the expected behavior?
https://docs.webix.com/media/desktop/daterange_picker.png
https://www.jqueryscript.net/images/Beautiful-ES5-ES6-Date-Daterange-Picker-For-jQuery.jpg
https://camo.githubusercontent.com/1083660a91a3d95a2dd4e8e5e74dfc9703fcdadd/687474703a2f2f692e

[2018-01-11 14:04] g-sari opened #9337 "Expansion panel should jump to the panel header when next/previous button is clicked"
#### Bug:
Currently if you have a large content inside of an expansion panel which overflows the page size in height, and when you click on the next/previous button, the next/previous panel is opened right in the middle or where you currently are. You don't know which panel is currently opened.

#### What is the expected behavior?
It should jump to the panel header when next/previous button is cli

[2018-01-11 14:06] g-sari commented on #6726
I opened this issue which is similar to this topic
https://github.com/angular/material2/issues/9337

[2018-01-11 14:09] DevVersion commented on #9322
The feature hasn't been released yet.

[2018-01-11 14:09] #9322 closed

[2018-01-11 14:20] donroyco commented on #9336
Already requested. Duplicate of #4763

[2018-01-11 14:21] stoto34 commented on #5964
This component will be customizable ? I'm looking for a tree component with a filter and no checkbox.

[2018-01-11 14:26] benb7760 commented on #5964
@stoto34 it's customizable - you provide your own template for nodes and can lay each node out however you wish

[2018-01-11 14:43] mwawrusch opened #9338 "matMenuTriggerFor should never propagate"
#### Bug, feature request, or proposal:
Feature Request
#### What is the expected behavior?
Click events should not propagate with matMenuTriggerFor.

#### What is the current behavior?
Click events do propagate when a matMenuTriggerFor is invoked.

#### What are the steps to reproduce?
[code]

And yes this is surely not perfect HTML but there are use cases, like for example when you have table ro

[2018-01-11 14:45] jalajc opened #9339 "Change the background color of material website to make it more readable"
#### feature request, or proposal:
To make the documentation more readable, please change the background color to lighter shade of gray/grey
#### What is the current behavior?
Currently if one navigates to individual components at [material.angular.io/components/](material.angular.io/components/), the Font color and the background color are close in shade. Moreover a thinner (less weight) font mak

[2018-01-11 14:50] stoto34 commented on #5964
Great, can you tell me when this component will be available ? :)

[2018-01-11 15:02] DevVersion commented on #3372
This issue only seems to appear inside of `<iframe>` element, and Edge just prints `Script5 Error: Access Denied`.

I tracked it down to the `isTabbable` method that tries to access the `frameElement`, which is obviously critical to MS Edge.

[2018-01-11 15:04] Chan4077 commented on #9336
By the way @MatanYed, can you change those links to inline images? The image markdown syntax goes like this:

[code]

Where the text in square brackets are the alternate text if the image doesn't exist, doesn't load, etc. and the text in parenthesis is the link to the image.

[2018-01-11 15:07] willshowell commented on #9339
Screenshot?

[2018-01-11 15:16] atluriajith commented on #8592
@josephperrott  Thanks for the update  :thumbsup:

[2018-01-11 15:42] jalajc commented on #9339
Here are some...
![material angular1](https://user-images.githubusercontent.com/13805246/34832562-69faeba0-f710-11e7-9bfe-4b14baa41bcc.png)
![material angular2](https://user-images.githubusercontent.com/13805246/34832563-6b74e9a4-f710-11e7-89d2-f969b04efc2d.png)
![material angular3](https://user-images.githubusercontent.com/13805246/34832805-e218910c-f713-11e7-8816-708aea40454d.png)

[2018-01-11 15:43] benb7760 commented on #5964
@stoto34 I can't as I don't work for Google. I have my own build of material right now which includes the tree branch. It's fairly featured at present so my unofficial guess is anywhere between 1 month and 6 months!

It can be found [here](https://github.com/angular/material2/tree/tree). It is fairly frequently rebased onto master

[2018-01-11 16:28] ggranum commented on #7758
@crisbeto, regarding when to show it: I would strongly argue that if the value for 'trigger' is not empty, it should *always* be displayed. The developer has full control over the value provided to the trigger, and with a simple 'Placeholder will not display unless the triggerValue is empty' in the docs, it's clear enough what needs to be done.

If that is not an option, then it should be one, via

[2018-01-11 16:29] Arnaud73 commented on #6341
We ran into the same issue.

Any idea if we shall wait for a fix or start writing our own autocomplete component ?

[2018-01-11 16:57] kanelloc commented on #9321
@ancornelle did you find any answer?

[2018-01-11 17:33] crisbeto commented on #9206
That would work, but it still implies that we won't change the way we use the `ViewportRuler` (however unlikely that is).

[2018-01-11 17:46] crisbeto commented on #9247
Closing the issue for now. It can be reopened if there's a repro example.

[2018-01-11 17:46] #9247 closed

[2018-01-11 18:00] scottmcmaster commented on #7681
@drullo sure, thanks :).

Here is the packaging output:

`Building Angular library
Generating bundle for my-project
Cleaning bundle build directory
Processing assets
Running ngc
Compiling to FESM15
'LOCALE_ID' is imported from external module '@angular/core' but never used

BUILD ERROR
ENOENT: no such file or directory, open 'G:\myprojectdirectory\node_modules\@angular\packages\mater
ial\esm5\core

[2018-01-11 18:38] crisbeto commented on #9338
I feel like doing it for all menu triggers is way too opinionated and it could break existing users. Closing since it's trivial to workaround on the consuming side.

[2018-01-11 18:38] #9338 closed

[2018-01-11 18:44] misaunde commented on #6413
From observing this thread, it appears clear this is not a problem for **members** or **contributors**.
They understood perfectly MdIconModule must be included even though it wasn't explicit mentioned in the setup guide.

It's also clear that the people confused by this issue are new users of the library (the people the setup guide was actually written for). Due to the fact that the icons differ i

[2018-01-11 18:52] andrewseguin commented on #6980
Quick update on this PR - it is now possible to directly register columns and rows to the table which means it is possible to create wrapper tables and columns.

[2018-01-11 19:24] AndrewEckart commented on #8888
@tinayuangao What is the difference between a selected chip and a focused chip?

Currently, the color is applied to the most recently added chip because it is considered "selected". This remains the case even if I manually click or use arrow keys to focus an earlier chip (giving it a corresponding shadow). Now there are two visual indicators that a chip is focused on two different chips.

![image]

[2018-01-11 20:27] benj0c opened #9342 "How to update passed data into MatDialog"
Can I do something like lifecycle onChanges into MatDialog component?
I have infinite scroll component into MatDialog, and when I want to load more data, I've call parent component method which one call service.

[2018-01-11 20:39] Techieegirl opened #9343 "NVDA Modifier key (insert) with left/right arrow keys are acceptable for navigating the Menu bar"
Hi there,

We have a mega menu bar like below. We know the keyboard interactions to navigate in between mega menu items is left/right arrow keys. But this is not working when Screen Reader is On. We have to use the Modifier key (insert) plus left/right arrow keys to move in between. Without screen reader, it is working fine by only using the arrow keys.

![image](https://user-images.githubusercont

[2018-01-11 20:40] scottmcmaster commented on #7681
Update: I revved some components just for the heck of it, and now it packages ok. Here is the diff. Doesn't seem like it should be too significant, but in case this helps somebody:

-    "@angular/animations": "^5.1.0",
+    "@angular/animations": "^5.2.0",
-    "@angular/cdk": "^5.0.1",
+    "@angular/cdk": "^5.0.4",
-    "@angular/material": "^5.0.1",
+    "@angular/material": "^5.0.4",

[2018-01-11 20:54] jelbourn commented on #9343
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2018-01-11 20:54] #9343 closed

[2018-01-11 20:55] jelbourn commented on #9342
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-11 20:55] #9342 closed

[2018-01-11 20:58] jelbourn commented on #9339
It does like like many of the syntax highlighting colors don't meet W3C contrast standards

[2018-01-11 21:01] thanjnr opened #9344 "Tab component active tab header text does not apply theme color"
#### Bug, feature request, or proposal:
In tab component, the active tab header text to apply the theme color/underline color if the background is white

#### What is the expected behavior?
active tab header text applies the theme color if background is white as per the Material Design Specs
https://material.io/guidelines/components/tabs.html#tabs-usage

#### What is the current behavior?
active t

[2018-01-11 21:03] vijayvyas opened #9345 "How can line breaks be added within a tooltip?"
How can line breaks be added within a tooltip?

[2018-01-11 21:15] vijayvyas commented on #9345
find it duplicate, closing it.

[2018-01-11 21:15] #9345 closed

[2018-01-11 22:04] willshowell commented on #9338
FWIW this should do the trick

[code]

[2018-01-11 22:41] farley911 opened #9347 "FormGroup.reset() does not reset validation"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`FormGroup.reset()` should reset the form validation

#### What is the current behavior?
`FormGroup.reset()` sets the form classes to `ng-pristine` and `ng-untoched` but `FormControl.hasError(...)` still returns truthy.

#### What are the steps to reproduce?
Plunker: http://embed.plnkr.co/Hlivn4/
- Create reactive for

[2018-01-11 22:48] thanjnr commented on #9344
Duplicate of #2058

[2018-01-11 22:48] #9344 closed

[2018-01-11 22:58] jelbourn commented on #9323
I'm guessing that the element that triggered the dialog opening (menu-item) no longer exists at the point the dialog close, so it doesn't know where to return the focus.

[2018-01-11 23:00] jelbourn commented on #9336
Duplicate of #4763

[2018-01-11 23:00] #9336 closed

[2018-01-11 23:03] unnamed666 commented on #3175
any news ? :)

[2018-01-11 23:04] jelbourn commented on #9328
The peer dependency version _should_ be `^5.0.0`. This bug comes from using the actual version we want to install as the peerDep, which should not be the case.

[2018-01-11 23:07] jelbourn commented on #9325
See https://github.com/angular/material2/blob/master/DEV_ENVIRONMENT.md

This repo does not use Angular CLI

[2018-01-11 23:07] #9325 closed

[2018-01-12 00:21] iamwhitebox commented on #5082
@jelbourn any advice on unit testing components for version ^5.0.2 of angular material? It appears as thought` MdDialogModule.forRoot()` has been deprecated, can the material components be imported individually?

[2018-01-12 00:23] petematt commented on #9323
Thats what I was assuming.  When the mat-menu gets created, it inserts some tab indexes and then when a menu-item is selected those indices go away.  This explains why tab moves forward to the next element after whatever created the mat-menu and shift+tab moves backward to whatever element created the menu.

[2018-01-12 00:23] rafaelss95 commented on #9339
Also, I find some docs that are difficult to read using the following theme:

![material2-table](https://user-images.githubusercontent.com/11965907/34853918-2ce197d2-f715-11e7-8656-c12290b2104e.png)

![cdk-table](https://user-images.githubusercontent.com/11965907/34853956-6a9e3bb6-f715-11e7-809e-a1f7ac6eef1f.png)

[2018-01-12 00:37] dpsthree commented on #8975
Any interest in color palette and theme generators?

[2018-01-12 01:28] rm-code opened #9348 "Menu fails on opening due to "partial keyframes""
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Working menu component.

#### What is the current behavior?
Opening a menu once will cause it to open with all buttons being unclickable.
The console shows this:
[code]
[code]

#### What are the steps to reproduce?
I just copied this example into my electron app:
https://material.angular.io/components/menu/examples

#

[2018-01-12 01:50] ORESoftware commented on #9274
@willshowell thanks, I will get to this tomorrow or Saturday, will try to reproduce with stackblitz

[2018-01-12 03:27] jalajc commented on #9339
@jelbourn yups, I realize this contrast issue is more than background color. Syntax highlighting too has to improve.and may be font weights too?
Syntax highlighting at angular.io (https://angular.io/tutorial/toh-pt1)seems ok to me though, but don't know if it fits to W3C contrast settings.

[2018-01-12 05:06] SaturnTeam commented on #4763
@lihanyu23 I commeted to my repo https://github.com/SaturnTeam/material2 . Serving is the same as usual material dev. Range mode enabled on http://localhost:4200/datepicker "Result"

[2018-01-12 06:14] ravishivt commented on #4280
I'm using the following in app.component.ts which preserves the scroll position when navigating back or forward.  It is based off https://stackoverflow.com/a/44372167/684893

[code]

[2018-01-12 06:59] satheesh786 opened #9349 "Single sideNav with two button clicks"
#### Bug, feature request, or proposal:

#### What is the expected behavior?
I have two buttons ,when clicking on button sidenav will open with list and selects a list-item ,and  I have  another button ,when clicking on the second button same sideNav will open but will select different list-item.I want  to bind  the  selected list-item in main page

#### What is the current behavior?
But i cant  a

[2018-01-12 07:57] ancornelle commented on #9321
Hello,

As you can see, joseph closed my feature request without analyzing...
I tried some development. For example, I tried to override the MatSortHeader component in order to add a filter directly on the header (as mat-header-cell is a directive) by using the template of this component which is on Github.
It doesn't work, I think there is something in the table generation which forbids this kind

[2018-01-12 07:59] eliasgago opened #9350 "Class for matInput local variable loaded by template reference is ElementRef and not MatInput"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
@ViewChild(MatInput) myInput1: MatInput;
@ViewChild('myInput') myInput2: MatInput;

Both elements should be an instance of type MatInput class.

#### What is the current behavior?
When I load the local variable of type MatInput with @ViewChild using the name of the class in my component I get a reference of type MatIn

[2018-01-12 09:53] Manduro opened #9352 "[Paginator] Follow material design spec"
#### Bug, feature request, or proposal:
Bug?

#### What is the expected behavior?
![screen shot 2018-01-12 at 10 43 32](https://user-images.githubusercontent.com/2545042/34869218-830855d0-f786-11e7-9972-628969161de0.png)
(source: https://material.io/guidelines/components/data-tables.html#data-tables-specs)

#### What is the current behavior?
![screen shot 2018-01-12 at 10 43 18 copy](https://user-

[2018-01-12 10:18] petersalomonsen commented on #2177
Some additions to the superb solution by @oleges

- Turn off left/right arrow buttons if the screen is wide enough
- If screen is wide enough expand the bottom-border line fully
- Also disable wrapping in Firefox

http://plnkr.co/edit/qJTwkJPzriMhKynhRPBS?p=preview

[2018-01-12 10:44] surbhi290391 commented on #4221
i am facing this same issue in recaptcha_en.js s can anyone tell me ow can i enable passive=true for recaptcha

[2018-01-12 11:12] Den-dp commented on #4763
@SaturnTeam haha, but why? :stuck_out_tongue_winking_eye: Good work! :sparkles: The first one looks great for me!

Also here I tried to use a lighter 50 color and it looks even better

![image](https://user-images.githubusercontent.com/1770529/34871623-0f220cd6-f797-11e7-87b7-77ce215c6200.png)

Personally, I do like the mockup without border-radius on each day, because the shape helps the eye to d

[2018-01-12 11:58] lordgreg commented on #4259
Even though this issue has been closed I must say I have never seen such a complex and non-understandable unit tests definition with so many generic variables. overlayContainerElement, viewContainerFixture, ComponentWithChildViewContainer etc..

You have to know each class and its definition perfectly to understand the code. Who would need comments anyways, right?

[2018-01-12 12:15] JKing-B16 commented on #5269
I'm seeing this same issue with @angular/material 5.0.4 and @angular 5.1.1

@lula's solution doesn't work for me. Only the initial tab renders correctly and only until you change tabs.

[2018-01-12 12:20] JKing-B16 commented on #5269
I'm seeing this same issue with @angular/material 5.0.4 and @angular 5.1.1

@lula's solution doesn't work for me. Only the initial tab renders correctly and only until you change tabs.

@bastienlemaitre CSS solution does appear to work for me. Although I had to add a :host /deep/ to each entry, for it to work in the target component.

[2018-01-12 12:26] filosof86 commented on #5648
Hi guys,

Is there any ETA on this? Really need it...

[2018-01-12 12:43] jlaverdure-talis commented on #9050
I have the exact same problem, the animation is broken like in the video shown before.
Do we have a solution to fix it?

[2018-01-12 12:55] simonspoerri opened #9353 "CdkConnectedOverlay does not reposition if its overlay origin changes"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
A connected overlay should reposition itself to the connected overlay origin when the overlay origin changed after the connected overlay was first displayed.

#### What is the current behavior?
The connected overlay does not reposition itself when its overlay origin changes, even if the overlay is detached before the

[2018-01-12 13:18] Kyderman commented on #9050
My solution was to implement pagination on the server side and split all tables on the page into separate components with their own loading bars. If you have less elements this is way less problematic.

However, the creation of Objects will block the UI thread and make this effect happen on a large set of data.

[2018-01-12 13:43] alexshakura opened #9354 "MAT_DIALOG_DEFAULT_OPTIONS as part of public-api"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Import `MAT_DIALOG_DEFAULT_OPTIONS` and use it in module providers

#### What is the current behavior?
Can't import MAT_DIALOG_DEFAULT_OPTIONS from `@angular/material`. Also can't find a type for it in public-api

#### What are the steps to reproduce?
Easy to reproduce, just try to import it anywhere

#### What is the

[2018-01-12 14:06] jotatoledo commented on #9354
Seems to be solved in the latest release, `MatDialogConfig` can be imported from the normal entry point and is part of the public api in the dialog module. See [here](https://github.com/angular/material2/blob/master/src/lib/dialog/public-api.ts#L13)

[2018-01-12 14:15] willshowell commented on #9347
Please see https://github.com/angular/material2/issues/4190 and particularly https://github.com/angular/material2/issues/4190#issuecomment-311488176.

If you want to customize under which conditions `mat-error` is shown, consider implementing your own [`ErrorStateMatcher`](https://material.angular.io/components/input/overview#changing-when-error-messages-are-shown).

[2018-01-12 14:28] alexshakura commented on #9354
@jotatoledo  Yes, `MatDialogConfig` is here but `MAT_DIALOG_DEFAULT_OPTIONS` i.e. Injection Token isn't. I also took a look into build sources and didn't found it

[2018-01-12 14:57] #6813 closed

[2018-01-12 15:00] #8206 closed

[2018-01-12 15:06] #8251 closed

[2018-01-12 15:07] #8699 closed

[2018-01-12 15:10] #6236 closed

[2018-01-12 15:16] tiaguinho commented on #2948
I created a color picker using material and CDK.
https://github.com/tiaguinho/mat-color-picker

Everybody is welcome to contribute.

[2018-01-12 15:20] ThomasEWilson commented on #708
I tried a number of fixes from a couple of different posts.
This is what worked for me.

`.mat-tab-group{
    height: 100%;
}
.mat-tab-body-wrapper {
    flex-grow: 1;
}

.mat-tab-body {
    display: flex !important;
    flex-direction: column;
}

.mat-tab-body-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}`

If you have a component inside the tab, then also set a css

[2018-01-12 15:37] VRedondo commented on #3552
Had the same issue with
CLI: 1.6.4
node: 9.2.0
Angular: 5.0.0
Material: 5.0.4

just need to remove the `~` at the `'~@angular/material/prebuilt-themes/pink-bluegrey.css';`

[2018-01-12 16:50] wxlittle opened #9356 "Stepper: Go to next step using enter key"
#### Bug, feature request, or proposal:
I would like to know if it is possible to use enter key to go to next step & submit form.

#### What is the expected behavior?
Fill the step, press enter, go to next step
Complete all steps, press enter, submit the form.

#### What is the current behavior?
https://stackblitz.com/angular/vnqarakmxkx
When I filled the step 1, pressed enter, stepper navigated t

[2018-01-12 17:15] #5845 closed

[2018-01-12 17:27] #9328 closed

[2018-01-12 17:29] josephperrott commented on #8880
After more investigation, this is actually caused by routerLink not being able to be disabled.  After discussing with the core team, I opened [this issue](https://github.com/angular/angular/issues/21457) to allow for `routerLink` to respect `event.preventDefault()`.

We are able to partially address this within Material by calling `preventDefault()` on click, which will properly be handled for nor

[2018-01-12 17:38] #8299 closed

[2018-01-12 17:39] josephperrott commented on #7646
Closing as we are unable to reproduce this.

If you are able to find a reproduction in current version feel please open an issue for us to investigate.

[2018-01-12 17:39] #7646 closed

[2018-01-12 17:40] #8340 closed

[2018-01-12 18:42] crisbeto commented on #9354
The `MAT_DIALOG_DEFAULT_OPTIONS` seems to be exported correctly. You'll have to wait until the changes are released.

[2018-01-12 18:42] #9354 closed

[2018-01-12 20:02] crisbeto commented on #9349
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-12 20:02] #9349 closed

[2018-01-12 21:09] kiwikern opened #9360 "Button docs example differs from specification"
#### Bug, feature request, or proposal:
Docs bug

#### What is the expected behavior?
Per specification, FABs should have the accent color if no color attribute is given. Embedded example in the docs shows the _Basic FAB_ in white.
Buttons example should look the same in [stackblitz ](https://stackblitz.com/angular/byxgxvqbolg)and the [embedded docs version](https://material.angular.io/components/

[2018-01-12 22:30] gtranter opened #9363 "MatCheckbox: binding to 'checked' property doesn't initialize checked appearance properly when on dialog"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Binding 'checked' property on a mat-checkbox should initialize the checked appearance of the checkbox.

#### What is the current behavior?
Checkbox's checked property does not match checked appearance on initialization when opened in a dialog.

#### What are the steps to reproduce?
http://plnkr.co/edit/cptbZhIRj1yCgR5

[2018-01-12 23:18] sevdashubham commented on #7384
any update on this?

[2018-01-12 23:21] iamwhitebox commented on #6199
@andrewseguin  none of these examples ever work.

[2018-01-12 23:29] CaerusKaru opened #9364 "build: update to RxJS 6"
Opening this issue to track progress for upgrading to RxJS 6.

This will undoubtedly need to be put on hold until Angular core supports it, and since RxJS 6 is in alpha, that might still be a ways away.

[2018-01-12 23:47] jelbourn commented on #9364
I'm going to close this since it's non-actionable presently. Upgrading Rx versions will be part of the Angular 6.0 release, which we'll track closer to when it's scheduled.

[2018-01-12 23:47] #9364 closed

[2018-01-13 00:10] mat-luc opened #9367 "Can't bind to matRippleDisabled matRippleCentered matRippleTrigger"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker starter (using on `@master`): https://goo.gl/uDmqyY<br/>
StackBlitz starter (using latest `npm` release): https://goo.gl/wwnhMV<br/>

[2018-01-13 00:13] mat-luc opened #9368 "Can't bind to 'matRippleDisabled' since it isn't a known property of 'div'"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Should bind to div

#### What is the current behavior?

Can't bind to 'matRippleDisabled' since it isn't a known property of 'div'. ("tRipple class="mat-button-ripple" [class.mat-button-ripple-round]="_isRoundButton || _isIconButton" [ERROR ->][matRippleDisabled]="_isRippleDisabled()" [matRippleCentered]="_isIconButto

[2018-01-13 00:13] mat-luc commented on #9368
Can't bind to 'matRippleDisabled' since it isn't a known property of 'div'. ("tRipple class="mat-button-ripple" [class.mat-button-ripple-round]="_isRoundButton || _isIconButton" [ERROR ->][matRippleDisabled]="_isRippleDisabled()" [matRippleCentered]="_isIconButton" [matRippleTrigger]="_ge"): ng:///AppModule/MatButton.html@0:172
Can't bind to 'matRippleCentered' since it isn't a known property of '

[2018-01-13 00:14] julianobrasil commented on #9363
You're binding the checkboxes values to `ngModel` and to `checked` property at the same time. During the initialization, `ngModel` updates the checkboxes after the `checked` property, so the values set by `checked` are overriden by `ngModel`. You can avoid it by using `setTimeout`'s in checked property.

[2018-01-13 00:14] benb7760 commented on #9368
@mat-luc you most likely haven't imported MatRippleModule

[2018-01-13 00:16] benb7760 commented on #9367
@mat-luc duplicate of #9368

[2018-01-13 00:28] mat-luc commented on #9367
Thank you so much for quick reply, so sorry, i'm a newbie so i apologize.

I imported
MatRippleModule
Everything compiled fine, but got another error,
compiler.js:485 Uncaught Error: Unexpected module 'MatRippleModule'
declared by the module 'AppModule'. Please add a
@Pipe/@Directive/@Component annotation.

On Fri, Jan 12, 2018 at 4:16 PM, benb7760 <notifications@github.com> wrote:

[2018-01-13 00:30] mat-luc commented on #9368
i did not import MatRippleModule. Thank you so much for pointed out.

[2018-01-13 00:40] mat-luc commented on #9368
I imported MatRippleModule, now i got new error,
Unexpected module 'MatRippleModule' declared by the module 'AppModule'. Please add a @Pipe/@Directive/@Component annotation.
I can't find that module in node-modules
Please help
Thank you

[2018-01-13 00:54] #9368 closed

[2018-01-13 01:29] ravishivt commented on #9360
Same issue for my local project.  My fab buttons have no color attribute and in non-prod builds, the buttons are correctly styled with accent palette.  But during angular-cli production builds, the fab buttons have no default color.

[2018-01-13 01:50] BMamba2942 opened #9369 "Expansion Panel interferes with Reactive Form events"
#### Bug, feature request, or proposal:
FormControl's within an expansion panel appear to ignore the emitEvent and emitModelToViewChange events.

#### What is the expected behavior?
When calling setValue with the 2 described events set to false, the value should not be visible on the form.

#### What is the current behavior?
The value is visible on the form.

#### What are the steps to reproduce?

[2018-01-13 04:03] davidmorissette opened #9370 "Typo in guide: "Creating a custom form field control""
#### Bug, feature request, or proposal:

Typo

#### What is the expected behavior?

`setDescribedByIds(ids: string[])`

#### What is the current behavior?

`setAriaDescribedByIds(ids: string[])`

#### What are the steps to reproduce?

https://material.angular.io/guide/creating-a-custom-form-field-control#-code-setariadescribedbyids-ids-string-code-

#### What is the use-case or motivation for chan

[2018-01-13 06:26] mohsini172 opened #9371 "Stackblitz demos are not working."
#### Bug:
I have tried to check demos for sidenav on the stackblitz.io but it has some rendering issue.

#### What is the expected behavior?
It should show me some demo for sidenav.

#### What is the current behavior?
The screen is blank and nothing shows up. When I open the debugging it was showing following errors.
**Chrome**
![image](https://user-images.githubusercontent.com/19357286/34903435-5

[2018-01-13 09:46] cyrilletuzi opened #9372 "peerDependencies don't allow Angular 5.2"
## I'm submitting a...

<pre><code>
[x] Bug report
</code></pre>

## Current behavior
Current `peerDependencies` only allow Angular 5.1 :
[code]
So it produces a warning when installing Material with Angular 5.2.

## Expected behavior
`peerDependencies` should allow current patch and minor versions of Angular :
[code]

## Minimal reproduction of the problem with instructions
[code]

## What is the

[2018-01-13 09:54] cyrilletuzi commented on #9372
Trying to do a PR, but can't find the source. The [build-config.js](https://github.com/angular/material2/blob/master/build-config.js) seems to say `^5.0.0` but it's not what is present in final `package.json`.

[2018-01-13 10:02] DevVersion commented on #9372
Yeah, we fixed this a few hours ago (https://github.com/angular/material2/commit/7187670d14e0675e370c859d2b326d7a570c3920). It's just not released yet.

[2018-01-13 10:02] #9372 closed

[2018-01-13 10:15] julianobrasil commented on #9332
@seedy, what do you mean exactly? Isn't it possible to set the focus programmatically to the slider to make it show the thumblabel autommatically?

Something like `matSlider.nativeElement.focus()`?

I have the same question concerning blur... `<mat-slider (blur)='someMethod()'></mat-slider>` doesn't work?

I mean... I din't get whether you are thinking of forcing the thumbLabel to be visible _even

[2018-01-13 10:39] julianobrasil commented on #9332
Just to better understand it.

### Case 1: you just want to set focus programmatically and get notified of blur event

You can do it with the actual MatSlider:

[code]

[code]

### Case 2: you want to show the thumb label _even without setting the focus to the slider_. And you want to get notified of blur event by an observable.

[code]
You want a way to do something like:

[code]

If you are thin

[2018-01-13 10:56] julianobrasil commented on #9371
It's working for me (a randomly chosen example from the examples tab):

![image](https://media.giphy.com/media/3oFzmgp0NNPTcyZTSo/giphy.gif)

Have you try any specific example?

[2018-01-13 11:03] DevVersion commented on #9360
I'm looking into this. It looks like something in the production pipeline of the Angular CLI removes some necessary code (looks like the build-optimizer in combination with uglify)

_with build-optimizer disabled_
![image](https://user-images.githubusercontent.com/4987015/34905474-a595eed6-f859-11e7-9863-20d687ba4f0b.png)

__with build-optimizer enabled_
![image](https://user-images.githubusercont

[2018-01-13 11:10] DevVersion commented on #9367
[code]

[2018-01-13 11:10] #9367 closed

[2018-01-13 11:31] julianobrasil commented on #9332
Oh, I got it. I missed the part you wrote "Need to use an ElementRef instead of a reference to MatSlider"

[2018-01-13 13:13] tapinambur0508 opened #9377 "Why is the date in datepicker angular showing the last day?"
#### Bug, feature request, or proposal:
Bug

#### What is the current behavior?
The date is not valid

#### Which versions of Angular, Material, OS, TypeScript, browsers are affected?
Angular 5

Ubuntu Chrome 63
Ubuntu FireFox 58

#### Is there anything else we should know?
I use datepicker c angular material. Here's the code:
[code]
Datapicker is in the form that sends it to the server when it is

[2018-01-13 14:35] julianobrasil commented on #9377
You're sending to the server the UTC date/time (UTC is the equivalent time of your time in GMT regions). For example, here where I live I'm 2 hours after GMT time (GMT-0200). Write now, the following code:

[code]

gives me the following output:

[code]

The datepicker sets the time to 0h0m0.000 when you choose a date. So, if you live in a GMT "negative" region, the day will be set to the day befo

[2018-01-13 15:35] mohsini172 commented on #9371
I have tried this one https://stackblitz.com/angular/dekyrpopkvy

[2018-01-13 15:44] skytouch commented on #8070
I'm facing the same problem. any fix for this?

[2018-01-13 15:54] julianobrasil commented on #9371
It is working here. I mean... it does nothing. It's just a sidenav already opened and without any trigger to change it's state.

[2018-01-13 16:58] Chan4077 commented on #9371
@mohsini172 Looks like it's an internal bug with Stackblitz. You can try reporting it at their [Github repository `stackblitz/core`](https://github.com/stackblitz/core/issues/new).

[2018-01-13 17:11] tapinambur0508 commented on #9377
How I can set timezone in datepicker, which not depended for user GMT? I know in md-datepicker it like as `ng-model-option="{timezone}"`

[2018-01-13 17:23] mat-luc opened #9378 "Can't bind to 'disabled' since it isn't a known property"
#### Bug, feature request, or proposal:

App worked flawlessly in angular 4 and i migrate to angular 5, many errors, please help to figure it out.
Thank you so much

I imported MatTabGroup but still get errors on runtime

compiler.js:485 Uncaught Error: Template parse errors:
Can't bind to 'disabled' since it isn't a known property of 'div'. ("tId(i)" [attr.aria-selected]="selectedIndex == i" [cla

[2018-01-13 17:27] julianobrasil commented on #9377
Since this is not a bug nor a new feature request, close it for now, ask it in stackoverlow and post the link here. I'll try to help you over there.

[2018-01-13 17:29] tapinambur0508 commented on #9377
Ok, thank you

[2018-01-13 17:29] #9377 closed

[2018-01-13 18:48] AnthonyNahas opened #9380 "Cannot find and import module named 'MatDividerModule' VERSION: 5.0.4"
#### Bug

#### Expected:
to import MatDividerModule form @angular/material

#### Current behavior with version 5.0.4?

[code]

![screenshot 2018-01-13 19 38 30](https://user-images.githubusercontent.com/20149774/34909025-7c2cde42-f89a-11e7-80cf-5f2c557fef03.png)

#### Steps to reproduce

1- `npm i -s @angular/material@latest` (version 5.0.4)
2. import `MatDividerModule` in app module
3. `ng build`

[2018-01-13 19:02] donroyco commented on #9378
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-13 19:54] mohsini172 commented on #9371
Ok I'll check stackblitz repository.

[2018-01-13 21:28] donroyco commented on #9380
Maybe @CaerusKaru knows the answer. [Here's a StackBlitz](https://stackblitz.com/edit/angular-vp9h29?file=main.ts) with the problem.

[2018-01-13 21:36] CaerusKaru commented on #9380
Here's my best guess. The independent `mat-divider` is not slated to be available until the next minor version, v5.1.x. The fact that it was available in v5.0.3 is surprising to me, and was probably a mistake in publishing the wrong branch to npm (since it is available in the nightly builds). You can still use the regular `mat-divider` that's exported from `MatListModule` in the meantime, or switc

[2018-01-13 22:01] djleonskennedy commented on #8680
https://github.com/angular/material2/issues/9027

[2018-01-13 23:12] zeuscronos commented on #8315
The link on the upper right corner of:
https://material.angular.io/components/autocomplete/examples
is pointing to "stackblitz.com" instead of "plnkr.co".

Do you have the test link that points to "plnkr.co"?

Thanks!

[2018-01-14 01:26] Ks89 commented on #3552
As @VRedondo said, removing the ~ at the '~@angular/material/prebuilt-themes/pink-bluegrey.css' fixed this issue.

The question is why??? Documentation says to use ~.

I found many issues on github about importing prebuilt-themes, but most of them are closed as fixed, however this bug is still there. angular-cli's team should investigate issues like this one, because they are really boring.

[2018-01-14 02:23] zijianhuang opened #9382 "Autocomplete not working in iPad"
#### Bug:

Autocomplete in an Input is not appearing in iPad and iPhone, while it is working fine in Windows PC and Android phones

#### What is the expected behavior?

When the input has focus, a dropdown should appear.

#### What is the current behavior?

Not dropdown when having focus

#### What are the steps to reproduce?

On iPad or iPhone, browse to https://material.angular.io/components/aut

[2018-01-14 02:50] robert-king commented on #8131
i think something that would be useful is a circular image component that displays a circular image thats centered e.g.
<mat-circle-img [src]="..">
and it would have to use background: cover, or do it's own calculations to centre the image.

[2018-01-14 05:06] SearchingSoul commented on #9230
@LisaTatum, possible workaround that I have used is to remove 'apple' from the fruits array when added to the chips list.
You will have to push 'apple' to the fruits array when the 'apple' chip is removed.

[2018-01-14 05:30] hamidafghan commented on #7653
Try to use diameter option.
70 is 70px size
<mat-spinner [diameter]="70"></mat-spinner>

[2018-01-14 07:38] VirajNimbalkar commented on #9353
Just want to add here, I have extended MatSelect and customized scss and html , example/code is working fine. but what I observed, when I resize browser , it still uses same top, left and width even though source readjusted based on layout/screen resize.

[2018-01-14 11:32] pantonis opened #9385 "Datatable with simple array"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Use datatable with array

#### What is the current behavior?
Datatable is now being used with a datasource.

#### What are the steps to reproduce?
N/A

#### What is the use-case or motivation for changing an existing behavior?
 In a project where I have dozens of datatables I have to create dozens of datas

[2018-01-14 11:48] pantonis commented on #7660
I am still having this issue with cached version. Opening the material documentation in chrome shows a very old version. In firefox I get latest documentation. Even If I do force refresh CTRL + F5 I still see old version of documentation in chrome

[2018-01-14 12:29] CDDelta commented on #9385
Related to #5889

[2018-01-14 13:55] crisbeto commented on #9385
Closing as a duplicate of #5889.

[2018-01-14 13:55] #9385 closed

[2018-01-14 14:10] pantonis commented on #8680
I have the same problem too. Lots of columns and data are getting shrinked. Numbers are unreadable because they wrap to next line and this causes the control to be unusable.

Any workaround to enable horizontal scrolling?

[2018-01-14 14:59] eyalhakim commented on #860
@willshowell i really like your implementation! it will be even nicer if you would publish it as an npm library! :)

[2018-01-14 15:03] DevVersion commented on #8832
Every member that is inherited is now showing up. If you still see some members that are not showing up properly, please file a new issue/or respond here and cc. me. Thanks!

[2018-01-14 15:16] rafaelss95 commented on #8832
@DevVersion This issue doesn't consists only about inherited members. There are a few members (in table that I listed) that aren't inherited and still undocumented.

[2018-01-14 15:43] pantonis commented on #8755
@BrianMuhimbura I need the same functionality. Did you find a way to achieve this?

[2018-01-14 16:11] DevVersion commented on #8832
@rafaelss95 That might be true. I didn't specifically look at all members in the table you posted, because I thought it was also about the inherited members.

And sure, please go ahead and submit a PR. For such small changes It would be better to just have one PR for all members.

[2018-01-14 18:53] mackelito commented on #1728
@Melanie-M so just a question... If a remove "autosize"... I still see the same result?

[2018-01-15 02:55] mellisdesigns commented on #6247
`position: sticky` also has limited support on browsers.

https://caniuse.com/#search=sticky

[2018-01-15 05:56] BrianMuhimbura commented on #8755
try https://www.npmjs.com/package/angular5-csv though it was not giving me a header row but the data was coming out fine

[2018-01-15 06:17] rcanacci commented on #8832
Does anyone here know how to use 'shouldLabelFloat' on a MatInput?

Completely lost, docs are useless.

[2018-01-15 07:41] simeyla commented on #3805
If your goal is just to 'not use DataSource' from a convenience standpoint you can get around this by creating a pipe.

        <mat-table [dataSource]="order?.packages | tableDataSource">

[code]
If there are any kind of memory leaks or unsubscription I'm missing please let me know :-)

[2018-01-15 07:44] SaturnTeam commented on #4763
Ohh, just look how cute these neighborhood dates.
![image](https://user-images.githubusercontent.com/10252514/34931621-433cba30-fa02-11e7-98be-15b3cde0ec16.png)
Code is ready (see my repo). Writing tests and documentation in progress

[2018-01-15 08:29] Melanie-M commented on #1728
@mackelito  I think without `autosize` the main content doesn't resize properly, the sidenav overlaps it instead. But so depending on what behavior you want, I guess it can work without `autosize`

[2018-01-15 08:46] mzernetsch commented on #9371
Your browser is propably blocking third party cookies. You need to allow them in your browser for stackblitz to work.

[2018-01-15 09:09] ganqqwerty opened #9393 "Ability to use Stepper with template forms"
#### Bug, feature request, or proposal:
Add the ability to describe forms in a Template form way, not only as Reactive Forms.

#### What is the expected behavior?

Make it possible to use template forms inside the steps.

#### What is the current behavior?
Currently only Reactive forms can be used, because [stepControl] must point to a form group in order to watch the state of the form

#### What

[2018-01-15 09:21] stephanecot opened #9394 "Problem with DatePicker / DateModule import in 5.0.4"
#### Bug
I switched from angular material 5.0.3 to 5.0.4, I doesn't changed my code, and I get this error:

No provider found for DateAdapter. You must import one of the following modules at your application root: MatNativeDateModule.

In my core module, I import MatMomentDateModule.

in my pagake.json:
    ` "@angular/material": "5.0.3"    `
    `"@angular/material-moment-adapter": "5.0.3"    `

[2018-01-15 10:04] #9394 closed

[2018-01-15 10:05] stephanecot commented on #9394
It was my fault.
I have a sub module which use angular material 5.0.3 and it cause this issue

[2018-01-15 10:45] haribalajip opened #9395 "Pagination not working in IE 10"
#### Bug
Table pagination buttons do not work only in IE 10 .

#### What is the expected behavior
**<** and **>** buttons must work properly .

#### What is the current behavior?
Buttons seem to be disabled .

#### Which versions of Angular, Material, OS, TypeScript, browsers are affected?
IE10

[2018-01-15 11:30] tylerbrockett opened #9396 "mat-list-item doesn't have ripple when transcluded into mat-nav-list"
#### Bug, feature request, or proposal:

mat-list-item element doesn't have ripple when it is transcluded into
[code]

#### What is the expected behavior?

`<mat-list-item>` element should have ripple

#### What is the current behavior?

`<mat-list-item>` doesn't have ripple

#### What are the steps to reproduce?

[Plunker Link](http://plnkr.co/edit/bXRCe5eTr4n2YljeM1L4?p=preview)

#### Which vers

[2018-01-15 11:58] donroyco commented on #9395
Material is not actively supported in < IE11.

[2018-01-15 12:11] haribalajip commented on #9395
@donroyco Do we have any workarounds for this issue ?

[2018-01-15 13:07] faisalmuhammad opened #9398 "[Tabs] Ability to hide tabs header"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
The **mat-tab-group** should expose a property using which the header can be hidden. Setting the property to true should hide the header of the **mat-tab-group**.

#### What is the current behavior?
At the moment. in order to hide the header, I have to override the default styles of the class **".mat-tab-h

[2018-01-15 13:10] DevVersion commented on #9396
Technically the behavior is correct. Ripples are only shown for `mat-list-item` elements that are part of a `<mat-nav-list>`.

Since Angular instantiates the `<mat-list-item>` before the transclusion happened, the list-item isn't able to figure out that it's part of a `<mat-nav-list>`. The list item just checks using dependency injection if there is a parent `MatNavList` instance.

[code]

[2018-01-15 13:12] DevVersion commented on #9378
Looks like you imported the `MatTabGroup` explicitly, but not the actual `NgModule`. This means that there are a few parts of the tab group that aren't available

[2018-01-15 13:12] #9378 closed

[2018-01-15 13:18] faisalmuhammad opened #9399 "bug(mat-divider): The divider does not display"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The divider should display independent of the the **"mat-list"**

#### What is the current behavior?
The divider does not display in on the page unless I add atleast one **"mat-list"** in the app.

#### What are the steps to reproduce?
- Demo with [**WRONG BEHAVIOR**](https://stackblitz.com/edit/angular-taw4ri?file=ap

[2018-01-15 13:20] Shireilia commented on #7101
@marcojahn Thank you so much for this fix for jest ! Saved me hours of debugging !

[2018-01-15 13:34] DevVersion commented on #9356
That's possible. By default, both buttons in the second step are `submit` buttons. If you set `type="button"` on the back button, the next button will be triggered on enter press.

[code]

I think it would make sense to always treat `matStepperPrevious` as normal buttons, and always set `type="submit"` for buttons with `matStepperNext`.

[2018-01-15 14:08] nikolaj10 opened #9400 "Focusing checked radio button does not work by tab key in IE"
#### Bug, feature request, or proposal:
Pressing the tab key to focus checked radio button does not work for internet explorer 11  in the following code (example in material.angular.io documentation):
[code]

#### What is the expected behavior?
Focusing the **checked** radio button after pressing tab key from the previous element (checkbox in this case)

#### What is the current behavior?
Example:

[2018-01-15 14:58] julianobrasil commented on #9399
Dupe: #9380

[2018-01-15 15:01] faisalmuhammad commented on #9399
@julianobrasil , please read the issue again. The issue mentioned by you is totally different.

[2018-01-15 15:04] julianobrasil commented on #9399
@faisalmuhammad, there's a new component, called `mat-divider`, that is independent of `mat-list`. It has been made accidentaly available in 5.0.3 and is not available anymore in 5.0.4. It'll probably be available in 5.1.0 again. That's why I linked the other post.

[2018-01-15 15:05] faisalmuhammad commented on #9399
Makes sense. Thanks for clearing that (Y)

[2018-01-15 15:06] julianobrasil commented on #9399
So you can close this one.

[2018-01-15 15:08] #9399 closed

[2018-01-15 15:10] julianobrasil commented on #9400
In the mean time, is updating IE an option? I have 11.0.50 and it works fine.

[2018-01-15 15:11] BamiGorengo opened #9402 "[Feature request] - Make SCSS Variables available"
#### Feature request

I think its a good idea to make variables available for Developers.

As Example: [https://github.com/angular/material2/blob/master/src/lib/toolbar/toolbar.scss](url)

There are the Variables for the MatToolbarHeight. It would be very cool, when we can just import a `@import '~@angular/material/variables';` like its already available for the theming.

Maybe universal mixin-set

[2018-01-15 15:21] Velzevul commented on #9320
Agree. In my case I would like to get behaviour similar to that of Google Inbox:
<img width="377" alt="screenshot 2018-01-15 14 42 09" src="https://user-images.githubusercontent.com/1362615/34949192-b6ca7d90-fa0f-11e7-910e-d1470b9ae220.png">

In this example, I can open "more actions" menu but still interact with "quick-access" items with one click.

A minor related issue is that overlay also prev

[2018-01-15 15:38] sinedied opened #9403 "mat-toolbar does not display correctly on Safari, iOS simulator and Android emulator"
#### Bug, feature request, or proposal:
- [x] Bug

#### What is the expected behavior?
`mat-toolbar` display correctly on all (recent) desktop and mobile browsers.

#### What is the current behavior?
`mat-toolbar` does not display correctly on Safari, iOS simulator and Android emulator.
Works fine on Chrome and real Android devices (using Chrome webview).

<img width="1311" alt="capture d ecran 20

[2018-01-15 15:56] xAqweRx opened #9404 "MatDatepicker -> range selector"
#### Bug, feature request, or proposal:
feature

#### What is the expected behavior?
Is there any plans to make range datepicker

[2018-01-15 16:14] kadamgreene commented on #1491
I'm having the same issue with Angular 5.2.0, with the following setup:

[code]

This module is then imported into app.module.ts.   The weird thing is that ModalWrapperComponent and GenericModalComponent work fine, but MessageModalComponent and ValidationComponent throw the error, and all 4 components are loading by the exact same piece of code:

`const contentFactory: ComponentFactory<{}> = this.

[2018-01-15 16:25] lihanyu23 commented on #9404
duplicate of #4763

[2018-01-15 16:54] rexebin commented on #5069
Is the feature dropped in favour of angular/flex-layout please?

[2018-01-15 16:55] rexebin commented on #1072
Is the feature dropped in favour of angular/flex-layout please?

[2018-01-15 17:01] gtranter commented on #9363
Thanks @julianobrasil. I've implemented a different workaround but your suggestion helped.

[2018-01-15 17:11] cbricker-msw commented on #3552
Agreed @Ks89 , I would like to know the root cause. It "feels" like a change in a dependent package somewhere.

[2018-01-15 17:39] aslamsayyed opened #9405 "Button press effect on basic button persists on mobile or touch only enabled devices"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Button press effect should be removed after click event is completed.

#### What is the current behavior?
Button press effect grey background on basic button / mat-button is visible until I click / touch somewhere else.

#### What are the steps to reproduce?
Open https://material.angular.io/components/button/examples

[2018-01-15 17:46] JacobBrandt opened #9406 "Testing MatSelect TypeError: Cannot read property 'nativeElement' of undefined"
#### Bug, feature request, or proposal:
Angular:  5.1.3
Material:  5.0.4

Testing with mat-select causes the following error
TypeError{longStack: 'TypeError: Cannot read property 'nativeElement' of undefined
    at SafeSubscriber._next
The line number it is talking about is node_modules/@angular/material/esm5/select.es5.js:947

Sure enough when I change this code to wrap the call to nativeElement

[2018-01-15 17:56] crisbeto commented on #9406
Can you post the test that is throwing the error?

[2018-01-15 18:05] JacobBrandt commented on #9406
Trying to figure out how to do that.  Not familiar with StackBlitz on how to set it up to work with testing.

However, please note that the test itself is not failing.  Everything about the test passes all expects.  The TypeError occurs after the test is finished (during the destruction phase of the test).  Again the TypeError is pointing to the error in the onAttached subscription routine that as

[2018-01-15 18:28] crisbeto commented on #9406
It's fine posting a code snippet with the test.

[2018-01-15 18:41] gatimus commented on #860
Not as full featured as other examples but here is a simple one using the existing `mat-fab`, `mat-mini-fab`, and shown with `@angular/cdk/overlay`

https://stackblitz.com/edit/speed-dial

[2018-01-15 18:59] kamok commented on #8680
@edokkir It's because you've hard coded the `.mat-cell`. I'm guessing it's a `min-width`. This is the cleanest way to handle table with many columns, but we have the width of the row not rendering properly, hence you're not seeing the "lines".

@andrewseguin Does not work for tables with a lot of columns.

[2018-01-15 18:59] crisbeto commented on #9393
The `stepControl` is used primarily to figure out the validation state of each step, however it's not required. Alternatively you can bind to the `completed` which lets you control the completion yourself.

[2018-01-15 19:10] JacobBrandt commented on #9406
OK, the component acts like a taxonomy.  You select the parent before its children.  So in the test below it selects Fruit, then Apple, then Red and Yellow all from mat-select components defined in the template.  The children groups are not shown until the parent is selected because we don't know the options for that mat-select until the parent is chosen.  This component allows for group separator

[2018-01-15 19:48] John-Ender commented on #823
I've really enjoyed working with the [angular2-virtual-repeat](https://github.com/rintoj/angular2-virtual-scrolll) interface. It's easy to understand and implementation is a breeze.

A request I have for the interface would be an easy way to shift the elements in the viewport by an integer to support arrow key and page up/down navigation. I have a use case where users can select an item in the lis

[2018-01-15 19:51] PhilDore11 commented on #4614
you can use md-colors

[2018-01-15 20:36] stephengardner commented on #8717
I'm so confused here.... The overlay containers are used for menus, etc.  The CSS is not included automatically when you're using an element like `mat-menu`?

[2018-01-15 21:30] kyleabens commented on #5648
Not sure if this has been shared already but this is the best solution I've found so far https://danielykpan.github.io/date-time-picker/

[2018-01-15 22:05] aSegatto commented on #9403
Same problem for me on android simulator

[2018-01-15 22:26] stephengardner commented on #1672
Not to be redundant but certainly hope this is being considered!

[2018-01-15 22:47] #9396 closed

[2018-01-15 23:07] pmsa29 commented on #6081
When would be ready master-detail view?

[2018-01-16 00:13] ganqqwerty commented on #9393
is it possible to control each step with `completed`? How do you do this?

[2018-01-16 00:34] lemang commented on #8482
@IagoBarboza
Can you show me example how to use timezone in MomentDateAdapter..

[2018-01-16 06:53] henev opened #9409 "Menu: Elevation is 2dp instead of 8dp"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Elevation of the Menu component should be 8dp as per the [official material design documentation for elevation and shadows](https://material.io/guidelines/material-design/elevation-shadows.html#elevation-shadows-shadows). Sub menus have elevation of 9dp (+1 dp for each sub menu)

#### What is the current behavior?
Men

[2018-01-16 07:37] Srikanthasv commented on #9286
Hi All,
We also require similar kind of Multi level Vertical Menu with Toggle and collapse events.  same like the below
https://jmouriz.github.io/angular-material-multilevel-menu/demo/demo.html

[2018-01-16 07:50] Srikanthasv opened #9410 "Multilevel Vetical Menu with Mat"
#### Bug, feature request, or proposal:
Looking for Multilevel vertical menu but not sure how I can do it with mat tag. Please see if it can be available, if already available how I can do it.

for example:  https://jmouriz.github.io/angular-material-multilevel-menu/demo/demo.html#!/demo/views/item-4

#### What is the expected behavior?
Multilevel vertical menu(Collapsible and expendable)

#### Wh

[2018-01-16 07:57] bastienlemaitre commented on #5648
https://github.com/kuhnroyal/mat-datetimepicker
Example:
[code]

[2018-01-16 08:22] rodaz opened #9411 "feat: allow `MatFormFieldControl` to be content projected into `mat-form-field` using `ng-content`"
#### Bug, feature request, or proposal:
Placeholder on input not floating when projected from ng-content.

#### What is the expected behavior?
Placeholder must floating, when input has some value.

#### What is the current behavior?
Placeholder looks like standard html placeholder, not like material placeholder.

#### What are the steps to reproduce?
StackBlitz: https://stackblitz.com/edit/angular

[2018-01-16 08:53] ashishdoneriya commented on #474
I think there is a special team for thumbs down every comment which is not in favour of angular.

[2018-01-16 09:31] lippomano commented on #3334
@julianobrasil , @rafaelss95 I am using your solution but I am in angular 4.4.x and I have a problem, when I select an option suggested in the autocomplete and then click tab to go in the next field I see the autocomplete field empty ( It triggers the panelClosingActions at Tab)
`this.subscription = this.trigger.panelClosingActions
      .subscribe(e => {
        if (!e || !e.source) {
          t

[2018-01-16 10:06] msegers commented on #1491
I would really suggest posting this on stackoverflow as this issue is over a year old this is probably an issue with your setup.

[2018-01-16 10:36] julianobrasil commented on #3334
@lippomano, unfortunatelly, there was a bug that was fixed in **Material 5.0.2** (the fix was finalized in **5.0.3**) that causes the problem you're describing. And Material 5 **depends on Angular 5**. You'll have to upgrade everything or step away from `panelClosingActions` for this purpose. In this case you'll have to work with some `setTimouts` to get the force selection feature (the code becom

[2018-01-16 10:37] mackelito opened #9413 "Docs missing for "fullscreen""
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
Docs on how to use fullscreen and what it does and when it use it (perhaps also explain potential downsides)

#### What is the current behavior?
Docs for fullscreen is missing

[2018-01-16 11:23] Chan4077 commented on #9413
@mackelito The `fullscreen` attribute is just used to make the sidenav container appear fullscreen and to not have a "margin" around the sidenav container.

It uses this to style the sidenav container (Btw, I'm using the latest version of Angular Material `5.0.4`):
[code]

[2018-01-16 11:43] CDDelta commented on #9409
Seems like it is just a problem with the elevation specs.

[2018-01-16 11:47] duluca commented on #2610
@ORESoftware Please also ensure that you are import `HttpClientModule` in `app.module.ts` so the asset you're requesting can be downloaded.

[2018-01-16 11:58] crisbeto commented on #9409
Closing as it's working as expected.

[2018-01-16 11:58] #9409 closed

[2018-01-16 12:26] OCCGU opened #9414 "Error: Can't resolve '~@angular/material/prebuilt-themes/indigo-pink.css'"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The webapp should be built.

#### What is the current behavior?
Generating a new angular project (`ng new <name>`) and adding angular material into it (`npm install --save @angular/material @angular/cdk`, `npm install --save @angular/animations` and adding imports as per the [getting started documentation](https://mat

[2018-01-16 12:29] wizardnet972 opened #9415 "How to filter items in multiple material select"
**Not sure it's a bug or there is another way to do it.**

I want to filter on multiple select. to do that I try to use a simple filter pipe on mat-option something like so:
transform() { ... return value.filter(v => v.value === argtext); }

Here is the problem,
First, I select some items.
Then, I filter by keyword I got filtered new items.
Now I can see my previous selection has lost.

This is be

[2018-01-16 12:49] MatthieuBarthel commented on #9382
Additional information: this issue only appears when the input is in the lower part of the screen, the issue looks to be related to the iOS keyboard (when it moves up the input).

[2018-01-16 12:56] kuhlschrank commented on #9331
We also could really benefit from this feature. Our angular 5 app supports multiple switchable workspaces (like tabs in a browser). Every workspace could have its own modal dialog open.

At the moment NO dialog lib fits our needs - so we are struggling at this point...

[2018-01-16 13:12] rsaulo commented on #5573
+1 to an example how to make this DYNAMIC!!! We use ngx-translate and cannot make this single line of the table dynamic...

[2018-01-16 13:20] imVinayPandya commented on #1491
@adamk33n3r as you can see in my code that i have declared with **AdminModule** and which is lazy loaded module, still it was working fine for me.

and let me tell you one more thing, i was using [Covalent](https://github.com/Teradata/covalent) theme for angular 2.

[2018-01-16 13:22] devinci opened #9416 "mat-button ripple should respect border-radius"
#### Bug, feature request, or proposal:
[x] : Bug

#### What is the expected behavior?
Ripple effect should respect border-radius.

#### What is the current behavior?
Ripple ignores mat-button border-radius.

![vid_16_1_2018_at_12_43_1 online-video-cutter com](https://user-images.githubusercontent.com/7167770/34990905-6f084318-fad0-11e7-9fff-fc9e5952f106.gif)

#### What are the steps to reproduce?

[2018-01-16 13:55] txinfo commented on #9281
@willshowell That fixed my issue. I checked the reference implementation of the MomentDateAdapter and it includes the value check / null return as in the code above so this was my issue and not a bug in the library. Apologies!

[2018-01-16 13:55] #9281 closed

[2018-01-16 14:02] Toub commented on #2574
Related to https://github.com/angular/angular/issues/13461

[2018-01-16 14:18] AsafAgranat commented on #7477
@kylecordes - I found the same thing, but indeed the highlighting of the rows is off, once the height of each option element is altered. In my case, the option height was larger (to include several lines), but then the highlighted (focused) option goes out of it's parent container - I assume because the parent container is calculated as #items x itemHeight.
Can you please share you CSS workaround

[2018-01-16 14:26] williamBurgeson commented on #9414
I came across this, having upgraded ng cli to the latest version (1.6.4) from 1.5.0.

As stated at the bottom of the comment, removing the ~ tilde does seem to have fixed this, so I believe the issue is simply that the documentation (specifically in my case https://material.angular.io/guide/getting-started#step-4-include-a-theme) needs to be updated, which should "fix" this issue.

[2018-01-16 15:01] PeS82 commented on #9414
This is described here: angular/angular-cli#9185

[2018-01-16 15:04] oktav777 opened #9419 "[Table] MatTableDataSource get rendered data"
#### Bug, feature request, or proposal:
feature request

#### What is the expected behavior?
`MatTableDataSource` should provide a method to get currently rendered data which is filtered, sorted and paginated.

#### What is the current behavior?
At the moment I couldn't find the right way to get rendered data(It may exist but it's not documented).

#### What are the steps to reproduce?
--

#### Wh

[2018-01-16 15:35] justinlee0777 commented on #9328
Thanks guys!

[2018-01-16 15:38] kamok commented on #2611
I wish the `MenuPositionX` were clearer that they were strings of `before` and `after`

I read the docs, couldn't figure out what they were, and found this thread for it. Should be more clear.

[2018-01-16 15:42] josephperrott commented on #9337
This is working as expected as the expansion panel component does not control the scrolling position of the page.

Since you are managing which panel is being opened from other panels, you will need to set the scroll position of the page manually based on the which panel is being opened.

[2018-01-16 15:42] #9337 closed

[2018-01-16 15:43] josephperrott commented on #9347
Closing as duplicate of #4190

[2018-01-16 15:43] #9347 closed

[2018-01-16 15:49] josephperrott commented on #9350
This is working as expected.  In your template you are only creating a template ref variable on the input.

Use the export alias from `MatInput` in your template ref to access the expected `MatInput` instance:

[code]

[2018-01-16 15:49] #9350 closed

[2018-01-16 15:59] josephperrott commented on #9380
Closing as `mAT is not available until the next minor release.

[2018-01-16 15:59] josephperrott commented on #9415
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-16 15:59] #9415 closed

[2018-01-16 16:13] SuperiorJT commented on #1940
Maybe I'm missing something here, but the current solution for this doesn't match the design spec. Is it possible for a proper implementation of this to be added to the roadmap?

[2018-01-16 16:15] willshowell commented on #8717
@stephengardner the overlay css is included if you've imported a Material theme. The issue is, if you are only using the cdk/overlay without Material, you don't automatically get the overlay css. So you must import it via the statement outlined by OP.

[2018-01-16 16:36] AustinHatem opened #9420 "Angular Material Slider - issue with setting value to zero"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
I want to create a slider using Angular Materials and Angular 5 that when the value is set to 0 on the slider then it will move back up to 10.

#### What is the current behavior?
I am having an issue where the slider will not move back up to 10 if it was already at 10, otherwise it will.

#### What are the steps to re

[2018-01-16 16:44] josephperrott commented on #9363
Closing as this is caused by binding to both `checked` and `ngModel` as @julianobrasil outlined.

[2018-01-16 16:44] #9363 closed

[2018-01-16 16:47] #9420 closed

[2018-01-16 16:48] josephperrott commented on #9405
Closing as this is working as expected.  The background is shown as the browsers focus is placed on the button due to the button press.

[2018-01-16 16:48] #9405 closed

[2018-01-16 16:49] AustinHatem commented on #9420
I was able to solve my problem by using a bit different syntax: https://stackoverflow.com/questions/48285758/angular-material-slider-issue-with-setting-value-to-zero

[2018-01-16 16:57] josephperrott commented on #9382
closing as duplicate of #6341

[2018-01-16 16:57] #9382 closed

[2018-01-16 16:58] josephperrott commented on #9395
Closing as IE 10 is unsupported.

[2018-01-16 16:58] #9395 closed

[2018-01-16 16:59] josephperrott commented on #9404
Closing as duplicate of #4763

[2018-01-16 16:59] #9404 closed

[2018-01-16 17:00] josephperrott commented on #9414
Closing as this is an issue from within the angular cli and is being tracked there.

[2018-01-16 17:00] #9414 closed

[2018-01-16 17:01] josephperrott commented on #9371
Closing as it appears that the stackblitz demos are working correctly once more.

[2018-01-16 17:01] #9371 closed

[2018-01-16 17:01] jelbourn commented on #9402
We unfortunately don't plan on doing anything to make these public, mainly because it would mean that any changes to them would be breaking changes. For the time being we need the freedom to be able to change these without downstream apps depending on them.

[2018-01-16 17:01] #9402 closed

[2018-01-16 17:10] josephperrott commented on #9369
It looks like this occurring because you are removing the expansion panel from the view whenever the first tab is shown.
If the `*ngIf` is removed, then it appears to work as expected.

[2018-01-16 17:47] crisbeto commented on #9393
Each step has a `completed` property that is a boolean that can be used to mark whether the user can continue from a step. [You can read more about it in the docs.](https://material.angular.io/cdk/stepper/api#CdkStep)

[2018-01-16 17:56] BMamba2942 commented on #9369
I see. I did that as a workaround for a different reported issue (#5269 ) though I didn't get it working all the way in the StackBlitz provided. I suppose I'll need to find another way around that issue.

[2018-01-16 18:00] Eddygn commented on #9416
This also happens on Tabs, when the tab group is given border radius, the first tab ripple will be square, while the top left (in ltr, and right in rtl) corner is rounded.

[2018-01-16 18:01] kylecordes commented on #7477
@AsafAgranat I'll take a look at how we solved this problem in CSS, and see if there is a straightforward way to make the published demo do the same thing.

[2018-01-16 18:04] gtranter commented on #9363
Can you enlighten me as to why this is wrong? Are not state and model two independent things that should be allowed to be bound? If you can, could you point to source code that shows how 'checked' and ng-model are interdependent? It puzzles me that this works fine except on initialization and yet the approach is deemed wrong not the component, despite the obvious inconsistency between ng-reflect-c

[2018-01-16 18:23] mackelito commented on #9413
@Chan4077 well this issue was just that there is no docs about it so users will not know that it exists... as for potential issues.. it fullscreen is used then the native adressbar will not shrink when scrolling down and for some that might be a big issue ;)

[2018-01-16 18:37] crisbeto commented on #9406
It's still a bit hard to tell without the full setup. I'm pretty sure that it isn't happening because of the `onAttached` being invoked after the component is destroyed since it's only emitted as a result of the [`open` property changing](https://github.com/angular/material2/blob/master/src/cdk/overlay/overlay-directives.ts#L260) and Angular will stop checking for changes after destroying the inst

[2018-01-16 19:19] gtranter commented on #9363
Follow-up question - if binding to checked is discouraged - would applying mat-checkbox-checked via ngClass be an acceptable approach? I'm basically looking for suggestions on how to do this "properly."

[2018-01-16 20:06] willshowell commented on #9419
A task-specific method would probably be better, but you should also be able to use `dataSource.connect().value` if you want to avoid private properties.

[2018-01-16 20:28] Juraji opened #9421 "mat-select should provide itself as a ControlValueAccessor"
#### Bug, feature request, or proposal:
Using a custom override of the FormControlDirective causes using [formControl] on mat-select to throw the following error:

[code]
(The field will still work)

#### What is the expected behavior?
Being able to use a custom FormControlDirective implementation.

#### What is the current behavior?
An error is thrown by NgControl not being able to infer a Contro

[2018-01-16 20:53] jbw91 commented on #7897
Any update on this? I have this issue as well, opening it attaches correctly to the element, but when I scroll down it doesn't reposition, it simply stays at the same position on the page. I can't use the autocomplete for what I need without this working properly.

[2018-01-16 21:22] mackelito commented on #4441
@jelbourn is this in the works? Perhaps it would be a great starting point to have the basic layout of the docs site https://material.angular.io ? :)

[2018-01-16 21:31] crisbeto commented on #8924
I managed to reproduce it now as well. It looks like Firefox doesn't block the scroll event for overlays with a transparent background.

[2018-01-16 21:32] kuwas commented on #8984
👍

I've seen this flickering for months now, only decided to look for a solution today.

[2018-01-16 22:27] jelbourn opened #9427 "Radio buttons are missing a tabindex input"
Currently there is no way to customize the `tabindex` for `mat-radio-button`; it will always use the native radio's default order.

[2018-01-16 22:28] diminutivesloop opened #9428 "Selecting item from nested mat-menu is not user-friendly"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Users should be able to quickly select the desired item from a menu.

#### What is the current behavior?
If a user attempts to select an item from a nested menu and their mouse leaves the currently selected menu item before reaching the sub-menu, then the sub-menu closes before the user is able to click their desired

[2018-01-16 22:39] jelbourn commented on #4441
We have something in the works for this. @amcdnl is working on some Angular Material [schematics](https://www.npmjs.com/package/@angular-devkit/schematics) that can be used to quickly scaffold apps / views.

[2018-01-16 23:22] jelbourn commented on #9428
[We discussed this a bit back when the nested menu was first added](https://github.com/angular/material2/pull/5493#issuecomment-313526471) but never got to actually adding it.

[2018-01-16 23:30] jelbourn opened #9429 "mat-action-list"
Capturing the remaining work from #107

We currently have `mat-list`, `mat-nav-list`, and `mat-selection-list`, but are still missing `mat-action-list`. In this variant, each list item would be a button, e.g.
[code]

[2018-01-16 23:30] mmalerba commented on #9411
FYI it's not just the placeholder that has issues, this is completely unsupported right now, hence the errors

[2018-01-16 23:30] jelbourn commented on #107
Tracking remaining work in #9429

[2018-01-16 23:30] #107 closed

[2018-01-16 23:30] #98 closed

[2018-01-16 23:31] #9393 closed

[2018-01-16 23:31] #593 closed

[2018-01-16 23:31] #626 closed

[2018-01-16 23:33] jelbourn commented on #1128
Closing this since I think this is now obsolete.

[2018-01-16 23:33] #1128 closed

[2018-01-16 23:35] jelbourn commented on #1522
Closing this since I think it is now obsolete.

[2018-01-16 23:35] #1522 closed

[2018-01-16 23:35] jelbourn commented on #2435
Closing since it seems obsolete

[2018-01-16 23:35] #2435 closed

[2018-01-16 23:38] jelbourn commented on #3390
Closing since I believe this issue is now obsolete

[2018-01-16 23:38] #3390 closed

[2018-01-16 23:38] jelbourn commented on #3253
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-16 23:38] #3253 closed

[2018-01-16 23:38] mmalerba commented on #9413
We actually plan to remove this, hence its lack of documentation. It's just a shortcut for some CSS that can be applied by the user.

Reasoning is that this is just one of a couple ways users could achieve a fullscreen effect. Instead of an attribute we will expand the relevant docs section (https://material.angular.io/components/sidenav/overview#sizing-the-sidenav) to talk about pros/cons of diff

[2018-01-16 23:53] jelbourn commented on #6115
@crisbeto does your recent PR capture this?

[2018-01-16 23:54] stevedeighton opened #9431 "Slider thumb values getting too big!"
#### Bug, feature request, or proposal:

Feature Request

#### What is the expected behavior?

When a value reaches capacity, it smartly breaks down to take up less space.

E.g.

A value of 100,000 would display as 100k. Some rounding would have to take place, obviously. Also addition of commas would be nice.

#### What is the current behavior?

It just displays 100000 and overflows the thumb

###

[2018-01-16 23:58] jelbourn commented on #8003
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via Plunker.

[2018-01-16 23:58] #8003 closed

[2018-01-16 23:58] mmalerba commented on #6106
Closing since it looks like this was resolved

[2018-01-16 23:58] #6106 closed

[2018-01-16 23:59] jelbourn commented on #9084
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via Plunker.

[2018-01-16 23:59] #9084 closed

[2018-01-17 00:00] jelbourn commented on #9031
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:00] #9031 closed

[2018-01-17 00:00] jelbourn commented on #8778
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:00] #8778 closed

[2018-01-17 00:00] jelbourn commented on #8456
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:00] #8456 closed

[2018-01-17 00:01] jelbourn commented on #8231
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:01] #8231 closed

[2018-01-17 00:01] jelbourn commented on #8122
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:01] #8122 closed

[2018-01-17 00:01] jelbourn commented on #7817
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:01] #7817 closed

[2018-01-17 00:02] jelbourn commented on #7597
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:02] #7597 closed

[2018-01-17 00:02] jelbourn commented on #7574
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:02] #7574 closed

[2018-01-17 00:02] jelbourn commented on #7547
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:02] #7547 closed

[2018-01-17 00:04] jelbourn commented on #7480
Closing since this is working as intended; the intent is that checkbox labels do not wrap by default and can be overridden via css.

[2018-01-17 00:04] #7480 closed

[2018-01-17 00:04] jelbourn commented on #7467
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:04] #7467 closed

[2018-01-17 00:05] jelbourn commented on #7407
Closing since this is a polyfill issue.

[2018-01-17 00:05] #7407 closed

[2018-01-17 00:05] jelbourn commented on #7355
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:05] #7355 closed

[2018-01-17 00:10] jelbourn commented on #7284
Current Angular Material doesn't do anything specifically to support HMR

[2018-01-17 00:10] jelbourn commented on #7340
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:10] #7340 closed

[2018-01-17 00:11] jelbourn commented on #7137
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:11] #7137 closed

[2018-01-17 00:11] jelbourn commented on #7084
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:11] #7084 closed

[2018-01-17 00:11] jelbourn commented on #7040
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:11] #7040 closed

[2018-01-17 00:12] jelbourn commented on #6993
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:12] #6993 closed

[2018-01-17 00:12] jelbourn commented on #6834
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:12] #6834 closed

[2018-01-17 00:13] jelbourn commented on #6828
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:13] #6828 closed

[2018-01-17 00:13] jelbourn commented on #6784
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:13] #6784 closed

[2018-01-17 00:13] jelbourn commented on #6781
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:13] #6781 closed

[2018-01-17 00:13] jelbourn commented on #6748
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:13] #6748 closed

[2018-01-17 00:14] jelbourn commented on #6629
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:14] #6629 closed

[2018-01-17 00:15] jelbourn commented on #6550
This is probably something that would only be alleviated by virtual scroll

[2018-01-17 00:15] jelbourn commented on #5322
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:15] #5322 closed

[2018-01-17 00:16] jelbourn commented on #4309
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:16] #4309 closed

[2018-01-17 00:16] mmalerba commented on #7607
It appears that the stepper doesn't wait for the steps to be available as content children before attempting to set the selected step

[2018-01-17 00:17] jelbourn commented on #4170
Closing this this issue is rather broad

[2018-01-17 00:17] #4170 closed

[2018-01-17 00:18] jelbourn commented on #6826
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:18] #6826 closed

[2018-01-17 00:18] robert-king commented on #7294
a lot of the documentation still uses md e.g. md-spinner instead of mat-spinner

[2018-01-17 00:20] jelbourn commented on #8597
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:20] #8597 closed

[2018-01-17 00:20] jelbourn commented on #8250
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:20] #8250 closed

[2018-01-17 00:21] jelbourn commented on #7873
Closing since there's been no activity here for a while

[2018-01-17 00:21] #7873 closed

[2018-01-17 00:21] mmalerba commented on #6958
This sounds like it might be related to https://github.com/angular/material2/issues/5698 which I filed a chrome bug for: https://bugs.chromium.org/p/chromium/issues/detail?id=787628

[2018-01-17 00:22] jelbourn commented on #7840
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:22] #7840 closed

[2018-01-17 00:22] jelbourn commented on #7043
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

[2018-01-17 00:22] #7043 closed

[2018-01-17 00:25] jelbourn commented on #2814
I believe this issue is obsolete now that `mat-select-trigger` exists

[2018-01-17 00:25] #2814 closed

[2018-01-17 00:27] benb7760 commented on #7294
@robert-king there were a lot of issues previously where this was caused by cache. can you try clearing yours and checking again? If there are still references to md-* could you point out specific occurrences?

[2018-01-17 02:15] simeyla commented on #645
Here's how to do it for `mat-tab` without css

[code]

It applies the class `mat-tab-disabled` so if you did want to do further css stuff you could.

[2018-01-17 03:39] edokkir commented on #8680
After some search: https://github.com/daniel-nagy/md-data-table/issues/311
@andrewseguin, I used your plunker and changed the css for the table to
`.mat-table {
  table-layout: fixed;
}`
and now I don't get the non lined rows, this may be work around / solution ?

[2018-01-17 05:51] eliasgago commented on #9350
Ok, thanks!

[2018-01-17 06:55] simeyla commented on #7604
For my case I'm showing a list of tracking events for a package, eg 'Picked up', 'Delivered'

The data simply doesn't need a header that says `Date`and `Event` because it's obvious and I have limited space. I want it to still be a `mat-table` so it matches the style of other tables.

[2018-01-17 07:20] deepali-kakkar commented on #6036
@iposton can you also provide me the same example for filtering the mat table. Thanks so much..!!

[2018-01-17 08:39] nikolaj10 commented on #9400
Hi, i updated my comment, so now you should saw the wrong behavior on the web site. I'm sorry I did not describe the problem properly (in more detail) for the first time

[2018-01-17 08:41] Lakston commented on #8984
Here is another gif example, I'm guessing it just happens when data is loaded in the background [as suggested in the other issue](https://github.com/angular/material2/issues/9050)

![material-spinner](https://user-images.githubusercontent.com/17677346/35033335-9683f60e-fb6a-11e7-857f-1d12b064b6b7.gif)

We've also experienced the 'ellipse' bug shown in @eTallang 's post on our app.

[2018-01-17 08:47] NaifousBS commented on #9329
Same issue

[2018-01-17 08:55] julianobrasil commented on #9400
It must be very specific to the particular version you've mentioned. It still works for me in a more recent vertion (and Windows 10):

![image](https://media.giphy.com/media/l1IBjjbpVXXR6UCBO/giphy.gif)

[2018-01-17 09:43] cherifa-ghersi opened #9435 "[material stepper] the "completed" property allows us to navigate through each step even if its value is set to false"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Disable the ability to navigate throught steps when the "completed" property is set to false

#### What is the current behavior?
the "completed" property allows us to navigate through each step even if its value is set to false

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *

[2018-01-17 11:12] hvdscheer commented on #3552
This issue still exists. I removed the ~ and it works. However my IDE (Intellij Webstorm) gives an error 'Cannot resolve directory.....'

[2018-01-17 11:19] wxlittle commented on #9356
Thanks @DevVersion
The Enter key works perfectly after adding button type.

[2018-01-17 11:56] crisbeto commented on #9435
There's a fix in Material 5.0.4 that should handle this case.

[2018-01-17 11:56] #9435 closed

[2018-01-17 11:58] MikaAK commented on #9276
New findings, the workaround I provided above doesn't seem to work on subroutes. For example when navigating to `http://localhost:3000/pain-module/quieting-the-pain-alarm` it tries to request packages from `http://localhost:3000/pain-module/`

[2018-01-17 13:34] rivoheinsalu commented on #5573
@mhosman @rsaulo This is how I did it in ` "@angular/material": "^5.0.3",`

Create separate file e.g. custom-mat-paginator-int.ts:

[code]

Load and include it in providers in app.module.ts

`import {CustomMatPaginatorIntl} from './shared/custom-mat-paginator-intl';
`
[code]

[2018-01-17 14:06] rsaulo commented on #5573
@rivoheinsalu , yes, i ended with the same solution, thanks for the reply!

[2018-01-17 14:22] PaunCostin commented on #3273
Did someone took a look into `withTypeAhead()` method from the autocomplete's `_keyManager' ?
It seem to do the trick but my tests were a little bit buggy (sometimes it seem to highlight an item and sometimes it didn't).

`/**
     * Turns on typeahead mode which allows users to set the active item by typing.
     * @param debounceInterval Time to wait after the last keystroke before setting the a

[2018-01-17 14:26] pantonis commented on #6570
@andrewseguin The workaround you posted only works when there is no paginator. When paginator is added in table totals row is not shown.

[2018-01-17 14:33] Douglasfeuser opened #9436 "nested menu opens other ways"
#### Bug, feature request, or proposal:

I have this following component:
https://material.angular.io/components/menu/overview#nested-menu

But when I put it on the top right of the page it always opens the more to the right, thus breaking the site.

#### What is the expected behavior?

Open to the right insted, or down, but not getting over the actual wid of the page.

#### What is the current be

[2018-01-17 14:53] crisbeto commented on #9436
[It seems to work correctly for me](https://angular-xvzvfy.stackblitz.io). Can you post an example?

[2018-01-17 14:56] #9436 closed

[2018-01-17 14:58] shrivastavashubham opened #9437 "disableClose in matdialog is working for esc but not works when click outside the popup"
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker starter (using on `@master`): https://goo.gl/uDmqyY<br/>
StackBlitz starter (using latest `npm` release): https://goo.gl/wwnhMV<br/>

###

[2018-01-17 15:30] DevVersion commented on #9427
I think there was a specific reason why we didn't just apply the tabindex mixin on the radio buttons. I think in general it just doesn't make sense adding a `tabIndex`, because the tabindex is controlled by the native radio buttons.

* e.g. you automatically focus the selected radio (the other ones are not tabbable)

In my opinion, it would make sense to support the tabindex on the `mat-radio-grou

[2018-01-17 15:32] nikolaj10 commented on #9400
It's not the problem in the particular version of browser, because i also try it on Windows 10 with last version of Internet Explorer 11 (Update version 11.0.49) and it works, so you are right. But it's obviously not working for Windows 7 with the same version of IE 11.

[2018-01-17 15:40] willshowell commented on #9437
Please update your post to use the issue template or the team will close it

[2018-01-17 15:47] JacobBrandt commented on #9406
I think you misunderstood.  I'm not saying onAttached is being invoked I'm saying the subscription inside it is.  That's why I referenced the code
[code]
Here is the next call in the stack
[code]
I trimmed down the test to pin point when it happens.  So basically I removed all expects and kept only my interactions in the select method from the Page class.  In this method I made it do just the code

[2018-01-17 15:49] #9437 closed

[2018-01-17 15:54] gtranter opened #9438 "feat(sidenav): allow sidenav to be placed in a separate component"
#### Bug, feature request, or proposal:
Bug?

#### What is the expected behavior?
Right sidenav in over mode shows backdrop when open

#### What is the current behavior?
Backdrop is not shown. DOM structure is incorrect - mat-sidenav is inside mat-sidenav-content.

#### What are the steps to reproduce?
https://stackblitz.com/edit/angular-fxp7dt

A custom component that has mat-sidenav-container, m

[2018-01-17 16:00] DevVersion commented on #1670
This issue seems to be more related to the general accessibility approach of the select. Since the select options are displayed dynamically outside of the `<mat-select>` element, the options won't be found by screenreaders if the panel is closed.

This means that the `aria-selected` option can't be found, and there will be always `0 items selected`.

I think that it would be better to keep the lis

[2018-01-17 16:04] DevVersion commented on #8838
I'm going to close this issue, because actually everything is working as expected. The active element of the menu will have it's focus restored, and that causes the "look-alike" ripple on the button.

With this PR: https://github.com/angular/material2/pull/9303, the focus effect for menus after closing with mouse shouldn't appear anymore.

[2018-01-17 16:04] #8838 closed

[2018-01-17 16:07] th3n3wguy opened #9439 "FEATURE REQUEST: Add color input to MatRadioGroup and MatRadioButton components"
#### Bug, feature request, or proposal:
- Feature Request

#### What is the expected behavior?
- There should be a way to change the color of the `<mat-radio-button>` element without having to do a "hacky" CSS-workaround.

#### What is the current behavior?
- In order to change the color on the `<mat-radio-button>` element, you have to override the CSS being set on them. Here is an example of the

[2018-01-17 16:24] DevVersion commented on #9403
The toolbar doesn't show up, because the toolbar is being placed using `position: fixed` inside of the `mat-sidenav-container`, which uses `z-index: 1` and `position: relative`.

This seems to be a Safari Bug: https://bugs.webkit.org/show_bug.cgi?id=160953

cc. @mmalerba

[2018-01-17 16:27] DevVersion commented on #9439
The `color` attribute is available on the `<mat-radio-button>` element.

https://github.com/angular/material2/blob/60b0625667dbba070c217764aea6daa5fe19e3bc/src/lib/radio/radio.ts#L322-L333

Can you please provide a demo that shows your issue?

[2018-01-17 17:00] mmalerba commented on #9438
The sidenav currently doesn't support this style of usage, instead of putting the `mat-sidenav` in a separate component you can do something like this:

[code]

[2018-01-17 17:09] jtmgio opened #9441 "Add A Filter To Material Table HTTP Datasource? Calling/Canceling HTTP endpoint multiple times?"
### Bug, feature request, or proposal:
Bug?

### What is the expected behavior?
How to add a filter to the Angular Material table component. Also when adding to not call/cancel multiple HTTP requests. Should only call HTTP request once on load

### What is the current behavior?
I have added a filter to the HTTP Datasource (used the example in the material docs). When adding this in, the Datasource

[2018-01-17 17:10] mhosman commented on #5573
Hey @rivoheinsalu, thanks for sharing. The only problem about this is that it keeps saying for example 1 of 2. How can I change the "of"?

[2018-01-17 17:18] josephperrott commented on #9441
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-17 17:18] #9441 closed

[2018-01-17 17:18] rivoheinsalu commented on #5573
@mhosman I have edited my example, see getRangeLabel.

I have not tried it with 'of', insted changed it to '/'.

You could try to set private properti and assing value in translation part:
 this.ofLabel = translation['OF_LABEL']

And then try to use it in getRangeLabel(). Unfortunately I cannot currently test it.

[2018-01-17 17:26] mhosman commented on #5573
Great @rivoheinsalu !! Thank you very much for your help!

[2018-01-17 17:28] crisbeto commented on #9428
Closing as a duplicate of https://github.com/angular/material2/issues/6548.

[2018-01-17 17:28] #9428 closed

[2018-01-17 17:32] crisbeto commented on #6115
It does. Closing as a duplicate of https://github.com/angular/material2/issues/9251.

[2018-01-17 17:32] #6115 closed

[2018-01-17 17:35] josephperrott commented on #9439
Closing as color is already available on `MatRadioButton`.  A working version can be seen [here](https://stackblitz.com/edit/angular-material2-issue-ethbcx?file=app/app.component.html)

[2018-01-17 17:35] #9439 closed

[2018-01-17 17:50] DevVersion opened #9442 "Consider adding ripples to button-toggle"
We might want to add ripples to button-toggle in the next major version.

Technically they are listed under the buttons section of the Material Design specs, which means that they should have ripples for each individual button.

[2018-01-17 18:00] th3n3wguy commented on #9439
Thank you very much @DevVersion and @josephperrott. I am not quite sure what I was doing wrong in my project, so I appreciate the information!

[2018-01-17 18:06] jelbourn commented on #9427
It is still important to support tabindex for cases when the radios are not in a group.

[2018-01-17 18:07] DevVersion commented on #9427
That's a good point. I will add them.

[2018-01-17 18:07] mhosman commented on #5573
Sorry I have just one last problem... I have another component with preferences. In that component I change the language. Then, I just go back to the component with the paginator and the language is not being changed. The onLangChange is not working or maybe because i'm in another component, this is not being fired so... the only way is to create a custom observable??

[2018-01-17 18:40] Maximaximum commented on #4003
It's a pity that this hasn't been revised

[2018-01-17 19:18] Defmetalhead commented on #6748
Yea unfortunately I could not simulate the issue anywhere. It only happened on iPhone devices. I believe I originally tested on an iPhone 6.

[2018-01-17 21:01] timharris777 commented on #3273
@axtho , looks like your use case is a little different than mine. I disabled the adding of a tag on enter because the only options I want available are the autocomplete options. You can enable that easily by changing one of the flags on the input for chips. Don't remember what the tag name is off the top of my head.

[2018-01-17 21:02] timharris777 commented on #3273
@eyalhakim , it should be easy by just adding the command for showing the menu when a selection is made. If I get around to making the change I'll post a comment.

[2018-01-17 21:22] michaelb-01 opened #9447 "size of draggable div with mat-checkbox not calculated correctly"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
When a mat-checkbox is within a div set to draggable the bounds of the div should be calculated correctly when dragging

#### What is the current behavior?
The mat-checkbox causes the 'dragged' element to be offset (it seems to be ok in Safari)

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or

[2018-01-17 22:19] briosheje commented on #5808
Before someone else gets mad, remember that to use fxFlex you MUST include in your project angular/flex-layout, otherwise it won't work.

Some angular material projects comes bundled WITHOUT the flex-layout module.

[2018-01-17 22:55] amejiarosario commented on #6597
@jelbourn Do you have any pointers to somebody willing to extend tables to accomplish this?

[2018-01-18 02:48] francium opened #9452 "Missing @Input in the docs for MatTabGroup's API"
#### Bug, feature request, or proposal: bug

#### What is the expected behavior?
Expect the `MatTabGroup` api to have `@Input()` before `selectedIndex`

#### What is the current behavior?
There is no `@Input()`

It has it as,

    selectedIndex: number | null

where as it should be

    @Input()
    selectedIndex: number | null

#### What are the steps to reproduce?
See [MatTabGroup api table](htt

[2018-01-18 03:28] SaturnTeam commented on #4763
@juliemr @mmalerba Proposal https://docs.google.com/document/d/14S3BvSm9o8_7VKwJU0ek59V7Cm4Yjt6OOoMj_lpfYZ0/edit?usp=sharing

[2018-01-18 04:18] CDDelta commented on #4801
Close?

[2018-01-18 04:29] CDDelta opened #9453 "Datepicker calendar popup not animating"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Datepicker calendar popup should animate.

#### What is the current behavior?
Datepicker calendar popup does not animate.

#### What are the steps to reproduce?
See https://material.angular.io/components/datepicker/overview.

#### What is the use-case or motivation for changing an existing behavior?
It should animate

[2018-01-18 04:53] martynickel commented on #8227
It would have helped me a lot to give the transition steps from a REST data source populating a plain HTML table to a mat-data.  Like whitebox (above), i've spent a few hours on this already and haven't found joy

[2018-01-18 04:58] Rajamallareddys commented on #3552
removing the ~ fixed issue for me as well.

[2018-01-18 06:07] mat-luc commented on #9378
Thank you so much DevVersion for pointing it out,
Now everything works fine

[2018-01-18 07:22] rivoheinsalu commented on #5573
@mhosman did you include following to providers in global (app.module.ts) as I told not in component?

`providers: [{
      provide: MatPaginatorIntl,
      useClass: CustomMatPaginatorIntl
    }]`

For me it works well when changing language in one component and then navigating to component with table.

Second `this.getAndInitTranslations();` in CustomMatPaginatorIntl should get translations on f

[2018-01-18 07:48] pantonis commented on #7548
Such a nice table with lot of features but one of the most critical features of tabular data is missing. This feature prevents me from using material datatable.

[2018-01-18 08:14] MehdiSaeedifar commented on #8833
Is there any plan for future releases?

[2018-01-18 08:30] manvfx opened #9454 "Passing Data with MatDialog to form"
hi
I want passing multi data with mat dialog to form
please help me

[code]

My Dialog:

[code]

dialog-component.html

[code]

[2018-01-18 08:48] FabianAlvaradoDotCom commented on #7986
@bettercalldough it worked for me, thank you very much!

[2018-01-18 09:01] djleonskennedy commented on #9454
@manvfx Do Not use issue tracker for questions, ask here: https://gitter.im/angular/material2?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge

[2018-01-18 09:47] crisbeto commented on #9453
That change was reverted in order to avoid breaking changes. I'll remove it from the changelog.

[2018-01-18 09:47] #9453 closed

[2018-01-18 10:25] kevincaradant commented on #5165
Hi

I  got the same issue today with the latest version under IE11 (Windows 7).

I will try to create a plunker If I got the time but firstly, something seems to be weird in my snippet code like that ? :

[code]

Thank you in advance for your first feeling about it.

NB: No issue under Firefox / Chrome

[2018-01-18 11:31] Asad-Islam commented on #7615
I think it's possible using the existing API. You can try like this...
[code]
where this.paginator is
[code]
Hence it is possible to jump to the first and last page as well.

[2018-01-18 12:30] himanshumps opened #9456 "Sidenav issue with latest material version"
#### Bug, feature request, or proposal:
Bug
#### What is the expected behavior?
The examples should be working for sidenav
#### What is the current behavior?
The examples for the sidenav are not working with the provided code as well as on stackblitz (https://material.angular.io/components/sidenav/overview)

#### What are the steps to reproduce?
Click on any of the examples link
#### Which version

[2018-01-18 12:38] julianobrasil commented on #9399
@faisalmuhammad  `<mat-divider>` is officially available now: https://github.com/angular/material2/blob/master/CHANGELOG.md

[2018-01-18 13:13] ivanKoretskyy opened #9457 "Radio Button not support formControlName in reactive form"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
mat-radio-button should support formControlName

#### What is the current behavior?
get Error:
ERROR Error: No value accessor for form control with name: 'gender'

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker s

[2018-01-18 13:15] julianobrasil commented on #9456
It worked fine over here (I tested two of them randomly):

![image](https://media.giphy.com/media/3o7522JSkj5eBs4zD2/giphy.gif)

[2018-01-18 13:33] aloketewary commented on #9454
You can always use like this:
[code]

and in your DialogComponent you can access it like:

[code]

[2018-01-18 13:51] #9356 closed

[2018-01-18 14:27] julianobrasil commented on #9457
I'm not sure if this is was by design, but you can use:

[code]

[2018-01-18 14:30] ivanKoretskyy commented on #9457
unfortunately, in my case , i cant use <mat-radio-group>

[2018-01-18 14:34] Londovir commented on #4926
@jelbourn mat-selection-list (at least, as demonstrated on the Material 2 components list) seems to have a few issues that make it dissimilar to what is discussed here.

First, the appearance of the checkbox on the demo is automatically placed on the far right edge of the list item. This doesn't appear to agree with the most recent Google Material Design spec, specifically [Lists: Controls](https:

[2018-01-18 15:07] teterovic commented on #5007
@jelbourn any progress on this ?

[2018-01-18 15:56] julianobrasil opened #9458 "feat(MatDatepicker): observable that emits the seleced year in year mode"
#### Bug, feature request, or proposal:

feature

#### What is the expected behavior?

When you click on year label, the calendar switches to multi-year mode. After that, when you select an year, there could be an observable or `@Output` property  that emits the year (a number) chosen _before_ switching to the year view.

Following this path, it would be nice if there was another observable that e

[2018-01-18 16:01] reothues commented on #1967
@aretheregods Same issue with latest Angular 5.2.1 and Angular Material 5.1.0;
I believe it's that [active] should be bond to  mat-tab-link directive but instead it was bond to <a>
so any workaround would be to delay the [active] as later than mat-tab-link had bootstrapped

[2018-01-18 16:14] keymaker19 opened #9459 "Getting MatPrefixRejector issue"
**Bug, feature request, or proposal:**
Property 'MatPrefixRejector' does not exist on type 'typeof "/node_modules/@angular/material/core"'

**What is the current behavior?**
Throws Error

**Which versions of Angular, Material, OS, TypeScript, browsers are affected?**
 "@angular/common": "^5.0.0",
    "@angular/compiler": "^5.0.0",
    "@angular/compiler-cli": "^5.0.0",
    "@angular/platform-serve

[2018-01-18 16:16] #4801 closed

[2018-01-18 16:25] donroyco commented on #9459
Please use [the issue template](https://github.com/angular/material2/blob/master/.github/ISSUE_TEMPLATE.md) to address your issue.

[2018-01-18 16:36] stevermeister opened #9460 "mat-select with ReactiveForms wrong example in Docs"
#### Bug in documentation

It says ReactiveForms but [(ngModel)] example below

![screen shot 2018-01-18 at 17 34 04](https://user-images.githubusercontent.com/1526680/35109218-06de2bde-fc76-11e7-91e0-7dd9be00959d.png)

[2018-01-18 16:49] mamakawama commented on #4092
Like @Airblader I just added a datepicker as part of my own helloWorld with Angular Material.  It is really a speedbump to getting started with this.  Angular doesn't need more speed bumps, IMHO.

[2018-01-18 17:07] josephperrott commented on #9452
@DevVersion It looks like `@Input` decorators aren't showing up in the docs when  they are decorating getters and setters.

[2018-01-18 17:07] josephperrott commented on #9454
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2018-01-18 17:07] #9454 closed

[2018-01-18 17:09] josephperrott commented on #9456
Closing as it appears to be working as expected now.

[2018-01-18 17:09] #9456 closed

[2018-01-18 17:13] josephperrott commented on #9459
Closing as `MatPrefixRejector` was removed beginning in [`5.0.0-rc0`](https://github.com/angular/material2/blob/master/CHANGELOG.md#500-rc0-cesium-cephalopod-2017-11-06)

[2018-01-18 17:13] #9459 closed

[2018-01-18 17:20] josephperrott commented on #9050
Closing as this seems to be an issue of creating too many objects in this main thread.

Creating the items asynchronously, or in a worker thread may be a viable alternative.

[2018-01-18 17:20] #9050 closed

[2018-01-18 17:29] keymaker19 commented on #9459
Can you provide more info?. Because I'm getting that error

2018-01-18 12:14 GMT-05:00 Joey Perrott <notifications@github.com>:

[2018-01-18 17:32] tofesath opened #9462 "Font size doesnt override from custom typography"
#### Bug, feature request, or proposal:
override font size on the input element doesn´t work

#### What is the expected behavior?
I defined custom typography on the input element, where I want override this attributes:
font-size: 40px
line-height: 52px
font-weight: 400

#### What is the current behavior?
font size is not reflected on the input element

#### What are the steps to reproduce?
https:/

[2018-01-18 18:05] crisbeto commented on #4926
[The selection list definitely has a value accessor](https://github.com/angular/material2/blob/master/src/lib/list/selection-list.ts#L288) @Londovir, have you run into any particular issues with it?

[2018-01-18 18:31] hobojoe commented on #5533
@kuncevic could you share your example?

I tried implementing it but the controls aren't placed properly on the expansion-panel header:
https://stackblitz.com/edit/angular-vkval7

Thanks!

[2018-01-18 18:38] josephperrott commented on #9192
Closed by #9315

[2018-01-18 18:38] #9192 closed

[2018-01-18 18:38] #9370 closed

[2018-01-18 18:42] #9460 closed

[2018-01-18 19:25] crisbeto commented on #9462
I've submitted a fix @tofesath. Until it gets in you should be able to set the font size by specifying it on one of the form field's ancestors.

[2018-01-18 20:02] simeyla commented on #5885
@pantonis I did this in my styles.css

You may need to look at the styles on the parent container if this doesn't work (eg. display or flex settings) - but this works quite nicely for me until there's an official update.

[code]

[2018-01-18 20:47] mhosman commented on #5573
Yes @rivoheinsalu all setup it's okay. Paginator it's working okay and current language it's okay. The only problem is with onLangChange. It's not being fired (I also put a console.log inside and nothing).

[2018-01-18 20:51] arunrote opened #9464 "tab enable and disable"
I want disable all tabs except the page1 and once data is saved on page1 want to enable page2 and page3 tabs. I am passing the flag from child component to parent component. Value is passed correctly, but not enabling the page2 and page3 tab. It's enabled once i minimize the browser or click on the page1 tab. Please help me to resolve this problem and here is my code.

<md-tab-group (selectChange)

[2018-01-18 20:55] josephperrott commented on #9464
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate

[2018-01-18 20:55] #9464 closed

[2018-01-18 21:12] wellno14 opened #9465 "mat-tab-group animation is not supporting RTL"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
when clicking on a tab  of mat-tab-group
tabs should change with smooth animation

#### What is the current behavior?
if we are in a right to left app (dir="rtl") the transition between the tabs
in not working properly

#### What are the steps to reproduce?

`<div dir="rtl"><mat-tab-group>  <mat-tab label="Tab 1">   C

[2018-01-18 22:54] DooMachine opened #9468 "Support readonly for slider"
#### Bug, feature request, or proposal:
Enabling disabled mat-slider to show value and color.

#### What is the expected behavior?
Cannot show previously selected value in mat-slider. And cannot set color to disabled slider.
Something like this
[code]

#### What is the current behavior?
mat-slider has no preference to show thumbLabel on un-focused state and show default color in disabled state.

#

[2018-01-18 23:46] mmalerba opened #9469 "build fails if cdk components have scss"
Issue can be repro'd by adding scss to an existing cdk component, e.g.: https://github.com/angular/material2/compare/master...mmalerba:cdk-scss-issue-repro?expand=1

I get the following error when running `gulp serve:devapp`:
[code]

Failing task appears to be: `cdk:build:esm:tests`

[2018-01-19 00:50] kenji-1996 commented on #408
Curious has to how this is going, I am not sure if I should just design my own, use a proof of concept posted here or wait and use an alternative

[2018-01-19 01:56] rafaelss95 commented on #7698
@princemaple @andrewseguin I guess this issue can be closed. I can't see this "problem" in the latest docs.

[2018-01-19 02:30] princemaple commented on #7698
Thanks for fixing!

[2018-01-19 02:30] #7698 closed

[2018-01-19 04:03] rglenn-accenture commented on #7246
I could very well be missing the point of this issue report, but it seems that with plain old html options (and angular), one can do something like the following:
[code]
The idea being we have a form that we want to pre-fill based on previously gathered information (to improve the user's experience by shortening their time filling in form fields).

For now, I will try the `_selectViaInteraction` s

[2018-01-19 04:30] josephperrott commented on #9469
fixed by #9470

[2018-01-19 04:30] #9469 closed

[2018-01-19 07:19] tatol opened #9474 "mat-menu and button in different companents"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
if i have mat-menu and button with [matMenuTriggerFor] in different companents, can i do something to make the button see the menu?

#### What is the current behavior?
now I have a error
`ERROR Error: mat-menu-trigger: must pass in an mat-menu instance.`

#### What are the steps to reproduce?
`<mat-menu #saveMenu

[2018-01-19 07:32] gajdot opened #9475 "Example source code for tabs showing outdated information"
#### Bug, feature request, or proposal:

bug
#### What is the expected behavior?

The code sample in the documentation to work
#### What is the current behavior?

The code sample in the documentation shows the old selector for tab
#### What are the steps to reproduce?

Visit https://material.angular.io/components/tabs/overview
On the Basic tabs example if you click show source you can see the old

[2018-01-19 07:53] dushkostanoeski commented on #7615
Extending the current paginator isn't a problem, the thing is that a paginator should have a `jump to page` functionality.

[2018-01-19 08:02] Asad-Islam commented on #7615
@dushkostanoeski yes you're right. It would've been a useful functionality.

[2018-01-19 08:12] tonysamperi commented on #8600
Same in @angular/material@5.0.4

[2018-01-19 09:45] stephanecot commented on #8121
I have another issue with the sorting system.
Can the sort function be on a column in particular ?
Y a have a table with 10 columns: 9 string with a default alpha sort, and the tenth column with a custom sort. I only want to customize this one, not the others.

[2018-01-19 10:36] Chan4077 commented on #9475
@gajdot See https://github.com/angular/material2/issues/7715#issuecomment-335835631

[2018-01-19 10:51] stephanecot opened #9476 "MatDatePicker/Input ==> Strict date format validation"
#### Bug, feature request, or proposal:
I am using Angular Material 5.1 and I am using the **MatMomentDateModule**.
Actually, when my form is shown, I have an input datepicker with a date (today by default).
I have for value:
**19/01/2018** (I am french )

A user can change this value, with the graphic datepicker or by typing the new value he want.

Here's my issue:

When the user want to change t

[2018-01-19 10:58] gajdot commented on #9475
LoL. This worked, but it's still really bad user experience... Anyway this issue then can be closed, but I would still prefer a solution to version the samples so this wouldn't happen again.

[2018-01-19 11:16] tatol commented on #9474
@Chan4077 this is more a question. I did not find out if it was possible at all and decided to ask here

[2018-01-19 11:47] jtsom opened #9477 "Simple Material Table throwing exception on create"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Show a table

#### What is the current behavior?
Throw error:
[code]

#### What are the steps to reproduce?
Providing a StackBlitz/Plunker (or similar) is the *best* way to get the team to see your issue. <br/>
Plunker starter (using on `@master`): https://goo.gl/uDmqyY<br/>
StackBlitz starter (using latest `npm` rele

[2018-01-19 11:51] waqasdilawar commented on #1142
Anglar Material-v5 Checkbox provides "MatCheckboxChange" and "checked" properties, using $event (as I did in `console.log(event...)` ) so when you drill down MatCheckboxChange it will show "source" which is I think equal to "target" which you want to access. So you can access value "event.source.value" and checked can be accessed directly using `event.checked`.

`<mat-checkbox` [(ngModel)]="select

[2018-01-19 12:10] julianobrasil commented on #9474
@tatol, post your question in stackoverflow and put the link to it over here and I'll try to help you there.

And, of course, close this issue as it is a doubt (not a bug, proposal or a feature request),

[2018-01-19 12:20] julianobrasil commented on #9476
Currently the parse function of the `MomentDateAdapter` class is:

[code]

Try to extend it and override the parser function so that when you get the value to parse, you verify if the format is correct. If something goes wrong (invalid date) return a null value.

[2018-01-19 12:38] thw0rted commented on #2375
I know this is super old, but @EladBezalel or others, as far as I can tell there's still no official implementation of "Icon Toggle" from [the spec](https://material.io/guidelines/components/buttons.html#buttons-toggle-buttons).  Yes, you can hack in behavior for a toggle based on `mat-icon-button` but I'd like to see something as easy to use as `mat-checkbox`, where toggle state is maintained by

[2018-01-19 13:20] rskendzic opened #9478 "Feature: Md-Slider with threshold and 2 colors"
#### Feature request, or proposal:
Change color of md-slider after threshold is breached.
#### What is the expected behavior?
To be able to set threshold on slider, which will be shown to user, and which would change the color of slider from that point on.

![screen shot 2018-01-19 at 2 06 40 pm](https://user-images.githubusercontent.com/22195559/35152308-3915ab0c-fd22-11e7-8308-e567394c9f10.png)

[2018-01-19 13:56] ZgjimDida commented on #7390
@AbakumovAlexandr

Here you can see where to add that style.

https://github.com/liutian/push-admin/commit/a5ba4302bd67a8a7804ce13feb09c5522c516157

[2018-01-19 14:08] cpboyd commented on #4100
From my perspective, it wouldn't be quite as bad if you could simply use @angular/flex-layout on the elements...
e.g.:
[code]

Except that with the `mat-tab-nav-bar` directive, it creates an internal `<div>` to register `cdkObserveContent`.

A work-around requires use of `::ng-deep` in the style:
[code]