[2020-05-26 21:20] #17215 closed

[2020-05-26 21:23] jelbourn commented on #19189
As far as I can tell, this appears to be a bug in Safari/WebKit. Everything works as expected in Chrome, Firefox, and Edge. I don't see what the tab body would be doing that would break this per expected behavior of `position: sticky`.

[2020-05-26 21:23] #19189 closed

[2020-05-26 21:24] jelbourn commented on #19153
This issue doesn't have enough information for the team to investigate. Please include:
* A reproduction of the issue (preferably via StackBlitz)
* Any relevant errors and stack traces
* Any relevant details about your build environment

(this is a canned response)

[2020-05-26 21:24] #19153 closed

[2020-05-26 21:25] jelbourn commented on #9624
Is there a reason `blurout` wouldn't work for you?

[2020-05-26 21:25] andrewseguin commented on #17214
Unfortunately this is the limitation to tables in the browser - rows do not have a typical layout scheme as most other rendered containers. To see this, try adding a child to the row, just like ripple does, and set it to absolutely position itself to `top: 0; left: 0; right: 0; bottom: 0`. Youll see that it does not fill the row's element

[2020-05-26 21:25] #17214 closed

[2020-05-26 21:25] #17156 closed

[2020-05-26 21:27] andrewseguin commented on #17154
I suspect if we add blur to this, then it would follow that we should add blur to every element in our component library. Im not sure its feasible to do so

[2020-05-26 21:27] #17154 closed

[2020-05-26 21:29] #11309 closed

[2020-05-26 21:31] andrewseguin commented on #17111
I suspect you are changing the data such that the index for each item changes, e.g. the item in the 10th spot may change to be in the 5th spot. You should try to use a more unique identifier for the data

[2020-05-26 21:31] #17111 closed

[2020-05-26 21:32] andrewseguin commented on #17021
Your view child query should not be set to `static: true` if it is in an `ngIf`

[2020-05-26 21:32] #17021 closed

[2020-05-26 21:33] andrewseguin commented on #16959
The flex layout table is not well supported and only useful for a limited number of cases. I recommend using the native `table` version

[2020-05-26 21:33] #16959 closed

[2020-05-26 21:35] arucastillo commented on #17242
Hey, if someone has the same problem

Here the solution:
` const sortState: Sort = {active: 'selection', direction: 'desc'};
      this.sort.active = sortState.active;
      this.sort.direction = sortState.direction;
      this.sort.sortChange.emit(sortState);`

[2020-05-26 21:36] jelbourn commented on #10441
Confirmed that this is still a bug in v9. Relatively low priority since nesting tabs is discouraged by the spec.

[2020-05-26 21:38] blidblid commented on #4892
Another fix is to simply turn off [touch gestures](https://material.angular.io/components/tooltip/api#MatTooltip) for tooltip. Note that this will make tooltip unreachable on touch devices.

[code]

[2020-05-26 21:39] jelbourn commented on #12265
Closing this since we consider our CSS classes to be internal/implementation details. Despite that, changing the class names at this point would cause unnecessarily churn for people that override the CSS anyway.

[2020-05-26 21:39] #12265 closed

[2020-05-26 21:42] jelbourn commented on #12358
Closed since this seems to be working as intended.

[2020-05-26 21:42] #12358 closed

[2020-05-26 21:44] jelbourn commented on #13225
(revisiting older issues as part of a triaging fix-it)

Going to close this since we're not going to do much more with `mat-toolbar` going forward since the Material Design spec moved away from it. We might do something different for a separate "top app-bar", but TBD on that front.

[2020-05-26 21:44] #13225 closed

[2020-05-26 21:48] jelbourn commented on #14013
@josephperrott do you remember at all what prompted this issue? Did we get a report about the contrast being poor?

[2020-05-26 21:53] jelbourn commented on #14556
Just tested this in Edge and Firefox. Everything looks great in Edge, but Firefox (for which we now support high-contrast mode) has some weird blocks. They don't cover the text, but they are weird:
![image](https://user-images.githubusercontent.com/838736/82953929-87aa8e80-9f60-11ea-83a4-2062c743574e.png)

[2020-05-26 22:01] mmalerba commented on #11364
This would be nice to have but I don't think the core team will have time to work on it. It might be a good fix for someone to contribute

[2020-05-26 22:04] josephperrott commented on #14013
I discovered the issue while performing aXe tests across the codebase.  The `disabled-text` check failed in its usages here.

If I remember correctly, we determined that for many of these we would need to consult with the Material team to determine if it was a spec issue or something in our implementation.

[2020-05-26 22:06] jelbourn commented on #14851
This issue doesn't have enough information for the team to investigate. Please include:
* A reproduction of the issue (preferably via StackBlitz)
* Any relevant errors and stack traces
* Any relevant details about your build environment

(this is a canned response)

[2020-05-26 22:06] #14851 closed

[2020-05-26 22:10] jelbourn commented on #14556
Also confirmed that this looks to be fixed in the mdc-based form-field

[2020-05-26 22:11] jelbourn commented on #15242
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via StackBlitz.

(this is a canned response)

[2020-05-26 22:11] #15242 closed

[2020-05-26 22:11] lerchenreich opened #19451 "Custom-Controls not usable in different ngModules"
# 🐞 bug report

### Affected Package

 The issue is caused by package @angular/material/form-field

### Is this a regression?

 No, tested only material-versions 9.1.3 and 9.2.2

### Description

A Custom control does not work in different ngModules. For example, a custom-control  declared in AppModule only works in components that are also declared in AppModule, but not in a lazy loaded component

[2020-05-26 22:13] jelbourn commented on #15316
(revisiting older issues as part of a triaging fix-it)

Closing this because AFAICT it's working as intended. You may need to specify `routerLinkActiveOptions` to get the behavior you want, but the example on the docs works for most cases.

[2020-05-26 22:13] #15316 closed

[2020-05-26 22:16] jelbourn commented on #15340
(revisiting older issues as part of a triaging fix-it)

This is a good point; we should explicitly document the `NgModule` dependencies for the different components.

[2020-05-26 22:22] jelbourn commented on #15435
I tried testing this and everything seems to work as expected on small screens. I'm guessing that the issue popped up from _changing_ mobile screen sizes while the app was loaded (which could break the layout, since real devices never change screen size). Feel free to open a new issue if you have further details.

[2020-05-26 22:22] #15435 closed

[2020-05-26 22:52] annieyw commented on #19349
Please submit Angular Material and CDK questions [here](https://groups.google.com/forum/#!forum/angular-material2).

[2020-05-26 22:52] #19349 closed

[2020-05-27 00:17] MadyAkira commented on #19050
Thanks for your comment guys. For now im keeping the component open oninit to avoid the glitch, but i hope we could find a solution. 🤗

[2020-05-27 04:38] mmalerba commented on #11274
This has been out for a while and I haven't seen any reports of performance issues related to `trackBy`, therefore closing

[2020-05-27 04:38] #11274 closed

[2020-05-27 04:45] mmalerba commented on #10873
This is happening because the cdk/overlay based datepicker popup detects when it would be partially off-screen and changes its position accordingly. Since you're placing it in an iframe "off-screen" in this case means outside of the iframe. So I consider this to be WAI

[2020-05-27 04:45] #10873 closed

[2020-05-27 04:50] mmalerba commented on #10998
confirmed that this is fixed now

[2020-05-27 04:50] #10998 closed

[2020-05-27 04:54] lacolaco opened #19454 "build: release output contains forward references that break at runtime"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1. https://stackblitz.com/edit/angular-wudjzd?
2. Downdoad app as zip
3. open zip, `npm install` and `npm start`

#### Expected Behavior

As well as on Stackblitz, it should work correctly on the local environment. But it isn't.

#### Actual Behavior

Datepicker throws a run

[2020-05-27 05:04] mmalerba commented on #10472
This isn't a high priority for the team, but I'll accept a PR if someone wants to work on it

[2020-05-27 05:12] mmalerba commented on #10770
It does hide the placeholder for the legacy version of the form-field (this is WAI because the legacy one didn't really differentiate between label and placeholder).

For the newer variants `floatLabel="never"` is not a supported option, they ignore it and show the placeholder

https://stackblitz.com/edit/components-issue-it47ul?file=src%2Fapp%2Fexample-component.html

[2020-05-27 05:12] #10770 closed

[2020-05-27 05:14] JeanBaptisteINITIATIVES commented on #17154
@andrewseguin , I understand perfectly, thanks for your attention.

Best regards

[2020-05-27 05:25] mmalerba commented on #12047
This is because the text is aligned with the inputted value rather than the label (try typing in the field and see). The baseline of the label and the inputted text are not the same, [as the spec shows](), but the spec also gives no guidance that I can find on how to deal with this alignment issue. I'll mark this as blocked pending discussion with the Material Design team

[2020-05-27 05:34] mmalerba commented on #12064
It looks like this has been fixed, following the repro steps with the stackblitz example given, the value was not empty (both when I changed via the calendar and via typing)

[2020-05-27 05:34] #12064 closed

[2020-05-27 05:43] mmalerba commented on #11919
This has been fixed, here's an updated version of the stackblitz demonstrating it: https://stackblitz.com/edit/angular-material2-issue-9lex7l?file=app%2Fapp.module.ts

[2020-05-27 05:43] #11919 closed

[2020-05-27 05:48] mmalerba commented on #11675
I don't think this is an issue with the component, some things that could possibly explain the difference are:
- Different typography theme settings being used in your app vs the material.angular.io website
- Different version of @angular/material installed on your app vs the material.angular.io website

[2020-05-27 05:48] #11675 closed

[2020-05-27 05:52] mmalerba commented on #11620
The `NativeDateAdapter` only supports dates in `mm/dd/yyyy` format due to the limitations of JavaScript's `Date` parsing. I'd suggest using a different date adapter that supports other formats (e.g. https://www.npmjs.com/package/@angular/material-moment-adapter)

[2020-05-27 05:52] #11620 closed

[2020-05-27 06:30] mmalerba commented on #13313
I don't think this is an issue with the form field itself, but rather the directive being used here. This stackblitz demonstrates that it works if you add `*ngIf="true"` to the element instead: https://stackblitz.com/edit/components-issue-pxyfmf?file=src/app/example-component.html

[2020-05-27 06:30] #13313 closed

[2020-05-27 06:53] cik10p opened #19455 "[Table] Sort example incorrectly sorts JSON parsed string, part 2."
Hello,

This bug is continuation of previously reported bug.
https://github.com/angular/components/issues/19444
My previous bug report was closed, with no code example provided that could prove that I was wrong. I still think this is an issue, and it should be addressed.

Speaking of sorting algorithm, I was explained that according to lexicographical comparison (sorting) in JS this works as desig

[2020-05-27 06:58] jennynju commented on #19100
![image](https://user-images.githubusercontent.com/46782518/82987373-fc95cb00-a029-11ea-853e-ec0846a4b9ae.png)

@TrevorKarjanis, I think this is because _onInputClick  happens before the browser update the checkbox to its new value.
Needs to add a setTimeout when updating the variable this._checked.

[2020-05-27 07:46] Totati commented on #11675
This could be caused by usage of `.mat-typography` class. It messes up quite a lot of things.

[2020-05-27 07:48] Wilt opened #19456 "Proposal to make MatOption (its value) typed"
#### Feature Description

Make `MatOption` class typed

#### Use Case

When using `MatOption` the value is typed `any`, would be great if it would be possible to make `MatOption` type specific, could by default be falling back to `any`:

#### Proposed solution:

[code]

Could provide a PR if that is preferred.

[2020-05-27 08:12] sameerthekhans commented on #7615
I have created a `mat-paginator-goto` component over `mat-paginator`, this works same  as original `mat-paginator` but also has option of **goTo/jumpTo** specific page.

The list of available pages for **goTo** have been calculated based on `length` and `pageSize`.

To Integrate in your `angular/material` project follow below steps

**Step 1:** Goto [mat-paginator-with-goto (Stackblitz)](https://s

[2020-05-27 08:18] muuvmuuv opened #19457 "bug(drag-drop): cannot get placeholder element on cdkDragStarted"
#### Reproduction

https://stackblitz.com/edit/components-issue-jk8rbb

#### Expected Behavior

Returns the placeholder element to manipulate

#### Actual Behavior

Returns undefined

#### Environment

- Angular:9.1.9
- CDK/Material:9.2.4
- Browser(s): Edge
- Operating System (e.g. Windows, macOS, Ubuntu): latest macOS

[2020-05-27 08:18] nikhil4326 opened #19458 "bug mat-list-option: ScreenReader(JAWS) reads not selected for checked mat-list-option"
#### Reproduction

Use StackBlitz to reproduce your issue: [https://stackblitz.com/edit/angular-mat-options?file=app%2Flist-selection-example.html](https://stackblitz.com/edit/angular-mat-options?file=app%2Flist-selection-example.html)

Steps to reproduce:
1. Use mat-selection-list along with mat-list-option to show the checkbox list.
2. Check and disable the mat-list-option using selected and dis

[2020-05-27 08:22] Diralytic commented on #18939
@andrewseguin Thank you for the workaround, but i don't want to lazily load the tab.
Please re-open this issue, it's not fixed yet.

[2020-05-27 09:40] aklajnert commented on #18939
@andrewseguin I confirm that switching to lazy-loading fixed the issue for me, I'm good with that.
However, as I understand - the bug is still there and this is just a workaround. Not sure if the issue should be closed already.

[2020-05-27 10:17] devversion commented on #19454
Thanks for this issue. That is a known issue. It's related to: https://github.com/microsoft/TypeScript/issues/27519 and https://github.com/angular/angular/issues/30106.

[2020-05-27 10:29] devversion commented on #13017
This looks related to https://github.com/angular/components/issues/18340. As stated in my initial comment, we need to come up with a better solution for these overlay based components.

@crisbeto sent a proposal for dialog to allow configuration of enter and exit duration. That might could work for the bottom-sheet and menu too. I'm hoping we can find a consistent solution that works for all overl

[2020-05-27 10:34] devversion commented on #16100
We improved this slightly with https://github.com/angular/components/commit/fca0c28bb92cf97861b0f3318173c5a708718d91. Initially only two events are set up per ripple now. There is still room for improvement as explained in the commit message.

[2020-05-27 10:38] devversion commented on #19455
Hey. Please give us a chance to reply on your original issue 😄 I'm re-opening the other one as we already have a discussion there.

[2020-05-27 10:38] #19455 closed

[2020-05-27 10:47] behroozbc opened #19460 "bug(Select): dont show icon in select"
#### Reproduction

https://stackblitz.com/edit/angular-rw5yju
Steps to reproduce:
1. click on select
2. choice on option

#### Expected Behavior

Show icon in select

#### Actual Behavior

show name of icon

#### Environment

- Angular:9.1.6
- CDK/Material:9.2.3
- Browser(s):Microsoft edge Version 83.0.478.37
- Operating System (e.g. Windows, macOS, Ubuntu): windows 10 Version 1909

[2020-05-27 10:49] pshurygin commented on #17356
I also cannot reproduce this issue anymore with the latest angular 9.1.9 and cdk 9.2.4

[2020-05-27 10:56] crisbeto commented on #17356
I'm closing the issue for now. It can always be reopened if new information comes up.

[2020-05-27 10:56] #17356 closed

[2020-05-27 11:02] devversion commented on #19444
Hi @cik10p. Thanks for getting back to this so quickly. I must say that I'm personally also confused about this behavior and I'd also expect `a first record` to be the first element (as it starts with `a`).

In the sort directive we currently rely on the basic ECMAScript relational operators. i.e.

[code]

This behaves different to `localeCompare` as you showed in your example. The order from `loc

[2020-05-27 11:07] demiro commented on #19445
The easiest would be to extend the tab component for the same purpose....  and ...
- restyle
- add automatic number (label) option
- add linear functionality....

anything else, tab component is great... handles the labels well, can put the disabled to a tab, can lazy load content, etc.

[2020-05-27 11:10] devversion commented on #19460
Hello! This works as expected. A `mat-option` always holds a textual representative value that is determined based on the elements `textContent`.

The select uses that value (by default) for displaying the selected option. You can override this with a custom trigger by using `MatSelectTrigger`. I hope that helps!

https://material.angular.io/components/select/examples

[2020-05-27 11:10] #19460 closed

[2020-05-27 12:18] cik10p commented on #19444
Hi again @devversion, and @andrewseguin
Appreciate much better explanation of situation, I understand the problem now. And now it makes sense.

Speaking of how it should be, if my customer comes to me and shows me that there is an error, I must fix it, one way or another. I guess it's up to your QA to decide whether you should stick with ECMAScript relational operators in this particular scenario.

[2020-05-27 12:19] oleggd commented on #13372
Hi,
All those examples and workarounds are working with same-size items as i understood.
Did someone found for masonry layout for mutlidirection movements solution?
For me fits best this solution https://stackblitz.com/edit/angular-nuiviw
but of course not perfect (anyway thanks athour for best example) - problem with placeholder correct placement during drop.
Used:
1) flex column wrap
2) dynamic

[2020-05-27 13:03] mcalmus opened #19461 "bug(various): ReferenceError Cannot access 'X' before initialization"
#### Reproduction

Steps to reproduce:
I have not yet been able to reproduce this using a trivial case in Stackblitz.

After updating to version  10.0.0-next.2 (from  10.0.0-next.1) I am seeing instances similar to:

ReferenceError: Cannot access 'MatSelectionList' before initialization
    at list.js:589
    at Module../node_modules/@angular/material/__ivy_ngcc__/fesm2015/list.js (list.js:649)

I

[2020-05-27 13:04] flemgs commented on #13372
Hello,

I have been using @c3rber solution https://stackblitz.com/edit/angular-nuiviw for a long time now, but I saw that the method being used to diplay the placeholder `CdkDropList::enter(item: CdkDrag, pointerX: number, pointerY: number): void;` is now deprecated in Angular 9, which means that **in Angular 10, @c3rber's solution will no longer work...**

Since it is the only solution I found th

[2020-05-27 13:13] crisbeto commented on #19461
Duplicate of https://github.com/angular/components/issues/19454.

[2020-05-27 13:13] #19461 closed

[2020-05-27 13:14] scopchanov commented on #19428
I hope the following info could help fixing the issue:

1. It does work with the original example from Angular Material + added `[disabled]="true"`, i.e.

`<a mat-button href="https://www.google.com/" target="_blank" [disabled]="true">Link</a>`

However, in this case the attribute is `href` instead of `routerLink`.

2. It also works as expected with `MatListItem`, i.e.

[code]

3. Only the combina

[2020-05-27 13:31] mduft commented on #13372
We've since switched to use ng2-dragula instead of CDK. This
1. Reduced the amount of code required - especially the workarounds are a lot of code.
2. Reduced the complexity of the code required - same thing.
3. Looks exactly the same to the user - except that it works properly :)

[2020-05-27 14:16] jelbourn commented on #19456
I actually have this on our backlog for _all_ valued components (radio, select, etc).

[2020-05-27 16:15] crisbeto commented on #9797
I just tried this out both against IE 11 and Edge, but it was working as expected. Given that the issue is pretty old, I'm closing it, but it can be reopened if we get more info.

[2020-05-27 16:15] #9797 closed

[2020-05-27 16:15] anthonyblanchettepotvin opened #19462 "google-maps: expose directives for template reference usage"
#### Feature Description

Add `exportAs` directive meta-data to the `map-polygon`, `map-polyline`, `map-circle` and `map-rectangle` directives. That would allow to template reference the directives' class's instance in order to pass it as an argument into a function call, to access its properties from within the DOM and everything else that template referencing features.

#### Use Case

You could

[2020-05-27 16:24] crisbeto commented on #10530
Closing since I can't reproduce it anymore and the description is pointing to a very old iOS version.

[2020-05-27 16:24] #10530 closed

[2020-05-27 16:30] crisbeto commented on #11581
Duplicate of https://github.com/angular/components/issues/18944.

[2020-05-27 16:30] #11581 closed

[2020-05-27 16:31] crisbeto commented on #11335
Looks like the related fix was merged a long time ago (https://github.com/angular/components/pull/13378). Closing.

[2020-05-27 16:31] #11335 closed

[2020-05-27 16:35] crisbeto commented on #11174
Closing since this seems like an issue with custom code on top of the CDK and there hasn't been any activity in a long time.

[2020-05-27 16:35] #11174 closed

[2020-05-27 16:39] crisbeto commented on #10778
It seems like the author resolved their issue and there hasn't been any activity in a while. Closing.

[2020-05-27 16:39] #10778 closed, assigned to mmalerba

[2020-05-27 16:42] crisbeto commented on #11682
This was fixed in master a while ago. Closing.

[2020-05-27 16:42] #11682 closed

[2020-05-27 16:58] crisbeto commented on #13852
This seems to be fixed in master. Closing.

[2020-05-27 16:58] #13852 closed

[2020-05-27 17:08] devversion commented on #19462
Seems like we can do this for other directives/components in the `google-maps` package too.

[2020-05-27 17:14] devversion commented on #19462
Seems like a good feature request to me. Since most of these google-maps parts (such as `map-polygon`) are directives, using an implicit template reference does not work. Therefore I think it would make sense to have `exportAs` on those directives.

[2020-05-27 17:47] josephperrott commented on #16723
From doing an initial investigation it appears that the issue comes from something relating to the content projection into the expansion panel body.  This will require additional investigation into if this is a bug or a limitation of the design.

[2020-05-27 17:51] josephperrott commented on #17834
It looks like this is actually an artifact of `mat-dialog-content`'s `overflow` value causing the cut appearance.

[2020-05-27 17:58] crisbeto commented on #16594
This should've been resolved back in v9.

[2020-05-27 17:58] #16594 closed

[2020-05-27 18:00] GlauberF commented on #16594
for me solved in v9

[2020-05-27 18:07] crisbeto commented on #17140
Seems like this was a user error that was resolved. Closing.

[2020-05-27 18:07] #17140 closed

[2020-05-27 18:07] mmalerba commented on #12908
I assume you mean an output `(completed)` rather than an input `[completed]` correct? That seems like a reasonable feature to me

[2020-05-27 18:11] mmalerba commented on #12508
The Angular Material documentation assumes familiarity with the Angular Framework documentation (or that people will consult it for information on the relevant parts). In this case, that should be covered by the [Angular Forms documentation](https://angular.io/start/start-forms)

[2020-05-27 18:11] #12508 closed

[2020-05-27 18:23] josephperrott commented on #17399
Closing as duplicate of #15138

[2020-05-27 18:23] #17399 closed

[2020-05-27 18:24] mmalerba commented on #13402
I don't think this issue is related to Angular Material, notice the same thing happens if I use native inputs with a required binding: https://stackblitz.com/edit/angular-6w4khw-xrhokm?file=app/datepicker-formats-example.html

[2020-05-27 18:24] #13402 closed

[2020-05-27 18:25] josephperrott commented on #18008
Closing as duplicate of #15138

[2020-05-27 18:25] #18008 closed

[2020-05-27 18:26] crisbeto commented on #17182
Duplicate of https://github.com/angular/components/issues/13372.

[2020-05-27 18:26] #17182 closed

[2020-05-27 18:31] josephperrott commented on #15447
Closing out this issue as we were not able to reproduce it and it is outdated at this point.

[2020-05-27 18:31] #15447 closed

[2020-05-27 18:31] mmalerba commented on #11914
This appears to have been fixed: https://stackblitz.com/edit/angular-vmtmfr?file=src/app/datepicker-min-max-example.html

[2020-05-27 18:31] #11914 closed

[2020-05-27 18:33] crisbeto commented on #17899
Should've been resolved by https://github.com/angular/components/pull/17006.

[2020-05-27 18:33] #17899 closed

[2020-05-27 18:34] Spawnrad commented on #14515
Same issue for me jumping left side :(

[2020-05-27 18:35] devversion commented on #18606
It looks like we excluded those styling directives from the docs. See: https://github.com/angular/components/commit/0a7e29345e137944d2253dd1292a06f47a98c8a9.

Though we have each of the disabled one explicitly mentioned/described in the list overview. See: https://material.angular.io/components/list/overview.

I'm closing this as these attributes are considered documented. Happy to re-open when so

[2020-05-27 18:35] #18606 closed

[2020-05-27 18:40] josephperrott commented on #14796
Closing as this is working as expected because the websocket is not calling `openFromComponent` from within the Angular zone.  While its a slightly different use case, you can see [this comment](https://github.com/angular/components/issues/7233#issuecomment-331564364) for more about what is happening.

[2020-05-27 18:40] #14796 closed

[2020-05-27 18:43] devversion commented on #18169
Hello! Can you please clarify if this is a feature request or if you are just sharing solutions due to the closed previous issue?

As stated by @andrewseguin, we do not intend to implement routing transition for the tab-nav-bar.

[2020-05-27 18:43] #18169 closed

[2020-05-27 18:48] devversion commented on #17878
Hello! Our components follow the Material Design specification as closely as possible. We recently started working on density as described per Material Design spec. That should allow developers to increase density (i.e. reducing spacing) for components such as the form-field.

In general though, I agree that it would make sense to have these variables at top-level at least, so that they can be ove

[2020-05-27 18:49] Spawnrad commented on #15764
I have exact same issue

[2020-05-27 18:52] crisbeto commented on #18431
Closing since it's working as intended.

[2020-05-27 18:52] #18431 closed

[2020-05-27 18:53] mmalerba commented on #13759
Most of these features exist already, though there is no output for when the view changes. I'd be happy to accept a community contribution for this

[2020-05-27 18:54] devversion commented on #17637
It looks like this is working as intended. The `Directionality` service will not monitor dynamic changes to the `dir` attribute on the document or body.

It might be best to use the `dir` directive in the dynamic toggle case. Alternatively, it might make sense to rely on #17659 that allows manual notifying when the global `dir` property is updated.

[2020-05-27 18:55] crisbeto commented on #18810
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2020-05-27 18:55] #18810 closed

[2020-05-27 18:55] mcalmus commented on #19454
Any workarounds for this? In which version did this begin? I've successfully messed up my working copy of code but am not sure which change(s) caused the problem.

[2020-05-27 18:56] devversion commented on #17637
If flex-layout recommends placing `dir` on the body element, but does not mention that it should not be updated dynamically, then this looks more like a documentation issue for flex-layout. I'm closing this one as it's working as intended.

[2020-05-27 18:56] #17637 closed

[2020-05-27 18:57] crisbeto commented on #18779
We try to add only the essential structural styles in the CDK and the cursor isn't one of them. It should be easy to add it by yourself, there are a few examples doing it in the docs. https://material.angular.io/cdk/drag-drop/overview

[2020-05-27 18:57] #18779 closed

[2020-05-27 18:57] crisbeto commented on #18695
Closing as a duplicate of https://github.com/angular/components/issues/17923.

[2020-05-27 18:57] #18695 closed

[2020-05-27 19:00] devversion commented on #17398
Yeah, I'd agree with @crisbeto. I think our understanding of this was that we want to match native elements as much as possible. i.e. `input[type=checkbox]` does not emit `change` for its initial value either.

See: https://stackblitz.com/edit/comp-17398?file=src/app/app.component.ts

[2020-05-27 19:03] #17201 closed

[2020-05-27 19:04] devversion commented on #17201
Hello! I wasn't able to reproduce this issue on my end. Please resubmit a new issue if this still surfaces on your end.

[2020-05-27 19:04] crisbeto commented on #19059
Closing since this is working as expected and the deprecated APIs have been removed.

[2020-05-27 19:04] #19059 closed

[2020-05-27 19:06] devversion commented on #19454
@mcalmus It broke with https://github.com/angular/angular/commit/a1001f2ea0e59e3ce20bcc8c93d6ab5a912f6a4a, and we started building release output with those changes in `next.2`. Staying on `next.1` is the current workaround.

[2020-05-27 19:06] mmalerba commented on #14555
The fixed size virtual scroll is not meant to handle items with a dynamic size. There is an autosize strategy in cdk-experimental (though as the name suggests, its experimental so use with caution).

[2020-05-27 19:06] #14555 closed

[2020-05-27 19:09] devversion commented on #17998
I've updated the StackBlitz, but it looks like this has been resolved https://stackblitz.com/edit/components-issue-une28f?file=app%2Fapp.module.ts. I was able to see some weird jump in the original StackBlitz you provided.

Can you please double-check if this is still an issue for you? We have an experimental form-field in the works that is based on MDC anyway. That might fix it too, if still an i

[2020-05-27 19:09] #17998 closed

[2020-05-27 19:16] crisbeto commented on #11590
This isn't something we support. `mat-autocomplete` is meant primarily to contain `mat-option` and `mat-optgroup`.

[2020-05-27 19:16] #11590 closed

[2020-05-27 19:17] mmalerba commented on #14336
Updated the stackblitz, still seems to be an issue: https://stackblitz.com/edit/angular-material2-issue-t86pgu?file=app/app.component.html

[2020-05-27 19:20] crisbeto commented on #12780
Looks like the related fix was merged a long time ago, but the PR wasn't tagged properly so the issue wasn't closed.

[2020-05-27 19:20] #12780 closed

[2020-05-27 19:24] crisbeto commented on #12990
The problem is that since you're returning it in a function, each change detection will return a brand new injector. Here's a example that works by reusing the injector. https://stackblitz.com/edit/angular-material2-issue-io8tn6

[2020-05-27 19:24] #12990 closed

[2020-05-27 19:25] mmalerba commented on #15104
The datepicker returns `Date` instances (or `Moment` instances if using the moment date adapter). It's up to you to decide how these are stringified and stored in your backend.

[2020-05-27 19:25] #15104 closed

[2020-05-27 19:37] crisbeto commented on #18801
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2020-05-27 19:37] #18801 closed

[2020-05-27 19:44] mmalerba commented on #14927
The legacy appearance is not intended to be used by new code. It was left in to avoid breaking old code and will eventually be removed. Therefore closing this issue

[2020-05-27 19:44] #14927 closed

[2020-05-27 19:53] mmalerba commented on #14631
If you enable the touch UI it displays as a dialog instead of popup and scrolls when it gets too small: https://oavkmmxbyma.angular.stackblitz.io/

[2020-05-27 19:53] #14631 closed

[2020-05-27 20:19] bursacmilan opened #19463 "Drag & Drop component with MatInput textarea throws an exception"
#### Bug
I'm using the Drag & Drop component. Basically it's a CdkDropList with Mat-Input textareas as drag items (cdkDrag). If I move a textarea (and do not click first on the textarea), all works as expected. But if I click first on the textarea, write something in it and move it, so the following error appears:
`Error in /turbo_modules/@angular/cdk@9.2.4/bundles/cdk-drag-drop.umd.js (1160:47)
F

[2020-05-27 20:30] jelbourn opened #19464 "Add guide for adding gestures to components"
With Angular v9, we removed direct gesture handling in Angular Material. We did this for a number of reasons, including:
* Drop dependency on mostly unmaintained HammerJS
* Give people flexibility to use other gesture solutions
* No requirement to add gesture code for users that don't actually want it
* Simplify project setup

However, we should still have a guide that explains how to _add_ gestur

[2020-05-27 20:31] jelbourn commented on #2209
I'm going to close this issue and instead track gesture guidance in #19464

[2020-05-27 20:31] #2209 closed

[2020-05-27 21:12] devversion commented on #11883
@QuickScoP3s Do you have any proposal in mind? This is obviously a limitation in browsers we are hitting due to our ripple implementation. `tr`, `td` elements are not displayed as blocks, hence `overflow: hidden` does not work. he incorrect position is also caused by a limitation of these table elements. See: https://bugs.chromium.org/p/chromium/issues/detail?id=417223.

There is not much we can d

[2020-05-27 21:17] devversion commented on #13904
This is actually the same for non-custom themes too: https://stackblitz.com/edit/comp-13904?file=.angular-cli.json.

It's working as expected as those are accessibility focus indicators which aren't affected by `disableRipple`. If you want to remove them, you could use CSS overrides, though we don't recommend disabling focus indication.

[2020-05-27 21:17] #13904 closed

[2020-05-27 21:25] devversion commented on #17146
Hello! I was trying to look into your issue, but unfortunately the reproduction does not work anymore (our bad since we took so long to take this up again; sorry!).

Please resubmit a new issue if this still surfaces. Thanks!

[2020-05-27 21:25] #17146 closed

[2020-05-27 21:34] QuickScoP3s commented on #11883
I didn't mean to sound rude (apologies if I did), but since the issue was still open, so I though the team was still working on it. I've been using the <mat-table> approach to work around the problem, as suggested, with the downside being the sticky headers not working...  I'd loved seeing a solution as I originally wanted to use sticky headers 😉 I had no idea that the table itself was the limitin

[2020-05-27 21:42] mmalerba commented on #12046
We intentionally leave the margin up to the user to apply. If we were to specify a margin and someone wanted a smaller one they would have to override our styles, so its easier to have it take up the minimum space in the layout by default

[2020-05-27 21:42] #12046 closed

[2020-05-27 21:44] devversion commented on #17782
Yeah, this is a great issue. I agree that this has never been a really good contrast. We are working on a form-field that is based on MDC. We should make sure that this is improved there, or at least double-check with the Material Design team whether this is intentional or not.

https://material-components-web.appspot.com/theme/index.html?theme=dark

At first I'd say that it looks better for the y

[2020-05-27 21:49] devversion commented on #11883
@QuickScoP3s No worries at all! Sorry if the state of the issue was unclear. I think we failed communicating clearly why this hasn't been resolved yet. Hopefully my latest message is clear enough. I've also created a demo StackBlitz that shows how ripples can be used together with native tables. That might be helpful to some people.

[2020-05-27 21:51] devversion commented on #16254
See https://github.com/angular/components/pull/19038.

[2020-05-27 22:16] devversion commented on #16862
@rcketscientist Thanks for this issue. I created a StackBlitz out of your reproduction: https://stackblitz.com/edit/comp-16862?file=src/main.ts.

With the latest version, I don't seem to be able to see the crash you mentioned, but I see an issue where the overlay container order is incorrect and the tooltip/select from the element are behind the actual dialog overlay. It depends on what overlay co

[2020-05-27 22:25] mmalerba commented on #12283
Marking as P4 because I would _like_ to do something about this, but I'm skeptical as to the feasibility. (I will take a look at the links people have posted though, maybe there are solutions I'm just overlooking)

[2020-05-27 22:25] jelbourn commented on #19434
IIRC the original reasoning was that handling full-screen mode was extra code that not everyone necessarily needed, so it was done in a separate class. If we were doing this from scratch, I'm not 100% sure we'd do the same thing, but I don't think it's enough of a problem to go through refactoring now.

[2020-05-27 22:25] #19434 closed

[2020-05-27 22:28] jelbourn commented on #19147
This is working as intended; the IDs must be unique.

[2020-05-27 22:28] #19147 closed

[2020-05-27 22:29] mmalerba commented on #11702
It's tough to tell without a reproduction link, but this _looks_ like a duplicate of https://github.com/angular/components/issues/11914 which I have confirmed has been fixed

[2020-05-27 22:29] #11702 closed

[2020-05-27 22:31] jelbourn commented on #19337
Confirmed that the animation is having issues on Safari. Might be a regression, since I don't remember seeing this in the past.

[2020-05-27 22:34] mmalerba commented on #9820
I think we should have some better way of handling steps with long titles, whether that's tooltips or something else I'm not sure. I've updated the title so it doesn't assume a particular solution

[2020-05-27 22:34] jelbourn commented on #15689
Duplicate of #10968

[2020-05-27 22:34] #15689 closed

[2020-05-27 22:36] KyleAlanDavis opened #19466 "bug([MatCheckbox]): MatCheckbox doesn't check on mobile in certain conditions"
#### Reproduction

Resubmitting  #17146, as noted on that issue.

I am not able to reproduce this on stackblitz, only in my current project.

When the viewing the page in mobile, clicking on the checkboxes causes the ripple effect on the background but does not check the checkbox. The regular html checkbox below it is able to be checked just fine.

Inspection of the event is showing that the event

[2020-05-27 22:43] jelbourn commented on #19463
@bursacmilan I tried your StackBlitz but it doesn't throw any errors. We don't have any `<canvas>` elements in the entire library, so I suspect it's probably something in your application.

Which browser / OS did you use?

[2020-05-27 22:47] #19352 closed

[2020-05-27 22:47] mmalerba commented on #14850
Updated the stackblitz, still seems to be a problem: https://stackblitz.com/edit/angular-4k8hf4-aqeava

[2020-05-27 22:48] jelbourn commented on #16144
Confirmed that this example is broken in IE11

[2020-05-27 22:48] KyleAlanDavis commented on #17146
I resubmitted #19466 and reworded the repro steps a bit. You have to load the page after it is in mobile view if you are doing it through Chrome Dev tools. (or reload after setting to mobile view). I'm guessing that's what happened when you checked it, because it still repros the same?

[2020-05-27 22:52] jelbourn commented on #16162
I also couldn't reproduce this on a Windows 10 PC w/ IE11. I don't think anyone on the team has access to a Windows 7 (or 8) PC, so if someone from the community wants to debug this to find the root cause that would be helpful.

[2020-05-27 22:55] jelbourn commented on #19180
It's unclear whether there is any bug w/ the cdk here; it sounds like you're just looking for troubleshooting help. Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc. If you are seeing some specific bug with the cdk, feel free to file a new issue with a reproduction.

[2020-05-27 22:55] #19180 closed

[2020-05-27 22:57] jelbourn commented on #16225
Duplicate of #10122

[2020-05-27 22:57] #16225 closed

[2020-05-27 22:57] jelbourn commented on #19162
Duplicate of #10122

[2020-05-27 22:57] #19162 closed

[2020-05-27 22:57] mmalerba commented on #9788
Here's an updated version of the stackblitz, still appears to be an issue: https://stackblitz.com/edit/angular-material2-issue-a3ftax?file=app/app.module.ts

[2020-05-27 22:59] jelbourn commented on #16214
@surajpoddar16 I don't quite follow. You said you have a custom menu implementation, but also that it's reproducible on material.angular.io?

[2020-05-27 23:01] mmalerba commented on #14866
I think this issue is asking about supporting multiple items per row? In which case it's a duplicate of https://github.com/angular/components/issues/10114

[2020-05-27 23:01] #14866 closed

[2020-05-27 23:01] jelbourn commented on #16237
(revisiting older issues as part of a triaging fix-it)

I don't think we'll add something like this; I think that each component's name is mostly self-explanatory.

[2020-05-27 23:01] #16237 closed

[2020-05-27 23:01] bursacmilan commented on #19463
Hi @jelbourn, when creating the GIF for the preview I noticed that I use an add-on for the spelling correction (the blue dot that appears). After uninstalling the addon, the error no longer occurs. The issue can be closed. Thanks & sorry.

![record](https://user-images.githubusercontent.com/16178688/83080276-13fea380-a07e-11ea-9104-5ce2e2d475b0.gif)

[2020-05-27 23:03] jelbourn commented on #16275
Duplicate of #15936

[2020-05-27 23:03] #16275 closed

[2020-05-27 23:05] jelbourn commented on #15936
This isn't something we plan on supporting for the menu. The W3C ARIA Authoring Practices for menu dictate that focus should also go to the first item: https://www.w3.org/TR/wai-aria-practices-1.1/#keyboard-interaction-12

[2020-05-27 23:05] #15936 closed

[2020-05-27 23:08] jelbourn commented on #16369
Duplicate of #11083

[2020-05-27 23:08] #16369 closed

[2020-05-27 23:10] jelbourn commented on #16186
(revisiting older issues as part of a triaging fix-it)

We aren't able to reproduce this; feel free to open a new issue with a reproduction on the latest version.

[2020-05-27 23:10] #16186 closed

[2020-05-27 23:12] wagnermaciel commented on #16408
This issue has been resolved by [PR #601](https://github.com/angular/material.angular.io/pull/601)

[2020-05-27 23:12] #16408 closed

[2020-05-27 23:12] mmalerba commented on #13161
Marking this as P5 because we've had a lot of changes trying to get this to work on every combination of browser and zoom level. What we have now is working pretty well in most cases

[2020-05-27 23:18] jelbourn commented on #16295
I just tried this with Angular v9 in Safari. I added the CSS rule:
[code]

The pink outline does correctly appear and disappear when the select opens and closes, so this may have been fixed in Angular v9.

[2020-05-27 23:18] #16295 closed

[2020-05-27 23:28] mmalerba commented on #12545
Here's an updated version of the stackblitz, still seems to have the issue: https://stackblitz.com/edit/ang5-matdatepickertoggle-disable-not-changing-on-formbui-h4sfen?file=app/app.component.ts

[2020-05-27 23:35] jelbourn commented on #11715
This is caused by a WebKit bug: https://bugs.webkit.org/show_bug.cgi?id=160953

`mat-sidenav-container` is `overflow: hidden` and has a `z-index`. This triggers the bug in Safari that incorrectly causes the `position: fixed` `mat-sidenav` element to be clipped by the containing `mat-sidenav-container`.

Since the WebKit bug has been open since 2016, we should probably work around this on our end.

[2020-05-27 23:35] jelbourn commented on #16491
Duplicate of #11715

[2020-05-27 23:35] #16491 closed

[2020-05-27 23:42] mmalerba commented on #14823
Looks like some kind of change detection issue, removing the `OnPush` change detection in the example component seems to fix it in the stackblitz

[2020-05-27 23:47] mmalerba commented on #11663
The toggle is bigger in the standard, outline, and fill variants than the legacy one - that is intentional. Legacy appearance should be avoided, it will be removed eventually.

The element with `matSuffix` also needs to be directly inside of the `<mat-form-field>` to be content projected correctly. Wrapping it in an extra `<ng-container>` will break it

[2020-05-27 23:47] #11663 closed

[2020-05-27 23:55] jelbourn commented on #17157
I suspect this has to do with the secret limits different browsers have on element sizes.

[2020-05-27 23:57] mmalerba commented on #10086
I think this is the same issue that seems to happen only on stackblitz tracked here https://github.com/angular/components/issues/9780

[2020-05-27 23:57] #10086 closed

[2020-05-27 23:58] mmalerba commented on #14516
Yeah this is definitely not something that will work out of the box currently. Will need some design work

[2020-05-28 00:01] jelbourn commented on #18073
(revisiting older issues as part of a triaging fix-it)

I don't really follow the request here. Feel free to open a new issue with more details.

[2020-05-28 00:01] #18073 closed

[2020-05-28 00:28] piltorious opened #19467 "bug(Sort Header): Sort only works if columns are updated"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/angular-ivy-o298jy

Steps to reproduce:
1. Create a material table with mat-sort directive (3 columns will do)
2. Add any data
3. Trigger event to apply sort through [matSortActive] and [matSortDirection]
4. Trigger another event to change the sort using the same bound string objects, do not update the displayed

[2020-05-28 00:57] mischkl opened #19468 "bug(MatSelectHarness): getOptions() returns results from another harness"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1. Add two mat-selects with the same selector (e.g. id="test") but different ancestor selectors to a page. Both should be multiple-selects. Add 3 options in the first select and no options in the second.
2. Write code that sets options of second select whenever selection wit

[2020-05-28 01:12] #19463 closed

[2020-05-28 02:35] markbirenbaum commented on #15936
My interest in this is to support the creation of drop down lists with richer UI and better accessibility than mat-select.  Mat-menu works quite well (including good accessibility) for this purpose, other than this one issue.

Would the recommendation be to go a little more raw and stick a list in an overlay and manually manage selection?

[2020-05-28 04:12] paulferaud opened #19469 "bug(MatProgressSpinner): Small Spinners with diameter <= 10 don’t show"
#### Reproduction

Create a spinner with diameter of 10:
 https://stackblitz.com/edit/angular-uwttkp?file=src/app/progress-spinner-configurable-example.html

#### Expected Behavior

See a small spinner

#### Actual Behavior

Can’t see the spinner

#### Notes

The spinner does not show because the svg has this element:
[code]
Notice the `r="0"`. I believe that’s the issue.

It’s set from here: http

[2020-05-28 05:26] FritzHerbers commented on #16275
@jelbourn
I accept your explanation in https://github.com/angular/components/issues/15936#issuecomment-634989803 that the first item has to be selected.

There is another issue, which is explained in:

3. Hovering over the other menu options does not release the first focused menu option
4. After hovering within a sub menu the first menu option's focus is removed

First menu option gets focused (*

[2020-05-28 05:54] crisbeto commented on #19468
This was fixed in https://github.com/angular/components/pull/19112, but I'm guessing that the duplicate IDs are throwing it off. We should be able to fix it on our end, but having multiple elements with the same ID on the page is invalid.

[2020-05-28 06:48] d052057 commented on #19267
Sorry about my last email. I though it was something else.  Regarding youtube player, I did write everything from scratch using javascript and that is the reason why I can access with no issues. ngx-plyr would be best for accessing and playing youtube video. It is the most complete version.
Thank you.
    On Tuesday, May 26, 2020, 03:37:43 AM PDT, Paul Gschwendtner <notifications@github.com> wrote

[2020-05-28 07:35] mmalerba commented on #12902
Closing as a dup of https://github.com/angular/components/issues/13161

[2020-05-28 07:35] #12902 closed

[2020-05-28 07:53] mmalerba commented on #15419
This looks like a dup of https://github.com/angular/components/issues/9780 which seems to only affect stackblitz examples

[2020-05-28 07:53] #15419 closed

[2020-05-28 07:56] mmalerba commented on #12002
Closing because this feature doesn't make sense for virtual scroll. If we decide to do an infinite scroll at some point in the future we will add support for this

[2020-05-28 07:56] #12002 closed

[2020-05-28 08:18] robo3945 commented on #17079
I'm not sure if my error is the same but after I migrated my app from Angular 8.2.3 to 9, only in the Editor (IntelliJIdea), I got:

<mat-tab-group [(selectedIndex)]="..."

==> "**Can't bind to [(selectedIndex)] since it is not provided by any applicable directives" on the "selectedIndex**"

                              (selectedTabChange)="...">
==> "**Event selectedTabChange is not emitted by a

[2020-05-28 08:43] tobiasschweizer commented on #18790
I am facing an issue with `type="number"` and number strings with fractions:

- `setValue('1.5')`
- `getValue()` -> '5'

@crisbeto Do you want me to open a new issue for this?

[2020-05-28 08:49] crisbeto commented on #18790
The fix for this issue should fix yours as well @tobiasschweizer.

[2020-05-28 08:58] tobiasschweizer commented on #18790
That's great news!

Should we add an `it` for a number string with decimals in https://github.com/angular/components/blob/ccab78c2c4b45c51d6eabc6cc70b4541c80dbc10/src/material/input/testing/shared.spec.ts?

[2020-05-28 09:20] devversion commented on #19468
I just marked this as P5 (feel free to update @crisbeto). Personally, I'm not sure if it would be worth fixing this on our side since I think it's a valid assumption the harness can make (i.e. that there are not multiple selects with the same explicit id).

[2020-05-28 09:24] mischkl commented on #19468
The problem is, we are using the [`ng-dynamic-forms`](https://github.com/udos86/ng-dynamic-forms) library and there it is not possible to remove the id binding, and fairly common to have form controls with the same ID, for instance when using form arrays or when using. It may not technically be correct but it unfortunately occurs fairly regularly for our use case.

[2020-05-28 09:33] devversion commented on #19466
@KyleAlanDavis Thanks for resubmitting. The reproduction does not work for me. I always get a `403` forbidden status response. It sounds slightly surprising that the problem you're describing only surfaces in your project, but not in a StackBlitz.

[2020-05-28 09:47] devversion commented on #18705
Looks like your library module does not import `MatButtonModule`. The compiler is not able to automatically infer what the `mat-button` attribute in the dialog component resolves to.

[2020-05-28 09:47] #18705 closed

[2020-05-28 09:49] devversion commented on #18113
Hello! I was unable to see this in our documentation page. Could you please provide more context on where you see this?

[2020-05-28 09:52] devversion commented on #17889
Sounds like a reasonable feature request to me. Native elements (such as `input`) do not emit on programmatic changes either, so we should definitely match that.

https://stackblitz.com/edit/comp-17889?file=src/app/app.component.html

[2020-05-28 10:00] devversion commented on #14500
Hello! I think this issue no longer surfaces. Also we are working on a new form-field that is based on MDC. If this is still an issue for you (I wasn't able to see it), then most likely the MDC implementation will solve that.

I'm closing that in the meanwhile, but happy to re-open if you can point me to something. I'm using IE11.836.18362.0

[2020-05-28 10:00] #14500 closed

[2020-05-28 10:10] devversion commented on #13928
I updated the StackBlitz to the latest version and this error no longer shows up. I also updated the StackBlitz to actually render the selected tab. Works as expected.

https://stackblitz.com/edit/angular-2dobc6?file=src%2Fapp%2Fapp.component.html

[2020-05-28 10:10] #13928 closed

[2020-05-28 10:24] mischkl commented on #19468
Just verified that the same behavior occurs regardless of which selector is used to get the harness, as long as the duplicate ID is used.

[2020-05-28 10:27] devversion commented on #15051
Seems like this is still an issue. Here is an updated reproduction: https://stackblitz.com/edit/angular-cgmaeh?file=app%2Fdialog-overview-example.html

It looks like the app misses `margin: 0` for `body` and `html`. The scrolling appears due to the `body` element being shifted down. It seems to be shifted down due to the first `<p`> element margin.

[2020-05-28 10:28] devversion commented on #14510
@jelbourn I think we have the majority of harnesses implemented and the rest is tracked within JIRA. Should we consider closing this issue or update it to reflect the current state?

[2020-05-28 10:32] devversion commented on #12744
Seems like this is working as intended and there are limitations around supporting arbitrary position strategies for the dialog. For other use-cases, as @crisbeto pointed out, the CDK overlay could be used.

[2020-05-28 10:32] #12744 closed

[2020-05-28 10:39] devversion commented on #12602
Hello! I was unable to reproduce this on my end. Could you please double-check if this is still an issue for you? Closing this in the meanwhile as this is issue is quite old and most likely not up-to-date anymore (sorry for us taking so long!)

[2020-05-28 10:39] #12602 closed

[2020-05-28 10:44] thw0rted commented on #18606
@devversion Looking back at the OP, maybe the actual resolution is that this is effectively a duplicate of #3125.  That issue more directly address the problem.

[2020-05-28 10:47] crisbeto commented on #19468
Yes, that will solve the problem. We use the ID to tie a select to its overlay panel. The panel uses a scheme that looks like `{{ id of the select }}-panel`.

The harnesses support any valid CSS selector so you could use an attribute or a class to distinguish between the selects.

[2020-05-28 10:48] thw0rted commented on #3125
Just came from #18606.  I think confusion arose there because the docs agree with @jelbourn, [telling you to use camelCase directives](https://material.angular.io/components/list/overview), but the [example for the same components](https://material.angular.io/components/list/examples) shows the directives in dash-case (`<mat-icon mat-list-icon>folder</mat-icon>`).

Would it make sense to resolve t

[2020-05-28 10:53] devversion commented on #12191
Hello! I was trying the OP stackblitz and updated it to the latest version. I'm not able to see the issue: https://stackblitz.com/edit/comp-12191?file=main.ts. I also tried the StackBlitz provided by @FallenRiteMonk, but I was not see any unexpected behavior.

Can someone please provide more context on whether this is still an issue, and on how one can see the issue? I've tried with `Android 8 Chr

[2020-05-28 11:04] mischkl commented on #19468
With the mat-select there is no "label" attribute - it's nested somewhere deep inside the rendered HTML structure, which makes it unusable for a selector. Seeing as the whole point of these harnesses is to provide an API to the components that shields from having to know about their internals, I would expect a lot more options to be offered by the SelectHarnessFilters - label, placeholder, etc. An

[2020-05-28 11:14] mischkl opened #19470 "fr(MatSelectHarness): Allow clicking/getting options by value instead of label"
#### Feature Description

Allow clicking and getting options from MatSelectHarness by value instead of label.

#### Use Case

In our application the labels for selects may change due to requirements changing over time, but the values don't. Therefore it would be more helpful for the OptionHarnessFilters to allow filtering by value than by text.

[2020-05-28 11:20] mischkl opened #19471 "fr(MatSelectHarness): more options for SelectHarnessFilters"
#### Feature Description

At the moment the MatSelectHarness can only be retrieved by selector. It would be helpful if other options were available such as label, placeholder, text, or form control name.

#### Use Case

Solely relying on selectors to get MatSelectHarness requires the templates to be designed in a specific way, for instance with custom attributes - this feature would make developer

[2020-05-28 11:21] DwieDima opened #19472 "fr(google-maps): add forRoot() for global initializing"
#### Feature Description

like many modules already use it, it would be nice if you could initialize the Google Map with the method `forRoot()` in `app.module.ts` with given parameters.

#### Use Case

initialize with parameters like:

- apiKey (link apiKey from environment.ts)
- language
- region
- styles (set global styles for map and marker)

These are the first ones I thought of. I'm sure ther

[2020-05-28 11:26] SamuelMarks opened #19473 "bug([MatButtonModule,FlexLayoutModule]): Button below 17px—and thus invisible text—on Safari"
#### Reproduction

https://stackblitz.com/edit/angular-ivy-4fjl3s

Steps to reproduce:
1. Open on Safari (tested with 13.1.1 (15609.2.9.1.2) on macOS)
2. Widen stackblitz rendered output Window

#### Expected Behavior

Every other browser I tried (Chrome, Firefox) shows the full button for every screen size.

#### Actual Behavior

Unable to see it:
<img width="567" alt="Screen Shot 2020-05-28 at 9

[2020-05-28 12:00] qiufengyu commented on #18950
Thanks for the reply.
If someone click "cancel" in the confirm dialog, the state should not be change. The updated repo does not solve the problems.
Users may not want to press space to switch the content.

[2020-05-28 12:08] bah99 commented on #15222
I had the same issue, i fixed it by doing:
add this in the input that will update requirements (html)
`(ngModelChange)="updateRequiredValues($event)"`

in (TS) add this:
`updateRequiredValues(event) {
        if (condition) {
            this.configForm.get('title').setValidators([]);
            this.configForm.get('title').updateValueAndValidity();
        } else {
            this.configForm.ge

[2020-05-28 12:38] devversion commented on #18950
Looks like I didn't share the right StackBlitz. https://stackblitz.com/edit/comp-18950?file=src%2Fapp%2Fslide-toggle-overview-example.ts.

Does that work better for you?

[2020-05-28 12:40] devversion commented on #19472
That might be somewhat similar to https://github.com/angular/components/issues/17037.

[2020-05-28 12:43] devversion commented on #19472
@DwieDima Aren't these things currently all configurable as we don't load the Google Maps API automatically? So it's actually the responsibility of actual consumers of the `google-maps` package.

Is this a proposal that we should load the API automatically and provide these options?

[2020-05-28 12:48] DwieDima commented on #19472
@devversion yes, you can configure all this yourself.
But it would be nicer to set this globally. For example I have to set the style of the map again, if I want to use the component in a new page.

To answer your question: yes.

[2020-05-28 12:50] devversion commented on #19471
Seems like a reasonable feature request to me. I don't think we can handle the label in a good way as that is usually disconnected from the select (as it is adjacent and part of the form-field).

Though I can definitely see us handling the selected (display) value and placeholder (need to figure out how we can access the placeholder as that one is not always rendered)

[2020-05-28 12:54] devversion commented on #19472
@DwieDima Thanks for the quick response. Could you help providing a small example of styles you are referring to? My thinking is that apiKey, language, region etc. are configurable when you actually load the API. That should be global to your application.

So only the styles are a concern here? Are you talking actual settings in the `google-maps` component, or CSS styles that you need to write mul

[2020-05-28 12:58] devversion commented on #19470
cc. @crisbeto. I think that we cannot do that as the value could be any arbitrary (non-string) value that doesn't necessarily translate well to the DOM. The harnesses only work on the actual DOM (and do not have access to component instances), so we cannot retrieve the value.

That is most likely also the reason why there only is a `getText()` method for the option harness.

[2020-05-28 13:03] DwieDima commented on #19472
I'm referring to the implementation like [agm/core](https://angular-maps.com/api-docs/agm-core/interfaces/lazymapsapiloaderconfigliteral#info) did.
Also [ionic](https://ionicframework.com/docs/angular/config) did it pretty well and high customizable.

My intention would be to set basic config like apiKey, but also styling options like google.maps.MapTypeStyle and pins.

my PR was mainly created to

[2020-05-28 13:04] devversion commented on #19468
@mischkl Can you elaborate on what you'd expect from the harness here?

I see that you submitted separate issues for better filtering. That's great. Thanks. I don't think the select harness has a bug in the perspective of this issue, and there is no good way for us to resolve this problem as it surfaces through invalid manually set ids. It seems like this is working as expected and it's a bug in `

[2020-05-28 13:04] rcketscientist commented on #16862
The crash (dead overlay) does indeed seem to be gone, that's good.  I had a note in our workaround that Ivy would solve this, but I don't recall at this point what led me to that assumption.

While our app architecture changed and we no longer have this issue, what I had done was this:

[code]

[code]

That gave us the flexibility to target the containers and avoid collisions (when that was still

[2020-05-28 13:09] devversion commented on #19472
Thanks for clarifying. So I think there are two parts you're requesting:

1. Global options for the API loading mechanism. That would also involve us automatically loading the google-maps API (currently that's up to the user)
2. Global options for actual google-map parts (such as `google.maps.MapTypeStyle`).

Both of those things sound like reasonable feature requests to me. I'm slightly unsure ab

[2020-05-28 13:12] Totati opened #19474 "docs-bug(datepicker): Date range picker validation errors"
#### Documentation Feedback
Displaying validation errors for date range picker is really obscure. Filter error can be applied for both start and end control (not once), however min is only for start, and max is only for end. This should be documented, because figure it out by yourself is quite confusing.
https://stackblitz.com/edit/angular-mat-date-range-picker-validation

**Affected documentation

[2020-05-28 13:45] naabin commented on #19015
What are you trying to do?
I am trying to render the mat-table in angular universal

What are you seeing that does not match your expectations?
The page throws an error saying ERROR TypeError: Cannot read property 'nativeElement' of undefined

Environment
Angular: 8.3.26
CDK/Material:8.2.3
Browser(s):Chrome
Operating System (e.g. Windows, macOS, Ubuntu): macOS
**Stack Trace**
`main-es2015.046ffa25

[2020-05-28 14:22] jelbourn commented on #3125
Yes, a docs review would be useful to make sure we're not using any deprecated selectors (we didn't have this rule totally internalized when we first started, and some of the old inconsistent APIs stuck around).

[2020-05-28 14:23] jelbourn commented on #14510
Yes this can be closed.

[2020-05-28 14:24] jelbourn commented on #16275
In general, hoving doesn't change browser focus. IMO this is working as intended.

[2020-05-28 14:27] jelbourn commented on #15936
FWIW we plan to create a new version of mat-select relatively soon that has much better a11y and should support more complex interactions. I don't have an exact timeframe, but it's currently the top item on our Jira queue.

[2020-05-28 14:44] lukaonik opened #19475 "docs-bug([FocusTrap]): [Leak documentation about cdkTrapFocusAutoCapture]"
#### Documentation Feedback

there is a directive called cdkFocusInitial, which is used to focus an initial element, with FocusTrap directive, but the missing point is that if you don't add cdkTrapFocusAutoCapture=true to the FocusTraped element, cdkFocusInitial directive will not work, currently, there is no documentation about that (see  https://material.angular.io/cdk/a11y/overview#regions )
so

[2020-05-28 15:14] crisbeto commented on #11499
I can't reproduce the issue anymore. Closing.

[2020-05-28 15:14] #11499 closed

[2020-05-28 15:20] crisbeto commented on #10782
This seems to be handled by the focus trap in the latest version. Closing.

[2020-05-28 15:20] #10782 closed

[2020-05-28 15:28] crisbeto commented on #11841
I wasn't able to reproduce it with the latest version. Closing.

[2020-05-28 15:28] #11841 closed

[2020-05-28 15:39] crisbeto commented on #11514
Closing, because from what I can tell, there isn't a way we can do this since `mat-select` is a custom element.

[2020-05-28 15:39] #11514 closed

[2020-05-28 15:52] crisbeto commented on #14382
Closing since this isn't something that we support.

[2020-05-28 15:52] #14382 closed

[2020-05-28 15:54] KyleAlanDavis commented on #19466
@devversion Apologies, the site was only accessible to USA ipaddresses. I've gotten them to open up the test site, so [https://test.aryv.com/checkbox-test](https://test.aryv.com/checkbox-test) should work everywhere.

[2020-05-28 16:09] mmalerba commented on #15277
This is a limitation of Angular's content projection. https://github.com/angular/angular/issues/37319 has been filed to hopefully improve some of the short-comings

[2020-05-28 16:09] #15277 closed

[2020-05-28 16:12] crisbeto commented on #16048
It's not really autocompleting the date, it just tries to parse the current input that's the date it arrived at. I don't think we can make assumptions about when the user is done typing. Closing since this is one of the use cases for a custom date adapter.

[2020-05-28 16:12] #16048 closed

[2020-05-28 16:13] mmalerba commented on #11663
I've file an issue on angular/angular about the confusing behavior when using `ng-container` https://github.com/angular/angular/issues/37328

[2020-05-28 16:16] crisbeto commented on #16664
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2020-05-28 16:16] #16664 closed

[2020-05-28 16:18] mmalerba commented on #14009
This is a limitation of Angular's content projection. https://github.com/angular/angular/issues/37319 has been filed to hopefully improve some of the short-comings

[2020-05-28 16:18] #14009 closed

[2020-05-28 16:19] hvinh opened #19479 "Dialog: not possible to scroll content with arrow keys"
## Bug, enhancement request, or proposal

Bug

# Demo and steps to reproduce the issue

**Demo URL (required)***:  https://stackblitz.com/edit/angular-13nutg?file=src/app/dialog-overview-example-dialog.html

#### Detailed Reproduction Steps
1. Add more content in the dialog to make content bigger than the viewport
2. Try to scroll the content using up and down arrows

### Explain the expected beha

[2020-05-28 16:21] mmalerba commented on #10932
I've opened an issue on angular/angular about the content behavior being confusing with `<ng-container>` https://github.com/angular/angular/issues/37328

[2020-05-28 16:22] lukaonik commented on #19475
I could make the PR with the following changes:
adding note after the example  https://material.angular.io/cdk/a11y/overview#regions
( cdkFocusTrap needs to have  cdkTrapFocusAutoCapture property to TRUE, in order to focus cdkFocusInitial element automatically upon initialization )

[code]
what do you think about that @crisbeto ?

[2020-05-28 16:26] crisbeto commented on #17233
I can see the issue, but I don't think there's anything we can do about it. The progress bar is animated using CSS and the browser can decide to pause the animation if there's a lot of scripting going on in the main thread (e.g. when a new route is being created).

[2020-05-28 16:26] #17233 closed

[2020-05-28 16:26] mmalerba commented on #9438
This is a limitation of Angular's content projection. https://github.com/angular/angular/issues/37319 has been filed to hopefully improve some of the short-comings

[2020-05-28 16:26] #9438 closed

[2020-05-28 16:28] mmalerba commented on #9411
This is a limitation of Angular's content projection. https://github.com/angular/angular/issues/37319 has been filed to hopefully improve some of the short-comings

[2020-05-28 16:28] #9411 closed

[2020-05-28 16:28] crisbeto commented on #17128
The select has no way of knowing where the panel is going to go from the custom `panelClass`. Overriding the built-in styles with `panelClass` is at your own risk.

[2020-05-28 16:28] #17128 closed

[2020-05-28 16:29] talamaska opened #19476 "bug(Overlay): When attaching an overlay to the DOM, the whole page flickers"
#### Reproduction
Steps to reproduce:
1. create an ng-template with cdkPortal directive
2.  create an OverlayRef with Overlay
3. attach the template ref (CdkPortal) to the OverlayRef

#### Expected Behavior

When I call this sequence of actions I expect to see a modal without causing the page to flicker.

#### Actual Behavior
for a fraction of a second all texts are invisible on the page
which cre

[2020-05-28 16:32] mmalerba commented on #8014
This is a limitation of Angular's content projection. https://github.com/angular/angular/issues/37319 has been filed to hopefully improve some of the short-comings

[2020-05-28 16:32] #8014 closed

[2020-05-28 17:13] jsdevtom commented on #13087
A slight change to @yogeshgadge's solution and changing the buffers as suggested by @kubex320 solved all the white space issues.

[code]

[code]

[2020-05-28 17:15] andrewseguin commented on #19467
Thanks for the detailed reproduction - this definitely seems like a bug

[2020-05-28 17:17] andrewseguin commented on #16952
This will likely be fixed by #13297 when we adjust the innerHTML of the sort header (removing the button)

[2020-05-28 17:22] andrewseguin commented on #16873
This is intended since change detection needs to run for the sort header's animation. In general, using functions to render template HTML will be more expensive since Angular cannot know if the function's value will be changed. Otherwise, Angular is a bit smarter about checking if the value is dirty and is far more performant.

[2020-05-28 17:22] #16873 closed

[2020-05-28 17:24] andrewseguin commented on #16705
If you debug your ngOnInit, youll see that you are not passing the MatSort to the datasource. This is because the ViewChild incorrectly marks it as static. Youll want to change it so that the MatSort is set after the view is initialized and you are sure the table is in the view

[2020-05-28 17:24] #16705 closed

[2020-05-28 17:26] crisbeto commented on #17040
Will be addressed by https://github.com/angular/components/pull/16611.

[2020-05-28 17:26] #17040 closed

[2020-05-28 17:27] andrewseguin commented on #16377
This issue is lacking a reproduction. I suspect you are updating the data directly, and the table has no way of knowing that the cells should be re-rendered. Instead, the data source data should change and emit to the table

[2020-05-28 17:27] #16377 closed

[2020-05-28 17:28] andrewseguin commented on #16317
@jelbourn Were all the relevant issues broken out into separate issues? Should this be closed?

[2020-05-28 17:30] andrewseguin commented on #16283
This seems to be an issue with layout and styles that can be resolved with overrides. I dont believe there is any action we can take here

[2020-05-28 17:30] #16283 closed

[2020-05-28 17:31] andrewseguin commented on #14956
ng-deep is the recommended way to deeply style component internals. I think the Angular team has retracted its status as being deprecated since there is no other suggested solution

[2020-05-28 17:31] #14956 closed

[2020-05-28 17:37] mischkl commented on #19468
I guess it could be considered a bug of `ng-dynamic-forms` but basically it's the way it works, it assigns IDs based on dynamic form models, and every model is required to have an idea - which is also the name of the form control. The problem comes when either a combination of two dynamic forms are on a page, both of which happen to use the same form control names, or when one uses a dynamic form

[2020-05-28 17:44] andrewseguin commented on #13450
We use the browser's native sticky positioning, so changing the appearance is out of our control

[2020-05-28 17:44] #13450 closed

[2020-05-28 17:45] crisbeto commented on #17787
Closing since I wasn't able to reproduce it last time around and there hasn't been any new activity in a long time.

[2020-05-28 17:45] #17787 closed

[2020-05-28 17:49] andrewseguin commented on #13316
We intentionally made it so that the paginator does not automatically change its page index, since it cannot know for sure what page you are intending it to go to.

[2020-05-28 17:49] #13316 closed

[2020-05-28 17:54] josephperrott commented on #15172
Closing as this issue seems a bit outdated and we aren't really able to take any action on the current information.  If you are still having an issue feel free to open another issue in the repo.

[2020-05-28 17:54] #15172 closed

[2020-05-28 17:56] crisbeto commented on #18022
Looks like the original issue was resolved. Closing.

[2020-05-28 17:59] andrewseguin commented on #13053
If you change the data in the data source, it does not know what page you intend it to be on. This is something you should control through a binding to the paginator. For example, perhaps the new data is entirely new and should go to page 1, or perhaps data has been removed and it should go to the previous page. Since the answer is not clear, we leave it to the user to set

[2020-05-28 17:59] #13053 closed

[2020-05-28 18:00] crisbeto commented on #18452
We have to put the overlays at the end of the body in order to avoid issues with `overflow: hidden` and to simplify focus management. Closing the issue since it has always been this way and it's unlikely to change.

As for getting the options that belong to a select or autocomplete, the `MatAutocompleteHarness` and `MatSelectHarness` expose the options that belong to them already.

[2020-05-28 18:00] #18452 closed

[2020-05-28 18:16] andrewseguin commented on #13370
Are you using a trackBy function to preserve rows for each data item

[2020-05-28 18:18] crisbeto commented on #18941
Your text probably isn't long enough. Here's an example that shows it breaking into multiple lines. https://stackblitz.com/edit/angular-3sn1ge?file=src/app/tooltip-overview-example.html

[2020-05-28 18:18] #18941 closed

[2020-05-28 18:22] devversion commented on #16459
I think @tomicarsk6 is correct. This is actually how change detection has been designed and in the past this just worked by accident since the initial breakpoint observer emit was delayed.

Happy to chat more about this if desired.

[2020-05-28 18:22] #16459 closed

[2020-05-28 18:24] andrewseguin commented on #13030
This issue has grown to include several different issues. It would help us a lot if each issue is opened independently so that we can track them, especially with provided stackblitz reproductions.

Please note that using ng-container around the rows is not our recommended approach to rendering different rows, instead please use the when predicate.

With regards to the first issue, it sounds like i

[2020-05-28 18:24] #13030 closed

[2020-05-28 18:25] Humberd commented on #18022
The original? Can you link it?

[2020-05-28 18:25] andrewseguin commented on #12612
Sounds like this issue has been resolved using style overrides

[2020-05-28 18:25] #12612 closed

[2020-05-28 18:27] devversion commented on #16416
That is definitely a great idea. It would be great if we could spend some time on these things.

[2020-05-28 18:27] andrewseguin commented on #12565
Seems this is a CSS issue that can be resolved. I dont foresee us being able to make any changes to the cells to accommodate this case.

W.R.T. to the checkbox causing weird height issues, Im not currently seeing that but if it remains an issue on your side, please open an issue so we can look into it

[2020-05-28 18:27] #12565 closed

[2020-05-28 18:28] crisbeto commented on #18022
Ah sorry, I thought that the last comment from @FMagarik was referring to the initial issue.

[2020-05-28 18:28] devversion commented on #16417
I think this might be also related to https://github.com/angular/components/issues/13265

[2020-05-28 18:30] crisbeto commented on #19476
Can you post a Stackblitz that shows the issue? We have several components that use the same pattern that you're describing and they don't cause any flickering.

[2020-05-28 18:34] devversion commented on #16107
I haven't been looking specifically in our themes, but it would be great if we'd capture a few individual things that do not match up with the Material Design specification. Definitely something we should look into though.

[2020-05-28 18:34] mfilar commented on #11841
there is still a little shift on material v9.2.4...
See this https://stackblitz.com/edit/components-issue-9c7ddi?file=src%2Fstyles.scss
Compare opening the select overlay when you have selected value (like Apple) and then uncomment a line #21 in styles.scss - then the overlay text fits perfectly over the one inside the select input

[2020-05-28 18:35] crisbeto commented on #10618
Closing since there isn't much we can do about this. If we want the dialog to center itself automatically, it has to respond to size changes which will cause the jumping.

[2020-05-28 18:35] #10618 closed

[2020-05-28 18:38] crisbeto commented on #11841
I see what you mean, but unfortunately it's very difficult to guarantee that the panel will be 100% aligned with the text, especially when dealing with smaller fonts. We may also remove this behavior altogether in the future since, from what I remember, it's not in the Material design spec anymore.

[2020-05-28 18:40] devversion commented on #15809
The problem here is that the form-field technically doesn't care about the readonly state of controls. In fact, the form-field deals with abstract form controls and doesn't even known whether form controls support a readonly state or not.

If we'd want to toggle a class on the form-field for more convenience, then this would require us to proxy it through `MatFormFieldControl` (might be breaking).

[2020-05-28 18:40] devversion commented on #15809
Also cc. @mmalerba for thoughts on this.

[2020-05-28 18:40] andrewseguin commented on #12087
The issue here is that the sort function does not know whether the user is trying to sort numbers or strings. It simply compares two values at a time. This causes some issues if the array contains both.

To fix this, provide a sort data accessor that does not try to coerce numbers from a string. Just make the data accessor return the value directly:

[code]

https://stackblitz.com/edit/angular-y8p

[2020-05-28 18:41] #12087 closed

[2020-05-28 18:42] mmalerba commented on #16411
The form-field should do its best to recalculate the label size, but if it doesn't, you can use the [`updateOutlineGap`](https://github.com/angular/components/blob/master/src/material/form-field/form-field.ts#L534) API to do it manually.

If this doesn't cover your use case, please provide a reproduction demonstrating the issue

[2020-05-28 18:45] andrewseguin commented on #11978
You can use the row's `when` predicate as a function of whether a particular row template should be rendered.

[2020-05-28 18:45] #11978 closed

[2020-05-28 18:47] mfilar commented on #11841
understood, for my use case, I can fix with this single line of style as we have a fixed font size. Thanks for your reply

[2020-05-28 18:48] andrewseguin commented on #11953
Some good recommendations have been given. Another improvement you can make is to only provide data to the table that you expect to be in the viewport. For data not expected in the viewport, you can send an empty object. Listen for scroll events to know when the data should be filled in

[2020-05-28 18:48] #11953 closed

[2020-05-28 18:49] andrewseguin commented on #11942
I wish we could provide some assistance but without a reproduction, we are shooting in the dark. Have you tried asking on StackOverflow?

[2020-05-28 18:49] #11942 closed

[2020-05-28 18:51] andrewseguin commented on #11783
We now support a simple column - you can check out its code to see how it was accomplished

https://github.com/angular/components/blob/master/src/cdk/table/text-column.ts

[2020-05-28 18:51] #11783 closed

[2020-05-28 18:53] #11782 closed

[2020-05-28 18:55] andrewseguin commented on #11645
This seems to have been fixed by #11628

[2020-05-28 18:55] #11645 closed

[2020-05-28 18:56] #11584 closed

[2020-05-28 18:57] mmalerba commented on #16866
appears to be fixed https://stackblitz.com/edit/components-issue-5fpk3o?file=src/app/example-component.html

[2020-05-28 18:57] #16866 closed

[2020-05-28 18:58] devversion commented on #15862
Hello! I just tried this with a new CLI library. I don't seem to be able to run into an error and if there would be one, then that would be a framework bug. If `@Inject` is specified, the parameter type is not of interest for the Angular compiler.

[2020-05-28 18:58] #15862 closed

[2020-05-28 19:00] jelbourn commented on #16317
IIRC we did break the this into separate separate issuers so it can be closed

[2020-05-28 19:00] #11301 closed

[2020-05-28 19:00] devversion commented on #8975
I'm closing this issue as we already have schematics and we should use individual tickets now for planned work.

[2020-05-28 19:00] #8975 closed

[2020-05-28 19:01] mmalerba commented on #16699
I think the specific example you listed does need the setter, so it can emit on the `stateChanges` observable. There are other ways that could be handled (i.e. do it in `ngOnChanges`), but the code is not there for no reason.

That said if someone wants to take a stab at simplifying this guide I'd be happy to take a look

[2020-05-28 19:04] #13736 closed

[2020-05-28 19:05] crisbeto commented on #14443
Browsers usually try to scroll the focused element into the view so this works as expected. If you want to handle the focus restoration yourself, you can open the dialog with the `restoreFocus = false` option.

[2020-05-28 19:05] #14443 closed

[2020-05-28 19:08] devversion commented on #11822
Hello! We landed a change in August 2018 that deferred the event so that it runs a tick after the content has been checked. That might have improved the situation.

Please let us know if this still an issue. We are happy to look into it. Thanks!

[2020-05-28 19:08] #11822 closed

[2020-05-28 19:10] andrewseguin commented on #10937
I believe this has been resolved

[2020-05-28 19:10] #10937 closed

[2020-05-28 19:13] mmalerba commented on #16368
This has been fixed, here's an updated version of the stackblitz https://stackblitz.com/edit/components-issue-3qa5cp?file=app/app.module.ts

[2020-05-28 19:13] #16368 closed

[2020-05-28 19:16] andrewseguin commented on #16591
Just tried this on my device by going to material.angular.io - the tooltip appeared with a longpress

[2020-05-28 19:16] #16591 closed

[2020-05-28 19:17] devversion commented on #11858
I'd have said that the current solution is to just determine the tab index based on the label, but it looks like that doesn't work very well as:

1. We don't expose `_tabs` as public API (the internal variable that determines the tab indices)
2. We don't have a construct of assigning a unique id to a `mat-tab`. A label is not always computable as it can be an arbitrary template rendered (i.e. `@In

[2020-05-28 19:23] devversion commented on #18984
Hello! would you be able to provide a small reproduction? I don't think we have the resources to build up these demos on our own. That would be great. Thanks!

[2020-05-28 19:27] crisbeto commented on #17054
Should be covered by https://github.com/angular/components/issues/13340.

[2020-05-28 19:27] #17054 closed

[2020-05-28 19:28] mmalerba commented on #17963
confirmed this is still an issue, here's an updated stackblitz: https://stackblitz.com/edit/components-issue-zmlg1j?file=app/app.module.ts

[2020-05-28 19:29] devversion commented on #18989
That's a great suggestion. Thanks!

The MDC-based form-field has the label before the projected content (e.g. the `<input>` element) in the filled variant. In the outline appearance, the label is also before, but hierarchically higher.

[2020-05-28 19:30] andrewseguin commented on #16387
You should bind your own custom attributes rather than relying on Angular to leave these messages in place.

https://stackblitz.com/edit/angular-tooltip-material-f9m2dj?file=src/app/tooltip/basictooltip.html

[2020-05-28 19:30] #16387 closed

[2020-05-28 19:31] LanderBeeuwsaert commented on #11858
For info:
My workaround for this is:

  @ViewChildren(MatTab) tabs: QueryList<MatTab>;

    this.tabGroup.selectedIndexChange.subscribe((index: number) => {
      this.currentTabName = this.tabs.toArray()[index].textLabel;

[2020-05-28 19:32] andrewseguin commented on #16216
Showing a custom popover template is wanted, but very difficult to implement with good accessibility. For that reason, we do not have plans to add custom templates to our tooltips

[2020-05-28 19:32] #16216 closed

[2020-05-28 19:39] gerhard17 commented on #15809
@devversion : Of course a real solution should be more generic. But the most common case needed to support readonly state are text input fields. For this case my workaround was made for. A more general built-in solution would be usefull and wellcomed! :-)

[2020-05-28 19:42] mfairchild365 opened #19477 "fr(Checkbox): Allow `aria-describedby` on checkboxes"
#### Feature Description

There are situations where `aria-describedby` may be needed on [checkboxes](https://material.angular.io/components/checkbox/api#MatCheckbox).

#### Use Case

These situations are similar to why the attribute [is allowed on radio buttons](https://material.angular.io/components/radio/api#MatRadioButton).

[2020-05-28 19:47] andrewseguin commented on #13593
Seems to be working okay right now - tried it on my device and it was able to successfully show the tooltip consistently

[2020-05-28 19:47] #13593 closed

[2020-05-28 19:52] mfairchild365 opened #19478 "bug(checkbox): `aria-label` and `aria-labelledby` result in duplicate attributes and verbose screen reader experience"
#### Reproduction

1. Use NVDA 2020 and Chrome 81
2. Navigate to https://angular-kjejjn-2lxw6j.stackblitz.io
3. Tab to the second example "two labels"
4. Observe that the output is "clickable  Check me! hello  Check me! hello  check box  not checked"
5. Inspect the rendered DOM and observe that `aria-labelledby` is on both the `<mat-checkbox>` and `<input type="checkbox>`.

#### Expected Behavior

[2020-05-28 20:02] mmalerba commented on #19479
Here's a stackblitz repro: https://stackblitz.com/edit/angular-13nutg?file=src/app/dialog-overview-example-dialog.html

[2020-05-28 20:08] mmalerba commented on #19100
@jennynju is correct, though rather than a `setTimeout` I would just do `event.stopPropagation(); event.preventDefault()`

[2020-05-28 20:08] #19100 closed

[2020-05-28 20:41] Splaktar commented on #13265
This is a pretty good, open-source option: https://www.nikhilwalvekar.com/ng-mat-theme-generator/

[2020-05-28 20:52] mmalerba commented on #17079
I ran the original reproduction that was given and created an Ivy stackblitz with the given code, in both cases it compiled fine, so I think this was fixed.

[2020-05-28 20:52] #17079 closed

[2020-05-28 21:19] jelbourn commented on #16443
(revisiting older issues as part of a triaging fix-it)

The problem here is that you're not actually scrolling the `mat-sidenav-content` element- the `body` element is scrolling. The way `position: sticky` works is that it's sticky relative to its containing element, so when the _body_ scrolls instead, the entire `mat-sidenav-content` is being scrolled through the body. You can see this manifest b

[2020-05-28 21:19] #16443 closed

[2020-05-28 21:27] jelbourn commented on #17191
(revisiting older issues as part of a triaging fix-it)

I can confirm that this happens when the screen height is _very_ small (on a desktop browser), though not for any real-life devices. It's caused by the select's unique positioning that puts the selected item in the overlay over the matching text in the trigger, which is overriding the overlay's normal mechanism for keeping the panel on-screen

[2020-05-28 21:36] jelbourn commented on #16223
(revisiting older issues as part of a triaging fix-it)

Looking at this, I'm not sure there's anything we'd want to do about this. It seems like this is just the native `click` behavior on Firefox, and trying to work around that would just make more complex code for a relatively minor usability issue. I don't have a super large touch display to test, though, so I'm not sure how bad it really is.

[2020-05-28 21:42] jelbourn commented on #17276
I can confirm that, when doing this, the width of the select overlay matches the width of the triggers, truncating items.

[2020-05-28 21:44] tanansatpal commented on #12277
Thanks @rsaenen , this helped a lot. And you are right, the documentation could be better. It is not documented anywhere in the docs.
Also, if anyone is still looking the new source is at
https://github.com/angular/components/blob/master/src/material/input/input.ts

[2020-05-28 22:04] jelbourn commented on #16230
(revisiting older issues as part of a triaging fix-it)

I spent a while looking at this and can confirm it's happening. I can also confirm that it's totally baffling and I have no idea what's happening. I _suspect_ this is actually some issue with `@angular/animations`, but can't really do a deep dive on that right now.

I also checked whether this happens with our new MDC-based tabs in material-e

[2020-05-28 22:06] jelbourn commented on #16455
Closing this since we haven't been able to reproduce. Feel free to open a new issue if you can provide more reproduction details.

[2020-05-28 22:06] #16455 closed

[2020-05-28 22:09] mmalerba commented on #14515
Can someone provide a stackblitz that better demonstrates the issue? I tried comparing the broken one with the fix one given in the original post, but I couldn't really see any jumping. The only difference I saw was that the panel had been moved below the input in the "fixed" version

[2020-05-28 22:12] jelbourn commented on #16236
(revisiting older issues as part of a triaging fix-it)

@Harpush I don't really really follow what your intended behavior is here. Looking at the StackBlitz, everything is working how I would expect it to. Feel free to open a new issue that outlines how you expect this to work if you're still having an issue.

[2020-05-28 22:12] #16236 closed

[2020-05-28 22:15] mmalerba commented on #10965
This has been fixed, as demonstrated in this updated stackblitz https://stackblitz.com/edit/angular-tcbhuy-xx2aco?file=main.ts

[2020-05-28 22:15] #10965 closed

[2020-05-28 22:15] jelbourn commented on #14240
(revisiting older issues as part of a triaging fix-it)

Going forward we'll be basing our typography off of MDC Web, so we probably won't be adding new API surfaces for now.

[2020-05-28 22:15] #14240 closed

[2020-05-28 22:18] jelbourn commented on #17198
We avoid any kind of cancellation API in Angular Material:
* The accessibility of "cancelling" is tricky- it's hard to communicate to screen-reader users that the expected action didn't happen and why. This would be especially true with e.g. tabs, where it would be very easy to throw off the interaction pattern if you interrupt an expected action with a dialog.
* There's no clear line on which act

[2020-05-28 22:18] #17198 closed

[2020-05-28 22:24] mmalerba commented on #19446
I think this is just an issue with the stackblitz example, the same example on the material.angular.io docs site works fine: https://material.angular.io/components/icon/examples

[2020-05-28 22:30] jelbourn commented on #19130
This does look like some combination of missing theme and/or missing `NgModule` import. I just tried our `ng add` workflow on Windows and everything does work as expected.  Closing this since it seems like a troubleshooting issue rather than a bug report. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2020-05-28 22:30] #19130 closed

[2020-05-28 22:34] jelbourn commented on #19123
(revisiting older issues as part of a triaging fix-it)

All of the palette colors and their contrast colors are pulled directly from the 2014 - 2016 era Material Design spec ([found here](https://material.io/design/color/the-color-system.html#tools-for-picking-colors)). We will likely update these at some point, but for the time being we don't have a great replacement.

[2020-05-28 22:38] jelbourn commented on #16331
Duplicate of https://github.com/angular/angular/issues/14440

[2020-05-28 22:38] #16331 closed

[2020-05-28 22:40] jelbourn commented on #17321
(revisiting older issues as part of a triaging fix-it)

Looks like this StackBlitz doesn't work any more. Feel free to open a new issue w/ an updated reproduction.

[2020-05-28 22:40] #17321 closed

[2020-05-28 22:42] devversion commented on #11074
That seems like a great feature request to me. My thinking is that the the dialog or portal should just also support `ComponentFactory` instances as those then can be lazily loaded through dynamic imports (like with routing; I think string module URLs are not the best long-term approach).

I'd love to see this working:

[code]

[2020-05-28 22:45] jelbourn commented on #16880
(revisiting older issues as part of a triaging fix-it)

Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

(this is a canned response)

[2020-05-28 22:45] #16880 closed

[2020-05-28 22:49] jelbourn commented on #4227
I believe this is resolved in the latest version of Angular Material; adding `NoopAnimationsModule` will now turn off all animations, even the ones that don't use Angular animations. Free free to comment here if that's not the case and I can re-open this.

[2020-05-28 22:49] #4227 closed

[2020-05-28 22:50] jelbourn commented on #17728
(revisiting older issues as part of a triaging fix-it)

Looks like this link is broken now; feel free to open a new issue with a reproduction if there's still some issue occurring.

[2020-05-28 22:50] #17728 closed

[2020-05-28 22:53] jelbourn opened #19480 "Support hiding/showing tabs instead of destroying/creating"
This request for tabs comes up some some frequency. `MatTabGroup` uses `ngIf` to show the current tab, meaning that tab content is torn down when switching between tabs. Sometimes people want to preserve uncommitted state across tab changes (e.g. #17034 and #17391), which this prevents.

[2020-05-28 22:53] jelbourn commented on #17034
Tracking this in #19480

[2020-05-28 22:53] #17034 closed

[2020-05-28 22:56] jelbourn commented on #16432
(revisiting older issues as part of a triaging fix-it)

@anified it's not super clear what you mean by "does not work" here. Closing this for now, feel free to open a fresh issue with further details.

[2020-05-28 22:56] #16432 closed

[2020-05-28 22:56] jelbourn commented on #16942
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

(this is a canned response)

[2020-05-28 22:56] #16942 closed

[2020-05-28 22:57] mmalerba commented on #13877
Changed the title to clarify that this is asking for a way to visually distinguish dates, not set a separate selection for the calendar

[2020-05-28 22:58] jelbourn commented on #18301
We don't currently support switching language like this at run-time. This is something we may consider for the the future.

[2020-05-28 22:58] #18301 closed

[2020-05-28 22:58] devversion commented on #11074
Appendix: Apparently just loading a component dynamically is not sufficient. At the current time where View Engine is still supported, and NgModule's are still a thing, one would need to load the component through the module like this:

[code]

It's actually not as simple as just having an URL for the router because we'd need to find a specific component, while lazy routing modules provide the com

[2020-05-28 22:59] jelbourn commented on #17355
(revisiting older issues as part of a triaging fix-it)

This issue doesn't have enough information for the team to investigate. Please include:
* A reproduction of the issue (preferably via StackBlitz)
* Any relevant errors and stack traces
* Any relevant details about your build environment

(this is a canned response)

[2020-05-28 22:59] #17355 closed

[2020-05-28 23:00] IlCallo commented on #11942
No problem, I guess that after 2 years and no answers, the problem was related to something particular of my usage

[2020-05-28 23:01] jelbourn commented on #18460
I just tried this in Chrome 81 on Windows and PgUp and PgDown work as expected in all of the examples on https://material.angular.io/cdk/scrolling/overview. Closing for now, feel free to file a new issue if there are more details.

[2020-05-28 23:01] #18460 closed

[2020-05-28 23:05] jelbourn commented on #18360
Duplicate of #9035

The current strategy traps focus using tab stops that redirect focus back to the other side of the dialog. We would need to provide the heavier approach of disabling everything else on the page in order to accomplish this.

[2020-05-28 23:05] #18360 closed

[2020-05-28 23:05] devversion commented on #11074
It looks like the first snippet actually works in Ivy as metadata is encapsulated in the component and it is a self-contained factory. Closing! Please let us know if this does not work.

[2020-05-28 23:05] #11074 closed

[2020-05-28 23:07] jelbourn commented on #17061
(revisiting older issues as part of a triaging fix-it)

@BantramFidian by default `MatSelect` disabled page scroll while open. How are you making the page scroll here?

[2020-05-28 23:08] devversion commented on #18188
This is actually the same root cause as in https://github.com/angular/components/issues/17591.

[2020-05-28 23:08] #18188 closed

[2020-05-28 23:09] mmalerba commented on #16313
It is possible to use the `<mat-calendar>` separately from the `<mat-datepicker>` which might help you accomplish your goal. However it's currently not well documented and there might be some rough edges. (See https://github.com/angular/components/issues/8812)

[2020-05-28 23:09] #16313 closed

[2020-05-28 23:09] jelbourn commented on #17298
(revisiting older issues as part of a triaging fix-it)

@shanehsu is right- the virtual scroll viewport should only contain elements managed by `cdkVirtualFor`

[2020-05-28 23:09] #17298 closed

[2020-05-28 23:10] jelbourn commented on #17315
`MatTableDataSource` is meant to be a relatively simple implementation for super minimal use-cases. For richer filtering, you can create a custom data source.

[2020-05-28 23:10] #17315 closed

[2020-05-28 23:14] jelbourn commented on #8819
(revisiting older issues as part of a triaging fix-it)

Closing because I think this is a combination of obsolete and tracked in other issues. Feel free to open a new issue with more specific, granular feature requests.

[2020-05-28 23:14] #8819 closed

[2020-05-28 23:15] wagnermaciel commented on #17205
Duplicate of #9035

[2020-05-28 23:15] #17205 closed

[2020-05-28 23:16] mmalerba commented on #16390
This is not an Angular Material issue, your code is just not accounting for the fact that `ctrlValue` can be `null` (like it is initially)

[2020-05-28 23:16] #16390 closed

[2020-05-28 23:20] mmalerba commented on #16390
Ah I just realized that maybe this code is a slightly modified version of the "Datepicker emulating a Year and month picker" from https://material.angular.io/components/datepicker/examples

While that code is just an example and intended as a starting point, not production ready code, I would be fine if someone wants to send a PR to change the example code so it can handle `null` dates

[2020-05-28 23:24] devversion commented on #17206
Hello! I think this is a reasonable feature request. I think we'd need to think how we can disambiguate the names as `optional` and `skippable` seem very closely related. Ideally we'd come up with something better. e.g.. `optional` by default does not allow invalid form groups, unless someone explicitly opts out.

Additionally, I think it would be great if the stpeper would not allow editing if `e

[2020-05-28 23:25] devversion commented on #16936
Yes. Closing as a duplicate. Thanks @AdditionAddict

[2020-05-28 23:25] #16936 closed

[2020-05-28 23:29] devversion commented on #17011
Hello! Thanks for your issue. I wasn't able to see the issue you were describing in the issue and StackOverflow. The recommended import as of v8 is the latter (i.e. `material/bottom-sheet`).

The `MatBottomSheetRef` should be provided automatically for the rendered bottom-sheet content. I'm not sure why one would need to provide that manually, except for tests.

[2020-05-28 23:29] #17011 closed

[2020-05-28 23:31] devversion commented on #16357
Closing as no reproduction has been provided. Feel free to send a new issue w/ StackBlitz if you want us to have a look. Thanks!

[2020-05-28 23:31] #16357 closed

[2020-05-28 23:35] devversion commented on #9799
Seems like this has been fixed. https://stackblitz.com/edit/vertical-alignment-issue?file=app%2Fapp.module.ts.

[2020-05-28 23:36] devversion commented on #10595
Thanks for this issue. Closing this in favor of https://github.com/angular/components/issues/17878 that talks about these variables more in general.

[2020-05-28 23:36] #10595 closed

[2020-05-28 23:39] devversion commented on #12011
This has been fixed with https://github.com/angular/components/commit/6a21d947f67dac472cecef02ba49996b2cc81047. Thanks for the issue report!

[2020-05-28 23:39] #12011 closed

[2020-05-29 01:52] jelbourn commented on #19110
(revisiting older issues as part of a triaging fix-it)

Not sure what this issue is about since the title and the content seem to be talking about different things. Adding to `dependencies` is intended; `devDependencies` are generally used for development tools. I also just ran `ng add` with the latest version on Windows and everything worked. Feel free to file a new issue with more details if som

[2020-05-29 01:52] #19110 closed

[2020-05-29 01:53] jelbourn commented on #19137
Duplicate of #2519

[2020-05-29 01:53] #19137 closed

[2020-05-29 01:56] jelbourn commented on #18075
See https://material.angular.io/components/datepicker/overview#internationalization

You can provide an alternate / custom date adapter to control the timezone being used.

[2020-05-29 01:56] #18075 closed

[2020-05-29 01:57] jelbourn commented on #17951
Duplicate of #19253

[2020-05-29 01:57] #17951 closed

[2020-05-29 01:59] #3773 closed

[2020-05-29 02:31] hiepxanh commented on #14240
So sad :( I really love this

[2020-05-29 04:30] Spencer-Easton commented on #11883
@devversion StackBliz demo works as advertised.  If this issue is not easily solvable your work around should be discoverable from the docs. Would save a bit of hair pulling ;)

[2020-05-29 05:45] ThilakrajSelvam opened #19481 "bug(Mat-expansion-panel): The panel which is already in expanded state gets collapsed when openAll( ) method is triggered"
#### Reproduction

https://stackblitz.com/edit/components-issue-mat-expansion-panel

Steps to reproduce:
1.  Open the above url
2. Expand any one of the expansion panel
3. Now click "Expand All" button

#### Expected Behavior

All Expansion panels should be expanded

#### Actual Behavior

The panel which is already in expanded state gets collapsed

#### Environment

- Angular:
- CDK/Material:
- Br

[2020-05-29 06:04] crisbeto commented on #19480
I think this should be covered by https://github.com/angular/components/issues/17391.

[2020-05-29 06:09] crisbeto commented on #19481
It looks like the issue comes from the fact that you also have an `expanded` binding on each panel. The binding will get re-evaluated on each change detection and will override the value set by `openAll`. Here's a working example: https://stackblitz.com/edit/components-issue-mat-expansion-panel-5p7ryd?file=src/app/example-component.ts

Since `openAll` is basically just a shortcut to setting `expan

[2020-05-29 06:09] #19481 closed

[2020-05-29 06:21] fabriziodebortoli commented on #18705
Not solved.
I imported MatButtonModule in LibraryModule but buttons are still without styles

[2020-05-29 07:53] FallenRiteMonk commented on #12191
@devversion I had a look and I was no longer capable or reproducing the issue.

[2020-05-29 08:00] hvinh commented on #19479
Hello, thanks for your inputs I modified accordingly

[2020-05-29 09:39] naveedahmed1 opened #19483 "bug(SSR): Angular Universal Broken after 10.0.0-next.2"
#### Reproduction

After upgrading my app from `10.0.0-next.1` to `10.0.0-next.2`, the SSR is broken.

I am not sure which of the component is actually causing this issue.

Here's the error message which I see in log:

`NodeInvocationException: Prerendering failed because of error: ReferenceError: HTMLElement is not defined at D:\MyProject\dist-server\main.js:1:1552649 at Module.FKr1 (D:\MyProject

[2020-05-29 09:43] talamaska commented on #19476
I have a stackblitz, where I don't see the issue. I'm trying to pinpoint reason I don't see that consistently. Let me research a bit more. I know you are using the same pattern in multiple places, I wonder why ng-boostrap is not using that pattern for their modals.

[2020-05-29 09:55] DpnshMalik commented on #11400
Did it worked for you?

[2020-05-29 09:57] DanielHabenicht commented on #9799
I wouldn't say so. They still look pretty off for me:
![image](https://user-images.githubusercontent.com/13590797/83247146-6be2fa80-a1a3-11ea-923a-125559387f66.png)
(from your Stackblitz)
Considering the angular material design guide:
![image](https://user-images.githubusercontent.com/13590797/83247237-87e69c00-a1a3-11ea-9585-1197d5fb28db.png)

[2020-05-29 10:22] martinsotirov commented on #19337
Just noticed this today on my customer's app. Thought I was going crazy first.

[2020-05-29 10:24] vikvorona commented on #19440
We had same problem on our project. I couldn't reproduce it with running small amount of tests, but if we run all our ~700 unit tests this problem appears on tests with `MatDialogHarness.close()`. I have replaced all these places with clicking on close button and this error no longer appears.

[2020-05-29 10:41] devversion commented on #9799
@DanielHabenicht Yeah, looks like you're right. I'm reopening this. The general alignment problem seems to be caused by us using `line-height` for the button height. I don't have enough insight on why we use that over a plain `min-height`/`height` as done in MDC.

It looks like this will be fixed in our MDC-based version of the button though. #16196

[2020-05-29 10:43] devversion commented on #12191
Awesome. Thanks for getting back to me so quickly. I'm closing this, but happy to re-open if you ever come across this again!

[2020-05-29 10:43] #12191 closed

[2020-05-29 10:54] devversion commented on #18705
@fabriziodebortoli In your app module you don't seem to import the library module though. I tried these changes locally (now a second time) and was able to fix it that way. No reason to downvote.

[2020-05-29 11:00] devversion commented on #11883
@Spencer-Easton Sounds reasonable. I'll re-open this as we could certainly have this documented in the ripple overview. Any help on this would be appreciated as it's most likely low-priority for us.

[2020-05-29 11:13] devversion commented on #19483
Hello @naveedahmed1. Thanks for the issue! This was an intentional change we landed as part of https://github.com/angular/angular/pull/37221#issuecomment-631607065. You can find more details there and in https://github.com/angular/angular/issues/30586.

We will revert the decorator change though as part of another issue that came up with #19454. That should fix these SSR failures. Though ideally,

[2020-05-29 11:13] qiufengyu commented on #18950
Thank you Paul. This is exacty what I want.

[2020-05-29 11:18] devversion commented on #18143
I think we should either fix this, or document this limitation. At first glance, the fix proposed in #18145 looks reasonable to me (though I'm not too familiar with the drag-drop).

[2020-05-29 11:23] devversion commented on #19478
Great report. Thanks! Looks like there is a PR for this: https://github.com/angular/components/pull/17092. There is also a PR pending for button-toggle: https://github.com/angular/components/pull/17086.

[2020-05-29 13:00] talamaska commented on #19476
Ok, I think I have found the issue. It might be related with that my modal scss is loading the whole list of font-faces again, thus triggering the loading of the fonts again, which explains why it doesn't happen on second modal open, maybe because fonts requests were cached, and maybe explains the invisibility of the texts, but not on any other element or component and the text of a simple button

[2020-05-29 13:01] #19476 closed

[2020-05-29 13:10] devversion commented on #12114
It looks like the root cause has been fixed with https://github.com/crisbeto/angular/commit/3c9c3605786a7c4108ce73f365c4f7984c15fb11.

Locally you will most likely still see a few references in the DevTools but that happens because dev tools seem to keep a reference to the last activated element. i.e. the form-field when it got auto-focused. If you click on another element after closing the dialog

[2020-05-29 13:10] #12114 closed

[2020-05-29 13:13] gnusiva commented on #14273
any updates?

[2020-05-29 13:13] devversion commented on #17305
Hello! please provide a reproduction StackBlitz for this. Happy to take a look then!

[2020-05-29 13:13] #17305 closed

[2020-05-29 13:16] devversion commented on #16864
Looks like this works as expected. Closing! If you have a good use-case on why it should be added always, please create a new issue as feature request.

[2020-05-29 13:16] #16864 closed

[2020-05-29 13:28] devversion commented on #14912
Ideally we'd fix this for our MDC-based menu (#16247). It seems like it would be good to figure out how that menu implementation plays together with the standalone `@angular/material/divider`.

MDC fixed this, and their demo's show this correctly.. Though our MDC-based menu currently still uses the non-mdc divider.

[2020-05-29 13:29] devversion commented on #16247
It looks like the MDC-based menu does not use the divider of MDC. Currently our divider implementation is not following the spec (in the context of a menu surface item). See #14912

[2020-05-29 13:42] devversion commented on #18840
Correct. View Engine does not strip decorators away at all. Ivy only strips Angular-known decorators away. Angular build-optimizer only strips known Angular decorators either.

So that definitely could work. If I recall correctly though, there were implications in terms of tree-shaking. I think we can track this as an upstream issue as the components team believes in this being something that shou

[2020-05-29 13:42] #18840 closed

[2020-05-29 14:20] jelbourn commented on #17391
Going to track this in #19480

[2020-05-29 14:20] #17391 closed

[2020-05-29 14:21] jelbourn commented on #19480
@crisbeto let's track it here since this is the root of the issue.

[2020-05-29 14:41] TrevorKarjanis commented on #19100
@jennynju @mmalerba That's definitely a simpler explanation. I think I didn't expect the binding to update the checkbox before it handled the click event. I am canceling the event, so thank you for the feedback.

[2020-05-29 14:44] devversion commented on #17210
Hello! Thanks for this issue! I'd love to take a look at your issue/feature request, but I don't quite follow on the use-case. You are mentioning that you want to have a form-field inside the step label (that has these prevented keydown events).

I don't see that in the provided StackBlitz and I'm wondering if there is a good concrete use-case?

[2020-05-29 15:00] devversion commented on #17880
That seems to be the same root cause as in #18143. Thanks for this report!

[2020-05-29 15:00] #17880 closed

[2020-05-29 15:12] devversion commented on #17749
Hello! It looks like clicking on the backdrop fails some `restoreFocus` checks, and the focus will not be properly restored. Hence clicking on the backdrop does not cause the button focus state.

It would actually be expected that also backdrop click shows the focus state on the button, plus it being actually focused.

[2020-05-29 15:18] fabriziodebortoli commented on #18705
I imported LibraryModule in AppModule using `import { LibraryModule } from '@azz/library';`
but I still have the problem...

Trying
`import { LibraryModule } from 'projects/azz/library/src/public-api';`
it's ok but I think is not the correct way to do it

[2020-05-29 15:55] crisbeto commented on #10834
Should be covered by https://github.com/angular/components/issues/17246.

[2020-05-29 15:55] #10834 closed

[2020-05-29 15:58] naveedahmed1 commented on #19483
Thanks @devversion for sharing these details, we are using `ngx-build-plus` in our Angular app, for server we are using `@angular-devkit/build-angular:server` but as you mentioned and also mentioned in the comments default builders should handle this, that why are we still seeing this issue?

I have added you to a private repo, if you could please take a look and suggest if I'm missing something?

[2020-05-29 16:06] crisbeto commented on #13809
Closing since it doesn't look like we can do much about this issue.

[2020-05-29 16:06] #13809 closed

[2020-05-29 16:10] #13499 closed

[2020-05-29 16:15] crisbeto commented on #13165
I wasn't able to reproduce it against the latest code in master. Closing.

[2020-05-29 16:15] #13165 closed

[2020-05-29 16:17] crisbeto commented on #12701
We place the elements at the bottom of the body in order to avoid issues with `overflow: hidden` and for accessibility reasons, and that's unlikely to change. If your overlay isn't repositioning when a parent element is scrolled, you can add `cdkScrollable` to the element to tell it to reposition.

[2020-05-29 16:27] crisbeto commented on #16348
Looks like this is fixed in master.

[2020-05-29 16:27] #16348 closed

[2020-05-29 17:35] crisbeto commented on #12172
Closing since this seems like it's covered by `mat-select`.

[2020-05-29 17:35] #12172 closed

[2020-05-29 17:52] crisbeto commented on #16902
This should be covered by `CdkVirtualScrollViewport.scrollToIndex` already.

[2020-05-29 17:52] #16902 closed

[2020-05-29 18:00] devversion commented on #18705
@fabriziodebortoli Okay so there are a couple of things:

1. Add `MatButtonModule` to the library module
2. Actually add the library module to the AppModule.
3. Import the `Confirm` dialog component from the library `@azz/library` import and not directly through the source files. That causes the library module to be ignored.

I hope that helps.

[2020-05-29 18:01] crisbeto commented on #16687
Closing since I wasn't able to reproduce it last time around and there hasn't been any new information for a while.

[2020-05-29 18:01] #16687 closed

[2020-05-29 18:38] mmalerba commented on #16716
You can get the current `MatDateFormats` object by injecting it, that won't necessarily be in human readable format though (e.g. https://stackblitz.com/edit/angular-kgtnrw?file=src/app/datepicker-overview-example.html).

Converting it to human readable format isn't a feature we plan to add. It's outside the scope of Angular Material as it depends on the particular `Date` implementation you're usin

[2020-05-29 18:38] #16716 closed

[2020-05-29 18:38] crisbeto commented on #18599
I can confirm that switching it to `ngAfterViewInit` resolve the issue. Closing since the component seems to work as expected.

[2020-05-29 18:38] #18599 closed

[2020-05-29 19:01] rajesh8010532179 opened #19484 "bug([COMPONENT]): [TITLE]"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1.
2.

#### Expected Behavior

What behavior were you expecting to see?

#### Actual Behavior

What behavior did you actually see?

#### Environment

- Angular:
- CDK/Material:
- Browser(s):
- Operating System (e.g. Windows, macOS, Ubuntu):

[2020-05-29 19:01] mmalerba commented on #6030
Closing as a dup of https://github.com/angular/components/issues/8100

[2020-05-29 19:01] #6030 closed

[2020-05-29 19:01] crisbeto commented on #18932
Closing since it seems to be fixed by the suggestion from @trik.

[2020-05-29 19:01] #18932 closed

[2020-05-29 19:04] crisbeto commented on #18926
We've got tests for the Google Map and related components that can be used as a reference: https://github.com/angular/components/blob/master/src/google-maps/google-map/google-map.spec.ts#L56

@vbourdeix your test seems to be failing because your mock is incomplete.

[2020-05-29 19:05] mmalerba commented on #18132
This is a limitation of the native `Date` object in JavaScript.
Currently I recommend using the `MomentDateAdapter` or another custom date adapter rather than the standard `NativeDateAdapter` (see https://material.angular.io/components/datepicker/overview#choosing-a-date-implementation-and-date-format-settings)

We should however, try to make a better experience for the `NativeDateAdapter`.
This i

[2020-05-29 19:05] #18132 closed

[2020-05-29 19:11] crisbeto commented on #19484
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2020-05-29 19:11] #19484 closed

[2020-05-29 19:14] aparroccini commented on #19446
forgive my ignorance, are those inline examples live? I'm getting a similar error on a local build as well and was just looking for a real example to compare to when I noticed it being broken on stackblitz.

[2020-05-29 19:14] mmalerba commented on #17931
It is possible to use other date implementations (see https://material.angular.io/components/datepicker/overview#choosing-a-date-implementation-and-date-format-settings), but we do hope to improve the `NativeDateAdapter` as well https://github.com/angular/components/issues/8100

[2020-05-29 19:14] #17931 closed

[2020-05-29 19:16] crisbeto commented on #19274
Closing since the issue is using a private API and there are a couple of suggested workarounds.

[2020-05-29 19:16] #19274 closed

[2020-05-29 19:20] mmalerba commented on #19017
This is not an API pattern we use widely if at all in this library, so I don't think we want to add it. If you want to restrict what dates are selectable I suggest using validation instead: https://material.angular.io/components/datepicker/overview#date-validation The datepicker support min and max validation as well as a filter function

[2020-05-29 19:20] #19017 closed

[2020-05-29 19:35] mmalerba commented on #18872
This should be possible using Angular Forms (e.g. https://stackblitz.com/edit/angular-ewj7bz?file=src/app/datepicker-value-example.html)

[2020-05-29 19:35] #18872 closed

[2020-05-29 19:37] mmalerba commented on #18970
I do think the material.angular.io docs need to do a better job discussing how to use the datepicker with lazy loaded modules. I'll update the title and use this issue to track that

[2020-05-29 19:45] mmalerba commented on #19044
The `parse` method is used to convert text the user types to a date, you also need to override the `createDate` which is used to create dates given the year, month, and date.

I think we should have a guide on creating custom date adapters, I'll use this issue to track that

[2020-05-29 19:56] mmalerba commented on #18640
Thanks for the easy to follow repro :) I confirmed that it seems to be an issue and made a version with a number input for comparison: https://stackblitz.com/edit/angular-vojnze?file=src/app/app.component.html

[2020-05-29 20:04] mmalerba commented on #18928
Yeah, as @crisbeto mentioned, this is intentional. It's designed so that the option text aligns with the trigger text. At the time this was implemented, that's what the Material Design spec showed. However, at this point the spec has changed https://material.io/components/menus#exposed-dropdown-menu

[2020-05-29 20:07] andrewseguin commented on #16711
Sorry for the delay in providing help with this - we are currently limited on resources for troubleshooting issues. You will probably have better luck getting help if you post on StackOverflow.

[2020-05-29 20:07] #16711 closed

[2020-05-29 20:07] andrewseguin commented on #17056
Sorry for the delay in providing help with this - we are currently limited on resources for troubleshooting issues. You will probably have better luck getting help if you post on StackOverflow.

[2020-05-29 20:07] #17056 closed

[2020-05-29 20:08] andrewseguin commented on #19197
Sorry for the delay in providing help with this - we are currently limited on resources for troubleshooting issues. You will probably have better luck getting help if you post on StackOverflow.

[2020-05-29 20:08] #19197 closed

[2020-05-29 20:08] andrewseguin commented on #19090
Sorry for the delay in providing help with this - we are currently limited on resources for troubleshooting issues. You will probably have better luck getting help if you post on StackOverflow.

[2020-05-29 20:08] #19090 closed

[2020-05-29 20:09] andrewseguin commented on #19148
Sorry for the delay in providing help with this - we are currently limited on resources for troubleshooting issues. You will probably have better luck getting help if you post on StackOverflow.

[2020-05-29 20:09] #19148 closed

[2020-05-29 20:09] andrewseguin commented on #18933
Sorry for the delay in providing help with this - we are currently limited on resources for troubleshooting issues. You will probably have better luck getting help if you post on StackOverflow.

[2020-05-29 20:09] #18933 closed

[2020-05-29 20:09] andrewseguin commented on #18317
Sorry for the delay in providing help with this - we are currently limited on resources for troubleshooting issues. You will probably have better luck getting help if you post on StackOverflow.

[2020-05-29 20:09] #18317 closed

[2020-05-29 20:11] andrewseguin commented on #17767
Lazy loading is likely the right thing here since it reduces the number of issues related to delayed layout rendering.

[2020-05-29 20:11] #17767 closed

[2020-05-29 20:12] andrewseguin commented on #17854
Sorry for the delay in providing help with this - we are currently limited on resources for troubleshooting issues. You will probably have better luck getting help if you post on StackOverflow. Note that it is much better if you can provide a reproduction on StackBlitz

[2020-05-29 20:12] #17854 closed

[2020-05-29 20:14] andrewseguin commented on #17386
Unfortunately we are very limited right now on resources, so we cannot take the time to investigate troubleshooting issues right now. It would probably help if you post to StackOverflow with a reproduction of what you are trying to do.

[2020-05-29 20:14] #17386 closed

[2020-05-29 20:15] mmalerba commented on #19391
Confirmed that this is still an issue, here's an updated stackblitz: https://stackblitz.com/edit/chips-autocomplete-required-failure-ejmtxd?file=material-module.

[2020-05-29 21:03] mmalerba commented on #19391
Actually, I think this may just be an issue with the repro code. Here's an example where it seems to work correctly https://stackblitz.com/edit/angular-n6tpca-k4imsc?file=app/chips-autocomplete-example.html

[2020-05-29 21:10] mmalerba commented on #16393
I think the `[formControl]` is just on the wrong element here, it should be on the chip list not the input https://stackblitz.com/edit/angular-n6tpca-yuxxza?file=app/chips-autocomplete-example.html

[2020-05-29 21:10] #16393 closed

[2020-05-29 21:12] mmalerba commented on #18119
It's correct according to an older version of the spec, but the spec has updated. This is being tracked by https://github.com/angular/components/issues/18928

[2020-05-29 21:12] #18119 closed

[2020-05-29 21:47] jelbourn commented on #19068
This should be addressed by work @annieyw is already doing (we're getting rid of the expand/collapse in the nav)

[2020-05-29 21:49] mmalerba commented on #18412
I think this is the result of some issue with the example code, not Angular Material. Even the nested native controls don't work right. The select dropdown won't open and the input de-focuses after typing a single letter.

Looking in the chrome inspector I can see that every time I click the nested elements are being re-rendered which is probably what's causing a lot of this weird behavior.

[2020-05-29 21:49] #18412 closed

[2020-05-29 21:50] jelbourn commented on #19071
I can reproduce this on the docs site. There's a certain viewport size range in which resizing gives the calendar scrollbars.

[2020-05-29 21:56] jelbourn commented on #19079
Confirmed that `mat-select` isn't blocking scroll correctly on iOS

[2020-05-29 22:05] mmalerba commented on #19392
I think this is _probably_ working as intended, but it could use better documentation at least

[2020-05-29 22:12] jelbourn commented on #19089
Confirmed that there's a weird flow/rendering issue in Chrome and Safari only (Firefox and Edge work fine). It also seems to be fixed in the MDC version of the checkbox.

[2020-05-29 22:14] mmalerba commented on #10379
Unless I'm missing something, you should be able to acheive the same thing using `mat-optgroup` and `mat-option`, like this: https://stackblitz.com/angular/dljkbmrqvja?file=src%2Fapp%2Fselect-optgroup-example.html

[2020-05-29 22:17] mmalerba commented on #16685
You cannot change the font-size of the options independently of the font-size of the trigger. If you want to change the font-size it should be changed on the containing form field, like this: https://stackblitz.com/edit/angular-ngbgf6?file=src/app/select-custom-trigger-example.html

[2020-05-29 22:17] #16685 closed

[2020-05-29 22:25] jelbourn commented on #19458
We won't be able to test this in JAWS until we're back in the office, but my hunch is that this is a JAWS bug if we're correctly setting `aria-selected` and `aria-disabled`.

[2020-05-29 22:30] jelbourn commented on #19342
This is working as expected as it relates to using the native `<form>` element. However, you have control over this behavior by either:
* Not using a native `<form>` with the stepper, or
* Capture and `preventDefault` on the key event

[2020-05-29 22:30] #19342 closed

[2020-05-29 22:37] mmalerba commented on #16889
I would like to bring the datepicker more in line with what's shown in the spec (https://material.io/components/pickers#desktop-pickers), which would address some of the things you raise here.

[2020-05-29 22:39] jelbourn commented on #19377
I can reproduce this, but it's a super minor issue we wouldn't normally tackle. However, looks like it's incidentally fixed in the MDC-based button.

[2020-05-29 22:41] Splaktar commented on #12048
Does anyone have a StackBlitz or GItHub repo where this can be reproduced? Is it reproducible on the docs site?

[2020-05-29 22:42] mmalerba commented on #16590
It seems to be working for me, here's an example: https://stackblitz.com/edit/angular-3penjx?file=src/app/paginator-overview-example.ts

[2020-05-29 22:42] #16590 closed

[2020-05-29 22:43] jelbourn commented on #19335
@naveedahmed1 any chance you could make a reproduction GitHub repo?

[2020-05-29 22:44] jelbourn commented on #19279
Looks like this is resolved.

[2020-05-29 22:44] #19279 closed

[2020-05-29 22:47] devversion commented on #14913
It looks similar on iOS based on my testing as there is not enough space to show the full dialog. The difference (and inconvenience) in Android is that the page cannot be scrolled through. i.e. in iOS one can still scroll the page to make the dialog form-field visible.

[2020-05-29 22:49] jelbourn commented on #19248
@crisbeto I checked to see if this was fixed for free in MDC, but it looks like we actually use `mat-divider` in this context, which doesn't have the `.mdc-list-divider` class that would give it right right margin. We should think about either making the divider have this inside of a menu, or adding a separate `menu-item-separator`.

[2020-05-29 22:51] mmalerba commented on #17107
I think since you're trying to implement custom logic on click here, you probably want to set teh click action to `noop` (see https://material.angular.io/components/checkbox/overview#click-action-config) and then implement your own logic to update the state as desired.

Alternatively you can use `$event.preventDefault()` to stop the default action of toggling the checkbox and implement your own lo

[2020-05-29 22:51] #17107 closed

[2020-05-29 22:51] jelbourn commented on #14912
Going to close this as a duplicate of #19248 since I already commented on that one; I don't think this is automatically fixed by MDC because the way we use `mat-divider`.

[2020-05-29 22:51] #14912 closed

[2020-05-29 22:52] naveedahmed1 commented on #19335
Thanks @jelbourn , can I add you to a private repo?

[2020-05-29 22:55] jelbourn commented on #19249
@crisbeto I think there's actually a bug here. To see it:

1. Grab an item from the middle of the list
2. Pull it to the side of the list and then bring it up from the bottom
3. Slowly move it upwards
4. Notice that the last item doesn't move when the cursor reaches the top of it. It's not until you get to the second-to-last item that the list moves to make room for the dragged item.

[2020-05-29 22:56] devversion commented on #17170
I think this is a fair request. https://github.com/angular/components/issues/18431#issuecomment-583393610 is related and states that it's up to the consumers to filter out non-user/interaction changes. It's unclear to me what is best here though.

I could imagine that we only fire on interactive changes. That would match with other components (like slide-toggle, checkbox etc.) and generally also m

[2020-05-29 22:58] devversion commented on #14912
@jelbourn Sounds good. I didn't realize we had another issue for this. FWIW: I added `Fixed in MDC` as MDC has this fixed in _their_ menu-surface implementation, but just not we in our MDC version. The label might be slightly ambiguous.

[2020-05-29 22:59] Splaktar commented on #12048
I tested all of the [examples in the docs](https://material.angular.io/components/sidenav/examples) in Safari on iOS 13.5 with Angular Material `9.2.4` and I was not able to reproduce this issue.

[2020-05-29 22:59] #12048 closed

[2020-05-29 23:00] devversion commented on #19248
Linking to https://github.com/angular/components/issues/19248 so that we keep track of it as part of finishing up the MDC-based menu.

[2020-05-29 23:01] jelbourn commented on #18979
The real question is why `circle` isn't marked as internal like the rest.  @mbehrlich?

[2020-05-29 23:02] mmalerba commented on #18079
Seems to work for me: https://stackblitz.com/edit/components-issue-pq1pgj?file=src/app/example-component.html

[2020-05-29 23:02] #18079 closed

[2020-05-29 23:11] jelbourn commented on #19009
We don't have the ability to test with JAWS until we're back in the office, but I suspect this is either an issue with JAWS or the application code rather than the stepper/icon.

[2020-05-29 23:13] devversion commented on #17677
Hello! I just tried this with Safari 13.1 macOS Catalina and I got the key icon and autofill suggestions as expected. Can you please help with reproducing this? It seems like this has been fixed.

[2020-05-29 23:16] devversion commented on #17667
Hello! I was unable to reproduce this with the described scenario. Please help us by providing an actual StackBlitz reproduction. I'm closing this in the meanwhile as we could not reproduce it, and there is no  reproduction sample shared. Happy to re-open! Thanks!

[2020-05-29 23:16] #17667 closed

[2020-05-29 23:17] devversion commented on #17357
Hello! This issue doesn't follow our issue templates and we are not sure what's the action here. Please resubmit and follow the templates. We're happy to help!

[2020-05-29 23:17] #17357 closed

[2020-05-29 23:18] jelbourn commented on #18870
See https://material.angular.io/components/datepicker/overview#internationalization

You can provide an alternate/custom `DateAdapter` that lets you have full control over how time/timezones are handled.

[2020-05-29 23:18] #18870 closed

[2020-05-29 23:22] jelbourn commented on #18675
This looks like a troubleshooting quest since it's a custom shadow being added. Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

(this is a canned response)

[2020-05-29 23:22] #18675 closed

[2020-05-29 23:22] jelbourn commented on #18669
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

(this is a canned response)

[2020-05-29 23:22] #18669 closed

[2020-05-29 23:23] Splaktar commented on #13567
This works properly on Firefox and Edge (Chromium) in addition to Chrome. But I can reproduce this issue with Safari `13.1 (15609.1.20.111.8)`.

This is caused by this old Webkit bug: https://bugs.webkit.org/show_bug.cgi?id=160953

[2020-05-29 23:23] jelbourn commented on #18733
Duplicate of #10122

[2020-05-29 23:23] #18733 closed

[2020-05-29 23:24] devversion commented on #14938
Hello @laurent1! I tried this with iOS 13 w/ Safari 13 and it looks like with an open datepicker the only visible scroll was due to the iOS scroll bouncing/elastic scroll. Is that what you are referring to, or do you see cases where the full page can be scrolled (i.e. also actual content and it persists scroll position)

[2020-05-29 23:25] Splaktar commented on #12048
https://github.com/angular/components/issues/13567 has a reproduction and is related to the same bug, so that may be worth following if this issue is still affecting you.

[2020-05-29 23:29] jelbourn commented on #18268
I just tested this in Firefox and don't see any issues. I tried turning on network throttling as well to see if the issue only occurred while the images were loading, but it worked fine either way. Can you elaborate on what you're seeing? I can't quite make it out from the images you posted.

[2020-05-29 23:36] devversion commented on #14609
Hello, on my end the RTL scroll axis type is set to `NEGATED` in Safari (as expected). Can you please provide a reproduction if this is still an issue? Thank you!

This is the demo I used: https://stackblitz.com/edit/angular-yehn5j?file=src/app/cdk-platform-overview-example.ts

[2020-05-29 23:43] Splaktar commented on #14954
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template, which includes a StackBlitz or GItHub repo reproduction of the problem.

Please file a new issue that follows the template and includes a reproduction. This gives the team the information needed to investigate the bug or prioritize the enhancement.

[2020-05-29 23:43] #14954 closed

[2020-05-30 00:07] Splaktar commented on #19435
@ilapavuluri We chatted about this and I think that this is resolved by using `*cdkVirtualFor`?

[2020-05-30 00:08] jelbourn commented on #19335
Sure

[2020-05-30 00:10] Splaktar commented on #12769
@maidi29 does Tobias74's solution work for you? Is this still a problem that you are seeing?

[2020-05-30 00:14] mbehrlich commented on #18979
Should be fixed now. Circle in particular just happened to be fixed before the others. All are now public properties.

[2020-05-30 00:14] #18979 closed

[2020-05-30 00:24] naveedahmed1 commented on #19335
Thank you, I have added you to a private repo, just run `ng serve` and you will notice the error in the console. In `AppComponent`, I'm trying to dynamically load the `EnableNotificationsComponent`. Although the component file contains

[code]

its still throwing error `Unhandled Promise rejection: R3InjectorError(AppBrowserModule)[MatDialog -> MatDialog -> MatDialog]:
  NullInjectorError: No prov

[2020-05-30 00:27] Splaktar commented on #12117
Thank you for taking the time to submit this issue. However it does not follow our **required** issue template which includes a StackBlitz or GitHub reproduction of the issue.

Please file a new issue that follows the template and includes a reproduction. This gives the team the information needed to investigate the bug or prioritize the enhancement.

[2020-05-30 00:27] #12117 closed

[2020-05-30 00:31] Splaktar commented on #14605
This is related to https://github.com/angular/components/issues/12817.

[2020-05-30 00:31] Splaktar commented on #13990
I see the same behavior on Chrome, Edge (Chromium), Firefox, and Safari as far as the stepper causing a lot of extra change detection / re-rendering of its content.

This seems like a duplicate of https://github.com/angular/components/issues/14605 or https://github.com/angular/components/issues/12817 though.

[2020-05-30 00:31] #13990 closed

[2020-05-30 01:23] candelachris commented on #14793
@alogim I have the same issue with ngx-translate.

Were you able to find a workaround ?

[2020-05-30 10:32] ChelloApps commented on #4892
I'm using Angular 9 with following versions: -

    "@angular/animations": "~9.1.9",
    "@angular/cdk": "^9.2.0",
    "@angular/common": "~9.1.9",
    "@angular/compiler": "~9.1.9",
    "@angular/core": "~9.1.9",
    "@angular/flex-layout": "^9.0.0-beta.29",
    "@angular/forms": "~9.1.9",
    "@angular/material": "^9.2.0",
    "@angular/material-moment-adapter": "^9.2.0",
    "@angular/platform-

[2020-05-30 12:12] antonisPanos opened #19489 "help(mat-icon): Failing HTTP requests on registered SVG icons that are served through CDN"
#### What are you trying to do?

I'm trying to fetch SVG files, that are set in the MatIconRegistry,  from CDN. While most of the assets, that are set in the icon registry are fetched successfully, some randomly fail.

The CORS policy is set, on the AWS bucket that serves my assets through CDN, and allows all `GET` requests. All assets there (js, fonts, images. etc.) are served successfully.

Also

[2020-05-30 13:28] WhiteStarLine commented on #10242
Just spent 2 days trying to get a server-side change to update the UI.  It only worked if the user clicked on a sort arrow.  JayAhn2's code describes the problem as I see it and provides a workaround that worked immediately.  Hope this gets addressed at some stage.  Cheers.

[2020-05-30 16:36] IngoManthey opened #19490 "Need Help!!"
I've been trying to solve my problem for 3 days now, but can't find anything on Google and I'm at the end with my knowledge.
I have a MapMarker:
`this.marker = {
      position: {
        lat: this.lat,
        lng: this.lng,
      },
      label: {
        color: 'red',
        text: ' ',
      },
      title: this.gT('maps.Homeposition'),
      info: this.positionText,
      options: {
        d

[2020-05-30 18:28] woteska commented on #19441
Unfortunately I can't check it, because it does not load in... "Starting dev server"

[2020-05-30 23:26] devversion commented on #18649
Hello! I was trying this reproduction but everything worked as expected on my end.

![image](https://user-images.githubusercontent.com/4987015/83340860-67226180-a2dd-11ea-81bc-18754462a4f4.png)

Is there anything special I'd need to try, or has this issue been resolved already in the StackBlitz? I'm closing this as there is nothing actionable of us right now, but we're happy to have another look.

[2020-05-30 23:26] #18649 closed

[2020-05-30 23:50] Luminoth commented on #18984
Yeah definitely, sorry it took a couple days to get back. I think it might actually be related to using cdkDrag on the dialog, going through building out the example here. There repo here: https://github.com/Luminoth/jsoneditor-dialog should be able to reproduce it.

Basically click the button to open the dialog, append a field to the object, give the field a name and value and then click outside

[2020-05-31 00:15] devversion commented on #18561
Hello! Looks like this works for me with Angular v9.0.7. Could it be possible that this just didn't work in the past due to a bug in Angular? (I haven't searched for related issues/commits).

On my end, I just cloned your repro, ran `yarn` and ran `yarn test `. The stepper renders as expected w/ ripples and behavior. Can you double-check and update the reproduction if needed? Please keep us update

[2020-05-31 00:15] #18561 closed

[2020-05-31 00:20] devversion commented on #19490
Hello! You could use the `getPosition` method. `marker.position` is not updated as it is just passed one-way into the `map-marker` component. e.g.

[code]

or you just access the marker through a view children and call `MapMarker.getPosition()`.

I hope that helps! 😄

[2020-05-31 00:20] #19490 closed

[2020-05-31 04:38] snoooopy-ch opened #19491 "virtual scroll does not drag-n-drop"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/components-issue-7nkwxb?file=src/app/example-component.ts

#### Expected Behavior
I want to it works with drag-n-drop action whenever and whatever I scroll it.

#### Actual Behavior
When I drag and drop it after scrolling somewhere, It doesn't work.
It changes other postion.
I am sure that previousIndex and curr

[2020-05-31 08:49] crisbeto commented on #19491
Should be covered by https://github.com/angular/components/issues/10122.

[2020-05-31 08:49] #19491 closed

[2020-05-31 10:22] crisbeto commented on #19479
In order for keyboard scrolling to work inside an element, the element has to contain focus. Your example doesn't work, because native inputs prevent the default up/down arrow key while they're focused. [Here's an example](https://stackblitz.com/edit/angular-13nutg-ybyfdb) that shows it working after you click on a button inside the content element. An alternative, if you want it to scrolling with

[2020-05-31 10:22] #19479 closed

[2020-05-31 11:18] snoooopy-ch commented on #19491
Hi, Kostadinov.
Thanks for your time to read my thread.

I read the #10122, but I couldnot find the solution.
Would do you update the way it works?
Or Is it on correcting now?

It is appreciate if you replay me.
Kind regards.

On Sun, May 31, 2020 at 4:49 PM Kristiyan Kostadinov <
notifications@github.com> wrote:

[2020-05-31 11:33] zmzimpl commented on #19156
The same problem when i am trying to `ng add ng-zorro-antd`

[2020-05-31 11:41] crisbeto commented on #19491
Drag&drop with virtual scroll doesn't work at the moment. #10122 is the issue we use to keep track of problems like this.

[2020-05-31 12:28] Gil-Epshtain opened #19494 "bug (cdk/drag-drop): Can't add Theme style '.cdk-drag-preview'"
- The theme class is set on the app-component which is the first (and only) element of the `body`.
- When executing drag-and-drop the dragged element (with the class `.cdk-drag-preview`) is attached to the body.

Due to this the `.cdk-drag-preview` isn't controlled by themes system.

This bug was already reported twice see:
1. https://github.com/angular/components/issues/17089
2. https://github.co

[2020-05-31 13:12] snoooopy-ch commented on #19491
Thanks for you reply.

May I have a chance to work it in the future?
If It is possible, When is it?

On Sun, May 31, 2020 at 7:41 PM Kristiyan Kostadinov <
notifications@github.com> wrote:

[2020-05-31 15:30] caiofcm commented on #8355
This workaround of adding a custom input while disabling the original also can help: https://stackoverflow.com/a/58542346/3208614

[2020-05-31 15:50] NashIlli commented on #13572
+1

[2020-05-31 18:02] alvipeo opened #19496 "Neither checkbox or slide toggle change form touched state"
See this - [https://stackblitz.com/edit/ng9-material-checkbox](https://stackblitz.com/edit/ng9-material-checkbox) .

If you click on slide toggle the `touched` does not change. But if you then click anywhere else outside it DOES change!

[2020-05-31 18:12] alvipeo commented on #19496
On my real project where the form is far more complex even clicking outside of the toggle does not help.

[2020-05-31 20:07] dario-collavini commented on #16699
The documentation also seems to refer to an old codebase, for example:
`stateChanges = new Subject<void>();`

But for 9.2.4 stateChanges is reported as an Observable:
`readonly stateChanges: Observable<void>;`

[2020-05-31 22:23] alan-bio commented on #15240
Shouldn't this be implemented with Pure CSS instead of SVG? Maybe it's SVG for compatibility reasons. I will investigate.

[2020-06-01 06:33] crisbeto commented on #19496
`touched` means that the user is done interacting with it, which is basically the same as listening for a `blur` event on the element. Material works this way, because it's consistent with how the native checkboxes work (see https://stackblitz.com/edit/ng9-material-checkbox-vesz7j?file=src/app/app.component.html). If you want something that changes as soon as the user has changed the value, you ca

[2020-06-01 06:33] #19496 closed

[2020-06-01 06:42] fabriziodebortoli commented on #18705
These things have already been done.

Importing from @azz/library does not work.
Only importing directly.

[2020-06-01 07:02] Toso82 commented on #10306
Hello all i have the same and use matTooltip="..." as @c69 not solve. I add than use all in latest version

[2020-06-01 07:11] akopchinskiy commented on #16699
@dario-collavini

Oh, really? Look at the original post's date.

[2020-06-01 08:13] devversion commented on #18705
Okay. I definitely confirmed multiple times now that this is working as expected. There is not more we can do. Sorry.

[2020-06-01 10:49] dario-collavini commented on #16699
Is your reply supposed to be of help? I just wanted to highlight that on the REFERENCE doc site material.angular.io v9.2.4 the documentation is not only cumbersome as you stated, but also out of date, so it is not just a matter of syntax refactoring.

[2020-06-01 15:46] andrewseguin commented on #19444
You can define your own sorting algorithm by providing your own function to the data source.

The function you want to set is `sortData`, which takes the data array and the sort and returns the sorted values.

I'm not sure why this case is proving to be an oddball, but you should be able to create a function that matches your needs.

https://material.angular.io/components/table/api#MatTableDataSou

[2020-06-01 15:54] andrewseguin commented on #19444
Here's a reproduction of setting your own `sortData`: https://stackblitz.com/edit/angular-92pdva-qxlj2b?file=app/table-sorting-example.ts

[2020-06-01 16:51] alvipeo commented on #19496
Thank you!

[2020-06-01 18:52] GXGOW commented on #18561
It is indeed rendering properly with Ivy enabled on the latest version (9.1.9) of Angular. Thanks!

[2020-06-01 19:46] cik10p commented on #19444
Hello @andrewseguin and @devversion,
Thanks for great example, appreciate your help allot guys! :)
I guess I will settle with your solution for now. Surely this is OK solution, as it provides a way to utilize pretty much any sorting logic one might need.
Sadly this increases amount of code **I must maintain**, I am sure you understand the hassle. **Would love to see a more elegant solution/option

[2020-06-01 19:54] #19454 closed

[2020-06-01 20:28] mmalerba commented on #16699
you can assign `Subject<void>` to `readonly Observable<void>`, `Subject` implements the `Observable` interface

[2020-06-01 20:41] andreElrico commented on #1331
+ [working stackblitz mat-range-slider](https://stackblitz.com/edit/angular-qbqwl3?file=src%2Fapp%2Fslider-configurable-example.html)
+ material only
+ same API surface as `mat-slider`
+ I want to wrap it in a library when I find time.

[2020-06-01 20:48] donmccurdy commented on #15027
Seeing what I think may be the same issue here. The outline is initially correct, but when mobile device orientation is changed (e.g. landscape -> portrait), changing the width of the input, the outline will overlap the label text.

[2020-06-01 21:06] chriszrc commented on #1331
I ended up using this one:

https://www.primefaces.org/primeng/showcase/#/slider

It was easy to just add that one component, but it's also a bit broken with reactive forms :(

[2020-06-01 21:14] philmayfield opened #19501 "feat(mat-slide-toggle): Consider adding loading state indicator"
#### Feature Description

Add a progress spinner to the "thumb" of the mat-slide-toggle component as shown in the Behavior section of Material design documentation: [https://material.io/components/selection-controls#switches](https://material.io/components/selection-controls#switches)

#### Use Case

Material describes the toggle behavior as "When a user toggles a switch, its corresponding action

[2020-06-01 21:23] jrood opened #19502 "bug(cdkTrapFocus): Sets aria-hidden to true"
#### Expected Behavior

`cdkTrapFocus` should not set `aria-hidden` to `true` because hidden area elements are not supposed to have focusable content  https://dequeuniversity.com/rules/axe/3.2/aria-hidden-focus?application=AxeChrome but the point of having a focus trap is so that you can use it with focusable content.

#### Actual Behavior

cdkTrapFocus sets `aria-hidden` to `true`
See comments on

[2020-06-01 22:43] mmalerba commented on #15809
Yeah, I agree with that, would be a useful addition.

[2020-06-01 22:50] mmalerba commented on #19410
I don't have a strong opinion about it, but we should probably just do the same thing MDC is doing for consistency

[2020-06-01 23:09] mmalerba commented on #19446
Yes, that example is live. The reason the stackblitz one isn't working is because the url is not returning the svg asset, its returning an HTML document (probably the default thing stackblitz serves for invalid paths). I suggest using the Chrome DevTools Network tab to inspect the icon request and see what's actually being served in your app.

[2020-06-01 23:49] jelbourn commented on #19483
I believe this should be fixed by the 10.0.0-rc.0 release we published today. Let us know if that's not the case

[2020-06-01 23:49] #19483 closed

[2020-06-01 23:54] jelbourn commented on #19502
This is working as intended. Focus trapping is a special case where this is necessary and a11y linters often report it as a false positive.

[2020-06-01 23:54] #19502 closed

[2020-06-02 00:00] jelbourn commented on #19494
Nothing in Angular Material sets a theme class to any element like this. It sounds like something your app would be doing. It sounds like you may just be having a CSS targeting or specificity issue, which you would have a better chance debugging on StackOverflow or gitter. Feel free to open another issue with a reproduction if you believe there's some bug in cdk/drag-drop.

[2020-06-02 00:00] #19494 closed

[2020-06-02 06:33] prtk9 opened #19506 "Mat Tabs endless toggling issue on fast changing of tabs"
**Expected Behavior**
Change tabs very quickly, each tab has large amounts of data to process. When switching between tabs too quickly the tabs shouldn't go into an endless toggle.

**What behavior were you expecting to see?**
On changing tabs very quickly, it shouldn't get stuck in endless toggle and instead stop on the last clicked tab.

**What behavior did you actually see?**
Change tabs very q

[2020-06-02 06:51] crisbeto commented on #19506
It's hard to tell what's going on from the description. Can you post a Stackblitz that shows the issue?

[2020-06-02 07:00] prtk9 commented on #19506
https://github.com/angular/components/issues/4639, this was a similar issue raised by someone and it has the required reproduction steps.
@crisbeto Could you please try and have a look at that ?

[2020-06-02 07:05] crisbeto commented on #19506
It looks like a fix for that issue was pushed a long time ago so if this fails, it's probably something different.

[2020-06-02 07:12] prtk9 commented on #19506
yes, but the issue still persists, when there are two or more than two tabs and each tab contains lot of content(suppose 1000000 records in a grid), fast toggling between the tabs results in an endless cycle of toggling. On attaching a debugger every thing seems to work fine, as in proper index of the selected tab is passed, but it goes on endlessly.

[2020-06-02 08:03] andreElrico opened #19507 "bug(slider): keyboard focus always has accent color"
#### Reproduction

+ use tab [HERE](https://stackblitz.com/edit/angular-jggcjm) to focus with keyboard

#### Expected Behavior

I expect the focus color to be of the respective color type (primary; accent; warn )

#### Actual Behavior

The focus color is always "accent" no matter what color I chose.

+ Is this the desired behavior ?

[2020-06-02 08:36] komalgmore opened #19508 "update Mat-table row without refreshing page ."
#### What are you trying to do?

What are you trying to do?

#### What troubleshooting steps have you tried?

What are you seeing that does not match your expectations?

#### Reproduction

We can only help if we can reproduce the problem ourselves.

Use StackBlitz to demonstrate what you are trying to do: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1.
2.

#### Environment

-

[2020-06-02 08:39] komalgmore opened #19509 "Update Mat-table row without refreshing page or component"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
1.  when  timers value 00:00:00 want to change status from open to closed.  without refreshing page.
2.

#### Expected Behavior

What behavior were you expecting to see?

#### Actual Behavior

What behavior did you actually see?

#### Environment

- Angular:
- CDK/Material:

[2020-06-02 09:10] devversion commented on #19483
Yeah, this is fixed quite sure, but I wanted to figure out why it failed in the first place as CLI projects should have never been affected by this change, unless build optimizer is disabled.

[2020-06-02 09:47] jhajkom commented on #19391
Hello @mmalerba thank you for your response, I believe this is still an issue. Using a mat-hint with a `mat-error` class is not the same as using a mat-error. The filed is also not responsive in terms of the validation. What I mean by that is that it does not turn red when there are errors. Your mat-error with text `boooe` does not show when the form is invalid.

In the example provided in the abo

[2020-06-02 10:16] naveedahmed1 commented on #19483
I can confirm that the issue has been fixed in 10.0.0-rc.0

[2020-06-02 10:24] KissBalazs opened #19514 "mat-select placeholder not working."
# 🐞 bug report

### Affected Package
Angular Material 9

### Is this a regression?
Not sure.

### Description

Using `placeholder` attribute has no effect in mat-select, if `mat-label` is provided also.

## 🔬 Minimal Reproduction
Forked from the [mat-select example in the documentation](https://material.angular.io/components/select/overview):

https://stackblitz.com/edit/angular-qlpnim-vyfruq?file

[2020-06-02 11:57] Spaider15 opened #19510 "bug(mat-select): incorrect behavior when render array of mat-select components"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/angular-jad3yi

Steps to reproduce:
1. click 3 times add element
2. on second element choose something

#### Expected Behavior

What behavior were you expecting to see?
Only second element selected

#### Actual Behavior

What behavior did you actually see?
Second and third element select value

#### Environment

[2020-06-02 12:59] Sky4CE opened #19511 "bug(mat-chip-list): ReferenceError: Cannot access 'MatChipRemove' before initialization"
#### Reproduction

Steps to reproduce:
1.  Create new angular 10 rc app
2. Add angular material 10 rc
3.
[code]

#### Expected Behavior

MatChips should work

#### Actual Behavior

What behavior did you actually see?
![image](https://user-images.githubusercontent.com/9821633/83522746-c654c180-a4e9-11ea-84cc-c6e6231e3805.png)

#### Environment

- Angular: 10.0.0-rc.0 - 10.0.0-rc.2
- CDK/Material: 1

[2020-06-02 13:37] AliciaThomson opened #19512 "mat-alert is read by the NVDA reader twice"
Input placeholder is read by the NVDA reader twice

#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/angular-q3ssql

Steps to reproduce:
1. Go to https://stackblitz.com/edit/angular-q3ssql
2. Run NVDA reader (default settings)
3. Focus on first field
4. Then tab to next field too trigger error on first field

#### Expected Behavior

mat-error message should on

[2020-06-02 13:40] jrood commented on #19502
Thanks @jelbourn ! I'm hoping to report this as an issue with axe-puppeteer in that case. Do you know what criteria/marker an a11y linter could use to identify this as a special exception (since, in general, the no-focusable elements rule for `aria-hidden` should still be enforced)?

[2020-06-02 13:45] jrood commented on #19502
@jelbourn could you also help clarify why focus trapped elements would need to be `aria-hidden` at all? It seems like it would be confusing that something could be in focus but not visible.

[2020-06-02 13:53] junyper commented on #19502
@jelbourn I think axe is technically correct. To correctly implement focus trapping we need to implement or use the inert attribute polyfill, which would essentially make focusable elements that are hidden not focusable temporarily. Otherwise, by putting aria-hidden on focusable elements you are building a UI that is confusing for screen reader users.

https://github.com/GoogleChrome/inert-polyfil

[2020-06-02 14:14] mariusvn commented on #17079
Error still happening here on webstorm ...

[2020-06-02 14:14] TheParad0X commented on #17079
Same here.

[2020-06-02 14:23] eng-dibo opened #19513 "ngcc failed to run on @angular/material@9.2.1"
I just created a new Angular project with `Ivy` enabled using stackblitz and installed `@angular/material@9.2.1`.
it is the only installed package (and it's peer dependency @angular/cdk) .

but I got an error `ngcc failed to run on @angular/material@9.2.1`

https://stackblitz.com/edit/angularmaterial-262020

error:
[code]

[2020-06-02 15:20] jelbourn commented on #19513
This issue doesn't have enough information for the team to investigate. Please include:
* A reproduction of the issue (preferably via StackBlitz)
* Any relevant errors and stack traces
* **Any relevant details about your build environment**

(this is a canned response)

[2020-06-02 15:21] jelbourn commented on #19512
Duplicate of #14281

[2020-06-02 15:21] #19512 closed

[2020-06-02 15:56] Nishfdo opened #19515 "bug(tab): overlap the previous tab body content"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/angular-jpeybu?file=src%2Fapp%2Ftab-group-dynamic-height-example.html

Steps to reproduce:
1. Change the animationDuration from 500ms to 5000ms

#### Expected Behavior

Navigate from one tab to the next tab without overlapping the previous tab body with animation. In this scenario, I am using just two tabs.

###

[2020-06-02 16:41] monstrege commented on #12035
Thanks @mmalerba,

Your temporary solution seems to work, but I had to add a minor change to make it work.
I had to add
import '@angular/compiler'
into main.ts

Do you know how to fix it without adding angular/compiler?

[2020-06-02 17:17] andrewseguin commented on #19509
Please fill out the template so that we can help you resolve the bug you are reporting

[2020-06-02 17:17] #19509 closed

[2020-06-02 18:00] mmalerba commented on #12035
What was the error you were seeing? I don't think it should be necessary to import @angular/compiler. I updated my stackblitz to the latest version of Angular and it still seems to be working without that import: https://stackblitz.com/edit/angular-azrzg5-pky8e5?file=main.ts

[2020-06-02 18:44] jelbourn commented on #19483
@devversion this was the decorator down-leveling issue, no?

[2020-06-02 19:08] eng-dibo commented on #19513
I already included a StackBlitz reproduction. @jelbourn
and here it is again
https://stackblitz.com/edit/angularmaterial-262020

[2020-06-02 19:14] mmalerba commented on #17079
I wonder if something in the webstorm toolchain is on an old version that has the issue. I don't think there's anything the Angular Components team can do since its already compiling fine at HEAD

[2020-06-02 19:38] devversion commented on #19483
@jelbourn Yeah. CLI projects should have not been affected at all in `next.2`, so either build optimizer code in CLI does not run as expected, or the project has special setup that doesn't run build optimizer. Either way though, downleveling decorators fixes this in SSR as build optimizer would not be needed.

I'm going to check that for the sake of completeness if anything is special in the CLI p

[2020-06-02 19:49] #19508 closed

[2020-06-02 19:51] devversion commented on #19511
Hello! This should have been fixed by in our latest RC of Angular CDK/Material. Can you please update? Looks like you're still on `next.2`. Please keep us updated! Thanks

[2020-06-02 19:51] #19511 closed

[2020-06-02 20:06] mmalerba commented on #19391
Sorry, is this more like what you were trying to do? https://stackblitz.com/edit/chips-autocomplete-required-failure-txn7nn?file=app/chips-autocomplete-example.ts

It does feel like it could work a little better out of the box, without me having to manually update the control value in a bunch of different listeners. I'll reopen this issue to track improving the out of the box experience

[2020-06-02 20:07] jelbourn commented on #19515
Confirmed that this happens once the animation duration exceeds 4000ms

[2020-06-02 20:09] jelbourn commented on #19501
This isn't something we specifically plan on doing, though it could conceivably be added to MDC Web at some nebulous point in the future.

[2020-06-02 20:09] #19501 closed

[2020-06-02 20:14] jelbourn commented on #19489
@antonisPanos `MatIconRegistry` uses `HttpClient` in a pretty straightforward way, so I don't see how it would be causing CORS issues here. Is there something specific in `MatIconRegistry` you think is problematic here? Without that, there's not much we can really do here.

[2020-06-02 20:17] jordandh commented on #19337
I can confirm this happens with Angular 7.1.1 in
MacOS 10.15.5 Safari 13.1.1
iPadOS 13.5 Safari
iOS 13.5 Safari

[2020-06-02 21:28] Nishfdo commented on #19515
Thank you for looking into this Jeremy!

It does not look like that this behavior due to animationDuration.  Of course, having larger animationDuration helps to visualize the issue. According to my observation, we can reproduce this with even lower animationDuration.

In our case, we are using mat-tab with mat-menu. Take a look following StackBlitz where it is easy to see:
https://stackblitz.com/e

[2020-06-03 00:51] safwaan-menk commented on #14784
Having this issue also. Is there any update on a resolution?

[2020-06-03 02:53] jelbourn commented on #18392
FYI the issue tracking this in sass-loader is here: https://github.com/webpack-contrib/sass-loader/issues/804

[2020-06-03 04:10] jelbourn commented on #19513
I misunderstood that the error is ocurring _in_ StackBlitz

[2020-06-03 04:31] eng-dibo opened #19520 "bug(MatCardModule): build(ivy): unable to write a reference to MatCardModule"
I recently upgraded to Angular 9.0
using Ivy, there is a new error appeared

[code]

[code]

- all other material modules have been compiled without any problem
- adding `"enableIvy": false` to `angularCompilerOptions` solves the issue.

[code]

[code]

[2020-06-03 04:43] arunguptacatalystone opened #19521 "help(COMPONENT): TITLE Fix the first item in draggable list, so that it's position is never changed."
Description :

There's a scenario that I have a list which needs to be rendered in CDK Drag Drop.
What i want is that the first item is non draggable & it's position should never change.
Currently, non draggable items are also moved if we drag another item around it.

Example :
**Header**
**Item1**
**Item2**

So Item1 & Item2 should can never be dropped on no. 1 position.

The solution i have righ

[2020-06-03 04:56] robo3945 commented on #17079
I personally did the test with the Webstorm 2020.1.2 RC and it solves my problem.

[2020-06-03 05:29] eng-dibo commented on #19520
exporting all modules from a file 'material.ts' causes the problem.

material.ts:
[code]

otherFile.ts
[code]

even it worked in [stackblitz](https://stackblitz.com/edit/issue-matcardmodule-362020)without any problem, removing the file 'material.ts' and importing modules from @angular/material directly solved the problem, but I don't know why!!

[2020-06-03 05:31] eng-dibo commented on #19191
Thank you @Splaktar, @marosoft for your help.
please check this comment.

https://github.com/angular/components/issues/19520#issuecomment-637963035

[2020-06-03 06:15] crisbeto commented on #19520
I believe this should be sorted out in the next RC of the Framework and Material.

[2020-06-03 07:14] seedy commented on #9624
Sorry, I left this issue stale for a while.

You can consider it fixed as I didn't need any change since.

[2020-06-03 07:14] #9624 closed

[2020-06-03 07:42] LoganDupont commented on #10379
@mmalerba I'm not sure but I thought that this issue was created because we don't have an option to create nested mat-options as `mat-optgroup` is not selectable.

For example in my case I had some brands and each brand has multiple stores. The client should have the option to see the data (ex. number of visitors)  collected for one store or all the stores by selecting just the brand name. The rea

[2020-06-03 07:47] antonisPanos commented on #19489
I don't think it's something specific my friend. To be honest it's a very strange case and the worst is that I can't find a way to reproduce it. Like I mentioned in the issue, this behavior is not consistent and I thought of asking, just in case you faced something similar.

I'm going to close this issue. Thanks for your time my friend!

[2020-06-03 07:47] #19489 closed

[2020-06-03 09:08] jhajkom commented on #19391
@mmalerba Yeah, your second example is exactly it. Thanks for taking the time to look into it and reopening the ticket. 🙂

[2020-06-03 09:23] abheist commented on #11650
@kings100 are there any side-effects.
If not, you can add a pull request for it.

[2020-06-03 09:37] devversion commented on #19483
@naveedahmed1 Thanks for sharing your app. Looks like nothing special in your app. My impression was that CLI would not care about decorators being downleveled or not, but it looks like for the server target, build optimizer is disabled, so it makes sense that this error surfaced. Thanks!

[2020-06-03 10:04] devversion commented on #19368
@jacobweber Thanks for replying so quickly. I pulled the StackBlitz with the `error` component included, updated all dependencies and ran `yarn ng test` a couple of times. Re-run the tests from within the browser multiple times, but never saw the mentioned issue.

I'm afraid to say that I think we won't be able to spend a lot of time on it, given that it seems like this issue hasn't been surfaced

[2020-06-03 10:04] #19368 closed

[2020-06-03 10:04] fabriziodebortoli commented on #18705
Your proposed changes are already been done and it does not work as you can see from my repo.
So I think I don't understand what you mean.
Thanks anyway.

[2020-06-03 10:16] devversion commented on #18705
@fabriziodebortoli I don't know what you tried or not, but what I can see is that your repository does _not_ have the direct import removed in the app component. Surely you might have tried that before, but I can only assume you did not. Fixing that import, along with bullet points (1), (2) and (3), makes it work for me.

https://github.com/fabriziodebortoli/library-material-dialog-styles/blob/mas

[2020-06-03 10:17] devversion commented on #18705
I assume you did not replace the import in app component as this file hasn't been touched since the initial reproduction, while you applied all other suggestions (from my posts) to the repository.

[2020-06-03 10:22] fabriziodebortoli commented on #18705
Now I understand and it works.
Thank you for your time.

[2020-06-03 11:12] visurel opened #19523 "bug(sidenav): :enter animations inside sidenav are not triggered"
#### Reproduction

https://stackblitz.com/edit/components-issue-s1cjty

Steps to reproduce:
1.  Reload page to see :enter animation not running in `<mat-sidenav>` even though it is running in `<mat-sidenav-content>`

#### Expected Behavior

The animation should run on :enter.

#### Actual Behavior

Animation not running

#### Environment

- Angular: 9.0.2
- CDK/Material: 9.1.0
- Browser(s): Firefo

[2020-06-03 11:22] lukekroon commented on #10242
`<table matSort (matSortChange)="sortData($event)" [matSortActive]="sortActive" [matSortDirection]="sortDirection" matSortDisableClear>`

Setting the variables sortActive and sortDirection in the component does the job for me. It updates the arrow as well.

https://github.com/angular/components/issues/7838#issuecomment-380380985

v9.1+

[2020-06-03 11:23] NoelLH commented on #12171
Thanks for the discussion all, and suggested workarounds @cbejensen + @thekarlbrown.

I was seeing this issue in an Angular Universal app, I think most visibly on even faster connections during the handover from server to client JS (possibly a side effect / deeper issue around where things load from, but this was at least the most visible symptom).

I had to adapt these solutions to get server ren

[2020-06-03 12:28] Warwizza opened #19524 "Chrome 83 breaks custom text autofill styles"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/angular-zwx3xh?file=src/app/text-field-autofill-monitor-example.html

Steps to reproduce:
1. Open the StackBlitz above.
2. Click the 'Open in New Window' button (top right hand corner).
3. Fill in a any username and password.
4. Click the key icon in the URL-bar (on the right-side).
5. Click the save button to s

[2020-06-03 12:30] Warwizza opened #19525 "bug(COMPONENT): TITLE"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/edit/angular-zwx3xh?file=src/app/text-field-autofill-monitor-example.html

Steps to reproduce:
1. Open the StackBlitz above.
2. Click the 'Open in New Window' button (top right hand corner).
3. Fill in a any username and password.
4. Click the key icon in the URL-bar (on the right-side).
5. Click the save button to s

[2020-06-03 12:30] #19525 closed

[2020-06-03 14:05] pditommaso commented on #11903
+1

[2020-06-03 14:17] IrisWight opened #19527 "feature(MatTooltip): Possibility to define current tooltip position"
#### Use Case

When the element with tooltip reaches the viewport border, the tooltip automatically changes its position from the one that was originally set in **matTooltipPosition** input. In case when we add arrow to the tooltip we can’t change the position of it.

Screenshots:
<img width="556" alt="1" src="https://user-images.githubusercontent.com/14252375/83647621-c58d5f80-a5bd-11ea-9f53-a283

[2020-06-03 15:15] josephperrott opened #19528 "bug(input): matInput overwrites aria-described by"
Copied from internal bug report:

According to https://material.angular.io/components/input/overview#accessibility:

but it seems they are not added but replace the pre-existing aria-describedby, see [here](https://github.com/angular/components/blob/8008218223b621d9bedb857c56364eceb85cd89e/src/material/input/input.ts#L84)

We use the aria-describedby to announce keyboard shortcuts for sending the

[2020-06-03 15:35] shahmirn commented on #10242
@lukekroon It doesn't work in the same scenario as the original bug, which is code in the callback of .subscribe()

https://stackblitz.com/edit/angular-material2-issue-qjaqm4?file=app%2Fapp.component.ts

[2020-06-03 16:02] Wilt commented on #19456
@jelbourn Sounds good!
Any idea on when will it move from the backlog to a sprint? Typed components would be very useful for checking application/code consistency.

[2020-06-03 16:16] crisbeto commented on #19527
Closing as a duplicate of https://github.com/angular/components/issues/15216.

[2020-06-03 16:16] #19527 closed

[2020-06-03 16:43] mcmessina opened #19529 "docs-bug(Dialog): Highlighting bug on Chrome"
#### Documentation Feedback

While following the example to create a Dialog box with an input area, clicking around the component causes strange highlighting effects in Chrome (see animation of bug below). I am using Chrome Version 83.0.4103.61 (Official Build) (64-bit) with MacOS Version 10.15.5 (19F101). I do not see this issue occurring on Safari or Firefox.

Is there a workaround to prevent th

[2020-06-03 16:45] crisbeto commented on #19524
The monitor's purpose is to detect if something is autofilled, it's not supposed prevent the blue background from showing up. If that's how it worked before, it was by accident.

[2020-06-03 17:57] jelbourn commented on #19524
Closing this since it's working as intended as @crisbeto described.

[2020-06-03 19:01] mateusrcm opened #19530 "Add docs for cdk/coercion"
Just a question and a suggestion, why such things as cdk/coercion doen't have documentation on your website, and why don't u guys implemented it yet?

[2020-06-03 19:55] leomendoza123 commented on #8881
this is still an issue on Angular 9
https://stackblitz.com/edit/angular-9-material-starter-cbywvk?file=package.json

[2020-06-03 19:56] jelbourn commented on #19456
It's hard to say. It's currently number 23 on the backlog behind the remaining work for MDC-based components and test harnesses, but the MDC work is pretty large in scope since it involves updating a lot of Google code internally. We might be able to accept PRs if the changes are strictly non-breaking.

[2020-06-03 19:57] mmalerba commented on #10379
Hmm ok, I didn't realize you wanted the groups to be selectable. I'll reopen this as a feature request, but we'll need to verify whether this actually makes sense from an accessibility standpoint

[2020-06-03 20:23] Jadamae77 commented on #4071
Any updates?

[2020-06-03 20:23] devversion commented on #19513
@eng-dibo Could you please clarify what I need to do the reproduce this in StackBlitz? When I open the shared StackBlitz, the app just compiles fine and the toolbar renders for me.

[2020-06-03 20:42] devversion commented on #19528
That's an interesting bug. I agree that this behavior is confusing. We could get around it by merging it with the static `aria-describedby` attribute value that we inject in the `MatInput` `constructor`.

[2020-06-04 03:14] omaracrystal commented on #8857
So the way I worked around this was to add a panel-class to the dialog then set up custom animation for that dialog.

global scss file
[code]
custom dialog button component
[code]

[2020-06-04 07:05] Warwizza commented on #19524
After reviewing the docs I noticed where I was wrong, but according to the docs after including some styling the background could be set using the autofill state: [Styling the autofill state of an input](https://material.angular.io/cdk/text-field/overview#styling-the-autofill-state-of-an-code-lt-input-gt-code-).

I have included that piece of scss to the styles.scss of the [StackBlitz ](https://st

[2020-06-04 07:35] am-awais commented on #13288
Any update on this issue?

[2020-06-04 08:34] umutyerebakmaz opened #19533 "mat-button docs show examples for mat-button-toggle"
#### Documentation Feedback

In the document of the material button component, in the example of using the toggle button. They showed that it was used only by importing matButtonModule. However, MatButtonToggle Module should also be specified in the API tab. It is required for the given toggle button sample to work.

https://material.angular.io/components/button/api

[2020-06-04 12:21] yoni333 commented on #18637
thx .  you help me a lot / i made the same mistake wuth MatProgressSpinner instead of MatProgressSpinnerModule

[2020-06-04 12:49] crisbeto commented on #19529
I'm not seeing the issue on Chrome 83 on Windows. This might be some weird OS issue.

[2020-06-04 12:56] larini opened #19536 "bug(MatAutocomplete): Blur event occurs when selecting an item."
#### Reproduction

StackBlitz: https://stackblitz.com/edit/components-issue-yqt9ux

Steps to reproduce:
1. Click the autocomplete component
2. Click and hold an item.

#### Expected Behavior

No "blur" event should be fired at this moment.

#### Actual Behavior

You will see that the "blur" event occurs on mouse down, without actually exiting the component.

#### Environment

- Angular: 9
- CDK/Ma

[2020-06-04 13:15] adi86 opened #19537 "ng test dispatchFakeEvents error"
#### Bug, feature request, or proposal:
While running ng test and dispatchFakeEvents problem

#### What is the expected behavior?
Ng test runs

#### What is the current behavior?
`ERROR in ./src/app/shared/components/chips-with-input/chips-with-input.component.spec.ts
Module not found: Error: Can't resolve '@angular/cdk/testing/testbed/fake-events' in 'C:\projects\ITM.SD.CT.RTB.Angular\src\app\sha

[2020-06-04 13:43] mcmessina commented on #19529
Thanks, I think you're right. The issue was persistent on my machine until today, but the issues is not occurring for me anymore. After I opened the issue I then saw similar blinking/highlighting effects on other html elements like checkboxes on other pages, so I agree with you and think this is a Chrome or OS issue--it does not seem to be an Angular Component bug. Apologies for the false alert. I

[2020-06-04 13:43] #19529 closed

[2020-06-04 14:29] Lavdaft commented on #8150
Hey, @KevCanon . I did it, but not in a pretty good way, it worked tho. So, I changed directly the DOM by manipulating a high number (because I needed it to be translated according to the culture) and I used the pageEvent:

[code]

[2020-06-04 14:36] devversion commented on #19537
Hello! I'm trying to figure out what is going on. Is your app importing directly from `@angular/cdk/testing/tesbed/fake-events` somewhere? or better, do you use any test harnesses from Angular Material?

The Stacktrace itself is unfortunately not enough information. It's unclear whether this happened after just running `ng update` or when you started using any of the new features in v9 (such as ha

[2020-06-04 14:46] Ranaman196 opened #19538 "Badge not showing on image in angular 9"
#### Environment

- Angular:9
- CDK/Material:9

[2020-06-04 15:02] Nicolas-Hermet opened #19539 "bug(MatDialogRef): updatePosition is not consistent for previously dragged dialog"
#### Reproduction

The `updatePosition()` doesn't seem to be consistent if the dialog is previously dragged.

It is my understanding, according to the documentation that `updatePosition({bottom: '5px', right: '0px'})` will place my dialog at the bottom right of its container (`cdk-overlay-container` if I'm right ?).

[Here is a forked StackBlitz from the documentation](https://stackblitz.com/edit/

[2020-06-04 15:45] devversion commented on #19538
Hello! This issue unfortunately does not contain enough information for us to investigate. Please submit a new one and fill out all the questions asked in the issue template.

At least, we need a reproduction that demonstrates the issue, and best is also up-to-date.

[2020-06-04 15:45] #19538 closed

[2020-06-04 16:23] andrewseguin commented on #18002
@ghusse That does look like the issue - thanks

[2020-06-04 16:59] GlauberF opened #19540 "large packages with ivy and being included in the main. *. js"
#### Expected Behavior

After updating to version 9 of Angular and activating the Ivy compilation, my main file is very large and analyzing through source-map-explorer, I see that the main part occupied in the main is because of the material.
Another point is it correct for the material packages to appear in the main?

link to download the source-map-explorer that I generated: https://we.tl/t-i2QO

[2020-06-04 18:31] ankushgoyal27 opened #19541 "DatePicker: JAWS announces abbreviated weekend day names"
#### Reproduction

Steps to reproduce:
1.  Run the JAWS
2.  Open the firefox browser
3. Click on the datepicker toggle button
4. press tab until reaches the weekday

#### Expected Behavior

It should read long weekdays name as Sunday, Monday, Tuesday, Wednesday, Thursday Friday, Saturday.

#### Actual Behavior

It is reading weekdays as Sun, Mon, Tuesday, wed, Thursday Friday, Sat

#### Environmen

[2020-06-04 19:02] devversion commented on #19540
Hello! Thanks for this issue. That seems to be be actually tracked as part of a larger CLI issue: https://github.com/angular/angular-cli/issues/16866.

[2020-06-04 19:02] #19540 closed

[2020-06-04 20:06] michaelfaith opened #19542 "bug(dialog): Dialog button shaded gray on open, and source button after closing"
I didn't see anything in the release notes about this, so i wasn't sure if it was intentional, but after updating to the latest, i'm seeing a different behavior on the dialog buttons.  When a dialog is launched it's now applying a cdk-program-focused class to the first button in the dialog, and then applying the same to the source button that launched the dialog after closing.  If this isn't a bug

[2020-06-04 20:24] adi86 commented on #19537
Hi, yes we import directly from fake-events:
`import { dispatchFakeEvent } from '@angular/cdk/testing/testbed/fake-events';`
We didn't change anything in code, only ng update before in version 8 it was working correctly.  We don't use hanesses.

[2020-06-04 20:27] jelbourn commented on #19524
@Warwizza looks like Chrome 83 actually broke the technique used for applying custom styles here as part of their [makeover of the native UI controls](https://developers.google.com/web/updates/2020/05/nic83#forms)

[2020-06-04 20:30] ajay1208 commented on #16166
@josephperrott Can this be fixed?

[2020-06-04 20:31] ajay1208 commented on #16166
@crisbeto Can you please take a look at this issue.

[2020-06-04 20:41] wagnermaciel opened #19543 "bug(workspace): We need to deduplicate browsers in our WORKSPACE"
### Context
The bug is being knowingly introduced here in PR #19320. We are loading another version of chromium in the repository from `dev-infra`. We plan on using the browsers loaded from `dev-infra` as that one has RBE improvements. This is an issue to make sure we remember to deduplicate the browsers once that PR is merged in.

Paraphrasing @devversion, this change has the potential of speedin

[2020-06-04 22:57] jelbourn commented on #19515
Yeah, that's certainly unexpected.

[2020-06-04 23:05] jelbourn commented on #19502
We have the practical equivalent to the inert polyfill tracked in #9035. The current approach definitely isn't perfect, but has plugged along as "good enough" for the most part. IMO linters like axe are great for capturing oversights and mistakes, but in this case we did deliberately use this pattern and tested with screen-readers we support.

[2020-06-05 02:42] #19440 closed

[2020-06-05 02:53] #19462 closed

[2020-06-05 02:54] #19507 closed

[2020-06-05 03:11] #19477 closed

[2020-06-05 03:15] #19443 closed

[2020-06-05 11:15] alogim commented on #14793
@candelachris Yes, just put the function where you change your `mat-select` inside a `setTimeout` and the issue should go away.

[2020-06-05 11:42] crisbeto commented on #19542
This is an accessibility feature that is working as expected. You can turn it off by setting `autoFocus: false` and `restoreFocus: false` in the config.

[2020-06-05 11:42] #19542 closed

[2020-06-05 12:31] michaelfaith commented on #19542
@crisbeto thanks for the quick reply and pointing me towards the appropriate properties.

[2020-06-05 13:45] TheParad0X commented on #17079
Webstorm 2020.1.2 solves the problem for me too

[2020-06-05 15:56] crisbeto commented on #19524
I looked into it and it seems like Chrome changed the user agent styles to have `!important` on `background-color` and `color`. There's a workaround where we can change the mixin to use `box-shadow` and `-webkit-text-fill-color`, but it won't be able to set the background color to `transparent`.

[2020-06-05 17:55] devversion commented on #19537
Hello! I'm slightly confused about this issue because in version 8 we didn't even had the fake-event utils in this location/or even public. https://unpkg.com/browse/@angular/cdk@8.2.3/testing/

Could you potentially provide more context on how this worked before? I can only state that in the current state, these utils are not public and never were public API 😄

[2020-06-05 18:01] jelbourn commented on #19541
FWIW we won't be able to test JAWS again until we get back into the office

[2020-06-05 18:22] windsound3482 commented on #8812
I have seen such a question in https://stackoverflow.com/questions/57433084/is-there-a-way-to-show-mat-calendar-with-multi-month-view-using-angular-material. About how to make a multi-month View with mat-calendar. From other Apis, there is always a mode called flat mode. Is there also such a thing in Mat-calendar? After reading the code i have found nothing.....

[2020-06-05 21:29] mmalerba commented on #19106
Closing as this was resolved in the discussion above

[2020-06-05 21:29] #19106 closed

[2020-06-05 22:08] mmalerba commented on #12149
Closing due to inactivity

[2020-06-05 22:08] #12149 closed

[2020-06-05 22:12] mmalerba commented on #15957
If this is still a problem, please open a new issue with reproduction steps

[2020-06-05 22:12] #15957 closed

[2020-06-05 22:14] mmalerba commented on #16098
Closing due to inactivity. If this is still a problem please open a new issue with a reproduction

[2020-06-05 22:14] #16098 closed

[2020-06-05 22:16] mmalerba commented on #14959
It sounds like the issue has been resolved

[2020-06-05 22:16] #14959 closed

[2020-06-05 22:16] mmalerba commented on #18413
Closing due to inactivity. If this is still a problem please open a new issue with a reproduction

[2020-06-05 22:16] #18413 closed

[2020-06-05 22:19] mmalerba commented on #14328
Closing as this seems unrelated to Angular

[2020-06-05 22:19] #14328 closed

[2020-06-06 00:21] hiepxanh commented on #17292
[code]
help resolve the problem for me.

[2020-06-06 00:58] Splaktar commented on #19554
I cannot reproduce this in `9.2.4` on [the examples](https://material.angular.io/components/snack-bar/examples).

[2020-06-06 00:58] #19554 closed

[2020-06-06 06:17] webkhushboo commented on #18045
@crisbeto
If I have to disable centering of dropdown and I want options should be populated just below the dropdown , how should I do it?

[2020-06-06 09:17] naveedahmed1 commented on #7623
Has the performance downgraded further? Countries list with ~250 items now takes 2-3 seconds to open, after I tap/click .

[2020-06-06 12:22] MursalovAltun opened #19555 "bug(drag-drop): cdk-overlay-pane is not scrollable"
To reproduce this issue we need to create a material dialog and make it draggable using cdkDrag directive and cdkDragRootElement=".cdk-overlay-pane" applied to the dialog's header.
Therefore in mobile devices we are not able to scroll dialog's content

StackBlitz with the issue - https://stackblitz.com/edit/angular-ivy-nyrwmp

This issue only appears in 9.0.0+ versions.

#### Expected Behavior

Ju

[2020-06-06 12:27] directcuteo opened #19556 "MatFormField: Changing appearance is not reflected in the view."
**Reproduction**
Steps to reproduce:

1. Define a mat-form-field:
My own:
[code]
2. Change the appearance:
`update() { this.data.appearance = 'outline'; //was 'standard' before  }`
or
    `@ViewChild(MatFormField) matFormField: MatFormField;`
``update() {
this.matFormField.appearance = 'outline';  //was 'standard' before
}``

**Expected Behavior**
It should change the appearance of the `<mat-form-

[2020-06-07 08:35] crisbeto commented on #19556
It sounds like you aren't triggering change detection when you change the appearance. Here's an example that shows it working: https://stackblitz.com/edit/angular-hgseag

[2020-06-07 08:35] #19556 closed

[2020-06-07 08:40] crisbeto commented on #19555
It seems like 2 different issues are being described here.

1. Based on the issue title, `cdk-overlay-pane` isn't meant to be scrollable so if you need it to be, you have to override the CSS yourself.
2. Based on the issue description, it seems like you've hit a legitimate bug where `cdkDragHandle` can't be set on a `cdkDrag` element.

[2020-06-07 12:30] mischkl opened #19561 "bug(MatInputHarness): error setting decimal value on input with type="number""
#### Reproduction

Steps to reproduce:
1. Create a matInput with type="number" and step="0.01"
2. Get MatInputHarness for the input and attempt to set a decimal value on it, e.g.

[code]

#### Expected Behavior

The value is set to 22.45

#### Actual Behavior

What behavior did you actually see?

Chrome gives the error `The specified value "22." is not a valid number. The value must match to the f

[2020-06-07 14:23] crisbeto commented on #19561
I believe this should be resolved by https://github.com/angular/components/pull/18812.

[2020-06-07 19:00] jsim5446 commented on #8862
Here is a repro that demonstrates this issue is still not fixed in Angular 9, but also shows a work-around that can eliminate the memory leak:

https://stackblitz.com/edit/angular-ivy-u1fvgw

As @FionaTreveil mentioned in previous comment, this is actually a bug in the core Angular animations package, not limited to the Angular Material sidenav component.  The stackblitz example included here is j

[2020-06-08 01:33] epaitz opened #19562 "Pagination controls for mat-tab-group do not appear when used with the mat-sidenav"
I am trying to use the mat-sidenav with the mat-tab-group and there appears to be an issue with the pagination controls for the mat-tab-group. The test app will create 3 default tabs. If you add enough tabs so that there is just enough space to show the tabs without the tab pagination controls being displayed (based on your screen width), then open the sidenav by clicking the Toggle Sidenav button

[2020-06-08 08:15] keatkeat87 opened #19563 "feat(Cdk-FocusTrap): ability to add more overlay detect on EventListenerFocusTrapInertStrategy"
#### Feature Description

currently EventListenerFocusTrapInertStrategy only base on "div.cdk-overlay-pane" to detect the focus is inside overlay.
![image](https://user-images.githubusercontent.com/8691013/84007002-45db0880-a9a2-11ea-8c4e-531a5115fa0f.png)
but it is not enough when we using third party plugin or our own overlay.

#### Use Case
![1](https://user-images.githubusercontent.com/8691013

[2020-06-08 08:45] maksymzav commented on #12322
Here is the way to translate the strings from mat-paginator in i18n way:
https://github.com/maksymzav/mat-paginator-intl/commit/ab9520265c16553f5ad1e13e562467a2f87647da (when it is more convenient to have the strings in your messages.xlf file or any other file used by i18n)

[2020-06-08 09:32] FcKoOl commented on #13807
Hi @ KevynTD I'm using your solution, nice work. I am trying to figure out how can I customize the content of the list with CSS without have multi objects to "select". Ex: I need 2 different font sizes for 2 different items.

if I add one div on {{item}} it will make it as an object to select. How can I avoid that?

![imagem](https://user-images.githubusercontent.com/3814474/84015007-211b6c80-a973

[2020-06-08 09:57] Tourist2010 commented on #15880
adding the NoopScrollStrategy as a scroll strategy while opening the dialog seems to solve this issue.
[code]
Dont forget to import it

`import { NoopScrollStrategy } from '@angular/cdk/overlay';`

[2020-06-08 11:31] Alphanaut commented on #18169
Thank you for providing the suggestion and link to use route animations. The issue was previously closed but seemingly without adequate consideration. A tab group is considerably easier to implement than the mat-tab-nav-bar, but a) one cannot link directly to a specific tab and b) we cannot reuse directives in a single page; certainly we can write our own custom directives as sub-components, but t

[2020-06-08 12:07] devversion commented on #19543
I created https://angular-team.atlassian.net/browse/DEV-115 for the tracking of the bad caching issue. Something is not reliably configured for extracting the browser archives.

[2020-06-08 12:30] bjornharvold commented on #13372
Yes please! ...and thank you to @oleggd for the workaround. I did notice that two methods in your work will be removed in Angular 10. The team says they are no longer in use but if you remove them, it does change the animation.

[code]

[2020-06-08 13:41] vijayscms commented on #15728
I am also facing same issue. Is there any fix available for this?

[2020-06-08 13:43] tmburnell commented on #19134
I may have got this to work (not fully tested).
[code]
If I make all my variables use my definition instead of materials.

The only issue i see is there is no clean way to do:
[code]
because it will by default use materials definition and not mine. (unless I can find a way to globally apply it.

[2020-06-08 13:53] raw3 commented on #15027
Setting a fixed width globally on `.mat-form-field-prefix` is a temporary fix we are rolling with at the moment. The issue was visible when using a custom element with `matPrefix` even without a dialog in our case. Very situational, but figured I'd share.

[2020-06-08 14:58] lukaonik commented on #17418
this is the first sentence on the [Overview Page](https://material.angular.io/components/datepicker/overview). maybe we could replace it with the following sentence

[2020-06-08 15:36] Danebrouwer97 commented on #17418
I'd be happy with any sort of improvement. Whether it's to the [Overview Page](https://material.angular.io/components/datepicker/overview) or the [API Page](https://material.angular.io/components/datepicker/api) doesn't really matter to me. I just want to prevent the next person from making the same mistake I did.

[2020-06-08 17:38] swseverance commented on #19536
@larini I do not believe this is actually a bug.

`blur` simply indicates that the `input` element has been blurred. It does not mean the user has exited the component. You may consider updating your code to the following:

[code]

[2020-06-08 20:41] vanessanschmitt commented on #6468
Hey @jelbourn! I was also hoping to use isPotentiallyFocusable. My use case is that I'm searching for the first focusable invalid element in a form, but the element may be in a collapsed section of the form, so isFocusable returns false because isVisible returns false. Would you be open to exposing isPotentiallyFocusable, or should I copy the implementation to our code base since that method isn't

[2020-06-08 20:53] devversion commented on #19537
I'm closing this as I don't think there is an issue from our side and this hasn't come up anywhere else. Please note that this does not mean that we'll not continue looking when you provide more information! thanks!

[2020-06-08 20:53] #19537 closed

[2020-06-08 21:50] KevynTD commented on #13807
Well noticed @FcKoOl !
Thank you very much for the report!

I was taking the element directly from the event, and the event will not always come from the draggable element, as you commented, it may be from some of his children. So to fix it I put a function inside the multiSelect to always get the draggable element, and called this function in two parts inside multiSelect.

[code]

The Code is alr

[2020-06-09 00:09] jelbourn commented on #6468
@vanessanschmitt I would be good with making `isPotentiallyFocusable` focusable, though I may want to bikeshed the name a bit to be less ambiguous.

[2020-06-09 00:13] jelbourn commented on #17418
The tricky thing is that our API docs are auto-generated, so it's not super easy to just drop in a special case for the datepicker. I could see adding a brief bit to the Overview about this, but probably won't have time to do anything myself any time soon.

[2020-06-09 06:10] nani2ratna commented on #12287
I need this to add multiple footer with having different number of columns

[2020-06-09 06:27] baljinderkaur commented on #10924
Yes I had the same issue. I want to use zoom property in different devices but the mat-select dropdown is not taking right position. Should be solved. But mat-autocomplete is working fine that do not have transform property and animation. Can't we use the same?

[2020-06-09 07:13] ilapavuluri opened #19573 "(mat-selection-list): how to set custom color for check-box"
#### Reproduction

Use StackBlitz to reproduce your issue: https://stackblitz.com/fork/components-issue

Steps to reproduce:
I am using mat-selection-list in my application, and want to set specific color for the check-box...like mentioned in the below spec.I tried with color input param by giving primary,warn,accent....they are changing the color but not matching with the color given in the spec(

[2020-06-09 07:26] Wloclawek opened #19574 "MatStepper `tabpanel` element should not have `tabindex="0"`"
#### Reproduction

Steps to reproduce:
1. Open: https://material.angular.io/components/stepper/api
2. Use tab and go to first input.

#### Expected Behavior

Focus should always be visible (users using only the keyboard).

A11Y / WCAG / accessibility

#### Actual Behavior

Between the first step (tab) and the first field, the focus disappears.

#### Environment

- Angular: 8.
- Angular Material: 9

[2020-06-09 07:51] ahimik opened #19575 "bug(CDK): The application is unable to start using cdk/material version 10.0.0-rc.1"
#### Reproduction

Steps to reproduce:
1. Update cdk/material v. 9.2.4 to v.10.0.0-rc.1

#### Expected Behavior

Application is bootstrapped successfully.

#### Actual Behavior

White screen. Application bootstrap fails with the following error:

[code]

#### Temporal workaround

Turning off ivy in tsconfig.json:
[code]

#### Environment

- Angular: 9.1.9
- CDK/Material: 10.0.0-rc.1
- Browser(s):