[2017-01-12 11:37] EladBezalel commented on #2503
Please provide a codepen so we can investigate further.

[2017-01-12 11:41] EladBezalel commented on #2422
would be solved with #2571

[2017-01-12 11:41] #2422 closed

[2017-01-12 11:43] EladBezalel commented on #2421
I couldn't got your question, what would you like to achieve?

[2017-01-12 11:47] EladBezalel commented on #2385
Please provide a codepen with your problem so we can investigate further

[2017-01-12 11:51] EladBezalel commented on #2377
There's no algorithm for generating such map, the ux guys that are working on the material design spec handpicked (and i'm not kidding) each color.

if you want your own palette you can create a scss variable like [this one](https://github.com/angular/material2/blob/0e0ff0e7aae4a4f87ad92e17bc1af14e20a3e17a/src/lib/core/theming/_palette.scss#L12) and pass it to the `md-palette` mixin

[2017-01-12 11:52] EladBezalel commented on #2374
Can you please provide a codepen so we can investigate further?

[2017-01-12 11:53] vkishorekumar80 commented on #2421
https://plnkr.co/edit/gbpvuno5thiUzlYNIcb3?p=preview
In the example, how will I open the second menu when I click on the "open second menu button"?.

[2017-01-12 11:56] EladBezalel commented on #2375
MDC implementation is not following the [material design spec](https://material.io/guidelines/components/buttons.html#buttons-toggle-buttons) (no outlines) -
We do have [icon buttons](https://plnkr.co/edit/WSTUtfQOunWYrKBuiFvr?p=preview)

[2017-01-12 11:56] #2375 closed

[2017-01-12 11:58] #2353 closed

[2017-01-12 11:59] EladBezalel commented on #2315
`md-input` the compoenet has been deprecated - we now use `md-input-container`
https://material.angular.io/components/component/input

[2017-01-12 11:59] #2315 closed

[2017-01-12 12:00] EladBezalel commented on #2352
Please provide a codepen so we can investigate further

[2017-01-12 12:07] medeirosrich commented on #2521
@EladBazelel
Would still love to see an example or documentation on how to Register all icons at once for use app wide with any component. Instead of repeating the registration in the constructor of each component.

[2017-01-12 12:31] EladBezalel commented on #2421
So you can do something like that:
https://plnkr.co/edit/ScrbSJQWkAdjaAI7EKQU?p=preview
The better approach would be using a query selector
[code]
But i'm getting the `mdButton` directive instead of the trigger, i will check what we can do with that.

[2017-01-12 12:41] EladBezalel commented on #2521
@medeirosrich can you open a new issue for that?

[2017-01-12 12:46] vkishorekumar80 commented on #2421
Thanks @EladBezalel . Will wait for the update.
I got the same result when I tried with the first plnkr sample.
At times we cannot rely in the index and need to find out the controls by name.

[2017-01-12 12:51] BamiGorengo commented on #2521
Please link the new issue here then, after opening it.

[2017-01-12 12:54] drPavka commented on #2497
Is there any way to apply this patch https://github.com/crisbeto/material2/commit/2f2cc8e0b6fe01d0e3a4ea7bb76918e47f9c1300 to the project
until it will be merged to production branch?

[2017-01-12 13:07] shedar commented on #2497
@drPavka as a workaround you can add something like  *ngIf="options && options.length" to your md-select. This way component would not be initialized until options are ready.

[2017-01-12 13:42] medeirosrich opened #2610 "How to register and sanitize svg icons globally for use by all components?"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
A way to register and sanitize svg icons globally for use by all components.

#### What is the current behavior?
Currently following the demo at:
https://github.com/angular/material2/tree/master/src/demo-app/icon

Each component needs 2 imports:
[code]

and constructor code for each icon:
[code]
#### What

[2017-01-12 14:06] mtrdp642 commented on #2610
As long as you register the icons in the root component (usually app.component.ts), the icons are able to be used for all child components. [Example](http://plnkr.co/edit/eWi18QNOrzhrvVUbK1rH?p=preview)

[2017-01-12 14:17] wbhob commented on #2377
Yeah I know there isn't a real algorithm, but perhaps a mock algorithm that is close to the MD spec is in order.

[2017-01-12 14:32] csyperski commented on #118
I'm having an issue with md-select not working with reactive forms, it seems the initial value is not getting set, am I doing something wrong or is this a bug?  Here is a plnkr....

https://embed.plnkr.co/p7Fm9lC4TxoVaZ8ydYf0/

[2017-01-12 14:38] EladBezalel commented on #2421
Take a look here: https://plnkr.co/edit/AmWcuUNw1YaZeluLq0aJ?p=preview

[2017-01-12 14:38] #2421 closed

[2017-01-12 14:43] hacknaked commented on #2375
@EladBezalel

Well, It's really wired.

https://material.io/components/ links to https://github.com/material-components/material-components-web#useful-links. If you follow the [Demos](https://material-components-web.appspot.com/) link you will reach the Icon Toggle demo I've post.

Seems that  MDC Icon Toggle was made by the same guys that write Material Design Spec.

[2017-01-12 14:47] Robouste opened #2611 "mdMenu : x-position & y-position not working"
#### Bug, feature request, or proposal:
Bug or missunderstanding of the doc ?

#### What is the expected behavior?
Set the position of the menu with y-position or x-position attribute

#### What is the current behavior?
None

#### What are the steps to reproduce?
[Plunkr](http://plnkr.co/edit/dOuo5k)

#### What is the use-case or motivation for changing an existing behavior?
This behavior should w

[2017-01-12 14:52] vkishorekumar80 commented on #2421
Perfect. @EladBezalel Thanks for the help.

[2017-01-12 14:54] Robouste opened #2612 "MdMenu : keep menu open on item click"
#### Bug, feature request, or proposal:
feature request

#### What is the expected behavior?
It would be great to have an option to keep the menu open when we click a menu item

#### What is the current behavior?
On item menu click, the menu closes

#### What are the steps to reproduce?
[Plunkr](http://plnkr.co/edit/NK36sG)

#### What is the use-case or motivation for changing an existing behavior

[2017-01-12 15:12] csyperski opened #2613 "Place holder issue with setValue"
#### Bug, feature request, or proposal:

I am having an issue with Angular2's material components when a component is updated via setValue. Here is the plnkr....

https://embed.plnkr.co/lZhHJKBhuldUqzUt9Q18/

You can see that the value and the placeholder are both occupying the same space.

With the setTimeout, I'm emulated an ajax fetch that would populate the form asynchronously. Am I doing some

[2017-01-12 15:16] benelliott commented on #2517
I've implemented a hacky workaround here: https://github.com/benelliott/material2/tree/dialog-lazyload-workaround

It exposes an optional `resolver` option in `MdDialogConfig` so that you can pass the calling component's `ComponentFactoryResolver` into the dialog when the component is to be dynamically instantiated (also modifies `ComponentPortal` etc accordingly).

I don't like the idea of forcin

[2017-01-12 15:48] EladBezalel commented on #2375
Well, https://material.io/components/ is the website for  https://github.com/material-components/material-components-web#useful-links.

They're not the same guys and even if they're if its not in the spec, we won't implement it.

[2017-01-12 15:57] medeirosrich commented on #2610
@mtrdp642
Awesome, thanks!

[2017-01-12 15:57] #2610 closed

[2017-01-12 16:20] hacknaked commented on #2375
@EladBezalel

But, what's the official Material spec?
In your first comment you linked to https://material.io/guidelines

Are you saying that people who write https://material.io/guidelines are not the same that people who implement https://material.io/components? Why they don't follow their own spect? Sorry, for dumb questions, but it's confusing.

[2017-01-12 16:30] EladBezalel commented on #2375
Yes, just as the people that write [material.angular.io](https://material.angular.io) are not the same as [augury.angular.io](https://augury.angular.io)

[2017-01-12 17:16] Luchillo commented on #2374
Can you give me a base pen to start?

[2017-01-12 17:25] EladBezalel commented on #2374
Plunker : http://plnkr.co/edit/o077B6uEiiIgkC0S06dd :)

[2017-01-12 17:32] jelbourn commented on #2591
@robwormald I took a look at this, and `MdSidenavContainer` does let you do this already. The tricky thing is that the container can have two `MdSidenav` instances (one on the left and one on the right). You get these through `sidenavContainer.start` and `sidenavContainer.end`. Maybe not the best names, but it exposes the instance.

@EladBezalel ideally people who are just using one sidenav would

[2017-01-12 17:35] lester-joshua commented on #2515
@Codebacca @EladBezalel  this works. You have to make sure you dont have the wrapper around the "side nav" menu elements

HTML:
``<md-sidenav-layout>
      <md-toolbar color="primary">
        <span>
          <button md-icon-button (click)="sidenav.toggle()">
            <md-icon>menu</md-icon>
          </button>
        </span>
        <span class="fill-space"></span>
        <button md-icon-bu

[2017-01-12 17:47] dahaupt commented on #2613
@csyperski This issue was fixed with #2455. I think it is just not released in a new npm package.

[2017-01-12 17:48] jelbourn commented on #1765
@eagle-dan1349 I think the next release will fix this- we're getting rid of `forRoot` (#2556), so the lazily-loaded module can import `MdDialogModule` and it will get a new instance with the appropriate injector. You can install the latest SHA from https://github.com/angular/material2-builds to test it out.

[2017-01-12 17:50] csyperski commented on #2613
@dahaupt Thanks, I didn't see that bug in my searching.

[2017-01-12 17:50] #2613 closed

[2017-01-12 17:52] csyperski opened #2615 "md-select initial value not loaded"
#### Bug, feature request, or proposal:

I am having an issue with Angular2's material md-select component where the value from a FormGroup is not loading or being populated into the select. Here is the code...

https://embed.plnkr.co/p7Fm9lC4TxoVaZ8ydYf0/

The value for the control 'formal' is set to 1, but the UI shows as if no value is populated with the placeholder message.

Am I doing somethi

[2017-01-12 17:54] JDillon522 commented on #2588
Any advice on how to fix my tests?

I would recommend a section in the docs for each component on how to handle testing components like this.

[2017-01-12 18:01] ahmedlafta commented on #2615
Number -> String
[code]

[2017-01-12 18:05] csyperski commented on #2615
That was stupid of me, Thanks!

[2017-01-12 18:05] #2615 closed

[2017-01-12 18:30] jelbourn commented on #2599
Pressing enter will only submit the form if there is a submit button inside of the form.

[2017-01-12 18:31] jelbourn commented on #2310
@karolmie1 They're two different problems that happen to be fixed by the same change.

[2017-01-12 18:32] mrpachara opened #2616 "Can you move HttpModule in MdIconModule to component scope (or don't import it)?"
#### Bug, feature request, or proposal:
Bug

#### What is the current behavior?
The feature modules that import MaterialModule (import MdIconModule) will create separated http provider and override the application-wide customized Http.

#### What are the steps to reproduce?
The following link shows the problem.
http://plnkr.co/edit/hDLOuvRPWxPIY3TwX4GB?p=preview

#### What is the use-case or motiv

[2017-01-12 19:03] Jonatthu opened #2617 "Roboto font-weight not working"
#### Bug, feature request, or proposal:
Bug: When I change the font-weight property to 300 is not working correctly or right

#### What is the expected behavior?
Should change the font-weight

#### What is the current behavior?
Is just showing normal and bold

#### Which versions of Angular, Material, OS, browsers are affected?
beta 1

[2017-01-12 19:04] #2466 closed

[2017-01-12 19:16] Luchillo commented on #2374
Ok here it is, just click the button that says `showDialog`, then it should show an error in console like this:
![image](https://cloud.githubusercontent.com/assets/9698639/21904314/2da8593e-d8d1-11e6-906b-e89b78bf3abf.png)

Please note that the service is local to the `CustomerComponent` component, instead of a singleton provider it would be if it were a provider declared in `main.ts` in the `AppM

[2017-01-12 20:06] kriswinbush commented on #118
@zerouno62, I had the same problem menu would shoot up to the top left, had to put position:absolute on the .cdk-overlay-pane class. I used a <style> block in index.html, not ideal but solved my issue

[2017-01-12 20:45] MarkPieszak opened #2618 "Dark theme - Disabled checkbox style not showing"
#### Bug

#### What is the expected behavior?
Show checkbox as disabled when using Dark Theme.

#### What is the current behavior?
The checkbox looks like the regular ones, notice Gamma in the dark theme:

![image](https://cloud.githubusercontent.com/assets/2574412/21907511/da3d51f2-d8dd-11e6-8fa7-12fa3523c100.png)

#### What are the steps to reproduce?
https://material2-app.firebaseapp.com/
Selec

[2017-01-12 21:23] #1539 closed

[2017-01-12 21:24] #2248 closed

[2017-01-12 21:24] #1421 closed

[2017-01-12 21:24] #1881 closed

[2017-01-12 21:24] #2493 closed

[2017-01-12 21:26] #2533 closed

[2017-01-12 22:03] kara opened #2620 "Input should not animate placeholder when value is set programmatically"
This is to match select functionality. To replicate:

[code]

The label animates as the value comes in, but it should come in immediately.

[2017-01-12 22:04] jelbourn commented on #2601
@vicb mentioned he might have an idea on how to do this.

[2017-01-12 22:41] elainaRenee commented on #2449
I am having the same issue. Neither selector worked. Updating the version to 2.0.0-alpha.10 was also unsuccessful

[2017-01-12 22:49] alexsapps opened #2621 "Example usage of MdDialog doesn't use md-dialog-content"
This page gives an example of how to use MdDialog but it does not surround the dialog contents with <md-dialog-content> ... </md-dialog-content>
https://github.com/angular/material2/tree/master/src/lib/dialog

(I assume it is always required. The description of md-dialog-content is: "Scrollable content of the dialog." does not say that it's only required if scrolling is desired.)

[2017-01-12 23:40] robwormald opened #2622 "Internal usages of RxJS operators should not patch the prototype of Observable"
#### Bug, feature request, or proposal:

All internal usages of Observable / RxJS operators should use the non-patch syntax for imports.

#### What is the expected behavior?

Usages of RxJS operators should use the "longhand" syntax, which avoids polluting the Observable.prototype in userland:

[code]

#### What is the current behavior?

[code]

#### What is the use-case or motivation for changing

[2017-01-13 00:46] antonyRoberts commented on #2621
It's not required, and you can implement scrolling without it by using CSS

[2017-01-13 03:04] dbo35 opened #2623 "Checkbox should have styles to conform to material selection spec in certain cases"
#### Proposal:

The checkbox should have its colors inverted for selection types that should fill the selected item.

#### What is the expected behavior?

When a selection is made in the correct context, the background should fill with color and the checkbox background should be light, and the checkmark should be filled with the background color.

https://material.io/guidelines/patterns/selection.

[2017-01-13 06:44] aateeque commented on #860
Any dev on this?

[2017-01-13 07:17] EladBezalel commented on #2374
Took me a while to realize you forgot to include your service as a provider 😅
http://plnkr.co/edit/iDSXXjKxY7QNqO7ABCe6?p=preview

[2017-01-13 07:17] #2374 closed

[2017-01-13 09:44] Caloman opened #2624 "Md-Select and Hint"
_Newbie doubts_
Md-select does not accept hints and breaks pattern with input or i'm doing it wrong?

Usage in forms compromised!

[2017-01-13 10:18] mxchange opened #2626 "Ripple speed too fast, and a bit too faded"
#### Bug, feature request, or proposal:
The ripple speed on buttons (and all other ripple elements) is so fast it's barely noticeable, expecially on smaller and/or colored elements.
If I compare it to an android ripple effect, which seems about twice as slow.
![material-ripple](https://cloud.githubusercontent.com/assets/24876534/21926142/c7b0b936-d980-11e6-98da-fed50778bc4c.gif)

#### What is the

[2017-01-13 10:57] RickyGeek opened #2627 "angular-cli warnings after updating to beta"
I'm using angular-cli to serve my app. when I run 'ng serve' it returns the following errors:
[code]
And in the browser console:
[code]

[2017-01-13 12:02] maciejsobala opened #2628 "radio and checkbox are not rendered properly (native elements are visible)"
#### Bug

#### expected behavior
Radio and checkbox native elements should be hidden

#### current behavior
native elements are visible

![screen shot 2017-01-13 at 12 56 43 pm](https://cloud.githubusercontent.com/assets/15926528/21929378/84465f1a-d990-11e6-8298-a3d3b4be3c4e.png)
![screen shot 2017-01-13 at 12 56 53 pm](https://cloud.githubusercontent.com/assets/15926528/21929379/847d2fcc-d990-11e

[2017-01-13 12:27] riksof-zain opened #2629 "md-focused is not added on focus in electron"
#### Bug, feature request, or proposal:

md-focused is not added on focus on in electron

#### What is the expected behavior?

when input is focused it should add md-focused

#### What is the current behavior?

it is woking on browser but not on electron

[2017-01-13 13:38] Luchillo commented on #2374
For the love of ...

You didn't understand my point, i don't want a singleton provider available to the full app, i want a local provider to the customer component, originally in my project it was an Order provider, which could have multiple order instances, thus multiple OrderService instances as well.

The issue is that the local provider isn't available to the Dialog even if the parent that ins

[2017-01-13 13:40] smartHasmukh opened #2630 "Menu position not working proper"
[code]

HTML Code

[code]
![menu-position](https://cloud.githubusercontent.com/assets/8941195/21931864/c72047e6-d9c3-11e6-84d9-429cb935f723.png)

[2017-01-13 13:44] otolol opened #2631 "md-toolbar has not color"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When I try add color of toolbar e.x.'warn' it should add class on element and change color of toolbar.

#### What is the current behavior?
'md-warn' class is added. Inspect look like this:

<md-toolbar _ngcontent-qks-1="" color="warn" class="md-warn" ng-reflect-color="warn">

but color is not changed.

#### Which vers

[2017-01-13 14:14] Headcult commented on #1913
Even I'm facing the same issue with Angular 2 CLI + Material Design while running tests. The workaround is working fine locally but my CI builds are breaking because of this. Please fix this.

[2017-01-13 14:16] dahaupt commented on #2631
@otolol Can you provide a plunker, so we can reproduce your issue and investigate further?
Here is the template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

[2017-01-13 14:27] dahaupt commented on #2627
@RickyGeek Try to delete your `node_modules` folder and reinstall it.

[2017-01-13 14:28] dahaupt commented on #2630
@smartHasmukh Can you provide a plunker, so we can reproduce your issue and investigate further?
Here is the template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

[2017-01-13 14:29] Headcult commented on #1913
Found another workaround to fix this issue. Added `fixture.detectChanges();` to my tests and all the tests passed! Not sure if this is the permanent fix for this or not.

[2017-01-13 14:30] dahaupt commented on #2628
@maciejsobala Can you provide a plunker, so we can reproduce your issue and investigate further?
Here is the template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

This should be fixed with including a theme, looks like you didn't have one.
Theming Guide: https://github.com/angular/material2/blob/master/guides/theming.md

[2017-01-13 14:53] KLuuKer commented on #675
@dharmeshpipariya how about selecting only a whole month\weeks?
because our company needs to select those allot for reports (i am sure there are other use cases as well)

[2017-01-13 14:57] SjorsHartwijk commented on #675
How do i install md2 correct? can't find the system.config.js file in my project

[2017-01-13 15:20] maciejsobala commented on #2628
@dahaupt
1. Unfornatelly template provided by you is not working

2. I am using a theme:

My style.scss file begins with:

`@import './palette';`

And here is palette.scss

[code]

I am using 'raw-loader' and 'node-sass' for compiling styles:
[code]

[2017-01-13 15:27] maciejsobala commented on #2628
I think, that the problem is that `_a11y.scss` file is not included to my final css bundle.

I see in my website code, takt checkbox input have class `.cdk-visually-hidden`,
but styles from `_a11y.scss` are not applied:

@mixin cdk-a11y {
  .cdk-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;

[2017-01-13 15:36] dahaupt commented on #2628
@maciejsobala Why is the punker template not working? Working fine here, it's the official issue template by @DevVersion :)

[2017-01-13 15:49] Jhonatangiraldo opened #2632 "Material doesn't run in Dialog"
#### Bug, feature request, or proposal:
When i use directives of angular material, the app doesn't recognize the elements and/or directives

#### What is the expected behavior?
Directives run normal, with angular material styles

#### What is the current behavior?
The application doesnt recognize angular material elements.
https://cloud.githubusercontent.com/assets/6934447/21935981/8dbba2fc-d97d-1

[2017-01-13 16:06] vkishorekumar80 opened #2633 "routerlinkactive="activeStyle" is not loading the tab using tab-nav-bar and md-tab-link"
When navigating to a route (tab3) from browser, the default implementation of the navbar using <a> and rountLinkActive is loading the content properly and selecting the specified navigation link.

But When I try to do the same flow using md-tab-nav-bar and md-tab-link, the content is loaded properly but the navigation link not getting selected.

[ng2material-navbarlink.zip](https://github.com/angu

[2017-01-13 16:27] skeize opened #2634 "md-select doesn't reset placeholder effectively "clearing" selection"
It's entirely possible I'm not doing things right, but... the placeholder within the md-select doesn't appear to be resetting from it's floating position after selecting an empty md-option.. effectively clearing the selection.

Here's what I've got:

        <md-select name="thing" placeholder="Thing" formControlName="thing">
            <md-option></md-option>
            <md-option *ngFor="let t

[2017-01-13 17:19] jrood opened #2635 "broken link to theming guide"
#### Bug, feature request, or proposal:
On the getting-started page, the link to the theming guide is broken

#### What is the expected behavior?
that the link would take one to https://material.angular.io/guide/theming

#### What is the current behavior?
it goes to a blank page

#### What are the steps to reproduce?

go to https://material.angular.io/guide/getting-started
click the link at 'See t

[2017-01-13 17:38] PascalPrecht opened #2636 "md-prefix and md-suffix selectors should be camel-cased"
#### Bug, feature request, or proposal:
This is a leftover from moving from dash-cased to camel-cased directive names.

Currently it looks like this:
[code]

But it should be this:
[code]

[2017-01-13 18:12] jelbourn commented on #2636
We will need to support both selectors temporarily and then remove the dash-case versions in a subsequent release.

[2017-01-13 18:14] jrood opened #2637 "buttons do not have expected color and text-transform"
#### Bug, feature request, or proposal:
Buttons do not have the coloring or capitalizing text-transform.

#### What is the expected behavior?
That `<button md-button>` would display the same way that it does in the documentation.

#### What is the current behavior?
It's not gray, and it's not all capps

#### What are the steps to reproduce?

Go to https://material.angular.io/components/component/b

[2017-01-13 18:38] vtolstov commented on #682
Does this already on latest release of material2 from npmjs ?

[2017-01-13 18:54] LucianoTulio commented on #581
Any news?

[2017-01-13 18:55] jelbourn commented on #581
When there's an update it will be here.

[2017-01-13 18:58] ig16022 commented on #2634
I am seeing the same behavior. Does anyone have a workaround for this?

[2017-01-13 19:41] #2523 closed

[2017-01-13 19:47] Son-Lam opened #2640 "Make dialogs draggable"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Users shall be able to drag dialogs around. Example, bootstrap already have draggable dialogs (http://jsfiddle.net/dave_wilton/a3gyq/5/)

#### What is the current behavior?
Dialogs position are fixed on the page. If users want to see something behind them they have to close the dialog, which is quite anoyi

[2017-01-13 20:11] istiti commented on #581
@jelbourn awesome!hope with autocomplete

[2017-01-13 20:50] maciejsobala commented on #2628
<img width="1341" alt="screen shot 2017-01-13 at 9 49 37 pm" src="https://cloud.githubusercontent.com/assets/15926528/21945202/4442677a-d9da-11e6-83bc-a5822d726d59.png">

[2017-01-13 21:24] westonpace opened #2642 "md-icon + resize-observer-polyfill = Infinite loop"
#### Bug, feature request, or proposal:

I am using resize-observer-polyfill to watch for a window resizing (to update a graph drawn with d3).  Under the hood it places a MutationObserver on the entire dom.  If I have an md-icon in my application the application freezes.

#### What is the expected behavior?

The application should not freeze.

#### What is the current behavior?

The application fr

[2017-01-13 21:47] crisbeto commented on #2622
@robwormald how do you recommend handling the longer chains of calls? I ended up adding a function for chaining them, but the syntax ends up being kind of awkward:

[code]

My chaining function ended up looking like this:

[code]

CC @jelbourn

[2017-01-13 22:16] chouclee commented on #2633
Check how to use md-tab-nav-bar in the [overview](https://github.com/angular/material2/blob/master/src/lib/tabs/OVERVIEW.md)

And be sure to read this issue https://github.com/angular/material2/issues/1967.

[2017-01-13 22:36] mtman commented on #2568
That doesn't make a difference in my case (2.4.x compiler).

There's a new error for 2.4.3:
[code]

I've tested the project on Ubuntu (same toolset) and it works there.

node: 7.4.0
os: win32 x64
@angular/common: 2.4.3
@angular/compiler: 2.4.3
@angular/core: 2.4.3
@angular/forms: 2.4.3
@angular/http: 2.4.3
@angular/material: 2.0.0-beta.1
@angular/platform-browser: 2.4.3
@angular/platform-browser-d

[2017-01-13 22:55] #2497 closed

[2017-01-13 22:55] #2462 closed

[2017-01-13 22:56] vkishorekumar80 commented on #2633
Hi @chouclee

Instead of looking into the overview document, directly went in to the tabs-demo.html page where I  routerLinkActive #rla="routerLinkActive" was not mentioned in the sample. Apology from my side for note reading the overview.

After reading the  issue #1967 got the workaround and now working as expected.

` <a md-tab-link
       *ngFor="let tabLink of navItems; let i = index"

[2017-01-13 22:58] #2483 closed

[2017-01-13 22:59] #2384 closed

[2017-01-13 23:03] kuncevic commented on #2568
Once you changed to `Node 6.x` did you remove the `node_modules` folder and then run `npm install`

[2017-01-14 00:11] mtman commented on #2568
You are right, the new error is no longer material specific -- it now occurs in a basic project as well. I removed node_modules and ran it again using node 6.9.2 but the error remains. Ng has installed typescript 2.0.10.

[2017-01-14 00:11] #2568 closed

[2017-01-14 06:03] BamiGorengo commented on #2610
Is there any done icon coponent that keep anyone up to date?

[2017-01-14 10:07] tobi-or-not-tobi opened #2650 "Misalignment of md-list-avatar icons inside an md-list-item"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
An md-list-avatar in a single lined md-list-item should align horizontally with the md-list-item text.

#### What is the current behavior?
The md-list-avatar does not align, the icon appears 8px more to the top then the text of the list item.

#### What are the steps to reproduce?
Create an md-list with li

[2017-01-14 13:46] nkas opened #2651 "md-slider & md-slide-toggle don't work correctly"
I try to make Angular based app according to this tutorial: https://material.angular.io/guide/getting-started

The issue is that there is no sliding functionality on Slider and SlideToggle components, the value changes only on click. All dependencies are installed as it is mentioned in Getting started tutorial.
I'm using Chrome 55, HammerJs version 2.0.34, Angular 2.4.3, Material 2.0.0-beta.1

[2017-01-14 15:26] codef0rmer commented on #2651
@nkas Make sure to `import 'hammerjs';` in `app.module.ts`. Also, confirm if you see following error in the console, `Could not find HammerJS. Certain Angular Material components may not work correctly.`

[2017-01-14 15:46] codef0rmer commented on #2650
@tobi-or-not-tobi I'm not sure if it's a bug because `md-icon` is not recommended. However, setting a custom class on `<md-icon md-list-avatar class="menu-icon">arrow_forward</md-icon>` to override the default height i.e 40px to 24px manually is the real strategy.

I've been doing it too.
<img width="238" alt="screen shot 2017-01-14 at 9 15 20 pm" src="https://cloud.githubusercontent.com/assets/16

[2017-01-14 15:54] codef0rmer commented on #2637
@jrood I think caps can not be the default behavior but definitely the plunkr should be updated for consistency.

[2017-01-14 16:10] tobi-or-not-tobi commented on #2650
Thanks @codef0rmer that's indeed what I did to fix it. I didn't know it was not recommended, I actually think its a very common to use an md-icon in a list like you and I do. I'll rewrite the issue to change it from but to proposal.

[2017-01-14 17:10] mojtab23 commented on #2651
I have similar problem too.
I created an angular project with angular cli and then followed this guide:[https://material.angular.io/guide/getting-started](https://material.angular.io/guide/getting-startedl)
and some of material controls in addition to Slider not works, such as [https://material.angular.io/components/component/progress-bar](progress bar)

[2017-01-14 17:13] DevVersion commented on #2651
@mojtab23 Can you take a look if there is a log message in the console?

[2017-01-14 17:35] vipdorian opened #2657 "Keyboard-navigation not working with md-menu"
#### Bug, feature request, or proposal:
Keyboard-navigation not working with md-menu

#### What is the expected behavior?
See design doc, section accessibility : https://docs.google.com/document/d/1cSUrY2WAqSN8ePldLLqrEVkk2BkYbPB2fysC6brvj4Q/preview
DOWN_ARROW: Focus next menu item
UP_ARROW: Focus previous menu item
ENTER: Select focused item

#### What is the current behavior?
No action when hitt

[2017-01-14 17:41] codef0rmer commented on #2634
@skeize @ig16022 When you select the first option without value and text, the `thing` property is set to `undefined` (or whatever value you set in the template) which matches with the value of the first option i.e undefined, resulting in not clearing the placeholder. Even if you set the value to null i.e. `<md-option value="null"></md-option>`, it won't work because it has to be `null` not `"null"

[2017-01-14 17:52] codef0rmer commented on #2651
@mojtab23 I noticed an issue with css - no component was rendered. So added the missing stylesheet:

`<link href="https://unpkg.com/@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet">`

[2017-01-14 18:04] codef0rmer commented on #2632
@Jhonatangiraldo You should either import `MdSelectModule` or `MaterialRootModule` and reference it under @NgModule.

[2017-01-14 18:08] codef0rmer commented on #2631
@otolol As per the documentation, color property only supports three variations i.e. primary, warn, or accent. If you want to override them, use CSS.

Or it might be that you missed adding the theme.css as `<link href="https://unpkg.com/@angular/material/core/theming/prebuilt/indigo-pink.css" rel="stylesheet">`

[2017-01-14 18:27] codef0rmer commented on #2624
I know where you are coming from. I usually use `md-hint` for validation errors which is not ideal BTW. A hacky way would be,

[code]

[2017-01-14 20:49] Socolin opened #2658 "md-menu open on the bad side"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Menu should open on the defined side

#### What is the current behavior?
See plunker

#### What are the steps to reproduce?

Click on button
Scroll down
Click again on button
http://plnkr.co/edit/jsQ5z1nu51iEqB0pk9kW?p=preview

#### Which versions of Angular, Material, OS, browsers are affected?
Material beta 2.0
Angu

[2017-01-15 08:52] mark-langer commented on #1491
I also had issues with the error "No component factory". I tried declaring the component in both the same module as the parent, as well as the AppModule. Same error in both cases.

The demo on material.angular.io declares the dialog component in the same file. Maybe it's an issue for angular if you declare the component in a separate file, as you would do with any other component.

[2017-01-15 09:50] crisbeto commented on #2658
In this case the menu doesn't open on the proper side, because it would go outside of the viewport and the user wouldn't be able to see the content. This is the intended behaviour.

[2017-01-15 09:57] codef0rmer commented on #2657
@vipdorian It's not a bug because for keyboard navigation to work, it has to regain focus which can be done using enter. Just open the menu by mouse click, hover over any menu item, press enter to close it, press enter to open it, and then use up/down arrow.

[2017-01-15 13:17] Jhonatangiraldo opened #2660 "Testing Error"
#### Bug:
I cant test the modal component?

#### What is the current behavior?
The test error output:
Failed: Can't resolve all parameters for MdDialogRef: (?)
 (when i try to test the modal dialogRef request one type and i cant give the MdDialogRef in the providers test beacuase it isnt allowed),

#### image:
![image](https://cloud.githubusercontent.com/assets/6934447/21962752/aad40da0-dafb-11e6-

[2017-01-15 13:27] nkas commented on #2651
@codef0rmer Yes, I imported hammerjs into app.module.ts. Also there are no errors in the console.

[2017-01-15 13:47] facelesspanda commented on #118
@zerouno62 at least you have a selection list

My `md-select` doesn't create an overlay, so I'm left with a non-reactive `md-select` (using `2.0.0-beta.1`, and Electron if that's relevant)

[2017-01-15 13:58] maciejsobala opened #2661 "input place holder is hovering input value"
#### Bug
#### What is the expected behavior?
Placeholder should be deisplayed above input

#### What is the current behavior?
Placeholder is hovering value:
<img width="49" alt="screen shot 2017-01-15 at 2 56 49 pm" src="https://cloud.githubusercontent.com/assets/15926528/21963039/110fbd94-db33-11e6-8971-f1d6e03c2dda.png">

#### What are the steps to reproduce?

[code]

#### Which versions of Angu

[2017-01-15 14:28] codef0rmer commented on #2651
@nkas I see. Now only a working demo would save you :-) Share a screenshot if possible.

[2017-01-15 14:38] volkangurol commented on #2618
checkbox disabled has  border-color:  #686868

[2017-01-15 15:04] vipdorian commented on #2657
@codef0rmer
Thank you for the reply. Indeed, it is only a matter of focus. However, in version 1 of Angular Material, the menu would gain focus on click, this is not the case with angular/material2.

[2017-01-15 15:11] DenisLaboureyras opened #2662 "multiple themes don't work with overlay-based components"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

when I add a class refering to an angular material them, the md-select component must be affected by this theme

#### What is the current behavior?

The md-select component keeps the default theme. The other components I tried (tabs, input, checkbox) are working correctly.

#### What are the steps to reproduce?

Cre

[2017-01-15 15:13] codef0rmer commented on #2657
@vipdorian I see. It's a bug for sure!

[2017-01-15 15:33] codef0rmer commented on #2657
@vipdorian Not sure which material framework is right. But having it fixed would require one less LOC :-)

https://github.com/angular/material2/blob/master/src/lib/menu/menu-trigger.ts#L145

[2017-01-15 15:45] Jhonatangiraldo commented on #2660
I have found the solution.
https://plnkr.co/edit/FeSbUGuqmqMiMq5qNATC?p=preview

![image](https://cloud.githubusercontent.com/assets/6934447/21963876/c456c09c-db0f-11e6-91cd-41a2e6b0fe16.png)

[2017-01-15 15:46] #2660 closed

[2017-01-15 17:35] IliaIdakiev opened #2663 "ChangeDetectionStrategy.OnPush problem"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When using ChangeDetectionStrategy.OnPush the md-select value is cleared when ngModel variable is set to null

#### What is the current behavior?
ngModel is null but md-select value persists

#### What are the steps to reproduce?
https://plnkr.co/edit/RGEWSXblOySdltKBku9o?p=preview

#### What is the use-case or motiva

[2017-01-15 18:19] Socolin commented on #2658
If it appear on the proper side in this case it would be visible, but it open on the bad side and the menu is not readable.

When it open with no scroll it open on good side and its visible
When it open with scroll it open on the other side and is hidden

[2017-01-15 18:24] crisbeto commented on #2658
I'm not sure what you mean. It opens up properly for me:

![jbiujrp](https://cloud.githubusercontent.com/assets/4450522/21965057/38dc3774-db58-11e6-898c-406ca0f8cc72.png)

[2017-01-15 19:13] naveedahmed1 opened #2664 "Snackbar / Toast Please add support for CSS Class"
Snackbars are great to provide brief feedback about an operation through a message at the bottom of the screen.

It would be really nice if we could also add css class for a Snackbar. For example if the operation failed to complete we could display it in a different color (probably red) whereas in case of success, we could apply different styling (probably a snackbar in green color).

[2017-01-15 19:25] Socolin commented on #2658
The bug is when open after scroll when the md-card is moved down with [style.top] to stay on screen

![image](https://cloud.githubusercontent.com/assets/539620/21965459/414ca58a-db2e-11e6-889a-c9129efeb8cb.png)

![image](https://cloud.githubusercontent.com/assets/539620/21965461/461d394e-db2e-11e6-97e8-eb9fdb42ee7f.png)

[2017-01-15 19:48] crisbeto commented on #2658
Alright, I see it now. Sorry for closing it initially.

[2017-01-15 20:17] scandinave opened #2665 "[Md-Dialog] add animation support on opening and closing."
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
Make dialog opening with custom animation.

#### What is the current behavior?
Dialog just pop up on the screen

#### What is the use-case or motivation for changing an existing behavior?
Just Follow the Google material design guideline [https://material.io/guidelines/motion/choreography.html#choreography-

[2017-01-15 21:34] crisbeto commented on #2665
I've had this one on my list for a while now. Can I take it @jelbourn?

[2017-01-16 04:00] jeongjoonlee3 opened #2666 "Plunker Template on README does not work on Safari"
#### Bug, feature request, or proposal:
Bug?

#### What is the expected behavior?
It should render html template.

#### What is the current behavior?
It shows "Loading the Angular 2 Material App..." message.

#### What are the steps to reproduce?
Click Plunker Template link on README page with Safari

#### Which versions of Angular, Material, OS, browsers are affected?
Safari: 10.0.2

[2017-01-16 05:57] smartHasmukh commented on #2630
Doesn't update .css file from my side. Right now working fine. Thanks @dahaupt for replied me.

[2017-01-16 05:57] #2630 closed

[2017-01-16 07:05] sunshineo commented on #2366
Someone need to update the tutorial here https://material.angular.io/guide/getting-started

[2017-01-16 07:06] sunshineo commented on #2554
I just experienced this problem. Really bad first impression.

[2017-01-16 07:19] sunshineo commented on #1316
I just tried beta 1 and it seems to be working

[2017-01-16 09:25] RickyGeek commented on #2627
It didn't work

[2017-01-16 10:08] n2lose commented on #2535
Yes, to fix it this issue, i have to import the one of prebuilt themes in the app.component.html :
[code]

Can I create a new theme (default-theme.scss) and import it in app.component.ts or app.component.scss ?
Example: default-theme.scss
[code]
and in the app.component.scss :
`@import 'default-theme.scss';`

I think it can make structure files in the app clearly, easy to understand and working on

[2017-01-16 11:09] fxck opened #2667 "`disabled` on mdInput doesn't work when formControl directive is used(works with native el)"
see http://plnkr.co/edit/AvPMHB3lzqwaexypHkUR?p=preview

I've read some issues on `angular/angular` and apparently `disabled` shouldn't work at all when reactive forms are used. But it looks like it does on native elements and doesn't on element with `mdInput` directive.

cc @kara

[2017-01-16 11:24] smartHasmukh opened #2668 "When I have to open md-select and press 'A' key then move focus should be on 'A' string like 'Apple'"
Please have a demo - [md-select example](http://plnkr.co/edit/JIEFHNvWK6LVwEsYLVD8?p=preview)

![focus](https://cloud.githubusercontent.com/assets/8941195/21981198/4348f7d8-dc0c-11e6-8c59-d662d57c9611.png)

Right now focus on 'Mango'. After press key 'A' I wanted to know second screenshot

![plunker](https://cloud.githubusercontent.com/assets/8941195/21981215/573f2938-dc0c-11e6-87d6-431699b3ee4f.p

[2017-01-16 11:27] RickyGeek commented on #2468
@fabriziodebortoli @davidmontgom How did you fix the problem? I still facing the
`Uncaught TypeError: Cannot read property 'prototype' of undefined` error.
And the angular-cli is still returning the warnings:

`./~/@angular/material/module.js
64:4 export 'ProjectionModule' was not found in './core/index'
Error: export 'ProjectionModule' was not found in './core/index'
...
./~/@angular/material/dia

[2017-01-16 11:30] fabriziodebortoli commented on #2468
Also with the latest version of webpack I've not fixed the issue

[2017-01-16 11:31] dirkjacobs commented on #2611
I have the same problem.
I would indeed expect the menu get rendered under the button (if mentioned y-position : below). This way, it would be possible to build a 'typical' menu with a button and a dropdown mark (triangle) and a menu expanding below when pressed

[2017-01-16 11:32] smartHasmukh commented on #2668
I wanted to know same as with angular2 - [AngularJS Demo](http://codepen.io/beaver71/pen/LGxqjp)

[2017-01-16 11:54] otolol commented on #2631
on plunker it works. my code look like this:

[code]

and toolbar color is white

[2017-01-16 12:02] SalmaKolkari commented on #118
Toggling theme not applying for <md-select>. by default it is applying the light-theme even though we are toggling the theme from light to dark..

[2017-01-16 12:52] codef0rmer commented on #2631
@otolol "on plunker it works" is because it has a theme file added. Please add it to your local demo and confirm.

[2017-01-16 12:59] michaeljota opened #2669 "Input-container does not have an hidden property, and does not honor inner input hidden property"
#### Bug, feature request, or proposal:

Right now there is no way to hide an input property, cause the input-container does not have (or does not honor) a hidden property. Also, it's a hidden property it's set in the input child, the input will hide, but the other "decorators", placeholders, prefix, suffix,  will not.

#### What is the expected behavior?

A way to actually hide a input.

#### Wha

[2017-01-16 13:03] fadyhashmi opened #2670 "Form does not render in tab"
I am having an issue with angular 2 material . I want to have list of tabs and each tab hash set of html form.
Tabs work fine with simple heading and paragraph but when a changes HTML tab with form angular 2  starting showing following error

zone.js:420 Unhandled Promise rejection: Cannot set property 'stack' of undefined ; Zone: <root> ; Task: Promise.then ; Value: TypeError: Cannot set property

[2017-01-16 13:51] david-kerwick opened #2671 "Tooltip expands outside of viewport"
#### Bug, feature request, or proposal:
Feature

#### What is the expected behavior?
Tooltip should wrap or move to another 'side'
Something like what bootstrap seems to do
https://codepen.io/anon/pen/MJjqaE

#### What is the current behavior?

<img width="545" alt="screen shot 2017-01-16 at 13 47 04" src="https://cloud.githubusercontent.com/assets/7151630/21985396/5878bda6-dbf2-11e6-9b3a-faa79257

[2017-01-16 14:05] otolol commented on #2631
@codef0rmer thank you it works. I saw several demos, but there were not to import theme. Thank you. I'll close this issue.

[2017-01-16 14:05] #2631 closed

[2017-01-16 14:39] amaneer94 opened #2672 "location.back() works fine. but when i am at very first route it routes me to a blank tab."
#### What is the expected behavior?
it should throw an exception rather than going to blank tab

#### What is the current behavior?
closes application and routes to blank tab

[2017-01-16 14:53] paramsingh88 opened #2673 "md-checkbox not triggering change event when inside *ngFor loop with async data"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
md-checkbox should trigger the change event

#### What is the current behavior?

#### What are the steps to reproduce?
I'm creating an angular 2 app with redux. I'm stuck with a very bizarre problem that whenever I use static array to iterate over using *ngFor in my component and rendering <md-checkbox> in it. They wo

[2017-01-16 15:01] m0nzderr opened #2674 "<md-sidenav>: remove shadows in persistent mode (mode='side'), or add @Input like "shadow='on|off|auto'""
#### Bug, feature request, or proposal:
I would rather consider it a feature proposal or improvement, than a bug. But one could see it as a bug  if taking the MD spec literally.

#### What is the expected behavior?
The spec (https://material.io/guidelines/patterns/navigation-drawer.html#navigation-drawer-behavior)
states that permanent drawer (i.e., mode='side') should stay at the same elevation a

[2017-01-16 16:06] krigton commented on #2250
+1

[2017-01-16 16:46] Frozen-byte opened #2675 "customized transition time"
#### Request

#### What is the expected behavior?
Please let us customize the transition timings without hacking it into the current build.

#### What is the current behavior?
Transition time is fixed at 150ms (i.e. MdTooltip)

#### What are the steps to reproduce?
Look: https://github.com/angular/material2/blob/b49bfce5a9796441314bd2eed93e26e47a48e9ca/src/lib/tooltip/tooltip.ts#L259

#### Is ther

[2017-01-16 17:32] itayper opened #2676 "md-input heights are not consistent between types of inputs"
#### Bug, feature request, or proposal:
Bug

#### What is the current behavior?
Currently inputs are not aligned correctly with each other: http://plnkr.co/edit/RHrE8rJe1SdJclYBKKh8?p=preview
I mean that date and text aren't same height and so does md-select

#### What is the use-case or motivation for changing an existing behavior?
It just doesn't look right when you try and make a form with inpu

[2017-01-16 17:41] 0x4F72 commented on #2661
I was facing the same problem using a formcontrol on the input. While debugging I found out that the MdInputDirectives value is never changed. Therefore it always appears as empty and the md-empty class is added to the placeholder. So maybe there is a problem with the ControllValueAccessor.
My dirty fix was not adding a native value element but programmatically overwriting the value of the MdInput

[2017-01-16 18:12] DevVersion commented on #2627
Are you using Webpack 2? If so, make sure you run on `rc.3`

[2017-01-16 18:14] DevVersion commented on #2554
We have fixed this with SHA https://github.com/angular/material2/commit/d286e6d6472910ab41b8437d405cd3e902c9c848

[2017-01-16 18:14] #2554 closed

[2017-01-16 18:27] DevVersion commented on #1150
This should be fixed with SHA https://github.com/angular/material2/commit/b49bfce5a9796441314bd2eed93e26e47a48e9ca

[2017-01-16 18:27] #1150 closed

[2017-01-16 19:43] EladBezalel commented on #2676
Would be resolved with #2309

[2017-01-16 19:43] #2676 closed

[2017-01-16 19:46] vinagreti commented on #1967
Should we mention in the docs this `rlaSafe` workaround? I've spent a lot of time figuring out what I was doing wrong... There is differences between git Readme.md, material.angular.io docs and what we really  should do.

Just say the words and I can update the README.md to point this issue and th `rlaSafe` workaround.

[2017-01-16 19:56] Splaktar commented on #1967
@vinagreti It does not look like they want to update any of the docs to address this bug. Instead they are trying to get the bug resolved ASAP. [My PR to update the docs](https://github.com/angular/material2/issues/2563) was declined.

It looks like the [PR in the core](https://github.com/angular/angular/pull/13273) is waiting on review still.

[2017-01-16 20:00] mojtab23 commented on #2651
Thank you @DevVersion and @codef0rmer !
@codef0rmer answer fixed my problem.
There is two more things:

1. This guide [https://material.angular.io/guide/getting-started](https://material.angular.io/guide/getting-started) is not working correctly.
2.  And I have one question: How can I set the Material 2 theme to dark-theme? I asked this [question](http://stackoverflow.com/q/41684093/3291867) at  S

[2017-01-16 20:05] crisbeto commented on #2669
That's because the input container has a `display: inline-block`, which takes precedence over the browser agent stylesheet (which is the one that sets `[hidden] { display: none; })`. You can work around it by adding this somewhere in your stylesheet:

[code]

[2017-01-16 21:21] nadavten opened #2679 "MdCheckBox - error when [(ngModel)] on md-checkbox inside ngFor"
[code]

throws an error in the console:

[2017-01-17 01:45] dmacfarlane opened #2681 "tabs - unable to trigger click hander within md-tab-label"
#### Bug, feature request, or proposal:

Bug or feature request

#### What is the expected behavior?

Clicks on elements within md-tab-label should trigger the associated event handlers.

#### What is the current behavior?

Click events are not triggered.

#### What are the steps to reproduce?

http://plnkr.co/edit/5bY29Nm9pUNu4pu4wRwV?p=preview

Clicking the close icon on the tab labels should cl

[2017-01-17 03:18] jmcgoldrick commented on #2679
Looks like an error with `zone.js@0.7.5` (see: https://github.com/angular/angular/search?q=zone.js+0.7.5&type=Issues)

`npm install zone.js@0.7.4` resolved similar issue for me

[2017-01-17 05:24] goleary opened #2682 "broken link on getting started guide"
#### Bug, feature request, or proposal:
BUG

#### What is the expected behavior?
https://material.angular.io/guide/getting-started
when I click the 'theming guide' link it should take me to the mentioned guide.

#### What is the current behavior?
it takes me back to the home page

#### What are the steps to reproduce?
should be obvious

Providing a Plunker (or similar) is the *best* way to get the

[2017-01-17 05:35] nadavten commented on #2679
then it would throw the following error

[2017-01-17 05:44] goleary opened #2683 "newly created angular-cli app getting error in console"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
I have added a `<button md-button></button>` component but I get an error in the console. Its the only thing in the entire application

#### What is the current behavior?

When I use angular-cli to serve the application I see this error:
![image](https://cloud.githubusercontent.com/assets/16123225/22009021/0a9825c0-dc

[2017-01-17 06:06] irfanhudda commented on #2683
This is probably an issue with `zone.js`. There was an extensive discussion about this issue [https://github.com/angular/zone.js/issues/427](https://github.com/angular/zone.js/issues/427).

One suggestion from above thread is pinning `zone.js` at `0.7.2`.

[2017-01-17 06:55] CanKattwinkel commented on #2521
Readme needs update:

https://github.com/angular/material2/blob/master/src/lib/icon/README.md

[2017-01-17 06:56] n2lose commented on #2662
Seems. i had same issue.
I have followed [theme guide](https://github.com/angular/material2/blob/master/guides/theming.md) to create a custom theme. I also checkout the showcase [material2-app](https://github.com/jelbourn/material2-app) and check the material2-app-theme.scss.
It works fine one [demo ](https://material2-app.firebaseapp.com/), when you click toggle button, it changes thecolor of all

[2017-01-17 08:49] EricLease commented on #1850
@fdambrosio I was getting that error from what appears to be a compatibility guard in case you're using material 1 and 2 together.  If you're not using them both, you may be able to use something like the following...

1. Install [string-replace-webpack-plugin](https://www.npmjs.com/package/string-replace-webpack-plugin)
2. Add the following to vendor sever bundle config:
[code]

But this just led

[2017-01-17 10:11] DevVersion commented on #2679
Seems to work for me: http://plnkr.co/edit/AcJc12SViI5VGKMyLgVj?p=preview

[2017-01-17 11:17] ocarreterom commented on #2650
To display an icon in list item use `md-list-icon` directive instead of `md-list-avatar`.

[2017-01-17 11:24] tobi-or-not-tobi commented on #2650
Thanks @ocarreterom I wasn't aware of that feature.

[2017-01-17 11:24] #2650 closed

[2017-01-17 11:43] baszczewski commented on #2661
This affects me to with _formControl_ and _formControlName_. With this bug material controls are unusable with Angular Forms.

[2017-01-17 12:03] casperbrike opened #2684 "Incorrect installation instructions"
https://material.angular.io/guide/getting-started

In section **Configuring SystemJS**:
[code]

But should be:
[code]
Also after following instructions for HammerJS configuration i got some errors in browser console:
`"(SystemJS) XHR error (404 Not Found) loading http://localhost:3001/hammerjs	patchProperty/desc.set/wrapFn@http://localhost:3001/node_modules/zone.js/dist/zone.js:962:26 [<root>]	Zon

[2017-01-17 12:17] michaeljota commented on #2669
Thanks you. I will use this. Just to know, this solution is just a temporally workaround or is this the intended behavior?

[2017-01-17 12:38] Ganim opened #2685 "[Updated] Md-Tabs - Navigate Options & Count Tabs"
**Bug, feature request, or proposal:**

Feature request

**What is the expected behavior?**

#1 - I would like to change tabs by buttons,
#2 - count how many tabs I have.

**What is the current behavior?**

`tabsNumber  = document.getElementsByTagName('md-tab').length;`
Doesn´t work to count tabs. If i don´t know how tabs I have, a can´t limite the "Next" Button

**What is the use-case or motivati

[2017-01-17 12:38] crisbeto commented on #2669
In general, we try to avoid defining global styles like this one, so I doubt that we'd add it to Material itself. I recommend either adding this to your CSS or using a class for hiding stuff.

[2017-01-17 12:38] #2669 closed

[2017-01-17 12:41] michaeljota commented on #2669
Thanks. 👍

[2017-01-17 12:42] michaeljota commented on #2669
But, the component should read the hidden property, and do binding with it's own css display property, shouldn't it?

[2017-01-17 12:45] crisbeto commented on #2669
Not necessarily. The `hidden` attribute is built-in browser attribute, it's not something that's specific to Material or Angular. The issue with it is that it's specificity is really low, which makes it very easy to override.

[2017-01-17 12:55] michaeljota commented on #2669
But, I mean, I think the component should handle the display for itself, shouldn't it? I know the hidden property it's something built-in browsers, but still, a expected behavior if it is set to false, it's for the component to hide, and the component should do it. I understand you mean, but you won't, and it should not, override any built-in property, it just have to set it temporally as is, to b

[2017-01-17 14:05] evanjmg commented on #2450
Anyway to disable animation by a class or property on md-tab-group? the css hack doesn't work.

[2017-01-17 14:31] coder925 opened #2686 "Add info about entryComponents in Dialog documentation"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
It should be easy to follow the [dialog overview sample](https://material.angular.io/components/component/dialog) and get it up and running using a new app created with Angular CLI.

#### What is the current behavior?
I was struggling with getting the Dialog component to work without showing errors in the console

[2017-01-17 14:58] DevVersion commented on #2684
The path for the umd bundle has been solved with SHA https://github.com/angular/material2/commit/d286e6d6472910ab41b8437d405cd3e902c9c848

[2017-01-17 15:55] xtianus79 commented on #1491
@lozthiensu you should reopen this issue because there is not clear documentation on this.

[2017-01-17 16:00] elainaRenee commented on #2449
@darrenbrett If you are still struggling with this, I found that the tooltip and other angular material components will not work unless you use one of their themes or define a custom one. There is documentaion on how to implement a theme here: https://material.angular.io/guide/theming

[2017-01-17 16:07] xtianus79 commented on #2181
@patrykbialek I don't get how that answers what we are specifically referring to... Calling components and or modules isn't the issue... it is enacting upon code/functions at a specific point in time while the modal/dialog is awake.   i.e. passing data to the open dialog modal.

[2017-01-17 17:04] diminutivesloop opened #2689 "Documentation Website is difficult to read"
It's exciting to see the full website for Angular Material 2 finally take shape. Unfortunately the new design has a very low text contrast ratio that makes the site content noticeably hard to read. Obviously there are stylistic considerations at play here, but since this site is primarily a working resource for developers it seems that readability should be given increased priority.

[2017-01-17 17:41] EladBezalel opened #2690 "docs: remove svgSrc from md-icon readme"

[2017-01-17 17:43] goleary commented on #2683
pinning solved my problem.  Thanks!

[2017-01-17 17:48] QuentinFchx opened #2691 "Popover component"
#### Bug, feature request, or proposal:
Feature request

#### What is the use-case or motivation for changing an existing behavior?
Popovers are not part of the current material design spec, however they are a common component in desktop applications.
It got some traction last year within the [angular/material](https://github.com/angular/material) repository [here](https://github.com/angular/mater

[2017-01-17 18:16] nadavten commented on #2679
my mistake. forgot FormsModule ..

[2017-01-17 18:16] #2679 closed

[2017-01-17 18:37] kara commented on #2667
cc @mmalerba

[2017-01-17 19:19] jelbourn opened #2694 "Update button-toggle styles"
New guidance from Material Design UX:

Exclusive selection does not use borders between items since they are related and dependent. E.g., Turning on left aligned means center aligned must be turned off.

### Dark theme colors
background color: grey 900
Active icon: white 100%
Inactive icon: white 30%
background fill on active: white 20%

### Light theme colors
Active icon: 54%
Inactive icon: 26%
b

[2017-01-17 19:21] kara opened #2695 "Select animation broken at master"
The panel does not fade in properly (it jumps). Looking into it.

[2017-01-17 19:26] kara opened #2696 "Selected item wrong colors at master"
Selection text should be primary color, but currently it's being overridden by autocomplete styles.

[2017-01-17 19:28] vtolstov commented on #1728
Any news?

[2017-01-17 19:34] ig16022 commented on #118
This was asked previously, but there is no answer - ngValue binding doesn't work with md-option, how can we use md-select with objects as option values?

[2017-01-17 19:36] Splaktar commented on #2521
@CanKattwinkel Elad just opened a [PR](https://github.com/angular/material2/pull/2692) to fix the docs.

[2017-01-17 19:49] stefan-leye opened #2698 "Migration from angular-material 1, css name clash"
#### Bug, feature request, or proposal:

I'm currently migrating from an angular 1 project using angular-material to angular 2. I'm also using some of the angular-material 2 components (md-input-container, md-dialog). While the basic javascript part can be mirgrated quite easily there are lots of name clashes between material 1 and 2 css/scss classes, which hampers using both in one project and th

[2017-01-17 19:53] DevVersion commented on #2698
@jelbourn worked a compatibility module that ensures that M1 components don't interfere with M2 (https://github.com/angular/material2/pull/2093)

[2017-01-17 20:22] coder925 commented on #1765
Excellent! It works with the latest bits given that you are also importing _MaterialModule_ in the lazy loaded sub-module. Thanks!

[2017-01-17 20:41] nadavten opened #2700 "[BUG] mdInput type="time" - placeholder running over input when time not fully entered"
BUG -
![image](https://cloud.githubusercontent.com/assets/17804204/22038993/10e50e6c-dd06-11e6-8a71-f6f021f5662f.png)

[2017-01-17 22:57] kara commented on #2609
@AsherBarak  We forgot to include the `@Self()` selector, so the select is swallowing up your custom value accessor. Should be a quick fix. Looking into doing so now.

[2017-01-18 00:21] dmacfarlane commented on #2670
See #2683 and angular/zone.js#427

[2017-01-18 01:28] #2690 closed

[2017-01-18 03:53] #2004 closed

[2017-01-18 03:55] #1938 closed

[2017-01-18 03:55] #2106 closed

[2017-01-18 03:58] #2274 closed

[2017-01-18 04:00] #2151 closed

[2017-01-18 04:09] #2636 closed

[2017-01-18 05:22] #2599 closed

[2017-01-18 05:23] #2658 closed

[2017-01-18 05:28] #2695 closed

[2017-01-18 06:46] darrenbrett commented on #2449
@elainaRenee Thanks. Yes, I discovered the very same thing. Mine is working now after using one of the themes.

[2017-01-18 10:46] ciesielskico commented on #2450
I also need disabling of tabs animation, +1

[2017-01-18 10:52] ciesielskico opened #2706 "[Tabs] Add ability to disable animations"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
I would like to disable the slide-in animation

#### What is the current behavior?
The slide-in animation cannot be disabled.

#### What is the use-case or motivation for changing an existing behavior?
I have a couple of tabs, which are rendered using `*ngFor`.

The data is retrieved from `ngrx/store` and

[2017-01-18 11:24] RicardoVaranda commented on #2661
I've created a simple plunkr to show the issue:

https://plnkr.co/edit/Uz09iLIyYgvgN3M4cSJ1?p=preview

@jelbourn Would you mind taking a look at this 🙊

[2017-01-18 11:28] #2628 closed

[2017-01-18 11:32] RicardoVaranda commented on #2661
Actually it seems like this PR already addresses this issue:

#2455

The PR is merged but it doesn't seem to be released yet.

This can be closed.

[2017-01-18 11:33] mateuszwitkowski commented on #1854
Anyone knows when this will be fixed? In my case upgrading from alpha 9 is just impossible know. Every tab in my app contain a component that contains more nested components and it takes ages to render. Furthermore if I change tab every component in every tab is created and immediatelly destroyed. Components are using services to fetch data when initialized so for example: if I have 6 tabs and mov

[2017-01-18 12:00] quanterion commented on #1854
You can try to wrap contents of each tab with *ngIf="activeTabIndex=x"

[2017-01-18 12:57] coder925 commented on #2686
I see that the requirement of _entryComponents_ is mentioned in the [README of the Dialog](https://github.com/angular/material2/tree/master/src/lib/dialog#example). So my proposal is merely to also include this information on https://material.angular.io/components/component/dialog . Thanks!

[2017-01-18 13:09] fxck commented on #2706
Have you tried adding `trackBy` to that `*ngFor`?

[2017-01-18 14:49] fxck commented on #2691
Shouldn't be hard, it's basically the same thing as menu, when it comes to positioning and usage of the overlay service, the only difference is that instead of menu items it would have content and buttons. But as you said, it's not part of the spec, so you'd be better off doing it yourself.

I've already mentioned it in some issue, but I think this repo could maintain a curated list of user create

[2017-01-18 15:09] DevVersion commented on #2691
@fxck So you are saying that we should for each component a single starter repository?

[2017-01-18 15:15] fxck commented on #2691
Nope, what I meant is that you could create a "starter" repository that one could clone and create custom material2 component(like popover) with.

Basically this repository slimmed down with different .md files and one example component.

[2017-01-18 15:32] Ganim commented on #2685
[Updated] - Use the template question form, sorry by changed this before.

[2017-01-18 16:24] nshahpazov commented on #1461
Hey guys, did this issue got resolved. I'm having the same problem and I'm not using custom colours.

[2017-01-18 17:07] #2387 closed

[2017-01-18 17:08] ciesielskico opened #2707 "md-dialog: pass additional content"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
I would like to pass a string to the dialog when opening it with `this.dialog.open(...)` to be displayed in the dialog itself.

#### What is the current behavior?
I can't pass additional data directly to the dialog.

#### What is the use-case or motivation for changing an existing behavior?
I can pass data

[2017-01-18 17:12] BhattaRj commented on #118
I am using beta-1 Initial value is not set when data for options are loading form api.

[2017-01-18 17:14] #2524 closed

[2017-01-18 17:15] #2671 closed

[2017-01-18 17:17] #2696 closed

[2017-01-18 18:36] DevVersion commented on #2651
@mojtab23 Glad it works now.

Regarding 1) We are aware of that - and it will be fixed as soon as possible
Regarding 2) The response from @codef0rmer is correct. Either you need to use SCSS or a prebuilt theme.

[2017-01-18 18:36] #2651 closed

[2017-01-18 18:40] DevVersion commented on #2700
Works for me in `master`. Are you using the `mdInput` directive or the deprecated `<md-input>` element?

![](https://i.gyazo.com/f19c14827ad18eecf5844381f3610096.png)

[2017-01-18 19:05] nadavten commented on #2700
md-input. how do u use mdInput ?

[2017-01-18 19:09] DevVersion commented on #2700
Well, `<md-input>` has been deprecated in favor of the `<input md-input>` attribute.

But we also have made some changes to that recently:
- In Beta.1 it can be used `<input md-input>`
- In the future releases it will be `<input mdInput>`

Here is some info about `master`: https://github.com/angular/material2/tree/master/src/lib/input

[2017-01-18 19:19] nadavten commented on #2700
`<input md-input placeholder="Name" [value]="someValue" type="text"/>`

![image](https://cloud.githubusercontent.com/assets/17804204/22079205/aad92c5c-ddc3-11e6-9afe-d59c60b14fe1.png)

[2017-01-18 19:19] DevVersion commented on #2700
What Angular Material version are you using? - Next time please use the issue template..

[2017-01-18 19:19] nadavten commented on #2700
beta-1

[2017-01-18 19:20] DevVersion commented on #2700
Be sure to have a `<md-input-container>` element around it. As in the documentation: https://material.angular.io/components/component/input

[2017-01-18 20:18] ehegnes commented on #117
@bendg25 Please consider tracking changes to the code to determine release progress. [This GitHub search query may help you.](https://github.com/search?utf8=%E2%9C%93&q=repo%3Aangular%2Fmaterial2+autocomplete&type=Commits&ref=searchresults)

@istiti, @alan345, @kkjf02  ETA inquiries are generally not conducive to improving development efforts.

@istiti With respect to your autocomplete implementat

[2017-01-18 20:50] david-kerwick commented on #2671
Should I open an new issue about the tooltip going outside the viewport. I can't find another issue on it? The fix wraps the long lines now but it still goes off screen.

There's a screenshot here
https://github.com/angular/material2/pull/2678#issuecomment-273060499

[2017-01-18 21:21] draiche commented on #2536
@melocotton Did your workaround end up helping get around this? I'm encountering the same issue. If it worked would you be able to share your solution?

Thanks, and I also would appreciate this being changed.

[2017-01-18 21:24] m0tter commented on #2351
+1 For the same problem
I'm running beta.1 and angular 2.4.2

`"dependencies": {
    "@angular/common": "2.4.2",
    "@angular/compiler": "2.4.2",
    "@angular/core": "2.4.2",
    "@angular/forms": "2.4.2",
    "@angular/http": "2.4.2",
    "@angular/material": "2.0.0-beta.1",
    "@angular/platform-browser": "2.4.2",
    "@angular/platform-browser-dynamic": "2.4.2",
    "@angular/router": "3.4.2

[2017-01-18 21:33] JordanSliz opened #2709 "md-button-toggle-group, CSS for button states"
I haven't seen anyone talking much about this, so I'm adding it as a new issue.

What I'd like to achieve is to style the button states of the md-button-toggle-group.  :hover works with no issue.  However, :active only works on mouse down, and none of the other pseudoclasses, :checked, :enabled, ::selection, :valid, nor :focus, have any effect of any kind of them.  (Obviously some of those were de

[2017-01-18 21:49] KennethGeris commented on #2661
Is there something similar like this for textarea?

[2017-01-18 22:11] kuncevic commented on #1273
@jelbourn can you provide any feedback on this one?

I am using `md-hint`, it is bringing its own styles, sitting in the head
[code]
I want to override the 'bottom' and set color for all `md-hint` in my project so I can do this <md-hint [ngStyle]="{'color': 'red', 'bottom': 'auto'}"> as per https://github.com/angular/material2/issues/348. But this way I have to repeat that for each `md-hint`.
How

[2017-01-18 22:13] #2025 closed

[2017-01-18 22:26] JordanSliz commented on #2709
Answered my own question in time.  It's injecting classes on multiple element levels that lay-over one another.  .md-button-toggle-checked and .md-button-toggle-label-content both are injected on click.

[2017-01-18 22:43] JordanSliz commented on #2709
The real trouble is that the TS injecting classes on actions makes it nigh impossible to tell if the page-level styles will or will not overwrite what you have written.

[2017-01-19 02:39] jawadst commented on #2673
I am seeing the same behavior with <md-grid-tile> that does not render when there is an async in the *ngFor (on an observable).

[2017-01-19 02:46] dolanmiu commented on #2398
It works for me on version 2.0.0-beta.1

Perhaps it is fixed.

Can be closed?

[2017-01-19 03:33] jfletcher2 opened #2711 "After selecting an option on md-select it does not adjust width while resizing window"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Once the user selects a value on md-select and the browser window is resized the md-select element should adjust its width accordingly. md-input works fine.

#### What is the current behavior?
The md-select width is not adjusted correctly when the browser window is re-sized.
Full Size window:
![full-size](https://clou

[2017-01-19 03:50] sarora2073 opened #2712 "svg source for md-icon not working"
#### Bug, feature request, or proposal:
Bug with md-icon in 2.0.0-beta.0 / 2.0.0-beta.1

#### What is the expected behavior?
ability to specify/load an .svg source file (locally or external) on an md-icon component

#### What is the current behavior?
get this error when trying to specify a local .svg file source for an md-icon
Can't bind to 'md-svg-src' since it isn't a known property of 'md-icon'

[2017-01-19 04:20] adrian-mitangi commented on #2628
I'm noticing the same issue with the version of material that I'm using "@angular/material": "^2.0.0-beta.1".  I don't see a class declaration for .cdk-visually-hidden.

[2017-01-19 05:36] #2609 closed

[2017-01-19 07:10] xban1x commented on #2712
[Material MdIcon](https://material.angular.io/components/component/icon).

Please review the example.The new property is  `svgIcon` and icon must be cleared by DomSanitizer.

[2017-01-19 08:00] ciesielskico commented on #2706
Yes but it works only partially.

I have a nested `md-tab-group` (one inside the other) and the `trackBy` helps on the parent `md-tab-group`.
The inner tab-group still gets rerendered on every change.

[2017-01-19 08:01] fxck commented on #2706
Even if you put trackBy on both?

[2017-01-19 08:05] ciesielskico commented on #2706
Yes, even with two trackBys

[code]

I work with ngrx and the table gets rebuilt and sorted on every change, will have to rethink my data structure.

[2017-01-19 08:23] chandanjawale opened #19554 "snack-bar: does not disappear when clicking on it multiple times"
**Snack bar should be disappear in sometime after clicking  PIZZA PARTY button**:
 -  `If we clicks continuously and multiple times on PIZZA PARTY button*`
 -  ` The snack bar is not getting dis-appeared in completed interval time`

**Steps to reproduce the issue: *

 -  `Click multiple times on PIZZA PARTY button`
 -  `See the result`
 -   `Change the routes  and see the results`

**Angular Versi

[2017-01-19 08:29] codef0rmer commented on #2707
@ciesielskico You should grab the componentInstance to pass data in:

[code]

[2017-01-19 08:36] zerouno62 commented on #118
@BhattaRj
If you set the initial value in the model ([(ngModel)]="...") the corresponding option will be selected.

[2017-01-19 08:46] aralroca opened #2713 "mdTooltip is not working properly with ChangeDetectionStrategy.OnPush"
#### Bug:

Inside a component with `changeDetection: ChangeDetectionStrategy.OnPush` the mdTooltip is not working properly.

#### What is the expected behavior?

When the mouse is over the element, the tooltip is showed, and when the mouse leave the element, the tooltip is hidden.

#### What is the current behavior?

Show the tooltip sometimes when the mouse leave, sometimes never, sometimes when

[2017-01-19 08:53] ciesielskico commented on #2706
Ok my bad, I have been googling trackBy a little more and I implemented it incorrectly.
I've changed the group?.id to `trackByFn` and in my controller I have:

[code]

The tabs don't get rerendered anymore, thanks.

[2017-01-19 09:44] stefan-leye commented on #2698
Thank you. This looks like a good starting point. A lot of the "mat" selectors seem to be buggy, however or I use them in a wrong way. Is there documentation for this?

[2017-01-19 10:26] chrissena commented on #1491
Also having this issue. Not sure how I'm supposed to get this to work in a lazy-loaded module. If i put the component in the lazy-loaded modules entryComponents array i still get:

No component factory found for xxxComponent. Did you add it to @NgModule.entryComponents

[2017-01-19 12:20] brunoAltinet commented on #118
Hello, I have the same problem as @BhattaRj. if I do this:
`<select placeholder="Partner" [(ngModel)]="model.partnerGuid">
  <option *ngFor="let partner of partners" [value]="partner.guid">
    {{ partner.name }}
  </option>
</select>`

The value gets preselected according to the binding. If i change it to
`<md-select placeholder="Partner" [(ngModel)]="model.partnerGuid">
  <md-option *ngFor="let

[2017-01-19 13:48] D-Aymen opened #2715 "md-tab-group/md-tab default width"
##  Bug, feature request, or proposal:
## **_md-tab-group/md-tab default better to be displayed as block_**

## What is the expected behavior?

#### **_`if (Σ (md-tab widths) < 100vw), and  (N =  Σ (md-tabs)): md-tab width = 100vw/N`_**

`Exemple: If we have 4 md-tabs, default md-tab width will be 1/4 of the container (vw or container)`

`Notes: in this case i take page width as reference, the pro

[2017-01-19 14:07] mrlund opened #2716 "MdSelect hangs browser if FormControl does not exist"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
No values populated in the select control, or exception thrown

#### What is the current behavior?
Hangs the browser (Chrome and Safari at least, Edge/FF not tested)

#### What are the steps to reproduce?
set `formControlName` to the name of a control that doesn't exist on the formGroup, i.e. if you accidentally left

[2017-01-19 15:11] maxime1992 commented on #2441
@brunopereira27 is your plunkr working ? Because I was trying to see your issue but I have that :
![image](https://cloud.githubusercontent.com/assets/4950209/22112025/da74b65e-de61-11e6-8aab-b7c8c753f4f7.png)

So I don't see any problem.

I'm having (probably) the same problem :
![image](https://cloud.githubusercontent.com/assets/4950209/22112057/ee062ffe-de61-11e6-8ed4-0c2de9d88161.png)

But as y

[2017-01-19 15:21] CPANinjaDoug opened #2717 "IE11 MdTooltip issue"
#### Bug, feature request, or proposal:
If I add mdTooltip="This is a Test" to an HTML element everything works fine in Chrome or Firefox, but it doesn't work in IE11. I have imported MaterialModule into the main app.module.ts file and included
`<link` rel="stylesheet" `href="//rawgit.com/angular/material2-builds/master/core/theming/prebuilt/indigo-pink.css">` in the index.html file.

#### What is

[2017-01-19 15:41] vtolstov commented on #1728
@rajamarketing can you help me and provide css with @media query so i don't need to watch in angular componnet for window resize events and css applied automatic?

[2017-01-19 15:48] sarora2073 commented on #2712
Tried that and it doesn't work. I guess i mistakenly thought mg-svg-src was the new property because i was looking at this page which is actually for materialjs: https://material.angularjs.org/latest/api/directive/mdIcon

You'll notice on that old materialjs site that there are 2 properties. I'm looking for the latest equivalent of md-svg-icon for materio.io, and it appears you have given the late

[2017-01-19 16:01] Tqader opened #2718 "Md-select dropdown does not move when page is scrolled"
#### Bug, feature request, or proposal:
When Md-select control is pressed, the md-select-panel opened up. It shows the list of possible ms-options. However, if the user scrolls the page, the rest of the elements on the page scroll but the md-select-panel retains its original position.

#### What is the expected behavior?
The relative position of md-select and md-select panel should remain the same

[2017-01-19 16:04] Tqader opened #2719 "Animations for md-select can not be disabled."
#### Bug, feature request, or proposal:
unable to disable md-select animations

#### What is the expected behavior?
I want to be able to disable all animation behavior for md-select

#### What is the current behavior?
Animations are a part of the template for md-select. There is not api to disable them.

#### What are the steps to reproduce?
Add md select to a html page, cjick on it, there is is a

[2017-01-19 16:08] sarora2073 commented on #2712
On further review of the source code, it appears svgSrc was (and is?) the correct property but was modified by this commit:
https://github.com/angular/material2/commit/4571561dd51b350bbe58e3af6c17ef0e53cd3dd7

The code suggests some intention to support a 'SafeResourceUrl'..however, i'm unclear as to how I can configure the component to trust a local file path. Also, the error i get when using svg

[2017-01-19 16:42] fxck commented on #2718
known missing feature https://github.com/angular/material2/issues/1430

[2017-01-19 18:01] nadavten commented on #2700
![image](https://cloud.githubusercontent.com/assets/17804204/22118855/066b900a-de82-11e6-9c56-196d5cf98f68.png)

[code]

[2017-01-19 18:10] jelbourn commented on #118
I'm closing this thread since it's gone somewhat off-topic. If you encounter issues with md-select please file an issue following the issue template. For questions / help, try gitter and Stack Overflow.

[2017-01-19 18:10] #118 closed

[2017-01-19 18:20] thomaspink commented on #2713
Can reproduce it in the demo-app.

I think the problem is because the internal `TooltipComponent` has a `_visibility` property that changes state but the change detection does not recognize it because you skipped the sub component tree. So the animation does not get triggered and will show/hide the tooltip.

In my opinion even when change detection is `onPush` the tooltip should work fine. I will

[2017-01-19 18:30] jelbourn commented on #2713
One of our goals for exiting beta is that all of the components work with OnPush, so it's definitely something we want to address. PRs are always welcome!

[2017-01-19 18:57] shlomiassaf commented on #2385
@EladBezalel

It's more logical, I can have tons of examples but here is the logic:

Below you can see the input template (`input-container.html`)

Using **textarea** or **input** get's reflected in : `<ng-content selector="input, textarea"></ng-content>`

Notice it is nested deep.

Now, for example, lets say I want to change the `.md-input-underline` to have 2 styles.
1 style for **textarea** and

[2017-01-19 20:18] jelbourn commented on #2694
Additional notes from UX:
* button-toggles _should_ have ripples
* The hover / focus / pressed states should behave similar to the spec behavior for dropdowns:

[The spec shows these two images without clarifying](https://material.io/guidelines/components/buttons.html#buttons-toggle-buttons):
![image](https://cloud.githubusercontent.com/assets/838736/22123602/18591a58-de41-11e6-8d0c-3d802ba3bd4c.p

[2017-01-19 20:36] yusijs commented on #581
@jelbourn is the design process open somewhere, or is that phase just internal discussions?

[2017-01-19 21:35] jelbourn commented on #581
Just prototyping / planning at this stage.

[2017-01-19 21:54] kara commented on #2718
Closing this as dupe of #1430.

[2017-01-19 21:54] #2718 closed

[2017-01-19 22:05] kara commented on #2716
@mrlund I'm having trouble replicating this. When I try to create a repro case given the code above, I get the expected error: "Cannot find control with name 'Country'".
http://plnkr.co/edit/e5Scd1wzh6KA2fdBew8E?p=preview

Can you provide a plunker repro case?

[2017-01-19 22:27] chickson-va opened #2725 "md-menu is defaulted to `max-height: calc(100vh + 48px);` and goes off page"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
I expect that the menu would size to stay on the screen and scroll when it has a lot of items in it.

#### What is the current behavior?
Currently, it will just go off the bottom of the page and I won't be able to see a lot of items.

![image](https://cloud.githubusercontent.com/assets/19170294/22127794/2cabaab2-de63-

[2017-01-19 22:58] kuncevic commented on #1822
I just had same behaviour with using `[hidden]` with `md-hint`. Adding the style `[hidden] { display: none !important; }` works  but I just changed `[hidden]=(..) to `*ngIf=!(..)` so this way it is works without adding `[hidden] { display: none !important; }`.

[2017-01-19 23:07] arciisine commented on #2700
This is a bug that has been fixed in master, but not yet released.  As far as I know, beta.2 should provide support for `[value]="alarm.name"`. Right now when you set value directly, the mdInput directive doesn't register the change (and the placeholder stays in place).

[2017-01-19 23:18] Draccoz commented on #675
Any ETA? With my team we are about to pick a framework for new version of our product and it uses datepicker in quite few places, was hoping it might be finished sooner in A2 :(.

[2017-01-19 23:47] jelbourn commented on #2698
@stefan-leye the no-conflict mode isn't done yet; it will hopefully be in the next release

[2017-01-19 23:52] kara commented on #117
Also worth noting anyone who's interested can want to follow the autocomplete board [here](https://github.com/angular/material2/projects/7).

[2017-01-20 00:12] alan345 commented on #117
@kara Thanks Kara

[2017-01-20 00:17] kara commented on #2725
Ha, yeah this is definitely not right. First, I think that 48px was supposed to be subtracted, not added. The Material Design spec says it should be one row height less than the page height.  Also you are right that vh probably doesn't make sense here given that the trigger can be anywhere. We'll need to take another look at this.

[2017-01-20 02:08] mtrdp642 commented on #2712
[Plunker example](http://plnkr.co/edit/eWi18QNOrzhrvVUbK1rH?p=preview) with working DomSanitizer to trust local file paths. Example in app.component.ts

[2017-01-20 05:59] #2700 closed

[2017-01-20 06:52] DevWurm commented on #2398
I can't confirm this :(
The issue still appears in my sample project. You can find the code, where the error occurs in [the `issue-1` branch of DevWurm/hello-electron](https://github.com/DevWurm/hello-electron/tree/issue-1).
After running `npm install` you can run `NODE_ENV=development npm run start` to see the error.

[2017-01-20 07:05] Splaktar commented on #2517
Yes, this is a duplicate and should be closed. There is a workaround using the latest master mentioned here: https://github.com/angular/material2/issues/1765#issuecomment-272232271

[2017-01-20 08:22] xban1x commented on #2716
Use md-select without forms. You will see the issue @kara.

[2017-01-20 09:10] ceelian opened #2731 "Components site in Demo-App is not scrollable in Safari"
#### Bug, feature request, or proposal:

Components site in Demo-App is not scrollable in Safari (Version 10.0.2 (12602.3.12.0.1) and also in mobile Safari.

#### What is the expected behavior?

The component site should scroll

#### What is the current behavior?

It does not allow scrolling by touch nor mouse.

#### What are the steps to reproduce?

Browse with safari to e.g. https://material.ang

[2017-01-20 09:42] RicardoVaranda commented on #2667
+1 Seems like disabled Input has a few issues:

https://plnkr.co/edit/HEJze0spwbiQS558SvrE?p=preview

[2017-01-20 11:15] thanhpd opened #2732 "Parent page scrolling when scrolling inside long md-select dropdown"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Parent page with scrollbar does not scroll when scrolling inside md-select dropdown

#### What is the current behavior?
The md-select dropdown has fixed position in the page. When scrolling a long md-select dropdown (with scrollbar) in parent page (which is also with scrollbar), the parent page scrolls together with t

[2017-01-20 11:25] crisbeto commented on #2732
Should be resolved once we're able to block scrolling https://github.com/angular/material2/pull/1971

[2017-01-20 12:37] srisrim commented on #1335
That's the solution!! Even it solved my work

[2017-01-20 13:11] thomaspink opened #2733 "Test are failing locally"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Tests are successful on local machine

#### What is the current behavior?
Some tests are failing because of strange float/int value comparisons or wrong comma for fractional digits.

E.g.:
[code]
or
[code]

Here is the complete log as a gist:
https://gist.github.com/thomaspink/87f6cacc047eca03dcbdbf1df926455c

#### Wh

[2017-01-20 13:12] thomaspink commented on #2733
Instead of `expect(getStyle(tiles[1], 'width')).toBe('99.25px');`, maybe we should parse also the values in the tests to numbers an then compare them?

[2017-01-20 13:30] DevVersion commented on #2733
@thomaspink This happens a lot on my machine as well. Those are mostly pixel deviations of inaccurate tests. Those tests should be updated to work better on other browsers.

I started working on making some tests (that fail on my machine) more stable, so hopefully I will be able to push a PR soon.

[2017-01-20 13:34] thomaspink commented on #2733
@DevVersion if you need help, i can assist you with updating the cases.

It's blocking me to really push valid test for PRs, ... so i think is should be high prio

btw. Are you even sleeping sometimes ;) You are always responding within minutes :) big thumbs up 👍

[2017-01-20 13:49] crisbeto commented on #2733
I think that these are kinda random. On my machine I have a couple of similar failures in the MdSelect, but none in the above-mentioned components.

[2017-01-20 14:10] chickson-va commented on #2725
Sounds good 👍  Thanks!

[2017-01-20 14:39] mirceac72 opened #2734 "MdDialog seems to leak the displayed components"
#### Bug, feature request, or proposal:
Hi All,

I am using MdDialog to display some modal views defined by Angular 2 components. I observed that the instances of these components are still present in the browser snapshots after the dialog was closed. For example, I display a confirmation dialog for 10 times using a TwoOptions component. After that, the memory snapshot will contain 10 instances of

[2017-01-20 14:55] DevVersion commented on #2733
@thomaspink I shouldn't block you on fixing those. What did you figure out about those components yet?

[2017-01-20 15:53] Toub commented on #524
@ReneVallecillo you can find an example here: https://github.com/angular/material2/tree/master/src/demo-app/tabs

[2017-01-20 16:27] LOZORD opened #2735 "MdDialog container padding does not match spec"
#### Bug, feature request, or proposal:
MdDialog (`<md-dialog-container>`) currently pads the entire child (user-supplied) content with 24px.
It should not pad the action content (or rather, pad according to the spec).

#### What is the expected behavior?
It should only pad the non-action content. [Source](https://material.io/guidelines/components/dialogs.html#dialogs-specs)

![](https://storage.g

[2017-01-20 16:49] stefanaerts opened #2736 "`md-grid-list`, `md-grid-tile` can't find the way how to align items to left/right #1212"
#### Bug, feature request, or proposal:
iits closed without to say how to do it.
I cat align the text within colums to the left

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is

[2017-01-20 17:00] stefanaerts commented on #2736
i did it like this,with a div and a class
.text-inside-grid {
  position: absolute;
  left: 5px;
}
probably not the best way,but i don't know the standard way within md-grid

[2017-01-20 17:02] #2736 closed

[2017-01-20 17:34] #2440 closed

[2017-01-20 20:17] jelbourn commented on #2733
Pretty odd- I never see these failures and the CI hasn't reported them. My workstation and Travis are Linux, and Kara works on her Mac and hasn't said anything about seeing these.

[2017-01-20 20:19] DevVersion commented on #2733
@jelbourn Kristiyan and I are on Windows and (from what I heard) Kristiyan also experiences pixel deviations randomly. Likely ~2 tests always fail locally for me.

[2017-01-20 20:26] crisbeto commented on #2733
They actually ran fine up until Chrome 54 or 55, at which point they messed with the zoom level.

[2017-01-20 21:13] yusijs commented on #581
Alright, thanks. Looking forward to the result ☺

[2017-01-20 21:24] DevVersion commented on #2733
It looks like the height of the Chrome browser is for some reason very uneven.

![](https://i.gyazo.com/50970e11382bf306d56763075b198754.png)

It looks like this happens on Windows.. looking why the height is not even.

[2017-01-21 03:07] Socolin opened #2739 "bug(overlay): cdk-connected-overlay with size dont remove cdk-connected-pane on close"
#### What is the expected behavior?
cdk-overlay-pane should disapear on close

#### What is the current behavior?
cdk-overlay-pane stay open and prevent from clicking on element under it

#### What are the steps to reproduce?

http://plnkr.co/edit/pH6rE07ldEq5EgZqWzkq?p=preview

[2017-01-21 08:04] #2684 closed

[2017-01-21 09:29] mrlund commented on #2716
@kara @xban1x My md-select is within a form, like
`<form novalidate [formGroup]="form">`
...if that's what you mean?

My project is not ideally suited to copy to a plunker, but I'll try to investigate a little further and see if I can come up with additional info, or at least move enough to repro.

[2017-01-21 09:58] mrlund commented on #2716
In plunker I'm getting
`Can't bind to 'formGroup' since it isn't a known property of 'form'`
I've added the form includes, with
`import { FormBuilder, FormGroup, FormArray, FormControl, AbstractControl } from '@angular/forms';`
Unfortunately I'm out of time for today, but will continue tomorrow. In-progress plunker is here:
http://plnkr.co/edit/KxpItxXu0LaYPjSVWKkA?p=preview

[2017-01-21 11:25] leovafme opened #2741 "ng test error md-select"
#### Bug, feature request, or proposal:
The test fails when the md-select component is added in the html

When running ng test causes the following error:

at createResult (webpack:///~/@angular/compiler/src/jit/compiler.js:147:0 <- src/test.ts:39096:19)
	    at JitCompiler._compileModuleAndAllComponents (webpack:///~/@angular/compiler/src/jit/compiler.js:151:0 <- src/test.ts:39100:88)
	    at Jit

[2017-01-21 12:03] ciesielskico commented on #2707
Looks hacky but I'll try this, thanks. Still I think there should be a more elegant and straightforward way to do the same.

[2017-01-21 12:33] crisbeto commented on #2717
I couldn't reproduce it against IE11 and [the example from our docs.](https://material.angular.io/components/component/tooltip)

[2017-01-21 13:17] crisbeto commented on #2707
Closing as a duplicate of #2181 which has a pending PR.

[2017-01-21 13:17] #2707 closed

[2017-01-21 14:15] LiPengfei19820619 commented on #581
Looking forward to material2 data-table.
Thanks.

[2017-01-21 16:04] MA-Maddin opened #2745 "md-input-container: shadow dom attribute is not set for placeholder <label>"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
**>> Note: I want to change the style of `<input md-input>`'s auto generated `<label>` only within the current component's template.
It is working for every auto generated dom part of md-input, but not for its `<label>`/placeholder**

I was trying to change the `color` of `<input md-input>`'s `<label>` with the follow

[2017-01-21 19:34] fxck commented on #2745
that's the whole point of encapsulation.. styles don't leak out of the component scope.. you can get around it by using `/deep/` http://plnkr.co/edit/vUMxXQYZScr8iVIvmPbX?p=preview

[2017-01-21 19:48] istiti commented on #2689
Second it!

[2017-01-21 20:21] MA-Maddin commented on #2745
The styling is defined in the component's stylesheet.
The md controls are located in the component's template file.

Where does the style leak out of the component?
It should NOT affect other components or the global style, what will be the case by prepending `/deep/`.

I am able to style the input (`.md-input-element`) through the component's stylesheet without problems, because the input is gett

[2017-01-22 01:18] acpower7 opened #2749 "How do you debug this project?"
I am trying to set breakpoints and debug this app to better understand some parts.
However I don't get the original source but instead some HTML. Please see screenshots.

Also, And use gulp, why not Webpack 2 ?

<img width="2362" alt="screenshot" src="https://cloud.githubusercontent.com/assets/5999365/22179065/d19c57b6-e09c-11e6-9665-343e906053aa.png">

[2017-01-22 03:48] rajeshvaya commented on #675
Any approx. start date for this?

[2017-01-22 04:58] thekalinga commented on #675
Is it just me (or) the year selection is completely unintuitive in angular 2 datepicker demo?

The year at the top of the dialog does not feel like it user can click/tap on it to change

[2017-01-22 08:15] DevVersion commented on #2749
@acpower7 Webpack is not the right choice for libraries at the moment. For Material 2 we need a lot of flexibility to generate Metadata files to support AOT and more.

From looking at your sources in the screenshot I can see that you try to open the files from the `src/` path.

You should just the `.js` files and those will be automatically mapped to the associated TS file.

[2017-01-22 08:15] #2749 closed

[2017-01-22 09:43] acpower7 commented on #2749
Thanks for the reply.

I'm not sure I undertand as I can't find a dist folder in the chrome tools, or even an src/ path. The .js files are es5 and .ts files all show html. Can you give me more clear instructions.

<img width="562" alt="screenshot" src="https://cloud.githubusercontent.com/assets/5999365/22181584/70a61590-e0e3-11e6-8df5-146a3eadc7b1.png">

[2017-01-22 10:11] DevVersion commented on #2749
What happens if you now click on the `slide-toggle` folder and open the TS file? Does that work?

[2017-01-22 10:36] m0tter commented on #2351
This custom css fixed the problem for me
`md-dialog-container { height: inherit !important;}` and  setting `encapsulation: ViewEncapsulation.None`

[2017-01-22 10:46] mbeckenbach opened #2750 "Align font sizes"
#### Bug, feature request, or proposal:
The checkbox font size and button font size are different.

![image](https://cloud.githubusercontent.com/assets/6654388/22181939/36482a1e-e098-11e6-9325-2793083550ab.png)

#### What is the expected behavior?
Should be the same by default.

#### What is the current behavior?
See screenshot

#### What are the steps to reproduce?
Create a form with a checkbox a

[2017-01-22 11:15] acpower7 commented on #2749
No it doesn't. Honestly this whole project has a very poor development process, I would have expected more from Google.

![screenshot](https://cloud.githubusercontent.com/assets/5999365/22182088/162979ec-e0f0-11e6-86f3-5f58dca11aa3.png)
![screenshot 4](https://cloud.githubusercontent.com/assets/5999365/22182091/251c1a68-e0f0-11e6-9a21-6d90a69e7acf.png)

[2017-01-22 11:20] mrlund commented on #2716
Hmmm.... There's definitely an issue there somewhere, as I've hit this before, but it doesn't seem to be where I thought it was, and I'm also unable to reproduce in my original project now.

I'll keep an eye out for it in the future. Closing for now.

[2017-01-22 11:45] gioragutt opened #2751 "mdInput cannot override placeholder color"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When I set the '.md-input-placeholder' color style, the placeholder color would change

#### What is the current behavior?
Angular loads the css in a way that it's overridden by the angular material css bundle

#### What are the steps to reproduce?
I copied the example from https://material.angular.io/components/compo

[2017-01-22 14:04] DevVersion commented on #2745
Only the `<input>` element will get the `_ngcontent-qny-41` attribute, because that element has been projected into the `MdInputContainer` component.

The remaining elements in the `MdInputContainer` template will not receive any of the ` _ngcontent-qny-X` attributes, because for all Material components the `ViewEncapsulation` is set to `None`.

This is per design, because it makes it easier for d

[2017-01-22 14:16] DevVersion commented on #2750
Thanks for the issue @mbeckenbach. I can confirm that the `md-checkbox` does not set any `font-family`.

Other components probably don't set a `font-family` as well. We need to determine whether we want to set the `font-family` on all components (with a text)

cc. @jelbourn

[2017-01-22 14:23] fxck commented on #2751
same "problem" as with https://github.com/angular/material2/issues/2745

[2017-01-22 14:55] #2751 closed

[2017-01-22 17:16] ronaldoSf opened #2755 "Error messages using mdDialog component"
#### Bug, feature request, or proposal:
Angular displays error on console using the MdDialog component

#### What is the expected behavior?
Not display any error

#### What is the current behavior?
Dialog components need to be in the bootstrap section of the module declaration, otherwise it does not work. When the component is declared on bootstrap section everithing works fine but these messages

[2017-01-22 17:38] paistipoikka commented on #2351
@m0tter yes, that worked. In fact, I removed the setting `encapsulation: ViewEncapsulation.None` and it worked as intended in my application. It seems `md-dialog-container { height: inherit !important;}` is enough to fix this as a workaround.

Does your application require the encapsulation setting?

[2017-01-22 20:26] stefanbachert opened #2756 "md-spinner no color change"
#### Bug, feature request, or proposal:

Changing color has no effect

&lt;md-spinner color="warn"&gt;&lt;/md-spinner&gt;

#### What is the expected behavior?

Color should change

#### What is the current behavior?

No color change

#### What are the steps to reproduce?

https://material.angular.io/components/component/progress-spinner
Goto "Example Tab" and change color

#### What is the use-cas

[2017-01-22 21:37] m0tter commented on #2351
I think I found the problem. I was missing `<!DOCTYPE html>` from index.html

I can now remove the css hack and it works as intended. Can someone please test it.

[2017-01-22 23:02] patrikx3 opened #2758 "i expected to be above on the bottom, but shows below"
# Settings
[code]
# Expected
To be on above.

# Bug - in image
You can see it is below.
![image](https://cloud.githubusercontent.com/assets/4770180/22186991/ecf0e1a0-e0fe-11e6-9464-8dfbbfb39356.png)

#### Which versions of Angular, Material, OS, browsers are affected?

#### Is there anything else we should know?

[2017-01-22 23:03] patrikx3 commented on #2758
Should look always like this:
![image](https://cloud.githubusercontent.com/assets/4770180/22187018/46c0fe0e-e0ff-11e6-910e-e48666bfcdf9.png)

[2017-01-22 23:31] crisbeto commented on #2351
Great find @m0tter! That's definitely the cause. Still, I'm not sure what the doctype has to do with the CSS, but now we can reproduce it consistently, and worst case scenario we can log a warning as to why it may not be working.

[2017-01-23 00:30] acpower7 commented on #2749
edit

[2017-01-23 02:03] leocaseiro commented on #2529
Thanks @ChuckkNorris,

I lost a few hours on that...

[2017-01-23 06:17] paistipoikka commented on #2351
Yes, that worked on this end too.

[2017-01-23 07:10] feniixx opened #2759 "md-dialog not supporting modularity"
#### Bug, feature request, or proposal: Bug

#### What is the expected behavior?
Having submodules and declaring the dialog components at those submodules, and also add the `entryComponents` property value at that submodule and get to work the dialog.

#### What is the current behavior?
The dialog is not working, the component has to be declared and added as an entryComponent at the **AppModule**

[2017-01-23 07:54] patrikx3 commented on #2758
this happens when  after i scrolled down long page.
the menu on the footer is fixed, i scroll down, and later the menu is not positioned on the top, but going below.

[2017-01-23 08:49] mbeckenbach commented on #1460
@james-knerr Have a look at the multple themes section in docs. With a simple host binding you can easyly add a theme based on the tenant

[2017-01-23 10:53] basvandenberg opened #2760 "Error after closing dialog in IE if there was no active element when opening the dialog"
#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
Dialog closes without throwing a TypeError in IE (for dialog that was opened when there was no element with focus).

#### What is the current behavior?
I open a dialog by clicking an item in a drop down menu. This drop down menu is then closed immediately, which means that there is no element with focus. In [dialog-c

[2017-01-23 11:25] sabhiyan opened #2761 "Grid inside Grid is not working"
#### Bug, feature request, or proposal:
md-grid-list inside md-grid-list is not working.

It will hide the content of the inner grid. and all the element that are placed inside the inner grid are aligned horizontally.

[2017-01-23 12:56] Tytam opened #2762 "md-select default value"
#### Bug, feature request, or proposal:
When using formBuilder default value passed to formBuilder does not show as selected in md-select.

#### What is the expected behavior?
If I select value in formBuilder its name and value should appear as selected option of md-select.

#### What is the current behavior?
Placeholder is displayed instead.

#### What are the steps to reproduce?
typescript:
`thi

[2017-01-23 13:13] moniuch opened #2763 "Checkbox not obeying parent fieldset disabled state"
#### Bug, feature request, or proposal:
Bug: - but I am not sure it's a bug in your component or an incomplete accessor.
I have reported it here: https://github.com/angular/angular/issues/13856

I am just looking out for answer how to implement disabling a component upon fieldset disabled change and whether it can be achieved with current API (Angular 2.4.4)

#### What is the expected behavior?
Co

[2017-01-23 13:47] MA-Maddin commented on #2745
Thank you for the clarification. That makes sense to me now, somehow. :wink:

So in my case there are actually these options to overwrite the style only within current component's scope:
- `ViewEncapsulation.Native` on component.
- `:host /deep/ .md-input-placeholder`
- `ViewEncapsulation.None` + `.my-target .md-input-placeholder`

So this is more an issue of angular with its emulated encapsulatio

[2017-01-23 13:50] pierreclr commented on #2759
I have exactly the same problem ..

[2017-01-23 14:50] vertinskydv opened #2764 "md-slider the keyboard bindings doesn't change the values"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When you change the slider using the keyboard bindings (Left arrow or Right arrow), it is expected changing the value using [(ngModel)] and triggering (change) event.

#### What is the current behavior?
But slider moves after pressing button.

#### What are the steps to reproduce?
http://plnkr.co/edit/mUQx5dK8wt3qtJ04

[2017-01-23 15:05] jasonhodges opened #2765 "md-input-container not recognizing mdInput"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`md-input-container` recognizes the child input element

#### What is the current behavior?
error is being thrown on load, stating md-input-container must contain an md-input directive

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker

[2017-01-23 16:06] thomaspink commented on #2733
Update from my side:
Did some debugging on the `sizes ripple to cover element` test which is the first test that is failing for me.

The first thing i stumbled upon was that the style properties (e.g. `ripple.style.left`) are returning wrong values. E.g.: `-229,508px` for the left property. You can see it has a wrong floating point char (`,` instead of `.`). This leads on the one hand to failing c

[2017-01-23 16:22] blyndcide commented on #1967
Angular 2.4.4 fixes the error and tabs change successfully; however [active] is not being set.

[2017-01-23 16:44] sanyooh opened #2766 "Md-Select (change) not working"
Type: Bug

#### What is the expected behavior?
(change) on md-select component should register change in selected value.

#### What is the current behavior?
(change) on md-select component is not recognizing a change.

I've created a plunker to see the behaviour:
Plunker template: https://plnkr.co/edit/biiHzaidgwgRF1efyXF5?p=preview

#### What is the use-case or motivation for changing an existing

[2017-01-23 17:06] thomaspink commented on #2733
Update:

Tried to find out why float values have the wrong separator. Found [this](https://bugs.chromium.org/p/chromium/issues/detail?id=623347), so i tried it myself:

At first i ran `document.body.style.left = "3.2323%"` in chrome on the demo app and other websites. When you take a look on the first screen, the value is correct. Then i did the same in the chrome window which opens when you start

[2017-01-23 17:07] mwamufiya commented on #2766
Is there any reason your not binding your md-select to an model so the change is registered?

ie: md-select [(ngMode)]="selectedValue".

https://plnkr.co/edit/IcLEoesRIDXTYZ8NV90z?p=preview

also, according to the API specs, the "onSelect" method is on md-option not md-select. if I'm reading this right.

https://material.angular.io/components/component/select

[2017-01-23 17:31] YeomansIII commented on #2758
Have the same exact issue with a fixed bar along the bottom of the page. This also happens after scrolling down the page. My y-position is set to `above`.

The bug:
![screenshot at 12-29-12](https://cloud.githubusercontent.com/assets/3809115/22214972/ae502834-e167-11e6-82c7-6e7e06df20b0.png)

How it should look:
![screenshot at 12-29-28](https://cloud.githubusercontent.com/assets/3809115/22214982/

[2017-01-23 17:39] wyers commented on #2765
@jasonhodges, i think they are tracking this and the fix is in next release (maybe?)
just use  <input md-input> for now

https://github.com/angular/material2/issues/2529

[2017-01-23 17:47] thomaspink commented on #2733
Ok guys i got it - for some reason these floating point errors occur if the language in Chrome 55 on MacOS is German (maybe also other languages). I switched my OS to English and voilà - everything is fine.
The only thing is that i sometimes get a timeout error on MdMenu (Only in 1 out 4 runs).
[code]

So as a conclusion: There is, at least for me, no bug in the tests/build in material2. It seems

[2017-01-23 17:58] jasonhodges commented on #2765
@wyers As I mentioned, I have tried this

[2017-01-23 18:05] doorman02 opened #2767 "slideend not firing when clicking on the slider itself"
#### Bug, feature request, or proposal:
I am using the md-slider component. When I touch anywhere on the slider the handlebar (used for dragging) is automatically sliding to the clicked position. But the slideend event is not firing. I don't want to use the change event because I only want to call a function when the sliding is done.
Is there a way to detect when the sliding is done when clicking

[2017-01-23 18:14] mwamufiya commented on #2250
There seem to be multiple issues reported for being able to specify which is the selected option. Has there been an official response on this yet?

[2017-01-23 18:52] moyzes opened #2769 "Dialog opening twice in Chrome."
#### Bug, feature request, or proposal:

After implementing the tutorial, when we click to open the dialog, it opens twice; one dialog over other. It's happening only in Chrome, tested in Firefox and it's working OK.

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to

[2017-01-23 19:03] andrewseguin commented on #2769
Can you provide an example plunker that reproduces your issue? Here's an example of dialog usage that is not showing duplicated dialogs: https://plnkr.co/edit/dYbIJ95IyfpxlY91BADX?p=preview

What version of material are you using?

[2017-01-23 19:46] kara commented on #2766
@sanyooh The 'change' event is a feature that was added to the select by https://github.com/angular/material2/pull/2458. It's in master, but has not yet been released. It will be available in the next Material release.

As @mwamufiya mentioned, in the meantime, you should be able to use any directive from either `FormsModule` or `ReactiveFormsModule`.

[2017-01-23 19:46] #2766 closed

[2017-01-23 20:51] DevVersion commented on #2733
@thomaspink Thanks for the investigations you did. The issues @crisbeto and I are experiencing on Windows are quite different than the ones you are explaining here.

I really start thinking that Windows does something weird with the scaling of Chrome.

It's hard to explain what issues I experience here - I started playing with some Chromium flags to fix these issues, but didn't find a proper one y

[2017-01-23 21:00] mcalmus opened #2772 "md-radio-group doesn't work in module included via *ngFor"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Should show all model-bound values.

#### What is the current behavior?
Only showing value from last bound model.

#### What are the steps to reproduce?
Create a component containing ng-button-group bound to a model.
Include that component in another page uinsg *ngFor

I'm having problems unrelated to the issue, but h

[2017-01-24 00:33] sebakerckhof commented on #1460
@mbeckenbach
What do you mean with host binding?
The way I understand that section is that you would need to include all the CSS for all the tenants. This is exactly what we want to avoid.

+ tenants can usually be dynamically added/changed. This is still a build step, so not something we can modify at runtime.
Maybe tenants can choose their theme colors which are then stored to the databse. All o

[2017-01-24 01:15] andrewseguin opened #2775 "Dialog using title, content, actions does not work well on small height screens"
#### Bug, feature request, or proposal:

When using a dialog with the md-dialog-title, md-dialog-content, and md-dialog-actions directives, the dialog does not correctly scale with the screen when the height is reduced.

#### What is the expected behavior?

The entire dialog should fit into the window while the content height shrinks and is scrollable.

#### What is the current behavior?

The dial

[2017-01-24 02:43] apeter10 commented on #2559
@EladBezalel Could you please give me some examples? I have the same problem.

[2017-01-24 02:45] loongdefect commented on #2559
I binding with same ref name.

On Tue, Jan 24, 2017, 9:43 AM Brandon Yang <notifications@github.com> wrote:

[2017-01-24 03:50] apeter10 commented on #2559
@loongdefect I write the code in Plunker but failed. Could you please help me?
`http://plnkr.co/edit/qRB9rT`

[2017-01-24 04:50] loongdefect commented on #2559
display correct
'<div *ngFor="let menuItem of menus">'
    '<button md-button [mdMenuTriggerFor]="menu">'
        '<span>{{menuItem.title}}</span>'
    '</button>'
    '<md-menu #menu="mdMenu">'
      '<button md-menu-item>Refresh - {{menuItem.title}}</button>'
      '<button md-menu-item>Settings - {{menuItem.title}}</button>'
    '</md-menu>'
'</div>'

[2017-01-24 05:38] jwuliger commented on #2758
Same problem here, came to see if anyone else was running into this problem.

[2017-01-24 06:03] crisbeto commented on #2775
https://github.com/angular/material2/pull/2546 should help with this.

[2017-01-24 09:14] thomaspink commented on #2755
`DialogOverviewExampleDialog` hast to be moved from to `bootstrap` array to `entryComponents` in the module.

Updated Plnkr:
https://plnkr.co/edit/3XdN8VSe205h2iKSjxmY?p=preview

[2017-01-24 09:44] acpower7 commented on #2749
Hey, I really don't want to create a new issue......

[2017-01-24 09:46] DevVersion commented on #2749
Take a look at PR https://github.com/angular/material2/pull/2753 and also notice that the UMD bundles still don't have any sourcemaps. Will will address that in a follow-up PR.

[2017-01-24 10:48] emilio-martinez opened #2777 "`locals` use in `TemplatePortalHost`"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Portal is an interesting part of a component dev toolkit, and one portion that strikes me as with potential but not very much explored—at least from an outside perspective—is the `locals` property in `TemplatePortalHost` which is not explained very much in either documentation or via examples in the unit o

[2017-01-24 11:06] centaure commented on #2351
Inserting `<!DOCTYPE html>` worked for me too. Thank you.

[2017-01-24 11:12] acpower7 commented on #2749
So how do you guys currently debug this library, set breakpoints etc? How do you do it?

[2017-01-24 11:15] asbcoder commented on #2762
Was about to raise a similar issue regarding the default value on md-select. The following does not set the default value of the select either: -

`<md-select placeholder="Year" [(ngModel)]="selectedYear.Key" (change)="onYearSelect()">
           <md-option *ngFor="let year of (yearsByCourse$|async)" [value]="year.Key">
                            {{ year.Description }}
            </md-option>
</

[2017-01-24 11:34] victorschinaider opened #2778 "(SystemJS) Unexpected token <"
#### Bug, feature request, or proposal:
I'm trying to setup angular material, but i'm getting this error...

Console:
[code]

**System.js file**
[code]

**app.module.ts**
[code]

I search 'similar' issues, and tried to do somethings, but no success.
- I already tried to remove 'node_modules' and reinstall.
- I tried to update the node.js to 7.4.0.
- Angular 2.4.4
- TypeScript 2.1.5

#### What is t

[2017-01-24 11:44] m0tter commented on #2351
Glad to hear that worked :)

[2017-01-24 12:00] Roman-K93 commented on #2759
+1

[2017-01-24 12:07] doorman02 opened #2779 "MdSideNav closes when soft keyboard appears on Android"
#### Bug, feature request, or proposal:
When MdSideNav is open and it contains a input field. When the input field get's focus the soft keyboard appears. When the keyboard appears the MdSideNav closes automatically.

#### What is the expected behavior?
The MdSideNav should stay open even when keyboard appears.

#### What is the current behavior?
The MdSideNav closes when keyboard appears.

#### Wh

[2017-01-24 12:10] doorman02 commented on #2767
This works fine if I use the (change) event instead of the slideend event.

[2017-01-24 12:10] #2767 closed

[2017-01-24 12:17] moyzes commented on #2769
My bad Andrew, I was calling twice (in a parent element and in a child element with different parameters). I split them and it worked perfectly. Somehow Firefox ignored the child calling.

[2017-01-24 13:15] DevVersion commented on #2749
So if we run into issues with components:

* Most of the time the unit-tests are showing errors and can be solved then easily.
* Debugging most of the time does happens in the unit tests and in the demo-app

Also the sourcemaps for the demo-app & e2e-app are only broken since recently.

So basically there is no big secret about debugging here. We just write a lot of tests that can detect issues qu

[2017-01-24 13:20] DevVersion commented on #2778
Sorry for that. The correct path is

[code]

We have fixed that in the source and the docs will be re-published soon. Thanks for the issue.

[2017-01-24 13:20] #2778 closed

[2017-01-24 13:23] DevVersion commented on #2765
@jasonhodges Since you are not able to share a Plunker or some code, can you try sharing some similar code here?

e.g

[code]

[2017-01-24 13:51] victorschinaider commented on #2778
This solved the problem. Thanks!

[2017-01-24 13:51] Knoxvillekm commented on #1425
Button not working with function in ngFor (*ngFor="let item of items()")
http://plnkr.co/edit/s2ALzvNN2QUowz4PawiS

[2017-01-24 14:13] CPANinjaDoug commented on #2717
This turned out to be an employer-enforced security issue which has since been resolved. Thank you for looking into this and I apologize for the inconvenience.

[2017-01-24 14:13] #2717 closed

[2017-01-24 14:28] MikeMatusz commented on #2013
I like the concept of a guard in #2008 (though not necessarily relying on angular/router) because you could do something asynchronous, like prompt the user, before continuing or preventing the tab change.  Most tab libraries I've used have an event you can preventDefault on to stop the change, but it's messy with async because you have to stop the transition, and then start it again, suppressing y

[2017-01-24 15:00] jasonhodges commented on #2765
@DevVersion
This is how I have it implemented:
[code]

[2017-01-24 15:03] Tytam commented on #2762
Somehow my code now works (we made mayor backend changes). So my issue bay be caused by angular 2 meteor I use and not material problem. If I find out something new I write a comment here.

[2017-01-24 15:10] patrikx3 opened #2780 "tooltip question"
can you tell me how to disable / enable tooltip by width of page?
i can set the media query, but i want to disable certain tooltips by page width.

[2017-01-24 15:11] DevVersion commented on #2765
Thanks. While looking at it, it looks valid as for the `beta.1` release.

If you can share the exact error from the browser console, that would be perfect!

[2017-01-24 15:17] jasonhodges commented on #2765
Thanks @DevVersion , here you go
<img width="1890" alt="md-input_error" src="https://cloud.githubusercontent.com/assets/1988476/22253045/6dbbe71c-e20d-11e6-9165-d243e3de1170.png">

[2017-01-24 15:24] DevVersion commented on #2765
Hm, since everything works in the Plunker template I'm thinking about something in your build process that might modify the HTML attributes? (e.g html-min)

Is you application being compiled with such tools?

[2017-01-24 15:29] jasonhodges commented on #2765
@DevVersion
I apologize, not sure why this weird instance happened but after shutting everything down, and launching a fresh build the issue is no longer present. I suspect some leftovers were being served. Thanks for your quick responses

[2017-01-24 15:29] #2765 closed

[2017-01-24 15:30] DevVersion commented on #2765
@jasonhodges No problem. Glad everything works now :)

[2017-01-24 15:32] Luchillo commented on #2013
A guard is not exactly what i need, but it could work as well, intercepting the event before the animation happens is basically the same concept.

Lacking this feature limits a lot what tabs are really capable of.

[2017-01-24 16:35] emin93 commented on #2667
I can reproduce this bug, but it seems to work when adding the disabled directive manually.

[code]

[code]

[2017-01-24 16:40] delsner commented on #2759
@feniixx are you lazy-loading the submodules ? If so this is possibly related to #1765

[2017-01-24 17:09] fxck opened #2782 "md-select doesn't expand + md-option text overflow doesn't work properly"
_using 2.0.0-beta.1-592f33f_

since `.md-select-value` is absolutely positioned, it doesn't expand its parent and is flowing out it

![image](https://cloud.githubusercontent.com/assets/1303561/22257816/741d1cc8-e25f-11e6-8e03-ce365385c3f0.png)

also because of `display: flex` on md-option, ellipsis(three dots) do not work

![image](https://cloud.githubusercontent.com/assets/1303561/22257963/094274

[2017-01-24 17:21] crisbeto commented on #2782
Can't speak about the positioning, but the text ellipsis were fixed recently.

[2017-01-24 17:24] fxck opened #2783 "checkbox animating initial value"
I think it should only animate when user toggles the values.. it's especially noticable when you have checkbox inside some ngIf condition(like when it's inside tabs)

http://plnkr.co/edit/8AnsenWT2PORBaC162yu?p=preview

[2017-01-24 17:24] fxck commented on #2782
were they? I think I'm running the latest version from material2-builds(unless yarn is acting up again)

[2017-01-24 17:25] jelbourn commented on #1425
That looks like an old plunker. Works fine with a more recent one:
http://plnkr.co/edit/Orp9e9I5R8KVdyvqILJv?p=preview

[2017-01-24 17:49] Knoxvillekm commented on #1425
It does not work with a function that returns an array of objects:
http://plnkr.co/edit/UEIUigPIRoNpZB47VNTO?p=preview

[2017-01-24 18:00] kara commented on #2657
This is intended behavior. The focus style is only applied if the menu was opened by the keyboard.

[2017-01-24 18:00] #2657 closed

[2017-01-24 18:02] kara commented on #2661
This is fixed in master, so closing. Should be out with our next release.

[2017-01-24 18:02] #2661 closed

[2017-01-24 18:12] kara commented on #2634
@skeize We haven't yet implemented a "clearing" API by clicking an option like there was in Material 1.  In the meantime, you can do something like this:

[code]

[2017-01-24 18:43] kara commented on #2762
@Tytam Given that your code now works, I'm going to close this for now. Feel free to open a new issue if you run into anything else.

@asbcoder It sounds like you may have run into https://github.com/angular/material2/issues/2497, which was fixed in https://github.com/angular/material2/pull/2499. It's in master, but not yet released. If you're still having problems after the next release, please o

[2017-01-24 18:43] #2762 closed

[2017-01-24 19:03] DevVersion commented on #2783
I looked into this - We could use the `_onInteractionEvent` to update the transition classes only on user interaction.

An interesting case is the `indeterminate` state, because I'm not really sure how we should treat that (indeterminate is never per interaction -so transition would be obsolete).

@jelbourn Any thoughts?

[2017-01-24 19:12] kara opened #2785 "md-select: add compareWith function"
Currently, md-select values are compared by object reference. This is a bit inflexible. We want to allow people to compare options by a custom comparator in case they only care about the object's ID or some other property.

Example markup:

[code]

[code]

This will be parallel to [functionality being added to native selects in core](https://github.com/angular/angular/pull/13349).

[2017-01-24 19:12] agyrafa commented on #1186
I'm using

``"typescript": "^2.0.2"``

And still getting this error

[2017-01-24 19:12] kara commented on #2250
It seems like there is some confusion over how to use the select.  `md-select` is a custom form control, so you'd use it like you would a native select with any of the core form directives.

Example:

[code]

Adding support for the `selected` attribute in addition to the existing mechanism would be duplicative and probably cause value conflicts. There should only be one source of truth for the sel

[2017-01-24 19:12] #2250 closed

[2017-01-24 19:30] kara commented on #2741
Do you have the actual error text? It seems to be missing above.

[2017-01-24 19:52] andrewseguin commented on #1425
The issue here is that you are asking the array() function to return a new array each time change detection is run, which is building a new set of buttons each time. This happens so often while you are clicking that angular is unable to successfully evaluate the click handler.

Add a trackBy function that uses the object's id so that the ngFor doesn't recreate an element and you'll see that everyt

[2017-01-24 20:08] Knoxvillekm commented on #1425
Thank you.

[2017-01-24 20:32] jelbourn commented on #2783
@matsko is there a standard way to do this?

[2017-01-24 22:54] leovafme commented on #2741
@kara , I was testing and the code fails when you add the md-select component inside the templateUrl and run the ng test command

[2017-01-24 23:05] kara commented on #2741
@leovafme Can you please post the specific error? We are not able to reproduce in any of the tests in our repo that use md-select. See them [here](We have an entire suite of md-select tests running in our CI that don't fail).

[2017-01-24 23:12] jelbourn commented on #2694
Additional note: UX says that the dropdown-like behavior only applies to exclusive-selection button-toggle groups.

[2017-01-24 23:49] jelbourn commented on #2712
Working as intended. `svgSrc` was removed in beta.0. See the example at https://material.angular.io/components/component/icon

[2017-01-24 23:49] #2712 closed

[2017-01-24 23:50] jelbourn commented on #2759
This is changed in #2556 and will be part of the next release

[2017-01-24 23:50] #2759 closed

[2017-01-24 23:50] #2769 closed

[2017-01-24 23:51] jelbourn commented on #2780
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-01-24 23:51] #2780 closed

[2017-01-24 23:54] jelbourn opened #2789 "Documentation for Component Dev Kit"
Currently material.angular.io only documents the components. Once we reach a point where we're happy with the stability / features of the cdk, we will expand that documentation to include the cdk pieces.

[2017-01-24 23:54] jelbourn commented on #2777
Closing into the broader #2789

[2017-01-24 23:54] #2777 closed

[2017-01-25 00:04] jelbourn commented on #2761
Please follow the issue template. Closing this for now, feel free to open a new issue with the filled out information.

[2017-01-25 00:04] #2761 closed

[2017-01-25 00:08] jelbourn commented on #2755
This was changed in #2556 and will be in the next release

[2017-01-25 00:08] #2755 closed

[2017-01-25 00:11] jelbourn commented on #2745
Yes, this is the way that view encapsulation works.

[2017-01-25 00:11] #2745 closed

[2017-01-25 00:16] jelbourn commented on #2698
Closing as dupe of #1479

[2017-01-25 00:16] #2698 closed

[2017-01-25 00:19] jelbourn commented on #2689
@diminutivesloop can you describe the specific parts of the site where this is an issue?

[2017-01-25 00:20] jelbourn commented on #2686
Yep, looks like that information was accidentally lost in the transition from readme to overview.

[2017-01-25 00:21] #2672 closed

[2017-01-25 00:22] jelbourn commented on #2666
@EladBezalel do you have a Mac to try this?

[2017-01-25 00:24] #2683 closed

[2017-01-25 00:25] jelbourn commented on #2632
@Jhonatangiraldo sounds like the NgModule in which your component is declared does not import the appropriate material modules.

[2017-01-25 00:25] #2632 closed

[2017-01-25 00:28] jelbourn commented on #2618
@tinayuangao it may be possible that the spec'ed value doesn't capture dark themes well; if that's the case we can follow-up with the Material UX team

[2017-01-25 00:56] zahlprish commented on #1425
@andrewseguin Overall I agree that this is a fine alternative solution but in regards to:

Lets say you had full control over change detection by turning it all of and updating explicitly (standard for Immutable based apps), would this still be the case?

[2017-01-25 02:14] leovafme commented on #2741
@kara Please look at the repository and the test in travis ci
[https://github.com/leovafme/md-select-test](https://github.com/leovafme/md-select-test)
[https://travis-ci.org/leovafme/md-select-test/jobs/195037169](https://travis-ci.org/leovafme/md-select-test/jobs/195037169)

[2017-01-25 02:21] kara commented on #2741
@leovafme Thanks! It looks like you didn't call `fixture.detectChanges()` in that test, so change detection never runs. The select component won't be set up properly if change detection doesn't happen. See example code below:

[code]

[2017-01-25 02:21] #2741 closed

[2017-01-25 06:42] Femilshajin opened #2793 "How to align 'md-radio-button' vertically(One per row) in 'md-radio-group'"
#### Help:

Right now 'md-radio-button' is aligned horizontally with in a 'md-radio-group'.
How to align 'md-radio-button' vertically(One per row) in 'md-radio-group'?

[2017-01-25 07:57] crisbeto commented on #2758
This should've been fixed with https://github.com/angular/material2/pull/2677. Is anybody able to test against the `master` builds?

[2017-01-25 08:13] paistipoikka commented on #2250
@kara nice one. thanks for the update. the 'compareWith' will be a nice solution. cheers

[2017-01-25 08:24] fxck opened #2794 "`md-ink-bar` doesn't calculate initial width properly when min-width of `md-tab-link` is overriden"
![image](https://cloud.githubusercontent.com/assets/1303561/22282948/b360506e-e2df-11e6-9449-283b4a6a7e43.png)

while it's perhaps not on spec to have a tab without min-width, I think it's not an unreasonable thing to do for a consumer.. also it works fine after you click on a tab

see http://plnkr.co/edit/u5M39n994lJriqMABMod?p=preview

@andrewseguin @jelbourn maybe?

[2017-01-25 09:49] doorman02 opened #2795 "AOT bug: is declared but never used"
#### Bug, feature request, or proposal:
Getting the following AOT bugs..

Error at node_modules/@angular/material/select/select.ngfactory.ts:426:11: 'animationTransition_transformPlaceholder' is declared but never used.
Error at node_modules/@angular/material/select/select.ngfactory.ts:474:9: 'animationTransition_transformPlaceholder' is declared but never used.
Error at node_modules/@angular/mate

[2017-01-25 12:44] MA-Maddin commented on #2745
https://github.com/angular/angular/issues/12215

[2017-01-25 12:45] Charlkie14 commented on #581
@istiti I'm also very much looking forward to virtual-repeat. But we will see.

[2017-01-25 13:33] PrazSam commented on #1515
I just fixed it following the accepted answer of this [stackoverflow question](http://stackoverflow.com/questions/39683548/sticky-mdtoolbar-inside-mdsidenavlayout) . Have a look. This can be used as a workaround for the moment.

[2017-01-25 13:50] diminutivesloop commented on #2689
I think it's most noticeable on the component documentation and guide pages. It also seems to be dependent on display quality as the pages appeared more readable on my personal MacBook (non-retina) than on my work PC. Also I haven't noticed the same readability issues on the main Angular website.

[2017-01-25 15:45] EladBezalel commented on #2666
@jelbourn sorry, i have a real machine 😅

[2017-01-25 15:57] bsteffl opened #2798 "Hint text on md-input isn't announced by JAWS"
#### Bug, feature request, or proposal:
Hint text on md-input is not being announced or read by JAWS.

#### What is the expected behavior?
The hint text should be read aloud or accessible to screen readers as well.

#### What is the current behavior?
The hintlabel text isn't read aloud by JAWS screenreader.

#### What are the steps to reproduce?
[code]

#### What is the use-case or motivation for

[2017-01-25 17:35] mcalmus commented on #348
md-hint works fine for inputs, but there's no similar facility for select items, checkboxes, etc.

[2017-01-25 18:04] YeomansIII commented on #2758
@crisbeto Still having the issue, maybe I am getting from master wrong, this is inside my package.json:
`"@angular/material": "git+git@github.com:angular/material2.git"`

[2017-01-25 18:08] crisbeto commented on #2758
Try installing from https://github.com/angular/material2-builds @YeomansIII.

[2017-01-25 18:12] BamiGorengo commented on #1331
i realy realy hope that they implement it, i know people who use ionic, only because in material is no range slider...

[2017-01-25 18:43] Splaktar opened #2800 "Add elevation guide"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
That `.md-elevation-zX` classes are documented.

#### What is the current behavior?
No documentation exists other than within closed [PR](https://github.com/angular/material2/pull/2212) and [issue](https://github.com/angular/material2/pull/222/files) comments. There are some [design documents](https://docs.google

[2017-01-25 18:47] Nightapes opened #2801 "md-radio: animation is triggered without state change"
#### Bug, feature request, or proposal:
   Bug or proposal

#### What is the expected behavior?

 When clicking on a radio with a shorter label, the click animation is triggered and the state is changed or the animation is not triggered.

#### What is the current behavior?

 When clicking on a radio with short label, the click animation is triggered, but the state is not changed.

#### What are th

[2017-01-25 19:24] jelbourn commented on #2800
It would be great to have a short and simple guide on elevation in the `guides/` directory.

[2017-01-25 19:54] IgorMinar opened #2803 "Branding consistency fixup"
Please search (case insensitive) and replace within md files in this repo as follows:

`angular (1\.\d)` -> `AngularJS $1`
`angular 1\.x` -> `AngularJS`
`angular 1` -> `AngularJS`
`angular1` -> `AngularJS`

`angular 2\.0` -> `Angular`
`angular 2` -> `Angular`
`angular 2\.x` -> `Angular`
`angular2` -> `Angular`

[2017-01-25 20:00] IgorMinar commented on #2803
Please also reflect these changes on material.angularjs.org. Thanks!

[2017-01-25 20:01] jelbourn commented on #2803
@EladBezalel can you tackle this? Igor wants it done yesterday :smiling_imp:

[2017-01-25 20:01] ladyleet commented on #2800
agreed would be fabulous! // @EladBezalel (thx @Splaktar!) I like the simplicity of MaterializeCSS docs http://materializecss.com/shadow.html

[2017-01-25 20:09] DevVersion commented on #2750
The following components already apply the `font-family`
- Card
- Button
- Input Container & Input
- List
- Slide Toggle
- Tabs
- Toolbar
- Tooltip

Really feel like we should add this to the other components as well.

[2017-01-25 21:18] crisbeto commented on #2758
Closing in that case, thanks for testing @YeomansIII.

[2017-01-25 21:18] #2758 closed

[2017-01-25 22:13] mmalerba commented on #2779
@doorman02 can you provide some code to repro this? It seems to work fine for me

[2017-01-25 22:42] ReneVallecillo commented on #2127
Just for reference Kara, I put a md-select after a md-input, and it overlaps without changing the font size.

[code]

[2017-01-25 22:45] YeomansIII opened #2806 "Style overlay backdrop for specific dialogs"
**Feature Request**

#### What is the expected behavior?
Specify custom CSS classes for overlay backdrops for certain dialogs.

#### What is the current behavior?
Backdrops can not be individually styled. If I wanted to remove or style a backdrop it would have to be styled for all backdrops on all dialogs.

#### What is the use-case or motivation for changing an existing behavior?
To remove/style

[2017-01-25 22:53] aufdenpunkt commented on #2716
Hi guys,

I got a similar issue when I try to render multiple md-options with an array of objects. The browser hangs when angular is trying to render the view.

This doesn't work:
<img width="516" alt="screen shot 2017-01-25 at 23 50 23" src="https://cloud.githubusercontent.com/assets/325100/22312690/3ac2c2de-e359-11e6-9ffb-00e873fc867f.png">
<img width="907" alt="screen shot 2017-01-25 at 23 50 4

[2017-01-25 22:55] kara commented on #2716
@aufdenpunkt Can you create a plunker repro case for us?

[2017-01-25 22:55] mmalerba opened #2808 "(slider): consider using animation API for animations"
there's a good bit of animation coordination in this component. there's also some animation screwiness when changing orientation (horizontal/vertical) and I had to disable animation for changes via touch/keyboard events. maybe the animation API can help with some of these things

[2017-01-25 23:54] mmalerba commented on #2667
@kara I think this is a result of #2565. you changed it so that if a form control is present that takes precedence. Is this current behavior the correct behavior?

[code]

or do we want this?

[code]

[2017-01-26 00:45] bradrich commented on #2017
@riankol In the meantime, you could use a standard HTML hr element.

[2017-01-26 00:58] kara commented on #2667
Discussed offline with @mmalerba. In short, the behavior is right in that the control should always take precedence over the disabled property. Otherwise, if you disable the control programmatically without setting the disabled property (as is typical of reactive form pattern), the input will not pick up the new disabled state. The internal property is really intended for forms that aren't using e

[2017-01-26 00:58] #2667 closed

[2017-01-26 01:01] arciisine opened #2810 "Provide Automatic Binding of FormControl Error Messages and Status to input hints"
#### Bug, feature request, or proposal:
This is a feature request.

This is related to #348, but is specifically asking for the material guidance to be a part of the framework, integrating with standard functionality of @angular/forms.

#### What is the expected behavior?

Looking at [Material Error Patterns](https://material.io/guidelines/patterns/errors.html), there seems to be a standard behavi

[2017-01-26 01:20] YeomansIII commented on #2806
I see OverlayState has the option of whether or not to include a backdrop.
https://github.com/angular/material2/blob/master/src/lib/dialog/dialog.ts#L143

Perhaps this option could be passed through the MdDialogConfig. That seems like a very easy change and I could make a pull request.

Still investigating how a custom CSS class could be applied to the backdrop.

[2017-01-26 01:45] JT-Bruch commented on #1913
Any progress on this?

[2017-01-26 05:01] SwagStormer opened #2811 "Bug: MdInputContainer dividerColor has no effect"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
MdInputContainer should change colors with the dividerColor directive

#### What is the current behavior?
Nothing happens when changing the dividerColor, and clicking on it does nothing

#### What are the steps to reproduce?
The main focus below is in the Username and Password fields
Providing a Plunker (or similar) i

[2017-01-26 08:43] Eernie opened #2812 "feat(select): Add select header to the md-select"
#### Bug, feature request, or proposal:
Feature request

Yesterday I filled a pull request ( #2797 ) for adding a search bar in the md-select component. As @jelbourn pointed out this wasn't the right way to add this feature, so now I'm willing to do it the right way.
What's the best way to address this? Just implement the same functionality as material does it?

That will mean something like this

[2017-01-26 08:54] Bosper commented on #581
Very exciting abut that,

[2017-01-26 10:29] fahadhussain2 commented on #1497
![image](https://cloud.githubusercontent.com/assets/19908737/22328072/236d461c-e3dc-11e6-81b6-391b8766ed67.png)

i got this error when i do "ng serve" after installing ngmaterial2

please help @Husamui

[2017-01-26 10:59] mkhurramali commented on #308
This is my current work around. It's a very big hack, but it does the work for me:

**webpack.conf.ts**
[code]

**__workaround.node.ts (at the end)**
[code]

**./node_modules/@angular/material/core/platform/platform.js (I could not find a quick way to inject navigator to this function).**
[code]

[2017-01-26 11:01] yusijs commented on #308
That's so dirty. I like it. 👍👏

[2017-01-26 11:01] MentalGear opened #2813 "Components Examples Bug: Changing Color of progress bars don't work."
#### Bug, feature request, or proposal:
On the official component page, selecting any progress component, the changing color of progress bars don't work.

#### What is the expected behavior?
change

#### What is the current behavior?
none

[2017-01-26 11:16] radoslavpetranov commented on #581
I am currently working on a simple, temporary non-material based data table that I'll use until I'm ready to migrate my project to material. I was hoping to avoid adding filtering/sorting to this widget since it's just a temporary thing but apparently that's a requirement I won't be able to skip so I'm updating my backend right now to handle more complex data requests.

In terms of design, have yo

[2017-01-26 11:19] fahadhussain2 commented on #1497
@Husamui  can you please tell me how to change 2.0.0 to 2.0.2 in package.json .... i got the same error...
please help

[2017-01-26 12:52] fshchudlo commented on #581
@radoslavpetranov if material design is not important for you, you can use [right-angled library](https://github.com/eastbanctechru/right-angled) instead of implementing your own data table. This is pretty functional and stable library.

[2017-01-26 12:59] radoslavpetranov commented on #581
Thanks for the suggestion @fshchudlo! I already have the table implemented and I'm just looking to add sorting and filtering which is not that big a deal. Since I will be switching the whole app to material in a month or 2 I was hoping to just see if there's any information available on what the data API would look like so that I'll have to change my backend as little as possible when switching to

[2017-01-26 13:19] MadUser commented on #1461
I got the same issue only on prod build. dev build works fine.

[2017-01-26 14:04] ciesielskico opened #2814 "md-select: support md-icon"
#### Bug, feature request, or proposal:
Bug/Feature request

#### What is the expected behavior?
md-select should support md-icons

#### What is the current behavior?
The icon's string representation is printed inside the md-select, instead of the actual icon.

#### What are the steps to reproduce?

http://plnkr.co/edit/JUvYgIAoIexRvW19Fng3?p=preview

1. Open plunkr
2. Select an item from md-selec

[2017-01-26 14:22] AsherBarak opened #2815 "enable binding md-select to a typescript enum"
####  proposal:
enable binding md-select to a typescript enum. maybe using a pipe?

[2017-01-26 14:23] radoslavpetranov commented on #581
And just to clarify what I mean, this is what that particular data request from my previous post would look like from a DevExpress data table for example

[code]

[2017-01-26 14:28] doorman02 commented on #2779
Hi, you are right this was a bug on my site. I assumed it was android related because it worked fine on iPhone. Thanks for your help!

[2017-01-26 14:28] #2779 closed

[2017-01-26 14:50] marcoross opened #2816 "md-input displays value on top of placeholder if disabled and value is bound from a component class property"
#### Bug, feature request, or proposal:
md-input displays value on top of placeholder if disabled and value is bound from a component class property

#### What is the expected behavior?
The placeholder shall be smaller and displayed above the value

#### What is the current behavior?
The placeholder is displayed with a larger font size behind the value

#### What are the steps to reproduce?
See th

[2017-01-26 15:19] Nightapes opened #2817 "build(sauclabs): access"
Should be the access keys in the repro?
https://github.com/angular/material2/blob/master/.travis.yml#L15
https://github.com/angular/material2/blob/master/.travis.yml#L17

[2017-01-26 15:28] arciisine commented on #2810
I would be interested in opening a PR to support this, if the material team thinks this is a valid feature.

[2017-01-26 16:34] DevVersion commented on #2817
Right now they are intentionally in the `.travis.yml` to support Sauce & Browserstack for PR's as well.

And yeah we have been thinking about encrypting those more.

[2017-01-26 17:17] rbj325 commented on #1718
I believe this is fixed in the latest versions, see the documentation:
[code]

https://material.angular.io/components/component/toolbar

[2017-01-26 17:35] chrissena commented on #1718
@rbj325  Don't think it is. How can flex-layout directives be applied to the first implicit md-toolbar-row (First Row), like they can for Second Row and Third Row?

[2017-01-26 17:38] wadenweh commented on #2816
Same problem here.

**Which versions of Angular, Material, OS, browsers are affected?**
[code]

[2017-01-26 17:41] rbj325 commented on #1718
@chrissena Misread.  Redacted.

[2017-01-26 18:15] DevVersion commented on #2817
Update, just discovered that encrypted tokens in the `.travis.yml` are not accessible for PRs. I thought that only variables from the Saucelabs Web UI are not available for PRs

Closing this issue now, since we don't have any other option.

[2017-01-26 18:15] #2817 closed

[2017-01-26 18:25] marcoross commented on #2816
Workaround: The issue does not occur when the [ngModel] binding is used instead of [value]

[2017-01-26 18:31] Nightapes commented on #2817
For saucelabs there is a way: https://docs.travis-ci.com/user/jwt. But unfortunately not supported by Browserstack.

[2017-01-26 18:32] jelbourn commented on #2812
The idea is pretty much the same as [the AngularJS version](https://material.angularjs.org/latest/demo/select). One of the things holding us back from working on this has been that we're not sure what the appropriate accessibility story for this feature is. The most common use case the the select header is a filter input, but the standard `role="listbox"` doesn't have anything like a associated fi

[2017-01-26 18:33] DevVersion commented on #2817
@Nightapes Thanks for the doc. Will look into this later.

[2017-01-26 18:48] bsteffl opened #2820 "Proposal: Allow md-slide-toggle to be aligned start or end"
#### Proposal:
Allow md-slide-toggle to be aligned start or end.

#### What is the expected behavior?
To be able to allow the toggle element to come after the label visually.
![image](https://cloud.githubusercontent.com/assets/10760551/22345450/bf72a988-e3c5-11e6-86a4-312a26f8fdef.png)

#### What is the current behavior?
Currently the toggle element only positions on the left of the label.
![image

[2017-01-26 18:51] DevVersion commented on #2820
I think that's a pretty good idea. We should just respect the current direction (RTL | LTR). Do you think this is something useful @jelbourn ?

[2017-01-26 19:03] bsteffl commented on #1723
I appreciate that the slide-toggle has a focus class `.md-slide-toggle-focused` that I can use to style the component when it is focused. Maybe something similar could work for button-toggle.

[2017-01-26 19:31] DevVersion commented on #2015
Updates for the Plunker builds:
* The template plunker already runs with `material2-builds`@master
* Our docs (material.angular.io) always serve the latest release.

This should fulfill our requirements on this issue.

[2017-01-26 19:31] #2015 closed

[2017-01-26 19:32] szykov commented on #546
I see it's on npm but how to auto-size md-textarea ? Adding attribute md-autosize isn't working for me...
Is there out of the box solution?

[2017-01-26 19:41] tinayuangao commented on #2772
The plunker is using `*ngIf` instead of `*ngFor`.

Following piece of code works:

[code]

[2017-01-26 19:41] #2772 closed

[2017-01-26 19:46] bsteffl commented on #2611
The x and y positioning seem to be working correctly. `y-position: below` places your menu in the direction going down as a dropdown. `y-position="above"` makes the menu dropup. Likewise `x-position` aligns the menu left aligned (before) and right aligned (after). What seems to not be working is the `overlapTrigger` which determines if it will be positioned on top of your trigger button or not.

[2017-01-26 19:47] jelbourn commented on #2820
@DevVersion yeah, it should be the same API / behavior as md-checkbox.

[2017-01-26 20:18] ciesielskico commented on #2517
Closing since dupe of https://github.com/angular/material2/issues/1765

[2017-01-26 20:18] #2517 closed

[2017-01-26 20:25] bsteffl opened #2824 "Bug: Md-menu overlapTrigger not working"
#### Bug: Md-menu `overlapTrigger` not working.

#### What is the expected behavior?
To set the value of `overlapTrigger	="false"` to allow menu to appear below trigger.

#### What is the current behavior?
Trigger position does not seem to be working to position menu below trigger button. Doesn't work on default nor explicitly applied.

#### What are the steps to reproduce?
[code]
![image](https:/

[2017-01-26 21:19] theomathieubhvr commented on #1913
I confirm @Headcult solution works. Thanks ! :)

[2017-01-26 22:20] mrlund commented on #2716
Could this be related to the rendering of options somehow?

By attaching the VS Code debugger and manually breaking, and then stepping through a couple of times, I was able to determine the browser was hanging because of an infinite loop, repeatedly hitting and satisfying the `if (!this.options) ` condition quoted above, which just seems to call writeValue recursively until there's options?

[2017-01-26 22:23] tinayuangao commented on #2618
Tried material2-app and it's very strange that dark theme for `.md-radio-disabled .md-radio-outer-circle` doesn't apply to the radio button. By using the same theme in our demo-app, the disabled radio button looks correct. ![screenshot from 2017-01-26 14 22 00](https://cloud.githubusercontent.com/assets/20677343/22352914/f4c51ffa-e3d2-11e6-9a6d-0228e9bc1052.png)

[2017-01-26 22:25] jelbourn commented on #2618
I wonder if material2-app is just out of date now.

[2017-01-26 22:31] MarkPieszak commented on #2618
It may be, sorry I should of put down more info, randomly ran into it when demo'ing Material to a few people and only had time to log it quickly!

Should I close this one out?

[2017-01-26 23:12] #2618 closed

[2017-01-26 23:22] #2217 closed

[2017-01-26 23:25] #2163 closed

[2017-01-26 23:29] davidwilcox commented on #2163
Just curious... What was the fix here?

[2017-01-26 23:31] #2674 closed

[2017-01-26 23:35] #2803 closed

[2017-01-27 00:23] zigfry commented on #2816
This bug occurs even if the field is not disabled.  I am having the same issue using reactive forms when I set the value outside of the onInit method (for example after fetching data from API).

The end result is that the md-empty class still remains on the input component's label, even though a value is set.  I am using this method to 'patch' a single control's value:

[code]

where this.myForm i

[2017-01-27 00:45] jelbourn commented on #2815
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate, including a code example of how you'd like an API to work.

[2017-01-27 00:45] #2815 closed

[2017-01-27 00:50] jelbourn commented on #2801
Probably same cause as #2783

[2017-01-27 00:56] mmalerba commented on #2816
This has been fixed in master, just needs a release

[2017-01-27 00:56] #2816 closed

[2017-01-27 01:01] mmalerba commented on #2811
Are any of the inputs in your screenshot focused? the dividerColor only affects the color when focused. It seems to be working fine to me

[2017-01-27 01:04] SwagStormer commented on #2811
@mmalerba The first one is focused. I changed my version from 2.0.0.beta-1 2.0.0.alpha.9-3 and changed the containers to the deprecated md-input and it worked fine. I also tested this on another project and got the same result, meaning it isn't just a weird use case

[2017-01-27 01:05] zigfry commented on #2816
Excellent! I just worked that out with a new plunk which works with the master version:
http://plnkr.co/edit/ExCcGDx8GEypp4XFAAqW?p=preview

Do you know when the master will be released?

[2017-01-27 01:23] jelbourn commented on #2626
@EladBezalel the ripples should match MDC Web: https://material-components-web.appspot.com/button.html, which is the definitive correct ripple.

Want to take a look at this?

[2017-01-27 01:24] jelbourn commented on #2793
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-01-27 01:24] #2793 closed

[2017-01-27 01:30] jelbourn commented on #2691
We don't have any plans to add / accept a feature like this before 2.0.0 final, though it's something we may explore in the future.

[2017-01-27 01:30] mmalerba commented on #2811
It seems to be working for me: http://plnkr.co/edit/42trGBbs8gdShrtmZf8U?p=preview you might have CSS styles on your site that are interfering. your inputs look darker than they naturally would be

[2017-01-27 01:33] wbhob commented on #548
Also, just making all tests compatible with components. Right now, I get a ton of errors asking me to verify that `md-spinner` is part of my module...

 Or, if I'm doing something wrong, please let me know.

[2017-01-27 01:36] jelbourn commented on #2621
@crisbeto can you add an example for this once the examples are moved to the material2 repo in #2781?

[2017-01-27 01:41] jelbourn commented on #2575
Closing this into #2665

[2017-01-27 01:41] #2575 closed

[2017-01-27 01:45] jelbourn commented on #2670
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate. In particular, the versions of Angular, Material, and ZoneJS you're using.

[2017-01-27 01:45] #2670 closed

[2017-01-27 01:50] jelbourn commented on #2616
@alxhub do you have any input on how a component that depends on `Http` should depend on `HttpModule` WRT this issue?

[2017-01-27 02:08] jelbourn commented on #2662
@crisbeto I've known that this has been an issue for overlay-based components; simplest solution may be to allow users to add a class to the overlay container (and then document that approach for theming).

[2017-01-27 02:13] jelbourn commented on #2576
Closing this as it's a browser behavior working as expected.

[2017-01-27 02:13] #2576 closed

[2017-01-27 02:18] jelbourn commented on #2519
We're designing the datepicker now. We likely will only be able to support the Gregorian calendar in the initial version, but it's worth thinking about in the design.

[2017-01-27 02:19] CarlosV89 opened #2827 "Any plans to include md-content?"
#### Bug, feature request, or proposal:
The reason I'm asking is because I don't see it in the list of things to be implemented and the ones that have.
https://material.angularjs.org/latest/api/directive/mdContent

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see

[2017-01-27 02:21] jelbourn commented on #2637
Button color is set via the `color` property.

We specifically do not use `text-transform` as it may have internationalization issues (changing the case may change the meaning of the text in some locales). If you always want to to capitalize the button text, you can add a global rule specific to your application.

[2017-01-27 02:21] #2637 closed

[2017-01-27 02:23] #2449 closed

[2017-01-27 02:26] jelbourn commented on #2395
The current version in material is `^2.2.0` which should be compatible. Versions are bumped when we release.

[2017-01-27 02:26] #2395 closed

[2017-01-27 02:28] jelbourn commented on #2503
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-01-27 02:28] #2503 closed

[2017-01-27 02:28] kara commented on #2824
@bsteffl  The `overlapTrigger` option was just added to master a few days ago, so it's not yet available in a public release.  From your version listed above, it seems like you are using our last release from December.  As soon as our next version comes it, you should be able to use it.

You can play with the `overlapTrigger` option in our plunker template now though. See example usage here:
http:

[2017-01-27 02:28] #2824 closed

[2017-01-27 02:29] jelbourn commented on #2827
We have no plans for an equivalent to `<md-content>`.

[2017-01-27 02:29] #2827 closed

[2017-01-27 02:30] jelbourn commented on #2588
`MdDialogRef` is a simple class, not an NgModule.

[2017-01-27 02:30] #2588 closed

[2017-01-27 02:32] kara commented on #2611
@Robouste I'm not clear on what you're expecting to happen from saying "it should work". When I open your plunker, it does work as intended in that the bulk of the menu panel is oriented below the trigger (rather than above).  "Below" is a measure of orientation, rather than a measure of "overlapping". If you are trying to get the panel to display below *and not overlap* the trigger, it sounds lik

[2017-01-27 02:32] #2611 closed

[2017-01-27 02:34] jelbourn commented on #2349
The css has been inlined into the components for quite a long time now. Looking at the latest package (beta.1), everything still seems to be correctly inlined.

[2017-01-27 02:34] #2349 closed

[2017-01-27 02:39] jelbourn commented on #2377
There's really no simple way to compute a range of colors and contrast colors from a single point in the spectrum. It's something a machine learning algorithm could probably handle, but not something we could handle in scss :wink:

Our current thinking is that it's not too burdensome to create a palette matching the format of our's: https://github.com/angular/material2/blob/master/src/lib/core/the

[2017-01-27 02:39] #2377 closed

[2017-01-27 02:46] jelbourn commented on #2617
The Roboto font isn't part of Angular Material (we just set `font-face` to Roboto).

[2017-01-27 02:46] #2617 closed

[2017-01-27 02:48] Jonatthu commented on #2617
Well I'm importing the font family fromgoogle fonts and that does not work nether:/ font-weight is not doing the desire behavior

[2017-01-27 02:48] jelbourn commented on #2278
Moving forward we won't be releasing any more dashed versions (it will always be beta.3, beta.4, etc.).

[2017-01-27 02:48] #2278 closed

[2017-01-27 02:53] jelbourn commented on #2206
Closing into #2789

[2017-01-27 02:53] #2206 closed

[2017-01-27 02:54] jelbourn commented on #2187
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-01-27 02:54] #2187 closed

[2017-01-27 02:55] jelbourn commented on #2224
@mmalerba re: focus state

[2017-01-27 02:56] jelbourn commented on #2352
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-01-27 02:56] #2352 closed

[2017-01-27 02:58] jelbourn commented on #1430
#2703 adds this for tooltip. Once that is in, subsequent PRs can add this to menu and select.

[2017-01-27 02:58] jelbourn commented on #1922
Closed into #1430

[2017-01-27 02:58] #1922 closed

[2017-01-27 03:00] jelbourn commented on #1760
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via Plunker.

[2017-01-27 03:00] #1760 closed

[2017-01-27 03:01] jelbourn commented on #1658
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via Plunker.

[2017-01-27 03:01] #1658 closed

[2017-01-27 03:03] jelbourn commented on #2277
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a full reproduction.

[2017-01-27 03:03] #2277 closed

[2017-01-27 03:05] jelbourn commented on #2180
Closing this as it's an issue w/ `ngc` rather than Material. Our dep on `typescript` is now stuck to the appropriate version.

[2017-01-27 03:05] #2180 closed

[2017-01-27 03:06] jelbourn commented on #2515
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-01-27 03:06] #2515 closed

[2017-01-27 03:08] #1875 closed

[2017-01-27 03:16] jelbourn opened #2828 "Log a warning when a theme is not loaded"
Not having a theme loaded is the most common issue that people seem to encounter. We should find a way to throw a dev-mode warning when we detect that a theme isn't loaded, [similar to what we do for HammerJS not being loaded](https://github.com/angular/material2/blob/e37259637a97aff0b94d2cdd10b892820a21a309/src/lib/core/gestures/gesture-config.ts#L23).

Ideally we would avoid using `getComputedSt

[2017-01-27 03:43] jelbourn commented on #168
Done in #2562

[2017-01-27 03:43] #168 closed

[2017-01-27 03:43] #108 closed

[2017-01-27 03:53] Husamui commented on #1497
@fahadhussain2 Can you post you Package.json here, I can tell from partial screenshot of it's **out of date**

[2017-01-27 05:04] Luchillo commented on #2349
@jelbourn Have you tried installing from github directly? i can't test right now so i'll like to know if it worked for you when trying directly from github repo.

[2017-01-27 06:43] SwagStormer commented on #2811
I've narrowed this down to an issue with custom theming. If you include the css style in the html sheet like you have it works fine, but with custom theming it does not. All other components are functional with the styling sheet being imported with scss that's how I know the import is at least getting through.

[2017-01-27 08:16] Robouste commented on #2611
@kara I thought that 'position-x : below' meant under the button but like you said, it's more a matter of orientation (maybe it would be a better choice to name it 'direction' or 'orientation').

Can't wait for the next release ! Thx

[2017-01-27 08:26] maxime1992 opened #2829 "[Tabs] Labels reduce their width based on the screen rather than container"
#### Bug, feature request, or proposal:
Probably a bug (?)

#### What is the current behavior?
Here's my app in desktop mode : (sidenav has a fixed width : 320px)

![localhost-4200-workspaces-idwks0](https://cloud.githubusercontent.com/assets/4950209/22363927/241957e4-e46e-11e6-920a-82d4cc1ee772.png)

Notice the way tabs are displayed on the left :

![image](https://cloud.githubusercontent.com/ass

[2017-01-27 09:08] marcoross commented on #2816
Excellent, that's great news! Thank you!

[2017-01-27 13:16] ArthurianX opened #2830 "BUG - Sidenav template close handler not working properly"
#### Bug, feature request, or proposal:

I have this piece of code:

[code]

Emitting an event to trigger `contextSidebarControl.open()` works, but when triggering the close action the sidebar won't close. I ended up clicking the already present close button from the component which the above html code is from.

I don't need to say that this is hackish :)

Has someone else encountered this problem

[2017-01-27 13:17] bsteffl commented on #2824
@kara Thank you!

[2017-01-27 14:30] mcalmus commented on #2772
Your sample code virtually demonstrates the problem. The radio group only works if the name has the index as a part of it. That's fine when it's inlined. When it's included as a separate component (as in the plunkr example) it's not reasonable to have to index the name.

[2017-01-27 15:17] code-tree commented on #2231
I've had to set `pan-y` globally for the Hammer manager to get around this issue. Any ideas on an actual solution?

[2017-01-27 15:34] Dunos commented on #120
In the angularjs version, chips didn't allow any duplicate strings. It would be nice to have a specific parameter to allow/disallow this kind of behaviour since it may be needed in some situations.

[2017-01-27 16:18] niwrA opened #2831 "date input when binding to getter and setter property"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When modelbinding is initialised with a property that is a typescript getter/setter binding to an internal state object, it should take and display the initial value.
`    <md-input (blur)="changeStartDate()" type='date' [(ngModel)]='project.startDate' placeholder="StartDate"></md-input>
`
#### What is the current beh

[2017-01-27 16:28] topherfangio commented on #120
@Dunos If the chips are 100% string-based, then no, we can't have duplicates because then you can't find the proper `indexOf()` a chip since there could be multiple.

The Material 1 version did sort of support duplicates if you converted your chip to an object using [`md-transform-chip`](https://material.angularjs.org/latest/api/directive/mdChips) and gave each one a different ID.

However, as it

[2017-01-27 17:06] alexsapps opened #2832 "Mention that <!DOCTYPE html> is required in getting started docs"
#### Bug, feature request, or proposal:
Mention that page must have `<!DOCTYPE html>` for Material components to render properly as HTML 5. Just a suggestion.
here: https://github.com/angular/material2/blob/master/guides/getting-started.md
and here: https://material.angular.io/guide/getting-started
(not sure why there are two getting started guides)

#### What is the use-case or motivation for cha

[2017-01-27 17:08] chickson-va commented on #2666
I looked into this and found that if I changed the Angular specific mappings in `systemjs.config.js` to map to `https` vs `http` then it worked fine.

It looks like the Safari issue came up because of a cross origin request issue.

[2017-01-27 17:09] leonardovff commented on #2816
When then next released? @mmalerba

[2017-01-27 17:13] mmalerba commented on #2816
We're working on it. There's a couple important changes we want to get in first, can't give an exact date yet, soon though

[2017-01-27 17:15] crisbeto commented on #2832
I'm not sure that it belongs in the getting started guide, but I was going to log a warning in dev mode, if you're missing it, I just haven't gotten around to it yet. Closing since this is being tracked via #2351.

[2017-01-27 17:15] #2832 closed

[2017-01-27 17:42] mmalerba commented on #2811
It works for me when using custom themes as described in the guide: https://github.com/angular/material2/blob/master/guides/theming.md

[2017-01-27 17:42] #2811 closed

[2017-01-27 17:46] jelbourn commented on #2349
The inlining is a build step that's only run when performing a release (`gulp build:release`).

[2017-01-27 18:32] andrewseguin commented on #2829
This is due to the CSS rule in tab-header.scss:

[code]

We say that if the screen is small, then the labels should change their min-width from 160px to 72px. I would say that rather than looking at the screen width, we should look at the tab header width instead.

For now to fix your issue, you can set your own custom CSS rule that always sets the min-width as 72px. We will consider how to modify

[2017-01-27 18:41] egdraper commented on #2481
We have been suffering from the same problem.

May I recommend a design suggestion since it is being worked on? It seems like modals are starting to follow a design similar to [bootstrap-4's modal ]( https://v4-alpha.getbootstrap.com/components/modal/) or [Avenxo's modal](avenxo.kaijuthemes.com/ui-modals.html). Where the scrolling happens outside the window, rather than within.

Perhaps this windo

[2017-01-27 19:31] tydanielson commented on #1913
Adding fixture.detectChanges() didn't work for me, but @shaxxx solutions to the compiled js did.

[2017-01-27 22:10] araselahi commented on #2519
At the moment it is not important to support any special native calendar. The only important point about this feature is to make the logic of date conversion 'injectable'. Then every folk will know how to implement their native conversion logic providers. Although I had some suggestions above, but as a designer, you know better how to construct the structure. Thanks Jeremy, for taking it into acco

[2017-01-27 22:27] mmalerba commented on #2519
I'll have a design doc to share shortly, it would be great if you could take a look and let me know if you think the design is flexible enough to support this.

[2017-01-27 22:33] araselahi commented on #2519
of course, it would be my pleasure.

[2017-01-27 22:35] abdulhaq-e opened #2837 "Placeholder still covers input value in some cases"
#### Bug, feature request, or proposal:

Bug (I think)

#### What is the expected behavior?

For `mdInput` to work properly. If a value exists in the box then the placeholder should be over it not on it.

#### What is the current behavior?

The placeholder is inside the box even though there is a value bound to the input.

#### What are the steps to reproduce?

http://plnkr.co/edit/eyN8D8oZuEwDhHL

[2017-01-28 04:23] joejordanbrown commented on #2691
@QuentinFchx

I've just created an example popover component, you can view demo [here](https://joejordanbrown.github.io/material2-popover-demo/popover) and the source [here](https://github.com/joejordanbrown/material2/tree/extra/popover/src/lib/popover) it has basic documentation on how to use. If you want to view the demo source you can find that [here](https://joejordanbrown.github.io/material2-

[2017-01-28 05:53] machtyn commented on #2621
For reference:

[code]

This snippet demonstrates several things:
1. variables can be utilized to insert text of anything.
2. How md-dialog-title is used (this is documented in the example)
3. How md-dialog-content is used.
4. How <md-dialog-actions> is used.

[2017-01-28 07:24] fahadhussain2 commented on #1497
![image](https://cloud.githubusercontent.com/assets/19908737/22395084/9fc1e1ae-e554-11e6-92b7-f3b7bd17a474.png)

@Husamui

[2017-01-28 09:55] DevVersion commented on #2666
@chickson-va Thanks for the investigations. Unfortunately it's not possible to propose any changes to a Plunker.

I've made the changes on the Plunker template. Can you re-test that everything works?

[2017-01-28 09:58] DevVersion commented on #2830
There isn't much code we can look at. If possible please try to provide a Plunker.

Can you confirm that your `(triggerContextualSidebarClose)` event is dispatched at all?

[2017-01-28 10:01] DevVersion commented on #2813
Wating for #2781 to be merged.

[2017-01-28 12:10] Daudr opened #2842 "MdDialog won't display correctly"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

Create a normal MdDialog with a text input

#### What is the current behavior?

The MdDialog doesn't display at the centre of the page as it should do, but at the end

#### What are the steps to reproduce?

My AppComponent is this:
[code]

My AppModule:
[code]

#### What is the use-case or motivation for changing an

[2017-01-28 12:46] aminsmartsense opened #2843 "md2-datepicker show event"
How to open md2-datepicker open tab key press? or on focus event ?

[2017-01-28 12:54] crisbeto commented on #2842
There are a couple of things to check, that may be causing this:

1. Check if have loaded a theming file. [You can see the theming guide for more info.](https://github.com/angular/material2/blob/master/guides/theming.md)
2. Check if your `index.html` has a doctype.

We're working on adding better warning messages if any of these are missing.

[2017-01-28 13:04] aminsmartsense opened #2844 "md2-datepicker open event"
I want to open date picker on focus event or on tab key press so what is the method of open date picker?

[2017-01-28 13:12] Daudr commented on #2842
Theming was missing, thanks.

[2017-01-28 13:12] #2842 closed

[2017-01-28 13:14] crisbeto commented on #2844
The `md2-datepicker` module is not related to Angular Material. Please file an issue in their repository.

[2017-01-28 13:14] #2844 closed

[2017-01-28 13:14] crisbeto commented on #2843
The `md2-datepicker` module is not related to Angular Material. Please file an issue in their repository.

[2017-01-28 13:14] #2843 closed

[2017-01-28 14:00] yoda888 opened #2845 "AOT prod build treeshaking - Compilation failed. Resource file not found - for @angular/material/core/core"
#### Issue:
JIT build works as expected.
AOT prod enabled build cases the exceptions whereby  @angular/material/core/core is reported as
Compilation failed. Resource file not found

#### What is the current behavior?
Build for prod targeted for AOT causes
Compilation failed. Resource file not found: <i removed the path>/node_modules/@angular/material/core/core
caused even with minimal  ngc -p
[cod

[2017-01-28 18:09] sumpton commented on #2756
I don't know if this is related, but the plnkr example appears to be incorrect.

This example from https://material.angular.io/components/component/progress-spinner

did not work for me

https://plnkr.co/edit/Rf4tEd9Ox6GysJPZXXJM?p=preview

[code]
but this works

https://plnkr.co/edit/Xlk4PWG1LcDKksnKGuec?p=preview

[code]

https://plnkr.co/edit/Xlk4PWG1LcDKksnKGuec?p=preview

[2017-01-28 20:24] JT-Bruch opened #2852 "md-menu: renders off page"
#### Bug, feature request, or proposal:
Issue with md-menu & `y-position="above"` and the menu rendering off page.  Additionally all unit tests fail due to #1913

#### What is the expected behavior?
The menu should populate above the clicked point.

#### What is the current behavior?
The menu is currently showing beneath the clicked point, and rendering off page.

#### What are the steps to reprod

[2017-01-28 20:31] crisbeto commented on #2852
This should've been fixed in master by https://github.com/angular/material2/pull/2677. You can try out the latest from `master` by running `npm install https://github.com/angular/material2-builds.git`

[2017-01-28 21:34] JT-Bruch commented on #2852
Ah perfect - do we know if the issue regarding unit tests is also fixed in master?

[2017-01-28 21:37] crisbeto commented on #2852
I'm not sure about the unit test issue, all of our unit tests pass both locally and on the CI.

[2017-01-28 21:39] JT-Bruch commented on #2852
Yeah if you clone the repo, or take a look at this.. https://travis-ci.org/ExcelerationDesigns/ng-cli-starter just dropping the menu causes all unit tests to fail because of the subscription in the menu

[2017-01-28 21:40] JT-Bruch commented on #2852
The fix by @shaxxx on #1913 fixes the issue.

[code]

[2017-01-28 21:45] crisbeto commented on #2852
Alright, but it's better to keep all of the discussions regarding the unit test issue on #1913.

[2017-01-28 21:45] #2852 closed

[2017-01-28 21:50] JT-Bruch commented on #2852
True, but figured I might give that some love because I can't commit the change unless I get the unit tests up and working. :)  Thanks for the time on this tho.

[2017-01-29 10:00] stefanbachert commented on #2756
Dear All,
I changed the plunker example like this: 
...    <md-progress-circle        class="example-margin"        color="warn"            // attribute        [color]="color"          // property        [mode]="mode"        [value]="value">    </md-progress-circle>..
I would expect starting with color "warn", which failed.Changing the property using the radiobuttons will work.
For me it looks lik

[2017-01-29 10:15] stefanbachert commented on #2756
Dear All,
I took a look on the code:

| export class MdProgressSpinner implements OnDestroy { |
| ... |
 |
|  |  private _color: string = 'primary'; |

This is one part of the defect. Primary color hardcoded as initial initial value. The ATTRIBUTE color will not taken into account.
A better approach would be to let it to an explicit undefined value.When the requesting would result in an undefined

[2017-01-29 13:29] nicolae536 opened #2854 "Cannot transclude md-hint to md input between 2 components"
#### Bug, feature request, or proposal:
Is this an angular problem ? or just md-input implementation ?
I created in my project an autocomplete component which has an md-input, and I want to make it work like md-inputs including md-hint, placeholder, suffix, preffix transclusion. The problem is that I cannot transclude the content between two components.

The first component is this one for exemple

[2017-01-29 19:11] vipdorian opened #2858 "mdDialog, arrow keys navigate through buttons"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Regarding mdDialog, when it's open, if it has 2 or more buttons (example: Yes, No, Maybe), I should be able to navigate with arrow keys on this buttons.

#### What is the current behavior?
Navigation possible only with TAB.

#### What are the steps to reproduce?
Navigate to https://material.angular.io/comp

[2017-01-29 20:32] apreg opened #2860 "Unsafe value used in a resource URL context when using svgIcon"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Does not throw error.

#### What is the current behavior?
It throws "unsafe value used in a resource URL context"

#### What are the steps to reproduce?
register a svg icon
[code]
then use it in template
`<md-icon svgIcon="hamburger"></md-icon>`
Providing a Plunker (or similar) is the *best* way to get the team to see

[2017-01-30 03:11] Qyoom commented on #2474
I have this same situation. But how specifically do I include HammerJs in my system config? Thank you.

[2017-01-30 04:59] crossme opened #2862 "hammerjs import error"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
You need to 'import hammers' at @angular2-material/core/gestures/MdGestureConfig.d.ts

#### What is the current behavior?
Error for import.

[2017-01-30 04:59] crossme opened #2863 "hammerjs import error => Cannot find name 'HammerManager'"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
You need to 'import hammers' at @angular2-material/core/gestures/MdGestureConfig.d.ts

#### What is the current behavior?
Error for import.

[2017-01-30 06:20] arangates opened #2864 "how to apply floatingPlaceholder=false for all md-input-container in project"

[2017-01-30 06:55] no-more commented on #2864
Hi,

I don't think it's currently possible, but the idea to be able to change default values is great I think. If this could be done with the injection it could solve many use cases.

[2017-01-30 08:06] venkateshwarv opened #2865 "Md Select - select.html has 'this' mentioned in html"
#### Bug, feature request, or proposal:

[class.md-floating-placeholder]="this.selected"

Shouldn't it be 'selected' instead of 'this.selected'.

Request: Can we expose the foatingPlaceholder as property like md-input-container?

[2017-01-30 08:53] crisbeto commented on #2862
Closing as a dupe of #2863.

[2017-01-30 08:53] #2862 closed

[2017-01-30 08:54] crisbeto commented on #2863
What version of Material are you using @crossme?

[2017-01-30 10:06] crisbeto commented on #2865
I think I removed the `this.selected` at some point, but it shouldn't be an issue anyway. Regarding the `floatingPlaceholder`, there a PR pending for it at https://github.com/angular/material2/pull/2571

[2017-01-30 10:06] #2865 closed

[2017-01-30 11:54] shootermv opened #2866 "Unit tets of snackbar is failing when run "gulp test""
#### Bug, feature request, or proposal:
should dismiss automatically after a specified timeout - expected false to be truthy

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: http://plnkr.co/edit/o077B6uEiiIgkC0S06dd

#### What is th

[2017-01-30 13:04] leonardovff commented on #2816
I used this temporarily:
`let el = document.querySelectorAll('input[formcontrolname]');
     for(let indice = el.length; indice>0; indice--){
     el[indice-1].dispatchEvent(new Event('input'));
}`

[2017-01-30 13:04] valeravorobjev opened #2867 "Add datetimepiker and timepiker"
#### Add datetime #piker and time piker:

[2017-01-30 14:07] lucasmafra commented on #2474
I have the same issue here

[2017-01-30 14:41] fxck commented on #2867
it's being worked on https://github.com/angular/material2/issues/2519#issuecomment-275792252 https://github.com/angular/material2/pull/2578

Altho it's gotta be said that there was no mention of datetimepicker, are you planning to do that at the same time as datepicker by any chance @mmalerba ? Or at least design it in a way that would allow timepicker extension? From my experience you almost alwa

[2017-01-30 14:55] chickson-va commented on #2666
Took a look at the new link and things are loading for me in Safari 👍

[2017-01-30 14:57] DevVersion commented on #2666
@chickson-va Cool. Thanks for checking.

[2017-01-30 14:57] #2666 closed

[2017-01-30 14:59] samehelhawary commented on #2474
+1

[2017-01-30 15:06] bluedragonknight commented on #2474
I do not have access to my code right now as i am working, but i will post up what i added to my SystemJS to get this working.  I like many others are very new to Angular.IO and everything around it so its nice, as bad as that sounds, to see others with similar issues.

[2017-01-30 15:13] lucasmafra commented on #2474
That would be great! I'm also new in Angular and it's very nice to get this
kind of support so quickly. Looking forward your code!

Em 30 de jan de 2017 1:06 PM, "bluedragonknight" <notifications@github.com>
escreveu:

[2017-01-30 16:58] DevVersion commented on #2474
@Qyoom Did you manage to get your project up and running with HammerJS?

There are a few things that are important for SystemJS and Hammer here.
* Be sure to have somewhere in your TS code `import 'hammerjs';`
* Be sure to have `hammerjs` mapped in the SystemJS configuration.

_File: app.module.ts_

[code]

_File: systemjs.config_
[code]

[2017-01-30 17:05] niwrA commented on #2831
I can't figure this out. I don't know if it is angular material or ng-material2 or even the CLI - it changed after I updated angular to 2.3.1 while updating the angular cli. If anyone has any ideas, would be more than welcome!

[2017-01-30 17:24] lucasmafra commented on #2474
Thank you so much, @DevVersion! I was missing that part in my systemjs.config file. Two points about that:

1) I think the Angular Material "getting started" tutorial does not mention the need of mapping hammerjs file in your system config. Ok, that may be obvious for some developers, but as a begginer in Angular.io, I think it would be nice to add that in the tutorial.

2) Also in the Angular Mat

[2017-01-30 17:28] DevVersion commented on #2474
@lucasmafra No problem.

Regarding 1) We will update that soon. See #2702
Regarding 2) Sounds like this is a valid issue. I will create another issue for it. So we can keep track of it.

[2017-01-30 17:28] istvanszoboszlai commented on #117
Hello, the material2 repo seams quite silent. Is there an ETA for this?

[2017-01-30 17:31] lucasmafra commented on #2474
Nice, @DevVersion. In my case, I just removed the types option, because i saw no point of adding it as I my application depends on all files under the @types folder.

[2017-01-30 17:41] mmalerba commented on #2867
Yeah, probably no time in the initial implementation, but it will be added after. We will probably go with something pretty similar to that on mobile, but I'm not sure how well it works for desktop. Hopefully the material design team will have some guidance for how to adapt it to desktop soon.

[2017-01-30 17:42] istiti commented on #117
It's always silent even with new employees going team !!!

[2017-01-30 17:46] jelbourn commented on #117
I wouldn't exactly call [the activity on master](https://github.com/angular/material2/commits/master) or [on the autocomplete branch](https://github.com/angular/material2/commits/autocomplete) "silent".

[2017-01-30 17:47] DevVersion opened #2868 "docs: explain impacts of using types in tsconfig"
Our documentation explains how to install `hammerjs` and the associated types.

Link: https://material.angular.io/guide/getting-started

And most important, we should mention that when using `types` in the `tsconfig`, TypeScript wouldn't be able to automatically detect types anymore.

See https://github.com/angular/material2/issues/2474#issuecomment-276127146

[2017-01-30 17:48] machtyn commented on #2418
I cloned the leashed-in demo and updated everything in the package.json to the following:
`  "dependencies": {
    "@angular/common": "^2.3.0",
    "@angular/compiler": "^2.3.0",
    "@angular/core": "^2.3.0",
    "@angular/forms": "^2.3.0",
    "@angular/http": "^2.3.0",
    "@angular/material": "^2.0.0-beta.1",
    "@angular/platform-browser": "^2.3.0",
    "@angular/platform-browser-dynamic": "

[2017-01-30 17:50] DevVersion commented on #2394
Would be weird to have a shared code for the theme classes- because we would need our renderer from the DI in that utility. Let's revisit this later.

[2017-01-30 18:49] arlowhite commented on #2584
I would like this option too. There are many cases where you would want to show a menu at different locations in response to a click event.
- Right-click table cell or column to show a menu.
- Right-click chart to show options.

This feature also means that you should be able to create a **MdMenu** without an associated **MdMenuTrigger**. Or, at least you should be able to specify the trigger with

[2017-01-30 18:50] davidglezz commented on #2689
In https://material.angular.io/components/component/snack-bar I see:
![captura](https://cloud.githubusercontent.com/assets/194784/22436405/28881140-e724-11e6-89c2-0362ae59f95a.PNG)
The text color is Black 54%
Material design guidelines recommends Black 87%
https://material.io/guidelines/style/typography.html#typography-other-typographic-guidelines

[2017-01-30 18:52] DevVersion commented on #2860
Yeah you always need to trust your URL's for the `MdIconRegistry`. See this PR https://github.com/angular/material2/pull/1933.

https://github.com/angular/material2/blob/master/CHANGELOG.md#breaking-changes-from-alpha11

[2017-01-30 18:52] #2860 closed

[2017-01-30 19:11] lucasmafra opened #2869 "Unable to retrieve svg icon using MdIconRegistry and DomSanitizer"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
I'm following the angular material tutorial and trying to register a svg icon in my component. I expected to register the icon in the component.ts and use it in the template, but for some reason I get an 404 error when I try to consume the icon in the `<md-icon svgIcon>` in the template .

#### What is the current beh

[2017-01-30 19:57] EladBezalel commented on #2689
Will be fixed with https://github.com/angular/material.angular.io/pull/91

[2017-01-30 21:23] #2511 closed

[2017-01-30 21:26] mrlund commented on #2716
I'm hitting this issue again, but at least narrowing in on the cause.

It's consistently happening when a specific set of data is loaded, i.e. load one set of data, no problem, load another set of data and it hangs on the writeValue loop, waiting for the options to load. The strange thing is that the arrays used in the options *ngFor are hard coded in both cases, and set in the constructor.

I've

[2017-01-30 21:32] arlowhite commented on #1491
Confirmed, you cannot create a Dialog Component in a lazy-loaded module (Router loadChildren string value).

Is this an Angular project issue, or should this material2 issue be re-opened?

[2017-01-30 22:00] crisbeto commented on #2734
Managed to track this one down, but am still looking for a proper fix. As an aside, we seem to be leaking some more objects as well: the `MdDialogContainer` and `MdDialogRef` instances. I'll try to address the other leaks separately.

[2017-01-30 23:06] jrood commented on #1335
I currently have this same problem, but I already am including the FormsModule. To make it weirder, I only have this issue when I do `webpack -p` but not when I do regular `webpack`.

[2017-01-30 23:18] lucasmafra commented on #2869
If I try to access localhost:3000/thumbs.svg, I can retrieve the icon successfuly, so I really don't know why the SecurityResourceTrustUrl returns a 404 error. Please, anyone help me on this!

[2017-01-31 00:11] #2642 closed

[2017-01-31 00:17] JordanSliz commented on #2709
So, having done my own theming for Ang2 now, I can't seem to access md-button-toggle or md-button-toggle-group.

Can anyone explain how to affect these items?

[2017-01-31 01:42] TheCasualObserver opened #2871 "Slider does not work in all cases within a *ngFor"
#### Bug, feature request, or proposal:

Bug

#### What is the current behavior?

In some cases the slieder does not work when within a *ngFor.
In the code listed below slider 1 and 2 work fine.
Slider 3 however is not responsive in the sense, that clicking with the mouse on the slider does not move it. However in some tests I noticed that the (change) event gets triggered, which always delivers t

[2017-01-31 06:47] HumanMedia commented on #1670
+1
We really need this fixed as well. Trying to do a site for a major organization for disabled. This is a big problem for us.

[2017-01-31 08:08] imVinayPandya commented on #1491
SOLVED with lazy loaded module:

i have done this, i have added  GenerateApiKeyComponent (dialog component) to delcarations array and in entryComponent array and its working fine. its opening dialog.

[code]

[2017-01-31 11:21] Dunos commented on #120
@topherfangio in that case, you should be able to find a chip by its position in the array instead indexOf() imo

[2017-01-31 11:48] mrlund commented on #2716
I figured it out for this case, and it turns out the issue might be that it's obscuring errors happening elsewhere on the page, rather than being the actual source of the bug. In my example I was using a string.split() as the source of an *ngFor elsewhere on the page, and if that would fail (like a null value instead of a string) I would get stuck in this loop with the MdSelect not populating the

[2017-01-31 14:18] jagrodal commented on #2831
Is project.startDate a Date or a string? I guess you the ngModel should be a string ('YYYY-MM-DD').

[2017-01-31 15:00] bluedragonknight commented on #2474
@DevVersion has done what i had done as i didn't realize how the whole systemjs.  Sorry for the delay in response time things been a little crazy.

[2017-01-31 18:18] marius-oprea commented on #2033
I also have this issue.
I'm following the layout described in the documentation: https://material.angular.io/components/component/sidenav
I have the toolbar inside the md-sidenav-container, because I want the sidenav to overlay the toolbar and app-container when open.
I also have an action button of type floating with position: fixed.

If the content of the app-container is big enough to scroll, t

[2017-01-31 19:01] nitishkumarnitc opened #2874 "Dialog not opening properly."
Error :  No component factory found for DialogResultExampleDialog. Did you add it to @NgModule.entryComponents?

[2017-01-31 19:09] Eernie commented on #2812
Is it possible that I port the AngularJS version for now and add the whole `role="listbox"` part later when this is clear?

[2017-01-31 19:14] nitishkumarnitc commented on #2874
I added this in @ngModule entryComponents: [DialogResultExampleDialog].
It worked.

[2017-01-31 19:14] #2874 closed

[2017-01-31 20:11] crisbeto opened #2876 "Dialog leaking DialogRef and DialogContainer instances"
This issue is for tracking purposes. Currently the dialog is keeping the `MdDialogContainer` and `MdDialogRef` references associated with it in memory forever.

Related to #2734.

[2017-01-31 22:28] #2713 closed

[2017-01-31 23:10] #2635 closed

[2017-01-31 23:37] chouclee opened #2877 "[Snack bar] throws exception and hangs when clicking the Pizza Party button repeatedly"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?

#### What is the current behavior?
Click ``Pizzaparty`` button fast and repeatedly, throwing exception like
[code]

Then the snack bar hangs there forever.

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
https://plnkr.co/edit/AwxCagXy91twxVhv7TQU?p=preview
(provided by @andrewse

[2017-02-01 00:15] kara commented on #2866
@shootermv This is not reproducible without some sort of code snippet or plunker. Please feel free to open a new issue with something we can reproduce.

[2017-02-01 00:15] #2866 closed

[2017-02-01 00:18] kara commented on #2863
@crossme Can you provide some more info about your Material version and what you're trying to do?

[2017-02-01 00:26] mmalerba commented on #2871
this is a misuse of `ngFor`. since `getbar2` returns a new array instance each time the slider is constantly getting destroyed and replaced with a new slider

[2017-02-01 00:26] #2871 closed

[2017-02-01 00:32] kara commented on #2837
@abdulhaq-e In the plunker, you're changing the value in the `AfterViewChecked` hook, which by definition runs after change detection.  If you change your code to use the `ngOnChanges` hook, it will update the view every time your Input changes but before change detection. This way, the placeholder state will update appropriately.

[2017-02-01 00:32] #2837 closed

[2017-02-01 00:35] kara commented on #2831
@niwrA Can you try again with plunker? There isn't much information for us to use to repro.

[2017-02-01 00:37] kara commented on #2830
@ArthurianX Can you add a plunker so we can look into this?

[2017-02-01 00:49] mmalerba commented on #2854
`md-input-container` looks for a view child `<md-hint>` in your example there is no view child `<md-input>` (only a content child one). in order to make something like this work you could do:

[code]
[code]

[2017-02-01 00:49] #2854 closed

[2017-02-01 00:50] mmalerba commented on #2831
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-02-01 00:50] #2831 closed

[2017-02-01 00:50] kara commented on #2858
For accessibility, the standard is actually only TAB: https://www.w3.org/TR/wai-aria-practices/#dialog_modal.

[2017-02-01 00:58] marcysutton commented on #2858
I think if you want arrow-key-navigable buttons like that, you should use radio buttons–especially if the answers are mutually exclusive. That form control will give you the user interaction pattern you're looking for.

[2017-02-01 01:52] hacknaked opened #2879 "Dialog buttons should not be focused by default [PROPOSAL]"
When open a Dialog, the leftmost button is always focused. The Material Spec is not very clear if this is the expected behavior but, in all screenshots, Dialog buttons are never focused.

Source:
https://material.io/guidelines/components/dialogs.html

[2017-02-01 03:12] #2760 closed

[2017-02-01 03:21] #2798 closed

[2017-02-01 03:22] #2820 closed

[2017-02-01 05:27] #2664 closed

[2017-02-01 06:11] nayfin commented on #2612
I would like to utilize this feature to allow menu to take text inputs. Perhaps some new directives:

`opens-on="focus | hover | click"`
`closes-on="defocus | hover-off | click-off | select-item"`

This would let us get very specific with the menu behavior. Would need to be able to take one or all values.

[2017-02-01 06:39] crisbeto commented on #2877
I was under the impression that this was fixed with https://github.com/angular/material2/pull/2392, have you tried it against master?

[2017-02-01 06:40] crisbeto commented on #2879
This is not down to the spec, but it is an accessibility feature. The dialog automatically focuses the first focusable element. You can avoid focusing the button by setting it's `tabindex` to -1.

[2017-02-01 07:24] Loongle opened #2880 "How can I customize sidenav component style"
I met a bad problem. Material provide the components of the style have 'box-shadow'. Now I need remove this style. Please tell me how can I do?

[2017-02-01 07:37] istiti commented on #2880
NOT AN ISSUE, please ask this on [SO](https://stackoverflow.com/)

**Please close this issue, already developement is slow**

FYI: `box-shadow: none!important;` will override it

[2017-02-01 07:39] #2880 closed

[2017-02-01 08:01] TheCasualObserver commented on #2871
Thank you for pointing out my mistake.

[2017-02-01 09:30] szykov opened #2881 "`Unexpected end of input.` in IE11, progress-bar"
#### Bug, feature request, or proposal:
Bug in IE11

#### What is the expected behavior?
Console without errors

#### What is the current behavior?
Produce this error:
[code]

#### What are the steps to reproduce?
You can follow this link by using IE 11 and see console:
https://material.angular.io/components/component/progress-bar

[2017-02-01 09:35] maku commented on #2829
@andrewseguin I have problems to set the labels width for a specific component.
I tried to define the css class (.md-tab-label) in a css file and defined it for a component via "styleUrls".
But this does not work...
Do you have a suggestion how I am able to do it?

[2017-02-01 09:37] lynxone67 opened #2882 "md-select preselected value"
I have following code:

[code]

When my form loads it doesn't show the corresponding link of preselected value. I saw more issues with similar question, but none of them solved my problem. Can anyone help, please?

[2017-02-01 09:40] web265p3 commented on #2882
Yep! Same problem :)

[2017-02-01 09:46] szykov commented on #2868
Can somebody explain why do we need to specify types in tsconfig?
By default it automatically includes types and hammerjs type will be included.

[2017-02-01 09:48] fxck commented on #2882
Provide a plunk reproduction. You are missing `[` at `ngModel`, not sure if that's just a typo. Try putting `*ngIf="(country | async)?.length"` on md-select, it could work as a workaround.

Slightly offtopic but..

..makes me cringe.

[2017-02-01 10:13] lynxone67 commented on #2882
`*ngIf="(country | async)?.length" ` did't work for me.

[2017-02-01 10:38] web265p3 opened #2883 "md-checkbox: Implement a three state checkbox"
I would like to configure the md-checkbox like the following:

If its disabled and I click it, it should be enabled.
If its enabled and I click it, it should be indeterminate
If its indeterminate and I click it, it should be disabled

I tried to write a click-function, that does exactly that:

`<md-checkbox #check (click)="toggle(check)">Checked</md-checkbox>`

In the toggle-function I access chec