[2017-05-24 04:42] n4navin9 commented on #675
Hi @arlowhite, i was trying to incorporate the MomentDateAdapter that you shown in your earlier comment. However, i am getting an error for MdDateFormats import stating that @angular/material has no exported member 'MdDateFormats'. I have tried importing the same directly from the anguarl/core/typings/datetime/date-formats.d.ts but failed.

I am currently using Material 2.0.0 beta 5 and angular-co

[2017-05-24 04:51] jitsk commented on #4739
I can't import it in index.html, so is there another way to do that possibly using webpack ?

[2017-05-24 05:07] stevenmi opened #4762 "datepicker: NativeDateAdapter setlocale not work"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
i want to set locale = 'en-ca'. and the date format will be yyyy-mm-dd

#### What is the current behavior?
in ie/edge when my navigator.language is 'zh-cn', the display contains 年月日 ,and the date string also contains 年月日 like '2017年6月15日'

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the

[2017-05-24 05:14] Yeradon commented on #675
@n4navin9 This is because MdDateFormats wasn't exported in beta 5 (#4534). That is fixed, but not released. You can either use a not released version or wait for a new release. You also could modify the files directly on your own, but those changes would be gone after reinstalling.

[2017-05-24 05:16] crisbeto commented on #4744
Should be resolved by https://github.com/angular/material2/pull/4334.

[2017-05-24 05:34] stevenmi commented on #4762
i also find that ,if the datepicker have date value when init, i select the same date the calendar will not colse

[2017-05-24 06:53] sudheeshcm commented on #4093
@crisbeto  @jelbourn
Isn't this fix merged in the latest beta version(2.0.0-beta.5).
Still my autocomplete options scrolls with the page.

If not please let me know, how to include those changes.

Thanks,
Sudheesh

[2017-05-24 08:43] alaawerfelli opened #4763 "feat(DatePicker): select range of dates"
Hello,
it's possible to set date range in date picker (have the ability to choose startDate and endDate and get all dates between startDate and endDate).

[2017-05-24 10:06] julianobrasil opened #4764 "md-checkbox inside <div md-dialog-content> shows vertical scrollbar"
#### Bug, feature request, or proposal:
Bug, I think. New issue based on a closed one (#4748), to provide more details.

#### What is the expected behavior?
When you use a md-checkbox inside a `<div md-dialog-content>` container the vertical  scrollbar must not be shown.

#### What is the current behavior?
The vertical scrollbar is beeing shown when you put the md-checkbox **as the last component

[2017-05-24 10:07] julianobrasil commented on #4748
Just opened a new issue with more details: #4764

[2017-05-24 10:20] victornoel commented on #2661
@kara I'm using latest beta and this bug hasn't been fixed apparently… I'm experiencing the same thing as @imVinayPandya

[2017-05-24 10:29] FilipeQ opened #4765 "Datepicker show out of the page"
#### Bug, feature request, or proposal:
Datepicker open out of page when page don't have space at bottom

#### What is the expected behavior?
Datepicker open at top of container if bottom don't have space

#### What is the current behavior?
Datepicker open out of the page

#### What are the steps to reproduce?
You can use Angular material 2 docs. [datepicker docs](https://material.angular.io/compo

[2017-05-24 10:30] julianobrasil commented on #4752
@victorblq , supposing the page don't navigate to home (which would indicate there is erros in your general logic) and do  not show any exception message in the console.... did you try other browsers? Is the login function really being called at the first click?

[2017-05-24 11:18] Zefling commented on #4093
@sudheeshcm Are you in this case : https://github.com/angular/material2/issues/4557 ?

[2017-05-24 12:00] mahmood-sajjadi commented on #3544
Hi again

autocomplete in MaterialV1 AngularJS(V1) with voice over working as expected
because:
there is an element:
`<div class="md-visually-hidden" role="status" aria-atomic="true" aria-live="assertive">[SOME TEXT]</div>`

which contain something like:
There are 50 matches available.
Alaska
etc.

but we don't have this element is MaterialV2

is there any reason that this element is removed?
I be

[2017-05-24 12:03] willshowell commented on #4765
Duplicate of #4406

[2017-05-24 12:36] chernukha opened #4767 "Problem with date format in Datepicker"
#### Bug, feature request, or proposal:
If browser uses dd.mm.yyyy instead mm/dd/yyyy: When we try changing date, Datepicker gets wrong date because it waits “mm” instead “dd” and it loses chosen date

#### What is the expected behavior?
It has to work like as mm/dd/yyyy

#### What are the steps to reproduce?
Need to change user interface language of browser to German. We need to catch local forma

[2017-05-24 12:39] MaxMaes opened #4768 "feat(checkbox) Custom icon for checked state"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
Please allow choosing a icon to be used in md-checkbox. Perhaps this is possible by utilizing MdIcon?

#### What is the current behavior?
SVG is hardcoded and to change it, we need to extend MdCheckbox and copy over a lot of code.

#### What is the use-case or motivation for changing an existing behavior?

[2017-05-24 12:41] fxck opened #4769 "date-adapter `parse`"
I'm trying to wrap my head around what's the best approach, I still think it's missing a proper concept of parsers / formatters.

Data coming from the API is going to be in the ISO format `2017-05-24T10:38:28.434Z`, now I have `<input />` with `formControl`, if I implemented custom `parse` function, which would take the `dateFormats.parse.dateInput`, which should (I assume) be the format of the lo

[2017-05-24 14:30] willshowell commented on #4651
Workaround in the mean time

[code]

[2017-05-24 14:41] ocarreterom opened #4773 "Text not vertical aligned with md-icon in md-menu-item"
#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
The text of `md-menu-item` should be vertical aligned with the left icon.

#### What is the current behavior?
The text is not vertical aligned with the icon.

#### What are the steps to reproduce?
Demo: http://plnkr.co/edit/RnTWx1YRY2qNwv6NniQO

#### Which versions of Angular, Material, OS, TypeScript, browsers are a

[2017-05-24 14:51] runov001 commented on #1331
+1

[2017-05-24 15:05] mmalerba commented on #4736
This is a limitation of the native JS `Date` object which is used by the `NatvieDateAdapter`. In the future material will provide other date adapters that can handle parse formats out of the box, in the mean time you can write your own custom adapter. This is all explained here: https://github.com/angular/material2/blob/master/src/lib/datepicker/datepicker.md

[2017-05-24 15:05] #4736 closed

[2017-05-24 15:05] da45 commented on #4615
while waiting for the final fix, idea of @willshowell is helpful,

[2017-05-24 15:10] kaspertygesen opened #4774 "After enable() slide toggles sometimes remain partially disabled"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

You should be able to enable a disabled slide toggle so that the user can both drag and click the slide toggle to change its value.

#### What is the current behavior?

If a slide toggle is initialized as disabled or if the slide toggle is clicked while disabled, then a "disabled"-attribute is set on the <input> ele

[2017-05-24 15:29] mmalerba commented on #4769
I would recommend creating a date object from the API's response and patching that directly into the `formControl` (no need to reformat it in a new format).

I'll also mention that part of the reason for having separate parse and display formats is so you can support multiple parse formats, for example, you might have:

[code]

(with an appropriate `DateAdapter` that knows how to handle that).

[2017-05-24 15:36] reppners opened #4775 "Bug: Theming - using mat-color(background, hue) where hue is a palette property results in sass compile error"
#### Bug, feature request, or proposal:
Enhance background and foreground palettes on generated themes to include
all properties that a palette is featuring usually.

#### What is the expected behavior?
The foreground and background palettes are complete, e.g.
[code]

#### What is the current behavior?
The scss will not compile because the foreground and background palettes feature only
some magic

[2017-05-24 16:05] Snesi opened #4776 "MdSlider custom thumb label text"
#### Bug, feature request, or proposal:

Feature request
#### What is the expected behavior?

New Inputs in MdSlider to add a suffix or prefix to the thumb-label-text
#### What is the current behavior?

Thumb label text simply shows a number
#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/

[2017-05-24 16:06] Snesi commented on #4776
If I have time to do this I'll create a pull request tomorrow.

[2017-05-24 16:13] arlowhite commented on #675
@n4navin9 I'm using [material2-builds](https://github.com/angular/material2-builds)

You probably need commit https://github.com/angular/material2/commit/58c252f36e2c471cce8805b4948f3c27771f351d

**package.json**
`"@angular/material": "git+https://github.com/angular/material2-builds.git#15b91f6fa8cb99f1d46ac4cb075e4620ad4db486"`
(I like to specify the commit so that I know everyone on our team is

[2017-05-24 16:16] peterdobson commented on #308
Material2 is now working for me with Universal until the page is refreshed. I'm no expert on the subject, but these hacks currently seem to fix the server-side hangs for me on page refresh.

![image](https://cloud.githubusercontent.com/assets/16025228/26413459/6fbf2d26-40ef-11e7-942e-14fb4be9e2df.png)

[2017-05-24 16:53] ryanpm40 opened #4777 "DatePicker inside NgForm launches from any mdInput (bug)"
#### Bug, feature request, or proposal:
When nesting both an mdInput and an mdDatePicker inside an ngForm, hitting the 'Enter' key in the mdInput will open the datepicker in the mdDatePicker.

#### What is the expected behavior?
Form controls should behave separately from each other. Hitting enter in one field should not affect another.

#### What are the steps to reproduce?

I've edited the examp

[2017-05-24 17:00] #4765 closed

[2017-05-24 17:05] willshowell commented on #4777
Duplicate of https://github.com/angular/material2/issues/4530. Fixed in https://github.com/angular/material2/pull/4531.

[2017-05-24 17:06] fxck commented on #4769
@mmalerba I'm not sure that would work.. setting of the initial value, which happens [here](https://github.com/angular/material2/blob/master/src/lib/datepicker/datepicker-input.ts#L92) uses the same `parse` format as the function that is called on `input` [change](https://github.com/angular/material2/blob/master/src/lib/datepicker/datepicker-input.ts#L228).

Or you are saying that my custom parse

[2017-05-24 17:20] #4579 closed

[2017-05-24 17:24] jelbourn commented on #4777
Closing as dupe

[2017-05-24 17:24] #4777 closed

[2017-05-24 17:27] jelbourn commented on #4775
Foreground and background palettes are a different format from the primary/accent/warn palettes because the Material Design spec is more specific on those colors. Neither is just "grey" or similar; they're their own thing.

https://material.io/guidelines/style/color.html#color-themes

[2017-05-24 17:27] #4775 closed

[2017-05-24 17:37] mmalerba commented on #4769
Yes, the `NativeDateAdapter` works with `string`, `Date`, and `number`. In general I think all implementations should at least support `string` and an instance of whatever date implementation that adapter operates on. It would probably be good to call this out in the method docs, would you mind creating a PR?

[2017-05-24 17:41] ryanpm40 commented on #4777
@jelbourn @willshowell Great, thanks for the links, guys. I was searching for bugs based on the 'enter' key, so I hadn't seen that dupe.

[2017-05-24 17:42] jelbourn commented on #308
FYI: when encountering any errors with universal, reporting the errors here would be useful

[2017-05-24 18:10] p3x-robot opened #4779 "clicks and links are wrong"
#### Bug, feature request, or proposal:
I got a element:
[code]

#### What is the expected behavior?
Works in Chrome Android.

#### What is the current behavior?
In the rendered HTML it I can show the error:
[code]

#### What are the steps to reproduce?

I connected my Android my in the latest version my links stopped working.
And I see, all my touch actions are none when I never changed anything.

[2017-05-24 18:45] MaximeAnsquer opened #4780 "What are the risks of using latest changes from master?"
Hello,

I would like to use a multiple select which is not available yet on the latest release, so I am thinking about changing my dependency to the master branch (npm install --save https://github.com/angular/material2-builds.git).

Should this version of Angular Material be used only for "playing with the latest changes" ? Are there any risks in using it in a real app, do you recommend not to do

[2017-05-24 18:51] fxck commented on #4769
Sure. I'll just finish this date-fns adapter first.

[2017-05-24 19:18] THLAP opened #4782 "MdRadioGroup change event conflicting with native change event"
#### Proposal / Bug:

The MdRadioGroup component with the change event wired up and a text input as one of its children receives the text inputs native change event bubbled up after a user types in the input and removes focus.  Should native browser event names be used in components?

#### What is the expected behavior?
The component shouldn't respond to native change events bubbled up from its ch

[2017-05-24 19:18] epelc opened #4783 "Docs: reset scroll when switching between components"
#### Bug, feature request, or proposal:

I propose reset the scroll position to the top when switching between components on the docs.

#### What is the expected behavior?

#### What is the current behavior?

It stays where you are. ie go to autocomplete scroll half way down then go to `input` and you are halfway down that page when you probably want to be at the top.

#### What are the steps to r

[2017-05-24 19:44] mackelito opened #4784 "revalidate form with updateValueAndValidity or markAsDirty not working"
#### Bug, feature request, or proposal:
Bug (?)

#### What is the expected behavior?
Form should revalidate

#### What is the current behavior?
The input needs to blur to trigger validation

#### What are the steps to reproduce?
https://plnkr.co/edit/LgEn9t0X2h6BTHGwyJOW?p=preview

As you can see in the plunker I have tried several ways to revalidate but it seems it is not triggered?

[2017-05-24 20:20] CoreyCole commented on #3552
Maybe it's just me, but I had to restart the `ng serve` to get mine working. Spent more time than I'd like to admit before I figured that out :worried:

[2017-05-24 20:23] willshowell commented on #4780
We've been using it for a couple months with no issues, along with many other users. It takes a little diligence when upgrading to new builds, but breaking changes don't come often. Rarely, minor styling regressions occur, but fixes for those come fast.

That said, multiple select is available in beta-5. [See here](https://plnkr.co/edit/EIDlTuxOgqS6dZ6RSM8T?p=preview) for an example.

[2017-05-24 20:49] MaximeAnsquer commented on #4780
Ok that's great, thanks a lot! (My bad, I was actually using beta-4)

[2017-05-24 21:03] adaojunior opened #4786 "Datepicker: datepicker is shown partially when inside a modal"
#### Bug:

Datepicker is shown only partially when inside a modal

#### What are the steps to reproduce?

<img width="1270" alt="screen shot 2017-05-24 at 4 55 02 pm" src="https://cloud.githubusercontent.com/assets/4921294/26425394/929c1b44-40a2-11e7-8b4a-3a95390c4228.png">

See, it is missing the last week of the month.

#### Which versions of Angular, Material, OS, TypeScript, browsers are affec

[2017-05-24 21:05] PeS82 commented on #4071
I believe having the possibility to use `ng-template` instead of  `md-option` in options list for `md-autocomplete` would be nice. Please?

[2017-05-24 21:07] willshowell commented on #4786
Duplicate of #4406

[2017-05-24 21:34] fxck commented on #4786
Not really I don't think @willshowell I'm running a version with https://github.com/angular/material2/pull/4696 in and it's still broken inside a modal.

[2017-05-24 21:50] willshowell commented on #4786
@fxck I just ran that PR as is (4a47f89) and it seems to be working fine

<img width="826" alt="screen shot 2017-05-24 at 5 46 29 pm" src="https://cloud.githubusercontent.com/assets/6475576/26427039/19b80646-40a9-11e7-9520-8289da5ead2a.png">

[2017-05-24 22:28] firdausng commented on #2681
any update on this issue?

[2017-05-24 22:41] andrewseguin commented on #2681
This doesn't seem to be a problem in the current version of material.

https://plnkr.co/edit/AYsLjvcmDwTUipfEWRe1?p=preview

[2017-05-24 22:43] #2681 closed

[2017-05-25 00:08] willshowell commented on #4232
@jelbourn, since you labeled #4750 as needing discussion, I'd like to illustrate my motivation for pushing for the change. In [this plunker](http://plnkr.co/edit/B5G7Kz75Nq9xsUvDWXiE?p=preview) you can see that validation must be performed at a group level since the `password` and `confirm` controls are dependent on one another. Per @kara's [suggestion](https://github.com/angular/angular/issues/56

[2017-05-25 00:11] jelbourn commented on #4232
I agree that, conceptually, you should be able to change when the error shows. I'm just not sure this is a good way to go about doing that customization. Having it as an input on the control means that there's no good way to configure the behavior app-wide, which I think would be important.

[2017-05-25 00:17] willshowell commented on #4232
Dang, had not considered global config and I agree

[2017-05-25 00:20] radoslavpetranov opened #4789 "Input: undo change to make inputs same width regardless of prefix/suffix"
#### Bug
Enabling the datepicker button changes the width of the input

#### What is the expected behavior?
The button should not alter the width of the visible input field

#### What is the current behavior?
The button extends the width of the input field

#### What are the steps to reproduce?

http://plnkr.co/edit/8Ng4s66r3gw2I0QbINn0?p=preview

#### What is the use-case or motivation for changi

[2017-05-25 00:26] radoslavpetranov opened #4790 "Can't open datepicker without clicking the optional button"
#### Bug / Feature / Discussion - not sure
I'm not sure if this is a bug or not but there doesn't seem to be a way to open up the date picker when the trigger button is not visible. Maybe opening it up on `enter` or when the user clicks on the input would be a useful feature otherwise the button should not be optional.

#### What is the expected behavior?
To be able to open up the date picker rega

[2017-05-25 01:00] julianobrasil opened #4791 "Create MdMenu Dynamically"
#### Bug, feature request, or proposal:
Feature request?

#### What is the expected behavior?

Could create a bunch of md-menu using a *ngFor, but it's apparently not possible because of the reference template variable.

#### What is the current behavior?

Apparently there's no direct way to create an unknown number of md-menu (at least by just following the official documentation), because of the

[2017-05-25 01:30] mikechamberlain commented on #4784
I can't see how your plunkr demonstrates the problem.

[2017-05-25 02:32] peterdobson commented on #308
@jelbourn Noted and updated in the comment above

[2017-05-25 03:48] mist3r3 commented on #4734
Hi, I believe I fixed this, You need to import the divarea plugin with ckeditor. It seems this is a ckeditor bug.

[2017-05-25 04:00] mist3r3 opened #4792 "md-tab consistency/tooltip in label"
#### Bug, feature request, or proposal:
Bug or proposal I don't know what was the expected behavior

#### What is the expected behavior?
Having some consistency or put a tooltip with the md-tabs in case the label is too long.

#### What is the current behavior?
The tabs can be smaller or bigger depending on the length of the label. In case this is too long, the string is truncated without showing

[2017-05-25 06:16] sudheeshcm commented on #4093
@Zefling I'm not exactly sure. Tried removing all the "overflow: auto" styles, and still have this issue.

[2017-05-25 06:19] PeS82 commented on #4790
Modified your plunker so that it opens date picker when input is focused.

http://plnkr.co/edit/nEMtmZ1C1bxOnfWHmGjv?p=preview

[2017-05-25 07:07] mackelito commented on #4784
@mikechamberlain just fill out the form (top to bottom) you´ll see that once a adress is selected from the dropbox the for is still not valid until you set focus to the adress field.

Once valid the button will be enabled

[2017-05-25 07:43] fxck commented on #4790
What would be ideal is if you could have opened calendar and focused input at the same time, that is not currently possible due to the way `Overlay` works.

[2017-05-25 07:46] wpcfan commented on #3968
yep, md-select in a hidden tab also throws this exception

[2017-05-25 08:22] #4780 closed

[2017-05-25 08:31] SouengKimmeng opened #4793 "My suggestion to add one more option is Carousel (Slideshow)"

[2017-05-25 08:41] Xample opened #4794 "md-suffix and md-prefix are shrunk"
#### Bug, feature request, or proposal:
The following code:
[code]
#### What is the expected behavior?
I expected something like this
![image](https://cloud.githubusercontent.com/assets/944605/26442791/39064124-4136-11e7-9c37-d519413f3c11.png)

#### What is the current behavior?
Yet the whole md-input entry is shrunk
![image](https://cloud.githubusercontent.com/assets/944605/26442749/162aec72-4136

[2017-05-25 09:04] mackelito commented on #4794
hmmm.. it looks like the input is added to the `mat-input-prefix` instead of the `mat-input-infix`?

[2017-05-25 09:06] areijngoudt commented on #4769
@fxck can you share your date-fns based implementation when you finished it? I would like to user it :)

[2017-05-25 09:14] fxck commented on #4769
I'm using date-fns version that is not even public yet (the current version doesn't support parse with custom format) and I'm also using a copy of all datepicker / date-formats / adapter, all heavily modified since I needed to extend it with datetimepicker mode.. it's not really easily sharable.

But you can try and mess with it if you want, here's the build of the 2.0.0 of date-fns https://github

[2017-05-25 09:38] julianobrasil commented on #4794
Shouldn't you have put the mdsuffix in another element? Like this:

[code]

![image](https://cloud.githubusercontent.com/assets/25405143/26444965/bd398b8a-4114-11e7-900a-5ab468f08728.png)

[2017-05-25 09:41] julianobrasil commented on #4791
Decided to close for a now.  I'll try the encapsulating approach. I think it's a acceptable solution, if it works.

[2017-05-25 09:41] #4791 closed

[2017-05-25 09:42] Xample commented on #4794
I think you are right, I misunderstood the usage. Thank you

[2017-05-25 09:42] #4794 closed

[2017-05-25 09:45] pmdauv opened #4795 "Unable to build angular material used in ASP.NET CORE - Angular 4 app"
When building the project many issues are indicated such as:
 -> Error	TS2420 Class 'MdButton' incorrectly implements interface 'CanDisable'. Property 'disabled' is missing in type 'MdButton'.
-> Error	TS2507	Type '(new (...args: any[]) => CanDisable) & typeof MdCheckboxBase' is not a constructor function type.
-> ...
May someone help to solve these issues?
Thanks for your help.

[2017-05-25 10:17] smartHasmukh commented on #4271
I have also fetch this error

![error_123](https://cloud.githubusercontent.com/assets/8941195/26446395/71b5eaf8-4161-11e7-96b5-d0bcf2f81a41.png)

[2017-05-25 10:32] crisbeto commented on #4795
What version of TypeScript are you using?

[2017-05-25 10:38] iblocks-Xander commented on #4645
Thanks for the quick fix, much appreciated!

[2017-05-25 11:03] steve-todorov commented on #4734
Thanks for sharing! Interestingly, using the `divarea` plugin seems to fix some of the rendering issues. However, the `unselectable` exception is still present. I've updated the [plunker](http://plnkr.co/edit/aCYY4SFCtXreiB4azR77?p=preview) demo. Is this working for you?

[2017-05-25 11:06] radoslavpetranov opened #4796 "Autocomplete noSelectionClose event proposal"
#### Feature request / discussion
Expose an event that gets fired when the user closes an autocomplete without selecting an option

#### What is the expected behavior?
User clicks on Autocomplete and writes some text but doesn't select an option and then clicks somewhere to close the autocomplete. The written text should be replaced by `null`.

#### What is the current behavior?
What the user wrot

[2017-05-25 11:19] fxck commented on #4796
dupe of https://github.com/angular/material2/issues/3334

[2017-05-25 11:42] stevenmi commented on #4795
https://www.typescriptlang.org/#download-links

[2017-05-25 12:51] pmdauv commented on #4795
What version of TypeScript are you using?

Hi crisbeto, I'm using Typescript 2.3.3

[2017-05-25 13:43] willshowell opened #4798 "Proposal: divider for select options"
#### Proposal

It would be nice to have a more convenient way of adding dividers between select options

#### Current Method
[code]

#### Proposed Method
[code]

#### Demo

http://plnkr.co/edit/gijHvdO6dbCLik8DbOLL?p=preview

[2017-05-25 13:53] willshowell commented on #4599
I've experienced this again outside of a dialog, so it's now my understanding that it's related to where the select is positioned on the page. See this updated plunk for demo:

https://plnkr.co/edit/4M3t8iHcQ5t2pjd9DWjl?p=preview

[2017-05-25 14:15] vibingopal opened #4799 "Property 'forRoot' does not exist on type 'typeof MaterialModule'"
#### Bug, feature request, or proposal:
After i  upgraded the angular 2 app from Material Beta 3 release to Beta 5(2.0.0-beta.5). Iam getting
 Property 'forRoot' does not exist  on type 'typeof MaterialModule'.Could any one help on this please
#### What is the current behavior?
There are no issues when i am working with the 2.0.0-beta.3

[2017-05-25 14:20] bboehm86 commented on #3283
I'm closing this since it seems to be resolved with the latest Angular CLI release (1.1.0-rc.1)

[2017-05-25 14:20] #3283 closed

[2017-05-25 14:26] DevVersion commented on #4799
With beta.4 the `forRoot()` method on the `MaterialModule` has been removed.

In the future the `MaterialModule` will be removed completely. Be sure to just import the individual modules on your own (https://github.com/angular/material2/blob/master/CHANGELOG.md#materialmodule)

[2017-05-25 14:26] #4799 closed

[2017-05-25 14:41] pmdauv commented on #4795
It seems that the latest angular material release 2.0.0-beta.5 generates these issues when the project is built. I tried to use version 2.0.0-beta.3, the project is built without an issue.

[2017-05-25 14:46] crisbeto commented on #4795
We've had a few similar issues filed since the last release, but they were resolved by updating to TypeScript 2.2.

[2017-05-25 15:17] ahillhouse opened #4801 "Datepicker: Use md-calendar without md-datepicker"
#### Bug, feature request, or proposal:
Proposal

#### What is the expected behavior?
MdCalendar is exported in the MdDatepickerModule so it can be used by itself.

#### What is the current behavior?
MdCalendar is not exported.

#### What is the use-case or motivation for changing an existing behavior?
Want to have two calendars open next to each other to create a range.

#### Which versions of An

[2017-05-25 16:20] pmdauv commented on #4795
Thanks crisbeto. I'll try your solution.

[2017-05-25 16:21] Wesselfick opened #4802 "Unable to bind numbers to MD-Select ngModel"
BUG : Unable to bind  numbers to select ngModel on page load

#### What is the expected behavior?
select value from options list on page load

#### What is the current behavior?
does not select value from list on page load

#### What are the steps to reproduce?
Was not able to get NgModel to bind in plunker but in my application i don't get this error
[(http://plnkr.co/edit/YXiUjrFVFpjW5QvBfVFQ?p=

[2017-05-25 16:30] ThomasBurleson commented on #4704
This appears to be a flex-layout issue. And a Angular DI issue.
Closing here as not an Angular Material concern.

[2017-05-25 16:30] #4704 closed

[2017-05-25 16:32] willshowell commented on #4802
@Wesselfick Two things:

1. You need to import FormsModule into your AppModule to make the plunker work
2. You were making the option value a string by using `value="{{ num }}"`. You should bind to the property using `[value]="num"`

http://plnkr.co/edit/zrACxE5qZCo6NWEd0rAS?p=preview

[2017-05-25 16:36] michaelpwilson opened #4803 "Make slider thumb label always visible"
#### Bug, feature request, or proposal:

Feature request

#### What is the expected behaviour?

I would like the thumb label to remain visible, not just when the slider is being changed.

#### What is the current behaviour?

The slider thumb label will only show when the slider is being moved.

https://material.angular.io/components/component/slider

#### What is the use-case or motivation for cha

[2017-05-25 16:50] Wesselfick commented on #4802
Thank you, missed that one

[2017-05-25 16:50] #4802 closed

[2017-05-25 19:40] willshowell commented on #4776
Instead of prefix/suffix, what about something similar to autocomplete's `displayWith`?

*comp.html*
[code]
*comp.ts*
[code]

[2017-05-25 20:02] pdavin commented on #3161
This is very confusing and I think at least the docs should be updated. The example / demo shows an md-slide-toggle with a checked property and no ngModel. I think it's very uncommon that anyone will want a slide toggle that does input but not output.

https://material.angular.io/components/component/slide-toggle
      <md-slide-toggle
          class="example-margin"
          [color]="color"

[2017-05-25 20:04] DevVersion commented on #3161
@pdavin That's true. It's very unlikely that some just uses the `[checked]` input binding.

Maybe we should also have a second demo that is very simple and shows the usage with an NgModel.

[2017-05-25 21:13] Snesi commented on #4776
I like that a lot better! Right now I'm using an after pseudo element in
the span of the label in order to show square meters m2 next to the number.
Although I've also had to override the styles to make the label's wrapper
wider.

On Thu, May 25, 2017, 21:41 Will Howell <notifications@github.com> wrote:

[2017-05-25 21:26] willshowell commented on #4776
Yeah, I suppose resizing the label and making sure the animation looks right for a dynamic label string would be pretty difficult

[2017-05-25 21:42] mackelito commented on #4784
For reference: https://stackoverflow.com/questions/44189424/angular-form-dont-validate-when-adress-is-selected/44189699#44189699

[2017-05-25 21:42] #4784 closed

[2017-05-25 21:54] jelbourn commented on #4779
Those styles aren't coming from `@angular/material` AFAICT

[2017-05-25 21:54] #4779 closed

[2017-05-25 23:44] #2491 closed

[2017-05-25 23:49] #3584 closed

[2017-05-26 00:26] sreenathkurpad123 commented on #4512
Problem with this error still persists in angular 4.1.x, material2.0.0-beta 6.

I installed angular material following step by step directions in https://material.angular.io/guide/getting-started. After completing all the steps, I compiled the application in Visual studio 2015 and I got below errors. Please suggest a solution to resolve this problem. Its quite frustrating!!!
1.TS2420	Class 'MdButt

[2017-05-26 00:43] andrewseguin commented on #581
Good news everyone! The design document has been finalized and is now [available to view](https://docs.google.com/document/d/1ZyKhwrgqfTBAn7saTq2jPlep2_CwSw5DeoZ8UbaXrC0/edit).

We spent a long time considering our design and we appreciate all the great feedback we received. With the help from you and many internal teams at Google, we now have a design that we will start implementing. In fact, we

[2017-05-26 03:53] hatakawas commented on #581
Great!!!

[2017-05-26 06:58] stevenmi commented on #4762
i solved this problem by write mydateadapter,  mydateadapter is the same with nativeadapter exclude this.locale change to 'en-ca'.   so i can belive the nativeadapter setlocale is not work

[2017-05-26 08:37] Snesi commented on #1390
I don't know what I'm missing but this is still happening to me in production. On my machine, it works fine, but when I build the project with angular-cli it stops working. I'm using `2.0.0-beta.5`

[2017-05-26 08:38] alanpurple opened #4813 "md-datepicker not rendered in an appropriate direction"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
render direction should properly set so calendar can be seen

#### What is the current behavior?
always render to left below

rendering option ( fixed(in 4 ways), auto )

[2017-05-26 09:14] fxck commented on #4813
dupe of https://github.com/angular/material2/issues/4406

[2017-05-26 09:29] ktersius opened #4814 "md-input placeholder does not move up after model update / also after *ngIf"
Running material beta 6 and ng 4.0.3, Chrome Version 58.0.3029.110 (64-bit)

I have two issues.

1. After loading and setting the model in the promise .then() the input placeholders do not not move up. I can solve this by calling ChangeDetectorRef.detectChanges() after setting the model, which should not be needed correct? Or by interacting with the form.

[code]
![md input issue 1](https://cloud.

[2017-05-26 09:50] #4813 closed

[2017-05-26 09:50] Kyderman opened #4815 "Dialog Component Instance"
#### Bug, feature request, or proposal:
In Beta 6 (maybe 4 / 5), I cant seem to access anything from dialogRef.componentInstance.

#### What is the expected behavior?
e.g dialogRef.componentInstance.isSaved would return me the value of isSaved from the component.

#### What is the current behavior?
componentInstance is null, there is no way to access the inner variables of the dialog.

#### What a

[2017-05-26 10:12] Kyderman commented on #4815
Im assuming I need to use an emitter, however, I don;t think there is nice documentation on this.
Additionally, it seems like more work to have to construct an output to get these variables.
If that's the case, cant the dialog self emit its state on close?

[2017-05-26 10:31] Snesi commented on #1273
Yeah, it's a little hard to style the slider. If for example, you need to add a unit next to the label's value, the wrapper needs to be bigger, but in order to do so I've had to add global styles with `!important` everywhere.

[code]

To get this result:
<img width="393" alt="screen shot 2017-05-26 at 12 16 12" src="https://cloud.githubusercontent.com/assets/831197/26491046/2e7323ac-420e-11e7-8b62

[2017-05-26 10:34] ocarreterom commented on #4803
The slider is following the MD specs https://material.io/guidelines/components/sliders.html#sliders-discrete-slider

[2017-05-26 10:36] ocarreterom commented on #4803
The slider is following the MD specs https://material.io/guidelines/components/sliders.html#sliders-discrete-slider

[2017-05-26 10:48] vohtaski opened #4816 "plan for layout-padding, layout-margin"
Is there a plan to include the "Layout Extra" options
as in angular1-material?

`layout-padding`, `layout-margin`, `layout-fill`

https://material.angularjs.org/latest/layout/options#layout-margin-padding-wrap-and-fill

[2017-05-26 11:00] emreavsar commented on #1656
is this still untouched? i'm very interested in that pr

[2017-05-26 11:44] Kyderman commented on #4815
UPDATE:
I accomplished this by using EventEmitter between the components.
No idea if I need to unsubscribe on close though to stop the subscription from being held in memory?

[2017-05-26 12:13] aldocaetano commented on #4816
Already exists:
https://github.com/angular/flex-layout

[2017-05-26 12:22] PhilipSultanescu opened #4817 "bug(checkbox, radio): focus and blur events not triggering"
#### Bug, feature request, or proposal:
The checkbox and radio controls don't trigger the (focus) and (blur) angular events

#### What is the expected behavior?
It should trigger the focus and blur events.

#### What is the current behavior?
Focus and blur events are not triggered, all the other events are triggering ok.

#### What are the steps to reproduce?
Plunker https://plnkr.co/edit/h2OyULES

[2017-05-26 12:31] willshowell commented on #4803
@michaelpwilson you can override it with css for now if you wish

[code]

[2017-05-26 12:44] willshowell commented on #1273
@Snesi not necessarily better, but you can remove your `!important`s by increasing specificity of your styles

[code]

[2017-05-26 12:47] Snesi commented on #4278
@iliketomatoes dude you are a life saver! I've spent all day trying to figure out why the md-slider would work with `ng serve` and not when built with `ng build`.

[2017-05-26 12:52] Snesi commented on #1390
Never mind [this](https://github.com/angular/material2/issues/4278#issuecomment-301082315) solved it. Thank you @iliketomatoes!

[2017-05-26 13:00] vohtaski commented on #4816
@aldocaetano
There is `fxFlex`, `fxColumn`, but I can't find `-padding`, `-margin`, `-fill`

[2017-05-26 13:05] aldocaetano commented on #4816
For this i am using a pure css. I had no enough time for wait they finish :(

[2017-05-26 13:05] StudderVOF commented on #581
Awesome!!

[2017-05-26 13:31] willshowell commented on #1656
@emreavsar looks like @krigton put together a PR (https://github.com/angular/material2/pull/1690) that was approved but stalled for a few months and closed

[2017-05-26 13:32] tcrack326 commented on #4093
Datepicker seems to be in a fixed position and does not stay in same position when scrolling away from input. This may be intentional to keep the user from scrolling away before making a choice but if you have a datepicker near the bottom of a page then part of the datepicker will be hidden.

[2017-05-26 13:41] vohtaski commented on #4816
I did the same, I am just thinking if I should use `fxLayoutPadding`, `fxLayoutMargin`, etc
or there will be different naming scheme ..

[2017-05-26 13:45] crisbeto commented on #4093
There's a pending PR (https://github.com/angular/material2/pull/4696) that adds positioning improvements to the datepicker.

[2017-05-26 14:15] PierreRochard commented on #581
Here is another solid existing implementation worth analyzing: https://www.primefaces.org/primeng/#/datatable

[2017-05-26 14:27] da45 commented on #4615
Unfortunately,
  material 2.0.0-beta.6 was released but without fixing this issue :( ,

[2017-05-26 14:48] vibingopal commented on #4790
Hi

The example shown in the punker is not working with material latest release.
When try to import { MdDatePicker } from '@angular/material', the component can't get imported automatically. Do we need to specify the relative part line this  import { MdDatepicker} from '@angular/material/typings/datepicker';?
And MDDatePicker is expecting an argument now
 @ViewChild('dobDatepicker2') dp: MdDatepic

[2017-05-26 15:29] xtianus79 opened #4820 "hidden display: none needs to have an !important tag"
#### Bug, feature request, or proposal:
mostly a proposal but buggy none-the-less

#### What is the expected behavior?
when using [hidden] I would expect the important tag be applied so functionality works as intended

#### What is the current behavior?
If another class uses display then this attribute will be overridden

#### What are the steps to reproduce?
n/a
Providing a Plunker (or similar) i

[2017-05-26 16:00] mmalerba commented on #4621
cause by this FF bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1004130#c20 I'll look into a workaround

[2017-05-26 16:08] jelbourn opened #4821 "MdButton docs should explain our approach to ALL CAPS"
Something like

[2017-05-26 17:18] fredguile commented on #4590
I didn't manage to reproduce so far in plunkr, but in the meantime I can provide a bit more details about what happens at runtime:

![screen shot 2017-05-26 at 19 13 42](https://cloud.githubusercontent.com/assets/209813/26505077/94117b80-4247-11e7-9e51-3c6baea25955.png)

What's gets injected into MdInputDirective::_rendering is an object that looks like:
{ delegate: DebugRenderer2 }

So it turns o

[2017-05-26 18:06] renatosistemasvc opened #4824 "Problem with dialog and angular material"
Hello! I'm having problem with dialog of primeNG and md-select to angular material.

Selecting the "select" the options are appearing below the dialog.

I believe it's a problem of z-index. How can i change the z-index md-select of md-option ?

image of erro

[IMG](http://www.farmatecnica.com.br/erroDialog.png)

[2017-05-26 18:26] willshowell commented on #4824
If it's a z-index problem, it sounds like this _maybe_ could be solved by https://github.com/angular/material2/issues/4485 which has a merge-ready PR (https://github.com/angular/material2/pull/4629).

That said, I don't think Material is necessarily designed to be compatible with additional frameworks like primeng

[2017-05-26 18:31] rolandjitsu opened #4825 "feat: properly align lists within dialogs"
#### Bug, feature request, or proposal:
Feature

#### What is the expected behavior?
According to the Material specs, there are [Simple Dialogs](https://material.io/guidelines/components/dialogs.html#dialogs-simple-dialogs), which allows for the use of lists within a dialog. Lists in dialogs should be properly aligned (either remove padding on dialog when there's lists inside them or the padding o

[2017-05-26 18:32] willshowell commented on #4820
AFAICT Material doesn't have any styles for `[hidden]`. That style is coming from somewhere else, likely `normalize.css` or similar

[2017-05-26 18:34] #4725 closed

[2017-05-26 18:34] #4406 closed

[2017-05-26 18:34] renatosistemasvc commented on #4824
Thank you for your response.

I would like to use the material dialog, but I find it very bureaucratic the way he works, @willshowell

For the material dialog to work I need to create a component to be charged inside the dialog. The dialog of primeNg I create the dialog and I put simple html and it already works. So I wanted to use the primeNG dialog.

[2017-05-26 18:34] #4651 closed

[2017-05-26 18:42] willshowell commented on #4825
When https://github.com/angular/material2/pull/4722 lands, you should be able to do something like,

*comp.ts*
[code]

*global.css*
[code]

Though I'd also be curious whether this is something that should be supported out of the box.

[2017-05-26 18:45] rolandjitsu commented on #4825
@willshowell since it's a spec, it should probably be supported out of the box, or so I'd like 😄

[2017-05-26 18:48] mtpultz commented on #4205
@Chan4077 @jelbourn  this works for messages that are statically set, but is there a way to pass in a message similar to `this.snackBar.open(message, action, { duration: 2000 });`?  I think when it comes to a custom snackbar it feels odd to not have more params to pass into `this.snackbar.openFromComponent(CustomSnackbarComponent);`

I was hoping to create a custom snackbar that was outlined in th

[2017-05-26 18:55] jelbourn commented on #308
Surfaced an issue w/ platform-browser when trying to test checkbox and toggle-button:
https://github.com/angular/angular/issues/17050

[2017-05-26 19:35] astynax777 opened #4828 "MdDatepickerModule causes Unexpected value 'undefined' error"
I've been going through the material directives attempting to get acquainted with Angular/Material2 and everything was working great until I added the MdDatepickerModule.  If I remove the MdDatepickerModule there is no error and everything else works.  Forgive my ignorance if this is a simple error, but all my research on StackOverflow seems to indicate the error is due to an improper import or ci

[2017-05-26 19:55] fxck commented on #4824
You can do that as well, you can pass it a template ref, so

[code]

[code]

[2017-05-26 19:55] fxck commented on #4824
Would be even easier with https://github.com/angular/material2/pull/2855

[2017-05-26 21:02] fatalcaron commented on #581
Hey guys, somebody can help me with this question: https://stackoverflow.com/questions/44207529/angular-material-cdk-data-table-dont-update-when-data-change

[2017-05-26 21:15] jelbourn commented on #4820
How topical!

See http://hidden.is.a.lie.fyi

(and the [Angular issue](https://github.com/angular/angular/issues/1417) I wrote up a couple years ago on the topic)

[2017-05-26 21:15] #4820 closed

[2017-05-26 21:18] jelbourn commented on #4824
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-05-26 21:18] #4824 closed

[2017-05-26 21:19] jelbourn commented on #4795
Any version of TypeScript >= 2.2 should work. Sounds like Visual Studio might have an old version?

[2017-05-26 21:19] #4795 closed

[2017-05-26 21:31] robindijkhof opened #4832 "datepicker not properly displaying month"
#### Bug

#### What is the expected behavior?
Display the month as 'March'

#### What is the current behavior?
M03 is displayed

#### What are the steps to reproduce?

Check the example https://material.angular.io/components/component/datepicker

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

[2017-05-26 21:34] robwormald commented on #581
@fatalcaron the data table, as specified in the Design Doc, uses the OnPush change detection strategy. This means it requires you to handle your data immutably - this is not specific to the data table implementation.

Also, this issue is not for technical support, *especially* on an alpha, not yet merged, unreleased, undocumented prototype! Please refrain from doing so here 😄

[2017-05-26 22:35] badre429 opened #4834 "md-data-table"
Paging component  for lists and tables

![paging](https://cloud.githubusercontent.com/assets/5818051/26514761/ec892ae6-426b-11e7-9e67-70514175d70b.JPG)

[2017-05-26 22:35] badre429 commented on #4834
[](url)

[2017-05-26 22:43] robindijkhof opened #4835 "mdSelect missing padding"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Properly display mdSelect label when a value is selected

#### What is the current behavior?
Missing padding, causing the label to fall off

#### What are the steps to reproduce?
https://plnkr.co/edit/GPyk6vzdQKfMUtKrmJ5i?p=preview select a value

#### What is the use-case or motivation for changing an existing behavi

[2017-05-26 23:08] uredkar commented on #2661
Here is a picture for the same issue Angular2, and Material2. Latest. The issue happens if the data is populated by code, then once you click on the screen the display looks normal change detection does not help the look of the screen.

![capture](https://cloud.githubusercontent.com/assets/5139003/26515186/dc9b7ba8-423d-11e7-9328-8b6fee3c5ab0.PNG)

[2017-05-27 00:02] #4834 closed

[2017-05-27 00:03] jelbourn commented on #4816
Discussions for layout features so go over in https://github.com/angular/flex-layout

[2017-05-27 00:03] #4816 closed

[2017-05-27 00:30] #4793 closed

[2017-05-27 01:09] stevenmi commented on #4790
@PeS82 i suggest change the focus event to click event.

[2017-05-27 06:44] finalxcode commented on #2008
+1

[2017-05-27 06:53] radoslavpetranov opened #4838 "keyup.enter on an input/datepicker triggers a click event on a subsequent button"
#### Bug, feature request, or proposal:
I'm not sure if this is an Angular bug or a Material2 issue but the problem is that when I associate a `keyup.enter` event with a datepicker and then hit enter I end up triggering the `click` event on the subsequent button.

#### What is the expected behavior?
I expect to only trigger the `keyup.enter` event.

#### What is the current behavior?
I triggere th

[2017-05-27 07:22] jawadst commented on #1130
@Denis-Frolov
They have a complete API doc with an example and the right types here: https://github.com/angular/flex-layout/wiki/ObservableMedia

[2017-05-27 07:31] fxck commented on #4832
That depends on the locale you use.

[2017-05-27 08:35] Hanzofm commented on #4591
Thanks for your work!

[2017-05-27 08:46] robindijkhof commented on #4832
My locale is nl, but M03 doesn't seem like a correct month

[2017-05-27 08:47] fxck commented on #4832
Hard to tell, you didn't provide a plunker.

[2017-05-27 08:55] robindijkhof commented on #4832
https://plnkr.co/edit/1mhwobNRXjgUr3KM6U8e?p=preview

[2017-05-27 08:57] fxck commented on #4832
It doesn't like you setting your locale to nl anywhere in that plunker.

[2017-05-27 09:09] robindijkhof commented on #4832
That's right and yet I am seeing M03. Chrome 58 and Chrome mobile. Any idea?

[2017-05-27 09:11] fxck commented on #4832
Maybe try actually setting your locale to nl?

[code]

[2017-05-27 09:16] fxck commented on #4832
https://github.com/angular/material2/blob/master/src/lib/core/datetime/date-adapter.ts#L155

[2017-05-27 09:18] victornoel commented on #2661
@uredkar that's exactly what I am experiencing, thanks!

[2017-05-27 09:20] fxck commented on #4832
Its gotta be said though, that the datepicker [might not work correctly](https://github.com/mmalerba/material2/blob/a3653418b3f23a6f78ead66f6a4a7b49f01917e6/src/lib/datepicker/datepicker.md#internationalization) after you do that.

[2017-05-27 10:14] julianobrasil commented on #4838
Don't think it's a problem with the component. It's the only button inside the form. It's the default behavior of the form component when you put a button inside it and do not specify the type="button" (it assumes the missing attribute is type="submit").

If you don't want to trigger the submit, just put type="button" in your button (then you must trigger submit by yourself programmatically):

`<b

[2017-05-27 10:16] robindijkhof commented on #4832
Setting the locale fixed the problem. Not sure if it is working correclty though. I also tried setting the local in angular `{ provide: LOCALE_ID, useValue: 'nl' }` But that didn't work. It would be nice if the datapicker used that value to.

[2017-05-27 10:29] julianobrasil commented on #4832
@fxck, Maybe the component is in it's early stages, but a little improvement in its docs in the material.angular.io would be nice. Things like this.dateAdapter.setLocale('nl') can solve a lot of headaches. Or maybe exmaples like you provided above.

[2017-05-27 10:32] fxck commented on #4832
I'm not sure why it is not mentioned in the docs, perhaps because what I said, setting a locale using the adapter material provides "breaks" it. Ask @mmalerba.

[2017-05-27 12:07] julianobrasil commented on #4832
It has at least one side efect: once you set the date and the input is updated, there's no garantee that the next time the datepicker is shown it will show the right period. Here in Brazil, for example, the default date format is dd/MM/yyyy. If I just use this.dateAdapter.setLocale('pt-br') to select, for exemple, April 12th 2017, it will shows me, correctly, 12/04/2017. The next time I'll choose

[2017-05-27 12:27] robindijkhof commented on #4832
So basically English or wrting your own dateAdapter is the way to go?

[2017-05-27 12:38] radoslavpetranov commented on #4838
Thanks for the input @julianobrasil . That did indeed fix my issue. That behavior is a little illogical to me because submitting the form is one thing and triggering the additionally added button-click event on form submit is a different thing in my head but it is what it is.

[2017-05-27 12:38] #4838 closed

[2017-05-27 14:04] stevenmi commented on #4832
@ @julianobrasil  https://plnkr.co/edit/ulSNTMTMZmORzvkVTvch?p=preview ,not work.  i use it in the wrong way ?

[2017-05-27 14:33] fxck commented on #4832
@julianobrasil I know. https://github.com/angular/material2/issues/4358#issuecomment-299661961

[2017-05-27 14:59] hemantjadon opened #4844 "MdAutocomplete Throws error on dynamic focus"
#### Bug, feature request, or proposal:

Bug: The MdAutocomplete throws the error
[code]

When I try to dynamically focus the textbox using `ElementRef`

ngOnInit() {
   this.elementRef.nativeElement.querySelector('feed-header input#search').focus();
}

#### What is the expected behavior?

The MdAutocomplete should not crash when the focus is brought to the application.

#### What is the current b

[2017-05-27 17:09] Denis-Frolov commented on #1130
@jawadst
Oh thanks, I did not see that one.

[2017-05-27 17:15] julianobrasil commented on #4832
Ok. I took the code of material adapter and made some changes to fit to my particular case (just a small one at the parse function in the adapter.

[2017-05-27 17:22] julianobrasil commented on #4832
@stevenmi , there's no need for the providers: [NativeDateAdapter], you can take it away, as the injection of NativeDateAdapter in the AppModule class (unless you were just trying something else).

In the constructor of the App class, inject `DateAdapter<Date>`,  just like it's shown in the example provided by fxck's plunker: https://plnkr.co/edit/o6ZuFmJ3Qk3Rr6Uuz8cA?p=preview (don't forget to im

[2017-05-27 18:07] robindijkhof commented on #4769
@fxck, how did you managed the get the timepicker? Is it a matter of writing your own dataAdapter or is it an undocumented feature?

[2017-05-27 18:07] fxck commented on #4769
I made it.

[2017-05-27 18:12] robindijkhof commented on #4769
Is it published somewhere and may I use it? Or is it supposed to be a PR someday?

[2017-05-27 19:15] fxck commented on #4769
Nah, it's pretty crude. There's probably a private material design spec for a datetimepicker that the official version will be based on one day, so I'd be waste of time.

[2017-05-28 00:56] stevenmi commented on #4832
@julianobrasil thanks

[2017-05-28 02:21] stevenmi commented on #4762
please close this,thanks

[2017-05-28 06:35] mist3r3 commented on #4550
I've added a plunker here! I believe this is way more simple like that.

[2017-05-28 07:09] mist3r3 commented on #4734
I do have this error but I don't know why. I'm investigating on it, if I have any news I'll share.

[2017-05-28 07:36] crisbeto commented on #4844
It's throwing because you're trying to open the autocomplete too early. It'll work if you focus the input in `ngAfterViewInit`, instead of `ngOnInit`. That being said, we probably shouldn't be throwing an exception.

[2017-05-28 09:44] DevVersion commented on #4817
We have a similar issue for this: #1723

[2017-05-28 09:44] #4817 closed

[2017-05-28 13:20] ruslan-simonenko opened #4852 "mdTextareaAutosize doesn't resize textarea to a single row when mdAutosizeMinRows is set to 1"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Textarea should be resized to a single line.

#### What is the current behavior?
Resize doesn't shrink textarea to a single line, stops at minimum of two lines.

#### What are the steps to reproduce?
http://plnkr.co/edit/0HyRxBSQI7wksb7QFLDE?p=preview

#### Which versions of Angular, Material, OS, TypeScript, browsers

[2017-05-28 14:41] julianobrasil opened #4853 "Month and/or year selecion in DatePicker"
#### Bug, feature request, or proposal:
Feature

#### What is the expected behavior?
User being able to select a month in a year, or just a full year number. The component already have a startView attribute. It could have also a view attribute so the component could be configured to show just months of the year, or years.

#### What is the current behavior?
The user can select a full date only (da

[2017-05-28 14:53] doorman02 opened #4854 "Select not set to ngModel initial value"
#### Bug, feature request, or proposal:
When setting the ngModel variable in code behind onInit  the  selected display value is not showing.
This works in beta 5 but not anymore in beta 6

#### What is the expected behavior?
The select should show the display string of the ngModel value

#### What is the current behavior?
It does not show anything

#### What are the steps to reproduce?
[code]
and

[2017-05-28 15:05] hecof commented on #4814
Same behavior:
`<div style="display:flex; flex-direction: column;" *ngIf="_showProcess">
        <md-input-container>
          <input mdInput placeholder="Module">
        </md-input-container>
        <div>
          <button md-raised-button color="primary" (click)="_process($event)">Process</button>
        </div>
    </div>`

[2017-05-28 16:19] julianobrasil commented on #4854
That's weird, because if you set selectedSortBy='0' (string) it works in one of two ways:

`<md-option value="0">Latest</md-option>`

or

`<md-option [value]="'0'">Latest</md-option>`

But both of them fail with numbers.

[2017-05-28 19:29] DevVersion commented on #4852
By default every textarea has the `rows` attribute set to `2`.

This means that this is actually not an issue but maybe this should be just mentioned in the docs.

Also possible would be setting the default amount of rows to `1`.

@mmalerba What do you think?

[2017-05-28 19:38] ruslan-simonenko commented on #4852
@DevVersion Just FYI in angular/material v1 there was a similar bug, and it's description said that default `rows` must be `1` according to the spec: https://github.com/angular/material/issues/2154 . Not sure whether it is still actual though - I was not able to find such information in the spec.

[2017-05-28 19:41] DevVersion commented on #4852
@ruslan-simonenko Thanks for linking this issue. I was not able to find it either but I just think it still makes sense to switch to `1` row by default because otherwise the `mdAutosizeMinRows` attribute does not work properly.

[2017-05-28 21:18] #3948 closed

[2017-05-28 23:28] mmoravcik commented on #1331
+1

[2017-05-29 04:16] Chan4077 commented on #4205
@mtpultz @radoslavpetranov Try doing what [material2](https://github.com/angular/material2/blob/master/src/lib/snack-bar/snack-bar.ts#L99-L106) does for `SimpleSnackbar`:

**TS for custom snackbar**:
[code]
**TS to show snackbar**:
[code]

[2017-05-29 05:06] subhashekkaluru opened #4857 "md-select multiple with check box window not closing in AngularJS v1.3.16"
Dear all, here am using angular meterial design md-select multiple but this multi select window not closing when i was using the AngularJS v1.3.16 and it will work properly if i use  AngularJS v1.5.11.
so i need solve this issue what was wrong going on...thanks

[2017-05-29 06:35] donroyco commented on #4857
Hi @subhashekkaluru , you're reporting an issue that has to do with https://github.com/angular/material, please report it there. Material2 needs at least Angular version 2.

[2017-05-29 06:49] gtzinos commented on #4615
Hello guys,

@mohi86 mentioned that he used (selectedChange) event but it doesn't work, me too. In the latest material 2 release, you can use (selectedChanged) instead of (selectedChange).

<md-datepicker #picker (selectedChanged)="update($event)">

[2017-05-29 06:57] fxck commented on #4853
it will be added eventually https://github.com/angular/material2/issues/675#issuecomment-290670361 (and following discussion)

[2017-05-29 07:18] subhashekkaluru commented on #4857
thank u

[2017-05-29 07:27] gtzinos opened #4858 "ngModel not updated inside the selectedChanged event"
Hello,

i use this code to generate a datepicker.

     <md-input-container class="filter" >
            <input  [(ngModel)]="dateperiod" mdInput [mdDatepicker]="period" [max]="maxPeriod">
            <button mdSuffix [mdDatepickerToggle]="period"></button>
     </md-input-container>
     <md-datepicker #period (selectedChanged)="filter($event)" ></md-datepicker>

but inside of my filter function

[2017-05-29 08:41] PhilipSultanescu commented on #1723
I propose having the behavior consistent with the input text control, that is having the focus and blur events fire, like in this Plunker https://plnkr.co/edit/h2OyULESEcE6IBzdAAIG from #4817

We need to use the conditional Angular ngClass on a parent when a child control was focused or blurred.

[2017-05-29 08:46] streldev commented on #4574
2. is a real pain on mobile devices. I had to remove the title to display the action buttons. Would be great to get this fixed soon.

[2017-05-29 08:50] svi3c opened #4859 "SnackBar does not close zone when dismissed"
#### Bug:

SnackBar should close duration zone when dismissed, so protractor is not blocked.

#### What is the expected behavior?

When calling MdSnackBarRef.prototype.dismiss(), the timeout reference by [setTimeout](https://github.com/angular/material2/blob/master/src/lib/snack-bar/snack-bar.ts#L82) should be cleared to close the angular zone.

#### What is the current behavior?

The zone stays o

[2017-05-29 08:55] mohi86 commented on #4615
Hi,

Thanks @gtzinos, I can confirm this is working as of version 2.0.0-beta.6

[2017-05-29 09:00] gtzinos commented on #4615
Hi @mohi86, i have a new issue, that inside the event (if you use ngModel in your datepicker input) your model will not be up to date. So one workaround is to get your data from event and to save them back to model or just to use the event data.

[2017-05-29 09:28] mestremuten commented on #675
I'm using beta.6, and I wanted to use mdDatepickerToggle directive at the input itself, but I found that only buttons are meant as right targets for it:
[code]
Why not make it general attribute selector, without constraining the kind of element? Imho, we should be able to use it on (almost?) everything: divs, anchors, buttons, inputs, ...

[2017-05-29 09:33] donroyco commented on #4858
:bulb: Please use the issue template.

[2017-05-29 09:46] julianobrasil commented on #4858
@gtzinos, it seems the selectedChanged event is fired first, then propagating faster. Try using a setTimeout inside your filter function (it's just a 0ms is engough, since it is just a synchronism issue):

[code]

[2017-05-29 11:15] donroyco commented on #4835
I think it's intentional, because it expects to be inside of a `md-card` and `md-card-content`, which has the needed padding.

[2017-05-29 11:56] robindijkhof commented on #4835
I don't think so. Putting it in a form looks terrible. Also, two of them after earchother result in overlapping:
https://plnkr.co/edit/uE4w4wBCRJfgpXK9Wvep?p=preview

[2017-05-29 12:13] #4857 closed

[2017-05-29 12:21] etatuev opened #4861 "mat-slide-toggle ignores emitEvent option"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
**MdSlider** should not emit a new value to `valueChanges` if  `emitEvent?` option of `formGroup.patchValue` is set to `false`.

#### What is the current behavior?
`formGroup.PatchValue` emitting new values to `valueChanges` observable regardless of `emiEvent?` option in case if form has **mdSlider** control.

#### Wh

[2017-05-29 12:22] ExTheSea opened #4862 "md-datepicker uses wrong formats"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When selecting a date like e.g. the 4. May and then reopening the datepicker it should still interpret it as the 4. May and not the 5. April.

#### What is the current behavior?
When opening the the datepicker and selecting the 4. May the input will display the date 4.5.2017. When reopening the datepicker it will disp

[2017-05-29 13:07] donroyco commented on #4835
It's being tracked in #4755

[2017-05-29 13:21] mestremuten commented on #4862
Plunkr of the issue:
http://plnkr.co/edit/EnvLMgi4azsmzcqeDvIM?p=preview

This only seems to happen when the DateAdapter's locale is not `en-US`. For everything else I tested (en-GB, fr-FR, es-ES) it doesn't show the correct month when reopening the datepicker, if already has a date selected, and selected day is less than 12.

For now, my only solution is to force `en-US` locale.

[2017-05-29 13:47] dev054 opened #4863 "Feature: Possibility to make the [displayWith] of Autocomplete more flexible"
#### Bug, feature request, or proposal:
Feature Request.

#### What is the expected behavior?
I expect `[displayWith]` to give me back the whole `object` so I can treat what property I can return to `display` (doesn't it make sense)?

#### What is the current behavior?
Actually `[displayWith]` is too limited.

Ex:

I have the following variable that gets the content from API:

[code]

That's the c

[2017-05-29 14:08] Mario-Eis opened #4864 "md-input doesn't behave correct if initially focused in md-dialog"
#### Bug, feature request, or proposal:

Bug

#### What is the expected behavior?

![2017-05-29 15_55_32-plunker](https://cloud.githubusercontent.com/assets/17924929/26552419/4f7cf0c0-4487-11e7-85fa-b042fef8e26c.png)

#### What is the current behavior?

![2017-05-29 15_56_13-plunker](https://cloud.githubusercontent.com/assets/17924929/26552611/252c72f4-4488-11e7-80c9-44d58b5afaea.png)

#### What a

[2017-05-29 14:09] dev054 opened #4865 "Feature: Shows asterisk automatically when input has RequiredValidator in ReactiveForms"
#### Bug, feature request, or proposal:
Feature Request.

#### What is the expected behavior?
Actually there's an `property` in `input` called `required`. I'm wondering if is there any chance to have it built-in in reactive forms? I mean, if an input has the `Validators.required` it will automatically shows the `asterisk` indicating that's *required*. To disallow this behavior people could use `[h

[2017-05-29 14:41] ss-bb commented on #4763
Hi.
As it is write [Here](https://github.com/angular/material2/blob/master/src/lib/datepicker/datepicker.md)
This is a feature that will come "Support for selecting and displaying date ranges"

[2017-05-29 15:58] ss-bb commented on #675
Hi @jelbourn
First of all, thanks for everyone who did the work ! As always, I still have some issue about timing.
Do you have any time idea, or any link to a roadmap, about all the functionalities of the datepicker list [in the datepicker doc](https://github.com/angular/material2/blob/master/src/lib/datepicker/datepicker.md) ?

[2017-05-29 17:06] willshowell commented on #4865
Looks like dupe of https://github.com/angular/material2/issues/2574

[2017-05-29 17:13] willshowell commented on #4854
Looks like the offending line is here:

[code]

A value of `0` is falsey for `options.value`

[2017-05-29 17:53] fxck opened #4866 "autocomplete on textarea"
usecase is this
![image](https://cloud.githubusercontent.com/assets/1303561/26558344/302978a8-44a8-11e7-8486-4dbfa1100122.png)

it should be as easy as extending the selector.. I think?

But it's gotta be said that it would be cool if you could open it at the caret position, as it works on github.

![image](https://cloud.githubusercontent.com/assets/1303561/26558399/a7241b98-44a8-11e7-8792-323713d

[2017-05-29 19:33] ccadieux commented on #2612
Being able to turn this off would be great. We implemented a menu very similar to the google inbox account menu and ran into this issue. We had to add a click handler and stopPropagation on the entire menu.

[2017-05-29 20:02] ranouf opened #4869 "mdDatepicker minInclude and maxInclude"
Hi,

Is there a way to allow to select the same day for From and To:

                <div layout="row">
                    <md-input-container>
                        <input mdInput
                               [max]="offer.to"
                               #fromElement
                               #fromControl="ngModel"
                               [mdDatepicker]="pickerFrom"

[2017-05-29 20:07] ranouf commented on #4869
I saw it was fixed in Angular material 2 (https://github.com/angular/material2/pull/4649).

But in the version 1.0.0-beta.4 it seems not fixed.

Problem, I can t upgrade currently my other packages are not compatible with the latest version.

How can I fix the problem?

[2017-05-29 20:15] alex-okrushko opened #4871 "Overlay attachments observable is triggered before the attachment is complete"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
Observable should be triggered when the attachment is complete

#### What is the current behavior?
It's triggered before that

#### What are the steps to reproduce?
see plunker

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

http://embed.p

[2017-05-29 20:17] ranouf commented on #4869
I thought to use "mdDatepickerFilter" the problem is in the fonction, the context is not the Angular component but the context of the MdDatePicker.

[2017-05-29 20:27] PinkTiu opened #4872 "[MdTab]: Content of non active tab is not ready when ngAfterViewInit() called"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
`MdTap`s are used with two or more taps.
When `ngAfterViewInit()` of the component which hosts the taps is called the content of the taps should be ready. I wish to access them with `document.getElementById()`.

#### What is the current behavior?
Only the content of the first tap is accessible with `document.getElemen

[2017-05-29 20:33] jymdman commented on #4869
Add `.bind(this)` if you wish to bind to the component instead, e.g.:
`[mdDatepickerFilter]="myFilter.bind(this)"`

[2017-05-29 21:03] robindijkhof opened #4873 "Remove `transform: translate3d(0,0,0);`"
#### Proposal:
Remove `transform: translate3d(0,0,0);` from everywhere

#### What is the expected behavior?
`position: fixed` should work.

#### What is the current behavior?
`position: fixed` behaves like `absolute`

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
https://plnkr.co/edit/uWzvxBSWlMari58qGdZ0?p=preview scro

[2017-05-29 21:39] ranouf commented on #4869
Thats perfect!
Thank you!

[2017-05-29 21:39] #4869 closed

[2017-05-29 21:58] shlomiassaf commented on #581
@andrewseguin THANKS!

I'm working on a checkbox component for the table, something like:
[code]

[code]

I have 2 issues:

  - `CdkColumnDef, CdkCellDef, CdkHeaderCellDef` and friends are not exposed so I can't really query them, since they are inside the component they are not content child... so I set `CdkCellDef` and `CdkHeaderCellDef` manually into `CdkColumnDef`.
** can you expose them? from

[2017-05-29 22:01] dev054 commented on #4865
Woops, I didn't said this issue. Thanks @willshowell

[2017-05-29 22:01] #4865 closed

[2017-05-29 23:02] julianobrasil commented on #4786
Another thing is that it's fixed on the screen, so when you resize the view port, the dialog mooves to try to stay at the center, but the date picker seems to stick where it initially was:

![image](https://cloud.githubusercontent.com/assets/25405143/26563527/b0e18066-44a9-11e7-8584-a06211884302.png)

After resizing:

![image](https://cloud.githubusercontent.com/assets/25405143/26563531/c61a657e-4

[2017-05-30 01:20] brunoracosta commented on #1728
Hi people, news?

[2017-05-30 04:03] hxdef2517 opened #4874 "md-datepicker How to populate datepicker with initial value"
**BUG**

I'm using latest angular material 2.

Currently I have two issues.
First is how to set an initial value to datepicker.

My datepicker initialized in this way:

`@ViewChild('startDatePicker') startDatePicker: MdDatepicker<Date>;`

[code]

I'm trying to set initial value using this way:

[code]
but its not working.

I have also tried
`this.startDatePicker.startAt = _date;`

I tried to parse

[2017-05-30 05:34] fxck commented on #4874
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are Stack Overflow, gitter, mailing list, etc.

[2017-05-30 05:35] fxck commented on #4873
dupe of https://github.com/angular/material2/issues/998

[2017-05-30 09:39] Xample commented on #708
@robertmesserle only adding height 100% was not working
I had to cheat with shadow piercing:
http://plnkr.co/edit/UG6VhKWovNKL4lHX7TxB?p=preview

i.e.
[code]

[2017-05-30 09:47] vibingopal commented on #4790
Hi,

When i use the same example provided in the plunker, i am seeing double line for the input. Could you please suggest ?

[2017-05-30 09:48] 0x4F72 commented on #4815
I think you need neither the componentInstance nor an EventEmitter to access the values in afterClose - simply pass them as parameter to the close method of the dialogRef

[2017-05-30 11:31] vibingopal opened #4875 "How to call custom method on MdDatePicker selection"
#### Bug, feature request, or proposal:
Hi Team,

Could you please let me know how to call custom method on Md Date picker component. I am using  (onSelect) event but it is not working.

[2017-05-30 11:35] tmakin commented on #4801
I am currently working round this issue by using an instance of `datepicker-content` component bound to a custom object that contains the appropriate fields from the `datepicker` component. This is messy and is likely break silently if the `datepicker-content` binding changes.

Ideally I would like `MdCalendar` to be exported as per the request above, but if that is not possible then an alternativ

[2017-05-30 11:46] tmakin commented on #4801
For info here are the bones of my hackish approach:
[code]

And then inside my custom datepicker component:
[code]

[2017-05-30 12:00] shlomiassaf commented on #581
@andrewseguin

Ok so I think I got most of it now...

Assume we want to build an `md-table` component where the columns might change, e.g. dynamic columns...

Let's say we have these 2 lines as content of **cdk-table** inside the `md-table` component:
[code]

**columnKeys** is a property of type `string[]` and its initial value is `[]`, it will change once we get user input. This is actually the d

[2017-05-30 12:09] #4875 closed

[2017-05-30 12:25] djleonskennedy commented on #4874
@hxdef2517 it has ControlValueAccessor implemented, so you can use `[(ngModel)]="initial"` with template driven forms or `formControlName="date"` with Reactive forms.

[2017-05-30 12:44] vohtaski commented on #4854
Any idea when it will be merged?

[2017-05-30 12:50] rthewhite commented on #4609
I can confirm it indeed seems to occur the moment you set a specific height on the dialog.
The moment you specify an height (in my case 65%) the title and actions don't stay fixed in place and there are 2 scrollbars. See:

https://plnkr.co/edit/1Vn3D3E2ozdO80rLlleS?p=preview

[2017-05-30 13:00] drweb86-work opened #4876 "md-datepicker: format date"
Hello

Is there a possibility to specify format of the date shown in text. e.g. DD-MM-YYYY. API says something about inheriting classes.

Thanks.

[2017-05-30 13:15] shlomiassaf commented on #581
@craigsnyders @prestonvanloon would you mind explaining your dislike? Is there a better solution? would love to hear.

[2017-05-30 13:25] fxck commented on #4876
read this discussion https://github.com/angular/material2/issues/4832

[2017-05-30 13:35] rthewhite commented on #4609
Also duplicate of https://github.com/angular/material2/issues/4053

[2017-05-30 13:44] DevVersion commented on #3967
Done.

[2017-05-30 13:44] #3967 closed

[2017-05-30 13:47] drweb86-work commented on #4876
Thanks.
This solution works fine

`import { DateAdapter } from '@angular/material';`
`export class Test {`
`    constructor(private dateAdapter: DateAdapter<Date>) {`
`        this.dateAdapter.setLocale('nl');`
`    }`
`}`
`

[2017-05-30 13:47] #4876 closed

[2017-05-30 14:06] jeroenvanagt commented on #4190
Why is this issue closed? The problem still exists when reseting the formGroup like explained by @goelinsights

Scenario:
Press submit button
Do some stuff with the data
Then call formGroup.reset()

formGroup.reset() does NOT does not remove mat-input-invalid class
![screen shot 2017-05-30 at 4 06 33 pm](https://cloud.githubusercontent.com/assets/1506062/26587183/eafdc6e4-4551-11e7-9259-e807f0ab09

[2017-05-30 14:25] iulianb commented on #581
@shlomiassaf you should spend some time reading the discussion before posting

[2017-05-30 14:29] shlomiassaf commented on #581
Read my comments I offer my thoughts on the design, exposing symbols and a suggestion to refresh the rows without change from the datasource.

Not a issue about technical support.

Sent from my iPhone

[2017-05-30 14:49] willshowell commented on #4786
@adaojunior @julianobrasil could you check against the master build? #4696 was merged after the beta-6 release.

[2017-05-30 14:59] narendra-agashe commented on #3221
Any updates on this feature request? This is exactly what I need.

Thanks,
Naren

[2017-05-30 15:06] jelbourn commented on #4053
Tracking via #4609

[2017-05-30 15:06] #4053 closed

[2017-05-30 15:33] crain commented on #4618
@stevenmi how did you fixed it?

[2017-05-30 16:17] Kyderman commented on #4862
@donroyco

I cant seem to get a custom adapter to work.
Any care for an example for dummies?

Thanks

[2017-05-30 16:23] #4821 closed

[2017-05-30 16:25] #3161 closed

[2017-05-30 16:52] vqtran commented on #4377
This seems to be mostly fixed via panelClass: https://github.com/angular/material2/issues/4485

[2017-05-30 16:52] #4377 closed

[2017-05-30 16:56] kittycatbytes commented on #4512
I am also getting this error, using Visual Studio 2017 and I have the latest TypeScript

[2017-05-30 16:56] donroyco commented on #4862
Unfortunately no(t here). Let's keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are Stack Overflow, gitter, mailing list, etc.

[2017-05-30 17:01] willshowell commented on #4550
I wonder if this is something that should be supported out of the box. As a workaround, you could use `preventDefault()` to keep the click event from bubbling up to the anchor element

http://plnkr.co/edit/dDxySwiO7xJ4DHtODSFL?p=preview

Note that I also added `stopPropagation()` so that clicking the edit button doesn't trigger a ripple on the whole list item.

[2017-05-30 17:05] raghukul01 opened #4879 "[Bug]: hovercard fixed on screen while scrolling."
#### Bug, feature request, or proposal:
Whenever I hover over the <md-button> the hovercard(md-tooltip) of appears, but if I scroll, the hovercard is fixed on the screen until I stop scrolling.

#### What is the expected behavior?
The hovercard should move up/down on scrolling.

#### What is the current behavior?
Currenty it stays at the same position on the window.
#### What are the steps to repr

[2017-05-30 17:23] mestremuten commented on #4862
I've written a MomentJS adapter that seems to work. At least, it's capable of parsing localized dates, as long as they are the same locale, of course.

It's not fully tested. I work for a company where don't like to spend time writing unit tests (yeah, we live on the edge).

Do you think it worth for me to do a pull request? Or maybe I should send the files/patch to someone? Or maybe you have alre

[2017-05-30 17:46] YeomansIII commented on #4814
Same issue here.
This is only occurring when using OnPush change detection strategy. Fields are populating but the placeholder is not moving up.

<img width="970" alt="screen shot 2017-05-30 at 13 40 34" src="https://cloud.githubusercontent.com/assets/3809115/26596872/2fe9f214-453e-11e7-814f-79621bc3df8b.png">

[code]

[2017-05-30 17:48] julianobrasil commented on #4786
@willshowell , it worked for me (it follows the dialog when the view port is resized ande the dialog tries to be centered). Also it popups in the most logical direction (upward if the component is near the bottom of the viewport, and downward if the input if near the top).

[2017-05-30 18:06] mmalerba commented on #4832
Sounds like there are two things to do here:
- Add documentation for `setLocale`
- Default to angular's `LOCALE_ID`

[2017-05-30 18:18] robindijkhof commented on #4832
Unfortunately it is not working in a specific case. https://stackoverflow.com/questions/44219732/angular-datepipe-not-working-in-specific-case Any ideas?

[2017-05-30 18:22] mmalerba commented on #4852
I think the default of `2` is just to match the native textarea's default. @jelbourn actually wrote the autosize, do you have an opinion on this Jeremy/

[2017-05-30 18:24] donroyco commented on #4879
Could you please provide a Plunker, so the issue may be reproduced? Thanks!

[2017-05-30 18:26] DevVersion commented on #4852
@mmalerba Yeah I agree that it would be easier to follow the design of the native textarea.

I just think if it is specified (still not sure where explicitly) then it's something we need to think about more.

[2017-05-30 18:27] xtianus79 commented on #4820
lol @jelbourn that is what I am requesting... the !important tag on hidden? this wouldn't be a better solution?

[2017-05-30 18:29] jelbourn commented on #4820
`[hidden]` is a browser feature, not something related to `@angular/material`

[2017-05-30 18:35] pas2al opened #4881 "routerlink delay in md-nav-list (wraped anchor element in <md-list-item>)"
#### Bug, feature request, or proposal:
I created a `md-nav-list` based on the angular material docs for a more complex navigation list and added a routerlink to the anchor tag.
https://material.angular.io/components/component/list

#### What is the expected behavior?
The routerlink should be resolved immediately when hover over or click the element.

#### What is the current behavior?
When you ho

[2017-05-30 18:44] #1596 closed

[2017-05-30 19:29] George35mk opened #4884 "add new feature Collapsible"
![default](https://cloud.githubusercontent.com/assets/20750445/26601174/9221f122-4587-11e7-8895-42a8b0193bf7.PNG)
#### Bug, feature request, or proposal:

#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

#### W

[2017-05-30 20:07] willshowell commented on #4814
Seems like a dupe of https://github.com/angular/material2/issues/3005?

[2017-05-30 20:24] YeomansIII commented on #4814
@willshowell Looks like it, thanks. Hopefully we can get some progress, that has been open since February.

[2017-05-30 20:24] nkwood opened #4886 "select within toolbar disappears with sample themes"
#### Bug, feature request, or proposal:

Bug. (Assuming this is something that is intended to be supported)

#### What is the expected behavior?

Select placed within toolbar with sample themes should be colored as to be visible.

#### What is the current behavior?

Select placed within toolbar with sample themes is not visible.

#### What are the steps to reproduce?

Plunker demonstrating issue:

[2017-05-30 20:28] YeomansIII commented on #3005
Still seeing this issue: https://github.com/angular/material2/issues/4814

[2017-05-30 22:50] andrewseguin commented on #4499
Working on a PR now that should fix this by removing the logic of dynamically adding/removing the tooltip. Instead it'll sit in the DOM for the life of the host element.

[2017-05-30 22:55] willshowell commented on #4190
@jeroenvanagt try this

[code]
[code]

http://plnkr.co/edit/sRCiYvRqGevK493w79A4?p=preview

[2017-05-30 22:55] jelbourn commented on #2612
Chatted w/ @kara about this and we decided that we don't want to add this as a feature to md-menu. This is largely because turning it on would be detrimental to the a11y experience (see https://www.w3.org/TR/wai-aria-practices-1.1/#menu), and we want to generally avoid adding APIs that go counter to a11y best practices.

[2017-05-30 22:55] #2612 closed

[2017-05-30 23:18] #4762 closed

[2017-05-30 23:23] mmalerba commented on #4764
@tinayuangao looks like checkbox doesn't include sufficient margin/padding

[2017-05-30 23:24] mmalerba commented on #4767
As mentioned in datepicker.md:

[2017-05-30 23:24] #4767 closed

[2017-05-30 23:25] westonpace opened #4888 "md-button-toggle-group starts off as dirty"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
An md-button-toggle-group whose value has not changed should not be dirty

#### What is the current behavior?
dirty is true

#### What are the steps to reproduce?

http://plnkr.co/edit/H1q6YvW2qH4xsYeP9RX0?p=preview

#### What is the use-case or motivation for changing an existing behavior?

I have a save button that

[2017-05-30 23:27] mmalerba commented on #4760
@DevVersion I believe this is requesting a feature to expand/collapse the toolbar on scroll, is that something we plan to do?

[2017-05-30 23:28] #4769 closed

[2017-05-30 23:35] mmalerba commented on #4783
Please file against docs site issues against https://github.com/angular/material.angular.io

[2017-05-30 23:35] #4783 closed

[2017-05-30 23:36] mmalerba commented on #4786
sounds like this has been fixed

[2017-05-30 23:36] #4786 closed

[2017-05-30 23:41] mmalerba commented on #4790
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-05-30 23:41] #4790 closed

[2017-05-30 23:42] mmalerba commented on #4796
Closing as dupe

[2017-05-30 23:42] #4796 closed

[2017-05-30 23:45] mmalerba commented on #4803
Not in the spec, but seems reasonable

[2017-05-30 23:46] mmalerba commented on #4814
Closing as dupe

[2017-05-30 23:46] #4814 closed

[2017-05-30 23:49] mmalerba commented on #4828
I believe you need to import `MdNativeDateModule` or manually provide `DateAdapter` and `MD_DATE_FORMATS`

[2017-05-30 23:51] mmalerba commented on #4835
Closing as dupe of #2124

[2017-05-30 23:51] #4835 closed

[2017-05-30 23:59] #4485 closed

[2017-05-31 00:00] #4554 closed

[2017-05-31 00:10] jelbourn commented on #4852
Interesting- the spec designates "multi-line text field" and "text area" as two completely different things. On web, they're both `<textarea>` under the hood.

Either way, I agree that it should default to one row, otherwise you don't really have a way to do that.

[2017-05-31 00:18] bhoproove commented on #4760
@mmalerba, @DevVersion

 I think, visually, this is one of the nice things about Material design.

Material design toolbar with image or 'expanded' look really gives a nice visual queue for users and the way Material design changes the toolbar on scroll minimizes the initial visuals so that the content can take over on priority.

I believe this feature is especially helpful on mobile view.

[2017-05-31 00:25] RobJacobs commented on #4591
@andrewseguin I've had to add an absolute positioned element in my nested flexbox layouts when I wanted 100% height.  This [Plunk](https://plnkr.co/edit/k8VGCADTs0JYXXPEsvtz?p=preview) adds the fix you made and tweaks the mat-body-content class:

    .mat-tab-body-wrapper {
      flex-grow: 1;
    }
    .mat-body-content {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;

[2017-05-31 00:28] mmalerba commented on #4618
You can mark the field required, the reason there was no error is because those dates parsed as `null` (much like entering `e` into a number field).

[2017-05-31 00:28] #4618 closed

[2017-05-31 00:32] mmalerba commented on #4862
@mestremuten We're currently messing with our packaging structure, we need to get it so that adding a Moment.js adapter doesn't force a dependency on Moment.js even for people who are not using it.

Closing since this issue seems to be about the native `Date` being unable to parse DD-MM-YYY format

[2017-05-31 00:32] #4862 closed

[2017-05-31 01:14] shriramdevanathan commented on #1189
@prashant162 : I have a feeling your local angular-cli version and the global angular-cli version aren't the same. Try installing the same angular-cli version globally.

[2017-05-31 01:26] HarelM commented on #4574
Any updates on this? This is a blocker for publishing my site to production...

[2017-05-31 06:38] f1xpl commented on #3006
Same issue for me. I tried to link prebuilt css to index.html file, import it to my main styles.css file, added it to .angular-cli.json but nothing works. I followed the guide but nothing works at all.

[2017-05-31 07:21] jeroenvanagt commented on #4190
@willshowell,

I understand that a reset button works. However, in my case I want to use a submit button, send the data to the backend server and then reset the form (so a new invite can be created).

For the reset, I use :
`this.form.reset() `
where form is a formGroup

[2017-05-31 07:27] emreavsar opened #4889 "md-datepicker setFormat (other than english) not well formatted (month and day)"
#### Bug

#### What is the expected behavior?
Using a `md-datepicker` in another language than english should work same as it works in english. When entering a date via keyboard and selecting date over the datepicker, the format should remain the same.

#### What is the current behavior?
Selected date from datepicker seems to format the date correctly, however when you change the day and re-visit

[2017-05-31 07:44] stevenmi opened #4890 "tab:proposal add close icon on the Top right corner"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
add close icon on the Top right corner of tab, click the icon can close the tab;
like this https://www.primefaces.org/primeng/#/tabview Closable
#### What is the current behavior?
have no close icon

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see y

[2017-05-31 07:44] qorsmond commented on #4546
What i did is used this css to display the underline when my toolbar color is set to `color="primary"`:

`nav .mat-ink-bar {
  background-color: white;
}`

But my question is what is the correct approach for when you want to show a Md-Tab-Nav-Bar in a Md-Toolbar. I think if the  Md-Tab-Nav-Bar also had a color attribute that you could set to `color="accent"` it could work nice.

[2017-05-31 08:12] jeroenvanagt commented on #4190
I now use the following workaround

[code]

[2017-05-31 08:42] fxck commented on #4889
dupe of https://github.com/angular/material2/issues/4358

[2017-05-31 09:34] dargoan commented on #735
Based on your anwser @gtzinos, this worked for me:
[code]

This way, the toolbar was truly using 100% of the window width.

[2017-05-31 09:35] gtzinos commented on #735
@dargoan Good job. Thanks!

[2017-05-31 11:44] praveen4554 opened #4891 "Tooltip override styles"
I am unable to override the color and font size of mdtooltip i am reviewing your plunker https://plnkr.co/edit/?p=preview and adding styles like .mat-tooltip{ color:red;}

[2017-05-31 12:06] emreavsar commented on #4358
I cannot understand how you guys from material are not providing at least one MomentDateAdapter, so that everyone can use a basic version of i18nalized date-pickers. I know there are ways to implement it, but only supporting `MM-DD-YYYY` out of the box is not enough.

[2017-05-31 12:11] willshowell commented on #4891
Looks like you forgot to fork and save the plunker. Try increasing the specificity of your css selector.

[2017-05-31 12:16] axtho commented on #2033
I also would like to know how to get that working with a similar setup as the angular site. Currently my layout is like this:

<img width="546" alt="bildschirmfoto 2017-05-31 um 14 07 59" src="https://cloud.githubusercontent.com/assets/11181579/26631312/b5e67582-460a-11e7-804f-02f6d71f2db0.png">

The main part of the scss for the main container (where the image is from) looks rather unimpressive:

[2017-05-31 12:19] praveen4554 commented on #4891
https://plnkr.co/edit/Ck9cmj3F0SYTIC87Lmwd?p=preview check this plunker still i am unable to add the styles

[2017-05-31 12:34] rosslavery commented on #4499
@andrewseguin I'm not certain that is the cause, as the leak can be observed without ever actually hovering over the buttons that have the tooltip applied to them. In the plunker, you can run your mouse up and down the left side of the list items, without ever hovering over the buttons on the right that trigger the tooltips to show,

[2017-05-31 12:57] willshowell commented on #4891
Ah ok. You can add your styles to a global stylesheet, but that will apply to _all_ tooltips. If you're needing to only affect certain tooltips, it looks like your only option is to wait for https://github.com/angular/material2/issues/4601

[2017-05-31 13:14] praveen4554 commented on #4891
Thanks for your reply but i would like to override the styles without using !important is it possible

[2017-05-31 13:54] astynax777 commented on #4828
Importing MdNativeDateModule did remove the error, however the datepicker is not popping up.  Here is my markup:
[code]
Is there anything else I'm missing to make the picker pop up?
![mddatepicker](https://cloud.githubusercontent.com/assets/1410906/26635251/2cf62060-45e7-11e7-8fca-4ef9dd4de254.gif)

[2017-05-31 13:58] ocarreterom commented on #4828
`[mdDatepicker]="datePicker"` and `[mdDatepickerToggle]="datePicker"` must be `="picker"` as you say in `<md-datepicker #picker></md-datepicker>`.

[2017-05-31 14:01] #4828 closed

[2017-05-31 14:08] savaryt opened #4892 "[Tooltip] Prevents normal scrolling"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Scrolling should work.

#### What is the current behavior?
Scrolling on a touch device doesn't work if the target of the gesture is an element using the `mdTooltip Directive`.

#### What are the steps to reproduce?
Add the `mdTooltip Directive` on any element.
Use a mobile device / emulator to scroll the document, whi

[2017-05-31 14:24] xtianus79 commented on #4820
@jelbourn lol sorry got it

[2017-05-31 14:53] willshowell commented on #4891
@praveen4554 opened https://github.com/angular/material2/pull/4893 - it should solve your issue

[2017-05-31 15:24] willshowell commented on #4190
@jeroenvanagt Error state is calculated like this:

[code]

Unfortunately, resetting the FormGroup isn't enough. You'll need to reset the submitted state of the actual form.

To do that, you need to get access to the FormGroupDirective which binds the FormGroup to the form and then call `resetForm()` instead of `reset()`.

[code]
[code]

See [this updated plunker](http://plnkr.co/edit/Fbb9QQQBI2sW

[2017-05-31 15:52] xtianus79 commented on #4594
@YeomansIII any update on this?

[2017-05-31 16:00] YeomansIII commented on #4594
@xtianus79 Still not sure what the issue is. What you described are differences that can take place in the dialog component's HTML and CSS. Why do you need the backdrop class to style the inside of a component? The backdrop class should only be used to apply a background color to the overlay, just as `cdk-overlay-dark-backdrop` is doing.

[2017-05-31 16:23] rubenlagus opened #4895 "<md-dialog-actions>: Buttons are not correctly aligned"
#### Bug, feature request, or proposal:

#### What is the expected behavior?
As defined in Material guidelines, buttons should be on the right side

![image](https://cloud.githubusercontent.com/assets/2874352/26642426/fced0158-462d-11e7-8d5c-8d471185865e.png)

#### What is the current behavior?
Currently buttons are aligned on the left side

![image](https://cloud.githubusercontent.com/assets/2874

[2017-05-31 16:23] rubenlagus commented on #4895
Related to #3528

[2017-05-31 16:35] georgeedwards commented on #581
I am really excited to see this launch - keep up the great work!  One design scenario that causes issues I have come across in numerous other libraries, is say you have a table with a datetime column, where the data is a momentjs object. Many libs don't allow you to format this in a human friendly format, without resorting to alphabetical sorting, which is obviously not ideal.

Is there anything i

[2017-05-31 16:42] mmalerba commented on #4358
@emreavsar We plan to offer a Moment adapter, we have some issues to resolve with our packaging structure before we can do that. We don't want to force a Moment.js dependency on people who aren't even using the adapter

[2017-05-31 16:45] emreavsar commented on #4358
Of course i see your point. Hope to see the adapter, maybe you can give it
as a separate material-datepicker-extension package or so?

Cheers
On Wed, 31 May 2017 at 18:42, mmalerba <notifications@github.com> wrote:

[2017-05-31 16:46] willshowell commented on #4594
@xtianus79 not totally certain what functionality you're looking for, but does https://github.com/angular/material2/pull/4722 help? It allows you to pass additional classes the `cdk-overlay-pane`. You can then use that to target you `md-dialog-container` since it is a child.

Combined with @YeomansIII's point about the `cdk-overlay-dark-backdrop` only affecting the single background style of the `

[2017-05-31 16:46] julianobrasil commented on #4895
Doesn't the using of `<md-dialog-actions align="end">` solve the issue for you?

[2017-05-31 17:55] crisbeto commented on #4895
Closing as a dupe of #3528. Also @julianobrasil is correct in that you can use the `align` option to set the button alignment.

[2017-05-31 17:55] #4895 closed

[2017-05-31 18:42] ScottRFrost commented on #2124
Still an issue in Beta 6:
![image](https://cloud.githubusercontent.com/assets/3866418/26648065/48622fba-460f-11e7-8747-c2523ce1e74c.png)

[2017-05-31 20:02] andrewseguin commented on #4738
Perhaps we could add a mutation observer to the component to check if any mutations occur that were not additions/removals.

@crisbeto What do you think about the best way is to use the mutation observer here?

[2017-05-31 20:22] crisbeto commented on #4738
Since we allow HTML in the tab, we don't have a choice, apart from the `MutationObserver` (we could've used `ngOnChanged` if the label was coming from an `@Input`). We can use [the same approach](https://github.com/angular/material2/blob/e4789c7b88975b1811c97b9bed61b5278def0a7c/src/lib/tabs/tab-header.html#L11) that we have on the regular tabs.

[2017-05-31 20:41] andrewseguin commented on #4499
Can you confirm that removing HammerJS from the plunker helps resolve the issue? Looks to me that the CPU usage returns to normal if it's not imported.

[2017-05-31 20:49] andrewseguin commented on #4738
Seems good to me, except we'll be applying extra ink bar alignments since the ripple causes mutations as well (same in tabs). Would be nice to have a good way to filter those out as mutations

[2017-05-31 21:06] crisbeto commented on #4738
AFAIK the MutationObserver has some (not too granular) ways of filtering. We'd need to add those to the `cdkObserveContent` directive.

[2017-05-31 21:31] willshowell commented on #4653
@jelbourn With the addition of `panelClass` in #4722, I'm able to achieve what I want. Happy to  close unless you see any value in also being able to add classes to the dialog container.

[2017-05-31 21:40] jelbourn commented on #4653
Sounds good to me

[2017-05-31 21:40] #4653 closed

[2017-05-31 22:55] #2633 closed

[2017-05-31 23:11] andrewseguin commented on #2685
Here's an example of (1) changing the tabs using buttons and (2) counting how many tabs there are using a ViewChildren query.

http://plnkr.co/edit/cyb5sRINXprP0pwXsCmB?p=preview

Please feel free to open the issue if you find a bug or missing feature

[2017-05-31 23:11] #2685 closed

[2017-05-31 23:12] #2964 closed

[2017-05-31 23:16] michaelpwilson commented on #4803
Thanks @willshowell! This works apart from when the value is 0.

[2017-05-31 23:52] jelbourn commented on #3604
I think the resolution here is to add an `Accessibility` section to the docs similar what I've done for cards in #4781. The gist is that `md-toolbar` provides only a colored header region and the user should:
* Apply `role="toolbar"` and related attributes if they're using the component as an actual [toolbar as described by the W3C](https://www.w3.org/TR/wai-aria/roles#toolbar).
* Use appropriate

[2017-06-01 00:10] natsid commented on #4672
Is the idea for md-input-container to be able to contain all (or most?) of the other Material form controls so that they can all utilize md-hint and md-error, etc.?

[2017-06-01 00:14] jelbourn commented on #4672
This issue is tracking the ability to do something like
[code]

There's a separate issue of having `md-select` and `md-input-container` share the same setup

[2017-06-01 00:22] natsid commented on #4672
Ah, I missed the `mdInput` on the custom tag - thought it was just any custom component. Thanks.

[2017-06-01 00:24] natsid commented on #4673
If this happens, would it make sense for `md-input-container` to also support `md-checkbox` and `md-radio-group`?

[2017-06-01 04:08] skshirsagar opened #4902 "Contents get cut off in a scrollable grid-cell (Plunker reproduction link)"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Contents should not get off

#### What is the current behavior?
Contents get cut off

#### What are the steps to reproduce?
https://plnkr.co/edit/L7KyqIp8UwPgt8pHLFZX
The above plunker illustrates this very easy to reproduce problem. The scrollable grid cell has a list, but for some reason--the top few rows get cut of

[2017-06-01 05:01] mist3r3 commented on #4550
Hi and thank you for your answer ! it seems that in your plunkr the href isn't working anymore... Does it work for you?

[2017-06-01 05:08] seanbotha123 commented on #4639
Hi guys,

Any feedback here yet?

[2017-06-01 06:47] donroyco commented on #4884
Already mentioned in #995

[2017-06-01 07:42] donroyco commented on #4902
It's the `align-items: center;` on `.mat-grid-tile .mat-figure` that's causing the problem. It causes that the _content_ is shown from the middle, and not from the top.

If you change `align-items` to `flex-start` or `stretch` (default), it behaves correctly.

[2017-06-01 08:13] amitport opened #4903 "consider exporting $mat-toolbar-height scss vars"
#### Bug, feature request, or proposal:
feature request

#### What is the expected behavior?
`$mat-toolbar-height-desktop` and `$mat-toolbar-height-mobile-portrait` should be available from `@angular/material/_theming`

#### What is the use-case or motivation for changing an existing behavior?
Writing scss rule that depend on the toolbar height. For example:

[code]

[2017-06-01 08:30] AxxlForce opened #4904 "md-select: md-option for [value]="false" not displayed"
#### Bug, feature request, or proposal:

bug

#### What is the expected behavior?

md-option for [value]="false" should be displayed when ngModel of md-select is false and not undefined

#### What is the current behavior?

md-option is not shown

#### What are the steps to reproduce?

http://plnkr.co/edit/cyqZ32ozoxXX5seXQ7G5?p=preview

[2017-06-01 08:36] matte00 commented on #802
Any news?

[2017-06-01 08:54] julianobrasil commented on #4904
There's a similar issue: #4854.

[2017-06-01 09:13] crisbeto commented on #4904
Closing as a duplicate of #4854.

[2017-06-01 09:13] #4904 closed

[2017-06-01 11:40] willshowell commented on #4550
It logs an error because the frame doesn't want to navigate away, but that's the nature of using plunker. This should work (tested Chrome/FF/Safari):

http://run.plnkr.co/plunks/dDxySwiO7xJ4DHtODSFL

[2017-06-01 12:31] ktersius commented on #4814
Hi this occurs on Default strategy as well.
[code]

[2017-06-01 13:17] willshowell commented on #4814
@ktersius do you mind reproducing in a plunker?

[2017-06-01 13:20] rosslavery commented on #4499
@andrewseguin I can confirm that removing hammer makes a significant, measurable difference. Removing it fixes the DOM node leaks, cpu usage, and the effectiveness of garbage collection.

Nice find...where do we go from here?

[2017-06-01 13:47] ktersius commented on #4814
@willshowell I've changed those forms to model based forms and I'm not experiencing the issue any longer.

[2017-06-01 14:01] benjamin-wilson opened #4908 "md-sidenav displaces content when align="end""
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Sidenav should open and close without displacing content

#### What is the current behavior?
If you set the alignment of the sidenav to align="end" and then aggressively open the sidenav, click inside the nav then click outside the nav to close it, it will sometimes displace its content.

#### What are the steps to re

[2017-06-01 14:24] sl007 commented on #2419
Iam using material 2.0.0-beta6 have same error: There is no directive with "exportAs" set to "mdTextareaAutosize"

[2017-06-01 14:43] dzena commented on #4027
I have problems making Reactive form with FormGroup display `md-error`. `md-hint` works with the same code.

Here's a code and a working plunker: http://plnkr.co/edit/CR06nY?p=preview.

All validations work except the custom one. My workaround for now is to just use 'md-hint` with red font.

Take a look at last two inputs. Password validation error doesn't appear.

[code]

[code]

[2017-06-01 14:57] willshowell commented on #4027
@dzena See https://github.com/angular/material2/issues/4232#issuecomment-303886675 for more information. The plunker in that comment shows the workaround we've been using that works pretty well (emulates `md-error` in every way except for the animation).

[2017-06-01 14:58] ocarreterom opened #4910 "sidenav open/close missing animation"
#### Bug, feature request, or proposal
Bug.

#### What is the expected behavior?
Open/close sidenav with animation.

#### What is the current behavior?
Open/close sidenav without animation.

#### What are the steps to reproduce?
Demo: http://plnkr.co/edit/WSshOLL8dNRjkzyB0Oy8?p=preview

#### Which versions of Angular, Material, OS, TypeScript, browsers are affected?
angular/cli: 1.1.0
angular: 4.1

[2017-06-01 14:59] Zefling commented on #4866
It's like this project : https://github.com/dmacfarlane/angular2-mentions

[2017-06-01 15:01] fxck commented on #4866
I'm working on porting https://github.com/angular-ui/ui-mention to angular2 as a temporary solution to https://github.com/angular/material2/issues/4444

[2017-06-01 15:03] mist3r3 commented on #4550
That's great it works with the href. Do you know how to make it work with routerlink? Because it doesn't have the same behavior.

[2017-06-01 15:09] willshowell commented on #4550
Oh oops, use both of these in your click callback

[code]

[2017-06-01 15:11] mist3r3 commented on #4550
hi, yes that's what I did, it works great ! 👍  But I guess it shoul be supported ootb no ?

[2017-06-01 15:36] willshowell commented on #4910
Yikes.. looks to have been introduced in #4894 (https://github.com/angular/material2/commit/52b6692472afc6797230e151dfe0563e59c25766)

(bug introduced between https://github.com/angular/material2-builds/commit/7a6b7003803eee45fec0c47a21f8b9c9497d8c6a and https://github.com/angular/material2-builds/commit/f6dc6ce9be904432c0754b78603adde3c4b44351)

cc @DevVersion

[2017-06-01 15:48] prestonvanloon commented on #581
@shlomiassaf I :-1: because I don't understand your use case/question and it looked like technical support question.

[2017-06-01 15:52] willshowell commented on #4910
It looks like because the inlined styles are comma separated?

https://github.com/angular/material2/blob/master/tools/gulp/packaging/inline-resources.ts#L43

Therefore the [transition styles](https://github.com/angular/material2/blob/master/src/lib/sidenav/sidenav.ts#L308-L311) come won't be read due to the comma causing parsing errors.

[2017-06-01 15:54] DevVersion commented on #4910
@willshowell Thanks for your investigation! I will look into it as soon as possible.

[2017-06-01 16:51] shlomiassaf commented on #581
@prestonvanloon Sometimes I tend to complicate things since english is not my natural-born language. Let's not get into details now, but I can understand that... (👎  won't help me fix the way I express myself but again, this is not the place to dive deep)

[2017-06-01 17:22] George35mk commented on #581
@shlomiassaf don't wary bro I am from Greece and the English are not my native language, but I don't care what the other say about me I learn to code from youtube the same my English, the trick is to learn from mistakes

[2017-06-01 17:26] xtianus79 commented on #4594
@willshowell and @YeomansIII

Perfect!!! When will this be released?  In beta.7?

[2017-06-01 17:29] xtianus79 opened #4913 "Are chips going to gain full functionality like tab to complete and x to close?"
#### Bug, feature request, or proposal:
Request?

#### What is the expected behavior?
They are mostly just css

#### What is the current behavior?
css functionality

[2017-06-01 17:34] willshowell commented on #4594
@xtianus79 yeah it will be in the next release. Alternatively you can use now via `material2-builds`. And to answer the question you made on the PR itself, it will not show up in the API until a release is made.

[2017-06-01 17:38] willshowell commented on #4913
See https://github.com/angular/material2/pull/2476 and the continuation #4912

[2017-06-01 18:09] xtianus79 commented on #4594
@willshowell cool... thank you sir

[2017-06-01 18:23] willshowell commented on #3006
@f1xpl can you link to a minimum repo that shows what you've tried?

[2017-06-01 18:35] robindijkhof commented on #4854
Not sure if it will be usefull, but here is a pluker: https://plnkr.co/edit/UURJWRfiglafS8KkOjRt?p=preview

[2017-06-01 19:09] willshowell opened #4914 "Autocomplete panel should base width on input-container, not input"
#### Bug, feature request, or proposal:
Bug

#### Expected
The autocomplete panel does not change its width when the input resizes, only when the input container does.

#### Current
The autocomplete panel resizes when an `mdSuffix` is rendered, thus changing the size of the actual `input`.

#### Reproduction
https://plnkr.co/edit/VrcrcUBKbwuoOoxc8byM?p=preview

#### Motivation
Using a "clear input

[2017-06-01 19:21] zurfyx commented on #1491
In my case, I was not only missing
[code]

(see @msegers [answer](https://github.com/angular/material2/issues/1491#issuecomment-253437795))

but also

[code]

inside `app.module.ts`

[2017-06-01 20:21] crisbeto commented on #4914
I think this needs to be thought through a bit better. Apart from taking the width from the container, the autocomplete would also have to position itself relative to it, otherwise it'll be off if there's a prefix. This complicates things, because the container has some padding at the bottom, which will cause the panel to float ~10px below where it should be.

[2017-06-01 20:27] antonpegov opened #4916 "I followed your installation guide, but can not run material in my app. Help!"
Here is source:
https://github.com/antonpegov/angular-fl/tree/91fd9a2a5b6f0223500a321652c702847fdd352c

Actual version running on ghpages:
https://antonpegov.github.io/angular-fl/

[2017-06-01 20:31] ryanpm40 commented on #4916
@antonpegov Try importing 'MaterialModule', instead of 'MdButtonModule, MdCheckboxModule', in your app.module.ts.

[2017-06-01 20:33] willshowell commented on #4914
@crisbeto what if it were instead attached to the container's `underlineRef` like [datepicker is doing](https://github.com/angular/material2/blob/master/src/lib/datepicker/datepicker-input.ts#L196-L198)

[2017-06-01 20:39] willshowell commented on #4916
@ryanpm40 It's actually [recommended](https://material.angular.io/guide/getting-started#step-3-import-the-component-modules) to import individual modules.

@antonpegov You should be importing `MdButtonModule` and `MdCheckboxModule ` into your `CharacterModule` and every subsequent module that uses material components.

[2017-06-01 20:41] crisbeto commented on #4914
That should work, I wasn't aware that we were even exporting that reference. I'll update my PR.

[2017-06-01 20:53] crisbeto commented on #4914
Thinking about it again, the underline isn't ideal either: if we use it as a reference, the panel will end up overlapping the input when it goes into the `above` position.

[2017-06-01 21:08] willshowell commented on #4914
Oh true. You could do what autocomplete is doing with its negative margin when `above`, but I realize that's not an ideal solution.

[2017-06-01 21:12] farley911 opened #4918 "Datepicker min date doesn't validate if set to today"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
If setting the min property on a date picker component to today I should be able to select today's date.

#### What is the current behavior?
If I focus on the date picker input, then click on the button and select todays date from the datepicker I will see a validation error saying it's an invalid date.

If I don't fo

[2017-06-01 21:12] targunp commented on #4449
here is a fix, put this in your .angular-cli.json:

`        "stylePreprocessorOptions": {
            "includePaths": [
                "../node_modules"
            ]
        },`

[2017-06-01 21:12] crisbeto commented on #4914
Not really, we shouldn't know or have to measure, the height of the input.

[2017-06-01 22:53] henriqueweiand opened #4922 "Upcoming Updates?"
Is there a project timeline by the Google team? I say in regards to updates, because I do not know if the topics defined in README.md will actually have their implementation.

[2017-06-02 00:04] julianobrasil commented on #4918
Here is the plunker: https://plnkr.co/edit/fz5FPkv8uQtOgCwCnbvu?p=preview

Could reproduce the fail when followed your steps. It's important to focus the input before selecting the date. The fail only happens after doing it.

[2017-06-02 02:03] lax20attack commented on #2236
I am having the same issue as @aarmora. After spending a couple hours trying, I could not reproduce it easily in plunker.

I am using md-tab-group in a md-grid-tile in an md-grid-list, which uses absolute position and flex.

Potentially related -https://github.com/angular/material/issues/5439

[2017-06-02 03:05] skshirsagar commented on #4902
Same as align-items, changing display to block (on .mat-grid-tile .mat-figure) also makes the contents show fine. However, I would expect it to work fine even with 'display: flex' and  'align-items: center'.

[2017-06-02 03:21] xuanshenbo opened #4923 "Duplicate tooltip properties generated in API docs"
https://material.angular.io/components/component/tooltip

There are duplicated properties in this doc

![duplicates](https://cloud.githubusercontent.com/assets/7393393/26709482/1d31f566-47a7-11e7-843e-1a259f046ba9.PNG)

[2017-06-02 03:34] xuanshenbo opened #4924 "Feature request: Do not hide mdTooltip when mouse on tooltip"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Do not hide mdTooltip when mouse on tooltip.
Example: https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip

#### What is the current behavior?
The tooltip is immediately shown when the user's mouse hovers over the element and immediately hides when the user's mouse leaves. It treats the tooltip

[2017-06-02 03:37] #4924 closed

[2017-06-02 06:06] mbeckenbach commented on #4673
@natsid this would make a lot oft sense for required radio groups vor checkboxes to show the error state and messages.

[2017-06-02 06:13] mbeckenbach opened #4926 "checkbox group"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
Similar to the multiple select, it should be possible to have a list of check boxes to select multiple options returned in a single array of choices. A required validator would check for at least one selection.

#### What is the current behavior?
Has to be made via select or custom logic.

#### What are th

[2017-06-02 06:19] mbeckenbach opened #4927 "Add general theme color css classes"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
A CSS class md-color-primary or md-background-color-primary to reduce the need for custom theme mixins. See material lite. They do this.

#### What is the current behavior?
You have to create custom theme mixins for this.

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best

[2017-06-02 06:25] antonpegov commented on #4916
I've already tryed all that. No way. I think something wrong with npm dependences.

[2017-06-02 06:41] atlabiz commented on #3842
I have project that needs collapse any help how I can achieve that with ANG4

I have this code so far and is not working
![sss](https://cloud.githubusercontent.com/assets/26713354/26713923/a0d3e8c8-4777-11e7-87db-ace552168903.PNG)

[code]

[2017-06-02 07:24] crisbeto commented on #4926
I believe that you're looking for a radio group, which is supported already.

[2017-06-02 07:39] #4916 closed

[2017-06-02 08:57] toxnico opened #4929 "md-select issue : md-option with [value]="0" will never be selected"
#### Bug, feature request, or proposal:
Bug.
<md-option [value]="0"> will never be selected if [(ngModel)] value == 0.

This behaviour is probably caused by [this line](https://github.com/angular/material2/blob/master/src/lib/select/select.ts#L585). Options with a falsy value are ignored.

#### What is the expected behavior?
md-option with value==0 must be selectable.

#### What is the current beh

[2017-06-02 09:19] crisbeto commented on #4929
Closing as a duplicate of https://github.com/angular/material2/issues/4854.

[2017-06-02 09:19] #4929 closed

[2017-06-02 09:31] toxnico commented on #4929
Oh sorry... I searched however :)

[2017-06-02 09:48] stevenlauwers22 commented on #4512
Updating VS2017 to version 15.2 did the trick for me.

[2017-06-02 09:52] fxck commented on #4922
https://github.com/angular/material2/pull/4900

[2017-06-02 11:40] borislemke opened #4930 "Implement Placeholder Text for MdInput as per material.io guideline"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
Able to add hint / helper text alongside label

#### What is the current behavior?
It is not possible to have a label AND helper text (or actual input placeholder) together.

![alt text](https://storage.googleapis.com/material-design/publish/material_v_11/assets/0B5ZSepuCX1xOT2Jzcm5LclUzTTg/placeholder.png

[2017-06-02 12:27] willshowell commented on #4918
As far as I can tell, this has been fixed in master (could be missing something though!). See this fork of @julianobrasil's plunker using the latest master snapshot:

https://plnkr.co/edit/hsnTByOYibEf0So120NE?p=preview

Also see https://github.com/angular/material2/pull/4649

[2017-06-02 12:55] csvn commented on #995
@gtzinos As mentioned in #3664, this is being worked on in #4191

[2017-06-02 12:58] csvn commented on #3664
This issue can probably be closed, since it's a duplicate of #995 now that this feature is being worked on by the Angular Material team.

@josephperrott Nice work! The API for the component in the demo looks great so far.

[2017-06-02 13:01] willshowell opened #4932 "Quickly closing a select panel leaves placeholder floating"
#### Bug, feature request, or proposal:
Bug

#### Current Behavior
![select-bug](https://cloud.githubusercontent.com/assets/6475576/26726590/a5c73f8e-4771-11e7-9412-31405ec36a62.gif)

#### Reproduction

https://plnkr.co/edit/PdkalTdHd4vXzNrzSzpI?p=preview

[2017-06-02 13:10] fetters5 commented on #4137
Any updates on a timeline for this by chance?

[2017-06-02 13:13] linuradu commented on #4534
Could someone help me how can I customize date format with md-datepicker?

I'm using:
<md-input-container class="whole-width">
              <input mdInput [mdDatepicker]="picker"
                     [(ngModel)]="contact.birthDate"
                     placeholder="Birthdate">
              <button mdSuffix [mdDatepickerToggle]="picker"></button>
            </md-input-container>
            <md-

[2017-06-02 13:14] julianobrasil commented on #4923
In fact it hapens at least in one more other component doc (input). Seems it's some kind of automatic doc generation with duplicates entries in the database.

[2017-06-02 14:00] zigzag95 opened #4934 "Change color of datetimepicker toggle"
#### feature request:
I would like to change the color of the datetime picker toggle. The default color is black and i see i'ts an image and not a font.

#### What is the expected behavior?
Add an attribute **[toggleColor]="Primary"**
`<md-datepicker #dateStart startView="year" [startAt]="start" [toggleColor]="Primary"></md-datepicker>`

[2017-06-02 14:07] willshowell commented on #4934
Related, you can't make it gray when disabled... I've been having to set the opacity instead

[code]

[2017-06-02 15:10] dhuallanca opened #4935 "IE11 tooltip doesn't work without web-animations"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Should display tooltip without web-animations.js

#### What is the current behavior?

Tooltip display randomly

#### What are the steps to reproduce?

https://plnkr.co/edit/KWtVa3v8S22NS6yUQx1L?p=preview

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of Angular, Materi

[2017-06-02 15:15] jelbourn commented on #4137
@IgorMinar and @kara are actively working on it.

[2017-06-02 15:24] DevVersion commented on #4576
Should be fixed. Thanks

[2017-06-02 15:24] #4576 closed

[2017-06-02 15:28] jelbourn commented on #3664
Closing into #995

[2017-06-02 15:28] #3664 closed

[2017-06-02 15:35] dhuallanca opened #4936 "Tooltip doesn't display inside input-container"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
should display tooltip

#### What is the current behavior?

Tooltip doesn't display on mouse over
#### What are the steps to reproduce?

https://plnkr.co/edit/NFyqhLB7hcFg5S87oFLe?p=preview

#### What is the use-case or motivation for changing an existing behavior?
Expected end-user behaviour to show tooltip for input

[2017-06-02 16:45] willshowell commented on #4936
The input placeholder has `pointer-events: none` preventing hover from triggering the tooltip. Read more here https://github.com/angular/material2/issues/4167.

If you don't care about native input capabilities as mentioned in #4167, you can use a workaround kinda like this in your css

[code]

[2017-06-02 17:22] willshowell commented on #4914
Do you suppose the position strategy could be more flexible to support something like

* connect to `bottom` of `underlineRef`
* fallback to `top` of `inputContainer`

[code]

[2017-06-02 17:28] crisbeto commented on #4914
I can see how adding that to the API could be useful, but I'm not sure that it would help here either. Positioning it to the top of the container would still add a lot of space to the panel offset due to the space that is reserved for the floating label.

[2017-06-02 18:20] jelbourn commented on #4922
Yep, see #4900 (and the just the readme when it's merged)

[2017-06-02 18:20] #4922 closed

[2017-06-02 18:40] kyleledbetter opened #4938 "[Bug]: md-card-lg-image doesn't apply css class"
#### Bug, feature request, or proposal:
Bug, there's no brackets around:
[code]
so it doesn't apply the class="mat-card-lg-image"
https://github.com/angular/material2/blob/a2000246f51c8779443715b887b001468b89480c/src/lib/card/card.ts#L100

#### What is the expected behavior?
Expected `<img md-card-lg-image` to apply `<img class="mat-card-lg-image"`

#### What is the current behavior?
Applies `<md

[2017-06-02 19:41] robindijkhof opened #4940 "maxLength on input not working for `type="number"`"
#### Bug

#### What is the expected behavior?
maxLength should work for input type number.

#### What is the current behavior?
It doesn't work

#### What are the steps to reproduce?
https://plnkr.co/edit/Fn3W5yPofeNFtXZCynpW?p=preview

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of Angular, Material, OS, TypeScript, browsers are affected?
Materia

[2017-06-02 19:41] robindijkhof opened #4941 "input type number allow any character in Firefox"
#### Bug

#### What is the expected behavior?
With input type number I should see characters like 'aaa'

#### What is the current behavior?
I can type any cahracter

#### What are the steps to reproduce?
https://plnkr.co/edit/Fn3W5yPofeNFtXZCynpW?p=preview

Type 'aa' for example

#### What is the use-case or motivation for changing an existing behavior?

#### Which versions of Angular, Material, O

[2017-06-02 19:43] donroyco commented on #4940
Dupe of #1934

[2017-06-02 19:52] taokakao commented on #3005
I am still facing issue even with timeout hack. Is there anything else can be done to fix?

[2017-06-02 20:41] tinayuangao commented on #4782
@THLAP Any special reason you need to put `input-container` inside a radio button group?

You can add `(change)="$event.stopPropagation()"` to `input-container`. Example: http://plnkr.co/edit/taAAI2hDKrsNzOVqJQzl?p=preview

[2017-06-02 20:49] tinayuangao commented on #4768
This svg is part of the material design spec: https://material.io/guidelines/components/selection-controls.html#selection-controls-checkbox

[2017-06-02 20:50] russelltrafford commented on #2113
in Dec 2016 there was a post from @jelbourn saying there will be an official blog post on this, could a link be provided, as that would help a lot :)

[2017-06-02 20:52] #4910 closed

[2017-06-02 21:24] goelinsights commented on #581
@andrewseguin Read through the design document and I didn't see any mention of columns (other than sticky columns).

Common UI element for data tables is sorting / ordering by the column. Is a vertical (and not just row-driven horizontal) set of tools something on the roadmap/ design objectives?  It's a common feature I use all the time in AdWords (ie sorting column by # of impressions or clicks),

[2017-06-02 21:32] goelinsights commented on #581
@andrewseguin didn't see it in the design doc but I saw the sortable component in your branch.

Do you address column-level interactions in the design docs? Was curious to what extent the initial design would be able to capture things like sums, counts, averages, sorts, etc

[2017-06-02 22:17] KevinGruber commented on #4171
Not fixed with #3864 still happening.
current Version beta.6

Looks like the overlay container is exactly 32px to the left because the 32px from the  checkboxes a re not added to the position left. (they are added to the width though...

[2017-06-02 22:36] josephperrott commented on #4941
Any character can be typed into the input field in Firefox due to the implementation choice within Firefox.  Firefox allows the entry of the non-number characters but notes it as invalid within the form.

You should be able to prevent the input of non-number characters by listening to events on the input.  `<input type="number" (keypress)="checkIfNumber($event)">`

[2017-06-02 22:37] #4940 closed

[2017-06-02 23:44] jelbourn commented on #4884
See #995

[2017-06-02 23:44] #4884 closed

[2017-06-02 23:47] jelbourn commented on #4866
Yeah, adding it to the caret position would be cool, probably would need a different `PositionStrategy` for that. For now I don't see why it can't be on `textarea` as well if you want to send a PR

[2017-06-02 23:49] jelbourn commented on #4923
Probably a bug in the [categorizer](https://github.com/angular/material2/blob/master/tools/dgeni/processors/categorizer.js).

[2017-06-02 23:51] jelbourn commented on #4941
[What @josephperrott said.](http://jsbin.com/qijumuyeka/edit?html,output)

[2017-06-02 23:51] #4941 closed

[2017-06-02 23:55] jelbourn commented on #4936
This is working as intended. The floating placeholder for the input should not have any interactions applied to it.

[2017-06-02 23:55] #4936 closed

[2017-06-02 23:58] jelbourn commented on #4926
Not sure this is common enough of a pattern to warrant including in Angular Material

[2017-06-02 23:59] jelbourn commented on #4918
Should be fixed in #4649 and included with the next release

[2017-06-02 23:59] #4918 closed

[2017-06-03 00:01] jelbourn commented on #4913
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-06-03 00:01] #4913 closed

[2017-06-03 00:02] jelbourn commented on #4903
Right now we don't plan an officially making any of the individual component scss variables part of the public API. We may revisit this in the future.

[2017-06-03 00:02] #4903 closed

[2017-06-03 00:15] jelbourn commented on #4890
We'd consider this something that would live in user-space.

[2017-06-03 00:15] #4890 closed

[2017-06-03 00:27] jelbourn commented on #4881
We do this exact thing on our guides page: https://material.angular.io/guides
https://github.com/angular/material.angular.io/blob/master/src/app/pages/guide-list/guide-list.html

Not seeing any delay there; likely something within your app.

[2017-06-03 00:27] #4881 closed

[2017-06-03 00:29] jelbourn commented on #4874
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-06-03 00:29] #4874 closed

[2017-06-03 01:17] dhuallanca commented on #4936
css workaround works well for IE, Chrome, but it doesn't work for safari on iphone.

[2017-06-03 04:34] xuanshenbo opened #4942 "[Tooltip] Do not hide overlay while tooltip is hovered"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
An option that allows not close tooltip when mouse hovers over tooltip.
Something like: https://www.w3schools.com/css/tryit.asp?filename=trycss_tooltip

#### What is the current behavior?
The tooltip is immediately shown when the user's mouse hovers over the element. The tooltip immediately hides when the

[2017-06-03 06:22] crisbeto commented on #4171
I don't see the issue @KevinGruber. With the old behavior this would've gone outside the viewport:

![a](https://cloud.githubusercontent.com/assets/4450522/26751272/b5a83a06-4835-11e7-9657-ac2ee85a2a70.gif)

[2017-06-03 06:32] KevinGruber commented on #4171
@crisbeto That is the original Problem the author had.
Not the second with the out of screen.

It seems as I said that the checkbox is added on the left.  and then the 32px are missing on the right because the overall overlay width is not accounting the checkbox.

![bug_select_multiple](https://cloud.githubusercontent.com/assets/7003466/26751334/f16a8d22-4836-11e7-88d2-ddd43ae496f3.gif)

[2017-06-03 06:54] crisbeto commented on #4171
Ah thanks, I understand now. The extra 32px are intentional, because they allow the selected option to align with the label text, which is according to the Material spec. We do the same on the single-selection `md-select`, but it's less noticeable.

[2017-06-03 07:01] KevinGruber commented on #4171
Ahh ok. But can you not extend the overlay by 32px to the right to be aligned and not looking awkward.

[2017-06-03 07:25] crisbeto commented on #4171
Yes, extending the overlay definitely makes sense. I'll open another issue to keep track of it.

[2017-06-03 07:26] KevinGruber commented on #4171
👍 Thanks

[2017-06-03 07:29] crisbeto opened #4943 "Select overlay in multiple mode needs to extend further"
This is based on the discussion from https://github.com/angular/material2/issues/4171: because the left offset of a select in multiple mode is larger, we need to increase the overlay width to allow it to overlap the entire trigger.

[2017-06-03 07:47] George35mk commented on #4884
@jelbourn thnx for starting to working in collapsible,

[2017-06-03 08:15] Halynsky opened #4944 "sidenav doesn't work, 'open' method bug"
#### Bug, feature request, or proposal:
Bug is heppening when I try to call 'open' function of the sidenav

#### What is the expected behavior?

Sidenav content is shown on page

#### What is the current behavior?

Script error, sidenav content isn't shown on page

#### What are the steps to reproduce?

You can reproduce similar bug at https://material.angular.io/components/component/sidenav

http

[2017-06-03 08:58] DevVersion commented on #4760
@mmalerba I didn't plan to do that when I initially created the design doc.

We had something similar in Material 1.x and it required us to have a different directive called `md-content`.

Still I think it's a useful feature and maybe we should consider creating another design doc just for this.

[2017-06-03 09:04] crisbeto commented on #4944
I couldn't reproduce it in master. You can try out the latest build to see if it helps:

[code]

[2017-06-03 10:14] dahaupt commented on #4944
Then it should be fixed in the docs site here https://github.com/angular/material.angular.io .

[2017-06-03 10:16] crisbeto commented on #4944
The examples from the docs are hosted in this repo and they seem to work against master.

[2017-06-03 10:30] crisbeto commented on #4932
This seems like an issue with `@angular/animations`. The placeholder still fires all the events as if it animated down, while not actually animating.

[2017-06-03 12:54] SimplerSoftware opened #4948 "MdTextareaAutosize: textarea control not sized correctly when number of lines is an odd number"
#### Bug, feature request, or proposal:
Bug:  When using the MdTextareaAutosize with a textarea and the number of lines that the text occupies is an odd number, the control size is slightly too small and scroll bars appear.

#### What is the expected behavior?
The control should be resized such that scroll bars never appear.

#### What is the current behavior?
Described above in the bug.

#### Wha

[2017-06-03 13:11] henriqueweiand opened #4949 "Input and select misaligned"
#### Bug, feature request, or proposal:

Bug

![sem titulo](https://cloud.githubusercontent.com/assets/6539492/26753776/569cd7e2-4844-11e7-93b9-9568bae72566.png)

#### What is the expected behavior?

Alignment according to another field

#### What is the current behavior?

Misaligned

#### What are the steps to reproduce?

https://embed.plnkr.co/cqdmVrghMOpUOYESWySg/

#### Is there anything else w

[2017-06-03 13:22] crisbeto commented on #4949
https://github.com/angular/material2/pull/4788 got merged in yesterday and addresses this issue.

[2017-06-03 13:22] #4949 closed

[2017-06-03 13:32] SimplerSoftware opened #4951 "Autocomplete: when using the keyboard to navigate the options, the currently focused item should be the 'selected' option"
#### Bug, feature request, or proposal:
Feature request

#### What is the expected behavior?
When using the keyboard to navigate through the options, as the focus changes from one option to another, the selected option should be the currently focused option, thus following the "selection follow focus" principle as stated in the Material docs [here](https://www.w3.org/TR/wai-aria-practices/#kbd_sel

[2017-06-03 16:48] julianobrasil commented on #4948
It seems ok:

![image](https://cloud.githubusercontent.com/assets/25405143/26755418/416be0c4-4863-11e7-95ec-543c0279500d.png)

[2017-06-03 18:09] SimplerSoftware commented on #4948
Interesting... this is what I see:

![image](https://cloud.githubusercontent.com/assets/11198735/26755961/53ea758e-4855-11e7-81c9-98bfd0bb2914.png)

I'm using Chrome Version 58.0.3029.110 (64-bit):

![image](https://cloud.githubusercontent.com/assets/11198735/26755968/73078e5c-4855-11e7-85c4-c42846723302.png)

[2017-06-03 19:14] julianobrasil commented on #4948
Tried resizing the browser window to see if it behaves different, but nothing. The vertical scroll bar isn't shown here.

By the way, I'm using the same chrome version, with different language:

![image](https://cloud.githubusercontent.com/assets/25405143/26756361/413b6868-4877-11e7-8b96-8f96e1046cc1.png)

[2017-06-03 19:27] pas2al commented on #4881
Ok, thanks for having a look on it.

[2017-06-03 19:56] rafaelss95 opened #4955 "[Bug] Datepicker shows incorrect month"
#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
The datepicker should open at the correct month.

#### What is the current behavior?
Datepicker doesn't display the correct month if you use a custom locale like this: `this.dateAdapter.setLocale('pt-BR');` and select a day **lower** than 13.

#### What are the steps to reproduce?
Select a day **lower** than 13 and o

[2017-06-03 20:02] DevVersion commented on #4923
Looks like due to the recent changes in the `dgeni-packages` repository `getters` and `setters` are counting twice and therefore they are showing up twice in the docs.

We can filter duplicate properties for now.

cc. @petebacondarwin

[2017-06-03 20:08] julianobrasil commented on #4955
Dupe of #4832. Take a look at that. You'll have to build up your adapter.

[2017-06-03 20:12] julianobrasil commented on #4955
In fact, just copy the [one provided by the Angular team](https://github.com/angular/material2/tree/master/src/lib/core/datetime) here in the github and customize it a little bit:

[code]

and change the parse function:

[code]

[2017-06-03 22:58] rafaelss95 commented on #4955
Hi @julianobrasil, I saw that issue and that's why I found the `setLocale` (I haven't found anywhere else)...

In my opinion, I don't need to build my own adapter since almost everything are being correctly displayed. The only issue that I'm facing is that you can in plunker:

1 - Select a day lower than 13;
2 - Open the datepicker... you'll see that it'll open in a different month.

I really don'

[2017-06-03 23:09] julianobrasil commented on #4955
It's the parse function. And that's why you need to build your adapter. By
default, it expects the english Format (month/data/year) date at the input
(and that is also the reason the problem apears to be just in days greater
than 12 (the parser thinks that number is a month).

Em 3 de jun de 2017 7:58 PM, "Rafael Santana" <notifications@github.com>
escreveu:

[2017-06-03 23:42] julianobrasil commented on #4955
Take a look at this plunker, it's working: https://plnkr.co/edit/FlgGpjqyDlypas0VZJzo?p=preview

[2017-06-04 03:22] lax20attack commented on #4515
Very simple to reproduce. Forked plunker from example:

<md-grid-list cols="5">
  <md-grid-tile [rowspan]="1" [colspan]="3">1</md-grid-tile>
  <md-grid-tile [rowspan]="2" [colspan]="2">1</md-grid-tile>
  <md-grid-tile [rowspan]="1" [colspan]="2">1</md-grid-tile>
  <md-grid-tile [rowspan]="2" [colspan]="2">1</md-grid-tile>
</md-grid-list>

https://plnkr.co/edit/99ejRWyOWATQsI5ivBCs?p=preview

[2017-06-04 04:53] mackva commented on #4673
+1

[2017-06-04 13:01] SimplerSoftware commented on #4948
I used icognito mode in Chrome and turned off all extensions with the same result.  Also just tried IE 11 and it looks like it might be working?  It looks like there's scroll buttons but they're disabled and I think this might just be the default behavior of IE.  However, it doesn't show the little icon in the bottom right corner that allows you to drag and resize the textarea:

![image](https://c

[2017-06-04 13:15] julianobrasil commented on #4948
Except for the chrome vertical scroll bar, the other browsers here show the same behavior seen in your images.

I also use Window 10 with 1920 x 1080 resolution screen.

[2017-06-04 16:15] zanderle opened #4961 "Documentation is not in sync with latest build"
#### Bug, feature request, or proposal:
Feature request or proposal

#### What is the expected behavior?
I'd expect documentation to either explicitly state that it's showing whatever is on master (and not the latest build). Or even better, show what's on the latest build instead.

#### What is the current behavior?
Currently, the documentation is on master.

#### What are the steps to reproduce?

[2017-06-04 17:35] MadUser commented on #823
What do you mean by flexible height,
Do you expect the repeater to calculate the height by itself and assume that all items has the same height
or you wish for every item to have it's own different height?
I am asking because I already implemented this component and the former wish is crazy.
The first is simple though, before creating the components loop, just build the first component and then ca

[2017-06-04 18:45] henriqueweiand commented on #4949
@crisbeto

Test with the most recent version that you commented that could have corrected and seems to me to remain the same ... see:

[http://embed.plnkr.co/o077B6uEiiIgkC0S06dd/](http://embed.plnkr.co/o077B6uEiiIgkC0S06dd/)

![print](https://cloud.githubusercontent.com/assets/6539492/26764412/d302db4e-493c-11e7-8f5e-512954850a78.png)

[2017-06-04 18:48] crisbeto commented on #4949
Seems like that Plunkr is empty. Can you post it again?

[2017-06-04 19:17] henriqueweiand commented on #4949
@crisbeto , Sorry, continue again

[http://embed.plnkr.co/DXq5ZNNyhtBeSrjayiC3/](http://embed.plnkr.co/DXq5ZNNyhtBeSrjayiC3/)

[2017-06-04 19:27] crisbeto commented on #4949
You can get them to (mostly) align if you add `align-items: baseline` to the container. It seems like our baseline is still ~1px off though @mmalerba.

[2017-06-04 21:38] DevVersion commented on #4764
@mmalerba Yeah it's kinda related to missing margin on the checkbox.

The absolute ripple container exceeds the boundaries of the `md-checkbox` element and therefore causes the scrollbars to appear.

In general I thought that all of our components should not have any outer-margin set by default.

[2017-06-04 21:42] DevVersion commented on #3640
Thinking about this more. I don't think every selector needs to be added to the compatibility module?

For example the `md-slide-toggle` selector would not interfere with any Material 1.x component.

[2017-06-04 21:48] George35mk opened #4963 "Oficial website , Sidenav example page have problems look at http..."
#### Bug, feature request, or proposal:

bug
#### What is the expected behavior?

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

https://material.angular.io/components/component/sidenav
![fffffffffffff](https://cloud.githubusercontent.com/assets

[2017-06-04 21:49] DevVersion commented on #2868
This seems to be unnecessary now. Especially since we don't depend on the typings anymore.

[2017-06-04 21:49] #2868 closed

[2017-06-04 21:50] Todd-Werelius commented on #860
@jefersonestevo, outside of a couple of minor timing issues really nice components

[2017-06-04 21:54] DevVersion commented on #4963
Thanks for the issue. Should be fixed by https://github.com/angular/material2/commit/1d7b7520f5ce39a090f88eee0e4f054790395adb

[2017-06-04 21:54] #4963 closed

[2017-06-04 21:56] George35mk commented on #4963
no problem I am glad to help

[2017-06-04 23:22] julianobrasil commented on #4862
@Kyderman, take a look at this: https://github.com/angular/material2/issues/4955#issuecomment-306008040

[2017-06-05 00:46] mmalerba commented on #4949
I just re-did the `md-input-container` to make all the spacing match the spec. We need to do a similar treatment for the `md-select`. Actually ideally we should refactor it so that the same CSS styles can be shared by the two components.

[2017-06-05 00:49] mmalerba commented on #4764
@DevVersion This is mostly true, but it might make sense to wrap it in an extra `div` and add some padding, since it looks kind of bad when the ripple overflows. The `md-input-container` does this, that way the component supplies the minimum required "margin" and the actual margin is reserved for additional space the user may want to add

[2017-06-05 01:35] stevenmi opened #4966 "proposal:add galleria"
#### Bug, feature request, or proposal:
proposal

#### What is the expected behavior?
https://www.primefaces.org/primeng/#/galleria

#### What is the current behavior?
none

#### What are the steps to reproduce?
it's an awesome component for show  pictures list

#### What is the use-case or motivation for changing an existing behavior?
 show  pictures list

#### Which versions of Angular, Material

[2017-06-05 01:56] HopScotch47 commented on #4832
@mmalerba I would like to add something into the consideration.

I am also in one of the dd/mm/yyyy locales and therefore went and created a date adapter for momentjs since I already use this library in my project.

This all works fine as long as the locale stays the same within the application.
The parse function receives the format string from the override of MdDateFormats but this is a constant

[2017-06-05 02:39] Klaster1 commented on #823
@MadUser customizable height calculation function might be good enough. Default implementation will measure first item or use number value from binding/config object. If you can calculate each item dimensions reliably, variable size will work. For example, if each virtual list item is another list of items of predefined size, just multiply item height and items amount (in simpliest case).

[2017-06-05 03:43] jhoncamargo commented on #1491
Thank you @zurfyx, I had the same problem and I solved it adding the entryComponents tag in the main module.

[2017-06-05 05:04] zealitude opened #4967 "[Tooltips] Cannot dismiss multiple times in IE"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
Tooltip show and dismiss nornally

#### What is the current behavior?
Tooltip cannot dismiss when mouse move in and out > 2 times

#### What are the steps to reproduce?
mouse move in and out > 2 times to the icon button in IE

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
http:/

[2017-06-05 06:32] gedclack commented on #4657
+ 1 :+1:
something is wrong with `mdTextareaAutosize`

[2017-06-05 06:35] gedclack commented on #3346
`+1` :+1:
This problem occurs especially when `mdTextareaAutosize` is present.

[2017-06-05 06:46] e-cloud opened #4968 "[md-slide-toggle] setting default value to true brings pristine: false"
#### Bug, feature request, or proposal:
BUG

#### What is the expected behavior?
default value with `true` should not affect the pristine state

#### What is the current behavior?
pristine state is changed

#### What are the steps to reproduce?
http://plnkr.co/edit/cCqjrY62mF1WKBSFPWeH?p=preview

#### What is the use-case or motivation for changing an existing behavior?
Current behavior is somehow

[2017-06-05 07:48] fxck opened #4969 "button-toggle alignment and material.angular.io issues"
1) combination of text and icon is not aligned well

![image](https://cloud.githubusercontent.com/assets/1303561/26775165/e901cea4-49d3-11e7-8799-37268654e81a.png)

2) styles in overview on material.angular.io are broken, or not working
![image](https://cloud.githubusercontent.com/assets/1303561/26775187/05477ed8-49d4-11e7-8933-f536701d6906.png)

[2017-06-05 07:57] fxck commented on #3192
![image](https://cloud.githubusercontent.com/assets/1303561/26775471/6543703e-49d5-11e7-851e-df0d278657be.png)

@jelbourn is this the same issue?

[2017-06-05 08:23] Ploppy3 commented on #3192
@fxck that's the issue that I'm reporting.

[2017-06-05 08:24] fxck commented on #3192
I couldn't tell, the plunker you linked doesn't work anymore.

[2017-06-05 09:39] invaderdevil commented on #508
Hi is there any way to change the numbered svg icons to png images ?

[2017-06-05 10:42] julianobrasil commented on #4969
The styles ara a little bit strange in sidenav too at [material.io](https://material.angular.io/components/component/sidenav).

Also the sidenav is not working there too (already reported in #4944).

![image](https://cloud.githubusercontent.com/assets/25405143/26780971/8aba6e48-49c2-11e7-8369-bd835d9088e9.png)

[2017-06-05 12:13] atlabiz opened #4972 "We nead text helper for long texts like this example"
#### Bug, feature request, or proposal:

## feature request

#### What is the expected behavior?

add 2 dodts in the end of long text

#### What is the current behavior?

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Plunker template: https://goo.gl/DlHd6U

![sfsdfdsfds](https://cloud.githubusercontent.com/assets/267133

[2017-06-05 12:31] CDDelta commented on #4972
You can do this via css with:
[code]
Nothing specific to the material library. Also add this to your styles.css file if you want it to apply globally.

[2017-06-05 12:32] PhanindraKumar commented on #4623
does is there any work around for this feature ?

[2017-06-05 12:57] Ploppy3 commented on #3192
@fxck because they broke it once more.

[2017-06-05 13:46] ocarreterom commented on #4623
Related with https://github.com/angular/material2/issues/2177?

[2017-06-05 14:26] vibingopal opened #4973 "Redirect to specific tab on operation from current tab"
#### Bug, feature request, or proposal:
Hi Team,

I am trying to work on redirecting the user control to specific tab on operation but not able to implement it.

#### What is the expected behavior?
We have three tabs for user operation. When user performs an operation on tab1 and the service returns success, i need to redirect the user to tab 3.But right now i am unable to do it.

material: 2.0.0-

[2017-06-05 15:51] jelbourn commented on #3640
@DevVersion the goal is more to ensure that people don't mix `md-` and `mat-` in one app.

[2017-06-05 15:52] DevVersion commented on #3640
@jelbourn So this means that basically every selector should be added to that list?

The name indicated for me that it was for compatibility only. Also I was confused because the for example the `slide-toggle` was not added there.

[2017-06-05 15:54] MubbleAnkur commented on #1982
I did some digging in Material icon **css**
And i found out that the **height**  and **width**  property of icon causing this behaviour
so In order to correct it, you have to explicitly set the height and width property equal to the **font-size** property in order to center the md icon

[2017-06-05 15:57] jelbourn commented on #3640
Pretty much- don't worry about working on this right now, though. This is a really low priority idea.

[2017-06-05 16:34] shlomiassaf commented on #581
@goelinsights , I **think** this is a customisation that is out of the scope for the data-table, the core one at least.

Since the datasource is provided by the user, as well as filtering, pagination, sorting etc... it is fairly trivial to support these requirements on the datasource or on an external helper.

You can display these as a footer...

[2017-06-05 16:39] MaximoNeich opened #4975 "Bug dropdwon select"
#### Bug, feature request, or proposal:
When it's clicked the select, if the list doesn't fit below the select the list is not shown.

#### What is the expected behavior?
In this case, the list should be located above the select

#### What is the current behavior?
The list doesn't appear when it doesn't fit between the select and the bottom of the screen

#### What are the steps to reproduce?
Here

[2017-06-05 16:55] #4972 closed

[2017-06-05 16:56] jelbourn commented on #4966
We have no plans to add a component like this.

[2017-06-05 16:56] #4966 closed

[2017-06-05 16:57] jelbourn commented on #4961
Ah, that was a mistake on my part. I pushed the docs to fix the datepicker API being missing, but forgot to check for APIs that should have been omitted. This will all be improved when we make our docs publishing more automated.

[2017-06-05 17:05] nasht00 opened #4976 "Create tutorial on building an Angular Material app"
The Getting Started guide explains how to install and setup angular-material. But not really how to get started. What's next? How do I "use" it?

Does it assume you already know how to use Material? If so, it should say so.

Does it work the same way as vanilla Material? What does this integration do? What's different?

[2017-06-05 17:48] damiendube commented on #823
I'm currently using this one: https://github.com/rintoj/angular2-virtual-scroll
Works great

[2017-06-05 18:26] skoblenick opened #4977 "Bug: md-datepicker max and min result in validation error"
#### Bug, feature request, or proposal:
bug

#### What is the expected behavior?
Selecting the max or min date would not result in an error in the form validators. If the max date should be excluded then the calendar should disable greater than or equal to the max date. If the max date is inclusive the input should be less than or equal to the selected date.

Min date should also validator in a si

[2017-06-05 18:47] goelinsights commented on #581
@shlomiassaf are you speaking for the core team?

The top column-level feature I'm looking for, which seems like it would be a broad use case (incl something I use often in Adwords) is a sort by ASC/ DESC column widget (usually a carrot icon).

I can't imagine why it would be easier for each of us to hack our own than there be an API for this built into the material table that they'll need to do a

[2017-06-05 18:59] neekers commented on #4977
Yeah it needs to include TIME in the validation. :)

[2017-06-05 19:22] skoblenick commented on #4977
Can you provide an example? There is nothing in the documentation around this.

[2017-06-05 19:42] shlomiassaf commented on #581
@goelinsights I speak for myself, not for anyone else.

Your posts talks about sums, subtotals, averages, counts and sort, not only for  `a sort by ASC/ DESC column widget` so my answer was for that.

My opinion is that `CdKTable` will not include those, common as they might be, since `CdkTable` is not intended for that that purpose.

It is likely the a following `MdTable` implementation will incl

[2017-06-05 19:50] ngmgit commented on #4976
It already has a documentation. And I think demo app covers most of the stuff to get started with using different components of material, search the demo-app folder inside src of this repo.
And demo app also make it clear on how we can import it into our app if you are new to angular 2.

[2017-06-05 20:43] DanRibbens commented on #4574
My personal favorite is that setting config.height to 100% will leave you with 35% of the bottom of the dialog as useless whitespace. Why is this not dynamic like how ng-material does it with flex box?

[2017-06-05 20:48] csvn commented on #2616
If I install `@angular/material` and uninstall `@angular/http` in a fresh cli project, `ng serve` wont compile. Is this by design? I expected that the http package did not need to be installed due to it being removed from `peerDependencies` in 3792.

(I get similar errors with `@angular/animations`. Only core/common packages are in `peerDependencies`, even though TS/Webpack require http and animat

[2017-06-05 20:50] ethanroday commented on #4385
@jelbourn The latest version of UC Browser (~10% share WW) uses the older `--webkit-box` implementation for flex layouts (http://caniuse.com/#search=flexbox). Would you consider adding that back into your autoprefixing?

[2017-06-05 20:52] julianobrasil commented on #4977
Duplicate: #4918, will be fixed in the next release.

[2017-06-05 21:05] neekers opened #4978 "Datepicker not validating to a valid date"
#### Bug, feature request, or proposal:
When entering in any other valid besides a date doesn't produce an error

#### What is the expected behavior?
Should get a date format error triggered or the valid property of the control should be false

#### What is the current behavior?
Input field accepts anything. Number, string, date. No error is produced and the value of the control is null. Hard to d

[2017-06-05 21:42] #4774 closed

[2017-06-05 21:42] #4815 closed

[2017-06-05 21:44] #4844 closed

[2017-06-05 21:44] #4864 closed

[2017-06-05 21:44] #4854 closed

[2017-06-05 21:45] #4737 closed

[2017-06-05 21:45] #4738 closed

[2017-06-05 21:46] #4852 closed

[2017-06-05 21:46] #4935 closed

[2017-06-05 21:49] jelbourn commented on #2616
@csvn please file a new issue

[2017-06-05 21:50] #4923 closed

[2017-06-05 22:30] dahaupt commented on #4975
@MaximoNeich You should really provide a plunker to reproduce your issue. Otherwise, it will probably get closed.

Plunker template: https://goo.gl/DlHd6U

[2017-06-05 22:36] dahaupt commented on #4973
`@Input()
selectedIndex
` this directive of the `MdTabGroup` can help you.

https://material.angular.io/components/component/tabs

For that kind of questions you can use our gitter channel here: https://gitter.im/angular/material2

[2017-06-05 23:13] #4973 closed

[2017-06-05 23:23] andrewseguin commented on #4942
You're right that the hide delay doesn't help here since interactions outside of the trigger (e.g. selecting the tooltip text) will hide the tooltip immediately. We'll need to come back to this another time once we figure out if this fits the general tooltip material design.

[2017-06-05 23:26] andrewseguin commented on #4944
Note that the plunker example works fine. https://plnkr.co/edit/XClj0iC8G9JDZTU7gkCf?p=preview

Looks to be an issue with the docs site or the particular build of material it is using

[2017-06-05 23:30] #4975 closed

[2017-06-05 23:32] andrewseguin commented on #4976
We could probably add one more step that shows what it's like to add a material button. For your case, check out any of the components listed on material.angular.io, e.g. `<button md-raised-button>Raised button</button>`

[2017-06-06 00:39] mmalerba commented on #4832
@HopScotch47 with moment, just use one of the formats that supports multiple locales: https://momentjs.com/#multiple-locale-support If that's not good enough please open a separate issue describing your situation

[2017-06-06 00:40] jelbourn opened #4979 "Move sanity checks from CompatibilityModule to MdCommonModule"
We originally used `CompatibilityModule` because ti was already included everywhere, but now we have `CommonModule` which is a better place for these checks.

[2017-06-06 01:00] #4955 closed

[2017-06-06 01:03] mmalerba commented on #4977
Closing as dupe

[2017-06-06 01:03] #4977 closed

[2017-06-06 01:15] mmalerba commented on #4978
The `NativeDateAdapter` just attempts to parse whatever you input into a `Date`, If you want different parsing behavior you can create a custom `DateAdapter` (see docs). As for the issue of considering input that fails to parse as `null` this is in line with what `type=number` inputs do when given a value such as `'e'` that fails to parse to a number. If you're writing your own `DateAdapter` you c

[2017-06-06 01:26] jofftiquez commented on #474
Guys what happened to the "This feature will be added"? :( I'm thinking of switching to Vue coz of it's material framework. Material 2 should be updated.

[2017-06-06 03:23] fbsstar opened #4980 ""MdInputDirective" has no "focus" method"
#### Bug, feature request, or proposal:

Might be a bug.

#### What is the expected behavior?

"MdInputDirective" could call focus

#### What is the current behavior?

Could not call "focus" after getting "MdInputDirective"

#### What are the steps to reproduce?

Template is

`<md-input-container >
	  <input  mdInput  placeholder="Owner" #owner>
</md-input-container>`

TS is

ViewChild('owner') ow

[2017-06-06 06:55] dineshdedhia opened #4981 "angular material md-radio-button checked property not working"
https://plnkr.co/edit/i16t1B8RgXfwQe57KQy1?p=preview

[2017-06-06 08:25] donroyco commented on #4981
@dineshdedhia Please update your issue with the issue template.

[2017-06-06 08:55] fxck commented on #4980
Provider a plunker reproduction.

[2017-06-06 09:01] fxck commented on #4981
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are Stack Overflow, gitter, mailing list, etc.

1. you are setting "checked" to ALL radio buttons, which is impossible
2. why would you use "checked" when you are using ngModel

[2017-06-06 09:38] MaximoNeich commented on #4975
i had the css class .cdk-overlay-container with height: 2000px. I changed it to 100% and works fine

[2017-06-06 09:46] macjohnny commented on #3968
FYI this problem is solved with angular 4.2.0-rc.2, see http://embed.plnkr.co/qOuzoM/

[2017-06-06 09:52] radoslavpetranov commented on #4094
Thanks @jefersonestevo - was having the same issue and resolved it with your fix. Looking forward for the MD guys to release the much awaited "onOptionSelected" and "onBlurWithNoSelection" events!

[2017-06-06 09:53] macjohnny opened #4982 "Bug(MdTabs): Translate animation not working in IE 11 / Edge"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When changing tabs, the content should be animated to translate to the left or to the right.

#### What is the current behavior?
In IE 11 / Edge

#### What are the steps to reproduce?

http://embed.plnkr.co/bXpnE7/

#### Which versions of Angular, Material, OS, TypeScript, browsers are affected?
Angular 4.1.3, Materia

[2017-06-06 09:57] macjohnny commented on #4982
This should probably solved similar to MdSidenav:
https://github.com/angular/material2/blob/master/src/lib/sidenav/sidenav.ts#L509

[2017-06-06 10:38] crisbeto commented on #4982
You need to include a [polyfill for web animations](https://www.npmjs.com/package/web-animations-js), if you want most of the Material animations to work under IE.

[2017-06-06 11:19] macjohnny commented on #4982
@crisbeto you are right, i forgot to include the polyfill in the plunkr. However, the problem still remains even with the polyfill. I am currently investigating the issue with a simple plunkr example:
https://plnkr.co/edit/AnLKIlfuz5S6siBZQTIY?p=preview
it seems that this one does not work in IE either. so it might be related to the angular animations API.
What is strange though is the fact that w

[2017-06-06 11:23] sneha1990 opened #4983 "Proposal(slide-toggle): design of ripple effect in Md-Slide should improve"
#### Bug, feature request, or proposal:
In Md-Slide ripple effect is overlapping on label text that is displayed besides slider icon.

#### What is the expected behavior?
There should be space alignment between ripple effect of Md-slider & label text that displayed besides slider icon.

#### What is the current behavior?
Current behavior is overlapping shadow of ripple effect on label text.
![ripp

[2017-06-06 12:06] latchuk opened #4984 "side-nav example is not working in the site documentation"
In the site documentation of side-nav https://material.angular.io/components/component/sidenav the exemplo is not working.
About 5 days ago the site was working, but not now.
It's only the exemplo in the site documentation with a bug or was the component side-nav code changed?

[2017-06-06 13:02] willshowell commented on #4984
Dupe of https://github.com/angular/material2/issues/4944

[2017-06-06 13:43] naoufelus opened #4985 "Bug (mdDatepicker) Date editing problem"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
When editing the date, the selected value is incorrect and this is due to the language of the browser used.

#### What is the current behavior?
![fireshot capture 397 - plunker - https___plnkr co_edit__p preview](https://cloud.githubusercontent.com/assets/5398659/26830254/207a11ba-4ac0-11e7-8120-2b1b6ee04c6c.jpg)

[co

[2017-06-06 14:01] macjohnny commented on #4982
@crisbeto see also https://material.angular.io/components/component/tabs as an example

[2017-06-06 14:02] macjohnny commented on #4982
the issue here in material is most probably due to a bug in angular: https://github.com/angular/angular/issues/17239

[2017-06-06 14:04] willshowell commented on #4985
Maybe this discussion will help https://github.com/angular/material2/issues/4985

[2017-06-06 14:06] fbsstar commented on #4980
http://plnkr.co/edit/uAWJWQwbpVdMEp2Ge6Gl?open=app%2Fapp.component.ts&p=preview

And I try the contentChild, not work either. But it the doc of input control, there is a method called focus exposed under MdInputDirective.

I do not know if it is by design or wrong usage?

[2017-06-06 14:23] willshowell commented on #4980
Try this
[code]

[2017-06-06 14:24] fxck commented on #4980
or

[code]

[2017-06-06 14:35] julianobrasil commented on #4985
@willshowell , I think you'd like to reference this other one: #4832

[2017-06-06 14:36] fbsstar commented on #4980
thanks a lot.

But first one might be used only when there is only one MdInputDirective in the parent, right?

@fxck  Could you explain me a little bit about the mechanism behind, and why my code does not work?

[2017-06-06 14:38] fxck commented on #4980
Have you read the documentation of ViewChild? https://angular.io/docs/ts/latest/api/core/index/ViewChild-decorator.html

[2017-06-06 14:44] willshowell commented on #4985
Oh lol thanks @julianobrasil

[2017-06-06 14:46] fbsstar commented on #4980
yes, but not quite understand. I will search the web and figure out what they means.

Thanks all your guys.

[2017-06-06 14:59] #4980 closed

[2017-06-06 15:09] julianobrasil commented on #4982
@macjohnny , I tested here against IE11 and Edge.

IE11: Although a little delay, and something that resemble and animation, the rectangle's position is switched form one side to another.

Edge: worked fine

[2017-06-06 15:13] macjohnny commented on #4982
@julianobrasil can you check what happens in https://fiddle.jshell.net/fu7mrqn0/8 ?
the first example does not work in my IE 11. and I suppose this is exactly the problem with this issue here and the one here: https://github.com/angular/angular/issues/17239

[2017-06-06 15:23] julianobrasil commented on #4982
@macjohnny , here is the report:

**IE11:** didn't work fine in just one case: "_translate with percentages, 2 keyframes_".
In my opinion: it's like the plunker example, where the so called "animation" seems more like a subtle change of position. In the fiddle's case, as the square goes back to its original position in the end, the animation seems to not happened at all.

For all the others cases

[2017-06-06 15:28] macjohnny commented on #4982
@julianobrasil thanks for having a look at it.
yes, in the jsfiddle example the square jumps back to its original position after the animation, which is no problem since no state after the animation was defined.
the problem still remains, however. if you compare the jsfiddle in chrome and in IE 11, the difference is very clear: in IE 11, the box does not move at all. also in the "translate with pe

[2017-06-06 15:30] julianobrasil commented on #4985
@naoufelus , take a look at this plunker: Take a look at this plunker, it's working: https://plnkr.co/edit/FlgGpjqyDlypas0VZJzo?p=preview

Basically it's a CustomAdapter class extending the Native one. It's configured to Brazilian portuguese, but you can change the language to french. I think it will work for you (because the date format is simillar - dd/MM/yyyy).

[2017-06-06 15:57] macjohnny commented on #4982
Here is a workaround: using `translate3d(0%,0,0)` instead of `translate3d(0,0,0)` apparently fixes the problem, see this example: https://plnkr.co/edit/1Ffduxu1N3PJKgHutRuw?p=preview

However, I think this should be fixed in web-animations-js, since translating from `translate3d(0,0,0)` to `translate3d(100px,0,0)` works, whereas translating from `translate3d(0,0,0)` to `translate3d(100%,0,0)` does

[2017-06-06 16:39] #4985 closed

[2017-06-06 19:20] ubarsaiyan opened #4989 "ScrollTop is not working when tab is changed from left to right in MdTabGroup"
Bug:
I wrote a code that saves the scroll position of the current tab body's div and when we return to that tab it sets the scroll position to the stored value. By logging in the console I find the values stored and retrieved to be correct. But:
When I select a tab that is to the right of the currently active tab, the scroll position can not be set. But the same code sets the scroll position of th

[2017-06-06 20:16] ffredsh opened #4990 "Blurry dialog text in IE11"
#### Bug, feature request, or proposal:
Big

#### What is the expected behavior?
The text not to be blurry

#### What is the current behavior?
Text is blurry in IE11

#### What are the steps to reproduce?

Providing a Plunker (or similar) is the *best* way to get the team to see your issue.
Run the following plunker in IE11 (modified dialog plunker):
https://plnkr.co/edit/OI6U7oefSYDja8NlgAau?p=pr

[2017-06-06 20:20] ffredsh commented on #4990
Probably caused by this: https://github.com/angular/material2/pull/3905

[2017-06-06 20:22] crisbeto commented on #4990
This should be fixed by https://github.com/angular/material2/commit/c8b1e200eea78fe28ce911bd58fd61a634829c52, which got merged yesterday. You can try installing the latest build from master:

[code]

[2017-06-06 20:23] alexw10 opened #4991 "menu up/down arrow does not navigate the overlay"
#### Bug, feature request, or proposal:
Menu does not properly navigate with up/down arrows, also enter key does not work since you can't navigate with the up/down.
This work's just fine in autocomplete cause it is handling the up/down/enter key but this must have just been missed in menu.

#### What is the expected behavior?
Should be able to open a menu and click down arrow to the first element,

[2017-06-06 20:36] jelbourn commented on #4976
I would call what your thinking of a "tutorial", separate from the existing set-up guide.

[2017-06-06 20:36] bergben commented on #3106
Is there any workaround for this for now?

[2017-06-06 20:51] eebergman commented on #2478
Using cli menu works just fine with `ng serve`, fails tests as

`Can't bind to 'mdMenuTriggerFor' since it isn't a known property of 'button’.`

**Fixed** by importing ‘MaterialModule’ to TestBed.configureTestingModule in failing spec.

<img width="545" alt="screen shot 2017-06-06 at 16 50 14" src="https://user-images.githubusercontent.com/16264513/26851238-4fa1e1b2-4ad8-11e7-8501-db45992619e1.png

[2017-06-06 20:51] jelbourn commented on #2310
This should have been fixed a while ago

[2017-06-06 20:59] jelbourn commented on #4429
This should be fixed now

[2017-06-06 20:59] #4429 closed

[2017-06-06 21:05] ffredsh commented on #4990
Hmm, still blurry for me, I have 6aaddbf release:
├─┬ @angular/material@2.0.0-beta.6-6aaddbf (git+https://github.com/angular/material2-builds.git#8ac8d0a4fd41f8cca     7bbd350986eed9b12c96f99)

[2017-06-06 21:11] crisbeto commented on #4990
The fix got merged right after https://github.com/angular/material2/commit/6aaddbf526634f4fe84cc3938c096c60510a380a.

[2017-06-06 21:15] #4871 closed

[2017-06-06 21:16] jelbourn commented on #120
Closing this, as chips have been around for a while and #4912 adds the last of the basic functionality. We can track further work in more specific issues.

[2017-06-06 21:16] #120 closed

[2017-06-06 21:18] jelbourn commented on #205
Closing this as this is now in master and will be part of the next release.

[2017-06-06 21:18] #205 closed

[2017-06-06 21:21] ffredsh commented on #4990
Cool, confirmed fixed after:
npm install https://github.com/angular/material2-builds.git#4ae2a62
which has https://github.com/angular/material2/commit/c8b1e200eea78fe28ce911bd58fd61a634829c52

[2017-06-06 21:25] #4990 closed

[2017-06-06 21:25] #1400 closed

[2017-06-06 21:28] jelbourn commented on #860
Status on this: we have no plans to add fab-speed-dial or fab-toolbar to the library at this time. Our reasoning is that these components are somewhat out of vogue now. They're also relatively high-complexity and less commonly used, so we think our resources are better spent on other work.

Keeping the issue open so that people can find the status.

[2017-06-06 21:30] #1780 closed

[2017-06-06 21:31] jelbourn commented on #1662
This is in master now and will be part of the next release.

[2017-06-06 21:31] #1662 closed

[2017-06-06 21:33] jelbourn commented on #1640
Closing this since it's not clear what the original problem was. Feel free to open a new issue if there is still some bug that needs to be resolved.

[2017-06-06 21:33] #1640 closed

[2017-06-06 21:34] jelbourn commented on #1625
The work I had in mind for this issue is done

[2017-06-06 21:34] #1625 closed

[2017-06-06 21:35] jelbourn commented on #1649
Closing this since I think this is the behavior of the browser and not anything related to Angular Material. Feel free to open a new issue if there is some bug in Angular Material that should be resolved.

[2017-06-06 21:35] #1649 closed

[2017-06-06 21:39] jelbourn commented on #2237
List items really aren't meant to contain tabs. This issue is probably obsolete now, but I'd recommend structuring your content differently.

[2017-06-06 21:39] #2237 closed

[2017-06-06 21:40] willshowell commented on #3106
The issue actually seems to be that clicking a button to focus the autocomplete triggers an `_outsideClickStream` event just after it has been opened, thus causing it to immediately close.

You can use a setTimeout to focus it after the outside click event fires.

http://plnkr.co/edit/cKYxnL9f8hV2Uklucd5d?p=preview

[2017-06-06 21:44] jelbourn commented on #2179
MdLine is intended to be used for text content only, not for more complex components.

[2017-06-06 21:44] #2179 closed

[2017-06-06 21:44] willshowell commented on #3106
Alternatively use `stopPropagation()` on the click event

http://plnkr.co/edit/m4W7zAGulSaxhPqqlpzp?p=preview

[2017-06-06 21:46] jelbourn commented on #2168
Tracking via #2124

[2017-06-06 21:46] #2168 closed

[2017-06-06 21:47] jelbourn commented on #2146
Need to have a boarder conversation about this behavior.

[2017-06-06 21:50] jelbourn commented on #2112
Closing this because, after looking at the component, I believe it is working as intended. The individual card elements are meant to be conveniences that capture common use-cases; if you want to do something more custom, any custom element/css can be used in the card.

[2017-06-06 21:50] #2112 closed

[2017-06-06 21:51] #1985 closed

[2017-06-06 21:52] jelbourn commented on #1813
I think this is resolved by the existence of pseudo-checkbox.

[2017-06-06 21:52] #1813 closed

[2017-06-06 21:55] jelbourn commented on #2926
Tracking #2691

[2017-06-06 21:55] #2926 closed

[2017-06-06 21:55] #2673 closed

[2017-06-06 21:56] jelbourn commented on #2640
We have some thoughts on drag-drop in general, but anything in that space is firmly post-beta.

[2017-06-06 21:57] jelbourn commented on #2620
Seems to be done via #3691

[2017-06-06 21:57] #2620 closed

[2017-06-06 22:01] jelbourn commented on #3064
Only certain components have a `color` property; these are components that specifically have some primary/accept/warn color associated with them in the spec. Sidenavs are just containers and don't have an associated color.

[2017-06-06 22:01] #3064 closed

[2017-06-06 22:05] jelbourn commented on #4222
Original issue is indeed a missing theme. You can include a theme css file the same you you include any other css file in your application.

[2017-06-06 22:05] #4222 closed

[2017-06-06 22:06] jelbourn commented on #4981
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-06-06 22:06] #4981 closed

[2017-06-06 22:07] jelbourn commented on #2520
Should be resolved now

[2017-06-06 22:07] #2520 closed

[2017-06-06 22:09] jelbourn commented on #3898
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-06-06 22:09] #3898 closed

[2017-06-06 22:11] jelbourn commented on #3636
Tracking this via #4270.

I'm [working on a solution](https://github.com/angular/material2/pull/4761)

[2017-06-06 22:11] #3636 closed

[2017-06-06 22:11] jelbourn commented on #4270
[Working on a solution to this](https://github.com/angular/material2/pull/4761)

[2017-06-06 22:12] jelbourn commented on #2508
Tracking via #2124

[2017-06-06 22:12] #2508 closed

[2017-06-06 22:13] jelbourn commented on #2519
@mmalerba does what we have now actually support different calendars, or are there assumptions about the Gregorian calendar baked in?

[2017-06-06 22:14] jelbourn commented on #2541
@mmalerba did your latest input change touch on the style of icons in prefix/suffix?

[2017-06-06 22:14] jelbourn commented on #2416
See #998

[2017-06-06 22:14] #2416 closed

[2017-06-06 22:15] jelbourn commented on #2469
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via Plunker.

[2017-06-06 22:15] #2469 closed

[2017-06-06 22:16] jelbourn commented on #2887
Should be resolved via #4788

[2017-06-06 22:16] #2887 closed

[2017-06-06 22:17] jelbourn commented on #2858
This is not something we plan on implementing.

[2017-06-06 22:17] #2858 closed

[2017-06-06 22:19] jelbourn commented on #3073
Tracking via #2124

[2017-06-06 22:19] #3073 closed

[2017-06-06 22:20] jelbourn commented on #3441
[md-icon is set to 24x24](https://github.com/angular/material2/blob/master/src/lib/icon/icon.scss#L5)

[2017-06-06 22:20] #3441 closed

[2017-06-06 22:27] jelbourn commented on #3850
I think this is the same as #2236

[2017-06-06 22:27] #3850 closed

[2017-06-06 22:32] jelbourn commented on #3731
Closing since I think this is obsolete. Feel free to open a new issue if there is still a problem

[2017-06-06 22:32] #3731 closed

[2017-06-06 22:32] buu700 commented on #860
When you say had fab speed dial and toolbar are out of vogue, why and to what extent do you think this is the case? (I know that my application @cyph, Google Inbox, and LastPass all use speed dials, but beyond that I don't have a lot of experience using Material apps.) Within Material Design as a whole (not just Angular Material), should they be considered deprecated / on track for deprecation?

A

[2017-06-06 22:32] jelbourn commented on #3533
See #4093

[2017-06-06 22:32] #3533 closed

[2017-06-06 22:35] jelbourn commented on #3819
I don't think this has to do with Angular Material; the grid-list doesn't do anything with animations and, as far as `@angular/animations` is concerned, it's just like any other div.

[2017-06-06 22:35] #3819 closed

[2017-06-06 22:35] jelbourn commented on #3427
Tracking via #4673

[2017-06-06 22:35] #3427 closed

[2017-06-06 22:37] jelbourn commented on #860
We have no plans on adding or accepting one in Angular Material at this time, but are always open to changing our mind based on feedback.

We encourage folks in the community to also publish / share components that don't live directly in Angular Material.

[2017-06-06 22:41] jelbourn commented on #4319
@thisisgit really don't see what you're referring to. Nothing in `MdGridListModule` references or includes `md-list` or the other way around.

Feel free to open a new issue if you have more specifics.

[2017-06-06 22:41] #4319 closed

[2017-06-06 22:43] jelbourn commented on #4521
Should be resolved in the latest release

[2017-06-06 22:43] #4521 closed

[2017-06-06 22:50] #4984 closed

[2017-06-06 22:52] andrewseguin commented on #4989
For any help using Material or Angular, please refer to our great community, such as Gitter or StackOverflow. If you find an issue with Material, please feel free to open an issue but please follow the issue template which help us reproduce and resolve with a fix.

[2017-06-06 22:52] #4989 closed

[2017-06-06 23:48] kara commented on #4991
Some background: We originally designed it so that the first menu item will focus when the menu opens, but only if you navigate to the menu with the keyboard.  So if you tab to the menu and hit enter to open it, you should see the menu items switch focus as you navigate with the arrow keys. However, if you use the mouse to open the menu, none of the menu items should be initially highlighted. We i

[2017-06-06 23:49] aateeque commented on #860
@jelbourn can you please elaborate on "somewhat out of vogue"? See fab-speed-dial used in a number of commonly used material apps

[2017-06-07 00:17] jelbourn commented on #2763
this is a feature that should probably live in `@angular/forms`

[2017-06-07 00:20] jelbourn commented on #2961
Tracked via #1429

[2017-06-07 00:20] #2961 closed

[2017-06-07 00:21] jelbourn commented on #2949
See #4444

[2017-06-07 00:21] #2949 closed

[2017-06-07 00:36] alexw10 commented on #4991
Ah, I see what you are saying Kara what you described does indeed work.
I definetly agree this is very confusing especially since other components such as auto complete work right away by just using the up/down arrow keys for example.

Are you okay with me giving this a go?
I would pretty much just look at how autocomplete does it and apply the same type of thing to menu.

[2017-06-07 00:54] jelbourn commented on #4859
We should do `clearTimeout` for that duration timeout if the snackbar is manually dismissed before the duration completes.

[2017-06-07 00:57] jelbourn commented on #4752
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via Plunker.

[2017-06-07 00:57] #4752 closed

[2017-06-07 00:58] jelbourn commented on #4463
Closing this to track via #4597 (which we intend to do sometime after beta ends)

[2017-06-07 00:58] #4463 closed

[2017-06-07 01:04] davidmontgom opened #4992 "Sidenav is not working!!!!!! Look at your site and the control example"
Really?   Look at your site.  My site is now messed up.  Did you not unit test before you pushed to production? When will it be fixed.  Did you abandon the control?  if so remove and provide a message saying no longer supported.

[2017-06-07 01:06] jelbourn commented on #4879
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via Plunker.

[2017-06-07 01:06] #4879 closed

[2017-06-07 01:08] xuanshenbo commented on #4992
Duplicate and should be fixed
#4963

That is not very friendly.

[2017-06-07 01:09] jelbourn commented on #4858
Closing this issue as it does not follow the issue template. Please file a new issue that follows the template, which gives the team the information needed to investigate.

[2017-06-07 01:09] #4858 closed

[2017-06-07 01:11] jelbourn commented on #4992
@davidmontgom Please be aware of [Angular's Code of Conduct](https://github.com/angular/code-of-conduct/blob/master/CODE_OF_CONDUCT.md).

[2017-06-07 01:11] #4992 closed

[2017-06-07 01:15] KyleMcNutt opened #4993 "Md-Select cannot set default options when using a Multiple Select"
#### Bug, feature request, or proposal:
Feature Request

#### What is the expected behavior?
Ideally when the array that you pass into `ngModel` on `md-select` is used in order to select all of the `md-option`'s that match.

#### What is the current behavior?
Currently no options are selected from the array at all.

#### What are the steps to reproduce?
Set `multiple` on your `md-select` and then

[2017-06-07 02:33] lobo-tuerto commented on #4926
I think this is common enough, I have had to create some custom checkbox-list inputs before.

@crisbeto The difference with the radio group is that you can't have more than 1 selected item, this covers it.

[2017-06-07 02:56] lobo-tuerto opened #4994 "md-checkbox don't honor the [value] binding"
#### Bug, feature request, or proposal:
md-checkbox don't honor the `[value]` binding.

#### What is the expected behavior?
https://material.angular.io/components/component/checkbox mentions an `@Input value` property that can be set as the value for this input.

#### What is the current behavior?
It only uses boolean values, it does not use whatever the user specifies in `[value]`.

#### What are

[2017-06-07 03:27] gseabrook commented on #4926
I'd agree this is a pretty common use case, particularly once the data table is ready, as selecting items from a table happens all the time. Its also on the demo page for Material 1 under the syncing section (https://material.angularjs.org/latest/demo/checkbox)

[2017-06-07 04:46] svi3c commented on #4859
Good point, @jelbourn.

That complicates the timeout handling:
We would have to remember the `timeoutHandle`. Since the ref can be directly dismissed, we would have to create either a new subject which fires on `exitStart` or the ref has to know about that handle.
In the latter case we cannot pass the timeout through the constructor, since we start that timeout `afterOpened()`, so we have to intro

[2017-06-07 05:00] macjohnny commented on #4994
@lobo-tuerto you can get the value in the `(change)` event, ie. `(change)="$event.source.value"`
See this http://plnkr.co/edit/uEcocFj4q7EUUxebjQff?p=preview

[2017-06-07 06:16] lobo-tuerto commented on #4994
@macjohnny Thanks for the useful example.

So do you think it's currently behaving as expected or should it be different?

[2017-06-07 06:22] xtianus79 commented on #1813
@jelbourn what is pseudo-checkbox

[2017-06-07 06:23] macjohnny commented on #4994
@lobo-tuerto I think this is currently behaving as expected. It is the behavior of ngModel, and not related to material / md-checkbox, since the input binding for the value exists.

[2017-06-07 06:59] yaronmil opened #4995 "dynamic right click context menu"
#### Bug, feature request, or proposal:
i think it is a  feature request since i couldnt find any documentation about it.

#### What is the expected behavior?
right clicking dom elment will trigger a dynamic menu.
this menu will be positioned on mouse position.

#### What is the current behavior?
current  behavior is md-menu that needs a pre defined triggering elment like a button.
and cant be tri

[2017-06-07 07:41] JuliaAlaeva opened #4996 "Angular2 material mddialog"
I have a main component width class code:
@Component({
  selector: 'app-header',
  template: `<md-toolbar class="header" color="primary">
      <span class="fill-remaining-space"></span>
      <span class="button"
        (click)="openWindow()">
          Upload file
      </span>
  </md-toolbar>`
}
export class AppHeaderComponent  {

  dialogRef: MdDialogRef<UploadPageComponent>;

  constructor(p

[2017-06-07 07:47] castamir commented on #4944
doc is not fixed so this issue should stay opened

[2017-06-07 07:56] harshithkashyap opened #4997 "Progressbar - Provide option to set max value of progress"
#### Bug, feature request, or proposal:
Feature Request/Enhancement

#### What is the expected behavior?
The progress bar component should allow the user to set a max value.

#### What is the current behavior?
The current progress bar takes a hard coded max value of 100 and proceeds from 0 - 100. When used with a timer with number of seconds as the value input, the progress completes at 100s.

###

[2017-06-07 08:55] michastreppel commented on #4499
The tooltip component starts listening for mouseenter and mouseleave events on construction. When hammerjs is present there will be a reference between the tooltip and hammerjs because of this (see screenshots of the heap snapshots). Due to this reference the tooltip cannot be garbage collected after the destruction of the component and memory will be leaked.

![screen shot 2017-06-07 at 10 42 20]

[2017-06-07 08:59] gseabrook opened #4998 "Error upgrading to anything above beta.3 - this._renderer.removeClass is not a function"
After upgrading from beta.3 to any of the newer versions, my application crashes with the following error

ERROR Error: Uncaught (in promise): TypeError: this._renderer.removeClass is not a function
TypeError: this._renderer.removeClass is not a function
    at MdListItem.set [as _hasAvatar] (material.es5.js:11707)
    at checkAndUpdateQuery (core.es5.js:11487)
    at execQueriesAction (core.es5.j

[2017-06-07 10:07] MaximeAnsquer commented on #1718
Sorry but I'm not sure I understand, is there currently a way to change the height of the first toolbar-row ? (I want a toolbar which is smaller than 64px).

Thank you very much.

[2017-06-07 11:17] julianobrasil commented on #4994
Maybe the confusion comes from the fact that the component has two different conteptual things: it's state (true/false) and it's value. Apparently, what's passed to ngModel is it's state.

Take a look at this issue: #4926. Someone is asking to implement a kind of a MdCheckboxGroup. If it gets implemented, it'll possibly work like [MdRadioGroup](https://material.angular.io/components/component/radi

[2017-06-07 12:23] lucaslopez commented on #1514
You can actually achieve something similar by including a sidebar inside another sidebar:
`        <md-sidenav-container fxFlex="1 1 100%;">

          <md-sidenav mode="side" #menuLeft (open)="closeStartButton.focus()">
            Start Sidenav.
            <br>
            <button md-button #closeStartButton (click)="menuLeft.close()">Close</button>

            <md-sidenav mode="side" #menuLef

[2017-06-07 12:30] TomDemulierChevret opened #4999 "Tooltip does not display on IE11 with NoopAnimationsModule"
#### Bug, feature request, or proposal:
Bug.

#### What is the expected behavior?
Tooltip should display on IE11 even when NoopAnimationsModule is used instead of BrowserAnimationModule.

#### What is the current behavior?
Tooltip isn't displayed on IE11 even when NoopAnimationsModule is used instead of BrowserAnimationsModule.

#### What are the steps to reproduce?

Replace BrowserAnimationsModul

[2017-06-07 13:18] crisbeto commented on #4999
Can you test it out with the latest master build? My hunch is that #4937 might've fixed this. You can run this to get the latest build:

[code]

[2017-06-07 13:22] PapyElGringo opened #5001 "Alternative theme don't override the default one"
Hello does any of you have an idea why my alternative theme are overrided by the default one?
![capture d ecran 2017-06-07 a 15 19 37](https://user-images.githubusercontent.com/3754825/26880560-12b26fca-4b95-11e7-9dc4-7748e75cfb5d.png)

[2017-06-07 13:39] AndreyJS commented on #4961
With mdDialogConfig the same problem

[2017-06-07 13:55] sashanana opened #5002 ".cdk-overlay-container prevents scrolling of dialog with long content"
#### Bug, feature request, or proposal:
Not sure if it's a bug or just a misunderstanding of the use case

#### What is the expected behavior?
Content of dialog is scroll able or enable window scroll for long content.

#### What is the current behavior?
.cdk-overlay-container has pointer-events none that block scroll event and the .cdk-overlay-container remain in <body> after dialog closed.

####

[2017-06-07 13:59] willshowell commented on #4997
Why not `[value]="timer.timeCount / 3"`? That said, the docs do specify a whole number, and I don't know why:

[2017-06-07 14:04] ScottRFrost commented on #581
The addition of the `P2: required` label is exciting!  Now that this component is officially high priority, I'm hopeful that we'll see at least an initial version :soon: in the next beta or two.

[2017-06-07 14:10] TomDemulierChevret commented on #4999
The current master build does indeed fix the issue for IE11.

[2017-06-07 14:14] BHoma91 opened #5003 "panelClass Missing from MdDialogConfig"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
To be able to add panelClass: "customModal" to the MdDialogConfig as specified in the Documentation.

![image](https://user-images.githubusercontent.com/17150399/26882857-945eaaec-4b69-11e7-823d-a58c1ba45a19.png)

#### What is the current behavior?
Given Error Message: Object literal may only specify known properties,

[2017-06-07 14:14] willshowell commented on #4998
Looks similar to https://github.com/angular/material2/issues/4590 and maybe https://github.com/angular/flex-layout/issues/270

[2017-06-07 14:15] crisbeto commented on #4999
Cool, thanks for checking. I'll close the issue as fixed in that case.

[2017-06-07 14:15] #4999 closed

[2017-06-07 14:16] willshowell commented on #5003
See https://github.com/angular/material2/issues/4961. `panelClass` exists on master but the docs were accidentally published prematurely

[2017-06-07 14:18] BHoma91 commented on #5003
Ah, didn't see that. Thanks

[2017-06-07 14:18] #5003 closed

[2017-06-07 14:19] willshowell commented on #4996
Would you mind reproducing in a plunker? https://goo.gl/DlHd6U

[2017-06-07 14:23] axtho opened #5004 "input element background stays white on Safari"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
The input element should not use the default background colour

#### What is the current behavior?
On Safari (10.1.1 (12603.2.4)) the input background remains default

#### What are the steps to reproduce?
see image
<img width="776" alt="bildschirmfoto 2017-06-07 um 16 12 14" src="https://user-images.githubusercontent

[2017-06-07 14:26] ryanpm40 commented on #5002
@sashanana Try wrapping the content of the dialog in `<md-dialog-content></md-dialog-content>` tags :)

[2017-06-07 14:43] ciesielskico commented on #4997
Just convert 300s to percentage

[2017-06-07 14:57] e11en opened #5005 "Can't set mode in md-progress-bar directly"
#### Bug, feature request, or proposal:
Can't set mode in md-progress-bar directly other then determinate

#### What is the expected behavior?
That the correct mode is shown

#### What is the current behavior?
The determinate mode is shown

#### What are the steps to reproduce?
https://plnkr.co/edit/uRgBteZxcGVkJLKvnYTW?p=preview

#### What is the use-case or motivation for changing an existing be

[2017-06-07 14:59] harshithkashyap commented on #4997
@willshowell @ciesielskico Thanks. Using % value will work. I was trying to avoid computing it every second. Closing this.

[2017-06-07 14:59] #4997 closed

[2017-06-07 15:03] e11en commented on #5005
Nevermind I forgot to remove the brackets

[2017-06-07 15:03] #5005 closed

[2017-06-07 15:06] jelbourn commented on #4543
Dupe of #4406

[2017-06-07 15:06] #4543 closed

[2017-06-07 15:18] jelbourn commented on #4859
I would just move the setTimeout call into the snackbar ref in a function like `dismissAfter(timeout)`, then you can keep track of the timeout id in the ref and clear it when necessary.

[2017-06-07 15:21] the-ult opened #5006 "[md-card]: div.mat-card-header-text should have a width of 100% or something similar"
#### Bug, feature request, or proposal:
bug/proposal

#### What is the expected behavior?
I would expect the the `md-card-title` to have a width the same as the card-width

#### What is the current behavior?
I would like to be able to align elements within the `md-card-title` . In this particular case a Title on the left and a button (or a date or something similar on the right side)

e.g.
[code]

[2017-06-07 15:25] another-guy commented on #205
@jelbourn that's really good news!

Does @angular/material2 has an official release plan with any kind of ETAs? I didn't see `.beta7` anywhere in the GitHub projects nor in Milestones sections.

[2017-06-07 15:53] jelbourn commented on #5006
See #2112

[2017-06-07 15:53] #5006 closed

[2017-06-07 15:56] jelbourn commented on #5002
It sounds like you're looking for `md-dialog-content`
https://material.angular.io/components/component/dialog

[2017-06-07 15:56] #5002 closed

[2017-06-07 15:57] jelbourn commented on #5001
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-06-07 15:57] #5001 closed

[2017-06-07 15:58] jelbourn commented on #4996
Please keep GitHub issues for bug reports / feature requests. Better avenues for troubleshooting / questions are stack overflow, gitter, mailing list, etc.

[2017-06-07 15:58] #4996 closed

[2017-06-07 16:00] jelbourn opened #5007 "Right-click context menu"
This would effectively be md-menu but triggered by right-click instead of a specific element on the page.

Would need some investigation for a11y.

[2017-06-07 16:00] jelbourn commented on #4995
Tracking via #5007 since this request comes up from time to time.

[2017-06-07 16:00] #4995 closed

[2017-06-07 16:04] jelbourn commented on #5004
We haven't been able to reproduce this issue. Feel free to open a new issue if you are able to provide a reproduction via Plunker.

[2017-06-07 16:04] #5004 closed

[2017-06-07 16:16] kara commented on #4991
Sure, give it a go. Just keep in mind that the actual implementation will need to be distinct from the autocomplete because they have different accessibility needs. While the focus should never leave the input in an autocomplete (it just *appears* to focus the list items and uses active-descendant instead), menu items will need to get real focus.

[2017-06-07 16:24] julianobrasil commented on #4976
In fact, the basic usage examples are good enough, in my opinion, but for who is already familiar to Material programming style. But it would be better to have a step-by-step for who is learning the framework (maybe a tour aiming to build up a basic form from scratch with some basic components).

By the way the docs pages already have an EXAMPLES tab for every component. Add more examples there.

[2017-06-07 17:16] crisbeto commented on #4993
I looked into it @KyleMcNutt. Everything works as expected. Your Plunkr doesn't work, because the items are compared by reference, not by value. Since the value inside the `selectedItems` isn't a part of the `items`, it won't be selected. [Here's a working version of your Plunkr.](http://plnkr.co/edit/gb9ziko0pGDB9ppSCWxN?p=preview) There are a couple of ways to work around it:
1. Ensure that the

[2017-06-07 17:16] #4993 closed

[2017-06-07 17:46] KyleMcNutt commented on #4993
@crisbeto Sure enough, thanks for the help! This behavior should probably be documented somewhere as to avoid this confusion in the future?

[2017-06-07 18:01] axtho opened #5008 "Safari and input element for autocomplete"
#### Bug, feature request, or proposal:
Bug

#### What is the expected behavior?
input should use background color

#### What is the current behavior?
default input color is shown

#### What are the steps to reproduce?

http://plnkr.co/edit/pjWowX60V0nRqoKlGoS9

Will produce this:
<img width="1164" alt="bildschirmfoto 2017-06-07 um 19 58 33" src="https://user-images.githubusercontent.com/11181579/

[2017-06-07 18:02] the-ult commented on #5006
Setting the width in a global .css worked. Doesn't seem as the best solution, but thanks.

keep up the good work.

[2017-06-07 18:13] ashishdoneriya commented on #474
Nice idea @jofftiquez . Thanks

[2017-06-07 18:33] willshowell commented on #5008
Specifically, it is the `type="search"` attribute on the input causing that. If you want a workaround, try this
[code]

[2017-06-07 18:36] axtho commented on #5008
@willshowell you're right. It is that. Is there a specific reason why type should be set?

[2017-06-07 18:47] jelbourn commented on #4967
@andrewseguin can your reproduce this?

[2017-06-07 18:57] jelbourn commented on #4969
@tinayuangao the icon alignment is a minor issue; the example styles are more important

[2017-06-07 20:30] willshowell commented on #4976
Though I haven't worked through it, the starter repo/tutorial that @EladBezalel and @DevVersion put together looks like a really good introduction

[quickstart repo](https://github.com/EladBezalel/material2-start)

[ng-conf workshop](https://www.youtube.com/watch?v=kyctjcy0CdA)

[2017-06-07 20:42] jelbourn commented on #4998
Looks like the same problem as #4590

[2017-06-07 20:42] #4998 closed

[2017-06-07 20:45] jelbourn commented on #4590
@kara and I have seen this problem elsewhere. We found it usually happens when combining flex-layout directives and material directives on the same element, but haven't been able to track down the exact cause. We haven't been able to create a reduced test case for reproduction, but our best guess is that there's some bug in Angular itself that's injecting the wrong `Renderer` in certain circumstan

[2017-06-07 20:50] jelbourn commented on #4889
See #4358 and the [documentation on internationalization](https://material.angular.io/components/component/datepicker).

[2017-06-07 20:50] #4889 closed

[2017-06-07 20:53] jelbourn commented on #4872
This is working as intended. Only the active tab is rendered.

[2017-06-07 20:53] #4872 closed

[2017-06-07 20:54] jelbourn commented on #4674
This is tracked via #2124

[2017-06-07 20:54] #4674 closed

[2017-06-07 21:01] jelbourn commented on #4691
While the tooltip itself has `pointer-events: none`, the parent overlay panel has `pointer-events: auto` and this is blocking hover styles. The overlay panel should be given `pointer-events: none` for tooltips specifically.